Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs

issues/44500
  docs/core/compatibility/10.0.md
  docs/core/compatibility/cryptography/10.0/rfc2898derivebytes-constructors.md
  docs/core/compatibility/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

Fix for 44500
  docs/core/compatibility/cryptography/10.0/rfc2898derivebytes-constructors.md
Owners: @camsoper, @gewarren, @dotnet/docs

tweaks to 44500, issue 44403
  docs/core/compatibility/10.0.md
  docs/core/compatibility/cryptography/10.0/rfc2898derivebytes-constructors.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/windows-forms/10.0/treeview-text-location.md
  docs/fundamentals/syslib-diagnostics/obsoletions-overview.md
  docs/fundamentals/syslib-diagnostics/syslib0060.md
Owners: @camsoper, @gewarren, @dotnet/docs

linting
  docs/core/compatibility/cryptography/10.0/rfc2898derivebytes-constructors.md
  docs/core/compatibility/windows-forms/10.0/treeview-text-location.md
Owners: @camsoper, @gewarren, @dotnet/docs

More 44500
  docs/core/compatibility/core-libraries/10.0/obsolete-apis.md
  docs/navigate/tools-diagnostics/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

xref
  docs/fundamentals/syslib-diagnostics/syslib0060.md
Owners: @dotnet/docs

prevent overlocalization of tokens
  docs/ai/conceptual/understanding-tokens.md
Owners: @dotnet/docs

AI docs touchups
  docs/ai/ai-extensions.md
  docs/ai/azure-ai-services-authentication.md
  docs/ai/dotnet-ai-ecosystem.md
  docs/ai/get-started-app-chat-scaling-with-azure-container-apps.md
  docs/ai/get-started-app-chat-template.md
  docs/ai/get-started/dotnet-ai-overview.md
  docs/ai/how-to/work-with-local-models.md
  docs/ai/includes/vector-databases.md
  docs/ai/index.yml
  docs/ai/quickstarts/get-started-openai.md
  docs/ai/quickstarts/includes/prerequisites-azure-openai.md
  docs/ai/quickstarts/quickstart-ai-chat-with-data.md
  docs/ai/quickstarts/quickstart-azure-openai-tool.md
  docs/ai/quickstarts/quickstart-local-ai.md
  docs/ai/quickstarts/quickstart-openai-summarize-text.md
  docs/ai/tutorials/llm-eval.md
  docs/ai/tutorials/tutorial-ai-vector-search.md
Owners: @dotnet/docs

add prefix
  docs/ai/ai-extensions.md
  docs/ai/quickstarts/get-started-openai.md
  docs/ai/quickstarts/quickstart-ai-chat-with-data.md
  docs/ai/quickstarts/quickstart-azure-openai-tool.md
  docs/ai/quickstarts/quickstart-local-ai.md
  docs/ai/quickstarts/quickstart-openai-summarize-text.md
Owners: @dotnet/docs

issue 44282
  docs/core/compatibility/10.0.md
  docs/core/compatibility/core-libraries/10.0/activity-sampling.md
  docs/core/compatibility/toc.yml
  docs/fundamentals/syslib-diagnostics/syslib0060.md
Owners: @camsoper, @gewarren, @dotnet/docs

xref fix
  docs/core/compatibility/core-libraries/10.0/activity-sampling.md
Owners: @camsoper, @gewarren, @dotnet/docs

issue 43952
  docs/core/compatibility/10.0.md
  docs/core/compatibility/core-libraries/10.0/csharp-overload-resolution.md
  docs/core/compatibility/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

fix linting
  docs/core/compatibility/10.0.md
  docs/core/compatibility/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

issue 43885
  docs/core/compatibility/10.0.md
  docs/core/compatibility/core-libraries/10.0/ldap-directorycontrol-parsing.md
  docs/core/compatibility/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

issue 43828
  docs/core/compatibility/10.0.md
  docs/core/compatibility/globalization/10.0/version-override.md
  docs/core/compatibility/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

fix xref
  docs/core/compatibility/core-libraries/10.0/ldap-directorycontrol-parsing.md
Owners: @camsoper, @gewarren, @dotnet/docs

issue 43303
  docs/core/compatibility/10.0.md
  docs/core/compatibility/core-libraries/10.0/generic-math.md
  docs/core/compatibility/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

issue 43284
  docs/core/compatibility/10.0.md
  docs/core/compatibility/cryptography/10.0/x500distinguishedname-validation.md
  docs/core/compatibility/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

lint
  docs/core/compatibility/cryptography/10.0/x500distinguishedname-validation.md
Owners: @camsoper, @gewarren, @dotnet/docs

43156
  docs/core/compatibility/10.0.md
  docs/core/compatibility/core-libraries/10.0/maccatalyst-version-normalization.md
  docs/core/compatibility/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

issue 42558
  docs/core/compatibility/10.0.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/windows-forms/10.0/insertadjacentelement-orientation.md
Owners: @camsoper, @gewarren, @dotnet/docs

issue 42027
  docs/core/compatibility/core-libraries/10.0/obsolete-apis.md
  docs/fundamentals/syslib-diagnostics/syslib0058.md
  docs/navigate/tools-diagnostics/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

build fix
  docs/fundamentals/syslib-diagnostics/syslib0058.md
Owners: @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Owners: @dotnet/docs

Add instructions how to debug NativeAOT exceptions on the ARM64
  docs/core/deploying/native-aot/diagnostics.md
Owners: @adegeo, @dotnet/docs

Document MSTestAnalysisMode property
  docs/core/testing/mstest-analyzers/overview.md
Owners: @IEvangelist, @dotnet/docs

remove distributed tracing TIP
  docs/fundamentals/networking/telemetry/overview.md
Owners: @dotnet/docs

Document RetryBaseAttribute/RetryAttribute introduced in MSTest 3.8
  docs/core/testing/unit-testing-mstest-writing-tests-attributes.md
Owners: @IEvangelist, @dotnet/docs

WebSocket Keep-Alive (#44611)
  docs/fundamentals/networking/websockets.md
Owners: @dotnet/docs

Update docs/core/testing/unit-testing-platform-integration-dotnet-test.md
  docs/core/testing/unit-testing-platform-integration-dotnet-test.md
Owners: @IEvangelist, @dotnet/docs

Apply suggestions from code review
  docs/core/testing/unit-testing-platform-vs-vstest.md
Owners: @IEvangelist, @dotnet/docs

Give more context about dotnet test with mtp (#44618)
  docs/core/testing/unit-testing-platform-integration-dotnet-test.md
Owners: @IEvangelist, @dotnet/docs

Apply suggestions from code review
  docs/csharp/programming-guide/statements-expressions-operators/how-to-test-for-reference-equality-identity.md
Owners: @BillWagner, @dotnet/docs

Add first level info for migration off of VSTest (#44620)
  docs/core/testing/unit-testing-platform-vs-vstest.md
Owners: @IEvangelist, @dotnet/docs

Apply suggestions from code review
  docs/csharp/programming-guide/statements-expressions-operators/how-to-test-for-reference-equality-identity.md
Owners: @BillWagner, @dotnet/docs

Clarify ReferenceEquals Behavior for Value Types in Docs (#44624)
  docs/csharp/programming-guide/statements-expressions-operators/how-to-test-for-reference-equality-identity.md
  docs/csharp/programming-guide/statements-expressions-operators/snippets/how-to-test-for-reference-equality-identity/Program.cs
Owners: @BillWagner, @dotnet/docs

Update package index with latest published versions (#44630)
  docs/azure/includes/dotnet-all.md
Owners: @dotnet/docs

Make doc focus on RetryAttribute with RetryBaseAttribute mentioned as a note
  docs/core/testing/unit-testing-mstest-writing-tests-attributes.md
Owners: @IEvangelist, @dotnet/docs

Add VB new features
  docs/visual-basic/programming-guide/language-features/data-types/generic-types.md
  docs/visual-basic/programming-guide/language-features/procedures/overload-resolution.md
Owners: @KathleenDollard, @BillWagner, @dotnet/docs

Address review comments
  docs/core/testing/mstest-analyzers/overview.md
Owners: @IEvangelist, @dotnet/docs
