Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

Update docs/core/compatibility/sdk/5.0/override-windows-sdk-package-version.md
  docs/core/compatibility/sdk/5.0/override-windows-sdk-package-version.md
Owners: @camsoper, @gewarren, @dotnet/docs

Update override-windows-sdk-package-version.md (#44445)
  docs/core/compatibility/sdk/5.0/override-windows-sdk-package-version.md
Owners: @camsoper, @gewarren, @dotnet/docs

Update dependency-injection-basics.md (#44486)
  docs/core/extensions/dependency-injection-basics.md
Owners: @IEvangelist, @dotnet/docs

Add link to .NET Aspire API ref (#44488)
  docs/index.yml
Owners: @dotnet/docs

Update package index with latest published versions (#44487)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Update xrefs
  docs/core/resilience/http-resilience.md
Owners: @dotnet/docs

[Resilient HTTP apps] Add a paragraph describing how to disable retries for some HTTP methods (#43630)
  docs/core/resilience/http-resilience.md
  docs/core/resilience/snippets/http-resilience/Program.RetryOptions.cs
Owners: @dotnet/docs

Update ide0033.md
  docs/fundamentals/code-analysis/style-rules/ide0033.md
Owners: @gewarren, @dotnet/docs

Update quick filters
  api/index.md
Owners: @dotnet/docs

Grafana demo
  docs/core/diagnostics/media/grafana-http11-connections.png
  docs/core/diagnostics/snippets/OTel-Prometheus-Grafana-Jaeger/csharp/Program.cs
  docs/fundamentals/networking/telemetry/media/grafana-connections.png
  docs/fundamentals/networking/telemetry/metrics.md
  docs/fundamentals/networking/telemetry/snippets/metrics/Program.cs
Owners: @tommcdon, @dotnet/docs

Update ide0033.md (#44492)
  docs/fundamentals/code-analysis/style-rules/ide0033.md
Owners: @gewarren, @dotnet/docs

Using default namespace with System.Xml.Linq.XAttribute explained.
  docs/standard/linq/create-document-namespaces-csharp.md
Owners: @dotnet/docs

Update dotnetcli domain (#44272)
  docs/core/install/includes/verify-download-macos-linux.md
  docs/core/install/includes/verify-download-windows.md
Owners: @adegeo, @dotnet/docs

fix up missing periods
  docs/architecture/blazor-for-web-forms-developers/data.md
  docs/architecture/maui/unit-testing.md
  docs/architecture/microservices/container-docker-introduction/docker-defined.md
  docs/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests.md
  docs/framework/data/adonet/dataset-datatable-dataview/security-guidance.md
  docs/framework/data/adonet/ef/language-reference/entity-sql-language.md
  docs/framework/ui-automation/implementing-the-ui-automation-selectionitem-control-pattern.md
  docs/framework/ui-automation/using-ui-automation-for-automated-testing.md
  docs/framework/unmanaged-api/debugging/cordebugstatechange-enumeration.md
  docs/framework/unmanaged-api/debugging/debugging-enumerations.md
  docs/framework/wcf/diagnostics/security-concerns-for-message-logging.md
  docs/framework/wcf/diagnostics/tracing/security-concerns-and-useful-tips-for-tracing.md
  docs/framework/wcf/feature-details/hosting-in-windows-process-activation-service.md
  docs/framework/wcf/feature-details/how-to-configure-idle-behavior-with-workflowservicehost.md
  docs/framework/wcf/feature-details/how-to-configure-persistence-with-workflowservicehost.md
  docs/framework/wcf/feature-details/how-to-host-a-wcf-service-in-iis.md
  docs/framework/wcf/feature-details/wcf-web-http-programming-model-overview.md
  docs/framework/wcf/samples/message-security-certificate.md
  docs/framework/wcf/samples/message-security-over-message-queuing.md
  docs/framework/wcf/samples/ws-transaction-flow.md
  docs/framework/windows-workflow-foundation/whats-new.md
  docs/machine-learning/deep-learning-overview.md
  docs/machine-learning/how-to-guides/how-to-use-the-automl-api.md
  docs/machine-learning/how-to-guides/serve-model-web-api-ml-net.md
  docs/machine-learning/resources/glossary.md
  docs/machine-learning/resources/improve-machine-learning-model-ml-net.md
  docs/visual-basic/programming-guide/com-interop/troubleshooting-interoperability.md
Owners: @danroth27, @IEvangelist, @dotnet/docs, @nishanil, @adegeo, @HongGit, @gewarren, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @KathleenDollard, @BillWagner

add 'return' keyword in sample code
  docs/orleans/grains/grain-identity.md
Owners: @IEvangelist, @dotnet/docs

Update quick filters (#44498)
  api/index.md
Owners: @dotnet/docs

fix up missing periods (#44505)
  docs/architecture/blazor-for-web-forms-developers/data.md
  docs/architecture/maui/unit-testing.md
  docs/architecture/microservices/container-docker-introduction/docker-defined.md
  docs/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests.md
  docs/framework/data/adonet/dataset-datatable-dataview/security-guidance.md
  docs/framework/data/adonet/ef/language-reference/entity-sql-language.md
  docs/framework/ui-automation/implementing-the-ui-automation-selectionitem-control-pattern.md
  docs/framework/ui-automation/using-ui-automation-for-automated-testing.md
  docs/framework/unmanaged-api/debugging/cordebugstatechange-enumeration.md
  docs/framework/unmanaged-api/debugging/debugging-enumerations.md
  docs/framework/wcf/diagnostics/security-concerns-for-message-logging.md
  docs/framework/wcf/diagnostics/tracing/security-concerns-and-useful-tips-for-tracing.md
  docs/framework/wcf/feature-details/hosting-in-windows-process-activation-service.md
  docs/framework/wcf/feature-details/how-to-configure-idle-behavior-with-workflowservicehost.md
  docs/framework/wcf/feature-details/how-to-configure-persistence-with-workflowservicehost.md
  docs/framework/wcf/feature-details/how-to-host-a-wcf-service-in-iis.md
  docs/framework/wcf/feature-details/wcf-web-http-programming-model-overview.md
  docs/framework/wcf/samples/message-security-certificate.md
  docs/framework/wcf/samples/message-security-over-message-queuing.md
  docs/framework/wcf/samples/ws-transaction-flow.md
  docs/framework/windows-workflow-foundation/whats-new.md
  docs/machine-learning/deep-learning-overview.md
  docs/machine-learning/how-to-guides/how-to-use-the-automl-api.md
  docs/machine-learning/how-to-guides/serve-model-web-api-ml-net.md
  docs/machine-learning/resources/glossary.md
  docs/machine-learning/resources/improve-machine-learning-model-ml-net.md
  docs/visual-basic/programming-guide/com-interop/troubleshooting-interoperability.md
Owners: @danroth27, @IEvangelist, @dotnet/docs, @nishanil, @adegeo, @HongGit, @gewarren, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @KathleenDollard, @BillWagner

Fixed bug 40060.
  docs/visual-basic/reference/command-line-compiler/index.md
Owners: @KathleenDollard, @BillWagner, @dotnet/docs

Fixed bug 40039.
  docs/fsharp/language-reference/options.md
Owners: @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @dotnet/docs

Remove empty see also section
  docs/core/compatibility/containers/9.0/no-zlib.md
Owners: @camsoper, @gewarren, @dotnet/docs

Use 'LogWarning' method in examples
  docs/fundamentals/code-analysis/quality-rules/ca2254.md
Owners: @gewarren, @dotnet/docs

add missing title/description
  docfx.json
  docs/fundamentals/code-analysis/style-rules/csharp-formatting-options.md
Owners: @dotnet/docs, @gewarren

reset file
  docs/fundamentals/code-analysis/style-rules/csharp-formatting-options.md
Owners: @gewarren, @dotnet/docs

Add missing title/description (#44516)
  docfx.json
Owners: @dotnet/docs

Add token lifetime and caching best practice
  docs/azure/sdk/authentication/authentication-best-practices.md
  docs/azure/sdk/snippets/authentication/best-practices/Program.cs
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

Fix link
  docs/azure/sdk/authentication/authentication-best-practices.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

Document NETSDK1032 and NETSDK1144 (#44452)
  docs/core/tools/sdk-errors/index.md
  docs/core/tools/sdk-errors/netsdk1032.md
  docs/core/tools/sdk-errors/netsdk1144.md
  docs/navigate/tools-diagnostics/toc.yml
Owners: @tdykstra, @dotnet/docs

Use 'LogWarning' method in examples (#44515)
  docs/fundamentals/code-analysis/quality-rules/ca2254.md
Owners: @gewarren, @dotnet/docs

format tables and clarify false value
  docs/fundamentals/code-analysis/style-rules/csharp-formatting-options.md
Owners: @gewarren, @dotnet/docs

Fix typo in toc (JRE0001 -> RE0001)
  docs/navigate/tools-diagnostics/toc.yml
Owners: @dotnet/docs

Improve MTP coverage doc
  docs/core/testing/unit-testing-platform-extensions-code-coverage.md
Owners: @IEvangelist, @dotnet/docs

Fix typo in toc (JRE0001 -> RE0001) (#44519)
  docs/navigate/tools-diagnostics/toc.yml
Owners: @dotnet/docs

Added third party provider
  docs/core/extensions/logging-providers.md
Owners: @IEvangelist, @dotnet/docs

Update MSTEST0015 doc to reflect enabled by default change in 3.8
  docs/core/testing/mstest-analyzers/mstest0015.md
Owners: @IEvangelist, @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Fixed bug 36921.
  docs/fsharp/language-reference/literals.md
Owners: @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @dotnet/docs

add xrefs and toc
  docs/core/extensions/httpclient-factory-keyed-di.md
  docs/fundamentals/toc.yml
Owners: @IEvangelist, @dotnet/docs

Add rule on closing newline
  docs/csharp/language-reference/tokens/raw-string.md
Owners: @BillWagner, @dotnet/docs

Add rule on closing newline (#44534)
  docs/csharp/language-reference/tokens/raw-string.md
Owners: @BillWagner, @dotnet/docs

Using default namespace with System.Xml.Linq.XAttribute explained. (#44501)
  docs/standard/linq/create-document-namespaces-csharp.md
Owners: @dotnet/docs

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs
