Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

Add page for custom attributes
  docs/csharp/language-reference/attributes/pseudo-attributes.md
  docs/csharp/language-reference/toc.yml
Owners: @BillWagner, @dotnet/docs

edit pass
  docs/csharp/language-reference/attributes/general.md
  docs/csharp/language-reference/attributes/pseudo-attributes.md
Owners: @BillWagner, @dotnet/docs

Fix build warnings
  docfx.json
  docs/csharp/misc/cs0612.md
  docs/csharp/misc/cs0619.md
  docs/csharp/versioning.md
  docs/csharp/whats-new/csharp-12.md
  docs/fundamentals/networking/http/httpclient-guidelines.md
Owners: @dotnet/docs, @BillWagner

rebase and merbe
  docfx.json
  docs/csharp/specification/toc.yml
Owners: @dotnet/docs, @BillWagner

Apply suggestions from code review
  docs/csharp/language-reference/attributes/general.md
  docs/csharp/language-reference/attributes/pseudo-attributes.md
Owners: @BillWagner, @dotnet/docs

Respond to feedback.
  docs/csharp/language-reference/attributes/pseudo-attributes.md
Owners: @BillWagner, @dotnet/docs

link between attributes
  docs/csharp/language-reference/attributes/general.md
  docs/fundamentals/runtime-libraries/preview-apis.md
Owners: @BillWagner, @dotnet/docs

try to fix commenter
  .github/workflows/live-protection.yml
Owners: @dotnet/docs

rename job
  .github/workflows/live-protection.yml
Owners: @dotnet/docs

build warning
  docs/fundamentals/runtime-libraries/preview-apis.md
Owners: @dotnet/docs

Try to fix commenter (#44549)
  .github/workflows/live-protection.yml
Owners: @dotnet/docs

Clean edit pass on attributes (#44513)
  docs/csharp/language-reference/attributes/general.md
  docs/csharp/language-reference/attributes/pseudo-attributes.md
  docs/csharp/language-reference/toc.yml
  docs/csharp/misc/cs0612.md
  docs/csharp/misc/cs0619.md
  docs/csharp/specification/toc.yml
  docs/csharp/versioning.md
  docs/csharp/whats-new/csharp-12.md
  docs/fundamentals/networking/http/httpclient-guidelines.md
  docs/fundamentals/runtime-libraries/preview-apis.md
Owners: @BillWagner, @dotnet/docs

Update package index with latest published versions (#44539)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Add example of `{ }` pattern (#44544)
  docs/csharp/fundamentals/functional/pattern-matching.md
  docs/csharp/fundamentals/functional/snippets/patterns/Program.cs
  docs/csharp/fundamentals/functional/snippets/patterns/patterns.csproj
Owners: @BillWagner, @dotnet/docs

Clarify ref struct interface impl (#44545)
  docs/csharp/language-reference/builtin-types/ref-struct.md
  docs/csharp/whats-new/csharp-13.md
Owners: @BillWagner, @dotnet/docs

give workflow write perms
  .github/workflows/live-protection.yml
Owners: @dotnet/docs

give workflow write perms (#44551)
  .github/workflows/live-protection.yml
Owners: @dotnet/docs

review feedback & acrolinx fixes
  docs/fundamentals/networking/telemetry/metrics.md
  docs/fundamentals/networking/telemetry/tracing.md
Owners: @dotnet/docs

fail job instead of leaving comment
  .github/workflows/live-protection.yml
Owners: @dotnet/docs

remove text with apostrophe
  .github/workflows/live-protection.yml
Owners: @dotnet/docs

Fail job instead of leaving comment (#44554)
  .github/workflows/live-protection.yml
Owners: @dotnet/docs

Fixed bug 36231.
  docs/visual-basic/programming-guide/language-features/data-types/how-to-declare-a-structure.md
Owners: @KathleenDollard, @BillWagner, @dotnet/docs

Update live-protection.yml
  .github/workflows/live-protection.yml
Owners: @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Owners: @dotnet/docs

Update package index with latest published versions (#44558)
  docs/azure/includes/dotnet-all.md
Owners: @dotnet/docs

fixes
  docs/core/extensions/httpclient-factory-keyed-di.md
  docs/core/extensions/httpclient-factory.md
Owners: @IEvangelist, @dotnet/docs

lint
  docs/core/extensions/httpclient-factory-keyed-di.md
Owners: @IEvangelist, @dotnet/docs

fix ref
  docs/core/extensions/httpclient-factory-keyed-di.md
Owners: @IEvangelist, @dotnet/docs

code fence `into` when used as a keyword
  docs/csharp/linq/get-started/query-expression-basics.md
Owners: @BillWagner, @dotnet/docs

Update docs/fsharp/language-reference/literals.md
  docs/fsharp/language-reference/literals.md
Owners: @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @dotnet/docs

Update information for MSB3825
  docs/standard/serialization/binaryformatter-migration-guide/winforms-applications.md
Owners: @gewarren, @dotnet/docs

Fast follow to #44513
  docs/csharp/language-reference/attributes/pseudo-attributes.md
Owners: @BillWagner, @dotnet/docs

Enhanced F# Literals Documentation with Comprehensive Examples and Advanced Use Cases (#44527)
  docs/fsharp/language-reference/literals.md
Owners: @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @dotnet/docs

Update live-protection.yml (#44557)
  .github/workflows/live-protection.yml
Owners: @dotnet/docs

Fixed bug 36231. (#44556)
  docs/visual-basic/programming-guide/language-features/data-types/how-to-declare-a-structure.md
Owners: @KathleenDollard, @BillWagner, @dotnet/docs

Use 'unsafe' explicitly to have it in snippets
  docs/csharp/language-reference/snippets/unsafe-code/FunctionPointers.cs
Owners: @BillWagner, @dotnet/docs

Add MSTESTEXP doc
  docs/core/testing/mstest-analyzers/overview.md
Owners: @IEvangelist, @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Owners: @dotnet/docs

Update package index with latest published versions (#44577)
  docs/azure/includes/dotnet-all.md
Owners: @dotnet/docs

Apply suggestions from code review
  docs/core/testing/mstest-analyzers/overview.md
Owners: @IEvangelist, @dotnet/docs

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs
