Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

Update line nums in best practices doc
  docs/azure/sdk/authentication/best-practices.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

Update diagnostic ID CP0012 description
  docs/fundamentals/apicompat/diagnostic-ids.md
Owners: @dotnet/docs

Update docs/fundamentals/apicompat/diagnostic-ids.md
  docs/fundamentals/apicompat/diagnostic-ids.md
Owners: @dotnet/docs

Fix line nums in credential chains doc
  docs/azure/sdk/authentication/credential-chains.md
  docs/azure/sdk/snippets/authentication/credential-chains/Program.cs
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

Diagram updates
  docs/azure/sdk/authentication/credential-chains.md
  docs/azure/sdk/media/mermaidjs/ChainedTokenCredentialAuthFlow.md
  docs/azure/sdk/media/mermaidjs/ChainedTokenCredentialAuthFlow.svg
  docs/azure/sdk/media/mermaidjs/DefaultAzureCredentialExcludes.md
  docs/azure/sdk/media/mermaidjs/DefaultAzureCredentialExcludes.svg
  docs/azure/sdk/snippets/authentication/credential-chains/Program.cs
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

Apply suggestions from code review
  docs/core/diagnostics/dumps.md
  docs/core/diagnostics/faq-dumps.yml
Owners: @tommcdon, @dotnet/docs

Update docs/core/diagnostics/dumps.md
  docs/core/diagnostics/dumps.md
Owners: @tommcdon, @dotnet/docs

Improve dump FAQ (#44714)
  docs/core/diagnostics/dumps.md
  docs/core/diagnostics/faq-dumps.yml
  docs/navigate/tools-diagnostics/toc.yml
Owners: @tommcdon, @dotnet/docs

Link to best practices section
  docs/azure/sdk/authentication/credential-chains.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

Small edit
  docs/azure/sdk/authentication/best-practices.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

Apply suggestions from code review
  docs/core/whats-new/dotnet-10/libraries.md
  docs/core/whats-new/dotnet-10/overview.md
  docs/core/whats-new/dotnet-10/runtime.md
  docs/core/whats-new/dotnet-10/sdk.md
  docs/whats-new/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs, @billwagner

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Owners: @dotnet/docs

Update package index with latest published versions (#44890)
  docs/azure/includes/dotnet-all.md
Owners: @dotnet/docs

Initial toc refactor (#44750)
  .openpublishing.redirection.ai.json
  docs/ai/how-to/app-service-aoai-auth.md
  docs/ai/how-to/app-service-db-auth.md
  docs/ai/how-to/snippets/semantic-kernel/IdentityExamples.cs
  docs/ai/how-to/snippets/semantic-kernel/LocalModelExamples.cs
  docs/ai/how-to/snippets/semantic-kernel/MemoryExamples.cs
  docs/ai/how-to/snippets/semantic-kernel/Program.cs
  docs/ai/how-to/snippets/semantic-kernel/model/MyModelRequest.cs
  docs/ai/how-to/snippets/semantic-kernel/model/MyModelResponse.cs
  docs/ai/how-to/snippets/semantic-kernel/semantic-kernel.csproj
  docs/ai/how-to/snippets/semantic-kernel/services/MyChatCompletionService.cs
  docs/ai/how-to/snippets/semantic-kernel/services/MyTextGenerationService.cs
  docs/ai/toc.yml
Owners: @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Fixed typo in sftp-client.md
  docs/iot/includes/sftp-client.md
Owners: @CamSoper, @dotnet/docs

Update package index with latest published versions (#44892)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Apply suggestions from code review
  docs/azure/sdk/authentication/index.md
  docs/azure/sdk/includes/implement-managed-identity-concepts.md
  docs/azure/sdk/includes/implement-system-assigned-identity.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

Apply suggestions from code review
  docs/azure/sdk/snippets/authentication/user-assigned-managed-identity/Program.cs
Owners: @jsquire, @alexwolfmsft, @CamSoper, @scottaddie, @dotnet/docs

Apply suggestions from code review
  docs/azure/sdk/snippets/authentication/user-assigned-managed-identity/Program.cs
Owners: @jsquire, @alexwolfmsft, @CamSoper, @scottaddie, @dotnet/docs

fixes
  docs/azure/sdk/snippets/authentication/system-assigned-managed-identity/Program.cs
  docs/azure/sdk/snippets/authentication/user-assigned-managed-identity/Program.cs
Owners: @jsquire, @alexwolfmsft, @CamSoper, @scottaddie, @dotnet/docs

edit pass
  docs/azure/sdk/authentication/index.md
  docs/azure/sdk/authentication/system-assigned-managed-identity.md
  docs/azure/sdk/authentication/user-assigned-managed-identity.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

tweaks
  docs/azure/sdk/authentication/system-assigned-managed-identity.md
  docs/azure/sdk/includes/implement-managed-identity-concepts.md
  docs/azure/sdk/includes/implement-system-assigned-identity.md
  docs/azure/sdk/includes/implement-user-assigned-identity.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

fixes
  docs/azure/sdk/authentication/index.md
  docs/azure/sdk/snippets/authentication/system-assigned-managed-identity/Program.cs
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

fix build
  docs/azure/sdk/snippets/authentication/system-assigned-managed-identity/Program.cs
Owners: @jsquire, @alexwolfmsft, @CamSoper, @scottaddie, @dotnet/docs

edits
  docs/azure/sdk/authentication/index.md
  docs/azure/sdk/authentication/system-assigned-managed-identity.md
  docs/azure/sdk/authentication/user-assigned-managed-identity.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

Fixed typo in sftp-client.md (#44896)
  docs/iot/includes/sftp-client.md
Owners: @CamSoper, @dotnet/docs

Apply suggestions from code review
  docs/azure/sdk/authentication/index.md
  docs/azure/sdk/includes/implement-managed-identity-concepts.md
  docs/azure/sdk/includes/implement-system-assigned-identity.md
  docs/azure/sdk/includes/implement-user-assigned-identity.md
  docs/azure/sdk/snippets/authentication/system-assigned-managed-identity/Program.cs
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

fixes
  docs/azure/sdk/authentication/index.md
  docs/azure/sdk/includes/implement-managed-identity-concepts.md
  docs/azure/sdk/snippets/authentication/system-assigned-managed-identity/Program.cs
  docs/azure/sdk/snippets/authentication/user-assigned-managed-identity/Program.cs
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

React to feedback
  docs/azure/sdk/authentication/best-practices.md
  docs/azure/sdk/snippets/authentication/best-practices/CCA/Program.cs
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

tweak
  docs/azure/sdk/snippets/authentication/system-assigned-managed-identity/Program.cs
  docs/azure/sdk/snippets/authentication/user-assigned-managed-identity/Program.cs
Owners: @jsquire, @alexwolfmsft, @CamSoper, @scottaddie, @dotnet/docs

build fix
  docs/azure/sdk/snippets/authentication/user-assigned-managed-identity/Program.cs
Owners: @jsquire, @alexwolfmsft, @CamSoper, @scottaddie, @dotnet/docs

Update line nums
  docs/azure/sdk/authentication/best-practices.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

Revise DefaultAzureCredential guidance for production environments (#44888)
  docs/azure/sdk/authentication/best-practices.md
  docs/azure/sdk/authentication/credential-chains.md
  docs/azure/sdk/media/mermaidjs/ChainedTokenCredentialAuthFlow.md
  docs/azure/sdk/media/mermaidjs/ChainedTokenCredentialAuthFlow.svg
  docs/azure/sdk/media/mermaidjs/DefaultAzureCredentialExcludes.md
  docs/azure/sdk/media/mermaidjs/DefaultAzureCredentialExcludes.svg
  docs/azure/sdk/snippets/authentication/best-practices/CCA/Program.cs
  docs/azure/sdk/snippets/authentication/credential-chains/CredentialChains.csproj
  docs/azure/sdk/snippets/authentication/credential-chains/Program.cs
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

Apply suggestions from code review
  docs/azure/sdk/snippets/authentication/user-assigned-managed-identity/Program.cs
Owners: @jsquire, @alexwolfmsft, @CamSoper, @scottaddie, @dotnet/docs

miscellaneous AI docs cleanup
  docs/ai/ai-extensions.md
  docs/ai/dotnet-ai-ecosystem.md
  docs/ai/includes/vector-databases.md
  docs/ai/toc.yml
  docs/core/extensions/artificial-intelligence.md
Owners: @dotnet/docs, @IEvangelist

Apply suggestions from code review
  docs/azure/sdk/includes/implement-managed-identity-concepts.md
  docs/azure/sdk/snippets/authentication/system-assigned-managed-identity/Program.cs
  docs/azure/sdk/snippets/authentication/user-assigned-managed-identity/Program.cs
Owners: @jsquire, @alexwolfmsft, @CamSoper, @scottaddie, @dotnet/docs

fix build warning
  docs/ai/ai-extensions.md
Owners: @dotnet/docs

wip
  docs/core/compatibility/serialization/9.0/json-metadata-reader.md
  docs/core/compatibility/serialization/9.0/jsondocument-props.md
  docs/core/compatibility/windows-forms/9.0/statusstrip-renderer.md
Owners: @camsoper, @gewarren, @dotnet/docs

Simplify framework install docs
  .openpublishing.redirection.framework.json
  docs/framework/install/dotnet-35-windows.md
  docs/framework/install/guide-for-developers.md
  docs/framework/install/how-to-determine-which-net-framework-updates-are-installed.md
  docs/framework/install/how-to-determine-which-versions-are-installed.md
  docs/framework/install/includes/server-35.md
  docs/framework/install/index.md
  docs/framework/install/media/dotnet-35-windows/dotnet-control-panel.png
  docs/framework/install/media/dotnet-35-windows/dotnet-framework-installation-dialog.png
  docs/framework/install/media/dotnet-35-windows/server-features.png
  docs/framework/install/media/dotnet-35-windows/windows-keyboard-logo.png
  docs/framework/install/media/how-to-determine-which-net-framework-updates-are-installed/windows-keyboard-logo.png
  docs/framework/install/on-server-2019.md
  docs/framework/install/on-server-2022.md
  docs/framework/install/on-server-2025.md
  docs/framework/install/on-windows-10.md
  docs/framework/install/on-windows-11.md
  docs/framework/install/on-windows-8-1.md
  docs/framework/install/on-windows-8.md
  docs/framework/install/on-windows-and-server.md
  docs/framework/install/run-net-framework-1-1-apps.md
  docs/framework/install/versions-and-dependencies.md
  docs/framework/migration-guide/how-to-configure-an-app-to-support-net-framework-4-or-4-5.md
  docs/framework/migration-guide/migrating-from-the-net-framework-1-1.md
  docs/framework/toc.yml
  includes/net-framework-future.md
  includes/net-framework-retired-versions.md
Owners: @dotnet/docs, @adegeo, @gewarren

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs
