Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

Fixed typo in `params` collections description (#44649)
  docs/csharp/whats-new/csharp-version-history.md
Owners: @BillWagner, @dotnet/docs

Update docs/whats-new/dotnet-docs-mod1.md
  docs/whats-new/dotnet-docs-mod1.md
Owners: @billwagner, @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Update package index with latest published versions (#44663)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Bot 🤖 generated CleanRepo tool run
  docs/core/deploying/media/trim-self-contained/visual-studio-publish-edit-settings.png
  docs/core/deploying/media/trim-self-contained/visual-studio-publish-properties.png
  docs/core/deploying/media/trim-self-contained/visual-studio-solution-explorer.png
  docs/core/diagnostics/media/aspire-starter.png
  docs/fundamentals/networking/telemetry/media/prometheus-active-requests.png
  docs/fundamentals/networking/telemetry/media/prometheus-search.png
Owners: @adegeo, @dotnet/docs, @tommcdon

Fixed bug 40174.
  docs/standard/attributes/retrieving-information-stored-in-attributes.md
Owners: @gewarren, @dotnet/docs

Apply suggestions from code review
  docs/whats-new/dotnet-docs-mod1.md
Owners: @billwagner, @dotnet/docs

Clarify that using global.json may not be rare
  docs/core/versions/selection.md
Owners: @dotnet/docs

Update windows.md
  docs/core/install/windows.md
Owners: @adegeo, @dotnet/docs

Remove redundant phrase in installation tip
  docs/core/install/windows.md
Owners: @adegeo, @dotnet/docs

Update example in C# on logging.md
  docs/azure/sdk/logging.md
Owners: @annelo-msft, @christothes, @JoshLove-msft, @KrzysztofCwalina, @jsquire, @alexwolfmsft, @CamSoper, @scottaddie, @dotnet/docs

docs
  docs/core/diagnostics/media/aspire-dashboard-auth.png
  docs/core/diagnostics/media/aspire-dashboard-logs.png
  docs/core/diagnostics/media/jaeger-nested-activity-details.png
  docs/core/diagnostics/media/zipkin-nested-activities.jpg
  docs/framework/wcf/samples/media/iiscertificate-wizard.GIF
Owners: @tommcdon, @dotnet/docs, @HongGit

fix top
  docs/framework/wcf/samples/media/iiscertificate-wizard.GIF
Owners: @HongGit, @dotnet/docs

fix?
  docs/framework/wcf/samples/media/iiscertificate-wizard.GIF
Owners: @HongGit, @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Add note about internal representation of .NET runtime types
  docs/standard/native-interop/best-practices.md
Owners: @jkoritzinsky, @dotnet/docs

docs: fix command spelling
  docs/core/extensions/artificial-intelligence.md
Owners: @IEvangelist, @dotnet/docs

Update unit-testing-platform-extensions-fakes.md (#44655)
  docs/core/testing/unit-testing-platform-extensions-fakes.md
Owners: @IEvangelist, @dotnet/docs

Add note about internal representation of .NET runtime types (#44672)
  docs/standard/native-interop/best-practices.md
Owners: @jkoritzinsky, @dotnet/docs

SFI Wave 4 Remediation (#44670)
  docs/core/diagnostics/media/aspire-dashboard-auth.png
  docs/core/diagnostics/media/aspire-dashboard-logs.png
  docs/core/diagnostics/media/jaeger-nested-activity-details.png
  docs/core/diagnostics/media/zipkin-nested-activities.jpg
  docs/framework/wcf/samples/media/iiscertificate-wizard.GIF
Owners: @tommcdon, @dotnet/docs, @HongGit

Update package index with latest published versions (#44671)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

docs: fix command spelling (#44673)
  docs/core/extensions/artificial-intelligence.md
Owners: @IEvangelist, @dotnet/docs

Move AI for .NET up in the list
  .whatsnew.json
  docs/whats-new/dotnet-docs-mod0.md
  docs/whats-new/dotnet-docs-mod1.md
  docs/whats-new/dotnet-docs-mod2.md
Owners: @dotnet/docs, @billwagner

Update note about MTP arguments
  docs/core/testing/unit-testing-platform-vs-vstest.md
Owners: @IEvangelist, @dotnet/docs

Capitalize comments in XML processing examples
  docs/standard/linq/perform-streaming-transform-large-xml-documents.md
  docs/standard/linq/stream-xml-fragments-access-header-information.md
Owners: @dotnet/docs

Fixed incorrect logic in another XmlReader's example (#44135)
  docs/standard/linq/perform-streaming-transform-large-xml-documents.md
  docs/standard/linq/stream-xml-fragments-access-header-information.md
Owners: @dotnet/docs

Add a little note instructions (#44668)
  docs/core/install/windows.md
Owners: @adegeo, @dotnet/docs

Move ML.NET below AI for .NET
  .whatsnew.json
  docs/whats-new/dotnet-docs-mod0.md
Owners: @dotnet/docs, @billwagner

Update identity-server.md to use latest documentation links
  docs/architecture/cloud-native/identity-server.md
Owners: @nishanil, @IEvangelist, @dotnet/docs

Fixed bug 44617.
  docs/framework/ui-automation/implementing-the-ui-automation-selectionitem-control-pattern.md
Owners: @adegeo, @dotnet/docs

Resolving comments.
  docs/standard/attributes/retrieving-information-stored-in-attributes.md
Owners: @gewarren, @dotnet/docs

Resolving comments.
  docs/standard/attributes/retrieving-information-stored-in-attributes.md
Owners: @gewarren, @dotnet/docs

Resolving comments.
  docs/standard/attributes/retrieving-information-stored-in-attributes.md
Owners: @gewarren, @dotnet/docs

Fix grammar in update section
  docs/core/versions/selection.md
Owners: @dotnet/docs

Move AI for .NET up in the list (#44677)
  .whatsnew.json
  docs/whats-new/dotnet-docs-mod0.md
  docs/whats-new/dotnet-docs-mod1.md
  docs/whats-new/dotnet-docs-mod2.md
Owners: @dotnet/docs, @billwagner

Add other package sources for .NET
  docs/core/install/linux.md
Owners: @adegeo, @dotnet/docs

Fix urls
  docs/core/install/linux.md
Owners: @adegeo, @dotnet/docs

Update docs/core/install/linux.md
  docs/core/install/linux.md
Owners: @adegeo, @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Add other package sources for .NET (#44683)
  docs/core/install/linux.md
Owners: @adegeo, @dotnet/docs

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs
