Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs

Add a note on how to disable the MTP feature flag
  docs/core/testing/unit-testing-platform-vs-vstest.md
Owners: @IEvangelist, @dotnet/docs

Curate topics (#44693)
  .openpublishing.redirection.ai.json
  docs/ai/how-to/use-redis-for-memory.md
  docs/ai/how-to/work-with-local-models.md
  docs/ai/quickstarts/quickstart-assistants.md
  docs/ai/quickstarts/quickstart-local-ai.md
  docs/ai/toc.yml
Owners: @dotnet/docs

Update docs/core/testing/unit-testing-platform-faq.md
  docs/core/testing/unit-testing-platform-faq.md
Owners: @IEvangelist, @dotnet/docs

Update testing platform page structure
  docs/core/testing/unit-testing-platform-faq.md
Owners: @IEvangelist, @dotnet/docs

clarify new rules on unsafe and sizeof
  docs/csharp/language-reference/operators/sizeof.md
  docs/csharp/language-reference/unsafe-code.md
Owners: @BillWagner, @dotnet/docs

Revamp article format and instructions.
  docs/ai/media/azure-hosted-apps/enable-system-assigned-identity.png
  docs/ai/media/azure-hosted-apps/identity-assign-role.png
  docs/azure/sdk/authentication/azure-hosted-apps.md
Owners: @dotnet/docs, @christothes, @schaabs, @alexwolfmsft, @CamSoper, @scottaddie

fix numbering
  docs/azure/sdk/authentication/azure-hosted-apps.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

fixes
  docs/azure/sdk/authentication/azure-hosted-apps.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

fixes
  docs/azure/sdk/authentication/azure-hosted-apps.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

update images
  docs/azure/sdk/authentication/azure-hosted-apps.md
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-1-240px.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-1.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-2-240px.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-2.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-3-240px.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-3.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-4-240px.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-4.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-5-240px.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-5.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-6-240px.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-6.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-7-240px.png
  docs/azure/sdk/media/enable-managed-identity-azure-portal-1-240px.png
  docs/azure/sdk/media/enable-managed-identity-azure-portal-1.png
  docs/azure/sdk/media/enable-managed-identity-azure-portal-2-240px.png
  docs/azure/sdk/media/enable-managed-identity-azure-portal-2.png
  docs/azure/sdk/media/enable-managed-identity-azure-portal-3-240px.png
  docs/azure/sdk/media/enable-managed-identity-azure-portal-3.png
  docs/azure/sdk/media/system-assigned-identity-access-control.png
  docs/azure/sdk/media/system-assigned-identity-assign-roles.png
  docs/azure/sdk/media/system-assigned-identity-enable.png
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

fix images
  docs/ai/media/azure-hosted-apps/enable-system-assigned-identity.png
  docs/ai/media/azure-hosted-apps/identity-assign-role.png
Owners: @dotnet/docs

fix steps
  docs/azure/sdk/authentication/azure-hosted-apps.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

Added csproj.
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.attributes.usage/conceptualAttrUsage.csproj
Owners: @BillWagner, @IEvangelist, @dotnet/docs

edit pass
  docs/azure/sdk/authentication/azure-hosted-apps.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

edit pass
  docs/azure/sdk/authentication/azure-hosted-apps.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

Update package index with latest published versions (#44702)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

remove includes
  docs/azure/sdk/authentication/azure-hosted-apps.md
  docs/azure/sdk/authentication/index.md
  docs/azure/sdk/includes/assign-managed-identity-to-role-azure-portal-1.md
  docs/azure/sdk/includes/assign-managed-identity-to-role-azure-portal-2.md
  docs/azure/sdk/includes/assign-managed-identity-to-role-azure-portal-3.md
  docs/azure/sdk/includes/assign-managed-identity-to-role-azure-portal-4.md
  docs/azure/sdk/includes/assign-managed-identity-to-role-azure-portal-5.md
  docs/azure/sdk/includes/assign-managed-identity-to-role-azure-portal-6.md
  docs/azure/sdk/includes/assign-managed-identity-to-role-azure-portal-7.md
  docs/azure/sdk/includes/enable-managed-identity-azure-cli.md
  docs/azure/sdk/includes/enable-managed-identity-azure-portal-1.md
  docs/azure/sdk/includes/enable-managed-identity-azure-portal-2.md
  docs/azure/sdk/includes/enable-managed-identity-azure-portal-3.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

remove unnecessary tab
  docs/azure/sdk/authentication/azure-hosted-apps.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

tweaks
  docs/azure/sdk/authentication/azure-hosted-apps.md
  docs/azure/sdk/media/system-assigned-identity-assign-roles.png
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

fix headers
  docs/azure/sdk/authentication/azure-hosted-apps.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

update ms.topic to match new guidelines
  docfx.json
Owners: @dotnet/docs

Update package index with latest published versions (#44705)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Update reference topic types
  docfx.json
Owners: @dotnet/docs

Update date format
  docs/architecture/cloud-native/identity-server.md
Owners: @nishanil, @IEvangelist, @dotnet/docs

Apply suggestions from code review
  docs/csharp/language-reference/operators/sizeof.md
  docs/csharp/language-reference/unsafe-code.md
Owners: @BillWagner, @dotnet/docs

Update reference topic types (#44708)
  docfx.json
Owners: @dotnet/docs

clarify new rules on unsafe and sizeof (#44701)
  docs/csharp/language-reference/operators/sizeof.md
  docs/csharp/language-reference/unsafe-code.md
Owners: @BillWagner, @dotnet/docs

update ms.topic to match new guidelines (#44707)
  docfx.json
Owners: @dotnet/docs

Prevent auto-generate AssemblyInfo.cs.
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.attributes.usage/conceptualAttrUsage.csproj
Owners: @BillWagner, @IEvangelist, @dotnet/docs

Enhance Attribute Retrieval Guide to Include Member-Level Attributes (#44665)
  docs/standard/attributes/retrieving-information-stored-in-attributes.md
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.attributes.usage/conceptualAttrUsage.csproj
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.attributes.usage/cs/makefile
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.attributes.usage/cs/source4.cs
Owners: @gewarren, @dotnet/docs, @BillWagner, @IEvangelist

Apply suggestions from code review
  docs/azure/sdk/authentication/azure-hosted-apps.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

whoops extra line
  docs/core/compatibility/10.0.md
Owners: @camsoper, @gewarren, @dotnet/docs

Breaking change correction (#44695)
  docs/core/compatibility/10.0.md
  docs/core/compatibility/cryptography/10.0/version-override.md
  docs/core/compatibility/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

Update identity-server.md to use latest documentation links (#44680)
  docs/architecture/cloud-native/identity-server.md
Owners: @nishanil, @IEvangelist, @dotnet/docs

Resolved bug 40061.
  docs/visual-basic/developing-apps/development-with-my/index.md
Owners: @KathleenDollard, @BillWagner, @dotnet/docs

Revamp article format and instructions. (#44703)
  docs/azure/sdk/authentication/azure-hosted-apps.md
  docs/azure/sdk/authentication/index.md
  docs/azure/sdk/includes/assign-managed-identity-to-role-azure-portal-1.md
  docs/azure/sdk/includes/assign-managed-identity-to-role-azure-portal-2.md
  docs/azure/sdk/includes/assign-managed-identity-to-role-azure-portal-3.md
  docs/azure/sdk/includes/assign-managed-identity-to-role-azure-portal-4.md
  docs/azure/sdk/includes/assign-managed-identity-to-role-azure-portal-5.md
  docs/azure/sdk/includes/assign-managed-identity-to-role-azure-portal-6.md
  docs/azure/sdk/includes/assign-managed-identity-to-role-azure-portal-7.md
  docs/azure/sdk/includes/enable-managed-identity-azure-cli.md
  docs/azure/sdk/includes/enable-managed-identity-azure-portal-1.md
  docs/azure/sdk/includes/enable-managed-identity-azure-portal-2.md
  docs/azure/sdk/includes/enable-managed-identity-azure-portal-3.md
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-1-240px.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-1.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-2-240px.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-2.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-3-240px.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-3.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-4-240px.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-4.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-5-240px.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-5.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-6-240px.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-6.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-7-240px.png
  docs/azure/sdk/media/enable-managed-identity-azure-portal-1-240px.png
  docs/azure/sdk/media/enable-managed-identity-azure-portal-1.png
  docs/azure/sdk/media/enable-managed-identity-azure-portal-2-240px.png
  docs/azure/sdk/media/enable-managed-identity-azure-portal-2.png
  docs/azure/sdk/media/enable-managed-identity-azure-portal-3-240px.png
  docs/azure/sdk/media/enable-managed-identity-azure-portal-3.png
  docs/azure/sdk/media/system-assigned-identity-access-control.png
  docs/azure/sdk/media/system-assigned-identity-assign-roles.png
  docs/azure/sdk/media/system-assigned-identity-enable.png
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

Fixes 44172
  .openpublishing.redirection.core.json
  docs/core/compatibility/9.0.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/windows-forms/9.0/statusstrip-renderer.md
Owners: @dotnet/docs, @camsoper, @gewarren

build fix
  docs/whats-new/dotnet-docs-mod0.md
Owners: @billwagner, @dotnet/docs
