Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs

sfi
  docs/framework/wcf/feature-details/media/mg-mycert.jpg
Owners: @HongGit, @dotnet/docs

Update docs/core/compatibility/core-libraries/9.0/ambiguous-overload.md
  docs/core/compatibility/core-libraries/9.0/ambiguous-overload.md
Owners: @camsoper, @gewarren, @dotnet/docs

Update docs/core/compatibility/core-libraries/9.0/ambiguous-overload.md
  docs/core/compatibility/core-libraries/9.0/ambiguous-overload.md
Owners: @camsoper, @gewarren, @dotnet/docs

sfi
  docs/framework/wcf/feature-details/media/mg-servercertificatewindow.jpg
Owners: @HongGit, @dotnet/docs

implicit not intrinsic 🤦🏻‍♂️
  docs/core/compatibility/9.0.md
  docs/core/compatibility/core-libraries/9.0/ambiguous-overload.md
  docs/core/compatibility/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

sfi
  docs/architecture/cloud-native/media/kibana-dashboard.png
Owners: @nishanil, @IEvangelist, @dotnet/docs

sfi
  docs/core/diagnostics/media/jaeger-activity-details.png
Owners: @tommcdon, @dotnet/docs

sfi (#45028)
  docs/architecture/cloud-native/media/kibana-dashboard.png
Owners: @nishanil, @IEvangelist, @dotnet/docs

sfi
  docs/core/diagnostics/media/aspire-dashboard.png
Owners: @tommcdon, @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Owners: @dotnet/docs

Update package index with latest published versions (#45023)
  docs/azure/includes/dotnet-all.md
Owners: @dotnet/docs

SFI Wave 4 Remediation (#45025)
  docs/framework/wcf/diagnostics/tracing/media/using-service-trace-viewer-for-viewing-correlated-traces-and-troubleshooting/process-action-traces.gif
  docs/framework/wcf/diagnostics/tracing/media/using-service-trace-viewer-for-viewing-correlated-traces-and-troubleshooting/wcf-client-activities-creation-time.gif
  docs/framework/wcf/feature-details/media/how-to-host-a-workflow-service-with-windows-server-app-fabric/persisted-workflow-instance-detail.gif
  docs/framework/wcf/feature-details/media/mg-mycert.jpg
  docs/framework/wcf/feature-details/media/mg-mycertbinding.jpg
  docs/framework/wcf/feature-details/media/mg-servercertificatewindow.jpg
Owners: @HongGit, @dotnet/docs

rename and add redirects
  .openpublishing.redirection.ai.json
  docs/ai/quickstarts/build-chat-app.md
  docs/ai/quickstarts/build-vector-search-app.md
  docs/ai/quickstarts/chat-local-model.md
  docs/ai/quickstarts/create-assistant.md
  docs/ai/quickstarts/evaluate-ai-responses.md
  docs/ai/quickstarts/generate-images.md
  docs/ai/quickstarts/includes/clone-sample-repo.md
  docs/ai/quickstarts/prompt-model.md
  docs/ai/quickstarts/use-function-calling.md
Owners: @dotnet/docs

Update mtp name in config file
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Refresh testing docs
  docs/core/testing/index.md
  docs/core/testing/unit-testing-mstest-runner-intro.md
  docs/core/testing/unit-testing-nunit-runner-intro.md
  docs/navigate/devops-testing/toc.yml
Owners: @IEvangelist, @dotnet/docs

Looks like NullArgumentException is a type. Fixed with ArgumentNullException
  docs/csharp/whats-new/csharp-14.md
Owners: @BillWagner, @dotnet/docs

Added a curl script into the Linux manual
  docs/core/install/linux-scripted-manual.md
Owners: @adegeo, @dotnet/docs

Update docs/core/testing/index.md
  docs/core/testing/index.md
Owners: @IEvangelist, @dotnet/docs

Update docs/core/testing/unit-testing-mstest-runner-intro.md
  docs/core/testing/unit-testing-mstest-runner-intro.md
Owners: @IEvangelist, @dotnet/docs

Apply suggestions from code review
  docs/core/testing/index.md
Owners: @IEvangelist, @dotnet/docs

Apply suggestions from code review
  docs/core/testing/unit-testing-mstest-runner-intro.md
  docs/core/testing/unit-testing-nunit-runner-intro.md
Owners: @IEvangelist, @dotnet/docs

Fix link
  docs/ai/conceptual/evaluation-libraries.md
Owners: @dotnet/docs

Adjust
  docs/core/testing/index.md
Owners: @IEvangelist, @dotnet/docs

Looks like NullArgumentException is a type. Fixed with ArgumentNullException (#45041)
  docs/csharp/whats-new/csharp-14.md
Owners: @BillWagner, @dotnet/docs

Update mtp name in config file (#45030)
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Apply suggestions from code review
  docs/core/whats-new/dotnet-10/overview.md
Owners: @camsoper, @gewarren, @dotnet/docs

Update linux.md
  docs/core/install/linux.md
Owners: @adegeo, @dotnet/docs

Update Linux install docs with package policy link
  docs/core/install/linux.md
Owners: @adegeo, @dotnet/docs

Updates for .slnx files (#45003)
  docs/core/tools/dotnet-sln.md
Owners: @tdykstra, @dotnet/docs

Add links to latest breaking changes
  docs/visual-basic/whats-new/breaking-changes.md
Owners: @KathleenDollard, @BillWagner, @dotnet/docs

sfi
  docs/core/diagnostics/media/jaeger-activity-details.png
Owners: @tommcdon, @dotnet/docs

Add configfile option to dotnet nuget push
  docs/core/tools/dotnet-nuget-push.md
Owners: @tdykstra, @dotnet/docs

Fix grammar in overview.md
  docs/core/whats-new/dotnet-10/overview.md
Owners: @camsoper, @gewarren, @dotnet/docs

Fix grammar in overview.md (#45052)
  docs/core/whats-new/dotnet-10/overview.md
Owners: @camsoper, @gewarren, @dotnet/docs

Update linux.md (#45047)
  docs/core/install/linux.md
Owners: @adegeo, @dotnet/docs

Correct .NET Aspire - what's new? link (#45027)
  docs/core/whats-new/dotnet-10/overview.md
Owners: @camsoper, @gewarren, @dotnet/docs

Fix suggestion
  docs/core/compatibility/core-libraries/9.0/ambiguous-overload.md
Owners: @camsoper, @gewarren, @dotnet/docs

Breaking change: Ambiguous overloads (#45007)
  docs/core/compatibility/9.0.md
  docs/core/compatibility/core-libraries/9.0/ambiguous-overload.md
  docs/core/compatibility/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

What
  docs/core/whats-new/dotnet-10/overview.md
Owners: @camsoper, @gewarren, @dotnet/docs

Add breaking change for containes - default tag
  docs/core/compatibility/10.0.md
  docs/core/compatibility/containers/10.0/default-images-use-ubuntu.md
  docs/core/compatibility/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs
