Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

Apply suggestions from code review
  docs/csharp/language-reference/builtin-types/built-in-types.md
  docs/csharp/language-reference/configure-language-version.md
Owners: @BillWagner, @dotnet/docs

Add docs updates for simpler lambda parameter modifiers
  docfx.json
  docs/csharp/language-reference/compiler-messages/params-arrays.md
  docs/csharp/language-reference/operators/lambda-expressions.md
  docs/csharp/language-reference/operators/lambda-operator.md
  docs/csharp/specification/toc.yml
  docs/csharp/whats-new/csharp-14.md
Owners: @dotnet/docs, @BillWagner

Add first class span types
  docfx.json
  docs/csharp/language-reference/builtin-types/built-in-types.md
  docs/csharp/language-reference/builtin-types/collections.md
  docs/csharp/language-reference/operators/patterns.md
  docs/csharp/language-reference/operators/type-testing-and-cast.md
  docs/csharp/language-reference/operators/user-defined-conversion-operators.md
  docs/csharp/language-reference/toc.yml
  docs/csharp/programming-guide/types/casting-and-type-conversions.md
  docs/csharp/programming-guide/types/snippets/CastingAndConversions/CastingAndConversions.csproj
  docs/csharp/programming-guide/types/snippets/CastingAndConversions/Program.cs
  docs/csharp/specification/toc.yml
  docs/csharp/whats-new/csharp-13.md
  docs/csharp/whats-new/csharp-14.md
  samples/snippets/csharp/VS_Snippets_VBCSharp/CsProgGuideTypes/CS/Class1.cs
Owners: @dotnet/docs, @BillWagner, @IEvangelist

Update docs/csharp/whats-new/csharp-14.md
  docs/csharp/whats-new/csharp-14.md
Owners: @BillWagner, @dotnet/docs

fix warnings
  .openpublishing.redirection.csharp.json
  docs/csharp/fundamentals/tutorials/safely-cast-using-pattern-matching-is-and-as-operators.md
  docs/csharp/language-reference/builtin-types/nullable-value-types.md
  docs/csharp/language-reference/compiler-messages/assembly-references.md
  docs/csharp/language-reference/compiler-messages/cs0039.md
  docs/csharp/language-reference/compiler-messages/cs0413.md
  docs/csharp/language-reference/keywords/index.md
  docs/csharp/language-reference/operators/index.md
  docs/csharp/language-reference/operators/is.md
  docs/csharp/language-reference/operators/operator-overloading.md
  docs/csharp/language-reference/operators/type-testing-and-cast.md
  docs/csharp/language-reference/operators/user-defined-conversion-operators.md
  docs/csharp/language-reference/statements/lock.md
  docs/csharp/language-reference/toc.yml
  docs/csharp/misc/cs0077.md
  docs/csharp/misc/cs0244.md
  docs/csharp/misc/cs0837.md
  docs/csharp/programming-guide/types/casting-and-type-conversions.md
  docs/csharp/specification/toc.yml
  docs/csharp/whats-new/csharp-11.md
  docs/csharp/whats-new/csharp-14.md
  docs/framework/data/adonet/sql/linq/basic-data-types.md
  docs/fundamentals/code-analysis/quality-rules/ca2263.md
  docs/fundamentals/code-analysis/style-rules/ide0082.md
Owners: @dotnet/docs, @BillWagner, @gewarren

Update docs/csharp/whats-new/csharp-14.md
  docs/csharp/whats-new/csharp-14.md
Owners: @BillWagner, @dotnet/docs

Respond to feedback.
  docs/csharp/whats-new/csharp-14.md
Owners: @BillWagner, @dotnet/docs

Apply suggestions from code review
  docs/csharp/whats-new/csharp-14.md
Owners: @BillWagner, @dotnet/docs

update all dates
  docs/csharp/language-reference/builtin-types/built-in-types.md
  docs/csharp/language-reference/operators/lambda-expressions.md
  docs/csharp/language-reference/operators/lambda-operator.md
  docs/csharp/language-reference/operators/nameof.md
  docs/csharp/language-reference/operators/type-testing-and-cast.md
  docs/csharp/language-reference/operators/user-defined-conversion-operators.md
  docs/csharp/whats-new/csharp-14.md
Owners: @BillWagner, @dotnet/docs

fix build warning.
  docfx.json
Owners: @dotnet/docs

Update docs/csharp/language-reference/statements/selection-statements.md
  docs/csharp/language-reference/statements/selection-statements.md
Owners: @BillWagner, @dotnet/docs

Update selection-statements.md - fixed example meaning, highlighted difference between switch statement and switch expression (#44945)
  docs/csharp/language-reference/statements/selection-statements.md
Owners: @BillWagner, @dotnet/docs

file naming.
  docfx.json
  docs/csharp/specification/toc.yml
Owners: @dotnet/docs, @BillWagner

Apply suggestions from code review
  docs/framework/install/dotnet-35-windows.md
  docs/framework/install/on-windows-and-server.md
  docs/framework/migration-guide/how-to-configure-an-app-to-support-net-framework-4-or-4-5.md
  includes/net-framework-retired-versions.md
Owners: @adegeo, @dotnet/docs, @gewarren

Add additional nullable reference warnings and errors
  docs/csharp/language-reference/compiler-messages/nullable-warnings.md
  docs/csharp/language-reference/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Owners: @BillWagner, @dotnet/docs

I hate yaml
  docs/csharp/language-reference/toc.yml
Owners: @BillWagner, @dotnet/docs

update image
  docs/ai/media/ai-extensions/pipeline-report.jpg
Owners: @dotnet/docs

Apply suggestions from code review
  docs/core/testing/mstest-analyzers/mstest0001.md
Owners: @IEvangelist, @dotnet/docs

Fix anchor to updated link.
  docs/csharp/programming-guide/classes-and-structs/partial-classes-and-methods.md
Owners: @BillWagner, @dotnet/docs

Fix anchor to updated link. (#44979)
  docs/csharp/programming-guide/classes-and-structs/partial-classes-and-methods.md
Owners: @BillWagner, @dotnet/docs

Overview of MEAI.Evaluation library (#44901)
  docfx.json
  docs/ai/conceptual/evaluation-libraries.md
  docs/ai/media/ai-extensions/pipeline-report.jpg
  docs/ai/toc.yml
Owners: @dotnet/docs

Apply suggestions from code review
  docs/framework/install/dotnet-35-windows.md
  docs/framework/migration-guide/how-to-configure-an-app-to-support-net-framework-4-or-4-5.md
  docs/framework/migration-guide/index.md
  docs/framework/migration-guide/migrating-from-the-net-framework-1-1.md
Owners: @adegeo, @dotnet/docs, @gewarren

review feedback
  docs/core/compatibility/serialization/9.0/json-metadata-reader.md
  docs/core/compatibility/serialization/9.0/jsondocument-props.md
Owners: @camsoper, @gewarren, @dotnet/docs

Apply suggestions from code review
  docs/framework/install/dotnet-35-windows.md
Owners: @adegeo, @dotnet/docs

Final updates
  docs/framework/install/on-windows-and-server.md
  docs/framework/toc.yml
Owners: @adegeo, @dotnet/docs

updated README with learn note
  README.md
Owners: @dotnet/docs

Switched to new defintion, revised tables
  docs/core/compatibility/7.0.md
Owners: @camsoper, @gewarren, @dotnet/docs

lint
  docs/core/compatibility/7.0.md
Owners: @camsoper, @gewarren, @dotnet/docs

Apply suggestions from code review
  docs/core/compatibility/serialization/9.0/json-metadata-reader.md
Owners: @camsoper, @gewarren, @dotnet/docs

Breaking change - System.Text.Json (#44946)
  docs/core/compatibility/9.0.md
  docs/core/compatibility/serialization/9.0/json-metadata-reader.md
  docs/core/compatibility/serialization/9.0/jsondocument-props.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/windows-forms/9.0/statusstrip-renderer.md
Owners: @camsoper, @gewarren, @dotnet/docs

fix table
  docs/core/compatibility/7.0.md
Owners: @camsoper, @gewarren, @dotnet/docs

Update docs/core/additional-tools/dotnet-coverage.md
  docs/core/additional-tools/dotnet-coverage.md
Owners: @dotnet/docs

Update docs/core/additional-tools/dotnet-coverage.md
  docs/core/additional-tools/dotnet-coverage.md
Owners: @dotnet/docs

Apply suggestions from code review
  docs/standard/serialization/binaryformatter-migration-guide/winforms-applications.md
Owners: @gewarren, @dotnet/docs

Update information for MSB3825 (#44564)
  docs/standard/serialization/binaryformatter-migration-guide/winforms-applications.md
Owners: @gewarren, @dotnet/docs

Updating version and prompt for dotnet-coverage tool (#44954)
  docs/core/additional-tools/dotnet-coverage.md
Owners: @dotnet/docs

.NET 7 breaking changes overview behavioral changes clarity (#44981)
  docs/core/compatibility/7.0.md
Owners: @camsoper, @gewarren, @dotnet/docs

Address post-merge comments
  docs/csharp/language-reference/xmldoc/index.md
Owners: @BillWagner, @dotnet/docs

Address post-merge comments (#44984)
  docs/csharp/language-reference/xmldoc/index.md
Owners: @BillWagner, @dotnet/docs

update NuGet packages
  docs/ai/ai-extensions.md
  docs/core/extensions/snippets/ai/AI.Shared/AI.Shared.csproj
  docs/core/extensions/snippets/ai/AI.Shared/RateLimitingChatClient.cs
  docs/core/extensions/snippets/ai/AI.Shared/SampleChatClient.cs
  docs/core/extensions/snippets/ai/ConsoleAI.CustomClientMiddle/ConsoleAI.CustomClientMiddle.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.FunctionalityPipelines/ConsoleAI.FunctionalityPipelines.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.ProvideOptions/ConsoleAI.ProvideOptions.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.ToolCalling/ConsoleAI.ToolCalling.csproj
  docs/core/extensions/snippets/ai/ConsoleAI/ConsoleAI.csproj
Owners: @dotnet/docs, @IEvangelist

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs
