Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs

remove useless example (#44990)
  docs/fundamentals/runtime-libraries/snippets/System/String/Intern/csharp/Intern2.cs
  docs/fundamentals/runtime-libraries/snippets/System/String/Intern/fsharp/Intern2.fs
  docs/fundamentals/runtime-libraries/snippets/System/String/Intern/fsharp/fs.fsproj
  docs/fundamentals/runtime-libraries/snippets/System/String/Intern/vb/Intern2.vb
  docs/fundamentals/runtime-libraries/system-string-intern.md
Owners: @dotnet/docs

updated dotnet-monitor
  docs/core/diagnostics/dotnet-monitor.md
Owners: @tommcdon, @dotnet/docs

fix build suggestions and broken links
  docs/azure/includes/dotnet-all.md
  docs/core/install/linux-ubuntu.md
  docs/core/testing/mstest-analyzers/mstest0039.md
  docs/core/testing/unit-testing-mstest-writing-tests-assertions.md
  docs/core/testing/unit-testing-platform-vs-vstest.md
  docs/core/tutorials/testing-library-with-visual-studio-code.md
  docs/fsharp/whats-new/fsharp-9.md
  docs/fundamentals/code-analysis/quality-rules/ca2007.md
  docs/fundamentals/networking/telemetry/includes/aspire-telemetry-overview.md
  docs/machine-learning/resources/metrics.md
  docs/machine-learning/tutorials/time-series-demand-forecasting.md
Owners: @dotnet/docs, @adegeo, @IEvangelist, @tdykstra, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @gewarren, @luisquintanilla, @JakeRadMSFT, @michaelgsharp

zone pivots
  docs/ai/quickstarts/quickstart-visual-studio-ai-templates.md
  docs/zone-pivot-groups.yml
Owners: @dotnet/docs

fix pivots
  docs/ai/quickstarts/quickstart-visual-studio-ai-templates.md
  docs/zone-pivot-groups.yml
Owners: @dotnet/docs

fix tabs
  docs/ai/quickstarts/quickstart-visual-studio-ai-templates.md
Owners: @dotnet/docs

verbiage updates
  docs/ai/quickstarts/quickstart-visual-studio-ai-templates.md
Owners: @dotnet/docs

updates for .slnx files
  docs/core/tools/dotnet-sln.md
Owners: @tdykstra, @dotnet/docs

paragraphize
  docs/core/tools/dotnet-sln.md
Owners: @tdykstra, @dotnet/docs

doesn't create .slnx file
  docs/core/tools/dotnet-sln.md
Owners: @tdykstra, @dotnet/docs

toc
  docs/ai/toc.yml
Owners: @dotnet/docs

add index of commands
  docs/core/tools/dotnet-sln.md
Owners: @tdykstra, @dotnet/docs

add redirects for experimental syslib ids
  .openpublishing.redirection.fundamentals.json
Owners: @dotnet/docs

Feedback and ToC
  docs/core/compatibility/10.0.md
  docs/core/compatibility/core-libraries/10.0/asyncenumerable.md
  docs/core/compatibility/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

System.Linq.AsyncEnumerable breaking change in .NET 10 (#44989)
  docs/core/compatibility/10.0.md
  docs/core/compatibility/core-libraries/10.0/asyncenumerable.md
  docs/core/compatibility/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

initial commit
  docs/core/compatibility/10.0.md
  docs/core/compatibility/sdk/10.0/custom-build-event-warning.md
  docs/core/compatibility/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

lint
  docs/core/compatibility/sdk/10.0/custom-build-event-warning.md
Owners: @camsoper, @gewarren, @dotnet/docs

feedback
  docs/core/whats-new/dotnet-10/overview.md
  docs/core/whats-new/dotnet-10/runtime.md
Owners: @camsoper, @gewarren, @dotnet/docs

fix overview
  docs/core/whats-new/dotnet-10/overview.md
Owners: @camsoper, @gewarren, @dotnet/docs

tweaks
  docs/core/compatibility/sdk/10.0/custom-build-event-warning.md
Owners: @camsoper, @gewarren, @dotnet/docs

Update package index with latest published versions (#44999)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

initial commit
  docs/core/compatibility/9.0.md
  docs/core/compatibility/core-libraries/9.0/ambiguous-overload.md
  docs/core/compatibility/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

lint
  docs/core/compatibility/core-libraries/9.0/ambiguous-overload.md
Owners: @camsoper, @gewarren, @dotnet/docs

Apply suggestions from code review
  docs/core/whats-new/dotnet-10/libraries.md
  docs/core/whats-new/dotnet-10/overview.md
  docs/core/whats-new/dotnet-10/sdk.md
Owners: @camsoper, @gewarren, @dotnet/docs

whoops
  docs/core/whats-new/dotnet-10/libraries.md
Owners: @camsoper, @gewarren, @dotnet/docs

Add support for `nameof` and open generic types
  .openpublishing.redirection.csharp.json
  docs/csharp/index.yml
  docs/csharp/language-reference/configure-language-version.md
  docs/csharp/language-reference/includes/default-langversion-table.md
  docs/csharp/language-reference/includes/langversion-table.md
  docs/csharp/language-reference/operators/nameof.md
  docs/csharp/toc.yml
  docs/csharp/whats-new/csharp-14.md
Owners: @dotnet/docs, @BillWagner

Some edits.
  docs/csharp/language-reference/operators/nameof.md
  docs/csharp/language-reference/operators/snippets/shared/NameOfOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/operators.csproj
Owners: @BillWagner, @dotnet/docs

Add first class span types
  docfx.json
  docs/csharp/language-reference/builtin-types/built-in-types.md
  docs/csharp/language-reference/builtin-types/collections.md
  docs/csharp/language-reference/operators/patterns.md
  docs/csharp/language-reference/operators/type-testing-and-cast.md
  docs/csharp/language-reference/operators/user-defined-conversion-operators.md
  docs/csharp/language-reference/toc.yml
  docs/csharp/programming-guide/types/casting-and-type-conversions.md
  docs/csharp/programming-guide/types/snippets/CastingAndConversions/CastingAndConversions.csproj
  docs/csharp/programming-guide/types/snippets/CastingAndConversions/Program.cs
  docs/csharp/specification/toc.yml
  docs/csharp/whats-new/csharp-13.md
  docs/csharp/whats-new/csharp-14.md
  samples/snippets/csharp/VS_Snippets_VBCSharp/CsProgGuideTypes/CS/Class1.cs
Owners: @dotnet/docs, @BillWagner, @IEvangelist

fix warnings
  .openpublishing.redirection.csharp.json
  docs/csharp/fundamentals/tutorials/safely-cast-using-pattern-matching-is-and-as-operators.md
  docs/csharp/language-reference/builtin-types/nullable-value-types.md
  docs/csharp/language-reference/compiler-messages/assembly-references.md
  docs/csharp/language-reference/compiler-messages/cs0039.md
  docs/csharp/language-reference/compiler-messages/cs0413.md
  docs/csharp/language-reference/keywords/index.md
  docs/csharp/language-reference/operators/index.md
  docs/csharp/language-reference/operators/is.md
  docs/csharp/language-reference/operators/operator-overloading.md
  docs/csharp/language-reference/operators/type-testing-and-cast.md
  docs/csharp/language-reference/operators/user-defined-conversion-operators.md
  docs/csharp/language-reference/statements/lock.md
  docs/csharp/language-reference/toc.yml
  docs/csharp/misc/cs0077.md
  docs/csharp/misc/cs0244.md
  docs/csharp/misc/cs0837.md
  docs/csharp/programming-guide/types/casting-and-type-conversions.md
  docs/csharp/specification/toc.yml
  docs/csharp/whats-new/csharp-11.md
  docs/csharp/whats-new/csharp-14.md
  docs/framework/data/adonet/sql/linq/basic-data-types.md
  docs/fundamentals/code-analysis/quality-rules/ca2263.md
  docs/fundamentals/code-analysis/style-rules/ide0082.md
Owners: @dotnet/docs, @BillWagner, @gewarren

update to .NET 10
  .github/workflows/snippets5000.yml
  docs/csharp/language-reference/operators/snippets/shared/operators.csproj
Owners: @dotnet/docs, @BillWagner

Respond to feedback.
  docs/csharp/whats-new/csharp-14.md
Owners: @BillWagner, @dotnet/docs

Apply suggestions from code review
  docs/csharp/language-reference/builtin-types/built-in-types.md
  docs/csharp/language-reference/configure-language-version.md
Owners: @BillWagner, @dotnet/docs

Update docs/csharp/whats-new/csharp-14.md
  docs/csharp/whats-new/csharp-14.md
Owners: @BillWagner, @dotnet/docs

Apply suggestions from code review
  docs/csharp/whats-new/csharp-14.md
Owners: @BillWagner, @dotnet/docs

Add docs updates for simpler lambda parameter modifiers
  docfx.json
  docs/csharp/language-reference/compiler-messages/params-arrays.md
  docs/csharp/language-reference/operators/lambda-expressions.md
  docs/csharp/language-reference/operators/lambda-operator.md
  docs/csharp/specification/toc.yml
  docs/csharp/whats-new/csharp-14.md
Owners: @dotnet/docs, @BillWagner

file naming.
  docfx.json
  docs/csharp/specification/toc.yml
Owners: @dotnet/docs, @BillWagner

update all dates
  docs/csharp/language-reference/builtin-types/built-in-types.md
  docs/csharp/language-reference/operators/lambda-expressions.md
  docs/csharp/language-reference/operators/lambda-operator.md
  docs/csharp/language-reference/operators/nameof.md
  docs/csharp/language-reference/operators/type-testing-and-cast.md
  docs/csharp/language-reference/operators/user-defined-conversion-operators.md
  docs/csharp/whats-new/csharp-14.md
Owners: @BillWagner, @dotnet/docs

fix build warning.
  docfx.json
Owners: @dotnet/docs

Update docs/csharp/whats-new/csharp-14.md
  docs/csharp/whats-new/csharp-14.md
Owners: @BillWagner, @dotnet/docs
