Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs

Update docs/core/testing/unit-testing-mstest-runner-intro.md
  docs/core/testing/unit-testing-mstest-runner-intro.md
Owners: @IEvangelist, @dotnet/docs

Update docs/core/testing/unit-testing-mstest-runner-intro.md
  docs/core/testing/unit-testing-mstest-runner-intro.md
Owners: @IEvangelist, @dotnet/docs

Update docs/core/testing/unit-testing-mstest-runner-intro.md
  docs/core/testing/unit-testing-mstest-runner-intro.md
Owners: @IEvangelist, @dotnet/docs

Update docs/core/project-sdk/msbuild-props.md
  docs/core/project-sdk/msbuild-props.md
Owners: @gewarren, @dotnet/docs

Update docs/core/project-sdk/msbuild-props.md
  docs/core/project-sdk/msbuild-props.md
Owners: @gewarren, @dotnet/docs

Use Microsoft.Testing.Platform in mstest runner intro
  docs/core/testing/unit-testing-mstest-runner-intro.md
Owners: @IEvangelist, @dotnet/docs

Update link
  docs/core/testing/unit-testing-mstest-sdk.md
Owners: @IEvangelist, @dotnet/docs

Update config.yml (#45077)
  .github/ISSUE_TEMPLATE/config.yml
Owners: @dotnet/docs

Remove MTP from fsharp and vb
  docs/core/testing/unit-testing-fsharp-with-mstest.md
  docs/core/testing/unit-testing-visual-basic-with-mstest.md
Owners: @IEvangelist, @dotnet/docs

Update passing-structures.md (#45088)
  docs/framework/interop/passing-structures.md
Owners: @dotnet/docs

Fix links
  docs/core/project-sdk/msbuild-props.md
  docs/core/testing/unit-testing-mstest-sdk.md
Owners: @gewarren, @dotnet/docs, @IEvangelist

Add missing boxing snippet (#45098)
  samples/snippets/csharp/VS_Snippets_VBCSharp/CsProgGuideTypes/CS/Class1.cs
Owners: @BillWagner, @IEvangelist, @dotnet/docs

add ai to hub page (#45079)
  docs/ai/index.yml
  docs/index.yml
Owners: @dotnet/docs

update service instructions
  docs/ai/quickstarts/quickstart-visual-studio-ai-templates.md
Owners: @dotnet/docs

Trim sections in Ubuntu overview article
  docs/core/install/linux-ubuntu.md
Owners: @adegeo, @dotnet/docs

fix relative links
  docs/ai/how-to/app-service-aoai-auth.md
  docs/ai/toc.yml
  docs/azure/migration/appcat/visual-studio-copilot.md
  docs/azure/sdk/aspnetcore-guidance.md
  docs/azure/sdk/authentication/system-assigned-managed-identity.md
  docs/azure/sdk/authentication/user-assigned-managed-identity.md
  docs/azure/sdk/includes/implement-managed-identity-concepts.md
  docs/core/whats-new/dotnet-10/overview.md
  docs/standard/native-interop/abi-support.md
Owners: @dotnet/docs, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @camsoper, @gewarren, @jkoritzinsky

reinstate deleted quickstarts
  docs/ai/quickstarts/build-chat-app.md
  docs/ai/quickstarts/build-vector-search-app.md
  docs/ai/quickstarts/chat-local-model.md
  docs/ai/quickstarts/create-assistant.md
  docs/ai/quickstarts/generate-images.md
  docs/ai/quickstarts/prompt-model.md
  docs/ai/quickstarts/snippets/evaluate-ai-responses/TestAI.csproj
  docs/ai/quickstarts/use-function-calling.md
Owners: @dotnet/docs

refactor into includes
  docs/ai/quickstarts/ai-templates.md
  docs/ai/quickstarts/includes/ai-templates-azure-openai.md
  docs/ai/quickstarts/includes/ai-templates-explore-app.md
  docs/ai/quickstarts/includes/ai-templates-github-models.md
  docs/ai/quickstarts/includes/ai-templates-ollama.md
  docs/ai/quickstarts/includes/ai-templates-openai.md
  docs/ai/quickstarts/quickstart-visual-studio-ai-templates.md
  docs/ai/toc.yml
  docs/zone-pivot-groups.yml
Owners: @dotnet/docs

fix toc, add redirects, delete replaycheck folder
  .openpublishing.redirection.ai.json
  .openpublishing.redirection.azure.json
  .replaycheck/docs/core/tutorials/top-level-templates.yml
  docs/ai/toc.yml
Owners: @dotnet/docs

fixes
  docs/ai/quickstarts/includes/ai-templates-azure-openai.md
  docs/ai/quickstarts/includes/ai-templates-explore-app.md
  docs/ai/quickstarts/includes/ai-templates-github-models.md
  docs/ai/quickstarts/includes/ai-templates-ollama.md
  docs/ai/quickstarts/includes/ai-templates-openai.md
Owners: @dotnet/docs

readd zone pivots file
  docs/zone-pivot-groups.yml
Owners: @dotnet/docs

toc fix
  docs/ai/toc.yml
Owners: @dotnet/docs

Fix lifecycle end dates and add additional previews (#45067)
  docs/core/porting/versioning-sdk-msbuild-vs.md
Owners: @dotnet/docs

fix link
  docs/ai/quickstarts/includes/ai-templates-azure-openai.md
  docs/ai/quickstarts/includes/ai-templates-github-models.md
  docs/ai/quickstarts/includes/ai-templates-ollama.md
  docs/ai/quickstarts/includes/ai-templates-openai.md
Owners: @dotnet/docs

Fix redirect URLs
  .openpublishing.redirection.azure.json
Owners: @dotnet/docs

h2 fix
  docs/ai/quickstarts/ai-templates.md
Owners: @dotnet/docs

fix zone
  docs/ai/quickstarts/includes/ai-templates-github-models.md
Owners: @dotnet/docs

fix formatting
  docs/ai/quickstarts/ai-templates.md
  docs/ai/quickstarts/includes/ai-templates-azure-openai.md
  docs/ai/quickstarts/includes/ai-templates-github-models.md
  docs/ai/quickstarts/includes/ai-templates-ollama.md
  docs/ai/quickstarts/includes/ai-templates-openai.md
  docs/zone-pivot-groups.yml
Owners: @dotnet/docs

Fix EventIDs for Method Rundown Events (#45080)
  docs/framework/performance/method-etw-events.md
Owners: @dotnet/docs

fix tabs
  docs/ai/quickstarts/includes/ai-templates-azure-openai.md
  docs/ai/quickstarts/includes/ai-templates-github-models.md
  docs/ai/quickstarts/includes/ai-templates-openai.md
Owners: @dotnet/docs

Fix package name in developer-app-secrets-storage.md (#45081)
  docs/architecture/microservices/secure-net-microservices-web-applications/developer-app-secrets-storage.md
Owners: @nishanil, @IEvangelist, @dotnet/docs

lint fixes
  docs/ai/quickstarts/includes/ai-templates-azure-openai.md
  docs/ai/quickstarts/includes/ai-templates-openai.md
Owners: @dotnet/docs

fix indenting
  docs/ai/quickstarts/includes/ai-templates-azure-openai.md
  docs/ai/quickstarts/includes/ai-templates-github-models.md
  docs/ai/quickstarts/includes/ai-templates-openai.md
Owners: @dotnet/docs

Update redirect-assembly-versions.md
  docs/framework/configure-apps/redirect-assembly-versions.md
Owners: @dotnet/docs

command fix
  docs/ai/quickstarts/includes/ai-templates-azure-openai.md
  docs/ai/quickstarts/includes/ai-templates-github-models.md
  docs/ai/quickstarts/includes/ai-templates-ollama.md
  docs/ai/quickstarts/includes/ai-templates-openai.md
Owners: @dotnet/docs

fix build warnings
  docs/framework/configure-apps/index.md
  docs/framework/configure-apps/redirect-assembly-versions.md
Owners: @dotnet/docs

add slnx option
  docs/core/project-sdk/msbuild-props-desktop.md
  docs/core/project-sdk/overview.md
  docs/core/tools/dotnet-migrate.md
  docs/core/tools/dotnet-publish.md
Owners: @gewarren, @dotnet/docs, @tdykstra

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Update gh models
  docs/ai/quickstarts/includes/ai-templates-github-models.md
Owners: @dotnet/docs

Update package index with latest published versions (#45105)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs
