Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs

updates
  docs/azure/sdk/authentication/local-development-service-principal.md
  docs/azure/sdk/snippets/authentication/Directory.Packages.props
  docs/azure/sdk/snippets/authentication/local-dev-service-principal/Program.cs
  docs/azure/sdk/snippets/authentication/local-dev-service-principal/Properties/launchSettings.json
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

Convert first tutorial to try.net snippets
  docs/csharp/index.yml
  docs/csharp/toc.yml
  docs/csharp/tour-of-csharp/index.yml
  docs/csharp/tour-of-csharp/tutorials/hello-world.md
  docs/csharp/tour-of-csharp/tutorials/hello-world.yml
  docs/csharp/tour-of-csharp/tutorials/index.md
  docs/csharp/tour-of-csharp/tutorials/local-environment.md
  docs/csharp/tour-of-csharp/tutorials/snippets/HelloWorld/HelloWorld.csproj
  docs/csharp/tour-of-csharp/tutorials/snippets/HelloWorld/Program.cs
  docs/index.yml
Owners: @BillWagner, @dotnet/docs

Add brief explanation of --allow-roll-forward to dotnet-tool-install
  docs/core/tools/dotnet-tool-install.md
Owners: @tdykstra, @dotnet/docs

Update the name of the --no-http-cache option
  docs/core/tools/dotnet-tool-install.md
Owners: @tdykstra, @dotnet/docs

Add --source option with the description
  docs/core/tools/dotnet-tool-install.md
Owners: @tdykstra, @dotnet/docs

Apply suggestions from code review
  docs/ai/quickstarts/ai-templates.md
  docs/ai/quickstarts/includes/ai-templates-azure-openai.md
  docs/ai/quickstarts/includes/ai-templates-github-models.md
  docs/ai/quickstarts/includes/ai-templates-ollama.md
  docs/ai/quickstarts/includes/ai-templates-openai.md
Owners: @dotnet/docs

Apply suggestions from code review
  docs/ai/quickstarts/includes/ai-templates-github-models.md
Owners: @dotnet/docs

Add note on using the interactive window.
  docs/csharp/tour-of-csharp/tutorials/hello-world.md
Owners: @BillWagner, @dotnet/docs

fixes
  docs/azure/sdk/authentication/local-development-service-principal.md
  docs/azure/sdk/includes/implement-service-principal-concepts.md
  docs/azure/sdk/includes/implement-service-principal.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

in progress
  docs/ai/quickstarts/build-vector-search-app.md
  docs/ai/quickstarts/create-assistant.md
  docs/ai/quickstarts/use-function-calling.md
  docs/ai/tutorials/evaluate-with-reporting.md
  docs/ai/tutorials/llm-eval.md
  docs/ai/tutorials/snippets/evaluate-with-reporting/MyTests.cs
  docs/ai/tutorials/snippets/evaluate-with-reporting/TestAIWithReporting.csproj
Owners: @dotnet/docs

Update docs/core/tools/dotnet-test.md
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Update docs/core/testing/microsoft-testing-platform-intro.md
  docs/core/testing/microsoft-testing-platform-intro.md
Owners: @IEvangelist, @dotnet/docs

Fix link
  docs/core/testing/microsoft-testing-platform-faq.md
Owners: @IEvangelist, @dotnet/docs

Apply suggestions from code review
  docs/ai/quickstarts/includes/ai-templates-azure-openai.md
  docs/ai/quickstarts/includes/ai-templates-github-models.md
  docs/ai/quickstarts/includes/ai-templates-ollama.md
  docs/ai/quickstarts/includes/ai-templates-openai.md
Owners: @dotnet/docs

Apply suggestions from code review
  docs/ai/quickstarts/includes/ai-templates-azure-openai.md
  docs/ai/quickstarts/includes/ai-templates-ollama.md
Owners: @dotnet/docs

fixes
  docs/ai/quickstarts/includes/ai-templates-github-models.md
  docs/ai/quickstarts/includes/ai-templates-ollama.md
  docs/ai/quickstarts/includes/ai-templates-openai.md
Owners: @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Update package index with latest published versions (#45148)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

New .NET AI chat app template quickstart (#44988)
  docs/ai/media/ai-templates/app-ui-question.png
  docs/ai/media/ai-templates/app-ui.png
  docs/ai/quickstarts/ai-templates.md
  docs/ai/quickstarts/includes/ai-templates-azure-openai.md
  docs/ai/quickstarts/includes/ai-templates-explore-app.md
  docs/ai/quickstarts/includes/ai-templates-github-models.md
  docs/ai/quickstarts/includes/ai-templates-ollama.md
  docs/ai/quickstarts/includes/ai-templates-openai.md
  docs/ai/toc.yml
  docs/zone-pivot-groups.yml
Owners: @dotnet/docs

Try removing files pattern (#45146)
  .github/policies/disallow-edits.yml
Owners: @dotnet/docs

Add -? option to Help in dotnet test (#45141)
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

More testing doc updates (#45095)
  .openpublishing.redirection.core.json
  docs/core/project-sdk/msbuild-props.md
  docs/core/testing/index.md
  docs/core/testing/microsoft-testing-platform-architecture-capabilities.md
  docs/core/testing/microsoft-testing-platform-architecture-extensions.md
  docs/core/testing/microsoft-testing-platform-architecture-services.md
  docs/core/testing/microsoft-testing-platform-architecture.md
  docs/core/testing/microsoft-testing-platform-config.md
  docs/core/testing/microsoft-testing-platform-diagnostics.md
  docs/core/testing/microsoft-testing-platform-exit-codes.md
  docs/core/testing/microsoft-testing-platform-extensions-code-coverage.md
  docs/core/testing/microsoft-testing-platform-extensions-diagnostics.md
  docs/core/testing/microsoft-testing-platform-extensions-fakes.md
  docs/core/testing/microsoft-testing-platform-extensions-hosting.md
  docs/core/testing/microsoft-testing-platform-extensions-output.md
  docs/core/testing/microsoft-testing-platform-extensions-policy.md
  docs/core/testing/microsoft-testing-platform-extensions-test-reports.md
  docs/core/testing/microsoft-testing-platform-extensions-vstest-bridge.md
  docs/core/testing/microsoft-testing-platform-extensions.md
  docs/core/testing/microsoft-testing-platform-faq.md
  docs/core/testing/microsoft-testing-platform-integration-dotnet-test.md
  docs/core/testing/microsoft-testing-platform-intro.md
  docs/core/testing/microsoft-testing-platform-telemetry.md
  docs/core/testing/microsoft-testing-platform-vs-vstest.md
  docs/core/testing/unit-testing-mstest-configure.md
  docs/core/testing/unit-testing-mstest-migration-from-v1-to-v3.md
  docs/core/testing/unit-testing-mstest-runner-intro.md
  docs/core/testing/unit-testing-mstest-sdk.md
  docs/core/testing/unit-testing-nunit-runner-intro.md
  docs/core/tools/dotnet-test.md
  docs/navigate/devops-testing/toc.yml
  docs/whats-new/dotnet-docs-mod1.md
Owners: @dotnet/docs, @gewarren, @IEvangelist, @tdykstra, @billwagner

acrolinx fixes
  docs/azure/sdk/authentication/local-development-service-principal.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

Add a sequester monthly mode.
  .github/workflows/quest-bulk.yml
Owners: @dotnet/docs

fix spaces
  docs/azure/sdk/authentication/local-development-service-principal.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

fix include
  docs/azure/sdk/includes/implement-service-principal-concepts.md
  docs/azure/sdk/includes/implement-service-principal.md
  docs/azure/sdk/snippets/authentication/local-dev-service-principal/Program.cs
Owners: @jsquire, @alexwolfmsft, @CamSoper, @scottaddie, @dotnet/docs

remove unused assets
  docs/azure/sdk/includes/local-dev-app-registration-azure-portal-1.md
  docs/azure/sdk/includes/local-dev-app-registration-azure-portal-2.md
  docs/azure/sdk/includes/local-dev-app-registration-azure-portal-3.md
  docs/azure/sdk/includes/local-dev-app-registration-azure-portal-4.md
  docs/azure/sdk/includes/local-dev-app-registration-azure-portal-5.md
  docs/azure/sdk/includes/local-dev-app-registration-azure-portal-6.md
  docs/azure/sdk/includes/local-dev-app-registration-azure-portal-7.md
  docs/azure/sdk/media/local-dev-app-registration-azure-portal-1-240px.png
  docs/azure/sdk/media/local-dev-app-registration-azure-portal-1.png
  docs/azure/sdk/media/local-dev-app-registration-azure-portal-2-240px.png
  docs/azure/sdk/media/local-dev-app-registration-azure-portal-2.png
  docs/azure/sdk/media/local-dev-app-registration-azure-portal-3-240px.png
  docs/azure/sdk/media/local-dev-app-registration-azure-portal-3.png
  docs/azure/sdk/media/local-dev-app-registration-azure-portal-4-240px.png
  docs/azure/sdk/media/local-dev-app-registration-azure-portal-4.png
  docs/azure/sdk/media/local-dev-app-registration-azure-portal-5-240px.png
  docs/azure/sdk/media/local-dev-app-registration-azure-portal-5.png
  docs/azure/sdk/media/local-dev-app-registration-azure-portal-6-240px.png
  docs/azure/sdk/media/local-dev-app-registration-azure-portal-6.png
  docs/azure/sdk/media/local-dev-app-registration-azure-portal-7-240px.png
  docs/azure/sdk/media/local-dev-app-registration-azure-portal-7.png
Owners: @jsquire, @alexwolfmsft, @CamSoper, @scottaddie, @dotnet/docs

typos
  docs/azure/sdk/authentication/local-development-service-principal.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

fix link
  docs/azure/sdk/includes/implement-service-principal.md
Owners: @jsquire, @alexwolfmsft, @CamSoper, @scottaddie, @dotnet/docs

Update disallow-edits.yml
  .github/policies/disallow-edits.yml
Owners: @dotnet/docs

Update disallow-edits.yml (#45156)
  .github/policies/disallow-edits.yml
Owners: @dotnet/docs

Update disallow-edits.yml
  .github/policies/disallow-edits.yml
Owners: @dotnet/docs

Update disallow-edits.yml (#45157)
  .github/policies/disallow-edits.yml
Owners: @dotnet/docs

Consolidate the Numbers tutorial
  .openpublishing.redirection.csharp.json
  docs/core/introduction.md
  docs/csharp/toc.yml
  docs/csharp/tour-of-csharp/tutorials/index.md
  docs/csharp/tour-of-csharp/tutorials/local-environment.md
  docs/csharp/tour-of-csharp/tutorials/numbers-in-csharp-local.md
  docs/csharp/tour-of-csharp/tutorials/numbers-in-csharp.md
  docs/csharp/tour-of-csharp/tutorials/numbers-in-csharp.yml
  docs/csharp/tour-of-csharp/tutorials/snippets/NumbersInCsharp/NumbersInCsharp.csproj
  docs/csharp/tour-of-csharp/tutorials/snippets/NumbersInCsharp/Program.cs
Owners: @dotnet/docs, @BillWagner

Apply suggestions from code review
  docs/azure/sdk/includes/implement-service-principal-concepts.md
  docs/azure/sdk/snippets/authentication/local-dev-service-principal/Program.cs
Owners: @jsquire, @alexwolfmsft, @CamSoper, @scottaddie, @dotnet/docs

edit pass
  docs/fundamentals/networking/http/httpclient.md
Owners: @dotnet/docs

add temporary bookmark links
  docs/fundamentals/networking/http/httpclient.md
Owners: @dotnet/docs

Consolidate the Branches tutorial
  .openpublishing.redirection.csharp.json
  docs/csharp/toc.yml
  docs/csharp/tour-of-csharp/tips-for-python-developers.md
  docs/csharp/tour-of-csharp/tutorials/branches-and-loops-local.md
  docs/csharp/tour-of-csharp/tutorials/branches-and-loops.md
  docs/csharp/tour-of-csharp/tutorials/branches-and-loops.yml
  docs/csharp/tour-of-csharp/tutorials/index.md
  docs/csharp/tour-of-csharp/tutorials/local-environment.md
  docs/csharp/tour-of-csharp/tutorials/numbers-in-csharp.md
  docs/csharp/tour-of-csharp/tutorials/snippets/BranchesAndLoops/BranchesAndLoops.csproj
  docs/csharp/tour-of-csharp/tutorials/snippets/BranchesAndLoops/Program.cs
Owners: @dotnet/docs, @BillWagner

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Update package index with latest published versions (#45153)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs
