Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs

remove list-tests from dotnet test (with MTP) (#45074)
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

What's new in .NET 10 - broken links to GitHub (#45053)
  docs/core/whats-new/dotnet-10/overview.md
Owners: @camsoper, @gewarren, @dotnet/docs

List Source Link in the set of deterministic inputs
  docs/csharp/language-reference/compiler-options/code-generation.md
Owners: @BillWagner, @dotnet/docs

Reorganize Documentation: Move ReadOlny Methods description its own section (#44947)
  docs/orleans/grains/request-scheduling.md
Owners: @IEvangelist, @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Update package index with latest published versions (#45116)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Update docs/core/tools/dotnet-list-package.md
  docs/core/tools/dotnet-list-package.md
Owners: @tdykstra, @dotnet/docs

Apply suggestions from code review
  docs/core/diagnostics/dotnet-monitor.md
Owners: @tommcdon, @dotnet/docs

Update ms.date
  docs/core/diagnostics/dotnet-monitor.md
Owners: @tommcdon, @dotnet/docs

Fix lint
  docs/core/diagnostics/dotnet-monitor.md
Owners: @tommcdon, @dotnet/docs

Apply suggestions from code review
  docs/core/tools/dotnet-list-package.md
Owners: @tdykstra, @dotnet/docs

`dotnet list package --vulnerable` uses AuditSources (#44722)
  docs/core/tools/dotnet-list-package.md
Owners: @tdykstra, @dotnet/docs

Add 'New' suffix
  docs/fundamentals/code-analysis/quality-rules/ca1711.md
Owners: @gewarren, @dotnet/docs

Update: Document --expiration parameter in dotnet-monitor (Fixes #44948) (#44976)
  docs/core/diagnostics/dotnet-monitor.md
Owners: @tommcdon, @dotnet/docs

Update MTP and Fakes documentation (#44698)
  docs/core/testing/unit-testing-platform-faq.md
  docs/core/testing/unit-testing-platform-vs-vstest.md
Owners: @IEvangelist, @dotnet/docs

Update docs/framework/configure-apps/redirect-assembly-versions.md
  docs/framework/configure-apps/redirect-assembly-versions.md
Owners: @dotnet/docs

respond to feedback
  docs/framework/configure-apps/redirect-assembly-versions.md
Owners: @dotnet/docs

List Source Link in the set of deterministic inputs (#45110)
  docs/csharp/language-reference/compiler-options/code-generation.md
Owners: @BillWagner, @dotnet/docs

Add 'New' suffix (#45120)
  docs/fundamentals/code-analysis/quality-rules/ca1711.md
Owners: @gewarren, @dotnet/docs

Add tip for NuGet packages (#45104)
  docs/framework/configure-apps/index.md
  docs/framework/configure-apps/redirect-assembly-versions.md
Owners: @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Owners: @dotnet/docs

Update guidance and remove tables
  docs/azure/media/app-registration.png
  docs/azure/media/app-role-assignment.png
  docs/azure/media/create-group.png
  docs/azure/sdk/authentication/local-development-service-principal.md
  docs/azure/sdk/includes/implement-service-principal.md
  docs/azure/sdk/snippets/authentication/local-dev-service-principal/Program.cs
  docs/azure/sdk/snippets/authentication/local-dev-service-principal/Properties/launchSettings.json
  docs/azure/sdk/snippets/authentication/local-dev-service-principal/UserAssignedIdentityClientId.csproj
  docs/azure/sdk/snippets/authentication/local-dev-service-principal/appsettings.Development.json
  docs/azure/sdk/snippets/authentication/local-dev-service-principal/appsettings.json
Owners: @alexwolfmsft, @CamSoper, @dotnet/docs, @christothes, @schaabs, @scottaddie, @jsquire

Trim sections in Ubuntu overview article (#45103)
  docs/core/install/linux-ubuntu.md
Owners: @adegeo, @dotnet/docs

test policy only
  .github/policies/disallow-edits.yml
Owners: @dotnet/docs

typo
  .github/policies/disallow-edits.yml
Owners: @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Owners: @dotnet/docs

Correcting dotnet-add-package.md
  docs/core/tools/dotnet-add-package.md
Owners: @tdykstra, @dotnet/docs

Update chat-local-model.md - Update phi3:mini -> phi4-mini
  docs/ai/quickstarts/chat-local-model.md
Owners: @dotnet/docs

fixes
  docs/azure/sdk/authentication/local-development-service-principal.md
  docs/azure/sdk/includes/implement-service-principal.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

fix quote
  docs/azure/sdk/includes/implement-service-principal.md
Owners: @jsquire, @alexwolfmsft, @CamSoper, @scottaddie, @dotnet/docs

Add -? option to Help
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Update package index with latest published versions (#45122)
  docs/azure/includes/dotnet-all.md
Owners: @dotnet/docs

Test policy for azure-docs-pr (#45127)
  .github/policies/disallow-edits.yml
Owners: @dotnet/docs

Fix formatting
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Update package index with latest published versions (#45143)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Add platform id to feedback template (#45097)
  .github/ISSUE_TEMPLATE/z-customer-feedback.yml
Owners: @dotnet/docs

Update language-versioning.md
  docs/csharp/language-reference/language-versioning.md
Owners: @BillWagner, @dotnet/docs

try removing files pattern
  .github/policies/disallow-edits.yml
Owners: @dotnet/docs

fix validation
  .github/policies/disallow-edits.yml
Owners: @dotnet/docs
