Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

final edit pass
  docs/csharp/how-to/concatenate-multiple-strings.md
  docs/csharp/how-to/modify-string-contents.md
  docs/csharp/how-to/parse-strings-using-split.md
  docs/csharp/how-to/search-strings.md
Owners: @BillWagner, @dotnet/docs

Apply suggestions from code review
  docs/azure/sdk/includes/implement-user-assigned-identity.md
Owners: @jsquire, @alexwolfmsft, @CamSoper, @scottaddie, @dotnet/docs

Apply suggestions from code review
  docs/csharp/how-to/search-strings.md
Owners: @BillWagner, @dotnet/docs

respond to feedback.
  docs/csharp/how-to/modify-string-contents.md
Owners: @BillWagner, @dotnet/docs

Update httpclient-factory.md (#44942)
  docs/core/extensions/httpclient-factory.md
Owners: @IEvangelist, @dotnet/docs

Freshen string comparison code (#44736)
  docs/csharp/how-to/compare-strings.md
  docs/csharp/how-to/concatenate-multiple-strings.md
  docs/csharp/how-to/modify-string-contents.md
  docs/csharp/how-to/parse-strings-using-split.md
  docs/csharp/how-to/search-strings.md
  docs/csharp/how-to/snippets/strings/CompareStrings.cs
  docs/csharp/how-to/snippets/strings/Concatenate.cs
  docs/csharp/how-to/snippets/strings/ModifyStrings.cs
  docs/csharp/how-to/snippets/strings/ParseStringsUsingSplit.cs
  docs/csharp/how-to/snippets/strings/Program.cs
  docs/csharp/how-to/snippets/strings/SearchStrings.cs
  docs/csharp/how-to/snippets/strings/strings.csproj
  docs/csharp/language-reference/operators/equality-operators.md
  docs/csharp/language-reference/operators/is.md
  docs/csharp/language-reference/operators/patterns.md
  docs/csharp/language-reference/operators/snippets/shared/EqualityOperators.cs
  docs/csharp/language-reference/operators/snippets/shared/operators.csproj
  samples/snippets/csharp/how-to/strings/CompareStrings.cs
  samples/snippets/csharp/how-to/strings/Concatenate.cs
  samples/snippets/csharp/how-to/strings/ModifyStrings.cs
  samples/snippets/csharp/how-to/strings/ParseStringsUsingSplit.cs
  samples/snippets/csharp/how-to/strings/Program.cs
  samples/snippets/csharp/how-to/strings/SearchStrings.cs
Owners: @BillWagner, @dotnet/docs, @IEvangelist

Fix orleans grain->persistence->index page (#44742)
  docs/orleans/grains/grain-persistence/index.md
Owners: @IEvangelist, @dotnet/docs

Update selection-statements.md - dif between switch statement and switch expression explained
  docs/csharp/language-reference/statements/selection-statements.md
Owners: @BillWagner, @dotnet/docs

update container labels docs with complete table of labels provided by the tooling (#44638)
  docs/core/containers/publish-configuration.md
Owners: @dotnet/docs

Update selection-statements.md - fixed example meaning, highlighted difference between switch statement and switch expression
  docs/csharp/language-reference/statements/selection-statements.md
Owners: @BillWagner, @dotnet/docs

Apply suggestions from code review
  docs/azure/sdk/authentication/index.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

PR tweaks
  docs/azure/sdk/authentication/index.md
  docs/azure/sdk/snippets/authentication/system-assigned-managed-identity/Program.cs
  docs/azure/sdk/snippets/authentication/user-assigned-managed-identity/Program.cs
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

Update docs/fundamentals/apicompat/diagnostic-ids.md
  docs/fundamentals/apicompat/diagnostic-ids.md
Owners: @dotnet/docs

Apply suggestions from code review
  docs/core/diagnostics/built-in-metrics-runtime.md
Owners: @tommcdon, @dotnet/docs

Update .openpublishing.redirection.core.json
  .openpublishing.redirection.core.json
Owners: @dotnet/docs

Update diagnostic ID CP0012 description (#44889)
  docs/fundamentals/apicompat/diagnostic-ids.md
Owners: @dotnet/docs

Make "Built in Metrics for Runtime" doc accurate for memory metrics (#44616)
  docs/core/diagnostics/built-in-metrics-runtime.md
Owners: @tommcdon, @dotnet/docs

formatting
  docs/core/compatibility/serialization/9.0/json-metadata-reader.md
Owners: @camsoper, @gewarren, @dotnet/docs

Apply suggestions from code review
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

lint
  docs/core/compatibility/serialization/9.0/json-metadata-reader.md
Owners: @camsoper, @gewarren, @dotnet/docs

toc and misc
  docs/core/compatibility/9.0.md
  docs/core/compatibility/serialization/9.0/json-metadata-reader.md
  docs/core/compatibility/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

path
  docs/core/compatibility/serialization/9.0/json-metadata-reader.md
Owners: @camsoper, @gewarren, @dotnet/docs

Added SDK
  docs/core/whats-new/dotnet-10/sdk.md
Owners: @camsoper, @gewarren, @dotnet/docs

whoopsie
  docs/core/whats-new/dotnet-10/sdk.md
Owners: @camsoper, @gewarren, @dotnet/docs

Reorganize Documentation: Move ReadOlny Methods description its own section
  docs/orleans/grains/request-scheduling.md
Owners: @IEvangelist, @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Add documentation to the new dotnet test (#44866)
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Improve MSTest testconfig doc
  docs/core/testing/unit-testing-mstest-configure.md
Owners: @IEvangelist, @dotnet/docs

Fix incorrect "then" usage
  docs/framework/tools/ngen-exe-native-image-generator.md
  docs/framework/wcf/feature-details/messaging-protocols.md
Owners: @gewarren, @dotnet/docs, @HongGit

Updating prompt
  docs/core/additional-tools/dotnet-coverage.md
Owners: @dotnet/docs

Update package index with latest published versions (#44944)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Improve MSTest testconfig doc (#44951)
  docs/core/testing/unit-testing-mstest-configure.md
Owners: @IEvangelist, @dotnet/docs

Fix incorrect "then" usage (#44953)
  docs/framework/tools/ngen-exe-native-image-generator.md
  docs/framework/wcf/feature-details/messaging-protocols.md
Owners: @gewarren, @dotnet/docs, @HongGit

Apply suggestions from code review
  docs/azure/sdk/authentication/index.md
  docs/azure/sdk/snippets/authentication/user-assigned-managed-identity/Program.cs
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

Apply suggestions from code review
  docs/azure/sdk/authentication/index.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

Remove misleading sample
  docs/csharp/fundamentals/functional/discards.md
  docs/csharp/fundamentals/functional/snippets/discards/standalone-discard2.cs
Owners: @BillWagner, @dotnet/docs

Remove misleading sample (#44966)
  docs/csharp/fundamentals/functional/discards.md
  docs/csharp/fundamentals/functional/snippets/discards/standalone-discard2.cs
Owners: @BillWagner, @dotnet/docs

Add description
  docs/ai/conceptual/evaluation-libraries.md
Owners: @dotnet/docs

Apply suggestions from code review
  docs/azure/sdk/authentication/index.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

Update user-assigned and system-assigned managed identity code, overview edits (#44872)
  docs/azure/sdk/authentication/index.md
  docs/azure/sdk/authentication/system-assigned-managed-identity.md
  docs/azure/sdk/authentication/user-assigned-managed-identity.md
  docs/azure/sdk/includes/implement-managed-identity-concepts.md
  docs/azure/sdk/includes/implement-system-assigned-identity.md
  docs/azure/sdk/includes/implement-user-assigned-identity.md
  docs/azure/sdk/snippets/authentication/system-assigned-managed-identity/Program.cs
  docs/azure/sdk/snippets/authentication/system-assigned-managed-identity/SystemAssignedIdentityClientId.csproj
  docs/azure/sdk/snippets/authentication/system-assigned-managed-identity/appsettings.Development.json
  docs/azure/sdk/snippets/authentication/system-assigned-managed-identity/appsettings.json
  docs/azure/sdk/snippets/authentication/user-assigned-managed-identity/Program.cs
  docs/azure/sdk/snippets/authentication/user-assigned-managed-identity/UserAssignedIdentityClientId.csproj
  docs/azure/sdk/snippets/authentication/user-assigned-managed-identity/appsettings.Development.json
  docs/azure/sdk/snippets/authentication/user-assigned-managed-identity/appsettings.json
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs
