Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs

clarified example for return values on methods
  docs/csharp/methods.md
Owners: @BillWagner, @dotnet/docs

Fixed small type - SimpleMathExtension
  docs/csharp/snippets/methods/return44.cs
Owners: @BillWagner, @dotnet/docs

Made a separate class for SimpleMathExtension
  docs/csharp/snippets/methods/return44.cs
Owners: @BillWagner, @dotnet/docs

Swapped the order of the sentences describing the examples
  docs/csharp/methods.md
Owners: @BillWagner, @dotnet/docs

Apply suggestions from code review
  docs/azure/sdk/authentication/user-assigned-managed-identity.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

simplify ID list
  docs/azure/sdk/authentication/user-assigned-managed-identity.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

Update docs/core/testing/unit-testing-mstest-writing-tests-attributes.md
  docs/core/testing/unit-testing-mstest-writing-tests-attributes.md
Owners: @IEvangelist, @dotnet/docs

PR fixes
  docs/azure/sdk/authentication/user-assigned-managed-identity.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

Apply suggestions from code review
  docs/azure/sdk/authentication/user-assigned-managed-identity.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

fixes
  docs/azure/sdk/authentication/user-assigned-managed-identity.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

Apply suggestions from code review
  docs/core/testing/unit-testing-mstest-writing-tests-attributes.md
Owners: @IEvangelist, @dotnet/docs

Add more links to MSTest api docs (#44716)
  docs/core/testing/unit-testing-mstest-writing-tests-assertions.md
  docs/core/testing/unit-testing-mstest-writing-tests-attributes.md
  docs/core/testing/unit-testing-mstest-writing-tests-testcontext.md
Owners: @IEvangelist, @dotnet/docs

User-assigned identity flow (#44718)
  .openpublishing.redirection.azure.json
  docs/azure/TOC.yml
  docs/azure/sdk/authentication/system-assigned-managed-identity.md
  docs/azure/sdk/authentication/user-assigned-managed-identity.md
  docs/azure/sdk/includes/implement-user-assigned-identity.md
  docs/azure/sdk/includes/managed-identity-concepts.md
  docs/azure/sdk/includes/sdk-auth-overview-managed-identity.md
  docs/azure/sdk/media/add-role-assignment.png
  docs/azure/sdk/media/add-user-assigned-identity-to-app.png
  docs/azure/sdk/media/user-assigned-identity-assign-roles.png
  docs/azure/sdk/media/user-assigned-identity-create.png
  docs/azure/sdk/media/user-assigned-identity-form.png
Owners: @dotnet/docs, @alexwolfmsft, @CamSoper, @christothes, @schaabs, @scottaddie, @jsquire

Update understanding-tokens.md
  docs/ai/conceptual/understanding-tokens.md
Owners: @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Owners: @dotnet/docs

update and add january non-sec update release
  docs/framework/release-notes/2025/01-14-january-cumulative-update.md
  docs/framework/release-notes/2025/01-28-january-cumulative-update-preview.md
  docs/framework/release-notes/release-notes.md
  docs/framework/toc.yml
Owners: @dotnet/docs

Update January 2025 cumulative update preview
  docs/framework/release-notes/2025/01-28-january-cumulative-update-preview.md
Owners: @dotnet/docs

Update docs/framework/release-notes/2025/01-28-january-cumulative-update-preview.md
  docs/framework/release-notes/2025/01-28-january-cumulative-update-preview.md
Owners: @dotnet/docs

Add AppContextSwitchOverride to release notes
  docs/framework/release-notes/2025/01-28-january-cumulative-update-preview.md
Owners: @dotnet/docs

fix code
  docs/framework/release-notes/2025/01-28-january-cumulative-update-preview.md
Owners: @dotnet/docs

Updates from editor
  docs/framework/release-notes/2025/01-28-january-cumulative-update-preview.md
Owners: @dotnet/docs

ProfileState class DateOfBirth add get set
  docs/orleans/grains/grain-persistence/index.md
Owners: @IEvangelist, @dotnet/docs

Updated method invocation snippet to reverse arguments as described (#44733)
  docs/csharp/snippets/methods/named1.cs
Owners: @BillWagner, @dotnet/docs

Update understanding-tokens.md (#44739)
  docs/ai/conceptual/understanding-tokens.md
Owners: @dotnet/docs

Clarified examples regarding return values (#44735)
  docs/csharp/methods.md
  docs/csharp/snippets/methods/return44.cs
Owners: @BillWagner, @dotnet/docs

Update package index with latest published versions (#44740)
  docs/azure/includes/dotnet-all.md
Owners: @dotnet/docs

Update docs/framework/release-notes/2025/01-28-january-cumulative-update-preview.md
  docs/framework/release-notes/2025/01-28-january-cumulative-update-preview.md
Owners: @dotnet/docs

update and add january non-sec update release (#44741)
  docs/framework/release-notes/2025/01-14-january-cumulative-update.md
  docs/framework/release-notes/2025/01-28-january-cumulative-update-preview.md
  docs/framework/release-notes/release-notes.md
  docs/framework/toc.yml
Owners: @dotnet/docs

Update ms.date
  docs/standard/serialization/system-text-json/deserialization.md
Owners: @gewarren, @dotnet/docs

Update ms.date (#44747)
  docs/standard/serialization/system-text-json/deserialization.md
Owners: @gewarren, @dotnet/docs

update ms.date
  docs/standard/serialization/system-text-json/customize-properties.md
  docs/standard/serialization/system-text-json/how-to.md
  docs/standard/serialization/system-text-json/migrate-from-newtonsoft.md
Owners: @gewarren, @dotnet/docs

Initial toc refactor
  docs/ai/how-to/app-service-db-auth.md
  docs/ai/how-to/snippets/hosted-app-db-auth/Program.cs
  docs/ai/how-to/snippets/hosted-app-db-auth/appsettings.Development.json
  docs/ai/how-to/snippets/hosted-app-db-auth/appsettings.json
  docs/ai/how-to/snippets/hosted-app-db-auth/hosted-app-auth.csproj
  docs/ai/how-to/snippets/hosted-app-db-auth/hosted-app-auth.http
  docs/ai/how-to/snippets/semantic-kernel/IdentityExamples.cs
  docs/ai/how-to/snippets/semantic-kernel/LocalModelExamples.cs
  docs/ai/how-to/snippets/semantic-kernel/MemoryExamples.cs
  docs/ai/how-to/snippets/semantic-kernel/Program.cs
  docs/ai/how-to/snippets/semantic-kernel/model/MyModelRequest.cs
  docs/ai/how-to/snippets/semantic-kernel/model/MyModelResponse.cs
  docs/ai/how-to/snippets/semantic-kernel/semantic-kernel.csproj
  docs/ai/how-to/snippets/semantic-kernel/services/MyChatCompletionService.cs
  docs/ai/how-to/snippets/semantic-kernel/services/MyTextGenerationService.cs
  docs/ai/toc.yml
Owners: @dotnet/docs

remove doc
  docs/ai/how-to/app-service-db-auth.md
Owners: @dotnet/docs

Redirect
  .openpublishing.redirection.ai.json
Owners: @dotnet/docs

fix link
  docs/ai/how-to/app-service-aoai-auth.md
Owners: @dotnet/docs

Fix toc block
  docs/ai/toc.yml
Owners: @dotnet/docs

context link update
  docs/ai/toc.yml
Owners: @dotnet/docs

remove unused files
  docs/ai/how-to/snippets/hosted-app-db-auth/Program.cs
  docs/ai/how-to/snippets/hosted-app-db-auth/appsettings.Development.json
  docs/ai/how-to/snippets/hosted-app-db-auth/appsettings.json
  docs/ai/how-to/snippets/hosted-app-db-auth/hosted-app-auth.csproj
  docs/ai/how-to/snippets/hosted-app-db-auth/hosted-app-auth.http
Owners: @dotnet/docs

fix toc
  docs/ai/toc.yml
Owners: @dotnet/docs

Apply suggestions from code review
  docs/ai/toc.yml
Owners: @dotnet/docs
