Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs

Add rule for the closing newline on raw string literals
  docs/csharp/language-reference/tokens/raw-string.md
Owners: @BillWagner, @dotnet/docs

add 'return' keyword in sample code (#44506)
  docs/orleans/grains/grain-identity.md
Owners: @IEvangelist, @dotnet/docs

Fixed bug 40060. (#44511)
  docs/visual-basic/reference/command-line-compiler/index.md
Owners: @KathleenDollard, @BillWagner, @dotnet/docs

Update package index with latest published versions (#44510)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Add example for `Option.defaultValue` function
  docs/fsharp/language-reference/options.md
Owners: @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @dotnet/docs

Enhance F# Options Documentation: Add Conversion Examples to "Converting to Other Types" Section (#44512)
  docs/fsharp/language-reference/options.md
Owners: @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @dotnet/docs

Add token lifetime and caching best practice (#44517)
  docs/azure/sdk/authentication/authentication-best-practices.md
  docs/azure/sdk/snippets/authentication/best-practices/Program.cs
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

Update MSTEST0015 doc to reflect enabled by default change in 3.8 (#44525)
  docs/core/testing/mstest-analyzers/mstest0015.md
Owners: @IEvangelist, @dotnet/docs

Added third party provider (#44523)
  docs/core/extensions/logging-providers.md
Owners: @IEvangelist, @dotnet/docs

new assistants quickstart
  docs/ai/media/assistants/generated-sales-graph.png
  docs/ai/quickstarts/quickstart-agents.md
  docs/ai/quickstarts/snippets/assistants/AzureOpenAI/AIAssistants.csproj
  docs/ai/quickstarts/snippets/assistants/AzureOpenAI/Program.cs
  docs/ai/quickstarts/snippets/assistants/OpenAI/AIAssistants.csproj
  docs/ai/quickstarts/snippets/assistants/OpenAI/Program.cs
Owners: @dotnet/docs

image fix
  docs/ai/quickstarts/quickstart-agents.md
Owners: @dotnet/docs

Address issue #44537
  docs/core/containers/publish-configuration.md
Owners: @dotnet/docs

fix image
  docs/ai/quickstarts/quickstart-agents.md
Owners: @dotnet/docs

Remove tabs
  docs/core/containers/publish-configuration.md
Owners: @dotnet/docs

fix spacing
  docs/ai/quickstarts/quickstart-agents.md
Owners: @dotnet/docs

zone pivot test
  docs/ai/quickstarts/quickstart-agents.md
  docs/ai/quickstarts/snippets/assistants/AzureOpenAI/Program.cs
  docs/ai/quickstarts/snippets/assistants/OpenAI/Program.cs
Owners: @dotnet/docs

Provide proper escaping of delimiters, terminators, and quotes (#44538)
  docs/core/containers/publish-configuration.md
Owners: @dotnet/docs

Add F1 keyword for `using static`
  docs/csharp/language-reference/keywords/using-directive.md
Owners: @BillWagner, @dotnet/docs

proofread and date check.
  docs/csharp/language-reference/keywords/using-directive.md
Owners: @BillWagner, @dotnet/docs

code comments
  docs/ai/quickstarts/quickstart-agents.md
  docs/ai/quickstarts/snippets/assistants/AzureOpenAI/Program.cs
  docs/ai/quickstarts/snippets/assistants/OpenAI/Program.cs
Owners: @dotnet/docs

Resolved comments.
  docs/fsharp/language-reference/literals.md
Owners: @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @dotnet/docs

fixes
  docs/ai/quickstarts/quickstart-agents.md
Owners: @dotnet/docs

add toc link
  docs/ai/quickstarts/quickstart-assistant.md
  docs/ai/toc.yml
Owners: @dotnet/docs

rename file
  docs/ai/quickstarts/quickstart-assistants.md
Owners: @dotnet/docs

Add example of `{ }` pattern
  docs/csharp/fundamentals/functional/pattern-matching.md
  docs/csharp/fundamentals/functional/snippets/patterns/Program.cs
  docs/csharp/fundamentals/functional/snippets/patterns/patterns.csproj
Owners: @BillWagner, @dotnet/docs

Add F1 keyword for `using static` (#44540)
  docs/csharp/language-reference/keywords/using-directive.md
Owners: @BillWagner, @dotnet/docs

Remove empty see also section (#44514)
  docs/core/compatibility/containers/9.0/no-zlib.md
Owners: @camsoper, @gewarren, @dotnet/docs

fix snippet marker
  docs/csharp/fundamentals/functional/snippets/patterns/Program.cs
Owners: @BillWagner, @dotnet/docs

Clarify ref struct interface impl
  docs/csharp/language-reference/builtin-types/ref-struct.md
  docs/csharp/whats-new/csharp-13.md
Owners: @BillWagner, @dotnet/docs

Try to fix live protection
  .github/workflows/live-protection.yml
Owners: @dotnet/docs

Try to fix live protection (#44546)
  .github/workflows/live-protection.yml
Owners: @dotnet/docs

Update index.yml
  docs/index.yml
Owners: @dotnet/docs

Apply suggestions from code review
  docs/fundamentals/runtime-libraries/preview-apis.md
Owners: @dotnet/docs

Move preview APIs article to runtime libraries section of docs (#44436)
  .openpublishing.redirection.fundamentals.json
  docs/core/whats-new/dotnet-9/overview.md
  docs/fundamentals/apicompat/preview-apis.md
  docs/fundamentals/runtime-libraries/preview-apis.md
  docs/fundamentals/syslib-diagnostics/experimental-overview.md
  docs/fundamentals/toc.yml
  docs/navigate/tools-diagnostics/toc.yml
  docs/standard/library-guidance/nuget.md
  docs/standard/library-guidance/versioning.md
Owners: @dotnet/docs, @camsoper, @gewarren, @jamesnk, @IEvangelist

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Add rule for the closing newline on raw string literals (#44535)
  docs/csharp/language-reference/tokens/raw-string.md
Owners: @BillWagner, @dotnet/docs

Add new SDK versions and clean up out of support versions (#44418)
  docs/core/porting/versioning-sdk-msbuild-vs.md
Owners: @dotnet/docs

Fixes #43110
  docs/csharp/language-reference/attributes/pseudo-attributes.md
Owners: @BillWagner, @dotnet/docs

Add additional attributes
  docs/csharp/language-reference/attributes/general.md
  docs/csharp/language-reference/attributes/pseudo-attributes.md
  docs/csharp/language-reference/toc.yml
Owners: @BillWagner, @dotnet/docs

Add any atributes to displayName
  docs/csharp/language-reference/toc.yml
Owners: @BillWagner, @dotnet/docs
