Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

Update package index with latest published versions (#44679)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Update note about MTP arguments (#44678)
  docs/core/testing/unit-testing-platform-vs-vstest.md
Owners: @IEvangelist, @dotnet/docs

Apply suggestions from code review
  docs/core/testing/unit-testing-platform-extensions-code-coverage.md
Owners: @IEvangelist, @dotnet/docs

Improve MTP coverage doc (#44522)
  docs/core/testing/unit-testing-platform-extensions-code-coverage.md
Owners: @IEvangelist, @dotnet/docs

Update docs/core/testing/unit-testing-mstest-writing-tests-attributes.md
  docs/core/testing/unit-testing-mstest-writing-tests-attributes.md
Owners: @IEvangelist, @dotnet/docs

Update docs/architecture/cloud-native/identity-server.md
  docs/architecture/cloud-native/identity-server.md
Owners: @nishanil, @IEvangelist, @dotnet/docs

Update docs/architecture/cloud-native/identity-server.md
  docs/architecture/cloud-native/identity-server.md
Owners: @nishanil, @IEvangelist, @dotnet/docs

Update docs/architecture/cloud-native/identity-server.md
  docs/architecture/cloud-native/identity-server.md
Owners: @nishanil, @IEvangelist, @dotnet/docs

Document RetryBaseAttribute/RetryAttribute introduced in MSTest 3.8 (#44635)
  docs/core/testing/unit-testing-mstest-writing-tests-attributes.md
Owners: @IEvangelist, @dotnet/docs

Add info on finding the globalconfig
  docs/core/testing/mstest-analyzers/overview.md
Owners: @IEvangelist, @dotnet/docs

Doc in MSBuild reference for .NET SDK projects
  docs/core/project-sdk/msbuild-props.md
Owners: @gewarren, @dotnet/docs

Update docs/core/testing/mstest-analyzers/overview.md
  docs/core/testing/mstest-analyzers/overview.md
Owners: @IEvangelist, @dotnet/docs

Update analyzer doc pages for special treatments regarding MSTestAnalysisMode
  docs/core/testing/mstest-analyzers/includes/disabled-in-all.md
  docs/core/testing/mstest-analyzers/mstest0003.md
  docs/core/testing/mstest-analyzers/mstest0015.md
  docs/core/testing/mstest-analyzers/mstest0019.md
  docs/core/testing/mstest-analyzers/mstest0020.md
  docs/core/testing/mstest-analyzers/mstest0021.md
  docs/core/testing/mstest-analyzers/mstest0022.md
Owners: @IEvangelist, @dotnet/docs

Clarify that using global.json may not be rare (#44667)
  docs/core/versions/selection.md
Owners: @dotnet/docs

Update example in C# on logging.md (#44669)
  docs/azure/sdk/logging.md
Owners: @annelo-msft, @christothes, @JoshLove-msft, @KrzysztofCwalina, @jsquire, @alexwolfmsft, @CamSoper, @scottaddie, @dotnet/docs

Moved code to different folder.
  docs/standard/attributes/retrieving-information-stored-in-attributes.md
  samples/snippets/cpp/VS_Snippets_CLR/conceptual.attributes.usage/cpp/source3.cpp
Owners: @gewarren, @dotnet/docs

Added example section.
  docs/standard/attributes/retrieving-information-stored-in-attributes.md
Owners: @gewarren, @dotnet/docs

Removed code fences in xrefs.
  docs/framework/ui-automation/implementing-the-ui-automation-selectionitem-control-pattern.md
Owners: @adegeo, @dotnet/docs

Fix incorrect required members for ISelectionItemProvider and clarify event descriptions (#44681)
  docs/framework/ui-automation/implementing-the-ui-automation-selectionitem-control-pattern.md
Owners: @adegeo, @dotnet/docs

Extend the NRBF docs and focus on safety (#44214)
  docs/standard/serialization/binaryformatter-migration-guide/read-nrbf-payloads.md
Owners: @gewarren, @dotnet/docs

Added snippet in new file.
  samples/snippets/cpp/VS_Snippets_CLR/conceptual.attributes.usage/cpp/source3.cpp
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.attributes.usage/cs/source4.cs
Owners: @dotnet/docs, @BillWagner, @IEvangelist

Update custom-marshalling-source-generation.md
  docs/standard/native-interop/custom-marshalling-source-generation.md
Owners: @jkoritzinsky, @dotnet/docs

Clarify that positional parameters can create fields
  docs/csharp/language-reference/builtin-types/record.md
  docs/csharp/language-reference/builtin-types/snippets/shared/RecordType.cs
Owners: @BillWagner, @dotnet/docs

fix warnings
  docs/csharp/fundamentals/coding-style/identifier-names.md
  docs/csharp/fundamentals/functional/deconstruct.md
  docs/csharp/fundamentals/types/records.md
  docs/csharp/language-reference/attributes/general.md
  docs/csharp/language-reference/builtin-types/record.md
  docs/csharp/language-reference/keywords/required.md
  docs/csharp/language-reference/operators/deconstruction.md
  docs/csharp/language-reference/operators/patterns.md
  docs/standard/serialization/system-text-json/immutability.md
Owners: @BillWagner, @dotnet/docs, @gewarren

Update docs/csharp/language-reference/builtin-types/record.md
  docs/csharp/language-reference/builtin-types/record.md
Owners: @BillWagner, @dotnet/docs

Update custom-marshalling-source-generation.md (#44690)
  docs/standard/native-interop/custom-marshalling-source-generation.md
Owners: @jkoritzinsky, @dotnet/docs

respond to feedback
  docs/csharp/language-reference/builtin-types/record.md
Owners: @BillWagner, @dotnet/docs

Clarify that positional parameters can create fields (#44691)
  docs/csharp/fundamentals/coding-style/identifier-names.md
  docs/csharp/fundamentals/functional/deconstruct.md
  docs/csharp/fundamentals/types/records.md
  docs/csharp/language-reference/attributes/general.md
  docs/csharp/language-reference/builtin-types/record.md
  docs/csharp/language-reference/builtin-types/snippets/shared/RecordType.cs
  docs/csharp/language-reference/keywords/required.md
  docs/csharp/language-reference/operators/deconstruction.md
  docs/csharp/language-reference/operators/patterns.md
  docs/standard/serialization/system-text-json/immutability.md
Owners: @BillWagner, @dotnet/docs, @gewarren

Apply suggestions from code review
  docs/core/testing/mstest-analyzers/overview.md
Owners: @IEvangelist, @dotnet/docs

curate content
  docs/ai/how-to/use-redis-for-memory.md
  docs/ai/how-to/work-with-local-models.md
  docs/ai/toc.yml
Owners: @dotnet/docs

redirects
  .openpublishing.redirection.ai.json
Owners: @dotnet/docs

remove links
  docs/ai/quickstarts/quickstart-assistants.md
  docs/ai/quickstarts/quickstart-local-ai.md
Owners: @dotnet/docs

Update docs/core/testing/mstest-analyzers/overview.md
  docs/core/testing/mstest-analyzers/overview.md
Owners: @IEvangelist, @dotnet/docs

Document MSTestAnalysisMode property (#44632)
  docs/core/project-sdk/msbuild-props.md
  docs/core/testing/mstest-analyzers/includes/disabled-in-all.md
  docs/core/testing/mstest-analyzers/mstest0003.md
  docs/core/testing/mstest-analyzers/mstest0015.md
  docs/core/testing/mstest-analyzers/mstest0019.md
  docs/core/testing/mstest-analyzers/mstest0020.md
  docs/core/testing/mstest-analyzers/mstest0021.md
  docs/core/testing/mstest-analyzers/mstest0022.md
  docs/core/testing/mstest-analyzers/overview.md
Owners: @gewarren, @dotnet/docs, @IEvangelist

Build newly added file.
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.attributes.usage/cs/makefile
Owners: @BillWagner, @IEvangelist, @dotnet/docs

removed extra space.
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.attributes.usage/cs/makefile
Owners: @BillWagner, @IEvangelist, @dotnet/docs

fixes #43828
  docs/core/compatibility/10.0.md
  docs/core/compatibility/cryptography/10.0/version-override.md
  docs/core/compatibility/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Update package index with latest published versions (#44696)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Update Fakes FAQ to include the possible reason for the Fakes error
  docs/core/testing/unit-testing-platform-faq.md
Owners: @IEvangelist, @dotnet/docs

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs
