Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs

dedupe Aspire content
  docs/fundamentals/networking/telemetry/includes/aspire-service-defaults.md
  docs/fundamentals/networking/telemetry/includes/aspire-telemetry-overview.md
  docs/fundamentals/networking/telemetry/metrics.md
  docs/fundamentals/networking/telemetry/tracing.md
Owners: @dotnet/docs

fix link
  docs/fundamentals/networking/telemetry/includes/aspire-service-defaults.md
Owners: @dotnet/docs

Apply suggestions from code review
  docs/core/extensions/httpclient-factory-keyed-di.md
  docs/core/extensions/httpclient-factory.md
  docs/fundamentals/toc.yml
Owners: @IEvangelist, @dotnet/docs

improvements
  docs/fundamentals/networking/telemetry/includes/aspire-telemetry-overview.md
  docs/fundamentals/networking/telemetry/tracing.md
Owners: @dotnet/docs

Update docs/csharp/programming-guide/classes-and-structs/how-to-initialize-a-dictionary-with-a-collection-initializer.md
  docs/csharp/programming-guide/classes-and-structs/how-to-initialize-a-dictionary-with-a-collection-initializer.md
Owners: @BillWagner, @dotnet/docs

Distributed tracing in networking (#44063)
  docs/core/diagnostics/distributed-tracing-builtin-activities.md
  docs/core/diagnostics/media/aspire-starter.png
  docs/core/diagnostics/media/grafana-http11-connections.png
  docs/core/diagnostics/snippets/OTel-Prometheus-Grafana-Jaeger/csharp/Program.cs
  docs/fundamentals/networking/telemetry/includes/aspire-service-defaults.md
  docs/fundamentals/networking/telemetry/includes/aspire-telemetry-overview.md
  docs/fundamentals/networking/telemetry/media/aspire-connection_setup-thumb.png
  docs/fundamentals/networking/telemetry/media/aspire-connection_setup.png
  docs/fundamentals/networking/telemetry/media/aspire-httpclient-get-thumb.png
  docs/fundamentals/networking/telemetry/media/aspire-httpclient-get.png
  docs/fundamentals/networking/telemetry/media/aspire-metrics-thumb.png
  docs/fundamentals/networking/telemetry/media/aspire-metrics.png
  docs/fundamentals/networking/telemetry/media/aspire-starter.png
  docs/fundamentals/networking/telemetry/media/connection-link.png
  docs/fundamentals/networking/telemetry/media/dotnet-counters.png
  docs/fundamentals/networking/telemetry/media/grafana-connections.png
  docs/fundamentals/networking/telemetry/metrics.md
  docs/fundamentals/networking/telemetry/overview.md
  docs/fundamentals/networking/telemetry/snippets/metrics/Program.cs
  docs/fundamentals/networking/telemetry/snippets/tracing/ConnectionTracingDemo.ServiceDefaults/ConnectionTracingDemo.ServiceDefaults.csproj
  docs/fundamentals/networking/telemetry/snippets/tracing/ConnectionTracingDemo.ServiceDefaults/Extensions.cs
  docs/fundamentals/networking/telemetry/tracing.md
  docs/fundamentals/toc.yml
Owners: @tommcdon, @dotnet/docs

Update ms.custom value to the new value and add addl. highlights (#44580)
  docs/csharp/how-to/concatenate-multiple-strings.md
  docs/csharp/how-to/parse-strings-using-split.md
  docs/csharp/programming-guide/classes-and-structs/how-to-initialize-a-dictionary-with-a-collection-initializer.md
  docs/csharp/programming-guide/types/how-to-convert-a-string-to-a-number.md
  docs/standard/serialization/system-text-json/customize-properties.md
  docs/standard/serialization/system-text-json/deserialization.md
  docs/standard/serialization/system-text-json/how-to.md
  docs/standard/serialization/system-text-json/migrate-from-newtonsoft.md
Owners: @BillWagner, @dotnet/docs, @gewarren

Fixed bug 31809.
  docs/fsharp/language-reference/discriminated-unions.md
Owners: @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @dotnet/docs

Fixed comments.
  docs/fsharp/language-reference/discriminated-unions.md
Owners: @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @dotnet/docs

Apply suggestions from code review
  docs/ai/how-to/app-service-aoai-auth.md
Owners: @dotnet/docs

remove foo
  docs/core/extensions/httpclient-factory-keyed-di.md
Owners: @IEvangelist, @dotnet/docs

Improve credential reuse code samples (#44581)
  .openpublishing.redirection.azure.json
  docs/azure/TOC.yml
  docs/azure/sdk/authentication/best-practices.md
  docs/azure/sdk/snippets/authentication/Directory.Packages.props
  docs/azure/sdk/snippets/authentication/best-practices/BestPractices.sln
  docs/azure/sdk/snippets/authentication/best-practices/CCA/ConfidentialClientApp.csproj
  docs/azure/sdk/snippets/authentication/best-practices/CCA/Program.cs
  docs/azure/sdk/snippets/authentication/best-practices/CCA/Properties/launchSettings.json
  docs/azure/sdk/snippets/authentication/best-practices/CCA/appsettings.Development.json
  docs/azure/sdk/snippets/authentication/best-practices/CCA/appsettings.json
  docs/azure/sdk/snippets/authentication/best-practices/PCA/App.xaml
  docs/azure/sdk/snippets/authentication/best-practices/PCA/App.xaml.cs
  docs/azure/sdk/snippets/authentication/best-practices/PCA/AssemblyInfo.cs
  docs/azure/sdk/snippets/authentication/best-practices/PCA/MainWindow.xaml
  docs/azure/sdk/snippets/authentication/best-practices/PCA/MainWindow.xaml.cs
  docs/azure/sdk/snippets/authentication/best-practices/PCA/PublicClientApp.csproj
Owners: @dotnet/docs, @alexwolfmsft, @CamSoper, @christothes, @schaabs, @scottaddie, @jsquire

Clarify what missing members article is about (#44400)
  docs/core/whats-new/dotnet-8/runtime.md
  docs/fundamentals/toc.yml
  docs/standard/serialization/system-text-json/missing-members.md
Owners: @camsoper, @gewarren, @dotnet/docs

WS Keep-Alive
  docs/fundamentals/networking/websockets.md
Owners: @dotnet/docs

fix
  docs/fundamentals/networking/websockets.md
Owners: @dotnet/docs

Apply suggestions from code review
  docs/core/extensions/httpclient-factory-keyed-di.md
  docs/core/extensions/httpclient-factory.md
Owners: @IEvangelist, @dotnet/docs

HttpClientFactory Keyed DI docs (#44533)
  docs/core/extensions/httpclient-factory-keyed-di.md
  docs/core/extensions/httpclient-factory.md
  docs/core/extensions/snippets/http/keyedservices/Program.cs
  docs/core/extensions/snippets/http/keyedservices/keyedservices.csproj
  docs/fundamentals/toc.yml
Owners: @IEvangelist, @dotnet/docs

fix nuget links
  docs/ai/how-to/app-service-aoai-auth.md
Owners: @dotnet/docs

Update guidance for Azure hosted apps connecting to Azure OpenAI (#44583)
  docs/ai/how-to/app-service-aoai-auth.md
  docs/ai/how-to/snippets/hosted-app-auth/Program.cs
  docs/ai/how-to/snippets/hosted-app-auth/Properties/launchSettings.json
  docs/ai/how-to/snippets/hosted-app-auth/appsettings.Development.json
  docs/ai/how-to/snippets/hosted-app-auth/appsettings.json
  docs/ai/how-to/snippets/hosted-app-auth/hosted-app-auth.csproj
  docs/ai/how-to/snippets/hosted-app-auth/hosted-app-auth.http
  docs/ai/media/azure-hosted-apps/add-entra-role.png
  docs/ai/media/azure-hosted-apps/system-assigned-managed-identity-in-azure-portal.png
  docs/ai/media/azure-hosted-apps/user-assigned-managed-identity-in-azure-portal.png
  docs/ai/toc.yml
Owners: @dotnet/docs

Apply suggestions from code review
  docs/ai/quickstarts/quickstart-assistants.md
Owners: @dotnet/docs

move to one project
  docs/ai/quickstarts/quickstart-assistants.md
  docs/ai/quickstarts/snippets/assistants/AIAssistants.csproj
  docs/ai/quickstarts/snippets/assistants/OpenAI/AIAssistants.csproj
  docs/ai/quickstarts/snippets/assistants/OpenAI/Program.cs
  docs/ai/quickstarts/snippets/assistants/Program.cs
Owners: @dotnet/docs

new assistants quickstart (#44536)
  docs/ai/media/assistants/generated-sales-graph.png
  docs/ai/quickstarts/quickstart-assistants.md
  docs/ai/quickstarts/snippets/assistants/AIAssistants.csproj
  docs/ai/quickstarts/snippets/assistants/Program.cs
  docs/ai/toc.yml
Owners: @dotnet/docs

Replace 'comprised' with 'composed' in CA2253
  docs/fundamentals/code-analysis/quality-rules/ca2253.md
Owners: @gewarren, @dotnet/docs

delete irrelevant breaking change (#44443)
  .openpublishing.redirection.core.json
  docs/core/compatibility/8.0.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/windows-forms/8.0/anchor-layout.md
Owners: @dotnet/docs, @camsoper, @gewarren

Be explicit about recommended actions (#44411)
  docs/core/compatibility/sdk/8.0/dotnet-restore-audit.md
Owners: @camsoper, @gewarren, @dotnet/docs

Show example of multiple ContainerRuntimeIdentifiers (#44578)
  docs/core/containers/publish-configuration.md
Owners: @dotnet/docs

Replace 'comprised' with 'composed' in CA2253 (#44612)
  docs/fundamentals/code-analysis/quality-rules/ca2253.md
Owners: @gewarren, @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Owners: @dotnet/docs

Mutation Testing
  docs/core/testing/media/stryker-console-report.png
  docs/core/testing/media/stryker-final-report.png
  docs/core/testing/media/stryker-first-report.png
  docs/core/testing/media/stryker-second-report.png
  docs/core/testing/mutation-testing.md
  docs/navigate/devops-testing/toc.yml
Owners: @IEvangelist, @dotnet/docs

The metric `dotnet.gc.last_collection.heap.fragmentation.size` has a similar attribute of `gc.heap.generation`
  docs/core/diagnostics/built-in-metrics-runtime.md
Owners: @tommcdon, @dotnet/docs

Add Example for Mutually Recursive Discriminated Unions in F# (#44610)
  docs/fsharp/language-reference/discriminated-unions.md
Owners: @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @dotnet/docs

Update package index with latest published versions (#44609)
  docs/azure/includes/dotnet-all.md
Owners: @dotnet/docs

Give more context about dotnet test with mtp
  docs/core/testing/unit-testing-platform-integration-dotnet-test.md
Owners: @IEvangelist, @dotnet/docs

Add first level info for migration off of VSTest
  docs/core/testing/unit-testing-platform-vs-vstest.md
Owners: @IEvangelist, @dotnet/docs

Add model selection guidance
  docs/ai/quickstarts/quickstart-ai-chat-with-data.md
Owners: @dotnet/docs

Update note
  docs/ai/quickstarts/quickstart-ai-chat-with-data.md
Owners: @dotnet/docs

Update docs/ai/quickstarts/quickstart-ai-chat-with-data.md
  docs/ai/quickstarts/quickstart-ai-chat-with-data.md
Owners: @dotnet/docs

Add model selection note (#44622)
  docs/ai/quickstarts/quickstart-ai-chat-with-data.md
Owners: @dotnet/docs

update csharp_space_between_parentheses with default value
  docs/fundamentals/code-analysis/style-rules/csharp-formatting-options.md
Owners: @gewarren, @dotnet/docs

Fixed bug 41839.
  docs/csharp/programming-guide/statements-expressions-operators/how-to-test-for-reference-equality-identity.md
  docs/csharp/programming-guide/statements-expressions-operators/snippets/how-to-test-for-reference-equality-identity/Program.cs
Owners: @BillWagner, @dotnet/docs
