Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

fix snippets 5000 warnings
  docs/ai/how-to/snippets/content-filtering/AIContentFiltering.csproj
  docs/ai/how-to/snippets/content-filtering/Program.cs
  docs/ai/how-to/snippets/hosted-app-auth/hosted-app-auth.csproj
  docs/ai/quickstarts/snippets/build-chat-app/azure-openai/ChatAppAI.csproj
  docs/ai/quickstarts/snippets/function-calling/azure-openai/Program.cs
  docs/ai/quickstarts/snippets/local-ai/ollama.csproj
  docs/ai/quickstarts/snippets/prompt-completion/azure-openai/ExtensionsAzureOpenAI.csproj
  docs/ai/quickstarts/snippets/prompt-completion/azure-openai/Program.cs
Owners: @dotnet/docs

fix xrefs
  docs/ai/ai-extensions.md
  docs/core/extensions/artificial-intelligence.md
Owners: @dotnet/docs, @IEvangelist

fix more errors
  docs/ai/quickstarts/snippets/build-chat-app/openai/ExtensionsOpenAI.csproj
  docs/ai/quickstarts/snippets/function-calling/openai/FunctionCallingAI.csproj
  docs/ai/quickstarts/snippets/function-calling/openai/Program.cs
  docs/core/extensions/artificial-intelligence.md
Owners: @dotnet/docs, @IEvangelist

fix more errors
  docs/ai/quickstarts/snippets/prompt-completion/openai/ExtensionsOpenAI.csproj
  docs/ai/quickstarts/snippets/prompt-completion/openai/Program.cs
  docs/core/extensions/artificial-intelligence.md
Owners: @dotnet/docs, @IEvangelist

Rename chat client APIs (#44970)
  docs/ai/ai-extensions.md
  docs/ai/how-to/snippets/content-filtering/AIContentFiltering.csproj
  docs/ai/how-to/snippets/content-filtering/Program.cs
  docs/ai/how-to/snippets/hosted-app-auth/Program.cs
  docs/ai/how-to/snippets/hosted-app-auth/hosted-app-auth.csproj
  docs/ai/quickstarts/snippets/build-chat-app/azure-openai/ChatAppAI.csproj
  docs/ai/quickstarts/snippets/build-chat-app/azure-openai/Program.cs
  docs/ai/quickstarts/snippets/build-chat-app/openai/ExtensionsOpenAI.csproj
  docs/ai/quickstarts/snippets/build-chat-app/openai/Program.cs
  docs/ai/quickstarts/snippets/function-calling/openai/FunctionCallingAI.csproj
  docs/ai/quickstarts/snippets/function-calling/openai/Program.cs
  docs/ai/quickstarts/snippets/local-ai/Program.cs
  docs/ai/quickstarts/snippets/local-ai/ollama.csproj
  docs/ai/quickstarts/snippets/prompt-completion/azure-openai/ExtensionsAzureOpenAI.csproj
  docs/ai/quickstarts/snippets/prompt-completion/azure-openai/Program.cs
  docs/ai/quickstarts/snippets/prompt-completion/openai/ExtensionsOpenAI.csproj
  docs/ai/quickstarts/snippets/prompt-completion/openai/Program.cs
  docs/core/extensions/artificial-intelligence.md
  docs/core/extensions/snippets/ai/AI.Shared/AI.Shared.csproj
  docs/core/extensions/snippets/ai/AI.Shared/RateLimitingChatClient.cs
  docs/core/extensions/snippets/ai/AI.Shared/SampleChatClient.cs
  docs/core/extensions/snippets/ai/ConsoleAI.CacheResponses/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI.ConsumeClientMiddleware/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI.CustomClientMiddle/ConsoleAI.CustomClientMiddle.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.CustomClientMiddle/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI.DependencyInjection/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI.FunctionalityPipelines/ConsoleAI.FunctionalityPipelines.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.FunctionalityPipelines/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI.GetResponseAsyncArgs/ConsoleAI.GetResponseAsyncArgs.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.GetResponseAsyncArgs/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI.GetStreamingResponseAsync/ConsoleAI.GetStreamingResponseAsync.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.GetStreamingResponseAsync/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI.ProvideOptions/ConsoleAI.ProvideOptions.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.ProvideOptions/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI.ToolCalling/ConsoleAI.ToolCalling.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.ToolCalling/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI.UseTelemetry/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI/ConsoleAI.csproj
  docs/core/extensions/snippets/ai/ConsoleAI/Program.cs
Owners: @dotnet/docs, @IEvangelist

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Apply suggestions from code review
  docs/core/whats-new/dotnet-10/overview.md
Owners: @camsoper, @gewarren, @dotnet/docs

Update package index with latest published versions (#44986)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Fix MSTEST0001 documentation about suppressing (#44974)
  docs/core/testing/mstest-analyzers/mstest0001.md
Owners: @IEvangelist, @dotnet/docs

draft
  docs/ai/media/ai-templates/app-ui-question.png
  docs/ai/media/ai-templates/app-ui.png
  docs/ai/quickstarts/quickstart-visual-studio-ai-templates.md
Owners: @dotnet/docs

updates
  docs/ai/quickstarts/quickstart-visual-studio-ai-templates.md
Owners: @dotnet/docs

fix title
  docs/ai/quickstarts/quickstart-visual-studio-ai-templates.md
Owners: @dotnet/docs

fix meta
  docs/ai/quickstarts/quickstart-visual-studio-ai-templates.md
Owners: @dotnet/docs

wip
  docs/core/compatibility/core-libraries/10.0/asyncenumerable.md
Owners: @camsoper, @gewarren, @dotnet/docs

Add additional nullable reference warnings and errors (#44978)
  docs/csharp/language-reference/compiler-messages/nullable-warnings.md
  docs/csharp/language-reference/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Owners: @BillWagner, @dotnet/docs

remove useless example
  docs/fundamentals/runtime-libraries/snippets/System/String/Intern/csharp/Intern2.cs
  docs/fundamentals/runtime-libraries/snippets/System/String/Intern/fsharp/Intern2.fs
  docs/fundamentals/runtime-libraries/snippets/System/String/Intern/vb/Intern2.vb
  docs/fundamentals/runtime-libraries/system-string-intern.md
Owners: @dotnet/docs

Update dotnet-restore.md
  docs/core/tools/dotnet-restore.md
Owners: @tdykstra, @dotnet/docs

[UUF] Mention Int128/UInt128
  docs/fundamentals/runtime-libraries/system-double.md
Owners: @dotnet/docs

Temporarily removing the agents doc while we refactor it
  docs/ai/toc.yml
Owners: @dotnet/docs

no async serialization for fast path
  docs/standard/serialization/system-text-json/source-generation-modes.md
Owners: @gewarren, @dotnet/docs

Include a note about known pitfalls article in nullable warnings page
  docs/csharp/language-reference/compiler-messages/nullable-warnings.md
Owners: @BillWagner, @dotnet/docs

Use four spaces for indentatios
  docs/csharp/nullable-references.md
Owners: @BillWagner, @dotnet/docs

Add 'Constructors' to the known pitfalls
  docs/csharp/nullable-references.md
Owners: @BillWagner, @dotnet/docs

Correct the link to the known pitfalls to include file type
  docs/csharp/language-reference/compiler-messages/nullable-warnings.md
Owners: @BillWagner, @dotnet/docs

Emphasize the call won't throw if constructor completes successfully
  docs/csharp/nullable-references.md
Owners: @BillWagner, @dotnet/docs

Combine the example description paragraphs
  docs/csharp/nullable-references.md
Owners: @BillWagner, @dotnet/docs

Rename Foo and Bar classes
  docs/csharp/nullable-references.md
Owners: @BillWagner, @dotnet/docs

Documented 'dotnet sln remove' command (#44877)
  docs/core/tools/dotnet-sln.md
Owners: @tdykstra, @dotnet/docs

fix(docs): Correct default rollForward policy in global.json documentation
  docs/core/tools/global-json.md
Owners: @tdykstra, @dotnet/docs

fix(docs): Correct default rollForward policy in global.json documentation
  docs/core/tools/dotnet-sln.md
Owners: @tdykstra, @dotnet/docs

fix(docs): Correct default rollForward policy in global.json documentation
  docs/core/tools/global-json.md
Owners: @tdykstra, @dotnet/docs

fix(docs): Correct default rollForward policy in global.json documentation
  docs/core/tools/global-json.md
Owners: @tdykstra, @dotnet/docs

fix(docs): Correct default rollForward policy in global.json documentation
  docs/core/tools/global-json.md
Owners: @tdykstra, @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Update package index with latest published versions (#44994)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

[UUF] Mention Int128/UInt128 (#44992)
  docs/fundamentals/runtime-libraries/system-double.md
Owners: @dotnet/docs

Update dotnet-restore.md (#44991)
  docs/core/tools/dotnet-restore.md
Owners: @tdykstra, @dotnet/docs

Add known pitfalls to the article of nullable warnings and include 'Constructors` section in it. (#44985)
  docs/csharp/language-reference/compiler-messages/nullable-warnings.md
  docs/csharp/nullable-references.md
Owners: @BillWagner, @dotnet/docs

Update docs/core/compatibility/core-libraries/10.0/asyncenumerable.md
  docs/core/compatibility/core-libraries/10.0/asyncenumerable.md
Owners: @camsoper, @gewarren, @dotnet/docs

add F# project
  docs/fundamentals/runtime-libraries/snippets/System/String/Intern/fsharp/fs.fsproj
Owners: @dotnet/docs

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs
