Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs

Update to main
  docs/core/whats-new/dotnet-10/overview.md
Owners: @camsoper, @gewarren, @dotnet/docs

first draft of evaluation quickstart
  docs/ai/index.yml
  docs/ai/quickstarts/chat-local-model.md
  docs/ai/quickstarts/evaluate-ai-response.md
  docs/ai/quickstarts/evaluate-ai-responses.md
  docs/ai/quickstarts/snippets/evaluate-ai-responses/MyTests.cs
  docs/ai/quickstarts/snippets/evaluate-ai-responses/TestAI.csproj
  docs/ai/toc.yml
Owners: @dotnet/docs

Apply suggestions from code review
  docs/core/compatibility/containers/10.0/default-images-use-ubuntu.md
  docs/core/compatibility/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

Update per feedback
  docs/core/compatibility/10.0.md
  docs/core/compatibility/containers/10.0/default-images-use-ubuntu.md
  docs/core/compatibility/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

touch-ups
  docs/ai/quickstarts/evaluate-ai-response.md
  docs/ai/quickstarts/snippets/evaluate-ai-responses/MyTests.cs
Owners: @dotnet/docs

replace redirects
  docs/ai/ai-extensions.md
  docs/ai/dotnet-ai-ecosystem.md
  docs/ai/get-started/dotnet-ai-overview.md
  docs/ai/how-to/content-filtering.md
  docs/ai/quickstarts/build-chat-app.md
  docs/ai/quickstarts/build-vector-search-app.md
  docs/ai/quickstarts/generate-images.md
  docs/ai/quickstarts/prompt-model.md
  docs/ai/quickstarts/use-function-calling.md
  docs/ai/semantic-kernel-dotnet-overview.md
  docs/core/extensions/artificial-intelligence.md
  docs/whats-new/dotnet-docs-mod0.md
  docs/whats-new/dotnet-docs-mod1.md
Owners: @dotnet/docs, @IEvangelist, @billwagner

one more
  docs/ai/toc.yml
Owners: @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Fix SeeAlso links in dotnet10 P1 announcement
  docs/core/whats-new/dotnet-10/overview.md
Owners: @camsoper, @gewarren, @dotnet/docs

update the article on the char type
  docs/csharp/language-reference/builtin-types/char.md
Owners: @BillWagner, @dotnet/docs

Add configfile option to dotnet nuget push (#45050)
  docs/core/tools/dotnet-nuget-push.md
Owners: @tdykstra, @dotnet/docs

Update package index with latest published versions (#45056)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

build issue
  docs/csharp/language-reference/builtin-types/char.md
Owners: @BillWagner, @dotnet/docs

Fix TOC
  docs/core/compatibility/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

Add breaking change for containers - default tag (#45054)
  docs/core/compatibility/10.0.md
  docs/core/compatibility/containers/10.0/default-images-use-ubuntu.md
  docs/core/compatibility/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

Update branches-and-loops doc to clarify if statement explanation
  docs/csharp/tour-of-csharp/tutorials/branches-and-loops-local.md
Owners: @BillWagner, @dotnet/docs

update the article on the char type (#45060)
  docs/csharp/language-reference/builtin-types/char.md
Owners: @BillWagner, @dotnet/docs

Add links to latest breaking changes (#45048)
  docs/visual-basic/whats-new/breaking-changes.md
Owners: @KathleenDollard, @BillWagner, @dotnet/docs

Fix lifecycle end dates and add additional previews
  docs/core/porting/versioning-sdk-msbuild-vs.md
Owners: @dotnet/docs

Update silo-metadata.md
  docs/orleans/grains/silo-metadata.md
Owners: @IEvangelist, @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Use static HttpClient (#45026)
  docs/framework/ui-automation/implementing-the-ui-automation-expandcollapse-control-pattern.md
  docs/framework/unmanaged-api/debugging/icordebugprocess-gethelperthreadid-method.md
  docs/fundamentals/networking/http/httpclient-guidelines.md
  docs/fundamentals/networking/http/snippets/httpclient-guidelines/MyClass.cs
  docs/fundamentals/networking/http/snippets/httpclient-guidelines/Project.csproj
Owners: @adegeo, @dotnet/docs

AI evaluation quickstart (#45055)
  .openpublishing.redirection.ai.json
  docs/ai/ai-extensions.md
  docs/ai/dotnet-ai-ecosystem.md
  docs/ai/get-started/dotnet-ai-overview.md
  docs/ai/how-to/content-filtering.md
  docs/ai/index.yml
  docs/ai/quickstarts/build-chat-app.md
  docs/ai/quickstarts/build-vector-search-app.md
  docs/ai/quickstarts/chat-local-model.md
  docs/ai/quickstarts/create-assistant.md
  docs/ai/quickstarts/evaluate-ai-response.md
  docs/ai/quickstarts/generate-images.md
  docs/ai/quickstarts/includes/clone-sample-repo.md
  docs/ai/quickstarts/prompt-model.md
  docs/ai/quickstarts/snippets/evaluate-ai-responses/MyTests.cs
  docs/ai/quickstarts/snippets/evaluate-ai-responses/TestAI.csproj
  docs/ai/quickstarts/use-function-calling.md
  docs/ai/semantic-kernel-dotnet-overview.md
  docs/ai/toc.yml
  docs/core/extensions/artificial-intelligence.md
  docs/whats-new/dotnet-docs-mod0.md
  docs/whats-new/dotnet-docs-mod1.md
Owners: @dotnet/docs, @IEvangelist, @billwagner

Improve snippets in XML documentation comments example page
  docs/csharp/language-reference/xmldoc/snippets/xmldoc/DocComments.cs
  docs/csharp/language-reference/xmldoc/snippets/xmldoc/tagged-library.cs
Owners: @BillWagner, @dotnet/docs

Tweaks for Evaluate AI Responses tests
  docs/ai/quickstarts/snippets/evaluate-ai-responses/MyTests.cs
Owners: @dotnet/docs

remove list-tests from dotnet test (with MTP)
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Update branches-and-loops doc to clarify if statement explanation (#45061)
  docs/csharp/tour-of-csharp/tutorials/branches-and-loops-local.md
Owners: @BillWagner, @dotnet/docs

Improve snippets in XML documentation comments example page (#45070)
  docs/csharp/language-reference/xmldoc/snippets/xmldoc/DocComments.cs
  docs/csharp/language-reference/xmldoc/snippets/xmldoc/tagged-library.cs
Owners: @BillWagner, @dotnet/docs

Update movie-recommendation-model-builder.md
  docs/machine-learning/tutorials/movie-recommendation-model-builder.md
Owners: @gewarren, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @dotnet/docs

Typo fix
  docs/csharp/whats-new/csharp-14.md
Owners: @BillWagner, @dotnet/docs

Update package index with latest published versions (#45062)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Tweaks for Evaluate AI Responses tests (#45072)
  docs/ai/quickstarts/snippets/evaluate-ai-responses/MyTests.cs
Owners: @dotnet/docs

Typo fix (#45076)
  docs/csharp/whats-new/csharp-14.md
Owners: @BillWagner, @dotnet/docs

update orleans toc
  docs/orleans/grains/grain-placement-filtering.md
  docs/orleans/host/configuration-guide/silo-metadata.md
  docs/orleans/toc.yml
Owners: @IEvangelist, @dotnet/docs

SFI Wave 4 Remediation (#45029)
  docs/core/diagnostics/media/aspire-dashboard.png
  docs/core/diagnostics/media/jaeger-activity-details.png
Owners: @tommcdon, @dotnet/docs

Apply suggestions from code review
  docs/core/testing/index.md
  docs/core/testing/unit-testing-mstest-runner-intro.md
  docs/core/testing/unit-testing-nunit-runner-intro.md
Owners: @IEvangelist, @dotnet/docs

Apply suggestions from code review
  docs/navigate/devops-testing/toc.yml
Owners: @dotnet/docs

Apply suggestions from code review
  docs/core/testing/unit-testing-mstest-runner-intro.md
  docs/core/testing/unit-testing-nunit-runner-intro.md
Owners: @IEvangelist, @dotnet/docs

Update config.yml
  .github/ISSUE_TEMPLATE/config.yml
Owners: @dotnet/docs

Update docs/machine-learning/tutorials/movie-recommendation-model-builder.md
  docs/machine-learning/tutorials/movie-recommendation-model-builder.md
Owners: @gewarren, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @dotnet/docs
