Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs

Apply suggestions from code review
  docs/csharp/whats-new/csharp-14.md
Owners: @BillWagner, @dotnet/docs

Remove unused snippets.
  samples/snippets/csharp/VS_Snippets_VBCSharp/CsProgGuideTypes/CS/CS.csproj
  samples/snippets/csharp/VS_Snippets_VBCSharp/CsProgGuideTypes/CS/Class1.cs
Owners: @BillWagner, @IEvangelist, @dotnet/docs

respond to feedback.
  docs/csharp/whats-new/csharp-14.md
Owners: @BillWagner, @dotnet/docs

fix a build warning
  docs/csharp/language-reference/compiler-messages/nullable-warnings.md
Owners: @BillWagner, @dotnet/docs

MSBUILDCUSTOMBUILDEVENTWARNING breaking change (#45006)
  docs/core/compatibility/10.0.md
  docs/core/compatibility/sdk/10.0/custom-build-event-warning.md
  docs/core/compatibility/toc.yml
Owners: @camsoper, @gewarren, @dotnet/docs

a couple tweaks.
  docs/csharp/whats-new/csharp-14.md
Owners: @BillWagner, @dotnet/docs

MAUI
  docs/core/whats-new/dotnet-10/overview.md
Owners: @camsoper, @gewarren, @dotnet/docs

add redirects for experimental syslib ids (#45004)
  .openpublishing.redirection.fundamentals.json
Owners: @dotnet/docs

Update docs/standard/serialization/system-text-json/source-generation-modes.md
  docs/standard/serialization/system-text-json/source-generation-modes.md
Owners: @gewarren, @dotnet/docs

Temporarily removing the agents doc while we refactor it (#44993)
  docs/ai/toc.yml
Owners: @dotnet/docs

winforms
  docs/core/whats-new/dotnet-10/overview.md
Owners: @camsoper, @gewarren, @dotnet/docs

links
  docs/core/whats-new/dotnet-10/overview.md
Owners: @camsoper, @gewarren, @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

wait on docker CI container
  .github/workflows/snippets5000.yml
Owners: @dotnet/docs

No async for fast path serialization mode (#44995)
  docs/standard/serialization/system-text-json/source-generation-modes.md
Owners: @gewarren, @dotnet/docs

.net 9
  docs/core/whats-new/snippets/dotnet-10/csharp/Project.csproj
Owners: @camsoper, @gewarren, @dotnet/docs

fix build suggestions and broken links (#45002)
  docs/azure/includes/dotnet-all.md
  docs/core/install/linux-ubuntu.md
  docs/core/testing/mstest-analyzers/mstest0039.md
  docs/core/testing/unit-testing-mstest-writing-tests-assertions.md
  docs/core/testing/unit-testing-platform-vs-vstest.md
  docs/core/tutorials/testing-library-with-visual-studio-code.md
  docs/fsharp/whats-new/fsharp-9.md
  docs/fundamentals/code-analysis/quality-rules/ca2007.md
  docs/fundamentals/networking/telemetry/includes/aspire-telemetry-overview.md
  docs/machine-learning/resources/metrics.md
  docs/machine-learning/tutorials/time-series-demand-forecasting.md
Owners: @dotnet/docs, @adegeo, @IEvangelist, @tdykstra, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @gewarren, @luisquintanilla, @JakeRadMSFT, @michaelgsharp

build them snippets
  docs/core/whats-new/snippets/dotnet-10/csharp/snippets.cs
Owners: @camsoper, @gewarren, @dotnet/docs

Temporarily remove snippets
  docs/core/whats-new/dotnet-10/libraries.md
  docs/core/whats-new/snippets/dotnet-10/csharp/snippets.cs
Owners: @camsoper, @gewarren, @dotnet/docs

Apply suggestions from code review
  docs/ai/quickstarts/quickstart-visual-studio-ai-templates.md
Owners: @dotnet/docs

What's New - .NET 10 Preview 1 (#44878)
  .openpublishing.redirection.core.json
  docs/core/whats-new/dotnet-10/libraries.md
  docs/core/whats-new/dotnet-10/overview.md
  docs/core/whats-new/dotnet-10/runtime.md
  docs/core/whats-new/dotnet-10/sdk.md
  docs/core/whats-new/snippets/dotnet-10/csharp/Program.cs
  docs/core/whats-new/snippets/dotnet-10/csharp/Project.csproj
  docs/core/whats-new/snippets/dotnet-10/csharp/snippets.cs
  docs/fundamentals/index.yml
  docs/fundamentals/toc.yml
  docs/whats-new/index.yml
  docs/whats-new/toc.yml
Owners: @dotnet/docs, @camsoper, @gewarren, @billwagner

Update docs/ai/quickstarts/quickstart-visual-studio-ai-templates.md
  docs/ai/quickstarts/quickstart-visual-studio-ai-templates.md
Owners: @dotnet/docs

Apply suggestions from code review
  docs/ai/quickstarts/quickstart-visual-studio-ai-templates.md
  docs/ai/toc.yml
Owners: @dotnet/docs

Apply suggestions from code review
  docs/ai/quickstarts/quickstart-visual-studio-ai-templates.md
Owners: @dotnet/docs

Update links to .NET What's new
  docs/csharp/index.yml
  docs/csharp/whats-new/csharp-14.md
Owners: @BillWagner, @dotnet/docs

Fixes #45017
  docs/core/compatibility/10.0.md
  docs/index.yml
  docs/whats-new/index.yml
Owners: @camsoper, @gewarren, @dotnet/docs, @billwagner

Update links to .NET What's new (#45019)
  docs/csharp/index.yml
  docs/csharp/whats-new/csharp-14.md
Owners: @BillWagner, @dotnet/docs

Fixes #45017 (#45020)
  docs/core/compatibility/10.0.md
  docs/index.yml
  docs/whats-new/index.yml
Owners: @camsoper, @gewarren, @dotnet/docs, @billwagner

update builds to use .NET 10 preview
  .github/workflows/snippets5000.yml
Owners: @dotnet/docs

Update package index with latest published versions (#45014)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

update builds to use .NET 10 preview (#45022)
  .github/workflows/snippets5000.yml
Owners: @dotnet/docs

Fixes #45018
  docs/core/whats-new/dotnet-10/libraries.md
  docs/core/whats-new/snippets/dotnet-10/csharp/Project.csproj
  docs/core/whats-new/snippets/dotnet-10/csharp/snippets.cs
Owners: @camsoper, @gewarren, @dotnet/docs

sfi
  docs/framework/wcf/diagnostics/tracing/media/using-service-trace-viewer-for-viewing-correlated-traces-and-troubleshooting/wcf-client-activities-creation-time.gif
Owners: @HongGit, @dotnet/docs

Fixes #45018 (#45024)
  docs/core/whats-new/dotnet-10/libraries.md
  docs/core/whats-new/snippets/dotnet-10/csharp/Project.csproj
  docs/core/whats-new/snippets/dotnet-10/csharp/snippets.cs
Owners: @camsoper, @gewarren, @dotnet/docs

sfi
  docs/framework/wcf/diagnostics/tracing/media/using-service-trace-viewer-for-viewing-correlated-traces-and-troubleshooting/process-action-traces.gif
Owners: @HongGit, @dotnet/docs

sfi
  docs/framework/wcf/feature-details/media/how-to-host-a-workflow-service-with-windows-server-app-fabric/persisted-workflow-instance-detail.gif
Owners: @HongGit, @dotnet/docs

use static HttpClient
  docs/framework/ui-automation/implementing-the-ui-automation-expandcollapse-control-pattern.md
  docs/framework/unmanaged-api/debugging/icordebugprocess-gethelperthreadid-method.md
  docs/fundamentals/networking/http/httpclient-guidelines.md
  docs/fundamentals/networking/snippets/httpclient-guidelines/MyClass.cs
  docs/fundamentals/networking/snippets/httpclient-guidelines/Project.csproj
Owners: @adegeo, @dotnet/docs

sfi
  docs/framework/wcf/feature-details/media/mg-mycertbinding.jpg
Owners: @HongGit, @dotnet/docs

Correct .NET Aspire - what's new? link
  docs/core/whats-new/dotnet-10/overview.md
Owners: @camsoper, @gewarren, @dotnet/docs

move snippet file
  docs/fundamentals/networking/http/snippets/httpclient-guidelines/MyClass.cs
  docs/fundamentals/networking/http/snippets/httpclient-guidelines/Project.csproj
Owners: @dotnet/docs
