Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

Build errors; Fix image/code links
  .openpublishing.redirection.framework.json
  docs/framework/install/dotnet-35-windows.md
  docs/framework/install/how-to-determine-which-net-framework-updates-are-installed.md
  docs/framework/install/how-to-determine-which-versions-are-installed.md
  docs/framework/install/media/how-to-determine-which-versions-are-installed/clr-installdir.png
  docs/framework/install/media/how-to-determine-which-versions-are-installed/net-4-and-earlier.png
  docs/framework/install/on-windows-and-server.md
  docs/framework/install/run-net-framework-1-1-apps.md
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/snippets/csharp/FrameworkVersions.csproj
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/snippets/csharp/versions-installed.cs
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/snippets/visual-basic/FrameworkVersions.vbproj
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/snippets/visual-basic/versions-installed.vb
  docs/framework/install/versions-and-dependencies.md
  docs/framework/toc.yml
Owners: @dotnet/docs, @adegeo

Convert and clean code for .NET Framework
  docs/framework/install/how-to-determine-which-versions-are-installed.md
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/csharp/App.config
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/csharp/FrameworkVersions.csproj
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/csharp/Program.cs
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/csharp/Properties/AssemblyInfo.cs
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/snippets/csharp/FrameworkVersions.csproj
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/snippets/csharp/versions-installed.cs
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/snippets/visual-basic/FrameworkVersions.vbproj
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/snippets/visual-basic/versions-installed.vb
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/vb/App.config
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/vb/FrameworkVersions.vbproj
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/vb/Module1.vb
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/vb/My Project/Application.Designer.vb
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/vb/My Project/Application.myapp
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/vb/My Project/AssemblyInfo.vb
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/vb/My Project/Resources.Designer.vb
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/vb/My Project/Resources.resx
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/vb/My Project/Settings.Designer.vb
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/vb/My Project/Settings.settings
Owners: @adegeo, @dotnet/docs

add overview doc
  docfx.json
  docs/ai/conceptual/evaluation-libraries.md
  docs/ai/toc.yml
Owners: @dotnet/docs

Add snippets config
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/csharp/snippets.5000.json
  docs/framework/install/snippets/how-to-determine-which-versions-are-installed/vb/snippets.5000.json
Owners: @adegeo, @dotnet/docs

Fix links to moved files
  docs/core/install/how-to-detect-installed-versions.md
  docs/framework/deployment/index.md
  docs/framework/get-started/index.md
  docs/framework/get-started/system-requirements.md
  docs/framework/install/guide-for-developers.md
  docs/framework/install/index.md
  docs/framework/install/troubleshoot-blocked-installations-and-uninstallations.md
  docs/framework/migration-guide/application-compatibility.md
  docs/framework/migration-guide/how-to-configure-an-app-to-support-net-framework-4-or-4-5.md
  docs/framework/migration-guide/index.md
  docs/framework/migration-guide/migrating-from-the-net-framework-1-1.md
  docs/framework/migration-guide/mitigation-product-versioning.md
  docs/standard/clr.md
  docs/whats-new/dotnet-docs-mod0.md
Owners: @adegeo, @dotnet/docs, @gewarren, @billwagner

add links to evaluators
  docs/ai/conceptual/evaluation-libraries.md
Owners: @dotnet/docs

Fix remaining links
  docs/csharp/language-reference/compiler-options/index.md
  docs/framework/deployment/index.md
  docs/framework/install/guide-for-developers.md
Owners: @BillWagner, @dotnet/docs, @adegeo

add link to test explorer docs
  docs/ai/conceptual/evaluation-libraries.md
Owners: @dotnet/docs

move resources to bottom of toc
  docs/ai/toc.yml
Owners: @dotnet/docs

Add start icon to instruction
  docs/framework/install/dotnet-35-windows.md
Owners: @adegeo, @dotnet/docs

Add LLDB docs
  docs/core/diagnostics/debugger-extensions.md
  docs/core/diagnostics/lldb-linux.md
  docs/navigate/tools-diagnostics/toc.yml
Owners: @tommcdon, @dotnet/docs

.NET dependabot-bot automated PR.
  .github/dependabot.yml
Owners: @dotnet/docs

Remove -t
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Add --verbosity
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

remove space
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Update verbosity description
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Update artificial-intelligence.md
  docs/core/extensions/artificial-intelligence.md
Owners: @IEvangelist, @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Add a note for trace logging
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Update Refit GitHub link
  docs/core/extensions/httpclient-factory.md
Owners: @IEvangelist, @dotnet/docs

Update csharp-11.md
  docs/csharp/whats-new/csharp-11.md
Owners: @BillWagner, @dotnet/docs

Update env var
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Replace "using" with "with"
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Update package index with latest published versions (#44898)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Update csharp-11.md (#44914)
  docs/csharp/whats-new/csharp-11.md
Owners: @BillWagner, @dotnet/docs

fixes
  docs/azure/sdk/authentication/user-assigned-managed-identity.md
  docs/azure/sdk/includes/implement-user-assigned-identity.md
  docs/azure/sdk/snippets/authentication/user-assigned-managed-identity/Program.cs
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

Move and update all code
  docs/csharp/how-to/compare-strings.md
  docs/csharp/how-to/concatenate-multiple-strings.md
  docs/csharp/how-to/modify-string-contents.md
  docs/csharp/how-to/parse-strings-using-split.md
  docs/csharp/how-to/search-strings.md
  docs/csharp/how-to/snippets/strings/CompareStrings.cs
  docs/csharp/how-to/snippets/strings/Concatenate.cs
  docs/csharp/how-to/snippets/strings/ModifyStrings.cs
  docs/csharp/how-to/snippets/strings/ParseStringsUsingSplit.cs
  docs/csharp/how-to/snippets/strings/Program.cs
  docs/csharp/how-to/snippets/strings/SearchStrings.cs
  docs/csharp/how-to/snippets/strings/strings.csproj
  docs/csharp/language-reference/operators/snippets/shared/operators.csproj
  samples/snippets/csharp/how-to/strings/CompareStrings.cs
  samples/snippets/csharp/how-to/strings/Concatenate.cs
  samples/snippets/csharp/how-to/strings/ModifyStrings.cs
  samples/snippets/csharp/how-to/strings/ParseStringsUsingSplit.cs
  samples/snippets/csharp/how-to/strings/Program.cs
  samples/snippets/csharp/how-to/strings/SearchStrings.cs
Owners: @BillWagner, @dotnet/docs, @IEvangelist

Fixes #28006
  docs/csharp/language-reference/operators/equality-operators.md
  docs/csharp/language-reference/operators/snippets/shared/EqualityOperators.cs
Owners: @BillWagner, @dotnet/docs

missing step
  docs/azure/sdk/includes/implement-user-assigned-identity.md
Owners: @jsquire, @alexwolfmsft, @CamSoper, @scottaddie, @dotnet/docs

steps
  docs/azure/sdk/includes/implement-user-assigned-identity.md
Owners: @jsquire, @alexwolfmsft, @CamSoper, @scottaddie, @dotnet/docs

Apply suggestions from code review
  docs/azure/sdk/includes/implement-user-assigned-identity.md
Owners: @jsquire, @alexwolfmsft, @CamSoper, @scottaddie, @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Equate `==` with the `is` pattern matching
  docs/csharp/how-to/compare-strings.md
  docs/csharp/language-reference/operators/equality-operators.md
  docs/csharp/language-reference/operators/is.md
  docs/csharp/language-reference/operators/patterns.md
Owners: @BillWagner, @dotnet/docs

Update artificial-intelligence.md (#44910)
  docs/core/extensions/artificial-intelligence.md
Owners: @IEvangelist, @dotnet/docs

Update package index with latest published versions (#44941)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Miscellaneous AI docs cleanup (#44899)
  docs/ai/ai-extensions.md
  docs/ai/dotnet-ai-ecosystem.md
  docs/ai/includes/vector-databases.md
  docs/ai/toc.yml
  docs/core/extensions/artificial-intelligence.md
Owners: @dotnet/docs, @IEvangelist

Update httpclient-factory.md
  docs/core/extensions/httpclient-factory.md
Owners: @IEvangelist, @dotnet/docs

Add more overloads
  docs/csharp/how-to/parse-strings-using-split.md
  docs/csharp/how-to/snippets/strings/ParseStringsUsingSplit.cs
Owners: @BillWagner, @dotnet/docs

Apply suggestions from code review
  docs/azure/sdk/authentication/index.md
  docs/azure/sdk/includes/implement-user-assigned-identity.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

fix conditional
  docs/azure/sdk/snippets/authentication/system-assigned-managed-identity/Program.cs
  docs/azure/sdk/snippets/authentication/user-assigned-managed-identity/Program.cs
Owners: @jsquire, @alexwolfmsft, @CamSoper, @scottaddie, @dotnet/docs

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs
