Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs

Update movie-recommendation-model-builder.md (#45075)
  docs/machine-learning/tutorials/movie-recommendation-model-builder.md
Owners: @gewarren, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @dotnet/docs

add ai to hub page
  docs/ai/index.yml
  docs/index.yml
Owners: @dotnet/docs

Fix EventIDs for Method Rundown Events
  docs/framework/performance/method-etw-events.md
Owners: @dotnet/docs

Fix package name in developer-app-secrets-storage.md
  docs/architecture/microservices/secure-net-microservices-web-applications/developer-app-secrets-storage.md
Owners: @nishanil, @IEvangelist, @dotnet/docs

comments
  docs/core/tools/dotnet-list-package.md
Owners: @tdykstra, @dotnet/docs

link
  docs/core/tools/dotnet-list-package.md
Owners: @tdykstra, @dotnet/docs

more links
  docs/core/tools/dotnet-list-package.md
Owners: @tdykstra, @dotnet/docs

new lines
  docs/core/tools/dotnet-list-package.md
Owners: @tdykstra, @dotnet/docs

Bot 🤖 generated CleanRepo tool run
  docs/azure/sdk/includes/sdk-auth-overview-dev-accounts.md
  docs/azure/sdk/includes/sdk-auth-overview-dev-service-principals.md
  docs/azure/sdk/includes/sdk-auth-overview-managed-identity.md
  docs/azure/sdk/includes/sdk-auth-overview-service-principal.md
Owners: @jsquire, @alexwolfmsft, @CamSoper, @scottaddie, @dotnet/docs

Bot 🤖 generated CleanRepo tool run
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-7.png
  docs/framework/install/media/this-application-could-not-be-started.png
Owners: @jsquire, @alexwolfmsft, @CamSoper, @scottaddie, @dotnet/docs, @adegeo

Bot 🤖 generated CleanRepo tool run
  .openpublishing.redirection.azure.json
Owners: @dotnet/docs

Bot 🤖 generated CleanRepo tool run
  docs/ai/conceptual/agents.md
  docs/ai/quickstarts/build-chat-app.md
  docs/ai/quickstarts/build-vector-search-app.md
  docs/ai/quickstarts/chat-local-model.md
  docs/ai/quickstarts/create-assistant.md
  docs/ai/quickstarts/generate-images.md
  docs/ai/quickstarts/prompt-model.md
  docs/ai/quickstarts/use-function-calling.md
  docs/azure/landing-page.yml
  docs/zone-pivot-groups.yml
Owners: @dotnet/docs, @alexwolfmsft, @CamSoper

Bot 🤖 generated "What's new article"
  docs/whats-new/dotnet-docs-mod2.md
  docs/whats-new/index.yml
  docs/whats-new/toc.yml
Owners: @billwagner, @dotnet/docs

Update docs/core/testing/index.md
  docs/core/testing/index.md
Owners: @IEvangelist, @dotnet/docs

Refresh testing docs (#45032)
  docs/ai/conceptual/evaluation-libraries.md
  docs/core/testing/index.md
  docs/core/testing/unit-testing-mstest-runner-intro.md
  docs/core/testing/unit-testing-nunit-runner-intro.md
  docs/navigate/devops-testing/toc.yml
Owners: @dotnet/docs, @IEvangelist

Update passing-structures.md
  docs/framework/interop/passing-structures.md
Owners: @dotnet/docs

Rename MTP docs from unit-testing-platform to microsoft-testing-platform
  .openpublishing.redirection.core.json
  docs/core/project-sdk/msbuild-props.md
  docs/core/testing/index.md
  docs/core/testing/microsoft-testing-platform-architecture-capabilities.md
  docs/core/testing/microsoft-testing-platform-architecture-extensions.md
  docs/core/testing/microsoft-testing-platform-architecture-services.md
  docs/core/testing/microsoft-testing-platform-architecture.md
  docs/core/testing/microsoft-testing-platform-config.md
  docs/core/testing/microsoft-testing-platform-diagnostics.md
  docs/core/testing/microsoft-testing-platform-exit-codes.md
  docs/core/testing/microsoft-testing-platform-extensions-code-coverage.md
  docs/core/testing/microsoft-testing-platform-extensions-diagnostics.md
  docs/core/testing/microsoft-testing-platform-extensions-fakes.md
  docs/core/testing/microsoft-testing-platform-extensions-hosting.md
  docs/core/testing/microsoft-testing-platform-extensions-output.md
  docs/core/testing/microsoft-testing-platform-extensions-policy.md
  docs/core/testing/microsoft-testing-platform-extensions-test-reports.md
  docs/core/testing/microsoft-testing-platform-extensions-vstest-bridge.md
  docs/core/testing/microsoft-testing-platform-extensions.md
  docs/core/testing/microsoft-testing-platform-faq.md
  docs/core/testing/microsoft-testing-platform-integration-dotnet-test.md
  docs/core/testing/microsoft-testing-platform-intro.md
  docs/core/testing/microsoft-testing-platform-telemetry.md
  docs/core/testing/microsoft-testing-platform-vs-vstest.md
  docs/core/testing/unit-testing-mstest-configure.md
  docs/core/testing/unit-testing-mstest-migration-from-v1-to-v3.md
  docs/core/testing/unit-testing-mstest-runner-intro.md
  docs/core/testing/unit-testing-mstest-sdk.md
  docs/core/testing/unit-testing-nunit-runner-intro.md
  docs/core/tools/dotnet-test.md
  docs/navigate/devops-testing/toc.yml
  docs/whats-new/dotnet-docs-mod1.md
Owners: @dotnet/docs, @gewarren, @IEvangelist, @tdykstra, @billwagner

Correct MSTest.Analyzers note per the latest changes in MSTest
  docs/core/testing/unit-testing-mstest-migration-from-v1-to-v3.md
Owners: @IEvangelist, @dotnet/docs

Add tip
  docs/core/testing/microsoft-testing-platform-intro.md
Owners: @IEvangelist, @dotnet/docs

Add missing redirections
  .openpublishing.redirection.core.json
Owners: @dotnet/docs

Improve tip with links
  docs/core/testing/microsoft-testing-platform-intro.md
Owners: @IEvangelist, @dotnet/docs

Add missing lang tag
  docs/core/testing/microsoft-testing-platform-intro.md
Owners: @IEvangelist, @dotnet/docs

Line break
  docs/core/testing/microsoft-testing-platform-intro.md
Owners: @IEvangelist, @dotnet/docs

.NET dependabot-bot automated PR.
  .github/dependabot.yml
Owners: @dotnet/docs

Add platform id to feedback template
  .github/ISSUE_TEMPLATE/z-customer-feedback.yml
Owners: @dotnet/docs

Add missing boxing snippet
  samples/snippets/csharp/VS_Snippets_VBCSharp/CsProgGuideTypes/CS/Class1.cs
Owners: @BillWagner, @IEvangelist, @dotnet/docs

Replace MSTest Runner with Microsoft Testing Platform
  docs/core/project-sdk/msbuild-props.md
  docs/core/testing/index.md
  docs/core/testing/unit-testing-fsharp-with-mstest.md
  docs/core/testing/unit-testing-mstest-migration-from-v1-to-v3.md
  docs/core/testing/unit-testing-mstest-running-tests.md
  docs/core/testing/unit-testing-mstest-sdk.md
  docs/core/testing/unit-testing-mtp-intro.md
  docs/core/testing/unit-testing-platform-vs-vstest.md
  docs/core/testing/unit-testing-visual-basic-with-mstest.md
  docs/core/tools/dotnet-new-sdk-templates.md
  docs/navigate/devops-testing/index.yml
  docs/navigate/devops-testing/toc.yml
Owners: @gewarren, @dotnet/docs, @IEvangelist, @tdykstra

merge
  docs/core/project-sdk/msbuild-props.md
  docs/core/testing/unit-testing-mstest-runner-intro.md
  docs/core/testing/unit-testing-mstest-running-tests.md
  docs/core/testing/unit-testing-mstest-sdk.md
  docs/navigate/devops-testing/index.yml
  docs/navigate/devops-testing/toc.yml
Owners: @gewarren, @dotnet/docs, @IEvangelist

Update msbuild-props
  docs/core/project-sdk/msbuild-props.md
Owners: @gewarren, @dotnet/docs

Update docs
  docs/core/testing/unit-testing-mstest-sdk.md
  docs/navigate/devops-testing/index.yml
Owners: @IEvangelist, @dotnet/docs

Undo some changes
  docs/core/project-sdk/msbuild-props.md
  docs/core/testing/unit-testing-mstest-migration-from-v1-to-v3.md
Owners: @gewarren, @dotnet/docs, @IEvangelist

Update docs/core/testing/unit-testing-mstest-sdk.md
  docs/core/testing/unit-testing-mstest-sdk.md
Owners: @IEvangelist, @dotnet/docs

Update docs/core/testing/unit-testing-mstest-sdk.md
  docs/core/testing/unit-testing-mstest-sdk.md
Owners: @IEvangelist, @dotnet/docs

Update docs/core/testing/unit-testing-mstest-sdk.md
  docs/core/testing/unit-testing-mstest-sdk.md
Owners: @IEvangelist, @dotnet/docs

Update docs/core/testing/unit-testing-mstest-sdk.md
  docs/core/testing/unit-testing-mstest-sdk.md
Owners: @IEvangelist, @dotnet/docs

Update docs/core/testing/unit-testing-mstest-sdk.md
  docs/core/testing/unit-testing-mstest-sdk.md
Owners: @IEvangelist, @dotnet/docs

Update docs/core/testing/unit-testing-mstest-sdk.md
  docs/core/testing/unit-testing-mstest-sdk.md
Owners: @IEvangelist, @dotnet/docs

Update docs/core/testing/unit-testing-platform-vs-vstest.md
  docs/core/testing/unit-testing-platform-vs-vstest.md
Owners: @IEvangelist, @dotnet/docs

Update docs/core/testing/unit-testing-mstest-runner-intro.md
  docs/core/testing/unit-testing-mstest-runner-intro.md
Owners: @IEvangelist, @dotnet/docs

Update docs/core/testing/unit-testing-mstest-runner-intro.md
  docs/core/testing/unit-testing-mstest-runner-intro.md
Owners: @IEvangelist, @dotnet/docs
