Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs

Keep the FAQ in yml format
  docs/core/diagnostics/dotnet-dump.md
  docs/core/diagnostics/dumps-faq.md
  docs/core/diagnostics/dumps.md
  docs/core/diagnostics/faq-dumps.yml
  docs/navigate/tools-diagnostics/toc.yml
Owners: @tommcdon, @dotnet/docs

PR feedback: grammar fix
  docs/core/diagnostics/faq-dumps.yml
Owners: @tommcdon, @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Update default platform versions of Tizen
  docs/standard/frameworks.md
Owners: @gewarren, @dotnet/docs

Doc MSTEST0041 analyzer
  docs/core/testing/mstest-analyzers/mstest0007.md
  docs/core/testing/mstest-analyzers/mstest0041.md
  docs/core/testing/mstest-analyzers/usage-rules.md
  docs/navigate/devops-testing/toc.yml
Owners: @IEvangelist, @dotnet/docs

Update doc
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

remove space
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Remove list item
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Update doc
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

update doc
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

update doc
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Update headings
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Remove unneeded section
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Update doc
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Update doc
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Add dot
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Add missing :
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Update publish-configuration.md (#44874)
  docs/core/containers/publish-configuration.md
Owners: @dotnet/docs

Reference correct nuget package to align with Orleans 7 or later (#44433)
  docs/orleans/grains/index.md
Owners: @IEvangelist, @dotnet/docs

update ms.date (#44749)
  docs/standard/serialization/system-text-json/customize-properties.md
  docs/standard/serialization/system-text-json/how-to.md
  docs/standard/serialization/system-text-json/migrate-from-newtonsoft.md
Owners: @gewarren, @dotnet/docs

Update package index with latest published versions (#44875)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Update docs/core/tools/dotnet-test.md
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Documented 'dotnet sln remove' command (#44877)
  docs/core/tools/dotnet-sln.md
Owners: @tdykstra, @dotnet/docs

Apply comments
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Reorganize doc
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Fix doc
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Fix doc
  docs/core/tools/dotnet-test.md
Owners: @tdykstra, @dotnet/docs

Update My services documentation to clarify support in .NET 5+ (#44711)
  docs/visual-basic/developing-apps/development-with-my/index.md
Owners: @KathleenDollard, @BillWagner, @dotnet/docs

Move comma to right of closing parenthesis in WCF routing
  docs/framework/wcf/feature-details/routing-introduction.md
  docs/framework/wcf/feature-details/routing-scenarios.md
Owners: @HongGit, @dotnet/docs

whoops
  docs/core/compatibility/windows-forms/10.0/statusstrip-renderer.md
Owners: @camsoper, @gewarren, @dotnet/docs

Feedback
  docs/core/compatibility/windows-forms/10.0/statusstrip-renderer.md
  docs/core/compatibility/windows-forms/9.0/statusstrip-renderer.md
Owners: @camsoper, @gewarren, @dotnet/docs

StatusStrip Breaking Change (#44880)
  .openpublishing.redirection.core.json
  docs/core/compatibility/10.0.md
  docs/core/compatibility/9.0.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/windows-forms/10.0/statusstrip-renderer.md
  docs/core/compatibility/windows-forms/9.0/statusstrip-renderer.md
Owners: @dotnet/docs, @camsoper, @gewarren

Revise DefaultAzureCredential guidance for prod environments
  docs/azure/sdk/authentication/best-practices.md
  docs/azure/sdk/authentication/credential-chains.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

heading fix
  docs/azure/sdk/authentication/index.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

fix include
  docs/azure/sdk/includes/implement-managed-identity-concepts.md
Owners: @jsquire, @alexwolfmsft, @CamSoper, @scottaddie, @dotnet/docs

More edits
  docs/azure/sdk/authentication/best-practices.md
  docs/azure/sdk/authentication/credential-chains.md
  docs/azure/sdk/snippets/authentication/best-practices/CCA/Program.cs
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

Move comma to right of closing parenthesis in WCF routing (#44885)
  docs/framework/wcf/feature-details/routing-introduction.md
  docs/framework/wcf/feature-details/routing-scenarios.md
Owners: @HongGit, @dotnet/docs

Doc MSTEST0041 analyzer (#44882)
  docs/core/testing/mstest-analyzers/mstest0007.md
  docs/core/testing/mstest-analyzers/mstest0041.md
  docs/core/testing/mstest-analyzers/usage-rules.md
  docs/navigate/devops-testing/toc.yml
Owners: @IEvangelist, @dotnet/docs

Update default platform versions of Tizen (#44881)
  docs/standard/frameworks.md
Owners: @gewarren, @dotnet/docs

More code changes
  docs/azure/sdk/authentication/best-practices.md
  docs/azure/sdk/snippets/authentication/best-practices/CCA/Program.cs
  docs/azure/sdk/snippets/authentication/credential-chains/CredentialChains.csproj
  docs/azure/sdk/snippets/authentication/credential-chains/Program.cs
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire
