Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

Apply suggestions from code review
  docs/fundamentals/networking/http/httpclient.md
Owners: @dotnet/docs

Freshness Edit: dotnet content (#45158)
  docs/fundamentals/networking/http/httpclient.md
Owners: @dotnet/docs

warnings
  .openpublishing.redirection.csharp.json
  docs/csharp/tour-of-csharp/tutorials/local-environment.md
Owners: @dotnet/docs, @BillWagner

Update docs/azure/sdk/authentication/local-development-service-principal.md
  docs/azure/sdk/authentication/local-development-service-principal.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

Fix for #45152
  docs/csharp/advanced-topics/interface-implementation/mixins-with-default-interface-methods.md
Owners: @BillWagner, @dotnet/docs

Consolidate the last intro tutorial
  .openpublishing.redirection.csharp.json
  docs/csharp/toc.yml
  docs/csharp/tour-of-csharp/tutorials/arrays-and-collections.md
  docs/csharp/tour-of-csharp/tutorials/index.md
  docs/csharp/tour-of-csharp/tutorials/list-collection.md
  docs/csharp/tour-of-csharp/tutorials/list-collection.yml
  docs/csharp/tour-of-csharp/tutorials/local-environment.md
  docs/csharp/tour-of-csharp/tutorials/snippets/ListCollection/ListCollection.csproj
  docs/csharp/tour-of-csharp/tutorials/snippets/ListCollection/Program.cs
Owners: @dotnet/docs, @BillWagner

Edit and update the index
  .openpublishing.redirection.csharp.json
  docs/csharp/toc.yml
  docs/csharp/tour-of-csharp/tutorials/index.md
  docs/csharp/tour-of-csharp/tutorials/local-environment.md
Owners: @dotnet/docs, @BillWagner

fix warnings
  docs/csharp/tour-of-csharp/tutorials/index.md
  docs/csharp/tour-of-csharp/tutorials/list-collection.md
Owners: @BillWagner, @dotnet/docs

Add a sequester monthly mode. (#45154)
  .github/workflows/quest-bulk.yml
Owners: @dotnet/docs

Add `delegate` to builtin types
  docs/csharp/language-reference/builtin-types/built-in-types.md
Owners: @BillWagner, @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

`implementing-dispose.md`: Better illustration of SafeHandles
  docs/standard/garbage-collection/implementing-dispose.md
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/Program.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/base1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/base2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/derived1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/derived2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/safe.cs
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/Program.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/base1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/base2.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/derived1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/derived2.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/safe.vb
Owners: @gewarren, @dotnet/docs, @BillWagner, @IEvangelist

Update the wrong AiServiceProvider parameter
  docs/ai/quickstarts/includes/ai-templates-azure-openai.md
  docs/ai/quickstarts/includes/ai-templates-ollama.md
  docs/ai/quickstarts/includes/ai-templates-openai.md
Owners: @dotnet/docs

Remove IsTestProject from MTP doc page
  docs/core/testing/microsoft-testing-platform-integration-dotnet-test.md
Owners: @IEvangelist, @dotnet/docs

fix warnings and improve content
  docs/standard/garbage-collection/implementing-dispose.md
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/Program.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/safe.cs
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/Program.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/safe.vb
Owners: @gewarren, @dotnet/docs, @BillWagner, @IEvangelist

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

adjust bookmark links, remove temp bookmarks
  .openpublishing.redirection.framework.json
  docs/core/extensions/httpclient-factory.md
  docs/fundamentals/networking/http/http-overview.md
  docs/fundamentals/networking/http/httpclient.md
Owners: @dotnet/docs, @IEvangelist

Fix namespace spacing and indentation for classes
  docs/csharp/programming-guide/classes-and-structs/snippets/properties/Person.cs
Owners: @BillWagner, @dotnet/docs

fix references
  docs/standard/garbage-collection/implementing-dispose.md
Owners: @gewarren, @dotnet/docs

Correct the inconsistent spacing
  docs/csharp/programming-guide/classes-and-structs/snippets/properties/Program.cs
Owners: @BillWagner, @dotnet/docs

Added tutorial about Source-generated metrics with strongly-typed tags
  docs/core/diagnostics/metrics-strongly-typed.md
  docs/core/diagnostics/metrics.md
  docs/navigate/tools-diagnostics/toc.yml
Owners: @tommcdon, @dotnet/docs

Fixed invalid links
  docs/core/diagnostics/metrics-strongly-typed.md
  docs/core/diagnostics/metrics.md
Owners: @tommcdon, @dotnet/docs

Fixed lint error
  docs/core/diagnostics/metrics-strongly-typed.md
Owners: @tommcdon, @dotnet/docs

adjust bookmark links, remove temp bookmarks (#45177)
  .openpublishing.redirection.framework.json
  docs/core/extensions/httpclient-factory.md
  docs/fundamentals/networking/http/http-overview.md
  docs/fundamentals/networking/http/httpclient.md
Owners: @dotnet/docs, @IEvangelist

Replace MSTest Runner with Microsoft Testing Platform (#45099)
  docs/core/project-sdk/msbuild-props.md
  docs/core/testing/microsoft-testing-platform-vs-vstest.md
  docs/core/testing/unit-testing-fsharp-with-mstest.md
  docs/core/testing/unit-testing-mstest-runner-intro.md
  docs/core/testing/unit-testing-mstest-sdk.md
  docs/core/testing/unit-testing-visual-basic-with-mstest.md
  docs/core/tools/dotnet-new-sdk-templates.md
Owners: @gewarren, @dotnet/docs, @IEvangelist, @tdykstra

Fix the style of code examples in "Using Properties (C#)" (#45178)
  docs/csharp/programming-guide/classes-and-structs/snippets/properties/Person.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/properties/Program.cs
Owners: @BillWagner, @dotnet/docs

format tables
  docs/csharp/language-reference/builtin-types/built-in-types.md
Owners: @BillWagner, @dotnet/docs

Remove IsTestProject from MTP doc page (#45175)
  docs/core/testing/microsoft-testing-platform-integration-dotnet-test.md
Owners: @IEvangelist, @dotnet/docs

Update GetStarted TOC and curate tutorials (#45144)
  .openpublishing.redirection.csharp.json
  docs/core/introduction.md
  docs/csharp/index.yml
  docs/csharp/toc.yml
  docs/csharp/tour-of-csharp/index.yml
  docs/csharp/tour-of-csharp/tips-for-python-developers.md
  docs/csharp/tour-of-csharp/tutorials/arrays-and-collections.md
  docs/csharp/tour-of-csharp/tutorials/branches-and-loops-local.md
  docs/csharp/tour-of-csharp/tutorials/branches-and-loops.md
  docs/csharp/tour-of-csharp/tutorials/branches-and-loops.yml
  docs/csharp/tour-of-csharp/tutorials/hello-world.md
  docs/csharp/tour-of-csharp/tutorials/hello-world.yml
  docs/csharp/tour-of-csharp/tutorials/index.md
  docs/csharp/tour-of-csharp/tutorials/list-collection.md
  docs/csharp/tour-of-csharp/tutorials/list-collection.yml
  docs/csharp/tour-of-csharp/tutorials/local-environment.md
  docs/csharp/tour-of-csharp/tutorials/numbers-in-csharp-local.md
  docs/csharp/tour-of-csharp/tutorials/numbers-in-csharp.md
  docs/csharp/tour-of-csharp/tutorials/numbers-in-csharp.yml
  docs/csharp/tour-of-csharp/tutorials/snippets/BranchesAndLoops/BranchesAndLoops.csproj
  docs/csharp/tour-of-csharp/tutorials/snippets/BranchesAndLoops/Program.cs
  docs/csharp/tour-of-csharp/tutorials/snippets/HelloWorld/HelloWorld.csproj
  docs/csharp/tour-of-csharp/tutorials/snippets/HelloWorld/Program.cs
  docs/csharp/tour-of-csharp/tutorials/snippets/ListCollection/ListCollection.csproj
  docs/csharp/tour-of-csharp/tutorials/snippets/ListCollection/Program.cs
  docs/csharp/tour-of-csharp/tutorials/snippets/NumbersInCsharp/NumbersInCsharp.csproj
  docs/csharp/tour-of-csharp/tutorials/snippets/NumbersInCsharp/Program.cs
  docs/index.yml
Owners: @dotnet/docs, @BillWagner

Add `delegate` to builtin types (#45169)
  docs/csharp/language-reference/builtin-types/built-in-types.md
Owners: @BillWagner, @dotnet/docs

fix warning
  docs/standard/garbage-collection/implementing-dispose.md
Owners: @gewarren, @dotnet/docs

Update package index with latest published versions (#45167)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

remove invalid link
  docs/csharp/tour-of-csharp/tutorials/index.md
Owners: @BillWagner, @dotnet/docs

remove invalid link (#45183)
  docs/csharp/tour-of-csharp/tutorials/index.md
Owners: @BillWagner, @dotnet/docs

Apply suggestions from code review
  docs/core/diagnostics/metrics-strongly-typed.md
  docs/navigate/tools-diagnostics/toc.yml
Owners: @tommcdon, @dotnet/docs

Update the wrong AiServiceProvider parameter (#45174)
  docs/ai/quickstarts/includes/ai-templates-azure-openai.md
  docs/ai/quickstarts/includes/ai-templates-ollama.md
  docs/ai/quickstarts/includes/ai-templates-openai.md
Owners: @dotnet/docs

add assert
  docs/ai/tutorials/snippets/evaluate-with-reporting/MyTests.cs
Owners: @dotnet/docs

edit pass
  docs/csharp/asynchronous-programming/index.md
Owners: @BillWagner, @dotnet/docs

remove borders around diagrams
  docs/csharp/asynchronous-programming/index.md
Owners: @BillWagner, @dotnet/docs

Windows Form warnings
  docs/core/compatibility/10.0.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/windows-forms/10.0/obsolete-apis.md
Owners: @camsoper, @gewarren, @dotnet/docs

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs
