Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @cartermp, @KathleenDollard, @luisquintanilla, @nishanil, @IEvangelist, @CamSoper, @adegeo, @tommcdon, @sdmaclea, @tdykstra, @mcleblanc, @karelz, @HongGit, @bricelam, @jamesnk, @jkoritzinsky, @danroth27, @shirhatti, @OliaG

Update InterimSteps.cs
  docs/csharp/whats-new/tutorials/snippets/record-types/InterimSteps.cs
Owners: @BillWagner

Minor updates to source generators overview
  docs/csharp/roslyn-sdk/source-generators-overview.md
Owners: @BillWagner

Update publish-subscribe.md
  docs/architecture/dapr-for-net-developers/publish-subscribe.md
Owners: @nishanil, @IEvangelist

Placing quickstart on hub (#24725)
  docs/azure/index.yml
Owners: @CamSoper

Minor updates to source generators overview (#24753)
  docs/csharp/roslyn-sdk/source-generators-overview.md
Owners: @BillWagner

Update InterimSteps.cs (#24749)
  docs/csharp/whats-new/tutorials/snippets/record-types/InterimSteps.cs
Owners: @BillWagner

Update publish-subscribe.md (#24754)
  docs/architecture/dapr-for-net-developers/publish-subscribe.md
Owners: @nishanil, @IEvangelist

Apply suggestions from code review
  docs/architecture/dapr-for-net-developers/sample-application.md
  docs/architecture/dapr-for-net-developers/state-management.md
Owners: @nishanil, @IEvangelist

Apply suggestions from code review
  docs/core/extensions/snippets/logging/console-formatter-custom/CustomFormatter.cs
Owners: @dotnet/docs

Apply suggestions from code review
  docs/architecture/dapr-for-net-developers/bindings.md
  docs/architecture/dapr-for-net-developers/publish-subscribe.md
  docs/architecture/dapr-for-net-developers/secrets-management.md
  docs/architecture/dapr-for-net-developers/service-invocation.md
Owners: @nishanil, @IEvangelist

Add details about accessing both services and config at the same time
  docs/core/extensions/options.md
Owners: @dotnet/docs

Delete .NET Fx install docs for old Windows versions (#24695)
  .openpublishing.redirection.json
  docs/framework/install/index.md
  docs/framework/install/on-windows-7.md
  docs/framework/install/on-windows-vista.md
  docs/framework/install/on-windows-xp.md
  docs/framework/toc.yml
Owners: @dotnet/docs, @adegeo

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren

# The C# Guide:
/docs/csharp/ @BillWagner

# The F# Guide:
/docs/fsharp/ @cartermp

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner

# The ML.NET Guide:
/docs/machine-learning/ @luisquintanilla

# The .NET for Apache Spark Guide:
/docs/spark/ @luisquintanilla

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist

# Azure Guide
/docs/azure/ @CamSoper

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @adegeo
# Deployment
/docs/core/deploying/ @adegeo
# Diagnostics
/docs/core/diagnostics/ @tommcdon @sdmaclea @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist
# Install
/docs/core/install/ @adegeo
# Breaking changes
/docs/core/compatibility/ @gewarren
# Project SDKs
/docs/core/project-sdk/ @gewarren
# Config settings
/docs/core/run-time-config/ @gewarren
# Tools
/docs/core/tools/ @tdykstra
# Tutorials
/docs/core/tutorials/ @tdykstra

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo
# Deployment
/docs/framework/deployment/ @adegeo
# Installation
/docs/framework/install/ @adegeo
# Migration guide
/docs/framework/migration-guide/ @gewarren
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo
# Resources
/docs/framework/resources/ @adegeo
# Tools
/docs/framework/tools/ @tdykstra
# UI Automation
/docs/framework/ui-automation/ @adegeo
# What's New
/docs/framework/whats-new/ @gewarren
# Winforms
/docs/framework/winforms/ @adegeo
# WPF
/docs/framework/wpf/ @adegeo
# XAML Services
/docs/framework/xaml-services/ @adegeo
# ADO.NET
/docs/framework/data/ @mcleblanc
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz
/docs/framework/network-programming/ @karelz
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit
/docs/framework/wcf/ @HongGit

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist
# Assembly
/docs/standard/assembly/ @IEvangelist
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner
# Attributes
/docs/standard/attributes/ @tdykstra
# Base types
/docs/standard/base-types/ @adegeo
# Collections
/docs/standard/collections/ @IEvangelist
# Data
/docs/standard/data/ @gewarren
# Data - SQLite
/docs/standard/data/sqlite/ @bricelam
# Datetime
/docs/standard/datetime/ @adegeo
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner
# Events
/docs/standard/events/ @IEvangelist
# Exceptions
/docs/standard/exceptions/ @tdykstra
# GC
/docs/standard/garbage-collection/ @gewarren
# Generics
/docs/standard/generics/ @adegeo
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs
# I/O
/docs/standard/io/ @adegeo
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @tdykstra
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist
# Security
/docs/standard/security/ @IEvangelist
# Serialization
/docs/standard/serialization/ @tdykstra
# Threading
/docs/standard/threading/ @BillWagner
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @shirhatti @IEvangelist
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner
# F# Snippets:
/samples/snippets/fsharp/ @cartermp

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo
/samples/snippets/csharp/wpf/   @adegeo
/samples/snippets/visualbasic/wpf/   @adegeo
/samples/snippets/desktop-guide/wpf/   @adegeo

/samples/snippets/winforms/  @adegeo
