Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

Update install-gpu-model-builder.md (#44444)
  docs/machine-learning/how-to-guides/install-gpu-model-builder.md
Owners: @gewarren, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @dotnet/docs

Update package index with latest published versions (#44454)
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Fix "nullable to primitive type" snippets in nullable-value-types.md (#44456)
  docs/fsharp/language-reference/nullable-value-types.md
Owners: @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @dotnet/docs

Update dependency-injection-basics.md
  docs/core/extensions/dependency-injection-basics.md
Owners: @IEvangelist, @dotnet/docs

Update docs/orleans/grains/grain-placement-filtering.md
  docs/orleans/grains/grain-placement-filtering.md
Owners: @IEvangelist, @dotnet/docs

Update docs/orleans/grains/grain-placement-filtering.md
  docs/orleans/grains/grain-placement-filtering.md
Owners: @IEvangelist, @dotnet/docs

Update docs/orleans/grains/grain-placement-filtering.md
  docs/orleans/grains/grain-placement-filtering.md
Owners: @IEvangelist, @dotnet/docs

Update docs/orleans/grains/grain-placement-filtering.md
  docs/orleans/grains/grain-placement-filtering.md
Owners: @IEvangelist, @dotnet/docs

Update docs/orleans/grains/grain-placement-filtering.md
  docs/orleans/grains/grain-placement-filtering.md
Owners: @IEvangelist, @dotnet/docs

Update docs/orleans/grains/grain-placement-filtering.md
  docs/orleans/grains/grain-placement-filtering.md
Owners: @IEvangelist, @dotnet/docs

Update docs/orleans/grains/grain-placement-filtering.md
  docs/orleans/grains/grain-placement-filtering.md
Owners: @IEvangelist, @dotnet/docs

Update docs/orleans/grains/grain-placement-filtering.md
  docs/orleans/grains/grain-placement-filtering.md
Owners: @IEvangelist, @dotnet/docs

Update docs/orleans/grains/grain-placement-filtering.md
  docs/orleans/grains/grain-placement-filtering.md
Owners: @IEvangelist, @dotnet/docs

Update docs/orleans/grains/grain-placement-filtering.md
  docs/orleans/grains/grain-placement-filtering.md
Owners: @IEvangelist, @dotnet/docs

Update docs/orleans/grains/grain-placement-filtering.md
  docs/orleans/grains/grain-placement-filtering.md
Owners: @IEvangelist, @dotnet/docs

Update docs/orleans/grains/grain-placement-filtering.md
  docs/orleans/grains/grain-placement-filtering.md
Owners: @IEvangelist, @dotnet/docs

Update docs/orleans/grains/grain-placement-filtering.md
  docs/orleans/grains/grain-placement-filtering.md
Owners: @IEvangelist, @dotnet/docs

Update docs/orleans/grains/grain-placement-filtering.md
  docs/orleans/grains/grain-placement-filtering.md
Owners: @IEvangelist, @dotnet/docs

Update docs/orleans/grains/grain-placement-filtering.md
  docs/orleans/grains/grain-placement-filtering.md
Owners: @IEvangelist, @dotnet/docs

Update docs/orleans/grains/grain-placement-filtering.md
  docs/orleans/grains/grain-placement-filtering.md
Owners: @IEvangelist, @dotnet/docs

Update docs/orleans/grains/grain-placement-filtering.md
  docs/orleans/grains/grain-placement-filtering.md
Owners: @IEvangelist, @dotnet/docs

Update docs/orleans/grains/grain-placement-filtering.md
  docs/orleans/grains/grain-placement-filtering.md
Owners: @IEvangelist, @dotnet/docs

Update docs/orleans/grains/grain-placement-filtering.md
  docs/orleans/grains/grain-placement-filtering.md
Owners: @IEvangelist, @dotnet/docs

reworded explaination
  docs/orleans/grains/grain-placement-filtering.md
Owners: @IEvangelist, @dotnet/docs

fixing markdownlint erros for multiple newlines
  docs/orleans/grains/grain-placement-filtering.md
Owners: @IEvangelist, @dotnet/docs

Apply suggestions from code review
  docs/core/testing/mstest-analyzers/mstest0039.md
  docs/core/testing/mstest-analyzers/mstest0040.md
Owners: @IEvangelist, @dotnet/docs

Update docs/fsharp/language-reference/values/null-values.md
  docs/fsharp/language-reference/values/null-values.md
Owners: @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @dotnet/docs

Nullable reference types in F# (#44047)
  docs/fsharp/language-reference/active-patterns.md
  docs/fsharp/language-reference/compiler-directives.md
  docs/fsharp/language-reference/compiler-options.md
  docs/fsharp/language-reference/fsharp-interactive-options.md
  docs/fsharp/language-reference/generics/constraints.md
  docs/fsharp/language-reference/pattern-matching.md
  docs/fsharp/language-reference/values/null-values.md
  docs/fsharp/style-guide/component-design-guidelines.md
  docs/fsharp/style-guide/conventions.md
Owners: @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @dotnet/docs

Document MSTEST0039 and MSTEST0040 (#44419)
  docs/core/testing/mstest-analyzers/mstest0035.md
  docs/core/testing/mstest-analyzers/mstest0036.md
  docs/core/testing/mstest-analyzers/mstest0037.md
  docs/core/testing/mstest-analyzers/mstest0038.md
  docs/core/testing/mstest-analyzers/mstest0039.md
  docs/core/testing/mstest-analyzers/mstest0040.md
  docs/core/testing/mstest-analyzers/usage-rules.md
  docs/navigate/devops-testing/toc.yml
Owners: @IEvangelist, @dotnet/docs

Apply suggestions from code review
  docs/fundamentals/networking/telemetry/tracing.md
Owners: @dotnet/docs

Update docs/fundamentals/networking/telemetry/metrics.md
  docs/fundamentals/networking/telemetry/metrics.md
Owners: @dotnet/docs

screenshot for dontent-counters
  docs/fundamentals/networking/telemetry/media/dotnet-counters.png
  docs/fundamentals/networking/telemetry/metrics.md
  docs/fundamentals/networking/telemetry/snippets/metrics/Program.cs
Owners: @dotnet/docs

Add link to .NET Aspire API ref
  docs/index.yml
Owners: @dotnet/docs

Update the screenshot for tooltip in CA2208
  docs/fundamentals/code-analysis/quality-rules/media/ca2208-codefix_swap.png
Owners: @gewarren, @dotnet/docs

Improve the screenshot to show the error underline
  docs/fundamentals/code-analysis/quality-rules/media/ca2208-codefix_swap.png
Owners: @gewarren, @dotnet/docs

Remove the tip of having single typename param
  docs/fundamentals/code-analysis/quality-rules/ca2208.md
Owners: @gewarren, @dotnet/docs

Remove the unused CA2208 screenshot
  docs/fundamentals/code-analysis/quality-rules/media/ca2208-codefix_null_msg.png
Owners: @gewarren, @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Owners: @dotnet/docs

Update ide0033.md
  docs/fundamentals/code-analysis/style-rules/ide0033.md
Owners: @gewarren, @dotnet/docs

Update supported status of .NET 6 (#44453)
  docs/core/tools/sdk-errors/netsdk1138.md
Owners: @tdykstra, @dotnet/docs

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs
