Repository dotnet/docs, changes with the owners that .github/CODEOWNERS names for each.
All owners: @dotnet/docs, @billwagner, @gewarren, @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @KathleenDollard, @luisquintanilla, @JakeRadMSFT, @michaelgsharp, @nishanil, @IEvangelist, @alexwolfmsft, @CamSoper, @jsquire, @scottaddie, @christothes, @schaabs, @annelo-msft, @JoshLove-msft, @KrzysztofCwalina, @ArthurMa1978, @m-nash, @camsoper, @adegeo, @tommcdon, @tdykstra, @karelz, @HongGit, @ajcvickers, @jamesnk, @jkoritzinsky, @danroth27, @OliaG

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# The '*' pattern is global owners.

*    @dotnet/docs

.github/ @dotnet/docs

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:
# . Guides
# . .NET Core sections
# . .NET Framework sections
# . .NET Standard
# . Architecture e-books

# In each subsection, folders are order first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

######## API landing page ###########
/api/ @dotnet/docs

############ What's new ###############
/docs/whats-new/ @billwagner @dotnet/docs

############ Guides ################
# .NET Core
/docs/core/ @dotnet/docs

# .NET Framework
/docs/framework/ @dotnet/docs

# .NET Standard
/docs/standard/ @gewarren @dotnet/docs

# The C# Guide:
/docs/csharp/ @BillWagner @dotnet/docs

# The F# Guide:
/docs/fsharp/ @BillWagner @kathleendollard @dotnet/fsharp-team-msft @dotnet/docs

# The Visual Basic Guide:
/docs/visual-basic/ @KathleenDollard @BillWagner @dotnet/docs

# The ML.NET Guide:
/docs/machine-learning/ @gewarren @luisquintanilla @JakeRadMSFT @michaelgsharp @dotnet/docs

# The .NET Architecture Guide:
/docs/architecture/ @nishanil @IEvangelist @dotnet/docs

# .NET Orleans
/docs/orleans/ @IEvangelist @dotnet/docs

############### Azure ################

# Azure Guide
/docs/azure/ @alexwolfmsft @CamSoper @dotnet/docs

# Azure SDK package list
/docs/azure/includes/ @dotnet/docs

# Azure SDK catch-all entry
/docs/azure/sdk/ @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# Azure SDK authentication topics
/docs/azure/sdk/authentication/ @christothes @schaabs @dotnet/docs @alexwolfmsft @CamSoper @scottaddie

# Azure SDK miscellaneous topics
/docs/azure/sdk/azure-sdk-configure-proxy.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/azure-sdk-for-net.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/dependency-injection.md @JoshLove-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/logging.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/packages.md @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/pagination.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/protocol-convenience-methods.md @annelo-msft @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/resource-management.md @ArthurMa1978 @m-nash @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/thread-safety.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs
/docs/azure/sdk/unit-testing-mocking.md @annelo-msft @christothes @JoshLove-msft @KrzysztofCwalina @jsquire @alexwolfmsft @CamSoper @scottaddie @dotnet/docs

# IoT Guide
/docs/iot/ @CamSoper @dotnet/docs

# Includes files
/includes/ @dotnet/docs

############### .NET 5 ################

# Code analysis
/docs/fundamentals/code-analysis/ @gewarren @dotnet/docs

############### .NET Core ########################
# What's New
/docs/core/whats-new/ @camsoper @gewarren @dotnet/docs
# Deployment
/docs/core/deploying/ @adegeo @dotnet/docs
# Diagnostics
/docs/core/diagnostics/ @tommcdon @dotnet/docs
# Extensions
/docs/core/extensions/ @IEvangelist @dotnet/docs
# Docker
/docs/core/docker/ @IEvangelist @dotnet/docs
# Install
/docs/core/install/ @adegeo @dotnet/docs
# Breaking changes
/docs/core/compatibility/ @camsoper @gewarren @dotnet/docs
# Project SDKs
/docs/core/project-sdk/ @gewarren @dotnet/docs
# Config settings
/docs/core/runtime-config/ @gewarren @dotnet/docs
# Testing
/docs/core/testing/ @IEvangelist @dotnet/docs
# Tools
/docs/core/tools/ @tdykstra @dotnet/docs
# Tutorials
/docs/core/tutorials/ @tdykstra @dotnet/docs

################### .NET Framework ##################
# App domains
/docs/framework/app-domains/ @gewarren @dotnet/docs
# Config - WinForms
/docs/framework/configure-apps/file-schema/winforms/ @adegeo @dotnet/docs
# Deployment
/docs/framework/deployment/ @adegeo @dotnet/docs
# Installation
/docs/framework/install/ @adegeo @dotnet/docs
# Migration guide
/docs/framework/migration-guide/ @gewarren @dotnet/docs
# Reflection
/docs/framework/reflection-and-codedom/ @adegeo @dotnet/docs
# Resources
/docs/framework/resources/ @adegeo @dotnet/docs
# Tools
/docs/framework/tools/ @gewarren @dotnet/docs
# UI Automation
/docs/framework/ui-automation/ @adegeo @dotnet/docs
# What's New
/docs/framework/whats-new/ @gewarren @dotnet/docs
# Winforms
/docs/framework/winforms/ @adegeo @dotnet/docs
# WPF
/docs/framework/wpf/ @adegeo @dotnet/docs
# XAML Services
/docs/framework/xaml-services/ @adegeo @dotnet/docs
# ADO.NET
/docs/framework/data/ @dotnet/docs
# NCL
/docs/framework/configure-apps/file-schema/network/ @karelz @dotnet/docs
/docs/framework/network-programming/ @karelz @dotnet/docs
# WCF
/docs/framework/configure-apps/file-schema/wcf/ @HongGit @dotnet/docs
/docs/framework/wcf/ @HongGit @dotnet/docs

################## .NET Standard ##################
# Analyzers
/docs/standard/analyzers/ @IEvangelist @dotnet/docs
# Assembly
/docs/standard/assembly/ @IEvangelist @dotnet/docs
# Asynchronous Programming Patterns
/docs/standard/asynchronous-programming-patterns/ @BillWagner @dotnet/docs
# Attributes
/docs/standard/attributes/ @gewarren @dotnet/docs
# Character encoding
/docs/standard/base-types/character-encoding/ @gewarren @dotnet/docs
/docs/standard/base-types/character-encoding-introduction/ @gewarren @dotnet/docs
# Base types
/docs/standard/base-types/ @adegeo @dotnet/docs
# Collections
/docs/standard/collections/ @IEvangelist @dotnet/docs
# System.CommandLine
/docs/standard/commandline/ @tdykstra @dotnet/docs
# Data
/docs/standard/data/ @gewarren @dotnet/docs
# Data - SQLite
/docs/standard/data/sqlite/ @ajcvickers @dotnet/docs
# Datetime
/docs/standard/datetime/ @adegeo @dotnet/docs
# Design guidelines
/docs/standard/design-guidelines/ @BillWagner @dotnet/docs
# Events
/docs/standard/events/ @IEvangelist @dotnet/docs
# Exceptions
/docs/standard/exceptions/ @gewarren @dotnet/docs
# GC
/docs/standard/garbage-collection/ @gewarren @dotnet/docs
# Generics
/docs/standard/generics/ @adegeo @dotnet/docs
# Globalization
/docs/standard/globalization-localization/ @dotnet/docs @dotnet/docs
# I/O
/docs/standard/io/ @adegeo @dotnet/docs
# Library guidance
/docs/standard/library-guidance/ @jamesnk @IEvangelist @dotnet/docs
# LINQ
/docs/standard/linq/ @dotnet/docs
# Memory and spans
/docs/standard/memory-and-spans/ @gewarren @dotnet/docs
# Native Interop
/docs/standard/native-interop/ @jkoritzinsky @dotnet/docs
# Parallel programming
/docs/standard/parallel-programming/ @IEvangelist @dotnet/docs
# Security
/docs/standard/security/ @IEvangelist @dotnet/docs
# Serialization
/docs/standard/serialization/ @gewarren @dotnet/docs
# Threading
/docs/standard/threading/ @BillWagner @dotnet/docs
# What's New
/docs/standard/whats-new/ @dotnet/docs

################## E-books ##################
# Blazor:
/docs/architecture/blazor-for-web-forms-developers/ @danroth27 @IEvangelist @dotnet/docs
# gRPC:
/docs/architecture/grpc-for-wcf-developers/ @IEvangelist @dotnet/docs
# Desktop:
/docs/architecture/modernize-desktop/ @OliaG @IEvangelist @dotnet/docs

################# Samples folder ##############

## These have been pulled directly from the samples repo:

/samples/snippets/csharp/ @BillWagner @IEvangelist @dotnet/docs
# Visual Basic snippets:
/samples/snippets/visualbasic/ @BillWagner @dotnet/docs
# F# Snippets:
/samples/snippets/fsharp/ @dotnet/docs

# WPF folders:
/samples/snippets/xaml/wpf/   @adegeo @dotnet/docs
/samples/snippets/csharp/wpf/   @adegeo @dotnet/docs
/samples/snippets/visualbasic/wpf/   @adegeo @dotnet/docs
/samples/snippets/desktop-guide/wpf/   @adegeo @dotnet/docs

/samples/snippets/winforms/  @adegeo @dotnet/docs

Add MSTESTEXP doc (#44575)
  docs/core/testing/mstest-analyzers/overview.md
Owners: @IEvangelist, @dotnet/docs

Show example of multiple ContainerRuntimeIdentifiers
  docs/core/containers/publish-configuration.md
Owners: @dotnet/docs

code fence `into` when used as a keyword (#44563)
  docs/csharp/linq/get-started/query-expression-basics.md
Owners: @BillWagner, @dotnet/docs

fix build warnings
  docfx.json
  docs/azure/includes/dotnet-all.md
  docs/orleans/tutorials-and-samples/index.md
Owners: @dotnet/docs, @IEvangelist

Update ms.custom value to the new value
  docs/csharp/how-to/parse-strings-using-split.md
Owners: @BillWagner, @dotnet/docs

fix broken link
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/nosql-database-persistence-infrastructure.md
Owners: @nishanil, @IEvangelist, @dotnet/docs

Update ms.custom in deserialization.md
  docs/standard/serialization/system-text-json/deserialization.md
Owners: @gewarren, @dotnet/docs

Improve credential reuse code sample for ASP.NET Core
  .openpublishing.redirection.azure.json
  docs/azure/sdk/authentication/best-practices.md
  docs/azure/sdk/snippets/authentication/best-practices/Program.cs
Owners: @dotnet/docs, @christothes, @schaabs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

Update ms.custom in how-to.md
  docs/standard/serialization/system-text-json/how-to.md
Owners: @gewarren, @dotnet/docs

Update ms.custom in customize-properties.md
  docs/standard/serialization/system-text-json/customize-properties.md
Owners: @gewarren, @dotnet/docs

Update ms.custom in migrate-from-newtonsoft.md
  docs/standard/serialization/system-text-json/migrate-from-newtonsoft.md
Owners: @gewarren, @dotnet/docs

Update redirect entry and ToC
  .openpublishing.redirection.azure.json
  docs/azure/TOC.yml
Owners: @dotnet/docs, @alexwolfmsft, @CamSoper

Update how-to-convert-a-string-to-a-number.md
  docs/csharp/programming-guide/types/how-to-convert-a-string-to-a-number.md
Owners: @BillWagner, @dotnet/docs

Update hosting guidance
  docs/ai/how-to/app-service-aoai-auth.md
  docs/ai/how-to/snippets/hosted-app-auth/Program.cs
  docs/ai/how-to/snippets/hosted-app-auth/Properties/launchSettings.json
  docs/ai/how-to/snippets/hosted-app-auth/appsettings.Development.json
  docs/ai/how-to/snippets/hosted-app-auth/appsettings.json
  docs/ai/how-to/snippets/hosted-app-auth/hosted-app-auth.csproj
  docs/ai/how-to/snippets/hosted-app-auth/hosted-app-auth.http
  docs/ai/toc.yml
Owners: @dotnet/docs

fix code samples
  docs/ai/how-to/app-service-aoai-auth.md
Owners: @dotnet/docs

Apply suggestions from code review
  docs/csharp/language-reference/attributes/pseudo-attributes.md
Owners: @BillWagner, @dotnet/docs

Fast follow to #44513 (#44565)
  docs/csharp/language-reference/attributes/pseudo-attributes.md
Owners: @BillWagner, @dotnet/docs

Update code samples
  docs/azure/sdk/authentication/best-practices.md
  docs/azure/sdk/snippets/authentication/best-practices/Program.cs
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

Update line numbers
  docs/azure/sdk/authentication/best-practices.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

Add Copilot highlight to how-to-initialize-a-dictionary-with-a-collection-initializer.md
  docs/csharp/programming-guide/classes-and-structs/how-to-initialize-a-dictionary-with-a-collection-initializer.md
Owners: @BillWagner, @dotnet/docs

Update how-to-initialize-a-dictionary-with-a-collection-initializer.md
  docs/csharp/programming-guide/classes-and-structs/how-to-initialize-a-dictionary-with-a-collection-initializer.md
Owners: @BillWagner, @dotnet/docs

Add copilot highlight to concatenate-multiple-strings.md
  docs/csharp/how-to/concatenate-multiple-strings.md
Owners: @BillWagner, @dotnet/docs

Fixed bug 34928.
  docs/fsharp/language-reference/parameters-and-arguments.md
Owners: @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @dotnet/docs

Update docs/csharp/programming-guide/classes-and-structs/how-to-initialize-a-dictionary-with-a-collection-initializer.md
  docs/csharp/programming-guide/classes-and-structs/how-to-initialize-a-dictionary-with-a-collection-initializer.md
Owners: @BillWagner, @dotnet/docs

Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Owners: @dotnet/docs

Update MSTEST0026 doc to reflect enabled by default change in 3.8
  docs/core/testing/mstest-analyzers/mstest0026.md
Owners: @IEvangelist, @dotnet/docs

Use 'unsafe' explicitly to have it in snippets (#44573)
  docs/csharp/language-reference/snippets/unsafe-code/FunctionPointers.cs
Owners: @BillWagner, @dotnet/docs

Update package index with latest published versions (#44579)
  docs/azure/includes/dotnet-all.md
Owners: @dotnet/docs

Update MSTEST0026 doc to reflect enabled by default change in 3.8 (#44585)
  docs/core/testing/mstest-analyzers/mstest0026.md
Owners: @IEvangelist, @dotnet/docs

Fixed bug 34928. (#44584)
  docs/fsharp/language-reference/parameters-and-arguments.md
Owners: @BillWagner, @kathleendollard, @dotnet/fsharp-team-msft, @dotnet/docs

polish updates
  docs/ai/how-to/app-service-aoai-auth.md
  docs/ai/how-to/snippets/hosted-app-auth/Program.cs
  docs/ai/media/azure-hosted-apps/add-entra-role.png
  docs/ai/media/azure-hosted-apps/system-assigned-managed-identity-in-azure-portal.png
  docs/ai/media/azure-hosted-apps/user-assigned-managed-identity-in-azure-portal.png
Owners: @dotnet/docs

Add explanations for code snippets
  docs/azure/sdk/authentication/best-practices.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

fixes
  docs/ai/how-to/app-service-aoai-auth.md
Owners: @dotnet/docs

fix code line
  docs/ai/how-to/app-service-aoai-auth.md
Owners: @dotnet/docs

Apply suggestions from code review
  docs/fundamentals/networking/telemetry/metrics.md
  docs/fundamentals/networking/telemetry/overview.md
  docs/fundamentals/networking/telemetry/tracing.md
Owners: @dotnet/docs

imrpovements
  docs/fundamentals/networking/telemetry/metrics.md
  docs/fundamentals/networking/telemetry/tracing.md
Owners: @dotnet/docs

[Chore] Fix build suggestions 1/28 (#44582)
  docfx.json
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/nosql-database-persistence-infrastructure.md
  docs/azure/includes/dotnet-all.md
  docs/orleans/tutorials-and-samples/index.md
Owners: @dotnet/docs, @nishanil, @IEvangelist

Update code samples
  docs/azure/sdk/authentication/best-practices.md
  docs/azure/sdk/snippets/authentication/Directory.Packages.props
  docs/azure/sdk/snippets/authentication/best-practices/BestPractices.sln
  docs/azure/sdk/snippets/authentication/best-practices/CCA/ConfidentialClientApp.csproj
  docs/azure/sdk/snippets/authentication/best-practices/CCA/Program.cs
  docs/azure/sdk/snippets/authentication/best-practices/CCA/Properties/launchSettings.json
  docs/azure/sdk/snippets/authentication/best-practices/CCA/appsettings.Development.json
  docs/azure/sdk/snippets/authentication/best-practices/CCA/appsettings.json
  docs/azure/sdk/snippets/authentication/best-practices/PCA/App.xaml
  docs/azure/sdk/snippets/authentication/best-practices/PCA/App.xaml.cs
  docs/azure/sdk/snippets/authentication/best-practices/PCA/AssemblyInfo.cs
  docs/azure/sdk/snippets/authentication/best-practices/PCA/MainWindow.xaml
  docs/azure/sdk/snippets/authentication/best-practices/PCA/MainWindow.xaml.cs
  docs/azure/sdk/snippets/authentication/best-practices/PCA/PublicClientApp.csproj
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie, @jsquire

Update file name
  docs/azure/sdk/authentication/best-practices.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie

Update file path
  docs/azure/sdk/authentication/best-practices.md
Owners: @christothes, @schaabs, @dotnet/docs, @alexwolfmsft, @CamSoper, @scottaddie
