Repository dotnet/docs, pull requests merged in 2018-11, with the labels that each got.

#8683 Consider keeping obsolete API
  docs/standard/library-guidance/breaking-changes.md
Labels: :sparkles: 1st-time docs contributor!

#8803 Updated the 0 or 1 desc to be clear
  docs/standard/base-types/backreference-constructs-in-regular-expressions.md
Labels: P1

#8793 Add descriptions of ref conditional expression
  docs/csharp/language-reference/operators/codesnippet/CSharp/conditional-operator_1.cs
  docs/csharp/language-reference/operators/conditional-operator.md
  docs/csharp/whats-new/csharp-7-2.md
Labels: :construction: Hold for related PR

#8815 Correct case for when keyword
  docs/csharp/language-reference/keywords/when.md
Labels: :sparkles: 1st-time docs contributor!

#8655 Add documentation for interactive option in add package and restore commands
  docs/core/tools/dotnet-add-package.md
  docs/core/tools/dotnet-restore.md
Labels: :checkered_flag: Release: .NET Core 2.1, :sparkles: 1st-time docs contributor!

#8650 Added recommendation to use string interpolation
  docs/standard/base-types/composite-formatting.md
Labels: :card_file_box: Technology - .NET Standard

#8620 Documented AT_SIGNATURE limitation
  docs/framework/tools/sn-exe-strong-name-tool.md
Labels: verify-build-before-merge

#8833 Format some code snippets
  docs/csharp/language-reference/keywords/codesnippet/CSharp/implicitly-typed-local-variables_3.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/auto-implemented-properties_1.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/how-to-initialize-a-dictionary-with-a-collection-initializer_1.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/how-to-initialize-objects-by-using-an-object-initializer_2.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/how-to-order-the-results-of-a-join-clause_1.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/how-to-perform-custom-join-operations_1.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/implicitly-typed-arrays_2.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/jagged-arrays_4.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/jagged-arrays_5.cs
  docs/csharp/programming-guide/classes-and-structs/codesnippet/CSharp/how-to-define-constants_1.cs
  docs/csharp/programming-guide/classes-and-structs/codesnippet/CSharp/how-to-implement-and-call-a-custom-extension-method_1.cs
  docs/csharp/programming-guide/classes-and-structs/codesnippet/CSharp/objects_1.cs
  docs/csharp/programming-guide/concepts/linq/codesnippet/CSharp/data-transformations-with-linq_2.cs
  docs/csharp/programming-guide/concepts/linq/codesnippet/CSharp/walkthrough-writing-queries-linq_1.cs
Labels: :sparkles: 1st-time docs contributor!

#7808 Cross updating with Microservices eBook v2.1.02 - Chapter 4
  docs/standard/microservices-architecture/architect-microservice-container-applications/asynchronous-message-based-communication.md
  docs/standard/microservices-architecture/architect-microservice-container-applications/communication-in-microservice-architecture.md
  docs/standard/microservices-architecture/architect-microservice-container-applications/containerize-monolithic-applications.md
  docs/standard/microservices-architecture/architect-microservice-container-applications/data-sovereignty-per-microservice.md
  docs/standard/microservices-architecture/architect-microservice-container-applications/direct-client-to-microservice-communication-versus-the-API-Gateway-pattern.md
  docs/standard/microservices-architecture/architect-microservice-container-applications/distributed-data-management.md
  docs/standard/microservices-architecture/architect-microservice-container-applications/docker-application-state-data.md
  docs/standard/microservices-architecture/architect-microservice-container-applications/identify-microservice-domain-model-boundaries.md
  docs/standard/microservices-architecture/architect-microservice-container-applications/index.md
  docs/standard/microservices-architecture/architect-microservice-container-applications/logical-versus-physical-architecture.md
  docs/standard/microservices-architecture/architect-microservice-container-applications/maintain-microservice-apis.md
  docs/standard/microservices-architecture/architect-microservice-container-applications/media/image10.png
  docs/standard/microservices-architecture/architect-microservice-container-applications/media/image35.png
  docs/standard/microservices-architecture/architect-microservice-container-applications/media/image36.png
  docs/standard/microservices-architecture/architect-microservice-container-applications/media/image37.png
  docs/standard/microservices-architecture/architect-microservice-container-applications/media/image38.png
  docs/standard/microservices-architecture/architect-microservice-container-applications/media/image39.png
  docs/standard/microservices-architecture/architect-microservice-container-applications/media/image40.png
  docs/standard/microservices-architecture/architect-microservice-container-applications/media/image41.png
  docs/standard/microservices-architecture/architect-microservice-container-applications/media/image5.png
  docs/standard/microservices-architecture/architect-microservice-container-applications/media/image9.PNG
  docs/standard/microservices-architecture/architect-microservice-container-applications/microservice-based-composite-ui-shape-layout.md
  docs/standard/microservices-architecture/architect-microservice-container-applications/microservices-addressability-service-registry.md
  docs/standard/microservices-architecture/architect-microservice-container-applications/microservices-architecture.md
  docs/standard/microservices-architecture/architect-microservice-container-applications/resilient-high-availability-microservices.md
  docs/standard/microservices-architecture/architect-microservice-container-applications/scalable-available-multi-container-microservice-applications.md
  docs/standard/microservices-architecture/architect-microservice-container-applications/service-oriented-architecture.md
  docs/standard/microservices-architecture/architect-microservice-container-applications/using-azure-service-fabric.md
Labels: verify-build-before-merge

#8852 Clarify tuple equality short-circuit documentation
  docs/csharp/tuples.md
Labels: :sparkles: 1st-time docs contributor!

#8899 Added link to serverless landing page
  docs/standard/serverless-architecture/index.md
Labels: :card_file_box: Technology - .NET Architecture, :sparkles: 1st-time docs contributor!

#8445 Update language in NoSql persistence introduction
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/nosql-database-persistence-infrastructure.md
Labels: :book: e-book - .NET Microservices, :card_file_box: Technology - .NET Architecture, :sparkles: 1st-time docs contributor!, waiting-on-reviews

#8911 Added in the command for creating a NUnit test project
  docs/core/tools/dotnet-new.md
Labels: :sparkles: 1st-time docs contributor!

#8579 Added documentation for PackageDescription
  docs/core/tools/csproj.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#8879 mldotnet overview & related updates
  .openpublishing.redirection.json
  docs/machine-learning/basic-concepts-model-training-in-mldotnet.MD
  docs/machine-learning/index.md
  docs/machine-learning/resources/tasks.md
  docs/machine-learning/resources/transforms.md
  docs/machine-learning/what-is-mldotnet.md
  docs/toc.md
Labels: :books: Area - ML.NET Guide, :sparkles: 1st-time docs contributor!, changes-addressed, new-content

#8863 Revising taxi fare regression tutorial to .7
  docs/machine-learning/tutorials/taxi-fare.md
Labels: :books: Area - ML.NET Guide, :construction: Hold for related PR, changes-addressed, doc-update

#8839 Revise Sentiment Analysis tutorial for 0.7 release
  docs/machine-learning/tutorials/sentiment-analysis.md
Labels: :books: Area - ML.NET Guide, :construction: Hold for related PR, changes-addressed, doc-update

#8909 Split out ML.NET Cookbook
  docs/machine-learning/how-to-guides/consuming-model-ml-net.md
  docs/machine-learning/how-to-guides/inspect-intermediate-data-ml-net.md
  docs/machine-learning/how-to-guides/load-data-from-mult-column-csv-ml-net.md
  docs/machine-learning/how-to-guides/load-data-from-multiple-files-ml-net.md
  docs/machine-learning/how-to-guides/load-data-from-text-file-ml-net.md
  docs/machine-learning/how-to-guides/load-non-file-training-data-ml-net.md
  docs/machine-learning/how-to-guides/normalizers-preprocess-data-ml-net.md
  docs/machine-learning/how-to-guides/single-predict-model-ml-net.md
  docs/machine-learning/how-to-guides/train-cross-validation-ml-net.md
  docs/machine-learning/how-to-guides/train-model-categorical-ml-net.md
  docs/machine-learning/how-to-guides/train-model-textual-ml-net.md
  docs/machine-learning/how-to-guides/train-regression-model-ml-net.md
  docs/machine-learning/how-to-guides/verify-model-quality-ml-net.md
  docs/toc.md
Labels: :books: Area - ML.NET Guide, changes-addressed, new-content

#8944 Removing TrainFinalModel Method
  docs/machine-learning/tutorials/sentiment-analysis.md
Labels: :books: Area - ML.NET Guide, doc-update

#8922 Removed the Interlocked conceptual docs in favour of API reference
  .openpublishing.redirection.json
  docs/csharp/language-reference/keywords/lock-statement.md
  docs/standard/threading/interlocked-operations.md
  docs/standard/threading/overview-of-synchronization-primitives.md
  docs/standard/threading/threading-objects-and-features.md
  docs/standard/threading/toc.md
Labels: verify-build-before-merge

#8938 Change "destructor" to "finalizer" in comment
  docs/csharp/programming-guide/classes-and-structs/codesnippet/CSharp/destructors_1.cs
  docs/csharp/programming-guide/classes-and-structs/codesnippet/CSharp/destructors_2.cs
  docs/csharp/programming-guide/classes-and-structs/destructors.md
Labels: :sparkles: 1st-time docs contributor!

#8164 Removed duplicate threading topics
  .openpublishing.redirection.json
  docs/csharp/language-reference/keywords/volatile.md
  docs/csharp/programming-guide/concepts/index.md
  docs/csharp/programming-guide/concepts/threading/index.md
  docs/csharp/programming-guide/concepts/toc.md
  docs/standard/threading/index.md
  docs/standard/threading/managed-threading-best-practices.md
  docs/standard/threading/threads-and-threading.md
  docs/toc.md
  docs/visual-basic/language-reference/statements/event-statement.md
  docs/visual-basic/language-reference/statements/raiseevent-statement.md
  docs/visual-basic/programming-guide/concepts/index.md
  docs/visual-basic/programming-guide/concepts/threading/index.md
  docs/visual-basic/programming-guide/concepts/threading/toc.md
  docs/visual-basic/programming-guide/language-features/events/walkthrough-handling-events.md
Labels: changes-addressed

#8950 C49338: Replacing *** by **_
  docs/standard/serialization/xml-serializer-generator-tool-sgen-exe.md
Labels: verify-build-before-merge

#8201 Cross updating with Microservices eBook v2.1.02 - Chapter 7
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/apply-simplified-microservice-cqrs-ddd-patterns.md
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/client-side-validation.md
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/cqrs-microservice-reads.md
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/ddd-oriented-microservice.md
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/domain-events-design-implementation.md
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/domain-model-layer-validations.md
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/enumeration-classes-over-enum-types.md
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/eshoponcontainers-cqrs-ddd-microservice.md
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/implement-value-objects.md
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/index.md
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/infrastructure-persistence-layer-design.md
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/infrastructure-persistence-layer-implemenation-entity-framework-core.md
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/media/image21-bis.png
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/media/image4.1.png
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/media/image5.png
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/microservice-application-layer-implementation-web-api.md
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/microservice-application-layer-web-api-design.md
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/microservice-domain-model.md
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/net-core-microservice-domain-model.md
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/nosql-database-persistence-infrastructure.md
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/seedwork-domain-model-base-classes-interfaces.md
Labels: changes-addressed

#8989 Wrong namespace in the xml
  docs/standard/data/xml/xpath-queries-and-namespaces.md
Labels: :sparkles: 1st-time docs contributor!

#8042 Remove unsupported 2.0 from docs
  docs/core/linux-prerequisites.md
  docs/core/windows-prerequisites.md
Labels: :books: Area - .NET Core Guide

#8667 Fixes #8150 out of date
  docs/framework/wpf/getting-started/media/new-project-dialog.png
  docs/framework/wpf/getting-started/walkthrough-my-first-wpf-desktop-application.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF, :sparkles: 1st-time docs contributor!

#8671 Update index.md
  docs/core/testing/index.md
Labels: :sparkles: 1st-time docs contributor!, changes-addressed

#8589 further improvements
  docs/core/porting/index.md
Labels: :books: Area - .NET Core Guide, waiting-on-feedback

#6055 Clarify CPU Architecture Descriptions
  docs/framework/configure-apps/file-schema/runtime/assemblyidentity-element-for-runtime.md
Labels: :sparkles: 1st-time docs contributor!, waiting-on-reviews

#8018 Cross updating with Microservices eBook v2.1.02 - Chapter 6
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/background-tasks-with-ihostedservice.md
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/data-driven-crud-microservice.md
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/database-server-container.md
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/implement-api-gateways-with-ocelot.md
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/index.md
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/integration-event-based-microservice-communications.md
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/media/image1.png
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/media/image10.png
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/media/image12.png
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/media/image23.png
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/media/image32.png
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/media/image42.png
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/media/image6.png
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/media/image8.PNG
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/media/image9.png
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/microservice-application-design.md
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/multi-container-applications-docker-compose.md
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/rabbitmq-event-bus-development-test-environment.md
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/subscribe-events.md
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/test-aspnet-core-services-web-apps.md
Labels: changes-addressed

#9022 remove inner snippets + formatting 2/2
  docs/csharp/language-reference/keywords/codesnippet/CSharp/try-catch-finally_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/try-catch_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/try-catch_2.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/try-catch_3.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/try-catch_4.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/try-finally_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/try-finally_2.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/typeof_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/typeof_2.cs
  docs/csharp/language-reference/keywords/try-catch-finally.md
  docs/csharp/language-reference/keywords/try-catch.md
  docs/csharp/language-reference/keywords/try-finally.md
  docs/csharp/language-reference/keywords/typeof.md
  docs/csharp/language-reference/keywords/types.md
Labels: :construction: Hold for related PR, migration-fixes

#9032 Update Title of ML.NET How-to topic.
  docs/machine-learning/how-to-guides/train-model-textual-ml-net.md
Labels: :books: Area - ML.NET Guide

#9024 Update choose-between-traditional-web-and-single-page-apps.md
  docs/standard/modern-web-apps-azure-architecture/choose-between-traditional-web-and-single-page-apps.md
Labels: :sparkles: 1st-time docs contributor!

#9039 Update basics-of-net-framework-file-io-and-the-file-system.md
  docs/visual-basic/developing-apps/programming/drives-directories-files/basics-of-net-framework-file-io-and-the-file-system.md
Labels: :sparkles: 1st-time docs contributor!

#9036 Fixed multiple broken links from ContentQA report.
  docs/framework/data/adonet/code-access-security.md
  docs/framework/data/adonet/getting-started-linq-to-dataset.md
  docs/framework/data/adonet/queries-in-linq-to-dataset.md
  docs/framework/data/adonet/querying-datasets-linq-to-dataset.md
  docs/framework/data/adonet/secure-data-access.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - Data Access

#8626 Documented VB conversion optimization
  docs/visual-basic/getting-started/whats-new.md
  docs/visual-basic/language-reference/functions/type-conversion-functions.md
Labels: verify-build-before-merge

#7944 Cross updating with Microservices eBook v2.1.02 - Dropped sections
  docs/standard/microservices-architecture/containerize-net-framework-applications/index.md
  docs/standard/microservices-architecture/containerize-net-framework-applications/media/image1.png
  docs/standard/microservices-architecture/containerize-net-framework-applications/media/image2.png
  docs/standard/microservices-architecture/containerize-net-framework-applications/media/image3.png
  docs/standard/microservices-architecture/containerize-net-framework-applications/media/image4.png
  docs/standard/microservices-architecture/net-core-single-containers-linux-windows-server-hosts/index.md
  docs/standard/microservices-architecture/net-core-single-containers-linux-windows-server-hosts/media/image1.png
  docs/standard/microservices-architecture/net-core-single-containers-linux-windows-server-hosts/media/image2.png
  docs/standard/microservices-architecture/toc.md
Labels: changes-addressed

#8055 Guidelines for working with Memory<T> and Span<T>
  docs/standard/memory-and-spans/index.md
  docs/standard/memory-and-spans/memory-t-usage-guidelines.md
  docs/toc.md
Labels: :checkered_flag: Release: .NET Core 2.1

#9061 Removed 1 broken link identified by CATS report.
  docs/framework/data/adonet/sql/granting-row-level-permissions-in-sql-server.md
Labels: :card_file_box: Technology - Data Access

#9066 fix broken anchors + formatting
  docs/standard/microservices-architecture/architect-microservice-container-applications/asynchronous-message-based-communication.md
  docs/visual-basic/programming-guide/concepts/object-oriented-programming.md
  docs/visual-basic/programming-guide/language-features/arrays/index.md
Labels: :books: Area - Visual Basic Guide

#9064 Update ML.NET Landing page How to links
  docs/machine-learning/how-to-guides/index.md
Labels: :books: Area - ML.NET Guide

#9084 add link to API ref
  docs/toc.md
Labels: :books: Area - ML.NET Guide

#9122 Syntax highlight
  docs/framework/network-programming/how-to-ping-a-host.md
Labels: :sparkles: 1st-time docs contributor!, verify-build-before-merge

#9108 Update walkthrough-my-first-wpf-desktop-application.md
  docs/framework/wpf/getting-started/walkthrough-my-first-wpf-desktop-application.md
Labels: :sparkles: 1st-time docs contributor!

#9131 Update text to match code example
  docs/core/tutorials/using-with-xplat-cli.md
Labels: :sparkles: 1st-time docs contributor!

#9139 Corrected typo
  docs/csharp/tutorials/intro-to-csharp/list-collection.yml
Labels: :books: Area - C# Guide

#9153 Fix table style
  docs/standard/collections/index.md
Labels: verify-build-before-merge

#9025 C# Strings - Format Strings Block
  docs/csharp/programming-guide/strings/codesnippet/CSharp/index_6.cs
  docs/csharp/programming-guide/strings/index.md
Labels: :sparkles: 1st-time docs contributor!

#9160 Update ddd-oriented-microservice.md
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/ddd-oriented-microservice.md
Labels: :card_file_box: Technology - .NET Architecture, :sparkles: 1st-time docs contributor!

#8576 Add example to unwrap DU in function parameter
  docs/fsharp/language-reference/discriminated-unions.md
Labels: :books: Area - F# Guide

#9224 A smallllllll edit
  docs/csharp/programming-guide/concepts/linq/codesnippet/CSharp/introduction-to-linq-queries_1.cs
Labels: :books: Area - C# Guide

#9226 Invalid "Next Page" link on page "Development workflow for Docker apps"
  docs/standard/microservices-architecture/docker-application-development-process/docker-app-development-workflow.md
Labels: :book: guide - .NET Microservices, :card_file_box: Technology - .NET Architecture

#9205 Removed not necessary line
  docs/csharp/programming-guide/namespaces/index.md
Labels: :books: Area - C# Guide

#9217 Fixed spelling mistakes
  docs/csharp/programming-guide/unsafe-code-pointers/pointer-types.md
Labels: :books: Area - C# Guide

#9230 C# language reference: mention ref assignment operator
  docs/csharp/language-reference/keywords/ref.md
  docs/csharp/language-reference/operators/assignment-operator.md
  docs/csharp/language-reference/operators/conditional-operator.md
Labels: :books: Area - C# Guide

#9240 Update numbers-in-csharp.yml
  docs/csharp/tutorials/intro-to-csharp/numbers-in-csharp.yml
Labels: :sparkles: 1st-time docs contributor!

#9194 Update supportedruntime-element.md
  docs/framework/configure-apps/file-schema/startup/supportedruntime-element.md
Labels: :sparkles: 1st-time docs contributor!

#9223 Add whitespace formatting guidelines
  docs/fsharp/style-guide/formatting.md
Labels: :books: Area - F# Guide

#9265 Fix a typo in servicemodel-metadata-utility-tool-svcutil-exe.md
  docs/framework/wcf/servicemodel-metadata-utility-tool-svcutil-exe.md
Labels: :sparkles: 1st-time docs contributor!

#9271 Fixed typo
  docs/machine-learning/tutorials/taxi-fare.md
Labels: :books: Area - ML.NET Guide, :sparkles: 1st-time docs contributor!

#9186 Update with-visual-studio-code.md
  docs/core/tutorials/media/with-visual-studio-code/dotnetnew.png
  docs/core/tutorials/media/with-visual-studio-code/dotnetrestore.png
  docs/core/tutorials/media/with-visual-studio-code/dotnetrun.png
  docs/core/tutorials/media/with-visual-studio-code/missing-assets.png
  docs/core/tutorials/media/with-visual-studio-code/opencs.png
  docs/core/tutorials/media/with-visual-studio-code/opendebug.png
  docs/core/tutorials/media/with-visual-studio-code/rundebug.png
  docs/core/tutorials/media/with-visual-studio-code/selectcore.png
  docs/core/tutorials/media/with-visual-studio-code/setbreakpoint.png
  docs/core/tutorials/media/with-visual-studio-code/vscodeopenfolder.png
  docs/core/tutorials/with-visual-studio-code.md
Labels: :books: Area - .NET Core Guide, P1, doc-update

#9156 Update machine learning tasks topic and add learners
  docs/machine-learning/resources/tasks.md
Labels: :books: Area - ML.NET Guide, doc-update

#9311 Add language identifiers to code blocks under linq
  docs/csharp/programming-guide/concepts/linq/basic-linq-query-operations.md
  docs/csharp/programming-guide/concepts/linq/data-transformations-with-linq.md
  docs/csharp/programming-guide/concepts/linq/style-part-of-a-wordprocessingml-document.md
  docs/csharp/programming-guide/concepts/linq/walkthrough-writing-queries-linq.md
Labels: :books: Area - C# Guide

#9300 Fix and Format
  docs/framework/configure-apps/file-schema/wcf/serviceauthenticationmanager.md
  docs/framework/configure-apps/file-schema/wcf/servicesecurityaudit.md
  docs/framework/configure-apps/file-schema/wcf/tcptransport.md
  docs/framework/configure-apps/file-schema/wcf/udpdiscoveryendpoint.md
  docs/framework/configure-apps/file-schema/wcf/udptransportsettings.md
Labels: :card_file_box: Technology - WCF

#9296 Add hyperlink to Task Parallel Library (TPL) Docs
  docs/csharp/async.md
Labels: :sparkles: 1st-time docs contributor!

#9315 escape * (markdig)
  docs/framework/debug-trace-profile/jitcompilationstart-mda.md
Labels: :books: Area - .NET Framework Guide

#9329 Resolves issue with "Try Pattern" link
  docs/csharp/language-reference/keywords/out-parameter-modifier.md
Labels: :sparkles: 1st-time docs contributor!
