Repository dotnet/docs, pull requests merged in 2018-05, with the labels that each got.

#5092 updated some news links
  docs/welcome.md
Labels: :checkered_flag: Release: .NET Framework 4.7.2

#5104 Replaced rs4 token with token text
  docs/framework/deployment/deployment-guide-for-developers.md
  docs/framework/get-started/index.md
  docs/framework/get-started/system-requirements.md
  docs/framework/install/guide-for-developers.md
  docs/framework/install/on-windows-10.md
  docs/framework/install/on-windows-7.md
  docs/framework/install/on-windows-8-1.md
  docs/framework/install/on-windows-8.md
  docs/framework/install/on-windows-vista.md
  docs/framework/install/on-windows-xp.md
  docs/framework/migration-guide/how-to-determine-which-versions-are-installed.md
  docs/framework/migration-guide/versions-and-dependencies.md
  includes/rs4.md
Labels: Area - .NET Framework Guide, P0

#5099 global metadata changes
  docfx.json
Labels: P0

#5149 Corrected spelling mistake
  docs/framework/wcf/how-to-configure-a-basic-wcf-client.md
Labels: :sparkles: 1st-time docs contributor!

#5183 Fixed broken link by removing paragraph.
  docs/framework/data/adonet/ole-db-odbc-and-oracle-connection-pooling.md
Labels: verify-build-before-merge

#5211 Emitting Dynamic Methods and Assemblies typo
  docs/framework/reflection-and-codedom/emitting-dynamic-methods-and-assemblies.md
Labels: :sparkles: 1st-time docs contributor!

#5205 Add missing "}" for sample code for Event
  docs/csharp/language-reference/keywords/codesnippet/CSharp/event_1.cs
Labels: :sparkles: 1st-time docs contributor!

#5215 Update data-driven-crud-microservice.md
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/data-driven-crud-microservice.md
Labels: :sparkles: 1st-time docs contributor!

#5220 Ml.net
  docfx.json
  docs/images/hub/mldotnet.svg
  docs/images/hub/swimlane-azure-machine-learning.svg
  docs/images/hub/swimlane-cognitive-services.svg
  docs/images/hub/swimlane-machine-learning-brain-lightbulb.svg
  docs/machine-learning/index.md
  docs/machine-learning/resources/basics.md
  docs/machine-learning/resources/glossary.md
  docs/machine-learning/resources/index.md
  docs/machine-learning/tutorials/index.md
  docs/machine-learning/tutorials/sentiment-analysis.md
  docs/machine-learning/tutorials/taxi-fare.md
  docs/toc.md
  index.md
  toc.yml
Labels: Area - ML.NET Guide, P0

#5222 update instructions for the release bits
  docs/machine-learning/tutorials/sentiment-analysis.md
  docs/machine-learning/tutorials/taxi-fare.md
Labels: Area - ML.NET Guide, P0, verify-build-before-merge

#5212 remove inner sample
  docs/csharp/language-reference/keywords/codesnippet/CSharp/event_1.cs
  docs/csharp/language-reference/keywords/event.md
Labels: migration-fixes

#5226 update blog post link
  docs/machine-learning/index.md
Labels: Area - ML.NET Guide

#5213 unnecessary byte butter allocation
  docs/framework/network-programming/synchronous-server-socket-example.md
Labels: :sparkles: 1st-time docs contributor!

#5225 matching link text with other API links
  index.md
Labels: Area - ML.NET Guide

#5245 Use includes for ml samples
  docs/machine-learning/tutorials/sentiment-analysis.md
  docs/machine-learning/tutorials/taxi-fare.md
Labels: Area - ML.NET Guide

#5251 Fix a typo in the .Net versions listing
  docs/framework/migration-guide/versions-and-dependencies.md
Labels: :sparkles: 1st-time docs contributor!

#5241 Added VB code to Duplex Services topic
  docs/framework/wcf/feature-details/duplex-services.md
Labels: :file_folder: Repo - docs

#5264 Letter removal
  docs/csharp/language-reference/keywords/abstract.md
Labels: :sparkles: 1st-time docs contributor!

#5219 The Large Object Heap
  docs/standard/garbage-collection/large-object-heap.md
  docs/standard/garbage-collection/media/loh/loh-figure-1.jpg
  docs/standard/garbage-collection/media/loh/loh-figure-2.jpg
  docs/standard/garbage-collection/media/loh/loh-figure-3.jpg
  docs/standard/garbage-collection/media/loh/perfcounter.png
  docs/standard/garbage-collection/media/loh/perfview.png
  docs/standard/garbage-collection/media/loh/perfview2.png
  docs/standard/garbage-collection/toc.md
Labels: Area - .NET Guide, Area - Conceptual Docs

#5303 added KB2533623 info and VS version for 2.1
  docs/core/windows-prerequisites.md
Labels: :checkered_flag: Release: .NET Core 2.1

#5284 Add information on pattern based fixed statement
  docs/csharp/language-reference/keywords/fixed-statement.md
Labels: :construction: Hold for related PR

#5381 Add codefence for markdown link sample
  styleguide/template.md
Labels: :sparkles: 1st-time docs contributor!

#5393 Update pipeline formatting in F# style guide
  docs/fsharp/style-guide/formatting.md
Labels: Area - F# Guide

#5273 Document Visual Basic Private Protected access modifier
  docs/visual-basic/language-reference/modifiers/friend.md
  docs/visual-basic/language-reference/modifiers/private-protected.md
  docs/visual-basic/language-reference/modifiers/private.md
  docs/visual-basic/language-reference/modifiers/protected-friend.md
  docs/visual-basic/language-reference/modifiers/protected.md
  docs/visual-basic/language-reference/modifiers/public.md
  docs/visual-basic/language-reference/statements/class-statement.md
  docs/visual-basic/language-reference/statements/const-statement.md
  docs/visual-basic/language-reference/statements/declare-statement.md
  docs/visual-basic/language-reference/statements/delegate-statement.md
  docs/visual-basic/language-reference/statements/dim-statement.md
  docs/visual-basic/language-reference/statements/enum-statement.md
  docs/visual-basic/language-reference/statements/event-statement.md
  docs/visual-basic/language-reference/statements/function-statement.md
  docs/visual-basic/language-reference/statements/interface-statement.md
  docs/visual-basic/language-reference/statements/property-statement.md
  docs/visual-basic/language-reference/statements/structure-statement.md
  docs/visual-basic/language-reference/statements/sub-statement.md
  docs/visual-basic/misc/bc31047.md
  docs/visual-basic/programming-guide/language-features/declared-elements/access-levels.md
Labels: :file_folder: Repo - docs, Area - Visual Basic Guide

#5368 ML glossary: updated precision and recall definitions
  docs/machine-learning/resources/glossary.md
Labels: Area - ML.NET Guide

#5423 Removed 6 from ' Class MainClass'
  docs/csharp/language-reference/operators/codesnippet/CSharp/remainder-operator_1.cs
Labels: :sparkles: 1st-time docs contributor!

#5418 F# style guide: casing nits and TOC fix
  docs/fsharp/style-guide/index.md
  docs/toc.md
Labels: Area - F# Guide

#5387 Update conventions.md
  docs/fsharp/style-guide/conventions.md
Labels: :sparkles: 1st-time docs contributor!, Area - F# Guide

#5386 Use more consistent alphabetical sorting within topological layers
  docs/fsharp/style-guide/conventions.md
Labels: Area - F# Guide

#5429 Changed FWLink to 4.7.2 Developer Pack
  docs/framework/install/guide-for-developers.md
  docs/framework/whats-new/index.md
Labels: Area - .NET Framework Guide, P0

#5435 Escape special characters
  docs/framework/wpf/advanced/how-to-use-special-characters-in-xaml.md
Labels: Area - .NET Framework Guide, migration-fixes

#5470 C18347: Asterisk issue on target version
  docs/framework/net-native/library-element-net-native.md
Labels: Area - .NET Framework Guide

#5468 C18344: Asterisk issue on target version
  docs/framework/interop/default-marshaling-for-objects.md
Labels: Area - .NET Framework Guide

#5439 C18439: Unrecognized character
  docs/visual-basic/misc/object-doesn-t-support-this-action.md
Labels: Area - Visual Basic Guide

#5473 Added security note to resx tools topic
  docs/framework/tools/winres-exe-windows-forms-resource-editor.md
Labels: Area - .NET Framework Guide

#5466 Updated the class example in the C# programming guide
  docs/csharp/programming-guide/classes-and-structs/classes.md
Labels: changes-addressed

#5479 add 2.1 supported OS version article
  docs/core/windows-prerequisites.md
Labels: :checkered_flag: Release: .NET Core 2.1, Area - .NET Core Guide

#5504 Fixed typo
  docs/csharp/local-functions-vs-lambdas.md
Labels: :sparkles: 1st-time docs contributor!, Area - C# Guide

#5501 Correct typo in branches-and-loops-local.md
  docs/csharp/quick-starts/branches-and-loops-local.md
Labels: :sparkles: 1st-time docs contributor!, Area - C# Guide

#5482 Add missing space
  docs/csharp/programming-guide/generics/constraints-on-type-parameters.md
Labels: :sparkles: 1st-time docs contributor!

#5508 Fix typo in component-design-guidelines.md
  docs/fsharp/style-guide/component-design-guidelines.md
Labels: :sparkles: 1st-time docs contributor!

#5517 sync metadata with h1
  docs/standard/index.md
Labels: Area - .NET Guide

#5519 The nuget package is "Microsoft.ML" not "Microsoft ML.NET"
  docs/machine-learning/tutorials/sentiment-analysis.md
Labels: :sparkles: 1st-time docs contributor!

#5469 C18342: Missing asterisk on target version
  docs/framework/interop/default-marshaling-behavior.md
Labels: Area - .NET Framework Guide, loc

#5493 Methods topic: updated the link to task-like return types for async
  docs/csharp/methods.md
Labels: Area - C# Guide, changes-addressed

#5537 added missing space
  docs/framework/configure-apps/file-schema/runtime/loadfromremotesources-element.md
Labels: Area - .NET Framework Guide, migration-fixes

#5524 Clarified relative paths for dotnet publish
  docs/core/tools/dotnet-publish.md
Labels: Area - .NET Core Guide

#5550 Fixed typo in local-functions-vs-lambdas.md
  docs/csharp/local-functions-vs-lambdas.md
Labels: Area - C# Guide

#5333 ML.NET tutorials - bug fixes
  docs/machine-learning/tutorials/sentiment-analysis.md
  docs/machine-learning/tutorials/taxi-fare.md
Labels: :construction: Hold for related PR, P0

#5408 add new compiler options
  docs/csharp/language-reference/compiler-options/delaysign-compiler-option.md
  docs/csharp/language-reference/compiler-options/index.md
  docs/csharp/language-reference/compiler-options/keycontainer-compiler-option.md
  docs/csharp/language-reference/compiler-options/listed-alphabetically.md
  docs/csharp/language-reference/compiler-options/listed-by-category.md
  docs/csharp/language-reference/compiler-options/pathmap-compiler-option.md
  docs/csharp/language-reference/compiler-options/publicsign-compiler-option.md
  docs/csharp/language-reference/compiler-options/toc.md
Labels: changes-addressed

#5503 Updated ML glossary
  docs/machine-learning/resources/glossary.md
Labels: Area - ML.NET Guide

#5531 CC56863 Changing Link location
  docs/core/packages.md
Labels: Area - .NET Core Guide

#5556 L21207: Code box creating inconsistency
  docs/framework/wcf/extending/client-channel-factories-and-channels.md
Labels: Area - .NET Framework Guide

#5594 Case-sensitive issue in Dockerfile
  docs/csharp/tutorials/microservices.md
Labels: :sparkles: 1st-time docs contributor!

#5448 create "what's new in C# 7.3"
  docs/csharp/whats-new/csharp-6.md
  docs/csharp/whats-new/csharp-7-3.md
  docs/csharp/whats-new/index.md
  docs/toc.md
Labels: changes-addressed

#5627 Update csharp-version-history.md
  docs/csharp/whats-new/csharp-version-history.md
Labels: Area - C# Guide

#5633 Update var.md
  docs/csharp/language-reference/keywords/var.md
Labels: :sparkles: 1st-time docs contributor!, Area - C# Guide

#5625 Update branches-and-loops-local.md
  docs/csharp/quick-starts/branches-and-loops-local.md
Labels: Area - C# Guide

#5658 Fix small typo
  docs/fsharp/get-started/get-started-vscode.md
Labels: :sparkles: 1st-time docs contributor!

#5650 Updated do and while keyword topics
  docs/csharp/language-reference/keywords/codesnippet/CSharp/do_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/while_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/while_2.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/while_3.cs
  docs/csharp/language-reference/keywords/do.md
  docs/csharp/language-reference/keywords/foreach-in.md
  docs/csharp/language-reference/keywords/while.md
Labels: :construction: Hold for related PR

#5652 fixed typo
  docs/visual-basic/programming-guide/language-features/arrays/index.md
Labels: Area - Visual Basic Guide

#5623 remove inner sample
  docs/csharp/language-reference/keywords/abstract.md
  docs/csharp/language-reference/keywords/codesnippet/CSharp/abstract_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/abstract_2.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/abstract_3.cs
Labels: migration-fixes

#5571 more visibility to setting <LangVersion>
  docs/csharp/language-reference/configure-language-version.md
  docs/csharp/language-reference/media/configure-language-version/advanced-build-settings.png
  docs/csharp/language-reference/toc.md
  docs/csharp/reference-semantics-with-value-types.md
  docs/csharp/whats-new/csharp-7-1.md
  docs/csharp/whats-new/csharp-7-2.md
  docs/csharp/whats-new/index.md
  docs/toc.md
  docs/visual-basic/language-reference/configure-language-version.md
  docs/visual-basic/language-reference/modifiers/private-protected.md
  docs/visual-basic/programming-guide/language-features/data-types/tuples.md
  docs/visual-basic/programming-guide/language-features/declared-elements/access-levels.md
  docs/visual-basic/programming-guide/language-features/procedures/passing-arguments-by-position-and-by-name.md
  docs/visual-basic/reference/command-line-compiler/langversion.md
  includes/vb-separator-langversion.md
Labels: changes-addressed

#5664 Update annotating-typed-datasets.md
  docs/framework/data/adonet/dataset-datatable-dataview/annotating-typed-datasets.md
Labels: Area - .NET Framework Guide

#5194 What's New in .NET Core
  .openpublishing.redirection.json
  docs/core/porting/windows-compat-pack.md
  docs/core/whats-new/dotnet-core-2-0.md
  docs/core/whats-new/dotnet-core-2-1.md
  docs/core/whats-new/index.md
  docs/toc.md
Labels: :checkered_flag: Release: .NET Core 2.1, :file_folder: Repo - docs, Area - .NET Core Guide, P0

#5662 Fixes #5168
  docs/csharp/whats-new/csharp-version-history.md
Labels: :sparkles: 1st-time docs contributor!

#5036 Global tools - Part 1
  docs/core/tools/dotnet-tool-install.md
  docs/core/tools/dotnet-tool-list.md
  docs/core/tools/dotnet-tool-uninstall.md
  docs/core/tools/dotnet-tool-update.md
  docs/core/tools/global-tools.md
  docs/core/whats-new/dotnet-core-2-1.md
  docs/toc.md
Labels: :checkered_flag: Release: .NET Core 2.1, P0

#5678 Update .NET Core Linux Prereqs
  docs/core/linux-prerequisites.md
Labels: :checkered_flag: Release: .NET Core 2.1, Area - .NET Core Guide

#5634 Add note about predicate expressions
  docs/csharp/language-reference/keywords/try-catch.md
Labels: :sparkles: 1st-time docs contributor!

#5679 Updated api-analyzer doc for macOS syntax change
  docs/standard/analyzers/api-analyzer.md
Labels: :sparkles: 1st-time docs contributor!
