Repository dotnet/docs, pull requests merged in 2018-07, with the labels that each got.

#6250 Replaced MSDN link
  docs/standard/threading/autoresetevent.md
Labels: migration-fixes

#6247 Add vb as code snippet type
  docs/visual-basic/language-reference/modifiers/shared.md
Labels: :sparkles: 1st-time docs contributor!

#4905 eBook 2.1 updates
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/infrastructure-persistence-layer-design.md
  docs/standard/microservices-architecture/net-core-single-containers-linux-windows-server-hosts/index.md
  docs/standard/modern-web-apps-azure-architecture/architectural-principles.md
  docs/standard/modern-web-apps-azure-architecture/azure-hosting-recommendations-for-asp-net-web-apps.md
  docs/standard/modern-web-apps-azure-architecture/choose-between-traditional-web-and-single-page-apps.md
  docs/standard/modern-web-apps-azure-architecture/common-client-side-web-technologies.md
  docs/standard/modern-web-apps-azure-architecture/common-web-application-architectures.md
  docs/standard/modern-web-apps-azure-architecture/develop-asp-net-core-mvc-apps.md
  docs/standard/modern-web-apps-azure-architecture/development-process-for-azure.md
  docs/standard/modern-web-apps-azure-architecture/index.md
  docs/standard/modern-web-apps-azure-architecture/modern-web-applications-characteristics.md
  docs/standard/modern-web-apps-azure-architecture/test-asp-net-core-mvc-apps.md
  docs/standard/modern-web-apps-azure-architecture/work-with-data-in-asp-net-core-apps.md
Labels: Area - Architecture e-books

#6239 fix command name
  docs/core/tools/dotnet-build-server.md
Labels: Area - .NET Core Guide

#6279 SEO + other minor fixes
  docs/csharp/linq/create-a-nested-group.md
  docs/csharp/linq/dynamically-specify-predicate-filters-at-runtime.md
  docs/csharp/linq/group-query-results.md
  docs/csharp/linq/group-results-by-contiguous-keys.md
  docs/csharp/linq/handle-exceptions-in-query-expressions.md
  docs/csharp/linq/handle-null-values-in-query-expressions.md
  docs/csharp/linq/index.md
  docs/csharp/linq/join-by-using-composite-keys.md
  docs/csharp/linq/linq-in-csharp.md
  docs/csharp/linq/order-the-results-of-a-join-clause.md
  docs/csharp/linq/perform-a-subquery-on-a-grouping-operation.md
  docs/csharp/linq/perform-custom-join-operations.md
  docs/csharp/linq/perform-grouped-joins.md
  docs/csharp/linq/perform-inner-joins.md
  docs/csharp/linq/perform-left-outer-joins.md
  docs/csharp/linq/query-a-collection-of-objects.md
  docs/csharp/linq/query-expression-basics.md
  docs/csharp/linq/return-a-query-from-a-method.md
  docs/csharp/linq/store-the-results-of-a-query-in-memory.md
  docs/csharp/linq/write-linq-queries.md
Labels: Area - C# Guide

#6278 remove inner snippets
  docs/csharp/language-reference/keywords/codesnippet/CSharp/global_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/goto_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/goto_2.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/group-clause_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/group-clause_2.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/group-clause_3.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/group-clause_4.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/group-clause_5.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/group-clause_6.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/group-clause_7.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/group-clause_8.cs
  docs/csharp/language-reference/keywords/global.md
  docs/csharp/language-reference/keywords/goto.md
  docs/csharp/language-reference/keywords/group-clause.md
Labels: migration-fixes, waiting-on-feedback

#6287 Update local-functions.md (Typo)
  docs/csharp/programming-guide/classes-and-structs/local-functions.md
Labels: :sparkles: 1st-time docs contributor!

#6198 Rework get started
  docs/core/get-started.md
Labels: Area - .NET Core Guide, doc-enhancement

#6113 Remove bad link
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/test-aspnet-core-services-web-apps.md
Labels: :sparkles: 1st-time docs contributor!, Area - Architecture e-books, changes-addressed

#6060 Document .Net core version binding
  docs/core/deploying/index.md
  docs/core/versions/index.md
  docs/core/versions/selection.md
  docs/toc.md
Labels: changes-addressed

#6310 Update dotnet-core-2-1.md
  docs/core/whats-new/dotnet-core-2-1.md
Labels: :sparkles: 1st-time docs contributor!

#6326 add more details on abstract classes and methods
  docs/csharp/tutorials/inheritance.md
Labels: changes-addressed

#6357 Fix spelling
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/domain-events-design-implementation.md
Labels: :sparkles: 1st-time docs contributor!

#6370 Remove slash
  docs/csharp/quick-starts/interpolated-strings.yml
  docs/csharp/quick-starts/list-collection.yml
Labels: Area - C# Guide

#6282 remove empty page
  .openpublishing.redirection.json
  docs/framework/security/json-web-token-handler-api-reference.md
Labels: waiting-on-feedback

#6381 Fixed link text
  docs/csharp/language-reference/keywords/volatile.md
Labels: Area - C# Guide

#6379 Doc bypassonlocal incompat with scriptlocation
  docs/framework/configure-apps/file-schema/network/proxy-element-network-settings.md
Labels: doc-enhancement

#6175 Updates to the ML taxi fare tutorial
  docs/machine-learning/tutorials/sentiment-analysis.md
  docs/machine-learning/tutorials/taxi-fare.md
Labels: Area - ML.NET Guide

#5764 Surface Forwarded Headers in Docker topic
  docs/core/docker/building-net-docker-images.md
Labels: Area - Docker and Containers, P2

#6387 Updated link to the section
  docs/core/versions/selection.md
Labels: Area - .NET Core Guide

#6396 C26932: Escaping '!' character.
  docs/framework/data/adonet/ef/language-reference/entity-sql-reference.md
Labels: loc

#6395 CC63590: Formatting content.
  docs/visual-basic/language-reference/statements/end-keyword-statement.md
Labels: loc

#6407 Update index.md
  docs/csharp/programming-guide/concepts/assemblies-gac/index.md
Labels: :sparkles: 1st-time docs contributor!

#6413 topic fixes
  docs/framework/wcf/extending/service-channel-listeners-and-channels.md
Labels: :card_file_box: Technology - WCF, Area - .NET Framework Guide, migration-fixes

#6415 removing double backticks
  docs/framework/wcf/feature-details/how-to-use-a-custom-user-name-and-password-validator.md
  docs/framework/winforms/controls/attributes-in-windows-forms-controls.md
  docs/framework/winforms/controls/how-to-insert-a-menustrip-into-an-mdi-drop-down-menu-windows-forms.md
  docs/framework/wpf/advanced/dependency-property-value-precedence.md
  docs/framework/wpf/advanced/propertypath-xaml-syntax.md
  docs/framework/wpf/app-development/structured-navigation-overview.md
  docs/framework/wpf/data/how-to-implement-validation-logic-on-custom-objects.md
  docs/framework/xaml-services/x-type-markup-extension.md
  docs/standard/base-types/best-practices.md
  docs/standard/base-types/the-regular-expression-object-model.md
  docs/visual-basic/developing-apps/development-with-my/performing-tasks-with-my-application-my-computer-and-my-user.md
  docs/visual-basic/developing-apps/programming/computer-resources/storing-data-to-and-reading-from-the-clipboard.md
  docs/visual-basic/language-reference/data-types/user-defined-data-type.md
  docs/visual-basic/language-reference/error-messages/clipboard-format-is-not-valid.md
  docs/visual-basic/language-reference/operators/istrue-operator.md
  docs/visual-basic/language-reference/operators/like-operator.md
  docs/visual-basic/language-reference/statements/function-statement.md
  docs/visual-basic/language-reference/statements/property-statement.md
  docs/visual-basic/language-reference/statements/return-statement.md
  docs/visual-basic/language-reference/statements/sub-statement.md
  docs/visual-basic/language-reference/xmldoc/recommended-xml-tags-for-documentation-comments.md
  docs/visual-basic/misc/bc30383.md
  docs/visual-basic/misc/bc30625.md
  docs/visual-basic/misc/bc30634.md
  docs/visual-basic/misc/bc30674.md
  docs/visual-basic/misc/bc30680.md
  docs/visual-basic/misc/bc30758.md
Labels: migration-fixes

#6439 Mention how to achieve two-way binding
  docs/framework/wpf/advanced/templatebinding-markup-extension.md
Labels: :sparkles: 1st-time docs contributor!

#6445 fix references in notes about ConvertTimeToUtc
  docs/standard/datetime/converting-between-time-zones.md
Labels: :sparkles: 1st-time docs contributor!

#6434 fixed part identification
  docs/visual-basic/language-reference/statements/end-keyword-statement.md
Labels: Area - Visual Basic Guide

#6441 Update implement-resilient-entity-framework-core-sql-connections.md
  docs/standard/microservices-architecture/implement-resilient-applications/implement-resilient-entity-framework-core-sql-connections.md
Labels: :sparkles: 1st-time docs contributor!

#6436 removing inner snippets
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/passing-arrays-as-arguments_1.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/passing-arrays-as-arguments_2.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/passing-arrays-as-arguments_3.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/passing-arrays-as-arguments_4.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/passing-arrays-as-arguments_5.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/passing-arrays-as-arguments_6.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/passing-arrays-as-arguments_7.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/passing-arrays-as-arguments_8.cs
  docs/csharp/programming-guide/arrays/passing-arrays-as-arguments.md
Labels: :construction: Hold for related PR, Area - C# Guide, migration-fixes

#6452 Update reference to IAsyncResult
  docs/standard/asynchronous-programming-patterns/deciding-when-to-implement-the-event-based-asynchronous-pattern.md
Labels: Area - .NET Guide

#6468 Fix missing <T> in sub header on async-in-depth.md
  docs/standard/async-in-depth.md
Labels: :sparkles: 1st-time docs contributor!

#6440 Introduce net-standard-table more accurately
  docs/standard/net-standard.md
Labels: :sparkles: 1st-time docs contributor!

#6480 Make the example code less confusing for beginners
  docs/fsharp/index.md
Labels: :sparkles: 1st-time docs contributor!, Area - F# Guide

#6477 Fixed screenshot indentation to fix numbering
  docs/core/tutorials/using-on-mac-vs-full-solution.md
Labels: :sparkles: 1st-time docs contributor!

#6467 Remove TDD language from tutorial
  docs/core/tutorials/testing-with-cli.md
Labels: Area - .NET Core Guide

#6493 add source version note
  docs/framework/install/dotnet-35-windows-10.md
Labels: Area - .NET Framework Guide, P0

#6497 Improve readability
  docs/framework/wpf/controls/walkthrough-create-a-button-by-using-xaml.md
Labels: :sparkles: 1st-time docs contributor!

#6498 The -main compiler switch accepts a fully qualified class name as a parameter
  docs/csharp/language-reference/compiler-options/main-compiler-option.md
Labels: verify-build-before-merge

#6504 Resolve Spelling Issues in Roslyn Guide
  docs/csharp/roslyn-sdk/index.md
Labels: :sparkles: 1st-time docs contributor!, Area - C# Guide

#6505 Add missing pass
  docs/core/testing/unit-testing-with-dotnet-test.md
Labels: Area - .NET Core Guide

#6494 backtick issues
  docs/csharp/language-reference/compiler-messages/cs0686.md
  docs/csharp/misc/cs1954.md
  docs/csharp/programming-guide/concepts/linq/sorting-data.md
  docs/framework/configure-apps/file-schema/wcf/msmqintegration.md
  docs/framework/configure-apps/file-schema/wcf/msmqtransport.md
  docs/framework/configure-apps/file-schema/wcf/netmsmqbinding.md
  docs/framework/data/adonet/code-access-security.md
  docs/framework/data/adonet/ef/date-and-time-functions.md
  docs/framework/data/adonet/ef/language-reference/date-and-time-canonical-functions.md
  docs/framework/data/adonet/ef/language-reference/deref-entity-sql.md
  docs/framework/data/adonet/ef/language-reference/math-canonical-functions.md
  docs/framework/data/adonet/ef/language-reference/select-entity-sql.md
  docs/framework/data/adonet/ef/mathematical-functions.md
  docs/framework/data/adonet/sql/linq/troubleshooting.md
  docs/framework/data/adonet/sql/modifying-large-value-max-data.md
  docs/framework/data/wcf/how-to-project-query-results-wcf-data-services.md
  docs/framework/data/wcf/using-actions-to-implement-server-side-behavior.md
  docs/framework/debug-trace-profile/fatalexecutionengineerror-mda.md
  docs/framework/wcf/samples/streaming-feeds-sample.md
  docs/framework/xaml-services/x-factorymethod-directive.md
  docs/fsharp/using-fsharp-on-azure/blob-storage.md
  docs/visual-basic/misc/no-accessible-overloaded-methodname-can-be-called-with-these-arguments-list-2.md
  docs/visual-basic/reference/command-line-compiler/keycontainer.md
Labels: changes-addressed, migration-fixes

#6489 Force serif font to distinguish l from I
  docs/framework/wpf/getting-started/walkthrough-my-first-wpf-desktop-application.md
Labels: :card_file_box: Technology - WPF

#6514 Clarified VS version support
  docs/csharp/language-reference/compiler-options/nostdlib-compiler-option.md
Labels: Area - C# Guide

#6517 update linux versions for 2.1
  docs/core/linux-prerequisites.md
Labels: :checkered_flag: Release: .NET Core 2.1, Area - .NET Core Guide

#6530 Fixing typos on /docs/docs/framework/wcf/feature-details/bindings.md …
  docs/framework/wcf/feature-details/bindings.md
Labels: :sparkles: 1st-time docs contributor!

#6515 remove commented link
  docs/framework/unmanaged-api/fusion/getassemblyidentityfromfile-function.md
  docs/framework/unmanaged-api/metadata/imetadataassemblyimport-findassembliesbyname-method.md
  docs/framework/unmanaged-api/metadata/imetadataemit-applyeditandcontinue-method.md
  docs/framework/unmanaged-api/metadata/imetadataemit-merge-method.md
  docs/framework/unmanaged-api/metadata/imetadatavalidate-validatorinit-method.md
Labels: migration-fixes

#6513 remove inner snippets
  docs/csharp/programming-guide/nullable-types/codesnippet/CSharp/using-type-dynamic_1.cs
  docs/csharp/programming-guide/nullable-types/codesnippet/CSharp/using-type-dynamic_2.cs
  docs/csharp/programming-guide/nullable-types/codesnippet/CSharp/using-type-dynamic_3.cs
  docs/csharp/programming-guide/nullable-types/codesnippet/CSharp/using-type-dynamic_4.cs
  docs/csharp/programming-guide/nullable-types/codesnippet/CSharp/using-type-dynamic_5.cs
  docs/csharp/programming-guide/nullable-types/codesnippet/CSharp/using-type-dynamic_6.cs
  docs/csharp/programming-guide/nullable-types/codesnippet/CSharp/using-type-dynamic_7.cs
  docs/csharp/programming-guide/types/using-type-dynamic.md
Labels: migration-fixes

#6548 Fixed code formatting and highlighting
  docs/framework/wcf/samples/multiple-endpoints.md
Labels: :sparkles: 1st-time docs contributor!

#6552 :pencil2: Fix typo delcarations
  docs/csharp/reference-semantics-with-value-types.md
Labels: :sparkles: 1st-time docs contributor!, verify-build-before-merge

#6550 F9
  docs/core/tutorials/with-visual-studio-code.md
Labels: :sparkles: 1st-time docs contributor!

#6573 Small typos in architecting chapter
  docs/standard/microservices-architecture/architect-microservice-container-applications/data-sovereignty-per-microservice.md
  docs/standard/microservices-architecture/architect-microservice-container-applications/direct-client-to-microservice-communication-versus-the-API-Gateway-pattern.md
  docs/standard/microservices-architecture/architect-microservice-container-applications/distributed-data-management.md
  docs/standard/microservices-architecture/architect-microservice-container-applications/logical-versus-physical-architecture.md
Labels: :file_folder: Repo - docs, :sparkles: 1st-time docs contributor!, Area - Architecture e-books

#6558 remove inner snippets
  docs/csharp/language-reference/keywords/codesnippet/CSharp/if-else_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/if-else_2.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/if-else_3.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/if-else_4.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/if-else_5.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/if-else_6.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/implicit_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/in-generic-modifier_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/in-generic-modifier_2.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/interface_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/interface_2.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/into_1.cs
  docs/csharp/language-reference/keywords/if-else.md
  docs/csharp/language-reference/keywords/implicit.md
  docs/csharp/language-reference/keywords/in-generic-modifier.md
  docs/csharp/language-reference/keywords/interface.md
  docs/csharp/language-reference/keywords/into.md
Labels: migration-fixes

#6579 Update from-clause.md
  docs/csharp/language-reference/keywords/from-clause.md
Labels: Area - C# Guide

#6572 Update ngen-exe-native-image-generator.md
  docs/framework/tools/ngen-exe-native-image-generator.md
Labels: :sparkles: 1st-time docs contributor!, Area - .NET Framework Guide

#6560 remove inner snippets
  docs/visual-basic/language-reference/error-messages/codesnippet/VisualBasic/statements_1.vb
  docs/visual-basic/language-reference/error-messages/codesnippet/VisualBasic/statements_10.vb
  docs/visual-basic/language-reference/error-messages/codesnippet/VisualBasic/statements_11.vb
  docs/visual-basic/language-reference/error-messages/codesnippet/VisualBasic/statements_12.vb
  docs/visual-basic/language-reference/error-messages/codesnippet/VisualBasic/statements_13.vb
  docs/visual-basic/language-reference/error-messages/codesnippet/VisualBasic/statements_2.vb
  docs/visual-basic/language-reference/error-messages/codesnippet/VisualBasic/statements_28.vb
  docs/visual-basic/language-reference/error-messages/codesnippet/VisualBasic/statements_3.vb
  docs/visual-basic/language-reference/error-messages/codesnippet/VisualBasic/statements_4.vb
  docs/visual-basic/language-reference/error-messages/codesnippet/VisualBasic/statements_5.vb
  docs/visual-basic/language-reference/error-messages/codesnippet/VisualBasic/statements_6.vb
  docs/visual-basic/language-reference/error-messages/codesnippet/VisualBasic/statements_7.vb
  docs/visual-basic/language-reference/error-messages/codesnippet/VisualBasic/statements_8.vb
  docs/visual-basic/language-reference/error-messages/codesnippet/VisualBasic/statements_9.vb
  docs/visual-basic/programming-guide/language-features/codesnippet/VisualBasic/statements_14.vb
  docs/visual-basic/programming-guide/language-features/codesnippet/VisualBasic/statements_15.vb
  docs/visual-basic/programming-guide/language-features/codesnippet/VisualBasic/statements_16.vb
  docs/visual-basic/programming-guide/language-features/codesnippet/VisualBasic/statements_17.vb
  docs/visual-basic/programming-guide/language-features/codesnippet/VisualBasic/statements_18.vb
  docs/visual-basic/programming-guide/language-features/codesnippet/VisualBasic/statements_19.vb
  docs/visual-basic/programming-guide/language-features/codesnippet/VisualBasic/statements_20.vb
  docs/visual-basic/programming-guide/language-features/codesnippet/VisualBasic/statements_21.vb
  docs/visual-basic/programming-guide/language-features/codesnippet/VisualBasic/statements_22.vb
  docs/visual-basic/programming-guide/language-features/codesnippet/VisualBasic/statements_23.vb
  docs/visual-basic/programming-guide/language-features/codesnippet/VisualBasic/statements_24.vb
  docs/visual-basic/programming-guide/language-features/codesnippet/VisualBasic/statements_25.vb
  docs/visual-basic/programming-guide/language-features/codesnippet/VisualBasic/statements_26.vb
  docs/visual-basic/programming-guide/language-features/codesnippet/VisualBasic/statements_27.vb
  docs/visual-basic/programming-guide/language-features/statements.md
Labels: migration-fixes

#6462 Rewrite type extensions
  docs/fsharp/language-reference/type-extensions.md
Labels: Area - F# Guide

#6587 Improve XML styling consistency in XML attributes docs
  docs/standard/serialization/controlling-xml-serialization-using-attributes.md
Labels: :sparkles: 1st-time docs contributor!, Area - .NET Guide

#6619 grammar improvement
  docs/standard/parallel-programming/parallel-linq-plinq.md
Labels: :sparkles: 1st-time docs contributor!

#6621 Corrects spacing in system.diagnostics xml
  docs/framework/wcf/diagnostics/configuring-message-logging.md
Labels: :sparkles: 1st-time docs contributor!

#5752 Add transforms document
  docs/machine-learning/resources/transforms.md
  docs/toc.md
Labels: Area - ML.NET Guide

#6649 Update sealed.md
  docs/csharp/language-reference/keywords/sealed.md
Labels: verify-build-before-merge

#6678 Note value for .NET 4.6.2 on Win10 1607 is also for Server 2016
  docs/framework/migration-guide/how-to-determine-which-versions-are-installed.md
Labels: :sparkles: 1st-time docs contributor!

#6698 Missing word changes the meaning of the phrase
  docs/standard/serverless-architecture/architecture-approaches.md
Labels: :sparkles: 1st-time docs contributor!

#6712 fix link typo to azure-functions chapter
  docs/standard/serverless-architecture/serverless-architecture-considerations.md
Labels: :sparkles: 1st-time docs contributor!

#6730 C26874: replacing Markdown Italics by HTML Italics tags
  docs/standard/asynchronous-programming-patterns/best-practices-for-implementing-the-event-based-asynchronous-pattern.md
Labels: loc

#6710 F# computation expressions: typo and style fixes.
  docs/fsharp/language-reference/computation-expressions.md
Labels: Area - F# Guide

#6456 Add FAQ on missing required assets to debug
  docs/core/tutorials/with-visual-studio-code.md
Labels: Area - .NET Core Guide, doc-enhancement

#6737 clarify ef behavior
  docs/core/tools/global-json.md
Labels: Area - .NET Core Guide

#6711 F# keyword reference: add `match!`
  docs/fsharp/language-reference/keyword-reference.md
Labels: Area - F# Guide

#6713 ML: added xref links to data transforms
  docs/machine-learning/resources/index.md
  docs/machine-learning/resources/transforms.md
Labels: Area - ML.NET Guide

#6767 Updated phrasing on asset generation faq
  docs/core/tutorials/with-visual-studio-code.md
Labels: Area - .NET Core Guide, verify-build-before-merge
