Repository dotnet/docs, pull requests merged in 2018-06, with the labels that each got.

#5704 Correct capitalization of Release configuration.
  docs/core/docker/building-net-docker-images.md
Labels: Area - .NET Core Guide

#5670 Self-contained deployment runtime roll forward
  docs/core/deploying/runtime-patch-selection.md
  docs/toc.md
Labels: :checkered_flag: Release: .NET Core 2.1, Area - .NET Core Guide

#5739 Update choosing-core-framework-server.md
  docs/standard/choosing-core-framework-server.md
Labels: :sparkles: 1st-time docs contributor!

#5738 Var bytes declared but never used
  docs/framework/network-programming/asynchronous-server-socket-example.md
Labels: :sparkles: 1st-time docs contributor!

#5735 update suffix for --no-service-endpoint
  docs/core/tools/dotnet-nuget-delete.md
  docs/core/tools/dotnet-nuget-push.md
Labels: :checkered_flag: Release: .NET Core 2.1, Area - .NET Core Guide

#5730 update default netcore/aspnetcore version
  api/index.md
Labels: :checkered_flag: Release: .NET Core 2.1, Area - API Reference

#5718 Restored content drop-out from migration
  docs/framework/migration-guide/versions-and-dependencies.md
Labels: Area - .NET Framework Guide, migration-fixes

#5757 remove inner sample + other fixes
  docs/csharp/programming-guide/xmldoc/codesnippet/CSharp/how-to-use-the-xml-documentation-features_1.cs
  docs/csharp/programming-guide/xmldoc/how-to-use-the-xml-documentation-features.md
Labels: Area - C# Guide, migration-fixes

#5759 FwLinks replacement in visual-basic folder (3)
  docs/visual-basic/programming-guide/concepts/async/index.md
Labels: Area - Visual Basic Guide

#5761 FwLinks replacement in visual-basic folder (4)
  docs/visual-basic/getting-started/breaking-changes-in-visual-studio.md
  docs/visual-basic/language-reference/modifiers/async.md
  docs/visual-basic/programming-guide/concepts/async/start-multiple-async-tasks-and-process-them-as-they-complete.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-modify-an-office-open-xml-document.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-retrieve-paragraphs-from-an-office-open-xml-document.md
  docs/visual-basic/programming-guide/concepts/linq/tutorial-manipulating-content-in-a-wordprocessingml-document.md
  docs/visual-basic/programming-guide/language-features/xml/overview-of-linq-to-xml.md
  docs/visual-basic/programming-guide/language-features/xml/xml-literals-and-the-xml-1-0-specification.md
  docs/visual-basic/sample-applications.md
Labels: Area - Visual Basic Guide

#5611 Add doc to describe machine learning tasks
  docs/machine-learning/resources/tasks.md
  docs/toc.md
Labels: Area - ML.NET Guide, new-content

#5725 added linked to dotnet-watch
  docs/core/tools/dotnet.md
Labels: :checkered_flag: Release: .NET Core 2.1, Area - .NET Core Guide

#5789 fix broken links
  docs/machine-learning/resources/tasks.md
Labels: Area - ML.NET Guide

#5787 Code optimization: Replaced 'And' with 'AndAlso'
  docs/visual-basic/language-reference/error-messages/codesnippet/VisualBasic/for-next-statement_4.vb
Labels: verify-build-before-merge

#5798 Update eshoponcontainers-cqrs-ddd-microservice.md
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/eshoponcontainers-cqrs-ddd-microservice.md
Labels: Area - Architecture e-books

#5795 fix commented out xref links
  docs/framework/data/adonet/connection-strings-and-configuration-files.md
Labels: migration-fixes

#5773 restored content + other fixes
  docs/framework/wcf/system-provided-bindings.md
Labels: changes-addressed

#5805 added missing link
  docs/framework/wcf/system-provided-bindings.md
Labels: Area - .NET Framework Guide

#5724 Required changes based on the new dotnet-docker repo
  docs/core/docker/building-net-docker-images.md
Labels: :sparkles: 1st-time docs contributor!, Area - .NET Core Guide

#5821 fix an xref
  docs/csharp/programming-guide/classes-and-structs/local-functions.md
Labels: Area - C# Guide

#5820 Fixed typo in docs/core/tools/dotnet.md
  docs/core/tools/dotnet.md
Labels: :sparkles: 1st-time docs contributor!, Area - .NET Core Guide

#5835 typo
  docs/core/docker/building-net-docker-images.md
Labels: Area - .NET Core Guide

#5817 Modified title and example code in consuming a class library tutorial
  docs/core/tutorials/consuming-library-with-visual-studio.md
  docs/csharp/getting-started/toc.md
Labels: :construction: Hold for related PR

#5842 Clarify note on when gotos are valid in switches
  docs/csharp/pattern-matching.md
Labels: :sparkles: 1st-time docs contributor!

#5857 .NET Core API reference link on the main page: update to 2.1
  index.md
Labels: :checkered_flag: Release: .NET Core 2.1, Area - .NET Core Guide

#5837 Roslyn syntax transformation
  docs/csharp/roslyn-sdk/get-started/media/syntax-transformation/generate-from-usage.png
  docs/csharp/roslyn-sdk/get-started/syntax-transformation.md
  docs/csharp/roslyn-sdk/toc.md
Labels: changes-addressed

#5874 Changed title of globalization topic
  docs/standard/globalization-localization/index.md
Labels: Area - .NET Guide

#5869 remove inner snippets
  docs/csharp/programming-guide/types/codesnippet/CSharp/walkthrough-creating-and-using-dynamic-objects_1.cs
  docs/csharp/programming-guide/types/codesnippet/CSharp/walkthrough-creating-and-using-dynamic-objects_10.cs
  docs/csharp/programming-guide/types/codesnippet/CSharp/walkthrough-creating-and-using-dynamic-objects_11.cs
  docs/csharp/programming-guide/types/codesnippet/CSharp/walkthrough-creating-and-using-dynamic-objects_2.cs
  docs/csharp/programming-guide/types/codesnippet/CSharp/walkthrough-creating-and-using-dynamic-objects_3.cs
  docs/csharp/programming-guide/types/codesnippet/CSharp/walkthrough-creating-and-using-dynamic-objects_4.cs
  docs/csharp/programming-guide/types/codesnippet/CSharp/walkthrough-creating-and-using-dynamic-objects_5.cs
  docs/csharp/programming-guide/types/codesnippet/CSharp/walkthrough-creating-and-using-dynamic-objects_6.cs
  docs/csharp/programming-guide/types/codesnippet/CSharp/walkthrough-creating-and-using-dynamic-objects_7.cs
  docs/csharp/programming-guide/types/codesnippet/CSharp/walkthrough-creating-and-using-dynamic-objects_8.cs
  docs/csharp/programming-guide/types/codesnippet/CSharp/walkthrough-creating-and-using-dynamic-objects_9.cs
  docs/csharp/programming-guide/types/codesnippet/VisualBasic/walkthrough-creating-and-using-dynamic-objects_1.vb
  docs/csharp/programming-guide/types/codesnippet/VisualBasic/walkthrough-creating-and-using-dynamic-objects_10.vb
  docs/csharp/programming-guide/types/codesnippet/VisualBasic/walkthrough-creating-and-using-dynamic-objects_11.vb
  docs/csharp/programming-guide/types/codesnippet/VisualBasic/walkthrough-creating-and-using-dynamic-objects_2.vb
  docs/csharp/programming-guide/types/codesnippet/VisualBasic/walkthrough-creating-and-using-dynamic-objects_3.vb
  docs/csharp/programming-guide/types/codesnippet/VisualBasic/walkthrough-creating-and-using-dynamic-objects_4.vb
  docs/csharp/programming-guide/types/codesnippet/VisualBasic/walkthrough-creating-and-using-dynamic-objects_5.vb
  docs/csharp/programming-guide/types/codesnippet/VisualBasic/walkthrough-creating-and-using-dynamic-objects_6.vb
  docs/csharp/programming-guide/types/codesnippet/VisualBasic/walkthrough-creating-and-using-dynamic-objects_7.vb
  docs/csharp/programming-guide/types/codesnippet/VisualBasic/walkthrough-creating-and-using-dynamic-objects_8.vb
  docs/csharp/programming-guide/types/codesnippet/VisualBasic/walkthrough-creating-and-using-dynamic-objects_9.vb
  docs/csharp/programming-guide/types/walkthrough-creating-and-using-dynamic-objects.md
Labels: Area - C# Guide, migration-fixes

#5858 Update tuples.md
  docs/csharp/tuples.md
Labels: :sparkles: 1st-time docs contributor!, Area - C# Guide

#5886 fixed code blocks
  docs/framework/winforms/advanced/international-fonts-in-windows-forms-and-controls.md
Labels: Area - .NET Framework Guide

#5643 Include Windows 10 Version numbers
  docs/framework/migration-guide/versions-and-dependencies.md
Labels: :sparkles: 1st-time docs contributor!

#5905 Remove note on ambiguous grammar of casting
  docs/csharp/language-reference/operators/invocation-operator.md
Labels: :sparkles: 1st-time docs contributor!

#5907 Fix code blocks
  docs/standard/modern-web-apps-azure-architecture/test-asp-net-core-mvc-apps.md
Labels: :sparkles: 1st-time docs contributor!

#5909 fix formatting
  docs/standard/modern-web-apps-azure-architecture/test-asp-net-core-mvc-apps.md
Labels: Area - Architecture e-books

#5925 Fixed misplaced curly brace
  docs/standard/modern-web-apps-azure-architecture/test-asp-net-core-mvc-apps.md
Labels: Area - Architecture e-books

#5934 removed inner snippets
  docs/csharp/language-reference/keywords/accessibility-domain.md
  docs/csharp/language-reference/keywords/add.md
  docs/csharp/language-reference/keywords/as.md
  docs/csharp/language-reference/keywords/ascending.md
  docs/csharp/language-reference/keywords/codesnippet/CSharp/accessibility-domain_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/add_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/as_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/as_2.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/ascending_1.cs
Labels: migration-fixes

#5946 Update boxing-and-unboxing.md
  docs/csharp/programming-guide/types/boxing-and-unboxing.md
Labels: :sparkles: 1st-time docs contributor!

#5963 Added a missing <br/> tag
  docs/framework/migration-guide/versions-and-dependencies.md
Labels: Area - .NET Framework Guide

#5891 ML resources: reference the ML tasks topic from the glossary
  docs/machine-learning/resources/glossary.md
  docs/machine-learning/resources/tasks.md
Labels: Area - ML.NET Guide, waiting-on-reviews

#5888 JS Frameworks links updates
  docs/standard/modern-web-apps-azure-architecture/choose-between-traditional-web-and-single-page-apps.md
Labels: :sparkles: 1st-time docs contributor!, Area - Architecture e-books

#5868 document null wrt pattern matching
  docs/csharp/language-reference/keywords/is.md
Labels: :sparkles: 1st-time docs contributor!

#5994 Issue 5964; Fix typo: "of" =>"or"
  docs/csharp/expression-trees-execution.md
Labels: :sparkles: 1st-time docs contributor!

#6004 corrected typo
  docs/csharp/language-reference/keywords/virtual.md
Labels: :sparkles: 1st-time docs contributor!

#5983 Fix incorrect spelling of MediatR
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/microservice-application-layer-implementation-web-api.md
Labels: :sparkles: 1st-time docs contributor!

#5982 fixed broken link
  docs/machine-learning/tutorials/sentiment-analysis.md
Labels: Area - ML.NET Guide

#5967 create migration to 2.1 topic
  docs/core/migration/20-21.md
  docs/toc.md
Labels: Area - .NET Core Guide, P0

#6023 fix snippet error
  docs/csharp/roslyn-sdk/get-started/semantic-analysis.md
Labels: :sparkles: 1st-time docs contributor!

#6030 Update incorrect latest version
  docs/framework/install/on-windows-10.md
Labels: :sparkles: 1st-time docs contributor!, Area - .NET Framework Guide

#6054 Update how-to-implement-a-producer-consumer-dataflow-pattern.md
  docs/standard/parallel-programming/how-to-implement-a-producer-consumer-dataflow-pattern.md
Labels: :sparkles: 1st-time docs contributor!

#6048 update ms.date
  docs/standard/net-standard.md
Labels: Area - .NET Guide

#6047 added xref link
  includes/migration-guide/retargeting/core/stack-traces-obtained-when-using-portable-pdbs-now-include-source-file-line.md
Labels: Area - .NET Framework Guide

#6045 remove signalr from the list
  docs/standard/choosing-core-framework-server.md
Labels: :checkered_flag: Release: .NET Core 2.1, Area - .NET Guide

#5898 ML taxi fare tutorial updates
  docs/machine-learning/tutorials/index.md
  docs/machine-learning/tutorials/taxi-fare.md
Labels: Area - ML.NET Guide, waiting-on-reviews

#6039 ML tutorial: fix Train signature
  docs/machine-learning/tutorials/sentiment-analysis.md
Labels: Area - ML.NET Guide

#6076 fixed weird grammar
  docs/csharp/programming-guide/classes-and-structs/partial-classes-and-methods.md
Labels: :sparkles: 1st-time docs contributor!

#6085 Update walkthrough-my-first-wpf-desktop-application.md
  docs/framework/wpf/getting-started/walkthrough-my-first-wpf-desktop-application.md
Labels: :sparkles: 1st-time docs contributor!

#6083 Changed visualstudio.com to visualstudio.microsoft.com
  docs/core/additional-tools/index.md
  docs/core/linux-prerequisites.md
  docs/core/macos-prerequisites.md
  docs/core/tutorials/using-on-mac-vs-full-solution.md
  docs/core/tutorials/using-on-mac-vs.md
  docs/csharp/whats-new/index.md
  docs/framework/get-started/index.md
  docs/framework/tools/developer-command-prompt-for-vs.md
  docs/framework/tools/index.md
  docs/machine-learning/tutorials/sentiment-analysis.md
  docs/machine-learning/tutorials/taxi-fare.md
  docs/samples-and-tutorials/index.md
  docs/standard/clr.md
  docs/standard/containerized-lifecycle-architecture/design-develop-containerized-apps/visual-studio-tools-for-docker.md
  docs/standard/cross-platform/cross-platform-development-with-the-portable-class-library.md
  docs/standard/microservices-architecture/docker-application-development-process/docker-app-development-workflow.md
  docs/standard/microservices-architecture/net-core-net-framework-containers/net-core-container-scenarios.md
  docs/standard/modernize-with-azure-and-containers/index.md
  docs/standard/modernize-with-azure-and-containers/modernize-existing-apps-to-cloud-optimized/microsoft-technologies-in-cloud-optimized-applications.md
  docs/standard/tour.md
  index.md
Labels: multiple-topics

#6061 removed inner samples
  docs/csharp/language-reference/keywords/base.md
  docs/csharp/language-reference/keywords/bool.md
  docs/csharp/language-reference/keywords/break.md
  docs/csharp/language-reference/keywords/by.md
  docs/csharp/language-reference/keywords/codesnippet/CSharp/base_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/base_2.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/bool_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/bool_2.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/bool_3.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/bool_4.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/break_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/break_2.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/break_3.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/by_1.cs
Labels: migration-fixes

#6093 Update general-naming-conventions.md
  docs/standard/design-guidelines/general-naming-conventions.md
Labels: :sparkles: 1st-time docs contributor!, Area - .NET Guide

#6077 Actually use the interface in the example
  docs/csharp/language-reference/keywords/codesnippet/CSharp/interface_2.cs
Labels: :sparkles: 1st-time docs contributor!

#6115 Update dependency-properties.md
  docs/standard/design-guidelines/dependency-properties.md
Labels: :sparkles: 1st-time docs contributor!

#6059 ML tutorials: use Path.Combine to generate file paths
  docs/machine-learning/tutorials/sentiment-analysis.md
  docs/machine-learning/tutorials/taxi-fare.md
Labels: Area - ML.NET Guide

#6100 remove support topic from docs
  .openpublishing.redirection.json
  docs/core/versions/lts-current.md
  docs/toc.md
Labels: Area - .NET Core Guide

#6090 removed inner snippets
  docs/csharp/language-reference/keywords/char.md
  docs/csharp/language-reference/keywords/checked.md
  docs/csharp/language-reference/keywords/class.md
  docs/csharp/language-reference/keywords/codesnippet/CSharp/char_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/checked_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/checked_2.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/checked_3.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/class_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/const_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/const_2.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/continue_1.cs
  docs/csharp/language-reference/keywords/const.md
  docs/csharp/language-reference/keywords/continue.md
Labels: migration-fixes

#6091 removed inner snippets
  docs/csharp/language-reference/keywords/codesnippet/CSharp/decimal_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/decimal_2.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/delegate_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/descending_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/double_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/dynamic_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/dynamic_2.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/dynamic_3.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/dynamic_4.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/dynamic_5.cs
  docs/csharp/language-reference/keywords/decimal.md
  docs/csharp/language-reference/keywords/delegate.md
  docs/csharp/language-reference/keywords/descending.md
  docs/csharp/language-reference/keywords/double.md
  docs/csharp/language-reference/keywords/dynamic.md
Labels: migration-fixes

#6141 C26914: Escaping '@' character to avoid SxS issue
  docs/framework/wcf/feature-details/generating-a-wcf-client-from-service-metadata.md
Labels: loc

#6140 C26931: escaping '!' to avoid issues in localization process
  docs/framework/data/adonet/sql/linq/boolean-data-types.md
Labels: loc

#6139 C26932: Escaping '!' character to avoid bad formatting on localization
  docs/framework/data/adonet/ef/language-reference/entity-sql-reference.md
Labels: loc

#6142 added missing link and other formatting
  docs/framework/data/adonet/ef/language-reference/entity-sql-reference.md
Labels: Area - .NET Framework Guide

#6136 remove inner snippets
  docs/csharp/language-reference/keywords/codesnippet/CSharp/enum_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/enum_2.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/enum_3.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/equals_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/explicit_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/explicit_2.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/explicit_3.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/explicit_4.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/extern_1.cs
  docs/csharp/language-reference/keywords/enum.md
  docs/csharp/language-reference/keywords/equals.md
  docs/csharp/language-reference/keywords/explicit.md
  docs/csharp/language-reference/keywords/extern.md
Labels: migration-fixes

#6137 remove inner snippets
  docs/csharp/language-reference/keywords/codesnippet/CSharp/false-literal_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/false-operator_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/float_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/from-clause_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/from-clause_2.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/from-clause_3.cs
  docs/csharp/language-reference/keywords/false-literal.md
  docs/csharp/language-reference/keywords/false-operator.md
  docs/csharp/language-reference/keywords/float.md
  docs/csharp/language-reference/keywords/from-clause.md
Labels: migration-fixes

#6146 Removed "Framework" mention
  docs/csharp/language-reference/keywords/byte.md
  docs/csharp/language-reference/keywords/char.md
  docs/csharp/language-reference/keywords/decimal.md
  docs/csharp/language-reference/keywords/double.md
  docs/csharp/language-reference/keywords/int.md
  docs/csharp/language-reference/keywords/long.md
  docs/csharp/language-reference/keywords/sbyte.md
  docs/csharp/language-reference/keywords/short.md
  docs/csharp/language-reference/keywords/uint.md
  docs/csharp/language-reference/keywords/ulong.md
  docs/csharp/language-reference/keywords/ushort.md
Labels: Area - C# Guide

#6150 Remove a pointless mention of global.json
  docs/core/porting/libraries.md
Labels: Area - .NET Core Guide

#5919 Add "enable_uhf_ppe" feature flag to docfx.json.
  docfx.json
Labels: blocked

#6162 MyStringBuilder -> myStringBuilder
  docs/standard/base-types/stringbuilder.md
Labels: :sparkles: 1st-time docs contributor!

#6169 L27298: removing extra space inside links
  docs/standard/containerized-lifecycle-architecture/design-develop-containerized-apps/common-container-design-principles.md
Labels: loc

#6163 L15901: Uppercasing "!INCLUDE" statement
  docs/framework/migration-guide/runtime/4.0-4.6.1.md
Labels: loc

#6160 C26808: Escaping "@" character to avoid localization issue
  docs/visual-basic/language-reference/xml-axis/xml-value-property.md
Labels: loc

#6151 small edits
  docs/core/deploying/runtime-patch-selection.md
Labels: Area - .NET Core Guide

#6158 C26883: Escaping "@" character to avoid localization issue
  docs/framework/wcf/servicemodel-metadata-utility-tool-svcutil-exe.md
Labels: loc

#6164 L15901: Uppercasing "!INCLUDE" statement
  docs/framework/migration-guide/runtime/4.6.1-4.7.1.md
Labels: loc

#6173 Fix numbering and indentation
  docs/framework/winforms/how-to-respond-to-font-scheme-changes-in-a-windows-forms-application.md
Labels: :card_file_box: Technology - WinForms, Area - .NET Framework Guide

#6138 C26941: Escaping '@' character
  docs/framework/configure-apps/file-schema/wcf/identity.md
Labels: loc, waiting-on-feedback

#6177 Fix broken link
  docs/standard/async.md
Labels: Area - .NET Guide

#6176 Highlight pattern names
  docs/standard/asynchronous-programming-patterns/index.md
Labels: Area - .NET Guide

#5530 Add a link in the .NET Guide to "What is .NET?"
  docs/standard/index.md
Labels: Area - .NET Guide

#5063 Formats of paths on Windows systems
  docs/standard/io/file-path-formats.md
  docs/standard/io/index.md
  docs/standard/io/toc.md
Labels: :construction: Hold for related PR

#6193 Fix statements in nullable-types/index.md for C#
  docs/csharp/programming-guide/nullable-types/index.md
Labels: :sparkles: 1st-time docs contributor!

#6200 C26886: Misuse of ` character to create codeboxes
  docs/framework/wcf/samples/transport-udp.md
Labels: loc

#6186 Improve instructions to create dotnet application
  docs/csharp/tutorials/microservices.md
Labels: :sparkles: 1st-time docs contributor!

#6211 Update xml-processing-options.md
  docs/standard/data/xml/xml-processing-options.md
Labels: :sparkles: 1st-time docs contributor!

#6195 Corrected regular expression for bypass list
  docs/framework/configure-apps/file-schema/network/defaultproxy-element-network-settings.md
Labels: doc-bug

#6207 Categories in "Accessibility" are incorrect
  docs/csharp/tour-of-csharp/classes-and-objects.md
Labels: :sparkles: 1st-time docs contributor!
