Repository dotnet/docs, pull requests merged in 2019-05, with the labels that each got.

#12121 Update typeof-operator.md
  docs/visual-basic/language-reference/operators/typeof-operator.md
Labels: :card_file_box: Technology - C# / VB Specification, :sparkles: 1st-time docs contributor!, P2, doc-enhancement

#12133 Minor typo correction
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/background-tasks-with-ihostedservice.md
Labels: :sparkles: 1st-time docs contributor!

#12124 Add links to each of the tags - 11861
  docs/csharp/codedoc.md
Labels: :sparkles: 1st-time docs contributor!

#12139 Fixed typo within event patterns documentation
  docs/csharp/event-pattern.md
Labels: :sparkles: 1st-time docs contributor!

#12141 Fix typo: "suites" should be "suits."
  docs/csharp/tutorials/working-with-linq.md
Labels: :sparkles: 1st-time docs contributor!

#12143 build/CI
  docs/standard/containerized-lifecycle-architecture/docker-devops-workflow/create-ci-cd-pipelines-azure-devops-services-aspnetcore-kubernetes.md
Labels: :sparkles: 1st-time docs contributor!

#12067 topic update
  docs/standard/analyzers/media/portability-analyzer/portability-report.png
  docs/standard/analyzers/media/portability-analyzer/portability-screenshot.png
  docs/standard/analyzers/media/portability-analyzer/portability-solution-explorer.png
  docs/standard/analyzers/portability-analyzer.md
Labels: doc-update

#12038 Use Model To Make Predictions How-To
  .openpublishing.redirection.json
  docs/machine-learning/how-to-guides/machine-learning-model-predictions-ml-net.md
  docs/machine-learning/toc.yml
Labels: :books: Area - ML.NET Guide, doc-update

#12147 Fix broken link for ResilientHttpClient
  docs/standard/microservices-architecture/implement-resilient-applications/implement-http-call-retries-exponential-backoff-polly.md
Labels: :sparkles: 1st-time docs contributor!

#12127 Add updates to How does ML.NET work to address feedback
  docs/machine-learning/how-does-mldotnet-work.md
  docs/machine-learning/media/ml-net-annotated-workflow.svg
  docs/machine-learning/media/mldotnet-annotated-workflow.png
Labels: :books: Area - ML.NET Guide

#12153 corrected incorrect markdown indentation
  docs/core/additional-tools/dotnet-svcutil-guide.md
Labels: :sparkles: 1st-time docs contributor!

#12162 Fix ML.NET ms.topic metadata
  docs/machine-learning/how-to-guides/prepare-data-ml-net.md
  docs/machine-learning/how-to-guides/train-machine-learning-model-ml-net.md
Labels: :bookmark_tabs: Information Architecture, :books: Area - ML.NET Guide

#12163 Update GitHubIssueClassification tutorial to ML.NET v1.0.0
  docs/machine-learning/tutorials/github-issue-classification.md
Labels: :books: Area - ML.NET Guide, doc-update

#12164 ML.NET clustering tutorial: remove preview bits
  docs/machine-learning/tutorials/iris-clustering.md
Labels: :books: Area - ML.NET Guide

#12131 Add ProductSalesAnomalyDetection tutorial
  docs/machine-learning/toc.yml
  docs/machine-learning/tutorials/media/sales-anomaly-detection/ChangePointDetection.png
  docs/machine-learning/tutorials/media/sales-anomaly-detection/SpikeDetection.png
  docs/machine-learning/tutorials/media/sales-anomaly-detection/anomalydetection.png
  docs/machine-learning/tutorials/sales-anomaly-detection.md
Labels: :books: Area - ML.NET Guide, new-content

#12168 Update MovieRecommendation to ML.NET v1.0.0
  docs/machine-learning/tutorials/movie-recommmendation.md
Labels: :books: Area - ML.NET Guide, doc-update

#11990 Save and Load Data Preparation Pipelines and Trained Models How-To
  .openpublishing.redirection.json
  docs/machine-learning/how-to-guides/consuming-model-ml-net.md
  docs/machine-learning/how-to-guides/save-load-machine-learning-models-ml-net.md
  docs/machine-learning/toc.yml
Labels: :books: Area - ML.NET Guide, doc-update

#12166 Removed redundant article, minor edit, redirection
  .openpublishing.redirection.json
  docs/machine-learning/how-does-mldotnet-work.md
  docs/machine-learning/index.yml
  docs/machine-learning/toc.yml
  docs/machine-learning/tutorials/movie-recommmendation.md
  docs/machine-learning/tutorials/taxi-fare.md
  docs/machine-learning/what-is-machine-learning.md
Labels: :books: Area - ML.NET Guide

#12146 Added breaking changes issue template
  .github/ISSUE_TEMPLATE/doc-breaking-change.md
Labels: :bookmark_tabs: Information Architecture

#12145 Dev edit sentiment 0429
  docs/machine-learning/tutorials/sentiment-analysis.md
Labels: :books: Area - ML.NET Guide

#12170 Update Price prediction to ML.NET v1.0.0
  docs/machine-learning/tutorials/taxi-fare.md
Labels: :books: Area - ML.NET Guide, doc-update

#12167 Update ImageClassification to ML.NET v1.0.0
  docs/machine-learning/tutorials/image-classification.md
Labels: :books: Area - ML.NET Guide, doc-update

#11946 Explain ML Model Permutation Feature Importance
  .openpublishing.redirection.json
  docs/machine-learning/how-to-guides/determine-global-feature-importance-in-model.md
  docs/machine-learning/how-to-guides/explain-machine-learning-model-permutation-feature-importance-ml-net.md
  docs/machine-learning/how-to-guides/single-predict-model-ml-net.md
  docs/machine-learning/toc.yml
Labels: :books: Area - ML.NET Guide, doc-update

#12173 Updated for build warnings
  docs/machine-learning/how-to-guides/prepare-data-ml-net.md
  docs/machine-learning/how-to-guides/retrain-model-ml-net.md
  docs/machine-learning/toc.yml
Labels: :books: Area - ML.NET Guide, doc-bug

#12159 Cross validation how to
  .openpublishing.redirection.json
  docs/machine-learning/how-to-guides/train-cross-validation-ml-net.md
  docs/machine-learning/how-to-guides/train-machine-learning-model-cross-validation-ml-net.md
  docs/machine-learning/toc.yml
Labels: :books: Area - ML.NET Guide

#12176 Updated title
  docs/machine-learning/how-to-guides/load-data-ml-net.md
Labels: :books: Area - ML.NET Guide

#12112 fix: MD012/no-multiple-blanks
  docs/machine-learning/how-to-guides/inspect-intermediate-data-ml-net.md
Labels: :books: Area - ML.NET Guide, verify-build-before-merge

#12060 Article update for VS version and new case
  docs/standard/analyzers/api-analyzer.md
Labels: :books: Area - .NET Guide, doc-update

#12179 Updates to titles How-Tos
  docs/machine-learning/how-to-guides/machine-learning-model-predictions-ml-net.md
  docs/machine-learning/how-to-guides/prepare-data-ml-net.md
  docs/machine-learning/how-to-guides/retrain-model-ml-net.md
  docs/machine-learning/how-to-guides/save-load-machine-learning-models-ml-net.md
  docs/machine-learning/how-to-guides/serve-model-serverless-azure-functions-ml-net.md
  docs/machine-learning/how-to-guides/serve-model-web-api-ml-net.md
  docs/machine-learning/how-to-guides/train-machine-learning-model-ml-net.md
  docs/machine-learning/toc.yml
Labels: :books: Area - ML.NET Guide

#12021 Add How to choose an algorithm
  docs/machine-learning/how-to-choose-an-ml-net-algorithm.md
  docs/machine-learning/resources/glossary.md
  docs/machine-learning/resources/tasks.md
  docs/machine-learning/toc.yml
Labels: :books: Area - ML.NET Guide, new-content

#12031 Improve Model Accuracy How-To
  docs/machine-learning/resources/improve-machine-learning-model-ml-net.md
  docs/machine-learning/toc.yml
Labels: :books: Area - ML.NET Guide, :construction: Hold for related PR, new-content

#12177 ML.NET metadata
  docfx.json
  docs/machine-learning/index.yml
Labels: :bookmark_tabs: Information Architecture, :books: Area - ML.NET Guide

#12190 Added missing determiner
  docs/csharp/index.md
Labels: :sparkles: 1st-time docs contributor!

#12178 Added additional app context switch
  docs/framework/configure-apps/file-schema/runtime/appcontextswitchoverrides-element.md
Labels: verify-build-before-merge

#12199 Fix Infer.NET location in TOC
  docs/machine-learning/how-to-guides/matchup-app-infer-net.md
  docs/machine-learning/toc.yml
Labels: :books: Area - ML.NET Guide

#12208 Fixing broken link
  docs/spark/index.yml
Labels: doc-bug

#12209 fixed missing images on hub page
  docs/images/hub/machine-learning-dotnet.svg
  index.md
Labels: :bookmark_tabs: Information Architecture

#12217 adding auto label for dotnet-spark
  .ghal.rules.json
Labels: :bookmark_tabs: Information Architecture

#12201 Fix typo
  docs/machine-learning/automl-overview.md
Labels: :books: Area - ML.NET Guide, doc-bug

#12220 Improvements to definitions of metrics.md
  docs/machine-learning/resources/metrics.md
Labels: :books: Area - ML.NET Guide, doc-enhancement

#11517 Update build-aspnet-core-applications-linux-containers-aks-kubernetes.md
  docs/standard/containerized-lifecycle-architecture/design-develop-containerized-apps/build-aspnet-core-applications-linux-containers-aks-kubernetes.md
Labels: :book: guide - Docker lifecycle, :books: Area - .NET Guide, :card_file_box: Technology - .NET Architecture, :card_file_box: Technology - Docker

#12251 Replace Visual Basic includes
  docs/framework/debug-trace-profile/tracing-and-instrumenting-applications.md
  docs/framework/interop/blittable-and-non-blittable-types.md
  docs/framework/interop/exposing-com-components.md
  docs/framework/interop/how-to-create-com-wrappers.md
  docs/framework/interop/interop-marshaling.md
  docs/framework/interop/marshaling-classes-structures-and-unions.md
  docs/framework/interop/specifying-a-character-set.md
  docs/framework/reflection-and-codedom/dynamically-loading-and-using-types.md
  docs/framework/winforms/controls/controls-to-use-on-windows-forms.md
  docs/standard/events/how-to-handle-multiple-events-using-event-properties.md
  docs/visual-basic/developing-apps/customizing-extending-my/extending-the-visual-basic-application-model.md
  docs/visual-basic/language-reference/constants-and-enumerations.md
  docs/visual-basic/programming-guide/language-features/objects-and-classes/object-lifetime-how-objects-are-created-and-destroyed.md
Labels: verify-build-before-merge

#12271 Fix method reference.
  docs/machine-learning/tutorials/taxi-fare.md
Labels: :books: Area - ML.NET Guide, doc-bug

#12274 change 'version' to 'framework'
  docs/machine-learning/how-to-guides/install-ml-net-cli.md
Labels: :books: Area - ML.NET Guide, P0, doc-bug

#12277 Remove preview banner
  docs/machine-learning/resources/glossary.md
Labels: :books: Area - ML.NET Guide, doc-update

#12282 C# Preview 5 updates to What's new
  docs/csharp/tutorials/ranges-indexes.md
  docs/csharp/whats-new/csharp-8.md
  docs/toc.yml
Labels: :books: Area - C# Guide, :checkered_flag: Release: .NET Core 3.0, P1

#12299 Fix header depth
  docs/framework/wcf/feature-details/queues-and-reliable-sessions.md
Labels: :sparkles: 1st-time docs contributor!

#12324 Fix code snippet link
  docs/machine-learning/tutorials/image-classification.md
Labels: :books: Area - ML.NET Guide, P0, doc-bug

#12327 Update method signature
  docs/machine-learning/tutorials/sentiment-analysis.md
Labels: :books: Area - ML.NET Guide, P0, doc-bug

#12351 Fix link syntax
  docs/framework/install/on-windows-xp.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - Installers, :sparkles: 1st-time docs contributor!, broken-link

#12331 Fix broken link
  docs/machine-learning/how-to-guides/how-to-use-the-automl-api.md
Labels: :books: Area - ML.NET Guide

#12353 Add NuGet reference for Microsoft.ML.FastTree
  docs/machine-learning/tutorials/taxi-fare.md
Labels: :books: Area - ML.NET Guide

#12328 Updates for the CLI TELEMETRY page
  docs/machine-learning/resources/ml-net-cli-telemetry.md
Labels: :books: Area - ML.NET Guide

#12270 Toc updates for accessibility, part 2.
  .openpublishing.redirection.json
  docs/csharp/codedoc.md
  docs/csharp/programming-guide/classes-and-structs/toc.yml
  docs/csharp/programming-guide/index.md
  docs/csharp/programming-guide/types/toc.yml
  docs/csharp/programming-guide/unsafe-code-pointers/arithmetic-operations-on-pointers.md
  docs/csharp/programming-guide/unsafe-code-pointers/how-to-access-a-member-with-a-pointer.md
  docs/csharp/programming-guide/unsafe-code-pointers/how-to-access-an-array-element-with-a-pointer.md
  docs/csharp/programming-guide/unsafe-code-pointers/how-to-increment-and-decrement-pointers.md
  docs/csharp/programming-guide/unsafe-code-pointers/how-to-obtain-the-address-of-a-variable.md
  docs/csharp/programming-guide/unsafe-code-pointers/how-to-obtain-the-value-of-a-pointer-variable.md
  docs/csharp/programming-guide/unsafe-code-pointers/manipulating-pointers.md
  docs/csharp/programming-guide/unsafe-code-pointers/pointer-comparison.md
  docs/csharp/programming-guide/unsafe-code-pointers/pointer-conversions.md
  docs/csharp/programming-guide/unsafe-code-pointers/pointer-expressions.md
  docs/csharp/programming-guide/unsafe-code-pointers/pointer-types.md
  docs/csharp/programming-guide/unsafe-code-pointers/toc.yml
  docs/csharp/programming-guide/xmldoc/cref-attribute.md
  docs/csharp/programming-guide/xmldoc/delimiters-for-documentation-tags.md
  docs/csharp/programming-guide/xmldoc/how-to-use-the-xml-documentation-features.md
  docs/csharp/programming-guide/xmldoc/index.md
  docs/csharp/programming-guide/xmldoc/processing-the-xml-file.md
  docs/csharp/programming-guide/xmldoc/recommended-tags-for-documentation-comments.md
  docs/csharp/programming-guide/xmldoc/toc.yml
  docs/framework/reflection-and-codedom/how-to-create-an-xml-documentation-file-using-codedom.md
Labels: :bookmark_tabs: Information Architecture, P1

#12369 remove unused includes
  includes/ajax-current-short-md.md
  includes/csharp-interactive-with-utc-note.md
  includes/iis60-md.md
  includes/msconame-md.md
  includes/net-current-v471plus.md
  includes/tla2sharptla-pinvoke-md.md
  includes/tla2sharptla-tpclssdk-md.md
  includes/tlasharptla-jpeg-md.md
  includes/tlasharptla-pinvoke-md.md
  includes/win7-client-firstref-md.md
  includes/win7-client-secondref-md.md
Labels: :bookmark_tabs: Information Architecture

#12401 Refine price prediction title
  .openpublishing.redirection.json
  docs/machine-learning/tutorials/predict-prices.md
Labels: :books: Area - ML.NET Guide

#12402 Update Iris Clustering Title
  docs/machine-learning/tutorials/iris-clustering.md
Labels: :books: Area - ML.NET Guide, doc-enhancement

#12400 Update title
  docs/machine-learning/tutorials/github-issue-classification.md
Labels: :books: Area - ML.NET Guide

#12181 Update dotnet new doc for 2.2
  docs/core/tools/dotnet-new.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI, :checkered_flag: Release: .NET Core 2.2, doc-update

#11844 Remove non-working links
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/apply-simplified-microservice-cqrs-ddd-patterns.md
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/domain-events-design-implementation.md
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/eshoponcontainers-cqrs-ddd-microservice.md
Labels: changes-addressed

#12276 Final changes for accessibility
  .openpublishing.redirection.json
  docs/csharp/delegates-events.md
  docs/csharp/delegates-overview.md
  docs/csharp/getting-started/toc.yml
  docs/csharp/properties.md
  docs/toc.yml
Labels: :bookmark_tabs: Information Architecture, P1

#12420 Fix "won't" typo
  docs/csharp/tuples.md
Labels: :sparkles: 1st-time docs contributor!

#12325 Update sdk.md
  docs/core/sdk.md
Labels: Low CSAT - HPV, doc-update, verify-build-before-merge

#12355 Spark.NET: Cloud deployment articles
  docs/spark/index.yml
  docs/spark/toc.yml
  docs/spark/tutorials/amazon-emr-spark-deployment.md
  docs/spark/tutorials/databricks-deployment.md
  docs/spark/tutorials/hdinsight-deployment.md
  docs/spark/tutorials/index.md
  docs/spark/tutorials/media/databricks-deployment/deployment-databricks-init-script.png
  docs/spark/tutorials/media/hdinsight-deployment/deployment-hdi-action-script.png
Labels: :books: Area - .NET for Apache Spark Guide

#12433 Remove repeated enumeration value
  docs/framework/unmanaged-api/hosting/metahost-policy-flags-enumeration.md
Labels: :sparkles: 1st-time docs contributor!

#12425 Revised obsolete types/members for .NET Framework 4.8
  docs/framework/whats-new/obsolete-members.md
  docs/framework/whats-new/obsolete-types.md
Labels: :checkered_flag: Release: .NET Framework 4.8

#12447 ml.net how to page: fix typos
  docs/machine-learning/how-does-mldotnet-work.md
Labels: :books: Area - ML.NET Guide

#12389 Replace Xref links
  docs/machine-learning/how-to-guides/how-to-use-the-automl-api.md
Labels: :books: Area - ML.NET Guide

#12450 Updated/fixed CLI Tutorial aligned to last version
  docs/machine-learning/tutorials/media/mlnet-cli/generated-csharp-solution-detailed.png
  docs/machine-learning/tutorials/mlnet-cli.md
Labels: :books: Area - ML.NET Guide

#12453 added missing word
  docs/framework/winforms/advanced/how-to-provide-help-in-a-windows-application.md
Labels: :sparkles: 1st-time docs contributor!

#12449 clarify that example uses MSBuild option
  docs/core/tools/dotnet-build.md
Labels: verify-build-before-merge

#12329 Update enumeration-classes-over-enum-types.md
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/enumeration-classes-over-enum-types.md
Labels: :book: guide - .NET Microservices

#12455 Fix TOC for predict prices tutorial
  docs/machine-learning/toc.yml
Labels: :books: Area - ML.NET Guide

#12365 SEOImageUpdates: User Story 1463880, Small PR 5
  docs/framework/winforms/how-to-create-a-bound-control-and-format-the-displayed-data.md
  docs/framework/winforms/how-to-create-a-simple-bound-control-on-a-windows-form.md
  docs/framework/winforms/media/how-to-create-a-bound-control-and-format-the-displayed-data/visual-studio-ellipsis-button.png
  docs/framework/winforms/media/how-to-create-a-simple-bound-control-on-a-windows-form/visual-studio-ellipsis-button.png
  docs/framework/wpf/getting-started/media/gettingstartedfigure0a.png
  docs/framework/wpf/getting-started/media/walkthrough-my-first-wpf-desktop-application/add-application-controls.png
  docs/framework/wpf/getting-started/media/walkthrough-my-first-wpf-desktop-application/add-application-image-title.png
  docs/framework/wpf/getting-started/media/walkthrough-my-first-wpf-desktop-application/application-data-templates.png
  docs/framework/wpf/getting-started/media/walkthrough-my-first-wpf-desktop-application/build-run-application.png
  docs/framework/wpf/getting-started/media/walkthrough-my-first-wpf-desktop-application/configure-new-project-dialog.png
  docs/framework/wpf/getting-started/media/walkthrough-my-first-wpf-desktop-application/create-application-ui.png
  docs/framework/wpf/getting-started/media/walkthrough-my-first-wpf-desktop-application/create-new-project-dialog.png
  docs/framework/wpf/getting-started/media/walkthrough-my-first-wpf-desktop-application/new-project-dialog-box.png
  docs/framework/wpf/getting-started/walkthrough-my-first-wpf-desktop-application.md
  docs/standard/cross-platform/media/using-portable-class-library-with-model-view-view-model/mvvm-share-assemblies-across-platforms.png
  docs/standard/cross-platform/using-portable-class-library-with-model-view-view-model.md
Labels: verify-build-before-merge

#12452 Remove en-us from URLs
  docs/core/docker/build-container.md
  docs/core/windows-prerequisites.md
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
  docs/csharp/programming-guide/concepts/async/walkthrough-accessing-the-web-by-using-async-and-await.md
  docs/csharp/programming-guide/concepts/linq/shape-of-wordprocessingml-documents.md
  docs/framework/get-started/system-requirements.md
  docs/framework/install/on-windows-10.md
  docs/framework/install/on-windows-7.md
  docs/framework/install/on-windows-8-1.md
  docs/framework/install/on-windows-8.md
  docs/framework/install/on-windows-vista.md
  docs/framework/install/on-windows-xp.md
  docs/framework/install/troubleshoot-blocked-installations-and-uninstallations.md
  docs/framework/wcf/feature-details/configuring-http-and-https.md
  docs/framework/wpf/getting-started/community-feedback.md
  docs/fsharp/get-started/get-started-vscode.md
  docs/fsharp/style-guide/conventions.md
  docs/machine-learning/resources/metrics.md
  docs/machine-learning/resources/ml-net-cli-telemetry.md
  docs/machine-learning/tutorials/mlnet-cli.md
  docs/standard/base-types/best-practices-strings.md
  docs/standard/base-types/comparing.md
  docs/standard/datetime/working-with-calendars.md
  docs/standard/globalization-localization/performing-culture-insensitive-string-comparisons.md
  docs/standard/globalization-localization/performing-culture-insensitive-string-operations.md
  docs/standard/microservices-architecture/implement-resilient-applications/implement-http-call-retries-exponential-backoff-polly.md
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/data-driven-crud-microservice.md
  docs/standard/modern-web-apps-azure-architecture/azure-hosting-recommendations-for-asp-net-web-apps.md
  docs/standard/modernize-with-azure-and-containers/migrate-your-relational-databases-to-azure.md
  docs/visual-basic/getting-started/additional-resources.md
  docs/visual-basic/getting-started/index.md
  docs/visual-basic/misc/sorry-we-don-t-have-specifics-on-this-visual-basic-error.md
Labels: loc, verify-build-before-merge

#12473 Update this article for the C# interactive experience
  docs/standard/base-types/standard-numeric-format-strings.md
Labels: :books: Area - C# Guide, P1

#12454 Corrected length of result string with 'X'
  docs/standard/base-types/enumeration-format-strings.md
Labels: verify-build-before-merge

#12499 Fix line wrapping
  docs/csharp/language-reference/compiler-options/langversion-compiler-option.md
Labels: :sparkles: 1st-time docs contributor!

#12479 Update Evaluate method signature
  docs/machine-learning/tutorials/github-issue-classification.md
Labels: :books: Area - ML.NET Guide

#12494 The term 'default ' should be used with or instead of 'null'
  docs/standard/exceptions/best-practices-for-exceptions.md
Labels: :sparkles: 1st-time docs contributor!

#12158 Revised string best practices for concatenation, interpolated strings
  docs/standard/base-types/best-practices-strings.md
Labels: verify-build-before-merge

#12523 Replace .NET Framework 4.6.1 tokens
  docs/framework/data/adonet/sql/sqlclient-support-for-high-availability-disaster-recovery.md
  docs/framework/migration-guide/mitigation-custom-imessagefilter-prefiltermessage-implementations.md
  docs/framework/migration-guide/mitigation-path-normalization.md
  docs/framework/migration-guide/mitigation-pool-blocking-period.md
  docs/framework/migration-guide/mitigation-x509certificateclaimset-findclaims-method.md
  docs/framework/migration-guide/mitigation-ziparchiveentry-fullname-path-separator.md
  docs/framework/unmanaged-api/profiling/cor-prf-high-monitor-enumeration.md
  docs/framework/unmanaged-api/profiling/icorprofilerinfo7-interface.md
  docs/framework/unmanaged-api/profiling/icorprofilerinfo7-readinmemorysymbols.md
  docs/framework/whats-new/index.md
  docs/standard/base-types/character-classes-in-regular-expressions.md
Labels: verify-build-before-merge

#12525 Try to fix Loc issue
  docs/standard/base-types/substitutions-in-regular-expressions.md
Labels: loc

#12548 C91896: Deleting extra backslahes
  docs/standard/microservices-architecture/implement-resilient-applications/implement-http-call-retries-exponential-backoff-polly.md
Labels: verify-build-before-merge

#12555 Correct typo
  docs/framework/wcf/feature-details/how-to-create-a-service-endpoint-in-code.md
Labels: verify-build-before-merge

#12580 Add return model code snippet
  docs/machine-learning/tutorials/predict-prices.md
Labels: :books: Area - ML.NET Guide

#12581 Remove return model verbiage
  docs/machine-learning/tutorials/sales-anomaly-detection.md
Labels: :books: Area - ML.NET Guide

#12588 Replace (nonexistent) mdMethodRef with mdMemberRef
  docs/framework/unmanaged-api/metadata/imetadataemit-definemethodimpl-method.md
Labels: :sparkles: 1st-time docs contributor!

#12595 Fix the namespaces on a sample
  docs/standard/parallel-programming/how-to-implement-dynamic-partitions.md
Labels: :construction: Hold for related PR

#10360 System.EnterpriseServices
  docs/core/porting/net-framework-tech-unavailable.md
Labels: :books: Area - .NET Core Guide, verify-build-before-merge
