Repository dotnet/docs, pull requests merged in 2019-07, with the labels that each got.

#13187 Link to managed code added
  docs/csharp/getting-started/introduction-to-the-csharp-language-and-the-net-framework.md
Labels: :sparkles: 1st-time docs contributor!

#13194 Reformat code block
  docs/framework/xaml-services/x-array-markup-extension.md
Labels: :sparkles: 1st-time docs contributor!

#13191 Clarify details and purpose of SentimentPrediction class
  docs/machine-learning/tutorials/sentiment-analysis.md
Labels: :books: Area - ML.NET Guide

#13017 Fixing links and adding missing content
  docs/architecture/cloud-native/azure-data-storage.md
  docs/architecture/cloud-native/azure-development-stack.md
  docs/architecture/cloud-native/azure-security.md
  docs/architecture/cloud-native/centralized-configuration.md
  docs/architecture/cloud-native/combine-containers-serverless-approaches.md
  docs/architecture/cloud-native/cross-service-communication.md
  docs/architecture/cloud-native/deploy-containers-azure.md
  docs/architecture/cloud-native/identity-server.md
  docs/architecture/cloud-native/infrastructure-as-code.md
  docs/architecture/cloud-native/introduction.md
  docs/architecture/cloud-native/other-deployment-options.md
  docs/architecture/cloud-native/resilient-communications.md
Labels: :card_file_box: Technology - .NET Architecture

#13192 Update value-types-and-reference-types.md
  docs/visual-basic/programming-guide/language-features/data-types/value-types-and-reference-types.md
Labels: changes-addressed

#13061 fix: Markdownlint
  docs/machine-learning/automate-training-with-model-builder.md
  docs/machine-learning/tutorials/predict-prices-with-model-builder.md
  includes/elevated-access-unix.md
Labels: :books: Area - ML.NET Guide

#13188 Add note on target .NET core version for tutorial
  docs/machine-learning/tutorials/image-classification.md
Labels: :books: Area - ML.NET Guide

#13174 CLI updates for preview 6 - Part 2
  docs/core/tools/dotnet-migrate.md
  docs/core/tools/dotnet-nuget-delete.md
  docs/core/tools/dotnet-nuget-locals.md
  docs/core/tools/dotnet-nuget-push.md
Labels: doc-update

#13217 fix metadata issues
  docs/spark/index.yml
Labels: :books: Area - .NET for Apache Spark Guide

#13212 Fix for issue #13177
  docs/csharp/tutorials/working-with-linq.md
Labels: :sparkles: 1st-time docs contributor!

#13015 Update Index.md to add clarification tools usage
  docs/core/porting/index.md
Labels: doc-update

#13236 Powershell -> PowerShell
  docs/framework/wcf/feature-details/working-with-certificates.md
Labels: :sparkles: 1st-time docs contributor!

#13231 Incorrect image referenced in Dockerfile
  docs/core/docker/build-container.md
Labels: :sparkles: 1st-time docs contributor!

#13190 Add missing catalogs to How does ML.NET work
  docs/machine-learning/how-does-mldotnet-work.md
Labels: :books: Area - ML.NET Guide

#13295 Consolidated information about user-defined conversion operators
  .openpublishing.redirection.json
  docs/csharp/how-to/index.md
  docs/csharp/language-reference/compiler-messages/cs0029.md
  docs/csharp/language-reference/compiler-messages/cs0034.md
  docs/csharp/language-reference/compiler-messages/cs0173.md
  docs/csharp/language-reference/keywords/explicit.md
  docs/csharp/language-reference/keywords/implicit.md
  docs/csharp/language-reference/keywords/index.md
  docs/csharp/language-reference/operators/assignment-operator.md
  docs/csharp/language-reference/operators/operator-overloading.md
  docs/csharp/language-reference/operators/type-testing-and-conversion-operators.md
  docs/csharp/language-reference/operators/user-defined-conversion-operators.md
  docs/csharp/language-reference/toc.yml
  docs/csharp/misc/cs0030.md
  docs/csharp/misc/cs0035.md
  docs/csharp/misc/cs0172.md
  docs/csharp/misc/cs0218.md
  docs/csharp/misc/cs1553.md
  docs/csharp/programming-guide/classes-and-structs/structs.md
  docs/csharp/programming-guide/statements-expressions-operators/conversion-operators.md
  docs/csharp/programming-guide/statements-expressions-operators/how-to-implement-user-defined-conversions-between-structs.md
  docs/csharp/programming-guide/statements-expressions-operators/index.md
  docs/csharp/programming-guide/statements-expressions-operators/toc.yml
  docs/csharp/programming-guide/statements-expressions-operators/using-conversion-operators.md
  docs/csharp/programming-guide/types/casting-and-type-conversions.md
Labels: :construction: Hold for related PR

#13292 Replace default ctor with parameterless ctor for the Visual Basic doc
  docs/visual-basic/programming-guide/language-features/data-types/how-to-define-a-class-that-can-provide-identical-functionality.md
  docs/visual-basic/programming-guide/language-features/objects-and-classes/anonymous-type-definition.md
  docs/visual-basic/programming-guide/language-features/objects-and-classes/how-to-declare-an-object-by-using-an-object-initializer.md
  docs/visual-basic/programming-guide/language-features/objects-and-classes/object-initializers-named-and-anonymous-types.md
Labels: :sparkles: 1st-time docs contributor!

#13312 Fix SaveModel method signature
  docs/machine-learning/tutorials/movie-recommendation.md
Labels: :books: Area - ML.NET Guide, doc-bug

#13320 Revise Inception model version
  docs/machine-learning/tutorials/image-classification.md
Labels: :books: Area - ML.NET Guide, doc-bug

#13336 Escape $ to prevent MathJax formatting on currency
  docs/standard/base-types/standard-numeric-format-strings.md
Labels: :sparkles: 1st-time docs contributor!

#13342 Clarify "abstract"
  docs/csharp/language-reference/keywords/abstract.md
Labels: :sparkles: 1st-time docs contributor!

#13333 Update value-types-table.md
  docs/csharp/language-reference/keywords/value-types-table.md
Labels: :sparkles: 1st-time docs contributor!

#13343 Typo fix
  docs/machine-learning/index.yml
Labels: :books: Area - ML.NET Guide

#13006 fix: primary NuGet package cache path for Windows
  docs/core/tools/dotnet.md
Labels: :sparkles: 1st-time docs contributor!

#13346 Ch2 figures
  docs/architecture/cloud-native/deploy-containers-azure.md
  docs/architecture/cloud-native/other-deployment-options.md
Labels: changes-addressed

#13024 Update cli templates to tutorial series
  .openpublishing.redirection.json
  docs/core/tutorials/cli-templates-create-item-template.md
  docs/core/tutorials/cli-templates-create-project-template.md
  docs/core/tutorials/cli-templates-create-template-pack.md
  docs/core/tutorials/create-custom-template.md
  docs/toc.yml
Labels: changes-addressed

#13370 Minor formatting update for the Docker Container Tutorial
  docs/core/docker/build-container.md
Labels: :sparkles: 1st-time docs contributor!

#13163 Model Builder Improvements
  docs/machine-learning/tutorials/predict-prices-with-model-builder.md
Labels: :books: Area - ML.NET Guide, doc-enhancement

#13407 fix: docs/machine-learning/tutorials/predict-prices-with-model-builder.md
  docs/machine-learning/tutorials/predict-prices-with-model-builder.md
Labels: :books: Area - ML.NET Guide

#13439 Typo fix
  docs/csharp/whats-new/csharp-8.md
Labels: :sparkles: 1st-time docs contributor!

#13435 reflect name change
  docs/standard/modern-web-apps-azure-architecture/choose-between-traditional-web-and-single-page-apps.md
Labels: :sparkles: 1st-time docs contributor!

#13446 C103797: Adding break-line before Snippet
  docs/machine-learning/tutorials/movie-recommendation.md
Labels: loc

#13437 Rename DetectChangePoint reference to DetectSpike
  docs/machine-learning/tutorials/sales-anomaly-detection.md
Labels: :books: Area - ML.NET Guide, doc-bug

#13403 Adding offline verbiage
  docs/machine-learning/how-does-mldotnet-work.md
Labels: :books: Area - ML.NET Guide

#13467 11957 parameterless constructor
  docs/csharp/language-reference/keywords/value-types.md
  docs/csharp/programming-guide/classes-and-structs/using-constructors.md
  docs/framework/configure-apps/file-schema/network/defaultproxy-element-network-settings.md
  docs/framework/interop/exposing-dotnet-components-to-com.md
  docs/framework/interop/how-to-create-com-wrappers.md
  docs/framework/interop/qualifying-net-types-for-interoperation.md
  docs/framework/interop/registration-free-com-interop.md
  docs/framework/mef/attributed-programming-model-overview-mef.md
  docs/framework/net-native/migrating-your-windows-store-app-to-net-native.md
  docs/framework/performance/lazy-initialization.md
  docs/framework/reflection-and-codedom/how-to-hook-up-a-delegate-using-reflection.md
  docs/framework/reflection-and-codedom/reflection-and-generic-types.md
  docs/framework/tools/mgmtclassgen-exe.md
  docs/framework/wcf/extending/how-to-import-custom-policy-assertions.md
  docs/framework/wcf/extending/understanding-state-changes.md
  docs/framework/wcf/feature-details/changing-the-cache-sharing-levels-for-send-activities.md
  docs/framework/wcf/feature-details/collection-types-in-data-contracts.md
  docs/framework/wcf/samples/poco-support.md
  docs/framework/windows-workflow-foundation/net-framework-3-0-wf-in-net-framework-4-interop.md
  docs/framework/winforms/controls/bindingsource-component-architecture.md
  docs/framework/winforms/controls/bindingsource-component-overview.md
  docs/framework/winforms/controls/how-to-wrap-a-windows-forms-control-with-toolstripcontrolhost.md
  docs/framework/winforms/controls/toolstrip-control-architecture.md
  docs/framework/winforms/controls/troubleshooting-control-and-component-authoring.md
  docs/framework/winforms/how-to-create-a-windows-forms-application-from-the-command-line.md
  docs/framework/wpf/advanced/componentresourcekey-markup-extension.md
  docs/framework/wpf/advanced/markup-extensions-and-wpf-xaml.md
  docs/framework/wpf/advanced/safe-constructor-patterns-for-dependencyobjects.md
  docs/framework/wpf/advanced/walkthrough-enabling-drag-and-drop-on-a-user-control.md
  docs/framework/wpf/advanced/xaml-and-custom-classes-for-wpf.md
  docs/framework/wpf/advanced/xaml-overview-wpf.md
  docs/framework/wpf/advanced/xaml-syntax-in-detail.md
  docs/framework/wpf/app-development/application-management-overview.md
  docs/framework/wpf/app-development/how-to-call-a-page-function.md
  docs/framework/wpf/app-development/navigation-overview.md
  docs/framework/wpf/app-development/structured-navigation-overview.md
  docs/framework/wpf/data/binding-sources-overview.md
  docs/framework/xaml-services/collections-and-collection-types-for-xaml.md
  docs/framework/xaml-services/defining-custom-types-for-use-with-net-framework-xaml-services.md
  docs/framework/xaml-services/markup-extensions-for-xaml-overview.md
  docs/framework/xaml-services/understanding-xaml-node-stream-structures-and-concepts.md
  docs/framework/xaml-services/x-arguments-directive.md
  docs/framework/xaml-services/xaml-related-clr-attributes-for-custom-types-and-libraries.md
  docs/fsharp/language-reference/members/constructors.md
Labels: :sparkles: 1st-time docs contributor!

#12065 chore: Docs: Cleanup Microsoft link
  docs/csharp/programming-guide/classes-and-structs/static-constructors.md
  docs/machine-learning/resources/ml-net-cli-telemetry.md
  docs/standard/analyzers/portability-analyzer.md
  docs/standard/serverless-architecture/serverless-architecture.md
  docs/visual-basic/language-reference/modifiers/async.md
  includes/migration-guide/retargeting/winforms/accessibility-improvements-windows-forms-controls-for-net-48.md
  includes/migration-guide/runtime/core/net-com-successfully-marshals-byref-safearray-parameters-on-events.md
Labels: waiting-on-reviews

#12765 Update PrimeService Creation
  docs/core/testing/unit-testing-with-nunit.md
Labels: :sparkles: 1st-time docs contributor!

#13530 Update macos-prerequisites.md
  docs/core/macos-prerequisites.md
Labels: doc-update

#13539 Replace C++/CLI tokens
  docs/framework/wpf/advanced/walkthrough-hosting-wpf-content-in-win32.md
  docs/framework/wpf/advanced/wpf-and-win32-interoperation.md
  docs/framework/xaml-services/x-classmodifier-directive.md
  docs/framework/xaml-services/x-fieldmodifier-directive.md
  includes/tla2sharptla-cppcli-md.md
  includes/tlasharptla-cppcli-md.md
Labels: verify-build-before-merge

#13544 C103800: Changing italic asterisks by italic underscore
  docs/core/whats-new/dotnet-core-3-0.md
Labels: loc

#13577 remove extra comment
  docs/csharp/language-reference/compiler-messages/cs1612.md
Labels: :sparkles: 1st-time docs contributor!

#13494 Fix typo
  docs/machine-learning/resources/tasks.md
Labels: :books: Area - ML.NET Guide

#13052 Corrected registry value error for Japanese eras
  docs/standard/datetime/working-with-calendars.md
Labels: verify-build-before-merge

#13605 Remove inaccurate information
  docs/visual-basic/programming-guide/language-features/error-types.md
Labels: verify-build-before-merge

#13606 Fix #13221 - Shortened syntax
  docs/csharp/programming-guide/indexers/comparison-between-properties-and-indexers.md
Labels: :sparkles: 1st-time docs contributor!

#13647 Fix typo in scrollbar-styles-and-templates.md
  docs/framework/wpf/controls/scrollbar-styles-and-templates.md
Labels: :sparkles: 1st-time docs contributor!

#12755 ONNX Object Detection Tutorial
  docs/machine-learning/tutorials/media/object-detection-onnx/image3.jpg
  docs/machine-learning/tutorials/media/object-detection-onnx/img-classification-obj-detection.PNG
  docs/machine-learning/tutorials/media/object-detection-onnx/input-model.PNG
  docs/machine-learning/tutorials/media/object-detection-onnx/model-output-description.PNG
  docs/machine-learning/tutorials/media/object-detection-onnx/netron-model-map.png
  docs/machine-learning/tutorials/media/object-detection-onnx/onnx-frameworks.png
  docs/machine-learning/tutorials/media/object-detection-onnx/onnx-ml-net-integration.png
  docs/machine-learning/tutorials/media/object-detection-onnx/output-model.PNG
  docs/machine-learning/tutorials/object-detection-onnx.md
Labels: :books: Area - ML.NET Guide, new-content

#13663 Add Note LoadFromEnumerable expects thread-safe IEnumerable
  docs/machine-learning/how-to-guides/load-data-ml-net.md
Labels: doc-update

#13664 Adding ONNX Object Detection tutorial to ML.NET index page
  docs/machine-learning/index.yml
Labels: doc-update

#13665 Clarifying VectorType usage
  docs/machine-learning/how-to-guides/load-data-ml-net.md
Labels: doc-update

#13651 Update landing page text with current release and preview API contents
  docs/machine-learning/index.yml
Labels: :books: Area - ML.NET Guide

#13666 Update ML.NET product feedback URL
  docfx.json
Labels: :books: Area - ML.NET Guide

#13673 Updates to tutorial
  docs/machine-learning/tutorials/github-issue-classification.md
Labels: :books: Area - ML.NET Guide

#13660 Define which namespace they are in
  docs/framework/winforms/advanced/how-to-read-settings-at-run-time-with-csharp.md
Labels: :sparkles: 1st-time docs contributor!
