Repository dotnet/docs, pull requests merged in 2019-01, with the labels that each got.

#9761 Small grammar fix
  docs/framework/wpf/advanced/xaml-syntax-in-detail.md
Labels: :sparkles: 1st-time docs contributor!

#9738 Complete missing *
  docs/standard/microservices-architecture/architect-microservice-container-applications/direct-client-to-microservice-communication-versus-the-API-Gateway-pattern.md
Labels: :sparkles: 1st-time docs contributor!

#9727 Update version number
  docs/standard/microservices-architecture/index.md
Labels: :card_file_box: Technology - .NET Architecture

#9751 Update best-practices-for-exceptions.md
  docs/standard/exceptions/best-practices-for-exceptions.md
Labels: :sparkles: 1st-time docs contributor!

#9799 Quoted backticks
  docs/standard/base-types/regular-expression-language-quick-reference.md
  docs/standard/base-types/substitutions-in-regular-expressions.md
Labels: :sparkles: 1st-time docs contributor!

#9811 Fix #9736 - C# 7.3 and [field:] attributes
  docs/csharp/programming-guide/classes-and-structs/auto-implemented-properties.md
Labels: :sparkles: 1st-time docs contributor!

#9824 Fix namespace from System.Runtime.Serialization to System.Xml.Serialization (#8722)
  docs/standard/serialization/serialization-guidelines.md
Labels: :card_file_box: Technology - .NET Standard

#9793 Added extra details about conversions.
  docs/csharp/language-reference/keywords/implicit-numeric-conversions-table.md
Labels: verify-build-before-merge

#9828 C57279: Correcting bold format and escaping Square brackets
  docs/standard/serialization/xml-serializer-generator-tool-sgen-exe.md
Labels: loc, verify-build-before-merge

#9551 Make "What's new in C# 6" interactive
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/how-to-initialize-a-dictionary-with-a-collection-initializer_1.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/how-to-initialize-objects-by-using-an-object-initializer_1.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/how-to-initialize-objects-by-using-an-object-initializer_2.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/object-and-collection-initializers_1.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/object-and-collection-initializers_2.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/object-and-collection-initializers_3.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/object-and-collection-initializers_4.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/object-and-collection-initializers_5.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/object-and-collection-initializers_6.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/object-and-collection-initializers_7.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/object-and-collection-initializers_8.cs
  docs/csharp/programming-guide/classes-and-structs/how-to-initialize-a-dictionary-with-a-collection-initializer.md
  docs/csharp/programming-guide/classes-and-structs/how-to-initialize-objects-by-using-an-object-initializer.md
  docs/csharp/programming-guide/classes-and-structs/object-and-collection-initializers.md
  docs/csharp/tutorials/exploration/csharp-6.yml
  docs/csharp/tutorials/index.md
  docs/csharp/whats-new/csharp-6.md
  docs/csharp/whats-new/csharp-version-history.md
  docs/toc.md
Labels: changes-addressed

#7943 Cross updating with Microservices eBook v2.1.02 - Chapter 5
  docs/standard/microservices-architecture/docker-application-development-process/docker-app-development-workflow.md
  docs/standard/microservices-architecture/docker-application-development-process/index.md
  docs/standard/microservices-architecture/docker-application-development-process/media/image10.png
  docs/standard/microservices-architecture/docker-application-development-process/media/image11.PNG
  docs/standard/microservices-architecture/docker-application-development-process/media/image12.png
  docs/standard/microservices-architecture/docker-application-development-process/media/image17.png
  docs/standard/microservices-architecture/docker-application-development-process/media/image2.png
  docs/standard/microservices-architecture/docker-application-development-process/media/image21.png
  docs/standard/microservices-architecture/docker-application-development-process/media/image4.png
  docs/standard/microservices-architecture/docker-application-development-process/media/image5.png
  docs/standard/microservices-architecture/docker-application-development-process/media/image6.png
  docs/standard/microservices-architecture/docker-application-development-process/media/image7.png
Labels: changes-addressed

#9876 Update best-practices-for-implementing-the-event-based-asynchronous-p…
  docs/standard/asynchronous-programming-patterns/best-practices-for-implementing-the-event-based-asynchronous-pattern.md
Labels: :books: Area - .NET Guide, :sparkles: 1st-time docs contributor!

#9871 C57279: Correcting bold format and escaping square brackets
  docs/standard/serialization/xml-schema-definition-tool-xsd-exe.md
Labels: loc

#9705 add some internal sql apis
  docs/framework/additional-apis/_autoredirects.md
  docs/framework/additional-apis/connection.md
  docs/framework/additional-apis/connectiongroup.md
  docs/framework/additional-apis/datamemberfieldeditor-class.md
  docs/framework/additional-apis/datamemberlisteditor-class.md
  docs/framework/additional-apis/m_connectiongrouplist.md
  docs/framework/additional-apis/m_connectionlist.md
  docs/framework/additional-apis/m_writelist.md
  docs/framework/additional-apis/microsoft.sqlserver.server.smiorderproperty.item.md
  docs/framework/additional-apis/s-isdebuggercheckdisabledfortestpurposes-field.md
  docs/framework/additional-apis/s_servicepointtable.md
  docs/framework/additional-apis/system.data.sqltypes.sqlchars.stream.md
  docs/framework/additional-apis/system.data.sqltypes.sqlstreamchars.-ctor.md
  docs/framework/additional-apis/system.data.sqltypes.sqlstreamchars.canseek.md
  docs/framework/additional-apis/system.data.sqltypes.sqlstreamchars.close.md
  docs/framework/additional-apis/system.data.sqltypes.sqlstreamchars.dispose.md
  docs/framework/additional-apis/system.data.sqltypes.sqlstreamchars.flush.md
  docs/framework/additional-apis/system.data.sqltypes.sqlstreamchars.isnull.md
  docs/framework/additional-apis/system.data.sqltypes.sqlstreamchars.length.md
  docs/framework/additional-apis/system.data.sqltypes.sqlstreamchars.read.md
  docs/framework/additional-apis/system.data.sqltypes.sqlstreamchars.seek.md
  docs/framework/additional-apis/system.data.sqltypes.sqlstreamchars.setlength.md
  docs/framework/additional-apis/system.data.sqltypes.sqlstreamchars.write.md
  docs/framework/additional-apis/toc.md
Labels: P0, new-content, verify-build-before-merge

#9887 Update xml block
  docs/core/macos-prerequisites.md
Labels: :books: Area - .NET Core Guide

#9914 Minor clarifications and consistency
  docs/core/tools/csproj.md
Labels: verify-build-before-merge

#9925 remove inner snippets + formatting
  docs/csharp/language-reference/keywords/codesnippet/CSharp/implicitly-typed-local-variables_3.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/where-clause_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/where-clause_2.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/where-clause_3.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/yield_1.cs
  docs/csharp/language-reference/keywords/codesnippet/CSharp/yield_2.cs
  docs/csharp/language-reference/keywords/codesnippet/VisualBasic/try-catch-finally-statement_7.vb
  docs/csharp/language-reference/keywords/codesnippet/VisualBasic/try-catch-finally-statement_8.vb
  docs/csharp/language-reference/keywords/when.md
  docs/csharp/language-reference/keywords/where-clause.md
  docs/csharp/language-reference/keywords/where-generic-type-constraint.md
  docs/csharp/language-reference/keywords/while.md
  docs/csharp/language-reference/keywords/yield.md
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/implicitly-typed-local-variables_1.cs
  docs/csharp/programming-guide/arrays/codesnippet/CSharp/implicitly-typed-local-variables_2.cs
  docs/csharp/programming-guide/classes-and-structs/implicitly-typed-local-variables.md
  docs/visual-basic/language-reference/error-messages/codesnippet/VisualBasic/try-catch-finally-statement_1.vb
  docs/visual-basic/language-reference/error-messages/codesnippet/VisualBasic/try-catch-finally-statement_2.vb
  docs/visual-basic/language-reference/error-messages/codesnippet/VisualBasic/try-catch-finally-statement_3.vb
  docs/visual-basic/language-reference/error-messages/codesnippet/VisualBasic/try-catch-finally-statement_4.vb
  docs/visual-basic/language-reference/error-messages/codesnippet/VisualBasic/try-catch-finally-statement_5.vb
  docs/visual-basic/language-reference/error-messages/codesnippet/VisualBasic/try-catch-finally-statement_6.vb
  docs/visual-basic/language-reference/statements/try-catch-finally-statement.md
Labels: migration-fixes

#9877 Extend String interpolation doc
  docs/csharp/tutorials/string-interpolation.md
Labels: :sparkles: 1st-time docs contributor!

#9932 Update values to match code snippet
  docs/standard/base-types/quantifiers-in-regular-expressions.md
Labels: :sparkles: 1st-time docs contributor!

#9950 Remove duplicate row
  docs/machine-learning/resources/transforms.md
Labels: :books: Area - ML.NET Guide, :sparkles: 1st-time docs contributor!

#9718 Update .NET Core hosting docs to highlight CoreClrHost.h
  docs/core/tutorials/netcore-hosting.md
Labels: :construction: Hold for related PR

#9963 Added reference to DocFX
  docs/csharp/programming-guide/xmldoc/xml-documentation-comments.md
Labels: :sparkles: 1st-time docs contributor!

#9971 Minor typo
  docs/standard/microservices-architecture/architect-microservice-container-applications/scalable-available-multi-container-microservice-applications.md
Labels: :book: guide - .NET Microservices, :card_file_box: Technology - .NET Architecture

#9980 Updated link
  docs/machine-learning/how-to-guides/determine-global-feature-importance-in-model.md
Labels: :books: Area - ML.NET Guide, doc-update

#9982 Updated to remove legacy and runtime namespace changes
  docs/machine-learning/resources/transforms.md
Labels: :books: Area - ML.NET Guide, doc-update

#9988 Include required VS version to use NuGet symbol server
  docs/standard/library-guidance/nuget.md
Labels: verify-build-before-merge

#9941 remove inner snippets + formatting
  docs/csharp/language-reference/operators/codesnippet/CSharp/invocation-operator_1.cs
  docs/csharp/language-reference/operators/codesnippet/CSharp/invocation-operator_2.cs
  docs/csharp/language-reference/operators/codesnippet/CSharp/left-shift-assignment-operator_1.cs
  docs/csharp/language-reference/operators/codesnippet/CSharp/left-shift-operator_1.cs
  docs/csharp/language-reference/operators/codesnippet/CSharp/logical-negation-operator_1.cs
  docs/csharp/language-reference/operators/codesnippet/CSharp/member-access-operator_1.cs
  docs/csharp/language-reference/operators/codesnippet/CSharp/member-access-operator_2.cs
  docs/csharp/language-reference/operators/codesnippet/CSharp/member-access-operator_3.cs
  docs/csharp/language-reference/operators/codesnippet/CSharp/member-access-operator_4.cs
  docs/csharp/language-reference/operators/codesnippet/CSharp/member-access-operator_5.cs
  docs/csharp/language-reference/operators/codesnippet/CSharp/member-access-operator_6.cs
  docs/csharp/language-reference/operators/codesnippet/CSharp/member-access-operator_7.cs
  docs/csharp/language-reference/operators/codesnippet/CSharp/multiplication-assignment-operator_1.cs
  docs/csharp/language-reference/operators/codesnippet/CSharp/multiplication-operator_1.cs
  docs/csharp/language-reference/operators/codesnippet/CSharp/multiplication-operator_2.cs
  docs/csharp/language-reference/operators/index-operator.md
  docs/csharp/language-reference/operators/invocation-operator.md
  docs/csharp/language-reference/operators/left-shift-assignment-operator.md
  docs/csharp/language-reference/operators/left-shift-operator.md
  docs/csharp/language-reference/operators/logical-negation-operator.md
  docs/csharp/language-reference/operators/member-access-operator.md
  docs/csharp/language-reference/operators/multiplication-assignment-operator.md
  docs/csharp/language-reference/operators/multiplication-operator.md
Labels: :books: Area - C# Guide, migration-fixes, verify-build-before-merge

#9991 Update for .9 release
  docs/machine-learning/tutorials/sentiment-analysis.md
Labels: :books: Area - ML.NET Guide

#10000 Fix broken links
  docs/machine-learning/resources/tasks.md
Labels: :books: Area - ML.NET Guide, doc-update

#10003 Update for .9 release
  docs/machine-learning/tutorials/taxi-fare.md
Labels: :books: Area - ML.NET Guide, doc-update

#10004 Revised the invocation operator article
  docs/csharp/language-reference/operators/invocation-operator.md
  docs/csharp/programming-guide/statements-expressions-operators/conversion-operators.md
  docs/csharp/programming-guide/statements-expressions-operators/operators.md
  docs/csharp/programming-guide/types/casting-and-type-conversions.md
Labels: verify-build-before-merge

#10009 Fixed indentation in code sample
  docs/framework/performance/how-to-perform-lazy-initialization-of-objects.md
Labels: :sparkles: 1st-time docs contributor!

#10014 Replace incorrect method reference
  docs/machine-learning/tutorials/sentiment-analysis.md
Labels: :books: Area - ML.NET Guide

#10002 Changed titles, reorganized TOC of .NET Core getting started tutorials
  docs/core/tutorials/consuming-library-with-visual-studio.md
  docs/core/tutorials/library-with-visual-studio.md
  docs/core/tutorials/publishing-with-visual-studio.md
  docs/core/tutorials/testing-library-with-visual-studio.md
  docs/core/tutorials/vb-library-with-visual-studio.md
  docs/core/tutorials/vb-with-visual-studio.md
  docs/core/tutorials/with-visual-studio.md
  docs/csharp/getting-started/toc.md
  docs/toc.md
Labels: :books: Area - .NET Core Guide

#8504 Cross updating with Microservices eBook v2.1.02 - Chapter 9
  docs/standard/microservices-architecture/key-takeaways.md
  docs/standard/microservices-architecture/secure-net-microservices-web-applications/authorization-net-microservices-web-applications.md
  docs/standard/microservices-architecture/secure-net-microservices-web-applications/azure-key-vault-protects-secrets.md
  docs/standard/microservices-architecture/secure-net-microservices-web-applications/developer-app-secrets-storage.md
  docs/standard/microservices-architecture/secure-net-microservices-web-applications/index.md
  docs/standard/microservices-architecture/secure-net-microservices-web-applications/media/image3.png
Labels: verify-build-before-merge

#9883 C54009: Asterisk issue
  docs/standard/asynchronous-programming-patterns/blocking-application-execution-by-ending-an-async-operation.md
Labels: changes-addressed, loc

#10018 Update project-json.md
  docs/project-json.md
Labels: verify-build-before-merge

#10026 C61244: Escaping character
  docs/csharp/language-reference/operators/conditional-or-operator.md
Labels: loc

#10039 Moved LogisticRegression
  docs/machine-learning/resources/tasks.md
Labels: :books: Area - ML.NET Guide

#10041 Removed Legacy Links
  docs/machine-learning/resources/glossary.md
Labels: :books: Area - ML.NET Guide

#10035 added reference to is operator in docs (#9756)
  docs/csharp/whats-new/csharp-7.md
Labels: :sparkles: 1st-time docs contributor!

#8035 Improved document formatting and readability
  docs/csharp/how-to/compare-strings.md
Labels: :sparkles: 1st-time docs contributor!, changes-addressed

#9424 Tweak wording, mention NuGet options
  docs/framework/wpf/advanced/weak-event-patterns.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF, changes-addressed

#7982 More examples of code and showing different ways to do things
  docs/visual-basic/programming-guide/language-features/linq/codesnippet/VisualBasic/how-to-count-sum-or-average-data-by-using-linq_1.vb
  docs/visual-basic/programming-guide/language-features/linq/how-to-modify-data-in-a-database-by-using-linq.md
Labels: :sparkles: 1st-time docs contributor!, changes-addressed

#10037 Remove locale from links
  docs/framework/whats-new/index.md
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/net-core-microservice-domain-model.md
Labels: :bookmark_tabs: Information Architecture

#10059 Removed obsolete transforms
  docs/machine-learning/resources/transforms.md
Labels: :books: Area - ML.NET Guide, doc-update

#10079 Fixed a broken link
  docs/standard/net-standard.md
Labels: :sparkles: 1st-time docs contributor!

#9760 Refresh how-to-write-text-to-a-file.md
  docs/standard/io/how-to-write-text-to-a-file.md
Labels: verify-build-before-merge

#10096 fix a broken grammar
  docs/standard/modern-web-apps-azure-architecture/work-with-data-in-asp-net-core-apps.md
Labels: verify-build-before-merge

#10038 Multiclass Classification tutorial
  docs/machine-learning/index.md
  docs/machine-learning/tutorials/github-issue-classification.md
  docs/machine-learning/tutorials/index.md
  docs/machine-learning/tutorials/sentiment-analysis.md
  docs/toc.md
Labels: :books: Area - ML.NET Guide, new-content

#10021 Rewrite deploy with CLI - include FDE
  docs/core/deploying/deploy-with-cli.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI, doc-update

#10105 Updating recommendation for publishing symbols
  docs/standard/library-guidance/nuget.md
Labels: :books: Area - .NET Guide

#10113 Change the ContentionStop event ID from 81 to 91
  docs/framework/performance/contention-etw-events.md
Labels: :sparkles: 1st-time docs contributor!

#10102 adding new entries to breadcrumb
  toc.yml
Labels: :bookmark_tabs: Information Architecture

#10115 CCI6636: Replacing HTML entities by characters
  docs/visual-basic/language-reference/xmldoc/value.md
Labels: loc, verify-build-before-merge

#10098 fix date format
  docs/csharp/linq/create-a-nested-group.md
  docs/csharp/linq/dynamically-specify-predicate-filters-at-runtime.md
  docs/csharp/linq/group-query-results.md
  docs/csharp/linq/handle-exceptions-in-query-expressions.md
  docs/csharp/linq/handle-null-values-in-query-expressions.md
  docs/csharp/linq/join-by-using-composite-keys.md
  docs/csharp/linq/order-the-results-of-a-join-clause.md
  docs/csharp/linq/perform-a-subquery-on-a-grouping-operation.md
  docs/csharp/linq/perform-custom-join-operations.md
  docs/csharp/linq/perform-grouped-joins.md
  docs/csharp/linq/perform-inner-joins.md
  docs/csharp/linq/perform-left-outer-joins.md
  docs/csharp/linq/write-linq-queries.md
Labels: :bookmark_tabs: Information Architecture

#10134 Updated date
  docs/machine-learning/tutorials/github-issue-classification.md
Labels: :books: Area - ML.NET Guide, doc-update

#10147 Minor typo in assembly-format.md
  docs/standard/assembly-format.md
Labels: :sparkles: 1st-time docs contributor!

#10117 Correct grammar in Type Extensions article
  docs/fsharp/language-reference/type-extensions.md
Labels: :books: Area - F# Guide

#10148 The URL for downloading .NET Framework 4.7.2 is not working
  docs/framework/install/on-windows-10.md
Labels: :sparkles: 1st-time docs contributor!

#10125 Fix backtick issues
  docs/csharp/programming-guide/concepts/linq/linq-to-xml-for-xpath-users.md
  docs/csharp/tutorials/intro-to-csharp/introduction-to-classes.md
  docs/framework/data/adonet/data-providers.md
  docs/framework/data/adonet/sql/linq/how-to-display-a-changeset.md
  docs/framework/data/wcf/bind-data-to-wpf-elements-wcf-data-services.md
  docs/framework/data/wcf/how-to-customize-feeds-with-ef-provider-wcf-data-services.md
  docs/framework/misc/securing-method-access.md
  docs/framework/net-native/impliestype-element-net-native.md
  docs/framework/tools/mdbg-exe.md
  docs/framework/tools/sn-exe-strong-name-tool.md
  docs/framework/ui-automation/ui-automation-control-patterns-overview.md
  docs/framework/ui-automation/ui-automation-support-for-the-spinner-control-type.md
  docs/framework/wcf/feature-details/how-to-configure-a-wcf-client-to-interoperate-with-wse3-0-services.md
  docs/framework/wcf/feature-details/how-to-specify-channel-security-credentials.md
  docs/framework/wcf/feature-details/reliable-messaging-protocol-version-1-0.md
  docs/framework/wcf/feature-details/reliable-messaging-protocol-version-1-1.md
  docs/framework/wcf/feature-details/transaction-protocols-version-1-0.md
  docs/framework/wcf/feature-details/transaction-protocols.md
  docs/framework/wcf/samples/chunking-channel.md
  docs/framework/wcf/samples/custom-binding-security.md
  docs/framework/wcf/samples/service-transaction-behavior.md
  docs/framework/wcf/samples/transacted-msmq-binding.md
  docs/framework/windows-workflow-foundation/samples/database-access-activities.md
  docs/framework/winforms/controls/how-to-add-web-browser-capabilities-to-a-windows-forms-application.md
  docs/fsharp/style-guide/component-design-guidelines.md
  docs/standard/data/xml/xslt-compiler-xsltc-exe.md
  docs/visual-basic/language-reference/objects/my-resources-object.md
  docs/visual-basic/language-reference/xml-axis/xml-child-axis-property.md
  docs/visual-basic/language-reference/xml-axis/xml-descendant-axis-property.md
  docs/visual-basic/programming-guide/com-interop/how-to-call-a-windows-function-that-takes-unsigned-types.md
  docs/visual-basic/programming-guide/concepts/linq/linq-to-xml-for-xpath-users.md
  docs/visual-basic/programming-guide/language-features/data-types/how-to-declare-a-structure.md
  docs/visual-basic/programming-guide/language-features/data-types/how-to-use-a-generic-class.md
  docs/visual-basic/programming-guide/language-features/events/index.md
  docs/visual-basic/programming-guide/program-structure/references-and-the-imports-statement.md
Labels: changes-addressed, migration-fixes

#10161 try-catch.md typo correction
  docs/csharp/language-reference/keywords/try-catch.md
Labels: :sparkles: 1st-time docs contributor!

#10165 Add references to DocFX
  docs/csharp/programming-guide/xmldoc/cref-attribute.md
  docs/csharp/programming-guide/xmldoc/include.md
  docs/csharp/programming-guide/xmldoc/recommended-tags-for-documentation-comments.md
  docs/csharp/programming-guide/xmldoc/summary.md
  docs/csharp/programming-guide/xmldoc/xml-documentation-comments.md
  docs/fsharp/language-reference/xml-documentation.md
Labels: :books: Area - C# Guide, verify-build-before-merge

#10128 Removed old references to code snippets
  docs/framework/wpf/app-development/persist-and-restore-application-scope-properties.md
Labels: :construction: Hold for related PR, :sparkles: 1st-time docs contributor!, migration-fixes

#10172 Fix typo (double preposition)
  docs/csharp/programming-guide/types/walkthrough-creating-and-using-dynamic-objects.md
Labels: :sparkles: 1st-time docs contributor!

#10158 Updates for Windows Server 2019 and Windows Server, version 1809
  docs/framework/get-started/system-requirements.md
  docs/framework/install/guide-for-developers.md
  docs/framework/install/on-windows-10.md
  docs/framework/migration-guide/versions-and-dependencies.md
Labels: :books: Area - .NET Framework Guide, P0

#10119 Updated examples to use the new parameter
  docs/core/tools/dotnet-install-script.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI, :sparkles: 1st-time docs contributor!

#10194 Remove br tag blocking loc
  docs/standard/base-types/regular-expression-language-quick-reference.md
Labels: loc

#10139 Changed code references to reflect code changes
  docs/framework/wpf/app-development/application-management-overview.md
Labels: :construction: Hold for related PR, migration-fixes

#10212 Fix XML serialization typos
  docs/standard/serialization/examples-of-xml-serialization.md
Labels: :card_file_box: Technology - Data Access, :sparkles: 1st-time docs contributor!

#10185 Update using-a-data-contract-resolver.md
  docs/framework/wcf/feature-details/using-a-data-contract-resolver.md
Labels: :sparkles: 1st-time docs contributor!, verify-build-before-merge

#10218 Fix links
  docs/standard/modernize-with-azure-and-containers/lift-and-shift-existing-apps-azure-iaas.md
Labels: :card_file_box: Technology - .NET Architecture

#10195 Updated to 0.9
  docs/machine-learning/how-to-guides/load-data-from-mult-column-csv-ml-net.md
Labels: :books: Area - ML.NET Guide, doc-update

#10131 Small clarification about the selected ML Task for tutorial
  docs/machine-learning/tutorials/github-issue-classification.md
Labels: :books: Area - ML.NET Guide, changes-addressed, doc-enhancement

#10223 Fix ICU libraries link
  docs/core/deploying/index.md
Labels: :sparkles: 1st-time docs contributor!, verify-build-before-merge

#10222 Updated 0.9
  docs/machine-learning/how-to-guides/load-data-from-mult-column-csv-ml-net.md
  docs/machine-learning/how-to-guides/load-data-from-multiple-files-ml-net.md
  docs/machine-learning/how-to-guides/load-data-from-text-file-ml-net.md
Labels: :books: Area - ML.NET Guide, doc-update

#10228 Fixed misspelling/typos
  docs/framework/wpf/advanced/walkthrough-caching-application-data-in-a-wpf-application.md
Labels: :sparkles: 1st-time docs contributor!

#10240 Redirect Managed Thread States to the API reference
  .openpublishing.redirection.json
  docs/standard/threading/managed-thread-states.md
  docs/standard/threading/managed-threading-basics.md
  docs/standard/threading/toc.md
Labels: verify-build-before-merge

#10250 inline non-working link
  docs/standard/microservices-architecture/architect-microservice-container-applications/direct-client-to-microservice-communication-versus-the-API-Gateway-pattern.md
Labels: :book: guide - .NET Microservices, :card_file_box: Technology - .NET Architecture
