Repository dotnet/docs, pull requests merged in 2019-08, with the labels that each got.

#13690 Fixing typo and clarifying a section
  docs/machine-learning/tutorials/object-detection-onnx.md
Labels: :books: Area - ML.NET Guide, doc-update

#13675 Remove unnecessary training data from anomaly detection tutorial
  docs/machine-learning/tutorials/sales-anomaly-detection.md
Labels: :books: Area - ML.NET Guide

#13691 Update VectorType usage explanation
  docs/machine-learning/how-to-guides/load-data-ml-net.md
Labels: :books: Area - ML.NET Guide, doc-update

#13687 Update to Control Overview wording.
  docs/framework/winforms/controls/menustrip-control-overview-windows-forms.md
Labels: :sparkles: 1st-time docs contributor!

#13708 Localization issue.
  docs/framework/windows-workflow-foundation/migration-guidance.md
Labels: loc

#13699 Moved the namespace alias example
  docs/csharp/programming-guide/namespaces/how-to-use-the-global-namespace-alias.md
  docs/csharp/programming-guide/namespaces/using-namespaces.md
Labels: :construction: Hold for related PR

#13726 Update microservice-based-composite-ui-shape-layout.md
  docs/architecture/microservices/architect-microservice-container-applications/microservice-based-composite-ui-shape-layout.md
Labels: :card_file_box: Technology - .NET Architecture, verify-build-before-merge

#13748 remove number from titles
  docs/csharp/programming-guide/concepts/linq/enabling-a-data-source-for-linq-querying1.md
  docs/csharp/programming-guide/concepts/linq/preserving-white-space-while-loading-or-parsing-xml1.md
  docs/csharp/programming-guide/concepts/linq/sample-xml-file-test-configuration-in-a-namespace1.md
  docs/csharp/programming-guide/concepts/linq/sample-xml-file-typical-purchase-order-in-a-namespace.md
  docs/csharp/programming-guide/concepts/linq/sample-xsd-file-customers-and-orders1.md
  docs/csharp/programming-guide/concepts/linq/scope-of-default-namespaces.md
  docs/csharp/programming-guide/concepts/linq/serializing-to-files-textwriters-and-xmlwriters.md
  docs/csharp/programming-guide/concepts/linq/style-part-of-a-wordprocessingml-document.md
  docs/framework/unmanaged-api/metadata/corelementtype-enumeration.md
  docs/framework/wcf/diagnostics/wmi/contract.md
  docs/framework/windows-workflow-foundation/bookmarks.md
  docs/framework/windows-workflow-foundation/expressions.md
  docs/framework/windows-workflow-foundation/samples/basic.md
  docs/standard/design-guidelines/serialization.md
  docs/visual-basic/programming-guide/concepts/linq/sample-xml-file-customers-and-orders-in-a-namespace.md
  docs/visual-basic/programming-guide/concepts/linq/sample-xml-file-numerical-data-in-a-namespace.md
Labels: migration-fixes

#13774 Documented two additional typedefs
  docs/framework/unmanaged-api/common-data-types-unmanaged-api-reference.md
Labels: verify-build-before-merge

#13792 Fixed ms.date format
  docs/machine-learning/how-to-choose-an-ml-net-algorithm.md
Labels: :books: Area - ML.NET Guide, :sparkles: 1st-time docs contributor!

#13744 Diagnostics landing
  docs/core/diagnostics/index.md
  docs/core/diagnostics/logging-tracing.md
  docs/core/diagnostics/managed-debuggers.md
  docs/toc.yml
Labels: :books: Area - .NET Core Guide, new-content

#13782 Updated verbiage about derived class constructor
  docs/csharp/whats-new/csharp-6.md
Labels: :sparkles: 1st-time docs contributor!

#10831 Remove reference to LocalFileImageService
  docs/architecture/modern-web-apps-azure/test-asp-net-core-mvc-apps.md
Labels: :book: guide - ASP.NET Core web apps, :sparkles: 1st-time docs contributor!

#13815 Scrub of XAML.MD; todo comments added
  docs/desktop/wpf/fundamentals/xaml.md
Labels: :books: Area - Desktop Guide, :card_file_box: Technology - WPF, :checkered_flag: Release: .NET Core 3.0, P1

#13833 Replace MMC tokens
  docs/framework/wpf/app-development/how-to-configure-iis-5-0-and-iis-6-0-to-deploy-wpf-applications.md
  includes/tlasharptla-mmc-md.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF, doc-enhancement

#13824 Add code sample to illustrate capability APIs
  docs/standard/library-guidance/cross-platform-targeting.md
Labels: verify-build-before-merge

#13829 Minor fixes - CATS report
  docs/core/tools/extensibility.md
  docs/csharp/programming-guide/concepts/linq/how-to-compute-column-values-in-a-csv-text-file-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-project-a-new-type-linq-to-xml.md
  docs/framework/develop-web-apps-with-aspnet.md
  docs/framework/interop/compiling-an-interop-project.md
  docs/fsharp/language-reference/index.md
Labels: verify-build-before-merge

#13835 Typo fixes
  docs/core/whats-new/dotnet-core-3-0.md
Labels: :sparkles: 1st-time docs contributor!

#13848 Fix header level so they show up in the navigation
  docs/core/testing/unit-testing-with-mstest.md
Labels: :books: Area - .NET Core Guide, :sparkles: 1st-time docs contributor!, doc-bug

#13847 Corrected name for RabbitMQ
  docs/architecture/microservices/multi-container-microservice-net-applications/background-tasks-with-ihostedservice.md
Labels: :sparkles: 1st-time docs contributor!

#13849 C110186: Change italic asterisk by italic underscoe
  docs/framework/wpf/advanced/attached-events-overview.md
Labels: loc, verify-build-before-merge

#13846 Update main-procedure.md
  docs/visual-basic/programming-guide/program-structure/main-procedure.md
Labels: :books: Area - Visual Basic Guide, doc-enhancement

#13845 standardize high dpi spelling
  docs/core/whats-new/dotnet-core-3-0.md
Labels: verify-build-before-merge

#13872 Replace `ref readonly` with `readonly ref`
  docs/csharp/language-reference/keywords/ref.md
Labels: :sparkles: 1st-time docs contributor!

#13882 fix env variable for ML.NET telemetry
  docs/machine-learning/resources/ml-net-cli-telemetry.md
Labels: :books: Area - ML.NET Guide, doc-bug

#13881 apply SDK guidance and remove related includes
  docs/core/sdk.md
  docs/csharp/misc/cs0003.md
  docs/framework/app-domains/assemblies-in-the-common-language-runtime.md
  docs/framework/app-domains/assembly-names.md
  docs/framework/app-domains/create-and-use-strong-named-assemblies.md
  docs/framework/app-domains/create-assemblies.md
  docs/framework/app-domains/delay-sign-assembly.md
  docs/framework/app-domains/gac.md
  docs/framework/configure-apps/configure-cryptography-classes.md
  docs/framework/configure-apps/map-algorithm-names-to-cryptography-classes.md
  docs/framework/debug-trace-profile/runtime-profiling.md
  docs/framework/deployment/how-the-runtime-locates-assemblies.md
  docs/framework/interop/deploying-an-interop-application.md
  docs/framework/interop/exposing-com-components.md
  docs/framework/interop/how-to-generate-primary-interop-assemblies-using-tlbimp-exe.md
  docs/framework/interop/marshaling-data-with-com-interop.md
  docs/framework/interop/packaging-an-assembly-for-com.md
  docs/framework/tools/al-exe-assembly-linker.md
  docs/framework/tools/ilasm-exe-il-assembler.md
  docs/framework/tools/ildasm-exe-il-disassembler.md
  docs/framework/tools/peverify-exe-peverify-tool.md
  docs/framework/ui-automation/using-ui-automation-for-automated-testing.md
  docs/framework/winforms/more-secure-file-and-data-access-in-windows-forms.md
  docs/framework/wpf/advanced/mc-ignorable-attribute.md
  docs/framework/wpf/advanced/mc-processcontent-attribute.md
  docs/framework/wpf/advanced/property-change-events.md
  docs/framework/wpf/data/data-binding-overview.md
  docs/framework/wpf/wpf-partial-trust-security.md
  includes/tlasharptla-sdk-md.md
  includes/tlasharptla-winfxsdk-md.md
Labels: :bookmark_tabs: Information Architecture

#13855 Revise model builder overview
  docs/machine-learning/automate-training-with-model-builder.md
  docs/machine-learning/media/binary-classification-examples.png
  docs/machine-learning/media/binary-classification-icon.png
  docs/machine-learning/media/binary-classification-icon.svg
  docs/machine-learning/media/icon-binary-classification.png
  docs/machine-learning/media/icon-multiclass-classification.png
  docs/machine-learning/media/icon-regression.png
  docs/machine-learning/media/model-builder-steps.png
  docs/machine-learning/media/multiclass-classification-examples.png
  docs/machine-learning/media/multiclass-classification-icon.png
  docs/machine-learning/media/multiclass-classification-icon.svg
  docs/machine-learning/media/regression-examples.png
  docs/machine-learning/media/regression-icon.png
  docs/machine-learning/media/regression-icon.svg
  docs/machine-learning/tutorials/predict-prices-with-model-builder.md
Labels: :books: Area - ML.NET Guide

#13627 Clarify 3.0 note about serial ports
  docs/core/whats-new/dotnet-core-3-0.md
Labels: :books: Area - .NET Core Guide, changes-addressed, doc-enhancement

#13853 [desktop-wpf] Adjust TOC to be standalone
  docs/desktop/index.md
  docs/desktop/wpf/index.md
  docs/desktop/wpf/toc.yml
  docs/toc.yml
Labels: :books: Area - Desktop Guide, :card_file_box: Technology - WPF

#13922 Additional owner changes for ML.NET
  docfx.json
  docs/machine-learning/tutorials/iris-clustering.md
  docs/machine-learning/tutorials/movie-recommendation.md
  docs/machine-learning/tutorials/predict-prices.md
Labels: :books: Area - ML.NET Guide

#13923 Add chapter breaks
  docs/architecture/modernize-with-azure-containers/index.md
  docs/architecture/modernize-with-azure-containers/lift-and-shift-existing-apps-azure-iaas.md
  docs/architecture/modernize-with-azure-containers/migrate-your-relational-databases-to-azure.md
  docs/architecture/modernize-with-azure-containers/walkthroughs-technical-get-started-overview.md
Labels: :card_file_box: Technology - .NET Architecture

#13876 Combine WinForms controls label topics with designer topics
  .openpublishing.redirection.json
  docs/framework/winforms/controls/how-to-create-access-keys-for-windows-forms-controls-using-the-designer.md
  docs/framework/winforms/controls/how-to-create-access-keys-for-windows-forms-controls.md
  docs/framework/winforms/controls/how-to-set-the-image-displayed-by-a-windows-forms-control-using-the-designer.md
  docs/framework/winforms/controls/how-to-set-the-image-displayed-by-a-windows-forms-control.md
  docs/framework/winforms/controls/how-to-set-the-text-displayed-by-a-windows-forms-control-using-the-designer.md
  docs/framework/winforms/controls/how-to-set-the-text-displayed-by-a-windows-forms-control.md
  docs/framework/winforms/controls/labeling-individual-windows-forms-controls-and-providing-shortcuts-to-them.md
  docs/framework/winforms/controls/toc.yml
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WinForms, doc-update

#13960 Add MetadataLoadContext references
  docs/standard/assembly/file-format.md
  docs/standard/assembly/index.md
Labels: :books: Area - .NET Guide, :checkered_flag: Release: .NET Core 3.0, doc-update

#13945 Update Server Model Web API
  docs/machine-learning/how-to-guides/serve-model-web-api-ml-net.md
Labels: :books: Area - ML.NET Guide, doc-bug, doc-update

#13924 Removed link to WPF sample
  docs/framework/wpf/advanced/layout.md
  docs/framework/wpf/controls/how-to-override-the-panel-onrender-method.md
Labels: changes-addressed

#13942 Update Azure Functions How-To Guide
  docs/machine-learning/how-to-guides/serve-model-serverless-azure-functions-ml-net.md
Labels: :books: Area - ML.NET Guide, doc-update

#13958 Fix missing sample code issues
  docs/framework/configure-apps/file-schema/wcf/add-of-backuplist.md
  docs/framework/configure-apps/file-schema/wcf/add-of-entries.md
  docs/framework/wpf/app-development/persist-and-restore-application-scope-properties.md
Labels: :bookmark_tabs: Information Architecture

#13931 Markdig fixes
  docs/framework/debug-trace-profile/marshaling-mda.md
  docs/framework/net-native/getting-started-with-net-native.md
  docs/framework/net-native/missinginteropdataexception-class-net-native.md
  docs/framework/net-native/missingmetadataexception-class-net-native.md
  docs/framework/tools/resgen-exe-resource-file-generator.md
  docs/framework/ui-automation/ui-automation-properties-for-clients.md
  docs/framework/ui-automation/ui-automation-support-for-the-datagrid-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-dataitem-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-splitbutton-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-window-control-type.md
Labels: migration-fixes

#13927 Add default reviewer for WPF and WinForms
  .github/CODEOWNERS
Labels: :bookmark_tabs: Information Architecture

#13950 Update grouping-constructs-in-regular-expressions.md
  docs/standard/base-types/grouping-constructs-in-regular-expressions.md
Labels: :sparkles: 1st-time docs contributor!

#13967 Markdig fixes
  docs/framework/wpf/advanced/markup-extensions-and-wpf-xaml.md
  docs/standard/base-types/grouping-constructs-in-regular-expressions.md
  docs/standard/data/xml/outputs-from-an-xsltransform.md
Labels: migration-fixes

#13526 Add documentation about DateTime and DateTime support in System.Text.…
  docs/standard/datetime/system-text-json-support.md
  docs/standard/datetime/toc.yml
Labels: new-content

#13982 Update whats new with preview 8 links
  docs/core/whats-new/dotnet-core-3-0.md
Labels: :books: Area - .NET Core Guide, :checkered_flag: Release: .NET Core 3.0, doc-enhancement

#13984 Fix broken links
  docs/architecture/cloud-native/azure-monitor.md
  docs/architecture/cloud-native/devops.md
  docs/architecture/cloud-native/infrastructure-as-code.md
  docs/architecture/cloud-native/toc.yml
Labels: :card_file_box: Technology - .NET Architecture

#13993 Fix name of property userPrincipalName in example xml.
  docs/framework/configure-apps/file-schema/wcf/identity.md
Labels: :sparkles: 1st-time docs contributor!

#13954 Take ownership of arranging WinForms controls topics
  .openpublishing.redirection.json
  docs/framework/winforms/advanced/walkthrough-creating-new-wpf-content-on-windows-forms-at-design-time.md
  docs/framework/winforms/controls/arranging-controls-on-windows-forms.md
  docs/framework/winforms/controls/how-to-add-activex-controls-to-windows-forms.md
  docs/framework/winforms/controls/how-to-add-controls-to-windows-forms.md
  docs/framework/winforms/controls/how-to-add-controls-without-a-user-interface-to-windows-forms.md
  docs/framework/winforms/controls/how-to-align-multiple-controls-on-windows-forms.md
  docs/framework/winforms/controls/how-to-anchor-controls-on-windows-forms.md
  docs/framework/winforms/controls/how-to-arrange-controls-with-snaplines-and-the-grid-in-windows-forms.md
  docs/framework/winforms/controls/how-to-copy-controls-between-windows-forms.md
  docs/framework/winforms/controls/how-to-dock-controls-on-windows-forms.md
  docs/framework/winforms/controls/how-to-layer-objects-on-windows-forms.md
  docs/framework/winforms/controls/how-to-lock-controls-to-windows-forms.md
  docs/framework/winforms/controls/how-to-position-controls-on-windows-forms.md
  docs/framework/winforms/controls/how-to-reassign-existing-controls-to-a-different-parent.md
  docs/framework/winforms/controls/how-to-resize-controls-on-windows-forms.md
  docs/framework/winforms/controls/how-to-set-grid-options-for-all-windows-forms.md
  docs/framework/winforms/controls/how-to-set-the-tab-order-on-windows-forms.md
  docs/framework/winforms/controls/index.md
  docs/framework/winforms/controls/toc.yml
  docs/framework/winforms/controls/walkthrough-arranging-controls-on-windows-forms-using-snaplines.md
  docs/framework/winforms/controls/windows-forms-controls-padding-autosize.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WinForms

#14008 Fix link to Mongo docker image
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/nosql-database-persistence-infrastructure.md
Labels: :sparkles: 1st-time docs contributor!

#13962 WinForms Designer - develop controls
  .openpublishing.redirection.json
  docs/framework/winforms/controls/control-type-recommendations.md
  docs/framework/winforms/controls/creating-a-wf-control-design-time-features.md
  docs/framework/winforms/controls/design-time-errors-in-the-windows-forms-designer.md
  docs/framework/winforms/controls/developing-a-composite-windows-forms-control.md
  docs/framework/winforms/controls/developing-windows-forms-controls-at-design-time.md
  docs/framework/winforms/controls/how-to-align-a-control-to-the-edges-of-forms.md
  docs/framework/winforms/controls/how-to-author-composite-controls.md
  docs/framework/winforms/controls/how-to-author-controls-for-windows-forms.md
  docs/framework/winforms/controls/how-to-create-variable-sized-text-in-a-combobox-control.md
  docs/framework/winforms/controls/how-to-display-a-control-in-the-choose-toolbox-items-dialog-box.md
  docs/framework/winforms/controls/how-to-expose-properties-of-constituent-controls.md
  docs/framework/winforms/controls/how-to-inherit-from-existing-windows-forms-controls.md
  docs/framework/winforms/controls/how-to-inherit-from-the-control-class.md
  docs/framework/winforms/controls/how-to-inherit-from-the-usercontrol-class.md
  docs/framework/winforms/controls/how-to-navigate-to-a-url-with-the-webbrowser-control.md
  docs/framework/winforms/controls/how-to-play-a-beep-from-a-windows-form.md
  docs/framework/winforms/controls/how-to-play-a-sound-from-a-windows-form.md
  docs/framework/winforms/controls/how-to-provide-a-toolbox-bitmap-for-a-control.md
  docs/framework/winforms/controls/how-to-test-the-run-time-behavior-of-a-usercontrol.md
  docs/framework/winforms/controls/how-to-use-a-background-thread-to-search-for-files.md
  docs/framework/winforms/controls/performing-common-tasks-using-smart-tags-on-wf-controls.md
  docs/framework/winforms/controls/serializing-collections-designerserializationvisibilityattribute.md
  docs/framework/winforms/controls/toc.yml
  docs/framework/winforms/controls/troubleshooting-control-and-component-authoring.md
  docs/framework/winforms/controls/walkthrough-authoring-a-composite-control-with-visual-basic.md
  docs/framework/winforms/controls/walkthrough-authoring-a-composite-control-with-visual-csharp.md
  docs/framework/winforms/controls/walkthrough-debugging-custom-windows-forms-controls-at-design-time.md
  docs/framework/winforms/controls/walkthrough-inheriting-from-a-windows-forms-control-with-visual-basic.md
  docs/framework/winforms/controls/walkthrough-inheriting-from-a-windows-forms-control-with-visual-csharp.md
  docs/framework/winforms/how-to-create-a-bound-control-and-format-the-displayed-data.md
  docs/framework/winforms/how-to-create-a-simple-bound-control-on-a-windows-form.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WinForms

#13961 Update .NET architectural components
  docs/standard/components.md
Labels: :checkered_flag: Release: .NET Core 3.0

#13799 Loading conceptual introduction.
  docs/core/dependency-loading/default-probing.md
  docs/core/dependency-loading/loading-managed.md
  docs/core/dependency-loading/loading-resources.md
  docs/core/dependency-loading/loading-unmanaged.md
  docs/core/dependency-loading/overview.md
  docs/core/dependency-loading/understanding-assemblyloadcontext.md
  docs/toc.yml
Labels: :books: Area - .NET Core Guide, new-content

#13854 Cloud native - ch1 - Cesar/Nish Updates
  docs/architecture/cloud-native/azure-development-stack.md
  docs/architecture/cloud-native/candidate-apps.md
  docs/architecture/cloud-native/definition.md
  docs/architecture/cloud-native/introduction.md
  docs/architecture/cloud-native/media/azure-cloud-shell.png
  docs/architecture/cloud-native/media/azure-compute-stack.png
  docs/architecture/cloud-native/media/azure-dev-spaces-site-example.png
  docs/architecture/cloud-native/media/azure-pipelines-in-azure-devops.png
  docs/architecture/cloud-native/media/build-release-run-pipeline.png
  docs/architecture/cloud-native/media/capabilities-of-cloud-native-apps.png
  docs/architecture/cloud-native/media/cloud-native-backing-services.png
  docs/architecture/cloud-native/media/cloud-native-design.png
  docs/architecture/cloud-native/media/cloud-native-foundational-pillars.png
  docs/architecture/cloud-native/media/common-backing-services.png
  docs/architecture/cloud-native/media/companies-embracing-cloud-native.png
  docs/architecture/cloud-native/media/cross-platform-editors-for-dotnet-core.png
  docs/architecture/cloud-native/media/hosting-mulitple-containers.png
  docs/architecture/cloud-native/media/managed-services-in-azure.png
  docs/architecture/cloud-native/media/monolithic-deployment-vs-microservices.jpg
  docs/architecture/cloud-native/media/monolithic-design-temporary.png
  docs/architecture/cloud-native/media/monolithic-design.png
  docs/architecture/cloud-native/media/monolithic-vs-microservices.png
  docs/architecture/cloud-native/media/multiple-containers-running-on-a-host.png
  docs/architecture/cloud-native/media/steps-in-the-cd-pipeline.png
  docs/architecture/cloud-native/media/steps-in-the-ci-pipeline.png
  docs/architecture/cloud-native/media/strategies-for-migrating-legacy-workloads.png
  docs/architecture/cloud-native/media/the-twelve-factor-app.png
  docs/architecture/cloud-native/media/what-container-orchestrators-do.png
  docs/architecture/cloud-native/resiliency.md
  docs/architecture/cloud-native/scale-dotnet-applications.md
  docs/architecture/cloud-native/toc.yml
Labels: :card_file_box: Technology - .NET Architecture

#13947 Updating Scaling Chapter (ch2)
  docs/architecture/cloud-native/candidate-apps.md
  docs/architecture/cloud-native/combine-containers-serverless-approaches.md
  docs/architecture/cloud-native/deploy-containers-azure.md
  docs/architecture/cloud-native/leverage-containers-orchestrators.md
  docs/architecture/cloud-native/leverage-serverless-functions.md
  docs/architecture/cloud-native/media/aks-cluster-autoscaler.png
  docs/architecture/cloud-native/scale-applications.md
  docs/architecture/cloud-native/scale-dotnet-applications.md
Labels: :card_file_box: Technology - .NET Architecture

#14076 Update .NET Core telemetry
  docs/core/tools/telemetry.md
Labels: :books: Area - .NET Core Guide, P0, doc-update, verify-build-before-merge

#14046 Migration of Legacy VeriSign Time Stamping Services
  docs/framework/tools/signtool-exe.md
Labels: :sparkles: 1st-time docs contributor!

#14090 Clarify data loading language in ML.NET How-To's
  docs/machine-learning/how-to-guides/explain-machine-learning-model-permutation-feature-importance-ml-net.md
  docs/machine-learning/how-to-guides/train-machine-learning-model-cross-validation-ml-net.md
  docs/machine-learning/how-to-guides/train-machine-learning-model-ml-net.md
Labels: :books: Area - ML.NET Guide, doc-enhancement

#14093 US 1583733 Add missing language IDs - 02
  docs/core/testing/unit-testing-published-output.md
  docs/core/testing/unit-testing-visual-basic-with-dotnet-test.md
  docs/core/testing/unit-testing-visual-basic-with-mstest.md
  docs/core/testing/unit-testing-visual-basic-with-nunit.md
  docs/core/testing/unit-testing-with-dotnet-test.md
  docs/core/testing/unit-testing-with-mstest.md
  docs/core/testing/unit-testing-with-nunit.md
  docs/core/tools/dotnet-build-server.md
  docs/core/tools/dotnet-build.md
  docs/core/tools/dotnet-clean.md
  docs/core/tools/dotnet-list-package.md
  docs/core/tools/dotnet.md
Labels: vendor-project

#14088 Restore config file hierarchy and links
  docs/framework/configure-apps/file-schema/compiler/compiler-element.md
  docs/framework/configure-apps/file-schema/compiler/compilers-element.md
  docs/framework/configure-apps/file-schema/compiler/index.md
  docs/framework/configure-apps/file-schema/compiler/provideroption-element.md
  docs/framework/configure-apps/file-schema/compiler/system-codedom-element.md
Labels: migration-fixes

#14087 Update Cover and Intro Page
  docs/architecture/cloud-native/index.md
  docs/architecture/cloud-native/media/cover.png
Labels: :card_file_box: Technology - .NET Architecture

#14081 Update link from obsolete to current event
  docs/framework/winforms/user-input-validation-in-windows-forms.md
Labels: :sparkles: 1st-time docs contributor!

#14095 Update ms.topic
  docs/spark/how-to-guides/debug.md
Labels: :bookmark_tabs: Information Architecture, :books: Area - .NET for Apache Spark Guide

#14118 US 1583733 Add missing language IDs - 05
  docs/csharp/programming-guide/concepts/async/control-flow-in-async-programs.md
  docs/csharp/programming-guide/concepts/async/handling-reentrancy-in-async-apps.md
  docs/csharp/programming-guide/concepts/linq/atomized-xname-and-xnamespace-objects-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/chaining-queries-example.md
  docs/csharp/programming-guide/concepts/linq/chaining-standard-query-operators-together.md
  docs/csharp/programming-guide/concepts/linq/creating-the-source-office-open-xml-document.md
  docs/csharp/programming-guide/concepts/linq/deferred-execution-example.md
  docs/csharp/programming-guide/concepts/linq/finding-text-in-word-documents.md
  docs/csharp/programming-guide/concepts/linq/finding-the-default-paragraph-style.md
  docs/csharp/programming-guide/concepts/linq/how-to-calculate-intermediate-values.md
  docs/csharp/programming-guide/concepts/linq/how-to-catch-parsing-errors.md
  docs/csharp/programming-guide/concepts/linq/how-to-combine-and-compare-string-collections-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-control-the-type-of-a-projection.md
  docs/csharp/programming-guide/concepts/linq/how-to-debug-empty-query-results-sets.md
  docs/csharp/programming-guide/concepts/linq/how-to-filter-on-an-attribute-xpath-linq-to-xml.md
Labels: vendor-project

#14112 US 1583733 Add missing language IDs - 03
  docs/core/tools/dotnet-migrate.md
  docs/core/tools/dotnet-nuget-delete.md
  docs/core/tools/dotnet-nuget-locals.md
  docs/core/tools/dotnet-nuget-push.md
  docs/core/tools/dotnet-pack.md
  docs/core/tools/dotnet-publish.md
  docs/core/tools/dotnet-restore.md
  docs/core/tools/dotnet-run.md
  docs/core/tools/dotnet-sln.md
  docs/core/tools/dotnet-vstest.md
  docs/core/tools/enable-tab-autocomplete.md
  docs/core/tools/global-tools-how-to-create.md
  docs/core/tools/global-tools.md
Labels: vendor-project

#14115 US 1583733 Add missing language IDs - 04
  docs/core/index.md
  docs/core/tutorials/libraries.md
  docs/core/tutorials/testing-with-cli.md
  docs/csharp/expression-trees-interpreting.md
  docs/csharp/expression-trees-translating.md
  docs/csharp/language-reference/compiler-messages/cs0731.md
  docs/csharp/language-reference/compiler-options/deterministic-compiler-option.md
  docs/csharp/language-reference/compiler-options/response-file-compiler-option.md
  docs/csharp/language-reference/keywords/extern.md
  docs/csharp/language-reference/tokens/interpolated.md
  docs/csharp/misc/cs1508.md
  docs/csharp/programming-guide/classes-and-structs/how-to-return-subsets-of-element-properties-in-a-query.md
  docs/csharp/programming-guide/classes-and-structs/using-constructors.md
  docs/csharp/programming-guide/concepts/async/cancel-async-tasks-after-a-period-of-time.md
Labels: vendor-project

#14119 Update .NET Standard table for 2.1
  docs/standard/net-standard.md
  includes/net-standard-table.md
Labels: :checkered_flag: Release: .NET Core 3.0, doc-update, verify-build-before-merge
