Repository dotnet/docs, pull requests merged in 2019-04, with the labels that each got.

#11612 fix typos + formatting
  docs/framework/wcf/samples/custom-message-encoder-custom-text-encoder.md
Labels: verify-build-before-merge

#11515 C76692: Adding break-lines (two spaces) at the end of rows
  docs/framework/configure-apps/file-schema/wcf/message-of-netmsmqbinding.md
Labels: loc, verify-build-before-merge

#11541 C76762: Removing all "\" at the end of lines and adding two spaces in…
  docs/framework/configure-apps/file-schema/wcf/issuerchannelbehaviors-element.md
Labels: loc, verify-build-before-merge

#11575 Remove unknown -d parameter to xperf -merge
  docs/framework/performance/clr-etw-providers.md
Labels: :sparkles: 1st-time docs contributor!

#11603 Update example code, prevent naming with numbers.
  docs/core/tutorials/with-visual-studio-code.md
Labels: :sparkles: 1st-time docs contributor!

#11643 C76676: Extra linebreaks in link table breaking content in en-us
  docs/framework/data/wcf/securing-wcf-data-services.md
Labels: loc

#11645 Fixed inconsistent list format
  docs/framework/wcf/feature-details/how-to-create-temporary-certificates-for-use-during-development.md
Labels: :sparkles: 1st-time docs contributor!

#11454 [machine-learning] Refactoring redundant path
  docs/machine-learning/index.md
  docs/machine-learning/tutorials/github-issue-classification.md
  docs/machine-learning/tutorials/movie-recommmendation.md
  docs/machine-learning/tutorials/sentiment-analysis.md
  docs/machine-learning/tutorials/taxi-fare.md
Labels: :books: Area - ML.NET Guide

#11511 Update .NET Core doc in response to moving Docker images to MCR
  docs/core/index.md
  docs/core/versions/index.md
  docs/standard/containerized-lifecycle-architecture/design-develop-containerized-apps/docker-apps-inner-loop-workflow.md
  docs/standard/containerized-lifecycle-architecture/docker-terminology.md
  docs/standard/microservices-architecture/container-docker-introduction/docker-terminology.md
  docs/standard/microservices-architecture/docker-application-development-process/docker-app-development-workflow.md
  docs/standard/microservices-architecture/multi-container-microservice-net-applications/multi-container-applications-docker-compose.md
  docs/standard/microservices-architecture/net-core-net-framework-containers/net-container-os-targets.md
  docs/standard/microservices-architecture/net-core-net-framework-containers/official-net-docker-images.md
  docs/standard/modern-web-apps-azure-architecture/common-web-application-architectures.md
Labels: changes-addressed

#11667 Revise metrics definition
  docs/machine-learning/tutorials/movie-recommmendation.md
Labels: :books: Area - ML.NET Guide, doc-bug

#11383 ML.NET image classification with TensorFlow tutorial
  docs/machine-learning/tutorials/image-classification.md
  docs/machine-learning/tutorials/media/image-classification/119px-Nalle_-_a_small_brown_teddy_bear.jpg
  docs/machine-learning/tutorials/media/image-classification/193px-Broodrooster.jpg
  docs/machine-learning/tutorials/media/image-classification/220px-Pepperoni_pizza.jpg
  docs/machine-learning/tutorials/media/image-classification/inception-files.png
  docs/machine-learning/tutorials/media/image-classification/tensorflow-mlnet.png
Labels: :books: Area - ML.NET Guide, new-content

#11685 Update TOC with Image Classification tutorial
  docs/machine-learning/how-to-guides/index.md
  docs/machine-learning/index.md
  docs/machine-learning/resources/index.md
  docs/machine-learning/tutorials/index.md
  docs/toc.yml
Labels: :books: Area - ML.NET Guide

#11696 Fix spacing in tutorial
  docs/machine-learning/tutorials/movie-recommmendation.md
Labels: :books: Area - ML.NET Guide

#11694 Update large-data-and-streaming.md
  docs/framework/wcf/feature-details/large-data-and-streaming.md
Labels: :sparkles: 1st-time docs contributor!

#11698 updates for bounce rate
  docs/csharp/getting-started/index.md
  docs/csharp/language-reference/keywords/default.md
  docs/csharp/language-reference/keywords/namespace.md
  docs/csharp/language-reference/keywords/using.md
  docs/csharp/tour-of-csharp/index.md
Labels: :bookmark_tabs: Information Architecture, P0

#11702 Update for bounce rate
  docs/framework/winforms/disable-dpi-awareness-visual-studio.md
Labels: :bookmark_tabs: Information Architecture, P0, verify-build-before-merge

#11721 Update support-for-the-msxsl-node-set-function.md
  docs/standard/data/xml/support-for-the-msxsl-node-set-function.md
Labels: :sparkles: 1st-time docs contributor!

#11704 Duplicate link
  docs/standard/microservices-architecture/microservice-ddd-cqrs-patterns/eshoponcontainers-cqrs-ddd-microservice.md
Labels: :sparkles: 1st-time docs contributor!

#11726 Fix ML.NET links on the main .NET docs page
  index.md
Labels: :books: Area - ML.NET Guide, doc-bug

#11730 Review visualstudio.microsoft.com links
  docs/core/about.md
  docs/core/macos-prerequisites.md
  docs/core/porting/winforms.md
  docs/core/porting/wpf.md
  docs/core/tutorials/using-on-mac-vs-full-solution.md
  docs/core/tutorials/using-on-mac-vs.md
  docs/core/whats-new/dotnet-core-3-0.md
  docs/core/windows-prerequisites.md
  docs/csharp/tutorials/generate-consume-asynchronous-stream.md
  docs/csharp/tutorials/nullable-reference-types.md
  docs/csharp/tutorials/pattern-matching.md
  docs/csharp/tutorials/upgrade-to-nullable-references.md
  docs/csharp/whats-new/csharp-version-history.md
  docs/framework/get-started/index.md
  docs/framework/resources/creating-resource-files-for-desktop-apps.md
  docs/framework/resources/working-with-resx-files-programmatically.md
  docs/framework/tools/developer-command-prompt-for-vs.md
  docs/framework/tools/index.md
  docs/framework/wpf/advanced/getting-started-with-ink.md
  docs/fsharp/get-started/install-fsharp.md
  docs/machine-learning/how-to-guides/serve-model-serverless-azure-functions-ml-net.md
  docs/machine-learning/how-to-guides/serve-model-web-api-ml-net.md
  docs/machine-learning/tutorials/github-issue-classification.md
  docs/machine-learning/tutorials/image-classification.md
  docs/machine-learning/tutorials/iris-clustering.md
  docs/machine-learning/tutorials/movie-recommmendation.md
  docs/machine-learning/tutorials/sentiment-analysis.md
  docs/machine-learning/tutorials/taxi-fare.md
  docs/samples-and-tutorials/index.md
  docs/standard/containerized-lifecycle-architecture/design-develop-containerized-apps/docker-apps-development-environment.md
  docs/standard/globalization-localization/best-practices-for-developing-world-ready-apps.md
  docs/standard/microservices-architecture/docker-application-development-process/docker-app-development-workflow.md
  docs/standard/microservices-architecture/docker-application-development-process/index.md
  docs/standard/modernize-with-azure-and-containers/index.md
  docs/standard/modernize-with-azure-and-containers/modernize-existing-apps-to-cloud-optimized/microsoft-technologies-in-cloud-optimized-applications.md
  docs/standard/net-standard.md
  index.md
Labels: doc-update

#11738 https link + punctuation
  docs/core/testing/unit-testing-best-practices.md
  docs/csharp/tutorials/upgrade-to-nullable-references.md
  docs/machine-learning/tutorials/image-classification.md
Labels: :books: Area - ML.NET Guide

#11743 C76806: Missing spaces prevent italics tags rendering
  docs/standard/parallel-programming/how-to-write-a-simple-parallel-foreach-loop.md
Labels: loc

#11749 ML.NET: re-add landing pages
  docs/machine-learning/how-to-guides/index.md
  docs/machine-learning/resources/index.md
  docs/machine-learning/tutorials/index.md
  docs/toc.yml
  index.md
Labels: :books: Area - ML.NET Guide, P0, doc-bug

#11752 Fixed broken link
  docs/machine-learning/tutorials/index.md
Labels: :books: Area - ML.NET Guide, doc-bug

#11766 Update attributes.md
  docs/csharp/tutorials/attributes.md
Labels: :sparkles: 1st-time docs contributor!

#11728 ML.NET: update clustering tutorial to ML.NET preview
  docs/machine-learning/tutorials/iris-clustering.md
Labels: :books: Area - ML.NET Guide, doc-update

#10227 add dotnet list package topic
  docs/core/tools/dotnet-list-package.md
  docs/toc.yml
  includes/topic-appliesto-net-core-22plus.md
Labels: :card_file_box: Technology - CLI, :checkered_flag: Release: .NET Core 3.0, new-content

#11774 Update MessageBox PInvoke example
  docs/standard/native-interop/pinvoke.md
Labels: changes-addressed

#11794 Fix parenthesis
  docs/framework/tools/ildasm-exe-il-disassembler.md
Labels: :books: Area - .NET Framework Guide

#11760 fix: MD010/no-hard-tabs
  docs/machine-learning/tutorials/image-classification.md
Labels: :books: Area - ML.NET Guide

#11699 ML.NET Add new transforms and update existing ones
  docs/machine-learning/resources/transforms.md
Labels: :books: Area - ML.NET Guide, doc-update

#11838 Update LoadAndCompleteInstance method
  docs/framework/windows-workflow-foundation/pausing-and-resuming-a-workflow.md
Labels: :sparkles: 1st-time docs contributor!

#11820 Fix references to trainers
  docs/machine-learning/resources/tasks.md
Labels: :books: Area - ML.NET Guide

#11828 escape the *
  docs/machine-learning/tutorials/movie-recommmendation.md
Labels: :books: Area - ML.NET Guide

#11809 Should it be implied that for DispIds, compile-time caching could be bad (not run-time caching)?
  docs/framework/interop/com-callable-wrapper.md
Labels: :sparkles: 1st-time docs contributor!

#11544 Adding more values to messageVersion
  docs/framework/configure-apps/file-schema/wcf/textmessageencoding.md
Labels: :card_file_box: Technology - WCF, :sparkles: 1st-time docs contributor!

#10410 Document the `SymbolPackageFormat` property
  docs/core/tools/csproj.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#11700 Methods are described in a wrong way
  docs/framework/wpf/advanced/attached-events-overview.md
Labels: :sparkles: 1st-time docs contributor!

#11846 enable preview TOC
  docfx.json
Labels: :bookmark_tabs: Information Architecture

#11852 add reference links to tour page
  docs/csharp/tour-of-csharp/types-and-variables.md
Labels: :sparkles: 1st-time docs contributor!

#11863 Fix line breaks in VB Guide
  docs/visual-basic/index.md
Labels: verify-build-before-merge

#11815 Add mnemonic device to C# ?: operator docs
  docs/csharp/language-reference/operators/conditional-operator.md
Labels: :sparkles: 1st-time docs contributor!

#11865 Remove extra space in command line example in dotnet-pack.md
  docs/core/tools/dotnet-pack.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#11853 Azure PowerShell migration
  docs/standard/microservices-architecture/secure-net-microservices-web-applications/azure-key-vault-protects-secrets.md
Labels: :book: guide - .NET Microservices, doc-update

#11855 ML.NET: New landing page & TOC
  docs/machine-learning/basic-concepts-model-training-in-mldotnet.MD
  docs/machine-learning/index.md
  docs/machine-learning/index.yml
  docs/machine-learning/resources/index.md
  docs/machine-learning/toc.yml
  docs/machine-learning/tutorials/index.md
  docs/toc.yml
  docs/welcome.md
Labels: :books: Area - ML.NET Guide

#11631 Updates for 4.8 release - updateeachrelease topics Part 1
  api/index.md
  docs/framework/configure-apps/file-schema/startup/supportedruntime-element.md
  docs/framework/get-started/index.md
  docs/framework/index.md
  docs/framework/migration-guide/version-compatibility.md
  docs/framework/whats-new/whats-obsolete.md
  docs/standard/clr.md
  docs/standard/frameworks.md
  includes/preprocessor-symbols.md
  index.md
Labels: :checkered_flag: Release: .NET Framework 4.8

#11747 Updated AppContext switches article
  docs/framework/configure-apps/file-schema/runtime/appcontextswitchoverrides-element.md
  docs/framework/configure-apps/file-schema/runtime/crst-disablespinwait-element.md
  docs/framework/configure-apps/file-schema/runtime/toc.yml
Labels: :checkered_flag: Release: .NET Framework 4.8

#11776 What's New in .NET Framework 4.8
  docs/framework/whats-new/index.md
Labels: :checkered_flag: Release: .NET Framework 4.8

#11729 Revised developer installation-related topics for .NET Framework 4.8
  docs/framework/deployment/deployment-guide-for-developers.md
  docs/framework/get-started/system-requirements.md
  docs/framework/install/guide-for-developers.md
  docs/framework/install/troubleshoot-blocked-installations-and-uninstallations.md
  includes/net-current-version.md
Labels: :checkered_flag: Release: .NET Framework 4.8

#11613 Created Load Data ML.NET combined How-To
  .openpublishing.redirection.json
  docs/machine-learning/how-to-guides/load-data-from-mult-column-csv-ml-net.md
  docs/machine-learning/how-to-guides/load-data-from-multiple-files-ml-net.md
  docs/machine-learning/how-to-guides/load-data-from-text-file-ml-net.md
  docs/machine-learning/how-to-guides/load-data-ml-net.md
  docs/machine-learning/how-to-guides/load-non-file-training-data-ml-net.md
Labels: :books: Area - ML.NET Guide, doc-update

#11669 Migration guide updates for .NET Framework 4.8
  docs/framework/migration-guide/how-to-determine-which-versions-are-installed.md
  docs/framework/migration-guide/index.md
  docs/framework/migration-guide/minimum-release-dword.md
  docs/framework/migration-guide/versions-and-dependencies.md
Labels: :checkered_flag: Release: .NET Framework 4.8

#11795 Documented what's new in accessibility for .NET Framework 4.8
  docs/framework/whats-new/media/selectiontextbrush-property.png
  docs/framework/whats-new/media/tooltip.png
  docs/framework/whats-new/whats-new-in-accessibility.md
Labels: :checkered_flag: Release: .NET Framework 4.8

#11869 Updated user installation articles for .NET Framework 4.8
  docs/framework/install/on-windows-10.md
  docs/framework/install/on-windows-7.md
  docs/framework/install/on-windows-8-1.md
  docs/framework/install/on-windows-8.md
  docs/framework/install/on-windows-vista.md
  docs/framework/install/on-windows-xp.md
Labels: :checkered_flag: Release: .NET Framework 4.8

#11921 Fixed bad link to .NET Framework 4.8 download
  docs/framework/install/on-windows-10.md
Labels: :checkered_flag: Release: .NET Framework 4.8

#11816 Update SentimentAnalysis tutorial to 1.0-preview
  docs/machine-learning/tutorials/media/sentiment-analysis/classification.png
  docs/machine-learning/tutorials/sentiment-analysis.md
Labels: :books: Area - ML.NET Guide

#11925 Addressed miscellaneous issues in .NET Framework 4.8 docs
  docs/framework/get-started/system-requirements.md
  docs/framework/install/troubleshoot-blocked-installations-and-uninstallations.md
  docs/framework/migration-guide/versions-and-dependencies.md
Labels: :checkered_flag: Release: .NET Framework 4.8

#11927 Added migration choices, added link text.
  docs/framework/whats-new/index.md
  includes/migration-guide/retargeting/versionselector.md
  includes/migration-guide/runtime/versionselector.md
Labels: :checkered_flag: Release: .NET Framework 4.7.2

#11920 Clarified meaning of 'e' variable
  docs/framework/winforms/advanced/how-to-apply-gamma-correction-to-a-gradient.md
  docs/framework/winforms/advanced/how-to-create-a-linear-gradient.md
  docs/framework/winforms/advanced/how-to-create-a-path-gradient.md
Labels: :construction: Hold for related PR

#11935 Fixed FWLinks for 4.8 devpack and offline installer
  docs/framework/deployment/deployment-guide-for-developers.md
  docs/framework/install/guide-for-developers.md
  docs/framework/install/troubleshoot-blocked-installations-and-uninstallations.md
  docs/framework/whats-new/index.md
Labels: :checkered_flag: Release: .NET Framework 4.8

#11930 Addressed review comments in What's New in Accessibility
  docs/framework/whats-new/whats-new-in-accessibility.md
Labels: :checkered_flag: Release: .NET Framework 4.8

#11938 Updated TOC for Load Data
  docs/machine-learning/toc.yml
Labels: :books: Area - ML.NET Guide, doc-update

#11941 Updated Load Data TOC Location
  docs/machine-learning/toc.yml
Labels: :books: Area - ML.NET Guide

#11940 Updated link to offline installer and language pack links
  docs/framework/deployment/deployment-guide-for-developers.md
Labels: :checkered_flag: Release: .NET Framework 4.8

#11954 Updated Load Data Redirect
  .openpublishing.redirection.json
Labels: :books: Area - ML.NET Guide, doc-update

#11962 updated about version 2.x
  docs/standard/serverless-architecture/azure-functions.md
Labels: :sparkles: 1st-time docs contributor!

#11955 Extended SentimentPrediction for easier display
  docs/machine-learning/tutorials/sentiment-analysis.md
Labels: :books: Area - ML.NET Guide, doc-enhancement

#11992 remove monikers
  .openpublishing.publish.config.json
Labels: :bookmark_tabs: Information Architecture

#11973 Update service-trace-viewer-tool-svctraceviewer-exe.md
  docs/framework/wcf/service-trace-viewer-tool-svctraceviewer-exe.md
Labels: :card_file_box: Technology - WCF

#9395 review CLI commands for 2.2 and 3.0 Preview 4 + style changes - Part 2
  docs/core/tools/dotnet-add-package.md
  docs/core/tools/dotnet-add-reference.md
  docs/core/tools/dotnet-build-server.md
  docs/core/tools/dotnet-build.md
  docs/core/tools/dotnet-clean.md
  includes/topic-appliesto-net-core-21plus.md
Labels: :card_file_box: Technology - CLI, doc-update

#11758 refresh "Walkthrough: My first WPF desktop application"
  docs/framework/wpf/getting-started/media/gettingstartedfigure0a.png
  docs/framework/wpf/getting-started/media/gettingstartedfigure0b.png
  docs/framework/wpf/getting-started/media/gettingstartedfigure0c.png
  docs/framework/wpf/getting-started/media/gettingstartedfigure1.png
  docs/framework/wpf/getting-started/media/gettingstartedfigure2.png
  docs/framework/wpf/getting-started/media/gettingstartedfigure3.png
  docs/framework/wpf/getting-started/media/gettingstartedfigure4.png
  docs/framework/wpf/getting-started/media/gettingstartedfigure5.png
  docs/framework/wpf/getting-started/media/properties-margin.png
  docs/framework/wpf/getting-started/media/properties-source.png
  docs/framework/wpf/getting-started/walkthrough-my-first-wpf-desktop-application.md
Labels: :construction: Hold for related PR

#12010 Update image classification tutorial to 1.0.0-preview
  docs/machine-learning/tutorials/image-classification.md
Labels: :books: Area - ML.NET Guide, doc-update

#12036 Update Movie Recommender Tutorial to v1.0.0-preview
  docs/machine-learning/tutorials/movie-recommmendation.md
Labels: :books: Area - ML.NET Guide, doc-update

#12049 Update main-return-values.md
  docs/csharp/programming-guide/main-and-command-args/main-return-values.md
Labels: :sparkles: 1st-time docs contributor!

#11871 Add How does ML.NET work?
  .openpublishing.redirection.json
  docfx.json
  docs/machine-learning/basic-concepts-model-training-in-mldotnet.MD
  docs/machine-learning/how-does-mldotnet-work.md
  docs/machine-learning/media/catalog-intellisense.png
  docs/machine-learning/media/linear-regression-model.png
  docs/machine-learning/media/linear-regression-model.svg
  docs/machine-learning/media/ml-net-dataview.png
  docs/machine-learning/media/mldotnet-annotated-workflow.png
  docs/machine-learning/media/text-classification-model.png
  docs/machine-learning/media/text-classification-model.svg
  docs/machine-learning/resources/glossary.md
  docs/machine-learning/toc.yml
  docs/machine-learning/tutorials/github-issue-classification.md
  docs/machine-learning/tutorials/image-classification.md
  docs/machine-learning/tutorials/movie-recommmendation.md
  docs/machine-learning/what-is-machine-learning.md
Labels: :books: Area - ML.NET Guide

#12035 Update Taxi Fare tutorial to v 1.0.0
  docs/machine-learning/tutorials/taxi-fare.md
Labels: :books: Area - ML.NET Guide, doc-update

#11627 Prepare Data How-To
  .openpublishing.redirection.json
  docs/machine-learning/how-to-guides/prepare-data-ml-net.md
  docs/machine-learning/toc.yml
Labels: :books: Area - ML.NET Guide, doc-update

#12063 adding preview verbiage back to Taxi Fare Prediction.
  docs/machine-learning/tutorials/taxi-fare.md
Labels: :books: Area - ML.NET Guide

#11771 Train a machine learning model how-to
  .openpublishing.redirection.json
  docs/machine-learning/how-to-guides/train-machine-learning-model-ml-net.md
  docs/machine-learning/how-to-guides/train-regression-model-ml-net.md
  docs/machine-learning/toc.yml
Labels: :books: Area - ML.NET Guide, doc-update

#12058 Add link to preview API + get started text
  docs/machine-learning/index.yml
  docs/machine-learning/toc.yml
Labels: :books: Area - ML.NET Guide

#12064 added mldotnet titleSuffix to docfx file
  docfx.json
  docs/machine-learning/how-to-guides/consuming-model-ml-net.md
  docs/machine-learning/how-to-guides/determine-global-feature-importance-in-model.md
  docs/machine-learning/how-to-guides/index.md
  docs/machine-learning/how-to-guides/load-data-ml-net.md
  docs/machine-learning/how-to-guides/normalizers-preprocess-data-ml-net.md
  docs/machine-learning/how-to-guides/serve-model-web-api-ml-net.md
  docs/machine-learning/how-to-guides/single-predict-model-ml-net.md
  docs/machine-learning/how-to-guides/train-cross-validation-ml-net.md
  docs/machine-learning/how-to-guides/train-machine-learning-model-ml-net.md
  docs/machine-learning/how-to-guides/train-model-categorical-ml-net.md
  docs/machine-learning/how-to-guides/train-model-textual-ml-net.md
  docs/machine-learning/how-to-guides/use-gams-for-model-explainability.md
  docs/machine-learning/how-to-guides/verify-model-quality-ml-net.md
  docs/machine-learning/resources/glossary.md
  docs/machine-learning/resources/index.md
  docs/machine-learning/resources/tasks.md
  docs/machine-learning/resources/transforms.md
  docs/machine-learning/tutorials/github-issue-classification.md
  docs/machine-learning/tutorials/image-classification.md
  docs/machine-learning/tutorials/index.md
  docs/machine-learning/tutorials/iris-clustering.md
  docs/machine-learning/tutorials/movie-recommmendation.md
  docs/machine-learning/tutorials/taxi-fare.md
Labels: signed-off

#4542 Updating date and other fixes to the distribution packaging topic
  docs/core/build/distribution-packaging.md
Labels: verify-build-before-merge

#12051 Temporary branch change
  .openpublishing.publish.config.json
Labels: :bookmark_tabs: Information Architecture, merge-on-hold-for-live-update, signed-off

#11993 Retrain ML Model How-To
  docs/machine-learning/how-to-guides/retrain-model-ml-net.md
  docs/machine-learning/toc.yml
Labels: :books: Area - ML.NET Guide, new-content, signed-off

#12100 Fix broken links in landing page
  docs/machine-learning/index.yml
Labels: :books: Area - ML.NET Guide, signed-off

#12095 Deprecated old load data articles
  docs/machine-learning/how-to-guides/normalizers-preprocess-data-ml-net.md
  docs/machine-learning/how-to-guides/train-model-categorical-ml-net.md
  docs/machine-learning/how-to-guides/train-model-textual-ml-net.md
Labels: :books: Area - ML.NET Guide

#12059 Update GitHub Issue Classification to v 1.0.0-preview
  docs/machine-learning/tutorials/github-issue-classification.md
Labels: :books: Area - ML.NET Guide, doc-update, signed-off

#12012 Serve Model Azure Functions How-To
  docs/machine-learning/how-to-guides/serve-model-serverless-azure-functions-ml-net.md
Labels: :books: Area - ML.NET Guide, doc-update, signed-off

#11813 Inspect intermediate data
  docs/machine-learning/how-to-guides/inspect-intermediate-data-ml-net.md
  docs/machine-learning/how-to-guides/media/inspect-intermediate-data-ml-net/data-debugger-preview-01.png
  docs/machine-learning/how-to-guides/media/inspect-intermediate-data-ml-net/data-debugger-preview-02.png
Labels: :books: Area - ML.NET Guide, doc-update, signed-off

#10492 Update nuget feed link
  docs/framework/get-started/the-net-framework-and-out-of-band-releases.md
  docs/framework/whats-new/index.md
Labels: verify-build-before-merge

#12114 fix ms.date format
  docs/standard/serverless-architecture/index.md
Labels: :bookmark_tabs: Information Architecture

#12047 Fix creating-a-long-running-workflow-service ex.
  docs/framework/wcf/feature-details/creating-a-long-running-workflow-service.md
Labels: :card_file_box: Technology - WF

#12126 Fix typo
  docs/csharp/getting-started/index.md
Labels: :sparkles: 1st-time docs contributor!
