Repository dotnet/docs, pull requests merged in 2019-11, with the labels that each got.

#15605 Add links to the C# 101 video series
  docs/csharp/index.md
  docs/csharp/tutorials/index.md
  docs/csharp/tutorials/intro-to-csharp/index.md
Labels: :books: Area - C# Guide

#15617 Delete dev_langs in consuming-library-with-visual-studio.md
  docs/core/tutorials/consuming-library-with-visual-studio.md
Labels: :books: Area - .NET Core Guide

#15616 Update structure marshaling guidance for .NET Core 3.0
  docs/standard/native-interop/customize-struct-marshaling.md
Labels: :books: Area - .NET Guide

#14383 US 1583733 Add missing language IDs - 33
  docs/framework/wcf/samples/membership-and-role-provider.md
  docs/framework/wcf/samples/message-inspectors.md
  docs/framework/wcf/samples/message-security-anonymous.md
  docs/framework/wcf/samples/message-security-certificate.md
  docs/framework/wcf/samples/message-security-over-message-queuing.md
  docs/framework/wcf/samples/message-security-sample.md
  docs/framework/wcf/samples/message-security-user-name.md
  docs/framework/wcf/samples/mtom-encoding.md
  docs/framework/wcf/samples/multiple-endpoints.md
  docs/framework/wcf/samples/namedpipe-activation.md
  docs/framework/wcf/samples/net-tcp-port-sharing-sample.md
  docs/framework/wcf/samples/one-time-setup-procedure-for-the-wcf-samples.md
  docs/framework/wcf/samples/operation-formatter-and-operation-selector.md
  docs/framework/wcf/samples/poison-message-handling-in-msmq-4-0.md
  docs/framework/wcf/samples/pooling.md
  docs/framework/wcf/samples/route-by-body.md
  docs/framework/wcf/samples/saml-token-provider.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF, vendor-project

#14384 US 1583733 Add missing language IDs - 34
  docs/framework/wcf/samples/sessions-and-queues.md
  docs/framework/wcf/samples/srmp.md
  docs/framework/wcf/samples/stand-alone-diagnostics-feed-sample.md
  docs/framework/wcf/samples/streaming-feeds-sample.md
  docs/framework/wcf/samples/strongly-typed-extensions-sample.md
  docs/framework/wcf/samples/supporting-tokens.md
  docs/framework/wcf/samples/token-authenticator.md
  docs/framework/wcf/samples/token-provider.md
  docs/framework/wcf/samples/transacted-msmq-binding.md
  docs/framework/wcf/samples/transport-custom-transactions-over-udp-sample.md
  docs/framework/wcf/samples/transport-wse-3-0-tcp-interoperability.md
  docs/framework/wcf/samples/trusted-facade-service.md
  docs/framework/wcf/samples/two-way-communication.md
  docs/framework/wcf/samples/typed-client.md
  docs/framework/wcf/samples/udp-activation.md
  docs/framework/wcf/samples/use-close-abort-release-wcf-client-resources.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF, vendor-project

#14387 US 1583733 Add missing language IDs - 35
  docs/framework/wcf/samples/user-name-password-validator.md
  docs/framework/wcf/samples/using-the-wcf-moniker-with-com-clients.md
  docs/framework/wcf/samples/volatile-queued-communication.md
  docs/framework/wcf/samples/weakly-typed-json-serialization-sample.md
  docs/framework/wcf/samples/webcontenttypemapper-sample.md
  docs/framework/wcf/samples/wmi-provider.md
  docs/framework/wcf/samples/ws-dual-http.md
  docs/framework/wcf/samples/ws-reliable-session.md
  docs/framework/wcf/samples/ws-transaction-flow.md
  docs/framework/wcf/samples/ws-transport-security.md
  docs/framework/wcf/samples/ws-transport-with-message-credential.md
  docs/framework/wcf/samples/wshttpbinding.md
  docs/framework/wcf/samples/wsstreamedhttpbinding.md
  docs/framework/wcf/service-versioning.md
  docs/framework/wcf/servicemodelreg-exe.md
  docs/framework/wcf/simplified-configuration.md
  docs/framework/wcf/synchronous-and-asynchronous-operations.md
  docs/framework/wcf/using-the-wcf-development-tools.md
  docs/framework/wcf/wcf-client-overview.md
  docs/framework/wcf/wcf-service-host-wcfsvchost-exe.md
  docs/framework/wcf/workflow-service-registration-tool-wfservicesreg-exe.md
  docs/framework/wcf/ws-atomictransaction-configuration-utility-wsatconfig-exe.md
  docs/framework/whats-new/index.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF, vendor-project

#15558 Fix branding to Cosmos DB
  docs/architecture/modern-web-apps-azure/architectural-principles.md
  docs/architecture/modern-web-apps-azure/azure-hosting-recommendations-for-asp-net-web-apps.md
  docs/architecture/modern-web-apps-azure/media/image8-2.png
  docs/architecture/modern-web-apps-azure/work-with-data-in-asp-net-core-apps.md
Labels: :book: guide - ASP.NET Core web apps, :books: Area - .NET Architecture Guide, changes-addressed

#15263 Add missing asterik + add "or later" to vs 2017
  docs/core/tutorials/with-visual-studio.md
Labels: :books: Area - .NET Core Guide

#15625 Fix XML code snippets
  docs/framework/windows-workflow-foundation/configuring-tracking-for-a-workflow.md
  docs/framework/windows-workflow-foundation/how-to-enable-persistence-for-workflows-and-workflow-services.md
  docs/framework/windows-workflow-foundation/how-to-enable-sql-persistence-for-workflows-and-workflow-services.md
  docs/standard/serialization/controlling-xml-serialization-using-attributes.md
  docs/standard/serialization/datetimeserialization-element.md
  docs/standard/serialization/examples-of-xml-serialization.md
  docs/standard/serialization/xml-serialization-with-xml-web-services.md
Labels: :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :card_file_box: Technology - WF

#15618 chore: cleanup docs/spark
  docs/spark/tutorials/amazon-emr-spark-deployment.md
  docs/spark/tutorials/databricks-deployment.md
  docs/spark/tutorials/hdinsight-deployment.md
  docs/spark/what-is-apache-spark-dotnet.md
  docs/spark/what-is-spark.md
Labels: :books: Area - .NET for Apache Spark Guide

#15635 Replace XAML Browser Application (WPF) tokens
  docs/framework/wpf/app-development/configure-vs-to-debug-a-xaml-browser-to-call-a-web-service.md
  includes/tlasharptla-wpfbrowserappproj-md.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#15634 Replace Word tokens
  docs/framework/ui-automation/implementing-the-ui-automation-invoke-control-pattern.md
  docs/framework/ui-automation/implementing-the-ui-automation-multipleview-control-pattern.md
  docs/framework/ui-automation/implementing-the-ui-automation-selection-control-pattern.md
  docs/framework/ui-automation/implementing-the-ui-automation-value-control-pattern.md
  docs/framework/ui-automation/ui-automation-control-patterns-for-clients.md
  docs/framework/ui-automation/ui-automation-control-patterns-overview.md
  docs/framework/wpf/advanced/threading-model.md
  includes/tlasharptla-word-md.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#15266 Fix bold words in table and use italic for file names
  docs/framework/resources/creating-satellite-assemblies-for-desktop-apps.md
Labels: :books: Area - .NET Framework Guide

#15600 Fix historical version info
  docs/csharp/programming-guide/classes-and-structs/object-and-collection-initializers.md
Labels: :books: Area - C# Guide, :sparkles: 1st-time docs contributor!

#15603 Use - instead of / for compiler options
  docs/csharp/language-reference/compiler-options/deterministic-compiler-option.md
Labels: :books: Area - C# Guide

#15604 Make items under `In this section` as bullet list
  docs/csharp/language-reference/compiler-options/index.md
Labels: :books: Area - C# Guide

#15612 Add contextual understanding for logging delegates example
  docs/csharp/delegates-patterns.md
Labels: :books: Area - C# Guide, :construction: Hold for related PR

#15627 Remove extra backticks and fix language identifier
  docs/csharp/programming-guide/classes-and-structs/local-functions.md
Labels: :books: Area - C# Guide

#15630 Typo: sturct => struct
  docs/csharp/language-reference/keywords/readonly.md
Labels: :books: Area - C# Guide

#15650 Swap a Decrypt for an Encrypt
  docs/standard/security/how-to-encrypt-xml-elements-with-symmetric-keys.md
Labels: :books: Area - .NET Guide, :card_file_box: Technology - Security

#15647 Update author of VS winforms topics
  docs/framework/winforms/advanced/how-to-copy-and-paste-an-elementhost-control-at-design-time.md
  docs/framework/winforms/advanced/using-wpf-controls.md
  docs/framework/winforms/advanced/walkthrough-arranging-wpf-content-on-windows-forms-at-design-time.md
  docs/framework/winforms/advanced/walkthrough-assigning-wpf-content-on-windows-forms-at-design-time.md
  docs/framework/winforms/advanced/walkthrough-creating-new-wpf-content-on-windows-forms-at-design-time.md
  docs/framework/winforms/advanced/walkthrough-styling-wpf-content.md
  docs/framework/winforms/controls/creating-a-wf-control-design-time-features.md
  docs/framework/winforms/controls/design-time-errors-in-the-windows-forms-designer.md
  docs/framework/winforms/controls/developing-windows-forms-controls-at-design-time.md
  docs/framework/winforms/controls/how-to-align-multiple-controls-on-windows-forms.md
  docs/framework/winforms/controls/how-to-anchor-controls-on-windows-forms.md
  docs/framework/winforms/controls/how-to-author-composite-controls.md
  docs/framework/winforms/controls/how-to-author-controls-for-windows-forms.md
  docs/framework/winforms/controls/how-to-display-a-control-in-the-choose-toolbox-items-dialog-box.md
  docs/framework/winforms/controls/how-to-dock-controls-on-windows-forms.md
  docs/framework/winforms/controls/how-to-inherit-from-existing-windows-forms-controls.md
  docs/framework/winforms/controls/how-to-inherit-from-the-control-class.md
  docs/framework/winforms/controls/how-to-inherit-from-the-usercontrol-class.md
  docs/framework/winforms/controls/how-to-layer-objects-on-windows-forms.md
  docs/framework/winforms/controls/how-to-lock-controls-to-windows-forms.md
  docs/framework/winforms/controls/how-to-position-controls-on-windows-forms.md
  docs/framework/winforms/controls/how-to-provide-a-toolbox-bitmap-for-a-control.md
  docs/framework/winforms/controls/how-to-reassign-existing-controls-to-a-different-parent.md
  docs/framework/winforms/controls/how-to-resize-controls-on-windows-forms.md
  docs/framework/winforms/controls/how-to-set-grid-options-for-all-windows-forms.md
  docs/framework/winforms/controls/how-to-set-the-tab-order-on-windows-forms.md
  docs/framework/winforms/controls/how-to-test-the-run-time-behavior-of-a-usercontrol.md
  docs/framework/winforms/controls/performing-common-tasks-using-smart-tags-on-wf-controls.md
  docs/framework/winforms/controls/serializing-collections-designerserializationvisibilityattribute.md
  docs/framework/winforms/controls/troubleshooting-control-and-component-authoring.md
  docs/framework/winforms/controls/walkthrough-arranging-controls-on-windows-forms-using-snaplines.md
  docs/framework/winforms/controls/walkthrough-authoring-a-composite-control-with-visual-csharp.md
  docs/framework/winforms/controls/walkthrough-debugging-custom-windows-forms-controls-at-design-time.md
  docs/framework/winforms/controls/walkthrough-inheriting-from-a-windows-forms-control-with-visual-csharp.md
  docs/framework/winforms/controls/windows-forms-controls-padding-autosize.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WinForms

#15645 Update links in various framework/wpf/ subfolders
  docs/framework/wpf/app-development/deploying-a-wpf-application-wpf.md
  docs/framework/wpf/app-development/how-to-create-an-add-in-that-returns-a-ui.md
  docs/framework/wpf/app-development/how-to-use-an-application-scope-resource-dictionary.md
  docs/framework/wpf/app-development/navigation-overview.md
  docs/framework/wpf/app-development/pack-uris-in-wpf.md
  docs/framework/wpf/app-development/wpf-application-resource-content-and-data-files.md
  docs/framework/wpf/getting-started/index.md
  docs/framework/wpf/getting-started/introduction-to-wpf-in-vs.md
  docs/framework/wpf/getting-started/walkthrough-my-first-wpf-desktop-application.md
  docs/framework/wpf/graphics-multimedia/drawing-objects-overview.md
  docs/framework/wpf/graphics-multimedia/geometry-overview.md
  docs/framework/wpf/graphics-multimedia/how-to-animate-in-a-style.md
  docs/framework/wpf/graphics-multimedia/how-to-apply-a-drawing-to-a-3-d-model.md
  docs/framework/wpf/graphics-multimedia/transforms-overview.md
  docs/framework/wpf/graphics-multimedia/wpf-brushes-overview.md
  docs/framework/wpf/introduction-to-wpf.md
  docs/framework/wpf/security-wpf.md
  docs/framework/wpf/wpf-partial-trust-security.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#15642 Update links in framework/xaml-services folder
  docs/framework/xaml-services/index.md
  docs/framework/xaml-services/type-converters-for-xaml-overview.md
  docs/framework/xaml-services/whitespace-processing-in-xaml.md
  docs/framework/xaml-services/x-arguments-directive.md
  docs/framework/xaml-services/x-code-intrinsic-xaml-type.md
  docs/framework/xaml-services/x-key-directive.md
  docs/framework/xaml-services/x-name-directive.md
  docs/framework/xaml-services/x-null-markup-extension.md
  docs/framework/xaml-services/x-shared-attribute.md
  docs/framework/xaml-services/x-type-markup-extension.md
  docs/framework/xaml-services/x-xdata-intrinsic-xaml-type.md
  docs/framework/xaml-services/xaml-2009-language-features.md
  docs/framework/xaml-services/xamlname-grammar.md
  docs/framework/xaml-services/xml-character-entities-and-xaml.md
  docs/framework/xaml-services/xml-space-handling-in-xaml.md
Labels: :books: Area - .NET Framework Guide

#15639 Update links in framework/wpf/advanced folder
  docs/framework/wpf/advanced/attached-events-overview.md
  docs/framework/wpf/advanced/attached-properties-overview.md
  docs/framework/wpf/advanced/base-elements-overview.md
  docs/framework/wpf/advanced/base-elements.md
  docs/framework/wpf/advanced/binding-markup-extension.md
  docs/framework/wpf/advanced/code-behind-and-xaml-in-wpf.md
  docs/framework/wpf/advanced/collection-type-dependency-properties.md
  docs/framework/wpf/advanced/componentresourcekey-markup-extension.md
  docs/framework/wpf/advanced/custom-dependency-properties.md
  docs/framework/wpf/advanced/datetime-xaml-syntax.md
  docs/framework/wpf/advanced/dependency-properties-overview.md
  docs/framework/wpf/advanced/dependency-property-value-precedence.md
  docs/framework/wpf/advanced/dynamicresource-markup-extension.md
  docs/framework/wpf/advanced/element-tree-and-serialization.md
  docs/framework/wpf/advanced/events-wpf.md
  docs/framework/wpf/advanced/framework-property-metadata.md
  docs/framework/wpf/advanced/freezable-objects-overview.md
  docs/framework/wpf/advanced/globalization-for-wpf.md
  docs/framework/wpf/advanced/how-to-add-an-event-handler-using-code.md
  docs/framework/wpf/advanced/how-to-apply-a-focusvisualstyle-to-a-control.md
  docs/framework/wpf/advanced/how-to-create-a-rollover-effect-using-events.md
  docs/framework/wpf/advanced/how-to-define-and-reference-a-resource.md
  docs/framework/wpf/advanced/how-to-implement-icommandsource.md
  docs/framework/wpf/advanced/how-to-make-a-freezable-read-only.md
  docs/framework/wpf/advanced/how-to-use-application-resources.md
  docs/framework/wpf/advanced/how-to-use-systemfonts.md
  docs/framework/wpf/advanced/initialization-for-object-elements-not-in-an-object-tree.md
  docs/framework/wpf/advanced/inline-styles-and-templates.md
  docs/framework/wpf/advanced/markup-extensions-and-wpf-xaml.md
  docs/framework/wpf/advanced/mc-ignorable-attribute.md
  docs/framework/wpf/advanced/mc-processcontent-attribute.md
  docs/framework/wpf/advanced/merged-resource-dictionaries.md
  docs/framework/wpf/advanced/object-lifetime-events.md
  docs/framework/wpf/advanced/optimizing-performance-application-resources.md
  docs/framework/wpf/advanced/optimizing-performance-controls.md
  docs/framework/wpf/advanced/optimizing-performance-data-binding.md
  docs/framework/wpf/advanced/optimizing-wpf-application-performance.md
  docs/framework/wpf/advanced/property-change-events.md
  docs/framework/wpf/advanced/propertypath-xaml-syntax.md
  docs/framework/wpf/advanced/read-only-dependency-properties.md
  docs/framework/wpf/advanced/relativesource-markupextension.md
  docs/framework/wpf/advanced/resources-and-code.md
  docs/framework/wpf/advanced/resources-how-to-topics.md
  docs/framework/wpf/advanced/resources-wpf.md
  docs/framework/wpf/advanced/routed-events-overview.md
  docs/framework/wpf/advanced/staticresource-markup-extension.md
  docs/framework/wpf/advanced/styling-for-focus-in-controls-and-focusvisualstyle.md
  docs/framework/wpf/advanced/templatebinding-markup-extension.md
  docs/framework/wpf/advanced/themedictionary-markup-extension.md
  docs/framework/wpf/advanced/trees-in-wpf.md
  docs/framework/wpf/advanced/typeconverters-and-xaml.md
  docs/framework/wpf/advanced/visual-basic-and-wpf-event-handling.md
  docs/framework/wpf/advanced/walkthrough-hosting-a-wpf-composite-control-in-windows-forms.md
  docs/framework/wpf/advanced/weak-event-patterns.md
  docs/framework/wpf/advanced/wpf-architecture.md
  docs/framework/wpf/advanced/xaml-and-custom-classes-for-wpf.md
  docs/framework/wpf/advanced/xaml-in-wpf.md
  docs/framework/wpf/advanced/xaml-loading-and-dependency-properties.md
  docs/framework/wpf/advanced/xaml-namespaces-and-namespace-mapping-for-wpf-xaml.md
  docs/framework/wpf/advanced/xaml-syntax-in-detail.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#15638 Update links in framework/wpf/controls folder
  docs/framework/wpf/controls/button-styles-and-templates.md
  docs/framework/wpf/controls/calendar-styles-and-templates.md
  docs/framework/wpf/controls/calendar.md
  docs/framework/wpf/controls/checkbox-styles-and-templates.md
  docs/framework/wpf/controls/combobox-styles-and-templates.md
  docs/framework/wpf/controls/contextmenu-styles-and-templates.md
  docs/framework/wpf/controls/control-authoring-overview.md
  docs/framework/wpf/controls/control-customization.md
  docs/framework/wpf/controls/control-styles-and-templates.md
  docs/framework/wpf/controls/customizing-the-appearance-of-an-existing-control.md
  docs/framework/wpf/controls/datagrid-styles-and-templates.md
  docs/framework/wpf/controls/datagrid.md
  docs/framework/wpf/controls/datepicker-styles-and-templates.md
  docs/framework/wpf/controls/datepicker.md
  docs/framework/wpf/controls/documentviewer-styles-and-templates.md
  docs/framework/wpf/controls/expander-styles-and-templates.md
  docs/framework/wpf/controls/frame-styles-and-templates.md
  docs/framework/wpf/controls/groupbox-styles-and-templates.md
  docs/framework/wpf/controls/guidelines-for-designing-stylable-controls.md
  docs/framework/wpf/controls/how-to-bind-a-treeview-to-data-that-has-an-indeterminable-depth.md
  docs/framework/wpf/controls/how-to-change-the-horizontal-alignment-of-a-column-in-a-listview.md
  docs/framework/wpf/controls/how-to-find-controltemplate-generated-elements.md
  docs/framework/wpf/controls/how-to-group-sort-and-filter-data-in-the-datagrid-control.md
  docs/framework/wpf/controls/how-to-handle-the-mousedoubleclick-event-for-each-item-in-a-listview.md
  docs/framework/wpf/controls/how-to-implement-validation-with-the-datagrid-control.md
  docs/framework/wpf/controls/how-to-set-the-text-content-of-a-textbox-control.md
  docs/framework/wpf/controls/how-to-style-a-row-in-a-listview-that-implements-a-gridview.md
  docs/framework/wpf/controls/how-to-style-controls-on-a-toolbar.md
  docs/framework/wpf/controls/index.md
  docs/framework/wpf/controls/label-styles-and-templates.md
  docs/framework/wpf/controls/listbox-styles-and-templates.md
  docs/framework/wpf/controls/listview-styles-and-templates.md
  docs/framework/wpf/controls/listview.md
  docs/framework/wpf/controls/menu-styles-and-templates.md
  docs/framework/wpf/controls/navigationwindow-styles-and-templates.md
  docs/framework/wpf/controls/passwordbox-styles-and-templates.md
  docs/framework/wpf/controls/progressbar-styles-and-templates.md
  docs/framework/wpf/controls/radiobutton-styles-and-templates.md
  docs/framework/wpf/controls/repeatbutton-styles-and-templates.md
  docs/framework/wpf/controls/scrollbar-styles-and-templates.md
  docs/framework/wpf/controls/scrollviewer-overview.md
  docs/framework/wpf/controls/scrollviewer-styles-and-templates.md
  docs/framework/wpf/controls/slider-styles-and-templates.md
  docs/framework/wpf/controls/statusbar-styles-and-templates.md
  docs/framework/wpf/controls/styles-and-templates.md
  docs/framework/wpf/controls/tabcontrol-styles-and-templates.md
  docs/framework/wpf/controls/textbox-styles-and-templates.md
  docs/framework/wpf/controls/thumb-styles-and-templates.md
  docs/framework/wpf/controls/togglebutton-styles-and-templates.md
  docs/framework/wpf/controls/toolbar-styles-and-templates.md
  docs/framework/wpf/controls/tooltip-styles-and-templates.md
  docs/framework/wpf/controls/treeview-styles-and-templates.md
  docs/framework/wpf/controls/treeview.md
  docs/framework/wpf/controls/walkthrough-create-a-button-by-using-microsoft-expression-blend.md
  docs/framework/wpf/controls/walkthrough-create-a-button-by-using-xaml.md
  docs/framework/wpf/controls/walkthroughs-create-a-custom-animated-button.md
  docs/framework/wpf/controls/window-styles-and-templates.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#15637 Update links in framework/wpf/data folder
  docs/framework/wpf/data/binding-declarations-overview.md
  docs/framework/wpf/data/binding-sources-overview.md
  docs/framework/wpf/data/data-binding-how-to-topics.md
  docs/framework/wpf/data/data-templating-overview.md
  docs/framework/wpf/data/how-to-bind-the-properties-of-two-controls.md
  docs/framework/wpf/data/how-to-bind-to-a-collection-and-display-information-based-on-selection.md
  docs/framework/wpf/data/how-to-bind-to-a-web-service.md
  docs/framework/wpf/data/how-to-bind-to-an-ado-net-data-source.md
  docs/framework/wpf/data/how-to-bind-to-an-enumeration.md
  docs/framework/wpf/data/how-to-bind-to-the-results-of-a-linq-query.md
  docs/framework/wpf/data/how-to-bind-to-xml-data-using-an-xmldataprovider-and-xpath-queries.md
  docs/framework/wpf/data/how-to-clear-bindings.md
  docs/framework/wpf/data/how-to-convert-bound-data.md
  docs/framework/wpf/data/how-to-create-a-binding-in-code.md
  docs/framework/wpf/data/how-to-create-a-simple-binding.md
  docs/framework/wpf/data/how-to-create-and-bind-to-an-observablecollection.md
  docs/framework/wpf/data/how-to-filter-data-in-a-view.md
  docs/framework/wpf/data/how-to-find-datatemplate-generated-elements.md
  docs/framework/wpf/data/how-to-get-the-default-view-of-a-data-collection.md
  docs/framework/wpf/data/how-to-implement-a-compositecollection.md
  docs/framework/wpf/data/how-to-implement-binding-validation.md
  docs/framework/wpf/data/how-to-implement-prioritybinding.md
  docs/framework/wpf/data/how-to-implement-property-change-notification.md
  docs/framework/wpf/data/how-to-make-data-available-for-binding-in-xaml.md
  docs/framework/wpf/data/how-to-navigate-through-the-objects-in-a-data-collectionview.md
  docs/framework/wpf/data/how-to-produce-a-value-based-on-a-list-of-bound-items.md
  docs/framework/wpf/data/how-to-set-up-notification-of-binding-updates.md
  docs/framework/wpf/data/how-to-sort-and-group-data-using-a-view-in-xaml.md
  docs/framework/wpf/data/how-to-sort-data-in-a-view.md
  docs/framework/wpf/data/how-to-specify-the-binding-source.md
  docs/framework/wpf/data/how-to-specify-the-direction-of-the-binding.md
  docs/framework/wpf/data/how-to-use-the-master-detail-pattern-with-hierarchical-data.md
  docs/framework/wpf/data/how-to-use-xml-namespaces-in-data-binding.md
  docs/framework/wpf/data/index.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#15640 Update links in framework/migration-guide folder
  docs/framework/migration-guide/index.md
  docs/framework/migration-guide/mitigation-custom-imessagefilter-prefiltermessage-implementations.md
  docs/framework/migration-guide/mitigation-deserialization-of-objects-across-app-domains.md
  docs/framework/migration-guide/mitigation-new-64-bit-jit-compiler.md
  docs/framework/migration-guide/mitigation-path-colon-checks.md
  docs/framework/migration-guide/mitigation-path-normalization.md
  docs/framework/migration-guide/mitigation-png-frames-in-icon-objects.md
  docs/framework/migration-guide/mitigation-pointer-based-touch-and-stylus-support.md
  docs/framework/migration-guide/mitigation-pool-blocking-period.md
  docs/framework/migration-guide/mitigation-product-versioning.md
  docs/framework/migration-guide/mitigation-serialization-control-characters.md
  docs/framework/migration-guide/mitigation-tls-protocols.md
  docs/framework/migration-guide/mitigation-wcf-services-and-certificate-authentication.md
  docs/framework/migration-guide/mitigation-wpf-layout.md
  docs/framework/migration-guide/mitigation-wpf-window-rendering.md
  docs/framework/migration-guide/mitigation-x509certificateclaimset-findclaims-method.md
  docs/framework/migration-guide/mitigation-xml-schema-validation.md
  docs/framework/migration-guide/mitigation-ziparchiveentry-fullname-path-separator.md
  docs/framework/migration-guide/version-compatibility.md
  docs/framework/migration-guide/versions-and-dependencies.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - AppCompat

#15608 Update `dotnet run` Documentation
  docs/core/tools/dotnet-run.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#15646 Update links in sundry folders
  docs/framework/develop-client-apps.md
  docs/framework/interop/index.md
  docs/framework/net-native/migrating-your-windows-store-app-to-net-native.md
  docs/framework/network-programming/handling-errors.md
  docs/framework/performance/writing-large-responsive-apps.md
  docs/framework/whats-new/index.md
  docs/framework/whats-new/whats-new-in-accessibility.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - NCL

#15615 More http --> https updates
  docs/architecture/microservices/architect-microservice-container-applications/asynchronous-message-based-communication.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/microservice-application-layer-implementation-web-api.md
  docs/framework/deployment/deployment-guide-for-developers.md
  docs/framework/wcf/feature-details/security-protocols-version-1-0.md
  docs/framework/wcf/feature-details/transaction-protocols-version-1-0.md
  docs/machine-learning/resources/metrics.md
  docs/machine-learning/tutorials/predict-prices-with-model-builder.md
  docs/machine-learning/tutorials/predict-prices.md
  docs/spark/what-is-apache-spark-dotnet.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide, :books: Area - .NET Core Guide, :books: Area - .NET Framework Guide, :books: Area - .NET for Apache Spark Guide, :books: Area - ML.NET Guide, :card_file_box: Technology - WCF

#15621 remove i.e.
  docs/spark/what-is-apache-spark-dotnet.md
Labels: :books: Area - .NET for Apache Spark Guide, verify-build-before-merge

#15613 avoid scrollbars on the syntax block
  docs/core/tools/dotnet-build.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI, verify-build-before-merge

#14581 Update selection.md
  docs/core/versions/selection.md
Labels: :books: Area - .NET Core Guide, verify-build-before-merge

#15667 Add xml missing identifier and use italics for file names
  docs/core/tutorials/using-with-xplat-cli.md
Labels: :books: Area - .NET Core Guide

#15666 Replace Microsoft Excel tokens
  docs/framework/ui-automation/implementing-the-ui-automation-invoke-control-pattern.md
  docs/framework/ui-automation/implementing-the-ui-automation-multipleview-control-pattern.md
  docs/framework/ui-automation/implementing-the-ui-automation-table-control-pattern.md
  docs/framework/ui-automation/textpattern-and-embedded-objects-overview.md
  docs/framework/ui-automation/ui-automation-control-patterns-for-clients.md
  docs/framework/ui-automation/ui-automation-control-patterns-overview.md
  docs/framework/wpf/advanced/bidirectional-features-in-wpf-overview.md
  docs/framework/wpf/advanced/how-to-localize-an-application.md
  includes/tlasharptla-xl-md.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#15665 Replace WYSIWYG tokens
  docs/framework/wpf/advanced/documents-in-wpf.md
  docs/framework/wpf/advanced/printing-overview.md
  includes/tla2sharptla-wys-md.md
  includes/tlasharptla-wys-md.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#15669 Add System.EnterpriseServices in article intro
  docs/core/porting/net-framework-tech-unavailable.md
Labels: :books: Area - .NET Core Guide

#15661 Fix punctuation and a header casing
  docs/csharp/tutorials/intro-to-csharp/introduction-to-classes.md
Labels: :books: Area - C# Guide

#15659 enhance cmd formatting
  docs/csharp/tutorials/intro-to-csharp/branches-and-loops-local.md
  docs/csharp/tutorials/intro-to-csharp/numbers-in-csharp-local.md
Labels: :books: Area - C# Guide

#15673 Increase SEO for nullable article
  docs/csharp/nullable-attributes.md
Labels: :books: Area - C# Guide

#15655 Mention C# 8 static local functions in local-functions.md
  docs/csharp/programming-guide/classes-and-structs/local-functions.md
Labels: :books: Area - C# Guide

#15671 Replace Extensible Metadata Platform (XMP) tokens
  docs/framework/wpf/graphics-multimedia/imaging-overview.md
  includes/tlasharptla-xmp-md.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#15680 Replace Windows SDK tokens
  docs/framework/wpf/advanced/sample-opentype-font-pack.md
  docs/framework/wpf/app-development/building-a-wpf-application-wpf.md
  includes/tla2sharptla-wcsdk-md.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#15672 Replace XML tokens
  docs/framework/wpf/advanced/bidirectional-features-in-wpf-overview.md
  docs/framework/wpf/advanced/code-behind-and-xaml-in-wpf.md
  docs/framework/wpf/advanced/globalization-for-wpf.md
  docs/framework/wpf/advanced/how-to-use-special-characters-in-xaml.md
  docs/framework/wpf/advanced/mc-ignorable-attribute.md
  docs/framework/wpf/advanced/optimizing-performance-data-binding.md
  docs/framework/wpf/advanced/printing-overview.md
  docs/framework/wpf/advanced/propertypath-xaml-syntax.md
  docs/framework/wpf/advanced/serialization-limitations-of-xamlwriter-save.md
  docs/framework/wpf/advanced/typography-in-wpf.md
  docs/framework/wpf/advanced/wpf-globalization-and-localization-overview.md
  docs/framework/wpf/advanced/xaml-syntax-in-detail.md
  docs/framework/wpf/app-development/building-a-wpf-application-wpf.md
  docs/framework/wpf/app-development/navigation-overview.md
  docs/framework/wpf/app-development/wpf-windows-overview.md
  docs/framework/wpf/controls/how-to-style-a-row-in-a-listview-that-implements-a-gridview.md
  docs/framework/wpf/data/binding-sources-overview.md
  docs/framework/wpf/data/data-templating-overview.md
  docs/framework/wpf/data/how-to-bind-to-xml-data-using-an-xmldataprovider-and-xpath-queries.md
  docs/framework/wpf/data/how-to-find-datatemplate-generated-elements.md
  docs/framework/wpf/data/how-to-make-data-available-for-binding-in-xaml.md
  docs/framework/wpf/data/how-to-use-the-master-detail-pattern-with-hierarchical-data.md
  docs/framework/wpf/data/how-to-use-the-master-detail-pattern-with-hierarchical-xml-data.md
  docs/framework/wpf/data/how-to-use-xml-namespaces-in-data-binding.md
  docs/framework/xaml-services/understanding-xaml-node-stream-structures-and-concepts.md
  docs/framework/xaml-services/whitespace-processing-in-xaml.md
  docs/framework/xaml-services/xml-lang-handling-in-xaml.md
  includes/tla2sharptla-xml-md.md
  includes/tla2sharptla-xpath-md.md
  includes/tlasharptla-xml-md.md
  includes/tlasharptla-xmldom-md.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#15681 Replace xmlns tokens
  docs/framework/wpf/advanced/propertypath-xaml-syntax.md
  docs/framework/wpf/advanced/xaml-namespaces-and-namespace-mapping-for-wpf-xaml.md
  docs/framework/xaml-services/x-static-markup-extension.md
  includes/tlasharptla-wpfxmlnsv1-md.md
  includes/tlasharptla-xamlxmlnsv1-md.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#15652 Migration guide updates
  .openpublishing.redirection.json
  docs/framework/migration-guide/how-to-determine-which-net-framework-updates-are-installed.md
  docs/framework/migration-guide/how-to-determine-which-versions-are-installed.md
  docs/framework/migration-guide/migrating-from-the-net-framework-1-1.md
  docs/framework/migration-guide/minimum-release-dword.md
  docs/framework/migration-guide/net-framework-4-migration-issues.md
  docs/framework/migration-guide/toc.yml
  docs/framework/migration-guide/versions-and-dependencies.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - AppCompat

#15573 .NET Spark - Getting Started Doc
  docs/spark/tutorials/get-started.md
Labels: :books: Area - .NET for Apache Spark Guide

#14751 1581086 update image filenames part two 09 26
  docs/architecture/containerized-lifecycle/Microsoft-platform-tools-containerized-apps/index.md
  docs/architecture/containerized-lifecycle/Microsoft-platform-tools-containerized-apps/media/index/microsoft-tools-contanerized-docker-app.png
  docs/architecture/containerized-lifecycle/docker-devops-workflow/docker-application-outer-loop-devops-workflow.md
  docs/architecture/containerized-lifecycle/docker-devops-workflow/media/docker-application-outer-loop-devops-workflow/add-deploy-to-kubernetes-task.png
  docs/architecture/containerized-lifecycle/docker-devops-workflow/media/docker-application-outer-loop-devops-workflow/add-tasks-docker-compose.png
  docs/architecture/containerized-lifecycle/docker-devops-workflow/media/docker-application-outer-loop-devops-workflow/cd-deploy-to-orchestrators.png
  docs/architecture/containerized-lifecycle/docker-devops-workflow/media/docker-application-outer-loop-devops-workflow/configure-docker-compose-release.png
  docs/architecture/containerized-lifecycle/docker-devops-workflow/media/docker-application-outer-loop-devops-workflow/continuous-integration-steps.png
  docs/architecture/containerized-lifecycle/docker-devops-workflow/media/docker-application-outer-loop-devops-workflow/deploy-app-containers-to-docker-host-environments.png
  docs/architecture/containerized-lifecycle/docker-devops-workflow/media/docker-application-outer-loop-devops-workflow/docker-ci-pipeline-azure-devops.png
  docs/architecture/containerized-lifecycle/docker-devops-workflow/media/docker-application-outer-loop-devops-workflow/docker-push-custom-images.png
  docs/architecture/containerized-lifecycle/docker-devops-workflow/media/docker-application-outer-loop-devops-workflow/edit-deploy-to-kubernetes-task.png
  docs/architecture/containerized-lifecycle/docker-devops-workflow/media/docker-application-outer-loop-devops-workflow/overview-dev-ops-outter-loop-workflow.png
  docs/architecture/containerized-lifecycle/docker-devops-workflow/media/docker-application-outer-loop-devops-workflow/publish-custom-image-to-docker-registry.png
  docs/architecture/containerized-lifecycle/index.md
  docs/architecture/containerized-lifecycle/media/index/multiple-containers-single-host.png
  docs/architecture/containerized-lifecycle/media/what-is-docker/comparison-vms-docker-conatiners.png
  docs/architecture/containerized-lifecycle/media/what-is-docker/docker-containers-run-anywhere.png
  docs/architecture/containerized-lifecycle/what-is-docker.md
  docs/architecture/microservices/architect-microservice-container-applications/communication-in-microservice-architecture.md
  docs/architecture/microservices/architect-microservice-container-applications/containerize-monolithic-applications.md
  docs/architecture/microservices/architect-microservice-container-applications/media/communication-in-microservice-architecture/one-to-many-communication.png
  docs/architecture/microservices/architect-microservice-container-applications/media/communication-in-microservice-architecture/request-response-comms-live-queries-updates.png
  docs/architecture/microservices/architect-microservice-container-applications/media/communication-in-microservice-architecture/sync-vs-async-patterns-across-microservices.png
  docs/architecture/microservices/architect-microservice-container-applications/media/containerize-monolithic-applications/docker-infrastructure-monolithic-application.png
  docs/architecture/microservices/architect-microservice-container-applications/media/containerize-monolithic-applications/host-multiple-apps-containers.png
  docs/architecture/microservices/architect-microservice-container-applications/media/containerize-monolithic-applications/monolithic-containerized-application.png
  docs/architecture/microservices/architect-microservice-container-applications/media/containerize-monolithic-applications/publish-azure-app-service-container.png
Labels: :book: guide - .NET Microservices, :book: guide - Docker lifecycle, :books: Area - .NET Architecture Guide, vendor-project

#14967 1581086 update image filenames part two 09-30
  docs/architecture/microservices/container-docker-introduction/docker-containers-images-registries.md
  docs/architecture/microservices/container-docker-introduction/docker-defined.md
  docs/architecture/microservices/container-docker-introduction/index.md
  docs/architecture/microservices/container-docker-introduction/media/docker-containers-images-registries/taxonomy-of-docker-terms-and-concepts.png
  docs/architecture/microservices/container-docker-introduction/media/docker-defined/docker-container-hardware-software.png
  docs/architecture/microservices/container-docker-introduction/media/docker-defined/docker-containers-run-anywhere.png
  docs/architecture/microservices/container-docker-introduction/media/docker-defined/virtual-machine-hardware-software.png
  docs/architecture/microservices/container-docker-introduction/media/index/multiple-containers-single-host.png
  docs/architecture/microservices/docker-application-development-process/docker-app-development-workflow.md
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/add-container-orchestrator-support-option.png
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/add-docker-support-option.png
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/debug-toolbar-docker-compose-project.png
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/docker-compose-tree-node.PNG
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/dotnet-core-cross-platform-development.png
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/enable-docker-support-check-box.png
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/life-cycle-containerized-apps-docker-cli.png
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/results-docker-compose-up.png
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/run-docker-build-command.png
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/simplified-life-cycle-containerized-apps-docker-cli.png
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/step-1-code-your-app.png
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/step-2-write-dockerfile.png
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/step-3-create-dockerfile-defined-images.png
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/step-4-define-services-docker-compose-yml.png
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/step-5-run-containers-compose-app.png
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/step-6-test-app-microservices.png
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/test-docker-app-locally-curl.png
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/test-docker-app-locally-localhost.png
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/use-docker-run-command.png
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/view-existing-images-with-docker-images.png
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/vm-with-docker-containers-deployed.png
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide, vendor-project

#14970 1581086 update image filenames part two 10-04
  docs/architecture/microservices/implement-resilient-applications/handle-partial-failure.md
  docs/architecture/microservices/implement-resilient-applications/implement-circuit-breaker-pattern.md
  docs/architecture/microservices/implement-resilient-applications/media/handle-partial-failure/multiple-distributed-dependencies.png
  docs/architecture/microservices/implement-resilient-applications/media/handle-partial-failure/partial-failure-amplified-microservices.png
  docs/architecture/microservices/implement-resilient-applications/media/handle-partial-failure/partial-failures-diagram.png
  docs/architecture/microservices/implement-resilient-applications/media/implement-circuit-breaker-pattern/basket-service-inoperative.png
  docs/architecture/microservices/implement-resilient-applications/media/implement-circuit-breaker-pattern/failing-middleware-simulation.png
  docs/architecture/microservices/implement-resilient-applications/media/monitor-app-health/aspnet-core-diagnostics-health-checks.png
  docs/architecture/microservices/implement-resilient-applications/media/monitor-app-health/health-check-json-response.png
  docs/architecture/microservices/implement-resilient-applications/media/monitor-app-health/health-check-status-ui.png
  docs/architecture/microservices/implement-resilient-applications/media/use-httpclientfactory-to-implement-resilient-http-requests/client-application-code.png
  docs/architecture/microservices/implement-resilient-applications/monitor-app-health.md
  docs/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/cqrs-microservice-reads.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/ddd-oriented-microservice.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/cqrs-microservice-reads/drapper-package-nuget.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/cqrs-microservice-reads/ordering-api-queries-folder.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/cqrs-microservice-reads/simple-approach-cqrs-queries.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/cqrs-microservice-reads/swagger-ordering-http-api.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/ddd-oriented-microservice/ddd-service-layer-dependencies.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/ddd-oriented-microservice/domain-driven-design-microservice.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/ddd-oriented-microservice/ordering-domain-dependencies.png
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide, vendor-project

#15093 1581086 update image filenames part two 10 09
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/domain-events-design-implementation.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/implement-value-objects.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/index.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/infrastructure-persistence-layer-design.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/infrastructure-persistence-layer-implemenation-entity-framework-core.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/domain-events-design-implementation/aggregate-domain-event-handlers.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/domain-events-design-implementation/domain-event-dispatcher.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/domain-events-design-implementation/domain-model-ordering-microservice.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/implement-value-objects/value-object-within-aggregate.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/index/internal-versus-external-architecture.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/infrastructure-persistence-layer-design/repository-aggregate-database-table-relationships.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/infrastructure-persistence-layer-implemenation-entity-framework-core/custom-repo-versus-db-context.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/microservice-application-layer-implementation-web-api/add-ha-message-queue.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/microservice-application-layer-implementation-web-api/high-level-writes-side.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/microservice-application-layer-implementation-web-api/mediator-cqrs-microservice.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/microservice-application-layer-implementation-web-api/ordering-api-microservice.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/microservice-domain-model/buyer-order-aggregate-pattern.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/microservice-domain-model/domain-entity-pattern.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/net-core-microservice-domain-model/ordering-microservice-container.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/net-core-microservice-domain-model/vs-solution-explorer-order-aggregate.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/nosql-database-persistence-infrastructure/azure-cosmos-db-global-distribution.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/nosql-database-persistence-infrastructure/eshoponcontainers-mongodb-containers.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/nosql-database-persistence-infrastructure/mongodb-api-nuget-packages.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/nosql-database-persistence-infrastructure/mongodb-api-wire-protocol.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/seedwork-domain-model-base-classes-interfaces/vs-solution-seedwork-classes.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/microservice-application-layer-implementation-web-api.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/microservice-domain-model.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/net-core-microservice-domain-model.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/nosql-database-persistence-infrastructure.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/seedwork-domain-model-base-classes-interfaces.md
  docs/architecture/microservices/multi-container-microservice-net-applications/background-tasks-with-ihostedservice.md
  docs/architecture/microservices/multi-container-microservice-net-applications/media/background-tasks-with-ihostedservice/class-diagram-custom-ihostedservice.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/background-tasks-with-ihostedservice/ihosted-service-webhost-vs-host.png
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide, vendor-project

#15101 1581086 update image filenames part two 10-10
  docs/architecture/microservices/multi-container-microservice-net-applications/data-driven-crud-microservice.md
  docs/architecture/microservices/multi-container-microservice-net-applications/implement-api-gateways-with-ocelot.md
  docs/architecture/microservices/multi-container-microservice-net-applications/media/data-driven-crud-microservice/create-asp-net-core-web-api-project.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/data-driven-crud-microservice/internal-design-simple-crud-microservices.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/data-driven-crud-microservice/simple-crud-web-api-microservice-dependencies.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/data-driven-crud-microservice/simple-data-driven-crud-microservice.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/data-driven-crud-microservice/swagger-json-metadata.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/data-driven-crud-microservice/swagger-metadata-eshoponcontainers-catalog-microservice.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/data-driven-crud-microservice/swashbuckle-ui-testing.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/implement-api-gateways-with-ocelot/access-microservice-through-url.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/implement-api-gateways-with-ocelot/catalog-api-microservice-folders.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/implement-api-gateways-with-ocelot/direct-access-microservice-testing.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/implement-api-gateways-with-ocelot/eshoponcontainer-ingress-tier.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/implement-api-gateways-with-ocelot/eshoponcontainers-architecture-aggregator-services.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/implement-api-gateways-with-ocelot/eshoponcontainers-architecture.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/implement-api-gateways-with-ocelot/eshoponcontainers-identity-service-position.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/implement-api-gateways-with-ocelot/eshoponcontainers-microservice-folders.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/implement-api-gateways-with-ocelot/ocelot-authentication.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/implement-api-gateways-with-ocelot/ocelot-configuration-files.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/implement-api-gateways-with-ocelot/ocelotapigw-base-project.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/implement-api-gateways-with-ocelot/reusing-single-ocelot-docker-image.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/implement-api-gateways-with-ocelot/test-catalog-microservice.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/implement-api-gateways-with-ocelot/zoom-in-vision-aggregator-services.png
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide, vendor-project

#15115 1581086, update image filenames part two 10-11.
  docs/architecture/microservices/multi-container-microservice-net-applications/integration-event-based-microservice-communications.md
  docs/architecture/microservices/multi-container-microservice-net-applications/media/integration-event-based-microservice-communications/event-driven-communication.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/integration-event-based-microservice-communications/multiple-implementations-event-bus.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/integration-event-based-microservice-communications/publish-subscribe-basics.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/microservice-application-design/eshoponcontainers-reference-application-architecture.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/microservice-application-design/external-versus-internal-architecture.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/microservice-application-design/multi-architectural-patterns-polyglot-microservices.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/multi-container-applications-docker-compose/docker-compose-file-visual-studio.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/multi-container-applications-docker-compose/multiple-docker-compose-files-override-base.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/rabbitmq-event-bus-development-test-environment/rabbitmq-implementation.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/subscribe-events/atomicity-publish-event-bus.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/subscribe-events/atomicity-publish-worker-microservice.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/subscribe-events/display-item-price-change.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/test-aspnet-core-services-web-apps/eshoponcontainers-test-folder-structure.png
  docs/architecture/microservices/multi-container-microservice-net-applications/microservice-application-design.md
  docs/architecture/microservices/multi-container-microservice-net-applications/multi-container-applications-docker-compose.md
  docs/architecture/microservices/multi-container-microservice-net-applications/rabbitmq-event-bus-development-test-environment.md
  docs/architecture/microservices/multi-container-microservice-net-applications/subscribe-events.md
  docs/architecture/microservices/multi-container-microservice-net-applications/test-aspnet-core-services-web-apps.md
  docs/architecture/microservices/net-core-net-framework-containers/media/net-container-os-targets/targeting-operating-systems.png
  docs/architecture/microservices/net-core-net-framework-containers/net-container-os-targets.md
  docs/architecture/microservices/secure-net-microservices-web-applications/index.md
  docs/architecture/microservices/secure-net-microservices-web-applications/media/index/api-gateway-centralized-authentication.png
  docs/architecture/microservices/secure-net-microservices-web-applications/media/index/identity-microservice-authentication.png
  docs/architecture/microservices/secure-net-microservices-web-applications/media/index/select-external-authentication-option.png
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/build-resilient-services-ready-for-the-cloud-embrace-transient-failures-in-the-cloud.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/choosing-azure-compute-options-for-container-based-applications.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/media/build-resilient-services-ready-for-the-cloud-embrace-transient-failures-in-the-cloud/retry-partial-failures.png
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/media/choosing-azure-compute-options-for-container-based-applications/azure-hosting-scenarios-for-apps.png
Labels: :book: guide - .NET Microservices, :book: guide - Modernizing w/ Windows containers, :books: Area - .NET Architecture Guide, vendor-project

#15400 #15372 Avoid calling WASM a Javascript library
  docs/architecture/modern-web-apps-azure/choose-between-traditional-web-and-single-page-apps.md
Labels: :book: guide - ASP.NET Core web apps, :books: Area - .NET Architecture Guide

#15676 Consolidated the C# nullable value types articles
  .openpublishing.redirection.json
  docs/csharp/how-to/index.md
  docs/csharp/how-to/safely-cast-using-pattern-matching-is-and-as-operators.md
  docs/csharp/language-reference/builtin-types/nullable-value-types.md
  docs/csharp/language-reference/keywords/default-values-table.md
  docs/csharp/language-reference/keywords/null.md
  docs/csharp/language-reference/keywords/value-types.md
  docs/csharp/language-reference/operators/boolean-logical-operators.md
  docs/csharp/language-reference/operators/null-coalescing-operator.md
  docs/csharp/linq/handle-null-values-in-query-expressions.md
  docs/csharp/misc/cs0037.md
  docs/csharp/misc/cs0077.md
  docs/csharp/misc/cs0312.md
  docs/csharp/misc/cs0313.md
  docs/csharp/nullable-references.md
  docs/csharp/programming-guide/classes-and-structs/ref-returns.md
  docs/csharp/programming-guide/classes-and-structs/structs.md
  docs/csharp/programming-guide/generics/constraints-on-type-parameters.md
  docs/csharp/programming-guide/index.md
  docs/csharp/programming-guide/nullable-types/how-to-identify-a-nullable-type.md
  docs/csharp/programming-guide/nullable-types/index.md
  docs/csharp/programming-guide/nullable-types/using-nullable-types.md
  docs/csharp/programming-guide/types/index.md
  docs/csharp/structs.md
  docs/csharp/toc.yml
  docs/csharp/tour-of-csharp/types-and-variables.md
  docs/csharp/whats-new/csharp-version-history.md
  docs/framework/data/adonet/sql/handling-null-values.md
  docs/framework/data/adonet/sql/linq/how-to-use-stored-procedures-that-take-parameters.md
  docs/standard/generics/collections.md
  docs/visual-basic/programming-guide/language-features/data-types/nullable-value-types.md
Labels: :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :books: Area - C# Guide, :books: Area - Visual Basic Guide, :card_file_box: Technology - Data Access

#15697 Structs: remove a not-in-place section
  docs/csharp/structs.md
Labels: :books: Area - C# Guide

#15706 Replace WinEvents tokens
  docs/framework/ui-automation/ui-automation-overview.md
  includes/tla2sharptla-winevents-md.md
Labels: :books: Area - .NET Framework Guide

#15705 Replace OLE 2.0 tokens
  docs/framework/wpf/advanced/wpf-architecture.md
  includes/tla2sharptla-ole2-0-md.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#15686 Add ReadOnlySpan and adjust slice call in both
  docs/fsharp/language-reference/slices.md
Labels: :books: Area - F# Guide

#15668 update tab completion
  docs/core/tools/enable-tab-autocomplete.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI, doc-enhancement

#15643 Update links in framework/data folder
  docs/framework/data/adonet/association-end-multiplicity.md
  docs/framework/data/adonet/association-end.md
  docs/framework/data/adonet/association-set-end.md
  docs/framework/data/adonet/association-set.md
  docs/framework/data/adonet/association-type.md
  docs/framework/data/adonet/complex-type.md
  docs/framework/data/adonet/ef/edm-generator-edmgen-exe.md
  docs/framework/data/adonet/ef/language-reference/cast-entity-sql.md
  docs/framework/data/adonet/ef/language-reference/entity-sql-overview.md
  docs/framework/data/adonet/ef/language-reference/index.md
  docs/framework/data/adonet/ef/language-reference/queries-in-linq-to-entities.md
  docs/framework/data/adonet/ef/language-reference/type-system-entity-sql.md
  docs/framework/data/adonet/ef/overview.md
  docs/framework/data/adonet/ef/sqlclient-for-ef-types.md
  docs/framework/data/adonet/ef/terminology.md
  docs/framework/data/adonet/entity-container.md
  docs/framework/data/adonet/entity-data-model-inheritance.md
  docs/framework/data/adonet/entity-data-model-key-concepts.md
  docs/framework/data/adonet/entity-data-model-namespaces.md
  docs/framework/data/adonet/entity-data-model.md
  docs/framework/data/adonet/entity-key.md
  docs/framework/data/adonet/entity-set.md
  docs/framework/data/adonet/entity-type.md
  docs/framework/data/adonet/facet.md
  docs/framework/data/adonet/foreign-key-property.md
  docs/framework/data/adonet/model-defined-function.md
  docs/framework/data/adonet/navigation-property.md
  docs/framework/data/adonet/property.md
  docs/framework/data/adonet/queries-in-linq-to-dataset.md
  docs/framework/data/adonet/referential-integrity-constraint.md
  docs/framework/data/adonet/secure-data-access.md
  docs/framework/data/wcf/binding-data-to-controls-wcf-data-services.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - Data Access, :card_file_box: Technology - WCF

#15688 Correct information about System namespace
  docs/core/tutorials/using-with-xplat-cli.md
Labels: :books: Area - .NET Core Guide

#15701 Framework reference restrictions for plugins
  docs/core/tutorials/creating-app-with-plugin-support.md
Labels: :books: Area - .NET Core Guide

#15586 gRPC for WCF Index content
  docs/architecture/grpc-for-wcf-developers/index.md
Labels: :book: guide - gRPC, :books: Area - .NET Architecture Guide

#15713 Update unloadability.md
  docs/standard/assembly/unloadability.md
Labels: :books: Area - .NET Guide

#15113 System.Text.Json - add scenarios and add converters doc
  docs/standard/serialization/system-text-json-converters-how-to.md
  docs/standard/serialization/system-text-json-how-to.md
  docs/standard/serialization/toc.yml
Labels: :books: Area - .NET Guide

#15719 Value types table: removed duplicate info
  docs/csharp/language-reference/keywords/value-types-table.md
Labels: :books: Area - C# Guide

#15285 Update info on PreBuildEvent / PostBuildEvent
  docs/core/tools/csproj.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#15724 Replace SDK tokens
  docs/framework/wpf/advanced/base-elements-overview.md
  docs/framework/wpf/advanced/collecting-ink.md
  docs/framework/wpf/advanced/custom-dependency-properties.md
  docs/framework/wpf/advanced/dependency-property-value-precedence.md
  docs/framework/wpf/advanced/textelement-content-model-overview.md
  docs/framework/wpf/advanced/threading-model.md
  docs/framework/wpf/advanced/xaml-namespaces-and-namespace-mapping-for-wpf-xaml.md
  includes/tla2sharptla-sdk-md.md
  includes/tla2sharptla-winfxsdk-md.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#15723 Replace Framework tokens
  docs/framework/wpf/advanced/globalization-for-wpf.md
  includes/tla2sharptla-netframewk-md.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#15718 .NET Core compatibility improvements
  docs/core/compatibility/2.2-3.0.md
  docs/core/compatibility/3.0.6-3.0.7.md
  docs/core/compatibility/3.0.7-3.0.8.md
  docs/core/compatibility/3.0.8-3.0.9.md
  docs/core/compatibility/3.0.9-3.0rc1.md
  docs/core/compatibility/breaking-changes.md
  docs/core/compatibility/categories.md
  docs/core/compatibility/corefx.md
  docs/core/compatibility/crypto.md
  docs/core/compatibility/cryptography.md
  docs/core/compatibility/framework-core.md
  docs/core/compatibility/globalization.md
  docs/core/compatibility/index.md
  docs/core/compatibility/networking.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/visualbasic.md
  docs/core/compatibility/winforms.md
Labels: :books: Area - .NET Core Guide

#15717 Assemblies TOC
  .openpublishing.redirection.json
  docs/standard/assembly/create.md
  docs/standard/assembly/delay-sign.md
  docs/standard/assembly/embed-types-visual-studio.md
  docs/standard/assembly/find-fully-qualified-name.md
  docs/standard/assembly/index.md
  docs/standard/assembly/location.md
  docs/standard/assembly/names.md
  docs/standard/assembly/program.md
  docs/standard/assembly/reference-assemblies.md
  docs/standard/assembly/set-attributes.md
  docs/standard/assembly/toc.yml
  docs/standard/assembly/unloadability.md
  docs/standard/assembly/view-contents.md
Labels: :books: Area - .NET Guide

#15736 Fixed version of Microsoft.Extensions.ML NuGet
  docs/machine-learning/how-to-guides/serve-model-serverless-azure-functions-ml-net.md
Labels: :books: Area - ML.NET Guide, doc-bug

#15738 Remove PredictionEnginePool preview note
  docs/machine-learning/how-to-guides/serve-model-web-api-ml-net.md
Labels: :books: Area - ML.NET Guide

#15739 Update Forecasting tutorial to v 1.4
  docs/machine-learning/tutorials/time-series-demand-forecasting.md
Labels: :books: Area - ML.NET Guide

#15740 Updated image classification tutorial to 1.4
  docs/machine-learning/tutorials/image-classification-api-transfer-learning.md
Labels: :books: Area - ML.NET Guide

#15741 Update load data how to DBLoader section
  docs/machine-learning/how-to-guides/load-data-ml-net.md
Labels: :books: Area - ML.NET Guide

#15733 Update interactive instructions
  docs/csharp/tutorials/exploration/csharp-6.yml
  docs/csharp/tutorials/exploration/interpolated-strings.yml
  docs/csharp/tutorials/intro-to-csharp/branches-and-loops.yml
  docs/csharp/tutorials/intro-to-csharp/hello-world.yml
  docs/csharp/tutorials/intro-to-csharp/list-collection.yml
  docs/csharp/tutorials/intro-to-csharp/numbers-in-csharp.yml
  docs/csharp/tutorials/upgrade-to-nullable-references.md
Labels: :books: Area - C# Guide

#15708 Clarify info about tiered compilation in "what's new" doc
  docs/core/whats-new/dotnet-core-3-0.md
Labels: :books: Area - .NET Core Guide, :sparkles: 1st-time docs contributor!

#15687 Missing break!
  docs/architecture/microservices/net-core-net-framework-containers/net-framework-container-scenarios.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#15690 Add suggested video link on MVC testing
  docs/architecture/modern-web-apps-azure/test-asp-net-core-mvc-apps.md
Labels: :book: guide - ASP.NET Core web apps, :books: Area - .NET Architecture Guide

#15753 Fix "dumb" typo
  docs/core/diagnostics/dotnet-dump.md
Labels: :books: Area - .NET Core Guide, :sparkles: 1st-time docs contributor!

#15714 Address #12080
  docs/machine-learning/how-does-mldotnet-work.md
Labels: :books: Area - ML.NET Guide

#15754 typo fix
  docs/machine-learning/tutorials/time-series-demand-forecasting.md
Labels: :books: Area - ML.NET Guide

#15737 Changed "visibly" to "visible" in paragraph 2.
  docs/csharp/programming-guide/classes-and-structs/fields.md
Labels: :books: Area - C# Guide

#15751 Replace OData tokens
  docs/framework/data/wcf/accessing-data-service-resources-wcf-data-services.md
  docs/framework/data/wcf/application-scenarios-wcf-data-services.md
  docs/framework/data/wcf/batching-operations-wcf-data-services.md
  docs/framework/data/wcf/binding-data-to-controls-wcf-data-services.md
  docs/framework/data/wcf/calling-service-operations-wcf-data-services.md
  docs/framework/data/wcf/configuring-the-data-service-wcf-data-services.md
  docs/framework/data/wcf/creating-the-data-service.md
  docs/framework/data/wcf/creating-the-dotnet-client-application-wcf-data-services-quickstart.md
  docs/framework/data/wcf/custom-data-service-providers-wcf-data-services.md
  docs/framework/data/wcf/data-service-versioning-wcf-data-services.md
  docs/framework/data/wcf/data-services-providers-wcf-data-services.md
  docs/framework/data/wcf/defining-wcf-data-services.md
  docs/framework/data/wcf/developing-and-deploying-wcf-data-services.md
  docs/framework/data/wcf/exposing-your-data-as-a-service-wcf-data-services.md
  docs/framework/data/wcf/feed-customization-wcf-data-services.md
  docs/framework/data/wcf/generating-the-data-service-client-library-wcf-data-services.md
  docs/framework/data/wcf/getting-started-with-wcf-data-services.md
  docs/framework/data/wcf/hosting-the-data-service-wcf-data-services.md
  docs/framework/data/wcf/how-to-set-headers-in-the-client-request-wcf-data-services.md
  docs/framework/data/wcf/index.md
  docs/framework/data/wcf/linq-considerations-wcf-data-services.md
  docs/framework/data/wcf/managing-the-data-service-context-wcf-data-services.md
  docs/framework/data/wcf/object-materialization-wcf-data-services.md
  docs/framework/data/wcf/query-projections-wcf-data-services.md
  docs/framework/data/wcf/querying-the-data-service-wcf-data-services.md
  docs/framework/data/wcf/quickstart-wcf-data-services.md
  docs/framework/data/wcf/specify-client-creds-for-a-data-service-request-wcf.md
  docs/framework/data/wcf/streaming-provider-wcf-data-services.md
  docs/framework/data/wcf/updating-the-data-service-wcf-data-services.md
  docs/framework/data/wcf/using-a-data-service-in-a-client-application-wcf-data-services.md
  docs/framework/data/wcf/wcf-data-service-client-utility-datasvcutil-exe.md
  docs/framework/data/wcf/wcf-data-services-client-library.md
  docs/framework/data/wcf/wcf-data-services-overview.md
  docs/framework/data/wcf/wcf-data-services-protocol-implementation-details.md
  docs/framework/data/wcf/wcf-data-services-resources.md
  docs/framework/data/wcf/working-with-binary-data-wcf-data-services.md
  includes/ssodatafull-md.md
  includes/ssodatashort-md.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF

#14144 Add language identifiers
  docs/csharp/programming-guide/concepts/linq/how-to-query-an-arraylist-with-linq.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/add.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/issuertokenresolver.md
  docs/framework/data/adonet/ef/provider-manifest-specification.md
  docs/framework/data/adonet/ef/security-considerations.md
  docs/framework/wcf/extending/handling-exceptions-and-faults.md
  docs/framework/wcf/extending/how-to-import-custom-wsdl.md
  docs/framework/wcf/extending/how-to-write-an-extension-for-the-servicecontractgenerator.md
  docs/framework/wcf/feature-details/flowing-transactions-into-and-out-of-workflow-services.md
  docs/framework/wcf/feature-details/how-to-create-a-wcf-service-that-communicates-over-websockets.md
  docs/framework/wcf/feature-details/how-to-migrate-ajax-enabled-aspnet-web-services-to-wcf.md
  docs/framework/wcf/feature-details/how-to-register-and-configure-a-service-moniker.md
  docs/framework/wcf/feature-details/how-to-use-configuration-to-add-an-aspnet-ajax-endpoint.md
  docs/framework/wcf/feature-details/service-returns-arbitrary-data-using-the-wcf-web.md
  docs/framework/wcf/feature-details/wcf-web-http-error-handling.md
  docs/framework/wcf/generating-data-type-classes-from-xml.md
  docs/framework/wcf/samples/custom-message-filter.md
  docs/framework/wcf/samples/custom-message-interceptor.md
  docs/framework/wcf/samples/custom-service-host.md
  docs/framework/wcf/samples/custom-wsdl-publication.md
  docs/framework/wcf/samples/datacontract-surrogate.md
  docs/framework/wcf/samples/design-patterns-list-based-publish-subscribe.md
  docs/framework/wcf/samples/durable-issued-token-provider.md
  docs/framework/wcf/samples/extending-control-over-error-handling-and-reporting.md
  docs/framework/wcf/samples/instancing-initialization.md
  docs/framework/wcf/samples/message-inspectors.md
  docs/framework/wcf/samples/saml-token-provider.md
  docs/framework/wcf/samples/streaming-feeds-sample.md
  docs/framework/wcf/samples/strongly-typed-extensions-sample.md
Labels: :books: Area - .NET Framework Guide, :books: Area - C# Guide, :card_file_box: Technology - Data Access, :card_file_box: Technology - WCF, verify-build-before-merge

#15730 Fix up xref.xref instances
  docs/framework/wpf/advanced/document-serialization-and-storage.md
  docs/framework/wpf/advanced/threading-model.md
  docs/framework/wpf/controls/how-to-choose-between-stackpanel-and-dockpanel.md
  docs/framework/wpf/data/data-templating-overview.md
  docs/framework/wpf/data/how-to-bind-the-properties-of-two-controls.md
  docs/framework/wpf/data/how-to-control-when-the-textbox-text-updates-the-source.md
  docs/framework/wpf/data/how-to-get-the-binding-object-from-a-bound-target-property.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#15589 Add missing articles to index.md and updated link
  docs/machine-learning/resources/index.md
Labels: :books: Area - ML.NET Guide

#15580 Fix up links in ML folder
  docs/machine-learning/how-to-guides/index.md
  docs/machine-learning/how-to-guides/retrain-model-ml-net.md
  docs/machine-learning/tutorials/github-issue-classification.md
  docs/machine-learning/tutorials/index.md
  docs/machine-learning/tutorials/movie-recommendation.md
Labels: :books: Area - ML.NET Guide

#15756 Update templatebinding-markup-extension.md
  docs/framework/wpf/advanced/templatebinding-markup-extension.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#15764 Minor Fix
  docs/architecture/microservices/architect-microservice-container-applications/communication-in-microservice-architecture.md
  styleguide/template.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#15749 Replace Windows Vista tokens
  docs/framework/ui-automation/client-side-ui-automation-provider-implementation.md
  docs/framework/ui-automation/ui-automation-security-overview.md
  docs/framework/ui-automation/ui-automation-support-for-standard-controls.md
  docs/framework/ui-automation/ui-automation-textpattern-overview.md
  docs/framework/winforms/controls/how-to-add-a-custom-place-to-a-file-dialog-box.md
  docs/framework/winforms/controls/how-to-opt-out-of-file-dialog-box-automatic-upgrade.md
  docs/framework/winforms/controls/known-folder-guids-for-file-dialog-custom-places.md
  docs/framework/wpf/advanced/document-serialization-and-storage.md
  docs/framework/wpf/advanced/documents-in-wpf.md
  docs/framework/wpf/advanced/graphics-rendering-tiers.md
  docs/framework/wpf/advanced/how-to-programmatically-print-xps-files.md
  docs/framework/wpf/advanced/optimizing-performance-other-recommendations.md
  docs/framework/wpf/advanced/printing-and-print-system-management.md
  docs/framework/wpf/advanced/printing-overview.md
  docs/framework/wpf/graphics-multimedia/extend-glass-frame-into-a-wpf-application.md
  docs/framework/wpf/graphics-multimedia/graphics-rendering-registry-settings.md
  docs/framework/wpf/security-wpf.md
  includes/tla2sharptla-winvista-md.md
  includes/tlasharptla-winvista-md.md
  includes/wiprlhext-md.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#15771 Replace WPF Designer tokens
  docs/framework/wpf/advanced/dependency-properties-overview.md
  docs/framework/wpf/advanced/troubleshooting-hybrid-applications.md
  docs/framework/wpf/advanced/walkthrough-binding-to-data-in-hybrid-applications.md
  docs/framework/wpf/advanced/walkthrough-hosting-a-3-d-wpf-composite-control-in-windows-forms.md
  docs/framework/wpf/advanced/walkthrough-hosting-a-windows-forms-control-in-wpf-by-using-xaml.md
  docs/framework/wpf/advanced/walkthrough-hosting-a-windows-forms-control-in-wpf.md
  docs/framework/wpf/advanced/walkthrough-hosting-direct3d9-content-in-wpf.md
  docs/framework/wpf/advanced/walkthrough-localizing-a-hybrid-application.md
  docs/framework/wpf/advanced/walkthrough-mapping-properties-using-the-windowsformshost-element.md
  docs/framework/wpf/advanced/xaml-namespaces-and-namespace-mapping-for-wpf-xaml.md
  docs/framework/wpf/controls/control-authoring-overview.md
  docs/framework/wpf/getting-started/wpf-walkthroughs.md
  includes/wpfdesigner-current-long-md.md
  includes/wpfdesigner-current-short-md.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#15684 Update collection-type-dependency-properties.md
  docs/framework/wpf/advanced/collection-type-dependency-properties.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#15774 Update ML.NET AutoML API links
  docs/machine-learning/how-to-guides/how-to-use-the-automl-api.md
  docs/machine-learning/toc.yml
Labels: :books: Area - ML.NET Guide

#12959 Update .NET Framework GC config info
  docs/framework/configure-apps/file-schema/runtime/gcconcurrent-element.md
  docs/framework/configure-apps/file-schema/runtime/gcheapaffinitizemask-element.md
  docs/framework/configure-apps/file-schema/runtime/gcheapcount-element.md
  docs/framework/configure-apps/file-schema/runtime/gcnoaffinitize-element.md
  docs/framework/configure-apps/file-schema/runtime/gcserver-element.md
  docs/framework/configure-apps/file-schema/runtime/index.md
  docs/framework/configure-apps/file-schema/runtime/runtime-element.md
  docs/framework/configure-apps/file-schema/runtime/toc.yml
  docs/standard/garbage-collection/fundamentals.md
  docs/standard/garbage-collection/latency.md
Labels: :books: Area - .NET Core Guide, :books: Area - .NET Framework Guide, :books: Area - .NET Guide, new-content, waiting-on-feedback

#14352 US 1583733 Add missing language IDs - 29
  docs/framework/wcf/feature-details/service-returns-arbitrary-data-using-the-wcf-web.md
  docs/framework/wcf/feature-details/sessions-instancing-and-concurrency.md
  docs/framework/wcf/feature-details/stand-alone-json-serialization.md
  docs/framework/wcf/feature-details/startup-time-of-wcf-client-applications-using-the-xmlserializer.md
  docs/framework/wcf/feature-details/system-web-routing-integration.md
  docs/framework/wcf/feature-details/troubleshooting-correlation.md
  docs/framework/wcf/feature-details/troubleshooting-queued-messaging.md
  docs/framework/wcf/feature-details/uritemplate-and-uritemplatetable.md
  docs/framework/wcf/feature-details/use-the-wcf-service-moniker-without-registration.md
  docs/framework/wcf/feature-details/using-a-custom-binding-with-the-discovery-client-channel.md
  docs/framework/wcf/feature-details/using-a-data-contract-resolver.md
  docs/framework/wcf/feature-details/using-the-discovery-client-channel.md
  docs/framework/wcf/feature-details/wcf-web-http-programming-model-overview.md
  docs/framework/wcf/feature-details/wcf-web-http-service-help-page.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF, vendor-project, verify-build-before-merge

#15306 Remove duplicated sentence
  docs/framework/tools/index.md
Labels: :books: Area - .NET Framework Guide, changes-addressed

#15546 updating fwlinks inside framework
  docs/framework/64-bit-apps.md
  docs/framework/debug-trace-profile/code-contracts.md
  docs/framework/debug-trace-profile/enabling-jit-attach-debugging.md
  docs/framework/deployment/guide-for-administrators.md
  docs/framework/deployment/how-to-get-progress-from-the-dotnet-installer.md
  docs/framework/deployment/index.md
  docs/framework/deployment/initialization-errors-managing-the-user-experience.md
  docs/framework/deployment/reducing-system-restarts.md
  docs/framework/develop-web-apps-with-aspnet.md
  docs/framework/get-started/overview.md
  docs/framework/install/troubleshoot-blocked-installations-and-uninstallations.md
  docs/framework/mef/mef-for-net-for-windows-store-apps.md
  docs/framework/migration-guide/index.md
  docs/framework/migration-guide/migrating-from-the-net-framework-1-1.md
  docs/framework/migration-guide/net-framework-4-migration-issues.md
  docs/framework/migration-guide/version-compatibility.md
  docs/framework/migration-guide/versions-and-dependencies.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - AppCompat, :card_file_box: Technology - Installers, verify-build-before-merge

#15750 Update expose-components-to-com.md
  docs/core/native-interop/expose-components-to-com.md
Labels: :books: Area - .NET Core Guide

#15696 Update doc on ALC used for Assembly.Load(Byte[])
  docs/core/dependency-loading/loading-managed.md
Labels: :books: Area - .NET Core Guide

#14773 Markdown improvements in nothing.md
  docs/visual-basic/language-reference/nothing.md
Labels: :books: Area - Visual Basic Guide

#15445 Removed useless back to top links
  docs/framework/misc/security-transparent-code-level-2.md
  docs/framework/misc/security-transparent-code.md
  docs/framework/performance/clr-etw-keywords-and-levels.md
  docs/framework/performance/interop-etw-events.md
  docs/framework/performance/jit-tracing-etw-events.md
  docs/framework/performance/loader-etw-events.md
  docs/framework/performance/method-etw-events.md
  docs/framework/performance/security-etw-events.md
  docs/framework/performance/thread-pool-etw-events.md
  docs/framework/reflection-and-codedom/reflection-and-generic-types.md
  docs/framework/unmanaged-api/profiling/profiling-overview.md
  docs/standard/assembly/security-considerations.md
  docs/standard/base-types/anchors-in-regular-expressions.md
  docs/standard/base-types/backtracking-in-regular-expressions.md
  docs/standard/base-types/best-practices-strings.md
  docs/standard/base-types/regular-expression-options.md
  docs/standard/base-types/standard-timespan-format-strings.md
  docs/standard/base-types/substitutions-in-regular-expressions.md
  docs/standard/base-types/type-conversion.md
  docs/standard/garbage-collection/fundamentals.md
  docs/standard/garbage-collection/performance.md
  docs/standard/generics/covariance-and-contravariance.md
  docs/standard/generics/index.md
  docs/standard/parallel-programming/dataflow-task-parallel-library.md
  docs/standard/security/cryptographic-services.md
  docs/standard/security/cryptographic-signatures.md
Labels: :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :card_file_box: Technology - Security, :sparkles: 1st-time docs contributor!, verify-build-before-merge

#15776 Correct notes on default DateTimeOffset serialization
  docs/standard/datetime/system-text-json-support.md
Labels: :books: Area - .NET Guide

#15801 Remove semi-colons from vb code
  docs/framework/data/adonet/dataset-datatable-dataview/loading-dataset-schema-information-from-xml.md
  docs/standard/data/xml/changing-namespace-declarations-in-an-xml-document.md
  docs/visual-basic/language-reference/operators/null-conditional-operators.md
  docs/visual-basic/programming-guide/language-features/strings/interpolated-strings.md
Labels: :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :books: Area - Visual Basic Guide, :card_file_box: Technology - Data Access

#15808 Update GRPC owner
  docfx.json
  docs/architecture/grpc-for-wcf-developers/appendix.md
  docs/architecture/grpc-for-wcf-developers/application-performance-management.md
  docs/architecture/grpc-for-wcf-developers/approach.md
  docs/architecture/grpc-for-wcf-developers/call-credentials.md
  docs/architecture/grpc-for-wcf-developers/channel-credentials.md
  docs/architecture/grpc-for-wcf-developers/client-libraries.md
  docs/architecture/grpc-for-wcf-developers/create-project.md
  docs/architecture/grpc-for-wcf-developers/docker.md
  docs/architecture/grpc-for-wcf-developers/encryption.md
  docs/architecture/grpc-for-wcf-developers/error-handling.md
  docs/architecture/grpc-for-wcf-developers/grpc-in-production.md
  docs/architecture/grpc-for-wcf-developers/grpc-overview.md
  docs/architecture/grpc-for-wcf-developers/index.md
  docs/architecture/grpc-for-wcf-developers/interface-definition-language.md
  docs/architecture/grpc-for-wcf-developers/introduction.md
  docs/architecture/grpc-for-wcf-developers/kubernetes.md
  docs/architecture/grpc-for-wcf-developers/load-balancing.md
  docs/architecture/grpc-for-wcf-developers/metadata.md
  docs/architecture/grpc-for-wcf-developers/migrate-duplex-services.md
  docs/architecture/grpc-for-wcf-developers/migrate-request-reply.md
  docs/architecture/grpc-for-wcf-developers/migrate-wcf-to-grpc.md
  docs/architecture/grpc-for-wcf-developers/network-protocols.md
  docs/architecture/grpc-for-wcf-developers/protobuf-any-oneof.md
  docs/architecture/grpc-for-wcf-developers/protobuf-data-types.md
  docs/architecture/grpc-for-wcf-developers/protobuf-enums.md
  docs/architecture/grpc-for-wcf-developers/protobuf-maps.md
  docs/architecture/grpc-for-wcf-developers/protobuf-messages.md
  docs/architecture/grpc-for-wcf-developers/protobuf-nested-types.md
  docs/architecture/grpc-for-wcf-developers/protobuf-repeated.md
  docs/architecture/grpc-for-wcf-developers/protobuf-reserved.md
  docs/architecture/grpc-for-wcf-developers/protocol-buffers.md
  docs/architecture/grpc-for-wcf-developers/rpc-types.md
  docs/architecture/grpc-for-wcf-developers/security.md
  docs/architecture/grpc-for-wcf-developers/self-hosted.md
  docs/architecture/grpc-for-wcf-developers/service-mesh.md
  docs/architecture/grpc-for-wcf-developers/streaming-versus-repeated.md
  docs/architecture/grpc-for-wcf-developers/wcf-bindings.md
  docs/architecture/grpc-for-wcf-developers/wcf-endpoints-grpc-methods.md
  docs/architecture/grpc-for-wcf-developers/wcf-services-to-grpc-comparison.md
  docs/architecture/grpc-for-wcf-developers/why-grpc.md
Labels: :book: guide - gRPC, :books: Area - .NET Architecture Guide

#15791 Replace default constructor with parameterless
  docs/core/compatibility/index.md
  docs/csharp/language-reference/keywords/where-generic-type-constraint.md
  docs/framework/wcf/feature-details/sessions-instancing-and-concurrency.md
  docs/framework/wcf/specifying-service-run-time-behavior.md
  docs/framework/xaml-services/defining-custom-types-for-use-with-net-framework-xaml-services.md
Labels: :books: Area - C# Guide

#15795 Removed incorrect reference to a case study
  docs/architecture/cloud-native/candidate-apps.md
Labels: :book: guide - Cloud Native, :books: Area - .NET Architecture Guide

#15788 Anchor clean-up
  docs/framework/misc/security-transparent-code-level-2.md
  docs/framework/misc/security-transparent-code.md
  docs/framework/performance/clr-etw-keywords-and-levels.md
  docs/framework/performance/interop-etw-events.md
  docs/framework/performance/jit-tracing-etw-events.md
  docs/framework/performance/loader-etw-events.md
  docs/framework/performance/method-etw-events.md
  docs/framework/performance/security-etw-events.md
  docs/framework/performance/thread-pool-etw-events.md
  docs/framework/reflection-and-codedom/reflection-and-generic-types.md
  docs/framework/unmanaged-api/profiling/profiling-overview.md
  docs/standard/base-types/anchors-in-regular-expressions.md
  docs/standard/base-types/backtracking-in-regular-expressions.md
  docs/standard/base-types/regular-expression-options.md
  docs/standard/base-types/standard-timespan-format-strings.md
  docs/standard/base-types/substitutions-in-regular-expressions.md
  docs/standard/base-types/type-conversion.md
  docs/standard/garbage-collection/fundamentals.md
  docs/standard/garbage-collection/performance.md
  docs/standard/generics/covariance-and-contravariance.md
  docs/standard/generics/index.md
  docs/standard/parallel-programming/dataflow-task-parallel-library.md
  docs/standard/security/cryptographic-services.md
  docs/standard/security/cryptographic-signatures.md
Labels: :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :card_file_box: Technology - Security

#15799 Follow the current style-guide
  docs/core/porting/winforms.md
  docs/csharp/how-to/compare-strings.md
  docs/csharp/how-to/concatenate-multiple-strings.md
  docs/csharp/how-to/modify-string-contents.md
  docs/csharp/how-to/parse-strings-using-split.md
  docs/csharp/how-to/safely-cast-using-pattern-matching-is-and-as-operators.md
  docs/csharp/how-to/search-strings.md
  docs/csharp/language-reference/builtin-types/reference-types.md
  docs/csharp/language-reference/compiler-options/command-line-building-with-csc-exe.md
  docs/csharp/language-reference/compiler-options/how-to-set-environment-variables-for-the-visual-studio-command-line.md
  docs/csharp/language-reference/compiler-options/index.md
  docs/csharp/language-reference/compiler-options/listed-alphabetically.md
  docs/csharp/language-reference/compiler-options/listed-by-category.md
  docs/csharp/language-reference/keywords/group-clause.md
  docs/csharp/language-reference/operators/addition-operator.md
  docs/csharp/language-reference/operators/type-testing-and-cast.md
  docs/csharp/linq/return-a-query-from-a-method.md
  docs/csharp/misc/cs0200.md
  docs/csharp/programming-guide/classes-and-structs/abstract-and-sealed-classes-and-class-members.md
  docs/csharp/programming-guide/classes-and-structs/auto-implemented-properties.md
  docs/csharp/programming-guide/classes-and-structs/constructors.md
  docs/csharp/programming-guide/classes-and-structs/extension-methods.md
  docs/csharp/programming-guide/classes-and-structs/how-to-create-a-new-method-for-an-enumeration.md
  docs/csharp/programming-guide/classes-and-structs/how-to-declare-and-use-read-write-properties.md
  docs/csharp/programming-guide/classes-and-structs/how-to-define-abstract-properties.md
  docs/csharp/programming-guide/classes-and-structs/how-to-define-constants.md
  docs/csharp/programming-guide/classes-and-structs/how-to-implement-a-lightweight-class-with-auto-implemented-properties.md
  docs/csharp/programming-guide/classes-and-structs/how-to-implement-and-call-a-custom-extension-method.md
  docs/csharp/programming-guide/classes-and-structs/how-to-initialize-objects-by-using-an-object-initializer.md
  docs/csharp/programming-guide/classes-and-structs/how-to-know-the-difference-passing-a-struct-and-passing-a-class-to-a-method.md
  docs/csharp/programming-guide/classes-and-structs/how-to-override-the-tostring-method.md
  docs/csharp/programming-guide/classes-and-structs/how-to-return-subsets-of-element-properties-in-a-query.md
  docs/csharp/programming-guide/classes-and-structs/how-to-use-implicitly-typed-local-variables-and-arrays-in-a-query-expression.md
  docs/csharp/programming-guide/classes-and-structs/how-to-use-named-and-optional-arguments-in-office-programming.md
  docs/csharp/programming-guide/classes-and-structs/how-to-write-a-copy-constructor.md
  docs/csharp/programming-guide/classes-and-structs/implicitly-typed-local-variables.md
  docs/csharp/programming-guide/classes-and-structs/named-and-optional-arguments.md
  docs/csharp/programming-guide/classes-and-structs/polymorphism.md
  docs/csharp/programming-guide/classes-and-structs/structs.md
  docs/csharp/programming-guide/concepts/async/fine-tuning-your-async-application.md
  docs/csharp/programming-guide/concepts/async/how-to-extend-the-async-walkthrough-by-using-task-whenall.md
  docs/csharp/programming-guide/concepts/async/how-to-make-multiple-web-requests-in-parallel-by-using-async-and-await.md
  docs/csharp/programming-guide/concepts/async/task-asynchronous-programming-model.md
  docs/csharp/programming-guide/concepts/async/walkthrough-accessing-the-web-by-using-async-and-await.md
  docs/csharp/programming-guide/concepts/expression-trees/how-to-execute-expression-trees.md
  docs/csharp/programming-guide/concepts/expression-trees/how-to-modify-expression-trees.md
  docs/csharp/programming-guide/concepts/expression-trees/how-to-use-expression-trees-to-build-dynamic-queries.md
  docs/csharp/programming-guide/concepts/expression-trees/index.md
  docs/csharp/programming-guide/enumeration-types.md
  docs/csharp/programming-guide/strings/index.md
  docs/csharp/programming-guide/types/casting-and-type-conversions.md
  docs/csharp/toc.yml
  docs/framework/debug-trace-profile/how-to-compile-conditionally-with-trace-and-debug.md
  docs/framework/performance/performance-tips.md
Labels: :books: Area - .NET Core Guide, :books: Area - C# Guide

#15792 Fix private --> public in code example
  docs/standard/serialization/system-text-json-converters-how-to.md
Labels: :books: Area - .NET Guide

#15828 Move System.Text.Json note to top of page
  docs/framework/wcf/feature-details/how-to-serialize-and-deserialize-json-data.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF

#15816 Fix brew install command
  docs/core/macos-prerequisites.md
Labels: :books: Area - .NET Core Guide

#15796 Removed double copy command in Dockerfile
  docs/architecture/modern-web-apps-azure/common-web-application-architectures.md
Labels: :book: guide - ASP.NET Core web apps, :books: Area - .NET Architecture Guide

#15674 F# 4.7 docs updates
  docs/fsharp/language-reference/byrefs.md
  docs/fsharp/language-reference/caller-information.md
  docs/fsharp/language-reference/computation-expressions.md
  docs/fsharp/language-reference/keyword-reference.md
  docs/fsharp/language-reference/members/indexed-properties.md
  docs/fsharp/language-reference/members/methods.md
  docs/fsharp/language-reference/sequences.md
  docs/fsharp/language-reference/type-extensions.md
  docs/fsharp/style-guide/conventions.md
  docs/fsharp/style-guide/formatting.md
  docs/fsharp/tutorials/type-providers/creating-a-type-provider.md
Labels: :books: Area - F# Guide, :construction: Hold for related PR

#15789 Replace msdn magazine links
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/cqrs-microservice-reads.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/net-core-microservice-domain-model.md
  docs/architecture/modern-web-apps-azure/develop-asp-net-core-mvc-apps.md
  docs/architecture/modern-web-apps-azure/work-with-data-in-asp-net-core-apps.md
  docs/framework/migration-guide/net-framework-4-migration-issues.md
  docs/framework/unmanaged-api/metadata/coropenflags-enumeration.md
  docs/framework/wcf/feature-details/accessing-wcf-services-with-a-windows-store-client-app.md
  docs/framework/wcf/feature-details/serializing-in-json-with-message-level-programming.md
  docs/visual-basic/programming-guide/program-structure/comments-in-code.md
Labels: :book: guide - .NET Microservices, :book: guide - ASP.NET Core web apps, :books: Area - .NET Architecture Guide, :books: Area - .NET Framework Guide, :books: Area - Visual Basic Guide, :card_file_box: Technology - AppCompat, :card_file_box: Technology - WCF

#15830 Fix new build warnings
  docs/framework/configure-apps/file-schema/runtime/gccpugroup-element.md
  docs/standard/base-types/regular-expression-options.md
  docs/standard/base-types/type-conversion.md
Labels: :books: Area - .NET Framework Guide, :books: Area - .NET Guide

#15831 update msdn magazine link
  docs/architecture/cloud-native/service-to-service-communication.md
Labels: :book: guide - Cloud Native, :books: Area - .NET Architecture Guide

#15685 Match Synopsis with Examples
  docs/core/tools/dotnet-nuget-locals.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#15820 removed "easier to" repetition to fix typo
  docs/framework/data/adonet/data-tracing.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - Data Access

#15790 Fix typo
  docs/standard/library-guidance/sourcelink.md
Labels: :books: Area - .NET Guide

#15835 Add missing bullet for list item.
  docs/core/docker/introduction.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - Docker

#15781 Replace .NET Framework attributes tokens
  docs/framework/wpf/advanced/attached-properties-overview.md
  includes/tla2sharptla-netframewkattrsharpplural-md.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#15256 Improve acro score of new article
  docs/standard/assembly/reference-assemblies.md
Labels: :books: Area - .NET Guide

#15760 Note the default GC latency mode
  docs/standard/garbage-collection/latency.md
Labels: :books: Area - .NET Guide

#15846 Spelling Correction
  docs/fsharp/style-guide/formatting.md
Labels: :books: Area - F# Guide

#15833 style as link
  styleguide/template.md
Labels: verify-build-before-merge

#15853 Fix typo
  docs/framework/tools/sn-exe-strong-name-tool.md
Labels: :books: Area - .NET Framework Guide

#15641 Update links in winforms/wcf/windows-workflow-foundation folders
  docs/framework/wcf/configuring-services-using-configuration-files.md
  docs/framework/wcf/feature-details/client-configuration.md
  docs/framework/wcf/feature-details/enabling-transaction-flow.md
  docs/framework/wcf/feature-details/how-to-configure-wcf-services-to-interoperate-with-wse-3-0-clients.md
  docs/framework/wcf/feature-details/how-to-create-a-custom-reliable-session-binding-with-https.md
  docs/framework/wcf/feature-details/how-to-create-a-duplex-federated-binding.md
  docs/framework/wcf/feature-details/how-to-create-a-security-context-token-for-a-secure-session.md
  docs/framework/wcf/feature-details/how-to-create-a-wsfederationhttpbinding.md
  docs/framework/wcf/feature-details/how-to-exchange-messages-within-a-reliable-session.md
  docs/framework/wcf/feature-details/how-to-secure-messages-within-reliable-sessions.md
  docs/framework/wcf/feature-details/how-to-set-a-max-clock-skew.md
  docs/framework/wcf/feature-details/securitybindingelement-authentication-modes.md
  docs/framework/wcf/feature-details/servicemodel-transaction-configuration.md
  docs/framework/wcf/how-to-specify-the-client-credential-type.md
  docs/framework/wcf/samples/duplex.md
  docs/framework/wcf/samples/extensibility.md
  docs/framework/wcf/samples/transport-udp.md
  docs/framework/wcf/samples/ws-dual-http.md
  docs/framework/windows-workflow-foundation/feature-specifics.md
  docs/framework/windows-workflow-foundation/samples/built-in-activities.md
  docs/framework/windows-workflow-foundation/samples/toc.yml
  docs/framework/winforms/advanced/walkthrough-styling-wpf-content.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF, :card_file_box: Technology - WF, :card_file_box: Technology - WinForms

#15826 Minor fixes
  docs/standard/data/xml/creating-new-attributes-for-elements-in-the-dom.md
Labels: :books: Area - .NET Guide

#15856 Remove vb from dev_langs
  docs/core/whats-new/dotnet-core-3-0.md
Labels: :books: Area - .NET Core Guide

#15729 mix in -> mixin
  docs/csharp/tutorials/mixins-with-default-interface-methods.md
Labels: :books: Area - C# Guide

#15742 Constraints on type parameters: make exclusion info more visible
  docs/csharp/programming-guide/generics/constraints-on-type-parameters.md
Labels: :books: Area - C# Guide

#15855 Link to System.Text.Json
  docs/framework/wcf/samples/json-serialization.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF

#15767 await operator: mention await foreach
  docs/csharp/language-reference/operators/await.md
Labels: :books: Area - C# Guide

#15768 Update codedoc with information about GenerateDocumentationFile element
  docs/csharp/codedoc.md
Labels: :books: Area - C# Guide, :sparkles: 1st-time docs contributor!

#15772 Change example code formatting
  docs/csharp/programming-guide/classes-and-structs/implicitly-typed-local-variables.md
Labels: :books: Area - C# Guide, :sparkles: 1st-time docs contributor!

#15773 Update cs0841.md
  docs/csharp/misc/cs0841.md
Labels: :books: Area - C# Guide

#15798 Add missing comma and markdown improvements
  docs/csharp/programming-guide/concepts/attributes/how-to-create-a-c-cpp-union-by-using-attributes.md
  docs/csharp/programming-guide/concepts/attributes/index.md
  docs/csharp/toc.yml
Labels: :books: Area - C# Guide

#15819 Follow the current style-guide
  docs/csharp/programming-guide/concepts/linq/aggregation-operations.md
  docs/csharp/programming-guide/concepts/linq/basic-queries-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/concatenation-operations.md
  docs/csharp/programming-guide/concepts/linq/equality-operations.md
  docs/csharp/programming-guide/concepts/linq/how-to-add-custom-methods-for-linq-queries.md
  docs/csharp/programming-guide/concepts/linq/how-to-build-linq-to-xml-examples.md
  docs/csharp/programming-guide/concepts/linq/how-to-calculate-intermediate-values.md
  docs/csharp/programming-guide/concepts/linq/how-to-catch-parsing-errors.md
  docs/csharp/programming-guide/concepts/linq/how-to-chain-axis-method-calls-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-change-the-namespace-for-an-entire-xml-tree.md
  docs/csharp/programming-guide/concepts/linq/how-to-combine-and-compare-string-collections-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-combine-linq-queries-with-regular-expressions.md
  docs/csharp/programming-guide/concepts/linq/how-to-compare-the-contents-of-two-folders-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-compute-column-values-in-a-csv-text-file-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-control-namespace-prefixes-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-control-the-type-of-a-projection.md
  docs/csharp/programming-guide/concepts/linq/how-to-count-occurrences-of-a-word-in-a-string-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-create-a-document-with-namespaces-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-create-a-tree-from-an-xmlreader.md
  docs/csharp/programming-guide/concepts/linq/how-to-create-hierarchy-using-grouping.md
  docs/csharp/programming-guide/concepts/linq/how-to-debug-empty-query-results-sets.md
  docs/csharp/programming-guide/concepts/linq/how-to-filter-on-an-attribute-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-filter-on-an-optional-element.md
  docs/csharp/programming-guide/concepts/linq/how-to-filter-on-element-names-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-a-child-element-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-a-list-of-child-elements-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-a-single-descendant-using-the-descendants-method.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-a-union-of-two-location-paths-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-all-nodes-in-a-namespace.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-an-attribute-of-the-parent-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-an-element-with-a-specific-attribute.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-an-element-with-a-specific-child-element.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-attributes-of-siblings-with-a-specific-name-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-child-elements-based-on-position-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-descendant-elements-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-descendants-of-a-child-element-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-descendants-with-a-specific-element-name.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-elements-in-a-namespace-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-elements-with-a-specific-attribute-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-preceding-siblings-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-related-elements-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-sibling-nodes-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-the-immediate-preceding-sibling-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-the-set-difference-between-two-lists-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-parse-a-string.md
  docs/csharp/programming-guide/concepts/linq/how-to-query-for-characters-in-a-string-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-query-the-contents-of-files-in-a-folder-lin.md
  docs/csharp/programming-guide/concepts/linq/linq-and-file-directories.md
  docs/csharp/programming-guide/concepts/linq/linq-and-strings.md
  docs/csharp/programming-guide/concepts/linq/linq-to-objects.md
  docs/csharp/programming-guide/concepts/linq/set-operations.md
  docs/csharp/toc.yml
Labels: :books: Area - C# Guide

#15822 Update events-overview.md
  docs/csharp/events-overview.md
  docs/csharp/toc.yml
Labels: :books: Area - C# Guide

#15829 Update cs1721.md
  docs/csharp/language-reference/compiler-messages/cs1721.md
Labels: :books: Area - C# Guide

#15869 Update using-xslt-to-transform-an-xml-tree.md
  docs/csharp/programming-guide/concepts/linq/using-xslt-to-transform-an-xml-tree.md
Labels: :books: Area - C# Guide, :sparkles: 1st-time docs contributor!

#15861 Update deploy-with-vs.md
  docs/core/deploying/deploy-with-vs.md
Labels: :books: Area - .NET Core Guide

#15868 Clarify wording for derived classes
  docs/standard/garbage-collection/implementing-dispose.md
Labels: :books: Area - .NET Guide

#15854 Replace .NET Framework 4 tokens
  docs/framework/configure-apps/file-schema/wcf/basichttpbinding.md
  docs/framework/configure-apps/file-schema/wcf/basichttpcontextbinding.md
  docs/framework/configure-apps/file-schema/wcf/behavior-of-endpointbehaviors.md
  docs/framework/configure-apps/file-schema/wcf/behavior-of-servicebehaviors.md
  docs/framework/configure-apps/file-schema/wcf/behaviors.md
  docs/framework/configure-apps/file-schema/wcf/bindings.md
  docs/framework/configure-apps/file-schema/wcf/custombinding.md
  docs/framework/configure-apps/file-schema/wcf/mexhttpbinding.md
  docs/framework/configure-apps/file-schema/wcf/mexhttpsbinding.md
  docs/framework/configure-apps/file-schema/wcf/mexnamedpipebinding.md
  docs/framework/configure-apps/file-schema/wcf/mextcpbinding.md
  docs/framework/configure-apps/file-schema/wcf/msmqintegrationbinding.md
  docs/framework/configure-apps/file-schema/wcf/nethttpbinding.md
  docs/framework/configure-apps/file-schema/wcf/nethttpsbinding.md
  docs/framework/configure-apps/file-schema/wcf/netmsmqbinding.md
  docs/framework/configure-apps/file-schema/wcf/netnamedpipebinding.md
  docs/framework/configure-apps/file-schema/wcf/netpeertcpbinding.md
  docs/framework/configure-apps/file-schema/wcf/nettcpbinding.md
  docs/framework/configure-apps/file-schema/wcf/nettcpcontextbinding.md
  docs/framework/configure-apps/file-schema/wcf/udpbinding.md
  docs/framework/configure-apps/file-schema/wcf/webhttpbinding.md
  docs/framework/configure-apps/file-schema/wcf/ws2007federationhttpbinding.md
  docs/framework/configure-apps/file-schema/wcf/ws2007httpbinding.md
  docs/framework/configure-apps/file-schema/wcf/wsdualhttpbinding.md
  docs/framework/configure-apps/file-schema/wcf/wsfederationhttpbinding.md
  docs/framework/configure-apps/file-schema/wcf/wshttpbinding.md
  docs/framework/configure-apps/file-schema/wcf/wshttpcontextbinding.md
  docs/framework/data/wcf/data-service-versioning-wcf-data-services.md
  docs/framework/wcf/configuring-services-using-configuration-files.md
  docs/framework/wcf/configuring-services.md
  docs/framework/wcf/feature-details/caching-support-for-wcf-web-http-services.md
  docs/framework/wcf/host-a-wcf-service-net-framework-3-5-iis--net-framework-4.md
  docs/framework/wcf/load-balancing.md
  docs/framework/wcf/samples/aspnet-compatibility.md
  docs/framework/wcf/samples/one-time-setup-procedure-for-the-wcf-samples.md
  docs/framework/wcf/samples/simplified-configuration-for-wcf-services.md
  docs/framework/wcf/samples/systemwebrouting-integration-sample.md
  docs/framework/wcf/samples/usage-of-serialization-binder.md
  docs/framework/wcf/troubleshooting-setup-issues.md
  docs/framework/windows-workflow-foundation/csharp-expressions.md
  docs/framework/windows-workflow-foundation/customizing-the-workflow-design-experience.md
  docs/framework/windows-workflow-foundation/designing-workflows.md
  docs/framework/windows-workflow-foundation/extend.md
  docs/framework/windows-workflow-foundation/feature-specifics.md
  docs/framework/windows-workflow-foundation/index.md
  docs/framework/windows-workflow-foundation/migration-guidance.md
  docs/framework/windows-workflow-foundation/performance.md
  docs/framework/windows-workflow-foundation/samples/custom-tracking.md
  docs/framework/windows-workflow-foundation/samples/index.md
  docs/framework/windows-workflow-foundation/using-workflowidentity-and-versioning.md
  docs/framework/windows-workflow-foundation/wf-features-in-the-rehosted-workflow-designer.md
  docs/framework/windows-workflow-foundation/whats-new-in-wf-in-dotnet.md
  docs/framework/windows-workflow-foundation/whats-new.md
  includes/netfx40-long-md.md
  includes/netfx40-short-md.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF, :card_file_box: Technology - WF

#15595 Update how-to-create-and-run-a-long-running-workflow.md
  docs/framework/windows-workflow-foundation/how-to-create-and-run-a-long-running-workflow.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WF

#15851 Update F# VSCode docs to be based off modern ionide
  docs/fsharp/get-started/get-started-vscode.md
  docs/fsharp/get-started/index.md
  docs/fsharp/get-started/install-fsharp.md
  docs/fsharp/toc.yml
Labels: :books: Area - F# Guide

#15876 Unmanaged constraint allows only non-nullable types
  docs/csharp/language-reference/builtin-types/unmanaged-types.md
  docs/csharp/programming-guide/generics/constraints-on-type-parameters.md
  docs/csharp/whats-new/csharp-7-3.md
Labels: :books: Area - C# Guide
