Repository dotnet/docs, pull requests merged in 2019-09, with the labels that each got.

#14102 Update page size values
  docs/framework/wpf/getting-started/walkthrough-my-first-wpf-desktop-application.md
Labels: :sparkles: 1st-time docs contributor!

#14179 Fix heading guidance in the template
  styleguide/template.md
Labels: :bookmark_tabs: Information Architecture

#14181 small fix to the telemetry article
  docs/machine-learning/resources/ml-net-cli-telemetry.md
Labels: :books: Area - ML.NET Guide

#14091 US 1583733 Add missing language IDs - 01
  docs/architecture/microservices/multi-container-microservice-net-applications/database-server-container.md
  docs/architecture/microservices/multi-container-microservice-net-applications/multi-container-applications-docker-compose.md
  docs/architecture/modern-web-apps-azure/common-web-application-architectures.md
  docs/core/docker/build-container.md
  docs/core/testing/unit-testing-fsharp-with-dotnet-test.md
  docs/core/testing/unit-testing-fsharp-with-mstest.md
Labels: vendor-project

#13712 Refactor ML.NET tools TOC
  docs/machine-learning/index.yml
  docs/machine-learning/media/ml-net-product-suite.png
  docs/machine-learning/resources/index.md
  docs/machine-learning/toc.yml
  docs/machine-learning/tutorials/mlnet-cli.md
Labels: :books: Area - ML.NET Guide

#14161 C117556: Closing include correctly
  docs/framework/unmanaged-api/profiling/icorprofilerinfo8-getdynamicfunctioninfo-method.md
Labels: loc

#14159 Update template.md
  styleguide/template.md
Labels: :bookmark_tabs: Information Architecture

#14180 US 1583733 Add missing language IDs - 07
  docs/csharp/programming-guide/concepts/linq/how-to-find-sibling-nodes-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-the-immediate-preceding-sibling-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-the-root-element-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-generate-text-files-from-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-join-content-from-dissimilar-files-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-join-two-collections-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-list-all-nodes-in-a-tree.md
  docs/csharp/programming-guide/concepts/linq/how-to-modify-an-office-open-xml-document.md
  docs/csharp/programming-guide/concepts/linq/how-to-perform-streaming-transformations-of-text-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-project-a-new-type-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-project-an-anonymous-type.md
  docs/csharp/programming-guide/concepts/linq/how-to-project-an-object-graph.md
  docs/csharp/programming-guide/concepts/linq/how-to-query-an-arraylist-with-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-read-and-write-an-encoded-document.md
  docs/csharp/programming-guide/concepts/linq/how-to-reorder-the-fields-of-a-delimited-file-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-retrieve-a-collection-of-attributes-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-retrieve-a-collection-of-elements-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-retrieve-a-single-attribute-linq-to-xml.md
Labels: vendor-project, verify-build-before-merge

#14182 US 1583733 Add missing language IDs - 08
  docs/csharp/programming-guide/concepts/linq/how-to-retrieve-paragraphs-from-an-office-open-xml-document.md
  docs/csharp/programming-guide/concepts/linq/how-to-retrieve-the-shallow-value-of-an-element.md
  docs/csharp/programming-guide/concepts/linq/how-to-retrieve-the-value-of-an-attribute-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-retrieve-the-value-of-an-element-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-serialize-using-datacontractserializer.md
  docs/csharp/programming-guide/concepts/linq/how-to-serialize-using-xmlserializer.md
  docs/csharp/programming-guide/concepts/linq/how-to-sort-elements-on-multiple-keys.md
  docs/csharp/programming-guide/concepts/linq/how-to-sort-elements.md
  docs/csharp/programming-guide/concepts/linq/how-to-split-a-file-into-many-files-by-using-groups-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-stream-xml-fragments-from-an-xmlreader.md
  docs/csharp/programming-guide/concepts/linq/how-to-use-annotations-to-transform-linq-to-xml-trees-in-an-xslt-style.md
  docs/csharp/programming-guide/concepts/linq/how-to-validate-using-xsd-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-work-with-dictionaries-using-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-write-a-linq-to-xml-axis-method.md
  docs/csharp/programming-guide/concepts/linq/how-to-write-a-query-that-finds-elements-based-on-context.md
  docs/csharp/programming-guide/concepts/linq/how-to-write-queries-on-xml-in-namespaces.md
  docs/csharp/programming-guide/concepts/linq/how-to-write-queries-with-complex-filtering.md
Labels: vendor-project

#14139 Update spark instruction.
  docs/spark/tutorials/amazon-emr-spark-deployment.md
  docs/spark/tutorials/databricks-deployment.md
  docs/spark/tutorials/hdinsight-deployment.md
Labels: :books: Area - .NET for Apache Spark Guide

#14177 Converting <code> tag to code block to avoid issues in live pages
  includes/migration-guide/retargeting/core/changes-path-normalization.md
Labels: loc

#14184 US 1583733 Add missing language IDs - 09
  docs/csharp/programming-guide/concepts/linq/intermediate-materialization.md
  docs/csharp/programming-guide/concepts/linq/linq-to-xml-events.md
  docs/csharp/programming-guide/concepts/linq/performance-of-chained-queries-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/programming-with-nodes.md
  docs/csharp/programming-guide/concepts/linq/querying-an-xdocument-vs-querying-an-xelement.md
  docs/csharp/programming-guide/concepts/linq/refactoring-into-pure-functions.md
  docs/csharp/programming-guide/concepts/linq/refactoring-using-a-pure-function.md
  docs/csharp/programming-guide/concepts/linq/refactoring-using-an-extension-method.md
  docs/csharp/programming-guide/concepts/linq/retrieving-the-paragraphs-and-their-styles.md
  docs/csharp/programming-guide/concepts/linq/retrieving-the-text-of-the-paragraphs.md
  docs/csharp/programming-guide/concepts/linq/scope-of-default-namespaces.md
  docs/csharp/programming-guide/concepts/linq/statically-compiled-queries-linq-to-xml.md
  docs/csharp/programming-guide/indexers/indexers-in-interfaces.md
  docs/csharp/programming-guide/main-and-command-args/command-line-arguments.md
  docs/csharp/programming-guide/strings/how-to-determine-whether-a-string-represents-a-numeric-value.md
  docs/csharp/programming-guide/strings/index.md
  docs/csharp/programming-guide/types/walkthrough-creating-and-using-dynamic-objects.md
  docs/csharp/roslyn-sdk/get-started/semantic-analysis.md
Labels: vendor-project, verify-build-before-merge

#14187 turn off feedback for a few areas
  docfx.json
Labels: :bookmark_tabs: Information Architecture

#14121 move article to tutorials section
  docs/toc.yml
Labels: :bookmark_tabs: Information Architecture

#14194 Broken links
  docs/framework/data/adonet/floating-point-numbers.md
  docs/framework/unmanaged-api/guid-managedname-attribute.md
  docs/framework/whats-new/index.md
Labels: :bookmark_tabs: Information Architecture

#14167 Add missing alt text
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/nosql-database-persistence-infrastructure.md
  docs/architecture/modern-web-apps-azure/architectural-principles.md
  docs/architecture/modern-web-apps-azure/common-client-side-web-technologies.md
  docs/architecture/modern-web-apps-azure/common-web-application-architectures.md
  docs/architecture/modern-web-apps-azure/develop-asp-net-core-mvc-apps.md
  docs/architecture/modern-web-apps-azure/development-process-for-azure.md
  docs/architecture/modern-web-apps-azure/modern-web-applications-characteristics.md
  docs/architecture/modern-web-apps-azure/test-asp-net-core-mvc-apps.md
  docs/architecture/modern-web-apps-azure/work-with-data-in-asp-net-core-apps.md
  docs/architecture/modernize-with-azure-containers/index.md
  docs/architecture/modernize-with-azure-containers/lift-and-shift-existing-apps-azure-iaas.md
  docs/architecture/modernize-with-azure-containers/migrate-your-relational-databases-to-azure.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/build-resilient-services-ready-for-the-cloud-embrace-transient-failures-in-the-cloud.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/deploy-existing-net-apps-as-windows-containers.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/index.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/migrate-to-hybrid-cloud-scenarios.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/modernize-your-apps-lifecycle-with-ci-cd-pipelines-and-devops-tools-in-the-cloud.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/modernize-your-apps-with-monitoring-and-telemetry.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/reasons-to-modernize-existing-net-apps-to-cloud-optimized-applications.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/what-about-cloud-native-applications.md
Labels: :card_file_box: Technology - .NET Architecture

#14196 Test double escape to remove latex formatting
  docs/standard/base-types/standard-numeric-format-strings.md
Labels: verify-build-before-merge

#13490 Added note about ASPNETCORE projects
  docs/core/testing/index.md
  docs/core/testing/unit-testing-fsharp-with-dotnet-test.md
  docs/core/testing/unit-testing-fsharp-with-mstest.md
  docs/core/testing/unit-testing-fsharp-with-nunit.md
  docs/core/testing/unit-testing-visual-basic-with-dotnet-test.md
  docs/core/testing/unit-testing-visual-basic-with-mstest.md
  docs/core/testing/unit-testing-visual-basic-with-nunit.md
  docs/core/testing/unit-testing-with-dotnet-test.md
  docs/core/testing/unit-testing-with-mstest.md
  docs/core/testing/unit-testing-with-nunit.md
  includes/core-testing-note-aspnet.md
Labels: changes-addressed

#14131 Remove duplicate links
  docs/framework/data/adonet/sql/linq/sequence-operators.md
Labels: changes-addressed

#14133 Update if-then-else-statement.md
  docs/visual-basic/language-reference/statements/if-then-else-statement.md
Labels: changes-addressed

#14140 Restore XML format to WF configuration section
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/activityscheduledqueries.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/activityscheduledquery.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/activitystatequeries.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/activitystatequery.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/add-of-participants.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/argument.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/arguments.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/behavior-of-servicebehaviors-of-workflow.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/behaviors-of-workflow.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/bookmarkresumptionqueries.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/bookmarkresumptionquery.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/bufferreceive.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/cancelrequestedqueries.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/cancelrequestedquery.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/channelsettings.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/customtrackingqueries.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/customtrackingquery.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/etwtracking.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/factorysettings.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/faultpropagationqueries.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/faultpropagationquery.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/participants.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/sendmessagechannelcache.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/servicebehaviors-of-workflow.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/sqlworkflowinstancestore.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/state-of-states.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/state.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/states-of-activitystatequery.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/states.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/system-servicemodel-of-workflow.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/tracking.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/trackingprofile.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/variable.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/variables.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/workflow.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/workflowidle.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/workflowinstancemanagement.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/workflowinstancequeries.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/workflowinstancequery.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/workflowunhandledexception.md
Labels: changes-addressed

#14235 Update override.md
  docs/csharp/language-reference/keywords/override.md
Labels: :sparkles: 1st-time docs contributor!

#14256 Remove redundant use of string interpolation in linq to xml doc
  docs/csharp/programming-guide/concepts/linq/linq-to-xml-overview.md
Labels: :sparkles: 1st-time docs contributor!

#14239 Fix documentation for TLS in 4.7 Framework
  docs/framework/network-programming/tls.md
Labels: :card_file_box: Technology - NCL, changes-addressed

#14192 fix links to not redirect and removed dupe entry
  index.md
Labels: :bookmark_tabs: Information Architecture

#14262 Update local-functions.md
  docs/csharp/programming-guide/classes-and-structs/local-functions.md
Labels: :sparkles: 1st-time docs contributor!

#14276 update .net architecture metadata
  .ghal.rules.json
  docfx.json
Labels: :books: Area - .NET Architecture Guide

#14015 Improve description of dotnet restore --source
  docs/core/tools/dotnet-restore.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI, :sparkles: 1st-time docs contributor!, doc-enhancement

#14244 US 1583733 Add missing language IDs - 17
  docs/framework/debug-trace-profile/jitcompilationstart-mda.md
  docs/framework/debug-trace-profile/marshaling-mda.md
  docs/framework/debug-trace-profile/noncomvisiblebaseclass-mda.md
  docs/framework/debug-trace-profile/reentrancy-mda.md
  docs/framework/debug-trace-profile/releasehandlefailed-mda.md
  docs/framework/debug-trace-profile/virtualcercall-mda.md
  docs/framework/deployment/deployment-guide-for-developers.md
  docs/framework/deployment/how-the-runtime-locates-assemblies.md
  docs/framework/deployment/how-to-debug-clr-activation-issues.md
  docs/framework/deployment/how-to-get-progress-from-the-dotnet-installer.md
  docs/framework/interop/configure-net-framework-based-com-components-for-reg.md
  docs/framework/interop/creating-prototypes-in-managed-code.md
Labels: vendor-project

#14317 C117607: Adding hard break line and closing square bracket
  docs/framework/unmanaged-api/profiling/icorprofilerinfo8-isfunctiondynamic-method.md
Labels: loc

#14318 C117610: Closing square bracket
  docs/framework/unmanaged-api/profiling/icorprofilerinfo8-getfunctionfromip3-method.md
Labels: loc

#14316 C117640Escaping backslah to avoid localization content
  docs/visual-basic/language-reference/operators/data-types-of-operator-results.md
Labels: loc, verify-build-before-merge

#14314 US 1583733 Add missing language IDs - 23
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamesignaturegenerationex-method.md
  docs/framework/unmanaged-api/hosting/iclrsyncmanager-getrwlockownernext-method.md
  docs/framework/unmanaged-api/hosting/ihostsecuritycontext-capture-method.md
  docs/framework/unmanaged-api/hosting/ihostsecuritymanager-getsecuritycontext-method.md
  docs/framework/unmanaged-api/metadata/imetadataassemblyimport-findmanifestresourcebyname-method.md
  docs/framework/unmanaged-api/metadata/imetadataimport2-enumgenericparams-method.md
  docs/framework/unmanaged-api/profiling/functiontailcall-function.md
  docs/framework/unmanaged-api/profiling/functiontailcall2-function.md
  docs/framework/unmanaged-api/profiling/icorprofilerinfo4-getrejitids-method.md
  docs/framework/unmanaged-api/wmi/blessiwbemservices.md
  docs/framework/wcf/accessing-services-using-a-wcf-client.md
  docs/framework/wcf/com-service-model-configuration-tool-comsvcconfig-exe.md
  docs/framework/wcf/configuring-wcf-services-in-code.md
  docs/framework/wcf/diagnostics/performance-counters/endpoint-performance-counters.md
  docs/framework/wcf/diagnostics/performance-counters/index.md
  docs/framework/wcf/diagnostics/performance-counters/operation-performance-counters.md
  docs/framework/wcf/diagnostics/performance-counters/service-performance-counters.md
  docs/framework/wcf/diagnostics/tracing/recommended-settings-for-tracing-and-message-logging.md
  docs/framework/wcf/diagnostics/tracing/trace-type-summary.md
  docs/framework/wcf/diagnostics/wmi/index.md
Labels: vendor-project

#14322 update redirected link
  docs/machine-learning/index.yml
Labels: :books: Area - ML.NET Guide

#14319 Update table format
  docs/framework/deployment/deployment-guide-for-developers.md
Labels: verify-build-before-merge

#14329 inserted missing Visual Studio versions
  docs/csharp/whats-new/csharp-version-history.md
Labels: :sparkles: 1st-time docs contributor!

#14099 Cloudnative ch4
  docs/architecture/cloud-native/communication-considerations.md
  docs/architecture/cloud-native/communication-patterns.md
  docs/architecture/cloud-native/cross-service-communication.md
  docs/architecture/cloud-native/distributed-data.md
  docs/architecture/cloud-native/front-end-communication.md
  docs/architecture/cloud-native/media/aggregator-service.png
  docs/architecture/cloud-native/media/api-gateway-pattern.png
  docs/architecture/cloud-native/media/application-gateway-ingress-controller.png
  docs/architecture/cloud-native/media/azure-api-management.png
  docs/architecture/cloud-native/media/azure-signalr-service.png
  docs/architecture/cloud-native/media/backend-for-frontend-pattern.png
  docs/architecture/cloud-native/media/chaining-http-queries.png
  docs/architecture/cloud-native/media/command-interaction-with-queue.png
  docs/architecture/cloud-native/media/direct-client-to-service-communication.png
  docs/architecture/cloud-native/media/direct-http-communication.png
  docs/architecture/cloud-native/media/event-driven-messaging.png
  docs/architecture/cloud-native/media/grpc-project.png
  docs/architecture/cloud-native/media/grpc-usage.png
  docs/architecture/cloud-native/media/istio-control-and-data-plane.png
  docs/architecture/cloud-native/media/request-reply-pattern.png
  docs/architecture/cloud-native/media/service-mesh-control-and-data-plane.png
  docs/architecture/cloud-native/media/service-mesh-with-side-car.png
  docs/architecture/cloud-native/media/topic-architecture.png
  docs/architecture/cloud-native/media/visual-studio-2019-grpc-template.png
  docs/architecture/cloud-native/resilient-communications.md
  docs/architecture/cloud-native/rest-and-grpc.md
  docs/architecture/cloud-native/service-mesh-communication-infrastructure.md
  docs/architecture/cloud-native/service-to-service-communication.md
  docs/architecture/cloud-native/toc.yml
Labels: :books: Area - .NET Architecture Guide

#14240 US 1583733 Add missing language IDs - 16
  docs/framework/data/adonet/sql/modifying-large-value-max-data.md
  docs/framework/data/adonet/sql/ownership-and-user-schema-separation-in-sql-server.md
  docs/framework/data/adonet/sql/sql-server-express-user-instances.md
  docs/framework/data/adonet/sql/sqlclient-support-for-localdb.md
  docs/framework/data/adonet/sql/table-valued-parameters.md
  docs/framework/data/adonet/system-requirements-for-the-dotnet-data-provider-for-oracle.md
  docs/framework/data/wcf/accessing-data-service-resources-wcf-data-services.md
  docs/framework/data/wcf/accessing-the-service-from-a-web-browser-wcf-data-services-quickstart.md
  docs/framework/data/wcf/hosting-the-data-service-wcf-data-services.md
  docs/framework/data/wcf/how-to-manually-generate-client-data-service-classes-wcf-data-services.md
  docs/framework/data/wcf/linq-considerations-wcf-data-services.md
  docs/framework/data/wcf/querying-the-data-service-wcf-data-services.md
  docs/framework/data/wcf/service-operations-wcf-data-services.md
  docs/framework/data/wcf/using-actions-to-implement-server-side-behavior.md
  docs/framework/data/wcf/wcf-data-service-client-utility-datasvcutil-exe.md
Labels: changes-addressed, vendor-project

#14261 US 1583733 Add missing language IDs - 18
  docs/framework/interop/default-marshaling-for-arrays.md
  docs/framework/interop/how-to-create-wrappers-manually.md
  docs/framework/interop/how-to-generate-primary-interop-assemblies-using-tlbimp-exe.md
  docs/framework/interop/how-to-implement-callback-functions.md
  docs/framework/interop/marshaling-classes-structures-and-unions.md
  docs/framework/interop/marshaling-different-types-of-arrays.md
  docs/framework/interop/msgbox-sample.md
  docs/framework/interop/passing-structures.md
  docs/framework/mef/composition-analysis-tool-mefx.md
  docs/framework/migration-guide/mitigation-deserialization-of-objects-across-app-domains.md
Labels: changes-addressed, vendor-project

#14326 test formatting + no loc
  docs/framework/configure-apps/file-schema/wcf/issuerchannelbehaviors-element.md
Labels: loc

#14289 Add intro
  docs/architecture/blazor-for-web-forms-developers/introduction.md
  docs/architecture/blazor-for-web-forms-developers/toc.yml
Labels: :books: Area - .NET Architecture Guide

#14324 review data index page
  docs/framework/data/index.md
Labels: migration-fixes, verify-build-before-merge

#14331 Improve CSAT on Design-time errors in the Windows Forms Designer
  docs/framework/winforms/controls/design-time-errors-in-the-windows-forms-designer.md
  docs/framework/winforms/controls/media/windows-forms-designer-error-page-collapsed.png
  docs/framework/winforms/controls/media/windows-forms-designer-error-page-expanded.png
Labels: :card_file_box: Technology - WinForms, doc-enhancement

#14333 [desktop-wpf] Add styles overview article
  docs/desktop-wpf/fundamentals/media/styles-and-templates-overview/stylingintro-eventtriggers.png
  docs/desktop-wpf/fundamentals/media/styles-and-templates-overview/stylingintro-listboxbefore.png
  docs/desktop-wpf/fundamentals/media/styles-and-templates-overview/stylingintro-photosasimages.png
  docs/desktop-wpf/fundamentals/media/styles-and-templates-overview/stylingintro-textblocks.png
  docs/desktop-wpf/fundamentals/media/styles-and-templates-overview/stylingintro-textblocksbasestyle.png
  docs/desktop-wpf/fundamentals/media/styles-and-templates-overview/stylingintro-textblocksbefore.png
  docs/desktop-wpf/fundamentals/media/styles-and-templates-overview/stylingintro-triggers.png
  docs/desktop-wpf/fundamentals/styles-and-templates-overview.md
  docs/desktop-wpf/fundamentals/xaml-resources-define.md
Labels: :books: Area - Desktop Guide, :card_file_box: Technology - WPF

#14360 Update MSFT blog links
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/domain-events-design-implementation.md
  docs/architecture/microservices/multi-container-microservice-net-applications/microservice-application-design.md
  docs/architecture/serverless/serverless-business-scenarios.md
  docs/csharp/expression-trees-translating.md
  docs/csharp/language-reference/compiler-messages/cs0165.md
  docs/csharp/language-reference/compiler-messages/cs0246.md
  docs/csharp/misc/cs0473.md
  docs/csharp/programming-guide/concepts/async/start-multiple-async-tasks-and-process-them-as-they-complete.md
  docs/csharp/programming-guide/concepts/expression-trees/index.md
  docs/framework/net-native/measuring-startup-improvement-with-net-native.md
  docs/framework/performance/caching-in-net-framework-applications.md
  docs/framework/performance/index.md
  docs/framework/performance/writing-large-responsive-apps.md
  docs/framework/unmanaged-api/debugging/icordebugfunction3-getactiverejitrequestilcode-method.md
  docs/framework/unmanaged-api/debugging/icordebugfunction3-interface.md
  docs/framework/unmanaged-api/debugging/icordebugilframe4-enumeratelocalvariablesex-method.md
  docs/framework/unmanaged-api/debugging/icordebugilframe4-getcodeex-method.md
  docs/framework/unmanaged-api/debugging/icordebugilframe4-getlocalvariableex-method.md
  docs/framework/unmanaged-api/debugging/ilcodekind-enumeration.md
  docs/framework/wcf/feature-details/accessing-wcf-services-with-a-windows-store-client-app.md
  docs/framework/wcf/feature-details/serializing-in-json-with-message-level-programming.md
  docs/fsharp/using-fsharp-on-azure/table-storage.md
  docs/standard/asynchronous-programming-patterns/consuming-the-task-based-asynchronous-pattern.md
  docs/standard/garbage-collection/large-object-heap.md
  docs/standard/parallel-programming/for-further-reading-parallel-programming.md
  docs/standard/parallel-programming/how-to-iterate-file-directories-with-plinq.md
  docs/visual-basic/programming-guide/concepts/async/start-multiple-async-tasks-and-process-them-as-they-complete.md
  includes/migration-guide/retargeting/wf/workflow-30-types-are-obsolete.md
Labels: vendor-project

#14372 [desktop-guide] simplify names of WPF files
  docs/desktop-wpf/fundamentals/display-dialog-popup.md
  docs/desktop-wpf/fundamentals/localize-app.md
  docs/desktop-wpf/fundamentals/styles-templates-create-apply-style.md
  docs/desktop-wpf/fundamentals/styles-templates-create-apply-template.md
  docs/desktop-wpf/fundamentals/styles-templates-overview.md
  docs/desktop-wpf/getting-started/how-to-create-application.md
  docs/desktop-wpf/getting-started/how-to-create-control-library.md
  docs/desktop-wpf/toc.yml
  docs/desktop-wpf/working-with-data/add-data-source.md
  docs/desktop-wpf/working-with-data/databind-control.md
  docs/desktop-wpf/working-with-data/use-datagrid-control.md
Labels: :books: Area - Desktop Guide, :card_file_box: Technology - WPF

#14376 [desktop-guide] Change title moniker
  docs/desktop-wpf/fundamentals/accessibility.md
  docs/desktop-wpf/fundamentals/display-dialog-popup.md
  docs/desktop-wpf/fundamentals/draw-shapes.md
  docs/desktop-wpf/fundamentals/localize-app.md
  docs/desktop-wpf/fundamentals/styles-templates-create-apply-style.md
  docs/desktop-wpf/fundamentals/styles-templates-create-apply-template.md
  docs/desktop-wpf/fundamentals/styles-templates-overview.md
  docs/desktop-wpf/fundamentals/xaml-resources-define.md
  docs/desktop-wpf/fundamentals/xaml.md
  docs/desktop-wpf/getting-started/how-to-create-application.md
  docs/desktop-wpf/getting-started/how-to-create-control-library.md
  docs/desktop-wpf/migration/convert-project-from-net-framework.md
  docs/desktop-wpf/migration/differences-from-net-framework.md
  docs/desktop-wpf/publishing/create-nuget-package.md
  docs/desktop-wpf/publishing/package-app-msix.md
  docs/desktop-wpf/publishing/publish-microsoft-store.md
  docs/desktop-wpf/working-with-data/add-data-source.md
  docs/desktop-wpf/working-with-data/databind-control.md
  docs/desktop-wpf/working-with-data/use-datagrid-control.md
  docs/desktop-wpf/working-with-data/validate-control-input.md
Labels: :books: Area - Desktop Guide, :card_file_box: Technology - WPF

#14368 Add note explaining data preparation applies to labels
  docs/machine-learning/how-to-guides/prepare-data-ml-net.md
Labels: :books: Area - ML.NET Guide

#14381 Incorporate Acrolinx feedback in Blazor hosting model chapter
  docs/architecture/blazor-for-web-forms-developers/hosting-models.md
Labels: :books: Area - .NET Architecture Guide

#14354 Add hosting models section
  docs/architecture/blazor-for-web-forms-developers/hosting-models.md
  docs/architecture/blazor-for-web-forms-developers/media/hosting-models/blazor-server.png
  docs/architecture/blazor-for-web-forms-developers/media/hosting-models/blazor-webassembly.png
Labels: :books: Area - .NET Architecture Guide

#14377 replace ... with code structure
  docs/framework/wcf/samples/custom-message-filter.md
  docs/framework/wcf/samples/custom-message-interceptor.md
Labels: verify-build-before-merge

#14396 Removed time table in price model builder doc
  docs/machine-learning/tutorials/predict-prices-with-model-builder.md
Labels: :books: Area - ML.NET Guide, doc-update

#14400 US 1583733 Add missing language IDs - 36
  docs/framework/windows-workflow-foundation/creating-an-activity-at-runtime-with-dynamicactivity.md
  docs/framework/windows-workflow-foundation/creating-custom-flow-control-activities.md
  docs/framework/windows-workflow-foundation/expressions.md
  docs/framework/windows-workflow-foundation/how-to-create-a-custom-activity-template.md
  docs/framework/windows-workflow-foundation/how-to-create-a-custom-persistence-participant.md
  docs/framework/windows-workflow-foundation/how-to-create-a-flowchart-workflow.md
  docs/framework/windows-workflow-foundation/how-to-create-a-sequential-workflow.md
  docs/framework/windows-workflow-foundation/how-to-create-a-state-machine-workflow.md
  docs/framework/windows-workflow-foundation/how-to-create-a-workflow-service-that-consumes-an-existing-service-contract.md
  docs/framework/windows-workflow-foundation/how-to-deserialize-instance-data-properties.md
  docs/framework/windows-workflow-foundation/how-to-display-validation-errors-in-a-rehosted-designer.md
  docs/framework/windows-workflow-foundation/how-to-host-multiple-versions-of-a-workflow-side-by-side.md
  docs/framework/windows-workflow-foundation/nativeactivity-base-class.md
  docs/framework/windows-workflow-foundation/performance.md
  docs/framework/windows-workflow-foundation/required-arguments-and-overload-groups.md
  docs/framework/windows-workflow-foundation/samples/accessing-operationcontext.md
Labels: vendor-project

#14404 US 1583733 Add missing language IDs - 37
  docs/framework/windows-workflow-foundation/samples/externalized-policy-activity-in-net-framework-4-5.md
  docs/framework/windows-workflow-foundation/samples/get-workflowinstanceid.md
  docs/framework/windows-workflow-foundation/samples/linq-message-query-correlation.md
  docs/framework/windows-workflow-foundation/samples/non-generic-foreach.md
  docs/framework/windows-workflow-foundation/samples/sendmail-custom-activity.md
  docs/framework/windows-workflow-foundation/task-3-create-the-toolbox-and-propertygrid-panes.md
  docs/framework/windows-workflow-foundation/using-a-custom-expression-editor.md
  docs/framework/windows-workflow-foundation/using-activity-delegates.md
  docs/framework/windows-workflow-foundation/using-activity-extensions.md
  docs/framework/windows-workflow-foundation/using-the-modelitem-editing-context.md
  docs/framework/windows-workflow-foundation/workflow-execution-properties.md
  docs/framework/winforms/advanced/how-to-read-image-metadata.md
  docs/framework/winforms/controls/accessing-unexposed-members-on-the-managed-html-document-object-model.md
  docs/framework/winforms/controls/providing-accessibility-information-for-controls-on-a-windows-form.md
  docs/framework/wpf/advanced/binding-markup-extension.md
  docs/framework/wpf/advanced/disable-the-realtimestylus-for-wpf-applications.md
  docs/framework/wpf/advanced/freezable-objects-overview.md
Labels: vendor-project, verify-build-before-merge

#14348 US 1583733 Add missing language IDs - 28
  docs/framework/wcf/feature-details/how-to-use-metadataresolver-to-obtain-binding-metadata-dynamically.md
  docs/framework/wcf/feature-details/how-to-use-svcutil-exe-to-download-metadata-documents.md
  docs/framework/wcf/feature-details/how-to-use-svcutil-exe-to-export-metadata-from-compiled-service-code.md
  docs/framework/wcf/feature-details/how-to-use-svcutil-exe-to-validate-compiled-service-code.md
  docs/framework/wcf/feature-details/how-to-use-the-com-service-model-configuration-tool.md
  docs/framework/wcf/feature-details/http-post-and-http-get-requests-for-aspnet-ajax-endpoints.md
  docs/framework/wcf/feature-details/integrating-enterprise-services-transactional-components.md
  docs/framework/wcf/feature-details/interop-with-aspnet-web-services.md
  docs/framework/wcf/feature-details/large-data-and-streaming.md
  docs/framework/wcf/feature-details/one-way-services.md
  docs/framework/wcf/feature-details/ordered-processing-of-messages-in-single-concurrency-mode.md
  docs/framework/wcf/feature-details/request-reply-services.md
  docs/framework/wcf/feature-details/serializing-in-json-with-message-level-programming.md
Labels: vendor-project

#14410 US 1583733 Add missing language IDs - 38
  docs/framework/wpf/advanced/globalization-for-wpf.md
  docs/framework/wpf/advanced/hosting-win32-content-in-wpf.md
  docs/framework/wpf/advanced/markup-extensions-and-wpf-xaml.md
  docs/framework/wpf/advanced/mc-ignorable-attribute.md
  docs/framework/wpf/advanced/mc-processcontent-attribute.md
  docs/framework/wpf/advanced/presentationoptions-freeze-attribute.md
  docs/framework/wpf/advanced/safe-constructor-patterns-for-dependencyobjects.md
  docs/framework/wpf/advanced/walkthrough-creating-direct3d9-content-for-hosting-in-wpf.md
  docs/framework/wpf/advanced/walkthrough-enabling-drag-and-drop-on-a-user-control.md
  docs/framework/wpf/advanced/walkthrough-hosting-a-windows-forms-composite-control-in-wpf.md
  docs/framework/wpf/advanced/walkthrough-hosting-a-wpf-composite-control-in-windows-forms.md
  docs/framework/wpf/advanced/walkthrough-localizing-a-hybrid-application.md
  docs/framework/wpf/advanced/weak-event-patterns.md
  docs/framework/wpf/advanced/xaml-syntax-in-detail.md
  docs/framework/wpf/app-development/filterinputmessage.md
  docs/framework/wpf/app-development/getcustomui.md
  docs/framework/wpf/app-development/getrawinputdevices.md
Labels: vendor-project

#14380 US 1583733 Add missing language IDs - 32
  docs/framework/wcf/samples/durable-instance-context.md
  docs/framework/wcf/samples/durable-issued-token-provider.md
  docs/framework/wcf/samples/etw-tracing.md
  docs/framework/wcf/samples/expected-exceptions.md
  docs/framework/wcf/samples/extending-control-over-error-handling-and-reporting.md
  docs/framework/wcf/samples/feed-formatter-json.md
  docs/framework/wcf/samples/findprivatekey.md
  docs/framework/wcf/samples/getting-started-sample.md
  docs/framework/wcf/samples/httpcookiesession.md
  docs/framework/wcf/samples/iis-server-certificate-installation-instructions.md
  docs/framework/wcf/samples/impersonating-the-client.md
  docs/framework/wcf/samples/instancing-initialization.md
  docs/framework/wcf/samples/interoperating-with-asmx-web-services.md
  docs/framework/wcf/samples/jsonp.md
  docs/framework/wcf/samples/loosely-typed-extensions-sample.md
Labels: vendor-project

#14373 US 1583733 Add missing language IDs - 30
  docs/framework/wcf/find-private-key-tool-findprivatekey-exe.md
  docs/framework/wcf/fundamental-concepts.md
  docs/framework/wcf/generating-data-type-classes-from-xml.md
  docs/framework/wcf/how-to-specify-a-client-binding-in-code.md
  docs/framework/wcf/how-to-specify-a-client-binding-in-configuration.md
  docs/framework/wcf/samples/addressing.md
  docs/framework/wcf/samples/authorization-policy.md
  docs/framework/wcf/samples/basicbinding-with-transport-security.md
  docs/framework/wcf/samples/basicbinding.md
  docs/framework/wcf/samples/building-the-samples.md
  docs/framework/wcf/samples/channel-factory.md
  docs/framework/wcf/samples/chunking-channel.md
  docs/framework/wcf/samples/configuration-sample.md
  docs/framework/wcf/samples/configurationcodegenerator.md
  docs/framework/wcf/samples/custom-binding-imperative.md
  docs/framework/wcf/samples/custom-binding-reliable-session-over-https.md
  docs/framework/wcf/samples/custom-binding-reliable-session.md
  docs/framework/wcf/samples/custom-binding-security.md
Labels: vendor-project

#13785 CLI Updates for Preview 7 - Part 1
  docs/core/tools/dotnet-build.md
  docs/core/tools/dotnet-help.md
  docs/core/tools/dotnet-migrate.md
  docs/core/tools/dotnet-pack.md
  includes/topic-appliesto-net-core-22plus.md
  includes/topic-appliesto-net-core-2plus.md
  includes/topic-appliesto-net-core-all.md
Labels: :card_file_box: Technology - CLI, :checkered_flag: Release: .NET Core 3.0, verify-build-before-merge

#14428 Update to add more clarification
  docs/standard/analyzers/portability-analyzer.md
Labels: :card_file_box: Technology - WCF, doc-enhancement

#14365 Updated .Net Core version
  docs/core/tutorials/vb-with-visual-studio.md
  docs/core/tutorials/with-visual-studio.md
Labels: :books: Area - .NET Core Guide, :sparkles: 1st-time docs contributor!, doc-bug

#14421 Update cs0819.md
  docs/csharp/misc/cs0819.md
Labels: :books: Area - C# Guide, doc-update

#13796 Binary Classification Razor Pages Model Builder Tutorial
  docs/machine-learning/tutorials/media/sentiment-analysis-model-builder/model-builder-screen.png
  docs/machine-learning/tutorials/media/sentiment-analysis-model-builder/web-app.png
  docs/machine-learning/tutorials/sentiment-analysis-model-builder.md
Labels: :books: Area - ML.NET Guide, new-content

#14459 Adding sentiment analysis razor tutorial to TOC
  docs/machine-learning/index.yml
  docs/machine-learning/toc.yml
Labels: :books: Area - ML.NET Guide, :construction: Hold for related PR, new-content

#14465 US 1583733 Add missing language IDs - 39
  docs/framework/wpf/app-development/how-to-detect-whether-the-net-framework-3-0-is-installed.md
  docs/framework/wpf/app-development/how-to-detect-whether-the-net-framework-3-5-is-installed.md
  docs/framework/wpf/app-development/ienumrawinputdevic-clone.md
  docs/framework/wpf/app-development/ienumrawinputdevic-next.md
  docs/framework/wpf/app-development/ienumrawinputdevic-reset.md
  docs/framework/wpf/app-development/ienumrawinputdevic-skip.md
  docs/framework/wpf/app-development/native-wpf-browser-hosting-support-apis.md
  docs/framework/xaml-services/built-in-types-for-common-xaml-language-primitives.md
  docs/framework/xaml-services/escape-sequence-markup-extension.md
  docs/framework/xaml-services/markup-extensions-for-xaml-overview.md
  docs/framework/xaml-services/service-contexts-available-to-type-converters-and-markup-extensions.md
  docs/framework/xaml-services/x-arguments-directive.md
  docs/framework/xaml-services/x-class-directive.md
  docs/framework/xaml-services/x-classmodifier-directive.md
  docs/framework/xaml-services/x-code-intrinsic-xaml-type.md
  docs/framework/xaml-services/x-factorymethod-directive.md
  docs/framework/xaml-services/x-key-directive.md
  docs/framework/xaml-services/x-member-directive.md
  docs/framework/xaml-services/x-members-directive.md
  docs/framework/xaml-services/x-property-directive.md
  docs/framework/xaml-services/x-subclass-directive.md
  docs/framework/xaml-services/x-typearguments-directive.md
  docs/framework/xaml-services/x-xdata-intrinsic-xaml-type.md
  docs/framework/xaml-services/xamlname-grammar.md
Labels: vendor-project

#13759 Microservices architecture e book publishing/general changes reloaded
  docs/architecture/microservices/architect-microservice-container-applications/docker-application-state-data.md
  docs/architecture/microservices/architect-microservice-container-applications/media/image24.png
  docs/architecture/microservices/architect-microservice-container-applications/media/image41.png
  docs/architecture/microservices/architect-microservice-container-applications/media/image8.png
  docs/architecture/microservices/architect-microservice-container-applications/scalable-available-multi-container-microservice-applications.md
  docs/architecture/microservices/container-docker-introduction/media/image1.png
  docs/architecture/microservices/container-docker-introduction/media/image3.png
  docs/architecture/microservices/container-docker-introduction/media/image4.png
  docs/architecture/microservices/docker-application-development-process/docker-app-development-workflow.md
  docs/architecture/microservices/docker-application-development-process/media/image10.png
  docs/architecture/microservices/docker-application-development-process/media/image12.png
  docs/architecture/microservices/docker-application-development-process/media/image17.png
  docs/architecture/microservices/docker-application-development-process/media/image2.png
  docs/architecture/microservices/docker-application-development-process/media/image4.png
  docs/architecture/microservices/docker-application-development-process/media/image5.png
  docs/architecture/microservices/docker-application-development-process/media/image6.png
  docs/architecture/microservices/docker-application-development-process/media/image7.png
  docs/architecture/microservices/implement-resilient-applications/media/image7.png
  docs/architecture/microservices/implement-resilient-applications/monitor-app-health.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/enumeration-classes-over-enum-types.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/image20-bis.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/nosql-database-persistence-infrastructure.md
  docs/architecture/microservices/multi-container-microservice-net-applications/background-tasks-with-ihostedservice.md
  docs/architecture/microservices/multi-container-microservice-net-applications/data-driven-crud-microservice.md
  docs/architecture/microservices/multi-container-microservice-net-applications/database-server-container.md
  docs/architecture/microservices/multi-container-microservice-net-applications/media/image21.png
  docs/architecture/microservices/multi-container-microservice-net-applications/media/image30.png
  docs/architecture/microservices/multi-container-microservice-net-applications/microservice-application-design.md
  docs/architecture/microservices/multi-container-microservice-net-applications/multi-container-applications-docker-compose.md
  docs/architecture/microservices/multi-container-microservice-net-applications/subscribe-events.md
  docs/architecture/microservices/net-core-net-framework-containers/container-framework-choice-factors.md
  docs/architecture/microservices/net-core-net-framework-containers/net-container-os-targets.md
  docs/architecture/microservices/net-core-net-framework-containers/net-framework-container-scenarios.md
  docs/architecture/microservices/net-core-net-framework-containers/official-net-docker-images.md
Labels: :books: Area - .NET Architecture Guide

#12898 Added the word "such"
  docs/csharp/programming-guide/interfaces/index.md
Labels: :sparkles: 1st-time docs contributor!

#14423 turn off feedback for WCF Data Services
  docfx.json
Labels: :bookmark_tabs: Information Architecture, verify-build-before-merge

#14405 Text classification tutorial using TensorFlow
  docs/machine-learning/index.yml
  docs/machine-learning/toc.yml
  docs/machine-learning/tutorials/image-classification.md
  docs/machine-learning/tutorials/index.md
  docs/machine-learning/tutorials/media/text-classification-tf/sentiment-model-files.png
  docs/machine-learning/tutorials/text-classification-tf.md
Labels: :books: Area - ML.NET Guide, new-content

#10302 Add -KeyUsage that includes CertSign and change OIDs to use Extended …
  docs/framework/wcf/feature-details/how-to-create-temporary-certificates-for-use-during-development.md
Labels: :card_file_box: Technology - WCF

#14472 Fixed table
  docs/architecture/cloud-native/definition.md
Labels: :books: Area - .NET Architecture Guide

#14466 US 1583733 Add missing language IDs - 40
  docs/fsharp/get-started/get-started-visual-studio.md
  docs/fsharp/get-started/get-started-vscode.md
  docs/fsharp/get-started/get-started-with-visual-studio-for-mac.md
  docs/fsharp/language-reference/abstract-classes.md
  docs/fsharp/language-reference/active-patterns.md
  docs/fsharp/language-reference/arrays.md
  docs/fsharp/language-reference/attributes.md
  docs/fsharp/language-reference/computation-expressions.md
  docs/fsharp/language-reference/conditional-expressions-if-then-else.md
  docs/fsharp/language-reference/discriminated-unions.md
  docs/fsharp/language-reference/exception-handling/the-invalidArg-function.md
  docs/fsharp/language-reference/exception-handling/the-try-finally-expression.md
  docs/fsharp/language-reference/flexible-types.md
  docs/fsharp/language-reference/fsharp-interactive-options.md
  docs/fsharp/language-reference/generics/statically-resolved-type-parameters.md
  docs/fsharp/language-reference/lists.md
Labels: vendor-project

#14325 update title + instructions
  docs/core/tutorials/using-on-macos.md
Labels: verify-build-before-merge

#14494 Removing inheritance in Predictions How-To
  docs/machine-learning/how-to-guides/machine-learning-model-predictions-ml-net.md
Labels: :books: Area - ML.NET Guide

#14496 Updated title for consistency
  docs/machine-learning/tutorials/predict-prices-with-model-builder.md
Labels: :books: Area - ML.NET Guide

#14478 add protobuf to the spellchecker file
  cSpell.json
Labels: :books: Area - .NET Architecture Guide

#14486 Update what's new to RC1
  docs/core/whats-new/dotnet-core-3-0.md
Labels: :books: Area - .NET Core Guide, :checkered_flag: Release: .NET Core 3.0, doc-update

#14502 Rename jpeg to png
  docs/architecture/cloud-native/leverage-serverless-functions.md
  docs/architecture/cloud-native/media/cold-start-warm-start.jpeg
  docs/architecture/cloud-native/media/cold-start-warm-start.png
Labels: :books: Area - .NET Architecture Guide

#14503 Edit pass on Blazor eBook's migration chapter
  docs/architecture/blazor-for-web-forms-developers/migration.md
Labels: :books: Area - .NET Architecture Guide

#14507 Fix typo in cleartype docs
  docs/framework/wpf/advanced/cleartype-registry-settings.md
Labels: :sparkles: 1st-time docs contributor!

#14509 update metadata for C# specs
  docfx.json
  docs/csharp/language-reference/toc.yml
  docs/visual-basic/reference/language-specification/toc.yml
Labels: external

#14513 The default checksum algorithm is SHA256
  docs/csharp/language-reference/compiler-options/listed-alphabetically.md
Labels: P1

#14515 create preview include
  includes/book-preview.md
Labels: :books: Area - .NET Architecture Guide

#14056 Add notes on how to implement custom DateTime(Offset) processing with JSON reader/writer
  docs/standard/datetime/system-text-json-support.md
Labels: :checkered_flag: Release: .NET Core 3.0

#14349 Add migration steps for Blazor
  docs/architecture/blazor-for-web-forms-developers/migration.md
Labels: :books: Area - .NET Architecture Guide

#14415 Add components section
  docs/architecture/blazor-for-web-forms-developers/components.md
Labels: :books: Area - .NET Architecture Guide

#14441 Add forms and validation section
  docs/architecture/blazor-for-web-forms-developers/forms-validation.md
  docs/architecture/blazor-for-web-forms-developers/toc.yml
Labels: :books: Area - .NET Architecture Guide

#14436 Add pages, routing, and layouts section
  docs/architecture/blazor-for-web-forms-developers/page-layout.md
  docs/architecture/blazor-for-web-forms-developers/pages-routing-layouts.md
  docs/architecture/blazor-for-web-forms-developers/pages-routing.md
  docs/architecture/blazor-for-web-forms-developers/project-structure.md
  docs/architecture/blazor-for-web-forms-developers/toc.yml
Labels: :books: Area - .NET Architecture Guide

#14520 add note + fixes
  cSpell.json
  docs/architecture/cloud-native/application-bundles.md
  docs/architecture/cloud-native/application-resiliency-patterns.md
  docs/architecture/cloud-native/authentication-authorization.md
  docs/architecture/cloud-native/azure-active-directory.md
  docs/architecture/cloud-native/azure-data-storage.md
  docs/architecture/cloud-native/azure-monitor.md
  docs/architecture/cloud-native/azure-security.md
  docs/architecture/cloud-native/candidate-apps.md
  docs/architecture/cloud-native/centralized-configuration.md
  docs/architecture/cloud-native/cloud-native-data-patterns.md
  docs/architecture/cloud-native/combine-containers-serverless-approaches.md
  docs/architecture/cloud-native/communication-patterns.md
  docs/architecture/cloud-native/data-patterns.md
  docs/architecture/cloud-native/definition.md
  docs/architecture/cloud-native/deploy-containers-azure.md
  docs/architecture/cloud-native/deploy-eshoponcontainers-azure.md
  docs/architecture/cloud-native/devops.md
  docs/architecture/cloud-native/distributed-data.md
  docs/architecture/cloud-native/front-end-communication.md
  docs/architecture/cloud-native/identity-server.md
  docs/architecture/cloud-native/identity.md
  docs/architecture/cloud-native/index.md
  docs/architecture/cloud-native/infrastructure-as-code.md
  docs/architecture/cloud-native/infrastructure-resiliency-azure.md
  docs/architecture/cloud-native/introduce-eshoponcontainers-reference-app.md
  docs/architecture/cloud-native/introduction.md
  docs/architecture/cloud-native/leverage-containers-orchestrators.md
  docs/architecture/cloud-native/leverage-serverless-functions.md
  docs/architecture/cloud-native/logging-with-elastic-stack.md
  docs/architecture/cloud-native/map-eshoponcontainers-azure-services.md
  docs/architecture/cloud-native/media/istio-control-and-data-plane.png
  docs/architecture/cloud-native/monitoring-azure-kubernetes.md
  docs/architecture/cloud-native/monitoring-health.md
  docs/architecture/cloud-native/observability-patterns.md
  docs/architecture/cloud-native/other-deployment-options.md
  docs/architecture/cloud-native/resiliency.md
  docs/architecture/cloud-native/resilient-communications.md
  docs/architecture/cloud-native/rest-grpc.md
  docs/architecture/cloud-native/scale-applications.md
  docs/architecture/cloud-native/scale-containers-serverless.md
  docs/architecture/cloud-native/security.md
  docs/architecture/cloud-native/service-mesh-communication-infrastructure.md
  docs/architecture/cloud-native/service-to-service-communication.md
  docs/architecture/cloud-native/toc.yml
  docs/architecture/index.yml
  docs/architecture/toc.yml
  docs/breadcrumb/toc.yml
Labels: :books: Area - .NET Architecture Guide

#14551 Add reviewers for the new e-books
  .github/CODEOWNERS
Labels: :books: Area - .NET Architecture Guide

#14552 add new rules for auto-labeler
  .ghal.rules.json
Labels: :books: Area - .NET Architecture Guide

#14558 minor fixes to breaking changes
  includes/core-changes/corefx/ziparchiveentry-and-inconsistent-entry-sizes.md
  includes/core-changes/cryptography/envelopedcms-defaults-to-aes256.md
  includes/core-changes/cryptography/minimum-rsaopenssl-key-size-change.md
Labels: verify-build-before-merge

#14530 [desktop-guide] Add data binding overview
  docs/desktop-wpf/data/data-binding-overview.md
  docs/desktop-wpf/data/databind-control.md
  docs/desktop-wpf/data/index.md
  docs/desktop-wpf/data/media/data-binding-overview/basic-data-binding-diagram.png
  docs/desktop-wpf/data/media/data-binding-overview/data-binding-button-background-example.png
  docs/desktop-wpf/data/media/data-binding-overview/data-binding-button-default-conversion.png
  docs/desktop-wpf/data/media/data-binding-overview/data-binding-converter-color-example.png
  docs/desktop-wpf/data/media/data-binding-overview/data-binding-itemscontrol.png
  docs/desktop-wpf/data/media/data-binding-overview/data-binding-updatesource-trigger.png
  docs/desktop-wpf/data/media/data-binding-overview/databinding-dataflow.png
  docs/desktop-wpf/data/media/data-binding-overview/demo-addproductlisting.png
  docs/desktop-wpf/data/media/data-binding-overview/demo-no-template.png
  docs/desktop-wpf/data/media/data-binding-overview/demo-validation-date.png
  docs/desktop-wpf/data/media/data-binding-overview/demo-validation-price.png
  docs/desktop-wpf/data/media/data-binding-overview/demo.png
  docs/desktop-wpf/data/use-datagrid-control.md
  docs/desktop-wpf/data/validate-control-input.md
  docs/desktop-wpf/toc.yml
  docs/desktop-wpf/working-with-data/index.md
  docs/desktop-wpf/working-with-data/validate-control-input.md
Labels: :books: Area - Desktop Guide, :card_file_box: Technology - WPF, :checkered_flag: Release: .NET Core 3.0

#14562 add ms.technology values for the new e-books
  docfx.json
Labels: :books: Area - .NET Architecture Guide

#14303 gRPC e-book Chapter 2
  docs/architecture/grpc-for-wcf-developers/approach.md
  docs/architecture/grpc-for-wcf-developers/grpc-overview.md
  docs/architecture/grpc-for-wcf-developers/interface-definition-language.md
  docs/architecture/grpc-for-wcf-developers/network-protocols.md
  docs/architecture/grpc-for-wcf-developers/wcf-bindings.md
  docs/architecture/grpc-for-wcf-developers/why-grpc.md
Labels: :books: Area - .NET Architecture Guide

#14304 gRPC ebook Chapter 3 - Protocol Buffers
  docs/architecture/grpc-for-wcf-developers/protobuf-any-oneof.md
  docs/architecture/grpc-for-wcf-developers/protobuf-data-types.md
  docs/architecture/grpc-for-wcf-developers/protobuf-enums.md
  docs/architecture/grpc-for-wcf-developers/protobuf-maps.md
  docs/architecture/grpc-for-wcf-developers/protobuf-messages.md
  docs/architecture/grpc-for-wcf-developers/protobuf-nested-types.md
  docs/architecture/grpc-for-wcf-developers/protobuf-repeated.md
  docs/architecture/grpc-for-wcf-developers/protobuf-reserved.md
  docs/architecture/grpc-for-wcf-developers/protocol-buffers.md
Labels: :books: Area - .NET Architecture Guide

#14306 gRPC e-book Chapter 5
  docs/architecture/grpc-for-wcf-developers/client-libraries.md
  docs/architecture/grpc-for-wcf-developers/create-grpc-project.md
  docs/architecture/grpc-for-wcf-developers/create-project.md
  docs/architecture/grpc-for-wcf-developers/error-handling.md
  docs/architecture/grpc-for-wcf-developers/media/create-project/configure-project-dark.png
  docs/architecture/grpc-for-wcf-developers/media/create-project/configure-project.png
  docs/architecture/grpc-for-wcf-developers/media/create-project/create-new-grpc-service-dark.png
  docs/architecture/grpc-for-wcf-developers/media/create-project/create-new-grpc-service.png
  docs/architecture/grpc-for-wcf-developers/media/create-project/fresh-grpc-project-dark.png
  docs/architecture/grpc-for-wcf-developers/media/create-project/fresh-grpc-project.png
  docs/architecture/grpc-for-wcf-developers/media/create-project/new-grpc-project-dark.png
  docs/architecture/grpc-for-wcf-developers/media/create-project/new-grpc-project.png
  docs/architecture/grpc-for-wcf-developers/media/migrate-request-reply/add-connected-service-dark.png
  docs/architecture/grpc-for-wcf-developers/media/migrate-request-reply/add-connected-service.png
  docs/architecture/grpc-for-wcf-developers/media/migrate-request-reply/add-new-grpc-service-reference-dark.png
  docs/architecture/grpc-for-wcf-developers/media/migrate-request-reply/add-new-grpc-service-reference.png
  docs/architecture/grpc-for-wcf-developers/migrate-duplex-services.md
  docs/architecture/grpc-for-wcf-developers/migrate-request-reply.md
  docs/architecture/grpc-for-wcf-developers/migrate-wcf-to-grpc.md
  docs/architecture/grpc-for-wcf-developers/migrating-duplex-services.md
  docs/architecture/grpc-for-wcf-developers/migrating-request-reply.md
  docs/architecture/grpc-for-wcf-developers/migrating-wcf-to-grpc.md
  docs/architecture/grpc-for-wcf-developers/streaming-versus-repeated.md
  docs/architecture/grpc-for-wcf-developers/streaming-vs-repeated.md
  docs/architecture/grpc-for-wcf-developers/toc.yml
Labels: :books: Area - .NET Architecture Guide

#14307 gRPC e-book Chapter 6
  docs/architecture/grpc-for-wcf-developers/authentication.md
  docs/architecture/grpc-for-wcf-developers/call-credentials.md
  docs/architecture/grpc-for-wcf-developers/channel-credentials.md
  docs/architecture/grpc-for-wcf-developers/client-libraries.md
  docs/architecture/grpc-for-wcf-developers/encryption.md
  docs/architecture/grpc-for-wcf-developers/security.md
  docs/architecture/grpc-for-wcf-developers/toc.yml
Labels: :books: Area - .NET Architecture Guide

#14438 gRPC ebook Chapter 7
  docs/architecture/grpc-for-wcf-developers/apm.md
  docs/architecture/grpc-for-wcf-developers/application-performance-management.md
  docs/architecture/grpc-for-wcf-developers/docker.md
  docs/architecture/grpc-for-wcf-developers/grpc-in-production.md
  docs/architecture/grpc-for-wcf-developers/kubernetes.md
  docs/architecture/grpc-for-wcf-developers/load-balancing.md
  docs/architecture/grpc-for-wcf-developers/media/application-performance-management/grafana-screenshot.png
  docs/architecture/grpc-for-wcf-developers/media/kubernetes/enable-kubernetes-docker-desktop.png
  docs/architecture/grpc-for-wcf-developers/media/kubernetes/stockweb-screenshot.png
  docs/architecture/grpc-for-wcf-developers/media/service-mesh/linkerd-screenshot.png
  docs/architecture/grpc-for-wcf-developers/media/service-mesh/stockweb-servicemesh-screenshot.png
  docs/architecture/grpc-for-wcf-developers/self-hosted.md
  docs/architecture/grpc-for-wcf-developers/service-mesh.md
  docs/architecture/grpc-for-wcf-developers/toc.yml
Labels: :books: Area - .NET Architecture Guide

#14468 gRPC e-book chapter 1
  docs/architecture/grpc-for-wcf-developers/introduction.md
  docs/architecture/grpc-for-wcf-developers/toc.yml
Labels: :books: Area - .NET Architecture Guide

#14305 gRPC e-book Chapter 4
  docs/architecture/grpc-for-wcf-developers/comparing-wcf-services-to-grpc.md
  docs/architecture/grpc-for-wcf-developers/error-handling.md
  docs/architecture/grpc-for-wcf-developers/metadata.md
  docs/architecture/grpc-for-wcf-developers/rpc-types.md
  docs/architecture/grpc-for-wcf-developers/toc.yml
  docs/architecture/grpc-for-wcf-developers/types-of-rpc.md
  docs/architecture/grpc-for-wcf-developers/wcf-endpoints-and-grpc-methods.md
  docs/architecture/grpc-for-wcf-developers/wcf-endpoints-grpc-methods.md
  docs/architecture/grpc-for-wcf-developers/wcf-services-to-grpc-comparison.md
  docs/architecture/grpc-for-wcf-developers/ws-protocols.md
Labels: :books: Area - .NET Architecture Guide, verify-build-before-merge

#14495 Add Appendix content on transactions
  docs/architecture/grpc-for-wcf-developers/appendix.md
Labels: :books: Area - .NET Architecture Guide

#14580 minor fixes
  docs/architecture/cloud-native/azure-data-storage.md
  docs/architecture/cloud-native/azure-monitor.md
  docs/architecture/cloud-native/data-patterns.md
  docs/architecture/cloud-native/devops.md
  docs/architecture/cloud-native/index.md
  docs/architecture/cloud-native/map-eshoponcontainers-azure-services.md
  docs/architecture/cloud-native/media/azure-monitor.png
  docs/architecture/cloud-native/media/azure_dashboard.png
Labels: :books: Area - .NET Architecture Guide

#14571 gRPC edits
  docs/architecture/grpc-for-wcf-developers/appendix.md
  docs/architecture/grpc-for-wcf-developers/application-performance-management.md
  docs/architecture/grpc-for-wcf-developers/approach.md
  docs/architecture/grpc-for-wcf-developers/call-credentials.md
  docs/architecture/grpc-for-wcf-developers/channel-credentials.md
  docs/architecture/grpc-for-wcf-developers/client-libraries.md
  docs/architecture/grpc-for-wcf-developers/create-project.md
  docs/architecture/grpc-for-wcf-developers/distributed-applications.md
  docs/architecture/grpc-for-wcf-developers/docker.md
  docs/architecture/grpc-for-wcf-developers/encryption.md
  docs/architecture/grpc-for-wcf-developers/error-handling.md
  docs/architecture/grpc-for-wcf-developers/extending-authentication.md
  docs/architecture/grpc-for-wcf-developers/grpc-in-a-nutshell.md
  docs/architecture/grpc-for-wcf-developers/grpc-in-production.md
  docs/architecture/grpc-for-wcf-developers/grpc-overview.md
  docs/architecture/grpc-for-wcf-developers/index.md
  docs/architecture/grpc-for-wcf-developers/interface-definition-language.md
  docs/architecture/grpc-for-wcf-developers/introduction.md
  docs/architecture/grpc-for-wcf-developers/kubernetes.md
  docs/architecture/grpc-for-wcf-developers/load-balancing.md
  docs/architecture/grpc-for-wcf-developers/metadata.md
  docs/architecture/grpc-for-wcf-developers/migrate-duplex-services.md
  docs/architecture/grpc-for-wcf-developers/migrate-request-reply.md
  docs/architecture/grpc-for-wcf-developers/migrate-wcf-to-grpc.md
  docs/architecture/grpc-for-wcf-developers/network-protocols.md
  docs/architecture/grpc-for-wcf-developers/protobuf-any-oneof.md
  docs/architecture/grpc-for-wcf-developers/protobuf-data-types.md
  docs/architecture/grpc-for-wcf-developers/protobuf-enums.md
  docs/architecture/grpc-for-wcf-developers/protobuf-maps.md
  docs/architecture/grpc-for-wcf-developers/protobuf-messages.md
  docs/architecture/grpc-for-wcf-developers/protobuf-nested-types.md
  docs/architecture/grpc-for-wcf-developers/protobuf-repeated.md
  docs/architecture/grpc-for-wcf-developers/protobuf-reserved.md
  docs/architecture/grpc-for-wcf-developers/protocol-buffers.md
  docs/architecture/grpc-for-wcf-developers/remote-procedure-calls.md
  docs/architecture/grpc-for-wcf-developers/rpc-types.md
  docs/architecture/grpc-for-wcf-developers/security.md
  docs/architecture/grpc-for-wcf-developers/self-hosted.md
  docs/architecture/grpc-for-wcf-developers/service-mesh.md
  docs/architecture/grpc-for-wcf-developers/streaming-versus-repeated.md
  docs/architecture/grpc-for-wcf-developers/toc.yml
  docs/architecture/grpc-for-wcf-developers/wcf-bindings.md
  docs/architecture/grpc-for-wcf-developers/wcf-endpoints-grpc-methods.md
  docs/architecture/grpc-for-wcf-developers/wcf-in-a-nutshell.md
  docs/architecture/grpc-for-wcf-developers/wcf-services-to-grpc-comparison.md
  docs/architecture/grpc-for-wcf-developers/why-grpc.md
  docs/architecture/grpc-for-wcf-developers/ws-protocols.md
  docs/architecture/index.yml
  docs/architecture/toc.yml
  docs/breadcrumb/toc.yml
Labels: :books: Area - .NET Architecture Guide, verify-build-before-merge

#14561 Breaking changes: Filter by category, update TOC
  docs/core/compatibility/3.0.6-3.0.7.md
  docs/core/compatibility/breaking-changes.md
  docs/core/compatibility/corefx.md
  docs/core/compatibility/crypto.md
  docs/core/compatibility/cryptography.md
  docs/core/compatibility/globalization.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/visualbasic.md
  docs/core/compatibility/winforms.md
  includes/core-changes/categoryselector.md
Labels: :checkered_flag: Release: .NET Core 3.0

#14566 Migrate WPF app to .NET Core
  docs/desktop-wpf/migration/convert-project-from-net-framework.md
  docs/desktop-wpf/migration/media/convert-project-from-net-framework/connected-service-dialog.png
  docs/desktop-wpf/migration/media/convert-project-from-net-framework/package-reference-migration.png
  docs/desktop-wpf/migration/media/convert-project-from-net-framework/portability-report.png
  docs/desktop-wpf/migration/media/convert-project-from-net-framework/running-on-core.png
Labels: :books: Area - Desktop Guide, :card_file_box: Technology - WPF, new-content

#14607 Clean up differences article
  docs/desktop-wpf/migration/differences-from-net-framework.md
  docs/desktop-wpf/migration/media/differences-from-net-framework/package-reference-migration.png
Labels: :books: Area - Desktop Guide, :card_file_box: Technology - WPF, :checkered_flag: Release: .NET Core 3.0

#14605 Cloud-native e-book generation
  docs/architecture/cloud-native/azure-data-storage.md
  docs/architecture/cloud-native/azure-monitor.md
  docs/architecture/cloud-native/azure-security.md
  docs/architecture/cloud-native/candidate-apps.md
  docs/architecture/cloud-native/centralized-configuration.md
  docs/architecture/cloud-native/identity-server.md
  docs/architecture/cloud-native/index.md
  docs/architecture/cloud-native/media/projects-in-visual-studio-solution.png
  docs/architecture/cloud-native/media/rbac-role-definition.png
  docs/architecture/cloud-native/media/rbac-security-principal.png
  docs/architecture/cloud-native/other-deployment-options.md
  docs/architecture/cloud-native/resilient-communications.md
  docs/architecture/cloud-native/service-mesh-communication-infrastructure.md
  docs/architecture/cloud-native/service-to-service-communication.md
Labels: :books: Area - .NET Architecture Guide

#14585 remove RC language from what's new
  docs/core/whats-new/dotnet-core-3-0.md
Labels: :books: Area - .NET Core Guide, :checkered_flag: Release: .NET Core 3.0, doc-update

#14610 remove references to preview
  docs/csharp/tutorials/nullable-reference-types.md
Labels: :sparkles: 1st-time docs contributor!

#14570 QueryDuplicates2 need to use LastWriteTime
  docs/csharp/programming-guide/concepts/linq/how-to-query-for-duplicate-files-in-a-directory-tree-linq.md
Labels: :sparkles: 1st-time docs contributor!

#14555 Update Windows pre-reqs article for 3.0 release
  docs/core/deploying/deploy-with-vs.md
  docs/core/media/windows-prerequisites/target-dotnet-core-3-0.jpg
  docs/core/media/windows-prerequisites/vs-2019-workloads.jpg
  docs/core/windows-prerequisites.md
Labels: verify-build-before-merge

#14437 Remove non-working interactive samples
  docs/standard/base-types/standard-numeric-format-strings.md
Labels: :books: Area - .NET Guide, doc-bug

#14488 Update ML.NET landing page to new design
  docs/machine-learning/index.yml
Labels: :books: Area - ML.NET Guide

#14469 US 1583733 Add missing language IDs - 41
  docs/fsharp/language-reference/loops-for-in-expression.md
  docs/fsharp/language-reference/loops-while-do-expression.md
  docs/fsharp/language-reference/members/events.md
  docs/fsharp/language-reference/members/explicit-fields-the-val-keyword.md
  docs/fsharp/language-reference/members/let-bindings-in-classes.md
  docs/fsharp/language-reference/members/properties.md
  docs/fsharp/language-reference/operator-overloading.md
  docs/fsharp/language-reference/parameters-and-arguments.md
  docs/fsharp/language-reference/pattern-matching.md
  docs/fsharp/language-reference/query-expressions.md
  docs/fsharp/language-reference/records.md
  docs/fsharp/language-reference/reference-cells.md
  docs/fsharp/language-reference/sequences.md
  docs/fsharp/language-reference/source-line-file-path-identifiers.md
  docs/fsharp/language-reference/strings.md
  docs/fsharp/language-reference/units-of-measure.md
  docs/fsharp/language-reference/verbose-syntax.md
  docs/fsharp/tutorials/fsharp-interactive/index.md
  docs/fsharp/tutorials/type-providers/creating-a-type-provider.md
  docs/fsharp/using-fsharp-on-azure/package-management.md
Labels: vendor-project

#14618 remove preview language
  docs/core/native-interop/expose-components-to-com.md
  docs/core/porting/winforms.md
  docs/core/porting/wpf.md
  docs/core/tools/csproj.md
  docs/core/tutorials/creating-app-with-plugin-support.md
  docs/csharp/tutorials/default-interface-members-versions.md
  docs/csharp/tutorials/generate-consume-asynchronous-stream.md
  docs/csharp/tutorials/pattern-matching.md
  docs/csharp/tutorials/upgrade-to-nullable-references.md
  includes/core-changes/categoryselector.md
  includes/core-changes/visualbasic/microsoft.visualbasic.myservices-unavailable.md
Labels: :checkered_flag: Release: .NET Core 3.0, doc-update

#13780 Desktop Guide - WPF Initial Release
  .openpublishing.redirection.json
  docs/breadcrumb/toc.yml
  docs/context/desktop-guide-wpf-getstarted-context.yml
  docs/core/porting/wpf.md
  docs/desktop-wpf/data/data-binding-overview.md
  docs/desktop-wpf/data/index.md
  docs/desktop-wpf/data/media/data-binding-overview/basic-data-binding-diagram.png
  docs/desktop-wpf/data/media/data-binding-overview/data-binding-button-background-example.png
  docs/desktop-wpf/data/media/data-binding-overview/data-binding-button-default-conversion.png
  docs/desktop-wpf/data/media/data-binding-overview/data-binding-converter-color-example.png
  docs/desktop-wpf/data/media/data-binding-overview/data-binding-itemscontrol.png
  docs/desktop-wpf/data/media/data-binding-overview/data-binding-updatesource-trigger.png
  docs/desktop-wpf/data/media/data-binding-overview/databinding-dataflow.png
  docs/desktop-wpf/data/media/data-binding-overview/demo-addproductlisting.png
  docs/desktop-wpf/data/media/data-binding-overview/demo-no-template.png
  docs/desktop-wpf/data/media/data-binding-overview/demo-validation-date.png
  docs/desktop-wpf/data/media/data-binding-overview/demo-validation-price.png
  docs/desktop-wpf/data/media/data-binding-overview/demo.png
  docs/desktop-wpf/fundamentals/index.md
  docs/desktop-wpf/fundamentals/media/styles-and-templates-overview/create-a-style-explicit-textblock.png
  docs/desktop-wpf/fundamentals/media/styles-and-templates-overview/stylingintro-eventtriggers.png
  docs/desktop-wpf/fundamentals/media/styles-and-templates-overview/stylingintro-listboxbefore.png
  docs/desktop-wpf/fundamentals/media/styles-and-templates-overview/stylingintro-photosasimages.png
  docs/desktop-wpf/fundamentals/media/styles-and-templates-overview/stylingintro-textblocks.png
  docs/desktop-wpf/fundamentals/media/styles-and-templates-overview/stylingintro-textblocksbasestyle.png
  docs/desktop-wpf/fundamentals/media/styles-and-templates-overview/stylingintro-textblocksbefore.png
  docs/desktop-wpf/fundamentals/media/styles-and-templates-overview/stylingintro-triggers.png
  docs/desktop-wpf/fundamentals/styles-templates-create-apply-style.md
  docs/desktop-wpf/fundamentals/styles-templates-overview.md
  docs/desktop-wpf/fundamentals/xaml-resources-define.md
  docs/desktop-wpf/fundamentals/xaml.md
  docs/desktop-wpf/getting-started/index.md
  docs/desktop-wpf/index.md
  docs/desktop-wpf/migration/convert-project-from-net-framework.md
  docs/desktop-wpf/migration/differences-from-net-framework.md
  docs/desktop-wpf/migration/index.md
  docs/desktop-wpf/migration/media/convert-project-from-net-framework/connected-service-dialog.png
  docs/desktop-wpf/migration/media/convert-project-from-net-framework/package-reference-migration.png
  docs/desktop-wpf/migration/media/convert-project-from-net-framework/portability-report.png
  docs/desktop-wpf/migration/media/convert-project-from-net-framework/running-on-core.png
  docs/desktop-wpf/migration/media/differences-from-net-framework/package-reference-migration.png
  docs/desktop-wpf/overview/index.md
  docs/desktop-wpf/toc.yml
  docs/framework/wpf/advanced/xaml-overview-wpf.md
  docs/framework/wpf/advanced/xaml-resources.md
  docs/framework/wpf/controls/styling-and-templating.md
  docs/framework/wpf/data/data-binding-overview.md
  docs/toc.yml
  includes/desktop-guide-intro.md
  includes/desktop-guide-preview-note.md
Labels: :books: Area - Desktop Guide, :card_file_box: Technology - WPF, :checkered_flag: Release: .NET Core 3.0

#14638 Markdownlint fix
  docs/desktop-wpf/migration/differences-from-net-framework.md
  docs/desktop-wpf/overview/index.md
Labels: verify-build-before-merge

#14510 Added screenshots to Model Builder install
  docs/machine-learning/how-to-guides/install-model-builder.md
  docs/machine-learning/how-to-guides/media/install-model-builder/vs2017-install-model-builder.png
  docs/machine-learning/how-to-guides/media/install-model-builder/vs2017-open-extensions-manager.png
  docs/machine-learning/how-to-guides/media/install-model-builder/vs2017-uninstall-model-builder.png
  docs/machine-learning/how-to-guides/media/install-model-builder/vs2019-install-model-builder.png
  docs/machine-learning/how-to-guides/media/install-model-builder/vs2019-open-extensions-manager.png
  docs/machine-learning/how-to-guides/media/install-model-builder/vs2019-uninstall-model-builder.png
Labels: :books: Area - ML.NET Guide

#14672 Fix VS version for WPF
  docs/desktop-wpf/overview/index.md
Labels: :books: Area - Desktop Guide, :card_file_box: Technology - WPF

#14643 Add missing dev_langs
  docs/desktop-wpf/fundamentals/xaml.md
Labels: :books: Area - Desktop Guide, :card_file_box: Technology - WPF

#14646 Add (non-null object ) & (null) arms to switch expression
  docs/csharp/tutorials/pattern-matching.md
Labels: :sparkles: 1st-time docs contributor!

#13329 The input support only String, Boolean, Single
  docs/machine-learning/how-to-guides/how-to-use-the-automl-api.md
Labels: :books: Area - ML.NET Guide

#14649 Update cs0019.md
  docs/csharp/language-reference/compiler-messages/cs0019.md
Labels: changes-addressed

#14656 Some fixes in compiler-messages directory
  docs/csharp/language-reference/compiler-messages/cs0001.md
  docs/csharp/language-reference/compiler-messages/cs0006.md
  docs/csharp/language-reference/compiler-messages/cs0007.md
  docs/csharp/language-reference/compiler-messages/cs0015.md
  docs/csharp/language-reference/compiler-messages/cs0016.md
  docs/csharp/language-reference/compiler-messages/cs0029.md
  docs/csharp/language-reference/compiler-messages/cs0034.md
  docs/csharp/language-reference/compiler-messages/cs0038.md
  docs/csharp/language-reference/compiler-messages/cs0050.md
  docs/csharp/language-reference/compiler-messages/cs0051.md
  docs/csharp/language-reference/compiler-messages/cs0052.md
  docs/csharp/language-reference/compiler-messages/cs0103.md
  docs/csharp/language-reference/compiler-messages/cs0106.md
  docs/csharp/language-reference/compiler-messages/cs0108.md
  docs/csharp/language-reference/compiler-messages/cs0115.md
  docs/csharp/language-reference/compiler-messages/cs0116.md
  docs/csharp/language-reference/compiler-messages/cs0120.md
  docs/csharp/language-reference/compiler-messages/cs0134.md
Labels: changes-addressed

#14651 Update cs0071.md
  docs/csharp/language-reference/compiler-messages/cs0071.md
Labels: changes-addressed

#14147 New topic: Creating localized exception messages
  docs/standard/exceptions/how-to-create-localized-exception-messages.md
  docs/standard/exceptions/media/add-resources-to-default-culture.jpg
  docs/standard/exceptions/media/add-resources-to-fr-culture.jpg
  docs/standard/exceptions/toc.yml
Labels: new-content

#14464 Add missing identifier, use pascal case for method
  docs/visual-basic/language-reference/statements/for-each-next-statement.md
Labels: :books: Area - Visual Basic Guide

#14574 Fix CorDebugThreadState value name reference
  docs/framework/unmanaged-api/debugging/icordebugthread-setdebugstate-method.md
Labels: :sparkles: 1st-time docs contributor!, doc-bug

#14419 Remove redundant path segments
  docs/visual-basic/language-reference/operators/isnot-operator.md
Labels: :books: Area - Visual Basic Guide, verify-build-before-merge

#14644 Add Thraka as code owner of docs/desktop-wpf
  .github/CODEOWNERS
Labels: :bookmark_tabs: Information Architecture

#14378 Add PredictionEnginePool reloading code and explanation
  docs/machine-learning/how-to-guides/serve-model-serverless-azure-functions-ml-net.md
  docs/machine-learning/how-to-guides/serve-model-web-api-ml-net.md
Labels: :books: Area - ML.NET Guide, :construction: Hold for related PR, doc-enhancement

#14704 Remove EqualityConditionalOn attribute
  docs/fsharp/what-is-fsharp.md
Labels: :books: Area - F# Guide

#14679 Updated Model Builder docs based on new release
  docs/machine-learning/tutorials/predict-prices-with-model-builder.md
  docs/machine-learning/tutorials/sentiment-analysis-model-builder.md
Labels: :books: Area - ML.NET Guide

#14619 New article: troubleshoot dotnet tool usage
  docs/core/tools/global-tools.md
  docs/core/tools/troubleshoot-usage-issues.md
  docs/toc.yml
Labels: :card_file_box: Technology - CLI, P1, new-content, verify-build-before-merge

#14668 Update hub for desktop guide
  .ghal.rules.json
  docfx.json
  docs/images/hub/net-docs-desktop-2-core.svg
  docs/images/hub/net-docs-desktop-2-framework.svg
  index.md
Labels: :books: Area - Desktop Guide, :checkered_flag: Release: .NET Core 3.0, P0

#14711 US 1583733 Add missing language IDs - 50
  docs/visual-basic/misc/bc30670.md
  docs/visual-basic/misc/bc30814.md
  docs/visual-basic/misc/bc30822.md
  docs/visual-basic/misc/bc30827.md
  docs/visual-basic/misc/bc30907.md
  docs/visual-basic/misc/bc30908.md
  docs/visual-basic/misc/bc30921.md
  docs/visual-basic/misc/bc30922.md
  docs/visual-basic/misc/bc30935.md
  docs/visual-basic/misc/bc30937.md
  docs/visual-basic/misc/bc30949.md
  docs/visual-basic/misc/bc30980.md
  docs/visual-basic/misc/bc30983.md
  docs/visual-basic/misc/bc30984.md
  docs/visual-basic/misc/bc30985.md
  docs/visual-basic/misc/bc30987.md
  docs/visual-basic/misc/bc30988.md
  docs/visual-basic/misc/bc30991.md
  docs/visual-basic/misc/bc30992.md
  docs/visual-basic/misc/bc30993.md
  docs/visual-basic/misc/bc30994.md
  docs/visual-basic/misc/bc30995.md
  docs/visual-basic/misc/bc30999.md
  docs/visual-basic/misc/bc31049.md
  docs/visual-basic/misc/bc31053.md
  docs/visual-basic/misc/bc31064.md
  docs/visual-basic/misc/bc31437.md
  docs/visual-basic/misc/bc32021.md
  docs/visual-basic/misc/bc32037.md
  docs/visual-basic/misc/bc32050.md
Labels: vendor-project

#14712 US 1583733 Add missing language IDs - 51
  docs/visual-basic/misc/bc32051.md
  docs/visual-basic/misc/bc32056.md
  docs/visual-basic/misc/bc32088.md
  docs/visual-basic/misc/bc32109.md
  docs/visual-basic/misc/bc32116.md
  docs/visual-basic/misc/bc32121.md
  docs/visual-basic/misc/bc32123.md
  docs/visual-basic/misc/bc32125.md
  docs/visual-basic/misc/bc32510.md
  docs/visual-basic/misc/bc33105.md
  docs/visual-basic/misc/bc36000.md
  docs/visual-basic/misc/bc36536.md
  docs/visual-basic/misc/bc36551.md
  docs/visual-basic/misc/bc36552.md
  docs/visual-basic/misc/bc36553.md
  docs/visual-basic/misc/bc36561.md
  docs/visual-basic/misc/bc36574.md
  docs/visual-basic/misc/bc36576.md
  docs/visual-basic/misc/bc36583.md
  docs/visual-basic/misc/bc36637.md
  docs/visual-basic/misc/bc36639.md
  docs/visual-basic/misc/bc36642.md
Labels: vendor-project

#14715 US 1583733 Add missing language IDs - 52
  docs/visual-basic/programming-guide/com-interop/how-to-reference-com-objects.md
  docs/visual-basic/programming-guide/concepts/async/async-return-types.md
  docs/visual-basic/programming-guide/concepts/async/cancel-an-async-task-or-a-list-of-tasks.md
  docs/visual-basic/programming-guide/concepts/async/cancel-async-tasks-after-a-period-of-time.md
  docs/visual-basic/programming-guide/concepts/async/control-flow-in-async-programs.md
  docs/visual-basic/programming-guide/concepts/async/handling-reentrancy-in-async-apps.md
  docs/visual-basic/programming-guide/concepts/async/walkthrough-accessing-the-web-by-using-async-and-await.md
  docs/visual-basic/programming-guide/concepts/attributes/attributeusage.md
  docs/visual-basic/programming-guide/concepts/linq/atomized-xname-and-xnamespace-objects-linq-to-xml.md
  docs/visual-basic/programming-guide/concepts/linq/cloning-vs-attaching.md
  docs/visual-basic/programming-guide/concepts/linq/creating-the-source-office-open-xml-document.md
  docs/visual-basic/programming-guide/concepts/linq/deferred-execution-example.md
  docs/visual-basic/programming-guide/concepts/linq/finding-text-in-word-documents.md
  docs/visual-basic/programming-guide/concepts/linq/finding-the-default-paragraph-style.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-calculate-intermediate-values.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-catch-parsing-errors.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-combine-and-compare-string-collections-linq.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-compute-column-values-in-a-csv-text-file-linq.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-control-the-type-of-a-projection.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-debug-empty-query-results-sets.md
Labels: vendor-project

#14506 Specify type support for indices and ranges
  docs/csharp/programming-guide/indexers/index.md
  docs/csharp/tutorials/ranges-indexes.md
  docs/csharp/whats-new/csharp-8.md
Labels: :construction: Hold for related PR

#14741 Renaming WPF app to Windows Forms App #12381
  docs/framework/wpf/advanced/walkthrough-hosting-a-3-d-wpf-composite-control-in-windows-forms.md
Labels: :sparkles: 1st-time docs contributor!

#14483 US 1583733 Add missing language IDs - 43
  docs/standard/design-guidelines/member-overloading.md
  docs/standard/design-guidelines/names-of-classes-structs-and-interfaces.md
  docs/standard/design-guidelines/names-of-type-members.md
  docs/standard/design-guidelines/parameter-design.md
  docs/standard/garbage-collection/large-object-heap.md
  docs/standard/garbage-collection/performance.md
  docs/standard/globalization-localization/globalization.md
  docs/standard/io/memory-mapped-files.md
  docs/standard/metadata-and-self-describing-components.md
  docs/standard/native-interop/com-callable-wrapper.md
  docs/standard/parallel-programming/plinq-data-sample.md
  docs/standard/security/encrypting-data.md
  docs/standard/security/ensuring-data-integrity-with-hash-codes.md
  docs/standard/security/how-to-create-genericprincipal-and-genericidentity-objects.md
  docs/standard/security/how-to-encrypt-xml-elements-with-x-509-certificates.md
  docs/standard/serialization/basic-serialization-technology-sample.md
  docs/standard/serialization/xml-schema-def-tool-gen.md
  docs/standard/serialization/xml-schema-definition-tool-xsd-exe.md
  docs/standard/serialization/xml-serializer-generator-tool-sgen-exe.md
Labels: vendor-project

#14238 Handle 'This application could not be started' error dialog
  docs/framework/install/application-not-started.md
  docs/framework/install/media/application-not-started/app-could-not-be-started.png
  docs/framework/install/media/application-not-started/install-3-5.png
  docs/framework/install/media/application-not-started/repair-tool-changes-complete.png
  docs/framework/install/media/application-not-started/repair-tool-no-resolution.png
  docs/framework/install/media/application-not-started/repair-tool-recommended-changes.png
  docs/framework/install/toc.yml
Labels: P0

#14531 Remove inaccuracies and improve experience with ML.NET transfer learning tutorial
  docs/machine-learning/tutorials/image-classification.md
Labels: :books: Area - ML.NET Guide

#14667 US 1583733 Add missing language IDs - 45
  docs/visual-basic/language-reference/error-messages/type-parameters-cannot-be-used-as-qualifiers.md
  docs/visual-basic/language-reference/error-messages/type1-typename-must-implement-methodname-for-interface-interfacename.md
  docs/visual-basic/language-reference/error-messages/variable-variablename-hides-a-variable-in-an-enclosing-block.md
  docs/visual-basic/language-reference/error-messages/xml-comment-exception-must-have-a-cref-attribute.md
  docs/visual-basic/language-reference/functions/ctype-function.md
  docs/visual-basic/language-reference/functions/type-conversion-functions.md
  docs/visual-basic/language-reference/modifiers/partial.md
  docs/visual-basic/language-reference/objects/textfieldparser-object.md
  docs/visual-basic/language-reference/operators/addition-assignment-operator.md
  docs/visual-basic/language-reference/operators/addressof-operator.md
  docs/visual-basic/language-reference/operators/and-assignment-operator.md
  docs/visual-basic/language-reference/operators/and-operator.md
  docs/visual-basic/language-reference/operators/assignment-operator.md
  docs/visual-basic/language-reference/operators/concatenation-operator.md
  docs/visual-basic/language-reference/operators/exponentiation-assignment-operator.md
  docs/visual-basic/language-reference/operators/exponentiation-operator.md
  docs/visual-basic/language-reference/operators/floating-point-division-assignment-operator.md
  docs/visual-basic/language-reference/operators/floating-point-division-operator.md
  docs/visual-basic/language-reference/operators/function-expression.md
  docs/visual-basic/language-reference/operators/gettype-operator.md
  docs/visual-basic/language-reference/operators/getxmlnamespace-operator.md
Labels: vendor-project

#14763 Adding supported environments
  docs/machine-learning/how-does-mldotnet-work.md
Labels: :books: Area - ML.NET Guide, doc-enhancement

#14315 Update linux prereqs owner
  docs/core/linux-prerequisites.md
  docs/core/macos-prerequisites.md
  docs/core/windows-prerequisites.md
Labels: :books: Area - .NET Core Guide, :checkered_flag: Release: .NET Core 3.0, P0, changes-addressed, doc-enhancement

#14783 Fix localization issue
  docs/standard/exceptions/how-to-create-localized-exception-messages.md
Labels: loc

#14738 Update cs0041.md
  docs/csharp/misc/cs0041.md
Labels: :books: Area - C# Guide

#14680 Update snapshot-isolation-in-sql-server.md
  docs/framework/data/adonet/sql/snapshot-isolation-in-sql-server.md
Labels: :card_file_box: Technology - Data Access, :sparkles: 1st-time docs contributor!
