Repository dotnet/docs, pull requests merged in 2020-08, with the labels that each got.

#19778 Add principal permission attribute breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/corefx.md
  includes/core-changes/corefx/5.0/principalpermissionattribute-obsolete.md
Labels: :books: Area - .NET Core Guide

#19776 Remove breaking changes for .NET Core preview to preview
  docs/core/compatibility/2.2-3.0.md
  docs/core/compatibility/2.2-3.1.md
  docs/core/compatibility/corefx.md
  docs/core/compatibility/cryptography.md
  docs/core/compatibility/fx-core.md
  docs/core/compatibility/visualbasic.md
  docs/core/compatibility/winforms.md
  includes/core-changes/corefx/3.0/change-in-null-in-utf8jsonwriter.md
  includes/core-changes/corefx/3.0/custom-encoderfallbackbuffer-cannot-be-recursive.md
  includes/core-changes/corefx/3.0/jsonelement-api-changes.md
  includes/core-changes/corefx/3.0/jsonencodedtext-encode-has-additional-argument.md
  includes/core-changes/corefx/3.0/jsonfactoryconverter-createconverter.md
  includes/core-changes/cryptography/3.0/better-argument-validation-in-pkcs8privatekeyinfo-ctor.md
  includes/core-changes/cryptography/3.0/envelopedcms-defaults-to-aes256.md
  includes/core-changes/visualbasic/3.0/microsoft.visualbasic.applicationservices-unavailable.md
  includes/core-changes/visualbasic/3.0/microsoft.visualbasic.devices-unavailable.md
  includes/core-changes/visualbasic/3.0/microsoft.visualbasic.myservices-unavailable.md
  includes/core-changes/visualbasic/3.0/vbnewline-is-obsolete.md
  includes/core-changes/windowsforms/3.0/changed-access-for-runtimeidfirstitem.md
  includes/core-changes/windowsforms/3.0/deprecate-allowupdatechildcontrolindexfortabcontrols.md
  includes/core-changes/windowsforms/3.0/deprecate-donotloadlatestricheditcontrol.md
  includes/core-changes/windowsforms/3.0/deprecate-donotsupportselectallshortcutinmultilinetextbox.md
  includes/core-changes/windowsforms/3.0/deprecate-dontsupportreentrantfiltermessage.md
  includes/core-changes/windowsforms/3.0/deprecate-enablevisualstylevalidation.md
  includes/core-changes/windowsforms/3.0/deprecate-uselegacycontextmenustripsourcecontrolvalue.md
  includes/core-changes/windowsforms/3.0/deprecate-uselegacyimages.md
  includes/core-changes/windowsforms/3.0/deprecate-uselegacyscrolling.md
  includes/core-changes/windowsforms/3.0/remove-duplicated-apis.md
  includes/core-changes/windowsforms/3.0/remove-serializationattribute.md
  includes/core-changes/windowsforms/5.0/winforms-deprecated-controls.md
Labels: :books: Area - .NET Core Guide

#19785 Update sentiment-analysis.md
  docs/machine-learning/tutorials/sentiment-analysis.md
Labels: :books: Area - ML.NET Guide

#19744 Moved and revised expressions reference
  .openpublishing.redirection.json
  docs/csharp/language-reference/operators/addition-operator.md
  docs/csharp/language-reference/operators/arithmetic-operators.md
  docs/csharp/language-reference/operators/assignment-operator.md
  docs/csharp/language-reference/operators/await.md
  docs/csharp/language-reference/operators/bitwise-and-shift-operators.md
  docs/csharp/language-reference/operators/boolean-logical-operators.md
  docs/csharp/language-reference/operators/comparison-operators.md
  docs/csharp/language-reference/operators/conditional-operator.md
  docs/csharp/language-reference/operators/default.md
  docs/csharp/language-reference/operators/delegate-operator.md
  docs/csharp/language-reference/operators/equality-operators.md
  docs/csharp/language-reference/operators/index.md
  docs/csharp/language-reference/operators/lambda-operator.md
  docs/csharp/language-reference/operators/member-access-operators.md
  docs/csharp/language-reference/operators/nameof.md
  docs/csharp/language-reference/operators/namespace-alias-qualifier.md
  docs/csharp/language-reference/operators/new-operator.md
  docs/csharp/language-reference/operators/null-coalescing-operator.md
  docs/csharp/language-reference/operators/null-forgiving.md
  docs/csharp/language-reference/operators/operator-overloading.md
  docs/csharp/language-reference/operators/pointer-related-operators.md
  docs/csharp/language-reference/operators/sizeof.md
  docs/csharp/language-reference/operators/snippets/Overview.cs
  docs/csharp/language-reference/operators/snippets/Program.cs
  docs/csharp/language-reference/operators/stackalloc.md
  docs/csharp/language-reference/operators/subtraction-operator.md
  docs/csharp/language-reference/operators/switch-expression.md
  docs/csharp/language-reference/operators/true-false-operators.md
  docs/csharp/language-reference/operators/type-testing-and-cast.md
  docs/csharp/language-reference/operators/user-defined-conversion-operators.md
  docs/csharp/programming-guide/statements-expressions-operators/expressions.md
  docs/csharp/programming-guide/statements-expressions-operators/index.md
  docs/csharp/programming-guide/statements-expressions-operators/statements.md
  docs/csharp/toc.yml
  docs/csharp/whats-new/csharp-version-history.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals, :card_file_box: Technology - C# Language Reference, :card_file_box: Technology - C# What's New

#19795 Add quotes around glob pattern for push command
  docs/core/tools/dotnet-nuget-push.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#19799 Fix .NET being referred to as a language
  docs/spark/what-is-spark.md
Labels: :books: Area - .NET for Apache Spark Guide

#19800 Fix spelling in one article
  docs/framework/ui-automation/accessibility-best-practices.md
Labels: :books: Area - .NET Framework Guide

#19773 Add alternate syntax
  docs/standard/base-types/regular-expression-language-quick-reference.md
Labels: :books: Area - .NET Guide

#19772 Remove link
  docs/visual-basic/reference/command-line-compiler/langversion.md
Labels: :books: Area - Visual Basic Guide

#19802 Update NullableReferenceTypes.cs
  docs/csharp/language-reference/builtin-types/snippets/NullableReferenceTypes.cs
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#19789 Delete unused images
  docs/architecture/cloud-native/media/breaking-up-monolith-with-backend-microservices.png
  docs/architecture/cloud-native/media/cover-old.png
  docs/architecture/cloud-native/media/grpc-usage.png
  docs/architecture/cloud-native/media/http-status-codes.png
  docs/architecture/cloud-native/media/monolithic-architecture.png
  docs/architecture/cloud-native/media/polly-resiliency-framework.png
  docs/architecture/modernize-desktop/media/whats-new-dotnet-core/different-technologies.png
  docs/architecture/serverless/media/automated-image-gallery.png
  docs/architecture/serverless/media/image-processing-example.png
  docs/architecture/serverless/media/index/serverless-apps-cover.jpg
  docs/architecture/serverless/media/link-shortener-architecture.png
  docs/architecture/serverless/media/migration-architecture.png
  docs/architecture/serverless/media/orlando-eye-both.png
  docs/architecture/serverless/media/power-bi-example.png
  docs/architecture/serverless/media/serverless-business-scenarios/csv-parse-database-import.png
  docs/core/media/packages/package-framework.png
Labels: :book: guide - Cloud Native, :book: guide - Serverless apps, :books: Area - .NET Architecture Guide, :books: Area - .NET Core Guide

#19801 Whats new july
  docs/whats-new/2020-07.md
  docs/whats-new/dotnet-2020-01.md
  docs/whats-new/index.yml
  docs/whats-new/toc.yml
Labels: :star2: What's New

#19823 Fix keyboard shortcuts
  docs/core/tutorials/with-visual-studio.md
Labels: :books: Area - .NET Core Guide

#19804 Added notes on low-code & no-code to landing page
  docs/machine-learning/index.yml
Labels: :books: Area - ML.NET Guide

#19632 F# plaintext printing documentation
  docs/fsharp/language-reference/fsharp-interactive-options.md
  docs/fsharp/language-reference/index.md
  docs/fsharp/language-reference/plaintext-formatting.md
  docs/fsharp/toc.yml
Labels: :books: Area - F# Guide

#19838 Fixed typo in SQL Scripts path
  docs/framework/windows-workflow-foundation/using-workflowidentity-and-versioning.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WF

#19831 Document "l" datetime format
  docs/standard/datetime/system-text-json-support.md
Labels: :books: Area - .NET Guide

#19828 Not supported in Core 2.2 and earlier
  docs/standard/security/how-to-store-asymmetric-keys-in-a-key-container.md
Labels: :books: Area - .NET Guide, :card_file_box: Technology - Security

#19839 Update fsharp language reference: plaintext-formatting.md
  docs/fsharp/language-reference/plaintext-formatting.md
Labels: :books: Area - F# Guide

#19829 Update CAS warning alert box
  docs/framework/misc/code-access-security.md
  docs/framework/misc/dangerous-permissions-and-policy-administration.md
  docs/framework/misc/how-to-run-partially-trusted-code-in-a-sandbox.md
  docs/framework/misc/link-demands.md
  docs/framework/misc/securing-exception-handling.md
  docs/framework/misc/securing-method-access.md
  docs/framework/misc/securing-wrapper-code.md
  docs/framework/misc/security-and-public-read-only-array-fields.md
  docs/framework/misc/security-and-remoting-considerations.md
  docs/framework/misc/security-and-serialization.md
  docs/framework/misc/security-transparent-code-level-1.md
  docs/framework/misc/using-libraries-from-partially-trusted-code.md
  docs/framework/misc/using-the-assert-method.md
  includes/net-security-note-md.md
Labels: :books: Area - .NET Framework Guide

#19847 Acrolinx in F#
  docs/fsharp/language-reference/fsharp-interactive-options.md
  docs/fsharp/language-reference/index.md
  docs/fsharp/language-reference/plaintext-formatting.md
Labels: :books: Area - F# Guide

#19830 F1 keywords
  docs/csharp/language-reference/builtin-types/bool.md
  docs/csharp/language-reference/builtin-types/void.md
  docs/csharp/language-reference/index.md
  docs/csharp/language-reference/operators/arithmetic-operators.md
  docs/csharp/language-reference/operators/bitwise-and-shift-operators.md
  docs/csharp/language-reference/operators/boolean-logical-operators.md
  docs/csharp/language-reference/operators/namespace-alias-qualifier.md
  docs/csharp/language-reference/operators/new-operator.md
  docs/csharp/language-reference/operators/operator-overloading.md
  docs/csharp/language-reference/operators/type-testing-and-cast.md
  docs/csharp/language-reference/operators/user-defined-conversion-operators.md
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
  docs/framework/winforms/controls/how-to-align-multiple-controls-on-windows-forms.md
  docs/fsharp/language-reference/arrays.md
  docs/fsharp/language-reference/asynchronous-workflows.md
  docs/fsharp/language-reference/code-quotations.md
  docs/fsharp/language-reference/compiler-directives.md
  docs/fsharp/language-reference/computation-expressions.md
  docs/fsharp/language-reference/import-declarations-the-open-keyword.md
  docs/fsharp/language-reference/lists.md
  docs/fsharp/language-reference/literals.md
  docs/fsharp/language-reference/members/events.md
  docs/fsharp/language-reference/query-expressions.md
  docs/fsharp/language-reference/sequences.md
  docs/fsharp/language-reference/strings.md
  docs/fsharp/language-reference/symbol-and-operator-reference/index.md
  docs/fsharp/tutorials/fsharp-interactive/index.md
Labels: :books: Area - .NET Framework Guide, :books: Area - C# Guide, :books: Area - F# Guide, :card_file_box: Technology - C# / VB diagnostics, :card_file_box: Technology - C# Language Reference, :card_file_box: Technology - WinForms

#17388 Blazor ebook - AppStartup chapter
  docs/architecture/blazor-for-web-forms-developers/app-startup.md
Labels: :book: guide - Blazor, :books: Area - .NET Architecture Guide

#19846 switch expression: fixed the name of a pattern
  docs/csharp/language-reference/operators/switch-expression.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#19845 C# reference TOC: moved the Types node one level up
  docs/csharp/toc.yml
Labels: :books: Area - C# Guide

#19843 Moved C# operator snippets into the shared subfolder
  docs/csharp/language-reference/operators/addition-operator.md
  docs/csharp/language-reference/operators/arithmetic-operators.md
  docs/csharp/language-reference/operators/assignment-operator.md
  docs/csharp/language-reference/operators/await.md
  docs/csharp/language-reference/operators/bitwise-and-shift-operators.md
  docs/csharp/language-reference/operators/boolean-logical-operators.md
  docs/csharp/language-reference/operators/comparison-operators.md
  docs/csharp/language-reference/operators/conditional-operator.md
  docs/csharp/language-reference/operators/default.md
  docs/csharp/language-reference/operators/delegate-operator.md
  docs/csharp/language-reference/operators/equality-operators.md
  docs/csharp/language-reference/operators/index.md
  docs/csharp/language-reference/operators/lambda-operator.md
  docs/csharp/language-reference/operators/member-access-operators.md
  docs/csharp/language-reference/operators/nameof.md
  docs/csharp/language-reference/operators/new-operator.md
  docs/csharp/language-reference/operators/null-coalescing-operator.md
  docs/csharp/language-reference/operators/null-forgiving.md
  docs/csharp/language-reference/operators/operator-overloading.md
  docs/csharp/language-reference/operators/pointer-related-operators.md
  docs/csharp/language-reference/operators/sizeof.md
  docs/csharp/language-reference/operators/snippets/shared/AdditionOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/ArithmeticOperators.cs
  docs/csharp/language-reference/operators/snippets/shared/AssignmentOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/AwaitOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/BitwiseAndShiftOperators.cs
  docs/csharp/language-reference/operators/snippets/shared/BooleanLogicalOperators.cs
  docs/csharp/language-reference/operators/snippets/shared/ComparisonOperators.cs
  docs/csharp/language-reference/operators/snippets/shared/ConditionalOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/DefaultOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/DelegateOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/EqualityOperators.cs
  docs/csharp/language-reference/operators/snippets/shared/LambdaOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/MemberAccessOperators.cs
  docs/csharp/language-reference/operators/snippets/shared/NameOfOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/NewOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/NullCoalescingOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/NullForgivingOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/OperatorOverloading.cs
  docs/csharp/language-reference/operators/snippets/shared/Overview.cs
  docs/csharp/language-reference/operators/snippets/shared/PointerOperators.cs
  docs/csharp/language-reference/operators/snippets/shared/Program.cs
  docs/csharp/language-reference/operators/snippets/shared/SizeOfOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/StackallocOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/SubtractionOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/SwitchExpressions.cs
  docs/csharp/language-reference/operators/snippets/shared/TrueFalseOperators.cs
  docs/csharp/language-reference/operators/snippets/shared/TypeTestingAndConversionOperators.cs
  docs/csharp/language-reference/operators/snippets/shared/UserDefinedConversions.cs
  docs/csharp/language-reference/operators/snippets/shared/operators.csproj
  docs/csharp/language-reference/operators/stackalloc.md
  docs/csharp/language-reference/operators/subtraction-operator.md
  docs/csharp/language-reference/operators/switch-expression.md
  docs/csharp/language-reference/operators/true-false-operators.md
  docs/csharp/language-reference/operators/type-testing-and-cast.md
  docs/csharp/language-reference/operators/user-defined-conversion-operators.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#19844 Try to fix multi-selectors
  docs/core/compatibility/breaking-changes.md
  includes/core-changes/categoryselector.md
  includes/core-changes/versionselector.md
Labels: :books: Area - .NET Core Guide

#19780 Minor updates to gRPC article in cloud native ebook
  docs/architecture/cloud-native/grpc.md
Labels: :book: guide - Cloud Native, :books: Area - .NET Architecture Guide

#19748 Azure SDK packages page
  docs/azure/TOC.yml
  docs/azure/authentication.md
  docs/azure/index.yml
  docs/azure/packages.md
Labels: :books: Area - Azure .NET SDK

#19762 Add new JSON options for GC
  docs/core/project-sdk/msbuild-props.md
  docs/core/run-time-config/garbage-collector.md
  docs/standard/garbage-collection/background-gc.md
  docs/standard/garbage-collection/fundamentals.md
  docs/standard/garbage-collection/workstation-server-gc.md
Labels: :books: Area - .NET Core Guide

#19850 Add info on asp.net core defaults
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
Labels: :books: Area - .NET Guide

#19901 Microservices/bug fixes
  docs/architecture/microservices/multi-container-microservice-net-applications/test-aspnet-core-services-web-apps.md
  docs/architecture/microservices/secure-net-microservices-web-applications/index.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#19861 Update chaining-tasks-by-using-continuation-tasks.md
  docs/standard/parallel-programming/chaining-tasks-by-using-continuation-tasks.md
Labels: :books: Area - .NET Guide

#19851 Add ProxyBypassList option
  docs/core/tools/dotnet-install-script.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#19872 IntPtr/UIntPtr breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/corefx.md
  includes/core-changes/corefx/5.0/intptr-uintptr-implement-iformattable.md
Labels: :books: Area - .NET Core Guide

#19635 Introduce EventCounters overview article and tutorial doc
  docs/core/diagnostics/dotnet-counters.md
  docs/core/diagnostics/event-counter-perf.md
  docs/core/diagnostics/event-counters.md
  docs/core/diagnostics/includes/available-counters.md
  docs/core/diagnostics/media/event-counters.svg
  docs/core/diagnostics/media/event-counters.vsdx
  docs/core/diagnostics/media/flamegraph.jpg
  docs/core/diagnostics/media/perfview.jpg
  docs/core/diagnostics/snippets/EventCounters/ConditionalEventCounterSource.cs
  docs/core/diagnostics/snippets/EventCounters/EventCounters.csproj
  docs/core/diagnostics/snippets/EventCounters/MinimalEventCounterSource.cs
  docs/core/diagnostics/snippets/EventCounters/RequestEventSource.cs
  docs/core/diagnostics/snippets/EventCounters/SimpleEventListener.cs
  docs/core/toc.yml
Labels: :books: Area - .NET Core Guide

#19736 publish the C# specs for 9.0
  docfx.json
  docs/csharp/language-reference/proposals/toc.yml
  docs/csharp/toc.yml
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#19906 Updated description of dotnet-monitor
  docs/core/diagnostics/event-counters.md
Labels: :books: Area - .NET Core Guide

#17947 State management chapter
  .vscode/settings.json
  docs/architecture/blazor-for-web-forms-developers/state-management.md
Labels: :book: guide - Blazor, :books: Area - .NET Architecture Guide

#19925 Moved the article about lambda expressions to the language reference
  .openpublishing.redirection.json
  docs/csharp/delegate-class.md
  docs/csharp/expression-trees.md
  docs/csharp/iterators.md
  docs/csharp/language-reference/builtin-types/struct.md
  docs/csharp/language-reference/compiler-messages/cs1946.md
  docs/csharp/language-reference/keywords/async.md
  docs/csharp/language-reference/keywords/throw.md
  docs/csharp/language-reference/keywords/yield.md
  docs/csharp/language-reference/operators/await.md
  docs/csharp/language-reference/operators/delegate-operator.md
  docs/csharp/language-reference/operators/equality-operators.md
  docs/csharp/language-reference/operators/index.md
  docs/csharp/language-reference/operators/lambda-expressions.md
  docs/csharp/language-reference/operators/lambda-operator.md
  docs/csharp/language-reference/operators/snippets/lambda-expressions/ExpressionAndStatementLambdas.cs
  docs/csharp/language-reference/operators/snippets/lambda-expressions/Introduction.cs
  docs/csharp/language-reference/operators/snippets/lambda-expressions/LambdasAndTuples.cs
  docs/csharp/language-reference/operators/snippets/lambda-expressions/LambdasWithQueryMethods.cs
  docs/csharp/language-reference/operators/snippets/lambda-expressions/Program.cs
  docs/csharp/language-reference/operators/snippets/lambda-expressions/VariableScopeWithLambdas.cs
  docs/csharp/language-reference/operators/snippets/lambda-expressions/lambda-expressions.csproj
  docs/csharp/language-reference/operators/subtraction-operator.md
  docs/csharp/linq/write-linq-queries.md
  docs/csharp/misc/cs0748.md
  docs/csharp/misc/cs1621.md
  docs/csharp/programming-guide/classes-and-structs/extension-methods.md
  docs/csharp/programming-guide/classes-and-structs/local-functions.md
  docs/csharp/programming-guide/concepts/expression-trees/index.md
  docs/csharp/programming-guide/concepts/linq/concepts-and-terminology-functional-transformation.md
  docs/csharp/programming-guide/concepts/linq/features-that-support-linq.md
  docs/csharp/programming-guide/concepts/linq/query-syntax-and-method-syntax-in-linq.md
  docs/csharp/programming-guide/delegates/how-to-declare-instantiate-and-use-a-delegate.md
  docs/csharp/programming-guide/delegates/index.md
  docs/csharp/programming-guide/events/how-to-subscribe-to-and-unsubscribe-from-events.md
  docs/csharp/programming-guide/index.md
  docs/csharp/programming-guide/interop/walkthrough-office-programming.md
  docs/csharp/programming-guide/statements-expressions-operators/anonymous-functions.md
  docs/csharp/programming-guide/statements-expressions-operators/how-to-use-lambda-expressions-in-a-query.md
  docs/csharp/toc.yml
  docs/csharp/whats-new/csharp-version-history.md
  docs/framework/data/adonet/ef/language-reference/queries-in-linq-to-entities.md
  docs/framework/data/adonet/queries-in-linq-to-dataset.md
  docs/framework/performance/writing-large-responsive-apps.md
  docs/framework/windows-workflow-foundation/authoring-workflows-activities-and-expressions-using-imperative-code.md
  docs/standard/delegates-lambdas.md
  docs/standard/parallel-programming/lambda-expressions-in-plinq-and-tpl.md
Labels: :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :books: Area - C# Guide, :card_file_box: Technology - C# / VB diagnostics, :card_file_box: Technology - C# Advanced concepts, :card_file_box: Technology - C# Fundamentals, :card_file_box: Technology - C# Language Reference, :card_file_box: Technology - C# What's New, :card_file_box: Technology - Data Access, :card_file_box: Technology - LINQ, :card_file_box: Technology - WF

#19565 Br45 delete unused files
  .openpublishing.redirection.json
  docs/standard/linq/applicability-functional-transformation.md
  docs/standard/linq/concepts-terminology-functional-transformation.md
  docs/standard/linq/functional-transformation-xml.md
  docs/standard/linq/functional-vs-imperative-programming.md
  docs/standard/linq/functional-vs-procedural-programming.md
  docs/standard/linq/introduction-pure-functional-transformations.md
  docs/standard/linq/query-xml-trees-overview.md
  docs/standard/linq/refactor-pure-functions.md
  docs/standard/linq/toc.yml
  docs/visual-basic/programming-guide/concepts/linq/advanced-linq-to-xml-programming.md
  docs/visual-basic/programming-guide/concepts/linq/advanced-query-techniques-linq-to-xml.md
  docs/visual-basic/programming-guide/concepts/linq/basic-queries-linq-to-xml.md
  docs/visual-basic/programming-guide/concepts/linq/details-of-office-open-xml-wordprocessingml-documents.md
  docs/visual-basic/programming-guide/concepts/linq/getting-started-linq-to-xml.md
  docs/visual-basic/programming-guide/concepts/linq/linq-to-xml-programming-overview.md
  docs/visual-basic/programming-guide/concepts/linq/linq-to-xml.md
  docs/visual-basic/programming-guide/concepts/linq/modifying-xml-trees-linq-to-xml.md
  docs/visual-basic/programming-guide/concepts/linq/parsing-xml.md
  docs/visual-basic/programming-guide/concepts/linq/performance-linq-to-xml.md
  docs/visual-basic/programming-guide/concepts/linq/programming-guide-linq-to-xml.md
  docs/visual-basic/programming-guide/concepts/linq/projections-and-transformations-linq-to-xml.md
  docs/visual-basic/programming-guide/concepts/linq/pure-functional-transformations-of-xml.md
  docs/visual-basic/programming-guide/concepts/linq/sample-xml-documents-linq-to-xml.md
  docs/visual-basic/programming-guide/concepts/linq/serializing-object-graphs-that-contain-xelement-objects.md
  docs/visual-basic/programming-guide/concepts/linq/serializing-xml-trees.md
  docs/visual-basic/programming-guide/concepts/linq/tutorial-manipulating-content-in-a-wordprocessingml-document.md
  docs/visual-basic/programming-guide/concepts/linq/working-with-xml-namespaces.md
Labels: :books: Area - .NET Guide, :books: Area - C# Guide, :books: Area - Visual Basic Guide, :card_file_box: Technology - LINQ, vendor-project

#18538 Restructure and modernize tour of C#
  .openpublishing.redirection.json
  docs/csharp/methods.md
  docs/csharp/toc.yml
  docs/csharp/tour-of-csharp/arrays.md
  docs/csharp/tour-of-csharp/attributes.md
  docs/csharp/tour-of-csharp/classes-and-objects.md
  docs/csharp/tour-of-csharp/delegates.md
  docs/csharp/tour-of-csharp/expressions.md
  docs/csharp/tour-of-csharp/features.md
  docs/csharp/tour-of-csharp/index.md
  docs/csharp/tour-of-csharp/interfaces.md
  docs/csharp/tour-of-csharp/program-building-blocks.md
  docs/csharp/tour-of-csharp/program-structure.md
  docs/csharp/tour-of-csharp/snippets/shared/AcmeStack.cs
  docs/csharp/tour-of-csharp/snippets/shared/ClassesObjects.cs
  docs/csharp/tour-of-csharp/snippets/shared/Features.cs
  docs/csharp/tour-of-csharp/snippets/shared/HelloWorld.cs
  docs/csharp/tour-of-csharp/snippets/shared/Program.cs
  docs/csharp/tour-of-csharp/snippets/shared/StackUsage.cs
  docs/csharp/tour-of-csharp/snippets/shared/TourOfCsharp.csproj
  docs/csharp/tour-of-csharp/snippets/shared/Types.cs
  docs/csharp/tour-of-csharp/statements.md
  docs/csharp/tour-of-csharp/types-and-variables.md
  docs/csharp/tour-of-csharp/types.md
  docs/csharp/tutorials/inheritance.md
  samples/snippets/csharp/tour/arrays/Program.cs
  samples/snippets/csharp/tour/arrays/access-by-line.txt
  samples/snippets/csharp/tour/attributes/Program.cs
  samples/snippets/csharp/tour/attributes/access-by-line.txt
  samples/snippets/csharp/tour/attributes/attributes.csproj
  samples/snippets/csharp/tour/classes-and-objects/Color.cs
  samples/snippets/csharp/tour/classes-and-objects/Entity.cs
  samples/snippets/csharp/tour/classes-and-objects/Expressions.cs
  samples/snippets/csharp/tour/classes-and-objects/ListBasedExamples.cs
  samples/snippets/csharp/tour/classes-and-objects/OutExample.cs
  samples/snippets/csharp/tour/classes-and-objects/Overloading.cs
  samples/snippets/csharp/tour/classes-and-objects/Pair.cs
  samples/snippets/csharp/tour/classes-and-objects/Point.cs
  samples/snippets/csharp/tour/classes-and-objects/Program.cs
  samples/snippets/csharp/tour/classes-and-objects/RefExample.cs
  samples/snippets/csharp/tour/classes-and-objects/Squares.cs
  samples/snippets/csharp/tour/classes-and-objects/access-by-line.txt
  samples/snippets/csharp/tour/classes-and-objects/classes-and-objects.csproj
  samples/snippets/csharp/tour/delegates/Program.cs
  samples/snippets/csharp/tour/delegates/access-by-line.txt
  samples/snippets/csharp/tour/delegates/delegates.csproj
  samples/snippets/csharp/tour/hello/hello.csproj
  samples/snippets/csharp/tour/interfaces/Program.cs
  samples/snippets/csharp/tour/interfaces/access-by-line.txt
  samples/snippets/csharp/tour/interfaces/interfaces.csproj
  samples/snippets/csharp/tour/program-structure/Program.cs
  samples/snippets/csharp/tour/program-structure/access-by-line.txt
  samples/snippets/csharp/tour/program-structure/program-structure.csproj
  samples/snippets/csharp/tour/statements/Program.cs
  samples/snippets/csharp/tour/statements/access-by-line.txt
  samples/snippets/csharp/tour/statements/statements.csproj
  samples/snippets/csharp/tour/types-and-variables/Program.cs
  samples/snippets/csharp/tour/types-and-variables/access-by-line.txt
  samples/snippets/csharp/tour/types-and-variables/types-and-variables.csproj
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Get Started

#19910 Simplify intro and offer next step options
  docs/core/tutorials/library-with-visual-studio.md
Labels: :books: Area - .NET Core Guide

#19921 Fix dotnet-sdk-2.1 version recommendation: SDK
  docs/core/distribution-packaging.md
Labels: :books: Area - .NET Core Guide

#19912 A/W suffix for P/Invokes
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/interop.md
  includes/core-changes/interop/5.0/function-suffix-pinvoke.md
Labels: :books: Area - .NET Core Guide

#19937 Updated DefaultOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/DefaultOperator.cs
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#19924 Update how-to-install-and-uninstall-services.md
  docs/framework/windows-services/how-to-install-and-uninstall-services.md
Labels: :books: Area - .NET Framework Guide, :sparkles: 1st-time docs contributor!

#19918 Update quantifiers-in-regular-expressions.md
  docs/standard/base-types/quantifiers-in-regular-expressions.md
Labels: :books: Area - .NET Guide, :sparkles: 1st-time docs contributor!

#19941 Acrolinx 8/10
  docs/core/diagnostics/dotnet-counters.md
  docs/standard/parallel-programming/chaining-tasks-by-using-continuation-tasks.md
Labels: :books: Area - .NET Core Guide, :books: Area - .NET Guide

#19938 Update ms.topic
  docfx.json
  docs/core/tools/csproj.md
  docs/core/tools/dependencies.md
  docs/core/tools/enable-tab-autocomplete.md
  docs/core/tools/global-json.md
  docs/core/tools/global-tools-how-to-create.md
  docs/core/tools/global-tools-how-to-use.md
  docs/core/tools/global-tools.md
  docs/core/tools/index.md
  docs/core/tools/local-tools-how-to-use.md
  docs/core/tools/troubleshoot-usage-issues.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#19917 F# printf "%%" prints a percent sign
  docs/fsharp/language-reference/plaintext-formatting.md
Labels: :books: Area - F# Guide

#19939 Update ms.custom
  docs/core/tutorials/library-with-visual-studio.md
Labels: :books: Area - .NET Core Guide

#19962 Add ControlBuilderInterceptor to additional APIs
  docs/framework/additional-apis/controlbuilderinterceptor-class.md
  docs/framework/additional-apis/index.md
  docs/framework/toc.yml
Labels: :books: Area - .NET Framework Guide

#19949 LINQ OrderBy breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/corefx.md
  includes/core-changes/corefx/5.0/orderby-firstordefault-complexity-increase.md
Labels: :books: Area - .NET Core Guide

#20011 Replace a broken link on the Azure page
  docs/azure/index.yml
Labels: :books: Area - Azure .NET SDK

#19974 Update link: aspnet/websdk to dotnet/sdk
  docs/core/project-sdk/overview.md
Labels: :books: Area - .NET Core Guide

#19963 Clarify symbols for versions/dependencies article
  docs/framework/migration-guide/versions-and-dependencies.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - AppCompat

#19977 Add ending code tag
  docs/framework/additional-apis/controlbuilderinterceptor-class.md
Labels: :books: Area - .NET Framework Guide

#19978 Restore vs.dotnet in ms.custom
  docs/core/tutorials/library-with-visual-studio.md
Labels: :books: Area - .NET Core Guide

#20014 Note .pubxml support added in 3.1
  docs/core/tools/dotnet-publish.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#20018 Update headings, minor clean up, and add correct ms.topic
  docs/standard/base-types/custom-date-and-time-format-strings.md
Labels: :books: Area - .NET Guide

#20039 Fix "resutl" -> "result"
  docs/standard/simd.md
Labels: :books: Area - .NET Guide

#20006 Microservices ebook related bug fixes.
  docs/architecture/microservices/multi-container-microservice-net-applications/background-tasks-with-ihostedservice.md
  docs/architecture/microservices/multi-container-microservice-net-applications/data-driven-crud-microservice.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#19315 Remove extra brace and minor improvements
  docs/architecture/microservices/implement-resilient-applications/monitor-app-health.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#19080 Blazor Security Chapter and Remove Preview Callouts
  docs/architecture/blazor-for-web-forms-developers/app-startup.md
  docs/architecture/blazor-for-web-forms-developers/architecture-comparison.md
  docs/architecture/blazor-for-web-forms-developers/components.md
  docs/architecture/blazor-for-web-forms-developers/config.md
  docs/architecture/blazor-for-web-forms-developers/data.md
  docs/architecture/blazor-for-web-forms-developers/forms-validation.md
  docs/architecture/blazor-for-web-forms-developers/hosting-models.md
  docs/architecture/blazor-for-web-forms-developers/index.md
  docs/architecture/blazor-for-web-forms-developers/introduction.md
  docs/architecture/blazor-for-web-forms-developers/media/index/blazor-for-aspnet-web-forms-developers.png
  docs/architecture/blazor-for-web-forms-developers/media/security/apply-migrations-page.png
  docs/architecture/blazor-for-web-forms-developers/media/security/individual-user-accounts.png
  docs/architecture/blazor-for-web-forms-developers/media/security/membership-tables.png
  docs/architecture/blazor-for-web-forms-developers/media/security/migration-files.png
  docs/architecture/blazor-for-web-forms-developers/middleware.md
  docs/architecture/blazor-for-web-forms-developers/migration.md
  docs/architecture/blazor-for-web-forms-developers/pages-routing-layouts.md
  docs/architecture/blazor-for-web-forms-developers/project-structure.md
  docs/architecture/blazor-for-web-forms-developers/security-authentication-authorization.md
  docs/architecture/blazor-for-web-forms-developers/state-management.md
  docs/architecture/index.yml
  docs/architecture/toc.yml
Labels: :book: guide - Blazor, :books: Area - .NET Architecture Guide

#20042 update topic metadata
  docfx.json
  docs/csharp/tutorials/exploration/csharp-6.yml
  docs/csharp/tutorials/exploration/interpolated-strings.yml
  docs/csharp/tutorials/intro-to-csharp/branches-and-loops.yml
  docs/csharp/tutorials/intro-to-csharp/hello-world.yml
  docs/csharp/tutorials/intro-to-csharp/list-collection.yml
  docs/csharp/tutorials/intro-to-csharp/numbers-in-csharp.yml
  docs/csharp/whats-new/breaking-changes.md
  docs/csharp/whats-new/version-update-considerations.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals, :card_file_box: Technology - C# Get Started, :card_file_box: Technology - C# What's New

#20059 Update fsharp-collection-types.md
  docs/fsharp/language-reference/fsharp-collection-types.md
Labels: :books: Area - F# Guide

#20043 Improve perf on VB landing page
  docs/visual-basic/index.yml
Labels: :books: Area - Visual Basic Guide

#20047 18772 public sign cs proj setting
  docs/csharp/language-reference/compiler-options/publicsign-compiler-option.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference, :sparkles: 1st-time docs contributor!

#20066 Fix the include of the wrong snippet
  docs/csharp/tour-of-csharp/program-building-blocks.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Get Started

#20101 Update fsharp.core links in F# null values doc
  docs/fsharp/language-reference/values/null-values.md
Labels: :books: Area - F# Guide

#20081 Corrected capitalizaton
  docs/csharp/programming-guide/classes-and-structs/constants.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#20072 MulticastOption.Group doesn't accept null
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/networking.md
  includes/core-changes/networking/5.0/multicastoption-group-doesnt-accept-null.md
Labels: :books: Area - .NET Core Guide

#20127 Fix/remove broken links
  docs/architecture/cloud-native/azure-caching.md
  docs/architecture/cloud-native/azure-security.md
  docs/architecture/microservices/architect-microservice-container-applications/maintain-microservice-apis.md
  docs/azure/includes/dotnet-new.md
  docs/core/diagnostics/debug-deadlock.md
  docs/core/diagnostics/debug-highcpu.md
  docs/csharp/language-reference/operators/lambda-expressions.md
  docs/framework/data/adonet/sql/clr-triggers.md
  docs/framework/wcf/feature-details/accessing-wcf-services-with-a-windows-store-client-app.md
  docs/standard/serialization/binaryformatter-security-guide.md
Labels: :book: guide - .NET Microservices, :book: guide - Cloud Native, :books: Area - .NET Architecture Guide, :books: Area - .NET Core Guide, :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :books: Area - Azure .NET SDK, :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference, :card_file_box: Technology - Data Access, :card_file_box: Technology - WCF

#20129 fsharp: consistency between long functions(let) and members
  docs/fsharp/style-guide/formatting.md
Labels: :books: Area - F# Guide

#20134 Remove Migrating Webform controls section
  docs/architecture/blazor-for-web-forms-developers/migration.md
Labels: :book: guide - Blazor, :books: Area - .NET Architecture Guide

#20060 Add link to Roslyn breaking changes for .NET 5.0 and C# 9.0
  docs/csharp/whats-new/breaking-changes.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# What's New

#20022 Environment.OSVersion breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/corefx.md
  includes/core-changes/corefx/5.0/environment-osversion-returns-correct-version.md
  includes/core-changes/corefx/5.0/platformabstractions-package-removed.md
Labels: :books: Area - .NET Core Guide

#20085 Update MSDN links for F# async workflows article
  docs/fsharp/language-reference/asynchronous-workflows.md
Labels: :books: Area - F# Guide

#19879 Cryptography.Oid property setters
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/cryptography.md
  includes/core-changes/cryptography/5.0/cryptography-oid-init-only.md
Labels: :books: Area - .NET Core Guide

#19617 M51025: Fixing typo customer/custom
  docs/visual-basic/programming-guide/language-features/data-types/tuples.md
Labels: :books: Area - Visual Basic Guide

#19410 Update outdated landing page
  docs/visual-basic/index.yml
Labels: :books: Area - Visual Basic Guide

#20023 Small updates to F# recursion article
  docs/fsharp/language-reference/functions/recursive-functions-the-rec-keyword.md
Labels: :books: Area - F# Guide

#20049 Change options API ref links to F# core api ref site
  docs/fsharp/language-reference/options.md
Labels: :books: Area - F# Guide

#20051 Update all F# API links in array docs
  docs/fsharp/language-reference/arrays.md
Labels: :books: Area - F# Guide

#20092 Clarify position of 'not' in overloaded operators for F#
  docs/fsharp/language-reference/operator-overloading.md
Labels: :books: Area - F# Guide

#20091 Add section and examples for members with records
  docs/fsharp/language-reference/records.md
Labels: :books: Area - F# Guide

#20095 Update F# nullable operators to point to fsharp.core reference
  docs/fsharp/language-reference/symbol-and-operator-reference/nullable-operators.md
Labels: :books: Area - F# Guide

#20096 Update fsharp.core links in F# events page
  docs/fsharp/language-reference/members/events.md
Labels: :books: Area - F# Guide

#20098 Update fsharp.core link in F# fixed doc
  docs/fsharp/language-reference/fixed.md
Labels: :books: Area - F# Guide

#20097 Update fsharp.core link in flexible types doc
  docs/fsharp/language-reference/flexible-types.md
Labels: :books: Area - F# Guide

#20094 Clarify unused warning status
  docs/fsharp/language-reference/compiler-options.md
Labels: :books: Area - F# Guide

#20093 Show example of multiple parameters in F# interfaces
  docs/fsharp/language-reference/interfaces.md
Labels: :books: Area - F# Guide

#20052 Update F# language reference index to point to FSharp.Core api ref
  docs/fsharp/language-reference/index.md
Labels: :books: Area - F# Guide

#20056 Update fsharp.core links for code quotations
  docs/fsharp/language-reference/code-quotations.md
Labels: :books: Area - F# Guide

#20067 Update UoM link in F# tour
  docs/fsharp/tour.md
Labels: :books: Area - F# Guide

#20124 1909 / 2004
  docs/framework/get-started/system-requirements.md
Labels: :books: Area - .NET Framework Guide

#20099 Update fsharp.core links in F# open declarations doc
  docs/fsharp/language-reference/import-declarations-the-open-keyword.md
Labels: :books: Area - F# Guide

#20057 Update all fsharp.core links in F# sequences doc
  docs/fsharp/language-reference/sequences.md
Labels: :books: Area - F# Guide

#20058 Update all fsharp.core links for the lists page
  docs/fsharp/language-reference/lists.md
Labels: :books: Area - F# Guide

#20086 Remove incorrect section about span and slicing for F#
  docs/fsharp/language-reference/slices.md
Labels: :books: Area - F# Guide

#20088 Add examples and fix links in F# basic types article
  docs/fsharp/language-reference/basic-types.md
Labels: :books: Area - F# Guide

#20128 Corrected grammar in section "Nullable types"
  docs/csharp/tour-of-csharp/types.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Get Started

#20089 Add const keyword to F# keywords list
  docs/fsharp/language-reference/keyword-reference.md
Labels: :books: Area - F# Guide

#20090 Remove incorrect statement about FSI load directive
  docs/fsharp/language-reference/fsharp-interactive-options.md
Labels: :books: Area - F# Guide

#20100 Update fsharp.core link in f# literals doc
  docs/fsharp/language-reference/literals.md
Labels: :books: Area - F# Guide

#20102 Update fsharp.core link in F# lazy expressions doc
  docs/fsharp/language-reference/lazy-expressions.md
Labels: :books: Area - F# Guide

#20103 Update fsharp.core links in query expressions doc
  docs/fsharp/language-reference/query-expressions.md
Labels: :books: Area - F# Guide

#16823 Remove "updateeachrelease" when appropriate
  docs/framework/configure-apps/file-schema/runtime/appcontextswitchoverrides-element.md
  docs/framework/configure-apps/file-schema/startup/supportedruntime-element.md
  docs/framework/deployment/deployment-guide-for-developers.md
  docs/framework/get-started/index.md
  docs/framework/get-started/system-requirements.md
  docs/framework/install/guide-for-developers.md
  docs/framework/install/on-windows-10.md
  docs/framework/install/on-windows-7.md
  docs/framework/install/on-windows-8-1.md
  docs/framework/install/on-windows-8.md
  docs/framework/install/on-windows-vista.md
  docs/framework/install/on-windows-xp.md
  docs/framework/install/troubleshoot-blocked-installations-and-uninstallations.md
  docs/framework/migration-guide/how-to-determine-which-versions-are-installed.md
  docs/framework/migration-guide/index.md
  docs/framework/migration-guide/version-compatibility.md
  docs/framework/migration-guide/versions-and-dependencies.md
  docs/framework/whats-new/index.md
  docs/framework/whats-new/obsolete-members.md
  docs/framework/whats-new/whats-new-in-accessibility.md
  docs/framework/whats-new/whats-obsolete.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - AppCompat, :card_file_box: Technology - Installers

#20019 Add missing open declaration to type extensions docs
  docs/fsharp/language-reference/type-extensions.md
Labels: :books: Area - F# Guide

#19697 Document dotnet-gcdump tool
  docs/core/additional-tools/index.md
  docs/core/diagnostics/dotnet-gcdump.md
  docs/core/diagnostics/index.md
  docs/core/toc.yml
Labels: :books: Area - .NET Core Guide

#20136 IDentifier -> Identifier
  docs/core/deploying/deploy-with-vs.md
  docs/core/tools/dotnet-test.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#20141 Fix build warning
  docs/framework/resources/creating-satellite-assemblies-for-desktop-apps.md
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.resources.locating/vb/assemblyinfo.vb
Labels: :books: Area - .NET Framework Guide

#20131 Updated MediatR related content
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/microservice-application-layer-implementation-web-api.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#20140 WinHttpHandler removal
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/networking.md
  includes/core-changes/networking/5.0/winhttphandler-removed-from-runtime.md
Labels: :books: Area - .NET Core Guide

#20145 Standardize sample projects, Part 20
  docs/framework/resources/creating-satellite-assemblies-for-desktop-apps.md
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.resources.locating/cs/assemblyinfo.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.resources.locating/vb/assemblyinfo.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.resources.locating/vb/locatingvb1.vbproj
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.resources.locating/vb/snippets.5000.json
Labels: :books: Area - .NET Framework Guide

#19958 Improve deps.json documentation
  docs/core/dependency-loading/default-probing.md
Labels: :books: Area - .NET Core Guide

#20064 Updated C#/VB to match proposed changes. Update article
  docs/standard/threading/how-to-register-callbacks-for-cancellation-requests.md
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.cancellation.callback/cs/cs.csproj
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.cancellation.callback/cs/howtoexample1.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.cancellation.callback/vb/howtoexample1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.cancellation.callback/vb/vb.vbproj
Labels: :books: Area - .NET Guide

#20151 Fix build warning in Arrays.md (F#)
  docs/fsharp/language-reference/arrays.md
Labels: :books: Area - F# Guide

#20156 Fix typo in the BinaryForamtter security guide.
  docs/standard/serialization/binaryformatter-security-guide.md
Labels: :books: Area - .NET Guide

#20165 Revert runtime-dependent to framework-dependent
  docs/core/deploying/index.md
  docs/core/deploying/runtime-store.md
  docs/core/native-interop/expose-components-to-com.md
  docs/core/tools/csproj.md
  docs/core/tools/dotnet-publish.md
  docs/core/tools/troubleshoot-usage-issues.md
  docs/core/versions/selection.md
  docs/core/whats-new/dotnet-core-2-2.md
  docs/core/whats-new/dotnet-core-3-0.md
  docs/core/whats-new/dotnet-core-3-1.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#19559 Add Model Builder GPU instructions
  docs/machine-learning/how-to-guides/install-gpu-model-builder.md
  docs/machine-learning/toc.yml
Labels: :books: Area - ML.NET Guide

#20173 Grammar
  docs/standard/parallel-programming/task-based-asynchronous-programming.md
Labels: :books: Area - .NET Guide

#20045 Add static analyzer info to DataSet security doc
  docs/framework/data/adonet/dataset-datatable-dataview/security-guidance.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - Data Access

#20170 fix comment in DisposeAsync()
  docs/standard/garbage-collection/implementing-disposeasync.md
Labels: :books: Area - .NET Guide

#20046 Fix a typo
  docs/architecture/microservices/secure-net-microservices-web-applications/index.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide, :sparkles: 1st-time docs contributor!

#20055 Update F# core library links in collection types
  docs/fsharp/language-reference/fsharp-collection-types.md
Labels: :books: Area - F# Guide

#20053 Add entry for Result module docs
  docs/fsharp/language-reference/results.md
Labels: :books: Area - F# Guide

#20160 Add "updateeachrelease" metadata
  docs/csharp/language-reference/compiler-options/langversion-compiler-option.md
  docs/csharp/language-reference/configure-language-version.md
  docs/csharp/language-reference/includes/langversion-table.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#20161 Update cs1617.md
  docs/csharp/misc/cs1617.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# / VB diagnostics

#20137 Clean up redirected links
  docs/core/get-started.md
  docs/core/install/macos-notarization-issues.md
  docs/core/tutorials/index.md
  docs/csharp/tour-of-csharp/index.md
  docs/framework/wcf/feature-details/security-considerations-for-data.md
  docs/framework/wcf/feature-details/serialization-and-deserialization.md
  docs/samples-and-tutorials/index.md
  docs/whats-new/2020-07.md
  docs/whats-new/dotnet-2020-05.md
Labels: :books: Area - .NET Core Guide, :books: Area - .NET Framework Guide, :books: Area - C# Guide, :card_file_box: Technology - C# Get Started, :card_file_box: Technology - WCF, :star2: What's New

#20174 Standardize sample projects, Part 22
  docs/architecture/modernize-desktop/example-migration-core.md
  docs/standard/io/snippets/how-to-read-text-from-a-file/csharp/async-wpf/TextFiles.csproj
  docs/standard/io/snippets/how-to-read-text-from-a-file/vb/async-wpf/TextFiles.vbproj
  samples/snippets/desktop-guide/wpf/data-binding-overview/csharp/bindings.csproj
  samples/snippets/desktop-guide/wpf/data-binding-overview/vb/bindings.vbproj
  samples/snippets/desktop-guide/wpf/styles-and-templates-intro/csharp/CSharpExample.csproj
  samples/snippets/desktop-guide/wpf/styles-and-templates-intro/vb/VBExample.vbproj
  samples/snippets/desktop-guide/wpf/styles-templates-create-apply-template/csharp/CSharpExample.csproj
  samples/snippets/desktop-guide/wpf/styles-templates-create-apply-template/vb/VBExample.vbproj
  samples/snippets/standard/async/async-and-await/cs/AsyncFirstExampleCS.csproj
  samples/snippets/standard/async/async-and-await/vb/AsyncFirstExampleVB.vbproj
Labels: :books: Area - .NET Guide

#20177 Acrolinx spelling
  docs/core/deploying/deploy-with-vs.md
  docs/core/diagnostics/dotnet-gcdump.md
  docs/core/tools/dotnet-test.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#20135 Enhance Trim Deploy Documentation
  docs/core/deploying/index.md
  docs/core/deploying/trim-self-contained.md
  docs/core/tools/dotnet-publish.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#20155 Update character-encoding-introduction.md
  docs/standard/base-types/character-encoding-introduction.md
Labels: :books: Area - .NET Guide

#20189 More redirected link clean up
  docs/core/get-started.md
  docs/core/testing/unit-testing-fsharp-with-dotnet-test.md
  docs/core/testing/unit-testing-fsharp-with-mstest.md
  docs/core/testing/unit-testing-fsharp-with-nunit.md
  docs/core/testing/unit-testing-visual-basic-with-dotnet-test.md
  docs/core/testing/unit-testing-visual-basic-with-mstest.md
  docs/core/testing/unit-testing-visual-basic-with-nunit.md
  docs/core/testing/unit-testing-with-dotnet-test.md
  docs/core/testing/unit-testing-with-mstest.md
  docs/core/testing/unit-testing-with-nunit.md
  docs/core/tutorials/netcore-hosting.md
  docs/csharp/expression-trees-building.md
  docs/csharp/indexers.md
  docs/csharp/iterators.md
  docs/csharp/tour-of-csharp/index.md
  docs/csharp/tutorials/console-teleprompter.md
  docs/csharp/tutorials/console-webapiclient.md
  docs/csharp/tutorials/working-with-linq.md
  docs/samples-and-tutorials/index.md
  docs/whats-new/dotnet-2020-05.md
Labels: :books: Area - .NET Core Guide, :books: Area - C# Guide, :card_file_box: Technology - C# Get Started, :star2: What's New

#19480 Add POH events
  docs/framework/performance/garbage-collection-etw-events.md
Labels: :books: Area - .NET Framework Guide

#20176 UNC paths on Unix
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/corefx.md
  includes/core-changes/corefx/5.0/unc-path-recognition-unix.md
Labels: :books: Area - .NET Core Guide

#20191 Fix capitalization in metadata
  docs/standard/parallel-programming/task-based-asynchronous-programming.md
Labels: :books: Area - .NET Guide

#20193 Reference assembly parameter names change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/aspnetcore.md
  docs/core/compatibility/corefx.md
  includes/core-changes/corefx/5.0/reference-assembly-parameter-names.md
Labels: :books: Area - .NET Core Guide

#20207 Fix spelling
  docs/core/deploying/index.md
  docs/core/deploying/trim-self-contained.md
Labels: :books: Area - .NET Core Guide

#19848 Redirect to legacy versions and remove from current documentation
  .openpublishing.redirection.json
  docs/framework/data/adonet/ef/architecture-and-design.md
  docs/framework/data/adonet/ef/generating-sql-from-command-trees-best-practices.md
  docs/framework/data/adonet/ef/modification-sql-generation.md
  docs/framework/data/adonet/ef/provider-manifest-specification.md
  docs/framework/data/adonet/ef/sql-generation-in-the-sample-provider.md
  docs/framework/data/adonet/ef/sql-generation.md
  docs/framework/data/adonet/ef/the-shape-of-the-command-trees.md
  docs/framework/data/adonet/ef/toc.yml
  docs/framework/data/adonet/ef/walkthrough-sql-generation.md
  docs/framework/data/adonet/ef/working-with-data-providers.md
  docs/framework/data/adonet/ef/writing-an-ef-data-provider.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - Data Access

#20240 Prevent possible over-localization
  docs/core/tutorials/with-visual-studio-code.md
  docs/core/tutorials/with-visual-studio-mac.md
  docs/core/tutorials/with-visual-studio.md
Labels: :books: Area - .NET Core Guide

#20253 Enhance description
  docs/core/tutorials/with-visual-studio-code.md
  docs/core/tutorials/with-visual-studio-mac.md
Labels: :books: Area - .NET Core Guide

#20202 Add missing language identifiers
  docs/architecture/cloud-native/logging-with-elastic-stack.md
  docs/core/docker/build-container.md
  docs/core/tutorials/debugging-with-visual-studio-code.md
  docs/core/tutorials/library-with-visual-studio-code.md
  docs/core/tutorials/publishing-with-visual-studio-code.md
  docs/core/tutorials/publishing-with-visual-studio-mac.md
  docs/core/tutorials/publishing-with-visual-studio.md
  docs/core/tutorials/testing-library-with-visual-studio-code.md
  docs/framework/configure-apps/file-schema/wcf/add-of-baseaddressprefixfilter.md
  docs/framework/configure-apps/file-schema/wcf/baseaddressprefixfilters.md
  docs/framework/wcf/feature-details/how-to-replace-the-wcf-url-reservation-with-a-restricted-reservation.md
  docs/framework/wcf/feature-details/messaging-protocols.md
  docs/framework/wcf/feature-details/workflow-services-overview.md
  docs/framework/wpf/advanced/globalization-for-wpf.md
  docs/spark/how-to-guides/ubuntu-instructions.md
  docs/spark/how-to-guides/windows-instructions.md
  docs/standard/analyzers/portability-analyzer.md
  docs/standard/assembly/enhanced-strong-naming.md
  docs/standard/base-types/character-encoding-introduction.md
  docs/standard/serialization/system-text-json-converters-how-to.md
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-project-an-anonymous-type.md
  includes/core-changes/aspnetcore/3.0/mvc-jsonresult-moved.md
  includes/core-changes/aspnetcore/5.0/http-httpclient-instances-log-integer-status-codes.md
  samples/snippets/core/testing/unit-testing-using-dotnet-test/csharp/README.md
  samples/snippets/core/testing/unit-testing-using-mstest/csharp/README.md
  samples/snippets/core/testing/unit-testing-using-nunit/csharp/README.md
  samples/snippets/core/tutorials/netcore-hosting/csharp/HostWithHostFxr/readme.md
  samples/snippets/csharp/classes-quickstart/README.md
  samples/snippets/csharp/delegates-and-events/README.md
  samples/snippets/csharp/events/README.md
  samples/snippets/csharp/getting-started/console-linq/README.md
  samples/snippets/csharp/getting-started/console-webapiclient/README.md
  samples/snippets/csharp/versioning/new/README.md
  samples/snippets/csharp/versioning/override/README.md
Labels: :book: guide - Cloud Native, :book: guide - gRPC, :books: Area - .NET Architecture Guide, :books: Area - .NET Core Guide, :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :books: Area - .NET for Apache Spark Guide, :books: Area - F# Guide, :books: Area - Visual Basic Guide, :card_file_box: Technology - Docker, :card_file_box: Technology - WCF, :card_file_box: Technology - WF, :card_file_box: Technology - WPF

#20250 Fix link
  docs/csharp/misc/cs0619.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# / VB diagnostics

#20261 Use dotnetcli and update example to 3.1
  docs/core/tools/csproj.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#20251 Styleguide-ish improvements
  docs/csharp/tutorials/intro-to-csharp/hello-world.yml
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#20178 Fix typo
  docs/azure/authentication.md
Labels: :books: Area - Azure .NET SDK

#20238 Add notnull to contextual keywords table
  docs/csharp/language-reference/keywords/index.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference
