Repository dotnet/docs, pull requests merged in 2020-10, with the labels that each got.

#20651 move OO tutorial to get-started
  .openpublishing.redirection.json
  docs/csharp/programming-guide/classes-and-structs/classes.md
  docs/csharp/programming-guide/concepts/index.md
  docs/csharp/programming-guide/concepts/object-oriented-programming.md
  docs/csharp/toc.yml
  docs/csharp/tutorials/intro-to-csharp/index.md
  docs/csharp/tutorials/intro-to-csharp/introduction-to-classes.md
  docs/csharp/tutorials/intro-to-csharp/object-oriented-programming.md
  docs/csharp/tutorials/intro-to-csharp/snippets/introduction-to-classes/BankAccount.cs
  docs/csharp/tutorials/intro-to-csharp/snippets/introduction-to-classes/Program.cs
  docs/csharp/tutorials/intro-to-csharp/snippets/introduction-to-classes/classes.csproj
  docs/csharp/tutorials/intro-to-csharp/snippets/introduction-to-classes/transaction.cs
  docs/csharp/tutorials/intro-to-csharp/snippets/object-oriented-programming/BankAccount.cs
  docs/csharp/tutorials/intro-to-csharp/snippets/object-oriented-programming/GiftCardAccount.cs
  docs/csharp/tutorials/intro-to-csharp/snippets/object-oriented-programming/InterestEarningAccount.cs
  docs/csharp/tutorials/intro-to-csharp/snippets/object-oriented-programming/LineOfCreditAccount.cs
  docs/csharp/tutorials/intro-to-csharp/snippets/object-oriented-programming/Program.cs
  docs/csharp/tutorials/intro-to-csharp/snippets/object-oriented-programming/object-oriented-programming.csproj
  docs/csharp/tutorials/intro-to-csharp/snippets/object-oriented-programming/transaction.cs
  samples/snippets/csharp/classes-quickstart/README.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#20829 Remove redundant dot.
  docs/framework/data/adonet/sqlclient-streaming-support.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - Data Access

#20870 Clarify distinction between "assembly reference" and "version referenced by an assembly"
  docs/standard/library-guidance/strong-naming.md
Labels: :books: Area - .NET Guide

#20807 Added Reference link to MCR
  docs/core/docker/introduction.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - Docker

#20861 Local functions: updated information about modifiers
  docs/csharp/language-reference/keywords/static.md
  docs/csharp/programming-guide/classes-and-structs/local-functions.md
  docs/csharp/whats-new/csharp-8.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals, :card_file_box: Technology - C# Language Reference, :card_file_box: Technology - C# What's New

#20851 Update cancel-an-async-task-or-a-list-of-tasks.md
  docs/csharp/programming-guide/concepts/async/cancel-an-async-task-or-a-list-of-tasks.md
  docs/csharp/programming-guide/concepts/async/snippets/cancel-tasks/cancel-tasks/Program.cs
Labels: :books: Area - C# Guide, :card_file_box: Technology - Async Task

#20849 Fix build warnings
  docs/core/deploying/single-file.md
Labels: :books: Area - .NET Core Guide

#20848 Add breaking change for preprocessor symbols
  docs/core/compatibility/msbuild.md
  includes/core-changes/msbuild/5.0/netcoreapp3_1-preprocessor-symbol-not-defined.md
Labels: :books: Area - .NET Core Guide

#20844 ICU for WebAssembly small tweaks
  docs/standard/globalization-localization/globalization-icu.md
Labels: :books: Area - .NET Guide

#20729 Document PublishReadyToRun
  docs/core/deploying/index.md
  docs/core/deploying/ready-to-run.md
  docs/core/run-time-config/compilation.md
  docs/core/tools/dotnet-publish.md
  docs/core/whats-new/dotnet-core-3-0.md
  docs/fundamentals/toc.yml
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI, :sparkles: 1st-time docs contributor!

#20855 Correct language on native size integer constants.
  docs/csharp/whats-new/csharp-9.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# What's New

#20875 Fixed build warnings...Thanks Genevieve
  docs/core/extensions/logging-providers.md
  docs/core/extensions/logging.md
Labels: :books: Area - .NET Core Guide

#20873 Replace default constructor with parameterless
  docs/csharp/programming-guide/classes-and-structs/how-to-initialize-objects-by-using-an-object-initializer.md
  samples/snippets/csharp/programming-guide/classes-and-structs/object-collection-initializers/HowToObjectInitializers.cs
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals, :sparkles: 1st-time docs contributor!

#20837 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: :books: Area - Azure .NET SDK

#20857 Single file debugging
  docs/core/deploying/single-file.md
Labels: :books: Area - .NET Core Guide

#20874 Fix counter name for HttpWebRequests Average Lifetime and…
  docs/framework/debug-trace-profile/performance-counters.md
Labels: :books: Area - .NET Framework Guide

#20899 Change https to http for jsnlog.com, https does not resolve to the correct website.
  docs/core/extensions/logging-providers.md
Labels: :books: Area - .NET Core Guide

#20901 Update broken source code link to new location
  docs/csharp/tutorials/intro-to-csharp/introduction-to-classes.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals, :sparkles: 1st-time docs contributor!

#20905 Fix link to a section
  docs/csharp/language-reference/keywords/switch.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#20911 Added link to related article (#20904)
  docs/csharp/tutorials/nullable-reference-types.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#20909 Update syntax-analysis.md
  docs/csharp/roslyn-sdk/get-started/syntax-analysis.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - Roslyn APIs

#20811 Update .NET intro
  .openpublishing.redirection.json
  docs/core/about.md
  docs/core/introduction.md
  docs/fundamentals/toc.yml
  docs/standard/tour.md
Labels: :books: Area - .NET Core Guide, :books: Area - .NET Guide

#20859 Update Get started section of Fundamentals TOC
  docs/core/get-started.md
  docs/standard/get-started.md
Labels: :books: Area - .NET Core Guide, :books: Area - .NET Guide

#20916 TSL should be TLS
  docs/framework/whats-new/index.md
Labels: :books: Area - .NET Framework Guide

#20891 Activity.Tags list order breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/corefx.md
  includes/core-changes/corefx/5.0/reverse-order-of-tags-in-activity-property.md
Labels: :books: Area - .NET Core Guide

#20888 Fix PerformanceCounters element
  docs/framework/configure-apps/file-schema/network/performancecounter-element-network-settings.md
  docs/framework/configure-apps/file-schema/network/toc.yml
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - NCL

#20822 Acrolinx 9/28
  docs/standard/analyzers/api-analyzer.md
  docs/standard/analyzers/platform-compat-analyzer.md
Labels: :books: Area - .NET Guide

#20791 Acrolinx 9/25
  docs/architecture/cloud-native/leverage-containers-orchestrators.md
  docs/fsharp/using-fsharp-on-azure/blob-storage.md
  docs/fsharp/using-fsharp-on-azure/package-management.md
  docs/fsharp/using-fsharp-on-azure/queue-storage.md
  docs/fsharp/using-fsharp-on-azure/table-storage.md
Labels: :book: guide - Cloud Native, :books: Area - .NET Architecture Guide, :books: Area - F# Guide

#20902 Fix broken link to HTTP2 spec
  docs/framework/whats-new/index.md
Labels: :books: Area - .NET Framework Guide

#20889 Consolidate c7 whats new
  .openpublishing.redirection.json
  docs/csharp/toc.yml
  docs/csharp/whats-new/csharp-7-1.md
  docs/csharp/whats-new/csharp-7-2.md
  docs/csharp/whats-new/csharp-7-3.md
  docs/csharp/whats-new/csharp-7.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# What's New

#20890 Add What's new in September
  docs/whats-new/2020-09.md
  docs/whats-new/dotnet-2020-03.md
  docs/whats-new/index.yml
  docs/whats-new/toc.yml
Labels: :star2: What's New

#20932 Fixed broken link in additional resources section
  docs/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#20918 Update interpolated-strings.md
  docs/visual-basic/programming-guide/language-features/strings/interpolated-strings.md
Labels: :books: Area - Visual Basic Guide

#20929 Minor misalignment
  docs/csharp/tutorials/intro-to-csharp/list-collection.yml
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals, :sparkles: 1st-time docs contributor!

#20641 Add targeting/runtime pack missing
  docs/core/tools/sdk-errors/netsdk1145.md
  docs/fundamentals/toc.yml
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#20936 update f1 for C# error messages
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# / VB diagnostics

#20928 Links: .NET (2020-10)
  docs/core/extensions/high-performance-logging.md
  docs/core/introduction.md
  docs/core/whats-new/dotnet-core-3-0.md
  docs/csharp/tutorials/nullable-reference-types.md
  docs/framework/data/wcf/binding-data-to-controls-wcf-data-services.md
  docs/fundamentals/code-analysis/quality-rules/ca1016.md
  docs/fundamentals/code-analysis/quality-rules/ca1017.md
  docs/fundamentals/code-analysis/quality-rules/ca1063.md
  docs/fundamentals/code-analysis/quality-rules/ca1416.md
  docs/fundamentals/code-analysis/quality-rules/ca1507.md
  docs/fundamentals/code-analysis/quality-rules/ca1816.md
  docs/fundamentals/code-analysis/quality-rules/ca2000.md
  docs/fundamentals/code-analysis/quality-rules/ca2002.md
  docs/fundamentals/code-analysis/quality-rules/ca2007.md
  docs/fundamentals/code-analysis/quality-rules/ca2213.md
  docs/fundamentals/code-analysis/quality-rules/ca2215.md
  docs/fundamentals/code-analysis/quality-rules/ca2216.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/reliability-warnings.md
  docs/fundamentals/code-analysis/style-rules/ide0054.md
  docs/fundamentals/code-analysis/style-rules/ide0058.md
  docs/fundamentals/code-analysis/style-rules/ide0059.md
  docs/fundamentals/code-analysis/style-rules/language-rules.md
  docs/fundamentals/index.yml
  docs/fundamentals/toc.yml
  docs/index.yml
  docs/spark/toc.yml
  docs/standard/analyzers/platform-compat-analyzer.md
  docs/whats-new/dotnet-2020-04.md
  docs/whats-new/index.yml
Labels: :books: Area - .NET Core Guide, :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :books: Area - .NET for Apache Spark Guide, :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals, :card_file_box: Technology - WCF, :star2: What's New

#20950 Fix broken links (October)
  docs/architecture/microservices/multi-container-microservice-net-applications/test-aspnet-core-services-web-apps.md
  docs/core/extensions/logging-providers.md
  docs/fundamentals/code-analysis/code-style-rule-options.md
  docs/fundamentals/code-analysis/quality-rules/ca3004.md
  docs/fundamentals/code-analysis/style-rules/naming-rules.md
  docs/machine-learning/resources/metrics.md
  docs/standard/analyzers/platform-compat-analyzer.md
  docs/standard/linq/functional-vs-imperative-programming.md
  docs/visual-basic/misc/bc2027.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide, :books: Area - .NET Core Guide, :books: Area - .NET Guide, :books: Area - ML.NET Guide, :books: Area - Visual Basic Guide

#20951 fix warnings
  .openpublishing.redirection.json
  docs/csharp/misc/CS4009.md
  docs/csharp/programming-guide/concepts/async/cancel-an-async-task-or-a-list-of-tasks.md
  docs/csharp/programming-guide/concepts/async/start-multiple-async-tasks-and-process-them-as-they-complete.md
  docs/csharp/tutorials/console-teleprompter.md
  docs/csharp/whats-new/csharp-7.md
  docs/csharp/whats-new/csharp-version-history.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# What's New

#20952 Update netsdk1145.md
  docs/core/tools/sdk-errors/netsdk1145.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#20940 Document Blazor browser support breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/aspnetcore.md
  includes/core-changes/aspnetcore/5.0/blazor-browser-support-updated.md
Labels: :books: Area - .NET Core Guide

#20953 Add breaking change for DataGridView fonts
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/winforms.md
  includes/core-changes/windowsforms/5.0/datagridview-doesnt-reset-custom-font-settings.md
Labels: :books: Area - .NET Core Guide

#20938 Updated ACR creation section
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/build-aspnet-core-applications-linux-containers-aks-kubernetes.md
Labels: :book: guide - Docker lifecycle, :books: Area - .NET Architecture Guide

#20964 Adding CosmosDB Repository SDK to Azure hub
  docs/azure/index.yml
Labels: :books: Area - Azure .NET SDK

#20956 Breaking changes for JsonSerializer.Deserialize
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/serialization.md
  includes/core-changes/serialization/5.0/deserializing-json-into-char-requires-single-character.md
Labels: :books: Area - .NET Core Guide

#20968 Add link to API browser
  docs/framework/index.yml
Labels: :books: Area - .NET Framework Guide

#20920 adding documentations for wfc.exe
  docs/framework/windows-workflow-foundation/toc.yml
  docs/framework/windows-workflow-foundation/wfc-exe-workflow-compiler-tool.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WF

#20910 Update leverage-containers-orchestrators.md
  docs/architecture/cloud-native/leverage-containers-orchestrators.md
Labels: :book: guide - Cloud Native, :books: Area - .NET Architecture Guide

#20982 Updated MS-Learn link.
  docs/architecture/index.yml
Labels: :books: Area - .NET Architecture Guide

#20924 Update pattern matching tutorial for C# 9.0
  docs/csharp/tutorials/pattern-matching.md
  samples/snippets/csharp/tutorials/patterns/finished/toll-calculator/Program.cs
  samples/snippets/csharp/tutorials/patterns/finished/toll-calculator/TollCalculator.cs
  samples/snippets/csharp/tutorials/patterns/finished/toll-calculator/toll-calculator.csproj
  samples/snippets/csharp/tutorials/patterns/start/toll-calculator/Program.cs
  samples/snippets/csharp/tutorials/patterns/start/toll-calculator/toll-calculator.csproj
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#20971 Fix typo
  docs/csharp/language-reference/keywords/ref.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#20972 Fix resx file name
  docs/framework/resources/creating-satellite-assemblies-for-desktop-apps.md
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.resources.locating/cs/program.cs
Labels: :books: Area - .NET Framework Guide

#20975 Clarify continue statement explanation
  docs/csharp/language-reference/keywords/continue.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference, :sparkles: 1st-time docs contributor!

#20983 Local functions: moved and revised code snippets
  docs/csharp/programming-guide/classes-and-structs/local-functions.md
  docs/csharp/programming-guide/classes-and-structs/snippets/local-functions/AsyncWithLocal.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/local-functions/AsyncWithoutLocal.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/local-functions/IteratorWithLocal.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/local-functions/IteratorWithoutLocal.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/local-functions/Program.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/local-functions/local-functions.csproj
  samples/snippets/csharp/programming-guide/classes-and-structs/local-functions-async1.cs
  samples/snippets/csharp/programming-guide/classes-and-structs/local-functions-async2.cs
  samples/snippets/csharp/programming-guide/classes-and-structs/local-functions-iterator1.cs
  samples/snippets/csharp/programming-guide/classes-and-structs/local-functions-iterator2.cs
  samples/snippets/csharp/programming-guide/classes-and-structs/local-functions1.cs
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#20778 Adding How To Guides for .NET for Apache Spark
  docs/spark/how-to-guides/connect-to-azure-storage.md
  docs/spark/how-to-guides/connect-to-event-hub.md
  docs/spark/how-to-guides/connect-to-mongo-db.md
  docs/spark/how-to-guides/connect-to-sql-server.md
  docs/spark/how-to-guides/dotnet-interactive-udf-issue.md
  docs/spark/how-to-guides/java-udf-from-dotnet.md
  docs/spark/how-to-guides/media/connect-external-sources/SQLServerTCPIIPPort.png
  docs/spark/how-to-guides/media/connect-external-sources/SqlServerAuth.png
  docs/spark/how-to-guides/media/connect-external-sources/SqlServerTCPIP.png
  docs/spark/how-to-guides/media/connect-external-sources/hadoop-env.png
  docs/spark/how-to-guides/media/dotnet-interactive/broadcast-fails.png
  docs/spark/how-to-guides/media/dotnet-interactive/decompiledAssembly.png
  docs/spark/how-to-guides/media/dotnet-interactive/dotnet-interactive-cells.png
  docs/spark/how-to-guides/media/dotnet-interactive/udf-serialization-error.png
  docs/spark/how-to-guides/media/dotnet-interactive/udf_fails.png
  docs/spark/how-to-guides/media/dotnet-interactive/udf_works.png
  docs/spark/how-to-guides/media/dotnet-interactive/working-udf.png
Labels: :books: Area - .NET for Apache Spark Guide

#20788 Document private APIs in GridViewHeaderRowPresenter
  docs/framework/additional-apis/index.md
  docs/framework/additional-apis/system.windows.controls.gridviewheaderrowpresenter.findheaderbycolumn.md
  docs/framework/additional-apis/system.windows.controls.gridviewheaderrowpresenter.makeparentitemscontrolgotfocus.md
  docs/framework/additional-apis/system.windows.controls.gridviewheaderrowpresenter.prepareheaderdrag.md
  docs/framework/toc.yml
Labels: :books: Area - .NET Framework Guide

#20978 Releases and support doc
  docs/core/introduction.md
  docs/core/releases-and-support.md
  docs/fundamentals/toc.yml
Labels: :books: Area - .NET Core Guide

#20987 Update version (C# 8 -> C# 9)
  docs/csharp/tutorials/pattern-matching.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#20990 Inserted missing word
  docs/csharp/whats-new/csharp-7.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# What's New, :sparkles: 1st-time docs contributor!

#20997 C# 9 reference update: attributes for local functions
  docs/csharp/language-reference/attributes/nullable-analysis.md
  docs/csharp/programming-guide/classes-and-structs/local-functions.md
  docs/csharp/programming-guide/classes-and-structs/snippets/local-functions/Program.cs
  docs/csharp/whats-new/csharp-9.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals, :card_file_box: Technology - C# Language Reference, :card_file_box: Technology - C# What's New

#20999 Addressed most of the SEO considerations suggested.
  docs/core/dotnet-five.md
  docs/fundamentals/index.yml
  docs/fundamentals/toc.yml
  docs/index.yml
Labels: :books: Area - .NET Core Guide

#20989 Fix code for older version registry keys
  docs/framework/migration-guide/how-to-determine-which-versions-are-installed.md
  docs/framework/migration-guide/snippets/csharp/FrameworkVersions.csproj
  docs/framework/migration-guide/snippets/csharp/versions-installed.cs
  docs/framework/migration-guide/snippets/visual-basic/FrameworkVersions.vbproj
  docs/framework/migration-guide/snippets/visual-basic/versions-installed.vb
  samples/snippets/csharp/framework/migration-guide/versions-installed1.cs
  samples/snippets/csharp/framework/migration-guide/versions-installed2.cs
  samples/snippets/csharp/framework/migration-guide/versions-installed3.cs
  samples/snippets/visualbasic/framework/migration-guide/versions-installed1.vb
  samples/snippets/visualbasic/framework/migration-guide/versions-installed2.vb
  samples/snippets/visualbasic/framework/migration-guide/versions-installed3.vb
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - AppCompat

#20984 Note for torn-reads in EventCounters
  docs/core/diagnostics/event-counters.md
  docs/core/diagnostics/snippets/EventCounters/RequestEventSource.cs
Labels: :books: Area - .NET Core Guide

#21001 try triple-colon syntax
  docs/csharp/tutorials/exploration/csharp-6.yml
  docs/csharp/tutorials/exploration/snippets/csharp6-finished/Program.cs
  docs/csharp/tutorials/exploration/snippets/csharp6-finished/csharp6-finished.csproj
  docs/csharp/tutorials/exploration/snippets/csharp6-starter/Program.cs
  docs/csharp/tutorials/exploration/snippets/csharp6-starter/csharp6-starter.csproj
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals, :card_file_box: Technology - C# Get Started

#21002 Acrolinx 10/9
  docs/spark/how-to-guides/connect-to-event-hub.md
  docs/spark/how-to-guides/dotnet-interactive-udf-issue.md
Labels: :books: Area - .NET for Apache Spark Guide

#20973 JsonSerializer.Serialize with null type parameter
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/serialization.md
  includes/core-changes/serialization/5.0/jsonserializer-serialize-throws-argumentnullexception-for-null-type.md
Labels: :books: Area - .NET Core Guide

#21014 Create netsdk1073.md
  docs/core/tools/sdk-errors/netsdk1073.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#21016 Adding .NET SDK error pages for 1005, 1047, and 1059
  docs/core/tools/sdk-errors/netsdk1005.md
  docs/core/tools/sdk-errors/netsdk1059.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#20893 Single-file publishing breaking changes
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/corefx.md
  includes/core-changes/corefx/5.0/assembly-api-behavior-changes-for-single-file-publish.md
Labels: :books: Area - .NET Core Guide

#20926 How-To: .NET Interactive + .NET for Apache Spark
  docs/spark/how-to-guides/broadcast-guide.md
  docs/spark/how-to-guides/databricks-deploy-methods.md
  docs/spark/how-to-guides/debug.md
  docs/spark/how-to-guides/deploy-worker-udf-binaries.md
  docs/spark/how-to-guides/dotnet-spark-jupyter-notebooks.md
  docs/spark/how-to-guides/hdinsight-deploy-methods.md
  docs/spark/how-to-guides/hdinsight-notebook-installation.md
  docs/spark/how-to-guides/media/dotnet-spark-jupyter-notebooks/jupyter-notebooks-dotnet-spark-vscode.png
  docs/spark/how-to-guides/ubuntu-instructions.md
  docs/spark/how-to-guides/udf-guide.md
  docs/spark/how-to-guides/windows-instructions.md
  docs/spark/resources/index.md
  docs/spark/toc.yml
  docs/spark/tutorials/amazon-emr-spark-deployment.md
  docs/spark/tutorials/batch-processing.md
  docs/spark/tutorials/databricks-deployment.md
  docs/spark/tutorials/get-started.md
  docs/spark/tutorials/hdinsight-deployment.md
  docs/spark/tutorials/ml-sentiment-analysis.md
  docs/spark/tutorials/streaming.md
  docs/spark/what-is-apache-spark-dotnet.md
  includes/spark-preview-note.md
Labels: :books: Area - .NET for Apache Spark Guide

#21020 dotnet nuget verify doc
  docs/core/tools/dotnet-nuget-verify.md
  docs/fundamentals/toc.yml
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#21034 Add F1 keywords for default token semantics
  docs/csharp/language-reference/keywords/default.md
  docs/csharp/language-reference/keywords/switch.md
  docs/csharp/language-reference/operators/default.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#21038 Added missing `protected` keyword
  docs/csharp/tutorials/intro-to-csharp/object-oriented-programming.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#21025 Deserialization constructors
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/serialization.md
  includes/core-changes/serialization/5.0/non-public-parameterless-constructors-not-used-for-deserialization.md
Labels: :books: Area - .NET Core Guide

#21044 Correctly links to logging providers
  docs/core/diagnostics/logging-tracing.md
Labels: :books: Area - .NET Core Guide

#21027 Update serialization how-to
  docs/standard/serialization/system-text-json-how-to.md
Labels: :books: Area - .NET Guide

#21052 SendToAsync breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/networking.md
  includes/core-changes/networking/5.0/localendpoint-updated-on-sendtoasync.md
Labels: :books: Area - .NET Core Guide

#21037 Add f1-keyword for `class` used as generic type constraint
  docs/csharp/language-reference/keywords/where-generic-type-constraint.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#21054 FrameworkDescription breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/corefx.md
  includes/core-changes/corefx/5.0/frameworkdescription-returns-net-not-net-core.md
Labels: :books: Area - .NET Core Guide

#20931 Removing redundant pipe character
  docs/standard/base-types/character-escapes-in-regular-expressions.md
Labels: :books: Area - .NET Guide

#20925 Update single-file.md
  docs/core/deploying/single-file.md
Labels: :books: Area - .NET Core Guide

#20922 Remove statement about TLS 1.3 for .NET Core 3.0
  docs/core/whats-new/dotnet-core-3-0.md
Labels: :books: Area - .NET Core Guide

#20979 SslStream/NegotiateStream breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/networking.md
  includes/core-changes/networking/5.0/negotiatestream-sslstream-dont-fail-on-successive-begin-calls.md
Labels: :books: Area - .NET Core Guide

#21046 Add workload and app model to glossary
  docs/standard/glossary.md
Labels: :books: Area - .NET Guide

#21050 Breaking change for key-value pair serialization
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/serialization.md
  includes/core-changes/serialization/5.0/options-honored-when-serializing-key-value-pairs.md
Labels: :books: Area - .NET Core Guide

#20955 Update .NET Standard overview for .NET 5
  docs/fundamentals/toc.yml
  docs/standard/choosing-core-framework-server.md
  docs/standard/components.md
  docs/standard/net-standard.md
  includes/net-standard-table.md
Labels: :books: Area - .NET Guide

#21072 Update get-started-vscode.md
  docs/fsharp/get-started/get-started-vscode.md
Labels: :books: Area - F# Guide

#21062 Fix a typo
  docs/architecture/microservices/secure-net-microservices-web-applications/index.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#21066 Move tour to overview
  docs/breadcrumb/toc.yml
  docs/csharp/getting-started/index.md
  docs/csharp/getting-started/introduction-to-the-csharp-language-and-the-net-framework.md
  docs/csharp/getting-started/media/introduction-to-the-csharp-language-and-the-net-framework/net-architecture-relationships.png
  docs/csharp/toc.yml
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Get Started

#21063 Add known pitfalls to nullable reference types
  docs/csharp/nullable-references.md
Labels: :books: Area - C# Guide

#21098 Fix a bug with the recommended remove code
  docs/core/compatibility/3.1-5.0.md
  includes/core-changes/aspnetcore/5.0/http-httpclient-instances-log-integer-status-codes.md
Labels: :books: Area - .NET Core Guide

#21069 Update unsupported techs for .NET 5
  docs/core/compatibility/unsupported-apis.md
  docs/core/porting/net-framework-tech-unavailable.md
Labels: :books: Area - .NET Core Guide, :checkered_flag: Release: .NET 5

#21105 .NET Framework -> .NET
  docs/standard/assembly/create-public-private-key-pair.md
  docs/standard/assembly/create-use-strong-named.md
  docs/standard/assembly/create.md
  docs/standard/assembly/delay-sign.md
  docs/standard/attributes/applying-attributes.md
  docs/standard/attributes/index.md
  docs/standard/base-types/best-practices.md
  docs/standard/building-console-apps.md
  docs/standard/language-independence-and-language-independent-components.md
  docs/standard/language-independence.md
  docs/standard/managed-code.md
  docs/standard/managed-execution-process.md
  docs/standard/metadata-and-self-describing-components.md
Labels: :books: Area - .NET Guide

#21102 Update choosing-core-framework-server.md
  docs/standard/choosing-core-framework-server.md
Labels: :books: Area - .NET Guide

#21104 Add info about object detection & GPU training
  docs/machine-learning/automate-training-with-model-builder.md
Labels: :books: Area - ML.NET Guide

#21118 Update how-to-define-value-equality-for-a-type.md
  docs/csharp/programming-guide/statements-expressions-operators/how-to-define-value-equality-for-a-type.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#21071 Update specifying-a-custom-crypto-algorithm.md
  docs/framework/wcf/extending/specifying-a-custom-crypto-algorithm.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF

#21110 TargetFramework breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/msbuild.md
  includes/core-changes/msbuild/5.0/targetframework-name-change.md
Labels: :books: Area - .NET Core Guide

#21121 Crypto API obsoletions
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/cryptography.md
  includes/core-changes/cryptography/5.0/instantiating-default-implementations-of-cryptographic-abstractions-not-supported.md
Labels: :books: Area - .NET Core Guide

#21122 Update netcore-hosting.md
  docs/core/tutorials/netcore-hosting.md
Labels: :books: Area - .NET Core Guide

#21125 Add f1-keyword for `using static` combination
  docs/csharp/language-reference/keywords/using-static.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#21123 Add link and description of try-enabled 101 LINQ samples
  docs/csharp/tutorials/intro-to-csharp/index.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#21142 Add missing `$` for string interpolations
  docs/csharp/methods.md
Labels: :books: Area - C# Guide

#21145 Number of constraints typo fix
  docs/csharp/programming-guide/generics/constraints-on-type-parameters.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#20070 Since 16.7 is now stable, remove the note on the pre-16.7 bug
  docs/csharp/roslyn-sdk/tutorials/how-to-write-csharp-analyzer-code-fix.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - Roslyn APIs

#21149 The .NET Standard -> .NET Standard
  docs/architecture/modernize-desktop/whats-new-dotnet-core.md
  docs/core/introduction.md
  docs/core/porting/libraries.md
  docs/core/porting/third-party-deps.md
  docs/core/tutorials/libraries.md
  docs/core/whats-new/dotnet-core-2-0.md
  docs/csharp/expression-trees-interpreting.md
  docs/framework/get-started/net-core-and-open-source.md
  docs/standard/class-libraries.md
  docs/standard/components.md
  docs/standard/frameworks.md
  docs/standard/glossary.md
  docs/standard/library-guidance/cross-platform-targeting.md
  docs/standard/net-standard.md
  docs/standard/serialization/how-to-determine-if-netstandard-object-is-serializable.md
Labels: :books: Area - .NET Architecture Guide, :books: Area - .NET Core Guide, :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :books: Area - C# Guide

#21148 Update dotnet-35-windows-10.md
  docs/framework/install/dotnet-35-windows-10.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - Installers

#21120 Testing fundamentals
  docs/core/testing/index.md
  docs/core/testing/unit-testing-best-practices.md
  docs/fundamentals/toc.yml
Labels: :books: Area - .NET Core Guide

#21064 Clarify CAS support
  docs/framework/misc/code-access-security.md
  includes/net-security-note-md.md
Labels: :books: Area - .NET Framework Guide

#20998 Adding FAQs
  docs/spark/how-to-guides/broadcast-guide.md
  docs/spark/how-to-guides/connect-to-azure-storage.md
  docs/spark/how-to-guides/connect-to-event-hub.md
  docs/spark/how-to-guides/connect-to-mongo-db.md
  docs/spark/how-to-guides/connect-to-sql-server.md
  docs/spark/how-to-guides/dotnet-interactive-udf-issue.md
  docs/spark/how-to-guides/java-udf-from-dotnet.md
  docs/spark/how-to-guides/udf-guide.md
  docs/spark/tutorials/hdinsight-deployment.md
Labels: :books: Area - .NET for Apache Spark Guide

#21158 Changed a to an as it comes before Assembly
  docs/core/dependency-loading/understanding-assemblyloadcontext.md
Labels: :books: Area - .NET Core Guide

#21117 Organize and Update "Local Functions vs Lambda Expressions" section in Local Functions page
  docs/csharp/programming-guide/classes-and-structs/local-functions.md
  docs/csharp/programming-guide/classes-and-structs/snippets/local-functions/Program.cs
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#21169 Obsolete APIs with custom diagnostics breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/corefx.md
  includes/core-changes/corefx/5.0/obsolete-apis-with-custom-diagnostics.md
Labels: :books: Area - .NET Core Guide

#21156 SYSLIB reference
  docs/core/compatibility/syslib-obsoletions.md
  docs/core/compatibility/syslib0001.md
  docs/core/compatibility/syslib0002.md
  docs/core/compatibility/syslib0003.md
  docs/core/compatibility/syslib0004.md
  docs/core/compatibility/syslib0005.md
  docs/core/compatibility/syslib0006.md
  docs/core/compatibility/syslib0007.md
  docs/core/compatibility/syslib0008.md
  docs/core/compatibility/syslib0009.md
  docs/core/compatibility/syslib0010.md
  docs/core/compatibility/syslib0011.md
  docs/core/compatibility/syslib0012.md
  docs/core/compatibility/toc.yml
  includes/core-changes/corefx/5.0/thread-abort-obsolete.md
Labels: :books: Area - .NET Core Guide

#21166 Update intro to classes page for clarity
  docs/csharp/tutorials/intro-to-csharp/introduction-to-classes.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#21152 Update set-up-windows-containers-with-powershell.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/set-up-windows-containers-with-powershell.md
Labels: :book: guide - Docker lifecycle, :books: Area - .NET Architecture Guide

#21172 C# 9 reference update: covariant return types
  docs/csharp/language-reference/keywords/override.md
  docs/csharp/whats-new/csharp-9.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference, :card_file_box: Technology - C# What's New

#21175 Change method name
  docs/csharp/misc/cs0206.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# / VB diagnostics

#21165 Typo "conidering" changed to "considering"
  docs/architecture/cloud-native/relational-vs-nosql-data.md
Labels: :book: guide - Cloud Native, :books: Area - .NET Architecture Guide

#21161 Fix error in using statement scopes
  docs/csharp/whats-new/csharp-8.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# What's New

#21124 CAS APIs obsolete
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/corefx.md
  includes/core-changes/corefx/5.0/code-access-security-apis-obsolete.md
  includes/core-changes/corefx/5.0/principalpermissionattribute-obsolete.md
Labels: :books: Area - .NET Core Guide

#21068 GAC and remoting breaking changes
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/corefx.md
  includes/core-changes/corefx/5.0/binaryformatter-serialization-obsolete.md
  includes/core-changes/corefx/5.0/global-assembly-cache-apis-obsolete.md
  includes/core-changes/corefx/5.0/remoting-apis-obsolete.md
Labels: :books: Area - .NET Core Guide

#21177 Update object-oriented-programming.md to Correct Class Name Typo
  docs/csharp/tutorials/intro-to-csharp/object-oriented-programming.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#21179 Moved C# built-in types snippets into the shared subfolder
  docs/csharp/language-reference/builtin-types/bool.md
  docs/csharp/language-reference/builtin-types/char.md
  docs/csharp/language-reference/builtin-types/enum.md
  docs/csharp/language-reference/builtin-types/nullable-reference-types.md
  docs/csharp/language-reference/builtin-types/nullable-value-types.md
  docs/csharp/language-reference/builtin-types/snippets/shared/BoolType.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/CharType.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/EnumType.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/NullableReferenceTypes.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/NullableValueTypes.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/Program.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/StructType.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/UnmanagedTypes.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/ValueTuples.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/ValueTypes.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/VoidType.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/builtin-types.csproj
  docs/csharp/language-reference/builtin-types/struct.md
  docs/csharp/language-reference/builtin-types/unmanaged-types.md
  docs/csharp/language-reference/builtin-types/value-tuples.md
  docs/csharp/language-reference/builtin-types/value-types.md
  docs/csharp/language-reference/builtin-types/void.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#20900 URL for React project has changed
  docs/core/tools/custom-templates.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#21184 .NET Framework updates for .NET 5
  .openpublishing.redirection.json
  docs/framework/get-started/index.md
  docs/framework/get-started/net-core-and-open-source.md
  docs/framework/get-started/overview.md
  docs/framework/install/index.md
  docs/framework/migration-guide/versions-and-dependencies.md
  docs/framework/toc.yml
  docs/framework/whats-new/index.md
  docs/standard/cross-platform/index.md
  includes/net-framework-4x-versions.md
  includes/net-framework-future.md
  includes/pcl-to-standard.md
Labels: :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :card_file_box: Technology - AppCompat, :card_file_box: Technology - Installers

#21180 Address concerns about not following best practices
  docs/core/testing/unit-testing-with-dotnet-test.md
  docs/core/testing/unit-testing-with-mstest.md
Labels: :books: Area - .NET Core Guide

#21195 C# 9 reference update: init and readonly structs/members
  docs/csharp/language-reference/builtin-types/snippets/shared/StructType.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/builtin-types.csproj
  docs/csharp/language-reference/builtin-types/struct.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#21190 Removed confusing sentence
  docs/csharp/whats-new/csharp-9.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# What's New

#21198 Update dotnet-new.md - allowed values for type parameter are project and item only
  docs/core/tools/dotnet-new.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#21207 Add enumconstraint_CSharpKeyword
  docs/csharp/language-reference/keywords/where-generic-type-constraint.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#21194 Update .NET Framework -> .NET
  .openpublishing.redirection.json
  docs/framework/code-analyzers.md
  docs/framework/cross-platform/app-resources-for-libraries-that-target-multiple-platforms.md
  docs/framework/cross-platform/index.md
  docs/framework/cross-platform/media/add-portable-class-library.png
  docs/framework/cross-platform/media/pcl-project-properties.png
  docs/framework/cross-platform/media/using-portable-class-library-with-model-view-view-model/mvvm-share-assemblies-across-platforms.png
  docs/framework/cross-platform/passing-a-uri-to-the-windows-runtime.md
  docs/framework/cross-platform/portable-class-library.md
  docs/framework/cross-platform/support-for-windows-store-apps-and-windows-runtime.md
  docs/framework/cross-platform/using-portable-class-library-with-model-view-view-model.md
  docs/framework/media/framework-analyzers-1.png
  docs/framework/media/framework-analyzers-2.png
  docs/framework/toc.yml
  docs/framework/wcf/add-service-reference-in-a-portable-subset-project.md
  docs/framework/whats-new/index.md
  docs/fundamentals/code-analysis/overview.md
  docs/fundamentals/toc.yml
  docs/standard/analyzers/framework-analyzer.md
  docs/standard/assembly/find-fully-qualified-name.md
  docs/standard/assembly/location.md
  docs/standard/assembly/manifest.md
  docs/standard/assembly/names.md
  docs/standard/assembly/reference-strong-named.md
  docs/standard/assembly/resolve-loads.md
  docs/standard/assembly/security-considerations.md
  docs/standard/assembly/set-attributes.md
  docs/standard/assembly/side-by-side-execution.md
  docs/standard/assembly/sign-strong-name.md
  docs/standard/assembly/type-forwarding.md
  docs/standard/assembly/versioning.md
  docs/standard/assembly/view-contents.md
  docs/standard/base-types/type-conversion.md
  docs/standard/building-console-apps.md
  docs/standard/class-library-overview.md
  docs/standard/clr.md
  docs/standard/data/xml/converting-dotnet-types-to-strings.md
  docs/standard/data/xml/converting-strings-to-dotnet-data-types.md
  docs/standard/events/how-to-consume-events-in-a-web-forms-application.md
  docs/standard/events/index.md
  docs/standard/numerics.md
  docs/standard/parallel-programming/task-parallel-library-tpl.md
  docs/standard/parallel-programming/tpl-and-traditional-async-programming.md
Labels: :books: Area - .NET Guide

#21200 Add clarifying examples of possible errant conditions
  docs/standard/garbage-collection/implementing-disposeasync.md
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.asyncdisposable/anotherasyncdisposable.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.asyncdisposable/stacked-await-usings.cs
Labels: :books: Area - .NET Guide

#21238 Update dependency-injection-usage.md
  docs/core/extensions/dependency-injection-usage.md
Labels: :books: Area - .NET Core Guide

#21240 Update dependency-injection.md
  docs/core/extensions/dependency-injection.md
Labels: :books: Area - .NET Core Guide

#21226 Update dependency-injection.md
  docs/core/extensions/dependency-injection.md
Labels: :books: Area - .NET Core Guide

#21189 Adding console log formatting article
  docs/core/extensions/console-log-formatter.md
  docs/core/extensions/logging.md
  docs/core/extensions/snippets/logging/console-formatter-custom/ConsoleLoggerExtensions.cs
  docs/core/extensions/snippets/logging/console-formatter-custom/CustomColorFormatter.cs
  docs/core/extensions/snippets/logging/console-formatter-custom/CustomColorOptions.cs
  docs/core/extensions/snippets/logging/console-formatter-custom/CustomFormatter.cs
  docs/core/extensions/snippets/logging/console-formatter-custom/CustomOptions.cs
  docs/core/extensions/snippets/logging/console-formatter-custom/Program.cs
  docs/core/extensions/snippets/logging/console-formatter-custom/TextWriterExtensions.cs
  docs/core/extensions/snippets/logging/console-formatter-custom/console-formatter-custom.csproj
  docs/core/extensions/snippets/logging/console-formatter-json/Program.cs
  docs/core/extensions/snippets/logging/console-formatter-json/Properties/launchSettings.json
  docs/core/extensions/snippets/logging/console-formatter-json/Startup.cs
  docs/core/extensions/snippets/logging/console-formatter-json/appsettings.json
  docs/core/extensions/snippets/logging/console-formatter-json/console-formatter-json.csproj
  docs/core/extensions/snippets/logging/console-formatter-json/example-output.json
  docs/core/extensions/snippets/logging/console-formatter-simple/Program.cs
  docs/core/extensions/snippets/logging/console-formatter-simple/console-formatter-simple.csproj
  docs/core/extensions/snippets/logging/console-formatter-systemd/Program.cs
  docs/core/extensions/snippets/logging/console-formatter-systemd/console-formatter-systemd.csproj
  docs/fundamentals/toc.yml
Labels: :books: Area - .NET Core Guide

#21223 Add links to porting docs
  docs/core/porting/index.md
Labels: :books: Area - .NET Core Guide

#21227 FeedbackSize breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/cryptography.md
  includes/core-changes/cryptography/5.0/tripledes-default-feedback-size-change.md
Labels: :books: Area - .NET Core Guide

#21245 Add TOC and title for new C# 9 proposal
  docfx.json
  docs/csharp/language-reference/proposals/toc.yml
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#21042 Porting to ASP.NET Core
  docs/architecture/porting-existing-aspnet-apps/additional-migration-resources.md
  docs/architecture/porting-existing-aspnet-apps/app-startup-differences.md
  docs/architecture/porting-existing-aspnet-apps/architectural-differences.md
  docs/architecture/porting-existing-aspnet-apps/authentication-differences.md
  docs/architecture/porting-existing-aspnet-apps/case-studies.md
  docs/architecture/porting-existing-aspnet-apps/choose-net-core-version.md
  docs/architecture/porting-existing-aspnet-apps/comparing-razor-pages-aspnet-mvc.md
  docs/architecture/porting-existing-aspnet-apps/configuration-differences.md
  docs/architecture/porting-existing-aspnet-apps/controller-differences.md
  docs/architecture/porting-existing-aspnet-apps/dasblog-core-cast-study.md
  docs/architecture/porting-existing-aspnet-apps/dependency-injection-differences.md
  docs/architecture/porting-existing-aspnet-apps/deployment-scenarios.md
  docs/architecture/porting-existing-aspnet-apps/deployment-strategies.md
  docs/architecture/porting-existing-aspnet-apps/example-migration-eshop.md
  docs/architecture/porting-existing-aspnet-apps/hosting-differences.md
  docs/architecture/porting-existing-aspnet-apps/identify-migration-sequence.md
  docs/architecture/porting-existing-aspnet-apps/identity-differences.md
  docs/architecture/porting-existing-aspnet-apps/incremental-migration-strategies.md
  docs/architecture/porting-existing-aspnet-apps/index.md
  docs/architecture/porting-existing-aspnet-apps/introduction.md
  docs/architecture/porting-existing-aspnet-apps/media/index/porting-existing-aspnet-apps.png
  docs/architecture/porting-existing-aspnet-apps/middleware-modules-handlers.md
  docs/architecture/porting-existing-aspnet-apps/migrate-aspnet-core-2-1.md
  docs/architecture/porting-existing-aspnet-apps/migrating-large-solutions.md
  docs/architecture/porting-existing-aspnet-apps/migrating-web-forms.md
  docs/architecture/porting-existing-aspnet-apps/migration-considerations.md
  docs/architecture/porting-existing-aspnet-apps/razor-differences.md
  docs/architecture/porting-existing-aspnet-apps/routing-differences.md
  docs/architecture/porting-existing-aspnet-apps/serving-static-files.md
  docs/architecture/porting-existing-aspnet-apps/signalr-differences.md
  docs/architecture/porting-existing-aspnet-apps/strategies-migrating-in-production.md
  docs/architecture/porting-existing-aspnet-apps/testing-differences.md
  docs/architecture/porting-existing-aspnet-apps/toc.yml
  docs/architecture/porting-existing-aspnet-apps/understand-update-dependencies.md
  docs/architecture/porting-existing-aspnet-apps/webapi-differences.md
Labels: :books: Area - .NET Architecture Guide

#21262 Notes for including SSL dependencies
  docs/core/deploying/trim-self-contained.md
Labels: :books: Area - .NET Core Guide

#21268 Add missing dot
  docs/core/porting/index.md
Labels: :books: Area - .NET Core Guide, :sparkles: 1st-time docs contributor!

#21271 C# 9 reference update: records and equality operators
  docs/csharp/language-reference/operators/equality-operators.md
  docs/csharp/language-reference/operators/snippets/shared/EqualityOperators.cs
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#21250 .NET Framework -> .NET (/standard/globalization)
  docs/standard/datetime/access-utc-and-local.md
  docs/standard/datetime/choosing-between-datetime.md
  docs/standard/datetime/converting-between-datetime-and-offset.md
  docs/standard/datetime/converting-between-time-zones.md
  docs/standard/datetime/create-time-zones-with-adjustment-rules.md
  docs/standard/datetime/create-time-zones-without-adjustment-rules.md
  docs/standard/datetime/enumerate-time-zones.md
  docs/standard/datetime/finding-the-time-zones-on-local-system.md
  docs/standard/datetime/index.md
  docs/standard/datetime/instantiate-time-zone-info.md
  docs/standard/datetime/instantiating-a-datetimeoffset-object.md
  docs/standard/datetime/let-users-resolve-ambiguous-times.md
  docs/standard/datetime/performing-arithmetic-operations.md
  docs/standard/datetime/resolve-ambiguous-times.md
  docs/standard/datetime/restore-time-zones-from-an-embedded-resource.md
  docs/standard/datetime/save-time-zones-to-an-embedded-resource.md
  docs/standard/datetime/saving-and-restoring-time-zones.md
  docs/standard/datetime/time-zone-overview.md
  docs/standard/datetime/use-time-zones-in-arithmetic.md
  docs/standard/events/how-to-handle-multiple-events-using-event-properties.md
  docs/standard/events/how-to-implement-a-provider.md
  docs/standard/events/how-to-implement-an-observer.md
  docs/standard/events/how-to-raise-and-consume-events.md
  docs/standard/events/index.md
  docs/standard/events/observer-design-pattern-best-practices.md
  docs/standard/events/observer-design-pattern.md
  docs/standard/garbage-collection/index.md
  docs/standard/garbage-collection/performance.md
  docs/standard/generics/collections.md
  docs/standard/generics/covariance-and-contravariance.md
  docs/standard/generics/delegates-for-manipulating-arrays-and-lists.md
  docs/standard/generics/index.md
  docs/standard/generics/interfaces.md
  docs/standard/globalization-localization/best-practices-for-developing-world-ready-apps.md
  docs/standard/globalization-localization/culture-insensitive-string-operations.md
  docs/standard/globalization-localization/globalization-icu.md
  docs/standard/globalization-localization/globalization.md
  docs/standard/globalization-localization/localizability-review.md
  docs/standard/globalization-localization/localization.md
  docs/standard/globalization-localization/performing-culture-insensitive-string-comparisons.md
  docs/standard/globalization-localization/performing-culture-insensitive-string-operations-in-arrays.md
  docs/standard/globalization-localization/performing-culture-insensitive-string-operations-in-collections.md
  docs/standard/globalization-localization/performing-culture-insensitive-string-operations.md
Labels: :books: Area - .NET Guide

#21273 Add more details and source code examples of DI anti-patterns
  docs/core/extensions/access-by-line.txt
  docs/core/extensions/dependency-injection-guidelines.md
  docs/core/extensions/snippets/configuration/di-anti-patterns/Bar.cs
  docs/core/extensions/snippets/configuration/di-anti-patterns/ExampleDisposable.cs
  docs/core/extensions/snippets/configuration/di-anti-patterns/Foo.cs
  docs/core/extensions/snippets/configuration/di-anti-patterns/Program.cs
  docs/core/extensions/snippets/configuration/di-anti-patterns/di-anti-patterns.csproj
Labels: :books: Area - .NET Core Guide

#21267 Replace above and below
  docs/core/install/includes/linux-install-20-dnf.md
  docs/core/install/includes/linux-install-21-apt.md
  docs/core/install/includes/linux-install-21-dnf.md
  docs/core/install/includes/linux-install-21-yum.md
  docs/core/install/includes/linux-install-30-dnf.md
  docs/core/install/includes/linux-install-31-apt.md
  docs/core/install/includes/linux-install-31-dnf.md
  docs/core/install/includes/linux-install-31-yum.md
  docs/core/install/includes/linux-install-31-zyp.md
Labels: :books: Area - .NET Core Guide

#21274 Call out code style enforcement as experimental part 2
  docs/core/project-sdk/msbuild-props.md
Labels: :books: Area - .NET Core Guide

#21278 added missing double quote
  docs/fsharp/tutorials/fsharp-interactive/index.md
Labels: :books: Area - F# Guide

#21276 Update Porting book cover image
  docs/architecture/porting-existing-aspnet-apps/media/index/porting-existing-aspnet-apps.png
Labels: :books: Area - .NET Architecture Guide
