Repository dotnet/docs, pull requests merged in 2020-01, with the labels that each got.

#16396 list of keywords links rather than comma-separated list
  docs/csharp/programming-guide/statements-expressions-operators/statements.md
Labels: :books: Area - C# Guide

#16398 Follow style-guide in articles
  docs/csharp/language-reference/compiler-options/command-line-building-with-csc-exe.md
  docs/csharp/language-reference/keywords/add.md
  docs/csharp/language-reference/keywords/group-clause.md
  docs/csharp/language-reference/keywords/remove.md
  docs/csharp/linq/query-expression-basics.md
  docs/csharp/misc/cs0660.md
  docs/csharp/programming-guide/classes-and-structs/named-and-optional-arguments.md
  docs/csharp/programming-guide/classes-and-structs/objects.md
  docs/csharp/programming-guide/concepts/expression-trees/how-to-use-expression-trees-to-build-dynamic-queries.md
  docs/csharp/programming-guide/concepts/linq/grouping-data.md
  docs/csharp/programming-guide/concepts/linq/join-operations.md
  docs/csharp/programming-guide/concepts/linq/linq-and-file-directories.md
  docs/csharp/programming-guide/concepts/linq/linq-and-strings.md
  docs/csharp/programming-guide/concepts/linq/quantifier-operations.md
  docs/csharp/programming-guide/events/how-to-implement-custom-event-accessors.md
  docs/csharp/programming-guide/events/index.md
  docs/csharp/programming-guide/file-system/how-to-copy-delete-and-move-files-and-folders.md
  docs/csharp/programming-guide/file-system/how-to-create-a-file-or-folder.md
  docs/csharp/programming-guide/file-system/how-to-create-a-key-in-the-registry.md
  docs/csharp/programming-guide/file-system/how-to-get-information-about-files-folders-and-drives.md
  docs/csharp/programming-guide/file-system/how-to-iterate-through-a-directory-tree.md
  docs/csharp/programming-guide/file-system/how-to-provide-a-progress-dialog-box-for-file-operations.md
  docs/csharp/programming-guide/file-system/how-to-read-a-text-file-one-line-at-a-time.md
  docs/csharp/programming-guide/file-system/how-to-read-from-a-text-file.md
  docs/csharp/programming-guide/file-system/how-to-write-to-a-text-file.md
  docs/csharp/programming-guide/file-system/index.md
  docs/csharp/programming-guide/interfaces/how-to-explicitly-implement-interface-members.md
  docs/csharp/programming-guide/interfaces/how-to-explicitly-implement-members-of-two-interfaces.md
  docs/csharp/programming-guide/interfaces/index.md
  docs/csharp/programming-guide/interop/how-to-access-office-onterop-objects.md
  docs/csharp/programming-guide/interop/how-to-use-indexed-properties-in-com-interop-rogramming.md
  docs/csharp/programming-guide/interop/how-to-use-platform-invoke-to-play-a-wave-file.md
  docs/csharp/programming-guide/interop/index.md
  docs/csharp/programming-guide/interop/interoperability-overview.md
  docs/csharp/programming-guide/interop/walkthrough-office-programming.md
  docs/csharp/programming-guide/main-and-command-args/command-line-arguments.md
  docs/csharp/programming-guide/main-and-command-args/how-to-display-command-line-arguments.md
  docs/csharp/programming-guide/main-and-command-args/main-return-values.md
  docs/csharp/programming-guide/namespaces/how-to-use-the-my-namespace.md
  docs/csharp/programming-guide/namespaces/index.md
  docs/csharp/programming-guide/statements-expressions-operators/equality-comparisons.md
  docs/csharp/programming-guide/statements-expressions-operators/how-to-define-value-equality-for-a-type.md
  docs/csharp/programming-guide/statements-expressions-operators/how-to-test-for-reference-equality-identity.md
  docs/csharp/programming-guide/statements-expressions-operators/how-to-use-lambda-expressions-in-a-query.md
  docs/csharp/programming-guide/strings/how-to-determine-whether-a-string-represents-a-numeric-value.md
  docs/csharp/programming-guide/types/casting-and-type-conversions.md
  docs/csharp/programming-guide/types/how-to-convert-a-byte-array-to-an-int.md
  docs/csharp/programming-guide/types/how-to-convert-a-string-to-a-number.md
  docs/csharp/programming-guide/types/how-to-convert-between-hexadecimal-strings-and-numeric-types.md
  docs/csharp/programming-guide/types/using-type-dynamic.md
  docs/csharp/programming-guide/unsafe-code-pointers/how-to-use-pointers-to-copy-an-array-of-bytes.md
  docs/csharp/programming-guide/xmldoc/how-to-use-the-xml-documentation-features.md
  docs/csharp/programming-guide/xmldoc/index.md
  docs/csharp/toc.yml
Labels: :books: Area - C# Guide

#16461 Add more workaround to cs0121
  docs/csharp/misc/cs0121.md
Labels: :books: Area - C# Guide

#16480 Fix title and description metadata for page "Upgrade an app to nullable reference types"
  docs/csharp/tutorials/upgrade-to-nullable-references.md
Labels: :books: Area - C# Guide

#16479 Replace WPF tokens
  docs/framework/ui-automation/server-side-ui-automation-provider-implementation.md
  docs/framework/ui-automation/ui-automation-and-microsoft-active-accessibility.md
  docs/framework/wpf/advanced/advanced-text-formatting.md
  docs/framework/wpf/advanced/annotations-overview.md
  docs/framework/wpf/advanced/how-to-invoke-a-print-dialog.md
  docs/framework/wpf/advanced/optimizing-performance-other-recommendations.md
  docs/framework/wpf/advanced/printing-overview.md
  docs/framework/wpf/advanced/the-ink-object-model-windows-forms-and-com-versus-wpf.md
  docs/framework/wpf/advanced/wpf-architecture.md
  docs/framework/wpf/app-development/building-a-wpf-application-wpf.md
  docs/framework/wpf/app-development/deploying-a-wpf-application-wpf.md
  docs/framework/wpf/app-development/firefox-add-ons-to-support-net-application-deployment.md
  docs/framework/wpf/app-development/index.md
  docs/framework/wpf/app-development/navigation-overview.md
  docs/framework/wpf/app-development/navigation-topologies-overview.md
  docs/framework/wpf/app-development/pack-uris-in-wpf.md
  docs/framework/wpf/app-development/structured-navigation-overview.md
  docs/framework/wpf/app-development/wpf-application-resource-content-and-data-files.md
  docs/framework/wpf/app-development/wpf-host-presentationhost-exe.md
  docs/framework/wpf/app-development/wpf-windows-overview.md
  docs/framework/wpf/app-development/wpf-xaml-browser-applications-overview.md
  docs/framework/wpf/controls/controls-by-category.md
  docs/framework/wpf/controls/ui-automation-of-a-wpf-custom-control.md
  docs/framework/wpf/controls/walkthrough-create-a-button-by-using-microsoft-expression-blend.md
  docs/framework/wpf/controls/walkthroughs-create-a-custom-animated-button.md
  docs/framework/wpf/graphics-multimedia/animation-tips-and-tricks.md
  docs/framework/wpf/graphics-multimedia/bitmap-effects-overview.md
  docs/framework/wpf/graphics-multimedia/extend-glass-frame-into-a-wpf-application.md
  docs/framework/wpf/graphics-multimedia/imaging-overview.md
  docs/framework/wpf/graphics-multimedia/index.md
  docs/framework/wpf/security-wpf.md
  docs/framework/wpf/wpf-partial-trust-security.md
  docs/framework/wpf/wpf-security-strategy-platform-security.md
  includes/tla2sharptla-wpf-md.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#16241 Update introduction-to-classes.md
  docs/csharp/tutorials/intro-to-csharp/introduction-to-classes.md
Labels: :books: Area - C# Guide

#16328 Add recommender to AutoML
  .openpublishing.redirection.json
  docs/machine-learning/automate-training-with-cli.md
  docs/machine-learning/how-to-guides/how-to-use-the-automl-api.md
  docs/machine-learning/how-to-guides/install-ml-net-cli.md
  docs/machine-learning/reference/ml-net-cli-reference.md
  docs/machine-learning/toc.yml
  docs/machine-learning/tutorials/sentiment-analysis-cli.md
Labels: :books: Area - ML.NET Guide

#16388 Add PredictedLabel to the Anomaly Detection task
  docs/machine-learning/resources/tasks.md
  docs/machine-learning/toc.yml
Labels: :books: Area - ML.NET Guide

#16493 Replace some fwlinks, style-guide improvements
  docs/framework/wcf/feature-details/web-services-protocols-interoperability-guide.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF

#16484 Add json serialization to serialization overview doc
  docs/csharp/programming-guide/concepts/serialization/index.md
Labels: :books: Area - C# Guide

#16513 Move punctuation signs out of quotes
  docs/standard/design-guidelines/names-of-type-members.md
Labels: :books: Area - .NET Guide

#16490 Fix typo in the gRPC compatibilities points
  docs/architecture/cloud-native/rest-grpc.md
Labels: :book: guide - Cloud Native, :books: Area - .NET Architecture Guide

#16414 article updates
  docs/framework/tools/developer-command-prompt-for-vs.md
  docs/framework/tools/media/command-prompt-vs-menu.png
  docs/framework/tools/media/developer-command-prompt-for-vs/add-external-tool.png
  docs/framework/tools/media/developer-command-prompt-for-vs/command-prompt-vs-menu.png
  docs/framework/tools/media/developer-command-prompt-for-vs/windows10-search.gif
  docs/framework/tools/media/developer-command-prompt-for-vs/windows7-menu.png
Labels: :books: Area - .NET Framework Guide

#16534 Typo "'-help, /?'"→"'-help, -?'"
  docs/visual-basic/toc.yml
Labels: :books: Area - Visual Basic Guide

#16533 Typo "`-reference` is `/r`"→"`-reference` is `-r`"
  docs/visual-basic/reference/command-line-compiler/reference.md
Labels: :books: Area - Visual Basic Guide

#16531 Typo "`/target:module`"→"`-target:module`"
  docs/visual-basic/reference/command-line-compiler/doc.md
Labels: :books: Area - Visual Basic Guide

#16530 Typo "`/lib`"→"`-lib`"
  docs/visual-basic/reference/command-line-compiler/deterministic.md
Labels: :books: Area - Visual Basic Guide

#16529 Fix typo in title
  docs/standard/assembly/create-use-strong-named.md
Labels: :books: Area - .NET Guide

#16528 Typo "`/debug`"→"`-debug`"
  docs/visual-basic/reference/command-line-compiler/debug.md
Labels: :books: Area - Visual Basic Guide

#16527 Typo "`/bugreport`"→"`-bugreport`"
  docs/visual-basic/reference/command-line-compiler/bugreport.md
Labels: :books: Area - Visual Basic Guide

#16525 Typo "`/out`"→"`-out`"
  docs/visual-basic/reference/command-line-compiler/target.md
Labels: :books: Area - Visual Basic Guide

#16524 Typo "`/optionstrict:custom`"→"`-optionstrict:custom`"
  docs/visual-basic/misc/bc31141.md
Labels: :books: Area - Visual Basic Guide

#16519 Typo "/target"→"-target"
  docs/visual-basic/language-reference/constants-and-enumerations.md
Labels: :books: Area - Visual Basic Guide

#16518 Typo "/out:OfficeApp.exe"→"-out:OfficeApp.exe"
  docs/visual-basic/reference/command-line-compiler/link.md
Labels: :books: Area - Visual Basic Guide

#16517 Typo "/imports"→"-imports"
  docs/visual-basic/reference/command-line-compiler/imports.md
Labels: :books: Area - Visual Basic Guide

#16516 Typo "/define"→"-define"
  docs/visual-basic/reference/command-line-compiler/define.md
Labels: :books: Area - Visual Basic Guide

#16487 Typo "[Declare Statement] Statement"→"[Declare Statement]"
  docs/visual-basic/reference/command-line-compiler/netcf.md
Labels: :books: Area - Visual Basic Guide

#16485 Typo "`/libpath`"→"`-libpath`"
  docs/visual-basic/reference/command-line-compiler/libpath.md
Labels: :books: Area - Visual Basic Guide

#16515 Change "member" to "method or properties"
  docs/csharp/language-reference/keywords/readonly.md
Labels: :books: Area - C# Guide

#16505 Acrolinx 1/2
  docs/csharp/getting-started/introduction-to-the-csharp-language-and-the-net-framework.md
  docs/csharp/programming-guide/concepts/linq/how-to-stream-xml-fragments-from-an-xmlreader.md
  docs/csharp/programming-guide/concepts/linq/how-to-stream-xml-fragments-with-access-to-header-information.md
  docs/csharp/programming-guide/concepts/linq/linq-and-file-directories.md
Labels: :books: Area - C# Guide

#16535 Update summary to mention default implementation
  docs/csharp/programming-guide/interfaces/index.md
Labels: :books: Area - C# Guide, :sparkles: 1st-time docs contributor!

#16489 Acrolinx 12/31
  docs/core/tutorials/libraries.md
  docs/desktop-wpf/xaml-services/basic-reading-writing.md
  docs/desktop-wpf/xaml-services/clr-attributes-with-custom-types-and-libraries.md
  docs/desktop-wpf/xaml-services/collections-and-types.md
  docs/desktop-wpf/xaml-services/define-custom-types.md
  docs/desktop-wpf/xaml-services/escape-sequence-markup-extension.md
  docs/desktop-wpf/xaml-services/generics.md
  docs/desktop-wpf/xaml-services/index.md
  docs/desktop-wpf/xaml-services/markup-extensions-overview.md
  docs/desktop-wpf/xaml-services/namespaces.md
  docs/desktop-wpf/xaml-services/security-considerations.md
  docs/desktop-wpf/xaml-services/service-contexts-with-type-converters-and-markup-extensions.md
  docs/desktop-wpf/xaml-services/type-converters-and-markup-extensions.md
  docs/desktop-wpf/xaml-services/type-converters-overview.md
  docs/desktop-wpf/xaml-services/types-for-primitives.md
  docs/desktop-wpf/xaml-services/types-migrated-from-wpf-to-system.md
  docs/desktop-wpf/xaml-services/understanding-xaml-node-stream-structures-and-concepts.md
  docs/desktop-wpf/xaml-services/white-space-processing.md
Labels: :books: Area - .NET Core Guide, :books: Area - Desktop Guide, :card_file_box: Technology - WPF

#16547 Make sentence more accurate
  docs/csharp/programming-guide/classes-and-structs/fields.md
Labels: :books: Area - C# Guide

#16546 Add visual basic snippets
  docs/standard/exceptions/how-to-create-localized-exception-messages.md
Labels: :books: Area - .NET Guide

#16548 Remove author from articles - core/diagnostics
  docs/core/diagnostics/debug-memory-leak.md
  docs/core/diagnostics/dotnet-counters.md
  docs/core/diagnostics/dotnet-dump.md
  docs/core/diagnostics/dotnet-trace.md
  docs/core/diagnostics/index.md
  docs/core/diagnostics/logging-tracing.md
  docs/core/diagnostics/managed-debuggers.md
Labels: :books: Area - .NET Core Guide

#16497 Add whats new in December 2019
  docs/whats-new/2019-12.md
  docs/whats-new/index.yml
  docs/whats-new/toc.yml
Labels: :star2: What's New

#16554 Fix typo in code example
  docs/architecture/blazor-for-web-forms-developers/components.md
Labels: :book: guide - Blazor, :books: Area - .NET Architecture Guide

#16545 Delete duplicate link
  docs/core/get-started.md
Labels: :books: Area - .NET Core Guide

#16423 Configuration Manager rebranding
  docs/framework/deployment/deploying-the-net-framework.md
  docs/framework/deployment/guide-for-administrators.md
  docs/framework/deployment/index.md
Labels: :books: Area - .NET Framework Guide, vendor-project

#16432 Remove todo comment that's already done
  docs/core/install/linux-package-manager-rhel7.md
  docs/core/install/linux-package-manager-rhel81.md
Labels: :books: Area - .NET Core Guide

#16559 Fixing typos in uninstall tool documentation
  docs/core/additional-tools/uninstall-tool.md
Labels: :books: Area - .NET Core Guide

#16522 Add missing periods
  docs/architecture/cloud-native/monitoring-azure-kubernetes.md
  docs/architecture/microservices/multi-container-microservice-net-applications/integration-event-based-microservice-communications.md
  docs/architecture/modernize-with-azure-containers/index.md
  docs/core/porting/tools.md
  docs/core/porting/windows-compat-pack.md
  docs/core/testing/unit-testing-visual-basic-with-dotnet-test.md
  docs/core/testing/unit-testing-visual-basic-with-mstest.md
  docs/csharp/codedoc.md
  docs/csharp/how-to/concatenate-multiple-strings.md
  docs/csharp/implicitly-typed-lambda-expressions.md
  docs/csharp/language-reference/configure-language-version.md
  docs/csharp/tutorials/attributes.md
  docs/csharp/tutorials/console-teleprompter.md
  docs/csharp/tutorials/intro-to-csharp/numbers-in-csharp-local.md
  docs/csharp/whats-new/csharp-7-1.md
  docs/csharp/whats-new/csharp-7-2.md
  docs/csharp/whats-new/csharp-7.md
  docs/desktop-wpf/migration/convert-project-from-net-framework.md
  docs/fsharp/whats-new/fsharp-45.md
  docs/standard/glossary.md
Labels: :book: guide - .NET Microservices, :book: guide - Cloud Native, :book: guide - Modernizing w/ Windows containers, :books: Area - .NET Architecture Guide, :books: Area - .NET Core Guide, :books: Area - .NET Guide, :books: Area - C# Guide, :books: Area - Desktop Guide, :books: Area - F# Guide, :books: Area - ML.NET Guide, :card_file_box: Technology - WPF

#16565 fix xref format
  docs/csharp/programming-guide/classes-and-structs/how-to-initialize-a-dictionary-with-a-collection-initializer.md
  docs/csharp/roslyn-sdk/work-with-syntax.md
  docs/framework/deployment/how-the-runtime-locates-assemblies.md
  docs/framework/unmanaged-api/profiling/icorprofilercallback7-moduleinmemorysymbolsupdated-method.md
  docs/machine-learning/resources/glossary.md
  docs/machine-learning/resources/transforms.md
  docs/standard/serialization/custom-serialization.md
  docs/standard/serialization/steps-in-the-serialization-process.md
  docs/visual-basic/language-reference/keywords/collection-object-summary.md
Labels: :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :books: Area - C# Guide, :books: Area - ML.NET Guide, :books: Area - Visual Basic Guide

#16566 Missing periods in ML docs
  docs/machine-learning/how-does-mldotnet-work.md
  docs/machine-learning/resources/improve-machine-learning-model-ml-net.md
  docs/machine-learning/tutorials/github-issue-classification.md
  docs/machine-learning/tutorials/sentiment-analysis-cli.md
Labels: :books: Area - ML.NET Guide

#16556 Add .NET Fx to .NET Core breaking changes doc to TOC
  docs/core/compatibility/fx-core.md
  docs/core/compatibility/toc.yml
Labels: :books: Area - .NET Core Guide

#16475 Update LTS version from 2.1 to 3.1
  docs/core/install/sdk.md
Labels: :books: Area - .NET Core Guide

#16411 Add note about dependency problem/solution
  docs/core/install/linux-package-manager-opensuse15.md
Labels: :books: Area - .NET Core Guide

#16549 Remove author from articles - machine-learning
  docs/machine-learning/automate-training-with-cli.md
  docs/machine-learning/automate-training-with-model-builder.md
  docs/machine-learning/automl-overview.md
  docs/machine-learning/how-does-mldotnet-work.md
  docs/machine-learning/how-to-choose-an-ml-net-algorithm.md
  docs/machine-learning/how-to-guides/install-ml-net-cli.md
  docs/machine-learning/resources/index.md
  docs/machine-learning/resources/metrics.md
  docs/machine-learning/resources/tasks.md
  docs/machine-learning/resources/transforms.md
  docs/machine-learning/tutorials/image-classification.md
  docs/machine-learning/tutorials/text-classification-tf.md
Labels: :books: Area - ML.NET Guide

#16573 Fix bash command
  docs/core/install/runtime.md
Labels: :books: Area - .NET Core Guide

#16576 fix casing of curl ssl option
  docs/core/tools/dotnet-install-script.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#16574 Fix grammar in the package managers steps.
  docs/core/install/linux-package-manager-centos7.md
  docs/core/install/linux-package-manager-debian10.md
  docs/core/install/linux-package-manager-debian9.md
  docs/core/install/linux-package-manager-fedora29.md
  docs/core/install/linux-package-manager-fedora30.md
  docs/core/install/linux-package-manager-sles12.md
  docs/core/install/linux-package-manager-sles15.md
  docs/core/install/linux-package-manager-ubuntu-1604.md
  docs/core/install/linux-package-manager-ubuntu-1804.md
  docs/core/install/linux-package-manager-ubuntu-1904.md
Labels: :books: Area - .NET Core Guide

#16563 Add deprecation message to dotnet migrate
  docs/core/tools/dotnet-migrate.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI, verify-build-before-merge

#16580 remove author
  docs/core/tutorials/using-on-mac-vs.md
Labels: :books: Area - .NET Core Guide

#16575 add link to EF Core information on nullables
  docs/csharp/tutorials/upgrade-to-nullable-references.md
Labels: :books: Area - C# Guide

#16583 Update corefx repo links
  docs/architecture/grpc-for-wcf-developers/application-performance-management.md
  docs/architecture/microservices/net-core-net-framework-containers/net-framework-container-scenarios.md
  docs/core/compatibility/index.md
  docs/core/deploying/deploy-with-cli.md
  docs/core/deploying/deploy-with-vs.md
  docs/core/deploying/index.md
  docs/core/diagnostics/dotnet-counters.md
  docs/core/rid-catalog.md
  docs/core/run-time-config/globalization.md
  docs/framework/additional-apis/coreresponsedata.md
  docs/framework/additional-apis/coreresponsedata_m_responseheaders.md
  docs/framework/additional-apis/coreresponsedata_m_statuscode.md
  docs/framework/additional-apis/httpwebrequest__coreresponse.md
  docs/framework/get-started/net-core-and-open-source.md
  docs/framework/whats-new/index.md
  docs/standard/assembly/create-use-strong-named.md
  docs/standard/assembly/sign-strong-name.md
  docs/standard/choosing-core-framework-server.md
  docs/standard/library-guidance/breaking-changes.md
Labels: :book: guide - .NET Microservices, :book: guide - gRPC, :books: Area - .NET Architecture Guide, :books: Area - .NET Core Guide, :books: Area - .NET Framework Guide, :books: Area - .NET Guide

#16572 Remove duplicate model builder content
  docs/machine-learning/automate-training-with-model-builder.md
Labels: :books: Area - ML.NET Guide

#16585 Acrolinx 1/7
  docs/core/build/distribution-packaging.md
  docs/core/build/index.md
  docs/core/deploying/creating-nuget-packages.md
  docs/core/deploying/deploy-with-vs.md
  docs/core/deploying/reducing-dependencies.md
  docs/core/deploying/runtime-patch-selection.md
  docs/core/docker/build-container.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - Docker

#16584 Update coreclr repo links
  docs/core/about.md
  docs/core/build/index.md
  docs/core/diagnostics/dotnet-dump.md
  docs/core/index.md
  docs/core/run-time-config/garbage-collector.md
  docs/core/tutorials/netcore-hosting.md
  docs/framework/tools/ngen-exe-native-image-generator.md
  docs/standard/exceptions/index.md
  docs/standard/net-standard.md
Labels: :books: Area - .NET Core Guide, :books: Area - .NET Framework Guide, :books: Area - .NET Guide

#16587 Fix some 404 links
  docs/core/tutorials/netcore-hosting.md
Labels: :books: Area - .NET Core Guide

#16581 Clean up some porting topics
  docs/core/porting/index.md
  docs/core/porting/libraries.md
  docs/core/porting/net-framework-tech-unavailable.md
  docs/core/porting/project-structure.md
  docs/core/porting/third-party-deps.md
Labels: :books: Area - .NET Core Guide

#16577 remove author/escape *
  docs/core/versions/index.md
Labels: :books: Area - .NET Core Guide

#16195 1). Add toc.yml
  docs/standard/linq/toc.yml
Labels: vendor-project, verify-build-before-merge

#16589 Fix model builder typo
  docs/machine-learning/automate-training-with-model-builder.md
Labels: :books: Area - ML.NET Guide

#16592 Fix broken links to Microsoft.Data.Sqlite samples
  docs/standard/data/sqlite/collation.md
  docs/standard/data/sqlite/extensions.md
  docs/standard/data/sqlite/in-memory-databases.md
Labels: :books: Area - .NET Guide

#16387 Unsupported APIs
  docs/core/compatibility/fx-core.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/unsupported-apis.md
  docs/core/toc.yml
Labels: :books: Area - .NET Core Guide

#16596 Add image for ASP.Net Core
  docs/core/docker/build-container.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - Docker

#16590 fix typos + time reference
  docs/whats-new/2019-09.md
  docs/whats-new/2019-10.md
  docs/whats-new/2019-11.md
  docs/whats-new/2019-12.md
Labels: :star2: What's New

#16504 GC config knobs touch-ups
  docs/core/run-time-config/garbage-collector.md
Labels: :books: Area - .NET Core Guide

#16591 C# TOC and #if article improvements
  docs/csharp/language-reference/preprocessor-directives/preprocessor-if.md
  docs/csharp/toc.yml
Labels: :books: Area - C# Guide

#16607 Added inline to a member of a type extension.
  docs/fsharp/language-reference/slices.md
Labels: :books: Area - F# Guide

#16610 Unsupported APIs - binary serialization
  docs/core/compatibility/unsupported-apis.md
Labels: :books: Area - .NET Core Guide

#16468 Acrolinx 12/30
  docs/framework/wcf/diagnostics/etw/analytic-tracing-overview.md
  docs/framework/wcf/feature-details/unsupported-scenarios.md
  docs/framework/wcf/hosting-services.md
  docs/framework/wcf/samples/firewall-instructions.md
  docs/framework/wcf/ws-atomictransaction-configuration-mmc-snap-in.md
  docs/fsharp/language-reference/byrefs.md
Labels: :books: Area - .NET Framework Guide, :books: Area - F# Guide, :card_file_box: Technology - WCF

#16604 Inform developers that DotNetCliToolReference is outdated
  docs/core/tools/csproj.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#16609 Update the web API client tutorial for recent language and .NET Core changes.
  docs/csharp/tutorials/console-webapiclient.md
Labels: :books: Area - C# Guide

#16615 Replace "tools" with "APIs"
  docs/framework/wcf/feature-details/how-to-serialize-and-deserialize-json-data.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF

#16623 Change to past perfect tense
  docs/standard/garbage-collection/performance.md
Labels: :books: Area - .NET Guide

#16598 Typo in the header
  docs/machine-learning/tutorials/movie-recommendation.md
Labels: :books: Area - ML.NET Guide, :sparkles: 1st-time docs contributor!

#16612 Binary serialization improvements
  docs/core/compatibility/unsupported-apis.md
  docs/standard/serialization/binary-serialization.md
Labels: :books: Area - .NET Guide

#16614 fix xref link
  docs/csharp/tutorials/console-webapiclient.md
Labels: :books: Area - C# Guide

#16628 Clarification to docs/standard/data/sqlite/extensions.md
  docs/standard/data/sqlite/extensions.md
Labels: :books: Area - .NET Guide

#16630 Update ASP.NET Core repo references after move from aspnet to dotnet
  docs/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/domain-model-layer-validations.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/implement-value-objects.md
  docs/architecture/microservices/net-core-net-framework-containers/net-framework-container-scenarios.md
  docs/architecture/microservices/secure-net-microservices-web-applications/azure-key-vault-protects-secrets.md
  docs/architecture/modern-web-apps-azure/develop-asp-net-core-mvc-apps.md
  docs/core/about.md
  docs/core/compatibility/breaking-changes.md
  docs/core/migration/20-21.md
  docs/core/testing/index.md
  docs/core/tools/global-tools.md
  docs/samples-and-tutorials/index.md
  docs/standard/data/sqlite/adonet-limitations.md
  docs/standard/data/sqlite/backup.md
  docs/standard/data/sqlite/compare.md
  docs/standard/data/sqlite/dapper-limitations.md
  includes/core-changes/aspnetcore/3.0/authn-apis-json-types.md
  includes/core-changes/aspnetcore/3.0/authn-httpcontext-property-removed.md
  includes/core-changes/aspnetcore/3.0/authz-iallowanonymous-removed-from-collection.md
  includes/core-changes/aspnetcore/3.0/authz-iauthzpolicyprovider-new-method.md
  includes/core-changes/aspnetcore/3.0/caching-memory-property-removed.md
  includes/core-changes/aspnetcore/3.0/dataprotection-azstorage-using-azstorage-apis.md
  includes/core-changes/aspnetcore/3.0/hosting-ancmv1-hosting-bundle-removal.md
  includes/core-changes/aspnetcore/3.0/hosting-generic-host-startup-ctor-restriction.md
  includes/core-changes/aspnetcore/3.0/hosting-objectpoolprovider-webhostbuilder-dependencies.md
  includes/core-changes/aspnetcore/3.0/http-defaulthttpcontext-extensibility-removed.md
  includes/core-changes/aspnetcore/3.0/http-headernames-constants-staticreadonly.md
  includes/core-changes/aspnetcore/3.0/http-synchronous-io-disabled.md
  includes/core-changes/aspnetcore/3.0/identity-signinmanager-ctor-parameter.md
  includes/core-changes/aspnetcore/3.0/kestrel-connection-adapters-removed.md
  includes/core-changes/aspnetcore/3.0/localization-apis-marked-obsolete.md
  includes/core-changes/aspnetcore/3.0/mvc-action-async-suffix-trimmed.md
  includes/core-changes/aspnetcore/3.0/mvc-jsonresult-moved.md
  includes/core-changes/aspnetcore/3.0/mvc-precompilation-tool-deprecated.md
  includes/core-changes/aspnetcore/3.0/mvc-pubternal-to-internal.md
  includes/core-changes/aspnetcore/3.0/sharedfx-app-shared-framework-assemblies.md
  includes/core-changes/aspnetcore/3.0/signalr-hubconnection-methods-removed.md
  includes/core-changes/aspnetcore/3.0/signalr-js-client-package-name.md
  includes/core-changes/aspnetcore/3.0/signalr-successhandshakedata-replaced.md
  includes/core-changes/aspnetcore/3.1/http-cookie-samesite-authn-impacts.md
Labels: :book: guide - .NET Microservices, :book: guide - ASP.NET Core web apps, :books: Area - .NET Architecture Guide, :books: Area - .NET Core Guide, :books: Area - .NET Guide, :card_file_box: Technology - CLI

#16605 Update docker tutorial for 3.1
  docs/core/docker/build-container.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - Docker

#16492 updating links from fwlink to real link if exists
  docs/framework/data/wcf/index.md
  docs/framework/data/wcf/linq-considerations-wcf-data-services.md
  docs/framework/data/wcf/query-projections-wcf-data-services.md
  docs/framework/data/wcf/quickstart-wcf-data-services.md
  docs/framework/data/wcf/securing-wcf-data-services.md
  docs/framework/data/wcf/specify-client-creds-for-a-data-service-request-wcf.md
  docs/framework/data/wcf/streaming-provider-wcf-data-services.md
  docs/framework/data/wcf/using-a-data-service-in-a-client-application-wcf-data-services.md
  docs/framework/data/wcf/wcf-data-services-client-library.md
  docs/framework/data/wcf/wcf-data-services-overview.md
  docs/framework/data/wcf/wcf-data-services-protocol-implementation-details.md
  docs/framework/data/wcf/wcf-data-services-resources.md
  docs/framework/data/wcf/working-with-binary-data-wcf-data-services.md
  docs/framework/unmanaged-api/debugging/icordebug-createprocess-method.md
  docs/framework/unmanaged-api/hosting/clr-hosting-interfaces-added-in-the-net-framework-4-and-4-5.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-gethashfromassemblyfile-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-gethashfromassemblyfilew-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-gethashfromblob-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-gethashfromfile-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-gethashfromfilew-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-gethashfromhandle-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamecompareassemblies-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamefreebuffer-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamegetblob-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamegetblobfromimage-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamegetpublickey-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamehashsize-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamekeydelete-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamekeygen-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamekeygenex-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamekeyinstall-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamesignaturegeneration-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamesignaturegenerationex-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamesignaturesize-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamesignatureverification-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamesignatureverificationex-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamesignatureverificationfromimage-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnametokenfromassembly-method.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF

#16631 Fix table formatting in obsolete members article
  docs/framework/whats-new/obsolete-members.md
  docs/framework/whats-new/whats-obsolete.md
Labels: :books: Area - .NET Framework Guide

#16633 fix self links + improvements
  docs/csharp/programming-guide/file-system/index.md
  docs/framework/data/adonet/ef/language-reference/index.md
  docs/framework/ui-automation/index.md
  docs/standard/assembly/index.md
Labels: :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :books: Area - C# Guide, :card_file_box: Technology - Data Access, verify-build-before-merge

#16627 add title suffix to design guidelines book
  docfx.json
  docs/standard/design-guidelines/index.md
Labels: :books: Area - .NET Guide

#16225 New article - Migrate from Newtonsoft.Json
  docs/framework/wcf/feature-details/stand-alone-json-serialization.md
  docs/framework/wcf/samples/json-serialization.md
  docs/standard/serialization/system-text-json-converters-how-to.md
  docs/standard/serialization/system-text-json-how-to.md
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
  docs/standard/serialization/system-text-json-overview.md
  docs/standard/serialization/toc.yml
Labels: :books: Area - .NET Guide

#16649 Fix typo
  docs/csharp/programming-guide/interfaces/index.md
Labels: :books: Area - C# Guide

#16642 .NET Framework -> .NET, and use xref
  docs/csharp/programming-guide/namespaces/index.md
Labels: :books: Area - C# Guide

#16648 Update Threading docs to de-emphasis Thread.Abort
  docs/standard/threading/destroying-threads.md
  docs/standard/threading/using-threads-and-threading.md
Labels: :books: Area - .NET Guide

#16624 Document ASP.NET Core 3.0 breaking change for HTTPS redirection
  docs/core/compatibility/2.2-3.0.md
  docs/core/compatibility/2.2-3.1.md
  docs/core/compatibility/aspnetcore.md
  includes/core-changes/aspnetcore/3.0/hosting-https-redirection-iis-outofprocess.md
Labels: :books: Area - .NET Core Guide

#16613 Breaking changes improvements
  .openpublishing.redirection.json
  docs/core/compatibility/breaking-changes.md
  docs/core/compatibility/fx-core.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/unsupported-apis.md
  docs/core/compatibility/winforms.md
  docs/core/porting/index.md
  docs/core/porting/net-framework-tech-unavailable.md
  docs/core/porting/winforms-breaking-changes.md
  docs/core/porting/winforms.md
  docs/core/toc.yml
  docs/core/whats-new/dotnet-core-3-0.md
  docs/core/whats-new/dotnet-core-3-1.md
  includes/core-changes/windowsforms/3.0/control-defaultfont-changed.md
  includes/core-changes/windowsforms/3.0/deprecate-allowupdatechildcontrolindexfortabcontrols.md
  includes/core-changes/windowsforms/3.0/deprecate-donotloadlatestricheditcontrol.md
  includes/core-changes/windowsforms/3.0/deprecate-donotsupportselectallshortcutinmultilinetextbox.md
  includes/core-changes/windowsforms/3.0/deprecate-dontsupportreentrantfiltermessage.md
  includes/core-changes/windowsforms/3.0/deprecate-enablevisualstylevalidation.md
  includes/core-changes/windowsforms/3.0/deprecate-uselegacycontextmenustripsourcecontrolvalue.md
  includes/core-changes/windowsforms/3.0/deprecate-uselegacyimages.md
  includes/core-changes/windowsforms/3.0/deprecate-uselegacyscrolling.md
  includes/core-changes/windowsforms/3.0/remove-duplicated-apis.md
Labels: :books: Area - .NET Core Guide

#16641 update blog URLs
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/docker-apps-inner-loop-workflow.md
  docs/architecture/containerized-lifecycle/docker-devops-workflow/docker-application-outer-loop-devops-workflow.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/seedwork-domain-model-base-classes-interfaces.md
  docs/architecture/microservices/multi-container-microservice-net-applications/multi-container-applications-docker-compose.md
  docs/architecture/microservices/multi-container-microservice-net-applications/subscribe-events.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/migrate-to-hybrid-cloud-scenarios.md
  docs/csharp/expression-trees-translating.md
  docs/csharp/language-reference/builtin-types/nullable-value-types.md
  docs/csharp/language-reference/compiler-messages/cs0165.md
  docs/csharp/language-reference/compiler-messages/cs0246.md
  docs/csharp/language-reference/compiler-options/baseaddress-compiler-option.md
  docs/csharp/language-reference/operators/operator-overloading.md
  docs/csharp/language-reference/operators/user-defined-conversion-operators.md
  docs/csharp/misc/cs0473.md
  docs/csharp/programming-guide/classes-and-structs/constants.md
  docs/csharp/programming-guide/classes-and-structs/constructors.md
  docs/csharp/programming-guide/classes-and-structs/extension-methods.md
  docs/csharp/programming-guide/generics/generic-classes.md
  docs/csharp/programming-guide/statements-expressions-operators/lambda-expressions.md
  docs/desktop-wpf/migration/convert-project-from-net-framework.md
  docs/framework/data/adonet/asynchronous-programming.md
  docs/framework/data/adonet/data-tracing.md
  docs/framework/data/wcf/calling-service-operations-wcf-data-services.md
  docs/framework/data/wcf/developing-and-deploying-wcf-data-services.md
  docs/framework/net-native/measuring-startup-improvement-with-net-native.md
  docs/framework/performance/caching-in-net-framework-applications.md
  docs/framework/performance/etw-events-in-the-common-language-runtime.md
  docs/framework/performance/performance-tips.md
  docs/framework/performance/writing-large-responsive-apps.md
  docs/framework/tools/secannotate-exe-net-security-annotator-tool.md
  docs/framework/unmanaged-api/debugging/icordebugfunction3-getactiverejitrequestilcode-method.md
  docs/framework/unmanaged-api/debugging/icordebugfunction3-interface.md
  docs/framework/unmanaged-api/debugging/icordebugilframe4-enumeratelocalvariablesex-method.md
  docs/framework/unmanaged-api/debugging/icordebugilframe4-getcodeex-method.md
  docs/framework/unmanaged-api/debugging/icordebugilframe4-getlocalvariableex-method.md
  docs/framework/unmanaged-api/debugging/ilcodekind-enumeration.md
  docs/framework/unmanaged-api/profiling/clr-profilers-and-windows-store-apps.md
  docs/framework/wcf/feature-details/accessing-wcf-services-with-a-windows-store-client-app.md
  docs/framework/wcf/feature-details/serializing-in-json-with-message-level-programming.md
  docs/framework/wcf/feature-details/working-with-certificates.md
  docs/framework/whats-new/index.md
  docs/framework/whats-new/whats-new-in-accessibility.md
  docs/framework/windows-workflow-foundation/feature-specifics.md
  docs/framework/windows-workflow-foundation/wf-features-in-the-rehosted-workflow-designer.md
  docs/framework/windows-workflow-foundation/whats-new-in-wf-in-dotnet.md
  docs/fsharp/using-fsharp-on-azure/blob-storage.md
  docs/fsharp/using-fsharp-on-azure/file-storage.md
  docs/fsharp/using-fsharp-on-azure/index.md
  docs/fsharp/using-fsharp-on-azure/queue-storage.md
  docs/fsharp/using-fsharp-on-azure/table-storage.md
  docs/standard/base-types/best-practices.md
  docs/standard/collections/thread-safe/index.md
  docs/standard/cross-platform/index.md
  docs/standard/data/xml/migrating-from-the-xsltransform-class.md
  docs/standard/data/xml/using-the-xslcompiledtransform-class.md
  includes/core-changes/aspnetcore/3.0/sharedfx-app-shared-framework-assemblies.md
  includes/core-changes/aspnetcore/3.0/targetfx-netfx-tfm-support.md
  includes/migration-guide/retargeting/wf/workflow-30-types-are-obsolete.md
Labels: :book: guide - .NET Microservices, :book: guide - Docker lifecycle, :book: guide - Modernizing w/ Windows containers, :books: Area - .NET Architecture Guide, :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :books: Area - C# Guide, :books: Area - Desktop Guide, :books: Area - F# Guide, :card_file_box: Technology - Data Access, :card_file_box: Technology - WCF, :card_file_box: Technology - WF, :card_file_box: Technology - WPF, verify-build-before-merge

#16637 Add info about API docs
  docs/whats-new/2019-12.md
Labels: :star2: What's New

#16639 updating links from fwlink to real link if exists
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnametokenfromassemblyex-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnametokenfrompublickey-method.md
  docs/framework/unmanaged-api/hosting/loadlibraryshim-function.md
  docs/framework/unmanaged-api/hosting/metahost-policy-flags-enumeration.md
  docs/framework/unmanaged-api/hosting/runtime-info-flags-enumeration.md
  docs/framework/unmanaged-api/hosting/strongnamegetpublickeyex-method.md
  docs/framework/unmanaged-api/hosting/strongnamesignatureverificationex2-method.md
  docs/framework/unmanaged-api/metadata/corelementtype-enumeration.md
  docs/framework/unmanaged-api/metadata/imetadatatables-getguid-method.md
  docs/framework/unmanaged-api/metadata/imetadatatables-getnextguid-method.md
  docs/framework/unmanaged-api/metadata/imetadatatables-getnextuserstring-method.md
  docs/framework/unmanaged-api/metadata/imetadatatables-getrow-method.md
  docs/framework/unmanaged-api/metadata/imetadatatables-gettableindex-method.md
  docs/framework/unmanaged-api/profiling/clr-profilers-and-windows-store-apps.md
  docs/framework/unmanaged-api/profiling/icorprofilerinfo2-dostacksnapshot-method.md
  docs/framework/unmanaged-api/profiling/icorprofilerinfo3-requestprofilerdetach-method.md
  docs/framework/unmanaged-api/profiling/profiling-overview.md
  docs/framework/unmanaged-api/tlbexp/gettypelibinfo-function.md
  docs/framework/unmanaged-api/tlbexp/loadtypelibwithresolver-function.md
  docs/framework/unmanaged-api/tlbexp/resolvetypelib-method.md
  docs/framework/wcf/diagnostics/configuring-your-application.md
  docs/framework/wcf/diagnostics/security-concerns-for-message-logging.md
  docs/framework/wcf/extending/handling-exceptions-and-faults.md
  docs/framework/wcf/extending/how-to-lock-down-endpoints-in-the-enterprise.md
  docs/framework/wcf/extending/overriding-the-identity-of-a-service-for-authentication.md
  docs/framework/wcf/feature-details/access-control-mechanisms.md
  docs/framework/wcf/feature-details/accessing-wcf-services-with-a-windows-store-client-app.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF

#16625 Improve title
  docs/csharp/tutorials/attributes.md
Labels: :books: Area - C# Guide

#16431 Make examples in dotnet sln as a list
  docs/core/tools/dotnet-sln.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#16626 fix spelling for white paper
  cSpell.json
  docs/framework/data/adonet/sql/linq/background-information.md
  docs/framework/data/wcf/index.md
  docs/framework/network-programming/tls.md
  docs/framework/wcf/feature-details/security-concepts-used-in-wcf.md
  docs/framework/windows-workflow-foundation/migration-guidance.md
  docs/framework/windows-workflow-foundation/wf-migration-guidance.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - Data Access, :card_file_box: Technology - NCL, :card_file_box: Technology - WCF, :card_file_box: Technology - WF, verify-build-before-merge

#16526 Fixed "[+&#124;-]"→"[+\|-]"
  docs/visual-basic/reference/command-line-compiler/compiler-options-listed-alphabetically.md
Labels: :books: Area - Visual Basic Guide, verify-build-before-merge

#16439 Typo "[Try…Catch…Finally]"→"[Try...Catch...Finally Statement]"
  docs/visual-basic/language-reference/operators/await-operator.md
Labels: :books: Area - Visual Basic Guide

#16656 Shift operators: emphasize the shift count logic
  docs/csharp/language-reference/operators/bitwise-and-shift-operators.md
Labels: :books: Area - C# Guide

#16665 Moved the default values table
  .openpublishing.redirection.json
  docs/csharp/language-reference/builtin-types/default-values.md
  docs/csharp/language-reference/builtin-types/nullable-value-types.md
  docs/csharp/language-reference/keywords/built-in-types-table.md
  docs/csharp/language-reference/keywords/null.md
  docs/csharp/language-reference/keywords/struct.md
  docs/csharp/language-reference/keywords/value-types-table.md
  docs/csharp/language-reference/keywords/value-types.md
  docs/csharp/language-reference/operators/default.md
  docs/csharp/programming-guide/classes-and-structs/constructors.md
  docs/csharp/programming-guide/classes-and-structs/instance-constructors.md
  docs/csharp/programming-guide/classes-and-structs/static-constructors.md
  docs/csharp/programming-guide/classes-and-structs/using-constructors.md
  docs/csharp/programming-guide/classes-and-structs/using-structs.md
  docs/csharp/toc.yml
Labels: :books: Area - C# Guide

#16425 Correct one line calling powershell
  docs/core/tools/dotnet-install-script.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI, :sparkles: 1st-time docs contributor!

#16252 Add NetFx -> NetCore porting documentation for C++/CLI projects
  docs/core/porting/cpp-cli.md
  docs/core/toc.yml
Labels: :books: Area - .NET Core Guide

#16666 updating links from fwlink to real link if exists
  docs/framework/unmanaged-api/profiling/corprof-e-unsupported-call-sequence-hresult.md
  docs/framework/wcf/feature-details/adding-a-service-reference-in-a-workflow-solution.md
  docs/framework/wcf/feature-details/adopting-wcf.md
  docs/framework/wcf/feature-details/ajax-integration-and-json-support.md
  docs/framework/wcf/feature-details/auditing-security-events.md
  docs/framework/wcf/feature-details/authentication-in-wcf.md
  docs/framework/wcf/feature-details/authorization-in-wcf.md
  docs/framework/wcf/feature-details/bindings-and-security.md
  docs/framework/wcf/feature-details/caching-support-for-wcf-web-http-services.md
  docs/framework/wcf/feature-details/choosing-a-filter.md
  docs/framework/wcf/feature-details/choosing-a-transport.md
  docs/framework/wcf/feature-details/common-security-scenarios.md
  docs/framework/wcf/feature-details/comparing-aspnet-web-services-to-wcf-based-on-purpose-and-standards-used.md
  docs/framework/wcf/feature-details/config-wcf-service-with-aspnet-web-service.md
  docs/framework/wcf/feature-details/configuration-based-activation-in-iis-and-was.md
  docs/framework/wcf/feature-details/configuring-iis-for-wcf.md
  docs/framework/wcf/feature-details/configuring-the-wpa--service-for-use-with-wcf.md
  docs/framework/wcf/feature-details/configuring-ws-atomic-transaction-support.md
  docs/framework/wcf/feature-details/contracts.md
  docs/framework/wcf/feature-details/correlation-overview.md
  docs/framework/wcf/feature-details/creating-wcf-services-for-aspnet-ajax.md
  docs/framework/wcf/feature-details/data-contract-schema-reference.md
  docs/framework/wcf/feature-details/debugging-windows-authentication-errors.md
  docs/framework/wcf/feature-details/delegation-and-impersonation-with-wcf.md
  docs/framework/wcf/feature-details/denial-of-service.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF

#16669 Fix build warnings
  docs/core/porting/cpp-cli.md
  docs/csharp/tutorials/console-webapiclient.md
Labels: :books: Area - .NET Core Guide

#16673 updating links from fwlink to real link if exists
  docs/framework/wcf/feature-details/deploying-an-internet-information-services-hosted-wcf-service.md
  docs/framework/wcf/feature-details/discovery-find-and-findcriteria.md
  docs/framework/wcf/feature-details/distributed-application-security.md
  docs/framework/wcf/feature-details/extended-protection-for-authentication-overview.md
  docs/framework/wcf/feature-details/federation-and-issued-tokens.md
  docs/framework/wcf/feature-details/filtering.md
  docs/framework/wcf/feature-details/generating-a-wcf-client-from-service-metadata.md
  docs/framework/wcf/feature-details/hosting-in-a-windows-service-application.md
  docs/framework/wcf/feature-details/hosting-in-internet-information-services.md
  docs/framework/wcf/feature-details/hosting-in-windows-process-activation-service.md
  docs/framework/wcf/feature-details/hosting-workflow-services.md
  docs/framework/wcf/feature-details/hosting.md
  docs/framework/wcf/feature-details/how-to-access-a-service-from-a-workflow-application.md
  docs/framework/wcf/feature-details/how-to-call-wcf-service-operations-asynchronously.md
  docs/framework/wcf/feature-details/how-to-configure-a-port-with-an-ssl-certificate.md
  docs/framework/wcf/feature-details/how-to-configure-persistence-with-workflowservicehost.md
  docs/framework/wcf/feature-details/how-to-create-a-supporting-credential.md
  docs/framework/wcf/feature-details/how-to-create-temporary-certificates-for-use-during-development.md
  docs/framework/wcf/feature-details/how-to-enable-message-replay-detection.md
  docs/framework/wcf/feature-details/how-to-host-a-wcf-service-in-a-managed-windows-service.md
  docs/framework/wcf/feature-details/how-to-host-a-wcf-service-in-iis.md
  docs/framework/wcf/feature-details/how-to-host-a-wcf-service-in-was.md
  docs/framework/wcf/feature-details/how-to-host-a-workflow-service-with-windows-server-app-fabric.md
  docs/framework/wcf/feature-details/how-to-install-and-configure-wcf-activation-components.md
  docs/framework/wcf/feature-details/how-to-obtain-a-certificate-wcf.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF

#16662 Redirect to archived versions of framework + ASP.NET string format
  .openpublishing.redirection.json
  docs/standard/base-types/how-to-convert-numeric-user-input-in-web-controls-to-numbers.md
  docs/standard/base-types/how-to-display-localized-date-and-time-information-to-web-users.md
  docs/standard/base-types/performing-formatting-operations.md
  docs/standard/base-types/toc.yml
Labels: :books: Area - .NET Guide

#16678 Add link to Migrate-from-Newtonsoft doc
  docs/core/whats-new/dotnet-core-3-0.md
Labels: :books: Area - .NET Core Guide

#16677 Link to alternative polymorphic converter
  docs/standard/serialization/system-text-json-converters-how-to.md
Labels: :books: Area - .NET Guide

#15382 Update global.json for 3.0
  docs/core/tools/global-json.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#16693 Remove Stack section from Migrate doc
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
Labels: :books: Area - .NET Guide

#16663 Add bookmark indexes to breaking changes docs
  docs/core/compatibility/2.0-2.1.md
  docs/core/compatibility/2.2-3.0.md
  docs/core/compatibility/2.2-3.1.md
  docs/core/compatibility/3.0-3.1.md
  docs/core/compatibility/aspnetcore.md
  docs/core/compatibility/corefx.md
  docs/core/compatibility/cryptography.md
  docs/core/compatibility/fx-core.md
  docs/core/compatibility/globalization.md
  docs/core/compatibility/networking.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/visualbasic.md
  docs/core/compatibility/winforms.md
  includes/core-changes/networking/3.0/httprequestmessage-version-change.md
  includes/core-changes/visualbasic/3.0/microsoft.visualbasic.applicationservices-unavailable.md
  includes/core-changes/visualbasic/3.0/microsoft.visualbasic.devices-unavailable.md
  includes/core-changes/visualbasic/3.0/microsoft.visualbasic.myservices-unavailable.md
  includes/core-changes/visualbasic/3.0/vbnewline-is-obsolete.md
Labels: :books: Area - .NET Core Guide

#16307 Add fedora 31;rearrange package manager links
  docs/core/install/includes/package-manager-heading-hack-pkgname.md
  docs/core/install/includes/package-manager-switcher.md
  docs/core/install/linux-package-manager-fedora31.md
  docs/core/toc.yml
Labels: :books: Area - .NET Core Guide

#16706 More Acrolinx 1/15/20
  docs/csharp/language-reference/operators/bitwise-and-shift-operators.md
  docs/csharp/programming-guide/classes-and-structs/static-constructors.md
  docs/framework/unmanaged-api/profiling/corprof-e-unsupported-call-sequence-hresult.md
  docs/framework/wcf/feature-details/adding-a-service-reference-in-a-workflow-solution.md
  docs/framework/wcf/feature-details/adopting-wcf.md
  docs/framework/wcf/feature-details/ajax-integration-and-json-support.md
  docs/framework/wcf/feature-details/caching-support-for-wcf-web-http-services.md
Labels: :books: Area - .NET Framework Guide, :books: Area - C# Guide, :card_file_box: Technology - WCF

#16700 Acrolinx 1/15/20
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/seedwork-domain-model-base-classes-interfaces.md
  docs/architecture/microservices/multi-container-microservice-net-applications/multi-container-applications-docker-compose.md
  docs/architecture/modern-web-apps-azure/develop-asp-net-core-mvc-apps.md
  docs/core/compatibility/winforms.md
  docs/core/packages.md
  docs/core/porting/winforms.md
  docs/core/tools/csproj.md
  docs/csharp/expression-trees-translating.md
  docs/csharp/language-reference/compiler-messages/cs0165.md
  docs/csharp/language-reference/compiler-messages/cs0246.md
  docs/csharp/tutorials/console-webapiclient.md
  docs/framework/data/wcf/linq-considerations-wcf-data-services.md
  docs/framework/data/wcf/streaming-provider-wcf-data-services.md
Labels: :book: guide - .NET Microservices, :book: guide - ASP.NET Core web apps, :books: Area - .NET Architecture Guide, :books: Area - .NET Core Guide, :books: Area - .NET Framework Guide, :books: Area - C# Guide, :card_file_box: Technology - CLI, :card_file_box: Technology - WCF

#16705 Remove dependency note
  docs/core/install/linux-package-manager-opensuse15.md
Labels: :books: Area - .NET Core Guide

#16711 Fix code fencing
  docs/csharp/language-reference/builtin-types/reference-types.md
Labels: :books: Area - C# Guide

#16713 Fix typo: validation -> violation
  docs/csharp/roslyn-sdk/index.md
Labels: :books: Area - C# Guide, :sparkles: 1st-time docs contributor!

#16716 Use code fence
  docs/visual-basic/programming-guide/language-features/procedures/sub-procedures.md
Labels: :books: Area - Visual Basic Guide

#16717 Add no-loc metadata to System.Text.Json docs
  docs/standard/serialization/system-text-json-converters-how-to.md
  docs/standard/serialization/system-text-json-how-to.md
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
  docs/standard/serialization/system-text-json-overview.md
Labels: :books: Area - .NET Guide

#16710 Fix generic xrefs in visual basic async article
  docs/visual-basic/programming-guide/concepts/async/index.md
Labels: :books: Area - Visual Basic Guide

#16708 Remove "new"
  docs/core/tools/index.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#16715 Add ubuntu 19.10
  docs/core/install/includes/package-manager-switcher.md
  docs/core/install/linux-package-manager-ubuntu-1910.md
  docs/core/toc.yml
Labels: :books: Area - .NET Core Guide

#16682 updating links from fwlink to real link if exists
  docs/framework/wcf/diagnostics/performance-counters/calls-failed-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/calls-faulted-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/calls-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/endpoint-calls-duration.md
  docs/framework/wcf/diagnostics/performance-counters/endpoint-calls-failed-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/endpoint-calls-faulted-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/endpoint-calls-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/endpoint-reliable-messaging-messages-dropped-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/endpoint-reliable-messaging-sessions-faulted-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/endpoint-security-calls-not-authorized-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/endpoint-security-validation-and-authentication-failures-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/endpoint-transactions-flowed-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/instances-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/queue-dropped-messages-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/queued-poison-messages-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/queued-rejected-messages-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/reliable-messaging-messages-dropped-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/reliable-messaging-sessions-faulted-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/security-calls-not-authorized-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/security-validation-and-authentication-failures-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/service-calls-failed-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/service-calls-faulted-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/service-calls-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/service-security-calls-not-authorized-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/service-security-validation-and-authentication-failures-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/service-transactions-flowed-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/transacted-operations-aborted-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/transacted-operations-committed-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/transacted-operations-in-doubt-per-second.md
  docs/framework/wcf/diagnostics/performance-counters/transactions-flowed-per-second.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF

#16719 updating links from fwlink to real link if exists
  docs/framework/wcf/feature-details/how-to-register-and-configure-a-service-moniker.md
  docs/framework/wcf/feature-details/how-to-replace-the-wcf-url-reservation-with-a-restricted-reservation.md
  docs/framework/wcf/feature-details/how-to-use-svcutil-exe-to-download-metadata-documents.md
  docs/framework/wcf/feature-details/how-to-use-the-aspnet-authorization-manager-role-provider-with-a-service.md
  docs/framework/wcf/feature-details/http-transport-security.md
  docs/framework/wcf/feature-details/information-disclosure.md
  docs/framework/wcf/feature-details/integrating-enterprise-services-transactional-components.md
  docs/framework/wcf/feature-details/internet-information-services-hosting-best-practices.md
  docs/framework/wcf/feature-details/internet-unsecured-client-and-service.md
  docs/framework/wcf/feature-details/intranet-unsecured-client-and-service.md
  docs/framework/wcf/feature-details/large-data-and-streaming.md
  docs/framework/wcf/feature-details/limiting-message-distribution.md
  docs/framework/wcf/feature-details/mapping-between-json-and-xml.md
  docs/framework/wcf/feature-details/message-security-in-wcf.md
  docs/framework/wcf/feature-details/message-security-with-a-certificate-client.md
  docs/framework/wcf/feature-details/message-security-with-a-user-name-client.md
  docs/framework/wcf/feature-details/message-security-with-a-windows-client-without-credential-negotiation.md
  docs/framework/wcf/feature-details/message-security-with-a-windows-client.md
  docs/framework/wcf/feature-details/message-security-with-an-anonymous-client.md
  docs/framework/wcf/feature-details/message-security-with-issued-tokens.md
  docs/framework/wcf/feature-details/message-security-with-mutual-certificates.md
  docs/framework/wcf/feature-details/metadata-formats.md
  docs/framework/wcf/feature-details/migrating-net-remoting-applications-to-wcf.md
  docs/framework/wcf/feature-details/migrating-wse-3-0-web-services-to-wcf.md
  docs/framework/wcf/feature-details/partial-trust-feature-compatibility.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF

#16704 Add table of differences to Migrate from Newtonsoft.Json doc
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
Labels: :books: Area - .NET Guide

#16728 Update how-to-register-and-configure-a-service-moniker.md
  docs/framework/wcf/feature-details/how-to-register-and-configure-a-service-moniker.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF

#16733 remove extra slash in VS release notes URL
  docs/whats-new/index.yml
Labels: :star2: What's New, verify-build-before-merge

#16735 dotnet msbuild
  docs/core/tools/dotnet-msbuild.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#16734 Add missing period to index.yml summary property
  docs/whats-new/index.yml
Labels: :star2: What's New

#16722 Add emoji text where needed
  docs/core/compatibility/index.md
Labels: :books: Area - .NET Core Guide

#16699 Add guidelines for making F# data types structs
  docs/fsharp/style-guide/conventions.md
Labels: :books: Area - F# Guide

#16730 updating links from fwlink to real link if exists
  docs/framework/wcf/feature-details/peer-to-peer-networking.md
  docs/framework/wcf/feature-details/programming-wcf-security.md
  docs/framework/wcf/feature-details/secure-conversations-and-secure-sessions.md
  docs/framework/wcf/feature-details/securing-messages-using-message-security.md
  docs/framework/wcf/feature-details/securing-services-and-clients.md
  docs/framework/wcf/feature-details/security-behaviors-in-wcf.md
  docs/framework/wcf/feature-details/security-concepts-used-in-wcf.md
  docs/framework/wcf/feature-details/security-concepts.md
  docs/framework/wcf/feature-details/security-guidance-and-best-practices.md
  docs/framework/wcf/feature-details/security-overview.md
  docs/framework/wcf/feature-details/security.md
  docs/framework/wcf/feature-details/selecting-a-credential-type.md
  docs/framework/wcf/feature-details/service-endpoints-and-queue-addressing.md
  docs/framework/wcf/feature-details/supported-deployment-scenarios.md
  docs/framework/wcf/feature-details/supporting-multiple-iis-site-bindings.md
  docs/framework/wcf/feature-details/system-web-routing-integration.md
  docs/framework/wcf/feature-details/transaction-models.md
  docs/framework/wcf/feature-details/transaction-protocols.md
  docs/framework/wcf/feature-details/transport-security-overview.md
  docs/framework/wcf/feature-details/transport-security-with-basic-authentication.md
  docs/framework/wcf/feature-details/transport-security-with-certificate-authentication.md
  docs/framework/wcf/feature-details/transport-security-with-windows-authentication.md
  docs/framework/wcf/feature-details/troubleshooting-queued-messaging.md
  docs/framework/wcf/feature-details/trusted-subsystem.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF

#16747 Correct code
  docs/csharp/tutorials/exploration/interpolated-strings.yml
Labels: :books: Area - C# Guide

#16749 Add missing using to the REST client tutorial
  docs/csharp/tutorials/console-webapiclient.md
Labels: :books: Area - C# Guide

#16750 Code fence the null keyword
  docs/csharp/language-reference/keywords/null.md
Labels: :books: Area - C# Guide

#16760 Add missing async modifiers
  docs/csharp/tutorials/console-webapiclient.md
Labels: :books: Area - C# Guide

#16629 Change references from .NET Framework to .NET (where appropriate)
  docs/desktop-wpf/xaml-services/basic-reading-writing.md
  docs/desktop-wpf/xaml-services/clr-attributes-with-custom-types-and-libraries.md
  docs/desktop-wpf/xaml-services/collections-and-types.md
  docs/desktop-wpf/xaml-services/default-schema-context.md
  docs/desktop-wpf/xaml-services/define-custom-types.md
  docs/desktop-wpf/xaml-services/generics.md
  docs/desktop-wpf/xaml-services/index.md
  docs/desktop-wpf/xaml-services/markup-extensions-overview.md
  docs/desktop-wpf/xaml-services/namespaces.md
  docs/desktop-wpf/xaml-services/security-considerations.md
  docs/desktop-wpf/xaml-services/service-contexts-with-type-converters-and-markup-extensions.md
  docs/desktop-wpf/xaml-services/toc.yml
  docs/desktop-wpf/xaml-services/type-converters-and-markup-extensions.md
  docs/desktop-wpf/xaml-services/type-converters-overview.md
  docs/desktop-wpf/xaml-services/types-migrated-from-wpf-to-system.md
  docs/desktop-wpf/xaml-services/understanding-xaml-node-stream-structures-and-concepts.md
  docs/desktop-wpf/xaml-services/white-space-processing.md
  docs/desktop-wpf/xaml-services/xarguments-directive.md
  docs/desktop-wpf/xaml-services/xarray-markup-extension.md
  docs/desktop-wpf/xaml-services/xclass-directive.md
  docs/desktop-wpf/xaml-services/xclassmodifier-directive.md
  docs/desktop-wpf/xaml-services/xdata-intrinsic-xaml-type.md
  docs/desktop-wpf/xaml-services/xmember-directive.md
  docs/desktop-wpf/xaml-services/xmembers-directive.md
  docs/desktop-wpf/xaml-services/xml-character-entities.md
  docs/desktop-wpf/xaml-services/xml-language-handling.md
  docs/desktop-wpf/xaml-services/xname-directive.md
  docs/desktop-wpf/xaml-services/xnull-markup-extension.md
  docs/desktop-wpf/xaml-services/xproperty-directive.md
  docs/desktop-wpf/xaml-services/xshared-attribute.md
  docs/desktop-wpf/xaml-services/xstatic-markup-extension.md
  docs/desktop-wpf/xaml-services/xsubclass-directive.md
  docs/desktop-wpf/xaml-services/xtype-markup-extension.md
  docs/desktop-wpf/xaml-services/xtypearguments-directive.md
  docs/desktop-wpf/xaml-services/xuid-directive.md
Labels: :books: Area - Desktop Guide, :card_file_box: Technology - WPF

#16765 Moved and revised the value types article
  .openpublishing.redirection.json
  docs/csharp/language-reference/builtin-types/nullable-value-types.md
  docs/csharp/language-reference/builtin-types/value-types.md
  docs/csharp/language-reference/compiler-messages/cs1612.md
  docs/csharp/language-reference/keywords/built-in-types-table.md
  docs/csharp/language-reference/keywords/reference-types.md
  docs/csharp/language-reference/keywords/struct.md
  docs/csharp/language-reference/keywords/value-types-table.md
  docs/csharp/language-reference/keywords/value-types.md
  docs/csharp/language-reference/keywords/void.md
  docs/csharp/language-reference/operators/equality-operators.md
  docs/csharp/misc/cs0077.md
  docs/csharp/misc/cs1654.md
  docs/csharp/programming-guide/arrays/single-dimensional-arrays.md
  docs/csharp/programming-guide/classes-and-structs/how-to-know-the-difference-passing-a-struct-and-passing-a-class-to-a-method.md
  docs/csharp/programming-guide/classes-and-structs/methods.md
  docs/csharp/programming-guide/classes-and-structs/passing-value-type-parameters.md
  docs/csharp/programming-guide/classes-and-structs/using-structs.md
  docs/csharp/programming-guide/types/boxing-and-unboxing.md
  docs/csharp/programming-guide/types/index.md
  docs/csharp/programming-guide/unsafe-code-pointers/pointer-conversions.md
  docs/csharp/programming-guide/unsafe-code-pointers/pointer-types.md
  docs/csharp/toc.yml
  docs/csharp/tour-of-csharp/types-and-variables.md
  docs/framework/reflection-and-codedom/reflection.md
Labels: :books: Area - .NET Framework Guide, :books: Area - C# Guide

#16560 Add ImageClassification and Forecasting
  docs/machine-learning/resources/tasks.md
Labels: :books: Area - ML.NET Guide

#16736 What's new .NET Core 3.1
  docs/core/whats-new/dotnet-core-3-1.md
Labels: :books: Area - .NET Core Guide

#16419 Style guide-ish improvements
  docs/standard/get-started.md
  docs/standard/index.md
Labels: :books: Area - .NET Guide

#16774 fix typo in 'Introduction to LINQ - Order By clause'
  docs/visual-basic/programming-guide/language-features/linq/introduction-to-linq.md
Labels: :books: Area - Visual Basic Guide, :sparkles: 1st-time docs contributor!

#16463 Create deploy-worker-udf-binaries.md
  docs/spark/how-to-guides/deploy-worker-udf-binaries.md
  docs/spark/toc.yml
Labels: :books: Area - .NET for Apache Spark Guide

#16780 Link to asp.net core what's new
  docs/whats-new/index.yml
Labels: :star2: What's New

#16743 fix/remove broken links
  docs/architecture/cloud-native/identity-server.md
  docs/architecture/microservices/multi-container-microservice-net-applications/implement-api-gateways-with-ocelot.md
  docs/core/additional-tools/index.md
  docs/csharp/programming-guide/concepts/linq/shape-of-wordprocessingml-documents.md
  docs/csharp/programming-guide/exceptions/index.md
  docs/framework/configure-apps/file-schema/cryptography/cryptoclasses-element.md
  docs/framework/network-programming/understanding-webrequest-problems-and-exceptions.md
  docs/framework/windows-workflow-foundation/consuming-odata-feeds-from-a-workflow.md
  docs/framework/winforms/controls/walkthrough-arranging-controls-on-windows-forms-using-a-flowlayoutpanel.md
  docs/visual-basic/programming-guide/concepts/linq/shape-of-wordprocessingml-documents.md
Labels: :books: Area - .NET Core Guide

#16785 Add link to feedback section
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
Labels: :books: Area - .NET Guide

#16737 Add information on default interface members - added in C# 8.0
  docs/csharp/language-reference/compiler-messages/cs0106.md
  docs/csharp/language-reference/keywords/interface.md
  docs/csharp/language-reference/keywords/static.md
Labels: :books: Area - C# Guide

#16789 Fix snippet ID for new snippet syntax
  docs/csharp/language-reference/builtin-types/value-types.md
Labels: :books: Area - C# Guide
