Repository dotnet/docs, pull requests merged in 2020-03, with the labels that each got.

#17282 create what's new February
  docs/whats-new/dotnet-2020-02.md
  docs/whats-new/index.yml
  docs/whats-new/toc.yml
Labels: :star2: What's New

#17270 fix broken anchor + use boilerplate
  docs/csharp/programming-guide/classes-and-structs/implicitly-typed-local-variables.md
Labels: :books: Area - C# Guide

#17169 Updating Health check documentation to use built in .NET core classes…
  docs/architecture/microservices/implement-resilient-applications/monitor-app-health.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#17271 Fix terminated I/O thread "raised when" field
  docs/framework/performance/thread-pool-etw-events.md
Labels: :books: Area - .NET Framework Guide, :sparkles: 1st-time docs contributor!

#17268 Small improvements
  docs/machine-learning/automate-training-with-cli.md
  docs/machine-learning/toc.yml
Labels: :books: Area - ML.NET Guide

#17227 Update globalization.md
  docs/standard/globalization-localization/globalization.md
Labels: :books: Area - .NET Guide

#17263 Fix code formatting
  docs/architecture/modern-web-apps-azure/work-with-data-in-asp-net-core-apps.md
Labels: :book: guide - ASP.NET Core web apps, :books: Area - .NET Architecture Guide

#16923 Remove "underflow" to match UI
  docs/csharp/language-reference/compiler-options/checked-compiler-option.md
Labels: :books: Area - C# Guide, :construction: Hold for related PR

#17290 Change snippet references for csharp
  docs/csharp/delegates-patterns.md
  docs/csharp/event-pattern.md
  docs/csharp/language-reference/builtin-types/bool.md
  docs/csharp/language-reference/builtin-types/char.md
  docs/csharp/language-reference/builtin-types/enum.md
  docs/csharp/language-reference/builtin-types/nullable-value-types.md
  docs/csharp/language-reference/builtin-types/struct.md
  docs/csharp/language-reference/builtin-types/unmanaged-types.md
  docs/csharp/language-reference/builtin-types/value-types.md
  docs/csharp/language-reference/builtin-types/void.md
  docs/csharp/language-reference/operators/addition-operator.md
  docs/csharp/language-reference/operators/arithmetic-operators.md
  docs/csharp/language-reference/operators/assignment-operator.md
  docs/csharp/language-reference/operators/await.md
  docs/csharp/language-reference/operators/bitwise-and-shift-operators.md
  docs/csharp/language-reference/operators/boolean-logical-operators.md
  docs/csharp/language-reference/operators/comparison-operators.md
  docs/csharp/language-reference/operators/conditional-operator.md
  docs/csharp/language-reference/operators/default.md
  docs/csharp/language-reference/operators/delegate-operator.md
  docs/csharp/language-reference/operators/equality-operators.md
  docs/csharp/language-reference/operators/lambda-operator.md
  docs/csharp/language-reference/operators/member-access-operators.md
  docs/csharp/language-reference/operators/nameof.md
  docs/csharp/language-reference/operators/new-operator.md
  docs/csharp/language-reference/operators/null-coalescing-operator.md
  docs/csharp/language-reference/operators/null-forgiving.md
  docs/csharp/language-reference/operators/operator-overloading.md
  docs/csharp/language-reference/operators/pointer-related-operators.md
  docs/csharp/language-reference/operators/sizeof.md
  docs/csharp/language-reference/operators/stackalloc.md
  docs/csharp/language-reference/operators/subtraction-operator.md
  docs/csharp/language-reference/operators/true-false-operators.md
  docs/csharp/language-reference/operators/type-testing-and-cast.md
  docs/csharp/language-reference/operators/user-defined-conversion-operators.md
  docs/csharp/pattern-matching.md
  docs/csharp/programming-guide/concepts/serialization/walkthrough-persisting-an-object-in-visual-studio.md
  docs/csharp/roslyn-sdk/get-started/semantic-analysis.md
  docs/csharp/roslyn-sdk/get-started/syntax-analysis.md
  docs/csharp/roslyn-sdk/get-started/syntax-transformation.md
  docs/csharp/roslyn-sdk/tutorials/how-to-write-csharp-analyzer-code-fix.md
  docs/csharp/tutorials/default-interface-methods-versions.md
  docs/csharp/tutorials/exploration/csharp-6.yml
  docs/csharp/tutorials/generate-consume-asynchronous-stream.md
  docs/csharp/tutorials/intro-to-csharp/introduction-to-classes.md
  docs/csharp/tutorials/mixins-with-default-interface-methods.md
  docs/csharp/tutorials/nullable-reference-types.md
  docs/csharp/tutorials/pattern-matching.md
  docs/csharp/tutorials/ranges-indexes.md
  docs/csharp/tutorials/upgrade-to-nullable-references.md
  docs/csharp/tutorials/working-with-linq.md
  docs/csharp/versioning.md
  docs/csharp/write-safe-efficient-code.md
  docs/standard/tour.md
Labels: :books: Area - .NET Guide, :books: Area - C# Guide, :books: Area - ML.NET Guide

#17295 Change snippet references for machine-learning
  docs/machine-learning/tutorials/github-issue-classification.md
  docs/machine-learning/tutorials/image-classification.md
  docs/machine-learning/tutorials/iris-clustering.md
  docs/machine-learning/tutorials/movie-recommendation.md
  docs/machine-learning/tutorials/predict-prices.md
  docs/machine-learning/tutorials/sales-anomaly-detection.md
  docs/machine-learning/tutorials/sentiment-analysis.md
  docs/machine-learning/tutorials/text-classification-tf.md
Labels: :books: Area - ML.NET Guide

#17289 Remove obsolete article
  docs/architecture/microservices/implement-resilient-applications/implement-resilient-entity-framework-core-sql-connections.md
  docs/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests.md
  docs/architecture/microservices/toc.yml
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#17286 Add details to complement PR #17169
  docs/architecture/microservices/implement-resilient-applications/monitor-app-health.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#16339 Prevent statically defined enums from being changed at runtime
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/enumeration-classes-over-enum-types.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide, :sparkles: 1st-time docs contributor!

#17237 fix: MD009 in docs/visual-basic
  docs/visual-basic/misc/bc30983.md
  docs/visual-basic/misc/bc31047.md
  docs/visual-basic/misc/bc31441.md
  docs/visual-basic/misc/bc32127.md
  docs/visual-basic/misc/bc36557.md
  docs/visual-basic/misc/bc36566.md
  docs/visual-basic/misc/bc36607.md
  docs/visual-basic/misc/bc36628.md
  docs/visual-basic/misc/bc36639.md
  docs/visual-basic/programming-guide/concepts/async/start-multiple-async-tasks-and-process-them-as-they-complete.md
  docs/visual-basic/programming-guide/concepts/expression-trees/debugging-expression-trees-in-visual-studio.md
  docs/visual-basic/programming-guide/concepts/expression-trees/index.md
  docs/visual-basic/programming-guide/concepts/linq/basic-query-operations.md
  docs/visual-basic/programming-guide/concepts/linq/grouping-data.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-filter-on-an-optional-element.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-find-elements-with-a-specific-attribute.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-group-files-by-extension-linq.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-perform-streaming-transform-of-large-xml-documents.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-populate-an-xml-tree-with-an-xmlwriter-linq-to-xml.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-query-for-the-largest-file-or-files-in-a-directory-tree.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-query-for-the-total-number-of-bytes-in-a-set-of-folders.md
  docs/visual-basic/programming-guide/concepts/linq/introduction-to-xml-literals.md
  docs/visual-basic/programming-guide/concepts/linq/programming-with-nodes.md
  docs/visual-basic/programming-guide/concepts/linq/refactoring-using-a-pure-function.md
  docs/visual-basic/programming-guide/language-features/control-flow/nested-control-structures.md
  docs/visual-basic/programming-guide/language-features/control-flow/walkthrough-implementing-ienumerable-of-t.md
  docs/visual-basic/programming-guide/language-features/data-types/structures-and-other-programming-elements.md
  docs/visual-basic/programming-guide/language-features/declared-elements/shadowing.md
  docs/visual-basic/programming-guide/language-features/procedures/overload-resolution.md
  docs/visual-basic/programming-guide/language-features/xml/overview-of-linq-to-xml.md
  docs/visual-basic/reference/command-line-compiler/keyfile.md
  docs/visual-basic/reference/command-line-compiler/optionexplicit.md
Labels: :books: Area - Visual Basic Guide

#17291 Update links to other xaml sections
  docs/desktop-wpf/fundamentals/xaml.md
  docs/desktop-wpf/overview/index.md
Labels: :books: Area - Desktop Guide, :card_file_box: Technology - WPF

#17281 Update rhel8 documentation
  .openpublishing.redirection.json
  docs/core/install/includes/package-manager-switcher.md
  docs/core/install/linux-package-manager-rhel8.md
  docs/core/toc.yml
  docs/whats-new/2019-11.md
Labels: :books: Area - .NET Core Guide, changes-addressed

#17284 Add see also links + reformat CLI tool ref docs
  docs/core/tools/dotnet-tool-install.md
  docs/core/tools/dotnet-tool-list.md
  docs/core/tools/dotnet-tool-restore.md
  docs/core/tools/dotnet-tool-run.md
  docs/core/tools/dotnet-tool-uninstall.md
  docs/core/tools/dotnet-tool-update.md
  docs/core/tools/global-tools.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#12873 Make updates for Azure Guest OS Family 6
  docs/framework/network-programming/tls.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - NCL

#17311 Improve reference to image 7-2
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/eshoponcontainers-cqrs-ddd-microservice.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#17310 Actually delete "isolated" article
  docs/architecture/microservices/implement-resilient-applications/explore-custom-http-call-retries-exponential-backoff.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#17315 Updating links for uninstall tool release page
  docs/core/additional-tools/uninstall-tool.md
Labels: :books: Area - .NET Core Guide

#17328 fix broken link
  docs/architecture/microservices/implement-resilient-applications/implement-http-call-retries-exponential-backoff-polly.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#17319 remove dead link
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/infrastructure-persistence-layer-design.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#17287 Update .NET Core dependencies
  docs/architecture/microservices/multi-container-microservice-net-applications/implement-api-gateways-with-ocelot.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#17324 Add info about default versions for older versions
  docs/csharp/language-reference/configure-language-version.md
Labels: :books: Area - C# Guide

#17264 Update dotnet test for 3.0
  docs/core/tools/dotnet-publish.md
  docs/core/tools/dotnet-test.md
  docs/core/tools/index.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#17318 Added missing word
  docs/framework/winforms/controls/how-to-inherit-from-existing-windows-forms-controls.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WinForms

#17338 Add custom metadata for ML.NET tooling articles.
  docs/machine-learning/automate-training-with-cli.md
  docs/machine-learning/automate-training-with-model-builder.md
  docs/machine-learning/automl-overview.md
  docs/machine-learning/how-to-guides/install-ml-net-cli.md
  docs/machine-learning/how-to-guides/install-model-builder.md
  docs/machine-learning/how-to-guides/load-data-model-builder.md
  docs/machine-learning/reference/ml-net-cli-reference.md
  docs/machine-learning/resources/ml-net-cli-telemetry.md
Labels: :books: Area - ML.NET Guide

#17292 Fix incorrect references to "HttpClientFactory"
  docs/architecture/microservices/implement-resilient-applications/implement-circuit-breaker-pattern.md
  docs/architecture/microservices/implement-resilient-applications/implement-http-call-retries-exponential-backoff-polly.md
  docs/architecture/microservices/implement-resilient-applications/index.md
  docs/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests.md
  docs/architecture/microservices/toc.yml
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#17204 Reference assemblies: mention MetadataLoadContext
  docs/standard/assembly/reference-assemblies.md
Labels: :books: Area - .NET Guide

#17343 Delete orphaned images
  docs/core/media/code-language-picker.png
  docs/core/tutorials/media/debugging-with-visual-studio/autos-immediate-window.png
  docs/core/tutorials/media/debugging-with-visual-studio/breakpoint-console-window.png
  docs/core/tutorials/media/debugging-with-visual-studio/debug-changed-value.png
  docs/core/tutorials/media/debugging-with-visual-studio/vb-immediate-window-output.png
  docs/core/tutorials/media/debugging-with-visual-studio/vb-set-breakpoint-in-editor.png
  docs/core/tutorials/media/debugging-with-visual-studio/vb-stop-at-breakpoint.png
Labels: :books: Area - .NET Core Guide

#17341 Apply dotnetcli dev lang to command block
  docs/csharp/tour-of-csharp/index.md
Labels: :books: Area - C# Guide

#17091 updating links from fwlink to real link if exists
  docs/framework/data/adonet/ef/language-reference/compiled-queries-linq-to-entities.md
  docs/framework/data/adonet/ef/language-reference/how-to-call-custom-database-functions.md
  docs/framework/data/adonet/ef/language-reference/queries-in-linq-to-entities.md
  docs/framework/data/adonet/sql/linq/background-information.md
  docs/framework/data/adonet/sql/linq/index.md
  docs/framework/data/adonet/sql/linq/programming-guide.md
  docs/framework/data/adonet/sql/linq/reference.md
  docs/framework/data/adonet/sql/linq/samples.md
  docs/framework/data/adonet/sql/linq/sql-clr-type-mapping.md
  docs/framework/wcf/diagnostics/etw/dynamically-enabling-analytic-tracing.md
  docs/framework/wcf/diagnostics/performance-counters/calls-duration.md
  docs/framework/wcf/diagnostics/performance-counters/queue-dropped-messages.md
  docs/framework/wcf/diagnostics/performance-counters/queued-poison-messages.md
  docs/framework/wcf/diagnostics/performance-counters/queued-rejected-messages.md
  docs/framework/wcf/diagnostics/performance-counters/service-calls-duration.md
  docs/framework/wcf/diagnostics/tracing/configuring-tracing.md
  docs/framework/wcf/diagnostics/tracing/security-concerns-and-useful-tips-for-tracing.md
  docs/framework/wcf/diagnostics/tracing/system-servicemodel-channels-msmqmessagedropped.md
  docs/framework/wcf/diagnostics/tracing/system-servicemodel-channels-msmqmessagerejected.md
  docs/framework/wcf/diagnostics/tracing/system-servicemodel-channels-msmqpoisonmessagerejected.md
  docs/framework/wcf/diagnostics/tracing/system-servicemodel-comintegration-comintegrationservicehostcreatedserviceendpoint.md
  docs/framework/wcf/diagnostics/tracing/trace-type-summary.md
  docs/framework/wcf/diagnostics/wmi/index.md
  docs/framework/wpf/graphics-multimedia/how-to-paint-an-area-with-a-solid-color.md
  docs/framework/wpf/graphics-multimedia/how-to-paint-an-area-with-a-visual.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - Data Access, :card_file_box: Technology - WCF, :card_file_box: Technology - WPF, changes-addressed

#17347 ref locals: mention ref assignment operator
  docs/csharp/language-reference/keywords/ref.md
Labels: :books: Area - C# Guide

#17348 Conditional ref expression: update phrasing
  docs/csharp/language-reference/operators/conditional-operator.md
Labels: :books: Area - C# Guide

#17288 Add default verbosity level
  docs/core/tools/dotnet-publish.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#17364 Add await foreach to language referenced
  docs/csharp/language-reference/keywords/foreach-in.md
  docs/csharp/language-reference/operators/await.md
  samples/snippets/csharp/keywords/IterationKeywordsExamples.cs
  samples/snippets/csharp/keywords/Program.cs
Labels: :books: Area - C# Guide

#17371 Update runtime.md
  docs/core/install/runtime.md
Labels: :books: Area - .NET Core Guide

#17367 remove two vendors
  docs/whats-new/dotnet-2020-02.md
Labels: :star2: What's New

#17379 Fixed grammar
  docs/fsharp/language-reference/active-patterns.md
Labels: :books: Area - F# Guide

#17361 Retire tools/extensibility article
  .openpublishing.redirection.json
  docs/core/project-sdk/overview.md
  docs/core/toc.yml
  docs/core/tools/extensibility.md
  docs/core/whats-new/dotnet-core-2-1.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#17376 ms-vscode.csharp to ms-dotnettools.csharp
  docs/core/about.md
  docs/core/install/sdk.md
  docs/core/tutorials/with-visual-studio-code.md
Labels: :books: Area - .NET Core Guide

#17363 Replace site-relative links where possible
  docs/csharp/language-reference/keywords/let-clause.md
  docs/csharp/language-reference/keywords/orderby-clause.md
  docs/csharp/language-reference/keywords/query-keywords.md
  docs/csharp/language-reference/keywords/select-clause.md
  docs/csharp/language-reference/keywords/where-clause.md
  docs/csharp/programming-guide/classes-and-structs/anonymous-types.md
  docs/csharp/programming-guide/concepts/collections.md
  docs/csharp/programming-guide/concepts/linq/introduction-to-linq-queries.md
  docs/standard/assembly/view-contents.md
  docs/visual-basic/programming-guide/concepts/linq/getting-started-with-linq.md
Labels: :books: Area - .NET Guide, :books: Area - C# Guide, :books: Area - Visual Basic Guide

#17396 Add description for SEO
  docs/core/native-interop/expose-components-to-com.md
Labels: :books: Area - .NET Core Guide

#17352 updating links from fwlink to real link if exists
  docs/framework/wpf/graphics-multimedia/how-to-paint-an-area-with-an-image.md
  docs/framework/wpf/graphics-multimedia/how-to-preserve-the-aspect-ratio-of-an-image-used-as-a-background.md
  docs/framework/wpf/graphics-multimedia/how-to-repeat-an-animation.md
  docs/framework/wpf/graphics-multimedia/how-to-rotate-an-object-by-using-a-geometric-path-matrix-animation.md
  docs/framework/wpf/graphics-multimedia/how-to-rotate-an-object-by-using-a-geometric-path.md
  docs/framework/wpf/graphics-multimedia/how-to-rotate-an-object.md
  docs/framework/wpf/graphics-multimedia/how-to-scale-an-element.md
  docs/framework/wpf/graphics-multimedia/how-to-set-the-tile-size-for-a-tilebrush.md
  docs/framework/wpf/graphics-multimedia/how-to-skew-an-element.md
  docs/framework/wpf/graphics-multimedia/how-to-transform-a-brush.md
  docs/framework/wpf/graphics-multimedia/how-to-translate-an-element.md
  docs/framework/wpf/graphics-multimedia/how-to-use-event-triggers-to-control-a-storyboard-after-it-starts.md
  docs/framework/wpf/graphics-multimedia/index.md
  docs/framework/wpf/graphics-multimedia/key-frame-animations-overview.md
  docs/framework/wpf/graphics-multimedia/painting-with-images-drawings-and-visuals.md
  docs/framework/wpf/graphics-multimedia/path-animations-overview.md
  docs/framework/wpf/graphics-multimedia/specify-the-fillbehavior-for-a-timeline.md
  docs/framework/wpf/graphics-multimedia/tilebrush-overview.md
  docs/framework/wpf/graphics-multimedia/timing-behaviors-overview.md
  docs/framework/wpf/graphics-multimedia/transforms-overview.md
  docs/framework/wpf/graphics-multimedia/tutorial-hosting-visual-objects-in-a-win32-application.md
  docs/framework/wpf/graphics-multimedia/using-drawingvisual-objects.md
  docs/framework/wpf/graphics-multimedia/wpf-brushes-overview.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#17373 fix broken download link
  docs/framework/install/on-windows-vista.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - Installers

#17411 Clarify PATH environment variable update instructions
  docs/core/tools/troubleshoot-usage-issues.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#17392 Document AssetTargetFallback
  docs/core/project-sdk/msbuild-props.md
Labels: :books: Area - .NET Core Guide

#17389 Remove mairaw from global author/ms.author
  .github/CODEOWNERS
  docfx.json
  docs/core/tools/dotnet-add-package.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#17407 Add descriptions for SEO.
  docs/standard/security/secure-coding-guidelines.md
  docs/standard/security/securing-state-data.md
  docs/standard/security/security-and-on-the-fly-code-generation.md
  docs/standard/security/security-and-race-conditions.md
  docs/standard/security/security-and-user-input.md
Labels: :books: Area - .NET Guide, :card_file_box: Technology - Security

#17423 Fix misprint
  docs/architecture/grpc-for-wcf-developers/docker.md
Labels: :book: guide - gRPC, :books: Area - .NET Architecture Guide

#17425 Apply code style to commands
  docs/core/tools/index.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#17428 Fix typo
  docs/csharp/programming-guide/interfaces/index.md
Labels: :books: Area - C# Guide

#17421 Update MainWindow.xaml.cs
  samples/snippets/csharp/VS_Snippets_Wpf/DataGrid_SQL_EF_Walkthrough/CS/MainWindow.xaml.cs
Labels: :sparkles: 1st-time docs contributor!

#17417 Gender-neutral pronouns
  docs/framework/configure-apps/file-schema/wcf/add-of-claimtyperequirements-element.md
  docs/framework/configure-apps/file-schema/wcf/add-of-claimtyperequirements.md
  docs/framework/configure-apps/file-schema/wcf/msmqtransportsecurity.md
  docs/framework/configure-apps/file-schema/wcf/transport-of-msmqintegrationbinding.md
  docs/framework/configure-apps/file-schema/wcf/transport-of-netmsmqbinding.md
  docs/framework/data/adonet/sql/sql-server-express-user-instances.md
  docs/framework/tools/mage-exe-manifest-generation-and-editing-tool.md
  docs/framework/wcf/feature-details/access-control-mechanisms.md
  docs/framework/wcf/feature-details/how-to-use-the-aspnet-membership-provider.md
  docs/framework/wcf/feature-details/how-to-use-the-aspnet-role-provider-with-a-service.md
  docs/framework/wcf/feature-details/queues-overview.md
  docs/framework/wcf/securing-clients.md
  docs/framework/windows-workflow-foundation/feature-specifics.md
  docs/framework/windows-workflow-foundation/samples/corporate-purchase-process.md
  docs/framework/winforms/advanced/application-settings-architecture.md
  docs/framework/wpf/advanced/how-to-diagnose-problematic-print-job.md
  docs/framework/wpf/advanced/how-to-remotely-survey-the-status-of-printers.md
  docs/standard/base-types/basic-manipulations.md
  docs/standard/base-types/changing-case.md
  docs/standard/common-type-system.md
  docs/standard/globalization-localization/globalization.md
  docs/standard/security/cryptographic-services.md
  docs/standard/security/vulnerabilities-cbc-mode.md
  docs/visual-basic/getting-started/whats-new.md
  docs/visual-basic/programming-guide/language-features/procedures/ref-return-values.md
  docs/visual-basic/programming-guide/language-features/strings/using-regular-expressions-with-the-maskedtextbox-control.md
  samples/snippets/cpp/VS_Snippets_Remoting/System.Net.Authentication/CPP/custombasicauthentication.cpp
  samples/snippets/cpp/VS_Snippets_Remoting/System.Net.Sockets.Authentication/CPP/custombasicauthentication.cpp
  samples/snippets/cpp/VS_Snippets_Remoting/System.Web.Services.Protocols.WebClientProtocol constructor/CPP/class1.cpp
  samples/snippets/csharp/VS_Snippets_Wpf/BlockSnippets/CSharp/Window1.xaml
  samples/snippets/csharp/VS_Snippets_Wpf/DocumentSerialize/CSharp/HtmlXmlConverter/HtmlToXamlConverter.cs
  styleguide/template.md
Labels: :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :books: Area - Visual Basic Guide, :card_file_box: Technology - Data Access, :card_file_box: Technology - Security, :card_file_box: Technology - WCF, :card_file_box: Technology - WF, :card_file_box: Technology - WPF, :card_file_box: Technology - WinForms

#17413 14). Add descriptions, fix links
  docs/standard/linq/build-linq-xml-examples.md
  docs/standard/linq/catch-parsing-errors.md
  docs/standard/linq/control-namespace-prefixes.md
  docs/standard/linq/create-document-namespaces-csharp.md
  docs/standard/linq/create-document-namespaces-visual-basic.md
  docs/standard/linq/create-tree-xmlreader.md
  docs/standard/linq/create-xml-trees.md
  docs/standard/linq/functional-construction.md
  docs/standard/linq/functional-vs-procedural-programming.md
  docs/standard/linq/index.md
  docs/standard/linq/linq-xml-classes-overview.md
  docs/standard/linq/linq-xml-overview.md
  docs/standard/linq/linq-xml-vs-dom.md
  docs/standard/linq/linq-xml-vs-xml-technologies.md
  docs/standard/linq/load-xml-file.md
  docs/standard/linq/namespaces-overview.md
  docs/standard/linq/parse-string.md
  docs/standard/linq/populate-xml-tree-xmlwriter.md
  docs/standard/linq/preserve-white-space-loading-parsing-xml.md
  docs/standard/linq/preserve-white-space-serializing.md
  docs/standard/linq/sample-xml-file-customers-orders.md
  docs/standard/linq/sample-xsd-file-customers-orders.md
  docs/standard/linq/scope-default-namespaces.md
  docs/standard/linq/stream-xml-fragments-xmlreader.md
  docs/standard/linq/toc.yml
  docs/standard/linq/valid-content-xelement-xdocument-objects.md
  docs/standard/linq/validate-xsd.md
  docs/standard/linq/work-global-namespaces.md
  docs/standard/linq/write-queries-xml-namespaces.md
  docs/standard/linq/xattribute-class-overview.md
  docs/standard/linq/xdocument-class-overview.md
  docs/standard/linq/xelement-class-overview.md
  docs/standard/linq/xml-literals.md
Labels: vendor-project

#17403 Size of the example struct is incorrect
  docs/csharp/programming-guide/unsafe-code-pointers/fixed-size-buffers.md
Labels: :books: Area - C# Guide, :sparkles: 1st-time docs contributor!

#17395 Update arrays-and-collections.md
  docs/csharp/tutorials/intro-to-csharp/arrays-and-collections.md
Labels: :books: Area - C# Guide, :sparkles: 1st-time docs contributor!

#17397 Miscellaneous refresh to old .NET Fx docs
  docs/framework/develop-client-apps.md
  docs/framework/get-started/index.md
  docs/framework/get-started/net-core-and-open-source.md
  docs/framework/get-started/overview.md
  docs/framework/get-started/system-requirements.md
  docs/framework/get-started/the-net-framework-and-out-of-band-releases.md
  docs/framework/get-started/toc.yml
  docs/framework/index.md
  docs/framework/toc.yml
Labels: :books: Area - .NET Framework Guide

#17433 Add space character after includes
  docs/framework/windows-workflow-foundation/tracking-profiles.md
  docs/framework/wpf/advanced/cleartype-registry-settings.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WF, :card_file_box: Technology - WPF

#17436 Add breaking change for OpenSSL versions
  docs/core/compatibility/2.0-2.1.md
  docs/core/compatibility/corefx.md
  includes/core-changes/corefx/openssl-dependencies-macos.md
Labels: :books: Area - .NET Core Guide

#17409 Add discussion of ConfigureAwait
  docs/csharp/language-reference/keywords/foreach-in.md
  docs/csharp/tutorials/generate-consume-asynchronous-stream.md
  docs/csharp/whats-new/csharp-8.md
Labels: :books: Area - C# Guide

#17437 clarify that DIM is 8.0 only
  docs/csharp/programming-guide/interfaces/explicit-interface-implementation.md
Labels: :books: Area - C# Guide

#17444 Add multi dimensional arrays
  docs/csharp/tutorials/ranges-indexes.md
  samples/snippets/csharp/tutorials/RangesIndexes/IndicesAndRanges.cs
  samples/snippets/csharp/tutorials/RangesIndexes/Program.cs
Labels: :books: Area - C# Guide

#17432 Add missing mlnet-tooling metadata
  docs/machine-learning/tutorials/health-violation-classification-model-builder.md
  docs/machine-learning/tutorials/predict-prices-with-model-builder.md
  docs/machine-learning/tutorials/sentiment-analysis-cli.md
  docs/machine-learning/tutorials/sentiment-analysis-model-builder.md
Labels: :books: Area - ML.NET Guide

#17449 fix: MD009 remaining cleanup and enabled
  .markdownlint.json
  docs/csharp/tutorials/intro-to-csharp/arrays-and-collections.md
  includes/core-changes/corefx/openssl-dependencies-macos.md
Labels: :books: Area - C# Guide

#17119 Instructions on how to install .NET for Apache Spark interactive notebooks on Azure HDInsight
  docs/spark/how-to-guides/hdinsight-notebook-installation.md
  docs/spark/how-to-guides/media/hdinsight-notebook-installation/add-property.png
  docs/spark/how-to-guides/media/hdinsight-notebook-installation/add-sparkconfig.png
  docs/spark/how-to-guides/media/hdinsight-notebook-installation/create-df.png
  docs/spark/how-to-guides/media/hdinsight-notebook-installation/create-sparkdotnet-notebook.png
  docs/spark/how-to-guides/media/hdinsight-notebook-installation/launch-notebook.png
  docs/spark/how-to-guides/media/hdinsight-notebook-installation/restart-affected.png
  docs/spark/how-to-guides/media/hdinsight-notebook-installation/run-udf.png
  docs/spark/how-to-guides/media/hdinsight-notebook-installation/select-ambari.png
  docs/spark/how-to-guides/media/hdinsight-notebook-installation/select-host.png
  docs/spark/how-to-guides/media/hdinsight-notebook-installation/select-livyserver.png
  docs/spark/how-to-guides/media/hdinsight-notebook-installation/spark-configs.png
  docs/spark/how-to-guides/media/hdinsight-notebook-installation/stop-server.png
  docs/spark/toc.yml
Labels: :books: Area - .NET for Apache Spark Guide

#17456 C# operator reference: introduce expressions
  docs/csharp/language-reference/builtin-types/default-values.md
  docs/csharp/language-reference/builtin-types/struct.md
  docs/csharp/language-reference/builtin-types/unmanaged-types.md
  docs/csharp/language-reference/compiler-messages/cs0201.md
  docs/csharp/language-reference/keywords/async.md
  docs/csharp/language-reference/keywords/fixed-statement.md
  docs/csharp/language-reference/operators/default.md
  docs/csharp/language-reference/operators/index.md
  docs/csharp/language-reference/operators/member-access-operators.md
  docs/csharp/language-reference/operators/nameof.md
  docs/csharp/language-reference/operators/namespace-alias-qualifier.md
  docs/csharp/language-reference/operators/operator-overloading.md
  docs/csharp/language-reference/operators/pointer-related-operators.md
  docs/csharp/language-reference/operators/type-testing-and-cast.md
  docs/csharp/misc/cs1955.md
  docs/csharp/programming-guide/namespaces/using-namespaces.md
  docs/csharp/programming-guide/unsafe-code-pointers/pointer-types.md
  docs/csharp/toc.yml
Labels: :books: Area - C# Guide

#17454 Add Common Usage Patterns for Extension Methods and Update Guidance for Their Use
  docs/csharp/programming-guide/classes-and-structs/extension-methods.md
Labels: :books: Area - C# Guide, :sparkles: 1st-time docs contributor!

#17404 Adding documentation of cli DOTNET_NOLOGO env variable
  docs/core/tools/dotnet.md
  docs/core/tools/telemetry.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#17459 Adding note on uninstall tool list output
  docs/core/additional-tools/uninstall-tool.md
Labels: :books: Area - .NET Core Guide

#17372 1657407 Add descriptions for SEO.
  docs/framework/install/guide-for-developers.md
  docs/framework/install/run-net-framework-1-1-apps.md
  docs/framework/install/troubleshoot-blocked-installations-and-uninstallations.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - Installers

#17466 Fix inverted bool value for pragma case_sensitive_like
  docs/standard/data/sqlite/collation.md
Labels: :books: Area - .NET Guide

#17472 How to safely cast with is and as: updated the example
  docs/csharp/how-to/safely-cast-using-pattern-matching-is-and-as-operators.md
  samples/snippets/csharp/how-to/safelycast/patternmatching/Program.cs
Labels: :books: Area - C# Guide

#17476 Fix typo
  docs/core/tools/dotnet-test.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#17483 'True' and 'False' integration phrase
  docs/csharp/tutorials/intro-to-csharp/hello-world.yml
Labels: :books: Area - C# Guide, :sparkles: 1st-time docs contributor!

#17487 clarify readonly members
  docs/csharp/write-safe-efficient-code.md
Labels: :books: Area - C# Guide

#17492 fix broken anchor
  docs/csharp/language-reference/operators/member-access-operators.md
Labels: :books: Area - C# Guide

#17489 replace microsoft.com/net links
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/microsoft-technologies-in-cloud-optimized-applications.md
  docs/core/index.md
  docs/framework/wpf/getting-started/index.md
  includes/core-changes/aspnetcore/3.0/sharedfx-app-shared-framework-assemblies.md
  includes/core-changes/aspnetcore/3.0/targetfx-netfx-tfm-support.md
  samples/snippets/cpp/VS_Snippets_Remoting/Authorization_Constructor3/CPP/clientclonebasic.cpp
  samples/snippets/cpp/VS_Snippets_Remoting/Authorization_ProtectionRealm/CPP/authorization_protectionrealm.cpp
  samples/snippets/cpp/VS_Snippets_Remoting/HttpWebResponse_Close/CPP/httpwebresponse_close.cpp
  samples/snippets/cpp/VS_Snippets_Remoting/HttpWebResponse_ContentEncoding_CharacterSet/CPP/source.cpp
  samples/snippets/cpp/VS_Snippets_Remoting/HttpWebResponse_GetResponseHeader/CPP/httpwebresponse_getresponseheader.cpp
  samples/snippets/cpp/VS_Snippets_Remoting/HttpWebResponse_GetResponseStream/CPP/httpwebresponse_getresponsestream.cpp
  samples/snippets/cpp/VS_Snippets_Remoting/HttpWebResponse_Headers/CPP/httpwebresponse_headers.cpp
  samples/snippets/cpp/VS_Snippets_Remoting/HttpWebResponse_LastModified/CPP/httpwebresponse_lastmodified.cpp
  samples/snippets/cpp/VS_Snippets_Remoting/HttpWebResponse_Method_Server/CPP/httpwebresponse_method_server.cpp
  samples/snippets/cpp/VS_Snippets_Remoting/HttpWebResponse_ProtocolVersion/CPP/httpwebresponse_protocolversion.cpp
  samples/snippets/cpp/VS_Snippets_Remoting/HttpWebResponse_ResponseUri/CPP/httpwebresponse_responseuri.cpp
  samples/snippets/cpp/VS_Snippets_Remoting/HttpWebResponse_StatusCode_StatusDescription/CPP/httpwebresponse_statuscode_statusdescription.cpp
  samples/snippets/cpp/VS_Snippets_Remoting/NetworkCredential_Constructor2/CPP/networkcredential_constructor2.cpp
  samples/snippets/cpp/VS_Snippets_Remoting/NetworkCredential_GetCredential/CPP/networkcredential_getcredential.cpp
  samples/snippets/cpp/VS_Snippets_Remoting/NetworkCredential_UserName_Password_Domain/CPP/networkcredential_username_password_domain.cpp
  samples/snippets/cpp/VS_Snippets_Remoting/WebResponse_Close/CPP/webresponse_close.cpp
  samples/snippets/cpp/VS_Snippets_Remoting/WebResponse_ContentLength_Type/CPP/webresponse_contentlength_type.cpp
  samples/snippets/cpp/VS_Snippets_Remoting/WebResponse_GetResponseStream/CPP/webresponse_getresponsestream.cpp
  samples/snippets/cpp/VS_Snippets_Remoting/WebResponse_Headers/CPP/webresponse_headers.cpp
Labels: :book: guide - Modernizing w/ Windows containers, :books: Area - .NET Architecture Guide, :books: Area - .NET Core Guide, :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#17240 Mention the precedence of the `switch` expression
  docs/csharp/language-reference/operators/index.md
Labels: :books: Area - C# Guide

#17486 Clarify out of support versions; update fedora
  docs/core/install/dependencies.md
Labels: :books: Area - .NET Core Guide

#17386 Updated project type
  docs/framework/winforms/controls/walkthrough-authoring-a-composite-control-with-visual-csharp.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WinForms, :sparkles: 1st-time docs contributor!

#17450 Stackalloc: added usage guidelines
  docs/csharp/language-reference/operators/snippets/StackallocOperator.cs
  docs/csharp/language-reference/operators/stackalloc.md
Labels: :books: Area - C# Guide

#17490 fix links
  docs/spark/how-to-guides/hdinsight-notebook-installation.md
Labels: :books: Area - .NET for Apache Spark Guide

#17491 fix ms.topic
  docs/machine-learning/tutorials/sentiment-analysis-cli.md
Labels: :books: Area - ML.NET Guide

#17349 TLS guidance - .NET Framework run on vs. targeting
  docs/framework/network-programming/tls.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - NCL

#17448 New article - Introduction to character encoding
  docs/standard/base-types/character-encoding-introduction.md
  docs/standard/base-types/character-encoding.md
  docs/standard/base-types/media/character-encoding-introduction/bmp-and-supplementary.png
  docs/standard/base-types/media/character-encoding-introduction/bmp-and-surrogate.png
  docs/standard/base-types/media/character-encoding-introduction/scalar-values.png
  docs/standard/base-types/snippets/character-encoding-introduction/csharp/ConvertToUpper.cs
  docs/standard/base-types/snippets/character-encoding-introduction/csharp/CountTextElements.cs
  docs/standard/base-types/snippets/character-encoding-introduction/csharp/InsertNewlines.cs
  docs/standard/base-types/snippets/character-encoding-introduction/csharp/InstantiateRunes.cs
  docs/standard/base-types/snippets/character-encoding-introduction/csharp/PrintStringChars.cs
  docs/standard/base-types/snippets/character-encoding-introduction/csharp/Program.cs
  docs/standard/base-types/snippets/character-encoding-introduction/csharp/RuneSamples.csproj
  docs/standard/base-types/toc.yml
Labels: :books: Area - .NET Guide

#17497 Update build-container.md
  docs/core/docker/build-container.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - Docker

#17498 Fix grammatical error
  docs/csharp/language-reference/operators/equality-operators.md
Labels: :books: Area - C# Guide

#17506 type cs1002.md
  docs/csharp/misc/cs1002.md
Labels: :books: Area - C# Guide, :sparkles: 1st-time docs contributor!

#17501 Acrolinx 3/18
  docs/architecture/grpc-for-wcf-developers/protobuf-reserved.md
  docs/architecture/grpc-for-wcf-developers/rpc-types.md
  docs/architecture/grpc-for-wcf-developers/self-hosted.md
  docs/architecture/modern-web-apps-azure/test-asp-net-core-mvc-apps.md
  docs/csharp/programming-guide/classes-and-structs/extension-methods.md
  docs/framework/install/run-net-framework-1-1-apps.md
Labels: :book: guide - ASP.NET Core web apps, :book: guide - gRPC, :books: Area - .NET Architecture Guide, :books: Area - .NET for Apache Spark Guide

#17508 Note that Rune is only in Core 3.x and 5
  docs/standard/base-types/character-encoding-introduction.md
Labels: :books: Area - .NET Guide

#17435 3-D to 3D
  docs/framework/winforms/advanced/how-to-rotate-colors.md
  docs/framework/winforms/advanced/three-categories-of-graphics-services.md
  docs/framework/wpf/advanced/custom-rendering-ink.md
  docs/framework/wpf/advanced/graphics-rendering-tiers.md
  docs/framework/wpf/advanced/optimizing-performance-2d-graphics-and-imaging.md
  docs/framework/wpf/advanced/toc.yml
  docs/framework/wpf/advanced/walkthrough-hosting-a-wpf-composite-control-in-windows-forms.md
  docs/framework/wpf/advanced/walkthrough-localizing-a-hybrid-application.md
  docs/framework/wpf/controls/adorners-overview.md
  docs/framework/wpf/getting-started/introduction-to-wpf-in-vs.md
  docs/framework/wpf/graphics-multimedia/3-d-graphics-how-to-topics.md
  docs/framework/wpf/graphics-multimedia/3-d-graphics-overview.md
  docs/framework/wpf/graphics-multimedia/3-d-transformations-overview.md
  docs/framework/wpf/graphics-multimedia/animate-a-3-d-rotation-quaternionanimationusingkeyframes.md
  docs/framework/wpf/graphics-multimedia/geometries.md
  docs/framework/wpf/graphics-multimedia/geometry-overview.md
  docs/framework/wpf/graphics-multimedia/graphics-rendering-registry-settings.md
  docs/framework/wpf/graphics-multimedia/how-to-animate-3-d-translations.md
  docs/framework/wpf/graphics-multimedia/how-to-animate-a-3-d-rotation-using-key-frames.md
  docs/framework/wpf/graphics-multimedia/how-to-animate-a-3-d-rotation-using-quaternions.md
  docs/framework/wpf/graphics-multimedia/how-to-animate-a-3-d-rotation-using-rotation3danimation.md
  docs/framework/wpf/graphics-multimedia/how-to-animate-a-3-d-rotation-using-storyboards.md
  docs/framework/wpf/graphics-multimedia/how-to-animate-camera-position-and-direction-in-a-3d-scene.md
  docs/framework/wpf/graphics-multimedia/how-to-animate-camera-position-and-direction-using-key-frames.md
  docs/framework/wpf/graphics-multimedia/how-to-animate-material-properties-in-a-3-d-scene.md
  docs/framework/wpf/graphics-multimedia/how-to-apply-a-drawing-to-a-3-d-model.md
  docs/framework/wpf/graphics-multimedia/how-to-apply-emissive-material-to-a-3-d-object.md
  docs/framework/wpf/graphics-multimedia/how-to-apply-material-to-the-front-and-back-of-a-3-d-object.md
  docs/framework/wpf/graphics-multimedia/how-to-apply-multiple-transformations-to-a-3-d-model.md
  docs/framework/wpf/graphics-multimedia/how-to-apply-multiple-transforms-to-an-object.md
  docs/framework/wpf/graphics-multimedia/how-to-create-a-3-d-scene.md
  docs/framework/wpf/graphics-multimedia/how-to-hit-test-in-a-viewport3d.md
  docs/framework/wpf/graphics-multimedia/how-to-make-an-element-spin-in-place.md
  docs/framework/wpf/graphics-multimedia/how-to-rotate-an-object.md
  docs/framework/wpf/graphics-multimedia/how-to-scale-an-element.md
  docs/framework/wpf/graphics-multimedia/how-to-skew-an-element.md
  docs/framework/wpf/graphics-multimedia/how-to-transform-the-scale-of-a-3-d-model.md
  docs/framework/wpf/graphics-multimedia/how-to-translate-an-element.md
  docs/framework/wpf/graphics-multimedia/index.md
  docs/framework/wpf/graphics-multimedia/maximize-wpf-3d-performance.md
  docs/framework/wpf/graphics-multimedia/toc.yml
  docs/framework/wpf/graphics-multimedia/transformations-how-to-topics.md
  docs/framework/wpf/graphics-multimedia/transformations.md
  docs/framework/wpf/graphics-multimedia/transforms-overview.md
  docs/framework/wpf/graphics-multimedia/wpf-graphics-rendering-overview.md
  docs/framework/wpf/introduction-to-wpf.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF, :card_file_box: Technology - WinForms

#17415 Acrolinx 3/10
  docs/architecture/microservices/toc.yml
  docs/core/tools/dotnet-publish.md
  docs/core/tools/dotnet.md
  docs/core/tools/index.md
  docs/core/tutorials/with-visual-studio-code.md
  docs/framework/data/adonet/ado-net-code-examples.md
  docs/framework/data/adonet/creating-a-datatable-from-a-query-linq-to-dataset.md
  docs/framework/resources/creating-resource-files-for-desktop-apps.md
  docs/framework/wcf/extending/handling-exceptions-and-faults.md
  docs/framework/windows-workflow-foundation/samples/hiring-process.md
  docs/visual-basic/programming-guide/language-features/linq/how-to-find-the-minimum-or-maximum-value-in-a-query-result.md
  samples/snippets/core/tutorials/netcore-hosting/csharp/HostWithMscoree/mscoree.h
  samples/snippets/cpp/VS_Snippets_Remoting/WebPermission_IsSubset/CPP/webpermission_issubset.cpp
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide, :books: Area - .NET Core Guide, :books: Area - .NET Framework Guide, :card_file_box: Technology - CLI, :card_file_box: Technology - Data Access

#17513 Use async and await all the way
  samples/snippets/csharp/programming-guide/discards/standalone-discard1.cs
Labels: :sparkles: 1st-time docs contributor!

#17511 Update private-protected.md
  docs/csharp/language-reference/keywords/private-protected.md
Labels: :books: Area - C# Guide

#17509 char: added the link to the introduction to .NET character encoding
  docs/csharp/language-reference/builtin-types/char.md
Labels: :books: Area - C# Guide

#17510 Fix wrong note about default implementation
  docs/csharp/tutorials/mixins-with-default-interface-methods.md
Labels: :books: Area - C# Guide

#17519 Update images to svg
  docs/standard/base-types/character-encoding-introduction.md
  docs/standard/base-types/media/character-encoding-introduction/bmp-and-supplementary.png
  docs/standard/base-types/media/character-encoding-introduction/bmp-and-supplementary.svg
  docs/standard/base-types/media/character-encoding-introduction/bmp-and-surrogate.png
  docs/standard/base-types/media/character-encoding-introduction/bmp-and-surrogate.svg
  docs/standard/base-types/media/character-encoding-introduction/scalar-values.png
  docs/standard/base-types/media/character-encoding-introduction/scalar-values.svg
Labels: :books: Area - .NET Guide

#17485 Clarify package manager instructions
  docs/core/install/includes/package-manager-heading-hack-pkgname.md
  docs/core/install/includes/package-manager-intro-sdk-vs-runtime.md
  docs/core/install/linux-package-manager-centos7.md
  docs/core/install/linux-package-manager-debian10.md
  docs/core/install/linux-package-manager-debian9.md
  docs/core/install/linux-package-manager-fedora29.md
  docs/core/install/linux-package-manager-fedora30.md
  docs/core/install/linux-package-manager-fedora31.md
  docs/core/install/linux-package-manager-opensuse15.md
  docs/core/install/linux-package-manager-rhel7.md
  docs/core/install/linux-package-manager-rhel8.md
  docs/core/install/linux-package-manager-sles12.md
  docs/core/install/linux-package-manager-sles15.md
  docs/core/install/linux-package-manager-ubuntu-1604.md
  docs/core/install/linux-package-manager-ubuntu-1804.md
  docs/core/install/linux-package-manager-ubuntu-1904.md
  docs/core/install/linux-package-manager-ubuntu-1910.md
Labels: :books: Area - .NET Core Guide

#17521 Revert acrolinx changes to microservices toc
  docs/architecture/microservices/toc.yml
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#17524 Update tls.md
  docs/framework/network-programming/tls.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - NCL

#17514 Logging for Azure SDK for .NET
  docs/azure/sdk/TOC.yml
  docs/azure/sdk/index.yml
  docs/azure/sdk/logging.md
Labels: :books: Area - Azure .NET SDK

#17401 docs for `dotnet nuget add source` and related
  docs/core/toc.yml
  docs/core/tools/dotnet-nuget-add-source.md
  docs/core/tools/dotnet-nuget-disable-source.md
  docs/core/tools/dotnet-nuget-enable-source.md
  docs/core/tools/dotnet-nuget-list-source.md
  docs/core/tools/dotnet-nuget-remove-source.md
  docs/core/tools/dotnet-nuget-update-source.md
  docs/core/tools/dotnet.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#17523 Fix XML code blocks
  docs/framework/interop/configure-net-framework-based-com-components-for-reg.md
  docs/framework/migration-guide/how-to-configure-an-app-to-support-net-framework-4-or-4-5.md
  docs/framework/migration-guide/mitigation-png-frames-in-icon-objects.md
  docs/framework/wcf/contract-first-tool.md
Labels: :book: guide - Blazor, :books: Area - .NET Architecture Guide, :books: Area - .NET Core Guide, :books: Area - .NET Framework Guide, :books: Area - C# Guide, :card_file_box: Technology - AppCompat, :card_file_box: Technology - CLI, :card_file_box: Technology - WCF

#17544 Remove exact line count
  docs/csharp/tutorials/console-webapiclient.md
Labels: :books: Area - C# Guide

#17560 Fix link
  docs/core/porting/windows-compat-pack.md
Labels: :books: Area - .NET Core Guide

#17559 Update components.md
  docs/architecture/blazor-for-web-forms-developers/components.md
Labels: :book: guide - Blazor, :books: Area - .NET Architecture Guide

#17422 Fix typo/syntax error in event tutorial
  docs/framework/winforms/controls/defining-an-event-in-windows-forms-controls.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WinForms, :sparkles: 1st-time docs contributor!

#17427 Add new article: Inspecting assembly contents using MetadataLoadContext
  docs/standard/assembly/index.md
  docs/standard/assembly/inspect-contents-using-metadataloadcontext.md
  docs/standard/assembly/snippets/inspect-contents-using-metadataloadcontext/AssemblySnippets.csproj
  docs/standard/assembly/snippets/inspect-contents-using-metadataloadcontext/MetadataLoadContextSnippets.cs
  docs/standard/assembly/snippets/inspect-contents-using-metadataloadcontext/Program.cs
  docs/standard/assembly/toc.yml
Labels: :books: Area - .NET Guide

#17565 Bug fix for Azure SDK hub
  docs/azure/sdk/index.yml
Labels: :books: Area - Azure .NET SDK

#17503 Update architecture landing page
  docs/architecture/index.yml
  docs/architecture/toc.yml
  docs/azure/migration/app-service.md
Labels: :books: Area - .NET Architecture Guide

#17540 Revamp .NET Framework landing page
  docs/framework/get-started/index.md
  docs/framework/index.md
  docs/framework/index.yml
  docs/framework/toc.yml
  docs/index.yml
  docs/standard/components.md
  docs/standard/glossary.md
  docs/standard/index.md
  docs/welcome.md
Labels: :books: Area - .NET Framework Guide, :books: Area - .NET Guide

#17566 Minor fixes to WPF data binding article
  docs/desktop-wpf/data/data-binding-overview.md
  docs/desktop-wpf/data/media/data-binding-overview/demo.png
Labels: :books: Area - Desktop Guide, :card_file_box: Technology - WPF

#17571 Clarify IO package and library reqs
  docs/standard/io/how-to-compress-and-extract-files.md
Labels: :books: Area - .NET Guide

#17573 Update REST tutorial to reflect DateTime parsing feature
  docs/csharp/tutorials/console-webapiclient.md
Labels: :books: Area - C# Guide

#17574 Improve interfaces description
  docs/csharp/programming-guide/interfaces/index.md
Labels: :books: Area - C# Guide

#17515 Add rules for using ref and in on extension methods
  docs/csharp/language-reference/keywords/in-parameter-modifier.md
  docs/csharp/language-reference/keywords/out-parameter-modifier.md
  docs/csharp/language-reference/keywords/ref.md
  docs/csharp/programming-guide/classes-and-structs/extension-methods.md
Labels: :books: Area - C# Guide

#17564 Move article back to WPF area
  .openpublishing.redirection.json
  docs/desktop-wpf/xaml-services/toc.yml
  docs/desktop-wpf/xaml-services/xarray-markup-extension.md
  docs/desktop-wpf/xaml-services/xclass-directive.md
  docs/desktop-wpf/xaml-services/xclassmodifier-directive.md
  docs/desktop-wpf/xaml-services/xstatic-markup-extension.md
  docs/framework/wpf/advanced/index.md
  docs/framework/wpf/advanced/migration-and-interoperability.md
  docs/framework/wpf/advanced/toc.yml
  docs/framework/wpf/advanced/types-migrated-from-wpf-to-system.md
  docs/whats-new/dotnet-2020-02.md
Labels: :books: Area - .NET Framework Guide, :books: Area - Desktop Guide, :card_file_box: Technology - WPF

#17512 Add switch expression to language reference
  docs/csharp/language-reference/keywords/switch.md
  docs/csharp/language-reference/operators/snippets/Program.cs
  docs/csharp/language-reference/operators/snippets/SwitchExpressions.cs
  docs/csharp/language-reference/operators/switch-expression.md
  docs/csharp/toc.yml
Labels: :books: Area - C# Guide

#17567 XML code blocks
  docs/framework/migration-guide/mitigation-png-frames-in-icon-objects.md
  docs/framework/wcf/simplified-configuration.md
  docs/framework/wcf/troubleshooting-the-getting-started-tutorial.md
  docs/framework/whats-new/index.md
  docs/framework/whats-new/whats-new-in-accessibility.md
  docs/framework/windows-workflow-foundation/configuring-tracking-for-a-workflow.md
  docs/framework/windows-workflow-foundation/flowchart-workflows.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - AppCompat, :card_file_box: Technology - WCF, :card_file_box: Technology - WF

#17584 Fix XML code blocks
  docs/framework/windows-workflow-foundation/tracking-profiles.md
  docs/standard/serialization/basic-serialization.md
  docs/standard/serialization/controlling-xml-serialization-using-attributes.md
  docs/standard/serialization/xml-schema-def-tool-gen.md
  docs/standard/serialization/xmlserializer-element.md
Labels: :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :card_file_box: Technology - AppCompat, :card_file_box: Technology - WCF, :card_file_box: Technology - WF

#17525 Consolidate framework TOCs
  docs/framework/additional-apis/toc.yml
  docs/framework/get-started/index.md
  docs/framework/get-started/overview.md
  docs/framework/get-started/toc.yml
  docs/framework/install/toc.yml
  docs/framework/migration-guide/toc.yml
  docs/framework/toc.yml
  docs/framework/tools/toc.yml
  docs/framework/whats-new/toc.yml
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - AppCompat, :card_file_box: Technology - Installers

#17586 clarify nullable
  docs/architecture/grpc-for-wcf-developers/protobuf-data-types.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/implement-value-objects.md
  docs/breadcrumb/toc.yml
  docs/csharp/getting-started/introduction-to-the-csharp-language-and-the-net-framework.md
  docs/csharp/how-to/safely-cast-using-pattern-matching-is-and-as-operators.md
  docs/csharp/language-reference/builtin-types/snippets/NullableValueTypes.cs
  docs/csharp/linq/handle-null-values-in-query-expressions.md
  docs/csharp/misc/cs0458.md
  docs/csharp/misc/cs0464.md
  docs/csharp/misc/cs1718.md
  docs/csharp/misc/cs1728.md
  docs/csharp/nullable-attributes.md
  docs/csharp/pattern-matching.md
  docs/csharp/programming-guide/concepts/linq/how-to-retrieve-the-value-of-an-attribute-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-retrieve-the-value-of-an-element-linq-to-xml.md
  docs/csharp/tutorials/exploration/csharp-6.yml
  docs/csharp/tutorials/nullable-reference-types.md
  docs/framework/data/adonet/common-schema-collections.md
  docs/framework/data/adonet/ef/language-reference/null-comparisons.md
  docs/framework/data/adonet/generic-field-and-setfield-methods-linq-to-dataset.md
  docs/framework/data/adonet/implement-copytodatatable-where-type-not-a-datarow.md
  docs/framework/data/adonet/single-table-queries-linq-to-dataset.md
  docs/framework/data/adonet/sql/handling-null-values.md
  docs/framework/wcf/feature-details/stand-alone-json-serialization.md
  docs/framework/wcf/feature-details/types-supported-by-the-data-contract-serializer.md
  docs/standard/language-independence.md
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
  docs/visual-basic/language-reference/error-messages/first-operand-in-a-binary-if-expression-must-be-nullable-or-a-reference-type.md
  docs/visual-basic/language-reference/error-messages/isnot-operand-of-type-can-only-be-compared-to-nothing.md
  docs/visual-basic/language-reference/error-messages/nullable-type-inference-is-not-supported-in-this-context.md
  docs/visual-basic/language-reference/operators/if-operator.md
  docs/visual-basic/misc/bc32127.md
  docs/visual-basic/misc/bc32129.md
  docs/visual-basic/misc/bc32130.md
  docs/visual-basic/misc/bc33111.md
  docs/visual-basic/misc/bc36628.md
  docs/visual-basic/misc/bc36632.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-retrieve-the-value-of-an-attribute-linq-to-xml.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-retrieve-the-value-of-an-element-linq-to-xml.md
  docs/visual-basic/programming-guide/language-features/data-types/nullable-value-types.md
  docs/visual-basic/programming-guide/language-features/procedures/lambda-expressions.md
Labels: :book: guide - .NET Microservices, :book: guide - gRPC, :books: Area - .NET Architecture Guide, :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :books: Area - C# Guide, :books: Area - Visual Basic Guide, :card_file_box: Technology - Data Access, :card_file_box: Technology - WCF

#17563 Remove comma from "Y" format example
  docs/standard/base-types/standard-date-and-time-format-strings.md
Labels: :books: Area - .NET Guide

#17582 Document SignalR breaking change in ASP.NET Core 5.0
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/aspnetcore.md
  docs/core/compatibility/toc.yml
  includes/core-changes/aspnetcore/5.0/signalr-usesignalr-useconnections-removed.md
  includes/core-changes/versionselector.md
Labels: :books: Area - .NET Core Guide

#17578 Clarify single and double quotation marks
  docs/csharp/language-reference/tokens/verbatim.md
Labels: :books: Area - C# Guide, :sparkles: 1st-time docs contributor!

#17551 Fix typo
  docs/framework/wcf/feature-details/wcf-web-http-programming-model-overview.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF, :sparkles: 1st-time docs contributor!

#17561 Expand introductory text for JSON migration doc
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
Labels: :books: Area - .NET Guide

#17587 Acrolinx 3/24
  docs/framework/interop/configure-net-framework-based-com-components-for-reg.md
  docs/framework/wcf/contract-first-tool.md
  docs/standard/components.md
  docs/standard/glossary.md
Labels: :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :card_file_box: Technology - WCF

#17536 Acrolinx 3/20
  docs/azure/migration/choose.md
  docs/azure/migration/sql.md
  docs/azure/migration/vm.md
  docs/framework/windows-workflow-foundation/samples/hiring-process.md
  docs/framework/winforms/advanced/three-categories-of-graphics-services.md
  docs/framework/wpf/advanced/graphics-rendering-tiers.md
  docs/framework/wpf/advanced/optimizing-performance-2d-graphics-and-imaging.md
  docs/framework/wpf/advanced/walkthrough-hosting-a-wpf-composite-control-in-windows-forms.md
  docs/framework/wpf/graphics-multimedia/3-d-graphics-overview.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WF, :card_file_box: Technology - WPF, :card_file_box: Technology - WinForms

#17596 Updated link to original single-file specification
  docs/core/whats-new/dotnet-core-3-0.md
Labels: :books: Area - .NET Core Guide, :sparkles: 1st-time docs contributor!

#17600 Document the removal of ASP.NET Core / Azure SDK integration packages
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/aspnetcore.md
  includes/core-changes/aspnetcore/5.0/azure-integration-packages-removed.md
Labels: :books: Area - .NET Core Guide

#17606 Structure types: moved in the readonly struct section
  docs/csharp/language-reference/builtin-types/snippets/StructType.cs
  docs/csharp/language-reference/builtin-types/struct.md
  docs/csharp/language-reference/keywords/readonly.md
  docs/csharp/toc.yml
  docs/csharp/write-safe-efficient-code.md
  samples/snippets/csharp/keywords/ReadonlyKeywordExamples.cs
Labels: :books: Area - C# Guide

#17611 Fix typo
  docs/framework/tools/regasm-exe-assembly-registration-tool.md
Labels: :books: Area - .NET Framework Guide

#17550 Remove outdated information from Regex docs
  docs/standard/base-types/compilation-and-reuse-in-regular-expressions.md
Labels: :books: Area - .NET Guide

#17477 Update performing-arithmetic-operations.md
  docs/standard/datetime/performing-arithmetic-operations.md
Labels: :books: Area - .NET Guide

#17580 Updated to 3.X in the version selection article
  docs/core/versions/selection.md
Labels: :books: Area - .NET Core Guide

#17399 updating links from fwlink to real link if exists
  docs/framework/wcf/feature-details/choosing-a-message-encoder.md
  docs/framework/wcf/feature-details/how-to-programmatically-add-discoverability-to-a-wcf-service-and-client.md
  docs/framework/wcf/samples/knownassemblyattribute.md
  docs/framework/wpf/controls/how-to-specify-a-custom-popup-position.md
  docs/framework/wpf/graphics-multimedia/how-to-animate-a-boolean-by-using-key-frames.md
  docs/framework/wpf/graphics-multimedia/how-to-animate-a-double-by-using-key-frames.md
  docs/framework/wpf/graphics-multimedia/how-to-animate-a-matrix-by-using-key-frames.md
  docs/framework/wpf/graphics-multimedia/how-to-animate-a-point-by-using-key-frames.md
  docs/framework/wpf/graphics-multimedia/how-to-animate-a-rectangle-geometry-by-using-key-frames.md
  docs/framework/wpf/graphics-multimedia/how-to-animate-a-string-by-using-key-frames.md
  docs/framework/wpf/graphics-multimedia/how-to-animate-an-object-by-using-key-frames.md
  docs/framework/wpf/graphics-multimedia/how-to-animate-color-by-using-key-frames.md
  docs/framework/wpf/graphics-multimedia/how-to-animate-size-changes-by-using-key-frames.md
  docs/framework/wpf/graphics-multimedia/how-to-animate-the-thickness-of-a-border-by-using-key-frames.md
  docs/framework/wpf/graphics-multimedia/how-to-control-key-frame-animation-timing.md
  docs/framework/wpf/graphics-multimedia/key-frame-animations-overview.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF, :card_file_box: Technology - WPF

#17604 Update Model Builder overview documents
  docs/machine-learning/automate-training-with-model-builder.md
  docs/machine-learning/media/ml-dotnet-model-builder.gif
  docs/machine-learning/toc.yml
Labels: :books: Area - ML.NET Guide

#17599 Fix XML code blocks
  docs/framework/configure-apps/file-schema/custom-element-1.md
  docs/framework/data/adonet/connection-strings-and-configuration-files.md
  docs/framework/wcf/diagnostics/configuring-message-logging.md
  docs/framework/wcf/extending/configuration-and-metadata-support.md
  docs/framework/wcf/extending/how-to-configure-a-custom-ws-metadata-exchange-binding.md
  docs/framework/wcf/extending/walkthrough-creating-custom-client-and-service-credentials.md
Labels: :books: Area - .NET Framework Guide, :books: Area - Visual Basic Guide, :card_file_box: Technology - AppCompat, :card_file_box: Technology - Data Access, :card_file_box: Technology - WCF, :card_file_box: Technology - WF

#17613 Update environment title to be consistent with aka.ms link
  docs/machine-learning/automate-training-with-model-builder.md
Labels: :books: Area - ML.NET Guide

#17344 .NET for Apache Spark: ML Sentiment Analysis
  docs/spark/toc.yml
  docs/spark/tutorials/ml-sentment-analysis.md
Labels: :books: Area - .NET for Apache Spark Guide

#17589 .NET Core landing page
  docs/architecture/microservices/net-core-net-framework-containers/net-framework-container-scenarios.md
  docs/core/about.md
  docs/core/index.yml
  docs/core/introduction.md
  docs/core/toc.yml
  docs/csharp/programming-guide/main-and-command-args/main-return-values.md
  docs/csharp/tutorials/index.md
  docs/framework/get-started/index.md
  docs/framework/get-started/net-core-and-open-source.md
  docs/framework/toc.yml
  docs/index.yml
  docs/standard/analyzers/portability-analyzer.md
  docs/standard/choosing-core-framework-server.md
  docs/standard/components.md
  docs/standard/glossary.md
  docs/standard/index.md
  docs/welcome.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide, :books: Area - .NET Core Guide, :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :books: Area - C# Guide

#17610 Document breaking change for SignalR MessagePack Hub Protocol
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/aspnetcore.md
  includes/core-changes/aspnetcore/5.0/signalr-messagepack-package.md
Labels: :books: Area - .NET Core Guide

#17615 16). Add topic files 35 to 38, misc. fixes
  .openpublishing.redirection.json
  docs/csharp/programming-guide/concepts/linq/how-to-chain-axis-method-calls-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-filter-on-element-names-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-retrieve-a-collection-of-elements-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-retrieve-the-value-of-an-element-linq-to-xml.md
  docs/standard/linq/build-linq-xml-examples.md
  docs/standard/linq/chain-axis-method-calls.md
  docs/standard/linq/create-document-namespaces-csharp.md
  docs/standard/linq/filter-element-names.md
  docs/standard/linq/index.md
  docs/standard/linq/linq-xml-overview.md
  docs/standard/linq/linq-xml-vs-dom.md
  docs/standard/linq/namespaces-overview.md
  docs/standard/linq/parse-string.md
  docs/standard/linq/retrieve-collection-elements.md
  docs/standard/linq/retrieve-value-element.md
  docs/standard/linq/work-global-namespaces.md
  docs/standard/linq/write-queries-xml-namespaces.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-chain-axis-method-calls-linq-to-xml.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-filter-on-element-names-linq-to-xml.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-retrieve-a-collection-of-elements-linq-to-xml.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-retrieve-the-value-of-an-element-linq-to-xml.md
Labels: vendor-project

#17617 Fixes https://github.com/MicrosoftDocs/feedback/issues/2602
  docs/csharp/tutorials/inheritance.md
Labels: :books: Area - C# Guide

#16680 Update .NET Core index page
  docs/core/about.md
  docs/core/introduction.md
Labels: :books: Area - .NET Core Guide

#17626 fix typo in filename and redirect
  .openpublishing.redirection.json
  docs/spark/tutorials/ml-sentiment-analysis.md
Labels: :books: Area - .NET for Apache Spark Guide

#17619 Fix dead link in "In-memory databases" page
  docs/standard/data/sqlite/in-memory-databases.md
Labels: :books: Area - .NET Guide
