Repository dotnet/docs, pull requests merged in 2020-07, with the labels that each got.

#19270 Repeated Sentence
  docs/csharp/tutorials/intro-to-csharp/numbers-in-csharp.yml
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals, :sparkles: 1st-time docs contributor!

#19277 Standardize sample projects, Part 4
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V2/AsyncBreakfast.csproj
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V3/AsyncBreakfast.csproj
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-final/AsyncBreakfast.csproj
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-starter/AsyncBreakfast.csproj
  docs/csharp/tutorials/snippets/generate-consume-asynchronous-streams/start/IssuePRreport.csproj
  samples/snippets/csharp/language-reference/keywords/in-ref-out-modifier/in-ref-out-modifier.csproj
  samples/snippets/csharp/main-arguments/main-arguments.csproj
  samples/snippets/csharp/safe-efficient-code/benchmark/benchmark.csproj
  samples/snippets/machine-learning/GitHubIssueClassification/csharp/GitHubIssueClassification.csproj
  samples/snippets/standard/buffers/memory-t/task-returning2/task-returning2.csproj
Labels: :books: Area - C# Guide, :card_file_box: Technology - Async Task, :card_file_box: Technology - C# Fundamentals

#19030 #19030 | 22 Meta descriptions for dotnet framework
  docs/framework/wpf/getting-started/index.md
  docs/framework/wpf/getting-started/introduction-to-wpf-in-vs.md
  docs/framework/wpf/getting-started/walkthrough-my-first-wpf-desktop-application.md
  docs/framework/wpf/getting-started/wpf-walkthroughs.md
  docs/framework/wpf/graphics-multimedia/3-d-graphics-overview.md
  docs/framework/wpf/graphics-multimedia/animation-overview.md
  docs/framework/wpf/graphics-multimedia/drawing-objects-overview.md
  docs/framework/wpf/graphics-multimedia/graphics-rendering-registry-settings.md
  docs/framework/wpf/graphics-multimedia/how-to-animate-a-property-by-using-a-storyboard.md
  docs/framework/wpf/graphics-multimedia/how-to-control-a-mediaelement-by-using-a-storyboard.md
  docs/framework/wpf/graphics-multimedia/how-to-control-a-mediaelement-play-pause-stop-volume-and-speed.md
  docs/framework/wpf/graphics-multimedia/how-to-draw-an-ellipse-or-a-circle.md
  docs/framework/wpf/graphics-multimedia/index.md
  docs/framework/wpf/graphics-multimedia/painting-with-solid-colors-and-gradients-overview.md
  docs/framework/wpf/graphics-multimedia/path-markup-syntax.md
  docs/framework/wpf/graphics-multimedia/shapes-and-basic-drawing-in-wpf-overview.md
  docs/framework/wpf/graphics-multimedia/storyboards-overview.md
  docs/framework/wpf/graphics-multimedia/wpf-brushes-overview.md
  docs/framework/wpf/graphics-multimedia/wpf-graphics-rendering-overview.md
  docs/framework/wpf/index.md
  docs/framework/wpf/introduction-to-wpf.md
  docs/framework/wpf/wpf-samples.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#19057 Cross-plat cryptography article
  docs/standard/security/cross-platform-cryptography.md
  docs/standard/security/toc.yml
Labels: :books: Area - .NET Guide, :card_file_box: Technology - Security

#19282 Added link to corresponding sample source code repo.
  docs/core/testing/unit-testing-code-coverage.md
Labels: :books: Area - .NET Core Guide

#19267 What's New for 'dotnet' docs in June
  docs/whats-new/2020-06.md
  docs/whats-new/index.yml
  docs/whats-new/toc.yml
Labels: :star2: What's New

#19281 Move article to avoid copyright concerns
  .openpublishing.redirection.json
  docs/standard/base-types/choosing-between-anonymous-and-tuple.md
  docs/standard/toc.yml
Labels: :book: guide - Framework Design Guidelines, :books: Area - .NET Guide, P1

#19283 Fix output option
  docs/machine-learning/reference/ml-net-cli-reference.md
Labels: :books: Area - ML.NET Guide, doc-bug

#19316 Add pdf link for cloud native book
  docs/architecture/cloud-native/index.md
Labels: :book: guide - Cloud Native, :books: Area - .NET Architecture Guide

#19313 Update CS0107
  docs/csharp/misc/cs0107.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# / VB diagnostics

#19319 Fix aspx-csharp identifier
  docs/framework/configure-apps/file-schema/wcf-directive/servicehost.md
  docs/framework/wcf/feature-details/how-to-create-a-wcf-service-that-communicates-over-websockets.md
  docs/framework/wcf/feature-details/how-to-exchange-messages-within-a-reliable-session.md
  docs/framework/wcf/feature-details/how-to-host-a-wcf-service-in-iis.md
  docs/framework/wcf/feature-details/how-to-host-a-wcf-service-in-was.md
  docs/framework/wcf/feature-details/how-to-use-configuration-to-add-an-aspnet-ajax-endpoint.md
  docs/framework/wcf/feature-details/http-post-and-http-get-requests-for-aspnet-ajax-endpoints.md
  docs/framework/wcf/how-to-specify-a-service-binding-in-configuration.md
  docs/framework/wcf/renaming-a-wcf-service.md
  docs/framework/wcf/samples/custom-service-host.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF

#19318 Style-guide improvements
  docs/csharp/language-reference/compiler-options/main-compiler-option.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#19330 Include person and student deconstruct examples, minor clean up
  docs/csharp/tuples.md
  samples/snippets/csharp/tuples/Program.cs
Labels: :books: Area - C# Guide

#19320 Add missing closing code fence
  docs/framework/wpf/advanced/hosting-win32-content-in-wpf.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#19312 Fix link
  docs/core/tutorials/publishing-with-visual-studio-code.md
Labels: :books: Area - .NET Core Guide

#19079 1657394: 7th set of 20 new SEO descriptions.
  docs/framework/debug-trace-profile/how-to-compile-conditionally-with-trace-and-debug.md
  docs/framework/debug-trace-profile/how-to-create-and-initialize-trace-listeners.md
  docs/framework/debug-trace-profile/how-to-create-and-initialize-trace-sources.md
  docs/framework/debug-trace-profile/how-to-create-initialize-and-configure-trace-switches.md
  docs/framework/debug-trace-profile/how-to-use-tracesource-and-filters-with-trace-listeners.md
  docs/framework/debug-trace-profile/illegalprepareconstrainedregion-mda.md
  docs/framework/debug-trace-profile/invalidapartmentstatechange-mda.md
  docs/framework/debug-trace-profile/invalidcercall-mda.md
  docs/framework/debug-trace-profile/invalidfunctionpointerindelegate-mda.md
  docs/framework/debug-trace-profile/invalidgchandlecookie-mda.md
  docs/framework/debug-trace-profile/invalidiunknown-mda.md
  docs/framework/debug-trace-profile/invalidmemberdeclaration-mda.md
  docs/framework/debug-trace-profile/invalidoverlappedtopinvoke-mda.md
  docs/framework/debug-trace-profile/invalidvariant-mda.md
  docs/framework/debug-trace-profile/loaderlock-mda.md
  docs/framework/debug-trace-profile/loadfromcontext-mda.md
  docs/framework/debug-trace-profile/marshalcleanuperror-mda.md
  docs/framework/debug-trace-profile/marshaling-mda.md
  docs/framework/debug-trace-profile/memberinfocachecreation-mda.md
  docs/framework/debug-trace-profile/moduloobjecthashcode-mda.md
Labels: :books: Area - .NET Framework Guide

#19335 Update instructions
  docs/machine-learning/tutorials/github-issue-classification.md
Labels: :books: Area - ML.NET Guide

#18526 reworded sentence in 2nd paragraph for clarity
  docs/visual-basic/programming-guide/com-interop/walkthrough-creating-com-objects.md
Labels: :books: Area - Visual Basic Guide

#18501 Added missing p tag to fix #15707
  docs/architecture/blazor-for-web-forms-developers/components.md
Labels: :book: guide - Blazor, :books: Area - .NET Architecture Guide

#19317 Fix possible confusion
  docs/standard/base-types/choosing-between-anonymous-and-tuple.md
Labels: :books: Area - .NET Guide

#19340 Fix up api name in metadata
  docs/framework/additional-apis/system.net.mail.mailaddressparser.md
  docs/framework/additional-apis/system.net.mail.quotedpairreader.md
Labels: :books: Area - .NET Framework Guide

#19339 Added author, and ms.author metadata to a few missing articles
  docs/core/testing/order-unit-tests.md
  docs/csharp/language-reference/compiler-options/nullable-compiler-option.md
  docs/standard/base-types/choosing-between-anonymous-and-tuple.md
  docs/standard/garbage-collection/implementing-disposeasync.md
Labels: :books: Area - .NET Core Guide, :books: Area - .NET Guide, :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#19333 Added note with details of temporary workaround for template issue
  docs/csharp/roslyn-sdk/tutorials/how-to-write-csharp-analyzer-code-fix.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - Roslyn APIs

#19336 Corrected wrong method name in comment
  docs/csharp/async.md
Labels: :books: Area - C# Guide, :sparkles: 1st-time docs contributor!

#19334 Type casting
  docs/csharp/programming-guide/types/casting-and-type-conversions.md
  samples/snippets/csharp/VS_Snippets_VBCSharp/CsProgGuideTypes/CS/CS.csproj
  samples/snippets/csharp/VS_Snippets_VBCSharp/CsProgGuideTypes/CS/Class1.cs
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#19347 Typo in file name
  .openpublishing.redirection.json
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/domain-model-layer-validations.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/infrastructure-persistence-layer-design.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/infrastructure-persistence-layer-implementation-entity-framework-core.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/infrastructure-persistence-layer-implementation-entity-framework-core/custom-repo-versus-db-context.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/nosql-database-persistence-infrastructure.md
  docs/architecture/microservices/toc.yml
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#19350 Clarify that the doc is specific to framework, but C# is not
  docs/csharp/getting-started/introduction-to-the-csharp-language-and-the-net-framework.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Get Started

#19355 Update about.md to include download button link for .NET Core
  docs/core/about.md
Labels: :books: Area - .NET Core Guide

#19280 Fixed a typo
  docs/architecture/microservices/secure-net-microservices-web-applications/index.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#19349 Moved and revised the article about C# tuples
  .openpublishing.redirection.json
  docs/csharp/basic-types.md
  docs/csharp/deconstruct.md
  docs/csharp/language-reference/builtin-types/snippets/Program.cs
  docs/csharp/language-reference/builtin-types/snippets/ValueTuples.cs
  docs/csharp/language-reference/builtin-types/value-tuples.md
  docs/csharp/language-reference/builtin-types/value-types.md
  docs/csharp/language-reference/keywords/out-parameter-modifier.md
  docs/csharp/language-reference/operators/equality-operators.md
  docs/csharp/programming-guide/statements-expressions-operators/lambda-expressions.md
  docs/csharp/toc.yml
  docs/csharp/tour-of-csharp/types-and-variables.md
  docs/csharp/tuples.md
  docs/csharp/tutorials/exploration/interpolated-strings.yml
  docs/csharp/whats-new/csharp-7-1.md
  docs/csharp/whats-new/csharp-7-3.md
  docs/csharp/whats-new/csharp-7.md
  docs/csharp/whats-new/csharp-8.md
  docs/csharp/whats-new/relationships-between-language-and-library.md
  docs/fsharp/language-reference/tuples.md
  docs/standard/base-types/choosing-between-anonymous-and-tuple.md
  samples/snippets/csharp/tuples/Person.cs
  samples/snippets/csharp/tuples/Program.cs
  samples/snippets/csharp/tuples/ProjectionSample.cs
  samples/snippets/csharp/tuples/Statistics.cs
  samples/snippets/csharp/tuples/tuples.csproj
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#19352 Update word
  docs/framework/wpf/controls/textbox-overview.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF, :sparkles: 1st-time docs contributor!

#19354 Update Singlular Spectum Analysis name
  docs/machine-learning/tutorials/time-series-demand-forecasting.md
Labels: :books: Area - ML.NET Guide

#19358 Reworking Azure Developer Hub for consistency with other languages (alternate)
  .openpublishing.redirection.json
  docs/azure/TOC.yml
  docs/azure/authentication.md
  docs/azure/index.yml
  docs/azure/intro.md
  docs/azure/landing-page.yml
  docs/azure/logging.md
  docs/azure/media/vs2015-install/ext-tools.png
  docs/azure/media/vs2015-install/webpi.png
  docs/azure/migration/app-service.md
  docs/azure/migration/choose.md
  docs/azure/migration/sql.md
  docs/azure/migration/vm.md
  docs/azure/sdk/TOC.yml
  docs/azure/sdk/authentication.md
  docs/azure/sdk/index.yml
  docs/azure/tools.md
  docs/azure/vs2015-install.md
Labels: :books: Area - Azure .NET SDK

#19374 Replace with "opaque box"
  docs/machine-learning/how-to-guides/explain-machine-learning-model-permutation-feature-importance-ml-net.md
Labels: :books: Area - ML.NET Guide

#19363 Document Blazor components insignificant whitespace breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/aspnetcore.md
  includes/core-changes/aspnetcore/5.0/blazor-components-trim-insignificant-whitespace.md
Labels: :books: Area - .NET Core Guide

#19380 Add missing whitespace
  docs/core/tools/global-tools.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#19369 Added details for the missing dotnet tool update command
  docs/core/tools/dotnet-tool-update.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#19377 Standardize sample projects, Part 11
  docs/csharp/programming-guide/strings/index.md
  samples/snippets/csharp/VS_Snippets_Data/DP ObjectServices Concepts/CS/Properties/AssemblyInfo.cs
  samples/snippets/csharp/VS_Snippets_Data/DP ObjectServices Concepts/CS/objectservicesconceptscs.csproj
  samples/snippets/csharp/VS_Snippets_Data/DP ObjectServices Concepts/objectservicesconcepts.sln
  samples/snippets/csharp/VS_Snippets_Data/dp entityservices concepts/cs/entityservices.csproj
  samples/snippets/csharp/VS_Snippets_Data/dp entityservices concepts/cs/properties/assemblyinfo.cs
  samples/snippets/csharp/VS_Snippets_Data/dp entityservices concepts/entityservices.sln
  samples/snippets/csharp/VS_Snippets_Data/l2s_querycache/cs/cs.csproj
  samples/snippets/csharp/VS_Snippets_Data/l2s_querycache/cs/properties/settings.designer.cs
  samples/snippets/csharp/VS_Snippets_Data/l2s_querycache/cs/properties/settings.settings
  samples/snippets/csharp/VS_Snippets_Data/l2s_querycache/l2s_querycache.sln
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideStrings/CS/CSRefStrings.csproj
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideStrings/CS/Strings.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/csrefKeywordsModifiers/CS/csrefKeywordsModifiers.csproj
  samples/snippets/csharp/VS_Snippets_VBCSharp/csvariance/cs/windowsformsapplication1.csproj
  samples/snippets/csharp/VS_Snippets_VBCSharp/vbdynamicwalkthrough/cs/dynamicwalkthroughcs.csproj
  samples/snippets/csharp/VS_Snippets_VBCSharp/vbdynamicwalkthrough/cs/properties/assemblyinfo.cs
  samples/snippets/csharp/attributes/attributes.csproj
  samples/snippets/csharp/tutorials/nullable-reference-migration/start/SimpleFeedReader/SimpleFeedReader.csproj
  samples/snippets/xml/VS_Snippets_Data/edm_example_model/edm_example_model/edm_example_model.csproj
  samples/snippets/xml/VS_Snippets_Data/edm_example_model/edm_example_model/properties/assemblyinfo.cs
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#19373 Replacing with "opaque box"
  docs/csharp/roslyn-sdk/index.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - Roslyn APIs

#19365 Enhancements to OOP article
  docs/csharp/programming-guide/concepts/object-oriented-programming.md
Labels: :books: Area - C# Guide

#19389 Fix "tar balls" to "tarballs"
  docs/core/introduction.md
Labels: :books: Area - .NET Core Guide

#19395 Update repo from cli to sdk
  docs/core/tools/telemetry.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#18732 fix typo
  docs/visual-basic/programming-guide/language-features/data-types/tuples.md
Labels: :books: Area - Visual Basic Guide, :sparkles: 1st-time docs contributor!

#19390 Fix C# interactive experience
  docs/csharp/language-reference/builtin-types/snippets/ValueTuples.cs
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#19391 Fix sample code comment issue #19085
  docs/csharp/language-reference/builtin-types/snippets/NullableReferenceTypes.cs
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference, :sparkles: 1st-time docs contributor!

#19404 Enhance tests naming
  docs/core/testing/unit-testing-best-practices.md
Labels: :books: Area - .NET Core Guide

#19396 1657394: 12th set of 20 new SEO file descriptions.
  docs/framework/interop/registration-free-com-interop.md
  docs/framework/interop/specifying-a-character-set.md
  docs/framework/interop/specifying-an-entry-point.md
  docs/framework/interop/type-equivalence-and-embedded-interop-types.md
  docs/framework/mef/attributed-programming-model-overview-mef.md
  docs/framework/mef/composition-analysis-tool-mefx.md
  docs/framework/mef/index.md
  docs/framework/mef/mef-for-net-for-windows-store-apps.md
  docs/framework/misc/code-access-security-basics.md
  docs/framework/misc/code-access-security-policy-compatibility-and-migration.md
  docs/framework/misc/code-access-security.md
  docs/framework/misc/dangerous-permissions-and-policy-administration.md
  docs/framework/misc/how-to-run-partially-trusted-code-in-a-sandbox.md
  docs/framework/misc/link-demands.md
  docs/framework/misc/securing-exception-handling.md
  docs/framework/misc/securing-method-access.md
  docs/framework/misc/securing-wrapper-code.md
  docs/framework/misc/security-and-public-read-only-array-fields.md
  docs/framework/misc/security-and-remoting-considerations.md
  docs/framework/misc/security-and-serialization.md
Labels: :books: Area - .NET Framework Guide

#19385 Typo fix in creating-a-new-windows-form.md
  docs/framework/winforms/creating-a-new-windows-form.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WinForms, :sparkles: 1st-time docs contributor!

#19407 Move whats-new snippets
  docs/core/whats-new/dotnet-core-2-1.md
  docs/core/whats-new/dotnet-core-3-0.md
  docs/core/whats-new/snippets/dotnet-core-2-1/csharp/Program.cs
  docs/core/whats-new/snippets/dotnet-core-2-1/csharp/brotli.cs
  docs/core/whats-new/snippets/dotnet-core-2-1/csharp/whats-new.csproj
  docs/core/whats-new/snippets/dotnet-core-2-1/vb/Program.vb
  docs/core/whats-new/snippets/dotnet-core-2-1/vb/brotli.vb
  docs/core/whats-new/snippets/dotnet-core-2-1/vb/whats-new.vbproj
  docs/core/whats-new/snippets/dotnet-core-3-0/csharp/Cipher.cs
  docs/core/whats-new/snippets/dotnet-core-3-0/csharp/JSON.cs
  docs/core/whats-new/snippets/dotnet-core-3-0/csharp/Program.cs
  docs/core/whats-new/snippets/dotnet-core-3-0/csharp/RSA.cs
  docs/core/whats-new/snippets/dotnet-core-3-0/csharp/TLS.cs
  docs/core/whats-new/snippets/dotnet-core-3-0/csharp/http.cs
  docs/core/whats-new/snippets/dotnet-core-3-0/csharp/launch.json
  docs/core/whats-new/snippets/dotnet-core-3-0/csharp/whats-new.csproj
Labels: :books: Area - .NET Core Guide

#19416 Vector.Lerp breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/corefx.md
  includes/core-changes/corefx/5.0/vector-lerp-behavior-change.md
Labels: :books: Area - .NET Core Guide

#19419 Add breaking change for default ActivityIdFormat
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/corefx.md
  includes/core-changes/corefx/5.0/default-activityidformat-changed.md
Labels: :books: Area - .NET Core Guide

#19420 Document request localization middleware breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/aspnetcore.md
  includes/core-changes/aspnetcore/5.0/localization-requestlocalizationmiddleware-constructor-removed.md
Labels: :books: Area - .NET Core Guide

#18793 fix up indentation in formatting guide
  docs/fsharp/style-guide/formatting.md
Labels: :books: Area - F# Guide

#19443 await operator: mention await using
  docs/csharp/language-reference/operators/await.md
  docs/csharp/whats-new/csharp-8.md
  docs/standard/garbage-collection/implementing-disposeasync.md
Labels: :books: Area - .NET Guide, :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference, :card_file_box: Technology - C# What's New

#19427 1657394: 13th batch of 20 new SEO descriptions.
  docs/framework/misc/security-transparent-code-level-1.md
  docs/framework/misc/security-transparent-code-level-2.md
  docs/framework/misc/security-transparent-code.md
  docs/framework/misc/using-libraries-from-partially-trusted-code.md
  docs/framework/misc/using-the-assert-method.md
  docs/framework/performance/application-domain-resource-monitoring-arm-etw-events.md
  docs/framework/performance/caching-in-net-framework-applications.md
  docs/framework/performance/clr-etw-events.md
  docs/framework/performance/clr-etw-keywords-and-levels.md
  docs/framework/performance/clr-etw-providers.md
  docs/framework/performance/constrained-execution-regions.md
  docs/framework/performance/contention-etw-events.md
  docs/framework/performance/controlling-logging.md
  docs/framework/performance/etw-events-in-task-parallel-library-and-plinq.md
  docs/framework/performance/etw-events-in-the-common-language-runtime.md
  docs/framework/performance/etw-events.md
  docs/framework/performance/exception-thrown-v1-etw-event.md
  docs/framework/performance/garbage-collection-etw-events.md
  docs/framework/performance/how-to-perform-lazy-initialization-of-objects.md
  docs/framework/performance/index.md
Labels: :books: Area - .NET Framework Guide

#19439 Added text to Install Microsoft.ML.FastTree
  docs/machine-learning/tutorials/predict-prices.md
Labels: :books: Area - ML.NET Guide

#19421 change download links to buttons
  docs/core/install/macos.md
  docs/core/install/windows.md
Labels: :books: Area - .NET Core Guide

#19449 Update library-with-visual-studio-code.md
  docs/core/tutorials/library-with-visual-studio-code.md
Labels: :books: Area - .NET Core Guide

#19456 Document IdentityModel NuGet package updates breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/aspnetcore.md
  includes/core-changes/aspnetcore/5.0/security-identitymodel-nuget-package-versions-updated.md
Labels: :books: Area - .NET Core Guide

#19457 Acrolinx 7/13
  docs/framework/interop/specifying-a-character-set.md
  docs/framework/misc/code-access-security.md
  docs/framework/misc/how-to-run-partially-trusted-code-in-a-sandbox.md
  docs/framework/misc/link-demands.md
  docs/framework/misc/securing-exception-handling.md
  docs/framework/misc/securing-method-access.md
  docs/framework/misc/securing-wrapper-code.md
  docs/framework/misc/security-and-remoting-considerations.md
  docs/framework/misc/security-and-serialization.md
  docs/framework/net-native/migrating-your-windows-store-app-to-net-native.md
Labels: :books: Area - .NET Framework Guide

#19459 Fix wikimedia.md build warnings
  docs/machine-learning/tutorials/snippets/image-classification/csharp/assets/images/wikimedia.txt
Labels: :books: Area - ML.NET Guide

#19415 Minor cleanup
  docs/core/tools/dotnet-tool-update.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#19454 Update CS1935 message
  docs/csharp/misc/cs1935.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# / VB diagnostics

#19461 Broken links 7/13
  docs/architecture/cloud-native/azure-security.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/orchestrate-high-scalability-availability.md
  docs/architecture/containerized-lifecycle/run-manage-monitor-docker-environments/monitor-containerized-application-services.md
  docs/breadcrumb/toc.yml
  docs/fsharp/language-reference/compiler-options.md
  docs/standard/native-interop/customize-parameter-marshaling.md
  docs/standard/native-interop/customize-struct-marshaling.md
  docs/whats-new/dotnet-2020-05.md
Labels: :book: guide - Cloud Native, :book: guide - Docker lifecycle, :books: Area - .NET Architecture Guide, :books: Area - .NET Guide, :books: Area - F# Guide, :star2: What's New

#19455 Update the compiler SDK - API model doc
  docs/csharp/roslyn-sdk/compiler-api-model.md
  docs/csharp/roslyn-sdk/media/compiler-api-model/api-layers.png
Labels: :books: Area - C# Guide, :card_file_box: Technology - Roslyn APIs

#19472 DataSet security guidance
  docs/framework/data/adonet/dataset-datatable-dataview/consuming-a-dataset-from-an-xml-web-service.md
  docs/framework/data/adonet/dataset-datatable-dataview/index.md
  docs/framework/data/adonet/dataset-datatable-dataview/security-guidance.md
  docs/framework/data/adonet/dataset-datatable-dataview/toc.yml
  docs/framework/data/adonet/securing-ado-net-applications.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - Data Access

#19475 adding more links to mobile card
  docs/azure/index.yml
Labels: :books: Area - Azure .NET SDK

#19467 Update using-application-protocols.md
  docs/framework/network-programming/using-application-protocols.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - NCL

#19471 Document cookie name encoding breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/aspnetcore.md
  includes/core-changes/aspnetcore/5.0/security-cookie-name-encoding-removed.md
Labels: :books: Area - .NET Core Guide

#19515 Put locale back in link
  docs/framework/data/adonet/dataset-datatable-dataview/security-guidance.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - Data Access

#19512 Document target framework change in Blazor packages
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/aspnetcore.md
  includes/core-changes/aspnetcore/5.0/blazor-packages-target-framework-changed.md
Labels: :books: Area - .NET Core Guide

#19514 Address concerns about compiler magic with indexers
  docs/csharp/programming-guide/indexers/snippets/DayOfWeekIndexers/DayOfWeekCollection.cs
  docs/csharp/programming-guide/indexers/snippets/DayOfWeekIndexers/DayOfWeekIndexers.csproj
  docs/csharp/programming-guide/indexers/snippets/DayOfWeekIndexers/Program.cs
  docs/csharp/programming-guide/indexers/snippets/StringIndexers/DayCollection.cs
  docs/csharp/programming-guide/indexers/snippets/StringIndexers/Program.cs
  docs/csharp/programming-guide/indexers/snippets/StringIndexers/StringIndexers.csproj
  docs/csharp/programming-guide/indexers/snippets/Temperatures/Program.cs
  docs/csharp/programming-guide/indexers/snippets/Temperatures/TempRecord.cs
  docs/csharp/programming-guide/indexers/snippets/Temperatures/Temperatures.csproj
  docs/csharp/programming-guide/indexers/using-indexers.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#19511 Update index.md
  docs/csharp/programming-guide/interfaces/index.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#19451 Update async.md
  docs/csharp/async.md
Labels: :books: Area - C# Guide

#19525 Delete orphan images
  docs/core/tutorials/media/debugging-with-visual-studio-mac/console-window.png
  docs/core/tutorials/media/debugging-with-visual-studio-mac/step-into-source-method.png
  docs/core/tutorials/media/debugging-with-visual-studio-mac/visual-studio-mac-breakpoint.png
  docs/core/tutorials/media/debugging-with-visual-studio-mac/visual-studio-mac-debugger.png
  docs/core/tutorials/media/debugging-with-visual-studio-mac/visual-studio-mac-immediate-window.png
  docs/core/tutorials/media/debugging-with-visual-studio/vb-breakpointsettings.png
  docs/core/tutorials/media/debugging-with-visual-studio/vb/immediate-window-output.png
  docs/core/tutorials/media/debugging-with-visual-studio/vb/set-breakpoint-in-editor.png
  docs/core/tutorials/media/library-with-visual-studio-mac/visual-studio-mac-editor.png
  docs/core/tutorials/media/library-with-visual-studio-mac/visual-studio-mac-output.png
  docs/core/tutorials/media/library-with-visual-studio-mac/visual-studio-mac-toolbar.png
  docs/core/tutorials/media/publishing-with-visual-studio-mac/publish-page-loc-tab.png
  docs/core/tutorials/media/publishing-with-visual-studio-mac/publish-page.png
  docs/core/tutorials/media/testing-library-with-visual-studio-mac/advanced-save-options.png
  docs/core/tutorials/media/testing-library-with-visual-studio-mac/visual-studio-mac-assert-test.png
  docs/core/tutorials/media/testing-library-with-visual-studio-mac/visual-studio-mac-toolbar-release.png
  docs/core/tutorials/media/testing-library-with-visual-studio-mac/visual-studio-mac-unit-test-panel.png
  docs/core/tutorials/media/testing-library-with-visual-studio/add-reference-context-menu.png
  docs/core/tutorials/media/testing-library-with-visual-studio/project-reference-manager.png
  docs/core/tutorials/media/with-visual-studio-code/dotnet-new-command.png
  docs/core/tutorials/media/with-visual-studio-mac/visual-studio-mac-editor.png
  docs/core/tutorials/media/with-visual-studio/run-program.png
  docs/core/tutorials/media/with-visual-studio/vb/create-new-project.png
  docs/core/tutorials/media/with-visual-studio/vb/visual-studio-main-window.png
  docs/core/tutorials/media/with-visual-studio/visual-studio-main-window.png
Labels: :books: Area - .NET Core Guide

#19484 Update link
  docs/standard/data/sqlite/TOC.yml
Labels: :books: Area - .NET Guide

#19524 remove oldest what's new
  docs/whats-new/2019-12.md
Labels: :star2: What's New

#19523 Delete orphaned articles
  .openpublishing.redirection.json
  docs/core/tutorials/aspnet-core.md
Labels: :books: Area - .NET Core Guide, :star2: What's New

#19526 Fix up links
  .openpublishing.redirection.json
  docs/azure/logging.md
  docs/core/get-started.md
  docs/core/install/how-to-detect-installed-versions.md
  docs/core/install/macos-notarization-issues.md
  docs/core/tools/dotnet-install-script.md
  docs/core/tools/index.md
  docs/core/tools/using-ci-with-cli.md
  docs/core/tutorials/debugging-with-visual-studio-mac.md
  docs/core/tutorials/index.md
  docs/core/tutorials/library-with-visual-studio-mac.md
  docs/csharp/getting-started/index.md
  docs/csharp/programming-guide/main-and-command-args/main-return-values.md
  docs/framework/data/adonet/dataset-datatable-dataview/consuming-a-dataset-from-an-xml-web-service.md
  docs/framework/data/adonet/dataset-datatable-dataview/security-guidance.md
  docs/framework/data/wcf/developing-and-deploying-wcf-data-services.md
  docs/samples-and-tutorials/index.md
  docs/standard/io/isolated-storage.md
  docs/whats-new/2020-06.md
  docs/whats-new/dotnet-2020-01.md
  docs/whats-new/dotnet-2020-05.md
Labels: :books: Area - .NET Core Guide, :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :books: Area - Azure .NET SDK, :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals, :card_file_box: Technology - C# Get Started, :card_file_box: Technology - CLI, :card_file_box: Technology - Data Access, :card_file_box: Technology - WCF, :star2: What's New

#19529 Fix build warnings
  docs/csharp/programming-guide/interfaces/index.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#19518 Small punctuation fix
  docs/csharp/programming-guide/interfaces/index.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#19423 Add GC heap limit settings
  docs/core/run-time-config/garbage-collector.md
Labels: :books: Area - .NET Core Guide

#19517 Document endpoint routing authorization resource breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/aspnetcore.md
  includes/core-changes/aspnetcore/5.0/authorization-resource-in-endpoint-routing.md
Labels: :books: Area - .NET Core Guide

#19539 Refix build warning
  docs/csharp/programming-guide/interfaces/index.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#19414 Fix title for the Linux landing page.
  docs/core/install/linux.md
Labels: :books: Area - .NET Core Guide

#19528 Added missing descriptions (1657156).
  docs/framework/migration-guide/retargeting/4.0-4.6.md
  docs/framework/migration-guide/retargeting/4.0-4.7.1.md
  docs/framework/migration-guide/retargeting/4.0-4.7.md
  docs/framework/migration-guide/retargeting/4.5-4.7.md
  docs/framework/migration-guide/retargeting/4.5-4.8.md
  docs/framework/migration-guide/retargeting/4.5.1-4.5.2.md
  docs/framework/migration-guide/retargeting/4.5.1-4.6.1.md
  docs/framework/migration-guide/retargeting/4.5.1-4.6.2.md
  docs/framework/migration-guide/retargeting/4.5.1-4.6.md
  docs/framework/migration-guide/retargeting/4.5.1-4.7.2.md
  docs/framework/migration-guide/retargeting/4.5.2-4.6.md
  docs/framework/migration-guide/retargeting/4.5.2-4.7.1.md
  docs/framework/migration-guide/retargeting/4.5.2-4.7.md
  docs/framework/migration-guide/retargeting/4.6-4.6.2.md
  docs/framework/migration-guide/retargeting/4.6-4.7.2.md
  docs/framework/migration-guide/retargeting/4.6-4.8.md
  docs/framework/migration-guide/retargeting/4.6.1-4.8.md
  docs/framework/migration-guide/retargeting/4.6.2-4.7.2.md
  docs/framework/migration-guide/retargeting/4.7-4.7.1.md
  docs/framework/migration-guide/retargeting/4.7.2-4.8.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - AppCompat

#19540 Added missing descriptions (1657156).
  docs/framework/migration-guide/index.md
  docs/framework/migration-guide/retargeting/4.0-4.5.1.md
  docs/framework/migration-guide/retargeting/4.0-4.5.2.md
  docs/framework/migration-guide/retargeting/4.0-4.5.md
  docs/framework/migration-guide/retargeting/4.0-4.6.1.md
  docs/framework/migration-guide/retargeting/4.0-4.6.2.md
  docs/framework/migration-guide/retargeting/4.0-4.7.2.md
  docs/framework/migration-guide/retargeting/4.0-4.8.md
  docs/framework/migration-guide/retargeting/4.5-4.5.1.md
  docs/framework/migration-guide/retargeting/4.5-4.5.2.md
  docs/framework/migration-guide/retargeting/4.5-4.6.1.md
  docs/framework/migration-guide/retargeting/4.5-4.6.2.md
  docs/framework/migration-guide/retargeting/4.5-4.6.md
  docs/framework/migration-guide/retargeting/4.5-4.7.1.md
  docs/framework/migration-guide/retargeting/4.5-4.7.2.md
  docs/framework/migration-guide/retargeting/4.5.1-4.7.1.md
  docs/framework/migration-guide/retargeting/4.5.1-4.7.md
  docs/framework/migration-guide/retargeting/4.5.1-4.8.md
  docs/framework/migration-guide/retargeting/4.5.2-4.6.1.md
  docs/framework/migration-guide/retargeting/4.5.2-4.6.2.md
  docs/framework/migration-guide/retargeting/4.5.2-4.7.2.md
  docs/framework/migration-guide/retargeting/4.5.2-4.8.md
  docs/framework/migration-guide/retargeting/4.6-4.6.1.md
  docs/framework/migration-guide/retargeting/4.6-4.7.1.md
  docs/framework/migration-guide/retargeting/4.6-4.7.md
  docs/framework/migration-guide/retargeting/4.6.1-4.6.2.md
  docs/framework/migration-guide/retargeting/4.6.1-4.7.1.md
  docs/framework/migration-guide/retargeting/4.6.1-4.7.2.md
  docs/framework/migration-guide/retargeting/4.6.1-4.7.md
  docs/framework/migration-guide/retargeting/4.6.2-4.7.1.md
  docs/framework/migration-guide/retargeting/4.6.2-4.7.md
  docs/framework/migration-guide/retargeting/4.6.2-4.8.md
  docs/framework/migration-guide/retargeting/4.7-4.7.2.md
  docs/framework/migration-guide/retargeting/4.7-4.8.md
  docs/framework/migration-guide/retargeting/4.7.1-4.7.2.md
  docs/framework/migration-guide/retargeting/4.7.1-4.8.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - AppCompat

#19546 Added missing descriptions (1657156).
  docs/framework/migration-guide/runtime/4.5-4.5.1.md
  docs/framework/migration-guide/runtime/4.5-4.5.2.md
  docs/framework/migration-guide/runtime/4.5-4.6.1.md
  docs/framework/migration-guide/runtime/4.5-4.6.2.md
  docs/framework/migration-guide/runtime/4.5-4.6.md
  docs/framework/migration-guide/runtime/4.5-4.7.1.md
  docs/framework/migration-guide/runtime/4.5-4.7.2.md
  docs/framework/migration-guide/runtime/4.5-4.7.md
  docs/framework/migration-guide/runtime/4.5-4.8.md
  docs/framework/migration-guide/runtime/4.6-4.6.1.md
  docs/framework/migration-guide/runtime/4.6-4.6.2.md
  docs/framework/migration-guide/runtime/4.6-4.7.1.md
  docs/framework/migration-guide/runtime/4.6-4.7.2.md
  docs/framework/migration-guide/runtime/4.6-4.7.md
  docs/framework/migration-guide/runtime/4.6-4.8.md
  docs/framework/migration-guide/runtime/4.6.1-4.6.2.md
  docs/framework/migration-guide/runtime/4.6.1-4.7.1.md
  docs/framework/migration-guide/runtime/4.6.1-4.7.2.md
  docs/framework/migration-guide/runtime/4.6.1-4.7.md
  docs/framework/migration-guide/runtime/4.6.1-4.8.md
  docs/framework/migration-guide/runtime/4.6.2-4.7.1.md
  docs/framework/migration-guide/runtime/4.6.2-4.7.2.md
  docs/framework/migration-guide/runtime/4.6.2-4.7.md
  docs/framework/migration-guide/runtime/4.6.2-4.8.md
  docs/framework/migration-guide/runtime/4.7-4.7.1.md
  docs/framework/migration-guide/runtime/4.7-4.7.2.md
  docs/framework/migration-guide/runtime/4.7-4.8.md
  docs/framework/migration-guide/runtime/4.7.1-4.7.2.md
  docs/framework/migration-guide/runtime/4.7.1-4.8.md
  docs/framework/migration-guide/runtime/4.7.2-4.8.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - AppCompat

#19544 Added missing descriptions (1657156).
  docs/framework/migration-guide/runtime/4.0-4.5.1.md
  docs/framework/migration-guide/runtime/4.0-4.5.2.md
  docs/framework/migration-guide/runtime/4.0-4.5.md
  docs/framework/migration-guide/runtime/4.0-4.6.1.md
  docs/framework/migration-guide/runtime/4.0-4.6.2.md
  docs/framework/migration-guide/runtime/4.0-4.6.md
  docs/framework/migration-guide/runtime/4.0-4.7.1.md
  docs/framework/migration-guide/runtime/4.0-4.7.2.md
  docs/framework/migration-guide/runtime/4.0-4.7.md
  docs/framework/migration-guide/runtime/4.0-4.8.md
  docs/framework/migration-guide/runtime/4.5.1-4.5.2.md
  docs/framework/migration-guide/runtime/4.5.1-4.6.1.md
  docs/framework/migration-guide/runtime/4.5.1-4.6.2.md
  docs/framework/migration-guide/runtime/4.5.1-4.6.md
  docs/framework/migration-guide/runtime/4.5.1-4.7.1.md
  docs/framework/migration-guide/runtime/4.5.1-4.7.2.md
  docs/framework/migration-guide/runtime/4.5.1-4.7.md
  docs/framework/migration-guide/runtime/4.5.1-4.8.md
  docs/framework/migration-guide/runtime/4.5.2-4.6.1.md
  docs/framework/migration-guide/runtime/4.5.2-4.6.2.md
  docs/framework/migration-guide/runtime/4.5.2-4.6.md
  docs/framework/migration-guide/runtime/4.5.2-4.7.1.md
  docs/framework/migration-guide/runtime/4.5.2-4.7.2.md
  docs/framework/migration-guide/runtime/4.5.2-4.7.md
  docs/framework/migration-guide/runtime/4.5.2-4.8.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - AppCompat

#19538 Fix typo
  docs/csharp/language-reference/keywords/in.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#19445 Ra off binary formatter
  docs/framework/wcf/feature-details/controlling-serialization-and-deserialization-with-serializationbinder.md
  docs/framework/wcf/feature-details/security-considerations-for-data.md
  docs/framework/wcf/feature-details/serialization-and-deserialization.md
  docs/standard/serialization/binaryformatter-security-guide.md
  docs/standard/toc.yml
  includes/binary-serialization-warning.md
Labels: :books: Area - .NET Guide

#19547 Remove doesn't remove
  .openpublishing.redirection.json
  docs/framework/configure-apps/file-schema/clear-element-for-configsections.md
  docs/framework/configure-apps/file-schema/configsections-element-for-configuration.md
  docs/framework/configure-apps/file-schema/configuration-sections-schema.md
  docs/framework/configure-apps/file-schema/remove-element-for-configsections.md
  docs/framework/configure-apps/file-schema/toc.yml
Labels: :books: Area - .NET Framework Guide

#19485 1657394: 14th batch of 20 new SEO descriptions.
  docs/framework/performance/jit-tracing-etw-events.md
  docs/framework/performance/loader-etw-events.md
  docs/framework/performance/method-etw-events.md
  docs/framework/performance/performance-tips.md
  docs/framework/performance/reliability-best-practices.md
  docs/framework/performance/reliability.md
  docs/framework/performance/runtime-information-etw-events.md
  docs/framework/performance/security-etw-events.md
  docs/framework/performance/sql-server-programming-and-host-protection-attributes.md
  docs/framework/performance/stack-etw-event.md
  docs/framework/performance/thread-pool-etw-events.md
  docs/framework/performance/writing-large-responsive-apps.md
  docs/framework/reflection-and-codedom/accessing-custom-attributes.md
  docs/framework/reflection-and-codedom/collectible-assemblies.md
  docs/framework/reflection-and-codedom/dynamic-language-runtime-overview.md
  docs/framework/reflection-and-codedom/dynamic-source-code-generation-and-compilation.md
  docs/framework/reflection-and-codedom/dynamically-loading-and-using-types.md
  docs/framework/reflection-and-codedom/emitting-dynamic-methods-and-assemblies.md
  docs/framework/reflection-and-codedom/generating-and-compiling-source-code-from-a-codedom-graph.md
  docs/framework/reflection-and-codedom/index.md
Labels: :books: Area - .NET Framework Guide

#19558 Fix mismatching count of -module switch options
  docs/csharp/language-reference/compiler-options/listed-alphabetically.md
  docs/csharp/language-reference/compiler-options/listed-by-category.md
  docs/csharp/language-reference/compiler-options/target-compiler-option.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#19560 Document obsolete Libuv transport breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/aspnetcore.md
  includes/core-changes/aspnetcore/5.0/kestrel-libuv-transport-obsolete.md
Labels: :books: Area - .NET Core Guide

#19543 1657389 Add descriptions for SEO
  docs/csharp/how-to/modify-string-contents.md
  docs/csharp/how-to/search-strings.md
  docs/csharp/programming-guide/arrays/arrays-as-objects.md
  docs/csharp/programming-guide/arrays/implicitly-typed-arrays.md
  docs/csharp/programming-guide/arrays/index.md
  docs/csharp/programming-guide/arrays/jagged-arrays.md
  docs/csharp/programming-guide/arrays/multidimensional-arrays.md
  docs/csharp/programming-guide/arrays/passing-arrays-as-arguments.md
  docs/csharp/programming-guide/arrays/single-dimensional-arrays.md
  docs/csharp/programming-guide/arrays/using-foreach-with-arrays.md
  docs/csharp/programming-guide/classes-and-structs/abstract-and-sealed-classes-and-class-members.md
  docs/csharp/programming-guide/classes-and-structs/access-modifiers.md
  docs/csharp/programming-guide/classes-and-structs/anonymous-types.md
  docs/csharp/programming-guide/classes-and-structs/auto-implemented-properties.md
  docs/csharp/programming-guide/classes-and-structs/constants.md
  docs/csharp/programming-guide/classes-and-structs/constructors.md
  docs/csharp/programming-guide/classes-and-structs/destructors.md
  docs/csharp/programming-guide/classes-and-structs/extension-methods.md
  docs/csharp/programming-guide/classes-and-structs/fields.md
  docs/csharp/programming-guide/index.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#19563 Added missing descriptions (1657156).
  docs/framework/migration-guide/application-compatibility.md
  docs/framework/migration-guide/how-to-configure-an-app-to-support-net-framework-4-or-4-5.md
  docs/framework/migration-guide/migrating-from-the-net-framework-1-1.md
  docs/framework/migration-guide/mitigation-custom-imessagefilter-prefiltermessage-implementations.md
  docs/framework/migration-guide/mitigation-deserialization-of-objects-across-app-domains.md
  docs/framework/migration-guide/mitigation-new-64-bit-jit-compiler.md
  docs/framework/migration-guide/mitigation-path-colon-checks.md
  docs/framework/migration-guide/mitigation-path-normalization.md
  docs/framework/migration-guide/mitigation-png-frames-in-icon-objects.md
  docs/framework/migration-guide/mitigation-pointer-based-touch-and-stylus-support.md
  docs/framework/migration-guide/mitigation-pool-blocking-period.md
  docs/framework/migration-guide/mitigation-product-versioning.md
  docs/framework/migration-guide/mitigation-serialization-control-characters.md
  docs/framework/migration-guide/mitigation-tls-protocols.md
  docs/framework/migration-guide/mitigation-wcf-services-and-certificate-authentication.md
  docs/framework/migration-guide/mitigation-wpf-layout.md
  docs/framework/migration-guide/mitigation-wpf-window-rendering.md
  docs/framework/migration-guide/mitigation-x509certificateclaimset-findclaims-method.md
  docs/framework/migration-guide/mitigation-xml-schema-validation.md
  docs/framework/migration-guide/mitigation-ziparchiveentry-fullname-path-separator.md
  docs/framework/migration-guide/net-framework-4-migration-issues.md
  docs/framework/migration-guide/version-compatibility.md
  docs/framework/migration-guide/versions-and-dependencies.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - AppCompat

#19375 Add notes on recursive serialization/deserialization
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/DeserializeRequiredPropertyUsingAttributeRegistration.cs
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/Program.cs
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/WeatherForecast.cs
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/WeatherForecastRequiredPropertyConverterForAttributeRegistration.cs
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
Labels: :books: Area - .NET Guide

#19561 1657389 Add descriptions for SEO (series of related PRs)
  docs/csharp/programming-guide/classes-and-structs/how-to-create-a-new-method-for-an-enumeration.md
  docs/csharp/programming-guide/classes-and-structs/how-to-declare-and-use-read-write-properties.md
  docs/csharp/programming-guide/classes-and-structs/how-to-define-abstract-properties.md
  docs/csharp/programming-guide/classes-and-structs/how-to-define-constants.md
  docs/csharp/programming-guide/classes-and-structs/how-to-implement-a-lightweight-class-with-auto-implemented-properties.md
  docs/csharp/programming-guide/classes-and-structs/how-to-implement-and-call-a-custom-extension-method.md
  docs/csharp/programming-guide/classes-and-structs/how-to-initialize-a-dictionary-with-a-collection-initializer.md
  docs/csharp/programming-guide/classes-and-structs/how-to-initialize-objects-by-using-an-object-initializer.md
  docs/csharp/programming-guide/classes-and-structs/how-to-know-the-difference-passing-a-struct-and-passing-a-class-to-a-method.md
  docs/csharp/programming-guide/classes-and-structs/how-to-override-the-tostring-method.md
  docs/csharp/programming-guide/classes-and-structs/how-to-return-subsets-of-element-properties-in-a-query.md
  docs/csharp/programming-guide/classes-and-structs/how-to-use-implicitly-typed-local-variables-and-arrays-in-a-query-expression.md
  docs/csharp/programming-guide/classes-and-structs/how-to-use-named-and-optional-arguments-in-office-programming.md
  docs/csharp/programming-guide/classes-and-structs/how-to-write-a-copy-constructor.md
  docs/csharp/programming-guide/classes-and-structs/implicitly-typed-local-variables.md
  docs/csharp/programming-guide/classes-and-structs/inheritance.md
  docs/csharp/programming-guide/classes-and-structs/instance-constructors.md
  docs/csharp/programming-guide/classes-and-structs/interface-properties.md
  docs/csharp/programming-guide/classes-and-structs/knowing-when-to-use-override-and-new-keywords.md
  docs/csharp/programming-guide/classes-and-structs/local-functions.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#19469 Fix awkward sentence structure.
  docs/architecture/microservices/multi-container-microservice-net-applications/implement-api-gateways-with-ocelot.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#19569 Added mention of href as valid attribute
  docs/csharp/programming-guide/xmldoc/see.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#19584 Fix tiny typo in async.md
  docs/csharp/async.md
Labels: :books: Area - C# Guide

#19571 1657389 Add descriptions for SEO (series of related PRs)
  docs/csharp/programming-guide/classes-and-structs/members.md
  docs/csharp/programming-guide/classes-and-structs/methods.md
  docs/csharp/programming-guide/classes-and-structs/named-and-optional-arguments.md
  docs/csharp/programming-guide/classes-and-structs/nested-types.md
  docs/csharp/programming-guide/classes-and-structs/object-and-collection-initializers.md
  docs/csharp/programming-guide/classes-and-structs/objects.md
  docs/csharp/programming-guide/classes-and-structs/partial-classes-and-methods.md
  docs/csharp/programming-guide/classes-and-structs/passing-parameters.md
  docs/csharp/programming-guide/classes-and-structs/passing-reference-type-parameters.md
  docs/csharp/programming-guide/classes-and-structs/passing-value-type-parameters.md
  docs/csharp/programming-guide/classes-and-structs/polymorphism.md
  docs/csharp/programming-guide/classes-and-structs/private-constructors.md
  docs/csharp/programming-guide/classes-and-structs/properties.md
  docs/csharp/programming-guide/classes-and-structs/restricting-accessor-accessibility.md
  docs/csharp/programming-guide/classes-and-structs/static-classes-and-static-class-members.md
  docs/csharp/programming-guide/classes-and-structs/static-constructors.md
  docs/csharp/programming-guide/classes-and-structs/using-constructors.md
  docs/csharp/programming-guide/classes-and-structs/using-properties.md
  docs/csharp/programming-guide/classes-and-structs/versioning-with-the-override-and-new-keywords.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#19412 Flag Ubuntu 19.10 as not supported
  docs/core/install/linux-ubuntu.md
  docs/core/install/linux.md
Labels: :books: Area - .NET Core Guide

#19568 269302
  docs/framework/wpf/controls/combobox-styles-and-templates.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#19581 fix typo (overload -> override)
  docs/standard/assembly/unloadability.md
Labels: :books: Area - .NET Guide

#19530 1657394: 15th batch of 20 files with new SEO descriptions.
  docs/framework/reflection-and-codedom/get-type-member-information.md
  docs/framework/reflection-and-codedom/how-to-create-a-class-using-codedom.md
  docs/framework/reflection-and-codedom/how-to-create-an-xml-documentation-file-using-codedom.md
  docs/framework/reflection-and-codedom/how-to-define-a-generic-method-with-reflection-emit.md
  docs/framework/reflection-and-codedom/how-to-define-a-generic-type-with-reflection-emit.md
  docs/framework/reflection-and-codedom/how-to-define-and-execute-dynamic-methods.md
  docs/framework/reflection-and-codedom/how-to-examine-and-instantiate-generic-types-with-reflection.md
  docs/framework/reflection-and-codedom/how-to-hook-up-a-delegate-using-reflection.md
  docs/framework/reflection-and-codedom/how-to-load-assemblies-into-the-reflection-only-context.md
  docs/framework/reflection-and-codedom/reflection-and-generic-types.md
  docs/framework/reflection-and-codedom/reflection-for-windows-store-apps.md
  docs/framework/reflection-and-codedom/reflection.md
  docs/framework/reflection-and-codedom/security-considerations-for-reflection.md
  docs/framework/reflection-and-codedom/security-issues-in-reflection-emit.md
  docs/framework/reflection-and-codedom/specifying-fully-qualified-type-names.md
  docs/framework/reflection-and-codedom/using-the-codedom.md
  docs/framework/reflection-and-codedom/viewing-type-information.md
  docs/framework/reflection-and-codedom/walkthrough-emitting-code-in-partial-trust-scenarios.md
  docs/framework/resources/creating-resource-files-for-desktop-apps.md
  docs/framework/resources/index.md
Labels: :books: Area - .NET Framework Guide

#19567 Update strong-named.md
  docs/standard/assembly/strong-named.md
Labels: :books: Area - .NET Guide

#19534 New docs for debugging deadlock and high CPU usage
  docs/core/diagnostics/debug-deadlock.md
  docs/core/diagnostics/debug-highcpu.md
  docs/core/diagnostics/debug-memory-leak.md
  docs/core/diagnostics/dotnet-trace.md
  docs/core/diagnostics/index.md
  docs/core/diagnostics/media/flamegraph.jpg
  docs/core/diagnostics/media/perfview.jpg
  docs/core/toc.yml
Labels: :books: Area - .NET Core Guide

#19598 Remove reference to Fiber API
  docs/standard/threading/managed-and-unmanaged-threading-in-windows.md
Labels: :books: Area - .NET Guide

#19605 1657394: 24th batch. 9 files with new SEO descriptions.
  docs/framework/windows-services/how-to-pause-a-windows-service-visual-basic.md
  docs/framework/windows-services/how-to-specify-the-security-context-for-services.md
  docs/framework/windows-services/how-to-start-services.md
  docs/framework/windows-services/how-to-write-services-programmatically.md
  docs/framework/windows-services/introduction-to-windows-service-applications.md
  docs/framework/windows-services/service-application-programming-architecture.md
  docs/framework/windows-services/troubleshooting-debugging-windows-services.md
  docs/framework/windows-services/troubleshooting-service-application-wont-install.md
  docs/framework/windows-services/walkthrough-creating-a-windows-service-application-in-the-component-designer.md
Labels: :books: Area - .NET Framework Guide

#19589 1657389 Add descriptions for SEO (series of related PRs)
  docs/csharp/programming-guide/concepts/async/async-return-types.md
  docs/csharp/programming-guide/concepts/async/cancel-an-async-task-or-a-list-of-tasks.md
  docs/csharp/programming-guide/concepts/async/cancel-async-tasks-after-a-period-of-time.md
  docs/csharp/programming-guide/concepts/async/cancel-remaining-async-tasks-after-one-is-complete.md
  docs/csharp/programming-guide/concepts/async/control-flow-in-async-programs.md
  docs/csharp/programming-guide/concepts/async/fine-tuning-your-async-application.md
  docs/csharp/programming-guide/concepts/async/handling-reentrancy-in-async-apps.md
  docs/csharp/programming-guide/concepts/async/how-to-extend-the-async-walkthrough-by-using-task-whenall.md
  docs/csharp/programming-guide/concepts/async/how-to-make-multiple-web-requests-in-parallel-by-using-async-and-await.md
  docs/csharp/programming-guide/concepts/async/start-multiple-async-tasks-and-process-them-as-they-complete.md
  docs/csharp/programming-guide/concepts/async/task-asynchronous-programming-model.md
  docs/csharp/programming-guide/concepts/async/using-async-for-file-access.md
  docs/csharp/programming-guide/concepts/async/walkthrough-accessing-the-web-by-using-async-and-await.md
  docs/csharp/programming-guide/concepts/attributes/accessing-attributes-by-using-reflection.md
  docs/csharp/programming-guide/concepts/attributes/creating-custom-attributes.md
  docs/csharp/programming-guide/concepts/attributes/how-to-create-a-c-cpp-union-by-using-attributes.md
  docs/csharp/programming-guide/concepts/attributes/index.md
  docs/csharp/programming-guide/concepts/collections.md
  docs/csharp/programming-guide/concepts/index.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - Async Task, :card_file_box: Technology - C# Fundamentals

#19619 M51213: Removing extra content
  docs/core/tools/dotnet-tool-list.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#19622 Fix typos in databricks commands
  docs/spark/tutorials/databricks-deployment.md
Labels: :books: Area - .NET for Apache Spark Guide

#19613 fix grammar
  docs/csharp/programming-guide/classes-and-structs/polymorphism.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#19623 271384
  docs/framework/wpf/advanced/how-to-invoke-a-print-dialog.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#19602 Longer training times no longer apply
  docs/machine-learning/resources/azure-training-concepts-model-builder.md
Labels: :books: Area - ML.NET Guide

#19600 Explain effect of Daylight Savings Time
  docs/standard/datetime/converting-between-datetime-and-offset.md
  samples/snippets/csharp/VS_Snippets_CLR_System/system.DateTimeOffset.Conceptual.Conversions/cs/Conversions.cs
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.DateTimeOffset.Conceptual.Conversions/vb/Conversions.vb
Labels: :books: Area - .NET Guide

#19595 Fix --no-symbols option
  docs/core/tools/dotnet-nuget-push.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#19594 Update path to project in example restore command
  docs/core/tools/dotnet-restore.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#19629 Revised foreach article
  docs/csharp/language-reference/keywords/foreach-in.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#19616 1657389 Add descriptions for SEO (series of related PRs)
  docs/csharp/programming-guide/concepts/linq/functional-construction-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/functional-programming-vs-imperative-programming.md
  docs/csharp/programming-guide/concepts/linq/functional-transformation-of-xml.md
  docs/csharp/programming-guide/concepts/linq/functional-vs-procedural-programming-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/generation-operations.md
  docs/csharp/programming-guide/concepts/linq/grouping-data.md
  docs/csharp/programming-guide/concepts/linq/how-to-add-custom-methods-for-linq-queries.md
  docs/csharp/programming-guide/concepts/linq/how-to-build-linq-to-xml-examples.md
  docs/csharp/programming-guide/concepts/linq/how-to-calculate-intermediate-values.md
  docs/csharp/programming-guide/concepts/linq/how-to-catch-parsing-errors.md
  docs/csharp/programming-guide/concepts/linq/how-to-chain-axis-method-calls-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-change-the-namespace-for-an-entire-xml-tree.md
  docs/csharp/programming-guide/concepts/linq/how-to-combine-and-compare-string-collections-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-combine-linq-queries-with-regular-expressions.md
  docs/csharp/programming-guide/concepts/linq/how-to-compare-the-contents-of-two-folders-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-compute-column-values-in-a-csv-text-file-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-control-namespace-prefixes-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-control-the-type-of-a-projection.md
  docs/csharp/programming-guide/concepts/linq/how-to-count-occurrences-of-a-word-in-a-string-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-create-a-document-with-namespaces-linq-to-xml.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - LINQ

#19570 US 1657389: Added missing descriptions.
  docs/csharp/programming-guide/concepts/covariance-contravariance/creating-variant-generic-interfaces.md
  docs/csharp/programming-guide/concepts/covariance-contravariance/index.md
  docs/csharp/programming-guide/concepts/covariance-contravariance/using-variance-for-func-and-action-generic-delegates.md
  docs/csharp/programming-guide/concepts/covariance-contravariance/using-variance-in-delegates.md
  docs/csharp/programming-guide/concepts/covariance-contravariance/using-variance-in-interfaces-for-generic-collections.md
  docs/csharp/programming-guide/concepts/covariance-contravariance/variance-in-delegates.md
  docs/csharp/programming-guide/concepts/covariance-contravariance/variance-in-generic-interfaces.md
  docs/csharp/programming-guide/concepts/expression-trees/debugging-expression-trees-in-visual-studio.md
  docs/csharp/programming-guide/concepts/expression-trees/how-to-execute-expression-trees.md
  docs/csharp/programming-guide/concepts/expression-trees/how-to-modify-expression-trees.md
  docs/csharp/programming-guide/concepts/expression-trees/how-to-use-expression-trees-to-build-dynamic-queries.md
  docs/csharp/programming-guide/concepts/expression-trees/index.md
  docs/csharp/programming-guide/concepts/iterators.md
  docs/csharp/programming-guide/concepts/linq/adding-elements-attributes-and-nodes-to-an-xml-tree.md
  docs/csharp/programming-guide/concepts/linq/aggregation-operations.md
  docs/csharp/programming-guide/concepts/linq/applicability-of-functional-transformation.md
  docs/csharp/programming-guide/concepts/linq/atomized-xname-and-xnamespace-objects-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/basic-linq-query-operations.md
  docs/csharp/programming-guide/concepts/linq/basic-queries-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/index.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Advanced concepts

#19615 1657389 Add descriptions for SEO (series of related PRs)
  docs/csharp/programming-guide/concepts/linq/chaining-queries-example.md
  docs/csharp/programming-guide/concepts/linq/chaining-standard-query-operators-together.md
  docs/csharp/programming-guide/concepts/linq/classification-of-standard-query-operators-by-manner-of-execution.md
  docs/csharp/programming-guide/concepts/linq/comparison-of-xpath-and-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/concatenation-operations.md
  docs/csharp/programming-guide/concepts/linq/concepts-and-terminology-functional-transformation.md
  docs/csharp/programming-guide/concepts/linq/converting-data-types.md
  docs/csharp/programming-guide/concepts/linq/creating-the-source-office-open-xml-document.md
  docs/csharp/programming-guide/concepts/linq/creating-xml-trees-linq-to-xml-2.md
  docs/csharp/programming-guide/concepts/linq/data-transformations-with-linq.md
  docs/csharp/programming-guide/concepts/linq/deferred-execution-and-lazy-evaluation-in-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/deferred-execution-example.md
  docs/csharp/programming-guide/concepts/linq/element-operations.md
  docs/csharp/programming-guide/concepts/linq/enabling-a-data-source-for-linq-querying1.md
  docs/csharp/programming-guide/concepts/linq/equality-operations.md
  docs/csharp/programming-guide/concepts/linq/example-that-outputs-office-open-xml-document-parts.md
  docs/csharp/programming-guide/concepts/linq/features-that-support-linq.md
  docs/csharp/programming-guide/concepts/linq/filtering-data.md
  docs/csharp/programming-guide/concepts/linq/finding-text-in-word-documents.md
  docs/csharp/programming-guide/concepts/linq/finding-the-default-paragraph-style.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - LINQ

#19634 1657389 Add descriptions for SEO (series of related PRs)
  docs/csharp/programming-guide/concepts/linq/how-to-find-elements-with-a-specific-attribute-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-preceding-siblings-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-related-elements-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-sibling-nodes-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-the-immediate-preceding-sibling-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-the-root-element-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-the-set-difference-between-two-lists-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-generate-text-files-from-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-generate-xml-from-csv-files.md
  docs/csharp/programming-guide/concepts/linq/how-to-group-files-by-extension-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-join-content-from-dissimilar-files-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-join-two-collections-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-list-all-nodes-in-a-tree.md
  docs/csharp/programming-guide/concepts/linq/how-to-load-xml-from-a-file.md
  docs/csharp/programming-guide/concepts/linq/how-to-modify-an-office-open-xml-document.md
  docs/csharp/programming-guide/concepts/linq/how-to-parse-a-string.md
  docs/csharp/programming-guide/concepts/linq/how-to-perform-streaming-transform-of-large-xml-documents.md
  docs/csharp/programming-guide/concepts/linq/how-to-perform-streaming-transformations-of-text-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-populate-an-xml-tree-from-the-file-system.md
  docs/csharp/programming-guide/concepts/linq/how-to-populate-an-xml-tree-with-an-xmlwriter-linq-to-xml.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - LINQ

#19636 1657389 Add descriptions for SEO (series of related PRs)
  docs/csharp/programming-guide/concepts/linq/how-to-populate-object-collections-from-multiple-sources-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-project-a-new-type-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-project-an-anonymous-type.md
  docs/csharp/programming-guide/concepts/linq/how-to-project-an-object-graph.md
  docs/csharp/programming-guide/concepts/linq/how-to-query-an-arraylist-with-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-query-an-assembly-s-metadata-with-reflection-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-query-for-characters-in-a-string-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-query-for-duplicate-files-in-a-directory-tree-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-query-for-files-with-a-specified-attribute-or-name.md
  docs/csharp/programming-guide/concepts/linq/how-to-query-for-sentences-that-contain-a-specified-set-of-words-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-query-for-the-largest-file-or-files-in-a-directory-tree-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-query-for-the-total-number-of-bytes-in-a-set-of-folders-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-query-linq-to-xml-using-xpath.md
  docs/csharp/programming-guide/concepts/linq/how-to-query-the-contents-of-files-in-a-folder-lin.md
  docs/csharp/programming-guide/concepts/linq/how-to-read-and-write-an-encoded-document.md
  docs/csharp/programming-guide/concepts/linq/how-to-reorder-the-fields-of-a-delimited-file-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-retrieve-a-collection-of-attributes-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-retrieve-a-collection-of-elements-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-retrieve-a-single-attribute-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-retrieve-a-single-child-element-linq-to-xml.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - LINQ

#19610 Removed wrong reference in domain-model-layer-validations.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/domain-model-layer-validations.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#19637 1657389 Add descriptions for SEO (series of related PRs)
  docs/csharp/programming-guide/concepts/linq/in-memory-xml-tree-modification-vs-functional-construction-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/intermediate-materialization.md
  docs/csharp/programming-guide/concepts/linq/introduction-to-linq-queries.md
  docs/csharp/programming-guide/concepts/linq/introduction-to-pure-functional-transformations.md
  docs/csharp/programming-guide/concepts/linq/join-operations.md
  docs/csharp/programming-guide/concepts/linq/linq-and-file-directories.md
  docs/csharp/programming-guide/concepts/linq/linq-and-generic-types.md
  docs/csharp/programming-guide/concepts/linq/linq-and-strings.md
  docs/csharp/programming-guide/concepts/linq/linq-to-adonet-portal-page.md
  docs/csharp/programming-guide/concepts/linq/linq-to-objects.md
  docs/csharp/programming-guide/concepts/linq/linq-to-xml-annotations.md
  docs/csharp/programming-guide/concepts/linq/linq-to-xml-axes-overview.md
  docs/csharp/programming-guide/concepts/linq/linq-to-xml-classes-overview.md
  docs/csharp/programming-guide/concepts/linq/linq-to-xml-events.md
  docs/csharp/programming-guide/concepts/linq/linq-to-xml-overview.md
  docs/csharp/programming-guide/concepts/linq/linq-to-xml-security.md
  docs/csharp/programming-guide/concepts/linq/linq-to-xml-vs-dom.md
  docs/csharp/programming-guide/concepts/linq/linq-to-xml-vs-other-xml-technologies.md
  docs/csharp/programming-guide/concepts/linq/maintaining-name-value-pairs.md
  docs/csharp/programming-guide/concepts/linq/mixed-declarative-code-imperative-code-bugs-linq-to-xml.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - LINQ

#19647 Update link to read-only properties
  docs/csharp/programming-guide/exceptions/how-to-handle-an-exception-using-try-catch.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#19644 Add missing entries to TOC
  docs/framework/toc.yml
Labels: :books: Area - .NET Framework Guide

#19651 Shift+F5 --> Ctrl+F5
  docs/core/tutorials/library-with-visual-studio.md
Labels: :books: Area - .NET Core Guide

#19641 Fix Azure service name
  docs/architecture/modern-web-apps-azure/azure-hosting-recommendations-for-asp-net-web-apps.md
Labels: :book: guide - ASP.NET Core web apps, :books: Area - .NET Architecture Guide

#19537 1657392 Add descriptions for SEO (3 of 3)
  docs/framework/wpf/controls/how-to-detect-when-text-in-a-textbox-has-changed.md
  docs/framework/wpf/controls/how-to-group-sort-and-filter-data-in-the-datagrid-control.md
  docs/framework/wpf/controls/how-to-horizontally-or-vertically-align-content-in-a-stackpanel.md
  docs/framework/wpf/controls/how-to-implement-validation-with-the-datagrid-control.md
  docs/framework/wpf/controls/how-to-position-the-child-elements-of-a-grid.md
  docs/framework/wpf/controls/how-to-set-focus-in-a-textbox-control.md
  docs/framework/wpf/controls/how-to-set-the-text-content-of-a-textbox-control.md
  docs/framework/wpf/controls/how-to-use-selectedvalue-selectedvaluepath-and-selecteditem.md
  docs/framework/wpf/controls/listview-overview.md
  docs/framework/wpf/controls/menu-styles-and-templates.md
  docs/framework/wpf/controls/panels-overview.md
  docs/framework/wpf/controls/popup-overview.md
  docs/framework/wpf/controls/popup-placement-behavior.md
  docs/framework/wpf/controls/position-the-cursor-at-the-beginning-or-end-of-text.md
  docs/framework/wpf/controls/richtextbox-overview.md
  docs/framework/wpf/controls/scrollviewer-overview.md
  docs/framework/wpf/controls/sizing-options-in-the-datagrid-control.md
  docs/framework/wpf/controls/textbox-styles-and-templates.md
  docs/framework/wpf/controls/treeview-overview.md
  docs/framework/wpf/controls/walkthrough-create-a-button-by-using-xaml.md
  docs/framework/wpf/controls/walkthrough-display-data-from-a-sql-server-database-in-a-datagrid-control.md
  docs/framework/wpf/data/how-to-create-a-binding-in-code.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#19535 1657392 Add descriptions for SEO (1 of 3)
  docs/framework/wpf/advanced/alignment-margins-and-padding-overview.md
  docs/framework/wpf/advanced/attached-properties-overview.md
  docs/framework/wpf/advanced/commanding-overview.md
  docs/framework/wpf/advanced/custom-dependency-properties.md
  docs/framework/wpf/advanced/drag-and-drop-overview.md
  docs/framework/wpf/advanced/flow-document-overview.md
  docs/framework/wpf/advanced/focus-overview.md
  docs/framework/wpf/advanced/how-to-add-an-event-handler-using-code.md
  docs/framework/wpf/advanced/how-to-change-the-cursor-type.md
  docs/framework/wpf/advanced/how-to-detect-when-the-enter-key-pressed.md
  docs/framework/wpf/advanced/how-to-implement-a-dependency-property.md
  docs/framework/wpf/advanced/how-to-use-special-characters-in-xaml.md
  docs/framework/wpf/advanced/index.md
  docs/framework/wpf/advanced/layout.md
  docs/framework/wpf/advanced/optimizing-performance-controls.md
  docs/framework/wpf/advanced/optimizing-wpf-application-performance.md
  docs/framework/wpf/advanced/packaging-fonts-with-applications.md
  docs/framework/wpf/advanced/relativesource-markupextension.md
  docs/framework/wpf/advanced/routed-events-overview.md
  docs/framework/wpf/advanced/staticresource-markup-extension.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#19639 Update file-path-formats.md
  docs/standard/io/file-path-formats.md
Labels: :books: Area - .NET Guide

#19658 Fixed three warnings in build validation
  docs/framework/wpf/advanced/focus-overview.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#19599 1657394: 22nd batch of 20 files with new SEO descriptions.
  docs/framework/ui-automation/ui-automation-support-for-the-pane-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-progressbar-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-radiobutton-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-scrollbar-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-separator-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-slider-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-spinner-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-splitbutton-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-statusbar-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-tab-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-tabitem-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-table-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-text-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-thumb-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-titlebar-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-toolbar-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-tooltip-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-tree-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-treeitem-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-window-control-type.md
Labels: :books: Area - .NET Framework Guide

#19597 1657394: 21st batch of 20 files with new SEO descriptions.
  docs/framework/ui-automation/ui-automation-security-overview.md
  docs/framework/ui-automation/ui-automation-support-for-standard-controls.md
  docs/framework/ui-automation/ui-automation-support-for-the-button-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-calendar-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-checkbox-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-combobox-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-datagrid-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-dataitem-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-document-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-edit-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-group-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-header-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-headeritem-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-hyperlink-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-image-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-list-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-listitem-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-menu-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-menubar-control-type.md
  docs/framework/ui-automation/ui-automation-support-for-the-menuitem-control-type.md
Labels: :books: Area - .NET Framework Guide

#19587 1657394: 20th batch of 20 files with new SEO descriptions.
  docs/framework/ui-automation/support-control-patterns-in-a-ui-automation-provider.md
  docs/framework/ui-automation/textpattern-and-embedded-objects-overview.md
  docs/framework/ui-automation/traverse-text-using-ui-automation.md
  docs/framework/ui-automation/ui-automation-and-microsoft-active-accessibility.md
  docs/framework/ui-automation/ui-automation-and-screen-scaling.md
  docs/framework/ui-automation/ui-automation-clients-for-managed-code-how-to-topics.md
  docs/framework/ui-automation/ui-automation-clients-for-managed-code.md
  docs/framework/ui-automation/ui-automation-control-patterns-for-clients.md
  docs/framework/ui-automation/ui-automation-control-patterns-how-to-topics.md
  docs/framework/ui-automation/ui-automation-control-patterns-overview.md
  docs/framework/ui-automation/ui-automation-control-patterns.md
  docs/framework/ui-automation/ui-automation-control-types-overview.md
  docs/framework/ui-automation/ui-automation-events-overview.md
  docs/framework/ui-automation/ui-automation-fundamentals.md
  docs/framework/ui-automation/ui-automation-overview.md
  docs/framework/ui-automation/ui-automation-properties-for-clients.md
  docs/framework/ui-automation/ui-automation-properties-overview.md
  docs/framework/ui-automation/ui-automation-providers-for-managed-code-how-to-topics.md
  docs/framework/ui-automation/ui-automation-providers-for-managed-code.md
  docs/framework/ui-automation/ui-automation-providers-overview.md
Labels: :books: Area - .NET Framework Guide

#19548 1657394: 16th batch of 20 files with new SEO descriptions.
  docs/framework/resources/creating-satellite-assemblies-for-desktop-apps.md
  docs/framework/resources/packaging-and-deploying-resources-in-desktop-apps.md
  docs/framework/resources/retrieving-resources-in-desktop-apps.md
  docs/framework/resources/working-with-resx-files-programmatically.md
  docs/framework/tools/al-exe-assembly-linker.md
  docs/framework/tools/aximp-exe-windows-forms-activex-control-importer.md
  docs/framework/tools/caspol-exe-code-access-security-policy-tool.md
  docs/framework/tools/cert2spc-exe-software-publisher-certificate-test-tool.md
  docs/framework/tools/certmgr-exe-certificate-manager-tool.md
  docs/framework/tools/clrver-exe-clr-version-tool.md
  docs/framework/tools/corflags-exe-corflags-conversion-tool.md
  docs/framework/tools/developer-command-prompt-for-vs.md
  docs/framework/tools/fuslogvw-exe-assembly-binding-log-viewer.md
  docs/framework/tools/gacutil-exe-gac-tool.md
  docs/framework/tools/ilasm-exe-il-assembler.md
  docs/framework/tools/ildasm-exe-il-disassembler.md
  docs/framework/tools/index.md
  docs/framework/tools/installutil-exe-installer-tool.md
  docs/framework/tools/lc-exe-license-compiler.md
  docs/framework/tools/mage-exe-manifest-generation-and-editing-tool.md
Labels: :books: Area - .NET Framework Guide

#19572 1657394: 18th batch of 20 files with new SEO descriptions.
  docs/framework/ui-automation/add-content-to-a-text-box-using-ui-automation.md
  docs/framework/ui-automation/caching-in-ui-automation-clients.md
  docs/framework/ui-automation/client-side-ui-automation-provider-implementation.md
  docs/framework/ui-automation/control-pattern-mapping-for-ui-automation-clients.md
  docs/framework/ui-automation/create-a-client-side-ui-automation-provider.md
  docs/framework/ui-automation/enable-navigation-in-a-ui-automation-fragment-provider.md
  docs/framework/ui-automation/expose-a-server-side-ui-automation-provider.md
  docs/framework/ui-automation/expose-the-content-of-a-table-using-ui-automation.md
  docs/framework/ui-automation/find-a-ui-automation-element-based-on-a-property-condition.md
  docs/framework/ui-automation/find-a-ui-automation-element-for-a-list-item.md
  docs/framework/ui-automation/find-and-highlight-text-using-ui-automation.md
  docs/framework/ui-automation/get-supported-ui-automation-control-patterns.md
  docs/framework/ui-automation/get-the-toggle-state-of-a-check-box-using-ui-automation.md
  docs/framework/ui-automation/get-ui-automation-element-properties.md
  docs/framework/ui-automation/implementing-the-ui-automation-dock-control-pattern.md
  docs/framework/ui-automation/implementing-the-ui-automation-expandcollapse-control-pattern.md
  docs/framework/ui-automation/implementing-the-ui-automation-grid-control-pattern.md
  docs/framework/ui-automation/implementing-the-ui-automation-griditem-control-pattern.md
  docs/framework/ui-automation/implementing-the-ui-automation-invoke-control-pattern.md
  docs/framework/ui-automation/implementing-the-ui-automation-multipleview-control-pattern.md
Labels: :books: Area - .NET Framework Guide

#19577 1657394: 19th batch of 20 files with new SEO descriptions.
  docs/framework/ui-automation/implement-ui-automation-providers-in-a-client-application.md
  docs/framework/ui-automation/implementing-the-ui-automation-rangevalue-control-pattern.md
  docs/framework/ui-automation/implementing-the-ui-automation-scroll-control-pattern.md
  docs/framework/ui-automation/implementing-the-ui-automation-scrollitem-control-pattern.md
  docs/framework/ui-automation/implementing-the-ui-automation-selection-control-pattern.md
  docs/framework/ui-automation/implementing-the-ui-automation-selectionitem-control-pattern.md
  docs/framework/ui-automation/implementing-the-ui-automation-table-control-pattern.md
  docs/framework/ui-automation/implementing-the-ui-automation-tableitem-control-pattern.md
  docs/framework/ui-automation/implementing-the-ui-automation-toggle-control-pattern.md
  docs/framework/ui-automation/implementing-the-ui-automation-transform-control-pattern.md
  docs/framework/ui-automation/implementing-the-ui-automation-value-control-pattern.md
  docs/framework/ui-automation/implementing-the-ui-automation-window-control-pattern.md
  docs/framework/ui-automation/invoke-a-control-using-ui-automation.md
  docs/framework/ui-automation/move-a-ui-automation-element.md
  docs/framework/ui-automation/navigate-among-ui-automation-elements-with-treewalker.md
  docs/framework/ui-automation/obtain-text-attributes-using-ui-automation.md
  docs/framework/ui-automation/obtaining-ui-automation-elements.md
  docs/framework/ui-automation/raise-events-from-a-ui-automation-provider.md
  docs/framework/ui-automation/register-a-client-side-provider-assembly.md
  docs/framework/ui-automation/subscribe-to-ui-automation-events.md
Labels: :books: Area - .NET Framework Guide

#19664 Fix broken links
  docs/standard/net-standard.md
Labels: :books: Area - .NET Guide

#19671 Update dotnet build docs
  docs/core/tools/dotnet-build.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#19673 Update dotnet test doc
  docs/core/tools/dotnet-test.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#19685 dotnet publish - fix publish profile info
  docs/core/tools/dotnet-publish.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#19689 Update local tools link
  docs/core/tools/csproj.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#18594 Added information on how to achieve it using visual studio
  docs/csharp/language-reference/keywords/extern-alias.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#19638 Added missing descriptions US1657389
  docs/csharp/programming-guide/concepts/linq/how-to-create-a-tree-from-an-xmlreader.md
  docs/csharp/programming-guide/concepts/linq/how-to-create-hierarchy-using-grouping.md
  docs/csharp/programming-guide/concepts/linq/how-to-debug-empty-query-results-sets.md
  docs/csharp/programming-guide/concepts/linq/how-to-filter-on-an-attribute-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-filter-on-an-optional-element.md
  docs/csharp/programming-guide/concepts/linq/how-to-filter-on-element-names-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-a-child-element-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-a-list-of-child-elements-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-a-single-descendant-using-the-descendants-method.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-a-union-of-two-location-paths-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-all-nodes-in-a-namespace.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-an-attribute-of-the-parent-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-an-element-with-a-specific-attribute.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-an-element-with-a-specific-child-element.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-attributes-of-siblings-with-a-specific-name-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-child-elements-based-on-position-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-descendant-elements-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-descendants-of-a-child-element-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-descendants-with-a-specific-element-name.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-elements-in-a-namespace-xpath-linq-to-xml.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - LINQ

#19650 1657389 Add descriptions for SEO (series of related PRs)
  docs/csharp/programming-guide/concepts/linq/retrieving-the-text-of-the-paragraphs.md
  docs/csharp/programming-guide/concepts/linq/sample-xml-file-books-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/sample-xml-file-consolidated-purchase-orders.md
  docs/csharp/programming-guide/concepts/linq/sample-xml-file-customers-and-orders-in-a-namespace.md
  docs/csharp/programming-guide/concepts/linq/sample-xml-file-customers-and-orders-linq-to-xml-2.md
  docs/csharp/programming-guide/concepts/linq/sample-xml-file-multiple-purchase-orders-in-a-namespace.md
  docs/csharp/programming-guide/concepts/linq/sample-xml-file-multiple-purchase-orders-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/sample-xml-file-numerical-data-in-a-namespace.md
  docs/csharp/programming-guide/concepts/linq/sample-xml-file-numerical-data-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/sample-xml-file-test-configuration-in-a-namespace1.md
  docs/csharp/programming-guide/concepts/linq/sample-xml-file-test-configuration-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/sample-xml-file-typical-purchase-order-in-a-namespace.md
  docs/csharp/programming-guide/concepts/linq/sample-xml-file-typical-purchase-order-linq-to-xml-1.md
  docs/csharp/programming-guide/concepts/linq/sample-xsd-file-customers-and-orders1.md
  docs/csharp/programming-guide/concepts/linq/scope-of-default-namespaces.md
  docs/csharp/programming-guide/concepts/linq/serializing-to-an-xmlreader-invoking-xslt.md
  docs/csharp/programming-guide/concepts/linq/serializing-to-files-textwriters-and-xmlwriters.md
  docs/csharp/programming-guide/concepts/linq/serializing-with-an-xml-declaration.md
  docs/csharp/programming-guide/concepts/linq/set-operations.md
  docs/csharp/programming-guide/concepts/linq/shape-of-wordprocessingml-documents.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - LINQ
