Repository dotnet/docs, pull requests merged in 2020-05, with the labels that each got.

#18186 Add missing immutable areas to collections docs
  docs/standard/collections/comparisons-and-sorts-within-collections.md
  docs/standard/collections/index.md
  docs/standard/collections/selecting-a-collection-class.md
  docs/standard/collections/sorted-collection-types.md
  docs/standard/collections/when-to-use-generic-collections.md
  samples/snippets/csharp/VS_Snippets_CLR_System/system.collections.generic.list.sort/cs/program.cs
Labels: :books: Area - .NET Guide

#18187 Add callout about existing object pool type and clean up C# bits
  docs/standard/collections/thread-safe/how-to-create-an-object-pool.md
  samples/snippets/csharp/VS_Snippets_Misc/cds/cs/objectpool.cs
Labels: :books: Area - .NET Guide

#18185 dotnet nuget push updates
  docs/core/tools/dotnet-nuget-push.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#18071 Add install instructions for CentOS 8
  docs/core/install/linux-package-manager-centos8.md
  docs/core/install/linux-package-manager-rhel8.md
Labels: :books: Area - .NET Core Guide

#18163 Document the localization class and method removal breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/aspnetcore.md
  includes/core-changes/aspnetcore/3.0/localization-apis-marked-obsolete.md
  includes/core-changes/aspnetcore/5.0/localization-members-removed.md
Labels: :books: Area - .NET Core Guide

#18154 Document the HttpClient status code logging change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/aspnetcore.md
  includes/core-changes/aspnetcore/5.0/http-httpclient-instances-log-integer-status-codes.md
Labels: :books: Area - .NET Core Guide

#18208 Acrolinx 5/1
  docs/core/testing/selective-unit-tests.md
  docs/framework/wcf/samples/custom-service-host.md
  docs/framework/wcf/samples/discovery-security-sample.md
  docs/framework/wcf/samples/durable-instance-context.md
  docs/framework/wcf/samples/extending-tracing.md
  docs/framework/wcf/samples/security-validation.md
  docs/framework/wcf/samples/sessions-and-queues.md
  docs/framework/windows-workflow-foundation/state-machine-workflows.md
  docs/standard/analyzers/portability-analyzer.md
Labels: :books: Area - .NET Core Guide, :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :card_file_box: Technology - WCF, :card_file_box: Technology - WF

#18081 27). Add topic files 79 to 82
  .openpublishing.redirection.json
  docs/csharp/programming-guide/concepts/linq/how-to-filter-on-an-attribute-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-descendant-elements-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-related-elements-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-the-root-element-xpath-linq-to-xml.md
  docs/standard/linq/filter-attribute.md
  docs/standard/linq/find-descendant-elements.md
  docs/standard/linq/find-related-elements.md
  docs/standard/linq/find-root-element.md
  docs/standard/linq/query-linq-xml-xpath.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-filter-on-an-attribute-xpath-linq-to-xml.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-find-descendant-elements-xpath-linq-to-xml.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-find-related-elements-xpath-linq-to-xml.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-find-the-root-element-xpath-linq-to-xml.md
Labels: vendor-project

#18181 Improve introduction to numbers
  docs/csharp/tutorials/intro-to-csharp/numbers-in-csharp-local.md
  docs/csharp/tutorials/intro-to-csharp/numbers-in-csharp.yml
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#18243 Removing an unused type in the code listing.
  docs/fsharp/language-reference/namespaces.md
Labels: :books: Area - F# Guide

#18242 Removed an unused type in code listing.
  docs/fsharp/language-reference/modules.md
Labels: :books: Area - F# Guide

#18214 Add `linux-arm64` to the portable RID list
  docs/core/rid-catalog.md
Labels: :books: Area - .NET Core Guide

#18022 25). Add topic files 71 to 74
  .openpublishing.redirection.json
  docs/csharp/programming-guide/concepts/linq/how-to-modify-an-office-open-xml-document.md
  docs/csharp/programming-guide/concepts/linq/how-to-retrieve-paragraphs-from-an-office-open-xml-document.md
  docs/standard/linq/list-all-nodes-tree.md
  docs/standard/linq/modify-office-open-xml-document.md
  docs/standard/linq/perform-streaming-transformations-text-xml.md
  docs/standard/linq/retrieve-paragraphs-office-open-xml-document.md
  docs/standard/linq/toc.yml
  docs/visual-basic/programming-guide/concepts/linq/how-to-list-all-nodes-in-a-tree.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-modify-an-office-open-xml-document.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-retrieve-paragraphs-from-an-office-open-xml-document.md
Labels: vendor-project

#18224 Updating ReadableExpressions screenshot and description
  docs/csharp/programming-guide/concepts/expression-trees/debugging-expression-trees-in-visual-studio.md
  docs/csharp/programming-guide/concepts/expression-trees/media/debugging-expression-trees-in-visual-studio/readable-expressions-visualizer.png
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Advanced concepts, :sparkles: 1st-time docs contributor!

#18205 global-json.md updates
  docs/core/tools/global-json.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#18228 Typo in "Default interface methods" #18227
  docs/csharp/whats-new/csharp-8.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# What's New

#18229 Emphasize that there are no &&= and ||= operators
  docs/csharp/language-reference/operators/boolean-logical-operators.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#18241 Typos
  docs/csharp/roslyn-sdk/get-started/syntax-transformation.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - Roslyn APIs, :sparkles: 1st-time docs contributor!

#18246 Collapse relative links, Part 1
  docs/core/additional-tools/xml-serializer-generator.md
  docs/core/compatibility/unsupported-apis.md
  docs/core/porting/net-framework-tech-unavailable.md
  docs/core/tools/project-json-to-csproj.md
  docs/csharp/how-to/index.md
  docs/csharp/language-reference/compiler-messages/cs0579.md
  docs/csharp/language-reference/compiler-options/win32res-compiler-option.md
  docs/csharp/language-reference/keywords/let-clause.md
  docs/csharp/language-reference/keywords/new-constraint.md
  docs/csharp/language-reference/keywords/new-modifier.md
  docs/csharp/language-reference/keywords/restrictions-on-using-accessibility-levels.md
  docs/csharp/language-reference/keywords/set.md
  docs/csharp/language-reference/keywords/yield.md
  docs/csharp/programming-guide/concepts/serialization/walkthrough-persisting-an-object-in-visual-studio.md
  docs/csharp/tutorials/console-teleprompter.md
  docs/csharp/tutorials/exploration/interpolated-strings-local.md
  docs/framework/configure-apps/file-schema/startup/supportedruntime-element.md
  docs/framework/migration-guide/version-compatibility.md
  docs/framework/unmanaged-api/debugging/cordebugcodeinvokepurpose-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebugcreateprocessflags-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebugdebugeventkind-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebugdecodeeventflagswindows-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebugehclause-structure.md
  docs/framework/unmanaged-api/debugging/cordebugexceptioncallbacktype-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebugexceptionflags-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebugexceptionobjectstackframe-structure.md
  docs/framework/unmanaged-api/debugging/cordebugexceptionunwindcallbacktype-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebuggctype-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebuggenerationtypes-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebughandletype-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebugiltonativemappingtypes-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebugintercept-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebuginterfaceversion-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebuginternalframetype-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebugjitcompilerflags-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebugjitcompilerflagsdeprecated-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebugmappingresult-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebugmdaflags-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebugngenpolicy-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebugplatform-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebugrecordformat-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebugregister-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebugsetcontextflag-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebugstatechange-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebugstepreason-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebugthreadstate-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebugunmappedstop-enumeration.md
  docs/framework/unmanaged-api/debugging/cordebuguserstate-enumeration.md
  docs/framework/unmanaged-api/debugging/coreclrdebugprocinfo-structure.md
  docs/framework/unmanaged-api/index.md
Labels: :books: Area - .NET Core Guide, :books: Area - .NET Framework Guide, :books: Area - C# Guide, :card_file_box: Technology - AppCompat, :card_file_box: Technology - C# / VB diagnostics, :card_file_box: Technology - C# Fundamentals, :card_file_box: Technology - C# Get Started, :card_file_box: Technology - C# Language Reference, :card_file_box: Technology - CLI

#18247 Add example of TryRemove for concurrent dictionary
  docs/standard/collections/thread-safe/how-to-add-and-remove-items.md
  samples/snippets/csharp/VS_Snippets_Misc/cds/cs/cds_dictionaryhowto.cs
Labels: :books: Area - .NET Guide

#18245 Update tools to include try-convert
  docs/core/porting/tools.md
Labels: :books: Area - .NET Core Guide

#18218 ProjectReference, Reference, and package creation properties
  docs/core/project-sdk/msbuild-props.md
  docs/core/tools/dependencies.md
Labels: :books: Area - .NET Core Guide

#18253 Add CentOS 8 to TOC and package-manger switcher
  docs/core/install/includes/package-manager-switcher.md
  docs/core/toc.yml
Labels: :books: Area - .NET Core Guide

#18248 Change rounding error description
  docs/csharp/tutorials/intro-to-csharp/numbers-in-csharp.yml
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#18240 Xml issues
  docs/standard/data/xml/editing-xml-schemas.md
  docs/standard/data/xml/inferring-schemas-from-xml-documents.md
  docs/standard/data/xml/managing-namespaces-in-an-xml-document.md
  docs/standard/data/xml/mapping-the-object-hierarchy-to-xml-data.md
  docs/standard/data/xml/modify-xml-data-using-xpathnavigator.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-transform-the-shape-of-an-xml-tree.md
  docs/visual-basic/programming-guide/concepts/linq/maintaining-name-value-pairs.md
  docs/visual-basic/programming-guide/concepts/linq/programming-with-nodes.md
Labels: :books: Area - .NET Guide, :books: Area - Visual Basic Guide

#18180 Remove preview note for .NET interactive
  docs/csharp/tutorials/exploration/interpolated-strings.yml
  docs/csharp/tutorials/intro-to-csharp/branches-and-loops.yml
  docs/csharp/tutorials/intro-to-csharp/hello-world.yml
  docs/csharp/tutorials/intro-to-csharp/list-collection.yml
  docs/csharp/tutorials/intro-to-csharp/numbers-in-csharp.yml
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals, :card_file_box: Technology - C# Get Started

#18095 A few book updates
  docs/architecture/modernize-desktop/migrate-modern-applications.md
  docs/architecture/modernize-desktop/windows-migration.md
Labels: :book: guide - Modernizing Desktop apps, :books: Area - .NET Architecture Guide

#18050 26). Add topic files 75 to 78
  .openpublishing.redirection.json
  docs/csharp/programming-guide/concepts/linq/comparison-of-xpath-and-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-a-child-element-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-find-a-list-of-child-elements-xpath-linq-to-xml.md
  docs/csharp/programming-guide/concepts/linq/how-to-populate-an-xml-tree-from-the-file-system.md
  docs/standard/linq/comparison-xpath-linq-xml.md
  docs/standard/linq/find-child-element.md
  docs/standard/linq/find-list-child-elements.md
  docs/standard/linq/list-all-nodes-tree.md
  docs/standard/linq/modify-office-open-xml-document.md
  docs/standard/linq/populate-xml-tree-file-system.md
  docs/standard/linq/retrieve-paragraphs-office-open-xml-document.md
  docs/standard/linq/write-linq-xml-axis-method.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-find-a-child-element-xpath-linq-to-xml.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-find-a-list-of-child-elements-xpath-linq-to-xml.md
  docs/visual-basic/programming-guide/concepts/linq/how-to-populate-an-xml-tree-from-the-file-system.md
  docs/visual-basic/programming-guide/concepts/linq/linq-to-xml-for-xpath-users.md
Labels: vendor-project

#18260 Collapse relative links, Part 2
  docs/framework/unmanaged-api/debugging/coreclrdebugruntimeinfo-structure.md
  docs/framework/unmanaged-api/debugging/corgcreferencetype-enumeration.md
  docs/framework/unmanaged-api/debugging/corpubpublish-coclass.md
  docs/framework/unmanaged-api/debugging/createcordbobject-function.md
  docs/framework/unmanaged-api/debugging/createcoreclrdebugtarget-function.md
  docs/framework/unmanaged-api/debugging/createdebugginginterfacefromversion-function-for-silverlight.md
  docs/framework/unmanaged-api/debugging/createversionstringfrommodule-function.md
  docs/framework/unmanaged-api/debugging/dacpgetmoduleaddress-request-method.md
  docs/framework/unmanaged-api/debugging/dacpgetmoduleaddress-structure.md
  docs/framework/unmanaged-api/debugging/dacpmethoddescdata-structure.md
  docs/framework/unmanaged-api/debugging/dacpmoduledata-structure.md
  docs/framework/unmanaged-api/debugging/dacprejitdata-structure.md
  docs/framework/unmanaged-api/debugging/efn-getmanagedexcepstack-function.md
  docs/framework/unmanaged-api/debugging/efn-getmanagedobjectfieldinfo-function.md
  docs/framework/unmanaged-api/debugging/efn-getmanagedobjectname-function.md
  docs/framework/unmanaged-api/debugging/efn-stacktrace-function.md
  docs/framework/unmanaged-api/debugging/enumerateclrs-function.md
  docs/framework/unmanaged-api/debugging/getstartupnotificationevent-function.md
  docs/framework/unmanaged-api/debugging/iclrdataenummemoryregions-enummemoryregions-method.md
  docs/framework/unmanaged-api/debugging/iclrdataenummemoryregions-interface.md
  docs/framework/unmanaged-api/debugging/iclrdataenummemoryregionscallback-enummemoryregion-method.md
  docs/framework/unmanaged-api/debugging/iclrdataenummemoryregionscallback-interface.md
  docs/framework/unmanaged-api/debugging/iclrdatatarget-getcurrentthreadid-method.md
  docs/framework/unmanaged-api/debugging/iclrdatatarget-getimagebase-method.md
  docs/framework/unmanaged-api/debugging/iclrdatatarget-getmachinetype-method.md
  docs/framework/unmanaged-api/debugging/iclrdatatarget-getpointersize-method.md
  docs/framework/unmanaged-api/debugging/iclrdatatarget-getthreadcontext-method.md
  docs/framework/unmanaged-api/debugging/iclrdatatarget-gettlsvalue-method.md
  docs/framework/unmanaged-api/debugging/iclrdatatarget-interface.md
  docs/framework/unmanaged-api/debugging/iclrdatatarget-readvirtual-method.md
  docs/framework/unmanaged-api/debugging/iclrdatatarget-request-method.md
  docs/framework/unmanaged-api/debugging/iclrdatatarget-setthreadcontext-method.md
  docs/framework/unmanaged-api/debugging/iclrdatatarget-settlsvalue-method.md
  docs/framework/unmanaged-api/debugging/iclrdatatarget-writevirtual-method.md
  docs/framework/unmanaged-api/debugging/iclrdatatarget2-allocvirtual-method.md
  docs/framework/unmanaged-api/debugging/iclrdatatarget2-freevirtual-method.md
  docs/framework/unmanaged-api/debugging/iclrdatatarget2-interface.md
  docs/framework/unmanaged-api/debugging/iclrdatatarget3-getexceptioncontextrecord-method.md
  docs/framework/unmanaged-api/debugging/iclrdatatarget3-getexceptionrecord-method.md
  docs/framework/unmanaged-api/debugging/iclrdatatarget3-getexceptionthreadid-method.md
  docs/framework/unmanaged-api/debugging/iclrdatatarget3-interface.md
  docs/framework/unmanaged-api/debugging/iclrdebugging-canunloadnow-method.md
  docs/framework/unmanaged-api/debugging/iclrdebugging-interface.md
  docs/framework/unmanaged-api/debugging/iclrdebugging-openvirtualprocess-method.md
  docs/framework/unmanaged-api/debugging/iclrdebugginglibraryprovider-interface.md
  docs/framework/unmanaged-api/debugging/iclrdebugginglibraryprovider-providelibrary-method.md
  docs/framework/unmanaged-api/debugging/iclrmetadatalocator-getmetadata-method.md
  docs/framework/unmanaged-api/debugging/iclrmetadatalocator-interface.md
  docs/framework/unmanaged-api/debugging/icordebug-canlaunchorattach-method.md
  docs/framework/unmanaged-api/debugging/icordebug-createprocess-method.md
Labels: :books: Area - .NET Framework Guide

#18252 Clarify blocking collection details, modernize C#.
  docs/standard/collections/thread-safe/how-to-use-foreach-to-remove.md
  samples/snippets/csharp/VS_Snippets_Misc/cds_blockingcollection/cs/example03.cs
Labels: :books: Area - .NET Guide

#18265 Add a note about APP_PATHS not being populated by default
  docs/core/dependency-loading/default-probing.md
Labels: :books: Area - .NET Core Guide

#18268 Add CancelAsync breaking change
  docs/core/compatibility/fx-core.md
  docs/core/compatibility/networking.md
  includes/core-changes/networking/2.0/behavior-change-webclient-cancelasync.md
Labels: :books: Area - .NET Core Guide

#18272 Add breaking change for SSE comparison methods
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/corefx.md
  includes/core-changes/corefx/5.0/sse-comparegreaterthan-intrinsics.md
Labels: :books: Area - .NET Core Guide

#17971 Corrections to issues raised by Cecil Phillip
  docs/architecture/cloud-native/application-bundles.md
  docs/architecture/cloud-native/centralized-configuration.md
  docs/architecture/cloud-native/combine-containers-serverless-approaches.md
  docs/architecture/cloud-native/communication-patterns.md
  docs/architecture/cloud-native/definition.md
  docs/architecture/cloud-native/deploy-containers-azure.md
  docs/architecture/cloud-native/deploy-eshoponcontainers-azure.md
  docs/architecture/cloud-native/front-end-communication.md
  docs/architecture/cloud-native/grpc.md
  docs/architecture/cloud-native/introduce-eshoponcontainers-reference-app.md
  docs/architecture/cloud-native/leverage-containers-orchestrators.md
  docs/architecture/cloud-native/map-eshoponcontainers-azure-services.md
  docs/architecture/cloud-native/service-to-service-communication.md
  docs/architecture/cloud-native/summary.md
  docs/architecture/cloud-native/toc.yml
Labels: :book: guide - Cloud Native, :books: Area - .NET Architecture Guide

#18166 Update introduction.md
  docs/architecture/cloud-native/introduction.md
Labels: :book: guide - Cloud Native, :books: Area - .NET Architecture Guide

#18169 Update definition.md
  docs/architecture/cloud-native/definition.md
Labels: :book: guide - Cloud Native, :books: Area - .NET Architecture Guide

#18267 Sales tax typo in csharp-8.md / ComputeSalesTax()
  docs/csharp/whats-new/csharp-8.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# What's New, :sparkles: 1st-time docs contributor!

#18270 Couple typos
  docs/csharp/roslyn-sdk/tutorials/how-to-write-csharp-analyzer-code-fix.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - Roslyn APIs

#18274 Collapse relative links, Part 3
  docs/framework/unmanaged-api/debugging/icordebug-debugactiveprocess-method.md
  docs/framework/unmanaged-api/debugging/icordebug-enumerateprocesses-method.md
  docs/framework/unmanaged-api/debugging/icordebug-getprocess-method.md
  docs/framework/unmanaged-api/debugging/icordebug-initialize-method.md
  docs/framework/unmanaged-api/debugging/icordebug-interface.md
  docs/framework/unmanaged-api/debugging/icordebug-setmanagedhandler-method.md
  docs/framework/unmanaged-api/debugging/icordebug-setunmanagedhandler-method.md
  docs/framework/unmanaged-api/debugging/icordebug-terminate-method.md
  docs/framework/unmanaged-api/debugging/icordebugappdomain-attach-method.md
  docs/framework/unmanaged-api/debugging/icordebugappdomain-enumerateassemblies-method.md
  docs/framework/unmanaged-api/debugging/icordebugappdomain-enumeratebreakpoints-method.md
  docs/framework/unmanaged-api/debugging/icordebugappdomain-enumeratesteppers-method.md
  docs/framework/unmanaged-api/debugging/icordebugappdomain-getid-method.md
  docs/framework/unmanaged-api/debugging/icordebugappdomain-getmodulefrommetadatainterface-method.md
  docs/framework/unmanaged-api/debugging/icordebugappdomain-getname-method.md
  docs/framework/unmanaged-api/debugging/icordebugappdomain-getobject-method.md
  docs/framework/unmanaged-api/debugging/icordebugappdomain-getprocess-method.md
  docs/framework/unmanaged-api/debugging/icordebugappdomain-interface.md
  docs/framework/unmanaged-api/debugging/icordebugappdomain-isattached-method.md
  docs/framework/unmanaged-api/debugging/icordebugappdomain2-getarrayorpointertype-method.md
  docs/framework/unmanaged-api/debugging/icordebugappdomain2-getfunctionpointertype-method.md
  docs/framework/unmanaged-api/debugging/icordebugappdomain2-interface.md
  docs/framework/unmanaged-api/debugging/icordebugappdomain4-getobjectforccw-method.md
  docs/framework/unmanaged-api/debugging/icordebugappdomain4-interface.md
  docs/framework/unmanaged-api/debugging/icordebugappdomainenum-interface.md
  docs/framework/unmanaged-api/debugging/icordebugappdomainenum-next-method.md
  docs/framework/unmanaged-api/debugging/icordebugarrayvalue-getbaseindicies-method.md
  docs/framework/unmanaged-api/debugging/icordebugarrayvalue-getcount-method.md
  docs/framework/unmanaged-api/debugging/icordebugarrayvalue-getdimensions-method.md
  docs/framework/unmanaged-api/debugging/icordebugarrayvalue-getelement-method.md
  docs/framework/unmanaged-api/debugging/icordebugarrayvalue-getelementatposition-method.md
  docs/framework/unmanaged-api/debugging/icordebugarrayvalue-getelementtype-method.md
  docs/framework/unmanaged-api/debugging/icordebugarrayvalue-getrank-method.md
  docs/framework/unmanaged-api/debugging/icordebugarrayvalue-hasbaseindicies-method.md
  docs/framework/unmanaged-api/debugging/icordebugarrayvalue-interface.md
  docs/framework/unmanaged-api/debugging/icordebugassembly-enumeratemodules-method.md
  docs/framework/unmanaged-api/debugging/icordebugassembly-getappdomain-method.md
  docs/framework/unmanaged-api/debugging/icordebugassembly-getname-method.md
  docs/framework/unmanaged-api/debugging/icordebugassembly-getprocess-method.md
  docs/framework/unmanaged-api/debugging/icordebugassembly-interface.md
  docs/framework/unmanaged-api/debugging/icordebugassembly2-interface.md
  docs/framework/unmanaged-api/debugging/icordebugassembly2-isfullytrusted-method.md
  docs/framework/unmanaged-api/debugging/icordebugassembly3-enumeratecontainedassemblies-method.md
  docs/framework/unmanaged-api/debugging/icordebugassembly3-getcontainerassembly-method.md
  docs/framework/unmanaged-api/debugging/icordebugassembly3-interface.md
  docs/framework/unmanaged-api/debugging/icordebugassemblyenum-interface.md
  docs/framework/unmanaged-api/debugging/icordebugassemblyenum-next-method.md
  docs/framework/unmanaged-api/debugging/icordebugblockingobjectenum-interface.md
  docs/framework/unmanaged-api/debugging/icordebugblockingobjectenum-next-method.md
  docs/framework/unmanaged-api/debugging/icordebugboxvalue-getobject-method.md
Labels: :books: Area - .NET Framework Guide

#18282 Collapse relative links, Part 4
  docs/framework/unmanaged-api/debugging/icordebugboxvalue-interface.md
  docs/framework/unmanaged-api/debugging/icordebugbreakpoint-activate-method.md
  docs/framework/unmanaged-api/debugging/icordebugbreakpoint-interface.md
  docs/framework/unmanaged-api/debugging/icordebugbreakpoint-isactive-method.md
  docs/framework/unmanaged-api/debugging/icordebugbreakpointenum-interface.md
  docs/framework/unmanaged-api/debugging/icordebugbreakpointenum-next-method.md
  docs/framework/unmanaged-api/debugging/icordebugchain-enumerateframes-method.md
  docs/framework/unmanaged-api/debugging/icordebugchain-getactiveframe-method.md
  docs/framework/unmanaged-api/debugging/icordebugchain-getcallee-method.md
  docs/framework/unmanaged-api/debugging/icordebugchain-getcaller-method.md
  docs/framework/unmanaged-api/debugging/icordebugchain-getnext-method.md
  docs/framework/unmanaged-api/debugging/icordebugchain-getprevious-method.md
  docs/framework/unmanaged-api/debugging/icordebugchain-getreason-method.md
  docs/framework/unmanaged-api/debugging/icordebugchain-getregisterset-method.md
  docs/framework/unmanaged-api/debugging/icordebugchain-getstackrange-method.md
  docs/framework/unmanaged-api/debugging/icordebugchain-getthread-method.md
  docs/framework/unmanaged-api/debugging/icordebugchain-interface.md
  docs/framework/unmanaged-api/debugging/icordebugchain-ismanaged-method.md
  docs/framework/unmanaged-api/debugging/icordebugchainenum-interface.md
  docs/framework/unmanaged-api/debugging/icordebugchainenum-next-method.md
  docs/framework/unmanaged-api/debugging/icordebugclass-getmodule-method.md
  docs/framework/unmanaged-api/debugging/icordebugclass-getstaticfieldvalue-method.md
  docs/framework/unmanaged-api/debugging/icordebugclass-gettoken-method.md
  docs/framework/unmanaged-api/debugging/icordebugclass-interface.md
  docs/framework/unmanaged-api/debugging/icordebugclass2-getparameterizedtype-method.md
  docs/framework/unmanaged-api/debugging/icordebugclass2-interface.md
  docs/framework/unmanaged-api/debugging/icordebugclass2-setjmcstatus-method.md
  docs/framework/unmanaged-api/debugging/icordebugcode-createbreakpoint-method.md
  docs/framework/unmanaged-api/debugging/icordebugcode-getaddress-method.md
  docs/framework/unmanaged-api/debugging/icordebugcode-getcode-method.md
  docs/framework/unmanaged-api/debugging/icordebugcode-getfunction-method.md
  docs/framework/unmanaged-api/debugging/icordebugcode-getiltonativemapping-method.md
  docs/framework/unmanaged-api/debugging/icordebugcode-interface1.md
  docs/framework/unmanaged-api/debugging/icordebugcode2-getcompilerflags-method.md
  docs/framework/unmanaged-api/debugging/icordebugcode2-interface.md
  docs/framework/unmanaged-api/debugging/icordebugcode3-getreturnvalueliveoffset-method.md
  docs/framework/unmanaged-api/debugging/icordebugcode3-interface.md
  docs/framework/unmanaged-api/debugging/icordebugcode4-enumeratevariablehomes-method.md
  docs/framework/unmanaged-api/debugging/icordebugcode4-interface.md
  docs/framework/unmanaged-api/debugging/icordebugcodeenum-interface.md
  docs/framework/unmanaged-api/debugging/icordebugcomobjectvalue-getcachedinterfacepointers-method.md
  docs/framework/unmanaged-api/debugging/icordebugcomobjectvalue-getcachedinterfacetypes-method.md
  docs/framework/unmanaged-api/debugging/icordebugcomobjectvalue-interface.md
  docs/framework/unmanaged-api/debugging/icordebugcontext-interface.md
  docs/framework/unmanaged-api/debugging/icordebugcontroller-continue-method.md
  docs/framework/unmanaged-api/debugging/icordebugcontroller-detach-method.md
  docs/framework/unmanaged-api/debugging/icordebugcontroller-enumeratethreads-method.md
  docs/framework/unmanaged-api/debugging/icordebugcontroller-hasqueuedcallbacks-method.md
  docs/framework/unmanaged-api/debugging/icordebugcontroller-interface.md
  docs/framework/unmanaged-api/debugging/icordebugcontroller-isrunning-method.md
Labels: :books: Area - .NET Framework Guide

#18199 Add Alpine prerequisites to the dependencies document
  docs/core/install/dependencies.md
Labels: :books: Area - .NET Core Guide

#18273 Update Azure URL
  docs/spark/tutorials/databricks-deployment.md
  docs/spark/tutorials/hdinsight-deployment.md
Labels: :books: Area - .NET for Apache Spark Guide

#18281 Fix link
  docs/core/tools/dotnet-nuget-push.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#18238 Number the examples
  docs/framework/data/adonet/ef/language-reference/compiled-queries-linq-to-entities.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - Data Access

#18150 Clarified wording for dependency-version behavior.
  docs/standard/library-guidance/dependencies.md
Labels: :books: Area - .NET Guide

#18286 Fixing bad phrasing
  docs/architecture/modern-web-apps-azure/architectural-principles.md
Labels: :book: guide - ASP.NET Core web apps, :books: Area - .NET Architecture Guide

#18290 Small mistake fixes
  docs/csharp/roslyn-sdk/compiler-api-model.md
  docs/csharp/roslyn-sdk/syntax-visualizer.md
  docs/csharp/roslyn-sdk/work-with-syntax.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - Roslyn APIs

#18278 Add guidance for indicating nullability on DTOs
  docs/csharp/nullable-migration-strategies.md
Labels: :books: Area - C# Guide, :sparkles: 1st-time docs contributor!

#18302 Collapse relative links, Part 5
  docs/framework/unmanaged-api/debugging/icordebugcontroller-setallthreadsdebugstate-method.md
  docs/framework/unmanaged-api/debugging/icordebugcontroller-stop-method.md
  docs/framework/unmanaged-api/debugging/icordebugcontroller-terminate-method.md
  docs/framework/unmanaged-api/debugging/icordebugdatatarget-getplatform-method.md
  docs/framework/unmanaged-api/debugging/icordebugdatatarget-getthreadcontext-method.md
  docs/framework/unmanaged-api/debugging/icordebugdatatarget-interface.md
  docs/framework/unmanaged-api/debugging/icordebugdatatarget-readvirtual-method.md
  docs/framework/unmanaged-api/debugging/icordebugdatatarget2-createvirtualunwinder-method.md
  docs/framework/unmanaged-api/debugging/icordebugdatatarget2-enumeratethreadids-method.md
  docs/framework/unmanaged-api/debugging/icordebugdatatarget2-getimagefrompointer-method.md
  docs/framework/unmanaged-api/debugging/icordebugdatatarget2-getimagelocation-method.md
  docs/framework/unmanaged-api/debugging/icordebugdatatarget2-getsymbolproviderforimage-method.md
  docs/framework/unmanaged-api/debugging/icordebugdatatarget2-interface.md
  docs/framework/unmanaged-api/debugging/icordebugdatatarget3-getloadedmodules-method.md
  docs/framework/unmanaged-api/debugging/icordebugdatatarget3-interface.md
  docs/framework/unmanaged-api/debugging/icordebugdebugevent-geteventkind-method.md
  docs/framework/unmanaged-api/debugging/icordebugdebugevent-getthread-method.md
  docs/framework/unmanaged-api/debugging/icordebugdebugevent-interface.md
  docs/framework/unmanaged-api/debugging/icordebugenum-clone-method.md
  docs/framework/unmanaged-api/debugging/icordebugenum-getcount-method.md
  docs/framework/unmanaged-api/debugging/icordebugenum-interface1.md
  docs/framework/unmanaged-api/debugging/icordebugenum-reset-method.md
  docs/framework/unmanaged-api/debugging/icordebugenum-skip-method.md
  docs/framework/unmanaged-api/debugging/icordebugeval-abort-method.md
  docs/framework/unmanaged-api/debugging/icordebugeval-callfunction-method.md
  docs/framework/unmanaged-api/debugging/icordebugeval-createvalue-method.md
  docs/framework/unmanaged-api/debugging/icordebugeval-getresult-method.md
  docs/framework/unmanaged-api/debugging/icordebugeval-getthread-method.md
  docs/framework/unmanaged-api/debugging/icordebugeval-interface.md
  docs/framework/unmanaged-api/debugging/icordebugeval-isactive-method.md
  docs/framework/unmanaged-api/debugging/icordebugeval-newarray-method.md
  docs/framework/unmanaged-api/debugging/icordebugeval-newobject-method.md
  docs/framework/unmanaged-api/debugging/icordebugeval-newobjectnoconstructor-method.md
  docs/framework/unmanaged-api/debugging/icordebugeval-newstring-method.md
  docs/framework/unmanaged-api/debugging/icordebugeval2-callparameterizedfunction-method.md
  docs/framework/unmanaged-api/debugging/icordebugeval2-createvaluefortype-method.md
  docs/framework/unmanaged-api/debugging/icordebugeval2-interface.md
  docs/framework/unmanaged-api/debugging/icordebugeval2-newparameterizedarray-method.md
  docs/framework/unmanaged-api/debugging/icordebugeval2-newparameterizedobject-method.md
  docs/framework/unmanaged-api/debugging/icordebugeval2-newparameterizedobjectnoconstructor-method.md
  docs/framework/unmanaged-api/debugging/icordebugeval2-newstringwithlength-method.md
  docs/framework/unmanaged-api/debugging/icordebugeval2-rudeabort-method.md
  docs/framework/unmanaged-api/debugging/icordebugexceptiondebugevent-getflags-method.md
  docs/framework/unmanaged-api/debugging/icordebugexceptiondebugevent-getnativeip-method.md
  docs/framework/unmanaged-api/debugging/icordebugexceptiondebugevent-getstackpointer-method.md
  docs/framework/unmanaged-api/debugging/icordebugexceptiondebugevent-interface.md
  docs/framework/unmanaged-api/debugging/icordebugexceptionobjectcallstackenum-interface.md
  docs/framework/unmanaged-api/debugging/icordebugexceptionobjectcallstackenum-next-method.md
  docs/framework/unmanaged-api/debugging/icordebugexceptionobjectvalue-enumerateexceptioncallstack-method.md
  docs/framework/unmanaged-api/debugging/icordebugexceptionobjectvalue-interface.md
Labels: :books: Area - .NET Framework Guide

#18296 Update dotnet-vstest.md
  docs/core/tools/dotnet-vstest.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#18295 Update parameters with recent changes
  docs/core/tools/dotnet-test.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#18258 Fix acronym casing
  docs/framework/network-programming/using-udp-services.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - NCL

#18306 Update manifest breaking change
  docs/core/compatibility/2.2-3.0.md
  docs/core/compatibility/2.2-3.1.md
  docs/core/compatibility/fx-core.md
  docs/core/compatibility/msbuild.md
  includes/core-changes/msbuild/3.0/resource-manifest-name.md
Labels: :books: Area - .NET Core Guide

#18311 Collapse relative links, Part 6
  docs/framework/unmanaged-api/debugging/icordebugframe-createstepper-method.md
  docs/framework/unmanaged-api/debugging/icordebugframe-getcallee-method.md
  docs/framework/unmanaged-api/debugging/icordebugframe-getcaller-method.md
  docs/framework/unmanaged-api/debugging/icordebugframe-getchain-method.md
  docs/framework/unmanaged-api/debugging/icordebugframe-getcode-method.md
  docs/framework/unmanaged-api/debugging/icordebugframe-getfunction-method.md
  docs/framework/unmanaged-api/debugging/icordebugframe-getfunctiontoken-method.md
  docs/framework/unmanaged-api/debugging/icordebugframe-getstackrange-method.md
  docs/framework/unmanaged-api/debugging/icordebugframe-interface.md
  docs/framework/unmanaged-api/debugging/icordebugframeenum-interface.md
  docs/framework/unmanaged-api/debugging/icordebugframeenum-next-method.md
  docs/framework/unmanaged-api/debugging/icordebugfunction-createbreakpoint-method.md
  docs/framework/unmanaged-api/debugging/icordebugfunction-getclass-method.md
  docs/framework/unmanaged-api/debugging/icordebugfunction-getcurrentversionnumber-method.md
  docs/framework/unmanaged-api/debugging/icordebugfunction-getilcode-method.md
  docs/framework/unmanaged-api/debugging/icordebugfunction-getlocalvarsigtoken-method.md
  docs/framework/unmanaged-api/debugging/icordebugfunction-getmodule-method.md
  docs/framework/unmanaged-api/debugging/icordebugfunction-getnativecode-method.md
  docs/framework/unmanaged-api/debugging/icordebugfunction-gettoken-method.md
  docs/framework/unmanaged-api/debugging/icordebugfunction-interface1.md
  docs/framework/unmanaged-api/debugging/icordebugfunction2-getjmcstatus-method.md
  docs/framework/unmanaged-api/debugging/icordebugfunction2-getversionnumber-method.md
  docs/framework/unmanaged-api/debugging/icordebugfunction2-interface.md
  docs/framework/unmanaged-api/debugging/icordebugfunction2-setjmcstatus-method.md
  docs/framework/unmanaged-api/debugging/icordebugfunction3-getactiverejitrequestilcode-method.md
  docs/framework/unmanaged-api/debugging/icordebugfunction3-interface.md
  docs/framework/unmanaged-api/debugging/icordebugfunctionbreakpoint-getfunction-method.md
  docs/framework/unmanaged-api/debugging/icordebugfunctionbreakpoint-getoffset-method.md
  docs/framework/unmanaged-api/debugging/icordebugfunctionbreakpoint-interface.md
  docs/framework/unmanaged-api/debugging/icordebuggcreferenceenum-interface.md
  docs/framework/unmanaged-api/debugging/icordebuggcreferenceenum-next-method.md
  docs/framework/unmanaged-api/debugging/icordebuggenericvalue-getvalue-method.md
  docs/framework/unmanaged-api/debugging/icordebuggenericvalue-interface.md
  docs/framework/unmanaged-api/debugging/icordebuggenericvalue-setvalue-method.md
  docs/framework/unmanaged-api/debugging/icordebughandlevalue-dispose-method.md
  docs/framework/unmanaged-api/debugging/icordebughandlevalue-gethandletype-method.md
  docs/framework/unmanaged-api/debugging/icordebughandlevalue-interface.md
  docs/framework/unmanaged-api/debugging/icordebugheapenum-interface.md
  docs/framework/unmanaged-api/debugging/icordebugheapenum-next-method.md
  docs/framework/unmanaged-api/debugging/icordebugheapsegmentenum-interface.md
  docs/framework/unmanaged-api/debugging/icordebugheapsegmentenum-next-method.md
  docs/framework/unmanaged-api/debugging/icordebugheapvalue-createrelocbreakpoint-method.md
  docs/framework/unmanaged-api/debugging/icordebugheapvalue-interface.md
  docs/framework/unmanaged-api/debugging/icordebugheapvalue-isvalid-method.md
  docs/framework/unmanaged-api/debugging/icordebugheapvalue2-createhandle-method.md
  docs/framework/unmanaged-api/debugging/icordebugheapvalue2-interface1.md
  docs/framework/unmanaged-api/debugging/icordebugheapvalue3-getmonitoreventwaitlist-method.md
  docs/framework/unmanaged-api/debugging/icordebugheapvalue3-getthreadowningmonitorlock-method.md
  docs/framework/unmanaged-api/debugging/icordebugheapvalue3-interface.md
  docs/framework/unmanaged-api/debugging/icordebugilcode-getehclauses-method.md
Labels: :books: Area - .NET Framework Guide

#18323 Acrolinx 5/8
  docs/core/tools/project-json-to-csproj.md
  docs/csharp/roslyn-sdk/work-with-syntax.md
  docs/framework/data/adonet/ef/language-reference/compiled-queries-linq-to-entities.md
  docs/framework/unmanaged-api/debugging/createdebugginginterfacefromversion-function-for-silverlight.md
  docs/standard/analyzers/portability-analyzer.md
  docs/standard/collections/comparisons-and-sorts-within-collections.md
Labels: :books: Area - .NET Core Guide, :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :books: Area - C# Guide, :card_file_box: Technology - CLI, :card_file_box: Technology - Data Access, :card_file_box: Technology - Roslyn APIs

#18343 Operators: mention char type and numeric promotions for arithmetic operators
  docs/csharp/language-reference/builtin-types/char.md
  docs/csharp/language-reference/operators/arithmetic-operators.md
  docs/csharp/language-reference/operators/comparison-operators.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#18297 fix link to structs
  docs/csharp/basic-types.md
Labels: :books: Area - C# Guide

#18301 Clarify requirement of virtual keyword (#18277)
  docs/csharp/programming-guide/classes-and-structs/versioning-with-the-override-and-new-keywords.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#18303 Update to Console WebApiClient page
  docs/csharp/tutorials/console-webapiclient.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#18329 Collapse relative links, Part 7
  docs/framework/unmanaged-api/debugging/icordebugilcode-interface.md
  docs/framework/unmanaged-api/debugging/icordebugilcode2-getinstrumentedilmap-method.md
  docs/framework/unmanaged-api/debugging/icordebugilcode2-getlocalvarsigtoken-method.md
  docs/framework/unmanaged-api/debugging/icordebugilcode2-interface.md
  docs/framework/unmanaged-api/debugging/icordebugilframe-cansetip-method.md
  docs/framework/unmanaged-api/debugging/icordebugilframe-enumeratearguments-method.md
  docs/framework/unmanaged-api/debugging/icordebugilframe-enumeratelocalvariables-method.md
  docs/framework/unmanaged-api/debugging/icordebugilframe-getargument-method.md
  docs/framework/unmanaged-api/debugging/icordebugilframe-getip-method.md
  docs/framework/unmanaged-api/debugging/icordebugilframe-getlocalvariable-method.md
  docs/framework/unmanaged-api/debugging/icordebugilframe-interface.md
  docs/framework/unmanaged-api/debugging/icordebugilframe-setip-method.md
  docs/framework/unmanaged-api/debugging/icordebugilframe2-enumeratetypeparameters-method.md
  docs/framework/unmanaged-api/debugging/icordebugilframe2-interface.md
  docs/framework/unmanaged-api/debugging/icordebugilframe2-remapfunction-method.md
  docs/framework/unmanaged-api/debugging/icordebugilframe3-getreturnvalueforiloffset-method.md
  docs/framework/unmanaged-api/debugging/icordebugilframe3-interface.md
  docs/framework/unmanaged-api/debugging/icordebugilframe4-enumeratelocalvariablesex-method.md
  docs/framework/unmanaged-api/debugging/icordebugilframe4-getcodeex-method.md
  docs/framework/unmanaged-api/debugging/icordebugilframe4-getlocalvariableex-method.md
  docs/framework/unmanaged-api/debugging/icordebugilframe4-interface.md
  docs/framework/unmanaged-api/debugging/icordebuginstancefieldsymbol-getname-method.md
  docs/framework/unmanaged-api/debugging/icordebuginstancefieldsymbol-getoffset-method.md
  docs/framework/unmanaged-api/debugging/icordebuginstancefieldsymbol-getsize-method.md
  docs/framework/unmanaged-api/debugging/icordebuginstancefieldsymbol-interface.md
  docs/framework/unmanaged-api/debugging/icordebuginternalframe-getframetype-method.md
  docs/framework/unmanaged-api/debugging/icordebuginternalframe-interface.md
  docs/framework/unmanaged-api/debugging/icordebuginternalframe2-getframeaddress-method.md
  docs/framework/unmanaged-api/debugging/icordebuginternalframe2-interface.md
  docs/framework/unmanaged-api/debugging/icordebuginternalframe2-isclosertoleaf-method.md
  docs/framework/unmanaged-api/debugging/icordebugloadedmodule-getbaseaddress-method.md
  docs/framework/unmanaged-api/debugging/icordebugloadedmodule-getname-method.md
  docs/framework/unmanaged-api/debugging/icordebugloadedmodule-getsize-method.md
  docs/framework/unmanaged-api/debugging/icordebugloadedmodule-interface.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-break-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-breakpoint-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-breakpointseterror-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-controlctrap-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-createappdomain-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-createprocess-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-createthread-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-debuggererror-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-editandcontinueremap-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-evalcomplete-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-evalexception-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-exception-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-exitappdomain-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-exitprocess-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-exitthread-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-interface.md
Labels: :books: Area - .NET Framework Guide

#18200 Update dotnet-install-scripts
  docs/core/tools/dotnet-install-script.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#18336 Collapse relative links, Part 8
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-loadassembly-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-loadclass-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-loadmodule-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-logmessage-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-logswitch-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-namechange-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-stepcomplete-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-unloadassembly-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-unloadclass-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-unloadmodule-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback-updatemodulesymbols-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback2-changeconnection-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback2-createconnection-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback2-destroyconnection-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback2-exception-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback2-exceptionunwind-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback2-functionremapcomplete-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback2-functionremapopportunity-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback2-interface.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback2-mdanotification-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback3-customnotification-method.md
  docs/framework/unmanaged-api/debugging/icordebugmanagedcallback3-interface.md
  docs/framework/unmanaged-api/debugging/icordebugmda-getdescription-method.md
  docs/framework/unmanaged-api/debugging/icordebugmda-getflags-method.md
  docs/framework/unmanaged-api/debugging/icordebugmda-getname-method.md
  docs/framework/unmanaged-api/debugging/icordebugmda-getosthreadid-method.md
  docs/framework/unmanaged-api/debugging/icordebugmda-getxml-method.md
  docs/framework/unmanaged-api/debugging/icordebugmda-interface.md
  docs/framework/unmanaged-api/debugging/icordebugmemorybuffer-getsize-method.md
  docs/framework/unmanaged-api/debugging/icordebugmemorybuffer-getstartaddress-method.md
  docs/framework/unmanaged-api/debugging/icordebugmemorybuffer-interface.md
  docs/framework/unmanaged-api/debugging/icordebugmergedassemblyrecord-getculture-method.md
  docs/framework/unmanaged-api/debugging/icordebugmergedassemblyrecord-getindex-method.md
  docs/framework/unmanaged-api/debugging/icordebugmergedassemblyrecord-getpublickey-method.md
  docs/framework/unmanaged-api/debugging/icordebugmergedassemblyrecord-getpublickeytoken-method.md
  docs/framework/unmanaged-api/debugging/icordebugmergedassemblyrecord-getsimplename-method.md
  docs/framework/unmanaged-api/debugging/icordebugmergedassemblyrecord-getversion-method.md
  docs/framework/unmanaged-api/debugging/icordebugmergedassemblyrecord-interface.md
  docs/framework/unmanaged-api/debugging/icordebugmetadatalocator-getmetadata-method.md
  docs/framework/unmanaged-api/debugging/icordebugmetadatalocator-interface.md
  docs/framework/unmanaged-api/debugging/icordebugmodule-enableclassloadcallbacks-method.md
  docs/framework/unmanaged-api/debugging/icordebugmodule-enablejitdebugging-method.md
  docs/framework/unmanaged-api/debugging/icordebugmodule-getassembly-method.md
  docs/framework/unmanaged-api/debugging/icordebugmodule-getbaseaddress-method.md
  docs/framework/unmanaged-api/debugging/icordebugmodule-getclassfromtoken-method.md
  docs/framework/unmanaged-api/debugging/icordebugmodule-geteditandcontinuesnapshot-method.md
  docs/framework/unmanaged-api/debugging/icordebugmodule-getfunctionfromtoken-method.md
  docs/framework/unmanaged-api/debugging/icordebugmodule-getglobalvariablevalue-method.md
  docs/framework/unmanaged-api/debugging/icordebugmodule-getmetadatainterface-method.md
  docs/framework/unmanaged-api/debugging/icordebugmodule-getname-method.md
Labels: :books: Area - .NET Framework Guide

#18337 Collapse relative links, Part 9
  docs/framework/unmanaged-api/debugging/icordebugmodule-getprocess-method.md
  docs/framework/unmanaged-api/debugging/icordebugmodule-getsize-method.md
  docs/framework/unmanaged-api/debugging/icordebugmodule-gettoken-method.md
  docs/framework/unmanaged-api/debugging/icordebugmodule-interface.md
  docs/framework/unmanaged-api/debugging/icordebugmodule-isdynamic-method.md
  docs/framework/unmanaged-api/debugging/icordebugmodule-isinmemory-method.md
  docs/framework/unmanaged-api/debugging/icordebugmodule2-applychanges-method.md
  docs/framework/unmanaged-api/debugging/icordebugmodule2-getjitcompilerflags-method.md
  docs/framework/unmanaged-api/debugging/icordebugmodule2-interface.md
  docs/framework/unmanaged-api/debugging/icordebugmodule2-resolveassembly-method.md
  docs/framework/unmanaged-api/debugging/icordebugmodule2-setjitcompilerflags-method.md
  docs/framework/unmanaged-api/debugging/icordebugmodule2-setjmcstatus-method.md
  docs/framework/unmanaged-api/debugging/icordebugmodule3-createreaderforinmemorysymbols-method.md
  docs/framework/unmanaged-api/debugging/icordebugmodule3-interface.md
  docs/framework/unmanaged-api/debugging/icordebugmodulebreakpoint-getmodule-method.md
  docs/framework/unmanaged-api/debugging/icordebugmodulebreakpoint-interface.md
  docs/framework/unmanaged-api/debugging/icordebugmoduledebugevent-getmodule-method.md
  docs/framework/unmanaged-api/debugging/icordebugmoduledebugevent-interface.md
  docs/framework/unmanaged-api/debugging/icordebugmoduleenum-interface.md
  docs/framework/unmanaged-api/debugging/icordebugmoduleenum-next-method.md
  docs/framework/unmanaged-api/debugging/icordebugmutabledatatarget-continuestatuschanged-method.md
  docs/framework/unmanaged-api/debugging/icordebugmutabledatatarget-interface.md
  docs/framework/unmanaged-api/debugging/icordebugmutabledatatarget-setthreadcontext-method.md
  docs/framework/unmanaged-api/debugging/icordebugmutabledatatarget-writevirtual-method.md
  docs/framework/unmanaged-api/debugging/icordebugnativeframe-cansetip-method.md
  docs/framework/unmanaged-api/debugging/icordebugnativeframe-getip-method.md
  docs/framework/unmanaged-api/debugging/icordebugnativeframe-getlocaldoubleregistervalue-method.md
  docs/framework/unmanaged-api/debugging/icordebugnativeframe-getlocalmemoryregistervalue-method.md
  docs/framework/unmanaged-api/debugging/icordebugnativeframe-getlocalmemoryvalue-method.md
  docs/framework/unmanaged-api/debugging/icordebugnativeframe-getlocalregistermemoryvalue-method.md
  docs/framework/unmanaged-api/debugging/icordebugnativeframe-getlocalregistervalue-method.md
  docs/framework/unmanaged-api/debugging/icordebugnativeframe-getregisterset-method.md
  docs/framework/unmanaged-api/debugging/icordebugnativeframe-interface.md
  docs/framework/unmanaged-api/debugging/icordebugnativeframe-setip-method.md
  docs/framework/unmanaged-api/debugging/icordebugnativeframe2-getstackparametersize-method.md
  docs/framework/unmanaged-api/debugging/icordebugnativeframe2-interface.md
  docs/framework/unmanaged-api/debugging/icordebugnativeframe2-ischild-method.md
  docs/framework/unmanaged-api/debugging/icordebugnativeframe2-ismatchingparentframe-method.md
  docs/framework/unmanaged-api/debugging/icordebugobjectenum-interface.md
  docs/framework/unmanaged-api/debugging/icordebugobjectenum-next-method.md
  docs/framework/unmanaged-api/debugging/icordebugobjectvalue-getclass-method.md
  docs/framework/unmanaged-api/debugging/icordebugobjectvalue-getfieldvalue-method.md
  docs/framework/unmanaged-api/debugging/icordebugobjectvalue-interface.md
  docs/framework/unmanaged-api/debugging/icordebugobjectvalue-isvalueclass-method.md
  docs/framework/unmanaged-api/debugging/icordebugobjectvalue2-interface.md
  docs/framework/unmanaged-api/debugging/icordebugprocess-clearcurrentexception-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess-enablelogmessages-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess-enumerateappdomains-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess-gethandle-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess-gethelperthreadid-method.md
Labels: :books: Area - .NET Framework Guide

#18342 Collapse relative links, Part 10
  docs/framework/unmanaged-api/debugging/icordebugprocess-getid-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess-getthread-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess-getthreadcontext-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess-interface.md
  docs/framework/unmanaged-api/debugging/icordebugprocess-isossuspended-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess-istransitionstub-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess-modifylogswitch-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess-readmemory-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess-setthreadcontext-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess-threadforfibercookie-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess-writememory-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess2-clearunmanagedbreakpoint-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess2-getdesiredngencompilerflags-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess2-getreferencevaluefromgchandle-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess2-getthreadfortaskid-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess2-getversion-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess2-interface1.md
  docs/framework/unmanaged-api/debugging/icordebugprocess2-setdesiredngencompilerflags-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess2-setunmanagedbreakpoint-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess3-interface.md
  docs/framework/unmanaged-api/debugging/icordebugprocess3-setenablecustomnotification-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess4-interface.md
  docs/framework/unmanaged-api/debugging/icordebugprocess4-processstatechanged-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess5-enablengenpolicy-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess5-enumerategcreferences-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess5-enumeratehandles-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess5-enumerateheap-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess5-enumerateheapregions-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess5-getarraylayout-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess5-getgcheapinformation-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess5-getobject-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess5-gettypefields-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess5-gettypefortypeid-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess5-gettypeid-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess5-gettypelayout-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess5-interface.md
  docs/framework/unmanaged-api/debugging/icordebugprocess6-decodeevent-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess6-enablevirtualmodulesplitting-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess6-getcode-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess6-getexportstepinfo-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess6-interface.md
  docs/framework/unmanaged-api/debugging/icordebugprocess6-markdebuggerattached-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess6-processstatechanged-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess7-interface.md
  docs/framework/unmanaged-api/debugging/icordebugprocess7-setwriteablemetadataupdatemode-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess8-enableexceptioncallbacksoutsideofmycode-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess8-interface.md
  docs/framework/unmanaged-api/debugging/icordebugprocessenum-interface.md
  docs/framework/unmanaged-api/debugging/icordebugprocessenum-next-method.md
  docs/framework/unmanaged-api/debugging/icordebugreferencevalue-dereference-method.md
Labels: :books: Area - .NET Framework Guide

#18338 fix: automate-training-with-cli.md
  docs/machine-learning/automate-training-with-cli.md
Labels: :books: Area - ML.NET Guide

#18213 Broken links and acrolinx
  docs/fsharp/style-guide/component-design-guidelines.md
  docs/standard/class-libraries.md
Labels: :books: Area - .NET Guide, :books: Area - F# Guide

#17743 Update source link page with deterministic builds
  docs/standard/library-guidance/sourcelink.md
Labels: :books: Area - .NET Guide

#18285 add missing global attribs to toc
  docs/csharp/toc.yml
Labels: :books: Area - C# Guide

#18067 .NET for Spark: update landing page
  docs/spark/index.yml
Labels: :books: Area - .NET for Apache Spark Guide

#18328 Miscellaneous fixes
  .openpublishing.redirection.json
  docs/core/porting/winforms.md
  docs/core/project-sdk/overview.md
  docs/framework/wpf/advanced/globalization-and-localization-how-to-topics.md
  docs/framework/wpf/advanced/globalization-and-localization.md
  docs/framework/wpf/advanced/how-to-localize-an-application.md
  docs/framework/wpf/advanced/how-to-use-resources-in-localizable-applications.md
  docs/framework/wpf/advanced/toc.yml
Labels: :books: Area - .NET Core Guide, :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#18307 Add new resource naming article
  docs/core/project-sdk/msbuild-props.md
  docs/core/project-sdk/overview.md
  docs/core/resources/manifest-file-names.md
  docs/core/toc.yml
  docs/core/tools/dependencies.md
Labels: :books: Area - .NET Core Guide

#18355 Fix incorrect code sample to correctly update AppState.
  docs/architecture/blazor-for-web-forms-developers/components.md
Labels: :book: guide - Blazor, :books: Area - .NET Architecture Guide

#18351 1657393: Add missing descriptions (1 of 2)
  docs/standard/assembly/contents.md
  docs/standard/assembly/create-public-private-key-pair.md
  docs/standard/assembly/create-signed-friend.md
  docs/standard/assembly/create-unsigned-friend.md
  docs/standard/assembly/create-use-strong-named.md
  docs/standard/assembly/create.md
  docs/standard/assembly/delay-sign.md
  docs/standard/assembly/disable-strong-name-bypass-feature.md
  docs/standard/assembly/embed-types-visual-studio.md
  docs/standard/assembly/enhanced-strong-naming.md
  docs/standard/assembly/find-fully-qualified-name.md
  docs/standard/assembly/identify.md
  docs/standard/assembly/index.md
Labels: :books: Area - .NET Guide

#18357 1657393: Add missing descriptions (2 of 2)
  docs/standard/assembly/location.md
  docs/standard/assembly/manifest.md
  docs/standard/assembly/names.md
  docs/standard/assembly/reference-strong-named.md
  docs/standard/assembly/resolve-loads.md
  docs/standard/assembly/security-considerations.md
  docs/standard/assembly/set-attributes.md
  docs/standard/assembly/side-by-side-execution.md
  docs/standard/assembly/sign-strong-name.md
  docs/standard/assembly/strong-named.md
  docs/standard/assembly/type-forwarding.md
  docs/standard/assembly/versioning.md
  docs/standard/assembly/view-contents.md
Labels: :books: Area - .NET Guide

#18346 Updating ReadableExpressions screenshot to v3.1
  docs/csharp/programming-guide/concepts/expression-trees/media/debugging-expression-trees-in-visual-studio/readable-expressions-visualizer.png
  docs/visual-basic/programming-guide/concepts/expression-trees/debugging-expression-trees-in-visual-studio.md
  docs/visual-basic/programming-guide/concepts/expression-trees/media/debugging-expression-trees-in-visual-studio/readable-expressions-visualizer.png
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Advanced concepts

#18348 Include null-conditional operators in the overloadability table
  docs/csharp/language-reference/operators/operator-overloading.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#18361 Collapse relative links, Part 11
  docs/framework/unmanaged-api/debugging/icordebugreferencevalue-dereferencestrong-method.md
  docs/framework/unmanaged-api/debugging/icordebugreferencevalue-getvalue-method.md
  docs/framework/unmanaged-api/debugging/icordebugreferencevalue-interface.md
  docs/framework/unmanaged-api/debugging/icordebugreferencevalue-isnull-method.md
  docs/framework/unmanaged-api/debugging/icordebugreferencevalue-setvalue-method.md
  docs/framework/unmanaged-api/debugging/icordebugregisterset-getregisters-method.md
  docs/framework/unmanaged-api/debugging/icordebugregisterset-getregistersavailable-method.md
  docs/framework/unmanaged-api/debugging/icordebugregisterset-getthreadcontext-method.md
  docs/framework/unmanaged-api/debugging/icordebugregisterset-interface.md
  docs/framework/unmanaged-api/debugging/icordebugregisterset-setregisters-method.md
  docs/framework/unmanaged-api/debugging/icordebugregisterset-setthreadcontext-method.md
  docs/framework/unmanaged-api/debugging/icordebugregisterset2-getregisters-method.md
  docs/framework/unmanaged-api/debugging/icordebugregisterset2-getregistersavailable-method.md
  docs/framework/unmanaged-api/debugging/icordebugregisterset2-interface.md
  docs/framework/unmanaged-api/debugging/icordebugregisterset2-setregisters-method.md
  docs/framework/unmanaged-api/debugging/icordebugremote-createprocessex-method.md
  docs/framework/unmanaged-api/debugging/icordebugremote-debugactiveprocessex-method.md
  docs/framework/unmanaged-api/debugging/icordebugremote-interface.md
  docs/framework/unmanaged-api/debugging/icordebugremotetarget-gethostname-method.md
  docs/framework/unmanaged-api/debugging/icordebugremotetarget-interface.md
  docs/framework/unmanaged-api/debugging/icordebugruntimeunwindableframe-interface.md
  docs/framework/unmanaged-api/debugging/icordebugstackwalk-getcontext-method.md
  docs/framework/unmanaged-api/debugging/icordebugstackwalk-getframe-method.md
  docs/framework/unmanaged-api/debugging/icordebugstackwalk-interface.md
  docs/framework/unmanaged-api/debugging/icordebugstackwalk-next-method.md
  docs/framework/unmanaged-api/debugging/icordebugstackwalk-setcontext-method.md
  docs/framework/unmanaged-api/debugging/icordebugstaticfieldsymbol-getaddress-method.md
  docs/framework/unmanaged-api/debugging/icordebugstaticfieldsymbol-getname-method.md
  docs/framework/unmanaged-api/debugging/icordebugstaticfieldsymbol-getsize-method.md
  docs/framework/unmanaged-api/debugging/icordebugstaticfieldsymbol-interface.md
  docs/framework/unmanaged-api/debugging/icordebugstepper-deactivate-method.md
  docs/framework/unmanaged-api/debugging/icordebugstepper-interface.md
  docs/framework/unmanaged-api/debugging/icordebugstepper-isactive-method.md
  docs/framework/unmanaged-api/debugging/icordebugstepper-setinterceptmask-method.md
  docs/framework/unmanaged-api/debugging/icordebugstepper-setrangeil-method.md
  docs/framework/unmanaged-api/debugging/icordebugstepper-setunmappedstopmask-method.md
  docs/framework/unmanaged-api/debugging/icordebugstepper-step-method.md
  docs/framework/unmanaged-api/debugging/icordebugstepper-stepout-method.md
  docs/framework/unmanaged-api/debugging/icordebugstepper-steprange-method.md
  docs/framework/unmanaged-api/debugging/icordebugstepper2-interface1.md
  docs/framework/unmanaged-api/debugging/icordebugstepper2-setjmc-method.md
  docs/framework/unmanaged-api/debugging/icordebugstepperenum-interface.md
  docs/framework/unmanaged-api/debugging/icordebugstepperenum-next-method.md
  docs/framework/unmanaged-api/debugging/icordebugstringvalue-getlength-method.md
  docs/framework/unmanaged-api/debugging/icordebugstringvalue-getstring-method.md
  docs/framework/unmanaged-api/debugging/icordebugstringvalue-interface.md
  docs/framework/unmanaged-api/debugging/icordebugsymbolprovider-getassemblyimagebytes-method.md
  docs/framework/unmanaged-api/debugging/icordebugsymbolprovider-getassemblyimagemetadata-method.md
  docs/framework/unmanaged-api/debugging/icordebugsymbolprovider-getcoderange-method.md
  docs/framework/unmanaged-api/debugging/icordebugsymbolprovider-getinstancefieldsymbols-method.md
Labels: :books: Area - .NET Framework Guide

#18362 Collapse relative links, Part 12
  docs/framework/unmanaged-api/debugging/icordebugsymbolprovider-getmergedassemblyrecords-method.md
  docs/framework/unmanaged-api/debugging/icordebugsymbolprovider-getmethodlocalsymbols-method.md
  docs/framework/unmanaged-api/debugging/icordebugsymbolprovider-getmethodparametersymbols-method.md
  docs/framework/unmanaged-api/debugging/icordebugsymbolprovider-getmethodprops-method.md
  docs/framework/unmanaged-api/debugging/icordebugsymbolprovider-getobjectsize-method.md
  docs/framework/unmanaged-api/debugging/icordebugsymbolprovider-getstaticfieldsymbols-method.md
  docs/framework/unmanaged-api/debugging/icordebugsymbolprovider-gettypeprops-method.md
  docs/framework/unmanaged-api/debugging/icordebugsymbolprovider-interface.md
  docs/framework/unmanaged-api/debugging/icordebugsymbolprovider2-getframeprops-method.md
  docs/framework/unmanaged-api/debugging/icordebugsymbolprovider2-getgenericdictionaryinfo-method.md
  docs/framework/unmanaged-api/debugging/icordebugsymbolprovider2-interface.md
  docs/framework/unmanaged-api/debugging/icordebugthread-clearcurrentexception-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread-createeval-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread-createstepper-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread-enumeratechains-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread-getactivechain-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread-getactiveframe-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread-getappdomain-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread-getcurrentexception-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread-getdebugstate-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread-gethandle-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread-getid-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread-getobject-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread-getprocess-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread-getregisterset-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread-getuserstate-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread-interface.md
  docs/framework/unmanaged-api/debugging/icordebugthread-setdebugstate-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread2-getactivefunctions-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread2-getconnectionid-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread2-gettaskid-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread2-getvolatileosthreadid-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread2-interceptcurrentexception-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread2-interface.md
  docs/framework/unmanaged-api/debugging/icordebugthread3-createstackwalk-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread3-getactiveinternalframes-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread3-interface.md
  docs/framework/unmanaged-api/debugging/icordebugthread4-getblockingobjects-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread4-getcurrentcustomdebuggernotification-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread4-hadunhandledexception-method.md
  docs/framework/unmanaged-api/debugging/icordebugthread4-interface.md
  docs/framework/unmanaged-api/debugging/icordebugthreadenum-interface1.md
  docs/framework/unmanaged-api/debugging/icordebugthreadenum-next-method.md
  docs/framework/unmanaged-api/debugging/icordebugtype-enumeratetypeparameters-method.md
  docs/framework/unmanaged-api/debugging/icordebugtype-getbase-method.md
  docs/framework/unmanaged-api/debugging/icordebugtype-getclass-method.md
  docs/framework/unmanaged-api/debugging/icordebugtype-getfirsttypeparameter-method.md
  docs/framework/unmanaged-api/debugging/icordebugtype-getrank-method.md
  docs/framework/unmanaged-api/debugging/icordebugtype-getstaticfieldvalue-method.md
  docs/framework/unmanaged-api/debugging/icordebugtype-gettype-method.md
Labels: :books: Area - .NET Framework Guide

#18112 .NET for Spark: add note about Databricks support
  docs/spark/how-to-guides/databricks-deploy-methods.md
  docs/spark/tutorials/databricks-deployment.md
Labels: :books: Area - .NET for Apache Spark Guide

#18368 Add missing .NET Core runtime options and env. variables
  docs/core/tools/dotnet.md
  docs/core/whats-new/dotnet-core-3-0.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#18381 1657393: Add missing descriptions (2 of 3)
  docs/standard/serialization/how-to-deserialize-an-object.md
  docs/standard/serialization/how-to-override-encoded-soap-xml-serialization.md
  docs/standard/serialization/how-to-qualify-xml-element-and-xml-attribute-names.md
  docs/standard/serialization/how-to-serialize-an-object-as-a-soap-encoded-xml-stream.md
  docs/standard/serialization/how-to-serialize-an-object.md
  docs/standard/serialization/how-to-specify-an-alternate-element-name-for-an-xml-stream.md
  docs/standard/serialization/index.md
  docs/standard/serialization/introducing-xml-serialization.md
  docs/standard/serialization/schemaimporterextensions-element.md
  docs/standard/serialization/selective-serialization.md
  docs/standard/serialization/serialization-concepts.md
  docs/standard/serialization/serialization-guidelines.md
Labels: :books: Area - .NET Guide

#18382 1657393: Add missing descriptions (3 of 3)
  docs/standard/serialization/steps-in-the-serialization-process.md
  docs/standard/serialization/system-text-json-how-to.md
  docs/standard/serialization/system-text-json-overview.md
  docs/standard/serialization/system-xml-serialization-element.md
  docs/standard/serialization/the-xml-schema-definition-tool-and-xml-serialization.md
  docs/standard/serialization/version-tolerant-serialization.md
  docs/standard/serialization/xml-and-soap-serialization.md
  docs/standard/serialization/xml-schema-def-tool-gen.md
  docs/standard/serialization/xml-schema-definition-tool-xsd-exe.md
  docs/standard/serialization/xml-serialization-with-xml-web-services.md
  docs/standard/serialization/xml-serializer-generator-tool-sgen-exe.md
  docs/standard/serialization/xmlserializer-element.md
Labels: :books: Area - .NET Guide

#18377 1657393: Add missing descriptions (1 of 3)
  docs/standard/assembly/friend.md
  docs/standard/assembly/load-unload.md
  docs/standard/memory-and-spans/memory-t-usage-guidelines.md
  docs/standard/serialization/add-element-for-schemaimporterextensions.md
  docs/standard/serialization/attributes-that-control-encoded-soap-serialization.md
  docs/standard/serialization/attributes-that-control-xml-serialization.md
  docs/standard/serialization/basic-serialization-technology-sample.md
  docs/standard/serialization/basic-serialization.md
  docs/standard/serialization/controlling-xml-serialization-using-attributes.md
  docs/standard/serialization/custom-serialization.md
  docs/standard/serialization/datetimeserialization-element.md
  docs/standard/serialization/examples-of-xml-serialization.md
  docs/standard/serialization/how-to-chunk-serialized-data.md
  docs/standard/serialization/how-to-control-serialization-of-derived-classes.md
Labels: :books: Area - .NET Guide

#18206 Devops
  .openpublishing.redirection.json
  docs/architecture/cloud-native/application-bundles.md
  docs/architecture/cloud-native/azure-security.md
  docs/architecture/cloud-native/devops.md
  docs/architecture/cloud-native/feature-flags.md
  docs/architecture/cloud-native/identity-server.md
  docs/architecture/cloud-native/infrastructure-as-code.md
  docs/architecture/cloud-native/media/always-encrypted.png
  docs/architecture/cloud-native/media/checklist.png
  docs/architecture/cloud-native/media/cosmos-encryption.png
  docs/architecture/cloud-native/media/dir-struct.png
  docs/architecture/cloud-native/media/single-repository-vs-multiple.png
  docs/architecture/cloud-native/media/virtual-network.png
  docs/architecture/cloud-native/summary.md
  docs/architecture/cloud-native/toc.yml
Labels: :book: guide - Cloud Native, :books: Area - .NET Architecture Guide

#18393 Correcting mislabeled slot numbers
  docs/framework/unmanaged-api/debugging/isosdacinterface-getmethoddescdata-method.md
  docs/framework/unmanaged-api/debugging/isosdacinterface-getmethoddescptrfromip-method.md
  docs/framework/unmanaged-api/debugging/isosdacinterface-getmoduledata-method.md
  docs/framework/unmanaged-api/debugging/ixclrdatamethoddefinition-endenuminstances-method.md
  docs/framework/unmanaged-api/debugging/ixclrdatamethoddefinition-enuminstance-method.md
  docs/framework/unmanaged-api/debugging/ixclrdatamethoddefinition-startenuminstances-method.md
  docs/framework/unmanaged-api/debugging/ixclrdatamethodinstance-getiladdressmap-method.md
  docs/framework/unmanaged-api/debugging/ixclrdatamethodinstance-getrepresentativeentryaddress-method.md
  docs/framework/unmanaged-api/debugging/ixclrdatamodule-getmethoddefinitionbytoken-method.md
  docs/framework/unmanaged-api/debugging/ixclrdatamodule-getversionid-method.md
  docs/framework/unmanaged-api/debugging/ixclrdatamodule-request-method.md
  docs/framework/unmanaged-api/debugging/ixclrdataprocess-endenummethodinstancesbyaddress-method.md
  docs/framework/unmanaged-api/debugging/ixclrdataprocess-enummethodinstancebyaddress-method.md
  docs/framework/unmanaged-api/debugging/ixclrdataprocess-startenummethodinstancesbyaddress-method.md
Labels: :books: Area - .NET Framework Guide

#18397 Collapse relative links, Part 13
  docs/framework/unmanaged-api/debugging/icordebugtype-interface.md
  docs/framework/unmanaged-api/debugging/icordebugtype2-gettypeid-method.md
  docs/framework/unmanaged-api/debugging/icordebugtype2-interface.md
  docs/framework/unmanaged-api/debugging/icordebugtypeenum-interface.md
  docs/framework/unmanaged-api/debugging/icordebugtypeenum-next-method.md
  docs/framework/unmanaged-api/debugging/icordebugunmanagedcallback-debugevent-method.md
  docs/framework/unmanaged-api/debugging/icordebugunmanagedcallback-interface.md
  docs/framework/unmanaged-api/debugging/icordebugvalue-createbreakpoint-method.md
  docs/framework/unmanaged-api/debugging/icordebugvalue-getaddress-method.md
  docs/framework/unmanaged-api/debugging/icordebugvalue-getsize-method.md
  docs/framework/unmanaged-api/debugging/icordebugvalue-gettype-method.md
  docs/framework/unmanaged-api/debugging/icordebugvalue-interface.md
  docs/framework/unmanaged-api/debugging/icordebugvalue2-getexacttype-method.md
  docs/framework/unmanaged-api/debugging/icordebugvalue2-interface.md
  docs/framework/unmanaged-api/debugging/icordebugvalue3-getsize64-method.md
  docs/framework/unmanaged-api/debugging/icordebugvalue3-interface.md
  docs/framework/unmanaged-api/debugging/icordebugvaluebreakpoint-getvalue-method.md
  docs/framework/unmanaged-api/debugging/icordebugvaluebreakpoint-interface.md
  docs/framework/unmanaged-api/debugging/icordebugvalueenum-interface.md
  docs/framework/unmanaged-api/debugging/icordebugvalueenum-next-method.md
  docs/framework/unmanaged-api/debugging/icordebugvariablehome-getargumentindex-method.md
  docs/framework/unmanaged-api/debugging/icordebugvariablehome-getcode-method.md
  docs/framework/unmanaged-api/debugging/icordebugvariablehome-getliverange-method.md
  docs/framework/unmanaged-api/debugging/icordebugvariablehome-getlocationtype-method.md
  docs/framework/unmanaged-api/debugging/icordebugvariablehome-getoffset-method.md
  docs/framework/unmanaged-api/debugging/icordebugvariablehome-getregister-method.md
  docs/framework/unmanaged-api/debugging/icordebugvariablehome-getslotindex-method.md
  docs/framework/unmanaged-api/debugging/icordebugvariablehome-interface.md
  docs/framework/unmanaged-api/debugging/icordebugvariablehomeenum-interface.md
  docs/framework/unmanaged-api/debugging/icordebugvariablehomeenum-next-method.md
  docs/framework/unmanaged-api/debugging/icordebugvariablesymbol-getname-method.md
  docs/framework/unmanaged-api/debugging/icordebugvariablesymbol-getsize-method.md
  docs/framework/unmanaged-api/debugging/icordebugvariablesymbol-getslotindex-method.md
  docs/framework/unmanaged-api/debugging/icordebugvariablesymbol-getvalue-method.md
  docs/framework/unmanaged-api/debugging/icordebugvariablesymbol-interface.md
  docs/framework/unmanaged-api/debugging/icordebugvariablesymbol-setvalue-method.md
  docs/framework/unmanaged-api/debugging/icordebugvirtualunwinder-getcontext-method.md
  docs/framework/unmanaged-api/debugging/icordebugvirtualunwinder-interface.md
  docs/framework/unmanaged-api/debugging/icordebugvirtualunwinder-next-method.md
  docs/framework/unmanaged-api/debugging/icoreclrdebugtarget-enumprocesses-method.md
  docs/framework/unmanaged-api/debugging/icoreclrdebugtarget-enumruntimes-method.md
  docs/framework/unmanaged-api/debugging/icoreclrdebugtarget-freememory-method.md
  docs/framework/unmanaged-api/debugging/icoreclrdebugtarget-interface.md
  docs/framework/unmanaged-api/debugging/icorpublish-enumprocesses-method.md
  docs/framework/unmanaged-api/debugging/icorpublish-getprocess-method.md
  docs/framework/unmanaged-api/debugging/icorpublish-interface.md
  docs/framework/unmanaged-api/debugging/icorpublishappdomain-getid-method.md
  docs/framework/unmanaged-api/debugging/icorpublishappdomain-getname-method.md
  docs/framework/unmanaged-api/debugging/icorpublishappdomain-interface.md
  docs/framework/unmanaged-api/debugging/icorpublishappdomainenum-interface.md
Labels: :books: Area - .NET Framework Guide

#18369 Clarity update
  docs/csharp/language-reference/operators/member-access-operators.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#18385 Include csproj and vbproj files
  docs/core/tutorials/with-visual-studio.md
  samples/snippets/core/tutorials/vb-with-visual-studio/Program.vb
  samples/snippets/core/tutorials/vb-with-visual-studio/class1.vb
  samples/snippets/core/tutorials/vb-with-visual-studio/vb-with-visual-studio.vbproj
  samples/snippets/csharp/getting_started/with_visual_studio/HelloWorld.cs
  samples/snippets/csharp/getting_started/with_visual_studio/with_visual_studio.csproj
Labels: :books: Area - .NET Core Guide

#18403 Updates from customer feedback #18402
  docs/csharp/programming-guide/concepts/object-oriented-programming.md
Labels: :books: Area - C# Guide

#17886 containerized-lifecycle-3.1/4.09-docker-apps-development-environment
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/docker-apps-development-environment.md
Labels: :book: guide - Docker lifecycle, :books: Area - .NET Architecture Guide

#17303 Desktop e-book: Chapter 5
  docs/architecture/modernize-desktop/example-migration-core.md
  docs/architecture/modernize-desktop/media/example-migration-core/add-connected-service.png
  docs/architecture/modernize-desktop/media/example-migration-core/api-contract-namespace.png
  docs/architecture/modernize-desktop/media/example-migration-core/app-before-migration.png
  docs/architecture/modernize-desktop/media/example-migration-core/autogenerated-files.png
  docs/architecture/modernize-desktop/media/example-migration-core/configure-wcf-reference.png
  docs/architecture/modernize-desktop/media/example-migration-core/connected-services-window.png
  docs/architecture/modernize-desktop/media/example-migration-core/csproj-file.png
  docs/architecture/modernize-desktop/media/example-migration-core/main-application-window.png
  docs/architecture/modernize-desktop/media/example-migration-core/nuget-dependencies.png
  docs/architecture/modernize-desktop/media/example-migration-core/reference-manager.png
  docs/architecture/modernize-desktop/media/example-migration-core/winforms-compilation-errors.png
  docs/architecture/modernize-desktop/media/example-migration-core/wpf-compilation-error.png
  docs/architecture/modernize-desktop/toc.yml
Labels: :book: guide - Modernizing Desktop apps, :books: Area - .NET Architecture Guide

#18380 Beginner tutorial updates
  docs/csharp/tutorials/intro-to-csharp/arrays-and-collections.md
  docs/csharp/tutorials/intro-to-csharp/branches-and-loops-local.md
  docs/csharp/tutorials/intro-to-csharp/branches-and-loops.yml
  docs/csharp/tutorials/intro-to-csharp/list-collection.yml
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#18387 Move samples, and fix code bug
  docs/csharp/tutorials/mixins-with-default-interface-methods.md
  docs/csharp/tutorials/snippets/mixins-with-default-interface-methods/ExtraFancyLight.cs
  docs/csharp/tutorials/snippets/mixins-with-default-interface-methods/HalogenLight.cs
  docs/csharp/tutorials/snippets/mixins-with-default-interface-methods/IBlinkingLight.cs
  docs/csharp/tutorials/snippets/mixins-with-default-interface-methods/ILight.cs
  docs/csharp/tutorials/snippets/mixins-with-default-interface-methods/ITimerLight.cs
  docs/csharp/tutorials/snippets/mixins-with-default-interface-methods/LEDLight.cs
  docs/csharp/tutorials/snippets/mixins-with-default-interface-methods/OverheadLight.cs
  docs/csharp/tutorials/snippets/mixins-with-default-interface-methods/Program.cs
  docs/csharp/tutorials/snippets/mixins-with-default-interface-methods/UnusedExampleCode.cs
  docs/csharp/tutorials/snippets/mixins-with-default-interface-methods/mixins-with-interfaces.csproj
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#18384 Add more guidance on adding the code and running the application.
  docs/csharp/tutorials/intro-to-csharp/introduction-to-classes.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#17305 Desktop e-book: Chapter 6
  docs/architecture/modernize-desktop/deploy-modern-applications.md
  docs/architecture/modernize-desktop/media/deploy-modern-applications/add-packaging-project.png
  docs/architecture/modernize-desktop/media/deploy-modern-applications/add-winforms-project.png
  docs/architecture/modernize-desktop/media/deploy-modern-applications/appinstaller-file.png
  docs/architecture/modernize-desktop/media/deploy-modern-applications/capabilities-node.png
  docs/architecture/modernize-desktop/media/deploy-modern-applications/configure-update-settings.png
  docs/architecture/modernize-desktop/media/deploy-modern-applications/configuring-packages.png
  docs/architecture/modernize-desktop/media/deploy-modern-applications/identity-node.png
  docs/architecture/modernize-desktop/media/deploy-modern-applications/manifest-designer.png
  docs/architecture/modernize-desktop/media/deploy-modern-applications/microsoft-it-tools.png
  docs/architecture/modernize-desktop/media/deploy-modern-applications/modern-it-application-lifecycle.png
  docs/architecture/modernize-desktop/media/deploy-modern-applications/modern-it-virtuous-cycle.png
  docs/architecture/modernize-desktop/media/deploy-modern-applications/msix-managing-updates.png
  docs/architecture/modernize-desktop/media/deploy-modern-applications/msix-packaging-tool.png
  docs/architecture/modernize-desktop/media/deploy-modern-applications/msix.png
  docs/architecture/modernize-desktop/media/deploy-modern-applications/our-installed-application.png
  docs/architecture/modernize-desktop/media/deploy-modern-applications/packaging-project.png
Labels: :book: guide - Modernizing Desktop apps, :books: Area - .NET Architecture Guide

#18266 Sweeping changes to improve dispose guidelines
  docs/standard/garbage-collection/implementing-dispose.md
  docs/standard/garbage-collection/unmanaged.md
  docs/standard/garbage-collection/using-objects.md
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/base1.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/derived1.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/disposable1.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/dispose1.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/using1.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/using2.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/using3.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/using4.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/using5.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/base1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/base2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/calling1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/calling2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/derived1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/derived2.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.disposable/vb/base1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.disposable/vb/derived1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.disposable/vb/disposable1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.disposable/vb/dispose1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.disposable/vb/using5.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/base1.vb
Labels: :books: Area - .NET Guide

#18324 Architecture Acrolinx 5/8
  docs/architecture/cloud-native/application-bundles.md
  docs/architecture/cloud-native/introduce-eshoponcontainers-reference-app.md
  docs/architecture/modern-web-apps-azure/architectural-principles.md
Labels: :book: guide - ASP.NET Core web apps, :book: guide - Cloud Native, :books: Area - .NET Architecture Guide

#18415 fix broken link
  docs/machine-learning/tutorials/object-detection-onnx.md
Labels: :books: Area - ML.NET Guide

#18417 Desktop book updates
  .github/CODEOWNERS
  docfx.json
  docs/architecture/index.yml
  docs/architecture/modernize-desktop/deploy-modern-applications.md
  docs/architecture/modernize-desktop/example-migration-core.md
  docs/architecture/modernize-desktop/index.md
  docs/architecture/modernize-desktop/migrate-modern-applications.md
  docs/architecture/modernize-desktop/toc.yml
  docs/architecture/modernize-desktop/whats-new-dotnet-core.md
  docs/architecture/modernize-desktop/why-modern-applications.md
Labels: :books: Area - .NET Architecture Guide

#18420 update book cover
  docs/architecture/modernize-desktop/media/modernizing-existing-desktop-apps-ebook-cover.png
Labels: :books: Area - .NET Architecture Guide

#18419 Fix some occurrences of using statement
  docs/architecture/blazor-for-web-forms-developers/project-structure.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/cqrs-microservice-reads.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/infrastructure-persistence-layer-implemenation-entity-framework-core.md
  docs/core/additional-tools/dotnet-svcutil-guide.md
  docs/csharp/indexers.md
  docs/csharp/language-reference/keywords/using-static.md
  docs/csharp/programming-guide/concepts/async/using-async-for-file-access.md
  docs/csharp/roslyn-sdk/tutorials/how-to-write-csharp-analyzer-code-fix.md
Labels: :book: guide - .NET Microservices, :book: guide - Blazor, :books: Area - .NET Architecture Guide, :books: Area - .NET Core Guide, :books: Area - C# Guide, :card_file_box: Technology - Async Task, :card_file_box: Technology - C# Language Reference, :card_file_box: Technology - Roslyn APIs

#18406 Document pubternal API removal breaking change
  docs/core/compatibility/2.2-3.0.md
  docs/core/compatibility/2.2-3.1.md
  includes/core-changes/aspnetcore/3.0/pubternal-apis-removed.md
Labels: :books: Area - .NET Core Guide

#18422 Index page update
  docs/architecture/modernize-desktop/index.md
  docs/architecture/modernize-desktop/media/modernizing-existing-desktop-apps-ebook-cover.png
  docs/architecture/modernize-desktop/why-modern-applications.md
Labels: :books: Area - .NET Architecture Guide

#18375 update to 3.1
  docs/spark/tutorials/databricks-deployment.md
Labels: :books: Area - .NET for Apache Spark Guide

#18433 Update introducing-xml-serialization.md
  docs/standard/serialization/introducing-xml-serialization.md
Labels: :books: Area - .NET Guide

#18358 Add Stack<T> converter example
  docs/standard/serialization/system-text-json-converters-how-to.md
  samples/snippets/core/system-text-json/csharp/JsonConverterFactoryForStackOfT.cs
  samples/snippets/core/system-text-json/csharp/Program.cs
  samples/snippets/core/system-text-json/csharp/RoundtripStackOfT.cs
Labels: :books: Area - .NET Guide

#18409 1657393: Add missing descriptions
  docs/standard/garbage-collection/large-object-heap.md
Labels: :books: Area - .NET Guide

#18426 Collapse relative links, Part 14
  docs/framework/unmanaged-api/debugging/icorpublishappdomainenum-next-method.md
  docs/framework/unmanaged-api/debugging/icorpublishenum-clone-method.md
  docs/framework/unmanaged-api/debugging/icorpublishenum-getcount-method.md
  docs/framework/unmanaged-api/debugging/icorpublishenum-interface.md
  docs/framework/unmanaged-api/debugging/icorpublishenum-reset-method.md
  docs/framework/unmanaged-api/debugging/icorpublishenum-skip-method.md
  docs/framework/unmanaged-api/debugging/icorpublishprocess-enumappdomains-method.md
  docs/framework/unmanaged-api/debugging/icorpublishprocess-getdisplayname-method.md
  docs/framework/unmanaged-api/debugging/icorpublishprocess-getprocessid-method.md
  docs/framework/unmanaged-api/debugging/icorpublishprocess-interface.md
  docs/framework/unmanaged-api/debugging/icorpublishprocess-ismanaged-method.md
  docs/framework/unmanaged-api/debugging/icorpublishprocessenum-interface.md
  docs/framework/unmanaged-api/debugging/icorpublishprocessenum-next-method.md
  docs/framework/unmanaged-api/debugging/ilcodekind-enumeration.md
  docs/framework/unmanaged-api/debugging/initdbgtransportmanager-function.md
  docs/framework/unmanaged-api/debugging/isosdacinterface-getmethoddescdata-method.md
  docs/framework/unmanaged-api/debugging/isosdacinterface-getmethoddescptrfromip-method.md
  docs/framework/unmanaged-api/debugging/isosdacinterface-getmoduledata-method.md
  docs/framework/unmanaged-api/debugging/isosdacinterface-interface.md
  docs/framework/unmanaged-api/debugging/ixclrdatamethoddefinition-endenuminstances-method.md
  docs/framework/unmanaged-api/debugging/ixclrdatamethoddefinition-enuminstance-method.md
  docs/framework/unmanaged-api/debugging/ixclrdatamethoddefinition-interface.md
  docs/framework/unmanaged-api/debugging/ixclrdatamethoddefinition-startenuminstances-method.md
  docs/framework/unmanaged-api/debugging/ixclrdatamethodinstance-getiladdressmap-method.md
  docs/framework/unmanaged-api/debugging/ixclrdatamethodinstance-getrepresentativeentryaddress-method.md
  docs/framework/unmanaged-api/debugging/ixclrdatamethodinstance-interface.md
  docs/framework/unmanaged-api/debugging/ixclrdatamodule-getmethoddefinitionbytoken-method.md
  docs/framework/unmanaged-api/debugging/ixclrdatamodule-getversionid-method.md
  docs/framework/unmanaged-api/debugging/ixclrdatamodule-interface.md
  docs/framework/unmanaged-api/debugging/ixclrdatamodule-request-method.md
  docs/framework/unmanaged-api/debugging/ixclrdataprocess-endenummethodinstancesbyaddress-method.md
  docs/framework/unmanaged-api/debugging/ixclrdataprocess-endenummodules-method.md
  docs/framework/unmanaged-api/debugging/ixclrdataprocess-enummethodinstancebyaddress-method.md
  docs/framework/unmanaged-api/debugging/ixclrdataprocess-enummodule-method.md
  docs/framework/unmanaged-api/debugging/ixclrdataprocess-getappdomainbyuniqueid-method.md
  docs/framework/unmanaged-api/debugging/ixclrdataprocess-interface.md
  docs/framework/unmanaged-api/debugging/ixclrdataprocess-startenummethodinstancesbyaddress-method.md
  docs/framework/unmanaged-api/debugging/ixclrdataprocess-startenummodules-method.md
  docs/framework/unmanaged-api/debugging/logginglevelenum-enumeration.md
  docs/framework/unmanaged-api/debugging/logswitchcallreason-enumeration.md
  docs/framework/unmanaged-api/debugging/pfn-clrdatacreateinstance-function-pointer.md
  docs/framework/unmanaged-api/debugging/shutdowndbgtransportmanager-function.md
  docs/framework/unmanaged-api/debugging/stacktrace-simplecontext-structure.md
  docs/framework/unmanaged-api/debugging/variablelocationtype-enumeration.md
  docs/framework/unmanaged-api/debugging/writeablemetadataupdatemode-enumeration.md
  docs/framework/unmanaged-api/diagnostics/call-id-structure.md
  docs/framework/unmanaged-api/diagnostics/corsymaddrkind-enumeration.md
  docs/framework/unmanaged-api/diagnostics/corsymsearchpolicyattributes-enumeration.md
  docs/framework/unmanaged-api/diagnostics/corsymvarflag-enumeration.md
  docs/framework/unmanaged-api/diagnostics/diagnostics-symbol-store-enumerations.md
Labels: :books: Area - .NET Framework Guide

#18408 1657393: Add missing descriptions
  docs/standard/asynchronous-programming-patterns/implementing-the-task-based-asynchronous-pattern.md
Labels: :books: Area - .NET Guide

#18319 1657395: Add descriptions for SEO (1 of 3)
  docs/framework/windows-workflow-foundation/architecture.md
  docs/framework/windows-workflow-foundation/authoring-workflows-activities-and-expressions-using-imperative-code.md
  docs/framework/windows-workflow-foundation/conceptual-overview.md
  docs/framework/windows-workflow-foundation/control-flow-activities-in-wf.md
  docs/framework/windows-workflow-foundation/creating-an-activity-at-runtime-with-dynamicactivity.md
  docs/framework/windows-workflow-foundation/creating-asynchronous-activities-in-wf.md
  docs/framework/windows-workflow-foundation/designing-and-implementing-custom-activities.md
  docs/framework/windows-workflow-foundation/designing-workflows.md
  docs/framework/windows-workflow-foundation/feature-specifics.md
  docs/framework/windows-workflow-foundation/flowchart-workflows.md
  docs/framework/windows-workflow-foundation/fundamental-concepts.md
  docs/framework/windows-workflow-foundation/getting-started-tutorial.md
  docs/framework/windows-workflow-foundation/guide-to-the-documentation.md
  docs/framework/windows-workflow-foundation/how-to-create-a-custom-activity-designer.md
  docs/framework/windows-workflow-foundation/how-to-create-a-flowchart-workflow.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WF

#18414 fix broken links
  docs/csharp/tutorials/generate-consume-asynchronous-stream.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#18418 Add missing using directive
  docs/csharp/tutorials/console-webapiclient.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#18320 1657395: Add descriptions for SEO (2 of 3)
  docs/framework/windows-workflow-foundation/how-to-create-a-sequential-workflow.md
  docs/framework/windows-workflow-foundation/how-to-create-a-state-machine-workflow.md
  docs/framework/windows-workflow-foundation/how-to-create-a-workflow.md
  docs/framework/windows-workflow-foundation/how-to-create-an-activity.md
  docs/framework/windows-workflow-foundation/how-to-create-and-run-a-long-running-workflow.md
  docs/framework/windows-workflow-foundation/how-to-enable-persistence-for-workflows-and-workflow-services.md
  docs/framework/windows-workflow-foundation/how-to-run-a-workflow.md
  docs/framework/windows-workflow-foundation/index.md
  docs/framework/windows-workflow-foundation/net-framework-4-5-built-in-activity-library.md
  docs/framework/windows-workflow-foundation/overview.md
  docs/framework/windows-workflow-foundation/performance.md
  docs/framework/windows-workflow-foundation/pick-activity.md
  docs/framework/windows-workflow-foundation/procedural-workflows.md
  docs/framework/windows-workflow-foundation/programming.md
  docs/framework/windows-workflow-foundation/rehosting-the-workflow-designer.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WF

#18321 1657395: Add descriptions for SEO (3 of 3)
  docs/framework/windows-workflow-foundation/samples/application.md
  docs/framework/windows-workflow-foundation/samples/basic.md
  docs/framework/windows-workflow-foundation/samples/document-approval-process.md
  docs/framework/windows-workflow-foundation/samples/index.md
  docs/framework/windows-workflow-foundation/samples/scenario.md
  docs/framework/windows-workflow-foundation/serializing-workflows-and-activities-to-and-from-xaml.md
  docs/framework/windows-workflow-foundation/state-machine-workflows.md
  docs/framework/windows-workflow-foundation/using-workflowinvoker-and-workflowapplication.md
  docs/framework/windows-workflow-foundation/variables-and-arguments.md
  docs/framework/windows-workflow-foundation/whats-new-in-wf-in-dotnet.md
  docs/framework/windows-workflow-foundation/whats-new.md
  docs/framework/windows-workflow-foundation/workflow-persistence.md
  docs/framework/windows-workflow-foundation/workflow-tracking-and-tracing.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WF

#18412 1657393: Add missing descriptions
  docs/standard/serialization/binary-serialization.md
Labels: :books: Area - .NET Guide

#18407 1657393: Add missing descriptions
  docs/standard/native-interop/apply-interop-attributes.md
  docs/standard/native-interop/com-callable-wrapper.md
  docs/standard/native-interop/com-wrappers.md
  docs/standard/native-interop/qualify-net-types-for-interoperation.md
  docs/standard/native-interop/runtime-callable-wrapper.md
Labels: :books: Area - .NET Guide

#18326 Add read from stream example for Utf8JsonReader
  docs/standard/serialization/system-text-json-how-to.md
  samples/snippets/core/system-text-json/csharp/Program.cs
  samples/snippets/core/system-text-json/csharp/Utf8ReaderPartialRead.cs
Labels: :books: Area - .NET Guide

#18441 Add breaking change for Process.StartInfo
  docs/core/compatibility/corefx.md
  docs/core/compatibility/fx-core.md
  includes/core-changes/corefx/1.0/startinfo-throws-exception.md
Labels: :books: Area - .NET Core Guide

#18390 Add project files to best-practices samples
  docs/standard/base-types/best-practices-strings.md
  docs/standard/base-types/snippets/best-practices-strings/csharp/formattable/Program.cs
  docs/standard/base-types/snippets/best-practices-strings/csharp/formattable/formattable.csproj
  docs/standard/base-types/snippets/best-practices-strings/csharp/tostring/Program.cs
  docs/standard/base-types/snippets/best-practices-strings/csharp/tostring/tostring.csproj
  docs/standard/base-types/snippets/best-practices-strings/vb/formattable/Program.vb
  docs/standard/base-types/snippets/best-practices-strings/vb/formattable/formattable.vbproj
  docs/standard/base-types/snippets/best-practices-strings/vb/tostring/Program.vb
  docs/standard/base-types/snippets/best-practices-strings/vb/tostring/tostring.vbproj
Labels: :books: Area - .NET Guide

#18444 Collapse relative links, Part 15
  docs/framework/unmanaged-api/diagnostics/diagnostics-symbol-store-interfaces.md
  docs/framework/unmanaged-api/diagnostics/diagnostics-symbol-store-structures.md
  docs/framework/unmanaged-api/diagnostics/ibindingdisplay-getcurrentdisplay-method.md
  docs/framework/unmanaged-api/diagnostics/ibindingdisplay-initializeforprocess-method.md
  docs/framework/unmanaged-api/diagnostics/ibindingdisplay-interface.md
  docs/framework/unmanaged-api/diagnostics/idebugautoattach-autoattach-method.md
  docs/framework/unmanaged-api/diagnostics/idebugautoattach-interface.md
  docs/framework/unmanaged-api/diagnostics/index.md
  docs/framework/unmanaged-api/diagnostics/inotifyconnection2-interface.md
  docs/framework/unmanaged-api/diagnostics/inotifyconnection2-registernotifysource-method.md
  docs/framework/unmanaged-api/diagnostics/inotifyconnection2-unregisternotifysource-method.md
  docs/framework/unmanaged-api/diagnostics/inotifysink2-interface.md
  docs/framework/unmanaged-api/diagnostics/inotifysink2-onsynccallenter-method.md
  docs/framework/unmanaged-api/diagnostics/inotifysink2-onsynccallexit-method.md
  docs/framework/unmanaged-api/diagnostics/inotifysink2-onsynccallout-method.md
  docs/framework/unmanaged-api/diagnostics/inotifysink2-onsynccallreturn-method.md
  docs/framework/unmanaged-api/diagnostics/inotifysource2-interface.md
  docs/framework/unmanaged-api/diagnostics/inotifysource2-setnotifyfilter-method.md
  docs/framework/unmanaged-api/diagnostics/isymencunmanagedmethod-getdocumentsformethod-method.md
  docs/framework/unmanaged-api/diagnostics/isymencunmanagedmethod-getdocumentsformethodcount-method.md
  docs/framework/unmanaged-api/diagnostics/isymencunmanagedmethod-getfilenamefromoffset-method.md
  docs/framework/unmanaged-api/diagnostics/isymencunmanagedmethod-getlinefromoffset-method.md
  docs/framework/unmanaged-api/diagnostics/isymencunmanagedmethod-getsourceextentindocument-method.md
  docs/framework/unmanaged-api/diagnostics/isymencunmanagedmethod-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedasyncmethod-getasyncstepinfo-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedasyncmethod-getasyncstepinfocount-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedasyncmethod-getcatchhandleriloffset-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedasyncmethod-getkickoffmethod-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedasyncmethod-hascatchhandleriloffset-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedasyncmethod-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedasyncmethod-isasyncmethod-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedasyncmethodpropertieswriter-defineasyncstepinfo-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedasyncmethodpropertieswriter-definecatchhandleriloffset-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedasyncmethodpropertieswriter-definekickoffmethod-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedasyncmethodpropertieswriter-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedbinder-getreaderforfile-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedbinder-getreaderfromstream-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedbinder-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedbinder2-getreaderforfile2-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedbinder2-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedbinder3-getreaderfromcallback-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedbinder3-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedconstant-getname-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedconstant-getsignature-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedconstant-getvalue-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedconstant-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanageddispose-destroy-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanageddispose-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanageddocument-findclosestline-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanageddocument-getchecksum-method.md
Labels: :books: Area - .NET Framework Guide

#18446 Clarify that dotnet pack works on vbproj and fsproj
  docs/core/tools/dotnet-pack.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#18448 Fix a grammatical issue in constraints-on-type
  docs/csharp/programming-guide/generics/constraints-on-type-parameters.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#18437 Sqlite provider
  docs/standard/data/sqlite/custom-versions.md
  samples/snippets/standard/data/sqlite/Microsoft.Data.Sqlite.sln
  samples/snippets/standard/data/sqlite/SqliteProviderSample/Program.cs
  samples/snippets/standard/data/sqlite/SqliteProviderSample/SqliteProviderSample.csproj
Labels: :books: Area - .NET Guide

#18374 Move references for sample from winforms to windowsforms
  docs/csharp/programming-guide/types/how-to-convert-a-string-to-a-number.md
  docs/standard/base-types/custom-date-and-time-format-strings.md
  docs/standard/base-types/custom-numeric-format-strings.md
  docs/standard/base-types/standard-date-and-time-format-strings.md
  docs/standard/base-types/standard-numeric-format-strings.md
Labels: :books: Area - .NET Guide, :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#18452 Delete unused snippet and move others
  docs/framework/wcf/snippets/specifying-an-endpoint-address/serviceapp.config
  docs/framework/wcf/snippets/specifying-an-endpoint-address/serviceapp2.config
  docs/framework/wcf/specifying-an-endpoint-address.md
  samples/snippets/common/VS_Snippets_CFX/s_uehelloworld/common/clientapp.config
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF

#18454 Enclose languages with quotes in dotnet new
  docs/core/tools/dotnet-new.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#18475 Fix formatting in F# style-guide
  docs/fsharp/style-guide/formatting.md
Labels: :books: Area - F# Guide

#18429 prepare for release v1
  docs/architecture/cloud-native/application-bundles.md
  docs/architecture/cloud-native/application-resiliency-patterns.md
  docs/architecture/cloud-native/authentication-authorization.md
  docs/architecture/cloud-native/azure-active-directory.md
  docs/architecture/cloud-native/azure-caching.md
  docs/architecture/cloud-native/azure-monitor.md
  docs/architecture/cloud-native/azure-security.md
  docs/architecture/cloud-native/candidate-apps.md
  docs/architecture/cloud-native/centralized-configuration.md
  docs/architecture/cloud-native/combine-containers-serverless-approaches.md
  docs/architecture/cloud-native/communication-patterns.md
  docs/architecture/cloud-native/definition.md
  docs/architecture/cloud-native/deploy-containers-azure.md
  docs/architecture/cloud-native/deploy-eshoponcontainers-azure.md
  docs/architecture/cloud-native/devops.md
  docs/architecture/cloud-native/distributed-data.md
  docs/architecture/cloud-native/elastic-search-in-azure.md
  docs/architecture/cloud-native/feature-flags.md
  docs/architecture/cloud-native/front-end-communication.md
  docs/architecture/cloud-native/grpc.md
  docs/architecture/cloud-native/identity-server.md
  docs/architecture/cloud-native/identity.md
  docs/architecture/cloud-native/index.md
  docs/architecture/cloud-native/infrastructure-as-code.md
  docs/architecture/cloud-native/infrastructure-resiliency-azure.md
  docs/architecture/cloud-native/introduce-eshoponcontainers-reference-app.md
  docs/architecture/cloud-native/introduction.md
  docs/architecture/cloud-native/leverage-containers-orchestrators.md
  docs/architecture/cloud-native/leverage-serverless-functions.md
  docs/architecture/cloud-native/logging-with-elastic-stack.md
  docs/architecture/cloud-native/map-eshoponcontainers-azure-services.md
  docs/architecture/cloud-native/media/azure-table-api.png
  docs/architecture/cloud-native/media/build-release-run-pipeline.png
  docs/architecture/cloud-native/media/circuit-breaker-pattern.png
  docs/architecture/cloud-native/media/cloud-native-design.png
  docs/architecture/cloud-native/media/cosmos-db-consistency-levels.png
  docs/architecture/cloud-native/media/cosmos-db-providers.png
  docs/architecture/cloud-native/media/cover-old.png
  docs/architecture/cloud-native/media/cover.png
  docs/architecture/cloud-native/media/devops-components.png
  docs/architecture/cloud-native/media/grpc-usage.png
  docs/architecture/cloud-native/media/monolithic-design.png
  docs/architecture/cloud-native/media/service-mesh-with-side-car.png
  docs/architecture/cloud-native/media/what-container-orchestrators-do.png
  docs/architecture/cloud-native/monitoring-azure-kubernetes.md
  docs/architecture/cloud-native/monitoring-health.md
  docs/architecture/cloud-native/observability-patterns.md
  docs/architecture/cloud-native/other-deployment-options.md
  docs/architecture/cloud-native/relational-vs-nosql-data.md
  docs/architecture/cloud-native/resiliency.md
  docs/architecture/cloud-native/resilient-communications.md
  docs/architecture/cloud-native/scale-applications.md
  docs/architecture/cloud-native/scale-containers-serverless.md
  docs/architecture/cloud-native/security.md
  docs/architecture/cloud-native/service-mesh-communication-infrastructure.md
  docs/architecture/cloud-native/service-to-service-communication.md
  docs/architecture/cloud-native/summary.md
  docs/architecture/index.yml
  docs/architecture/toc.yml
Labels: :book: guide - Cloud Native, :books: Area - .NET Architecture Guide

#18460 Collapse relative links, Part 16
  docs/framework/unmanaged-api/diagnostics/isymunmanageddocument-getchecksumalgorithmid-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanageddocument-getdocumenttype-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanageddocument-getlanguage-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanageddocument-getlanguagevendor-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanageddocument-getsourcelength-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanageddocument-getsourcerange-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanageddocument-geturl-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanageddocument-hasembeddedsource-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanageddocument-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanageddocumentwriter-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanageddocumentwriter-setchecksum-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanageddocumentwriter-setsource-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedencupdate-getlocalvariablecount-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedencupdate-getlocalvariables-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedencupdate-initializeforenc-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedencupdate-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedencupdate-updatemethodlines-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedencupdate-updatesymbolstore2-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedmethod-getnamespace-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedmethod-getoffset-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedmethod-getparameters-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedmethod-getranges-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedmethod-getrootscope-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedmethod-getscopefromoffset-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedmethod-getsequencepointcount-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedmethod-getsequencepoints-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedmethod-getsourcestartend-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedmethod-gettoken-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedmethod-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagednamespace-getname-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagednamespace-getnamespaces-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagednamespace-getvariables-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagednamespace-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreader-getdocument-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreader-getdocuments-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreader-getdocumentversion-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreader-getglobalvariables-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreader-getmethod-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreader-getmethodbyversion-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreader-getmethodfromdocumentposition-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreader-getmethodsfromdocumentposition-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreader-getmethodversion-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreader-getnamespaces-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreader-getsymattribute-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreader-getsymbolstorefilename-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreader-getuserentrypoint-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreader-getvariables-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreader-initialize-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreader-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreader-replacesymbolstore-method.md
Labels: :books: Area - .NET Framework Guide

#18461 Collapse relative links, Part 17
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreader-updatesymbolstore-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreader2-getmethodbyversionpreremap-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreader2-getmethodsindocument-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreader2-getsymattributepreremap-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreader2-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreadersymbolsearchinfo-getsymbolsearchinfo-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreadersymbolsearchinfo-getsymbolsearchinfocount-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedreadersymbolsearchinfo-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedscope-getchildren-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedscope-getendoffset-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedscope-getlocalcount-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedscope-getlocals-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedscope-getmethod-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedscope-getnamespaces-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedscope-getparent-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedscope-getstartoffset-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedscope-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedscope2-getconstantcount-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedscope2-getconstants-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedscope2-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedsourceservermodule-getsourceserverdata-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedsourceservermodule-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedsymbolsearchinfo-gethresult-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedsymbolsearchinfo-getsearchpath-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedsymbolsearchinfo-getsearchpathlength-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedsymbolsearchinfo-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedvariable-getaddressfield1-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedvariable-getaddressfield2-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedvariable-getaddressfield3-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedvariable-getaddresskind-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedvariable-getattributes-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedvariable-getendoffset-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedvariable-getname-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedvariable-getsignature-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedvariable-getstartoffset-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedvariable-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-abort-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-close-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-closemethod-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-closenamespace-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-closescope-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-defineconstant-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-definedocument-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-definefield-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-defineglobalvariable-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-definelocalvariable-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-defineparameter-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-definesequencepoints-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-getdebuginfo-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-initialize-method.md
Labels: :books: Area - .NET Framework Guide

#18471 Collapse relative links, Part 18
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-initialize2-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-openmethod-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-opennamespace-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-openscope-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-remaptoken-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-setmethodsourcerange-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-setscoperange-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-setsymattribute-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-setuserentrypoint-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter-usingnamespace-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter2-defineconstant2-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter2-defineglobalvariable2-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter2-definelocalvariable2-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter2-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter3-commit-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter3-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter3-openmethod2-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter4-getdebuginfowithpadding-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter4-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter5-closemaptokenstosourcespans-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter5-interface.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter5-maptokentosourcespan-method.md
  docs/framework/unmanaged-api/diagnostics/isymunmanagedwriter5-openmaptokenstosourcespans-method.md
  docs/framework/unmanaged-api/diagnostics/notify-filter-enumeration.md
  docs/framework/unmanaged-api/diagnostics/symlinedelta-structure.md
  docs/framework/unmanaged-api/diagnostics/user-thread-structure.md
  docs/framework/unmanaged-api/hosting/assemblybindinfo-structure.md
  docs/framework/unmanaged-api/hosting/bucketparameters-structure.md
  docs/framework/unmanaged-api/hosting/callfunctionshim-function.md
  docs/framework/unmanaged-api/hosting/clr-hosting-interfaces-added-in-the-net-framework-4-and-4-5.md
  docs/framework/unmanaged-api/hosting/clr-hosting-interfaces.md
  docs/framework/unmanaged-api/hosting/clrcreateinstance-function.md
  docs/framework/unmanaged-api/hosting/clrcreatemanagedinstance-function.md
  docs/framework/unmanaged-api/hosting/clrruntimehost-coclass.md
  docs/framework/unmanaged-api/hosting/clsid-resolution-flags-enumeration.md
  docs/framework/unmanaged-api/hosting/coeeshutdowncom-function.md
  docs/framework/unmanaged-api/hosting/coinitializecor-function.md
  docs/framework/unmanaged-api/hosting/coinitializeee-function.md
  docs/framework/unmanaged-api/hosting/comcallunmarshal-coclass.md
  docs/framework/unmanaged-api/hosting/cor-gc-stat-types-enumeration.md
  docs/framework/unmanaged-api/hosting/cor-gc-stats-structure.md
  docs/framework/unmanaged-api/hosting/cor-gc-thread-stats-structure.md
  docs/framework/unmanaged-api/hosting/cor-gc-thread-stats-types-enumeration.md
  docs/framework/unmanaged-api/hosting/corbindtocurrentruntime-function.md
  docs/framework/unmanaged-api/hosting/corbindtoruntime-function.md
  docs/framework/unmanaged-api/hosting/corbindtoruntimebycfg-function.md
  docs/framework/unmanaged-api/hosting/corbindtoruntimeex-function.md
  docs/framework/unmanaged-api/hosting/corbindtoruntimehost-function.md
  docs/framework/unmanaged-api/hosting/cordllmain-function.md
Labels: :books: Area - .NET Framework Guide

#18472 Collapse relative links, Part 19
  docs/framework/unmanaged-api/hosting/corexemain-function.md
  docs/framework/unmanaged-api/hosting/corexemain2-function.md
  docs/framework/unmanaged-api/hosting/corexitprocess-function.md
  docs/framework/unmanaged-api/hosting/corimageunloading-function.md
  docs/framework/unmanaged-api/hosting/corlaunchapplication-function.md
  docs/framework/unmanaged-api/hosting/cormarkthreadinthreadpool-function.md
  docs/framework/unmanaged-api/hosting/corruntimehost-coclass.md
  docs/framework/unmanaged-api/hosting/corvalidateimage-function.md
  docs/framework/unmanaged-api/hosting/couninitializecor-function.md
  docs/framework/unmanaged-api/hosting/couninitializeee-function.md
  docs/framework/unmanaged-api/hosting/createdebugginginterfacefromversion-function.md
  docs/framework/unmanaged-api/hosting/createiceefilegen-function.md
  docs/framework/unmanaged-api/hosting/customdumpitem-structure.md
  docs/framework/unmanaged-api/hosting/deprecated-clr-hosting-functions.md
  docs/framework/unmanaged-api/hosting/deprecated-clr-hosting-interfaces-and-coclasses.md
  docs/framework/unmanaged-api/hosting/destroyiceefilegen-function.md
  docs/framework/unmanaged-api/hosting/eapicategories-enumeration.md
  docs/framework/unmanaged-api/hosting/ebindpolicylevels-enumeration.md
  docs/framework/unmanaged-api/hosting/eclrassemblyidentityflags-enumeration.md
  docs/framework/unmanaged-api/hosting/eclrevent-enumeration.md
  docs/framework/unmanaged-api/hosting/eclrfailure-enumeration.md
  docs/framework/unmanaged-api/hosting/eclroperation-enumeration.md
  docs/framework/unmanaged-api/hosting/eclrunhandledexception-enumeration.md
  docs/framework/unmanaged-api/hosting/econtexttype-enumeration.md
  docs/framework/unmanaged-api/hosting/ecustomdumpflavor-enumeration.md
  docs/framework/unmanaged-api/hosting/ecustomdumpitemkind-enumeration.md
  docs/framework/unmanaged-api/hosting/ehostapplicationpolicy-enumeration.md
  docs/framework/unmanaged-api/hosting/ehostbindingpolicymodifyflags-enumeration.md
  docs/framework/unmanaged-api/hosting/einitializenewdomainflags-enumeration.md
  docs/framework/unmanaged-api/hosting/ememoryavailable-enumeration.md
  docs/framework/unmanaged-api/hosting/ememorycriticallevel-enumeration.md
  docs/framework/unmanaged-api/hosting/epolicyaction-enumeration.md
  docs/framework/unmanaged-api/hosting/esymbolreadingpolicy-enumeration.md
  docs/framework/unmanaged-api/hosting/etasktype-enumeration.md
  docs/framework/unmanaged-api/hosting/fexecuteinappdomaincallback-function-pointer.md
  docs/framework/unmanaged-api/hosting/flockclrversioncallback-function-pointer.md
  docs/framework/unmanaged-api/hosting/getclridentitymanager-function.md
  docs/framework/unmanaged-api/hosting/getcorrequiredversion-function.md
  docs/framework/unmanaged-api/hosting/getcorsystemdirectory-function.md
  docs/framework/unmanaged-api/hosting/getcorversion-function.md
  docs/framework/unmanaged-api/hosting/getfileversion-function.md
  docs/framework/unmanaged-api/hosting/getrealprocaddress-function.md
  docs/framework/unmanaged-api/hosting/getrequestedruntimeinfo-function.md
  docs/framework/unmanaged-api/hosting/getrequestedruntimeversion-function.md
  docs/framework/unmanaged-api/hosting/getrequestedruntimeversionforclsid-function.md
  docs/framework/unmanaged-api/hosting/getversionfromprocess-function.md
  docs/framework/unmanaged-api/hosting/host-type-enumeration.md
  docs/framework/unmanaged-api/hosting/hosting-coclasses.md
  docs/framework/unmanaged-api/hosting/hosting-enumerations.md
  docs/framework/unmanaged-api/hosting/hosting-global-static-functions.md
Labels: :books: Area - .NET Framework Guide

#18479 Minor fix from e-book generation
  docs/architecture/cloud-native/relational-vs-nosql-data.md
Labels: :book: guide - Cloud Native, :books: Area - .NET Architecture Guide

#18455 Create proj files and move deploy snippets
  docs/core/deploying/deploy-with-vs.md
  docs/core/deploying/snippets/deploy-with-vs/csharp/deploy.csproj
  docs/core/deploying/snippets/deploy-with-vs/csharp/deployment-example.cs
  docs/core/deploying/snippets/deploy-with-vs/vb/deploy.vbproj
  docs/core/deploying/snippets/deploy-with-vs/vb/deployment-example.vb
  docs/core/deploying/snippets/deploy-with-vs/xml/invariant.csproj
Labels: :books: Area - .NET Core Guide

#18473 Update url+screenshot of ExpressionTreeVisualizer
  docs/csharp/programming-guide/concepts/expression-trees/debugging-expression-trees-in-visual-studio.md
  docs/csharp/programming-guide/concepts/expression-trees/media/debugging-expression-trees-in-visual-studio/expression-to-string-visualizer.png
  docs/csharp/programming-guide/concepts/expression-trees/media/debugging-expression-trees-in-visual-studio/expression-tree-visualizer.png
  docs/visual-basic/programming-guide/concepts/expression-trees/debugging-expression-trees-in-visual-studio.md
  docs/visual-basic/programming-guide/concepts/expression-trees/media/debugging-expression-trees-in-visual-studio/expression-to-string-visualizer-vb.png
  docs/visual-basic/programming-guide/concepts/expression-trees/media/debugging-expression-trees-in-visual-studio/expression-tree-visualizer-vb.png
Labels: :books: Area - C# Guide, :books: Area - Visual Basic Guide, :card_file_box: Technology - C# Advanced concepts

#18466 Correct method signature definition
  docs/csharp/programming-guide/types/index.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#18462 Acrolinx 5/15
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/cqrs-microservice-reads.md
  docs/framework/data/adonet/ef/language-reference/how-entity-sql-differs-from-transact-sql.md
  docs/framework/tools/al-exe-assembly-linker.md
  docs/framework/unmanaged-api/debugging/icordebugregisterset2-getregisters-method.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide, :books: Area - .NET Framework Guide, :card_file_box: Technology - Data Access

#18482 Updated references to Core 3.1
  docs/architecture/cloud-native/leverage-containers-orchestrators.md
  docs/architecture/cloud-native/media/visual-studio-docker-run-options.png
  docs/architecture/cloud-native/media/visual-studio-enable-docker-support.png
Labels: :book: guide - Cloud Native, :books: Area - .NET Architecture Guide

#18494 updates to image classification description
  docs/machine-learning/automate-training-with-model-builder.md
Labels: :books: Area - ML.NET Guide

#18497 Collapse relative links, Part 20
  docs/framework/unmanaged-api/hosting/hosting-interfaces.md
  docs/framework/unmanaged-api/hosting/hosting-structures.md
  docs/framework/unmanaged-api/hosting/iactiononclrevent-interface.md
  docs/framework/unmanaged-api/hosting/iactiononclrevent-onevent-method.md
  docs/framework/unmanaged-api/hosting/iapartmentcallback-docallback-method.md
  docs/framework/unmanaged-api/hosting/iapartmentcallback-interface.md
  docs/framework/unmanaged-api/hosting/iappdomainbinding-interface.md
  docs/framework/unmanaged-api/hosting/iappdomainbinding-onappdomain-method.md
  docs/framework/unmanaged-api/hosting/iappdomainsetup-interface.md
  docs/framework/unmanaged-api/hosting/icatalogservices-autodone-method.md
  docs/framework/unmanaged-api/hosting/icatalogservices-interface.md
  docs/framework/unmanaged-api/hosting/icatalogservices-notautodone-method.md
  docs/framework/unmanaged-api/hosting/iceefilegen-class.md
  docs/framework/unmanaged-api/hosting/iclrappdomainresourcemonitor-getcurrentallocated-method.md
  docs/framework/unmanaged-api/hosting/iclrappdomainresourcemonitor-getcurrentcputime-method.md
  docs/framework/unmanaged-api/hosting/iclrappdomainresourcemonitor-getcurrentsurvived-method.md
  docs/framework/unmanaged-api/hosting/iclrappdomainresourcemonitor-interface.md
  docs/framework/unmanaged-api/hosting/iclrassemblyidentitymanager-getbindingidentityfromfile-method.md
  docs/framework/unmanaged-api/hosting/iclrassemblyidentitymanager-getbindingidentityfromstream-method.md
  docs/framework/unmanaged-api/hosting/iclrassemblyidentitymanager-getclrassemblyreferencelist-method.md
  docs/framework/unmanaged-api/hosting/iclrassemblyidentitymanager-getprobingassembliesfromreference-method.md
  docs/framework/unmanaged-api/hosting/iclrassemblyidentitymanager-getreferencedassembliesfromfile-method.md
  docs/framework/unmanaged-api/hosting/iclrassemblyidentitymanager-getreferencedassembliesfromstream-method.md
  docs/framework/unmanaged-api/hosting/iclrassemblyidentitymanager-interface.md
  docs/framework/unmanaged-api/hosting/iclrassemblyidentitymanager-isstronglynamed-method.md
  docs/framework/unmanaged-api/hosting/iclrassemblyreferencelist-interface.md
  docs/framework/unmanaged-api/hosting/iclrassemblyreferencelist-isassemblyreferenceinlist-method.md
  docs/framework/unmanaged-api/hosting/iclrassemblyreferencelist-isstringassemblyreferenceinlist-method.md
  docs/framework/unmanaged-api/hosting/iclrcontrol-getclrmanager-method.md
  docs/framework/unmanaged-api/hosting/iclrcontrol-interface.md
  docs/framework/unmanaged-api/hosting/iclrcontrol-setappdomainmanagertype-method.md
  docs/framework/unmanaged-api/hosting/iclrdebugmanager-beginconnection-method.md
  docs/framework/unmanaged-api/hosting/iclrdebugmanager-endconnection-method.md
  docs/framework/unmanaged-api/hosting/iclrdebugmanager-getdacl-method.md
  docs/framework/unmanaged-api/hosting/iclrdebugmanager-interface.md
  docs/framework/unmanaged-api/hosting/iclrdebugmanager-isdebuggerattached-method.md
  docs/framework/unmanaged-api/hosting/iclrdebugmanager-setconnectiontasks-method.md
  docs/framework/unmanaged-api/hosting/iclrdebugmanager-setdacl-method.md
  docs/framework/unmanaged-api/hosting/iclrdebugmanager-setsymbolreadingpolicy-method.md
  docs/framework/unmanaged-api/hosting/iclrdomainmanager-interface.md
  docs/framework/unmanaged-api/hosting/iclrdomainmanager-setappdomainmanagertype-method.md
  docs/framework/unmanaged-api/hosting/iclrdomainmanager-setpropertiesfordefaultappdomain-method.md
  docs/framework/unmanaged-api/hosting/iclrerrorreportingmanager-begincustomdump-method.md
  docs/framework/unmanaged-api/hosting/iclrerrorreportingmanager-endcustomdump-method.md
  docs/framework/unmanaged-api/hosting/iclrerrorreportingmanager-getbucketparametersforcurrentexception-method.md
  docs/framework/unmanaged-api/hosting/iclrerrorreportingmanager-interface.md
  docs/framework/unmanaged-api/hosting/iclrgcmanager-collect-method.md
  docs/framework/unmanaged-api/hosting/iclrgcmanager-getstats-method.md
  docs/framework/unmanaged-api/hosting/iclrgcmanager-interface.md
  docs/framework/unmanaged-api/hosting/iclrgcmanager-setgcstartuplimits-method.md
Labels: :books: Area - .NET Framework Guide

#18481 Add white background to diagram
  docs/standard/base-types/media/character-encoding-introduction/scalar-values.svg
Labels: :books: Area - .NET Guide

#18499 Fix name of dotnet local tools .json file
  docs/core/tools/dotnet-tool-install.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#18498 Corrected link to dotnet list package command
  docs/core/tools/dependencies.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#18456 Unit testing order
  .openpublishing.publish.config.json
  docfx.json
  docs/core/testing/index.md
  docs/core/testing/order-unit-tests.md
  docs/core/testing/selective-unit-tests.md
  docs/core/testing/unit-testing-visual-basic-with-dotnet-test.md
  docs/core/testing/unit-testing-with-dotnet-test.md
  docs/core/toc.yml
  docs/zone-pivot-groups.yml
Labels: :books: Area - .NET Core Guide

#18502 Collapse relative links, Part 21
  docs/framework/unmanaged-api/hosting/iclrgcmanager2-interface.md
  docs/framework/unmanaged-api/hosting/iclrgcmanager2-setgcstartuplimitsex-method.md
  docs/framework/unmanaged-api/hosting/iclrhostbindingpolicymanager-evaluatepolicy-method.md
  docs/framework/unmanaged-api/hosting/iclrhostbindingpolicymanager-interface.md
  docs/framework/unmanaged-api/hosting/iclrhostbindingpolicymanager-modifyapplicationpolicy-method.md
  docs/framework/unmanaged-api/hosting/iclrhostprotectionmanager-interface.md
  docs/framework/unmanaged-api/hosting/iclrhostprotectionmanager-seteagerserializegrantsets-method.md
  docs/framework/unmanaged-api/hosting/iclrhostprotectionmanager-setprotectedcategories-method.md
  docs/framework/unmanaged-api/hosting/iclriocompletionmanager-interface.md
  docs/framework/unmanaged-api/hosting/iclriocompletionmanager-oncomplete-method.md
  docs/framework/unmanaged-api/hosting/iclrmemorynotificationcallback-interface.md
  docs/framework/unmanaged-api/hosting/iclrmemorynotificationcallback-onmemorynotification-method.md
  docs/framework/unmanaged-api/hosting/iclrmetahost-enumerateinstalledruntimes-method.md
  docs/framework/unmanaged-api/hosting/iclrmetahost-enumerateloadedruntimes-method.md
  docs/framework/unmanaged-api/hosting/iclrmetahost-exitprocess-method.md
  docs/framework/unmanaged-api/hosting/iclrmetahost-getruntime-method.md
  docs/framework/unmanaged-api/hosting/iclrmetahost-getversionfromfile-method.md
  docs/framework/unmanaged-api/hosting/iclrmetahost-interface.md
  docs/framework/unmanaged-api/hosting/iclrmetahost-querylegacyv2runtimebinding-method.md
  docs/framework/unmanaged-api/hosting/iclrmetahost-requestruntimeloadednotification-method.md
  docs/framework/unmanaged-api/hosting/iclrmetahostpolicy-getrequestedruntime-method.md
  docs/framework/unmanaged-api/hosting/iclrmetahostpolicy-interface.md
  docs/framework/unmanaged-api/hosting/iclroneventmanager-interface.md
  docs/framework/unmanaged-api/hosting/iclroneventmanager-registeractiononevent-method.md
  docs/framework/unmanaged-api/hosting/iclroneventmanager-unregisteractiononevent-method.md
  docs/framework/unmanaged-api/hosting/iclrpolicymanager-interface.md
  docs/framework/unmanaged-api/hosting/iclrpolicymanager-setactiononfailure-method.md
  docs/framework/unmanaged-api/hosting/iclrpolicymanager-setactionontimeout-method.md
  docs/framework/unmanaged-api/hosting/iclrpolicymanager-setdefaultaction-method.md
  docs/framework/unmanaged-api/hosting/iclrpolicymanager-settimeout-method.md
  docs/framework/unmanaged-api/hosting/iclrpolicymanager-settimeoutandaction-method.md
  docs/framework/unmanaged-api/hosting/iclrpolicymanager-setunhandledexceptionpolicy-method.md
  docs/framework/unmanaged-api/hosting/iclrprobingassemblyenum-get-method.md
  docs/framework/unmanaged-api/hosting/iclrprobingassemblyenum-interface.md
  docs/framework/unmanaged-api/hosting/iclrreferenceassemblyenum-get-method.md
  docs/framework/unmanaged-api/hosting/iclrreferenceassemblyenum-interface.md
  docs/framework/unmanaged-api/hosting/iclrruntimehost-executeapplication-method.md
  docs/framework/unmanaged-api/hosting/iclrruntimehost-executeinappdomain-method.md
  docs/framework/unmanaged-api/hosting/iclrruntimehost-executeindefaultappdomain-method.md
  docs/framework/unmanaged-api/hosting/iclrruntimehost-getclrcontrol-method.md
  docs/framework/unmanaged-api/hosting/iclrruntimehost-getcurrentappdomainid-method.md
  docs/framework/unmanaged-api/hosting/iclrruntimehost-interface.md
  docs/framework/unmanaged-api/hosting/iclrruntimehost-sethostcontrol-method.md
  docs/framework/unmanaged-api/hosting/iclrruntimehost-start-method.md
  docs/framework/unmanaged-api/hosting/iclrruntimehost-stop-method.md
  docs/framework/unmanaged-api/hosting/iclrruntimehost-unloadappdomain-method.md
  docs/framework/unmanaged-api/hosting/iclrruntimeinfo-bindaslegacyv2runtime-method.md
  docs/framework/unmanaged-api/hosting/iclrruntimeinfo-getdefaultstartupflags-method.md
  docs/framework/unmanaged-api/hosting/iclrruntimeinfo-getinterface-method.md
  docs/framework/unmanaged-api/hosting/iclrruntimeinfo-getprocaddress-method.md
Labels: :books: Area - .NET Framework Guide

#18492 Add globalization API breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/globalization.md
  docs/core/run-time-config/globalization.md
  includes/core-changes/globalization/5.0/icu-globalization-api.md
Labels: :books: Area - .NET Core Guide

#18486 Move and improve async snippets
  docs/csharp/programming-guide/concepts/async/async-return-types.md
  docs/csharp/programming-guide/concepts/async/index.md
  docs/csharp/programming-guide/concepts/async/snippets/async-return-types/AsyncExamples.csproj
  docs/csharp/programming-guide/concepts/async/snippets/async-return-types/AsyncStreams.cs
  docs/csharp/programming-guide/concepts/async/snippets/async-return-types/Program.cs
  docs/csharp/programming-guide/concepts/async/snippets/async-return-types/async-returns1.cs
  docs/csharp/programming-guide/concepts/async/snippets/async-return-types/async-returns1a.cs
  docs/csharp/programming-guide/concepts/async/snippets/async-return-types/async-returns2.cs
  docs/csharp/programming-guide/concepts/async/snippets/async-return-types/async-returns2a.cs
  docs/csharp/programming-guide/concepts/async/snippets/async-return-types/async-returns3.cs
  docs/csharp/programming-guide/concepts/async/snippets/async-return-types/async-valuetask.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V2/AsyncBreakfast.csproj
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V2/Bacon.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V2/Coffee.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V2/Egg.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V2/Juice.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V2/Program.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V2/Toast.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V3/AsyncBreakfast.csproj
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V3/Bacon.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V3/Coffee.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V3/Egg.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V3/Juice.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V3/Program.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V3/Toast.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-final/AsyncBreakfast.csproj
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-final/Bacon.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-final/Coffee.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-final/Egg.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-final/Juice.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-final/Program.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-final/Toast.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-starter/AsyncBreakfast.csproj
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-starter/Bacon.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-starter/Coffee.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-starter/Egg.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-starter/Juice.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-starter/Program.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-starter/Toast.cs
Labels: :books: Area - C# Guide, :card_file_box: Technology - Async Task, changes-addressed

#18521 Collapse relative links, Part 22
  docs/framework/unmanaged-api/hosting/iclrruntimeinfo-getruntimedirectory-method.md
  docs/framework/unmanaged-api/hosting/iclrruntimeinfo-getversionstring-method.md
  docs/framework/unmanaged-api/hosting/iclrruntimeinfo-interface.md
  docs/framework/unmanaged-api/hosting/iclrruntimeinfo-isloadable-method.md
  docs/framework/unmanaged-api/hosting/iclrruntimeinfo-isloaded-method.md
  docs/framework/unmanaged-api/hosting/iclrruntimeinfo-isstarted-method.md
  docs/framework/unmanaged-api/hosting/iclrruntimeinfo-loaderrorstring-method.md
  docs/framework/unmanaged-api/hosting/iclrruntimeinfo-loadlibrary-method.md
  docs/framework/unmanaged-api/hosting/iclrruntimeinfo-setdefaultstartupflags-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-gethashfromassemblyfile-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-gethashfromassemblyfilew-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-gethashfromblob-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-gethashfromfile-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-gethashfromfilew-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-gethashfromhandle-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-interface.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamecompareassemblies-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamefreebuffer-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamegetblob-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamegetblobfromimage-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamegetpublickey-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamehashsize-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamekeydelete-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamekeygen-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamekeygenex-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamekeyinstall-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamesignaturegeneration-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamesignaturegenerationex-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamesignaturesize-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamesignatureverification-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamesignatureverificationex-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnamesignatureverificationfromimage-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnametokenfromassembly-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnametokenfromassemblyex-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname-strongnametokenfrompublickey-method.md
  docs/framework/unmanaged-api/hosting/iclrstrongname2-interface.md
  docs/framework/unmanaged-api/hosting/iclrsyncmanager-createrwlockowneriterator-method.md
  docs/framework/unmanaged-api/hosting/iclrsyncmanager-deleterwlockowneriterator-method.md
  docs/framework/unmanaged-api/hosting/iclrsyncmanager-getmonitorowner-method.md
  docs/framework/unmanaged-api/hosting/iclrsyncmanager-getrwlockownernext-method.md
  docs/framework/unmanaged-api/hosting/iclrtask-abort-method.md
  docs/framework/unmanaged-api/hosting/iclrtask-exittask-method.md
  docs/framework/unmanaged-api/hosting/iclrtask-getmemstats-method.md
  docs/framework/unmanaged-api/hosting/iclrtask-interface.md
  docs/framework/unmanaged-api/hosting/iclrtask-locksheld-method.md
  docs/framework/unmanaged-api/hosting/iclrtask-needspriorityscheduling-method.md
  docs/framework/unmanaged-api/hosting/iclrtask-reset-method.md
  docs/framework/unmanaged-api/hosting/iclrtask-rudeabort-method.md
  docs/framework/unmanaged-api/hosting/iclrtask-settaskidentifier-method.md
  docs/framework/unmanaged-api/hosting/iclrtask-switchin-method.md
Labels: :books: Area - .NET Framework Guide

#18504 Bold the word "directly"
  docs/core/tools/dotnet-publish.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#18522 Collapse relative links, Part 23
  docs/framework/unmanaged-api/hosting/iclrtask-switchout-method.md
  docs/framework/unmanaged-api/hosting/iclrtask-yieldtask-method.md
  docs/framework/unmanaged-api/hosting/iclrtask2-beginpreventasyncabort-method.md
  docs/framework/unmanaged-api/hosting/iclrtask2-endpreventasyncabort-method.md
  docs/framework/unmanaged-api/hosting/iclrtask2-interface.md
  docs/framework/unmanaged-api/hosting/iclrtaskmanager-createtask-method.md
  docs/framework/unmanaged-api/hosting/iclrtaskmanager-getcurrenttask-method.md
  docs/framework/unmanaged-api/hosting/iclrtaskmanager-getcurrenttasktype-method.md
  docs/framework/unmanaged-api/hosting/iclrtaskmanager-interface.md
  docs/framework/unmanaged-api/hosting/iclrtaskmanager-setlocale-method.md
  docs/framework/unmanaged-api/hosting/iclrtaskmanager-setuilocale-method.md
  docs/framework/unmanaged-api/hosting/iclrvalidator-formateventinfo-method.md
  docs/framework/unmanaged-api/hosting/iclrvalidator-interface.md
  docs/framework/unmanaged-api/hosting/iclrvalidator-validate-method.md
  docs/framework/unmanaged-api/hosting/icorconfiguration-adddebuggerspecialthread-method.md
  docs/framework/unmanaged-api/hosting/icorconfiguration-interface.md
  docs/framework/unmanaged-api/hosting/icorconfiguration-setdebuggerthreadcontrol-method.md
  docs/framework/unmanaged-api/hosting/icorconfiguration-setgchostcontrol-method.md
  docs/framework/unmanaged-api/hosting/icorconfiguration-setgcthreadcontrol-method.md
  docs/framework/unmanaged-api/hosting/icorruntimehost-closeenum-method.md
  docs/framework/unmanaged-api/hosting/icorruntimehost-createdomain-method.md
  docs/framework/unmanaged-api/hosting/icorruntimehost-createdomainex-method.md
  docs/framework/unmanaged-api/hosting/icorruntimehost-createdomainsetup-method.md
  docs/framework/unmanaged-api/hosting/icorruntimehost-createevidence-method.md
  docs/framework/unmanaged-api/hosting/icorruntimehost-createlogicalthreadstate-method.md
  docs/framework/unmanaged-api/hosting/icorruntimehost-currentdomain-method.md
  docs/framework/unmanaged-api/hosting/icorruntimehost-deletelogicalthreadstate-method.md
  docs/framework/unmanaged-api/hosting/icorruntimehost-enumdomains-method.md
  docs/framework/unmanaged-api/hosting/icorruntimehost-getconfiguration-method.md
  docs/framework/unmanaged-api/hosting/icorruntimehost-getdefaultdomain-method.md
  docs/framework/unmanaged-api/hosting/icorruntimehost-interface.md
  docs/framework/unmanaged-api/hosting/icorruntimehost-locksheldbylogicalthread-method.md
  docs/framework/unmanaged-api/hosting/icorruntimehost-mapfile-method.md
  docs/framework/unmanaged-api/hosting/icorruntimehost-nextdomain-method.md
  docs/framework/unmanaged-api/hosting/icorruntimehost-start-method.md
  docs/framework/unmanaged-api/hosting/icorruntimehost-stop-method.md
  docs/framework/unmanaged-api/hosting/icorruntimehost-switchinlogicalthreadstate-method.md
  docs/framework/unmanaged-api/hosting/icorruntimehost-switchoutlogicalthreadstate-method.md
  docs/framework/unmanaged-api/hosting/icorruntimehost-unloaddomain-method.md
  docs/framework/unmanaged-api/hosting/icorthreadpool-corbindiocompletioncallback-method.md
  docs/framework/unmanaged-api/hosting/icorthreadpool-corcallorqueueuserworkitem-method.md
  docs/framework/unmanaged-api/hosting/icorthreadpool-corchangetimer-method.md
  docs/framework/unmanaged-api/hosting/icorthreadpool-corcreatetimer-method.md
  docs/framework/unmanaged-api/hosting/icorthreadpool-cordeletetimer-method.md
  docs/framework/unmanaged-api/hosting/icorthreadpool-corgetavailablethreads-method.md
  docs/framework/unmanaged-api/hosting/icorthreadpool-corgetmaxthreads-method.md
  docs/framework/unmanaged-api/hosting/icorthreadpool-corqueueuserworkitem-method.md
  docs/framework/unmanaged-api/hosting/icorthreadpool-corregisterwaitforsingleobject-method.md
  docs/framework/unmanaged-api/hosting/icorthreadpool-corsetmaxthreads-method.md
  docs/framework/unmanaged-api/hosting/icorthreadpool-corunregisterwait-method.md
Labels: :books: Area - .NET Framework Guide
