Repository dotnet/docs, pull requests merged in 2020-09, with the labels that each got.

#19980 Rename ReRoutes to Routes
  docs/architecture/microservices/multi-container-microservice-net-applications/implement-api-gateways-with-ocelot.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#20359 Update docker-compose with new mssql location
  docs/architecture/microservices/docker-application-development-process/docker-app-development-workflow.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#20389 Fix missing space typo
  docs/csharp/properties.md
Labels: :books: Area - C# Guide, :sparkles: 1st-time docs contributor!

#20390 Attributes come after xml docs in F# type formatting
  docs/fsharp/style-guide/formatting.md
Labels: :books: Area - F# Guide

#20369 Add missing new articles in toc
  docs/csharp/language-reference/compiler-messages/toc.yml
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# / VB diagnostics, :card_file_box: Technology - C# Language Reference

#20335 Fix typo
  docs/csharp/tour-of-csharp/program-building-blocks.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Get Started

#20336 Remove duplicate sentence
  docs/csharp/tour-of-csharp/program-building-blocks.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Get Started

#19757 Update to Schannel TLS registry entry
  docs/framework/network-programming/tls.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - NCL

#18335 Update cqrs-microservice-reads.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/cqrs-microservice-reads.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#20159 Add langversion 16
  docs/visual-basic/reference/command-line-compiler/langversion.md
Labels: :books: Area - Visual Basic Guide

#20158 Revert "Added version 15.8"
  docs/visual-basic/language-reference/configure-language-version.md
Labels: :books: Area - Visual Basic Guide

#20154 Fix title suffix
  docs/visual-basic/getting-started/whats-new.md
Labels: :books: Area - Visual Basic Guide

#20132 #19770 added permission calc link
  docs/architecture/cloud-native/azure-security.md
Labels: :book: guide - Cloud Native, :books: Area - .NET Architecture Guide

#20113 Update and shuffle around piping docs/links in F# symbol and operatr reference
  docs/fsharp/language-reference/symbol-and-operator-reference/index.md
Labels: :books: Area - F# Guide

#20012 Fix constructors not matching class name
  docs/architecture/grpc-for-wcf-developers/client-libraries.md
Labels: :book: guide - gRPC, :books: Area - .NET Architecture Guide

#19975 Use proper bracket style on AsynchronousSocketListener example
  docs/framework/network-programming/asynchronous-server-socket-example.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - NCL

#20395 Update other docs name
  docs/core/tutorials/testing-library-with-visual-studio-code.md
  docs/core/tutorials/testing-library-with-visual-studio-mac.md
  docs/core/tutorials/testing-library-with-visual-studio.md
Labels: :books: Area - .NET Core Guide

#20387 Update telemetry link
  docs/core/tools/telemetry.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#20356 Add acronym to first occurrence
  docs/standard/net-standard.md
Labels: :books: Area - .NET Guide

#20398 fix branding
  docs/spark/tutorials/get-started.md
Labels: :books: Area - .NET for Apache Spark Guide

#19755 Link samples browser instead of GitHub
  docs/machine-learning/tutorials/image-classification-api-transfer-learning.md
Labels: :books: Area - ML.NET Guide

#20396 Fix few links that caused markdownlint error
  docs/fsharp/language-reference/symbol-and-operator-reference/index.md
Labels: :books: Area - F# Guide

#19947 Add x64 IsSupported breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/corefx.md
  includes/core-changes/corefx/5.0/hardware-instrinsics-issupported-checks.md
Labels: :books: Area - .NET Core Guide

#20383 Deleting extra lines with ' chars
  docs/framework/wpf/graphics-multimedia/3-d-graphics-overview.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WPF

#20400 Whats new for August
  docs/whats-new/2020-08.md
  docs/whats-new/dotnet-2020-02.md
  docs/whats-new/index.yml
  docs/whats-new/toc.yml
Labels: :star2: What's New

#20394 Updated edition information on the front page.
  docs/architecture/microservices/index.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#20074 Update headings in 'Organizing code in C.A.'
  docs/architecture/modern-web-apps-azure/common-web-application-architectures.md
Labels: :book: guide - ASP.NET Core web apps, :books: Area - .NET Architecture Guide

#20412 Updated ocelot API image.
  docs/architecture/microservices/multi-container-microservice-net-applications/media/implement-api-gateways-with-ocelot/reusing-single-ocelot-docker-image.png
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#19372 Replacing with "opaque box"
  docs/core/rid-catalog.md
Labels: :books: Area - .NET Core Guide, waiting-on-feedback

#20411 using code sample fix
  docs/csharp/whats-new/csharp-8.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# What's New

#20409 Fix typo to be consistent with example
  docs/csharp/tour-of-csharp/features.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Get Started

#20405 Fix grammatical error
  docs/csharp/pattern-matching.md
Labels: :books: Area - C# Guide

#20410 Update unsupported-apis for CMS
  docs/core/compatibility/unsupported-apis.md
Labels: :books: Area - .NET Core Guide

#20418 Merge 2 sentences for better readability
  docs/csharp/programming-guide/concepts/async/index.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - Async Task

#20408 Standardize sample projects, Part 34
  docs/core/tutorials/snippets/library-with-visual-studio/csharp/ShowCase/ShowCase.csproj
  samples/snippets/csharp/getting_started/ClassLibraryProjects/ShowCase/ShowCase.csproj
  samples/snippets/csharp/how-to/strings/strings.csproj
  samples/snippets/desktop-guide/wpf/styles-and-templates-intro/csharp/App.config
  samples/snippets/desktop-guide/wpf/styles-and-templates-intro/csharp/CSharpExample.csproj
  samples/snippets/desktop-guide/wpf/styles-and-templates-intro/csharp/Properties/AssemblyInfo.cs
  samples/snippets/desktop-guide/wpf/styles-and-templates-intro/csharp/Properties/Resources.Designer.cs
  samples/snippets/desktop-guide/wpf/styles-and-templates-intro/csharp/Properties/Resources.resx
  samples/snippets/desktop-guide/wpf/styles-and-templates-intro/csharp/Properties/Settings.Designer.cs
  samples/snippets/desktop-guide/wpf/styles-and-templates-intro/csharp/Properties/Settings.settings
  samples/snippets/visualbasic/VS_Snippets_Misc/tpldataflow_cancellationwinforms/vb/cancellationwinforms/app.config
  samples/snippets/visualbasic/VS_Snippets_Misc/tpldataflow_cancellationwinforms/vb/cancellationwinforms/cancellationwinforms.vbproj
  samples/snippets/visualbasic/VS_Snippets_Misc/tpldataflow_cancellationwinforms/vb/cancellationwinforms/my project/assemblyinfo.vb
  samples/snippets/visualbasic/VS_Snippets_Misc/tpldataflow_cancellationwinforms/vb/cancellationwinforms/my project/resources.designer.vb
  samples/snippets/visualbasic/VS_Snippets_Misc/tpldataflow_cancellationwinforms/vb/cancellationwinforms/my project/resources.resx
  samples/snippets/visualbasic/VS_Snippets_Misc/tpldataflow_cancellationwinforms/vb/cancellationwinforms/my project/settings.designer.vb
  samples/snippets/visualbasic/VS_Snippets_Misc/tpldataflow_cancellationwinforms/vb/cancellationwinforms/my project/settings.settings
Labels: :books: Area - .NET Core Guide

#20421 Updated Listening to events section
  docs/csharp/distinguish-delegates-events.md
Labels: :books: Area - C# Guide

#20416 Document System.Net.Cookie path related breaking changes
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/fx-core.md
  includes/core-changes/networking/5.0/cookie-path-conforms-to-rfc6265.md
Labels: :books: Area - .NET Core Guide

#20424 47). Fix and add descriptions
  docs/standard/linq/chain-axis-method-calls.md
  docs/standard/linq/filter-element-names.md
  docs/standard/linq/find-default-paragraph-style.md
  docs/standard/linq/find-element-specific-attribute.md
  docs/standard/linq/query-xml-trees-overview.md
  docs/standard/linq/read-write-encoded-document.md
  docs/standard/linq/retrieve-collection-attributes.md
  docs/standard/linq/retrieve-collection-elements.md
  docs/standard/linq/retrieve-value-element.md
  docs/standard/linq/sample-xml-file-books.md
  docs/standard/linq/sample-xml-file-consolidated-purchase-orders.md
  docs/standard/linq/sample-xml-file-customers-orders-namespace.md
  docs/standard/linq/sample-xml-file-customers-orders.md
  docs/standard/linq/sample-xml-file-multiple-purchase-orders-namespace.md
  docs/standard/linq/sample-xml-file-multiple-purchase-orders.md
  docs/standard/linq/sample-xml-file-numerical-data-namespace.md
  docs/standard/linq/sample-xml-file-numerical-data.md
  docs/standard/linq/sample-xml-file-test-configuration-namespace.md
  docs/standard/linq/sample-xml-file-test-configuration.md
  docs/standard/linq/sample-xml-file-typical-purchase-order-namespace.md
  docs/standard/linq/sample-xml-file-typical-purchase-order.md
  docs/standard/linq/sample-xsd-file-customers-orders.md
  docs/standard/linq/sort-elements-multiple-keys.md
  docs/standard/linq/sort-elements.md
  docs/standard/linq/statically-compiled-queries.md
  docs/standard/linq/use-annotations-transform-linq-xml-trees-xslt-style.md
Labels: :books: Area - .NET Guide

#20349 Fundamentals TOC
  .openpublishing.redirection.json
  docs/architecture/microservices/net-core-net-framework-containers/net-framework-container-scenarios.md
  docs/breadcrumb/toc.yml
  docs/core/index.yml
  docs/core/toc.yml
  docs/csharp/getting-started/introduction-to-the-csharp-language-and-the-net-framework.md
  docs/csharp/programming-guide/main-and-command-args/main-return-values.md
  docs/csharp/toc.yml
  docs/csharp/tutorials/index.md
  docs/csharp/tutorials/intro-to-csharp/arrays-and-collections.md
  docs/framework/get-started/index.md
  docs/framework/get-started/net-core-and-open-source.md
  docs/framework/toc.yml
  docs/fundamentals/index.yml
  docs/fundamentals/toc.yml
  docs/index.yml
  docs/standard/analyzers/index.md
  docs/standard/analyzers/portability-analyzer.md
  docs/standard/choosing-core-framework-server.md
  docs/standard/components.md
  docs/standard/glossary.md
  docs/standard/index.yml
  docs/standard/toc.yml
  docs/toc.yml
  docs/welcome.md
  docs/whats-new/dotnet-2020-03.md
  docs/whats-new/dotnet-2020-04.md
Labels: :books: Area - .NET Core Guide, :books: Area - .NET Framework Guide, :books: Area - .NET Guide

#20427 Acrolinx 9/2
  docs/core/rid-catalog.md
Labels: :books: Area - .NET Core Guide

#20435 Fix cookie breaking change docs
  docs/core/compatibility/networking.md
  includes/core-changes/networking/5.0/cookie-path-conforms-to-rfc6265.md
Labels: :books: Area - .NET Core Guide

#20130 Update how to call an event handler article
  docs/visual-basic/programming-guide/language-features/procedures/how-to-call-an-event-handler.md
  docs/visual-basic/programming-guide/language-features/procedures/snippets/how-to-call-an-event-handler/CallEventHandler.vbproj
  docs/visual-basic/programming-guide/language-features/procedures/snippets/how-to-call-an-event-handler/SpecialForm.Designer.vb
  docs/visual-basic/programming-guide/language-features/procedures/snippets/how-to-call-an-event-handler/SpecialForm.vb
  samples/snippets/visualbasic/VS_Snippets_VBCSharp/VbVbcnProcedures/VB/Class1.vb
Labels: :books: Area - Visual Basic Guide

#20431 clarify array text and integrate tuple value type
  docs/csharp/tour-of-csharp/index.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Get Started

#20429 Change wording to be in second person
  docs/csharp/events-overview.md
Labels: :books: Area - C# Guide

#20385 Acrolinx 8/31
  docs/core/deploying/trim-self-contained.md
  docs/core/deploying/trimming-options.md
Labels: :books: Area - .NET Core Guide

#20428 Breaking changes for CA2014, CA2015, CA2247
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/code-analysis.md
  includes/core-changes/codeanalysis/5.0/ctor-arg-should-be-taskcreationoptions.md
  includes/core-changes/codeanalysis/5.0/finalizers-for-memorymanager-types.md
  includes/core-changes/codeanalysis/5.0/stackalloc-in-loops.md
Labels: :books: Area - .NET Core Guide

#19739 Add console logger breaking changes
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/corefx.md
  includes/core-changes/corefx/5.0/obsolete-consoleloggeroptions-properties.md
Labels: :books: Area - .NET Core Guide

#20404 Acrolinx 9/1
  docs/architecture/modern-web-apps-azure/test-asp-net-core-mvc-apps.md
  docs/csharp/language-reference/builtin-types/char.md
Labels: :book: guide - ASP.NET Core web apps, :books: Area - .NET Architecture Guide, :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#20438 Improve library-with-visual-studio-code.md
  docs/core/tutorials/library-with-visual-studio-code.md
Labels: :books: Area - .NET Core Guide

#20025 Replace .NET Framework with .NET where applicable
  docs/csharp/basic-types.md
  docs/csharp/codedoc.md
  docs/csharp/getting-started/index.md
  docs/csharp/getting-started/introduction-to-the-csharp-language-and-the-net-framework.md
  docs/csharp/how-to/index.md
  docs/csharp/how-to/modify-string-contents.md
  docs/csharp/how-to/search-strings.md
  docs/csharp/language-reference/compiler-messages/cs0029.md
  docs/csharp/language-reference/compiler-messages/cs0234.md
  docs/csharp/language-reference/compiler-options/baseaddress-compiler-option.md
  docs/csharp/language-reference/compiler-options/link-compiler-option.md
  docs/csharp/language-reference/compiler-options/linkresource-compiler-option.md
  docs/csharp/language-reference/compiler-options/listed-by-category.md
  docs/csharp/language-reference/compiler-options/noconfig-compiler-option.md
  docs/csharp/language-reference/compiler-options/platform-compiler-option.md
  docs/csharp/language-reference/compiler-options/resource-compiler-option.md
  docs/csharp/language-reference/compiler-options/target-module-compiler-option.md
  docs/csharp/language-reference/compiler-options/target-winexe-compiler-option.md
  docs/csharp/language-reference/keywords/event.md
  docs/csharp/misc/cs0013.md
  docs/csharp/misc/cs0148.md
  docs/csharp/misc/cs0167.md
  docs/csharp/misc/cs0174.md
  docs/csharp/misc/cs0444.md
  docs/csharp/misc/cs0517.md
  docs/csharp/misc/cs0520.md
  docs/csharp/misc/cs0537.md
  docs/csharp/misc/cs1110.md
  docs/csharp/misc/cs1588.md
  docs/csharp/misc/cs1599.md
  docs/csharp/misc/cs1601.md
  docs/csharp/programming-guide/concepts/covariance-contravariance/index.md
  docs/csharp/programming-guide/concepts/covariance-contravariance/variance-in-delegates.md
  docs/csharp/programming-guide/concepts/linq/how-to-count-occurrences-of-a-word-in-a-string-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-query-for-sentences-that-contain-a-specified-set-of-words-linq.md
  docs/csharp/programming-guide/events/how-to-publish-events-that-conform-to-net-framework-guidelines.md
  docs/csharp/programming-guide/events/index.md
  docs/csharp/programming-guide/generics/generic-interfaces.md
  docs/csharp/toc.yml
Labels: :books: Area - C# Guide, :card_file_box: Technology - Async Task, :card_file_box: Technology - C# / VB diagnostics, :card_file_box: Technology - C# Advanced concepts, :card_file_box: Technology - C# Fundamentals, :card_file_box: Technology - C# Get Started, :card_file_box: Technology - C# Language Reference, :card_file_box: Technology - LINQ, :sparkles: 1st-time docs contributor!

#20299 Adding What is .NET 5 article
  docs/core/dotnet-five.md
  docs/core/tools/dotnet-new.md
  docs/fundamentals/index.yml
  docs/fundamentals/toc.yml
  docs/index.yml
Labels: :checkered_flag: Release: .NET 5

#20449 Minor fixes
  docs/core/dotnet-five.md
Labels: :books: Area - .NET Core Guide

#20458 Fix link for gcAllowVeryLargeObjects
  docs/framework/configure-apps/file-schema/runtime/index.md
Labels: :books: Area - .NET Framework Guide

#20447 Fix out of date explanation of named arguments
  docs/csharp/methods.md
Labels: :books: Area - C# Guide

#20440 Replaces "indexer" word with the "accessor"
  docs/csharp/programming-guide/indexers/index.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#20148 Create breaking-changes for VB compiler
  .openpublishing.redirection.json
  docs/visual-basic/getting-started/index.md
  docs/visual-basic/toc.yml
  docs/visual-basic/whats-new/breaking-changes.md
  docs/visual-basic/whats-new/index.md
  docs/welcome.md
Labels: :books: Area - Visual Basic Guide

#20460 Update minor example output
  docs/core/tutorials/library-with-visual-studio-code.md
  docs/core/tutorials/publishing-with-visual-studio-code.md
Labels: :books: Area - .NET Core Guide

#20365 Conceptual document for single file publish option
  docs/core/deploying/media/single-file/visual-studio-publish-edit-settings.png
  docs/core/deploying/media/single-file/visual-studio-publish-single-file-properties.png
  docs/core/deploying/media/single-file/visual-studio-solution-explorer.png
  docs/core/deploying/single-file.md
  docs/fundamentals/toc.yml
Labels: :books: Area - .NET Core Guide

#20444 Minor updates related to .NET 5.0
  docs/core/dotnet-five.md
  docs/core/tools/dotnet-new.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - CLI

#20446 Whats new in C# 9
  .openpublishing.redirection.json
  docs/csharp/index.yml
  docs/csharp/language-reference/configure-language-version.md
  docs/csharp/toc.yml
  docs/csharp/whats-new/csharp-9.md
  docs/csharp/whats-new/snippets/whats-new-csharp9/FitAndFinish.cs
  docs/csharp/whats-new/snippets/whats-new-csharp9/NewCsharp9.csproj
  docs/csharp/whats-new/snippets/whats-new-csharp9/PatternUtilities.cs
  docs/csharp/whats-new/snippets/whats-new-csharp9/PositionalRecords.cs
  docs/csharp/whats-new/snippets/whats-new-csharp9/Program.cs
  docs/csharp/whats-new/snippets/whats-new-csharp9/RecordsExamples.cs
  docs/csharp/whats-new/snippets/whats-new-csharp9/WeatherObservation.cs
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference, :card_file_box: Technology - C# What's New

#20464 Fix Incorrect Regex anchor code used in example
  docs/standard/base-types/alternation-constructs-in-regular-expressions.md
Labels: :books: Area - .NET Guide, :sparkles: 1st-time docs contributor!

#20489 fix redirection
  .openpublishing.redirection.json
Labels: P0

#20470 fix header level
  docs/architecture/modernize-with-azure-containers/walkthroughs-technical-get-started-overview.md
Labels: :book: guide - Modernizing w/ Windows containers, :books: Area - .NET Architecture Guide

#20482 Updated code snippet
  docs/architecture/blazor-for-web-forms-developers/data.md
Labels: :book: guide - Blazor, :books: Area - .NET Architecture Guide

#20469 remove locales
  docs/azure/includes/dotnet-all.md
Labels: :books: Area - Azure .NET SDK

#20467 Minor enhancements to the Microsoft.Data.Sqlite docs
  docs/standard/data/sqlite/async.md
  docs/standard/data/sqlite/custom-versions.md
  samples/snippets/standard/data/sqlite/AsyncSample/Program.cs
Labels: :books: Area - .NET Guide

#20466 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: :books: Area - Azure .NET SDK

#20463 Bitwise operators: explicitly mention type of operands
  docs/csharp/language-reference/operators/bitwise-and-shift-operators.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#20419 Document feature switches
  docs/core/deploying/trimming-options.md
Labels: :books: Area - .NET Core Guide

#20341 Fix null forgiving F1 keyword
  docs/csharp/language-reference/operators/null-forgiving.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#19737 Update Modern Web Apps eBook with Blazor WebAssembly Content
  docs/architecture/modern-web-apps-azure/choose-between-traditional-web-and-single-page-apps.md
  docs/architecture/modern-web-apps-azure/develop-asp-net-core-mvc-apps.md
  docs/architecture/modern-web-apps-azure/media/image7-4.png
  docs/architecture/modern-web-apps-azure/media/image8-3.jpg
  docs/architecture/modern-web-apps-azure/work-with-data-in-asp-net-core-apps.md
Labels: :book: guide - ASP.NET Core web apps, :books: Area - .NET Architecture Guide

#20497 Added clarifying 'core' naming bits, and link to C# 9 doc.
  docs/core/dotnet-five.md
Labels: :books: Area - .NET Core Guide

#20377 Linux dump debugging docs
  docs/core/diagnostics/debug-linux-dumps.md
  docs/core/diagnostics/dotnet-dump.md
  docs/core/diagnostics/dotnet-sos.md
  docs/core/diagnostics/dotnet-symbol.md
  docs/core/diagnostics/index.md
  docs/core/tools/global-tools.md
Labels: :books: Area - .NET Core Guide

#20503 Respond to feedback
  docfx.json
  docs/csharp/language-reference/proposals/toc.yml
  docs/csharp/whats-new/csharp-9.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference, :card_file_box: Technology - C# What's New

#20504 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: :books: Area - Azure .NET SDK

#19867 Add breaking change for Thread.Abort (RC1)
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/corefx.md
  includes/core-changes/corefx/5.0/thread-abort-obsolete.md
Labels: :books: Area - .NET Core Guide

#20425 Add breaking change for CA2013
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/code-analysis.md
  includes/core-changes/codeanalysis/5.0/range-based-indexer-on-string.md
  includes/core-changes/codeanalysis/5.0/referenceequals-on-value-types.md
Labels: :books: Area - .NET Core Guide

#20442 Breaking change for CA1417 rule
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/code-analysis.md
  includes/core-changes/codeanalysis/5.0/outattributes-on-pinvoke-string-parameters.md
Labels: :books: Area - .NET Core Guide

#20506 Add TFMs for .NET 5
  docs/core/dotnet-five.md
  docs/core/project-sdk/msbuild-props.md
  docs/standard/analyzers/api-analyzer.md
  docs/standard/frameworks.md
Labels: :books: Area - .NET Guide

#20486 Delete outdated information
  docs/csharp/language-reference/compiler-messages/cs0106.md
  docs/csharp/programming-guide/classes-and-structs/local-functions.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# / VB diagnostics, :card_file_box: Technology - C# Language Reference

#20499 Added C# version alert, include it in concerning article
  docs/csharp/includes/csharp-version-alert.md
  docs/csharp/language-reference/attributes/nullable-analysis.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#20510 WinForms and WPF SDK - breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/breaking-changes.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/winforms.md
  docs/core/compatibility/wpf.md
  includes/core-changes/windowsforms/5.0/sdk-and-target-framework-change.md
Labels: :books: Area - .NET Core Guide

#20536 Enhance docs\core\tutorials\index.md
  docs/core/tutorials/index.md
  docs/fundamentals/toc.yml
Labels: :books: Area - .NET Core Guide

#19669 SQL Dependency for distributed caches
  docs/framework/data/adonet/sql/sqldependency-in-an-aspnet-app.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - Data Access

#20539 Fix build warnings due to en-us locale
  docs/azure/includes/dotnet-all.md
Labels: :books: Area - Azure .NET SDK

#20537 Add documentation for EnforceCodeStyleInBuild and AnalysisMode proper…
  docs/core/project-sdk/msbuild-props.md
  docs/fundamentals/productivity/code-analysis.md
Labels: :books: Area - .NET Core Guide

#20500 Update description to include versions
  docs/core/compatibility/fx-core.md
Labels: :books: Area - .NET Core Guide

#19904 Unique assembly per identity per context
  docs/framework/deployment/best-practices-for-assembly-loading.md
Labels: :books: Area - .NET Framework Guide

#20549 IOE for DataGridView APIs breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/winforms.md
  includes/core-changes/windowsforms/5.0/null-owner-causes-invalidoperationexception.md
Labels: :books: Area - .NET Core Guide

#20535 Fix a typographical error in containerize-monolithic-applications.md
  docs/architecture/microservices/architect-microservice-container-applications/containerize-monolithic-applications.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#20556 Added project, clean up source, correct wording and doc clean up
  docs/standard/parallel-programming/how-to-write-messages-to-and-read-messages-from-a-dataflow-block.md
  samples/snippets/csharp/VS_Snippets_Misc/tpldataflow_readwrite/cs/dataflowreadwrite.cs
  samples/snippets/csharp/VS_Snippets_Misc/tpldataflow_readwrite/cs/dataflowreadwrite.csproj
  samples/snippets/visualbasic/VS_Snippets_Misc/tpldataflow_readwrite/vb/dataflowreadwrite.vb
  samples/snippets/visualbasic/VS_Snippets_Misc/tpldataflow_readwrite/vb/dataflowreadwrite.vbproj
Labels: :books: Area - .NET Guide

#20542 Document Exception Handler Middleware breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/aspnetcore.md
  includes/core-changes/aspnetcore/5.0/middleware-exception-handler-throws-original-exception.md
Labels: :books: Area - .NET Core Guide

#20555 Fix typo
  docs/architecture/microservices/docker-application-development-process/docker-app-development-workflow.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#20554 Added new sample source code. Clean up.
  docs/standard/garbage-collection/implementing-dispose.md
  docs/standard/garbage-collection/implementing-disposeasync.md
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.asyncdisposable/asyncdisposable.csproj
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.asyncdisposable/await-using-declaration.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.asyncdisposable/await-using-non-configureawait.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.asyncdisposable/dispose-and-disposeasync.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.asyncdisposable/disposeasync.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.asyncdisposable/proper-await-using.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.asyncdisposable/stacked-await-usings.cs
Labels: :books: Area - .NET Guide

#20548 Simplify regex email article
  docs/standard/base-types/how-to-verify-that-strings-are-in-valid-email-format.md
  docs/standard/base-types/snippets/how-to-verify-that-strings-are-in-valid-email-format/csharp/Program.cs
  docs/standard/base-types/snippets/how-to-verify-that-strings-are-in-valid-email-format/csharp/RegexUtilities.cs
  docs/standard/base-types/snippets/how-to-verify-that-strings-are-in-valid-email-format/csharp/email_cs.csproj
  docs/standard/base-types/snippets/how-to-verify-that-strings-are-in-valid-email-format/vb/Program.vb
  docs/standard/base-types/snippets/how-to-verify-that-strings-are-in-valid-email-format/vb/RegexUtilities.vb
  docs/standard/base-types/snippets/how-to-verify-that-strings-are-in-valid-email-format/vb/email_vb.vbproj
  samples/snippets/csharp/VS_Snippets_CLR/RegularExpressions.Examples.Email/cs/example4.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/RegularExpressions.Examples.Email/vb/example4.vb
Labels: :books: Area - .NET Guide

#20574 Update csharp-9.md
  docs/csharp/whats-new/csharp-9.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# What's New

#20565 Updated image to more correctly depict timing
  docs/csharp/programming-guide/concepts/async/media/asynchronous-breakfast.png
Labels: :books: Area - C# Guide, :card_file_box: Technology - Async Task

#20564 Remove a word
  docs/csharp/whats-new/csharp-9.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# What's New

#20546 Acrolinx 9/9
  docs/core/diagnostics/dotnet-sos.md
Labels: :books: Area - .NET Core Guide

#20567 Compatibility analyzer breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/code-analysis.md
  includes/core-changes/codeanalysis/5.0/ca1416-platform-compatibility-analyzer.md
  includes/core-changes/codeanalysis/5.0/ca1417-outattributes-on-pinvoke-string-parameters.md
  includes/core-changes/codeanalysis/5.0/ca1831-range-based-indexer-on-string.md
  includes/core-changes/codeanalysis/5.0/ca2013-referenceequals-on-value-types.md
  includes/core-changes/codeanalysis/5.0/ca2014-stackalloc-in-loops.md
  includes/core-changes/codeanalysis/5.0/ca2015-finalizers-for-memorymanager-types.md
  includes/core-changes/codeanalysis/5.0/ca2247-ctor-arg-should-be-taskcreationoptions.md
Labels: :books: Area - .NET Core Guide

#20602 Update preprocessor symbols
  docs/csharp/language-reference/preprocessor-directives/preprocessor-if.md
  docs/standard/frameworks.md
  includes/core-changes/codeanalysis/5.0/ca1416-platform-compatibility-analyzer.md
  includes/preprocessor-symbols.md
Labels: :books: Area - .NET Guide

#20366 Document breaking change in crypto introduced in 3.0
  docs/core/compatibility/2.2-3.0.md
  docs/core/compatibility/2.2-3.1.md
  docs/core/compatibility/cryptography.md
  includes/core-changes/cryptography/3.0/cryptography-cryptostream-dispose-final-block-write.md
Labels: :books: Area - .NET Core Guide

#20605 Unicode categories breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/globalization.md
  includes/core-changes/globalization/5.0/unicode-categories-for-latin1-chars.md
Labels: :books: Area - .NET Core Guide

#19936 Monitor
  docs/architecture/cloud-native/azure-monitor.md
  docs/architecture/cloud-native/media/application_insights_example.png
  docs/architecture/cloud-native/media/azure_dashboard.png
  docs/architecture/cloud-native/media/powerbidashboard.png
  docs/architecture/cloud-native/media/topic-architecture.png
  docs/architecture/cloud-native/observability-patterns.md
  docs/architecture/cloud-native/service-to-service-communication.md
Labels: :book: guide - Cloud Native, :books: Area - .NET Architecture Guide

#20618 Fix typo
  docfx.json
  docs/csharp/language-reference/proposals/toc.yml
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#20620 Added missing space
  docs/machine-learning/how-to-guides/retrain-model-ml-net.md
Labels: :books: Area - ML.NET Guide

#20622 Updated client blazor release content
  docs/architecture/modern-web-apps-azure/modern-web-applications-characteristics.md
Labels: :book: guide - ASP.NET Core web apps, :books: Area - .NET Architecture Guide

#20609 chore: Cleanup devlang for code blocks
  docs/architecture/cloud-native/feature-flags.md
  docs/architecture/cloud-native/leverage-containers-orchestrators.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/docker-apps-inner-loop-workflow.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/set-up-windows-containers-with-powershell.md
  docs/architecture/microservices/docker-application-development-process/docker-app-development-workflow.md
  docs/architecture/microservices/multi-container-microservice-net-applications/database-server-container.md
  docs/architecture/microservices/multi-container-microservice-net-applications/implement-api-gateways-with-ocelot.md
  docs/architecture/microservices/multi-container-microservice-net-applications/multi-container-applications-docker-compose.md
  docs/architecture/modern-web-apps-azure/common-web-application-architectures.md
  docs/architecture/modern-web-apps-azure/test-asp-net-core-mvc-apps.md
  docs/core/docker/build-container.md
  docs/core/tutorials/netcore-hosting.md
  docs/framework/data/adonet/dataset-datatable-dataview/security-guidance.md
  docs/framework/interop/marshaling-classes-structures-and-unions.md
  docs/framework/migration-guide/how-to-determine-which-versions-are-installed.md
  docs/machine-learning/how-to-guides/load-data-ml-net.md
  docs/machine-learning/tutorials/time-series-demand-forecasting.md
  docs/standard/data/sqlite/connection-strings.md
  docs/standard/data/sqlite/in-memory-databases.md
  includes/core-changes/globalization/5.0/uax29-compliant-grapheme-enumeration.md
Labels: :book: guide - .NET Microservices, :book: guide - ASP.NET Core web apps, :book: guide - Cloud Native, :book: guide - Docker lifecycle, :books: Area - .NET Architecture Guide, :books: Area - .NET Core Guide, :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :books: Area - ML.NET Guide, :card_file_box: Technology - AppCompat, :card_file_box: Technology - Data Access, :card_file_box: Technology - Docker

#20607 Add new troubleshoot note
  docs/core/install/includes/linux-install-package-manager-x64-vs-arm.md
  docs/core/install/linux-centos.md
  docs/core/install/linux-debian.md
  docs/core/install/linux-fedora.md
  docs/core/install/linux-opensuse.md
  docs/core/install/linux-ubuntu.md
Labels: :books: Area - .NET Core Guide

#20600 Update example to explain CS0119
  docs/csharp/misc/cs0119.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# / VB diagnostics

#20603 Directory.Packages.props breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/msbuild.md
  includes/core-changes/msbuild/5.0/directory-packages-props-imported-by-default.md
Labels: :books: Area - .NET Core Guide

#20628 Link to csharp/programming-guide/classes-and-structs/fields
  docs/standard/serialization/system-text-json-how-to.md
Labels: :books: Area - .NET Guide

#20597 Document Blazor RenderTreeFrame breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/aspnetcore.md
  includes/core-changes/aspnetcore/5.0/blazor-rendertreeframe-fields-become-properties.md
Labels: :books: Area - .NET Core Guide

#20617 Fix typo in integration-event-based-microservice-communications.md
  docs/architecture/microservices/multi-container-microservice-net-applications/integration-event-based-microservice-communications.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#20576 Document the AAD & AAD B2C authentication APIs breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/aspnetcore.md
  includes/core-changes/aspnetcore/5.0/authentication-aad-packages-obsolete.md
Labels: :books: Area - .NET Core Guide

#20630 Add breaking change for CA2200
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/code-analysis.md
  includes/core-changes/codeanalysis/5.0/ca2200-rethrow-to-preserve-stack-details.md
Labels: :books: Area - .NET Core Guide

#20636 add missing version
  docs/core/install/windows.md
Labels: :books: Area - .NET Core Guide

#20627 Fix typo in cqrs-microservice-reads.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/cqrs-microservice-reads.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#20623 Fix typo in implement-api-gateways-with-ocelot.md
  docs/architecture/microservices/multi-container-microservice-net-applications/implement-api-gateways-with-ocelot.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#20616 Fix typo in data-driven-crud-microservice.md
  docs/architecture/microservices/multi-container-microservice-net-applications/data-driven-crud-microservice.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#20545 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: :books: Area - Azure .NET SDK

#20637 Fix broken links - Architecture and Azure
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/visual-studio-tools-for-docker.md
  docs/architecture/microservices/architect-microservice-container-applications/asynchronous-message-based-communication.md
  docs/architecture/microservices/docker-application-development-process/docker-app-development-workflow.md
  docs/architecture/microservices/secure-net-microservices-web-applications/azure-key-vault-protects-secrets.md
  docs/architecture/modern-web-apps-azure/work-with-data-in-asp-net-core-apps.md
  docs/azure/includes/dotnet-all.md
Labels: :book: guide - .NET Microservices, :book: guide - ASP.NET Core web apps, :book: guide - Docker lifecycle, :books: Area - .NET Architecture Guide, :books: Area - Azure .NET SDK

#20568 PublishDepsFilePath breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/msbuild.md
  includes/core-changes/msbuild/5.0/publishdepsfilepath-behavior-change.md
Labels: :books: Area - .NET Core Guide

#20547 OutputType breaking change
  docs/core/compatibility/3.1-5.0.md
  docs/core/compatibility/winforms.md
  docs/core/compatibility/wpf.md
  includes/core-changes/windowsforms/5.0/automatically-infer-winexe-output-type.md
Labels: :books: Area - .NET Core Guide

#20610 typo: Obect -> Object
  docs/framework/data/adonet/dataset-datatable-dataview/security-guidance.md
  samples/snippets/csharp/VS_Snippets_Data/dp entityservices concepts/cs/source.cs
  samples/snippets/visualbasic/VS_Snippets_Data/dp entityservices concepts/vb/source.vb
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - Data Access

#20507 Microsoft.Data.Sqlite: Document deferred transactions
  docs/standard/data/sqlite/transactions.md
  samples/snippets/standard/data/sqlite/DeferredTransactionSample/DeferredTransactionSample.csproj
  samples/snippets/standard/data/sqlite/DeferredTransactionSample/Program.cs
  samples/snippets/standard/data/sqlite/Microsoft.Data.Sqlite.sln
Labels: :books: Area - .NET Guide

#20639 Fix broken links - part II
  docs/core/diagnostics/dotnet-symbol.md
  docs/framework/migration-guide/net-framework-4-migration-issues.md
  docs/framework/wcf/feature-details/metadata-formats.md
  docs/machine-learning/automate-training-with-model-builder.md
  docs/machine-learning/resources/metrics.md
  docs/machine-learning/tutorials/image-classification-api-transfer-learning.md
  docs/standard/language-independence-and-language-independent-components.md
  docs/standard/linq/filter-attribute.md
  docs/standard/linq/find-element-specific-child-element.md
  docs/standard/linq/find-root-element.md
  docs/standard/linq/functional-vs-imperative-programming.md
  docs/whats-new/2020-07.md
Labels: :books: Area - .NET Core Guide, :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :books: Area - ML.NET Guide, :card_file_box: Technology - AppCompat, :card_file_box: Technology - WCF, :star2: What's New

#20645 Update xml-documentation.md
  docs/fsharp/language-reference/xml-documentation.md
Labels: :books: Area - F# Guide

#20652 fix: Docs Authoring Markdownlint rules
  docs/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests.md
  docs/framework/whats-new/whats-new-in-accessibility.md
  docs/machine-learning/how-does-mldotnet-work.md
  docs/machine-learning/how-to-choose-an-ml-net-algorithm.md
  docs/machine-learning/how-to-guides/inspect-intermediate-data-ml-net.md
  docs/machine-learning/how-to-guides/load-data-ml-net.md
  docs/machine-learning/how-to-guides/machine-learning-model-predictions-ml-net.md
  docs/machine-learning/how-to-guides/retrain-model-ml-net.md
  docs/machine-learning/how-to-guides/save-load-machine-learning-models-ml-net.md
  docs/machine-learning/how-to-guides/train-machine-learning-model-cross-validation-ml-net.md
  docs/machine-learning/resources/tasks.md
  docs/machine-learning/tutorials/github-issue-classification.md
  docs/machine-learning/tutorials/image-classification-api-transfer-learning.md
  docs/machine-learning/tutorials/object-detection-onnx.md
  docs/machine-learning/tutorials/time-series-demand-forecasting.md
  docs/standard/io/file-path-formats.md
  docs/standard/parallel-programming/how-to-create-and-execute-a-simple-plinq-query.md
  includes/core-changes/aspnetcore/3.0/signalr-successhandshakedata-replaced.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide, :books: Area - .NET Framework Guide, :books: Area - .NET Guide, :books: Area - ML.NET Guide

#20654 fix: Unclosed code block
  docs/csharp/language-reference/compiler-messages/cs8411.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# / VB diagnostics, :card_file_box: Technology - C# Language Reference

#20653 Broken links 9/14 - part III
  docs/framework/wcf/feature-details/metadata-formats.md
  docs/framework/wcf/feature-details/security-protocols-version-1-0.md
  docs/framework/wcf/feature-details/transaction-protocols-version-1-0.md
  docs/framework/wcf/feature-details/web-services-protocols-interoperability-guide.md
  docs/framework/wcf/troubleshooting-setup-issues.md
  docs/framework/wcf/ws-atomictransaction-configuration-utility-wsatconfig-exe.md
  docs/fsharp/language-reference/asynchronous-workflows.md
  docs/fsharp/language-reference/fsharp-collection-types.md
  docs/fsharp/language-reference/lists.md
  docs/fsharp/language-reference/query-expressions.md
  docs/fsharp/language-reference/tuples.md
  docs/fsharp/tutorials/fsharp-interactive/index.md
Labels: :books: Area - .NET Framework Guide, :books: Area - F# Guide, :card_file_box: Technology - WCF

#20626 Acrolinx 9/11
  docs/standard/garbage-collection/implementing-disposeasync.md
Labels: :books: Area - .NET Guide

#20666 Remove unnecessary bit
  docs/standard/garbage-collection/implementing-disposeasync.md
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.asyncdisposable/dispose-and-disposeasync.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.asyncdisposable/disposeasync.cs
Labels: :books: Area - .NET Guide

#20668 Fixed warning for non-existent bookmark
  docs/core/extensions/configuration-providers.md
Labels: :books: Area - .NET Core Guide

#20659 OSPlatform attributes breaking change
  docs/core/compatibility/corefx.md
  includes/core-changes/corefx/5.0/os-platform-attributes-renamed.md
Labels: :books: Area - .NET Core Guide

#20658 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: :books: Area - Azure .NET SDK

#20644 Fix typo in net-core-microservice-domain-model.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/net-core-microservice-domain-model.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#20647 Fix typo in domain-events-design-implementation.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/domain-events-design-implementation.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#20657 Fix typo in nosql-database-persistence-infrastructure.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/nosql-database-persistence-infrastructure.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#20662 Fix typo in handle-partial-failure.md
  docs/architecture/microservices/implement-resilient-applications/handle-partial-failure.md
Labels: :book: guide - .NET Microservices, :books: Area - .NET Architecture Guide

#20599 Clarify that the range operator may allocate a new collection
  docs/csharp/tutorials/ranges-indexes.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#20681 Add to the "What's new landing" page for .NET
  docs/whats-new/index.yml
Labels: :star2: What's New

#20672 Delete orphaned images 9/16
  docs/architecture/blazor-for-web-forms-developers/media/index/blazor-for-web-forms-developers-cover.png
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/media/add-docker-support-to-project.png
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/media/kubectl-create-command.png
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/media/tagged-docker-images-list.png
  docs/architecture/containerized-lifecycle/media/cover-small.png
  docs/csharp/programming-guide/concepts/async/media/fine-tuning-your-async-application/cancellation-and-start-button.png
  docs/framework/data/adonet/ef/media/1ec61ed3-fcdd-4649-9089-24385be7e423.gif
  docs/framework/data/adonet/ef/media/406d4f5f-6166-44ea-8e74-c5001d5d5d79.gif
  docs/framework/data/adonet/ef/media/430180f5-4fb9-4bc3-8589-d566512d9703.gif
  docs/framework/data/adonet/ef/media/558ba7b3-dd19-48d0-b91e-30a76415bf5f.gif
  docs/framework/data/adonet/ef/media/7510346f-8b09-4c99-b411-40af239c3c4d.gif
  docs/framework/data/adonet/ef/media/9456d6a9-ea2e-40ae-accc-a10e18e28b81.gif
  docs/framework/data/adonet/ef/media/b42a7a5c-0ac0-4911-86be-0460a78760ba.gif
  docs/framework/data/adonet/ef/media/ca62c31b-7ff6-4836-b209-e16166304fdc.gif
  docs/framework/data/adonet/ef/media/cd2afa99-7256-4c63-aaa9-c2d13f18a3d8.gif
  docs/framework/data/adonet/ef/media/d541eba3-2ee6-4cd1-88f5-89d0b2582a6c.gif
  docs/framework/data/adonet/ef/media/de1ca705-4f7c-4d2d-ace5-afefc6d3cefa.gif
  docs/framework/data/adonet/ef/media/dfb3d02b-7a8c-4d51-ac5a-a73d8aa145e6.gif
  docs/framework/wcf/feature-details/media/ado-net-entity-data-model-item-template.png
Labels: :book: guide - Blazor, :book: guide - Docker lifecycle, :books: Area - .NET Architecture Guide, :books: Area - .NET Framework Guide, :books: Area - C# Guide, :card_file_box: Technology - Async Task, :card_file_box: Technology - Data Access, :card_file_box: Technology - WCF

#20615 Update F# binder link
  docs/fsharp/get-started/index.md
Labels: :books: Area - F# Guide

#20661 C# 9 reference update: target-typed conditional
  docs/csharp/language-reference/operators/conditional-operator.md
  docs/csharp/language-reference/operators/snippets/shared/ConditionalOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/operators.csproj
  docs/csharp/whats-new/csharp-9.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference, :card_file_box: Technology - C# What's New

#20671 Add orphans to TOC
  .openpublishing.redirection.json
  docs/core/compatibility/toc.yml
  docs/core/deploying/trim-self-contained.md
  docs/csharp/programming-guide/concepts/linq/basic-queries-linq-to-xml.md
  docs/fundamentals/toc.yml
  docs/standard/linq/basic-queries-linq-to-xml.md
  docs/standard/linq/toc.yml
  docs/visual-basic/programming-guide/concepts/linq/cloning-vs-attaching.md
  docs/visual-basic/programming-guide/concepts/linq/tutorial-deferred-execution.md
Labels: :books: Area - .NET Core Guide

#20451 Initial commit
  docs/architecture/dapr-for-net-developers/index.md
  docs/architecture/dapr-for-net-developers/media/cover.png
  docs/architecture/dapr-for-net-developers/media/distributed-design.png
  docs/architecture/dapr-for-net-developers/media/monolithic-design.png
  docs/architecture/dapr-for-net-developers/the-world-is-distributed.md
  docs/architecture/dapr-for-net-developers/toc.yml
Labels: :books: Area - .NET Architecture Guide

#20689 C# 9 reference update: extension GetEnumerator method
  docs/csharp/language-reference/keywords/foreach-in.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#20700 Typo: Indexeres -> Indexers
  docs/csharp/language-reference/keywords/value.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Language Reference

#20699 Add missing f1 keywords to VB nameof.md
  docs/visual-basic/language-reference/operators/nameof.md
Labels: :books: Area - Visual Basic Guide
