Repository dotnet/docs, pull requests merged in 2021-02, with the labels that each got.

#22556 Chapter 10: Secrets
  docs/architecture/dapr-for-net-developers/media/secrets-management/retrieve-secret.png
  docs/architecture/dapr-for-net-developers/secrects-buildingblock.md
Labels: :books: Area - .NET Architecture Guide

#21568 Update reflection.md - acronym clarification
  docs/csharp/programming-guide/concepts/reflection.md
Labels: :books: Area - C# Guide

#22597 remove incorrect space
  docs/csharp/programming-guide/classes-and-structs/objects.md
Labels: :books: Area - C# Guide, :card_file_box: Technology - C# Fundamentals

#22580 Updating MessageBox to MsgBox
  docs/framework/interop/specifying-an-entry-point.md
Labels: :books: Area - .NET Framework Guide

#22587 Remove duplicate word in globalization.md
  docs/standard/globalization-localization/globalization.md
Labels: :books: Area - .NET Guide, :sparkles: 1st-time docs contributor!

#22537 Address issues with discards article
  docs/csharp/discards.md
  docs/csharp/snippets/discards/Program.cs
  docs/csharp/snippets/discards/discard-class.cs
  docs/csharp/snippets/discards/discard-out1.cs
  docs/csharp/snippets/discards/discard-pattern2.cs
  docs/csharp/snippets/discards/discard-tuple.cs
  docs/csharp/snippets/discards/discards.csproj
  docs/csharp/snippets/discards/standalone-discard1.cs
  docs/csharp/snippets/discards/standalone-discard2.cs
  samples/snippets/csharp/programming-guide/discards/discard-out1.cs
  samples/snippets/csharp/programming-guide/discards/discard-pattern2.cs
  samples/snippets/csharp/programming-guide/discards/standalone-discard1.cs
  samples/snippets/csharp/programming-guide/discards/standalone-discard2.cs
Labels: :books: Area - C# Guide

#22595 Update index.md
  docs/fsharp/tools/fsharp-interactive/index.md
Labels: :books: Area - F# Guide

#22310 F# records are supported under .NET 5.0
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
Labels: :books: Area - .NET Guide

#22590 Cross platform P/Invoke
  docs/standard/native-interop/cross-platform.md
  samples/snippets/standard/interop/pinvoke/import-resolver/Program.cs
  samples/snippets/standard/interop/pinvoke/import-resolver/cs.csproj
Labels: :books: Area - .NET Guide

#21980 chore: Inline disable buggy DOCSMD rules
  docs/framework/data/adonet/ef/language-reference/constructing-types-entity-sql.md
  docs/framework/data/adonet/ef/language-reference/multiset-entity-sql.md
  docs/framework/ui-automation/accessibility-best-practices.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - Data Access

#22055 Fix multi-targeting csproj example
  docs/standard/analyzers/platform-compat-analyzer.md
Labels: :books: Area - .NET Guide

#22151 Update delimiter for PackageTags
  docs/standard/library-guidance/nuget.md
Labels: :books: Area - .NET Guide

#21282 Update get-started.md
  docs/spark/tutorials/get-started.md
Labels: :books: Area - .NET for Apache Spark Guide

#22407 Updates Cloud Native eBook to Net 5
  docs/architecture/cloud-native/application-bundles.md
  docs/architecture/cloud-native/application-resiliency-patterns.md
  docs/architecture/cloud-native/azure-monitor.md
  docs/architecture/cloud-native/azure-security.md
  docs/architecture/cloud-native/candidate-apps.md
  docs/architecture/cloud-native/centralized-configuration.md
  docs/architecture/cloud-native/definition.md
  docs/architecture/cloud-native/deploy-eshoponcontainers-azure.md
  docs/architecture/cloud-native/devops.md
  docs/architecture/cloud-native/distributed-data.md
  docs/architecture/cloud-native/front-end-communication.md
  docs/architecture/cloud-native/grpc.md
  docs/architecture/cloud-native/identity.md
  docs/architecture/cloud-native/index.md
  docs/architecture/cloud-native/introduce-eshoponcontainers-reference-app.md
  docs/architecture/cloud-native/introduction.md
  docs/architecture/cloud-native/leverage-containers-orchestrators.md
  docs/architecture/cloud-native/logging-with-elastic-stack.md
  docs/architecture/cloud-native/map-eshoponcontainers-azure-services.md
  docs/architecture/cloud-native/media/docker-desktop-kubernetes-1.png
  docs/architecture/cloud-native/media/docker-desktop-kubernetes.png
  docs/architecture/cloud-native/media/visual-studio-enable-docker-support-1.png
  docs/architecture/cloud-native/media/visual-studio-enable-docker-support.png
  docs/architecture/cloud-native/monitoring-azure-kubernetes.md
  docs/architecture/cloud-native/observability-patterns.md
  docs/architecture/cloud-native/relational-vs-nosql-data.md
  docs/architecture/cloud-native/service-to-service-communication.md
Labels: :book: guide - Cloud Native, :books: Area - .NET Architecture Guide

#22593 Dapr/ch9 observability
  docs/architecture/dapr-for-net-developers/media/observability/dapr-dashboard-components.png
  docs/architecture/dapr-for-net-developers/media/observability/dapr-dashboard-overview.png
  docs/architecture/dapr-for-net-developers/media/observability/eshop-health-dashboard.png
  docs/architecture/dapr-for-net-developers/media/observability/grafana-sample.png
  docs/architecture/dapr-for-net-developers/media/observability/observability-architecture.png
  docs/architecture/dapr-for-net-developers/media/observability/prometheus-scraper.png
  docs/architecture/dapr-for-net-developers/media/observability/traces-and-spans.png
  docs/architecture/dapr-for-net-developers/media/observability/w3c-trace-context.png
  docs/architecture/dapr-for-net-developers/media/observability/zipkin-dependencies.png
  docs/architecture/dapr-for-net-developers/media/observability/zipkin-trace-details.png
  docs/architecture/dapr-for-net-developers/media/observability/zipkin-traces-overview.png
  docs/architecture/dapr-for-net-developers/media/observability/zipkin.png
  docs/architecture/dapr-for-net-developers/observability.md
Labels: :books: Area - .NET Architecture Guide

#22205 Dapr for .NET Developers - Chapter 8: Bindings
  docs/architecture/dapr-for-net-developers/bindings-buildingblock.md
  docs/architecture/dapr-for-net-developers/media/bindings-input.png
  docs/architecture/dapr-for-net-developers/media/bindings-output.png
  docs/architecture/dapr-for-net-developers/media/resource-binding-conceptual-architecture.png
Labels: :books: Area - .NET Architecture Guide

#19754 Remove samples repository reference
  .openpublishing.publish.config.json
  docs/core/testing/order-unit-tests.md
  docs/core/testing/snippets/order-unit-tests/csharp/MSTest.Project/ByAlphabeticalOrder.cs
  docs/core/testing/snippets/order-unit-tests/csharp/MSTest.Project/MSTest.Project.csproj
  docs/core/testing/snippets/order-unit-tests/csharp/NUnit.TestProject/ByOrder.cs
  docs/core/testing/snippets/order-unit-tests/csharp/NUnit.TestProject/NUnit.Project.csproj
  docs/core/testing/snippets/order-unit-tests/csharp/XUnit.TestProject/Attributes/TestPriorityAttribute.cs
  docs/core/testing/snippets/order-unit-tests/csharp/XUnit.TestProject/ByAlphabeticalOrder.cs
  docs/core/testing/snippets/order-unit-tests/csharp/XUnit.TestProject/ByDisplayName.cs
  docs/core/testing/snippets/order-unit-tests/csharp/XUnit.TestProject/ByPriorityOrder.cs
  docs/core/testing/snippets/order-unit-tests/csharp/XUnit.TestProject/Orderers/AlphabeticalOrderer.cs
  docs/core/testing/snippets/order-unit-tests/csharp/XUnit.TestProject/Orderers/DisplayNameOrderer.cs
  docs/core/testing/snippets/order-unit-tests/csharp/XUnit.TestProject/Orderers/PriorityOrderer.cs
  docs/core/testing/snippets/order-unit-tests/csharp/XUnit.TestProject/XUnit.Project.csproj
Labels: needs-more-info

#20604 Add doc about collecting trace with assembly loading information
  docs/core/dependency-loading/collect-details.md
  docs/core/dependency-loading/media/collect-details/assembly-loader-filter.png
  docs/core/dependency-loading/media/collect-details/extension-point-success.png
  docs/core/dependency-loading/media/collect-details/extension-point.png
  docs/core/dependency-loading/media/collect-details/resolution-attempted-success.png
  docs/core/dependency-loading/media/collect-details/resolution-attempted.png
  docs/core/dependency-loading/media/collect-details/start-stop-success.png
  docs/core/dependency-loading/media/collect-details/start-stop.png
  docs/core/dependency-loading/overview.md
  docs/fundamentals/toc.yml
Labels: :books: Area - .NET Core Guide

#22541 Correct VS instructions
  docs/core/deploying/single-file.md
Labels: :books: Area - .NET Core Guide

#22136 Fixed use case for fixed string log categories
  docs/core/extensions/logging.md
Labels: :books: Area - .NET Core Guide

#21523 Emphasize the zero-copy nature of System.Memory primitives
  docs/standard/memory-and-spans/index.md
  docs/standard/memory-and-spans/memory-t-usage-guidelines.md
Labels: :books: Area - .NET Guide

#22285 Update .Net Docker version 3.1 to 5.0
  docs/core/docker/build-container.md
Labels: :books: Area - .NET Core Guide, :card_file_box: Technology - Docker

#22289 Porting ASPNET EBook - ChildActionOnlyAttribute
  docs/architecture/porting-existing-aspnet-apps/controller-differences.md
Labels: :books: Area - .NET Architecture Guide

#22392 Update dependency-injection-guidelines.md
  docs/core/extensions/dependency-injection-guidelines.md
Labels: :books: Area - .NET Core Guide

#20957 Fix link to design document
  docs/core/deploying/runtime-patch-selection.md
Labels: :books: Area - .NET Core Guide

#22576 WinForms breaking change - native code
  docs/core/compatibility/5.0.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/windows-forms/5.0/winforms-objects-not-accessible-from-native-code.md
  docs/core/dependency-loading/collect-details.md
Labels: :books: Area - .NET Core Guide, dotnet-fundamentals/prod

#22481 Dapr for .NET Developers - Chapter 5: State management
  docs/architecture/dapr-for-net-developers/media/state-management/cap-theorem.png
  docs/architecture/dapr-for-net-developers/media/state-management/howitworks.png
  docs/architecture/dapr-for-net-developers/state-management.md
Labels: :books: Area - .NET Architecture Guide

#22563 Clarify windows support table + linux manual
  docs/core/install/linux-scripted-manual.md
  docs/core/install/linux.md
  docs/core/install/macos.md
  docs/core/install/windows.md
Labels: :books: Area - .NET Core Guide

#22314 Readd implicit package references section
  docs/core/project-sdk/overview.md
Labels: :books: Area - .NET Core Guide

#22418 Add breaking change for TreeNodeCollection.Item
  docs/core/compatibility/6.0.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/windows-forms/6.0/treenodecollection-item-throws-argumentexception.md
Labels: :books: Area - .NET Core Guide

#22624 Fixed broken links in Cloud Native
  docs/architecture/cloud-native/application-resiliency-patterns.md
  docs/architecture/cloud-native/logging-with-elastic-stack.md
  docs/architecture/cloud-native/resilient-communications.md
Labels: :book: guide - Cloud Native, :books: Area - .NET Architecture Guide, cloud-native/tech, dotnet-architecture/prod

#22614 Compare delegates and function pointers
  docs/csharp/delegates-overview.md
  docs/csharp/programming-guide/delegates/index.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#22616 Add MemberNotNull attribute
  docs/csharp/language-reference/attributes/nullable-analysis.md
  docs/csharp/language-reference/attributes/snippets/InitializeMembers.cs
  docs/csharp/language-reference/attributes/snippets/attributes.csproj
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#22617 Add Distributed Tracing Doc
  docs/core/diagnostics/distributed-tracing.md
  docs/core/diagnostics/logging-tracing.md
Labels: dotnet-fundamentals/prod

#22569 Fix color property
  docs/core/compatibility/core-libraries/5.0/obsolete-consoleloggeroptions-properties.md
Labels: :books: Area - .NET Core Guide

#22492 ServicePoint not used in .NET Core
  docs/framework/network-programming/managing-connections.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - NCL

#22604 Document breaking change for Kestrel log message attributes
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/kestrel-log-message-attributes-changed.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#22631 Fix xref
  docs/csharp/language-reference/attributes/nullable-analysis.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#22599 Multi-dimensional arrays not supported
  docs/standard/serialization/system-text-json-supported-collection-types.md
Labels: :books: Area - .NET Guide, dotnet-fundamentals/prod

#22321 Fix WCF Load Balancer docs
  docs/framework/wcf/load-balancing.md
Labels: :books: Area - .NET Framework Guide, :card_file_box: Technology - WCF

#22620 Update URL
  docs/core/tutorials/libraries.md
Labels: dotnet-fundamentals/prod

#22652 Update VB language versions
  docs/visual-basic/language-reference/configure-language-version.md
  docs/visual-basic/whats-new/index.md
Labels: dotnet-visualbasic/prod

#22643 Correct deconstruct rules
  docs/csharp/deconstruct.md
  samples/snippets/csharp/programming-guide/deconstructing-tuples/deconstruct-ambiguous.cs
Labels: dotnet-csharp/prod

#22640 Link to value type equality article
  docs/csharp/programming-guide/classes-and-structs/objects.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#22637 Pass in cancellation token
  docs/csharp/programming-guide/concepts/async/cancel-an-async-task-or-a-list-of-tasks.md
  docs/csharp/programming-guide/concepts/async/snippets/cancel-tasks/cancel-tasks/Program.cs
Labels: csharp-async/tech, dotnet-csharp/prod

#22636 Clarify multi-dimensional array support for indices and ranges
  docs/csharp/tutorials/ranges-indexes.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#22634 Call Dispose()
  docs/csharp/programming-guide/concepts/async/cancel-async-tasks-after-a-period-of-time.md
  docs/csharp/programming-guide/concepts/async/snippets/cancel-tasks/cancel-task-after-period-of-time/Program.cs
Labels: csharp-async/tech, dotnet-csharp/prod

#22633 Document ReadyToRunShowWarnings
  docs/core/tools/dotnet-publish.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#22632 Update note about decimal usage
  docs/csharp/language-reference/builtin-types/floating-point-numeric-types.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#22615 Add link to VS tutorial
  docs/csharp/tutorials/intro-to-csharp/arrays-and-collections.md
  docs/csharp/tutorials/intro-to-csharp/branches-and-loops-local.md
  docs/csharp/tutorials/intro-to-csharp/index.md
  docs/csharp/tutorials/intro-to-csharp/introduction-to-classes.md
  docs/csharp/tutorials/intro-to-csharp/local-environment.md
  docs/csharp/tutorials/intro-to-csharp/numbers-in-csharp-local.md
Labels: csharp-fundamentals/tech, csharp-get-started/tech, dotnet-csharp/prod

#22649 Update CA1711 docs based on recent rule changes
  docs/fundamentals/code-analysis/quality-rules/ca1711.md
Labels: dotnet-fundamentals/prod

#22654 Update enable-tab-autocomplete.md
  docs/core/tools/enable-tab-autocomplete.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#22609 Fixed bugs for .NET 5 specific content
  docs/architecture/blazor-for-web-forms-developers/index.md
  docs/architecture/microservices/docker-application-development-process/docker-app-development-workflow.md
  docs/architecture/microservices/docker-application-development-process/index.md
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/dotnet-core-cross-platform-development-old.png
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/dotnet-core-cross-platform-development.png
  docs/architecture/microservices/index.md
  docs/architecture/microservices/media/cover-large.png
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/net-core-microservice-domain-model.md
  docs/architecture/microservices/multi-container-microservice-net-applications/media/microservice-application-design/eshoponcontainers-reference-application-architecture.png
  docs/architecture/microservices/net-core-net-framework-containers/index.md
  docs/architecture/microservices/net-core-net-framework-containers/net-core-container-scenarios.md
  docs/architecture/microservices/toc.yml
  docs/architecture/modern-web-apps-azure/index.md
Labels: :book: guide - .NET Microservices, :book: guide - Blazor, :book: guide - Modernizing w/ Windows containers, :books: Area - .NET Architecture Guide, blazor/tech, dotnet-architecture/prod, microservices/tech, modern-web-apps-azure/tech

#22651 Fix containerize .NET app to correct publish path
  docs/core/docker/build-container.md
Labels: dotnet-docker/tech, dotnet-fundamentals/prod

#22660 Add missing space character
  docs/framework/unmanaged-api/strong-naming/strongnametokenfrompublickey-function.md
Labels: dotnet-framework/prod

#22673 Add CA categories page
  docs/fundamentals/code-analysis/categories.md
  docs/fundamentals/code-analysis/code-quality-rule-options.md
  docs/fundamentals/code-analysis/configuration-options.md
  docs/fundamentals/code-analysis/overview.md
  docs/fundamentals/code-analysis/quality-rules/design-warnings.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/naming-warnings.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#22642 Update package-manager-failed-to-find-deb.md
  docs/core/install/includes/package-manager-failed-to-find-deb.md
Labels: dotnet-fundamentals/prod, dotnet-install/tech, dotnet/prod

#22689 Update some deployment docs .NET 5.0
  docs/core/deploying/deploy-with-cli.md
  docs/core/deploying/index.md
  docs/core/versions/selection.md
Labels: dotnet-fundamentals/prod

#22571 Add breaking change for exception type
  docs/core/compatibility/6.0.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/windows-forms/6.0/apis-throw-argumentnullexception.md
Labels: :books: Area - .NET Core Guide, dotnet-fundamentals/prod

#22692 Add space to command
  docs/core/deploying/deploy-with-cli.md
Labels: dotnet-fundamentals/prod

#22691 Clarify AnalysisLevel default
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/prod

#22694 Fixing some typos and grammar issues
  docs/core/diagnostics/distributed-tracing.md
Labels: dotnet-fundamentals/prod

#22695 Remove quotes from links
  docs/core/compatibility/5.0.md
Labels: dotnet-fundamentals/prod

#22696 fixed algoritym typo
  docs/csharp/programming-guide/delegates/index.md
Labels: :sparkles: 1st-time docs contributor!, csharp-fundamentals/tech, dotnet-csharp/prod

#22705 Fix typo in csharp-version-history.md
  docs/csharp/whats-new/csharp-version-history.md
Labels: csharp-whats-new/tech, dotnet-csharp/prod

#22703 Fix typo in implementing-disposeasync.md
  docs/standard/garbage-collection/implementing-disposeasync.md
Labels: dotnet-fundamentals/prod

#22602 Parameter name matching for parameterized ctors
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/ImmutableTypesCtorParms.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/Program.cs
  docs/standard/serialization/system-text-json-customize-properties.md
  docs/standard/serialization/system-text-json-immutability.md
Labels: dotnet-fundamentals/prod

#22723 Clarify WinExe property breaking change
  docs/core/compatibility/windows-forms/5.0/automatically-infer-winexe-output-type.md
Labels: dotnet-fundamentals/prod

#22707 Update cs0162.md
  docs/csharp/misc/cs0162.md
Labels: csharp-diagnostics/tech, dotnet-csharp/prod

#22733 Fixed broken code snippets
  docs/machine-learning/tutorials/image-classification-api-transfer-learning.md
Labels: dotnet-ml/prod

#22657 Document breaking change in HTTPS Redirection Middleware
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/middleware-ambiguous-https-ports-exception.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#22676 Add Desktop SDK MSBuild properties article
  docs/core/project-sdk/msbuild-props-desktop.md
  docs/core/project-sdk/overview.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#22700 Add link to distributed tracing doc from toc
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#22701 Add link to Visual Studio memory leak tutorial
  docs/core/diagnostics/debug-memory-leak.md
Labels: dotnet-fundamentals/prod

#22732 Prevent Blazor from being localized
  docs/core/compatibility/aspnet-core/5.0/blazor-browser-support-updated.md
Labels: dotnet-fundamentals/prod

#22763 Remove confusing "usually" word
  docs/csharp/language-reference/operators/nameof.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#22735 Document RazorEngine APIs breaking change in 6.0
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/razor-engine-apis-obsolete.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#22771 Fix inconsistency in access modifiers for code sample
  docs/core/diagnostics/distributed-tracing.md
Labels: dotnet-fundamentals/prod

#19952 Update client-libraries.md
  docs/architecture/grpc-for-wcf-developers/client-libraries.md
Labels: dotnet-architecture/prod, grpc/tech

#22736 Document RequestImageFileAsync method breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/blazor-parameter-name-changed-in-method.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#22774 Use dotnetcli language identifier
  docs/core/tools/sdk-errors/netsdk1045.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#22772 Clarify bulk severity levels
  docs/fundamentals/code-analysis/categories.md
  docs/fundamentals/code-analysis/configuration-options.md
  docs/fundamentals/code-analysis/overview.md
Labels: dotnet-fundamentals/prod

#22775 Update ms.date and remove extra space
  docs/core/testing/unit-testing-code-coverage.md
Labels: dotnet-fundamentals/prod

#22779 Fix typo in nullable-analysis.md
  docs/csharp/language-reference/attributes/nullable-analysis.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#22710 Fix #6288
  docs/csharp/programming-guide/concepts/expression-trees/how-to-use-expression-trees-to-build-dynamic-queries.md
  samples/snippets/csharp/programming-guide/dynamic-linq-expression-trees/Program.cs
  samples/snippets/csharp/programming-guide/dynamic-linq-expression-trees/dynamic-linq-expression-trees.csproj
Labels: csharp-advanced-concepts/tech, dotnet-csharp/prod

#22770 Content perf - update how to write a text file
  docs/csharp/programming-guide/file-system/how-to-write-to-a-text-file.md
  docs/csharp/programming-guide/file-system/snippets/write-text/Program.cs
  docs/csharp/programming-guide/file-system/snippets/write-text/StreamWriterOne.cs
  docs/csharp/programming-guide/file-system/snippets/write-text/StreamWriterTwo.cs
  docs/csharp/programming-guide/file-system/snippets/write-text/WriteAllLines.cs
  docs/csharp/programming-guide/file-system/snippets/write-text/WriteAllText.cs
  docs/csharp/programming-guide/file-system/snippets/write-text/write-text.csproj
  samples/snippets/csharp/VS_Snippets_VBCSharp/csFilesAndFolders/CS/FileIteration.cs
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#22708 Overview page of miscellaneous coding style rules
  docs/fundamentals/code-analysis/style-rules/index.md
  docs/fundamentals/code-analysis/style-rules/miscellaneous-rules.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#22776 Document NETSDK1064 error message
  docs/core/tools/sdk-errors/netsdk1064.md
  docs/fundamentals/toc.yml
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#22780 Update use-httpclientfactory-to-implement-resilient-http-requests.md
  docs/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests.md
Labels: dotnet-architecture/prod, microservices/tech

#22793 Fix docker-compose.yml reference
  docs/architecture/microservices/multi-container-microservice-net-applications/database-server-container.md
Labels: dotnet-architecture/prod, microservices/tech

#22798 Nullability annotations breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/core-libraries/6.0/nullable-ref-type-annotation-changes.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#22796 Fix inline code
  docs/csharp/discards.md
Labels: dotnet-csharp/prod

#22781 Update choose-between-traditional-web-and-single-page-apps.md
  docs/architecture/modern-web-apps-azure/choose-between-traditional-web-and-single-page-apps.md
Labels: dotnet-architecture/prod, modern-web-apps-azure/tech

#22783 Update netsdk1064.md
  docs/core/tools/sdk-errors/netsdk1064.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#22741 Clarify that arrays of blittable primitive types (not any blittable types) are blittable
  docs/framework/interop/blittable-and-non-blittable-types.md
  docs/standard/native-interop/best-practices.md
Labels: dotnet-framework/prod, dotnet-fundamentals/prod

#22800 Fix broken links in repo
  docs/architecture/microservices/architect-microservice-container-applications/maintain-microservice-apis.md
  docs/architecture/microservices/implement-resilient-applications/index.md
  docs/architecture/microservices/implement-resilient-applications/partial-failure-strategies.md
  docs/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests.md
  docs/architecture/microservices/multi-container-microservice-net-applications/implement-api-gateways-with-ocelot.md
  docs/architecture/microservices/multi-container-microservice-net-applications/multi-container-applications-docker-compose.md
  docs/framework/data/adonet/data-providers.md
  docs/framework/install/guide-for-developers.md
  docs/framework/net-native/migrating-your-windows-store-app-to-net-native.md
  docs/framework/network-programming/changes-to-ntlm-authentication-for-httpwebrequest-in-version-3-5-sp1.md
  docs/framework/windows-services/how-to-install-and-uninstall-services.md
  docs/fsharp/language-reference/basic-types.md
  docs/fsharp/language-reference/lazy-expressions.md
  docs/fsharp/tutorials/type-providers/creating-a-type-provider.md
  docs/fsharp/tutorials/type-providers/index.md
  docs/standard/components.md
Labels: dotnet-architecture/prod, dotnet-data/tech, dotnet-framework/prod, dotnet-fsharp/prod, dotnet-fundamentals/prod, dotnet-install/tech, dotnet-networking/tech, microservices/tech

#22737 Clarify CA for non-SDK-style projects
  docs/core/project-sdk/msbuild-props.md
  docs/fundamentals/code-analysis/overview.md
Labels: dotnet-fundamentals/prod

#22415 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: azure-dotnet/prod

#22841 Ebook dapr new
  docs/architecture/dapr-for-net-developers/foreword.md
  docs/architecture/dapr-for-net-developers/index.md
  docs/architecture/dapr-for-net-developers/reference-application.md
  docs/architecture/dapr-for-net-developers/the-world-is-distributed.md
  docs/architecture/dapr-for-net-developers/toc.yml
Labels: dotnet-architecture/prod

#22809 Delete extra double quote
  docs/csharp/tour-of-csharp/program-building-blocks.md
Labels: csharp-get-started/tech, dotnet-csharp/prod

#22826 Refer to #error pragma
  docs/csharp/language-reference/configure-language-version.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#22831 Update index.md
  docs/csharp/programming-guide/concepts/attributes/index.md
Labels: :sparkles: 1st-time docs contributor!, csharp-fundamentals/tech, dotnet-csharp/prod

#22838 Fix xrefs; use bold for DebugView instead of code
  docs/csharp/programming-guide/concepts/expression-trees/debugview-syntax.md
  docs/visual-basic/programming-guide/concepts/expression-trees/debugview-syntax.md
Labels: csharp-advanced-concepts/tech, dotnet-csharp/prod, dotnet-visualbasic/prod

#22837 Style fix: Remove trailing dot from a title
  docs/csharp/tutorials/pattern-matching.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#22815 Fix code and sample output for Fields example
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/Fields.cs
Labels: dotnet-fundamentals/prod

#22850 Add note about mismatched bitness exception that can be thrown
  docs/core/diagnostics/dotnet-counters.md
  docs/core/diagnostics/dotnet-trace.md
Labels: dotnet-fundamentals/prod

#21556 Add NET to preprocessor symbols
  includes/preprocessor-symbols.md
Labels: :sparkles: 1st-time docs contributor!

#22648 Update protocol-specific WebResponse sample
  docs/framework/network-programming/how-to-retrieve-a-protocol-specific-webresponse-that-matches-a-webrequest.md
Labels: dotnet-framework/prod, dotnet-networking/tech

#22719 IL and IL assembly : remove confusion
  docs/framework/tools/ilasm-exe-il-assembler.md
Labels: :sparkles: 1st-time docs contributor!, dotnet-framework/prod

#21323 $rootcert vs $rootCert; Is this intentional, or a mistake?
  docs/framework/wcf/feature-details/how-to-create-temporary-certificates-for-use-during-development.md
Labels: :sparkles: 1st-time docs contributor!, dotnet-framework/prod, dotnet-wcf/tech

#21510 SQL Server no longer add Administratos
  docs/framework/data/adonet/sql/authentication-in-sql-server.md
Labels: :sparkles: 1st-time docs contributor!, dotnet-data/tech, dotnet-framework/prod

#22835 Continuation of #22710 for VB
  docs/csharp/programming-guide/concepts/expression-trees/how-to-use-expression-trees-to-build-dynamic-queries.md
  docs/visual-basic/programming-guide/concepts/expression-trees/how-to-use-expression-trees-to-build-dynamic-queries.md
  samples/snippets/csharp/programming-guide/dynamic-linq-expression-trees/Program.cs
  samples/snippets/visualbasic/programming-guide/dynamic-linq-expression-trees/Entities.vb
  samples/snippets/visualbasic/programming-guide/dynamic-linq-expression-trees/Program.vb
  samples/snippets/visualbasic/programming-guide/dynamic-linq-expression-trees/dynamic-linq-expression-trees.vbproj
Labels: csharp-advanced-concepts/tech, dotnet-csharp/prod, dotnet-visualbasic/prod

#22801 Add WebAPI Scenarios
  docs/architecture/porting-existing-aspnet-apps/deployment-scenarios.md
  docs/architecture/porting-existing-aspnet-apps/example-migration-eshop.md
  docs/architecture/porting-existing-aspnet-apps/more-migration-scenarios.md
  docs/architecture/porting-existing-aspnet-apps/toc.yml
Labels: dotnet-architecture/prod

#22802 Porting ASP.NET Apps Ebook - add vertical slices incremental approach
  docs/architecture/porting-existing-aspnet-apps/incremental-migration-strategies.md
Labels: dotnet-architecture/prod

#22804 Rework ApiPort examples
  docs/standard/analyzers/portability-analyzer.md
Labels: dotnet-analyzers/tech, dotnet-fundamentals/prod

#22868 Updates to Dapr for .Net Developers
  docs/architecture/dapr-for-net-developers/bindings.md
  docs/architecture/dapr-for-net-developers/the-world-is-distributed.md
  docs/architecture/index.yml
  docs/architecture/toc.yml
Labels: dotnet-architecture/prod

#22849 Add link to well-known provider doc in dotnet-trace and EventPipe docs
  docs/core/diagnostics/dotnet-trace.md
  docs/core/diagnostics/eventpipe.md
Labels: dotnet-fundamentals/prod

#22848 Remove Activity bullet from logging and tracing doc
  docs/core/diagnostics/logging-tracing.md
Labels: dotnet-fundamentals/prod

#22861 Document nullable reference type annotations breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/nullable-reference-type-annotations-changed.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#22867 Fix typo in syntax-transformation.md
  docs/csharp/roslyn-sdk/get-started/syntax-transformation.md
Labels: csharp-roslyn/tech, dotnet-csharp/prod

#22852 Add NReco.Logging as a 3rd party provider to the logging docs
  docs/architecture/porting-existing-aspnet-apps/configuration-differences.md
  docs/architecture/porting-existing-aspnet-apps/example-migration-eshop.md
  docs/architecture/porting-existing-aspnet-apps/routing-differences.md
  docs/core/extensions/logging-providers.md
Labels: dotnet-architecture/prod, dotnet-fundamentals/prod

#22840 Added explanation of finally not getting executed
  docs/csharp/language-reference/keywords/try-finally.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#22859 Update platform-compat-analyzer.md
  docs/standard/analyzers/platform-compat-analyzer.md
Labels: dotnet-analyzers/tech, dotnet-fundamentals/prod

#22860 Improve how to convert strings article.
  docs/csharp/programming-guide/types/how-to-convert-a-string-to-a-number.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#22871 Fix author info
  docs/architecture/dapr-for-net-developers/state-management.md
Labels: dotnet-architecture/prod

#22873 updated cover image for dapr ebook
  docs/architecture/dapr-for-net-developers/media/cover.png
Labels: dotnet-architecture/prod

#22874 Add no-locs
  docs/core/tools/dotnet-new.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#22878 updated cover page for dapr ebook
  docs/architecture/dapr-for-net-developers/media/cover.png
Labels: dotnet-architecture/prod

#22877 Fix some build warnings
  docs/architecture/dapr-for-net-developers/observability.md
  docs/architecture/dapr-for-net-developers/reference-application.md
  docs/architecture/dapr-for-net-developers/service-invocation.md
  docs/architecture/porting-existing-aspnet-apps/incremental-migration-strategies.md
  docs/csharp/programming-guide/concepts/expression-trees/debugview-syntax.md
  docs/visual-basic/programming-guide/concepts/expression-trees/debugview-syntax.md
Labels: csharp-advanced-concepts/tech, dotnet-architecture/prod, dotnet-csharp/prod, dotnet-visualbasic/prod

#22880 Revert "Add no-locs"
  docs/core/tools/dotnet-new.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#22883 Add seniority
  docs/architecture/dapr-for-net-developers/index.md
Labels: dotnet-architecture/prod

#22863 Update field naming convention
  docs/csharp/programming-guide/classes-and-structs/fields.md
  docs/csharp/programming-guide/classes-and-structs/snippets/fields/Program.cs
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#22884 Prevent localization by using inline code
  docs/core/tools/dotnet-new.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#22892 Update introduction.md to Fix Capitalization Typo
  docs/core/introduction.md
Labels: dotnet-fundamentals/prod

#22894 Fix typo in Dapr book
  docs/architecture/dapr-for-net-developers/getting-started.md
Labels: dotnet-architecture/prod

#22738 Add page on symbols
  docs/core/diagnostics/index.md
  docs/core/diagnostics/symbols.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#22896 Fix several typos and 1 diagram
  docs/architecture/dapr-for-net-developers/dapr-at-20000-feet.md
  docs/architecture/dapr-for-net-developers/media/reference-application/eshop-on-dapr-buildingblocks.png
  docs/architecture/dapr-for-net-developers/observability.md
  docs/architecture/dapr-for-net-developers/publish-subscribe.md
  docs/architecture/dapr-for-net-developers/state-management.md
Labels: dotnet-architecture/prod

#22882 Links: .NET (2021-02)
  .openpublishing.redirection.json
  docs/architecture/dapr-for-net-developers/dapr-at-20000-feet.md
  docs/architecture/dapr-for-net-developers/observability.md
  docs/architecture/dapr-for-net-developers/publish-subscribe.md
  docs/architecture/dapr-for-net-developers/reference-application.md
  docs/architecture/dapr-for-net-developers/secrets.md
  docs/architecture/dapr-for-net-developers/service-invocation.md
  docs/architecture/dapr-for-net-developers/state-management.md
  docs/architecture/modernize-desktop/whats-new-dotnet.md
  docs/architecture/porting-existing-aspnet-apps/additional-migration-resources.md
  docs/architecture/porting-existing-aspnet-apps/app-startup-differences.md
  docs/architecture/porting-existing-aspnet-apps/architectural-differences.md
  docs/architecture/porting-existing-aspnet-apps/authentication-differences.md
  docs/architecture/porting-existing-aspnet-apps/comparing-razor-pages-aspnet-mvc.md
  docs/architecture/porting-existing-aspnet-apps/configuration-differences.md
  docs/architecture/porting-existing-aspnet-apps/controller-differences.md
  docs/architecture/porting-existing-aspnet-apps/dependency-injection-differences.md
  docs/architecture/porting-existing-aspnet-apps/deployment-scenarios.md
  docs/architecture/porting-existing-aspnet-apps/deployment-strategies.md
  docs/architecture/porting-existing-aspnet-apps/example-migration-eshop.md
  docs/architecture/porting-existing-aspnet-apps/hosting-differences.md
  docs/architecture/porting-existing-aspnet-apps/identify-migration-sequence.md
  docs/architecture/porting-existing-aspnet-apps/identity-differences.md
  docs/architecture/porting-existing-aspnet-apps/incremental-migration-strategies.md
  docs/architecture/porting-existing-aspnet-apps/index.md
  docs/architecture/porting-existing-aspnet-apps/logging-differences.md
  docs/architecture/porting-existing-aspnet-apps/middleware-modules-handlers.md
  docs/architecture/porting-existing-aspnet-apps/migrate-aspnet-core-2-1.md
  docs/architecture/porting-existing-aspnet-apps/migrate-large-solutions.md
  docs/architecture/porting-existing-aspnet-apps/migration-considerations.md
  docs/architecture/porting-existing-aspnet-apps/more-migration-scenarios.md
  docs/architecture/porting-existing-aspnet-apps/razor-differences.md
  docs/architecture/porting-existing-aspnet-apps/routing-differences.md
  docs/architecture/porting-existing-aspnet-apps/serving-static-files.md
  docs/architecture/porting-existing-aspnet-apps/signalr-differences.md
  docs/architecture/porting-existing-aspnet-apps/strategies-migrating-in-production.md
  docs/architecture/porting-existing-aspnet-apps/testing-differences.md
  docs/architecture/porting-existing-aspnet-apps/understand-update-dependencies.md
  docs/architecture/porting-existing-aspnet-apps/webapi-differences.md
  docs/azure/landing-page.yml
  docs/csharp/index.yml
  docs/csharp/programming-guide/index.md
  docs/csharp/tour-of-csharp/index.md
  docs/csharp/tutorials/intro-to-csharp/introduction-to-classes.md
  docs/index.yml
  docs/samples-and-tutorials/index.md
  docs/visual-basic/language-reference/index.md
  docs/visual-basic/misc/bc30248.md
  docs/visual-basic/whats-new/index.md
Labels: csharp-fundamentals/tech, csharp-get-started/tech, dotnet-architecture/prod, dotnet-azure/prod, dotnet-csharp/prod, dotnet-data/tech, dotnet-framework/prod, dotnet-visualbasic/prod, vb-diagnostics/tech

#22888 Fix definition transposition
  docs/csharp/tutorials/intro-to-csharp/object-oriented-programming.md
Labels: csharp-fundamentals/tech, csharp-get-started/tech, dotnet-csharp/prod

#22889 Quick review of the last copy
  docs/architecture/dapr-for-net-developers/getting-started.md
  docs/architecture/dapr-for-net-developers/observability.md
  docs/architecture/dapr-for-net-developers/publish-subscribe.md
  docs/architecture/dapr-for-net-developers/reference-application.md
  docs/architecture/dapr-for-net-developers/secrets.md
  docs/architecture/dapr-for-net-developers/service-invocation.md
  docs/architecture/dapr-for-net-developers/state-management.md
  docs/architecture/dapr-for-net-developers/summary.md
  docs/architecture/dapr-for-net-developers/the-world-is-distributed.md
Labels: dotnet-architecture/prod

#22862 Document removed and obsoleted APIs in ASP.NET Core
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/obsolete-removed-apis.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#22844 C# patterns reference: declaration and type patterns
  docs/csharp/language-reference/operators/patterns.md
  docs/csharp/language-reference/operators/snippets/patterns/DeclarationAndTypePattern.cs
  docs/csharp/language-reference/operators/snippets/patterns/Program.cs
  docs/csharp/language-reference/operators/snippets/patterns/patterns.csproj
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23008 Add upgrade tool docs
  docs/architecture/porting-existing-aspnet-apps/additional-migration-resources.md
  docs/architecture/porting-existing-aspnet-apps/example-migration-eshop.md
  docs/architecture/porting-existing-aspnet-apps/incremental-migration-strategies.md
  docs/architecture/porting-existing-aspnet-apps/understand-update-dependencies.md
  docs/core/porting/media/upgrade-assistant-aspnetmvc/add-template-files.png
  docs/core/porting/media/upgrade-assistant-aspnetmvc/backup-project.png
  docs/core/porting/media/upgrade-assistant-aspnetmvc/complete-solution.png
  docs/core/porting/media/upgrade-assistant-aspnetmvc/configure-project.png
  docs/core/porting/media/upgrade-assistant-aspnetmvc/convert-project.png
  docs/core/porting/media/upgrade-assistant-aspnetmvc/create-mvc-webapi.png
  docs/core/porting/media/upgrade-assistant-aspnetmvc/initial-run.png
  docs/core/porting/media/upgrade-assistant-aspnetmvc/migrate-config.png
  docs/core/porting/media/upgrade-assistant-aspnetmvc/migrate-config2.png
  docs/core/porting/media/upgrade-assistant-aspnetmvc/new-project.png
  docs/core/porting/media/upgrade-assistant-aspnetmvc/update-csharp.png
  docs/core/porting/media/upgrade-assistant-aspnetmvc/update-nuget-packages.png
  docs/core/porting/media/upgrade-assistant-aspnetmvc/update-tfm.png
  docs/core/porting/media/upgrade-assistant-winforms-framework/add-template-files.png
  docs/core/porting/media/upgrade-assistant-winforms-framework/backup-project.png
  docs/core/porting/media/upgrade-assistant-winforms-framework/complete-solution.png
  docs/core/porting/media/upgrade-assistant-winforms-framework/convert-project.png
  docs/core/porting/media/upgrade-assistant-winforms-framework/step1.png
  docs/core/porting/media/upgrade-assistant-winforms-framework/update-nuget-packages.png
  docs/core/porting/media/upgrade-assistant-winforms-framework/update-tfm.png
  docs/core/porting/media/upgrade-assistant-winforms-framework/vs-configure-project-winforms.png
  docs/core/porting/media/upgrade-assistant-winforms-framework/vs-new-project-winforms.png
  docs/core/porting/media/upgrade-assistant-wpf-framework/add-template-files.png
  docs/core/porting/media/upgrade-assistant-wpf-framework/backup-project.png
  docs/core/porting/media/upgrade-assistant-wpf-framework/complete-solution.png
  docs/core/porting/media/upgrade-assistant-wpf-framework/configure-project.png
  docs/core/porting/media/upgrade-assistant-wpf-framework/convert-project.png
  docs/core/porting/media/upgrade-assistant-wpf-framework/initial-run.png
  docs/core/porting/media/upgrade-assistant-wpf-framework/new-project.png
  docs/core/porting/media/upgrade-assistant-wpf-framework/update-nuget-packages.png
  docs/core/porting/media/upgrade-assistant-wpf-framework/update-tfm.png
  docs/core/porting/upgrade-assistant-aspnetmvc.md
  docs/core/porting/upgrade-assistant-overview.md
  docs/core/porting/upgrade-assistant-winforms-framework.md
  docs/core/porting/upgrade-assistant-wpf-framework.md
  docs/fundamentals/toc.yml
Labels: dotnet-architecture/prod, dotnet-fundamentals/prod
