Repository dotnet/docs, pull requests merged in 2021-12, with the labels that each got.

#27347 Fixes/microservices .NET 6.0
  docs/architecture/microservices/docker-application-development-process/index.md
  docs/architecture/microservices/multi-container-microservice-net-applications/media/data-driven-crud-microservice/swagger-metadata-eshoponcontainers-catalog-microservice.png
Labels: dotnet-architecture/prod, microservices/tech

#27329 Update entry to .NET 6
  docs/architecture/toc.yml
Labels: dotnet-architecture/prod

#27334 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#27316 Update dotnet-5.md
  docs/core/whats-new/dotnet-5.md
Labels: dotnet-fundamentals/prod

#27352 Update app-startup.md
  docs/architecture/blazor-for-web-forms-developers/app-startup.md
Labels: dotnet-architecture/prod, blazor/tech

#27336 Update editorconfig file generation instructions
  docs/fundamentals/code-analysis/code-style-rule-options.md
Labels: dotnet-fundamentals/prod

#27343 Update breaking changes for .NET 6 GA
  .openpublishing.redirection.json
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/blazor-parameter-name-changed-in-method.md
  docs/core/compatibility/aspnet-core/6.0/byte-array-interop.md
  docs/core/compatibility/aspnet-core/6.0/iasyncenumerable-not-buffered-by-mvc.md
  docs/core/compatibility/aspnet-core/6.0/microsoft-aspnetcore-http-features-package-split.md
  docs/core/compatibility/aspnet-core/6.0/middleware-new-use-overload.md
  docs/core/compatibility/aspnet-core/6.0/obsolete-removed-apis.md
  docs/core/compatibility/aspnet-core/6.0/razor-compiler-doesnt-produce-views-assembly.md
  docs/core/compatibility/aspnet-core/6.0/razor-engine-apis-obsolete.md
  docs/core/compatibility/aspnet-core/6.0/signalr-java-client-updated.md
  docs/core/compatibility/core-libraries/6.0/additional-linq-queryable-method-overloads.md
  docs/core/compatibility/core-libraries/6.0/diagnostic-id-change-for-obsoletions.md
  docs/core/compatibility/core-libraries/6.0/file-replace-exceptions-on-unix.md
  docs/core/compatibility/core-libraries/6.0/filestream-doesnt-sync-offset-with-os.md
  docs/core/compatibility/core-libraries/6.0/filestream-position-updates-after-readasync-writeasync-completion.md
  docs/core/compatibility/core-libraries/6.0/hosting-exception-handling.md
  docs/core/compatibility/core-libraries/6.0/nullable-ref-type-annotation-changes.md
  docs/core/compatibility/core-libraries/6.0/numeric-format-parsing-handles-higher-precision.md
  docs/core/compatibility/core-libraries/6.0/obsolete-apis-with-custom-diagnostics.md
  docs/core/compatibility/core-libraries/6.0/older-framework-versions-dropped.md
  docs/core/compatibility/core-libraries/6.0/parameter-name-changes.md
  docs/core/compatibility/core-libraries/6.0/parameters-renamed-on-stream-derived-types.md
  docs/core/compatibility/core-libraries/6.0/static-abstract-interface-methods.md
  docs/core/compatibility/core-libraries/6.0/system-drawing-common-windows-only.md
  docs/core/compatibility/core-libraries/6.0/task-fromresult-returns-singleton.md
  docs/core/compatibility/core-libraries/6.0/xnodereader-getattribute.md
  docs/core/compatibility/cryptography/6.0/cfb-mode-feedback-size-exception.md
  docs/core/compatibility/globalization/6.0/culture-creation-invariant-mode.md
  docs/core/compatibility/sdk/6.0/apphost-generated-for-macos.md
  docs/core/compatibility/sdk/6.0/csharp-template-code.md
  docs/core/compatibility/sdk/6.0/deprecate-p-option-dotnet-run.md
  docs/core/compatibility/sdk/6.0/duplicate-files-in-output.md
  docs/core/compatibility/sdk/6.0/gettargetframeworkproperties-and-getnearesttargetframework-removed.md
  docs/core/compatibility/sdk/6.0/implicit-namespaces-rc1.md
  docs/core/compatibility/serialization/6.0/iasyncenumerable-serialization.md
  docs/core/compatibility/serialization/6.0/jsonnode-dynamic-type.md
  docs/core/compatibility/serialization/6.0/jsonnumberhandlingattribute-behavior.md
  docs/core/compatibility/serialization/6.0/jsonserializer-source-generator-overloads.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/windows-forms/6.0/apis-throw-argumentnullexception.md
  docs/core/compatibility/windows-forms/6.0/notifyicon-text-max-text-length-increased.md
  docs/core/compatibility/windows-forms/6.0/null-owner-causes-invalidoperationexception.md
  docs/core/compatibility/windows-forms/6.0/tablelayoutsettings-apis-throw-invalidenumargumentexception.md
  docs/core/compatibility/windows-forms/6.0/treenodecollection-item-throws-argumentexception.md
  docs/core/project-sdk/overview.md
  docs/whats-new/dotnet-docs-2021-08-01.md
  docs/whats-new/dotnet-docs-2021-09-01.md
Labels: dotnet-fundamentals/prod

#27351 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#27338 fix snippet reference.
  docs/csharp/fundamentals/tutorials/pattern-matching.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#27348 Update title and intro
  docs/machine-learning/resources/improve-machine-learning-model-ml-net.md
Labels: dotnet-ml/prod

#27323 Porting eBook Front Matter Updates
  docs/architecture/porting-existing-aspnet-apps/architectural-differences.md
  docs/architecture/porting-existing-aspnet-apps/choose-net-core-version.md
  docs/architecture/porting-existing-aspnet-apps/deployment-scenarios.md
  docs/architecture/porting-existing-aspnet-apps/example-migration-eshop.md
  docs/architecture/porting-existing-aspnet-apps/index.md
  docs/architecture/porting-existing-aspnet-apps/introduction.md
  docs/architecture/porting-existing-aspnet-apps/migrate-large-solutions.md
  docs/architecture/porting-existing-aspnet-apps/migration-considerations.md
  docs/architecture/porting-existing-aspnet-apps/more-migration-scenarios.md
  docs/architecture/porting-existing-aspnet-apps/summary.md
Labels: dotnet-architecture/prod

#27325 Update Porting eBook Cover Image
  docs/architecture/porting-existing-aspnet-apps/architectural-differences.md
  docs/architecture/porting-existing-aspnet-apps/choose-net-core-version.md
  docs/architecture/porting-existing-aspnet-apps/deployment-scenarios.md
  docs/architecture/porting-existing-aspnet-apps/example-migration-eshop.md
  docs/architecture/porting-existing-aspnet-apps/index.md
  docs/architecture/porting-existing-aspnet-apps/introduction.md
  docs/architecture/porting-existing-aspnet-apps/media/index/porting-existing-aspnet-apps.png
  docs/architecture/porting-existing-aspnet-apps/migrate-large-solutions.md
  docs/architecture/porting-existing-aspnet-apps/migration-considerations.md
  docs/architecture/porting-existing-aspnet-apps/more-migration-scenarios.md
  docs/architecture/porting-existing-aspnet-apps/summary.md
Labels: dotnet-architecture/prod

#27374 Fix debian dependency name
  docs/core/install/linux-debian.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#27372 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#27353 Add `TypeForwardedTo` attribute example source code
  docs/standard/assembly/snippets/type-forwarders/after/Common/Common.csproj
  docs/standard/assembly/snippets/type-forwarders/after/Common/Example.cs
  docs/standard/assembly/snippets/type-forwarders/after/Consumer/Consumer.csproj
  docs/standard/assembly/snippets/type-forwarders/after/Consumer/Program.cs
  docs/standard/assembly/snippets/type-forwarders/after/Utility/TypeForwarders.cs
  docs/standard/assembly/snippets/type-forwarders/after/Utility/Utility.csproj
  docs/standard/assembly/snippets/type-forwarders/before/Common/Common.csproj
  docs/standard/assembly/snippets/type-forwarders/before/Consumer/Consumer.csproj
  docs/standard/assembly/snippets/type-forwarders/before/Consumer/Program.cs
  docs/standard/assembly/snippets/type-forwarders/before/Utility/Example.cs
  docs/standard/assembly/snippets/type-forwarders/before/Utility/Utility.csproj
  docs/standard/assembly/type-forwarding.md
Labels: dotnet-fundamentals/prod

#27363 Preview term cleanup
  .openpublishing.redirection.json
  docs/core/compatibility/aspnet-core/5.0/authorization-resource-in-endpoint-routing.md
  docs/core/compatibility/aspnet-core/5.0/blazor-components-trim-insignificant-whitespace.md
  docs/core/compatibility/aspnet-core/5.0/iis-urlrewrite-middleware-query-strings-are-preserved.md
  docs/core/compatibility/aspnet-core/5.0/kestrel-disables-http2-over-tls.md
  docs/core/compatibility/aspnet-core/5.0/localization-members-removed.md
  docs/core/compatibility/core-libraries/5.0/utf-7-code-paths-obsolete.md
  docs/core/compatibility/interop/5.0/casting-rcw-to-inspectable-interface-throws-exception.md
  docs/core/native-interop/expose-components-to-com.md
  docs/core/project-sdk/msbuild-props.md
  docs/core/whats-new/dotnet-core-2-2.md
  docs/core/whats-new/dotnet-core-3-0.md
  docs/csharp/whats-new/csharp-10.md
  docs/csharp/whats-new/tutorials/patterns-objects.md
  docs/framework/whats-new/index.md
  docs/fundamentals/syslib-diagnostics/source-generator-overview.md
  docs/fundamentals/syslib-diagnostics/syslib1004.md
  docs/fundamentals/toc.yml
Labels: dotnet-framework/prod, dotnet-csharp/prod, csharp-whats-new/tech, dotnet-fundamentals/prod

#27186 Update install/uninstall info for ARM
  docs/core/install/macos.md
  docs/core/install/remove-runtime-sdk-versions.md
  docs/core/install/windows.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#27376 Clean various build warnings and errors
  docs/architecture/dapr-for-net-developers/reference-application.md
  docs/architecture/microservices/multi-container-microservice-net-applications/multi-container-applications-docker-compose.md
  docs/core/diagnostics/metrics-collection.md
  docs/core/diagnostics/metrics-instrumentation.md
  docs/csharp/whats-new/csharp-10.md
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca2208.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/vb/all-rules/ca2208-instantiate-argument-exceptions-correctly_1.vb
Labels: dotnet-csharp/prod, dotnet-architecture/prod, microservices/tech, csharp-whats-new/tech, dotnet-fundamentals/prod

#27379 Updating Blazor ebook to net6
  docs/architecture/blazor-for-web-forms-developers/app-startup.md
  docs/architecture/blazor-for-web-forms-developers/architecture-comparison.md
  docs/architecture/blazor-for-web-forms-developers/components.md
  docs/architecture/blazor-for-web-forms-developers/data.md
  docs/architecture/blazor-for-web-forms-developers/forms-validation.md
  docs/architecture/blazor-for-web-forms-developers/hosting-models.md
  docs/architecture/blazor-for-web-forms-developers/index.md
  docs/architecture/blazor-for-web-forms-developers/introduction.md
  docs/architecture/blazor-for-web-forms-developers/media/index/blazor-for-aspnet-web-forms-developers.png
  docs/architecture/blazor-for-web-forms-developers/middleware.md
  docs/architecture/blazor-for-web-forms-developers/migration.md
  docs/architecture/blazor-for-web-forms-developers/project-structure.md
  docs/architecture/blazor-for-web-forms-developers/security-authentication-authorization.md
  docs/architecture/blazor-for-web-forms-developers/state-management.md
Labels: dotnet-architecture/prod, blazor/tech

#27224 Update .NET Standard article for .NET 6
  docs/standard/net-standard.md
Labels: dotnet-fundamentals/prod

#27378 Note creation of .vscode folder
  .gitignore
  docs/core/tutorials/with-visual-studio-code.md
Labels: dotnet-fundamentals/prod

#27381 Add note about explicit usings
  docs/core/tutorials/top-level-templates.md
Labels: dotnet-fundamentals/prod

#27382 Add --source option
  docs/core/tools/dotnet-publish.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#27371 Fix element type
  docs/csharp/language-reference/compiler-options/advanced.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#27279 Update generate-consume-asynchronous-stream.md
  docs/csharp/whats-new/tutorials/generate-consume-asynchronous-stream.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech

#27389 Update Program.cs
  docs/csharp/whats-new/tutorials/snippets/generate-consume-asynchronous-streams/finished/Program.cs
Labels: dotnet-csharp/prod, csharp-whats-new/tech

#27390 Update Program.cs
  docs/csharp/whats-new/tutorials/snippets/generate-consume-asynchronous-streams/start/Program.cs
Labels: dotnet-csharp/prod, csharp-whats-new/tech

#27392 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#27238 Fix CustomPrefix example per discussion on #27227
  docs/core/extensions/configuration-providers.md
Labels: dotnet-fundamentals/prod

#27396 Add note about DI changes to `ILogger` vs `ILogger<T>` type
  docs/core/extensions/logging.md
Labels: dotnet-fundamentals/prod

#27393 Add details to win services, recovery config, and debugging.
  docs/core/extensions/media/unable-to-debug-service.png
  docs/core/extensions/media/windows-service-recovery-properties-configured.png
  docs/core/extensions/media/windows-service-recovery-properties.png
  docs/core/extensions/windows-service.md
Labels: dotnet-fundamentals/prod

#27409 Reader positioning in STJ converters
  docs/standard/serialization/system-text-json-converters-how-to.md
Labels: dotnet-fundamentals/prod

#27421 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#27403 Update nint-nuint.md
  docs/csharp/language-reference/builtin-types/nint-nuint.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#27408 Update trace-switches.md
  docs/framework/debug-trace-profile/trace-switches.md
Labels: dotnet-framework/prod

#27422 Link to correct github issue
  docs/core/tutorials/top-level-templates.md
Labels: dotnet-fundamentals/prod

#27417 Clarify use of PowerShell
  docs/core/additional-tools/self-signed-certificates-guide.md
Labels: dotnet-fundamentals/prod

#27418 Add link to NuGet package versioning
  docs/standard/library-guidance/dependencies.md
Labels: dotnet-fundamentals/prod

#26413 Add IL2061-IL2116 trimmer warnings
  docs/core/deploying/trimming/trim-warnings/il2061.md
  docs/core/deploying/trimming/trim-warnings/il2062.md
  docs/core/deploying/trimming/trim-warnings/il2063.md
  docs/core/deploying/trimming/trim-warnings/il2064.md
  docs/core/deploying/trimming/trim-warnings/il2065.md
  docs/core/deploying/trimming/trim-warnings/il2066.md
  docs/core/deploying/trimming/trim-warnings/il2067.md
  docs/core/deploying/trimming/trim-warnings/il2068.md
  docs/core/deploying/trimming/trim-warnings/il2069.md
  docs/core/deploying/trimming/trim-warnings/il2070.md
  docs/core/deploying/trimming/trim-warnings/il2072.md
  docs/core/deploying/trimming/trim-warnings/il2073.md
  docs/core/deploying/trimming/trim-warnings/il2074.md
  docs/core/deploying/trimming/trim-warnings/il2075.md
  docs/core/deploying/trimming/trim-warnings/il2077.md
  docs/core/deploying/trimming/trim-warnings/il2078.md
  docs/core/deploying/trimming/trim-warnings/il2079.md
  docs/core/deploying/trimming/trim-warnings/il2080.md
  docs/core/deploying/trimming/trim-warnings/il2082.md
  docs/core/deploying/trimming/trim-warnings/il2083.md
  docs/core/deploying/trimming/trim-warnings/il2084.md
  docs/core/deploying/trimming/trim-warnings/il2085.md
  docs/core/deploying/trimming/trim-warnings/il2087.md
  docs/core/deploying/trimming/trim-warnings/il2088.md
  docs/core/deploying/trimming/trim-warnings/il2089.md
  docs/core/deploying/trimming/trim-warnings/il2090.md
  docs/core/deploying/trimming/trim-warnings/il2091.md
  docs/core/deploying/trimming/trim-warnings/il2092.md
  docs/core/deploying/trimming/trim-warnings/il2093.md
  docs/core/deploying/trimming/trim-warnings/il2094.md
  docs/core/deploying/trimming/trim-warnings/il2095.md
  docs/core/deploying/trimming/trim-warnings/il2096.md
  docs/core/deploying/trimming/trim-warnings/il2097.md
  docs/core/deploying/trimming/trim-warnings/il2098.md
  docs/core/deploying/trimming/trim-warnings/il2099.md
  docs/core/deploying/trimming/trim-warnings/il2100.md
  docs/core/deploying/trimming/trim-warnings/il2101.md
  docs/core/deploying/trimming/trim-warnings/il2102.md
  docs/core/deploying/trimming/trim-warnings/il2103.md
  docs/core/deploying/trimming/trim-warnings/il2104.md
  docs/core/deploying/trimming/trim-warnings/il2105.md
  docs/core/deploying/trimming/trim-warnings/il2106.md
  docs/core/deploying/trimming/trim-warnings/il2107.md
  docs/core/deploying/trimming/trim-warnings/il2108.md
  docs/core/deploying/trimming/trim-warnings/il2109.md
  docs/core/deploying/trimming/trim-warnings/il2110.md
  docs/core/deploying/trimming/trim-warnings/il2111.md
  docs/core/deploying/trimming/trim-warnings/il2112.md
  docs/core/deploying/trimming/trim-warnings/il2113.md
  docs/core/deploying/trimming/trim-warnings/il2114.md
  docs/core/deploying/trimming/trim-warnings/il2115.md
  docs/core/deploying/trimming/trim-warnings/il2116.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#27424 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#27062 Documentation for dotnet-trace report topN
  docs/core/diagnostics/dotnet-trace.md
Labels: dotnet-fundamentals/prod

#27031 Update msbuild-props-desktop.md
  docs/core/project-sdk/msbuild-props-desktop.md
Labels: dotnet-fundamentals/prod

#27430 Fix broken links - 12/21
  docs/core/install/windows.md
  docs/core/tutorials/libraries.md
  docs/framework/mef/attributed-programming-model-overview-mef.md
  docs/whats-new/dotnet-docs-2021-11-01.md
Labels: dotnet-framework/prod, dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#27426 Improve code analysis config options articles
  docs/core/project-sdk/msbuild-props.md
  docs/fundamentals/code-analysis/configuration-files.md
  docs/fundamentals/code-analysis/configuration-options.md
Labels: dotnet-fundamentals/prod

#26888 Update Program.cs for usability and a tyop
  docs/machine-learning/tutorials/snippets/phone-calls-anomaly-detection/csharp/Program.cs
Labels: dotnet-ml/prod

#27226 Update telemetry.md
  docs/core/tools/telemetry.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#27364 Cloud-native book updates for .NET 6
  docs/architecture/cloud-native/application-resiliency-patterns.md
  docs/architecture/cloud-native/combine-containers-serverless-approaches.md
  docs/architecture/cloud-native/deploy-containers-azure.md
  docs/architecture/cloud-native/deploy-eshoponcontainers-azure.md
  docs/architecture/cloud-native/front-end-communication.md
  docs/architecture/cloud-native/grpc.md
  docs/architecture/cloud-native/introduce-eshoponcontainers-reference-app.md
  docs/architecture/cloud-native/leverage-containers-orchestrators.md
  docs/architecture/cloud-native/leverage-serverless-functions.md
  docs/architecture/cloud-native/map-eshoponcontainers-azure-services.md
  docs/architecture/cloud-native/media/azure-devspaces-one.png
  docs/architecture/cloud-native/media/azure-devspaces-two.png
  docs/architecture/cloud-native/media/docker-desktop-kubernetes.png
  docs/architecture/cloud-native/media/eshoponcontainers-development-architecture.png
  docs/architecture/cloud-native/media/grpc-project.png
  docs/architecture/cloud-native/media/projects-in-visual-studio-solution.png
  docs/architecture/cloud-native/media/visual-studio-2019-grpc-template.png
  docs/architecture/cloud-native/media/visual-studio-2022-grpc-template.png
  docs/architecture/cloud-native/media/visual-studio-add-docker-support.png
  docs/architecture/cloud-native/media/visual-studio-docker-run-options.png
  docs/architecture/cloud-native/media/visual-studio-enable-docker-support.png
  docs/architecture/cloud-native/other-deployment-options.md
  docs/architecture/cloud-native/scale-containers-serverless.md
  docs/architecture/cloud-native/security.md
Labels: dotnet-architecture/prod, cloud-native/tech

#27437 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#27370 Update protobuf-data-types.md
  docs/architecture/grpc-for-wcf-developers/protobuf-data-types.md
Labels: needs-more-info, dotnet-architecture/prod, grpc/tech

#27450 Update dotnet-5.md
  docs/core/whats-new/dotnet-5.md
Labels: dotnet-fundamentals/prod

#27451 Blazor ebook net6
  docs/architecture/blazor-for-web-forms-developers/app-startup.md
  docs/architecture/blazor-for-web-forms-developers/architecture-comparison.md
  docs/architecture/blazor-for-web-forms-developers/components.md
  docs/architecture/blazor-for-web-forms-developers/data.md
  docs/architecture/blazor-for-web-forms-developers/forms-validation.md
  docs/architecture/blazor-for-web-forms-developers/hosting-models.md
  docs/architecture/blazor-for-web-forms-developers/index.md
  docs/architecture/blazor-for-web-forms-developers/introduction.md
  docs/architecture/blazor-for-web-forms-developers/media/index/blazor-for-aspnet-web-forms-developers.png
  docs/architecture/blazor-for-web-forms-developers/media/project-structure/hot-reload-1.png
  docs/architecture/blazor-for-web-forms-developers/media/project-structure/hot-reload-2.png
  docs/architecture/blazor-for-web-forms-developers/media/project-structure/hot-reload-3.png
  docs/architecture/blazor-for-web-forms-developers/media/security/individual-user-accounts.png
  docs/architecture/blazor-for-web-forms-developers/media/security/migration-files.png
  docs/architecture/blazor-for-web-forms-developers/middleware.md
  docs/architecture/blazor-for-web-forms-developers/migration.md
  docs/architecture/blazor-for-web-forms-developers/project-structure.md
  docs/architecture/blazor-for-web-forms-developers/security-authentication-authorization.md
  docs/architecture/blazor-for-web-forms-developers/state-management.md
Labels: dotnet-architecture/prod, blazor/tech

#27410 C# reference: Consolidated jump statements
  .openpublishing.redirection.json
  docs/csharp/language-reference/compiler-messages/cs0163.md
  docs/csharp/language-reference/keywords/async.md
  docs/csharp/language-reference/keywords/break.md
  docs/csharp/language-reference/keywords/continue.md
  docs/csharp/language-reference/keywords/goto.md
  docs/csharp/language-reference/keywords/index.md
  docs/csharp/language-reference/keywords/return.md
  docs/csharp/language-reference/keywords/statement-keywords.md
  docs/csharp/language-reference/operators/default.md
  docs/csharp/language-reference/operators/lambda-expressions.md
  docs/csharp/language-reference/statements/iteration-statements.md
  docs/csharp/language-reference/statements/jump-statements.md
  docs/csharp/language-reference/statements/selection-statements.md
  docs/csharp/language-reference/statements/snippets/jump-statements/BreakStatement.cs
  docs/csharp/language-reference/statements/snippets/jump-statements/ContinueStatement.cs
  docs/csharp/language-reference/statements/snippets/jump-statements/GotoStatement.cs
  docs/csharp/language-reference/statements/snippets/jump-statements/Program.cs
  docs/csharp/language-reference/statements/snippets/jump-statements/ReturnStatement.cs
  docs/csharp/language-reference/statements/snippets/jump-statements/jump-statements.csproj
  docs/csharp/misc/cs0139.md
  docs/csharp/misc/cs0140.md
  docs/csharp/misc/cs0158.md
  docs/csharp/misc/cs0159.md
  docs/csharp/programming-guide/classes-and-structs/methods.md
  docs/csharp/programming-guide/classes-and-structs/ref-returns.md
  docs/csharp/programming-guide/classes-and-structs/using-properties.md
  docs/csharp/programming-guide/concepts/async/async-return-types.md
  docs/csharp/programming-guide/concepts/async/task-asynchronous-programming-model.md
  docs/csharp/programming-guide/statements-expressions-operators/statements.md
  docs/csharp/toc.yml
  samples/snippets/csharp/VS_Snippets_VBCSharp/csrefKeywordsJump/CS/csrefKeywordsJump.cs
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, csharp-async/tech, csharp-language-reference/tech, csharp-diagnostics/tech

#27435 Update fsharp-6.md
  docs/fsharp/whats-new/fsharp-6.md
Labels: dotnet-fsharp/prod

#27163 Add docs for diagnostics emitted by the System.Text.Json source generator
  docs/fundamentals/syslib-diagnostics/source-generator-overview.md
  docs/fundamentals/syslib-diagnostics/syslib1030.md
  docs/fundamentals/syslib-diagnostics/syslib1031.md
  docs/fundamentals/syslib-diagnostics/syslib1032.md
  docs/fundamentals/syslib-diagnostics/syslib1033.md
  docs/fundamentals/syslib-diagnostics/syslib1035.md
  docs/fundamentals/syslib-diagnostics/syslib1036.md
  docs/fundamentals/syslib-diagnostics/syslib1037.md
  docs/fundamentals/syslib-diagnostics/syslib1038.md
Labels: :checkered_flag: Release: .NET 6, dotnet-fundamentals/prod

#27187 Actions update
  docs/architecture/devops-for-aspnet-developers/actions-vs-pipelines.md
Labels: dotnet-architecture/prod

#27447 Patterns: mention precedence of not pattern
  docs/csharp/language-reference/operators/patterns.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#27453 Fix incorrect exception
  docs/csharp/programming-guide/concepts/async/cancel-async-tasks-after-a-period-of-time.md
  docs/csharp/programming-guide/concepts/async/snippets/cancel-tasks/cancel-task-after-period-of-time/Program.cs
Labels: dotnet-csharp/prod, csharp-async/tech

#27454 is operator: mention C# version for patterns
  docs/csharp/language-reference/operators/is.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#27073 Clarify information about reference validity in a finalizer (#26710)
  docs/standard/garbage-collection/implementing-dispose.md
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/Foo.cs
Labels: dotnet-fundamentals/prod

#27465 Fix attribute axis description
  docs/visual-basic/programming-guide/language-features/xml/accessing-xml.md
Labels: dotnet-visualbasic/prod

#27466 Remove reference to absent code
  docs/core/testing/unit-testing-fsharp-with-nunit.md
Labels: dotnet-fundamentals/prod

#27464 Add note about apphost generation
  docs/core/compatibility/sdk/6.0/apphost-generated-for-macos.md
Labels: dotnet-fundamentals/prod

#27456 Address customer feedback, use more meaningful method names
  docs/core/extensions/caching.md
  docs/core/extensions/snippets/caching/memory-apis/Program.cs
Labels: dotnet-fundamentals/prod

#27478 Differentiate types
  docs/core/diagnostics/dumps.md
Labels: dotnet-fundamentals/prod

#27463 Add note in intro about sharing code
  docs/standard/net-standard.md
Labels: dotnet-fundamentals/prod

#27485 Add culture-specific milliseconds format
  docs/standard/base-types/how-to-display-milliseconds-in-date-and-time-values.md
  docs/standard/base-types/snippets/how-to-display-milliseconds-in-date-and-time-values/csharp/DateTimeCode.csproj
  docs/standard/base-types/snippets/how-to-display-milliseconds-in-date-and-time-values/csharp/Program.cs
  docs/standard/base-types/snippets/how-to-display-milliseconds-in-date-and-time-values/vb/DateTimeCode.vbproj
  docs/standard/base-types/snippets/how-to-display-milliseconds-in-date-and-time-values/vb/Program.vb
  samples/snippets/csharp/VS_Snippets_CLR/Formatting.HowTo.Millisecond/cs/Millisecond.cs
Labels: dotnet-fundamentals/prod

#27458 Update "Containerize a .NET app" to .NET 6 and C# 10
  docs/core/docker/build-container.md
Labels: dotnet-fundamentals/prod, dotnet-docker/tech

#27457 Update code to remove call
  docs/standard/parallel-programming/how-to-cancel-a-parallel-for-or-foreach-loop.md
  samples/snippets/csharp/VS_Snippets_Misc/tpl_parallel/cs/parallel_cancel.cs
  samples/snippets/csharp/VS_Snippets_Misc/tpl_parallel/cs/parallel_file.cs
  samples/snippets/csharp/VS_Snippets_Misc/tpl_parallel/cs/simpleforeach.csproj
  samples/snippets/csharp/VS_Snippets_Misc/tpl_parallel/cs/simpleparallelfor.cs
  samples/snippets/visualbasic/VS_Snippets_Misc/tpl_parallel/vb/cancelloop.vb
  samples/snippets/visualbasic/VS_Snippets_Misc/tpl_parallel/vb/fileiteration08.vb
  samples/snippets/visualbasic/VS_Snippets_Misc/tpl_parallel/vb/simpleforeach.vbproj
  samples/snippets/visualbasic/VS_Snippets_Misc/tpl_parallel/vb/simpleparallelfor.vb
Labels: dotnet-fundamentals/prod

#26268 Outref and byref are not "no different"
  docs/fsharp/language-reference/byrefs.md
Labels: dotnet-fsharp/prod

#27473 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#27474 Clarify tuple types
  docs/csharp/language-reference/builtin-types/value-tuples.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#27475 Fix snippet interactivity
  docs/csharp/language-reference/statements/jump-statements.md
  docs/csharp/language-reference/statements/snippets/jump-statements/GotoInSwitchExample.cs
  docs/csharp/language-reference/statements/snippets/jump-statements/GotoStatement.cs
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#27476 Disable snippet interactivity
  docs/csharp/language-reference/statements/jump-statements.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#27401 Small change to rule categories table
  docs/fundamentals/code-analysis/categories.md
Labels: dotnet-fundamentals/prod

#27484 Freshen up "updateeachrelease" articles
  docs/core/project-sdk/msbuild-props-desktop.md
  docs/core/tools/global-json.md
  docs/csharp/language-reference/includes/langversion-table.md
  docs/csharp/language-reference/index.md
  docs/csharp/whats-new/csharp-version-history.md
  docs/standard/clr.md
  docs/standard/whats-new/whats-new-in-dotnet-standard.md
  docs/visual-basic/reference/command-line-compiler/langversion.md
  includes/net-standard-table.md
Labels: dotnet-cli/tech, dotnet-visualbasic/prod, dotnet-csharp/prod, csharp-language-reference/tech, csharp-whats-new/tech, dotnet-fundamentals/prod

#27513 Update Modernizing eBook Dates and Frontmatter
  docs/architecture/modernize-with-azure-containers/conclusions.md
  docs/architecture/modernize-with-azure-containers/index.md
  docs/architecture/modernize-with-azure-containers/lift-and-shift-existing-apps-azure-iaas.md
  docs/architecture/modernize-with-azure-containers/media/image5-4.png
  docs/architecture/modernize-with-azure-containers/media/image5-8.png
  docs/architecture/modernize-with-azure-containers/migrate-your-relational-databases-to-azure.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/build-resilient-services-ready-for-the-cloud-embrace-transient-failures-in-the-cloud.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/choosing-azure-compute-options-for-container-based-applications.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/deploy-existing-net-apps-as-windows-containers.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/index.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/life-cycle-ci-cd-pipelines-devops-tools.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/microsoft-technologies-in-cloud-optimized-applications.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/migrate-to-hybrid-cloud-scenarios.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/modernize-your-apps-with-monitoring-and-telemetry.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/reasons-to-modernize-existing-net-apps-to-cloud-optimized-applications.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/what-about-cloud-native-applications.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/when-not-to-deploy-to-windows-containers.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/when-to-deploy-windows-containers-in-your-on-premises-iaas-vm-infrastructure.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/when-to-deploy-windows-containers-to-azure-container-instances-ACI.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/when-to-deploy-windows-containers-to-azure-container-service-kubernetes.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/when-to-deploy-windows-containers-to-azure-vms-iaas-cloud.md
  docs/architecture/modernize-with-azure-containers/walkthroughs-technical-get-started-overview.md
Labels: dotnet-architecture/prod, modernize-with-azure-containers/tech

#27519 Fix a couple of typos
  docs/core/extensions/retrieve-resources.md
  docs/core/extensions/timer-service.md
Labels: dotnet-fundamentals/prod

#27525 Add important alert about user secrets usage
  docs/core/extensions/workers.md
Labels: dotnet-fundamentals/prod

#27516 Shift operators: Make shift count info more visible
  docs/csharp/language-reference/operators/bitwise-and-shift-operators.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#27499 Update dependency-injection.md
  docs/core/extensions/dependency-injection.md
Labels: dotnet-fundamentals/prod

#27517 Updated the workdir for UNIX
  docs/core/install/linux-scripted-manual.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#27531 Struct reference: Mention disposable ref structs
  docs/csharp/language-reference/builtin-types/struct.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#27505 Add macOS 12 Monterey to Documentation
  docs/core/rid-catalog.md
Labels: dotnet-fundamentals/prod

#27462 Add warning to trimming doc
  docs/core/deploying/trimming/trim-self-contained.md
Labels: dotnet-fundamentals/prod

#27523 Fixes Microservices ebook content
  docs/architecture/microservices/container-docker-introduction/docker-terminology.md
  docs/architecture/microservices/docker-application-development-process/docker-app-development-workflow.md
  docs/architecture/microservices/net-core-net-framework-containers/net-container-os-targets.md
Labels: dotnet-architecture/prod, microservices/tech

#27449 Updates Containerized Docker Application Lifecycle - ebook content to .NET 6.0
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/build-aspnet-core-applications-linux-containers-aks-kubernetes.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/docker-apps-development-environment.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/docker-apps-inner-loop-workflow.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/media/build-aspnet-core-applications-linux-containers-aks-kubernetes/create-aspnet-core-application.png
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/media/build-aspnet-core-applications-linux-containers-aks-kubernetes/create-web-api-application.png
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/media/build-aspnet-core-applications-linux-containers-aks-kubernetes/enter-project-name-and-location.png
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/media/enable-docker-support-visual-studio.png
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/media/monolithic-applications/publish-azure-app-service-container.png
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/media/orchestrate-high-scalability-availability/azure-container-apps-logo.png
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/media/visual-studio-docker-tools-options.png
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/monolithic-applications.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/orchestrate-high-scalability-availability.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/visual-studio-tools-for-docker.md
  docs/architecture/containerized-lifecycle/docker-terminology.md
  docs/architecture/containerized-lifecycle/index.md
Labels: dotnet-architecture/prod, containerized-lifecycle/tech

#27521 Updated grpc ebook for NET 6
  docs/architecture/grpc-for-wcf-developers/application-performance-management.md
  docs/architecture/grpc-for-wcf-developers/call-credentials.md
  docs/architecture/grpc-for-wcf-developers/channel-credentials.md
  docs/architecture/grpc-for-wcf-developers/client-libraries.md
  docs/architecture/grpc-for-wcf-developers/create-project.md
  docs/architecture/grpc-for-wcf-developers/docker.md
  docs/architecture/grpc-for-wcf-developers/encryption.md
  docs/architecture/grpc-for-wcf-developers/grpc-in-production.md
  docs/architecture/grpc-for-wcf-developers/grpc-overview.md
  docs/architecture/grpc-for-wcf-developers/index.md
  docs/architecture/grpc-for-wcf-developers/interface-definition-language.md
  docs/architecture/grpc-for-wcf-developers/introduction.md
  docs/architecture/grpc-for-wcf-developers/kubernetes.md
  docs/architecture/grpc-for-wcf-developers/load-balancing.md
  docs/architecture/grpc-for-wcf-developers/media/create-project/configure-project.png
  docs/architecture/grpc-for-wcf-developers/media/create-project/create-new-grpc-service-v2.png
  docs/architecture/grpc-for-wcf-developers/media/create-project/new-grpc-project.png
  docs/architecture/grpc-for-wcf-developers/media/migrate-request-reply/add-connected-service.png
  docs/architecture/grpc-for-wcf-developers/media/migrate-request-reply/add-connected-service2.png
  docs/architecture/grpc-for-wcf-developers/media/migrate-request-reply/add-new-grpc-service-reference.png
  docs/architecture/grpc-for-wcf-developers/migrate-duplex-services.md
  docs/architecture/grpc-for-wcf-developers/migrate-request-reply.md
  docs/architecture/grpc-for-wcf-developers/migrate-wcf-to-grpc.md
  docs/architecture/grpc-for-wcf-developers/protobuf-data-types.md
  docs/architecture/grpc-for-wcf-developers/protobuf-maps.md
  docs/architecture/grpc-for-wcf-developers/protobuf-messages.md
  docs/architecture/grpc-for-wcf-developers/protobuf-reserved.md
  docs/architecture/grpc-for-wcf-developers/security.md
  docs/architecture/grpc-for-wcf-developers/self-hosted.md
  docs/architecture/grpc-for-wcf-developers/service-mesh.md
  docs/architecture/grpc-for-wcf-developers/wcf-bindings.md
  docs/architecture/grpc-for-wcf-developers/wcf-services-to-grpc-comparison.md
  docs/architecture/grpc-for-wcf-developers/why-grpc.md
  docs/architecture/grpc-for-wcf-developers/ws-protocols.md
Labels: dotnet-architecture/prod, grpc/tech

#27539 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#27518 Update startup references in aspnet-ebook
  docs/architecture/modern-web-apps-azure/common-web-application-architectures.md
  docs/architecture/modern-web-apps-azure/develop-asp-net-core-mvc-apps.md
  docs/architecture/modern-web-apps-azure/test-asp-net-core-mvc-apps.md
  docs/architecture/modern-web-apps-azure/work-with-data-in-asp-net-core-apps.md
Labels: dotnet-architecture/prod, modern-web-apps-azure/tech

#27535 Add some minor info about the new DateOnly and TimeOnly types
  docs/standard/datetime/index.md
  docs/standard/datetime/toc.yml
Labels: dotnet-fundamentals/prod

#27512 Update Porting eBook
  docs/architecture/blazor-for-web-forms-developers/app-startup.md
  docs/architecture/blazor-for-web-forms-developers/architecture-comparison.md
  docs/architecture/blazor-for-web-forms-developers/components.md
  docs/architecture/blazor-for-web-forms-developers/config.md
  docs/architecture/blazor-for-web-forms-developers/data.md
  docs/architecture/blazor-for-web-forms-developers/forms-validation.md
  docs/architecture/blazor-for-web-forms-developers/hosting-models.md
  docs/architecture/blazor-for-web-forms-developers/index.md
  docs/architecture/blazor-for-web-forms-developers/introduction.md
  docs/architecture/blazor-for-web-forms-developers/media/index/blazor-for-aspnet-web-forms-developers.png
  docs/architecture/blazor-for-web-forms-developers/media/project-structure/hot-reload-1.png
  docs/architecture/blazor-for-web-forms-developers/media/project-structure/hot-reload-2.png
  docs/architecture/blazor-for-web-forms-developers/media/project-structure/hot-reload-3.png
  docs/architecture/blazor-for-web-forms-developers/media/security/individual-user-accounts.png
  docs/architecture/blazor-for-web-forms-developers/media/security/migration-files.png
  docs/architecture/blazor-for-web-forms-developers/middleware.md
  docs/architecture/blazor-for-web-forms-developers/migration.md
  docs/architecture/blazor-for-web-forms-developers/pages-routing-layouts.md
  docs/architecture/blazor-for-web-forms-developers/project-structure.md
  docs/architecture/blazor-for-web-forms-developers/security-authentication-authorization.md
  docs/architecture/blazor-for-web-forms-developers/state-management.md
  docs/architecture/porting-existing-aspnet-apps/additional-migration-resources.md
  docs/architecture/porting-existing-aspnet-apps/app-startup-differences.md
  docs/architecture/porting-existing-aspnet-apps/architectural-differences.md
  docs/architecture/porting-existing-aspnet-apps/authentication-differences.md
  docs/architecture/porting-existing-aspnet-apps/choose-net-core-version.md
  docs/architecture/porting-existing-aspnet-apps/comparing-razor-pages-aspnet-mvc.md
  docs/architecture/porting-existing-aspnet-apps/configuration-differences.md
  docs/architecture/porting-existing-aspnet-apps/controller-differences.md
  docs/architecture/porting-existing-aspnet-apps/dependency-injection-differences.md
  docs/architecture/porting-existing-aspnet-apps/deployment-scenarios.md
  docs/architecture/porting-existing-aspnet-apps/deployment-strategies.md
  docs/architecture/porting-existing-aspnet-apps/example-migration-eshop.md
  docs/architecture/porting-existing-aspnet-apps/hosting-differences.md
  docs/architecture/porting-existing-aspnet-apps/identify-migration-sequence.md
  docs/architecture/porting-existing-aspnet-apps/identity-differences.md
  docs/architecture/porting-existing-aspnet-apps/incremental-migration-strategies.md
  docs/architecture/porting-existing-aspnet-apps/index.md
  docs/architecture/porting-existing-aspnet-apps/introduction.md
  docs/architecture/porting-existing-aspnet-apps/logging-differences.md
  docs/architecture/porting-existing-aspnet-apps/media/Figure4-1.png
  docs/architecture/porting-existing-aspnet-apps/media/Figure4-11.png
  docs/architecture/porting-existing-aspnet-apps/middleware-modules-handlers.md
  docs/architecture/porting-existing-aspnet-apps/migrate-aspnet-core-2-1.md
  docs/architecture/porting-existing-aspnet-apps/migrate-large-solutions.md
  docs/architecture/porting-existing-aspnet-apps/migrate-web-forms.md
  docs/architecture/porting-existing-aspnet-apps/migration-considerations.md
  docs/architecture/porting-existing-aspnet-apps/more-migration-scenarios.md
  docs/architecture/porting-existing-aspnet-apps/razor-differences.md
  docs/architecture/porting-existing-aspnet-apps/routing-differences.md
  docs/architecture/porting-existing-aspnet-apps/serving-static-files.md
  docs/architecture/porting-existing-aspnet-apps/signalr-differences.md
  docs/architecture/porting-existing-aspnet-apps/strategies-migrating-in-production.md
  docs/architecture/porting-existing-aspnet-apps/summary.md
  docs/architecture/porting-existing-aspnet-apps/testing-differences.md
  docs/architecture/porting-existing-aspnet-apps/understand-update-dependencies.md
  docs/architecture/porting-existing-aspnet-apps/webapi-differences.md
Labels: dotnet-architecture/prod, blazor/tech

#27477 Fix path
  docs/spark/tutorials/get-started.md
Labels: dotnet-spark/prod

#26296 Update culture-creation-invariant-mode.md
  docs/core/compatibility/globalization/6.0/culture-creation-invariant-mode.md
Labels: dotnet-fundamentals/prod

#27549 Update Modernizing Web Apps eBook to .NET 6
  docs/architecture/modernize-with-azure-containers/conclusions.md
  docs/architecture/modernize-with-azure-containers/index.md
  docs/architecture/modernize-with-azure-containers/lift-and-shift-existing-apps-azure-iaas.md
  docs/architecture/modernize-with-azure-containers/media/image5-4.png
  docs/architecture/modernize-with-azure-containers/media/image5-8.png
  docs/architecture/modernize-with-azure-containers/migrate-your-relational-databases-to-azure.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/build-resilient-services-ready-for-the-cloud-embrace-transient-failures-in-the-cloud.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/choosing-azure-compute-options-for-container-based-applications.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/deploy-existing-net-apps-as-windows-containers.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/index.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/life-cycle-ci-cd-pipelines-devops-tools.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/microsoft-technologies-in-cloud-optimized-applications.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/migrate-to-hybrid-cloud-scenarios.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/modernize-your-apps-with-monitoring-and-telemetry.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/reasons-to-modernize-existing-net-apps-to-cloud-optimized-applications.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/what-about-cloud-native-applications.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/when-not-to-deploy-to-windows-containers.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/when-to-deploy-windows-containers-in-your-on-premises-iaas-vm-infrastructure.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/when-to-deploy-windows-containers-to-azure-container-instances-ACI.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/when-to-deploy-windows-containers-to-azure-container-service-kubernetes.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/when-to-deploy-windows-containers-to-azure-vms-iaas-cloud.md
  docs/architecture/modernize-with-azure-containers/walkthroughs-technical-get-started-overview.md
Labels: dotnet-architecture/prod, modernize-with-azure-containers/tech

#27547 Upgrade Architecting Modern Web Apps Azure eBook to .NET 6
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/infrastructure-persistence-layer-implementation-entity-framework-core.md
  docs/architecture/modern-web-apps-azure/architectural-principles.md
  docs/architecture/modern-web-apps-azure/azure-hosting-recommendations-for-asp-net-web-apps.md
  docs/architecture/modern-web-apps-azure/choose-between-traditional-web-and-single-page-apps.md
  docs/architecture/modern-web-apps-azure/common-client-side-web-technologies.md
  docs/architecture/modern-web-apps-azure/common-web-application-architectures.md
  docs/architecture/modern-web-apps-azure/develop-asp-net-core-mvc-apps.md
  docs/architecture/modern-web-apps-azure/development-process-for-azure.md
  docs/architecture/modern-web-apps-azure/index.md
  docs/architecture/modern-web-apps-azure/media/image5-12.png
  docs/architecture/modern-web-apps-azure/media/image5-7.png
  docs/architecture/modern-web-apps-azure/media/image7-1.png
  docs/architecture/modern-web-apps-azure/media/image7-3.png
  docs/architecture/modern-web-apps-azure/media/image9-1.png
  docs/architecture/modern-web-apps-azure/media/image9-2.png
  docs/architecture/modern-web-apps-azure/media/image9-3.png
  docs/architecture/modern-web-apps-azure/media/image9-4.png
  docs/architecture/modern-web-apps-azure/modern-web-applications-characteristics.md
  docs/architecture/modern-web-apps-azure/test-asp-net-core-mvc-apps.md
  docs/architecture/modern-web-apps-azure/work-with-data-in-asp-net-core-apps.md
Labels: dotnet-architecture/prod, microservices/tech, modern-web-apps-azure/tech

#27555 Porting eBook upgrade to .NET 6
  docs/architecture/blazor-for-web-forms-developers/app-startup.md
  docs/architecture/blazor-for-web-forms-developers/components.md
  docs/architecture/blazor-for-web-forms-developers/config.md
  docs/architecture/blazor-for-web-forms-developers/data.md
  docs/architecture/blazor-for-web-forms-developers/index.md
  docs/architecture/blazor-for-web-forms-developers/pages-routing-layouts.md
  docs/architecture/blazor-for-web-forms-developers/project-structure.md
  docs/architecture/porting-existing-aspnet-apps/additional-migration-resources.md
  docs/architecture/porting-existing-aspnet-apps/app-startup-differences.md
  docs/architecture/porting-existing-aspnet-apps/architectural-differences.md
  docs/architecture/porting-existing-aspnet-apps/authentication-differences.md
  docs/architecture/porting-existing-aspnet-apps/choose-net-core-version.md
  docs/architecture/porting-existing-aspnet-apps/comparing-razor-pages-aspnet-mvc.md
  docs/architecture/porting-existing-aspnet-apps/configuration-differences.md
  docs/architecture/porting-existing-aspnet-apps/controller-differences.md
  docs/architecture/porting-existing-aspnet-apps/dependency-injection-differences.md
  docs/architecture/porting-existing-aspnet-apps/deployment-scenarios.md
  docs/architecture/porting-existing-aspnet-apps/deployment-strategies.md
  docs/architecture/porting-existing-aspnet-apps/example-migration-eshop.md
  docs/architecture/porting-existing-aspnet-apps/hosting-differences.md
  docs/architecture/porting-existing-aspnet-apps/identify-migration-sequence.md
  docs/architecture/porting-existing-aspnet-apps/identity-differences.md
  docs/architecture/porting-existing-aspnet-apps/incremental-migration-strategies.md
  docs/architecture/porting-existing-aspnet-apps/index.md
  docs/architecture/porting-existing-aspnet-apps/introduction.md
  docs/architecture/porting-existing-aspnet-apps/logging-differences.md
  docs/architecture/porting-existing-aspnet-apps/media/Figure4-1.png
  docs/architecture/porting-existing-aspnet-apps/media/Figure4-11.png
  docs/architecture/porting-existing-aspnet-apps/media/index/porting-existing-aspnet-apps.png
  docs/architecture/porting-existing-aspnet-apps/middleware-modules-handlers.md
  docs/architecture/porting-existing-aspnet-apps/migrate-aspnet-core-2-1.md
  docs/architecture/porting-existing-aspnet-apps/migrate-large-solutions.md
  docs/architecture/porting-existing-aspnet-apps/migrate-web-forms.md
  docs/architecture/porting-existing-aspnet-apps/migration-considerations.md
  docs/architecture/porting-existing-aspnet-apps/more-migration-scenarios.md
  docs/architecture/porting-existing-aspnet-apps/razor-differences.md
  docs/architecture/porting-existing-aspnet-apps/routing-differences.md
  docs/architecture/porting-existing-aspnet-apps/serving-static-files.md
  docs/architecture/porting-existing-aspnet-apps/signalr-differences.md
  docs/architecture/porting-existing-aspnet-apps/strategies-migrating-in-production.md
  docs/architecture/porting-existing-aspnet-apps/summary.md
  docs/architecture/porting-existing-aspnet-apps/testing-differences.md
  docs/architecture/porting-existing-aspnet-apps/understand-update-dependencies.md
  docs/architecture/porting-existing-aspnet-apps/webapi-differences.md
Labels: dotnet-architecture/prod, blazor/tech

#27553 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#27551 Remove references to Silverlight
  docs/framework/wcf/whats-wcf.md
Labels: dotnet-framework/prod, dotnet-wcf/tech

#27550 Removing duplicate content
  docs/framework/wcf/whats-new.md
Labels: dotnet-framework/prod, dotnet-wcf/tech

#27593 update references to .NET 5 and VS 2017
  docs/architecture/modernize-with-azure-containers/conclusions.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/deploy-existing-net-apps-as-windows-containers.md
  docs/architecture/modernize-with-azure-containers/walkthroughs-technical-get-started-overview.md
Labels: dotnet-architecture/prod, modernize-with-azure-containers/tech

#27594 Added snippets, images, notes, clarifying statements, clean up, etc.
  .github/CODEOWNERS
  docfx.json
  docs/csharp/roslyn-sdk/media/source-generators/solution-explorer-program.png
  docs/csharp/roslyn-sdk/media/source-generators/source-generated-program.png
  docs/csharp/roslyn-sdk/snippets/source-generators/ConsoleApp/ConsoleApp.csproj
  docs/csharp/roslyn-sdk/snippets/source-generators/ConsoleApp/Program.cs
  docs/csharp/roslyn-sdk/snippets/source-generators/SourceGenerator/HelloSourceGenerator.cs
  docs/csharp/roslyn-sdk/snippets/source-generators/SourceGenerator/SourceGenerator.csproj
  docs/csharp/roslyn-sdk/snippets/source-generators/source-generators.sln
  docs/csharp/roslyn-sdk/source-generators-overview.md
Labels: dotnet-csharp/prod, csharp-roslyn/tech

#27592 Add note about dependent NuGet package, per customer feedback
  docs/architecture/modern-web-apps-azure/develop-asp-net-core-mvc-apps.md
  docs/core/extensions/options.md
  docs/fsharp/language-reference/byrefs.md
Labels: dotnet-fsharp/prod, dotnet-architecture/prod, modern-web-apps-azure/tech, dotnet-fundamentals/prod

#27556 Fix typo
  docs/architecture/modernize-desktop/why-modern-applications.md
Labels: dotnet-architecture/prod

#27557 Add ONNX methods to load and save models
  docs/machine-learning/how-to-guides/save-load-machine-learning-models-ml-net.md
Labels: dotnet-ml/prod

#27595 Specify record struct initialization
  .vscode/settings.json
  docs/csharp/whats-new/tutorials/records.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech

#27601 Update event-pattern.md
  docs/csharp/event-pattern.md
Labels: dotnet-csharp/prod

#27599 Repo cleanup December 21
  docs/architecture/cloud-native/media/azure-dev-spaces-visual-studio-launchsettings.png
  docs/architecture/cloud-native/media/visual-studio-add-orchestrator-support.png
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/media/orchestrate-high-scalability-availability/use-multiple-spaces-azure-dev.png
  docs/architecture/microservices/architect-microservice-container-applications/media/scalable-available-multi-container-microservice-applications/use-multiple-spaces-azure-dev.png
  docs/fundamentals/toc.yml
Labels: dotnet-architecture/prod, microservices/tech, cloud-native/tech, containerized-lifecycle/tech, dotnet-fundamentals/prod

#27603 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#27612 Fix typo
  docs/fundamentals/code-analysis/quality-rules/ca1806.md
Labels: dotnet-fundamentals/prod

#27611 Provide better H1 and titles
  docs/csharp/language-reference/attributes/caller-information.md
  docs/csharp/language-reference/attributes/general.md
  docs/csharp/language-reference/attributes/global.md
  docs/csharp/language-reference/attributes/nullable-analysis.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#27609 String interpolation updates
  docs/csharp/whats-new/tutorials/interpolated-string-handler.md
  docs/csharp/whats-new/tutorials/snippets/interpolated-string-handler/Logger-v2.cs
  docs/csharp/whats-new/tutorials/snippets/interpolated-string-handler/logger-v4.cs
Labels: dotnet-csharp/prod, csharp-whats-new/tech

#27610 Remove hyperlink to MSDN video
  docs/csharp/async.md
Labels: dotnet-csharp/prod

#27607 Edit pass record reference
  docs/csharp/language-reference/builtin-types/record.md
  docs/csharp/language-reference/builtin-types/snippets/shared/StructType.cs
  docs/csharp/language-reference/builtin-types/struct.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#27604 Lambda expressions: More attribute examples and style edits
  docs/csharp/language-reference/operators/lambda-expressions.md
  docs/csharp/whats-new/csharp-10.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#27617 Update the `Program` to a top-level program
  docs/core/extensions/custom-configuration-provider.md
  docs/core/extensions/snippets/configuration/custom-provider/Program.cs
Labels: dotnet-fundamentals/prod

#27618 Use formattable string approach to align logging API convention
  docs/core/extensions/snippets/workers/timer-service/TimerService.cs
  docs/core/extensions/timer-service.md
Labels: dotnet-fundamentals/prod

#27620 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#27605 Fix build suggestions
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/build-aspnet-core-applications-linux-containers-aks-kubernetes.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/visual-studio-tools-for-docker.md
  docs/architecture/microservices/docker-application-development-process/docker-app-development-workflow.md
  docs/architecture/microservices/net-core-net-framework-containers/net-framework-container-scenarios.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/when-not-to-deploy-to-windows-containers.md
  docs/architecture/serverless/durable-azure-functions.md
  docs/architecture/serverless/orchestration-patterns.md
Labels: dotnet-architecture/prod, microservices/tech, modernize-with-azure-containers/tech, containerized-lifecycle/tech, serverless/tech

#27622 Fix pipes in tables where possible
  docs/architecture/dapr-for-net-developers/observability.md
  docs/core/diagnostics/dotnet-dump.md
  docs/core/tools/custom-templates.md
  docs/fundamentals/code-analysis/code-quality-rule-options.md
  docs/fundamentals/code-analysis/quality-rules/ca1501.md
Labels: dotnet-cli/tech, dotnet-architecture/prod, dotnet-fundamentals/prod

#27623 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#27637 off by one error
  docs/csharp/language-reference/keywords/using.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#27640 LINQ improvements for .NET 6
  docs/core/diagnostics/compare-metric-apis.md
  docs/csharp/programming-guide/concepts/linq/partitioning-data.md
  docs/csharp/programming-guide/concepts/linq/projection-operations.md
  docs/csharp/programming-guide/concepts/linq/set-operations.md
  docs/visual-basic/programming-guide/concepts/linq/aggregation-operations.md
  docs/visual-basic/programming-guide/concepts/linq/partitioning-data.md
  docs/visual-basic/programming-guide/concepts/linq/projection-operations.md
  docs/visual-basic/programming-guide/concepts/linq/set-operations.md
Labels: dotnet-visualbasic/prod, dotnet-csharp/prod, csharp-linq/tech, dotnet-fundamentals/prod

#27642 Address static constructor issues
  docs/csharp/language-reference/attributes/general.md
  docs/csharp/programming-guide/classes-and-structs/static-constructors.md
  docs/csharp/toc.yml
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, csharp-language-reference/tech

#27645 fix typo in method name
  docs/csharp/whats-new/tutorials/interpolated-string-handler.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech

#27647 fix: typo for "you "-> "your"
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/build-aspnet-core-applications-linux-containers-aks-kubernetes.md
Labels: dotnet-architecture/prod, containerized-lifecycle/tech

#27643 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#27648 Update mutually recursive record definition example
  docs/fsharp/language-reference/records.md
Labels: dotnet-fsharp/prod
