Repository dotnet/docs, pull requests merged in 2021-06, with the labels that each got.

#24461 variable name error
  docs/csharp/programming-guide/concepts/linq/standard-query-operators-overview.md
  docs/csharp/programming-guide/concepts/linq/walkthrough-writing-queries-linq.md
Labels: csharp-linq/tech, dotnet-csharp/prod

#24442 Add / in closing tag
  docs/core/compatibility/sdk/5.0/referencing-executable-generates-error.md
Labels: dotnet-fundamentals/prod

#24445 Acrolinx 5/28
  docs/core/extensions/queue-service.md
  docs/core/extensions/windows-service.md
Labels: dotnet-fundamentals/prod

#24464 Clarify finally block description
  docs/csharp/fundamentals/exceptions/index.md
Labels: dotnet-csharp/prod

#24473 Fix hyperlink.
  docs/csharp/language-reference/keywords/reference-types.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#24443 Fix XML closing tag
  docs/core/deploying/trimming-options.md
Labels: dotnet-fundamentals/prod

#23828 Update building-a-peer-channel-application.md
  docs/framework/wcf/feature-details/building-a-peer-channel-application.md
Labels: dotnet-framework/prod, dotnet-wcf/tech

#23204 Update wcf-web-http-service-help-page.md
  docs/framework/wcf/feature-details/wcf-web-http-service-help-page.md
Labels: dotnet-framework/prod, dotnet-wcf/tech

#24467 Correction about generation promotions
  docs/standard/garbage-collection/large-object-heap.md
Labels: dotnet-fundamentals/prod

#24469 Corrected the details about debug logging, providers, etc
  docs/core/extensions/logging-providers.md
Labels: dotnet-fundamentals/prod

#24489 Update example code for TreatWarningsAsErrors tag
  docs/csharp/language-reference/compiler-options/errors-warnings.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#24478 Edit pass, fix bugs, add nint and nuint
  docs/csharp/write-safe-efficient-code.md
Labels: dotnet-csharp/prod

#24480 Update ms.topic
  docs/framework/get-started/system-requirements.md
Labels: dotnet-framework/prod

#24492 Fix a typo
  docs/fsharp/language-reference/code-quotations.md
Labels: dotnet-fsharp/prod

#24494 change range to ID
  docs/csharp/fundamentals/types/namespaces.md
Labels: dotnet-csharp/prod

#24497 Fix incorrect snippet
  docs/csharp/fundamentals/types/namespaces.md
  docs/csharp/fundamentals/types/snippets/namespaces/Program.cs
Labels: dotnet-csharp/prod

#24309 updated reverseName and structReverseName examples to return expected…
  docs/fsharp/style-guide/conventions.md
Labels: dotnet-fsharp/prod

#24516 `AutoreleasePool` feature switch
  docs/core/run-time-config/threading.md
Labels: dotnet-fundamentals/prod

#24505 fixed missing upgrade command in upgrade-assistant
  docs/architecture/porting-existing-aspnet-apps/understand-update-dependencies.md
  docs/core/porting/upgrade-assistant-aspnetmvc.md
  docs/core/porting/upgrade-assistant-winforms-framework.md
  docs/core/porting/upgrade-assistant-wpf-framework.md
Labels: dotnet-architecture/prod, dotnet-fundamentals/prod

#24519 minor spelling correction
  docs/core/extensions/workers.md
Labels: dotnet-fundamentals/prod

#24518 CA2016 correct category
  docs/fundamentals/code-analysis/quality-rules/ca2016.md
Labels: dotnet-fundamentals/prod

#24521 Fix link
  .ghal.rules.json
  docfx.json
  docs/csharp/fundamentals/tutorials/oop.md
Labels: dotnet-csharp/prod

#24510 IgnoreNullValues obsolete
  docs/standard/serialization/system-text-json-ignore-properties.md
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
Labels: dotnet-fundamentals/prod

#24527 Add information about type aliases for struct tuples (F#)
  docs/fsharp/language-reference/tuples.md
Labels: dotnet-fsharp/prod

#24525 clarify wording
  docs/core/porting/upgrade-assistant-overview.md
Labels: dotnet-fundamentals/prod

#24512 Fix text and diagram about surrogate code points
  docs/standard/base-types/character-encoding-introduction.md
  docs/standard/base-types/media/character-encoding-introduction/bmp-and-surrogate.svg
Labels: dotnet-fundamentals/prod

#24549 First parameter of `ThrowWhenNull` is nullable marked with the `[NotN…
  docs/csharp/language-reference/attributes/snippets/NullableAttributes.cs
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#24547 Improve SEO for new function pointer content.
  docs/csharp/delegates-overview.md
  docs/csharp/language-reference/builtin-types/reference-types.md
  docs/csharp/language-reference/unsafe-code.md
Labels: csharp-advanced-concepts/tech, csharp-language-reference/tech, dotnet-csharp/prod

#24493 Fix Dapr Getting Started tutorial
  docs/architecture/dapr-for-net-developers/getting-started.md
Labels: dotnet-architecture/prod

#24542 Fixed typo with Allocation Size in line 298
  docs/standard/garbage-collection/large-object-heap.md
Labels: dotnet-fundamentals/prod

#24583 Acrolinx 6/8
  docs/fsharp/language-reference/code-quotations.md
  docs/fsharp/style-guide/conventions.md
  docs/fundamentals/syslib-diagnostics/obsoletions-overview.md
Labels: dotnet-fsharp/prod, dotnet-fundamentals/prod

#24523 Update CA1416 with custom guards and TFM target requires AssemblyInfo.cs enabled
  docs/fundamentals/code-analysis/quality-rules/ca1416.md
  docs/standard/analyzers/platform-compat-analyzer.md
Labels: dotnet-analyzers/tech, dotnet-fundamentals/prod

#24483 Add some info on troubleshooting
  docs/core/install/linux-snap.md
Labels: dotnet-fundamentals/prod, dotnet-install/tech, dotnet/prod

#24132 Polymorphic deserialization
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/PersonConverterWithTypeDiscriminatorAlt.cs
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/RoundtripPolymorphic.cs
  docs/standard/serialization/system-text-json-converters-how-to.md
Labels: dotnet-fundamentals/prod

#24616 Minor edit pass of MEF content
  docs/azure/sdk/thread-safety.md
  docs/core/tools/dotnet-new-search.md
  docs/core/tools/dotnet-new.md
  docs/framework/mef/attributed-programming-model-overview-mef.md
  docs/framework/mef/composition-analysis-tool-mefx.md
  docs/framework/mef/index.md
  docs/framework/mef/mef-for-net-for-windows-store-apps.md
  docs/framework/mef/toc.yml
  docs/fundamentals/code-analysis/quality-rules/ca1416.md
  docs/fundamentals/code-analysis/quality-rules/ca1846.md
  docs/standard/analyzers/platform-compat-analyzer.md
  includes/core-changes/visualbasic/3.0/vb-winforms-splash-about-broken.md
Labels: dotnet-analyzers/tech, dotnet-azure/prod, dotnet-cli/tech, dotnet-framework/prod, dotnet-fundamentals/prod

#24434 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24481 Updated Azure Functions description
  docs/azure/key-azure-services.md
Labels: dotnet-azure/prod

#24623 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24620 update guidance on finalizers
  docs/csharp/programming-guide/classes-and-structs/destructors.md
  docs/csharp/programming-guide/classes-and-structs/snippets/destructors/Program.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/destructors/expr-bodied-destructor.cs
  docs/csharp/programming-guide/statements-expressions-operators/expression-bodied-members.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#24632 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24638 Fix typo in how-to-use-the-automl-api.md
  docs/machine-learning/how-to-guides/how-to-use-the-automl-api.md
Labels: dotnet-ml/prod

#24639 Add "Object Initializers with collection read-only property initialization" section
  docs/csharp/programming-guide/classes-and-structs/object-and-collection-initializers.md
  samples/snippets/csharp/programming-guide/classes-and-structs/object-collection-initializers/BasicObjectInitializers.cs
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#24564 Use Android API level instead of OS number in example
  docs/standard/analyzers/platform-compat-analyzer.md
Labels: dotnet-analyzers/tech, dotnet-fundamentals/prod

#24536 Add missing parenthesis
  docs/architecture/porting-existing-aspnet-apps/more-migration-scenarios.md
Labels: dotnet-architecture/prod

#24647 Update name attribute info
  docs/core/extensions/configuration-providers.md
Labels: dotnet-fundamentals/prod

#24650 Fix broken links
  docs/architecture/cloud-native/candidate-apps.md
  docs/architecture/cloud-native/definition.md
  docs/architecture/cloud-native/infrastructure-as-code.md
  docs/breadcrumb/toc.yml
  docs/csharp/fundamentals/tutorials/classes.md
  docs/machine-learning/tutorials/object-detection-onnx.md
Labels: cloud-native/tech, csharp-fundamentals/tech, dotnet-architecture/prod, dotnet-csharp/prod, dotnet-ml/prod

#24659 Fix incorrect capitalization of "ASP.NET" in image description
  docs/framework/wcf/feature-details/configuring-iis-for-wcf.md
Labels: dotnet-framework/prod, dotnet-wcf/tech

#24562 Add docs about extraction directory on Unix
  docs/core/deploying/single-file.md
Labels: dotnet-fundamentals/prod

#24635 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24476 Update upgrade-assistant articles
  docs/core/porting/upgrade-assistant-aspnetmvc.md
  docs/core/porting/upgrade-assistant-overview.md
  docs/core/porting/upgrade-assistant-winforms-framework.md
  docs/core/porting/upgrade-assistant-wpf-framework.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#24674 Fix author on upgrade assistant articles
  docs/core/porting/upgrade-assistant-aspnetmvc.md
  docs/core/porting/upgrade-assistant-overview.md
  docs/core/porting/upgrade-assistant-winforms-framework.md
  docs/core/porting/upgrade-assistant-wpf-framework.md
Labels: dotnet-fundamentals/prod

#24675 Keyword release
  docs/fsharp/language-reference/keyword-reference.md
Labels: dotnet-fsharp/prod

#24499 .NET Framework 4.5.1 in Visual Studio
  docs/framework/configure-apps/file-schema/startup/supportedruntime-element.md
  docs/framework/configure-apps/how-to-enable-and-disable-automatic-binding-redirection.md
  docs/framework/configure-apps/redirect-assembly-versions.md
  docs/framework/deployment/deployment-guide-for-developers.md
  docs/framework/get-started/system-requirements.md
  docs/framework/install/guide-for-developers.md
  docs/framework/interop/how-to-create-com-wrappers.md
  docs/framework/migration-guide/mitigation-product-versioning.md
  docs/framework/migration-guide/versions-and-dependencies.md
  docs/framework/tools/winmdexp-exe-windows-runtime-metadata-export-tool.md
  includes/net-framework-retired-versions.md
  includes/net-framework-vs.md
Labels: dotnet-appcompat/tech, dotnet-framework/prod, dotnet-install/tech

#24644 started source generator documentation
  docs/csharp/roslyn-sdk/media/source-generators/source-generator-visualization.png
  docs/csharp/roslyn-sdk/source-generators-overview.md
  docs/csharp/toc.yml
Labels: csharp-roslyn/tech, dotnet-csharp/prod

#24666 Add specific version
  docs/fundamentals/code-analysis/code-style-rule-options.md
Labels: dotnet-fundamentals/prod

#24614 Issue #24577: edit commonly-used-collection-types.md
  docs/standard/collections/commonly-used-collection-types.md
Labels: dotnet-fundamentals/prod

#24680 Extra 1 character (typo)
  docs/framework/wcf/feature-details/how-to-use-svcutil-exe-to-export-metadata-from-compiled-service-code.md
Labels: dotnet-framework/prod, dotnet-wcf/tech

#24643 Proposed modification to colon formatting guide based on discussion
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod

#24678 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24704 Fix template name
  docs/core/tutorials/testing-library-with-visual-studio.md
Labels: dotnet-fundamentals/prod

#24703 Fix PROJECT_PATH description
  docs/core/tools/dotnet-sln.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#24682 Delete XslTransform docs
  .openpublishing.redirection.json
  docs/standard/data/xml/implementation-of-discretionary-behaviors-in-the-xsltransform-class.md
  docs/standard/data/xml/media/xslt-transformations-with-the-xsltransform-class/xslt-transformation-architecture.gif
  docs/standard/data/xml/node-sets-in-transformations.md
  docs/standard/data/xml/outputs-from-an-xsltransform.md
  docs/standard/data/xml/resolving-external-xslt-style-sheets-and-documents.md
  docs/standard/data/xml/result-tree-fragment-in-transformations.md
  docs/standard/data/xml/support-for-the-msxsl-node-set-function.md
  docs/standard/data/xml/toc.yml
  docs/standard/data/xml/xmldatadocument-input-to-xsltransform.md
  docs/standard/data/xml/xmldocument-input-to-xsltransform.md
  docs/standard/data/xml/xpathdocument-input-to-xsltransform.md
  docs/standard/data/xml/xpathnavigator-in-transformations.md
  docs/standard/data/xml/xpathnodeiterator-in-transformations.md
  docs/standard/data/xml/xslt-stylesheet-scripting-using-msxsl-script.md
  docs/standard/data/xml/xslt-transformations-over-different-stores.md
  docs/standard/data/xml/xslt-transformations-with-the-xsltransform-class.md
  docs/standard/data/xml/xsltargumentlist-for-style-sheet-parameters-and-extension-objects.md
  docs/standard/data/xml/xsltransform-class-implements-the-xslt-processor.md
Labels: dotnet-data/prod, dotnet-fundamentals/prod

#24708 Clarify wording of PROJECT_PATH description
  docs/core/tools/dotnet-sln.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#24668 Update wording for alternative
  docs/core/install/includes/linux-install-package-manager-x64-vs-arm.md
Labels: dotnet-fundamentals/prod, dotnet-install/tech, dotnet/prod

#24702 add C# 9 to version history
  docs/csharp/whats-new/csharp-version-history.md
Labels: csharp-whats-new/tech, dotnet-csharp/prod

#24646 Fix loc issue
  docs/fsharp/language-reference/casting-and-conversions.md
Labels: dotnet-fsharp/prod

#24710 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24722 Fix up links
  docs/azure/sdk/azure-sdk-for-dotnet.md
  docs/azure/sdk/dependency-injection.md
  docs/azure/sdk/logging.md
  docs/azure/sdk/thread-safety.md
  docs/core/compatibility/toc.yml
  docs/core/extensions/workers.md
  docs/standard/data/xml/recoverable-xslt-errors.md
  docs/standard/data/xml/xslt-transformations.md
Labels: dotnet-azure/prod, dotnet-data/prod, dotnet-fundamentals/prod

#24732 Update destructors.md
  docs/csharp/programming-guide/classes-and-structs/destructors.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#24729 Nullability breaking change updates
  docs/core/compatibility/core-libraries/6.0/nullable-ref-type-annotation-changes.md
  docs/csharp/language-reference/attributes/nullable-analysis.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod, dotnet-fundamentals/prod

#24725 Placing AppInsights quickstart on Azure hub
  docs/azure/index.yml
Labels: dotnet-azure/prod

#24753 Minor updates to source generators overview
  docs/csharp/roslyn-sdk/source-generators-overview.md
Labels: csharp-roslyn/tech, dotnet-csharp/prod

#24749 Update InterimSteps.cs
  docs/csharp/whats-new/tutorials/snippets/record-types/InterimSteps.cs
Labels: csharp-whats-new/tech, dotnet-csharp/prod

#24754 Update publish-subscribe.md
  docs/architecture/dapr-for-net-developers/publish-subscribe.md
Labels: dotnet-architecture/prod

#24693 Delete CAS docs
  .openpublishing.redirection.json
  docs/core/compatibility/core-libraries/5.0/code-access-security-apis-obsolete.md
  docs/core/porting/net-framework-tech-unavailable.md
  docs/csharp/misc/cs0688.md
  docs/framework/configure-apps/file-schema/runtime/loadfromremotesources-element.md
  docs/framework/configure-apps/file-schema/runtime/netfx40-legacysecuritypolicy-element.md
  docs/framework/data/adonet/secure-client-applications.md
  docs/framework/data/adonet/security-overview.md
  docs/framework/data/adonet/sql/clr-integration-security-in-sql-server.md
  docs/framework/deployment/index.md
  docs/framework/migration-guide/net-framework-4-migration-issues.md
  docs/framework/misc/code-access-security-basics.md
  docs/framework/misc/code-access-security-policy-compatibility-and-migration.md
  docs/framework/misc/code-access-security.md
  docs/framework/misc/dangerous-permissions-and-policy-administration.md
  docs/framework/misc/how-to-run-partially-trusted-code-in-a-sandbox.md
  docs/framework/misc/link-demands.md
  docs/framework/misc/media/slide-10a.gif
  docs/framework/misc/media/using-the-assert-method/assert-method-assemblies.gif
  docs/framework/misc/securing-exception-handling.md
  docs/framework/misc/securing-method-access.md
  docs/framework/misc/securing-wrapper-code.md
  docs/framework/misc/security-and-public-read-only-array-fields.md
  docs/framework/misc/security-and-remoting-considerations.md
  docs/framework/misc/security-and-serialization.md
  docs/framework/misc/security-transparent-code-level-1.md
  docs/framework/misc/security-transparent-code-level-2.md
  docs/framework/misc/security-transparent-code.md
  docs/framework/misc/using-libraries-from-partially-trusted-code.md
  docs/framework/misc/using-the-assert-method.md
  docs/framework/reflection-and-codedom/security-considerations-for-reflection.md
  docs/framework/reflection-and-codedom/walkthrough-emitting-code-in-partial-trust-scenarios.md
  docs/framework/toc.yml
  docs/framework/tools/ngen-exe-native-image-generator.md
  docs/framework/tools/peverify-exe-peverify-tool.md
  docs/framework/tools/regsvcs-exe-net-services-installation-tool.md
  docs/framework/wcf/feature-details/supported-deployment-scenarios.md
  docs/framework/windows-workflow-foundation/whats-new-in-wf-in-dotnet.md
  docs/fundamentals/code-analysis/quality-rules/ca1051.md
  docs/fundamentals/code-analysis/quality-rules/ca2101.md
  docs/standard/assembly/security-considerations.md
  docs/standard/data/xml/xslt-extension-objects.md
  docs/standard/data/xml/xslt-security-considerations.md
  docs/standard/library-guidance/strong-naming.md
  docs/standard/security/key-security-concepts.md
  docs/standard/security/security-and-race-conditions.md
  docs/standard/serialization/binary-serialization.md
  docs/standard/serialization/custom-serialization.md
  docs/standard/serialization/selective-serialization.md
  docs/standard/serialization/serialization-guidelines.md
  docs/visual-basic/developing-apps/programming/computer-resources/how-to-create-a-registry-key-and-set-its-value.md
  docs/visual-basic/developing-apps/programming/computer-resources/how-to-read-a-value-from-a-registry-key.md
  docs/visual-basic/developing-apps/programming/drives-directories-files/how-to-create-a-file.md
  docs/visual-basic/developing-apps/programming/drives-directories-files/how-to-read-text-from-files-with-a-streamreader.md
  docs/visual-basic/developing-apps/programming/drives-directories-files/how-to-write-text-to-files-in-the-my-documents-directory.md
  docs/visual-basic/developing-apps/programming/drives-directories-files/how-to-write-text-to-files.md
  docs/visual-basic/misc/bc42200.md
Labels: dotnet-framework/prod

#24679 Delete WIF file schema docs
  .openpublishing.redirection.json
  docs/framework/configure-apps/file-schema/index.md
  docs/framework/configure-apps/file-schema/toc.yml
  docs/framework/configure-apps/file-schema/windows-identity-foundation/add.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/audienceuris.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/caches.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/certificatereference.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/certificatevalidation.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/certificatevalidator.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/chunkedcookiehandler.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/claimsauthenticationmanager.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/claimsauthorizationmanager.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/claimtype.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/claimtyperequired.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/clear.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/cookiehandler.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/customcookiehandler.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/federationconfiguration.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/identityconfiguration.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/index.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/issuernameregistry.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/issuertokenresolver.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/nameclaimtype.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/remove.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/roleclaimtype.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/samlsecuritytokenrequirement.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/securitytokenhandlerconfiguration.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/securitytokenhandlers.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/servicecertificate.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/servicetokenresolver.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/sessionsecuritytokencache.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/sessiontokenrequirement.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/system-identitymodel-services.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/system-identitymodel.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/toc.yml
  docs/framework/configure-apps/file-schema/windows-identity-foundation/tokenreplaycache.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/tokenreplaydetection.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/trustedissuers.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/usernamesecuritytokenhandlerrequirement.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/wsfederation.md
  docs/framework/configure-apps/file-schema/windows-identity-foundation/x509securitytokenhandlerrequirement.md
Labels: dotnet-framework/prod

#24695 Delete .NET Fx install docs for old Windows versions
  .openpublishing.redirection.json
  docs/framework/install/index.md
  docs/framework/install/on-windows-7.md
  docs/framework/install/on-windows-vista.md
  docs/framework/install/on-windows-xp.md
  docs/framework/toc.yml
Labels: dotnet-framework/prod, dotnet-install/tech

#24692 Delete cross-platform docs
  .openpublishing.redirection.json
  docs/framework/cross-platform/app-resources-for-libraries-that-target-multiple-platforms.md
  docs/framework/cross-platform/index.md
  docs/framework/cross-platform/media/add-portable-class-library.png
  docs/framework/cross-platform/media/pcl-project-properties.png
  docs/framework/cross-platform/media/using-portable-class-library-with-model-view-view-model/mvvm-share-assemblies-across-platforms.png
  docs/framework/cross-platform/passing-a-uri-to-the-windows-runtime.md
  docs/framework/cross-platform/portable-class-library.md
  docs/framework/cross-platform/support-for-windows-store-apps-and-windows-runtime.md
  docs/framework/cross-platform/using-portable-class-library-with-model-view-view-model.md
  docs/framework/develop-client-apps.md
  docs/framework/development-guide.md
  docs/framework/tools/ildasm-exe-il-disassembler.md
  docs/framework/tools/winmdexp-exe-windows-runtime-metadata-export-tool.md
  docs/framework/unmanaged-api/profiling/clr-profilers-and-windows-store-apps.md
  docs/framework/wcf/add-service-reference-in-a-portable-subset-project.md
  docs/framework/whats-new/index.md
Labels: dotnet-framework/prod

#24696 Delete SQL Server security docs
  .openpublishing.redirection.json
  docs/framework/data/adonet/code-access-security.md
  docs/framework/data/adonet/privacy-and-data-security.md
  docs/framework/data/adonet/secure-data-access.md
  docs/framework/data/adonet/securing-ado-net-applications.md
  docs/framework/data/adonet/security-overview.md
  docs/framework/data/adonet/sql-server-connection-pooling.md
  docs/framework/data/adonet/sql/application-security-scenarios-in-sql-server.md
  docs/framework/data/adonet/sql/authentication-in-sql-server.md
  docs/framework/data/adonet/sql/authorization-and-permissions-in-sql-server.md
  docs/framework/data/adonet/sql/clr-integration-security-in-sql-server.md
  docs/framework/data/adonet/sql/creating-application-roles-in-sql-server.md
  docs/framework/data/adonet/sql/customizing-permissions-with-impersonation-in-sql-server.md
  docs/framework/data/adonet/sql/data-encryption-in-sql-server.md
  docs/framework/data/adonet/sql/enabling-cross-database-access-in-sql-server.md
  docs/framework/data/adonet/sql/granting-row-level-permissions-in-sql-server.md
  docs/framework/data/adonet/sql/index.md
  docs/framework/data/adonet/sql/linq/security-in-linq-to-sql.md
  docs/framework/data/adonet/sql/managing-permissions-with-stored-procedures-in-sql-server.md
  docs/framework/data/adonet/sql/overview-of-sql-server-security.md
  docs/framework/data/adonet/sql/ownership-and-user-schema-separation-in-sql-server.md
  docs/framework/data/adonet/sql/server-and-database-roles-in-sql-server.md
  docs/framework/data/adonet/sql/signing-stored-procedures-in-sql-server.md
  docs/framework/data/adonet/sql/sql-server-express-security.md
  docs/framework/data/adonet/sql/sql-server-security.md
  docs/framework/data/adonet/sql/toc.yml
  docs/framework/data/adonet/sql/writing-secure-dynamic-sql-in-sql-server.md
Labels: dotnet-data/tech, dotnet-framework/prod

#24699 Delete MEF docs
  .openpublishing.redirection.json
  docs/framework/mef/composition-analysis-tool-mefx.md
  docs/framework/mef/mef-for-net-for-windows-store-apps.md
  docs/framework/mef/toc.yml
Labels: dotnet-framework/prod

#23846 Update relational-vs-nosql-data.md
  docs/architecture/cloud-native/relational-vs-nosql-data.md
Labels: cloud-native/tech, dotnet-architecture/prod

#24733 Fixes broken navigation in porting existing ASPNET eBook
  docs/architecture/porting-existing-aspnet-apps/example-migration-eshop.md
  docs/architecture/porting-existing-aspnet-apps/logging-differences.md
  docs/architecture/porting-existing-aspnet-apps/routing-differences.md
Labels: dotnet-architecture/prod

#24758 Add doc for upgrade-assistant telemetry
  docs/core/porting/upgrade-assistant-telemetry.md
Labels: dotnet-fundamentals/prod

#24757 Nameof: added section about instance member names
  docs/fsharp/language-reference/nameof.md
Labels: dotnet-fsharp/prod

#24763 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#24759 Byte Array Interop Breaking Change Announcement
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/byte-array-interop.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#24770 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24626 Update how-to-encrypt-xml-elements-with-asymmetric-keys.md
  docs/standard/security/how-to-encrypt-xml-elements-with-asymmetric-keys.md
Labels: dotnet-fundamentals/prod, dotnet-security/tech, dotnet/prod

#24755 Add details about accessing both services and config at the same time
  docs/core/extensions/options.md
Labels: dotnet-fundamentals/prod

#24773 fixed typo
  docs/architecture/blazor-for-web-forms-developers/components.md
Labels: blazor/tech, dotnet-architecture/prod

#24655 Update scale-containers-serverless.md
  docs/architecture/cloud-native/scale-containers-serverless.md
Labels: cloud-native/tech, dotnet-architecture/prod

#24652 Fixing calls to DarpClient.CreateInvokeHttpClient
  docs/architecture/dapr-for-net-developers/service-invocation.md
Labels: dotnet-architecture/prod

#24760 Cleanup after auto-archive
  docs/framework/configure-apps/file-schema/index.md
  docs/framework/data/adonet/index.md
  docs/framework/data/adonet/sql/index.md
  docs/framework/data/index.md
  docs/framework/data/toc.yml
  docs/framework/data/wcf/toc.yml
  docs/framework/install/index.md
  docs/framework/windows-workflow-foundation/index.md
  docs/standard/data/xml/toc.yml
Labels: dotnet-data/prod, dotnet-data/tech, dotnet-framework/prod, dotnet-fundamentals/prod, dotnet-install/tech, dotnet-wcf/tech, dotnet-wf/tech

#24774 Use a `Func<T>` to get the current config value
  docs/core/extensions/custom-logging-provider.md
  docs/core/extensions/snippets/configuration/console-custom-logging/ColorConsoleLogger.cs
  docs/core/extensions/snippets/configuration/console-custom-logging/ColorConsoleLoggerProvider.cs
Labels: dotnet-fundamentals/prod

#24764 Describe new partial methods
  docs/csharp/programming-guide/classes-and-structs/partial-classes-and-methods.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#24762 Upgrade Assistant telemetry article: `ms.date`, add to TOC, and add set env var
  docs/core/porting/upgrade-assistant-telemetry.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#24776 Add async enumerables
  docs/csharp/language-reference/keywords/yield.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#24768 Make assemblies visible for compliance
  docs/framework/unmanaged-api/fusion/getassemblyidentityfromfile-function.md
Labels: dotnet-framework/prod

#21862 Document Microsoft.Diagnostics.NETCore.Client
  docs/core/diagnostics/diagnostics-client-library.md
  docs/core/diagnostics/eventpipe.md
  docs/core/diagnostics/index.md
  docs/core/diagnostics/microsoft-diagnostics-netcore-client.md
  docs/core/diagnostics/snippets/Microsoft.Diagnostics.NETCore.Client/csharp/Microsoft.Diagnostics.NETCore.Client.Samples.csproj
  docs/core/diagnostics/snippets/Microsoft.Diagnostics.NETCore.Client/csharp/PrintEventsLive.cs
  docs/core/diagnostics/snippets/Microsoft.Diagnostics.NETCore.Client/csharp/PrintProcessStatus.cs
  docs/core/diagnostics/snippets/Microsoft.Diagnostics.NETCore.Client/csharp/PrintRuntimeGCEvents.cs
  docs/core/diagnostics/snippets/Microsoft.Diagnostics.NETCore.Client/csharp/ProfilerAttach.cs
  docs/core/diagnostics/snippets/Microsoft.Diagnostics.NETCore.Client/csharp/TraceProcessForDuration.cs
  docs/core/diagnostics/snippets/Microsoft.Diagnostics.NETCore.Client/csharp/TriggerCoreDump.cs
  docs/core/diagnostics/snippets/Microsoft.Diagnostics.NETCore.Client/csharp/TriggerDumpOnCpuUsage.cs
  docs/fundamentals/toc.yml
Labels: dotnet-core/prod

#24795 Links: Remove loggr
  docs/core/extensions/logging-providers.md
Labels: dotnet-fundamentals/prod

#24794 Fix xrefs
  docs/fundamentals/code-analysis/quality-rules/ca2208.md
Labels: dotnet-fundamentals/prod

#24791 Minor images and url changes for updating to new SPA looks
  docs/architecture/microservices/implement-resilient-applications/index.md
  docs/architecture/microservices/implement-resilient-applications/media/monitor-app-health/health-check-json-response.png
  docs/architecture/microservices/implement-resilient-applications/monitor-app-health.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/nosql-database-persistence-infrastructure.md
  docs/architecture/microservices/multi-container-microservice-net-applications/data-driven-crud-microservice.md
  docs/architecture/microservices/multi-container-microservice-net-applications/implement-api-gateways-with-ocelot.md
  docs/architecture/microservices/multi-container-microservice-net-applications/media/subscribe-events/display-item-price-change.png
  docs/architecture/microservices/multi-container-microservice-net-applications/multi-container-applications-docker-compose.md
  docs/architecture/microservices/multi-container-microservice-net-applications/subscribe-events.md
Labels: dotnet-architecture/prod, microservices/tech

#24784 Explain potential variance failure
  docs/csharp/language-reference/builtin-types/reference-types.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#24781 Describe async iterators
  docs/csharp/iterators.md
  docs/csharp/snippets/iterators/Generators.cs
  docs/csharp/snippets/iterators/Program.cs
  docs/csharp/snippets/iterators/iterators.csproj
Labels: dotnet-csharp/prod

#24777 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24786 Swap param order when using ArgumentException
  docs/csharp/fundamentals/functional/snippets/patterns/Simulation.cs
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#24767 Add syslib0025 and syslib0026
  docs/core/compatibility/core-libraries/6.0/obsolete-apis-with-custom-diagnostics.md
  docs/fundamentals/syslib-diagnostics/obsoletions-overview.md
  docs/fundamentals/syslib-diagnostics/syslib0025.md
  docs/fundamentals/syslib-diagnostics/syslib0026.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#24761 If message not null, execute CustomMethod
  docs/core/extensions/snippets/logging/console-formatter-custom/CustomFormatter.cs
Labels: dotnet-fundamentals/prod

#24799 Argument coercion breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/jit/6.0/coerce-call-arguments-ecma-335.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#24824 Update dependency-injection-guidelines.md
  docs/core/extensions/dependency-injection-guidelines.md
Labels: dotnet-fundamentals/prod

#24822 Fix formatting
  docs/csharp/language-reference/compiler-messages/cs1616.md
  docs/csharp/language-reference/configure-language-version.md
  docs/csharp/misc/cs1573.md
Labels: csharp-diagnostics/tech, csharp-language-reference/tech, dotnet-csharp/prod

#24819 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#24790 Update eShopOnContainers images to latest SPA theme
  docs/architecture/cloud-native/introduce-eshoponcontainers-reference-app.md
  docs/architecture/cloud-native/media/eshoponcontainers-sample-app-screenshot.jpg
  docs/architecture/cloud-native/media/eshoponcontainers-sample-app-screenshot.png
Labels: cloud-native/tech, dotnet-architecture/prod

#24797 Update MinimalEventCounterSource.cs
  docs/core/diagnostics/snippets/EventCounters/MinimalEventCounterSource.cs
Labels: dotnet-fundamentals/prod

#24785 Update date-and-time-canonical-functions.md
  docs/framework/data/adonet/ef/language-reference/date-and-time-canonical-functions.md
Labels: dotnet-data/tech, dotnet-framework/prod

#24789 Update implement-value-objects.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/implement-value-objects.md
Labels: dotnet-architecture/prod, microservices/tech

#24744 Add CreateInterface api_name metadata
  docs/framework/unmanaged-api/hosting/clrcreateinstance-function.md
Labels: dotnet-framework/prod

#24669 Provide workaround for lack of DataTable support
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/Program.cs
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/RoundtripDataTable.cs
  docs/standard/serialization/system-text-json-converters-how-to.md
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
  docs/standard/serialization/system-text-json-supported-collection-types.md
Labels: dotnet-fundamentals/prod

#24857 Modify doc titles in ToC
  docs/azure/TOC.yml
Labels: dotnet-azure/prod

#24778 Add notes to clarify `EventId` bits
  docs/core/extensions/custom-logging-provider.md
  docs/core/extensions/snippets/configuration/console-custom-logging/Program.cs
Labels: dotnet-fundamentals/prod

#24779 Add bookmark to link for encryption article
  docs/standard/security/decrypting-data.md
Labels: dotnet-fundamentals/prod, dotnet-security/tech, dotnet/prod

#24856 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#24854 Add comment about setting isFinalBlock
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/Utf8ReaderPartialRead.cs
Labels: dotnet-fundamentals/prod

#24862 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#24875 Dapr for .NET Devs - Actors
  docs/architecture/dapr-for-net-developers/actors.md
Labels: dotnet-architecture/prod

#24852 Clean up links and orphaned images
  docs/architecture/dapr-for-net-developers/media/bindings/input-binding.png
  docs/core/porting/upgrade-assistant-telemetry.md
Labels: dotnet-architecture/prod, dotnet-fundamentals/prod

#24864 Fixed typo regarding end of support.
  docs/core/install/macos.md
Labels: dotnet-fundamentals/prod, dotnet-install/tech, dotnet/prod

#24876 Add some additional methods
  docs/machine-learning/resources/transforms.md
Labels: dotnet-ml/prod

#24871 Fix grammatical error
  docs/csharp/programming-guide/concepts/async/index.md
Labels: csharp-async/tech, dotnet-csharp/prod

#24873 Update cs0236.md
  docs/csharp/misc/cs0236.md
Labels: csharp-diagnostics/tech, dotnet-csharp/prod

#24783 Document IAsyncEnumerable support
  docs/standard/serialization/snippets/system-text-json-supported-collection-types/csharp/IAsyncEnumerableDeserialize.cs
  docs/standard/serialization/snippets/system-text-json-supported-collection-types/csharp/IAsyncEnumerableDeserializeNonStreaming.cs
  docs/standard/serialization/snippets/system-text-json-supported-collection-types/csharp/IAsyncEnumerableSerialize.cs
  docs/standard/serialization/snippets/system-text-json-supported-collection-types/csharp/Program.cs
  docs/standard/serialization/snippets/system-text-json-supported-collection-types/csharp/SystemTextJsonSamples.csproj
  docs/standard/serialization/system-text-json-supported-collection-types.md
Labels: dotnet-fundamentals/prod

#24858 Do something other than if/else if/else
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/RoundtripDataTable.cs
Labels: dotnet-fundamentals/prod

#24885 Properties without access modifiers are private
  docs/csharp/language-reference/builtin-types/record.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#24051 Update channel-credentials.md
  docs/architecture/grpc-for-wcf-developers/channel-credentials.md
Labels: dotnet-architecture/prod, grpc/tech, needs-more-info

#24890 Update telemetry.md
  docs/core/tools/telemetry.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#24866 Enclosed in parentheses and fixed typo
  docs/csharp/programming-guide/classes-and-structs/methods.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#24886 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#24887 Node namespace --> Nodes
  docs/standard/serialization/snippets/system-text-json-how-to-6-0/csharp/RoundtripJsonElementAndNode.cs
Labels: dotnet-fundamentals/prod

#24867 Update version text
  docs/core/tools/dotnet.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#24869 Disambiguate .NET Framework Windows Service bits
  docs/architecture/dapr-for-net-developers/actors.md
  docs/architecture/dapr-for-net-developers/reference-application.md
  docs/architecture/dapr-for-net-developers/secrets-management.md
  docs/architecture/dapr-for-net-developers/service-invocation.md
  docs/core/extensions/includes/windows-service-disambiguation.md
  docs/csharp/programming-guide/classes-and-structs/destructors.md
  docs/csharp/roslyn-sdk/source-generators-overview.md
  docs/framework/windows-services/how-to-add-installers-to-your-service-application.md
  docs/framework/windows-services/how-to-continue-a-windows-service-visual-basic.md
  docs/framework/windows-services/how-to-create-windows-services.md
  docs/framework/windows-services/how-to-debug-windows-service-applications.md
  docs/framework/windows-services/how-to-install-and-uninstall-services.md
  docs/framework/windows-services/how-to-log-information-about-services.md
  docs/framework/windows-services/how-to-pause-a-windows-service-visual-basic.md
  docs/framework/windows-services/how-to-specify-the-security-context-for-services.md
  docs/framework/windows-services/how-to-start-services.md
  docs/framework/windows-services/how-to-write-services-programmatically.md
  docs/framework/windows-services/index.md
  docs/framework/windows-services/introduction-to-windows-service-applications.md
  docs/framework/windows-services/service-application-programming-architecture.md
  docs/framework/windows-services/troubleshooting-debugging-windows-services.md
  docs/framework/windows-services/troubleshooting-service-application-wont-install.md
  docs/framework/windows-services/walkthrough-creating-a-windows-service-application-in-the-component-designer.md
  docs/fsharp/language-reference/nameof.md
Labels: csharp-fundamentals/tech, csharp-roslyn/tech, dotnet-architecture/prod, dotnet-csharp/prod, dotnet-framework/prod, dotnet-fsharp/prod, dotnet-fundamentals/prod

#24892 NETSDK1149
  docs/core/tools/sdk-errors/netsdk1149.md
  docs/fundamentals/toc.yml
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#24902 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#24907 Add 4.6.2 for Server 2008
  docs/framework/get-started/system-requirements.md
Labels: dotnet-framework/prod

#24910 Fix reportgenerator usage example.
  docs/core/testing/unit-testing-code-coverage.md
Labels: dotnet-fundamentals/prod

#24923 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#24930 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#24904 Document NETSDK1130
  docs/core/compatibility/interop/5.0/built-in-support-for-winrt-removed.md
  docs/core/tools/sdk-errors/netsdk1130.md
  docs/core/tools/sdk-errors/netsdk1149.md
  docs/fundamentals/toc.yml
Labels: dotnet-cli/tech, dotnet-fundamentals/prod
