Repository dotnet/docs, pull requests merged in 2021-10, with the labels that each got.

#26343 Add global tool troubleshooting info for 401 errors
  docs/core/tools/global-tools.md
  docs/core/tools/troubleshoot-usage-issues.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#26329 Update SDK documentation
  docs/core/porting/versioning-sdk-msbuild-vs.md
Labels: dotnet-fundamentals/prod

#26357 Feedback for nuget tools troubleshooting PR
  docs/core/tools/troubleshoot-usage-issues.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#26347 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#26348 Improved public access modifier definition - #26273
  docs/csharp/programming-guide/classes-and-structs/access-modifiers.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#26337 Update the-invalidArg-function.md
  docs/fsharp/language-reference/exception-handling/the-invalidArg-function.md
Labels: dotnet-fsharp/prod

#26350 Remove cache example
  docs/core/tools/dotnet-workload-install.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#26208 correct indentation in PrimeWebDefaultRequestShould
  docs/architecture/microservices/multi-container-microservice-net-applications/test-aspnet-core-services-web-apps.md
Labels: dotnet-architecture/prod, microservices/tech

#26354 Crypto feedback size breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/cryptography/5.0/tripledes-default-feedback-size-change.md
  docs/core/compatibility/cryptography/6.0/cfb-mode-feedback-size-exception.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#26378 Clarify string copying and memory
  docs/framework/interop/default-marshaling-for-strings.md
Labels: dotnet-framework/prod

#26338 Update top-level-templates.md
  docs/core/tutorials/top-level-templates.md
Labels: dotnet-fundamentals/prod

#26358 Update interfaces.md
  docs/csharp/fundamentals/types/interfaces.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#26369 Updated finalizers.md
  docs/csharp/programming-guide/classes-and-structs/finalizers.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#26374 Adding Missing Section Conversion Keywords
  docs/visual-basic/language-reference/functions/ctype-function.md
Labels: dotnet-visualbasic/prod

#26376 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#26377 Specifying the default value for Nullable
  docs/csharp/language-reference/compiler-options/language.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#26372 Add alert about changing content root
  docs/core/extensions/windows-service.md
Labels: dotnet-fundamentals/prod

#26383 Remove unnecessary empty lines in a dotnet command
  docs/core/tools/dotnet-new-uninstall.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#26388 Update tutorial-comwrappers.md
  docs/standard/native-interop/tutorial-comwrappers.md
Labels: dotnet-fundamentals/prod

#26386 Update GitHub Action and .NET related content to include workload and SDK callouts
  docs/architecture/devops-for-aspnet-developers/actions-build.md
  docs/devops/dotnet-build-github-action.md
  docs/devops/dotnet-publish-github-action.md
  docs/devops/dotnet-secure-github-action.md
  docs/devops/github-actions-overview.md
Labels: dotnet-architecture/prod

#25562 .NET 6 code analysis config options
  docs/core/project-sdk/msbuild-props.md
  docs/fundamentals/code-analysis/categories.md
  docs/fundamentals/code-analysis/code-quality-rule-options.md
  docs/fundamentals/code-analysis/configuration-options.md
Labels: dotnet-fundamentals/prod

#26385 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#26389 Metadata update & freshness reviews.
  docs/machine-learning/how-to-guides/explain-machine-learning-model-permutation-feature-importance-ml-net.md
  docs/machine-learning/how-to-guides/how-to-use-the-automl-api.md
  docs/machine-learning/how-to-guides/inspect-intermediate-data-ml-net.md
  docs/machine-learning/how-to-guides/install-extra-dependencies.md
  docs/machine-learning/how-to-guides/install-ml-net-cli.md
  docs/machine-learning/how-to-guides/install-model-builder.md
  docs/machine-learning/how-to-guides/label-images-for-object-detection-using-vott.md
  docs/machine-learning/how-to-guides/load-data-ml-net.md
  docs/machine-learning/how-to-guides/load-data-model-builder.md
  docs/machine-learning/how-to-guides/machine-learning-model-predictions-ml-net.md
  docs/machine-learning/how-to-guides/prepare-data-ml-net.md
  docs/machine-learning/how-to-guides/retrain-model-ml-net.md
  docs/machine-learning/how-to-guides/save-load-machine-learning-models-ml-net.md
  docs/machine-learning/how-to-guides/serve-model-serverless-azure-functions-ml-net.md
  docs/machine-learning/how-to-guides/serve-model-web-api-ml-net.md
  docs/machine-learning/how-to-guides/train-machine-learning-model-cross-validation-ml-net.md
  docs/machine-learning/how-to-guides/train-machine-learning-model-ml-net.md
  docs/machine-learning/resources/improve-machine-learning-model-ml-net.md
  docs/machine-learning/tutorials/image-classification-model-builder.md
Labels: dotnet-ml/prod

#26391 Note options added in .NET 6.0 SDK
  docs/core/tools/dotnet-build.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#26404 Use File.ReadLines instead of StreamReader.ReadLine
  docs/csharp/programming-guide/file-system/how-to-read-a-text-file-one-line-at-a-time.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#26539 FileStream locks on Unix
  docs/core/compatibility/6.0.md
  docs/core/compatibility/core-libraries/6.0/filestream-file-locks-unix.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#26697 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod
