Repository dotnet/docs, pull requests merged in 2021-07, with the labels that each got.

#24926 Fix typo in prepare-libraries-for-trimming.md
  docs/core/deploying/prepare-libraries-for-trimming.md
Labels: dotnet-fundamentals/prod

#24928 deconstruction allows assignment and initialization
  docs/csharp/fundamentals/functional/deconstruct.md
  docs/csharp/fundamentals/functional/snippets/deconstructing-tuples/deconstruct-tuple6.cs
  docs/csharp/fundamentals/functional/snippets/deconstructing-tuples/deconstruction.csproj
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#24931 Fix confusion and lack of clarity in various documents
  docs/csharp/fundamentals/object-oriented/index.md
  docs/csharp/programming-guide/file-system/how-to-iterate-through-a-directory-tree.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#24935 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#24278 CA1844
  docs/fundamentals/code-analysis/quality-rules/ca1844.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/performance-warnings.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#24324 Ca2250
  docs/fundamentals/code-analysis/quality-rules/ca2250.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/usage-warnings.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#24780 Diagnostic ID change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/core-libraries/6.0/diagnostic-id-change-for-obsoletions.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#24809 Stream reading breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/core-libraries/6.0/partial-byte-reads-in-streams.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#24818 Older frameworks breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/core-libraries/6.0/older-framework-versions-dropped.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#24508 Update F# on Azure Docs - File Storage
  docs/fsharp/using-fsharp-on-azure/file-storage.md
  samples/snippets/fsharp/azure/file-storage.fsx
Labels: dotnet-fsharp/prod

#24465 Update F# on Azure Docs - Queue Storage
  docs/fsharp/using-fsharp-on-azure/queue-storage.md
  samples/snippets/fsharp/azure/queue-storage.fsx
Labels: dotnet-fsharp/prod

#22972 Corrected terminology and updated a few things
  docs/framework/data/adonet/sql/sqlclient-support-for-high-availability-disaster-recovery.md
Labels: dotnet-data/tech, dotnet-framework/prod

#24953 Fixed spelling of the word "if"
  docs/fundamentals/code-analysis/quality-rules/ca5364.md
Labels: dotnet-fundamentals/prod

#24951 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#24949 Fix typo
  docs/architecture/grpc-for-wcf-developers/wcf-services-to-grpc-comparison.md
Labels: dotnet-architecture/prod, grpc/tech

#24946 Updating date to reflect latest changes
  docs/machine-learning/resources/transforms.md
Labels: dotnet-ml/prod

#24945 Fix typo
  docs/fundamentals/code-analysis/quality-rules/ca5360.md
Labels: dotnet-fundamentals/prod

#24898 Initial add of image classification
  docs/machine-learning/resources/tasks.md
Labels: dotnet-ml/prod

#24955 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24947 Remove qualifier "in C# 6 and earlier"
  docs/csharp/language-reference/operators/is.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#24948 Match code and text
  docs/csharp/whats-new/csharp-7.md
Labels: csharp-whats-new/tech, dotnet-csharp/prod

#24927 Add constant interpolated strings
  docs/csharp/how-to/concatenate-multiple-strings.md
  docs/csharp/language-reference/attributes/general.md
  docs/csharp/language-reference/attributes/snippets/ObsoleteExample.cs
  docs/csharp/language-reference/attributes/snippets/attributes.csproj
  docs/csharp/language-reference/keywords/const.md
  docs/csharp/language-reference/operators/addition-operator.md
  docs/csharp/language-reference/tokens/interpolated.md
  docs/csharp/programming-guide/strings/index.md
Labels: csharp-fundamentals/tech, csharp-language-reference/tech, dotnet-csharp/prod

#24943 Skip loc on keyword in reg-exp article
  docs/standard/base-types/character-classes-in-regular-expressions.md
Labels: dotnet-fundamentals/prod

#24954 Updating date
  docs/machine-learning/resources/tasks.md
Labels: dotnet-ml/prod

#24676 Crosslink metrics
  docs/machine-learning/how-to-guides/explain-machine-learning-model-permutation-feature-importance-ml-net.md
Labels: doc-enhancement, dotnet-ml/prod

#24961 Fix linter
  docs/csharp/language-reference/attributes/general.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#24962 Remove irrelevant section from trimming docs
  docs/core/deploying/trim-self-contained.md
Labels: dotnet-fundamentals/prod

#24956 Info on when counters were first introduced
  docs/core/diagnostics/available-counters.md
Labels: dotnet-fundamentals/prod

#24960 Add info about the default option matching
  docs/standard/base-types/regular-expression-options.md
Labels: dotnet-fundamentals/prod

#24968 Clarify description of object initializers
  docs/core/additional-tools/self-signed-certificates-guide.md
  docs/csharp/fundamentals/object-oriented/index.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#24965 Update dotnet-new.md - wrong exampe shown
  docs/core/tools/dotnet-new.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#24630 Migration docs revamp.
  docs/core/porting/breaking-changes.md
  docs/core/porting/porting-approaches.md
  docs/core/porting/premigration-needed-changes.md
  docs/core/porting/project-structure.md
  docs/core/porting/third-party-deps.md
  docs/core/porting/unsupported-apis.md
  docs/core/porting/versioning-sdk-msbuild-vs.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#24740 Recommend setting publish options in project file
  docs/core/deploying/single-file.md
  docs/core/deploying/trim-self-contained.md
  docs/core/deploying/trimming-options.md
  docs/core/tools/dotnet-publish.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#24996 Update relational-vs-nosql-data.md
  docs/architecture/cloud-native/relational-vs-nosql-data.md
Labels: cloud-native/tech, dotnet-architecture/prod

#24870 frequently-asked-questions.md converted into YML
  docs/framework/data/adonet/sql/linq/frequently-asked-questions.md
  docs/framework/data/adonet/sql/linq/frequently-asked-questions.yml
  docs/framework/data/adonet/sql/linq/reference.md
  docs/framework/data/adonet/sql/linq/security-in-linq-to-sql.md
  docs/framework/data/adonet/sql/linq/toc.yml
  docs/framework/data/adonet/sql/linq/troubleshooting.md
Labels: dotnet-data/tech, dotnet-framework/prod

#24975 Update how-to-implement-a-lightweight-class-with-auto-implemented-properties.md
  docs/csharp/programming-guide/classes-and-structs/how-to-implement-a-lightweight-class-with-auto-implemented-properties.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#24989 Add missing semicolon
  docs/core/extensions/logging.md
Labels: dotnet-fundamentals/prod

#24990 Fix small typo in name of Elsa Workflows
  docs/core/dotnet-five.md
Labels: dotnet-fundamentals/prod

#24997 add closing tick
  docs/core/diagnostics/available-counters.md
Labels: dotnet-fundamentals/prod

#24936 Fix RegexOptions.IgnorePatternWhitespace # to EOL
  docs/standard/base-types/regular-expression-options.md
Labels: :sparkles: 1st-time docs contributor!, dotnet-fundamentals/prod

#24993 Add example for Retreving Array Elements
  docs/csharp/programming-guide/arrays/single-dimensional-arrays.md
  docs/csharp/programming-guide/arrays/snippets/RetrevingArrayElements.cs
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#24974 promote the standard in TOC
  docs/breadcrumb/toc.yml
  docs/csharp/language-reference/proposals/toc.yml
  docs/csharp/language-reference/specification/toc.yml
  docs/csharp/toc.yml
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#24957 Record types can seal ToString in C# 10.
  docs/csharp/language-reference/attributes/general.md
  docs/csharp/language-reference/builtin-types/record.md
  docs/csharp/whats-new/tutorials/records.md
  docs/csharp/whats-new/tutorials/snippets/record-types/record-types.csproj
Labels: csharp-language-reference/tech, csharp-whats-new/tech, dotnet-csharp/prod

#24756 Update linux installation instructions to cleanup packages-microsoft-prod.deb after installation
  docs/core/install/linux-debian.md
  docs/core/install/linux-ubuntu.md
Labels: dotnet-fundamentals/prod, dotnet-install/tech, dotnet/prod

#25008 Fix text that was causing translation error (redo of #21749)
  docs/core/tutorials/debugging-with-visual-studio-code.md
Labels: dotnet-fundamentals/prod

#24884 Add bounding box scaling note
  docs/machine-learning/tutorials/object-detection-model-builder.md
Labels: doc-enhancement, dotnet-ml/prod

#25001 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#25013 Adding Server 2012 to list of supported platforms
  docs/core/install/windows.md
Labels: dotnet-fundamentals/prod, dotnet-install/tech, dotnet/prod

#25010 Reapply 20476
  docs/core/tools/dotnet-publish.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#25002 Update Worker.cs
  docs/core/extensions/snippets/configuration/worker-service/Worker.cs
Labels: dotnet-fundamentals/prod

#25020 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#25005 Update arrays index.md to include default behaviour of elements
  docs/csharp/programming-guide/arrays/index.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#24998 Update configuration named section and option class binding
  docs/core/extensions/options.md
  docs/core/extensions/snippets/configuration/console-json/SettingsOptions.cs
  docs/core/extensions/snippets/configuration/console-json/ValidateSettingsOptions.cs
Labels: dotnet-fundamentals/prod

#24999 Corrected (and tested) az acr command for #24987
  docs/core/extensions/cloud-service.md
Labels: dotnet-fundamentals/prod

#25003 Update StringBuilder documentation to be consistent about internal buffer copying
  docs/framework/interop/copying-and-pinning.md
  docs/framework/interop/default-marshaling-for-strings.md
Labels: dotnet-framework/prod

#25004 Recommend setting IsTrimmable in library projects
  docs/core/deploying/prepare-libraries-for-trimming.md
Labels: dotnet-fundamentals/prod

#25025 Add see also link
  docs/core/compatibility/interop/5.0/built-in-support-for-winrt-removed.md
Labels: dotnet-fundamentals/prod

#24967 Add Blazor WebAssembly to available SDKs
  docs/core/project-sdk/overview.md
Labels: dotnet-fundamentals/prod

#23377 Added documentation for new rule CA1847 - Use string.Contains(char) w…
  docs/fundamentals/code-analysis/quality-rules/ca1847.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/performance-warnings.md
  docs/fundamentals/toc.yml
Labels: :construction: Hold for related PR, dotnet-fundamentals/prod

#25000 Update walkthrough-creating-a-cryptographic-application.md
  docs/standard/security/walkthrough-creating-a-cryptographic-application.md
Labels: dotnet-fundamentals/prod, dotnet-security/tech, dotnet/prod

#24924 Create build, test, publish, and secure GitHub Action workflows for .NET apps
  docs/devops/create-dotnet-github-action.md
  docs/devops/dotnet-build-github-action.md
  docs/devops/dotnet-publish-github-action.md
  docs/devops/dotnet-secure-github-action.md
  docs/devops/dotnet-test-github-action.md
  docs/devops/github-actions-overview.md
  docs/devops/includes/add-github-workflow.md
  docs/devops/includes/add-status-badge.md
  docs/devops/includes/prerequisites.md
  docs/devops/media/build-badge-failing.svg
  docs/devops/media/build-badge-no-status.svg
  docs/devops/media/build-badge-passing.svg
  docs/devops/media/codeql-badge-failing.svg
  docs/devops/media/codeql-badge-no-status.svg
  docs/devops/media/codeql-badge-passing.svg
  docs/devops/media/copy-status-badge.png
  docs/devops/media/create-status-badge.png
  docs/devops/media/get-publish-profile.png
  docs/devops/media/github-secret-azure-publish-profile.png
  docs/devops/media/publish-badge-failing.svg
  docs/devops/media/publish-badge-no-status.svg
  docs/devops/media/publish-badge-passing.svg
  docs/devops/media/test-badge-failing.svg
  docs/devops/media/test-badge-no-status.svg
  docs/devops/media/test-badge-passing.svg
  docs/devops/snippets/create-dotnet-github-action/Dockerfile
  docs/devops/snippets/create-dotnet-github-action/DotNet.GitHubAction/ActionInputs.cs
  docs/devops/snippets/create-dotnet-github-action/DotNet.GitHubAction/DotNet.GitHubAction.csproj
  docs/devops/snippets/create-dotnet-github-action/DotNet.GitHubAction/Extensions/ServiceCollectionExtensions.cs
  docs/devops/snippets/create-dotnet-github-action/DotNet.GitHubAction/Program.cs
  docs/devops/snippets/create-dotnet-github-action/action.yml
  docs/devops/snippets/create-dotnet-github-action/workflow.yml
  docs/devops/snippets/dotnet-build-github-action/build-validation.yml
  docs/devops/snippets/dotnet-publish-github-action/publish-app.yml
  docs/devops/snippets/dotnet-secure-github-action/codeql-analysis.yml
  docs/devops/snippets/dotnet-test-github-action/build-and-test.yml
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#25028 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#25015 Update date to reflect latest changes
  docs/machine-learning/tutorials/object-detection-model-builder.md
Labels: dotnet-ml/prod

#25037 Mention the unit option for While
  docs/fsharp/language-reference/computation-expressions.md
Labels: dotnet-fsharp/prod

#25034 Add global_level for analyzer config
  docs/fundamentals/code-analysis/configuration-files.md
Labels: dotnet-fundamentals/prod

#24938 Add note about thread safety
  docs/standard/serialization/system-text-json-overview.md
  docs/standard/serialization/system-text-json-use-dom-utf8jsonreader-utf8jsonwriter.md
Labels: dotnet-fundamentals/prod

#25043 Whats new C# 10
  docs/csharp/language-reference/compiler-options/language.md
  docs/csharp/language-reference/configure-language-version.md
  docs/csharp/language-reference/includes/langversion-table.md
  docs/csharp/toc.yml
  docs/csharp/whats-new/csharp-10.md
Labels: csharp-language-reference/tech, csharp-whats-new/tech, dotnet-csharp/prod

#25045 Address issues in records article.
  docs/csharp/language-reference/builtin-types/record.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#24294 Add MSBuild breaking changes
  .openpublishing.redirection.json
  docs/core/compatibility/5.0.md
  docs/core/compatibility/6.0.md
  docs/core/compatibility/sdk/5.0/directory-packages-props-imported-by-default.md
  docs/core/compatibility/sdk/5.0/netcoreapp3_1-preprocessor-symbol-not-defined.md
  docs/core/compatibility/sdk/5.0/publishdepsfilepath-behavior-change.md
  docs/core/compatibility/sdk/5.0/targetframework-name-change.md
  docs/core/compatibility/sdk/6.0/duplicate-files-in-output.md
  docs/core/compatibility/sdk/6.0/gettargetframeworkproperties-and-getnearesttargetframework-removed.md
  docs/core/compatibility/toc.yml
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/prod

#25056 Cleanup CS1570 article
  docs/csharp/misc/cs1570.md
Labels: csharp-diagnostics/tech, dotnet-csharp/prod

#25038 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24985 Clarify "string" vs "System.String" in C# programming guide
  docs/csharp/programming-guide/strings/index.md
Labels: csharp-fundamentals/tech, csharp-language-reference/tech, dotnet-csharp/prod, needs-more-info

#25059 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#25039 Update for version selection articles
  docs/core/project-sdk/msbuild-props.md
  docs/core/versions/index.md
  docs/core/versions/selection.md
  includes/roll-forward-table.md
Labels: dotnet-fundamentals/prod

#25063 Update how-to-determine-which-versions-are-installed.md
  docs/framework/migration-guide/how-to-determine-which-versions-are-installed.md
Labels: dotnet-appcompat/tech, dotnet-framework/prod

#25050 dotnet nuget sign doc
  docs/core/tools/dotnet-nuget-sign.md
  docs/fundamentals/toc.yml
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#25048 Explain relationship between Delay and other CEs
  docs/fsharp/language-reference/computation-expressions.md
Labels: dotnet-fsharp/prod

#24978 Update Model Builder install instructions
  docs/machine-learning/how-to-guides/install-model-builder.md
  docs/machine-learning/how-to-guides/media/install-model-builder/enable-model-builder.png
  docs/machine-learning/how-to-guides/media/install-model-builder/vs-enable-model-builder.png
Labels: dotnet-ml/prod

#25065 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#25079 Update ref-returns.md
  docs/csharp/programming-guide/classes-and-structs/ref-returns.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#25080 .Net 5.0 in preview version correction
  docs/core/introduction.md
Labels: dotnet-fundamentals/prod

#25044 Add init-only properties to rule
  docs/fundamentals/code-analysis/quality-rules/ca2227.md
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca2227.cs
Labels: dotnet-fundamentals/prod

#24463 Ca2251
  docs/fundamentals/code-analysis/quality-rules/ca2251.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/usage-warnings.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#25084 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#25031 Add note about JSONPath support
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
Labels: dotnet-fundamentals/prod

#24933 Document dotnet sdk check command
  docs/core/tools/dotnet-sdk-check.md
  docs/core/tools/dotnet.md
  docs/fundamentals/toc.yml
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#24982 Fix typo in command description
  docs/core/tools/dotnet-new-uninstall.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#25064 Minor clarification
  docs/core/versions/selection.md
Labels: dotnet-fundamentals/prod

#25041 fix h1 to match title
  docs/standard/events/index.md
Labels: dotnet-fundamentals/prod

#25094 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#25060 Added link to related article and clean up
  docs/framework/reflection-and-codedom/reflection.md
Labels: dotnet-framework/prod

#24909 Update Model Builder Doc
  docs/machine-learning/automate-training-with-model-builder.md
  docs/machine-learning/media/ml-dotnet-model-builder.gif
  docs/machine-learning/media/model-builder-scenarios.png
Labels: dotnet-ml/prod

#25074 Add how to find CUDA version
  docs/machine-learning/how-to-guides/install-gpu-model-builder.md
Labels: dotnet-ml/prod

#25047 Clarify .NET Core strong-name behavior
  docs/standard/assembly/strong-named.md
Labels: dotnet-fundamentals/prod

#25054 Update ML.NET CLI Install Guide
  docs/machine-learning/how-to-guides/install-ml-net-cli.md
Labels: dotnet-ml/prod

#25092 Add article on new template output
  docs/core/tutorials/top-level-templates.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#25100 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#25104 Top-level suggestions
  docs/core/tutorials/top-level-templates.md
  docs/csharp/toc.yml
Labels: dotnet-csharp/prod, dotnet-fundamentals/prod

#25103 Acrolinx 7/13
  docs/core/deploying/prepare-libraries-for-trimming.md
  docs/core/deploying/trimming-options.md
Labels: dotnet-fundamentals/prod

#25107 Update Byte Array Interop Breaking Change
  docs/core/compatibility/aspnet-core/6.0/byte-array-interop.md
Labels: dotnet-fundamentals/prod

#25117 Update getting-started.md to use .NET 5
  docs/architecture/dapr-for-net-developers/getting-started.md
Labels: dotnet-architecture/prod

#25120 Update cs0117.md
  docs/csharp/misc/cs0117.md
Labels: csharp-diagnostics/tech, dotnet-csharp/prod

#25113 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#25108 dotnet run option breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/sdk/6.0/deprecate-p-option-dotnet-run.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#25150 Update HREF regex example
  docs/standard/base-types/regular-expression-example-scanning-for-hrefs.md
  docs/standard/base-types/snippets/regular-expression-example-scanning-for-hrefs/csharp/Program.cs
  docs/standard/base-types/snippets/regular-expression-example-scanning-for-hrefs/csharp/regex.csproj
  docs/standard/base-types/snippets/regular-expression-example-scanning-for-hrefs/vb/Program.vb
  docs/standard/base-types/snippets/regular-expression-example-scanning-for-hrefs/vb/regex.vbproj
  samples/snippets/csharp/VS_Snippets_CLR/RegularExpressions.Examples.HREF/cs/example.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/RegularExpressions.Examples.HREF/vb/example.vb
Labels: dotnet-fundamentals/prod

#25111 Move common options to includes
  docs/core/tools/dotnet-add-package.md
  docs/core/tools/dotnet-add-reference.md
  docs/core/tools/dotnet-build-server.md
  docs/core/tools/dotnet-build.md
  docs/core/tools/dotnet-clean.md
  docs/core/tools/dotnet-help.md
  docs/core/tools/dotnet-list-package.md
  docs/core/tools/dotnet-list-reference.md
  docs/core/tools/dotnet-new-install.md
  docs/core/tools/dotnet-new.md
  docs/core/tools/dotnet-nuget-add-source.md
  docs/core/tools/dotnet-nuget-delete.md
  docs/core/tools/dotnet-nuget-disable-source.md
  docs/core/tools/dotnet-nuget-enable-source.md
  docs/core/tools/dotnet-nuget-list-source.md
  docs/core/tools/dotnet-nuget-locals.md
  docs/core/tools/dotnet-nuget-push.md
  docs/core/tools/dotnet-nuget-remove-source.md
  docs/core/tools/dotnet-nuget-sign.md
  docs/core/tools/dotnet-nuget-trust.md
  docs/core/tools/dotnet-nuget-update-source.md
  docs/core/tools/dotnet-nuget-verify.md
  docs/core/tools/dotnet-pack.md
  docs/core/tools/dotnet-publish.md
  docs/core/tools/dotnet-remove-package.md
  docs/core/tools/dotnet-remove-reference.md
  docs/core/tools/dotnet-restore.md
  docs/core/tools/dotnet-run.md
  docs/core/tools/dotnet-sdk-check.md
  docs/core/tools/dotnet-sln.md
  docs/core/tools/dotnet-store.md
  docs/core/tools/dotnet-test.md
  docs/core/tools/dotnet-tool-install.md
  docs/core/tools/dotnet-tool-list.md
  docs/core/tools/dotnet-tool-restore.md
  docs/core/tools/dotnet-tool-run.md
  docs/core/tools/dotnet-tool-search.md
  docs/core/tools/dotnet-tool-uninstall.md
  docs/core/tools/dotnet-tool-update.md
  docs/core/tools/dotnet.md
  includes/cli-add-source.md
  includes/cli-configfile.md
  includes/cli-configuration-clean.md
  includes/cli-configuration.md
  includes/cli-help.md
  includes/cli-interactive-3-0.md
  includes/cli-interactive-5-0.md
  includes/cli-interactive.md
  includes/cli-verbosity-minimal.md
  includes/cli-verbosity-normal.md
  includes/cli-verbosity.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#25102 Update new-modifier.md
  docs/csharp/language-reference/keywords/new-modifier.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#25148 Random cleanup
  .github/CODEOWNERS
  docfx.json
  docs/core/deploying/prepare-libraries-for-trimming.md
  docs/core/deploying/trimming-options.md
  docs/fsharp/using-fsharp-on-azure/queue-storage.md
Labels: dotnet-fsharp/prod, dotnet-fundamentals/prod

#25149 Added initial bits for custom logging formatter with custom config
  docs/core/extensions/console-log-formatter.md
  docs/core/extensions/snippets/logging/console-formatter-custom-with-config/CustomTimePrefixingFormatter.cs
  docs/core/extensions/snippets/logging/console-formatter-custom-with-config/CustomWrappingConsoleFormatterOptions.cs
  docs/core/extensions/snippets/logging/console-formatter-custom-with-config/Program.cs
  docs/core/extensions/snippets/logging/console-formatter-custom-with-config/appsettings.json
  docs/core/extensions/snippets/logging/console-formatter-custom-with-config/console-formatter-custom-with-config.csproj
Labels: dotnet-fundamentals/prod

#25160 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#25156 Clarify code analysis rules default API surface
  docs/fundamentals/code-analysis/quality-rules/ca1024.md
  docs/fundamentals/code-analysis/quality-rules/ca1027.md
  docs/fundamentals/code-analysis/quality-rules/ca1028.md
  docs/fundamentals/code-analysis/quality-rules/ca1036.md
  docs/fundamentals/code-analysis/quality-rules/ca1043.md
  docs/fundamentals/code-analysis/quality-rules/ca1044.md
  docs/fundamentals/code-analysis/quality-rules/ca1055.md
Labels: dotnet-fundamentals/prod

#25163 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#25157 Update console-log-formatter.md
  docs/core/extensions/console-log-formatter.md
Labels: dotnet-fundamentals/prod

#25155 Initial pagination article for Azure SDK for .NET
  docs/azure/TOC.yml
  docs/azure/sdk/pagination.md
  docs/azure/sdk/snippets/pagination/Program.cs
  docs/azure/sdk/snippets/pagination/pagination.csproj
Labels: dotnet-azure/prod

#25152 Update lift-and-shift-existing-apps-azure-iaas.md
  docs/architecture/modernize-with-azure-containers/lift-and-shift-existing-apps-azure-iaas.md
Labels: dotnet-architecture/prod, modernize-with-azure-containers/tech

#25165 Remove --property part
  docs/core/compatibility/sdk/6.0/deprecate-p-option-dotnet-run.md
Labels: dotnet-fundamentals/prod

#25171 Document NETSDK1174
  docs/core/tools/dotnet-run.md
  docs/core/tools/sdk-errors/netsdk1174.md
  docs/fundamentals/toc.yml
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#25173 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24966 Remove table, as it confuses customers
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/choosing-azure-compute-options-for-container-based-applications.md
Labels: dotnet-architecture/prod, modernize-with-azure-containers/tech

#25151 Fix row order in tables
  docs/standard/serialization/system-text-json-supported-collection-types.md
Labels: dotnet-fundamentals/prod

#25169 Fix typo
  docs/csharp/language-reference/keywords/private-protected.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#25168 Add workaround for syslib0009 warning
  docs/fundamentals/syslib-diagnostics/includes/suppress-syslib-warning.md
  docs/fundamentals/syslib-diagnostics/syslib0009.md
Labels: dotnet-fundamentals/prod

#25075 Update AutoML API
  docs/machine-learning/how-to-guides/how-to-use-the-automl-api.md
Labels: dotnet-ml/prod

#25187 Update cs0077.md
  docs/csharp/misc/cs0077.md
Labels: csharp-diagnostics/tech, dotnet-csharp/prod

#25186 Update coding-conventions.md
  docs/csharp/fundamentals/coding-style/coding-conventions.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#25174 Fix broken links - July
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/when-not-to-deploy-to-windows-containers.md
  docs/architecture/serverless/serverless-business-scenarios.md
  docs/breadcrumb/toc.yml
  docs/core/introduction.md
  docs/csharp/programming-guide/concepts/expression-trees/debugging-expression-trees-in-visual-studio.md
  docs/devops/create-dotnet-github-action.md
  docs/framework/configure-apps/file-schema/runtime/generatepublisherevidence-element.md
  docs/framework/reflection-and-codedom/security-considerations-for-reflection.md
  docs/framework/reflection-and-codedom/security-issues-in-reflection-emit.md
  docs/framework/tools/caspol-exe-code-access-security-policy-tool.md
  docs/framework/tools/index.md
  docs/framework/windows-workflow-foundation/workflow-security.md
  docs/spark/how-to-guides/dotnet-spark-jupyter-notebooks.md
  docs/visual-basic/language-reference/statements/declare-statement.md
  docs/visual-basic/programming-guide/concepts/expression-trees/debugging-expression-trees-in-visual-studio.md
  includes/net-framework-future.md
Labels: csharp-advanced-concepts/tech, dotnet-architecture/prod, dotnet-csharp/prod, dotnet-framework/prod, dotnet-fundamentals/prod, dotnet-spark/prod, dotnet-visualbasic/prod, dotnet-wf/tech, modernize-with-azure-containers/tech, serverless/tech

#25188 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#25189 Added reference to NuGet package
  docs/core/extensions/options-library-authors.md
Labels: dotnet-fundamentals/prod

#25162 Document dotnet workload commands
  docs/core/tools/dotnet-workload-install.md
  docs/core/tools/dotnet-workload-list.md
  docs/core/tools/dotnet-workload-repair.md
  docs/core/tools/dotnet-workload-search.md
  docs/core/tools/dotnet-workload-uninstall.md
  docs/core/tools/dotnet-workload-update.md
  docs/core/tools/dotnet.md
  docs/core/tools/sdk-errors/netsdk1147.md
  docs/fundamentals/toc.yml
  includes/cli-sdk-version.md
  includes/cli-source.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#25191 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#25193 Follow-up to dotnet workload PR
  docs/core/tools/dotnet-workload-install.md
  docs/core/tools/dotnet-workload-repair.md
  docs/core/tools/dotnet-workload-search.md
  docs/core/tools/dotnet-workload-uninstall.md
  docs/core/tools/dotnet-workload-update.md
  includes/cli-source.md
  includes/cli-verbosity-packages.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#25195 Update netsdk1147.md
  docs/core/tools/sdk-errors/netsdk1147.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#25159 Add back DOTNET_ prefixed variables
  docs/core/diagnostics/dumps.md
  docs/core/run-time-config/compilation.md
  docs/core/run-time-config/debugging-profiling.md
  docs/core/run-time-config/garbage-collector.md
  docs/core/run-time-config/threading.md
Labels: dotnet-fundamentals/prod

#25213 simplifying a sentence
  docs/standard/security/generating-keys-for-encryption-and-decryption.md
Labels: dotnet-fundamentals/prod, dotnet-security/tech, dotnet/prod

#25206 Add help SOS commands
  docs/core/diagnostics/dotnet-dump.md
Labels: dotnet-fundamentals/prod

#25212 Fixed code example in spark batch tutorial
  docs/spark/tutorials/batch-processing.md
Labels: dotnet-spark/prod

#25204 Fix typo
  docs/csharp/programming-guide/classes-and-structs/snippets/destructors/Program.cs
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#25197 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#25199 Fix link description
  docs/architecture/dapr-for-net-developers/bindings.md
Labels: dotnet-architecture/prod

#25198 Add SYSLIB0027-SYSLIB0031
  docs/core/compatibility/core-libraries/6.0/obsolete-apis-with-custom-diagnostics.md
  docs/fundamentals/syslib-diagnostics/obsoletions-overview.md
  docs/fundamentals/syslib-diagnostics/syslib0027.md
  docs/fundamentals/syslib-diagnostics/syslib0028.md
  docs/fundamentals/syslib-diagnostics/syslib0029.md
  docs/fundamentals/syslib-diagnostics/syslib0030.md
  docs/fundamentals/syslib-diagnostics/syslib0031.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#25216 CA1032 documentation does not reflect analyzer behavior.
  docs/fundamentals/code-analysis/quality-rules/ca1032.md
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca1032.cs
Labels: dotnet-fundamentals/prod

#25222 Restructure CLI TOC
  docs/core/tools/dotnet-environment-variables.md
  docs/core/tools/dotnet.md
  docs/fundamentals/toc.yml
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#25221 Fixes #24673 doc conflates GetType(TypeName), Type.GetType, and Object.GetType
  docs/visual-basic/language-reference/operators/gettype-operator.md
Labels: dotnet-visualbasic/prod

#25228 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#25223 Update mutexes.md
  docs/standard/threading/mutexes.md
Labels: dotnet-fundamentals/prod

#25229 Convert bullets to h2s
  docs/core/tools/dotnet-environment-variables.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#25227 ClientCertificate breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/byte-array-interop.md
  docs/core/compatibility/aspnet-core/6.0/clientcertificate-doesnt-trigger-renegotiation.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#25235 Update destructors.md
  docs/csharp/programming-guide/classes-and-structs/destructors.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#25256 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#25281 Update selection.md
  docs/core/versions/selection.md
Labels: dotnet-fundamentals/prod
