Repository dotnet/docs, pull requests merged in 2021-09, with the labels that each got.

#25891 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#25884 Hide --sdk-version and several workload-list options
  docs/core/tools/dotnet-workload-install.md
  docs/core/tools/dotnet-workload-list.md
  docs/core/tools/dotnet-workload-repair.md
  docs/core/tools/dotnet-workload-restore.md
  docs/core/tools/dotnet-workload-search.md
  docs/core/tools/dotnet-workload-update.md
  includes/cli-sdk-version.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#25888 Temp fix for .NET 6 template changes
  docs/core/tutorials/with-visual-studio-code.md
Labels: dotnet-fundamentals/prod

#25780 Add documentation about new ReadyToRun publish options
  docs/core/deploying/ready-to-run.md
Labels: dotnet-fundamentals/prod

#25879 Update CUDA dependencies
  docs/machine-learning/how-to-guides/install-gpu-model-builder.md
Labels: dotnet-ml/prod

#25869 Add doc for CA1418
  docs/fundamentals/code-analysis/quality-rules/ca1418.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/interoperability-warnings.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#25881 Add a note about missing $HOME in some cases
  docs/core/deploying/single-file.md
Labels: dotnet-fundamentals/prod

#25908 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#25656 Link to manual install docs from "install other versions"
  docs/core/install/includes/package-manager-heading-hack-pkgname.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#25913 F# can't produce default interface methods
  docs/fsharp/language-reference/interfaces.md
Labels: dotnet-fsharp/prod

#25919 fix typo
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#25920 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#25916 Update ZIP file download to https
  docs/machine-learning/tutorials/sentiment-analysis.md
Labels: dotnet-ml/prod

#25936 add reasons for var being nullable
  docs/csharp/language-reference/keywords/var.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#25883 Update nullable reference types for C# 10
  docs/csharp/language-reference/operators/null-forgiving.md
  docs/csharp/nullable-references.md
Labels: dotnet-csharp/prod

#25909 Link to C# compiler options
  docs/core/project-sdk/msbuild-props.md
  docs/csharp/language-reference/compiler-options/index.md
  docs/csharp/language-reference/compiler-options/security.md
  docs/csharp/toc.yml
Labels: dotnet-csharp/prod, csharp-language-reference/tech, dotnet-fundamentals/prod

#25940 Fix lint
  docs/csharp/nullable-references.md
Labels: dotnet-csharp/prod

#25932 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#25947 fix typo
  docs/csharp/language-reference/compiler-options/errors-warnings.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#25931 Xml DOM touchups
  docs/standard/data/xml/create-new-nodes-in-the-dom.md
  docs/standard/data/xml/creating-new-attributes-for-elements-in-the-dom.md
Labels: dotnet-fundamentals/prod, dotnet-data/prod

#25925 Azsdk overview page update
  docs/azure/sdk/azure-sdk-for-dotnet.md
  docs/azure/sdk/media/azure-sdk-for-dotnet-overview.png
Labels: dotnet-azure/prod

#25939 Preview-to-preview breaking change for implicit namespaces
  docs/core/compatibility/6.0.md
  docs/core/compatibility/sdk/6.0/implicit-namespaces-rc1.md
  docs/core/compatibility/sdk/6.0/implicit-namespaces.md
  docs/core/compatibility/toc.yml
  docs/core/project-sdk/msbuild-props.md
  docs/csharp/language-reference/keywords/using-directive.md
  docs/whats-new/dotnet-docs-2021-07-01.md
  includes/csharp10-templates.md
Labels: dotnet-fundamentals/prod

#25945 Multi-case active patterns can also take arguments
  docs/fsharp/language-reference/active-patterns.md
  samples/snippets/fsharp/lang-ref-2/snippet5008.fs
Labels: dotnet-fsharp/prod

#25684 Clarify technology choices
  docs/standard/choosing-core-framework-server.md
Labels: dotnet-fundamentals/prod

#25956 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#25971 Add a few missing string literal quotes
  docs/csharp/nullable-references.md
Labels: dotnet-csharp/prod

#25966 `Extending existing Builders` example doesn't work
  docs/fsharp/language-reference/computation-expressions.md
Labels: dotnet-fsharp/prod

#25973 Fix compile error in CA5394 solution code
  docs/fundamentals/code-analysis/quality-rules/ca5394.md
Labels: dotnet-fundamentals/prod

#25980 Fix incorrect compute section wording.
  docs/machine-learning/resources/azure-training-concepts-model-builder.md
Labels: dotnet-ml/prod

#24042 Fix incorrect info in CA2009 docs
  docs/fundamentals/code-analysis/quality-rules/ca2009.md
Labels: dotnet-fundamentals/prod

#25982 ComWrappers Tutorial feedback
  docs/standard/native-interop/tutorial-comwrappers.md
Labels: dotnet-fundamentals/prod

#25958 Document DynamicDependencyAttribute
  docs/core/deploying/prepare-libraries-for-trimming.md
Labels: dotnet-fundamentals/prod

#25712 List multi-module assemblies as an unsupported technology
  docs/core/porting/net-framework-tech-unavailable.md
Labels: dotnet-fundamentals/prod

#25983 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#25969 Remove package-management.md file
  .openpublishing.redirection.json
  docs/fsharp/toc.yml
  docs/fsharp/using-fsharp-on-azure/package-management.md
Labels: dotnet-fsharp/prod

#26009 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#25988 Add SYSLIB0032-SYSLIB0035
  docs/core/compatibility/core-libraries/6.0/obsolete-apis-with-custom-diagnostics.md
  docs/fundamentals/syslib-diagnostics/obsoletions-overview.md
  docs/fundamentals/syslib-diagnostics/syslib0032.md
  docs/fundamentals/syslib-diagnostics/syslib0033.md
  docs/fundamentals/syslib-diagnostics/syslib0034.md
  docs/fundamentals/syslib-diagnostics/syslib0035.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#25842 Add IL2001-IL2060 trimmer warnings
  docs/core/deploying/trim-warnings/il2001.md
  docs/core/deploying/trim-warnings/il2002.md
  docs/core/deploying/trim-warnings/il2003.md
  docs/core/deploying/trim-warnings/il2004.md
  docs/core/deploying/trim-warnings/il2005.md
  docs/core/deploying/trim-warnings/il2007.md
  docs/core/deploying/trim-warnings/il2008.md
  docs/core/deploying/trim-warnings/il2009.md
  docs/core/deploying/trim-warnings/il2010.md
  docs/core/deploying/trim-warnings/il2011.md
  docs/core/deploying/trim-warnings/il2012.md
  docs/core/deploying/trim-warnings/il2013.md
  docs/core/deploying/trim-warnings/il2014.md
  docs/core/deploying/trim-warnings/il2015.md
  docs/core/deploying/trim-warnings/il2016.md
  docs/core/deploying/trim-warnings/il2017.md
  docs/core/deploying/trim-warnings/il2018.md
  docs/core/deploying/trim-warnings/il2019.md
  docs/core/deploying/trim-warnings/il2022.md
  docs/core/deploying/trim-warnings/il2023.md
  docs/core/deploying/trim-warnings/il2024.md
  docs/core/deploying/trim-warnings/il2025.md
  docs/core/deploying/trim-warnings/il2027.md
  docs/core/deploying/trim-warnings/il2028.md
  docs/core/deploying/trim-warnings/il2029.md
  docs/core/deploying/trim-warnings/il2030.md
  docs/core/deploying/trim-warnings/il2031.md
  docs/core/deploying/trim-warnings/il2032.md
  docs/core/deploying/trim-warnings/il2033.md
  docs/core/deploying/trim-warnings/il2034.md
  docs/core/deploying/trim-warnings/il2035.md
  docs/core/deploying/trim-warnings/il2036.md
  docs/core/deploying/trim-warnings/il2037.md
  docs/core/deploying/trim-warnings/il2038.md
  docs/core/deploying/trim-warnings/il2039.md
  docs/core/deploying/trim-warnings/il2040.md
  docs/core/deploying/trim-warnings/il2041.md
  docs/core/deploying/trim-warnings/il2042.md
  docs/core/deploying/trim-warnings/il2043.md
  docs/core/deploying/trim-warnings/il2044.md
  docs/core/deploying/trim-warnings/il2045.md
  docs/core/deploying/trim-warnings/il2046.md
  docs/core/deploying/trim-warnings/il2048.md
  docs/core/deploying/trim-warnings/il2049.md
  docs/core/deploying/trim-warnings/il2050.md
  docs/core/deploying/trim-warnings/il2051.md
  docs/core/deploying/trim-warnings/il2052.md
  docs/core/deploying/trim-warnings/il2053.md
  docs/core/deploying/trim-warnings/il2054.md
  docs/core/deploying/trim-warnings/il2055.md
  docs/core/deploying/trim-warnings/il2056.md
  docs/core/deploying/trim-warnings/il2057.md
  docs/core/deploying/trim-warnings/il2058.md
  docs/core/deploying/trim-warnings/il2059.md
  docs/core/deploying/trim-warnings/il2060.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#26008 remove extra link for NRT
  docs/csharp/toc.yml
Labels: dotnet-csharp/prod

#26014 update to policheck-flagged text
  docs/core/diagnostics/debug-deadlock.md
  docs/core/diagnostics/debug-highcpu.md
  docs/framework/debug-trace-profile/dangerousthreadingapi-mda.md
  docs/framework/migration-guide/runtime/4.6.2-4.8.md
  docs/standard/io/pipelines.md
  includes/migration-guide/retargeting/wpf/wpf-pointer-based-touch-stack.md
  includes/migration-guide/runtime/wpf/fixed-hang-when-listbox-contains-duplicate-value-types.md
  includes/migration-guide/runtime/wpf/item-scrolling-flat-list-with-items-different-pixel-height.md
  includes/migration-guide/runtime/wpf/resizing-grid-can-hang.md
  includes/migration-guide/runtime/wpf/scrolling-wpf-treeview-grouped-listbox-virtualizingstackpanel-can-cause-hang.md
Labels: dotnet-framework/prod, dotnet-appcompat/tech, dotnet-fundamentals/prod

#25911 Document new Roslyn Analyzer Rules for Wilson Token Validation
  docs/fundamentals/code-analysis/quality-rules/ca5404.md
  docs/fundamentals/code-analysis/quality-rules/ca5405.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/security-warnings.md
  docs/fundamentals/toc.yml
Labels: :construction: Hold for related PR, dotnet-fundamentals/prod

#26015 Improve NRT reference
  docs/csharp/language-reference/builtin-types/nullable-reference-types.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#25984 Edit pass and updates for Nullable Analysis attributes
  docs/csharp/language-reference/attributes/nullable-analysis.md
  docs/csharp/language-reference/attributes/snippets/NewPropertyOrFieldAttribute.cs
  docs/csharp/language-reference/attributes/snippets/NullableAttributes.cs
  docs/csharp/nullable-references.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, okr-coverage

#26025 fix compiler errors
  docs/csharp/language-reference/attributes/snippets/NullableAttributes.cs
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#26011 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#25948 Address all issues, and concerns from #25856
  docs/core/extensions/media/profile-settings.png
  docs/core/extensions/snippets/workers/windows-service/App.WindowsService.csproj
  docs/core/extensions/windows-service.md
Labels: dotnet-fundamentals/prod, okr-coverage

#25949 Address Docker volume sharing errors and enablement
  docs/core/docker/includes/volume-share-alert.md
  docs/core/extensions/cloud-service.md
  docs/core/extensions/includes/zoned-file-new-worker.md
Labels: dotnet-fundamentals/prod, dotnet-docker/tech, okr-coverage

#25986 Update table in versioning-sdk-msbuild-vs.md
  docs/core/porting/versioning-sdk-msbuild-vs.md
Labels: dotnet-fundamentals/prod

#26026 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#25979 Add code for set operators, and update existing doc
  docs/csharp/programming-guide/concepts/linq/aggregation-operations.md
  docs/csharp/programming-guide/concepts/linq/element-operations.md
  docs/csharp/programming-guide/concepts/linq/how-to-add-custom-methods-for-linq-queries.md
  docs/csharp/programming-guide/concepts/linq/partitioning-data.md
  docs/csharp/programming-guide/concepts/linq/projection-operations.md
  docs/csharp/programming-guide/concepts/linq/set-operations.md
  docs/csharp/programming-guide/concepts/linq/snippets/Program.cs
  docs/csharp/programming-guide/concepts/linq/snippets/extensions/LinqExtensions.cs
  docs/csharp/programming-guide/concepts/linq/snippets/extensions/Program.cs
  docs/csharp/programming-guide/concepts/linq/snippets/extensions/linq.csproj
  docs/csharp/programming-guide/concepts/linq/snippets/linq-snippets.sln
  docs/csharp/programming-guide/concepts/linq/snippets/partition/Program.cs
  docs/csharp/programming-guide/concepts/linq/snippets/partition/partition.csproj
  docs/csharp/programming-guide/concepts/linq/snippets/projection/Program.ZipResult.cs
  docs/csharp/programming-guide/concepts/linq/snippets/projection/Program.ZipTriple.cs
  docs/csharp/programming-guide/concepts/linq/snippets/projection/Program.ZipTuple.cs
  docs/csharp/programming-guide/concepts/linq/snippets/projection/Program.cs
  docs/csharp/programming-guide/concepts/linq/snippets/projection/projection.csproj
  docs/csharp/programming-guide/concepts/linq/snippets/set-operators/Planet.cs
  docs/csharp/programming-guide/concepts/linq/snippets/set-operators/PlanetType.cs
  docs/csharp/programming-guide/concepts/linq/snippets/set-operators/Program.DistinctBy.cs
  docs/csharp/programming-guide/concepts/linq/snippets/set-operators/Program.ExceptBy.cs
  docs/csharp/programming-guide/concepts/linq/snippets/set-operators/Program.IntersectBy.cs
  docs/csharp/programming-guide/concepts/linq/snippets/set-operators/Program.UnionBy.cs
  docs/csharp/programming-guide/concepts/linq/snippets/set-operators/Program.cs
  docs/csharp/programming-guide/concepts/linq/snippets/set-operators/set-operators.csproj
Labels: dotnet-csharp/prod, csharp-linq/tech, okr-coverage

#26042 Remove unnecessary mentions of term "linking" in relation to the ILLink tool
  docs/core/compatibility/interop/5.0/built-in-support-for-winrt-removed.md
  docs/core/deploying/trimming-options.md
  docs/core/whats-new/dotnet-core-3-0.md
Labels: dotnet-fundamentals/prod

#26029 Update usings for programming guide
  .openpublishing.redirection.json
  docs/csharp/how-to/index.md
  docs/csharp/language-reference/keywords/snippets/Namespaces3.cs
  docs/csharp/language-reference/keywords/snippets/keywords.csproj
  docs/csharp/language-reference/keywords/using-directive.md
  docs/csharp/language-reference/operators/namespace-alias-qualifier.md
  docs/csharp/programming-guide/namespaces/how-to-use-the-my-namespace.md
  docs/csharp/programming-guide/namespaces/using-namespaces.md
  docs/csharp/toc.yml
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuide/CS/csProgGuide.csproj
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuide/CS/progGuide.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuide/CS/using.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideNamespaces/CS/Namespaces.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideNamespaces/CS/Namespaces.csproj
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideNamespaces/CS/Namespaces2.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideNamespaces/CS/Namespaces3.cs
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#26013 Static virtual interface methods
  docs/core/compatibility/6.0.md
  docs/core/compatibility/core-libraries/6.0/static-abstract-interface-methods.md
  docs/core/compatibility/toc.yml
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/prod

#26049 Hide cache options
  docs/core/tools/dotnet-workload-install.md
  docs/core/tools/dotnet-workload-restore.md
  docs/core/tools/dotnet-workload-update.md
  includes/cli-download-to-cache.md
  includes/cli-from-cache.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#25951 .NET 6 update
  docs/core/tutorials/debugging-with-visual-studio.md
  docs/core/tutorials/library-with-visual-studio.md
  docs/core/tutorials/media/debugging-with-visual-studio/breakpoint-hit-net6.png
  docs/core/tutorials/media/debugging-with-visual-studio/breakpoint-settings-net6.png
  docs/core/tutorials/media/debugging-with-visual-studio/console-window.png
  docs/core/tutorials/media/debugging-with-visual-studio/set-breakpoint-in-editor-net6.png
  docs/core/tutorials/media/debugging-with-visual-studio/step-into-method-net6.png
  docs/core/tutorials/media/debugging-with-visual-studio/step-into-source-method-net6.png
  docs/core/tutorials/media/library-with-visual-studio/run-showcase-net6.png
  docs/core/tutorials/media/library-with-visual-studio/vb/library-project-properties-net6.png
  docs/core/tutorials/media/library-with-visual-studio/vb/run-showcase-net6.png
  docs/core/tutorials/media/publishing-with-visual-studio/publish-page-loc-tab-net6.png
  docs/core/tutorials/media/publishing-with-visual-studio/publish-page-net6.png
  docs/core/tutorials/media/publishing-with-visual-studio/published-files-output-net6.png
  docs/core/tutorials/media/with-visual-studio/hello-world-console-net6.png
  docs/core/tutorials/media/with-visual-studio/hello-world-update-net6.png
  docs/core/tutorials/media/with-visual-studio/start-window-2022.png
  docs/core/tutorials/publishing-with-visual-studio.md
  docs/core/tutorials/snippets/library-with-visual-studio-6-0/csharp/ShowCase/Program.cs
  docs/core/tutorials/snippets/library-with-visual-studio-6-0/csharp/ShowCase/ShowCase.csproj
  docs/core/tutorials/snippets/library-with-visual-studio-6-0/csharp/StringLibrary/Class1.cs
  docs/core/tutorials/snippets/library-with-visual-studio-6-0/csharp/StringLibrary/StringLibrary.csproj
  docs/core/tutorials/snippets/library-with-visual-studio-6-0/csharp/StringLibraryTest/StringLibraryTest.csproj
  docs/core/tutorials/snippets/library-with-visual-studio-6-0/csharp/StringLibraryTest/UnitTest1.cs
  docs/core/tutorials/testing-library-with-visual-studio.md
  docs/core/tutorials/with-visual-studio.md
Labels: dotnet-fundamentals/prod

#26043 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#26062 Fix typo in the namespace.md
  docs/csharp/language-reference/keywords/namespace.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#26055 Remove overkill bulled list
  docs/fsharp/language-reference/symbol-and-operator-reference/index.md
Labels: dotnet-fsharp/prod

#26051 Source gen overloads breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/core-libraries/6.0/jsonserializer-source-generator-overloads.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#26041 Clarify/fix some threading docs
  docs/core/run-time-config/threading.md
  docs/csharp/language-reference/keywords/volatile.md
  docs/framework/performance/lazy-initialization.md
Labels: dotnet-framework/prod, dotnet-csharp/prod, csharp-language-reference/tech, dotnet-fundamentals/prod

#26082 ⎮26069⎮ finalizer instead of destructor
  docs/csharp/misc/cs0245.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech

#26080 Update Deploy a Worker Service to Azure article
  docs/core/extensions/cloud-service.md
  docs/core/extensions/includes/zoned-build-app.md
Labels: dotnet-fundamentals/prod

#26087 Revert edit on compiler message
  docs/csharp/misc/cs0245.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech

#26077 Fix IDE0079 category
  docs/fundamentals/code-analysis/style-rules/ide0079.md
Labels: dotnet-fundamentals/prod

#26081 `F#\Generic\Constraints` page refers to itself
  docs/fsharp/language-reference/generics/constraints.md
Labels: dotnet-fsharp/prod

#26037 C# 10 reference update: Add the parameterless constructor section to the struct reference
  docs/csharp/language-reference/builtin-types/snippets/shared/StructType.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/builtin-types.csproj
  docs/csharp/language-reference/builtin-types/struct.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#25912 Razor pages logging IDs
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/razor-pages-logging-ids.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#26090 Update ca5398.md
  docs/fundamentals/code-analysis/quality-rules/ca5398.md
Labels: dotnet-fundamentals/prod

#26084 ⎮26065⎮ finalizer instead of destructor
  docs/csharp/language-reference/compiler-messages/cs0465.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech

#26085 ⎮26064⎮ finalizer instead of destructor
  docs/csharp/misc/cs0249.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech

#26086 ⎮26063⎮ finalizer instead of destructor
  docs/csharp/misc/cs0575.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech

#25972 Revise F# formatting guide
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod

#25709 Document --property option on dotnet run command
  docs/core/tools/dotnet-run.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#26110 Replace relative links
  docs/architecture/grpc-for-wcf-developers/index.md
  docs/architecture/modern-web-apps-azure/develop-asp-net-core-mvc-apps.md
Labels: dotnet-architecture/prod, grpc/tech, modern-web-apps-azure/tech

#26102 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#26097 Quickstart UX study article
  docs/azure/storage/includes/create-storage-acct-1.md
  docs/azure/storage/includes/create-storage-acct-2.md
  docs/azure/storage/includes/create-storage-acct-3.md
  docs/azure/storage/includes/create-storage-acct-4.md
  docs/azure/storage/includes/delete-resource-group-1.md
  docs/azure/storage/includes/delete-resource-group-2.md
  docs/azure/storage/includes/delete-resource-group-3.md
  docs/azure/storage/includes/get-storage-conn-string-1.md
  docs/azure/storage/includes/get-storage-conn-string-2.md
  docs/azure/storage/media/1-azportal-create-storage-account.png
  docs/azure/storage/media/2-azportal-create-storage-account.png
  docs/azure/storage/media/3-azportal-create-storage-account.png
  docs/azure/storage/media/4-azportal-create-storage-account.png
  docs/azure/storage/media/azportal-create-storage-account-1-240px.png
  docs/azure/storage/media/azportal-create-storage-account-1.png
  docs/azure/storage/media/azportal-create-storage-account-2-240px.png
  docs/azure/storage/media/azportal-create-storage-account-2.png
  docs/azure/storage/media/azportal-create-storage-account-3-240px.png
  docs/azure/storage/media/azportal-create-storage-account-3.png
  docs/azure/storage/media/azportal-create-storage-account-4-240px.png
  docs/azure/storage/media/azportal-create-storage-account-4.png
  docs/azure/storage/media/azportal-delete-resource-group-1-240px.png
  docs/azure/storage/media/azportal-delete-resource-group-1.png
  docs/azure/storage/media/azportal-delete-resource-group-2-240px.png
  docs/azure/storage/media/azportal-delete-resource-group-2.png
  docs/azure/storage/media/azportal-delete-resource-group-3-240px.png
  docs/azure/storage/media/azportal-delete-resource-group-3.png
  docs/azure/storage/media/azportal-get-storage-connection-string-1-240px.png
  docs/azure/storage/media/azportal-get-storage-connection-string-1.png
  docs/azure/storage/media/azportal-get-storage-connection-string-2-240px.png
  docs/azure/storage/media/azportal-get-storage-connection-string-2.png
  docs/azure/storage/media/blobs-and-containers-640.png
  docs/azure/storage/media/blobs-and-containers.png
  docs/azure/storage/media/raw-create-a-resource.png
  docs/azure/storage/media/raw-create-storage-account-1.png
  docs/azure/storage/media/raw-create-storage-account-2.png
  docs/azure/storage/media/raw-create-storage-account-3.png
  docs/azure/storage/media/raw-create-storage-account-4.png
  docs/azure/storage/media/raw-delete-resource-group-1.png
  docs/azure/storage/media/raw-delete-resource-group-2.png
  docs/azure/storage/media/raw-delete-resource-group-3.png
  docs/azure/storage/media/raw-get-storage-connection-string-2.png
  docs/azure/storage/media/raw-sample-app-blobs-uploaded.png
  docs/azure/storage/media/raw-sample-app-initial-page.png
  docs/azure/storage/media/raw-sample-app-showing-containers.png
  docs/azure/storage/media/sample-app-blobs-uploaded.png
  docs/azure/storage/media/sample-app-initial-page.png
  docs/azure/storage/media/sample-app-showing-containers.png
  docs/azure/storage/storage-quickstart-blobs-dotnet.md
Labels: dotnet-azure/prod

#26104 Update for Debian 11
  docs/core/install/linux-debian.md
  docs/core/install/linux.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#26145 Add orphans to TOC or combine content
  .openpublishing.redirection.json
  docs/core/extensions/culture-insensitive-string-operations.md
  docs/core/extensions/globalization-and-localization.md
  docs/core/extensions/performing-culture-insensitive-string-operations.md
  docs/fundamentals/toc.yml
  docs/standard/serialization/system-text-json-source-generation.md
Labels: dotnet-fundamentals/prod

#26094 Grammar fix
  docs/fundamentals/code-analysis/quality-rules/ca2208.md
Labels: dotnet-fundamentals/prod

#26144 update to policheck-flagged text
  docs/core/compatibility/core-libraries/6.0/hosting-exception-handling.md
Labels: dotnet-fundamentals/prod

#26143 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#26152 Update with COMWrapper API usage tutorial
  docs/standard/native-interop/cominterop.md
Labels: dotnet-fundamentals/prod

#26150 Replacements
  docs/csharp/language-reference/attributes/caller-information.md
  docs/csharp/misc/cs0574.md
  docs/csharp/misc/cs0711.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech

#26161 Fixed nonsensical phrase: "The can use the null forgiving operator"
  docs/csharp/nullable-references.md
Labels: dotnet-csharp/prod

#26159 Nit: fix typos in expanded LTTng name
  docs/core/diagnostics/trace-perfcollect-lttng.md
Labels: dotnet-fundamentals/prod

#26163 Ux study fixes from test run
  docs/azure/storage/storage-quickstart-blobs-dotnet.md
Labels: dotnet-azure/prod

#26164 Update blazor-long-polling-fallback.md
  docs/core/compatibility/aspnet-core/6.0/blazor-long-polling-fallback.md
Labels: dotnet-fundamentals/prod

#26165 Add note about non-source files
  docs/fundamentals/code-analysis/configuration-files.md
Labels: dotnet-fundamentals/prod

#25965 Fix typo
  docs/standard/io/buffers.md
Labels: dotnet-fundamentals/prod

#25910 Fix suggestions in repo
  docs/azure/sdk/resource-management.md
  docs/core/porting/index.md
Labels: dotnet-fundamentals/prod, dotnet-azure/prod, okr-coverage

#26101 ProgrammingGuideClassesAndStructsFinalizers
  .openpublishing.redirection.json
  docs/csharp/fundamentals/object-oriented/objects.md
  docs/csharp/fundamentals/tutorials/inheritance.md
  docs/csharp/language-reference/builtin-types/struct.md
  docs/csharp/language-reference/keywords/class.md
  docs/csharp/language-reference/operators/bitwise-and-shift-operators.md
  docs/csharp/misc/cs0245.md
  docs/csharp/misc/cs0250.md
  docs/csharp/programming-guide/classes-and-structs/constructors.md
  docs/csharp/programming-guide/classes-and-structs/finalizers.md
  docs/csharp/programming-guide/classes-and-structs/how-to-write-a-copy-constructor.md
  docs/csharp/programming-guide/classes-and-structs/instance-constructors.md
  docs/csharp/programming-guide/classes-and-structs/members.md
  docs/csharp/programming-guide/classes-and-structs/private-constructors.md
  docs/csharp/programming-guide/classes-and-structs/snippets/finalizers/Program.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/finalizers/expr-bodied-finalizer.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/finalizers/finalizers.csproj
  docs/csharp/programming-guide/classes-and-structs/static-constructors.md
  docs/csharp/programming-guide/classes-and-structs/using-constructors.md
  docs/csharp/programming-guide/statements-expressions-operators/expression-bodied-members.md
  docs/csharp/toc.yml
  docs/csharp/tour-of-csharp/program-building-blocks.md
  docs/framework/performance/performance-tips.md
  docs/standard/garbage-collection/implementing-dispose.md
  docs/standard/garbage-collection/unmanaged.md
Labels: dotnet-framework/prod, dotnet-csharp/prod, csharp-fundamentals/tech, csharp-language-reference/tech, csharp-diagnostics/tech, csharp-get-started/tech, dotnet-fundamentals/prod

#25937 First draft of topic for calling http3 from .NET 6
  docs/core/extensions/httpclient-http3.md
  docs/core/extensions/snippets/http/http3/Program.cs
  docs/core/extensions/snippets/http/http3/http3test.csproj
Labels: dotnet-fundamentals/prod

#26170 Add article to TOC
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#26169 Remove outdated VS info
  docs/fundamentals/code-analysis/overview.md
Labels: dotnet-fundamentals/prod

#26162 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#26178 remove coining of "vanity alignment"
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod

#26172 Update editorconfig example
  docs/fundamentals/code-analysis/code-style-rule-options.md
Labels: dotnet-fundamentals/prod

#26078 Pre-C# 8 sample should not use C# 9 feature
  docs/csharp/language-reference/attributes/snippets/NullableAttributes.cs
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#26039 Add documentation about DefaultCharSetAttribute
  docs/standard/native-interop/best-practices.md
  docs/standard/native-interop/charset.md
Labels: dotnet-fundamentals/prod

#26046 Improve guidance on enabling nullable reference types
  .openpublishing.redirection.json
  docs/csharp/language-reference/attributes/nullable-analysis.md
  docs/csharp/nullable-migration-strategies.md
  docs/csharp/nullable-references.md
  docs/csharp/nullable-warnings.md
  docs/csharp/snippets/null-warnings/Context.cs
  docs/csharp/snippets/null-warnings/Hierarchy.cs
  docs/csharp/snippets/null-warnings/NullTests.cs
  docs/csharp/snippets/null-warnings/PersonExamples.cs
  docs/csharp/snippets/null-warnings/Program.cs
  docs/csharp/snippets/null-warnings/null-warnings.csproj
  docs/csharp/toc.yml
  docs/csharp/whats-new/csharp-8.md
  docs/csharp/whats-new/tutorials/nullable-reference-types.md
  docs/csharp/whats-new/tutorials/upgrade-to-nullable-references.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech

#26171 Add SatelliteResourceLanguages property
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/prod

#26180 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#26181 Note that .NET 6 projects are nullable enabled
  docs/csharp/language-reference/builtin-types/nullable-reference-types.md
  docs/csharp/whats-new/tutorials/nullable-reference-types.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-whats-new/tech

#26109 Trim orphaned images
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/media/choosing-azure-compute-options-for-container-based-applications/possible.png
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/media/choosing-azure-compute-options-for-container-based-applications/recommended.png
  docs/core/tutorials/media/library-with-visual-studio/vb/run-showcase-net6.png
  docs/machine-learning/how-to-guides/media/cli-tab-completion.gif
  docs/machine-learning/how-to-guides/media/install-model-builder/vs2017-install-model-builder.png
  docs/machine-learning/how-to-guides/media/install-model-builder/vs2017-open-extensions-manager.png
  docs/machine-learning/how-to-guides/media/install-model-builder/vs2017-uninstall-model-builder.png
  docs/machine-learning/how-to-guides/media/install-model-builder/vs2019-install-model-builder.png
Labels: dotnet-architecture/prod, dotnet-ml/prod, modernize-with-azure-containers/tech, dotnet-fundamentals/prod

#26079 Removes 3.1 version number from the page
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/build-aspnet-core-applications-linux-containers-aks-kubernetes.md
Labels: dotnet-architecture/prod, containerized-lifecycle/tech

#26193 Update formatting.md
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod

#26031 Add binder breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/extensions/6.0/bind-single-elements-to-array.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#26189 Resolves dotnet/docs#26188 -- dotnet sln remove contains wrong argument description
  docs/core/tools/dotnet-sln.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, okr-experience

#26182 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#26198 Linkfix: .NET (2021-09) - 1
  docs/csharp/programming-guide/interfaces/how-to-explicitly-implement-interface-members.md
  docs/csharp/programming-guide/interfaces/how-to-explicitly-implement-members-of-two-interfaces.md
  docs/csharp/programming-guide/statements-expressions-operators/equality-comparisons.md
  docs/csharp/programming-guide/types/casting-and-type-conversions.md
  docs/csharp/programming-guide/types/how-to-convert-a-byte-array-to-an-int.md
  docs/csharp/programming-guide/types/how-to-convert-between-hexadecimal-strings-and-numeric-types.md
  docs/csharp/tour-of-csharp/index.md
  docs/csharp/write-safe-efficient-code.md
  docs/framework/reflection-and-codedom/how-to-create-an-xml-documentation-file-using-codedom.md
  docs/fsharp/index.yml
  docs/fsharp/language-reference/xml-documentation.md
  docs/fundamentals/code-analysis/quality-rules/ca1200.md
Labels: dotnet-framework/prod, dotnet-fsharp/prod, dotnet-csharp/prod, csharp-fundamentals/tech, csharp-get-started/tech, dotnet-fundamentals/prod

#26183 Add .NET GitHub Action reference
  docs/devops/dotnet-github-action-reference.md
  docs/devops/github-actions-overview.md
  docs/fundamentals/code-analysis/overview.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#26204 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#26212 New nullability annotation (breaking change)
  docs/core/compatibility/6.0.md
  docs/core/compatibility/core-libraries/6.0/nullable-ref-type-annotation-changes.md
  docs/core/compatibility/core-libraries/6.0/nullable-ref-type-annotations-added.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#26185 Add markdown code style to boolean value `false`
  docs/csharp/tour-of-csharp/tutorials/hello-world.yml
Labels: dotnet-csharp/prod, csharp-get-started/tech

#26213 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#26192 Implement dispose method fixes
  docs/standard/garbage-collection/implementing-dispose.md
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/Disposable.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/DisposableStreamResource.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/DisposableStreamResource2.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/Foo.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/base1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/base2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/derived1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/derived2.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.disposable/vb/Disposable.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.disposable/vb/DisposableStreamResource.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.disposable/vb/DisposableStreamResource2.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/base1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/base2.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/derived2.vb
Labels: dotnet-fundamentals/prod

#26203 Add breaking change for RID warning
  docs/core/compatibility/6.0.md
  docs/core/compatibility/sdk/6.0/runtimeidentifier-self-contained.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#26223 Update system-text-json-use-dom-utf8jsonreader-utf8jsonwriter.md
  docs/standard/serialization/system-text-json-use-dom-utf8jsonreader-utf8jsonwriter.md
Labels: dotnet-fundamentals/prod

#26222 JSON source gen breaking change
  .openpublishing.redirection.json
  docs/core/compatibility/6.0.md
  docs/core/compatibility/serialization/6.0/json-source-gen-api-refactor.md
  docs/core/compatibility/serialization/6.0/jsonserializer-source-generator-overloads.md
  docs/core/compatibility/toc.yml
  docs/standard/serialization/system-text-json-source-generation.md
Labels: dotnet-fundamentals/prod

#26221 Add method validation breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/tryparse-bindasync-validation.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#26148 Update release docs
  docs/machine-learning/automate-training-with-model-builder.md
  docs/machine-learning/how-to-guides/install-model-builder.md
  docs/machine-learning/how-to-guides/load-data-model-builder.md
  docs/machine-learning/how-to-guides/media/install-model-builder/disable-model-builder-visual-studio-2019.png
  docs/machine-learning/how-to-guides/media/install-model-builder/disable-model-builder-visual-studio-2022.png
  docs/machine-learning/how-to-guides/media/install-model-builder/enable-model-builder-visual-studio-2019.png
  docs/machine-learning/how-to-guides/media/install-model-builder/enable-model-builder-visual-studio-2022.png
  docs/machine-learning/media/model-builder-scenarios.png
  docs/machine-learning/tutorials/health-violation-classification-model-builder.md
  docs/machine-learning/tutorials/object-detection-model-builder.md
  docs/machine-learning/tutorials/predict-prices-with-model-builder.md
  docs/machine-learning/tutorials/sentiment-analysis-model-builder.md
Labels: dotnet-ml/prod

#26233 Removed the mention of `DataTestMethod` attribute
  docs/core/testing/snippets/unit-testing-using-mstest/csharp/PrimeService.Tests/PrimeService_IsPrimeShould.cs
  docs/core/testing/unit-testing-with-mstest.md
Labels: dotnet-fundamentals/prod

#26184 Add EncodeOID to unsupported APIs page
  docs/core/compatibility/unsupported-apis.md
Labels: dotnet-fundamentals/prod

#26229 Add specific versions
  docs/fundamentals/syslib-diagnostics/syslib1004.md
Labels: dotnet-fundamentals/prod

#26243 Add GenerateRuntimeConfigurationFiles prop
  docs/core/project-sdk/msbuild-props.md
  docs/core/run-time-config/index.md
Labels: dotnet-fundamentals/prod

#26153 Clarify when ALC's cache is updated during managed assembly load
  docs/core/dependency-loading/loading-managed.md
Labels: dotnet-fundamentals/prod

#26244 Add default thresholds
  docs/fundamentals/code-analysis/quality-rules/ca1506.md
Labels: dotnet-fundamentals/prod

#26250 Microsoft.Design -> Design
  docs/fundamentals/code-analysis/quality-rules/ca1000.md
  docs/fundamentals/code-analysis/quality-rules/ca1001.md
  docs/fundamentals/code-analysis/quality-rules/ca1002.md
  docs/fundamentals/code-analysis/quality-rules/ca1003.md
  docs/fundamentals/code-analysis/quality-rules/ca1005.md
  docs/fundamentals/code-analysis/quality-rules/ca1008.md
  docs/fundamentals/code-analysis/quality-rules/ca1010.md
  docs/fundamentals/code-analysis/quality-rules/ca1012.md
  docs/fundamentals/code-analysis/quality-rules/ca1014.md
  docs/fundamentals/code-analysis/quality-rules/ca1016.md
  docs/fundamentals/code-analysis/quality-rules/ca1017.md
  docs/fundamentals/code-analysis/quality-rules/ca1018.md
  docs/fundamentals/code-analysis/quality-rules/ca1019.md
  docs/fundamentals/code-analysis/quality-rules/ca1021.md
  docs/fundamentals/code-analysis/quality-rules/ca1024.md
  docs/fundamentals/code-analysis/quality-rules/ca1027.md
  docs/fundamentals/code-analysis/quality-rules/ca1028.md
  docs/fundamentals/code-analysis/quality-rules/ca1030.md
  docs/fundamentals/code-analysis/quality-rules/ca1031.md
  docs/fundamentals/code-analysis/quality-rules/ca1032.md
  docs/fundamentals/code-analysis/quality-rules/ca1033.md
  docs/fundamentals/code-analysis/quality-rules/ca1034.md
  docs/fundamentals/code-analysis/quality-rules/ca1036.md
  docs/fundamentals/code-analysis/quality-rules/ca1040.md
  docs/fundamentals/code-analysis/quality-rules/ca1041.md
  docs/fundamentals/code-analysis/quality-rules/ca1043.md
  docs/fundamentals/code-analysis/quality-rules/ca1044.md
  docs/fundamentals/code-analysis/quality-rules/ca1045.md
  docs/fundamentals/code-analysis/quality-rules/ca1046.md
  docs/fundamentals/code-analysis/quality-rules/ca1047.md
  docs/fundamentals/code-analysis/quality-rules/ca1050.md
  docs/fundamentals/code-analysis/quality-rules/ca1051.md
  docs/fundamentals/code-analysis/quality-rules/ca1052.md
  docs/fundamentals/code-analysis/quality-rules/ca1053.md
  docs/fundamentals/code-analysis/quality-rules/ca1054.md
  docs/fundamentals/code-analysis/quality-rules/ca1055.md
  docs/fundamentals/code-analysis/quality-rules/ca1056.md
  docs/fundamentals/code-analysis/quality-rules/ca1058.md
  docs/fundamentals/code-analysis/quality-rules/ca1060.md
  docs/fundamentals/code-analysis/quality-rules/ca1061.md
  docs/fundamentals/code-analysis/quality-rules/ca1062.md
  docs/fundamentals/code-analysis/quality-rules/ca1063.md
  docs/fundamentals/code-analysis/quality-rules/ca1064.md
  docs/fundamentals/code-analysis/quality-rules/ca1065.md
  docs/fundamentals/code-analysis/quality-rules/ca1066.md
  docs/fundamentals/code-analysis/quality-rules/ca1067.md
  docs/fundamentals/code-analysis/quality-rules/ca1068.md
  docs/fundamentals/code-analysis/quality-rules/ca1069.md
  docs/fundamentals/code-analysis/quality-rules/ca1070.md
  docs/fundamentals/code-analysis/quality-rules/ca1200.md
  docs/fundamentals/code-analysis/suppress-warnings.md
Labels: dotnet-fundamentals/prod

#26245 Add OptimizeImplicitlyTriggeredBuild property
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/prod

#26240 Fix repo lint error
  .markdownlint.json
Labels: dotnet-ml/prod

#26238 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#26239 Add missing inline code closure
  docs/csharp/whats-new/tutorials/nullable-reference-types.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech

#26248 Update new top-level template changes
  docs/core/project-sdk/msbuild-props.md
  docs/core/tutorials/top-level-templates.md
Labels: dotnet-fundamentals/prod

#26255 changed Recommend to Recommended in header
  docs/csharp/language-reference/xmldoc/recommended-tags.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#26258 Fix lint issues
  docs/machine-learning/how-to-guides/install-model-builder.md
Labels: dotnet-ml/prod

#26262 Remove ReadFromTSV unused method
  docs/machine-learning/tutorials/image-classification.md
  docs/machine-learning/tutorials/snippets/image-classification/csharp/Program.cs
Labels: dotnet-ml/prod

#26254 Update null-conditional-operators.md
  docs/visual-basic/language-reference/operators/null-conditional-operators.md
Labels: dotnet-visualbasic/prod

#26012 Add doc about resolving trim warnings
  docs/core/deploying/fixing-warnings.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#26149 Docs for CA2252
  docs/core/project-sdk/msbuild-props.md
  docs/fundamentals/code-analysis/quality-rules/ca2252.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/media/ca2252-advanced-1.png
  docs/fundamentals/code-analysis/quality-rules/media/ca2252-advanced-2.png
  docs/fundamentals/code-analysis/quality-rules/media/ca2252-basic.png
  docs/fundamentals/code-analysis/quality-rules/usage-warnings.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#25846 CA1849 Analyzer Documentation
  docs/fundamentals/code-analysis/quality-rules/ca1849.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/performance-warnings.md
  docs/fundamentals/toc.yml
Labels: :construction: Hold for related PR, dotnet-fundamentals/prod

#26259 Update interface-statement.md
  docs/visual-basic/language-reference/statements/interface-statement.md
Labels: dotnet-visualbasic/prod

#26260 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#26271 C# guide: Revise and update the article about instance constructors
  docs/csharp/programming-guide/classes-and-structs/constructors.md
  docs/csharp/programming-guide/classes-and-structs/instance-constructors.md
  docs/csharp/programming-guide/classes-and-structs/snippets/instance-constructors/coords/Program.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/instance-constructors/person/Program.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/instance-constructors/shapes/Program.cs
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#26088 MSBuild breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/sdk/6.0/calling-gettype-property-functions.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#25513 Add nuget prefix to local source example
  docs/fsharp/tools/fsharp-interactive/index.md
Labels: dotnet-fsharp/prod

#26228 Fix inconsistencies in IMetadataAssemblyImport
  docs/framework/unmanaged-api/metadata/imetadataassemblyimport-findassembliesbyname-method.md
  docs/framework/unmanaged-api/metadata/imetadataassemblyimport-interface.md
Labels: dotnet-framework/prod

#26275 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#26290 fix link
  docs/csharp/nullable-warnings.md
Labels: dotnet-csharp/prod

#26282 C# docset: Mention explicit struct parameterless constructor where necessary
  docs/csharp/language-reference/builtin-types/default-values.md
  docs/csharp/language-reference/compiler-messages/cs0304.md
  docs/csharp/language-reference/compiler-messages/cs0310.md
  docs/csharp/methods.md
  docs/csharp/misc/cs0568.md
  docs/csharp/programming-guide/classes-and-structs/using-constructors.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, csharp-language-reference/tech, csharp-diagnostics/tech

#26291 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod
