Repository dotnet/docs, pull requests merged in 2021-05, with the labels that each got.

#23829 Update migrate-modern-applications.md
  docs/architecture/modernize-desktop/migrate-modern-applications.md
Labels: dotnet-architecture/prod

#24013 Update metrics.md
  docs/machine-learning/resources/metrics.md
Labels: dotnet-ml/prod

#24009 Update cs1061.md
  docs/csharp/language-reference/compiler-messages/cs1061.md
Labels: csharp-diagnostics/tech, csharp-language-reference/tech, dotnet-csharp/prod

#24010 Fix link text to classes-and-structs index page
  docs/csharp/language-reference/builtin-types/record.md
  docs/csharp/language-reference/builtin-types/struct.md
  docs/csharp/language-reference/compiler-messages/cs0116.md
  docs/csharp/language-reference/compiler-messages/cs0120.md
  docs/csharp/misc/cs0426.md
  docs/csharp/misc/cs1913.md
  docs/csharp/programming-guide/classes-and-structs/abstract-and-sealed-classes-and-class-members.md
  docs/csharp/programming-guide/classes-and-structs/access-modifiers.md
  docs/csharp/programming-guide/classes-and-structs/constants.md
  docs/csharp/programming-guide/classes-and-structs/constructors.md
  docs/csharp/programming-guide/classes-and-structs/fields.md
  docs/csharp/programming-guide/classes-and-structs/how-to-declare-and-use-read-write-properties.md
  docs/csharp/programming-guide/classes-and-structs/how-to-define-abstract-properties.md
  docs/csharp/programming-guide/classes-and-structs/how-to-define-constants.md
  docs/csharp/programming-guide/classes-and-structs/how-to-override-the-tostring-method.md
  docs/csharp/programming-guide/classes-and-structs/how-to-write-a-copy-constructor.md
  docs/csharp/programming-guide/classes-and-structs/inheritance.md
  docs/csharp/programming-guide/classes-and-structs/instance-constructors.md
  docs/csharp/programming-guide/classes-and-structs/knowing-when-to-use-override-and-new-keywords.md
  docs/csharp/programming-guide/classes-and-structs/methods.md
  docs/csharp/programming-guide/classes-and-structs/nested-types.md
  docs/csharp/programming-guide/classes-and-structs/private-constructors.md
  docs/csharp/programming-guide/classes-and-structs/static-constructors.md
  docs/csharp/programming-guide/classes-and-structs/using-constructors.md
  docs/csharp/programming-guide/classes-and-structs/versioning-with-the-override-and-new-keywords.md
  docs/csharp/programming-guide/index.md
  docs/csharp/programming-guide/interfaces/explicit-interface-implementation.md
  docs/csharp/programming-guide/interfaces/how-to-explicitly-implement-interface-members.md
  docs/csharp/programming-guide/interfaces/how-to-explicitly-implement-members-of-two-interfaces.md
  docs/csharp/programming-guide/interfaces/index.md
  docs/csharp/programming-guide/types/index.md
Labels: csharp-diagnostics/tech, csharp-fundamentals/tech, csharp-language-reference/tech, dotnet-csharp/prod

#23534 Path attribute on <inheritdoc /> with examples
  docs/csharp/programming-guide/xmldoc/inheritdoc.md
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideDocComments/CS/DocComments.cs
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#24008 Fixing a content issue in hello-world.yml
  docs/csharp/tour-of-csharp/tutorials/hello-world.yml
Labels: csharp-get-started/tech, dotnet-csharp/prod

#23996 Update summary text
  docs/csharp/programming-guide/interfaces/index.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#23999 Fix ms.topic for /framework/data/adonet/ef
  docfx.json
  docs/framework/data/adonet/ef/language-reference/add.md
  docs/framework/data/adonet/ef/language-reference/toc.yml
Labels: dotnet-data/tech, dotnet-framework/prod

#24000 Remove SQL Server books online references
  docs/framework/data/adonet/sql/date-and-time-data.md
  docs/framework/data/adonet/sql/enabling-query-notifications.md
  docs/framework/data/adonet/sql/enumerating-instances-of-sql-server.md
  docs/framework/data/adonet/sql/filestream-data.md
  docs/framework/data/adonet/sql/index.md
  docs/framework/data/adonet/sql/introduction-to-sql-server-clr-integration.md
  docs/framework/data/adonet/sql/large-udts.md
  docs/framework/data/adonet/sql/linq/sql-clr-type-mapping.md
  docs/framework/data/adonet/sql/modifying-large-value-max-data.md
  docs/framework/data/adonet/sql/overview-of-sql-server-security.md
  docs/framework/data/adonet/sql/server-and-database-roles-in-sql-server.md
  docs/framework/data/adonet/sql/snapshot-isolation-in-sql-server.md
  docs/framework/data/adonet/sql/sql-server-common-language-runtime-integration.md
  docs/framework/data/adonet/sql/sql-server-data-types.md
  docs/framework/data/adonet/sql/sql-server-express-security.md
  docs/framework/data/adonet/sql/sql-server-features-and-adonet.md
  docs/framework/data/adonet/sql/sql-server-in-process-specific-behavior-of-adonet.md
  docs/framework/data/adonet/sql/sql-server-security.md
  docs/framework/data/adonet/sql/sqlclient-support-for-high-availability-disaster-recovery.md
  docs/framework/data/adonet/sql/the-context-connection.md
  docs/framework/data/adonet/sql/writing-secure-dynamic-sql-in-sql-server.md
  docs/framework/data/adonet/sql/xml-data-in-sql-server.md
  docs/framework/data/adonet/transactions-and-concurrency.md
Labels: dotnet-data/tech, dotnet-framework/prod

#24017 time zone --> time zone offset
  docs/standard/datetime/system-text-json-support.md
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
Labels: dotnet-fundamentals/prod

#23820 Create error page NETSDK1141
  docs/core/tools/sdk-errors/netsdk1141.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#24030 IDataView class -> IDataView interface
  docs/machine-learning/tutorials/github-issue-classification.md
  docs/machine-learning/tutorials/image-classification.md
  docs/machine-learning/tutorials/movie-recommendation.md
  docs/machine-learning/tutorials/phone-calls-anomaly-detection.md
  docs/machine-learning/tutorials/predict-prices.md
  docs/machine-learning/tutorials/sales-anomaly-detection.md
  docs/machine-learning/tutorials/sentiment-analysis.md
Labels: dotnet-ml/prod

#24028 Fix bug, modernize C# and VB, use `HttpClient` rather than `WebClient`.
  docs/standard/parallel-programming/how-to-create-pre-computed-tasks.md
  docs/standard/parallel-programming/snippets/cs/DownloadCache.cs
  docs/standard/parallel-programming/snippets/cs/snippets.csproj
  docs/standard/parallel-programming/snippets/vb/DownloadCache.vb
  docs/standard/parallel-programming/snippets/vb/My Project/launchSettings.json
  docs/standard/parallel-programming/snippets/vb/snippets.vbproj
  docs/standard/parallel-programming/snippets/vb/unwrap.vb
Labels: dotnet-fundamentals/prod

#24026 Removed unneeded comma
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/DeserializeCaseInsensitive.cs
Labels: dotnet-fundamentals/prod

#24031 Retire .NET API analyzer content as it is deprecated
  .openpublishing.redirection.json
  docs/core/compatibility/code-analysis/5.0/ca1416-platform-compatibility-analyzer.md
  docs/core/porting/index.md
  docs/core/porting/windows-compat-pack.md
  docs/csharp/tutorials/console-webapiclient.md
  docs/fsharp/style-guide/formatting.md
  docs/fundamentals/code-analysis/quality-rules/ca1841.md
  docs/fundamentals/toc.yml
  docs/standard/analyzers/api-analyzer.md
  docs/standard/analyzers/platform-compat-analyzer.md
  docs/standard/analyzers/portability-analyzer.md
  docs/standard/async-in-depth.md
  docs/standard/library-guidance/cross-platform-targeting.md
  docs/visual-basic/language-reference/directives/disable-enable.md
Labels: csharp-fundamentals/tech, dotnet-analyzers/tech, dotnet-csharp/prod, dotnet-fsharp/prod, dotnet-fundamentals/prod, dotnet-visualbasic/prod

#24038 Rename to Main
  docs/standard/parallel-programming/snippets/vb/asyncculture1.vb
  docs/standard/parallel-programming/snippets/vb/snippets.vbproj
  docs/standard/parallel-programming/snippets/vb/unwrap.vb
Labels: dotnet-fundamentals/prod

#23871 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#23866 Add docs about changes between 3.x and 5.0
  docs/core/deploying/single-file.md
Labels: dotnet-fundamentals/prod

#24023 Add update info for deb linux
  docs/core/install/linux-debian.md
  docs/core/install/linux-ubuntu.md
Labels: dotnet-fundamentals/prod, dotnet-install/tech, dotnet/prod

#24046 move csAsyncExceptions samples
  docs/csharp/language-reference/keywords/snippets/AsyncExceptionExamples.cs
  docs/csharp/language-reference/keywords/snippets/Program.cs
  docs/csharp/language-reference/keywords/snippets/RefKeywordsExceptions.cs
  docs/csharp/language-reference/keywords/try-catch-finally.md
  docs/csharp/language-reference/keywords/try-catch.md
  docs/csharp/language-reference/keywords/try-finally.md
  docs/visual-basic/language-reference/statements/snippets/try-catch-finally-statement/vb/AsyncExceptionExamples.vb
  docs/visual-basic/language-reference/statements/snippets/try-catch-finally-statement/vb/Program.vb
  docs/visual-basic/language-reference/statements/snippets/try-catch-finally-statement/vb/vb.vbproj
  docs/visual-basic/language-reference/statements/try-catch-finally-statement.md
  samples/snippets/csharp/VS_Snippets_VBCSharp/csrefKeywordsExceptions/CS/csrefKeywordsExceptions.cs
Labels: csharp-language-reference/tech, dotnet-csharp/prod, dotnet-visualbasic/prod

#21618 Add dotnet-stack docs
  docs/core/diagnostics/dotnet-stack.md
  docs/core/diagnostics/index.md
  docs/fundamentals/toc.yml
Labels: dotnet-core/prod

#24040 Add details about file system polling option as an alert
  docs/core/extensions/options.md
Labels: dotnet-fundamentals/prod

#24034 Match description with code snippet
  docs/standard/asynchronous-programming-patterns/component-that-supports-the-event-based-asynchronous-pattern.md
Labels: dotnet-fundamentals/prod

#24053 Removed solution option
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/visual-studio-tools-for-docker.md
Labels: containerized-lifecycle/tech, dotnet-architecture/prod

#24054 Added naming convention details for C# code
  docs/csharp/programming-guide/inside-a-program/coding-conventions.md
Labels: csharp-get-started/tech, dotnet-csharp/prod

#24055 Code clean up
  docs/csharp/programming-guide/inside-a-program/coding-conventions.md
Labels: csharp-get-started/tech, dotnet-csharp/prod

#24047 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24014 Fix image
  docs/architecture/dapr-for-net-developers/media/dapr-at-20000-feet/building-blocks.png
Labels: dotnet-architecture/prod

#23726 fix(code-samples): visible non-constant fields
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/enumeration-classes-over-enum-types.md
Labels: dotnet-architecture/prod, microservices/tech

#24058 Fixed the image - better UX for dark theme now
  docs/azure/intro.md
  docs/azure/media/azure-sdk-for-dotnet-overview.png
Labels: dotnet-azure/prod

#24066 Display the entire Program.cs file, and just highlight the registration
  docs/core/extensions/custom-logging-provider.md
Labels: dotnet-fundamentals/prod

#24059 Update .NET glossary
  docs/standard/glossary.md
Labels: dotnet-fundamentals/prod

#24073 Typo: ar -> are
  docs/fundamentals/code-analysis/quality-rules/ca5386.md
Labels: dotnet-fundamentals/prod

#24043 Fix xref link
  docs/core/tutorials/with-visual-studio.md
Labels: dotnet-fundamentals/prod

#24071 ms.topic updates
  docfx.json
  docs/framework/network-programming/accessing-the-internet-through-a-proxy.md
  docs/framework/network-programming/basic-and-digest-authentication.md
  docs/framework/network-programming/configuring-internet-applications.md
  docs/framework/network-programming/enabling-and-disabling-ipv6.md
  docs/framework/network-programming/enabling-network-tracing.md
  docs/framework/network-programming/handling-errors.md
  docs/framework/network-programming/listening-with-sockets.md
  docs/framework/network-programming/understanding-webrequest-problems-and-exceptions.md
  docs/framework/network-programming/using-a-synchronous-client-socket.md
  docs/framework/network-programming/using-a-synchronous-server-socket.md
  docs/framework/network-programming/using-an-asynchronous-client-socket.md
  docs/framework/network-programming/using-an-asynchronous-server-socket.md
  docs/framework/network-programming/using-client-sockets.md
  docs/framework/network-programming/using-tcp-services.md
  docs/framework/network-programming/using-udp-services.md
  docs/framework/performance/application-domain-resource-monitoring-arm-etw-events.md
  docs/framework/performance/clr-etw-keywords-and-levels.md
  docs/framework/performance/clr-etw-providers.md
  docs/framework/performance/contention-etw-events.md
  docs/framework/performance/etw-events-in-task-parallel-library-and-plinq.md
  docs/framework/performance/exception-thrown-v1-etw-event.md
  docs/framework/performance/garbage-collection-etw-events.md
  docs/framework/performance/interop-etw-events.md
  docs/framework/performance/jit-tracing-etw-events.md
  docs/framework/performance/loader-etw-events.md
  docs/framework/performance/method-etw-events.md
  docs/framework/performance/runtime-information-etw-events.md
  docs/framework/performance/security-etw-events.md
  docs/framework/performance/stack-etw-event.md
  docs/framework/performance/thread-pool-etw-events.md
  docs/framework/reflection-and-codedom/walkthrough-emitting-code-in-partial-trust-scenarios.md
  docs/framework/ui-automation/access-embedded-objects-using-ui-automation.md
  docs/framework/ui-automation/add-content-to-a-text-box-using-ui-automation.md
  docs/framework/ui-automation/enable-navigation-in-a-ui-automation-fragment-provider.md
  docs/framework/ui-automation/expose-a-server-side-ui-automation-provider.md
  docs/framework/ui-automation/expose-the-content-of-a-table-using-ui-automation.md
  docs/framework/ui-automation/find-a-ui-automation-element-based-on-a-property-condition.md
  docs/framework/ui-automation/find-a-ui-automation-element-for-a-list-item.md
  docs/framework/ui-automation/find-and-highlight-text-using-ui-automation.md
  docs/framework/ui-automation/get-supported-ui-automation-control-patterns.md
  docs/framework/ui-automation/get-the-toggle-state-of-a-check-box-using-ui-automation.md
  docs/framework/ui-automation/get-ui-automation-element-properties.md
  docs/framework/ui-automation/implement-ui-automation-providers-in-a-client-application.md
  docs/framework/ui-automation/invoke-a-control-using-ui-automation.md
  docs/framework/ui-automation/move-a-ui-automation-element.md
  docs/framework/ui-automation/navigate-among-ui-automation-elements-with-treewalker.md
  docs/framework/ui-automation/obtain-mixed-text-attribute-details-using-ui-automation.md
  docs/framework/ui-automation/obtain-text-attributes-using-ui-automation.md
  docs/framework/ui-automation/obtaining-ui-automation-elements.md
  docs/framework/ui-automation/raise-events-from-a-ui-automation-provider.md
  docs/framework/ui-automation/register-a-client-side-provider-assembly.md
  docs/framework/ui-automation/return-properties-from-a-ui-automation-provider.md
  docs/framework/ui-automation/server-side-ui-automation-provider-implementation.md
  docs/framework/ui-automation/subscribe-to-ui-automation-events.md
  docs/framework/ui-automation/support-control-patterns-in-a-ui-automation-provider.md
  docs/framework/ui-automation/traverse-text-using-ui-automation.md
  docs/framework/ui-automation/use-caching-in-ui-automation.md
  docs/framework/ui-automation/use-the-automationid-property.md
Labels: dotnet-framework/prod, dotnet-networking/tech

#24072 Fix typo
  docs/spark/what-is-spark.md
Labels: dotnet-spark/prod

#24069 Link to solution folder documentation
  docs/core/tools/dotnet-sln.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#23427 Clarify which object are not properly disposed
  docs/standard/garbage-collection/implementing-disposeasync.md
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.asyncdisposable/stacked-await-usings.cs
Labels: dotnet-fundamentals/prod

#24088 Fix note for passing properties to dotnet build
  docs/core/tools/dotnet-build.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#24085 Update tour.md for Code Sample Line Numbers
  docs/fsharp/tour.md
Labels: dotnet-fsharp/prod

#24061 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24087 Document that SOS dumpheap -min and -max must be in hex values
  docs/framework/tools/sos-dll-sos-debugging-extension.md
Labels: dotnet-framework/prod

#24082 Two ASP.NET Core breaking changes
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/microsoft-aspnetcore-http-features-package-split.md
  docs/core/compatibility/aspnet-core/6.0/middleware-new-use-overload.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#23697 Add method naming rule
  docs/fundamentals/code-analysis/style-rules/naming-rules.md
Labels: dotnet-fundamentals/prod

#24108 Fix typo
  docs/csharp/language-reference/operators/snippets/shared/ConditionalOperator.cs
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#24115 Address #CA1816 warning in implement `DisposeAsync` article
  docs/standard/garbage-collection/implementing-disposeasync.md
  docs/standard/garbage-collection/snippets/dispose-async/AnotherAsyncDisposable.cs
  docs/standard/garbage-collection/snippets/dispose-async/ExampleAsyncDisposable.cs
  docs/standard/garbage-collection/snippets/dispose-async/ExampleConfigureAwaitProgram.cs
  docs/standard/garbage-collection/snippets/dispose-async/ExampleConjunctiveDisposable.cs
  docs/standard/garbage-collection/snippets/dispose-async/ExamplePatterns.cs
  docs/standard/garbage-collection/snippets/dispose-async/ExampleUsingDeclarationProgram.cs
  docs/standard/garbage-collection/snippets/dispose-async/ExampleUsingStatementProgram.cs
  docs/standard/garbage-collection/snippets/dispose-async/dispose-async.csproj
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.asyncdisposable/dispose-and-disposeasync.cs
Labels: dotnet-fundamentals/prod

#24113 Fix table
  docs/framework/reflection-and-codedom/specifying-fully-qualified-type-names.md
Labels: dotnet-framework/prod

#24096 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24127 Update glossary.md
  docs/standard/glossary.md
Labels: dotnet-fundamentals/prod

#24056 Add note about default implementations
  docs/core/compatibility/index.md
Labels: dotnet-fundamentals/prod

#24131 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24136 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24001 Clarify usage of notnull generic constraint
  docs/csharp/language-reference/keywords/where-generic-type-constraint.md
  docs/csharp/nullable-migration-strategies.md
  docs/csharp/programming-guide/generics/constraints-on-type-parameters.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#24128 DownloadStringAsync --> DownloadStringTaskAsync
  docs/standard/asynchronous-programming-patterns/consuming-the-task-based-asynchronous-pattern.md
Labels: dotnet-fundamentals/prod

#24135 Update Windows 10 Update versions to be current
  docs/framework/deployment/deployment-guide-for-developers.md
  docs/framework/get-started/index.md
  docs/framework/get-started/system-requirements.md
  docs/framework/install/application-not-started.md
  docs/framework/install/guide-for-developers.md
  docs/framework/install/on-windows-10.md
  docs/framework/install/on-windows-7.md
  docs/framework/install/on-windows-8-1.md
  docs/framework/install/on-windows-8.md
  docs/framework/install/on-windows-vista.md
  docs/framework/install/on-windows-xp.md
  docs/framework/migration-guide/versions-and-dependencies.md
Labels: dotnet-appcompat/tech, dotnet-framework/prod, dotnet-install/tech

#24204 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24203 Updated version scisharp redist
  docs/machine-learning/tutorials/image-classification-api-transfer-learning.md
Labels: dotnet-ml/prod

#24134 Document IsPublishable
  docs/core/project-sdk/msbuild-props.md
  docs/core/tools/dotnet-publish.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#24117 Add missing options
  docs/core/tools/dotnet-tool-install.md
  docs/core/tools/dotnet-tool-update.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#24205 Regex fix
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/CustomConverterUnixEpochDate.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/CustomConverterUnixEpochDateNoZone.cs
Labels: dotnet-fundamentals/prod

#24207 Fix typo
  docs/standard/datetime/performing-arithmetic-operations.md
Labels: dotnet-fundamentals/prod

#24210 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24215 Link to more detail about breaking changes
  docs/standard/library-guidance/breaking-changes.md
Labels: dotnet-fundamentals/prod

#24217 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24221 Removed extra space and fixed grammar mistake
  docs/architecture/dapr-for-net-developers/dapr-at-20000-feet.md
Labels: dotnet-architecture/prod

#24219 Add missing null-conditional operator
  docs/standard/garbage-collection/snippets/dispose-async/ExampleConjunctiveDisposable.cs
Labels: dotnet-fundamentals/prod

#24216 Add see also link to library guidelines
  docs/core/compatibility/index.md
Labels: dotnet-fundamentals/prod

#24110 Fix wrong detected method
  docs/fundamentals/code-analysis/quality-rules/ca1835.md
Labels: dotnet-fundamentals/prod

#24218 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24079 Links: .NET (2021
  docs/architecture/porting-existing-aspnet-apps/middleware-modules-handlers.md
  docs/architecture/porting-existing-aspnet-apps/migration-considerations.md
  docs/architecture/porting-existing-aspnet-apps/more-migration-scenarios.md
  docs/core/dependency-loading/collect-details.md
  docs/core/deploying/prepare-libraries-for-trimming.md
  docs/core/diagnostics/distributed-tracing-collection-walkthroughs.md
  docs/core/diagnostics/distributed-tracing-concepts.md
  docs/core/diagnostics/distributed-tracing-instrumentation-walkthroughs.md
  docs/core/diagnostics/distributed-tracing.md
  docs/core/introduction.md
  docs/csharp/index.yml
  docs/framework/data/adonet/dataset-datatable-dataview/security-guidance.md
  docs/framework/development-guide.md
  docs/framework/whats-new/index.md
  docs/spark/tutorials/databricks-deployment.md
  includes/code-analysis/binaryformatter.md
  includes/code-analysis/fix-binaryformatter-serializationbinder.md
Labels: dotnet-architecture/prod, dotnet-csharp/prod, dotnet-data/tech, dotnet-framework/prod, dotnet-fundamentals/prod, dotnet-spark/prod

#24226 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#24227 remove C# walkthroughs
  .openpublishing.redirection.json
  docs/csharp/toc.yml
  docs/csharp/walkthroughs.md
Labels: dotnet-csharp/prod

#24230 Update ms.topic for framework/wcf and framework/whats-new
  docfx.json
  docs/framework/wcf/extending/specifying-a-custom-crypto-algorithm.md
  docs/framework/wcf/extending/walkthrough-creating-custom-client-and-service-credentials.md
  docs/framework/wcf/extending/ws-metadataexchange-bindings.md
  docs/framework/wcf/feature-details/client-configuration.md
  docs/framework/wcf/feature-details/config-wcf-service-with-aspnet-web-service.md
  docs/framework/wcf/feature-details/configuring-discovery-in-a-configuration-file.md
  docs/framework/wcf/feature-details/configuring-http-and-https.md
  docs/framework/wcf/feature-details/configuring-iis-for-wcf.md
  docs/framework/wcf/feature-details/configuring-serialization-in-a-workflow-service.md
  docs/framework/wcf/feature-details/configuring-system-provided-bindings.md
  docs/framework/wcf/feature-details/configuring-the-net-tcp-port-sharing-service.md
  docs/framework/wcf/feature-details/configuring-the-wpa--service-for-use-with-wcf.md
  docs/framework/wcf/feature-details/configuring-timeout-values-on-a-binding.md
  docs/framework/wcf/feature-details/configuring-workflowservicehost.md
  docs/framework/wcf/feature-details/configuring-ws-atomic-transaction-support.md
  docs/framework/wcf/feature-details/create-an-ajax-wcf-asp-net-client.md
  docs/framework/wcf/feature-details/data-contract-schema-reference.md
  docs/framework/wcf/feature-details/using-a-custom-binding-with-the-discovery-client-channel.md
  docs/framework/wcf/find-private-key-tool-findprivatekey-exe.md
  docs/framework/wcf/generating-data-type-classes-from-xml.md
  docs/framework/wcf/glossary.md
  docs/framework/wcf/interpreting-error-codes-returned-by-wsatconfig-exe.md
  docs/framework/wcf/renaming-a-wcf-service.md
  docs/framework/wcf/service-trace-viewer-tool-svctraceviewer-exe.md
  docs/framework/wcf/servicemodel-metadata-utility-tool-svcutil-exe.md
  docs/framework/wcf/servicemodelreg-exe.md
  docs/framework/wcf/simplified-configuration.md
  docs/framework/wcf/specifying-and-handling-faults-in-contracts-and-services.md
  docs/framework/wcf/system-provided-bindings.md
  docs/framework/wcf/tools.md
  docs/framework/wcf/wcf-service-host-wcfsvchost-exe.md
  docs/framework/wcf/workflow-service-registration-tool-wfservicesreg-exe.md
  docs/framework/wcf/ws-atomictransaction-configuration-utility-wsatconfig-exe.md
Labels: dotnet-framework/prod, dotnet-wcf/tech

#24234 Fix inaccurate information for optional parameters
  docs/csharp/methods.md
Labels: dotnet-csharp/prod

#24235 Update region-directive.md
  docs/visual-basic/language-reference/directives/region-directive.md
Labels: dotnet-visualbasic/prod

#24237 Post merge review and customer feedback
  docs/csharp/programming-guide/inside-a-program/coding-conventions.md
Labels: csharp-get-started/tech, dotnet-csharp/prod

#24232 Acrolinx 5/13
  docs/standard/datetime/performing-arithmetic-operations.md
Labels: dotnet-fundamentals/prod

#24224 Minor updates based on inconsistency
  docs/azure/index.yml
Labels: dotnet-azure/prod

#24239 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24236 Update enumeration-classes-over-enum-types.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/enumeration-classes-over-enum-types.md
Labels: dotnet-architecture/prod, microservices/tech

#24255 fix next steps link in distributed tracing concepts doc
  docs/core/diagnostics/distributed-tracing-concepts.md
Labels: dotnet-fundamentals/prod

#24206 Add a doc to help troubleshoot package mixups
  docs/core/install/linux-centos.md
  docs/core/install/linux-fedora.md
  docs/core/install/linux-package-mixup.md
  docs/core/install/linux-rhel.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod, dotnet-install/tech, dotnet/prod

#24245 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24263 Acrolinx 5/17
  docs/core/diagnostics/distributed-tracing-collection-walkthroughs.md
  docs/core/diagnostics/distributed-tracing-concepts.md
  docs/core/diagnostics/distributed-tracing-instrumentation-walkthroughs.md
  docs/core/diagnostics/distributed-tracing.md
Labels: dotnet-fundamentals/prod

#24264 MVC buffering breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/iasyncenumerable-not-buffered-by-mvc.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#24057 Doc for logging generator
  docs/core/extensions/logger-message-generator.md
  docs/fundamentals/toc.yml
Labels: :checkered_flag: Release .NET 6, DO NOT MERGE, blocked, dotnet-fundamentals/prod

#24260 Corrected a grammar issue
  docs/csharp/programming-guide/main-and-command-args/index.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#24269 Update cryptography-model.md
  docs/standard/security/cryptography-model.md
Labels: dotnet-fundamentals/prod, dotnet-security/tech, dotnet/prod

#24266 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#24130 Acrolinx 5/11
  docs/architecture/microservices/multi-container-microservice-net-applications/implement-api-gateways-with-ocelot.md
  docs/fsharp/tour.md
Labels: dotnet-architecture/prod, dotnet-fsharp/prod, microservices/tech

#24209 Add Azure SDK DI doc
  docs/azure/TOC.yml
  docs/azure/dependency-injection.md
Labels: dotnet-azure/prod

#24265 Fix up headings in distributed tracing
  docs/core/diagnostics/distributed-tracing-collection-walkthroughs.md
  docs/core/diagnostics/distributed-tracing-concepts.md
  docs/core/diagnostics/distributed-tracing-instrumentation-walkthroughs.md
Labels: dotnet-fundamentals/prod

#24273 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24271 Update logger-message-generator.md
  docs/core/extensions/logger-message-generator.md
Labels: dotnet-fundamentals/prod

#24256 Provide "Marshaling data" main article with explanation of how to call native code in C#
  docs/framework/interop/marshaling-data-with-platform-invoke.md
Labels: dotnet-framework/prod

#24270 CA1845
  docs/fundamentals/code-analysis/quality-rules/ca1845.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/performance-warnings.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#24280 Repo cleanup May 2021
  docs/architecture/containerized-lifecycle/media/devops-book-cover-large-we-old.png
  docs/azure/dependency-injection.md
  docs/core/compatibility/core-libraries/5.0/obsolete-apis-with-custom-diagnostics.md
  docs/core/compatibility/core-libraries/6.0/obsolete-apis-with-custom-diagnostics.md
  docs/core/install/includes/linux-install-20-dnf.md
  docs/core/install/includes/linux-install-21-dnf.md
  docs/core/install/includes/linux-install-21-yum.md
  docs/core/install/includes/linux-install-30-dnf.md
  docs/core/install/includes/linux-install-31-yum.md
  docs/core/install/includes/linux-install-31-zyp.md
  docs/core/install/includes/linux-install-snap.md
  docs/core/install/includes/linux-not-supported-fedora.md
  docs/csharp/language-reference/keywords/switch.md
  docs/csharp/tour-of-csharp/features.md
  docs/csharp/whats-new/csharp-7.md
  docs/csharp/whats-new/tutorials/mixins-with-default-interface-methods.md
  docs/fundamentals/code-analysis/style-rules/ide0019.md
  docs/fundamentals/code-analysis/style-rules/ide0020-ide0038.md
  docs/fundamentals/code-analysis/style-rules/pattern-matching-preferences.md
  docs/fundamentals/toc.yml
  docs/machine-learning/tutorials/media/movie-recommendation/data-estimator-transformer.png
  docs/machine-learning/tutorials/media/movie-recommendation/data-transformer-transformed.png
  docs/machine-learning/tutorials/media/object-detection-model-builder/vott-add-tag.png
  docs/standard/analyzers/media/api-analyzer/disable-notifications.jpg
  docs/standard/analyzers/media/api-analyzer/green-squiggle.jpg
  docs/standard/analyzers/media/api-analyzer/suppress-in-source.jpg
  docs/standard/analyzers/media/api-analyzer/suppress-in-sup-file.jpg
  docs/standard/analyzers/media/api-analyzer/suppression-file.jpg
  docs/standard/analyzers/media/api-analyzer/warnings-id-and-descriptions.jpg
  docs/whats-new/2020-11.md
  docs/whats-new/2021-04.md
  includes/desktop-guide-preview-note.md
  includes/net-current-v30plus-md.md
  includes/tla2sharptla-xaml-md.md
  includes/tlasharptla-xaml-md.md
  includes/topic-appliesto-net-core-21plus.md
  includes/topic-appliesto-net-core-22plus.md
  includes/topic-appliesto-net-core-2plus.md
Labels: containerized-lifecycle/tech, csharp-get-started/tech, csharp-language-reference/tech, csharp-whats-new/tech, dotnet-analyzers/tech, dotnet-architecture/prod, dotnet-azure/prod, dotnet-csharp/prod, dotnet-fundamentals/prod, dotnet-install/tech, dotnet-ml/prod, dotnet/prod

#24277 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24274 Fix typo in linux-package-mixup
  docs/core/install/linux-package-mixup.md
Labels: dotnet-fundamentals/prod, dotnet-install/tech, dotnet/prod

#24106 Adding "see also" with link to dotnet cli repo
  docs/core/tools/dotnet-sln.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#24259 Added alert regarding the responsibility of the `GC` as it relates to implementations of `IDisposable`
  docs/standard/garbage-collection/implementing-dispose.md
  docs/standard/garbage-collection/using-objects.md
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/Bar.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/Disposable.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/DisposableStreamResource.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/DisposableStreamResource2.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/Foo.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/SingleStatementMultiple.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/TryExplicitCatchFinally.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/TryFinallyGenerated.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/UsingDeclaration.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/UsingStatement.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/derived1.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/dispose1.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/using.csproj
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/using1.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.disposable/cs/using2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/Program.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/base1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/base2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/calling1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/calling2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/derived1.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/derived2.cs
  samples/snippets/csharp/VS_Snippets_CLR_System/system.idisposable/cs/project.csproj
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.disposable/vb/Bar.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.disposable/vb/Disposable.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.disposable/vb/DisposableStreamResource.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.disposable/vb/DisposableStreamResource2.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.disposable/vb/Foo.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.disposable/vb/TryExplicitCatchFinally.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.disposable/vb/TryFinallyGenerated.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.disposable/vb/UsingStatement.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.disposable/vb/derived1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.disposable/vb/dispose1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.disposable/vb/using.vb.vbproj
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.disposable/vb/using1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.disposable/vb/using2.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.disposable/vb/using3.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/Program.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/base1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/base2.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/calling1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/calling2.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/derived1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/derived2.vb
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.idisposable/vb/project.vb.vbproj
Labels: dotnet-fundamentals/prod, kudos

#24283 Add MSBuild properties collected to list of telemetry data points
  docs/core/tools/telemetry.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#24293 remove incorrect statement
  docs/csharp/whats-new/version-update-considerations.md
Labels: csharp-whats-new/tech, dotnet-csharp/prod

#24295 Explain how to apply attributes to positional records
  docs/csharp/language-reference/attributes/general.md
  docs/csharp/language-reference/builtin-types/record.md
  docs/csharp/language-reference/builtin-types/snippets/shared/RecordType.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/builtin-types.csproj
  docs/standard/serialization/system-text-json-immutability.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod, dotnet-fundamentals/prod

#24296 Add note about WebException.Response disposal
  docs/framework/network-programming/handling-errors.md
Labels: dotnet-framework/prod, dotnet-networking/tech

#24282 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24302 do not deploy extension on build
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Vsix/MakeConst.Vsix.csproj
Labels: csharp-roslyn/tech, dotnet-csharp/prod

#24298 Add ProcessorCount breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/core-libraries/6.0/environment-processorcount-on-windows.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#24291 Rename JsonDocument how-to article
  .openpublishing.redirection.json
  docs/fundamentals/toc.yml
  docs/standard/serialization/system-text-json-character-casing.md
  docs/standard/serialization/system-text-json-character-encoding.md
  docs/standard/serialization/system-text-json-configure-options.md
  docs/standard/serialization/system-text-json-converters-how-to.md
  docs/standard/serialization/system-text-json-customize-properties.md
  docs/standard/serialization/system-text-json-handle-overflow.md
  docs/standard/serialization/system-text-json-how-to.md
  docs/standard/serialization/system-text-json-ignore-properties.md
  docs/standard/serialization/system-text-json-immutability.md
  docs/standard/serialization/system-text-json-invalid-json.md
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
  docs/standard/serialization/system-text-json-overview.md
  docs/standard/serialization/system-text-json-polymorphism.md
  docs/standard/serialization/system-text-json-preserve-references.md
  docs/standard/serialization/system-text-json-supported-collection-types.md
  docs/standard/serialization/system-text-json-use-dom-utf8jsonreader-utf8jsonwriter.md
Labels: dotnet-fundamentals/prod

#24314 Turn off selected recommendations
  docfx.json
  docs/azure/azure-tools.md
  docs/azure/configure-visual-studio.md
  docs/azure/configure-vs-code.md
  docs/azure/create-azure-account.md
  docs/azure/install-azure-cli.md
  docs/azure/migration/choose.md
  docs/azure/migration/sql.md
  docs/azure/migration/vm.md
  docs/core/diagnostics/debug-deadlock.md
  docs/core/diagnostics/debug-highcpu.md
  docs/core/diagnostics/debug-memory-leak.md
  docs/core/diagnostics/event-counter-perf.md
  docs/core/introduction.md
  docs/core/testing/order-unit-tests.md
  docs/core/testing/unit-testing-code-coverage.md
  docs/core/tools/global-tools-how-to-create.md
  docs/core/tools/global-tools-how-to-use.md
  docs/core/tutorials/cli-templates-create-item-template.md
  docs/core/tutorials/cli-templates-create-project-template.md
  docs/core/tutorials/debugging-with-visual-studio-code.md
  docs/core/tutorials/debugging-with-visual-studio-mac.md
  docs/core/tutorials/debugging-with-visual-studio.md
  docs/core/tutorials/library-with-visual-studio-code.md
  docs/core/tutorials/library-with-visual-studio-mac.md
  docs/core/tutorials/library-with-visual-studio.md
  docs/core/tutorials/publishing-with-visual-studio-code.md
  docs/core/tutorials/publishing-with-visual-studio-mac.md
  docs/core/tutorials/publishing-with-visual-studio.md
  docs/core/tutorials/testing-library-with-visual-studio-code.md
  docs/core/tutorials/testing-library-with-visual-studio-mac.md
  docs/core/tutorials/testing-library-with-visual-studio.md
  docs/core/tutorials/with-visual-studio-code.md
  docs/core/tutorials/with-visual-studio-mac.md
  docs/core/tutorials/with-visual-studio.md
  docs/csharp/programming-guide/concepts/async/cancel-an-async-task-or-a-list-of-tasks.md
  docs/csharp/programming-guide/concepts/async/index.md
  docs/csharp/whats-new/tutorials/nullable-reference-types.md
  docs/devops/create-dotnet-github-action.md
  docs/framework/data/wcf/accessing-the-service-from-a-web-browser-wcf-data-services-quickstart.md
  docs/framework/data/wcf/creating-the-data-service.md
  docs/framework/data/wcf/quickstart-wcf-data-services.md
  docs/framework/wcf/how-to-create-a-wcf-client.md
  docs/framework/wcf/how-to-define-a-wcf-service-contract.md
  docs/framework/wcf/how-to-host-and-run-a-basic-wcf-service.md
  docs/framework/wcf/how-to-implement-a-wcf-contract.md
  docs/framework/wcf/how-to-use-a-wcf-client.md
  docs/fsharp/get-started/get-started-visual-studio.md
  docs/iot/quickstarts/sensehat.md
  docs/iot/tutorials/adc.md
  docs/iot/tutorials/blink-led.md
  docs/iot/tutorials/lcd-display.md
  docs/iot/tutorials/temp-sensor.md
Labels: csharp-async/tech, csharp-whats-new/tech, dotnet-azure/prod, dotnet-cli/tech, dotnet-csharp/prod, dotnet-framework/prod, dotnet-fsharp/prod, dotnet-fundamentals/prod, dotnet-wcf/tech

#24315 Clarify volatile docs
  docs/csharp/language-reference/keywords/volatile.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#24322 Turn off recommendations for tutorials
  docs/machine-learning/how-to-guides/matchup-app-infer-net.md
  docs/machine-learning/tutorials/github-issue-classification.md
  docs/machine-learning/tutorials/image-classification-api-transfer-learning.md
  docs/machine-learning/tutorials/image-classification.md
  docs/machine-learning/tutorials/iris-clustering.md
  docs/machine-learning/tutorials/movie-recommendation.md
  docs/machine-learning/tutorials/object-detection-onnx.md
  docs/machine-learning/tutorials/phone-calls-anomaly-detection.md
  docs/machine-learning/tutorials/predict-prices.md
  docs/machine-learning/tutorials/sales-anomaly-detection.md
  docs/machine-learning/tutorials/sentiment-analysis.md
  docs/spark/tutorials/amazon-emr-spark-deployment.md
  docs/spark/tutorials/batch-processing.md
  docs/spark/tutorials/databricks-deployment.md
  docs/spark/tutorials/get-started.md
  docs/spark/tutorials/hdinsight-deployment.md
  docs/spark/tutorials/ml-sentiment-analysis.md
  docs/spark/tutorials/streaming.md
  docs/spark/what-is-apache-spark-dotnet.md
  docs/spark/what-is-spark.md
Labels: dotnet-ml/prod, dotnet-spark/prod

#24317 Add note about PowerShell version
  docs/framework/windows-services/how-to-install-and-uninstall-services.md
Labels: dotnet-framework/prod

#24316 Provide more context in code examples
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/DeserializeExtra.cs
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/DeserializeFromFile.cs
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/DeserializeFromFileAsync.cs
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/Program.cs
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/RoundtripToFile.cs
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/RoundtripToFileAsync.cs
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/RoundtripToString.cs
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/RoundtripToUtf8.cs
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/SerializeBasic.cs
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/SerializeExtra.cs
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/SerializeToFile.cs
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/SerializeToFileAsync.cs
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/SerializeWithGenericParameter.cs
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/SerializeWriteIndented.cs
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/SystemTextJsonSamples.csproj
  docs/standard/serialization/snippets/system-text-json-how-to/vb/WeatherForecast.vb
  docs/standard/serialization/system-text-json-how-to.md
Labels: dotnet-fundamentals/prod

#24320 Consolidate duplicate files
  .openpublishing.redirection.json
  docs/csharp/language-reference/compiler-messages/cs3003.md
  docs/csharp/language-reference/compiler-messages/cs3007.md
  docs/csharp/language-reference/compiler-messages/cs3009.md
  docs/csharp/misc/cs3012.md
  docs/csharp/misc/cs3013.md
  docs/csharp/misc/cs3019.md
  docs/csharp/misc/cs3021.md
  docs/framework/interop/compiling-an-interop-project.md
  docs/framework/interop/exposing-com-components.md
  docs/fundamentals/code-analysis/quality-rules/ca1014.md
  docs/fundamentals/toc.yml
  docs/standard/common-type-system.md
  docs/standard/language-independence-and-language-independent-components.md
  docs/standard/language-independence.md
  docs/standard/managed-execution-process.md
  docs/standard/numerics.md
  docs/visual-basic/language-reference/error-messages/classname-is-not-cls-compliant-because-the-interface-is-not-cls-compliant.md
  docs/visual-basic/language-reference/error-messages/name-membername-is-not-cls-compliant.md
  docs/visual-basic/language-reference/error-messages/name-namespacename-in-the-root-namespace-fullnamespacename-is-not-cls-compliant.md
  docs/visual-basic/language-reference/error-messages/non-cls-compliant-membername-is-not-allowed-in-a-cls-compliant-interface.md
  docs/visual-basic/language-reference/error-messages/proceduresignature1-not-cls-compliant-because-it-overloads-proceduresignature2.md
  docs/visual-basic/language-reference/error-messages/return-type-of-function-procedurename-is-not-cls-compliant.md
  docs/visual-basic/language-reference/error-messages/type-of-member-membername-is-not-cls-compliant.md
  docs/visual-basic/language-reference/error-messages/type-of-optional-value-for-optional-parameter-is-not-cls-compliant.md
  docs/visual-basic/language-reference/error-messages/type-of-parameter-parametername-is-not-cls-compliant.md
  docs/visual-basic/language-reference/error-messages/type-typename-is-not-cls-compliant.md
  docs/visual-basic/language-reference/error-messages/underlying-type-typename-of-enum-is-not-cls-compliant.md
  docs/visual-basic/misc/bc40026.md
  docs/visual-basic/misc/bc40030.md
  docs/visual-basic/misc/bc40034.md
  docs/visual-basic/misc/bc40038.md
  docs/visual-basic/misc/bc40040.md
  docs/visual-basic/misc/bc40043.md
  docs/visual-basic/programming-guide/com-interop/how-to-call-a-windows-function-that-takes-unsigned-types.md
  docs/visual-basic/programming-guide/language-features/data-types/how-to-define-a-class-that-can-provide-identical-functionality.md
  docs/visual-basic/programming-guide/language-features/data-types/how-to-use-a-generic-class.md
  docs/visual-basic/programming-guide/language-features/declared-elements/declared-element-names.md
  docs/visual-basic/programming-guide/program-structure/naming-conventions.md
Labels: csharp-diagnostics/tech, csharp-language-reference/tech, dotnet-csharp/prod, dotnet-framework/prod, dotnet-fundamentals/prod, dotnet-visualbasic/prod, vb-diagnostics/tech

#24332 Relocating some Azure SDK docs per @scottaddie
  .openpublishing.redirection.json
  docs/azure/TOC.yml
  docs/azure/sdk/authentication.md
  docs/azure/sdk/azure-sdk-for-dotnet.md
  docs/azure/sdk/dependency-injection.md
  docs/azure/sdk/logging.md
  docs/azure/sdk/packages.md
Labels: dotnet-azure/prod

#24301 Typo "Azure Artifact feed"→"Azure Artifacts feed"
  docs/architecture/cloud-native/devops.md
Labels: cloud-native/tech, dotnet-architecture/prod

#24247 Update build-container.md
  docs/core/docker/build-container.md
Labels: dotnet-docker/tech, dotnet-fundamentals/prod

#24319 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24119 Add linux versions: Fedora 34, Ubuntu 21.04
  docs/core/install/linux-fedora.md
  docs/core/install/linux-ubuntu.md
  docs/core/install/linux.md
Labels: dotnet-fundamentals/prod, dotnet-install/tech, dotnet/prod

#24331 Saving assemblies from reflection
  docs/core/porting/net-framework-tech-unavailable.md
Labels: dotnet-fundamentals/prod

#24357 Update ms.topic
  docfx.json
  docs/framework/windows-services/walkthrough-creating-a-windows-service-application-in-the-component-designer.md
  docs/framework/windows-workflow-foundation/activity-authoring-options-in-wf.md
  docs/framework/windows-workflow-foundation/binding-a-custom-activity-property-to-a-designer-control.md
  docs/framework/windows-workflow-foundation/connection-string-and-connection-string-name.md
  docs/framework/windows-workflow-foundation/control-flow-activities-in-wf.md
  docs/framework/windows-workflow-foundation/creating-asynchronous-activities-in-wf.md
  docs/framework/windows-workflow-foundation/deprecated-types.md
  docs/framework/windows-workflow-foundation/error-handling-activities-in-wf.md
  docs/framework/windows-workflow-foundation/exceptions.md
  docs/framework/windows-workflow-foundation/glossary.md
  docs/framework/windows-workflow-foundation/host-lock-renewal-period.md
  docs/framework/windows-workflow-foundation/instance-completion-action.md
  docs/framework/windows-workflow-foundation/instance-encoding-option.md
  docs/framework/windows-workflow-foundation/instance-locked-exception-action.md
  docs/framework/windows-workflow-foundation/invoking-activity-validation.md
  docs/framework/windows-workflow-foundation/pausing-and-resuming-a-workflow.md
  docs/framework/windows-workflow-foundation/persistence-database-schema.md
  docs/framework/windows-workflow-foundation/runnable-instances-detection-period.md
  docs/framework/windows-workflow-foundation/runtime-activities-in-wf.md
  docs/framework/windows-workflow-foundation/task-1-create-a-new-wpf-app.md
  docs/framework/windows-workflow-foundation/task-2-host-the-workflow-designer.md
  docs/framework/windows-workflow-foundation/task-3-create-the-toolbox-and-propertygrid-panes.md
  docs/framework/windows-workflow-foundation/transaction-activities-in-wf.md
  docs/framework/windows-workflow-foundation/using-a-custom-activity.md
  docs/framework/windows-workflow-foundation/using-a-custom-expression-editor.md
  docs/framework/windows-workflow-foundation/using-activity-extensions.md
  docs/framework/windows-workflow-foundation/wfc-exe-workflow-compiler-tool.md
  docs/framework/windows-workflow-foundation/whats-new-in-wf-in-dotnet.md
  docs/framework/windows-workflow-foundation/whats-new.md
Labels: dotnet-framework/prod, dotnet-wf/tech

#24346 Clarify that work on System.Text.Json is ongoing
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
Labels: dotnet-fundamentals/prod

#24359 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#23844 Change COMPlus_ prefix to DOTNET_
  docs/core/diagnostics/debug-highcpu.md
  docs/core/diagnostics/debug-linux-dumps.md
  docs/core/diagnostics/debug-stackoverflow.md
  docs/core/diagnostics/diagnostics-in-containers.md
  docs/core/diagnostics/dumps.md
  docs/core/diagnostics/eventpipe.md
  docs/core/diagnostics/logging-tracing.md
  docs/core/diagnostics/trace-perfcollect-lttng.md
  docs/core/docker/build-container.md
  docs/core/run-time-config/compilation.md
  docs/core/run-time-config/debugging-profiling.md
  docs/core/run-time-config/garbage-collector.md
  docs/core/run-time-config/index.md
  docs/core/run-time-config/threading.md
  includes/complus-prefix.md
Labels: :checkered_flag: Release .NET 6, dotnet-docker/tech, dotnet-framework/prod, dotnet-fundamentals/prod

#24348 Removed confusing sample input
  docs/csharp/programming-guide/classes-and-structs/interface-properties.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#24352 Update cs0078.md
  docs/csharp/misc/cs0078.md
Labels: csharp-diagnostics/tech, dotnet-csharp/prod

#24354 Fix snippet links
  docs/csharp/fundamentals/functional/deconstruct.md
Labels: dotnet-csharp/prod

#23875 dotnet new article - updates for 5.0.3xx SDK
  docs/core/testing/unit-testing-code-coverage.md
  docs/core/tools/dotnet-new-install.md
  docs/core/tools/dotnet-new-list.md
  docs/core/tools/dotnet-new-sdk-templates.md
  docs/core/tools/dotnet-new-search.md
  docs/core/tools/dotnet-new-uninstall.md
  docs/core/tools/dotnet-new-update.md
  docs/core/tools/dotnet-new.md
  docs/csharp/programming-guide/concepts/async/cancel-an-async-task-or-a-list-of-tasks.md
  docs/csharp/programming-guide/concepts/async/start-multiple-async-tasks-and-process-them-as-they-complete.md
  docs/fundamentals/toc.yml
Labels: DO NOT MERGE, dotnet-cli/tech, dotnet-fundamentals/prod

#24377 Promote h3 headings to h2
  docs/core/tools/dotnet-new-sdk-templates.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#24349 C# reference: Consolidate the iteration statements articles
  .openpublishing.redirection.json
  docs/csharp/fundamentals/coding-style/coding-conventions.md
  docs/csharp/fundamentals/object-oriented/polymorphism.md
  docs/csharp/fundamentals/tutorials/classes.md
  docs/csharp/language-reference/builtin-types/bool.md
  docs/csharp/language-reference/compiler-messages/cs1579.md
  docs/csharp/language-reference/compiler-messages/cs1656.md
  docs/csharp/language-reference/keywords/continue.md
  docs/csharp/language-reference/keywords/do.md
  docs/csharp/language-reference/keywords/for.md
  docs/csharp/language-reference/keywords/foreach-in.md
  docs/csharp/language-reference/keywords/from-clause.md
  docs/csharp/language-reference/keywords/group-clause.md
  docs/csharp/language-reference/keywords/in.md
  docs/csharp/language-reference/keywords/index.md
  docs/csharp/language-reference/keywords/ref.md
  docs/csharp/language-reference/keywords/snippets/IterationKeywordsExamples.cs
  docs/csharp/language-reference/keywords/snippets/Program.cs
  docs/csharp/language-reference/keywords/statement-keywords.md
  docs/csharp/language-reference/keywords/while.md
  docs/csharp/language-reference/keywords/yield.md
  docs/csharp/language-reference/operators/await.md
  docs/csharp/language-reference/operators/true-false-operators.md
  docs/csharp/language-reference/statements/iteration-statements.md
  docs/csharp/language-reference/statements/snippets/iteration-statements/DoStatement.cs
  docs/csharp/language-reference/statements/snippets/iteration-statements/ForStatement.cs
  docs/csharp/language-reference/statements/snippets/iteration-statements/ForeachStatement.cs
  docs/csharp/language-reference/statements/snippets/iteration-statements/Program.cs
  docs/csharp/language-reference/statements/snippets/iteration-statements/WhileStatement.cs
  docs/csharp/language-reference/statements/snippets/iteration-statements/iteration-statements.csproj
  docs/csharp/misc/cs0230.md
  docs/csharp/misc/cs0278.md
  docs/csharp/misc/cs1515.md
  docs/csharp/misc/cs1654.md
  docs/csharp/misc/cs1655.md
  docs/csharp/misc/cs1657.md
  docs/csharp/programming-guide/arrays/index.md
  docs/csharp/programming-guide/arrays/using-foreach-with-arrays.md
  docs/csharp/programming-guide/classes-and-structs/implicitly-typed-local-variables.md
  docs/csharp/programming-guide/classes-and-structs/methods.md
  docs/csharp/programming-guide/concepts/collections.md
  docs/csharp/programming-guide/concepts/iterators.md
  docs/csharp/programming-guide/concepts/linq/introduction-to-linq-queries.md
  docs/csharp/programming-guide/statements-expressions-operators/statements.md
  docs/csharp/toc.yml
  docs/csharp/tour-of-csharp/tutorials/branches-and-loops-local.md
  docs/csharp/tour-of-csharp/tutorials/branches-and-loops.yml
  docs/csharp/whats-new/csharp-7.md
  docs/csharp/whats-new/csharp-9.md
  docs/standard/collections/index.md
  docs/standard/collections/thread-safe/how-to-use-foreach-to-remove.md
  docs/standard/parallel-programming/data-parallelism-task-parallel-library.md
  docs/standard/parallel-programming/how-to-speed-up-small-loop-bodies.md
Labels: csharp-diagnostics/tech, csharp-fundamentals/tech, csharp-get-started/tech, csharp-language-reference/tech, csharp-linq/tech, csharp-whats-new/tech, dotnet-csharp/prod, dotnet-fundamentals/prod

#24365 Article discussing thread safety in Azure SDK objects …
  docs/azure/TOC.yml
  docs/azure/sdk/thread-safety.md
Labels: dotnet-azure/prod

#24339 Clarify records behavior in naming rules
  docs/fundamentals/code-analysis/style-rules/naming-rules.md
Labels: dotnet-fundamentals/prod

#24362 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24410 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#24329 update trimming doc on problematic coding patterns
  docs/core/deploying/trim-self-contained.md
Labels: dotnet-fundamentals/prod

#24412 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24413 Update screenshots and wording for debug .net app on vs/vsmac/vscode
  docs/core/tutorials/debugging-with-visual-studio-code.md
  docs/core/tutorials/debugging-with-visual-studio-mac.md
  docs/core/tutorials/debugging-with-visual-studio.md
  docs/core/tutorials/media/debugging-with-visual-studio-code/breakpoint-context-menu.png
  docs/core/tutorials/media/debugging-with-visual-studio-code/breakpoint-hit.png
  docs/core/tutorials/media/debugging-with-visual-studio-code/breakpoint-set.png
  docs/core/tutorials/media/debugging-with-visual-studio-code/change-variable-values.png
  docs/core/tutorials/media/debugging-with-visual-studio-code/conditional-expression.png
  docs/core/tutorials/media/debugging-with-visual-studio-code/expression-in-debug-console.png
  docs/core/tutorials/media/debugging-with-visual-studio-code/run-modified-program.png
  docs/core/tutorials/media/debugging-with-visual-studio-code/select-debug-pane.png
  docs/core/tutorials/media/debugging-with-visual-studio-code/select-terminal.png
  docs/core/tutorials/media/debugging-with-visual-studio-mac/breakpoint-hit.png
  docs/core/tutorials/media/debugging-with-visual-studio-mac/immediate-window-output.png
  docs/core/tutorials/media/debugging-with-visual-studio-mac/immediate-window.png
  docs/core/tutorials/media/debugging-with-visual-studio-mac/locals-window.png
  docs/core/tutorials/media/debugging-with-visual-studio-mac/set-breakpoint-in-editor.png
  docs/core/tutorials/media/debugging-with-visual-studio-mac/step-into-method.png
  docs/core/tutorials/media/debugging-with-visual-studio/breakpoint-hit.png
  docs/core/tutorials/media/debugging-with-visual-studio/breakpoint-settings.png
  docs/core/tutorials/media/debugging-with-visual-studio/locals-immediate-window.png
  docs/core/tutorials/media/debugging-with-visual-studio/set-breakpoint-in-editor.png
  docs/core/tutorials/media/debugging-with-visual-studio/step-into-method.png
  docs/core/tutorials/media/debugging-with-visual-studio/step-into-source-method.png
  docs/core/tutorials/media/debugging-with-visual-studio/vb-step-into-method.png
  docs/core/tutorials/media/debugging-with-visual-studio/vb-step-into-source-method.png
  docs/core/tutorials/with-visual-studio-mac.md
Labels: dotnet-fundamentals/prod

#24364 Add SDK category for breaking changes
  .openpublishing.redirection.json
  docs/core/compatibility/5.0.md
  docs/core/compatibility/sdk/5.0/automatically-infer-winexe-output-type.md
  docs/core/compatibility/sdk/5.0/sdk-and-target-framework-change.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#24379 Restore vb compat info and add splash/about template info
  docs/core/compatibility/fx-core.md
  docs/core/compatibility/visualbasic.md
  docs/core/compatibility/winforms.md
  includes/core-changes/visualbasic/3.0/microsoft.visualbasic.applicationservices-unavailable.md
  includes/core-changes/visualbasic/3.0/microsoft.visualbasic.devices-unavailable.md
  includes/core-changes/visualbasic/3.0/microsoft.visualbasic.myservices-unavailable.md
  includes/core-changes/visualbasic/3.0/vb-winforms-splash-about-broken.md
Labels: dotnet-fundamentals/prod

#24415 Update for APIs that throw PNSE
  docs/core/compatibility/unsupported-apis.md
  docs/fundamentals/syslib-diagnostics/syslib0001.md
  docs/fundamentals/syslib-diagnostics/syslib0002.md
  docs/fundamentals/syslib-diagnostics/syslib0003.md
  docs/fundamentals/syslib-diagnostics/syslib0004.md
  docs/fundamentals/syslib-diagnostics/syslib0005.md
  docs/fundamentals/syslib-diagnostics/syslib0006.md
  docs/fundamentals/syslib-diagnostics/syslib0007.md
  docs/fundamentals/syslib-diagnostics/syslib0008.md
  docs/fundamentals/syslib-diagnostics/syslib0009.md
  docs/fundamentals/syslib-diagnostics/syslib0010.md
  docs/fundamentals/syslib-diagnostics/syslib0011.md
  docs/fundamentals/syslib-diagnostics/syslib0012.md
  docs/fundamentals/syslib-diagnostics/syslib0014.md
Labels: dotnet-fundamentals/prod

#24360 fix some typos in the Docker configuration for the dapr-for-dotnet-developers getting started example
  docs/architecture/dapr-for-net-developers/getting-started.md
Labels: dotnet-architecture/prod

#24416 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24355 Add H2s
  docs/framework/install/application-not-started.md
Labels: dotnet-framework/prod, dotnet-install/tech

#24326 Faulty atomic group example fixed.
  docs/standard/base-types/regular-expression-language-quick-reference.md
Labels: dotnet-fundamentals/prod

#24358 Worker Services in .NET articles and tutorials
  docs/azure/sdk/dependency-injection.md
  docs/core/extensions/includes/file-new-worker.md
  docs/core/extensions/includes/run-app.md
  docs/core/extensions/includes/stop-app.md
  docs/core/extensions/media/event-properties.png
  docs/core/extensions/media/profile-settings.png
  docs/core/extensions/media/publish-dialog.png
  docs/core/extensions/media/windows-service.png
  docs/core/extensions/queue-service.md
  docs/core/extensions/scoped-service.md
  docs/core/extensions/snippets/workers/.dockerignore
  docs/core/extensions/snippets/workers/background-service/App.WorkerService.csproj
  docs/core/extensions/snippets/workers/background-service/Dockerfile
  docs/core/extensions/snippets/workers/background-service/Program.cs
  docs/core/extensions/snippets/workers/background-service/Properties/launchSettings.json
  docs/core/extensions/snippets/workers/background-service/Worker.cs
  docs/core/extensions/snippets/workers/background-service/appsettings.Development.json
  docs/core/extensions/snippets/workers/background-service/appsettings.json
  docs/core/extensions/snippets/workers/queue-service/App.QueueService.csproj
  docs/core/extensions/snippets/workers/queue-service/DefaultBackgroundTaskQueue.cs
  docs/core/extensions/snippets/workers/queue-service/IBackgroundTaskQueue.cs
  docs/core/extensions/snippets/workers/queue-service/MonitorLoop.cs
  docs/core/extensions/snippets/workers/queue-service/Program.cs
  docs/core/extensions/snippets/workers/queue-service/Properties/launchSettings.json
  docs/core/extensions/snippets/workers/queue-service/QueuedHostedService.cs
  docs/core/extensions/snippets/workers/queue-service/appsettings.Development.json
  docs/core/extensions/snippets/workers/queue-service/appsettings.json
  docs/core/extensions/snippets/workers/scoped-service/App.ScopedService.csproj
  docs/core/extensions/snippets/workers/scoped-service/DefaultScopedProcessingService.cs
  docs/core/extensions/snippets/workers/scoped-service/IScopedProcessingService.cs
  docs/core/extensions/snippets/workers/scoped-service/Program.cs
  docs/core/extensions/snippets/workers/scoped-service/Properties/launchSettings.json
  docs/core/extensions/snippets/workers/scoped-service/ScopedBackgroundService.cs
  docs/core/extensions/snippets/workers/scoped-service/appsettings.Development.json
  docs/core/extensions/snippets/workers/scoped-service/appsettings.json
  docs/core/extensions/snippets/workers/timer-service/App.TimerHostedService.csproj
  docs/core/extensions/snippets/workers/timer-service/Program.cs
  docs/core/extensions/snippets/workers/timer-service/Properties/launchSettings.json
  docs/core/extensions/snippets/workers/timer-service/TimerService.cs
  docs/core/extensions/snippets/workers/timer-service/appsettings.Development.json
  docs/core/extensions/snippets/workers/timer-service/appsettings.json
  docs/core/extensions/snippets/workers/windows-service/App.WindowsService.csproj
  docs/core/extensions/snippets/workers/windows-service/JokeService.cs
  docs/core/extensions/snippets/workers/windows-service/Program.cs
  docs/core/extensions/snippets/workers/windows-service/Properties/PublishProfiles/FolderProfile.pubxml
  docs/core/extensions/snippets/workers/windows-service/Properties/launchSettings.json
  docs/core/extensions/snippets/workers/windows-service/WindowsBackgroundService.cs
  docs/core/extensions/snippets/workers/windows-service/appsettings.Development.json
  docs/core/extensions/snippets/workers/windows-service/appsettings.json
  docs/core/extensions/snippets/workers/workers.sln
  docs/core/extensions/timer-service.md
  docs/core/extensions/windows-service.md
  docs/core/extensions/workers.md
  docs/fundamentals/code-analysis/quality-rules/ca1845.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#24424 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#24426 Remove extra slash in code comment
  docs/azure/sdk/dependency-injection.md
Labels: dotnet-azure/prod

#24325 Ca1846
  docs/fundamentals/code-analysis/quality-rules/ca1846.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/performance-warnings.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#24427 New format %B
  docs/fsharp/language-reference/plaintext-formatting.md
Labels: dotnet-fsharp/prod
