Repository dotnet/docs, pull requests merged in 2021-04, with the labels that each got.

#23572 C# patterns reference: example of a positional pattern with identifiers
  docs/csharp/language-reference/operators/patterns.md
  docs/csharp/language-reference/operators/snippets/patterns/LogicalPatterns.cs
  docs/csharp/language-reference/operators/snippets/patterns/PositionalPattern.cs
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23556 Document that bash is required for the install script
  docs/core/install/linux-scripted-manual.md
Labels: dotnet-fundamentals/prod, dotnet-install/tech, dotnet/prod

#23585 Added details about the GHA running on ubuntu
  docs/architecture/porting-existing-aspnet-apps/more-migration-scenarios.md
  docs/core/diagnostics/distributed-tracing-collection-walkthroughs.md
  docs/core/diagnostics/distributed-tracing-instrumentation-walkthroughs.md
  docs/devops/create-dotnet-github-action.md
  docs/framework/unmanaged-api/hosting/clrcreateinstance-function.md
  docs/framework/unmanaged-api/profiling/icorprofilercallback10-eventpipeeventdelivered-method.md
  docs/framework/unmanaged-api/profiling/icorprofilercallback10-eventpipeprovidercreated-method.md
  docs/fsharp/style-guide/formatting.md
  docs/machine-learning/tutorials/object-detection-model-builder.md
  docs/standard/native-interop/best-practices.md
Labels: dotnet-architecture/prod, dotnet-framework/prod, dotnet-fsharp/prod, dotnet-fundamentals/prod, dotnet-ml/prod

#23576 Move code comments to article text
  docs/csharp/programming-guide/inside-a-program/coding-conventions.md
  samples/snippets/csharp/VS_Snippets_VBCSharp/csprogguidecodingconventions/cs/coding conventions examples.csproj
  samples/snippets/csharp/VS_Snippets_VBCSharp/csprogguidecodingconventions/cs/program.cs
Labels: csharp-get-started/tech, dotnet-csharp/prod

#23598 Records tutorial: add the link to the record reference to the first paragraph
  docs/csharp/whats-new/tutorials/records.md
Labels: csharp-whats-new/tech, dotnet-csharp/prod

#23599 Style fix: remove a dot from a list item
  docs/csharp/programming-guide/classes-and-structs/records.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#23593 Fix grammar
  docs/csharp/tour-of-csharp/program-building-blocks.md
Labels: csharp-get-started/tech, dotnet-csharp/prod

#23610 Fixed broken links on rid-catalog.md
  docs/core/rid-catalog.md
Labels: dotnet-fundamentals/prod

#23618 Update chaining-tasks-by-using-continuation-tasks.md
  docs/standard/parallel-programming/chaining-tasks-by-using-continuation-tasks.md
Labels: dotnet-fundamentals/prod

#23619 document GC committed counter
  docs/core/diagnostics/available-counters.md
Labels: dotnet-fundamentals/prod

#23617 Grammar fix: move indefinite article
  docs/architecture/cloud-native/deploy-containers-azure.md
Labels: cloud-native/tech, dotnet-architecture/prod

#23622 C# patterns reference: introduction and general revision
  docs/csharp/language-reference/operators/patterns.md
  docs/csharp/toc.yml
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23623 Added C# patterns reference
  docs/csharp/language-reference/operators/patterns.md
  docs/csharp/language-reference/operators/snippets/patterns/ConstantPattern.cs
  docs/csharp/language-reference/operators/snippets/patterns/DeclarationAndTypePatterns.cs
  docs/csharp/language-reference/operators/snippets/patterns/DiscardPattern.cs
  docs/csharp/language-reference/operators/snippets/patterns/LogicalPatterns.cs
  docs/csharp/language-reference/operators/snippets/patterns/PositionalPattern.cs
  docs/csharp/language-reference/operators/snippets/patterns/Program.cs
  docs/csharp/language-reference/operators/snippets/patterns/PropertyPattern.cs
  docs/csharp/language-reference/operators/snippets/patterns/RelationalPatterns.cs
  docs/csharp/language-reference/operators/snippets/patterns/VarPattern.cs
  docs/csharp/language-reference/operators/snippets/patterns/patterns.csproj
  docs/csharp/toc.yml
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23608 Remove scottaddie as author
  docs/core/compatibility/aspnet-core/5.0/authentication-aad-packages-obsolete.md
  docs/core/compatibility/aspnet-core/5.0/authorization-resource-in-endpoint-routing.md
  docs/core/compatibility/aspnet-core/5.0/azure-integration-packages-removed.md
  docs/core/compatibility/aspnet-core/5.0/blazor-browser-support-updated.md
  docs/core/compatibility/aspnet-core/5.0/blazor-components-trim-insignificant-whitespace.md
  docs/core/compatibility/aspnet-core/5.0/blazor-jsobjectreference-to-internal.md
  docs/core/compatibility/aspnet-core/5.0/blazor-packages-target-framework-changed.md
  docs/core/compatibility/aspnet-core/5.0/blazor-protectedbrowserstorage-moved.md
  docs/core/compatibility/aspnet-core/5.0/blazor-rendertreeframe-fields-become-properties.md
  docs/core/compatibility/aspnet-core/5.0/blazor-routing-logic-changed.md
  docs/core/compatibility/aspnet-core/5.0/blazor-static-web-assets-validation-logic-updated.md
  docs/core/compatibility/aspnet-core/5.0/extensions-package-reference-changes.md
  docs/core/compatibility/aspnet-core/5.0/http-badhttprequestexception-obsolete.md
  docs/core/compatibility/aspnet-core/5.0/http-httpclient-instances-log-integer-status-codes.md
  docs/core/compatibility/aspnet-core/5.0/httpsys-client-certificate-renegotiation-disabled-by-default.md
  docs/core/compatibility/aspnet-core/5.0/iis-urlrewrite-middleware-query-strings-are-preserved.md
  docs/core/compatibility/aspnet-core/5.0/kestrel-configuration-changes-at-run-time-detected-by-default.md
  docs/core/compatibility/aspnet-core/5.0/kestrel-default-supported-tls-protocol-versions-changed.md
  docs/core/compatibility/aspnet-core/5.0/kestrel-disables-http2-over-tls.md
  docs/core/compatibility/aspnet-core/5.0/kestrel-libuv-transport-obsolete.md
  docs/core/compatibility/aspnet-core/5.0/localization-members-removed.md
  docs/core/compatibility/aspnet-core/5.0/localization-pubternal-apis-removed.md
  docs/core/compatibility/aspnet-core/5.0/localization-requestlocalizationmiddleware-constructor-removed.md
  docs/core/compatibility/aspnet-core/5.0/middleware-database-error-page-obsolete.md
  docs/core/compatibility/aspnet-core/5.0/middleware-exception-handler-throws-original-exception.md
  docs/core/compatibility/aspnet-core/5.0/mvc-objectmodelvalidator-calls-new-overload.md
  docs/core/compatibility/aspnet-core/5.0/security-cookie-name-encoding-removed.md
  docs/core/compatibility/aspnet-core/5.0/security-identitymodel-nuget-package-versions-updated.md
  docs/core/compatibility/aspnet-core/5.0/signalr-messagepack-hub-protocol-options-changed.md
  docs/core/compatibility/aspnet-core/5.0/signalr-messagepack-package.md
  docs/core/compatibility/aspnet-core/5.0/signalr-usesignalr-useconnections-removed.md
  docs/core/compatibility/aspnet-core/5.0/static-files-csv-content-type-changed.md
  docs/core/compatibility/aspnet-core/6.0/blazor-eventargstype-property-replaced.md
  docs/core/compatibility/aspnet-core/6.0/blazor-parameter-name-changed-in-method.md
  docs/core/compatibility/aspnet-core/6.0/kestrel-log-message-attributes-changed.md
  docs/core/compatibility/aspnet-core/6.0/middleware-ambiguous-https-ports-exception.md
  docs/core/compatibility/aspnet-core/6.0/nullable-reference-type-annotations-changed.md
  docs/core/compatibility/aspnet-core/6.0/obsolete-removed-apis.md
  docs/core/compatibility/aspnet-core/6.0/razor-engine-apis-obsolete.md
  docs/core/compatibility/aspnetcore.md
Labels: dotnet-fundamentals/prod

#23559 Create unsafe code section - include information on function pointers
  .openpublishing.redirection.json
  docs/core/introduction.md
  docs/csharp/language-reference/builtin-types/unmanaged-types.md
  docs/csharp/language-reference/builtin-types/void.md
  docs/csharp/language-reference/compiler-messages/cs0650.md
  docs/csharp/language-reference/compiler-options/language.md
  docs/csharp/language-reference/keywords/fixed-statement.md
  docs/csharp/language-reference/keywords/reference-types.md
  docs/csharp/language-reference/keywords/unsafe.md
  docs/csharp/language-reference/operators/pointer-related-operators.md
  docs/csharp/language-reference/operators/sizeof.md
  docs/csharp/language-reference/operators/stackalloc.md
  docs/csharp/language-reference/snippets/unsafe-code/Conversions.cs
  docs/csharp/language-reference/snippets/unsafe-code/FixedKeywordExamples.cs
  docs/csharp/language-reference/snippets/unsafe-code/FunctionPointers.cs
  docs/csharp/language-reference/snippets/unsafe-code/Program.cs
  docs/csharp/language-reference/snippets/unsafe-code/UnsafeCodePointers.csproj
  docs/csharp/language-reference/unsafe-code.md
  docs/csharp/misc/cs0193.md
  docs/csharp/misc/cs0196.md
  docs/csharp/misc/cs0209.md
  docs/csharp/misc/cs0210.md
  docs/csharp/misc/cs0211.md
  docs/csharp/misc/cs0212.md
  docs/csharp/misc/cs0213.md
  docs/csharp/misc/cs0214.md
  docs/csharp/misc/cs0227.md
  docs/csharp/misc/cs0242.md
  docs/csharp/misc/cs0244.md
  docs/csharp/misc/cs0254.md
  docs/csharp/programming-guide/index.md
  docs/csharp/programming-guide/unsafe-code-pointers/fixed-size-buffers.md
  docs/csharp/programming-guide/unsafe-code-pointers/how-to-use-pointers-to-copy-an-array-of-bytes.md
  docs/csharp/programming-guide/unsafe-code-pointers/index.md
  docs/csharp/programming-guide/unsafe-code-pointers/pointer-conversions.md
  docs/csharp/programming-guide/unsafe-code-pointers/pointer-types.md
  docs/csharp/toc.yml
  docs/standard/managed-code.md
  docs/whats-new/2021-01.md
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuidePointers/CS/Pointers.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuidePointers/CS/Pointers2.cs
Labels: csharp-advanced-concepts/tech, csharp-language-reference/tech, dotnet-csharp/prod

#23629 Fix CA1012 title
  docs/fundamentals/code-analysis/quality-rules/ca1012.md
Labels: dotnet-fundamentals/prod

#23607 Shared framework breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/assemblies-removed-from-shared-framework.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#23606 Fix broken links - April
  docs/core/compatibility/aspnet-core/6.0/razor-engine-apis-obsolete.md
  docs/csharp/whats-new/tutorials/generate-consume-asynchronous-stream.md
  docs/fundamentals/tools-and-productivity.md
  docs/index.yml
  docs/standard/glossary.md
Labels: csharp-whats-new/tech, dotnet-csharp/prod, dotnet-fundamentals/prod

#23633 Add version introduced for environment variable
  docs/core/run-time-config/garbage-collector.md
Labels: dotnet-fundamentals/prod

#23588 Add ANE breaking change
  docs/core/compatibility/windows-forms/6.0/apis-throw-argumentnullexception.md
Labels: dotnet-fundamentals/prod

#23641 Small associativity/precedence updates
  docs/fsharp/language-reference/symbol-and-operator-reference/index.md
Labels: dotnet-fsharp/prod

#23627 fix typo
  docs/csharp/language-reference/operators/assignment-operator.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23631 var keyword reference: mention a var pattern
  docs/csharp/language-reference/keywords/var.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23632 Edit pass on classes-and-structs/index.md
  docs/csharp/programming-guide/classes-and-structs/index.md
  docs/csharp/toc.yml
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#23589 Unix epoch converter
  docs/standard/datetime/system-text-json-support.md
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/CustomConverterUnixEpochDate.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/Program.cs
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
Labels: dotnet-fundamentals/prod

#23645 Moved record from reserved to contextual keywords
  docs/csharp/language-reference/keywords/contextual-keywords.md
  docs/csharp/language-reference/keywords/index.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23646 Type-testing is operator: simplified the section about pattern matching
  docs/csharp/language-reference/operators/snippets/shared/TypeTestingAndConversionOperators.cs
  docs/csharp/language-reference/operators/type-testing-and-cast.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23647 remove extra parenthesis
  docs/csharp/whats-new/tutorials/records.md
Labels: csharp-whats-new/tech, dotnet-csharp/prod

#23695 Use proper DI within example - fixes #23303
  docs/core/extensions/custom-logging-provider.md
  docs/core/extensions/snippets/configuration/console-custom-logging/ColorConsoleLogger.cs
  docs/core/extensions/snippets/configuration/console-custom-logging/ColorConsoleLoggerConfiguration.cs
  docs/core/extensions/snippets/configuration/console-custom-logging/ColorConsoleLoggerProvider.cs
  docs/core/extensions/snippets/configuration/console-custom-logging/Extensions/ColorConsoleLoggerExtensions.cs
  docs/core/extensions/snippets/configuration/console-custom-logging/Program.cs
Labels: dotnet-fundamentals/prod

#23696 Added links to patterns in what's new sections and the tutorial
  docs/csharp/tutorials/pattern-matching.md
  docs/csharp/whats-new/csharp-7.md
  docs/csharp/whats-new/csharp-8.md
  docs/csharp/whats-new/csharp-9.md
Labels: csharp-fundamentals/tech, csharp-whats-new/tech, dotnet-csharp/prod

#23706 Fix code snippet id
  docs/csharp/programming-guide/classes-and-structs/snippets/private-constructors/Program.cs
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#23705 Clarify single union discriminated union declaration.
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod

#23710 Minor grammar fix.
  docs/csharp/programming-guide/exceptions/index.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#23699 C# 9 what's new edit pass
  docs/csharp/language-reference/builtin-types/record.md
  docs/csharp/language-reference/builtin-types/struct.md
  docs/csharp/language-reference/operators/equality-operators.md
  docs/csharp/whats-new/csharp-9.md
Labels: csharp-whats-new/tech, dotnet-csharp/prod

#23700 MessagePack breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/assemblies-removed-from-shared-framework.md
  docs/core/compatibility/aspnet-core/6.0/blazor-eventargstype-property-replaced.md
  docs/core/compatibility/aspnet-core/6.0/blazor-parameter-name-changed-in-method.md
  docs/core/compatibility/aspnet-core/6.0/kestrel-log-message-attributes-changed.md
  docs/core/compatibility/aspnet-core/6.0/messagepack-library-change.md
  docs/core/compatibility/aspnet-core/6.0/middleware-ambiguous-https-ports-exception.md
  docs/core/compatibility/aspnet-core/6.0/nullable-reference-type-annotations-changed.md
  docs/core/compatibility/aspnet-core/6.0/obsolete-removed-apis.md
  docs/core/compatibility/aspnet-core/6.0/razor-engine-apis-obsolete.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#23507 Clarify templates folder structure
  docs/core/tutorials/cli-templates-create-template-pack.md
Labels: dotnet-fundamentals/prod

#23692 Added an include file detailing `Dispose` and `DisposeAsync` lifetime bits
  docs/standard/garbage-collection/implementing-dispose.md
  docs/standard/garbage-collection/implementing-disposeasync.md
  docs/standard/garbage-collection/includes/disposables-and-dependency-injection.md
Labels: dotnet-fundamentals/prod

#23719 Update Cuda version
  docs/machine-learning/how-to-guides/install-gpu-model-builder.md
Labels: dotnet-ml/prod

#23716 Update standard-numeric-format-strings.md
  docs/standard/base-types/standard-numeric-format-strings.md
Labels: dotnet-fundamentals/prod

#23720 Breaking change for razor
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/blazor-eventargstype-property-replaced.md
  docs/core/compatibility/aspnet-core/6.0/blazor-parameter-name-changed-in-method.md
  docs/core/compatibility/aspnet-core/6.0/razor-compiler-doesnt-produce-views-assembly.md
  docs/core/compatibility/aspnet-core/6.0/razor-engine-apis-obsolete.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#23737 Link to System.Text.Json threat model doc
  docs/standard/serialization/system-text-json-overview.md
Labels: dotnet-fundamentals/prod

#23745 Conditional operator: moved the example to the beginning of the article
  docs/csharp/language-reference/operators/conditional-operator.md
  docs/csharp/language-reference/operators/snippets/shared/ConditionalOperator.cs
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23743 Note that integral literal values are positive
  docs/csharp/language-reference/builtin-types/integral-numeric-types.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23755 Fixed typo in link
  docs/fundamentals/code-analysis/style-rules/expression-bodied-members.md
Labels: dotnet-fundamentals/prod

#23752 Fix example of CA1034
  docs/fundamentals/code-analysis/quality-rules/ca1034.md
Labels: dotnet-fundamentals/prod

#23741 Update how-to-configure-an-app-to-support-net-framework-4-or-4-5.md
  docs/framework/migration-guide/how-to-configure-an-app-to-support-net-framework-4-or-4-5.md
Labels: dotnet-appcompat/tech, dotnet-framework/prod

#23747 Update ide0073.md
  docs/fundamentals/code-analysis/style-rules/ide0073.md
Labels: dotnet-fundamentals/prod

#23758 Address issue defined in #23717
  docs/core/extensions/options-library-authors.md
  docs/core/extensions/snippets/configuration/options-configparam/ServiceCollectionExtensions.cs
Labels: dotnet-fundamentals/prod

#23751 Update .NET library guidance with net5.0 targeting
  docs/standard/library-guidance/cross-platform-targeting.md
Labels: dotnet-fundamentals/prod

#23750 Update object-oriented-programming.md
  docs/csharp/tutorials/intro-to-csharp/object-oriented-programming.md
Labels: csharp-fundamentals/tech, csharp-get-started/tech, dotnet-csharp/prod

#23760 Clarify definition style in code snippet
  docs/fsharp/language-reference/interfaces.md
Labels: dotnet-fsharp/prod

#23771 Updates index page of DevOps for ASP.NET Core Developers eBook
  docs/architecture/devops-for-aspnet-developers/index.md
  docs/architecture/devops-for-aspnet-developers/media/cover-large.png
Labels: dotnet-architecture/prod

#23773 Document more <see> and <seealso> options
  docs/csharp/programming-guide/xmldoc/see.md
  docs/csharp/programming-guide/xmldoc/seealso.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#23761 Update disable-enable.md
  docs/visual-basic/language-reference/directives/disable-enable.md
Labels: dotnet-visualbasic/prod

#23757 Change menu name to match product updates
  docs/csharp/tutorials/intro-to-csharp/introduction-to-classes.md
Labels: csharp-fundamentals/tech, csharp-get-started/tech, dotnet-csharp/prod

#23735 Add not null example
  docs/csharp/language-reference/attributes/nullable-analysis.md
  docs/csharp/language-reference/attributes/snippets/NullableAttributes.cs
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23649 Add note about being thread-safe
  docs/standard/serialization/system-text-json-configure-options.md
Labels: dotnet-fundamentals/prod

#23239 Update telemetry data points
  docs/core/tools/telemetry.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#23775 Added details about `IServiceScopeFactory` and scoped service lifetimes within `IHostedService`
  docs/core/extensions/access-by-line.txt
  docs/core/extensions/dependency-injection-usage.md
  docs/core/extensions/dependency-injection.md
  docs/core/extensions/snippets/configuration/worker-scope/AutoIncrementingIdProvider.cs
  docs/core/extensions/snippets/configuration/worker-scope/IObjectIdProvider.cs
  docs/core/extensions/snippets/configuration/worker-scope/IObjectProcessor.cs
  docs/core/extensions/snippets/configuration/worker-scope/IObjectRelay.cs
  docs/core/extensions/snippets/configuration/worker-scope/IObjectStore.cs
  docs/core/extensions/snippets/configuration/worker-scope/ObjectGraph.cs
  docs/core/extensions/snippets/configuration/worker-scope/ObjectWorkerService.cs
  docs/core/extensions/snippets/configuration/worker-scope/Program.cs
  docs/core/extensions/snippets/configuration/worker-scope/Worker.cs
  docs/core/extensions/snippets/configuration/worker-scope/worker-scope.csproj
Labels: dotnet-fundamentals/prod

#23779 Remove Win 9X/2000/NT references
  docs/csharp/language-reference/compiler-options/advanced.md
  docs/framework/data/adonet/secure-data-access.md
  docs/framework/debug-trace-profile/runtime-profiling.md
  docs/framework/network-programming/ntlm-and-kerberos-authentication.md
  docs/framework/tools/ngen-exe-native-image-generator.md
  docs/framework/tools/storeadm-exe-isolated-storage-tool.md
  docs/framework/tools/tlbexp-exe-type-library-exporter.md
  docs/framework/unmanaged-api/debugging/icordebug-interface.md
  docs/framework/unmanaged-api/debugging/icordebugremotetarget-interface.md
  docs/framework/unmanaged-api/hosting/corexemain-function.md
  docs/framework/unmanaged-api/metadata/corpinvokemap-enumeration.md
  docs/framework/wcf/diagnostics/wmi/index.md
  docs/framework/wcf/feature-details/how-to-obtain-a-certificate-wcf.md
  docs/framework/wcf/feature-details/security-concepts-used-in-wcf.md
  docs/framework/wcf/samples/authorization-policy.md
  docs/framework/windows-services/how-to-debug-windows-service-applications.md
  docs/framework/windows-services/how-to-start-services.md
  docs/framework/windows-services/index.md
  docs/framework/windows-services/troubleshooting-service-application-wont-install.md
  docs/standard/security/principal-and-identity-objects.md
  docs/standard/serialization/introducing-xml-serialization.md
  docs/visual-basic/developing-apps/programming/computer-resources/how-to-show-available-serial-ports.md
  docs/visual-basic/language-reference/data-types/ulong-data-type.md
  docs/visual-basic/language-reference/statements/declare-statement.md
  docs/visual-basic/reference/command-line-compiler/subsystemversion.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod, dotnet-data/tech, dotnet-framework/prod, dotnet-fundamentals/prod, dotnet-networking/tech, dotnet-security/tech, dotnet-visualbasic/prod, dotnet-wcf/tech, dotnet/prod

#23768 fix note syntax
  docs/azure/logging.md
Labels: dotnet-azure/prod

#23222 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#23601 Invalid path chars breaking change
  docs/core/compatibility/2.1.md
  docs/core/compatibility/corefx.md
  includes/core-changes/corefx/2.1/path-apis-dont-throw-exception-for-invalid-paths.md
Labels: dotnet-fundamentals/prod

#23759 Add how to reset the experimental VS instance
  docs/csharp/roslyn-sdk/tutorials/how-to-write-csharp-analyzer-code-fix.md
Labels: csharp-roslyn/tech, dotnet-csharp/prod

#23787 Added the links to the headers
  docs/csharp/whats-new/csharp-9.md
Labels: csharp-whats-new/tech, dotnet-csharp/prod

#23777 Updated with links to DL vs ML article
  docs/machine-learning/tutorials/image-classification-api-transfer-learning.md
  docs/machine-learning/tutorials/image-classification.md
  docs/machine-learning/tutorials/object-detection-model-builder.md
  docs/machine-learning/tutorials/object-detection-onnx.md
Labels: dotnet-ml/prod

#23798 Removing duplicate model
  docs/machine-learning/tutorials/image-classification.md
Labels: dotnet-ml/prod

#23797 Update cpp-cli.md
  docs/core/porting/cpp-cli.md
Labels: dotnet-fundamentals/prod

#23778 Update best-practices.md
  docs/standard/native-interop/best-practices.md
Labels: dotnet-fundamentals/prod

#23793 Match the article text with the code example
  docs/csharp/whats-new/tutorials/top-level-statements.md
Labels: csharp-whats-new/tech, dotnet-csharp/prod

#23800 Create a solution file for the NamedPipeStream_ImpersonationSample
  docs/standard/io/how-to-use-named-pipes-for-network-interprocess-communication.md
  docs/standard/io/snippets/how-to-use-named-pipes-for-network-interprocess-communication/csharp/NamedPipeClientStream_ImpersonationSample/NamedPipeClientStream_ImpersonationSample.csproj
  docs/standard/io/snippets/how-to-use-named-pipes-for-network-interprocess-communication/csharp/NamedPipeClientStream_ImpersonationSample/Program.cs
  docs/standard/io/snippets/how-to-use-named-pipes-for-network-interprocess-communication/csharp/NamedPipeServerStream_ImpersonationSample/NamedPipeServerStream_ImpersonationSample.csproj
  docs/standard/io/snippets/how-to-use-named-pipes-for-network-interprocess-communication/csharp/NamedPipeServerStream_ImpersonationSample/Program.cs
  docs/standard/io/snippets/how-to-use-named-pipes-for-network-interprocess-communication/csharp/NamedPipeStream_ImpersonationSample.sln
Labels: dotnet-fundamentals/prod

#23801 Correct interface implemented name
  docs/csharp/programming-guide/concepts/covariance-contravariance/using-variance-in-interfaces-for-generic-collections.md
Labels: csharp-advanced-concepts/tech, dotnet-csharp/prod

#23767 logging improvements for dotnet nuget verify command
  docs/core/tools/dotnet-nuget-verify.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#23817 Update definitions
  docs/csharp/tutorials/intro-to-csharp/object-oriented-programming.md
Labels: csharp-fundamentals/tech, csharp-get-started/tech, dotnet-csharp/prod

#23809 C# reference: revised the switch expression article
  docs/csharp/language-reference/operators/snippets/shared/SwitchExpressions.cs
  docs/csharp/language-reference/operators/switch-expression.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23818 Update Containerized Lifecycle docs to add in GitHub Actions
  docs/architecture/containerized-lifecycle/Microsoft-platform-tools-containerized-apps/index.md
  docs/architecture/containerized-lifecycle/docker-devops-workflow/docker-application-outer-loop-devops-workflow.md
  docs/architecture/containerized-lifecycle/docker-devops-workflow/index.md
  docs/architecture/containerized-lifecycle/index.md
Labels: containerized-lifecycle/tech, dotnet-architecture/prod

#23821 Added a missing "s"
  docs/csharp/delegates-strongly-typed.md
Labels: dotnet-csharp/prod

#23796 Update ms.topic for core folder
  docfx.json
  docs/core/compatibility/breaking-changes.md
  docs/core/compatibility/categories.md
  docs/core/compatibility/index.md
  docs/core/deploying/trimming-options.md
  docs/core/diagnostics/dotnet-counters.md
  docs/core/diagnostics/dotnet-dump.md
  docs/core/diagnostics/dotnet-gcdump.md
  docs/core/diagnostics/dotnet-sos.md
  docs/core/diagnostics/dotnet-symbol.md
  docs/core/diagnostics/dotnet-trace.md
  docs/core/diagnostics/sos-debugging-extension.md
  docs/core/extensions/configuration-providers.md
  docs/core/get-started.md
  docs/core/porting/net-framework-tech-unavailable.md
  docs/core/rid-catalog.md
  docs/core/testing/selective-unit-tests.md
Labels: dotnet-fundamentals/prod

#23802 Update ms.topic for fundamentals folder
  docfx.json
  docs/fundamentals/code-analysis/code-quality-rule-options.md
  docs/fundamentals/code-analysis/code-style-rule-options.md
  docs/fundamentals/code-analysis/configuration-options.md
  docs/fundamentals/code-analysis/suppress-warnings.md
Labels: dotnet-fundamentals/prod

#23831 Added reference to Attribute parameter types
  docs/csharp/programming-guide/concepts/attributes/index.md
  docs/standard/attributes/writing-custom-attributes.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod, dotnet-fundamentals/prod

#23833 move samples and create vbproj and sln files
  docs/standard/io/how-to-use-named-pipes-for-network-interprocess-communication.md
  docs/standard/io/snippets/how-to-use-named-pipes-for-network-interprocess-communication/vb/NamedPipeClientStream_ImpersonationSample/NamedPipeClientStream_ImpersonationSample.vbproj
  docs/standard/io/snippets/how-to-use-named-pipes-for-network-interprocess-communication/vb/NamedPipeClientStream_ImpersonationSample/program.vb
  docs/standard/io/snippets/how-to-use-named-pipes-for-network-interprocess-communication/vb/NamedPipeServerStream_ImpersonationSample/NamedPipeServerStream_ImpersonationSample.vbproj
  docs/standard/io/snippets/how-to-use-named-pipes-for-network-interprocess-communication/vb/NamedPipeServerStream_ImpersonationSample/program.vb
  docs/standard/io/snippets/how-to-use-named-pipes-for-network-interprocess-communication/vb/NamedPipeStream_ImpersonationSample.sln
Labels: dotnet-fundamentals/prod

#23824 Document TFM requirement for analyzers
  docs/csharp/roslyn-sdk/tutorials/how-to-write-csharp-analyzer-code-fix.md
Labels: csharp-roslyn/tech, dotnet-csharp/prod

#23839 Custom config provider
  docs/core/extensions/custom-configuration-provider.md
  docs/core/extensions/snippets/configuration/custom-provider/Extensions/ConfigurationBuilderExtensions.cs
  docs/core/extensions/snippets/configuration/custom-provider/Program.cs
  docs/core/extensions/snippets/configuration/custom-provider/Providers/EntityConfigurationContext.cs
  docs/core/extensions/snippets/configuration/custom-provider/Providers/EntityConfigurationProvider.cs
  docs/core/extensions/snippets/configuration/custom-provider/Providers/EntityConfigurationSource.cs
  docs/core/extensions/snippets/configuration/custom-provider/WidgetOptions.cs
  docs/core/extensions/snippets/configuration/custom-provider/custom-provider.csproj
Labels: dotnet-fundamentals/prod

#23766 Document new linker options and trimming libraries
  docs/core/deploying/prepare-libraries-for-trimming.md
  docs/core/deploying/trimming-options.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#23843 Fix typo in global-json.md
  docs/core/tools/global-json.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#23816 Fix a bug in the encrypt sample, that was causing the decrypt to fail
  docs/standard/security/decrypting-data.md
  docs/standard/security/encrypting-data.md
  docs/standard/security/snippets/decrypting-data/csharp/aes-decrypt.cs
  docs/standard/security/snippets/decrypting-data/csharp/aesdecrypt.csproj
  docs/standard/security/snippets/decrypting-data/vb/aes-decrypt.vb
  docs/standard/security/snippets/decrypting-data/vb/aesdecrypt.vbproj
  docs/standard/security/snippets/encrypting-data/csharp/aes-encrypt.cs
  docs/standard/security/snippets/encrypting-data/csharp/aesencrypt.csproj
  docs/standard/security/snippets/encrypting-data/vb/aes-encrypt.vb
  docs/standard/security/snippets/encrypting-data/vb/aesencrypt.vbproj
Labels: dotnet-fundamentals/prod, dotnet-security/tech, dotnet/prod

#23850 .NET 5 --> .NET 5+
  docs/standard/choosing-core-framework-server.md
Labels: dotnet-fundamentals/prod

#23808 Add IL3002
  docs/fundamentals/code-analysis/quality-rules/il3002.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/publish-warnings.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#23826 Document IDE0140
  docs/fundamentals/code-analysis/style-rules/ide0140.md
  docs/fundamentals/code-analysis/style-rules/index.md
  docs/fundamentals/code-analysis/style-rules/unnecessary-code-rules.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#23765 Remove duplicated word
  docs/architecture/modernize-desktop/migrate-modern-applications.md
Labels: dotnet-architecture/prod

#22851 Document --show-child-io flag for dotnet-trace
  docs/core/diagnostics/dotnet-trace.md
Labels: dotnet-fundamentals/prod

#23845 Move virtual keyword verbiage
  docs/core/compatibility/index.md
Labels: dotnet-fundamentals/prod

#23861 Update index.md
  docs/csharp/programming-guide/arrays/index.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#23840 Note creation of intermediate strings
  docs/csharp/how-to/concatenate-multiple-strings.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#23862 Update configuration.md
  docs/core/extensions/configuration.md
Labels: dotnet-fundamentals/prod

#23867 Fix typo + Acrolinx
  docs/architecture/microservices/secure-net-microservices-web-applications/index.md
Labels: dotnet-architecture/prod, microservices/tech

#23865 Make list formatting consistent
  docs/csharp/language-reference/preprocessor-directives.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23854 Updated async-in-depth with HttpClient best practice.
  docs/standard/async-in-depth.md
Labels: dotnet-fundamentals/prod

#23791 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#23870 Java client breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/signalr-java-client-updated.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#23869 AddDataAnnotationsValidation breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/adddataannotationsvalidation-obsolete.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#23881 PreserveCompilationContext breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/preservecompilationcontext-not-set-by-default.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#23855 Add System.Half
  docs/standard/base-types/custom-numeric-format-strings.md
  docs/standard/base-types/standard-numeric-format-strings.md
  docs/standard/class-library-overview.md
  docs/standard/framework-libraries.md
  docs/standard/language-independence-and-language-independent-components.md
  docs/standard/language-independence.md
  docs/standard/numerics.md
  samples/snippets/standard/base-types/format-strings/csharp/g17.cs
  samples/snippets/standard/base-types/format-strings/vb/g17.vb
Labels: dotnet-fundamentals/prod

#23892 Replace with relative links
  docs/architecture/porting-existing-aspnet-apps/configuration-differences.md
  docs/architecture/porting-existing-aspnet-apps/more-migration-scenarios.md
  docs/standard/garbage-collection/includes/disposables-and-dependency-injection.md
  docs/standard/library-guidance/cross-platform-targeting.md
Labels: dotnet-architecture/prod, dotnet-fundamentals/prod

#23882 Acrolinx - earth day
  docs/standard/async-in-depth.md
Labels: dotnet-fundamentals/prod

#23898 Always add a pipe in try/with.
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod

#23887 Ca1841
  docs/fundamentals/code-analysis/quality-rules/ca1841.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/performance-warnings.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#23903 Change metadata name (`1) to the readable <T> format
  docs/fundamentals/code-analysis/quality-rules/ca1841.md
Labels: dotnet-fundamentals/prod

#23583 Update Vsix project to net472
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Vsix/MakeConst.Vsix.csproj
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Vsix/source.extension.vsixmanifest
Labels: csharp-roslyn/tech, dotnet-csharp/prod

#23901 Recovery Singleton service disposed ahead of time in exception
  docs/core/extensions/snippets/configuration/console-di-disposable/Program.cs
Labels: dotnet-fundamentals/prod

#23895 Update Containerized Lifecycle docs to add in GitHub Actions (#23818)
  docs/architecture/containerized-lifecycle/Microsoft-platform-tools-containerized-apps/index.md
  docs/architecture/containerized-lifecycle/docker-devops-workflow/docker-application-outer-loop-devops-workflow.md
  docs/architecture/containerized-lifecycle/docker-devops-workflow/index.md
  docs/architecture/containerized-lifecycle/index.md
Labels: containerized-lifecycle/tech, dotnet-architecture/prod

#23884 Moved and revised the is operator article
  .openpublishing.redirection.json
  docs/csharp/discards.md
  docs/csharp/language-reference/keywords/index.md
  docs/csharp/language-reference/keywords/is.md
  docs/csharp/language-reference/operators/is.md
  docs/csharp/language-reference/operators/patterns.md
  docs/csharp/language-reference/operators/snippets/shared/IsOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/Program.cs
  docs/csharp/language-reference/operators/type-testing-and-cast.md
  docs/csharp/toc.yml
  docs/csharp/whats-new/csharp-7.md
  docs/csharp/whats-new/csharp-8.md
  docs/fundamentals/code-analysis/style-rules/ide0080.md
  samples/snippets/csharp/language-reference/keywords/is/is-const-pattern11.cs
  samples/snippets/csharp/language-reference/keywords/is/is-const-pattern7.cs
  samples/snippets/csharp/language-reference/keywords/is/is-type-pattern10.cs
  samples/snippets/csharp/language-reference/keywords/is/is-type-pattern5.cs
  samples/snippets/csharp/language-reference/keywords/is/is-type-pattern6.cs
  samples/snippets/csharp/language-reference/keywords/is/is-type-pattern9.cs
  samples/snippets/csharp/language-reference/keywords/is/is-var-pattern8.cs
Labels: csharp-language-reference/tech, csharp-whats-new/tech, dotnet-csharp/prod, dotnet-fundamentals/prod

#23907 Fix libomp install on macos
  docs/machine-learning/how-to-guides/install-extra-dependencies.md
Labels: dotnet-ml/prod

#23853 Replace Publish category in documentation for SingleFile
  .openpublishing.redirection.json
  docs/fundamentals/code-analysis/categories.md
  docs/fundamentals/code-analysis/quality-rules/singlefile-warnings.md
  docs/fundamentals/toc.yml
Labels: doc-enhancement, dotnet-fundamentals/prod

#23909 Exception handling breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/signalr-java-client-updated.md
  docs/core/compatibility/core-libraries/6.0/hosting-exception-handling.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#23913 DateTime converter for Unix epoch format
  docs/standard/datetime/snippets/system-text-json-support/csharp/computing-with-jsondocument-error/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/computing-with-jsondocument-error/computing-with-jsondocument-error.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/computing-with-jsondocument-valid/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/computing-with-jsondocument-valid/computing-with-jsondocument-valid.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/custom-reading-with-utf8jsonreader/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/custom-reading-with-utf8jsonreader/custom-reading-with-utf8jsonreader.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/custom-writing-with-utf8jsonwriter/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/custom-writing-with-utf8jsonwriter/custom-writing-with-utf8jsonwriter.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/datetime-converter-examples/example1/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/datetime-converter-examples/example1/example1.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/datetime-converter-examples/example2/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/datetime-converter-examples/example2/example2.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/datetime-converter-examples/example3/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/datetime-converter-examples/example3/example3.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/deserializing-with-jsonserializer-error/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/deserializing-with-jsonserializer-error/deserializing-with-jsonserializer-error.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/deserializing-with-jsonserializer-valid/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/deserializing-with-jsonserializer-valid/deserializing-with-jsonserializer-valid.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/reading-with-utf8jsonreader-error/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/reading-with-utf8jsonreader-error/reading-with-utf8jsonreader-error.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/reading-with-utf8jsonreader-valid/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/reading-with-utf8jsonreader-valid/reading-with-utf8jsonreader-valid.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/serializing-with-jsonserializer/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/serializing-with-jsonserializer/serializing-with-jsonserializer.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/writing-with-utf8jsonwriter/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/writing-with-utf8jsonwriter/writing-with-utf8jsonwriter.csproj
  docs/standard/datetime/system-text-json-support.md
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/CustomConverterUnixEpochDate.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/CustomConverterUnixEpochDateNoZone.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/Program.cs
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
Labels: dotnet-fundamentals/prod

#23897 Add guidance for long if expression in fsharp.
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod

#23927 Fix typo in date format name
  docs/standard/datetime/system-text-json-support.md
Labels: dotnet-fundamentals/prod

#23924 Clarified group clause section of the page query-expression-basics.md
  docs/csharp/linq/query-expression-basics.md
Labels: csharp-linq/tech, dotnet-csharp/prod

#23911 Update nint/nuint
  docs/standard/numerics.md
Labels: dotnet-fundamentals/prod

#23906 --prerelease available since .NET 5 SDK
  docs/core/tools/dotnet-add-package.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#23890 Update additional-resources.md
  docs/visual-basic/getting-started/additional-resources.md
Labels: dotnet-visualbasic/prod

#23928 Updates images in containerized-lifecycle ebook
  docs/architecture/containerized-lifecycle/docker-devops-workflow/media/docker-application-outer-loop-devops-workflow/cd-deploy-to-orchestrators.png
  docs/architecture/containerized-lifecycle/docker-devops-workflow/media/docker-application-outer-loop-devops-workflow/continuous-integration-steps.png
  docs/architecture/containerized-lifecycle/docker-devops-workflow/media/docker-application-outer-loop-devops-workflow/deploy-app-containers-to-docker-host-environments.png
  docs/architecture/containerized-lifecycle/docker-devops-workflow/media/docker-application-outer-loop-devops-workflow/docker-push-custom-images.png
  docs/architecture/containerized-lifecycle/docker-devops-workflow/media/docker-application-outer-loop-devops-workflow/overview-dev-ops-outter-loop-workflow.png
  docs/architecture/containerized-lifecycle/index.md
  docs/architecture/containerized-lifecycle/media/devops-book-cover-large-we-old.png
  docs/architecture/containerized-lifecycle/media/devops-book-cover-large-we.png
Labels: containerized-lifecycle/tech, dotnet-architecture/prod

#23836 Update infrastructure-as-code.md
  docs/architecture/cloud-native/infrastructure-as-code.md
Labels: cloud-native/tech, dotnet-architecture/prod

#23938 Remove confusing sentence
  docs/visual-basic/programming-guide/language-features/data-types/structures-and-classes.md
Labels: dotnet-visualbasic/prod

#20310 WebRequest deprecation
  docs/core/compatibility/6.0.md
  docs/core/compatibility/networking/6.0/webrequest-deprecated.md
  docs/core/compatibility/toc.yml
Labels: dotnet-core/prod

#23915 Add new syslib warnings
  docs/core/compatibility/syslib-obsoletions.md
  docs/core/compatibility/syslib-warnings/syslib0013.md
  docs/core/compatibility/syslib-warnings/syslib0014.md
  docs/core/compatibility/syslib-warnings/syslib0015.md
  docs/core/compatibility/syslib-warnings/syslib0016.md
  docs/core/compatibility/syslib-warnings/syslib0019.md
  docs/core/compatibility/syslib-warnings/syslib0020.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#23945 Add note on .NET Framework install about retired versions
  docs/framework/deployment/deploying-the-net-framework.md
  docs/framework/deployment/deployment-guide-for-developers.md
  docs/framework/install/guide-for-developers.md
  includes/net-framework-retired-versions.md
Labels: dotnet-framework/prod, dotnet-install/tech

#23926 Update cor-prf-suspend-reason-enumeration.md
  docs/framework/unmanaged-api/profiling/cor-prf-suspend-reason-enumeration.md
Labels: dotnet-framework/prod

#23899 memory-t-usage-guidelines.md: reference to MemoryPool.Dispose should be IMemoryOwner.Dispose
  docs/standard/memory-and-spans/memory-t-usage-guidelines.md
Labels: dotnet-fundamentals/prod

#23953 Change output file name.
  docs/csharp/language-reference/compiler-options/errors-warnings.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23947 Update pattern introduction
  docs/csharp/pattern-matching.md
  docs/csharp/snippets/patterns/OrderProcessor.cs
  docs/csharp/snippets/patterns/Program.cs
  docs/csharp/snippets/patterns/Simulation.cs
  docs/csharp/snippets/patterns/patterns.csproj
  samples/snippets/csharp/PatternMatching/GeometricUtilities.cs
  samples/snippets/csharp/PatternMatching/Program.cs
  samples/snippets/csharp/PatternMatching/Shapes.cs
Labels: dotnet-csharp/prod

#23942 Edit pass on REST tutorial
  docs/csharp/tutorials/console-webapiclient.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#23959 Fix table formatting
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
Labels: dotnet-fundamentals/prod

#23956 Use HYPHEN-MINUS instead of EN DASH in dotnet nuget command example
  docs/core/tools/dotnet-nuget-locals.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#23941 C# operators: updated placeholder descriptions in metadata
  docs/csharp/language-reference/operators/addition-operator.md
  docs/csharp/language-reference/operators/assignment-operator.md
  docs/csharp/language-reference/operators/await.md
  docs/csharp/language-reference/operators/conditional-operator.md
  docs/csharp/language-reference/operators/default.md
  docs/csharp/language-reference/operators/delegate-operator.md
  docs/csharp/language-reference/operators/index.md
  docs/csharp/language-reference/operators/is.md
  docs/csharp/language-reference/operators/lambda-expressions.md
  docs/csharp/language-reference/operators/lambda-operator.md
  docs/csharp/language-reference/operators/nameof.md
  docs/csharp/language-reference/operators/namespace-alias-qualifier.md
  docs/csharp/language-reference/operators/new-operator.md
  docs/csharp/language-reference/operators/null-coalescing-operator.md
  docs/csharp/language-reference/operators/null-forgiving.md
  docs/csharp/language-reference/operators/patterns.md
  docs/csharp/language-reference/operators/sizeof.md
  docs/csharp/language-reference/operators/stackalloc.md
  docs/csharp/language-reference/operators/subtraction-operator.md
  docs/csharp/language-reference/operators/switch-expression.md
  docs/csharp/language-reference/operators/true-false-operators.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23968 add misc compiler errors and warnings
  docs/breadcrumb/toc.yml
  docs/csharp/language-reference/compiler-messages/index.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/cs3024.md
  docs/csharp/toc.yml
Labels: csharp-diagnostics/tech, csharp-language-reference/tech, dotnet-csharp/prod

#23970 Set ms.topic to how-to
  docfx.json
  docs/framework/app-domains/build-multifile-assembly.md
  docs/framework/app-domains/build-single-file-assembly.md
  docs/framework/app-domains/install-assembly-into-gac.md
  docs/framework/data/adonet/implement-copytodatatable-where-type-not-a-datarow.md
  docs/framework/data/wcf/attach-an-existing-entity-to-dc-wcf-data.md
  docs/framework/data/wcf/bind-data-to-wpf-elements-wcf-data-services.md
  docs/framework/data/wcf/create-a-data-service-using-an-adonet-ef-data-wcf.md
  docs/framework/data/wcf/create-a-data-service-using-linq-to-sql-wcf.md
  docs/framework/data/wcf/create-a-data-service-using-rp-wcf-data-services.md
  docs/framework/data/wcf/create-an-asynchronous-wpf-application-wcf-data-services.md
  docs/framework/data/wcf/number-of-entities-returned-by-a-query-wcf.md
  docs/framework/data/wcf/specify-client-creds-for-a-data-service-request-wcf.md
  docs/framework/interop/configure-net-framework-based-com-components-for-reg.md
  docs/framework/reflection-and-codedom/get-type-member-information.md
  docs/framework/wcf/extending/change-cryptographic-provider-x509-certificate-private-key.md
  docs/framework/wcf/feature-details/client-app-discovery-proxy-to-find-a-service.md
  docs/framework/wcf/feature-details/config-wcf-service-with-aspnet-web-service.md
  docs/framework/wcf/feature-details/config-workflow-unhandled-exception-workflowservicehost.md
  docs/framework/wcf/feature-details/create-a-service-arbitrary-data-using-wcf.md
  docs/framework/wcf/feature-details/discoverable-service-that-registers-with-the-discovery-proxy.md
  docs/framework/wcf/feature-details/http-post-and-http-get-requests-for-aspnet-ajax-endpoints.md
  docs/framework/wcf/feature-details/service-returns-arbitrary-data-using-the-wcf-web.md
  docs/framework/wcf/feature-details/specify-the-certificate-authority-chain-verify-signatures-wcf.md
  docs/framework/wcf/feature-details/startup-time-of-wcf-client-applications-using-the-xmlserializer.md
  docs/framework/wcf/feature-details/use-the-wcf-service-moniker-without-registration.md
  docs/framework/wcf/host-a-wcf-service-net-framework-3-5-iis--net-framework-4.md
Labels: dotnet-data/tech, dotnet-framework/prod, dotnet-wcf/tech

#23976 Update link to sample
  docs/csharp/tutorials/console-webapiclient.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#23980 Fix typo
  docs/csharp/language-reference/compiler-options/security.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23975 Update Override and Method Selection section
  docs/csharp/programming-guide/classes-and-structs/versioning-with-the-override-and-new-keywords.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#23982 Simplify example
  docs/csharp/language-reference/operators/snippets/shared/NullForgivingOperator.cs
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23974 Rearrange columns
  docs/csharp/programming-guide/xmldoc/recommended-tags-for-documentation-comments.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#23986 dotnet run doesn't respect /property arguments
  docs/core/tools/dotnet-run.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#23969 Add unmanaged and managed function pointer call keywords
  docs/csharp/language-reference/keywords/index.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23973 Add discussions of unconstrained type parameters
  docs/csharp/language-reference/keywords/default.md
  docs/csharp/language-reference/keywords/snippets/GenericWhereConstraints.cs
  docs/csharp/language-reference/keywords/where-generic-type-constraint.md
  docs/csharp/programming-guide/generics/constraints-on-type-parameters.md
Labels: csharp-fundamentals/tech, csharp-language-reference/tech, dotnet-csharp/prod

#23989 configure-apps/file-schema: set ms.topic as reference
  docfx.json
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/activityscheduledqueries.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/activityscheduledquery.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/activitystatequeries.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/activitystatequery.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/add-of-participants.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/additional-managed-reference.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/argument.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/arguments.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/behavior-of-servicebehaviors-of-workflow.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/behaviors-of-workflow.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/bookmarkresumptionqueries.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/bookmarkresumptionquery.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/bufferreceive.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/cancelrequestedqueries.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/cancelrequestedquery.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/channelsettings.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/customtrackingqueries.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/customtrackingquery.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/etwtracking.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/factorysettings.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/faultpropagationqueries.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/faultpropagationquery.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/index.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/microsoft-visualstudio-activities-asr-clientactivitybuilder-build.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/microsoft-visualstudio-activities-asr-clientactivitybuilder-ctor.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/microsoft-visualstudio-activities-asr-clientactivitybuilder.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/participants.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/sendmessagechannelcache.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/servicebehaviors-of-workflow.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/sqlworkflowinstancestore.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/state-of-states.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/state.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/states-of-activitystatequery.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/states.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/system-servicemodel-of-workflow.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/tracking.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/trackingprofile.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/using-annotation-in-queries.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/variable.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/variables.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/workflow.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/workflowidle.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/workflowinstancemanagement.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/workflowinstancequeries.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/workflowinstancequery.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/workflowunhandledexception.md
Labels: dotnet-framework/prod

#23988 Clarify is null in linq
  docs/csharp/linq/handle-null-values-in-query-expressions.md
Labels: csharp-linq/tech, dotnet-csharp/prod

#23990 add that records can have methods
  docs/csharp/methods.md
Labels: dotnet-csharp/prod

#23992 Fix ms.topic for debug-trace-profile folder
  docfx.json
  docs/framework/debug-trace-profile/performance-counters.md
Labels: dotnet-framework/prod
