Repository dotnet/docs, pull requests merged in 2021-03, with the labels that each got.

#23045 C# patterns reference: constant and discard patterns
  docs/csharp/language-reference/operators/patterns.md
  docs/csharp/language-reference/operators/snippets/patterns/ConstantPattern.cs
  docs/csharp/language-reference/operators/snippets/patterns/DeclarationAndTypePattern.cs
  docs/csharp/language-reference/operators/snippets/patterns/DiscardPattern.cs
  docs/csharp/language-reference/operators/snippets/patterns/Program.cs
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#22916 update metadata
  docs/csharp/programming-guide/types/how-to-convert-a-string-to-a-number.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#22942 update links to ECMA standards
  docs/csharp/language-reference/compiler-options/langversion-compiler-option.md
  docs/csharp/language-reference/index.md
  docs/standard/assembly/file-format.md
  docs/standard/assembly/view-contents.md
  docs/standard/components.md
  docs/standard/language-independence-and-language-independent-components.md
  docs/standard/language-independence.md
  docs/visual-basic/language-reference/data-types/sbyte-data-type.md
  docs/visual-basic/language-reference/data-types/uinteger-data-type.md
  docs/visual-basic/language-reference/data-types/ulong-data-type.md
  docs/visual-basic/language-reference/data-types/ushort-data-type.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod, dotnet-fundamentals/prod, dotnet-visualbasic/prod

#22996 clarify defensive copies
  docs/csharp/language-reference/keywords/in-parameter-modifier.md
  docs/csharp/write-safe-efficient-code.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23001 remove discussion of Task-returning non-async methods
  docs/csharp/programming-guide/classes-and-structs/local-functions.md
  docs/csharp/programming-guide/classes-and-structs/snippets/local-functions/AsyncWithLocal.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/local-functions/AsyncWithoutLocal.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/local-functions/Program.cs
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#23007 How to compare strings: correct the list of ordinal-comparison operations
  docs/csharp/how-to/compare-strings.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#23033 fix typo
  docs/csharp/tutorials/generate-consume-asynchronous-stream.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#23038 Adding hyperlink to reference types
  docs/csharp/language-reference/builtin-types/default-values.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23047 fix wrong URL
  docs/csharp/programming-guide/main-and-command-args/main-return-values.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#23077 Update additional-resources.md
  docs/visual-basic/getting-started/additional-resources.md
Labels: dotnet-visualbasic/prod

#23095 Fix non compilable code
  docs/core/diagnostics/distributed-tracing.md
Labels: dotnet-fundamentals/prod

#23074 Remove dotnet-trace ps from memory leak tutorial
  docs/core/diagnostics/debug-memory-leak.md
Labels: dotnet-fundamentals/prod

#22828 Add section about EF Core events in well known events doc
  docs/core/diagnostics/well-known-event-providers.md
Labels: dotnet-fundamentals/prod

#22909 Update download path
  docs/architecture/dapr-for-net-developers/getting-started.md
  docs/core/additional-tools/uninstall-tool.md
  docs/core/diagnostics/debug-deadlock.md
  docs/core/diagnostics/debug-highcpu.md
  docs/core/diagnostics/debug-memory-leak.md
  docs/core/diagnostics/dotnet-symbol.md
  docs/core/diagnostics/event-counter-perf.md
  docs/core/extensions/dependency-injection-usage.md
  docs/core/get-started.md
  docs/core/install/linux-scripted-manual.md
  docs/core/install/localized-intellisense.md
  docs/core/install/macos.md
  docs/core/install/windows.md
  docs/core/introduction.md
  docs/core/releases-and-support.md
  docs/core/tools/global-json.md
  docs/core/tools/local-tools-how-to-use.md
  docs/core/tools/sdk-errors/netsdk1045.md
  docs/core/tools/troubleshoot-usage-issues.md
  docs/core/whats-new/dotnet-core-3-0.md
  docs/core/whats-new/dotnet-core-3-1.md
  docs/csharp/tutorials/mixins-with-default-interface-methods.md
  docs/csharp/tutorials/nullable-reference-types.md
  docs/machine-learning/how-to-guides/install-ml-net-cli.md
  docs/machine-learning/tutorials/sentiment-analysis-cli.md
  docs/spark/how-to-guides/ubuntu-instructions.md
  docs/spark/how-to-guides/windows-instructions.md
  docs/spark/tutorials/get-started.md
  docs/standard/clr.md
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
  includes/core-changes/aspnetcore/3.0/targetfx-netfx-tfm-support.md
  samples/snippets/standard/async/async-and-await/cs/readme.md
  samples/snippets/standard/async/async-and-await/vb/readme.md
Labels: csharp-fundamentals/tech, dotnet-architecture/prod, dotnet-cli/tech, dotnet-csharp/prod, dotnet-fundamentals/prod, dotnet-install/tech, dotnet-ml/prod, dotnet-spark/prod, dotnet/prod

#22799 Delete unimplemented rule doc
  .openpublishing.redirection.json
  docs/fundamentals/code-analysis/quality-rules/ca1067.md
Labels: dotnet-fundamentals/prod

#22947 Change EventPipe environment variables that went out of sync
  docs/core/diagnostics/eventpipe.md
Labels: dotnet-fundamentals/prod

#22957 Parallel.ForEach should not be used for IO bound tasks
  docs/standard/parallel-programming/how-to-write-a-simple-parallel-foreach-loop.md
  samples/snippets/csharp/VS_Snippets_Misc/tpl_parallel/cs/simpleforeach.cs
  samples/snippets/csharp/VS_Snippets_Misc/tpl_parallel/cs/simpleforeach.csproj
  samples/snippets/visualbasic/VS_Snippets_Misc/tpl_parallel/vb/simpleforeach.vb
  samples/snippets/visualbasic/VS_Snippets_Misc/tpl_parallel/vb/simpleforeach.vbproj
Labels: dotnet-fundamentals/prod

#22963 Fix link to CA2247
  docs/fundamentals/code-analysis/quality-rules/usage-warnings.md
Labels: dotnet-fundamentals/prod

#23002 Update VS 'talk to us' link text
  docs/csharp/language-reference/configure-language-version.md
  docs/csharp/misc/cs0584.md
  docs/csharp/misc/cs0585.md
  docs/csharp/misc/cs0586.md
  docs/csharp/misc/cs0587.md
  docs/csharp/misc/cs0588.md
  docs/csharp/misc/cs0589.md
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
  docs/visual-basic/getting-started/additional-resources.md
  docs/visual-basic/language-reference/error-messages/an-unexpected-error-has-occurred.md
  docs/visual-basic/language-reference/error-messages/automation-error.md
  docs/visual-basic/language-reference/error-messages/bad-checksum-value-non-hex-digits-or-odd-number-of-hex-digits.md
  docs/visual-basic/language-reference/error-messages/bc31098.md
  docs/visual-basic/language-reference/error-messages/cannot-create-activex-component.md
  docs/visual-basic/language-reference/error-messages/class-does-not-support-automation-or-does-not-support-expected-interface.md
  docs/visual-basic/language-reference/error-messages/error-creating-assembly-manifest-error-message.md
  docs/visual-basic/language-reference/error-messages/error-creating-win32-resources-error-message.md
  docs/visual-basic/language-reference/error-messages/error-saving-temporary-win32-resource-file-filename-error-message.md
  docs/visual-basic/language-reference/error-messages/need-property-array-index.md
  docs/visual-basic/language-reference/error-messages/type-typename-has-no-constructors.md
  docs/visual-basic/language-reference/error-messages/unable-to-embed-resource-file-filename-error-message.md
  docs/visual-basic/language-reference/error-messages/unable-to-emit-assembly-error-message.md
  docs/visual-basic/language-reference/error-messages/unable-to-find-required-file-filename.md
  docs/visual-basic/language-reference/error-messages/unable-to-get-serial-port-names-because-of-an-internal-system-error.md
  docs/visual-basic/language-reference/error-messages/unable-to-link-to-resource-file-filename-error-message.md
  docs/visual-basic/language-reference/error-messages/unable-to-write-output-to-memory.md
  docs/visual-basic/language-reference/error-messages/unable-to-write-temporary-file-because-temporary-path-is-not-available.md
  docs/visual-basic/language-reference/error-messages/unable-to-write-to-output-file-filename-error.md
  docs/visual-basic/misc/bc36016.md
  docs/visual-basic/misc/bc40049.md
Labels: csharp-diagnostics/tech, csharp-language-reference/tech, dotnet-csharp/prod, dotnet-visualbasic/prod, vb-diagnostics/tech

#23018 Fix WF cookbook links
  .openpublishing.redirection.json
  docs/framework/windows-workflow-foundation/migration-guidance.md
  docs/framework/windows-workflow-foundation/toc.yml
  docs/framework/windows-workflow-foundation/wf-migration-guidance.md
Labels: dotnet-framework/prod, dotnet-wf/tech

#23019 Add preview 2 nullability changes
  docs/core/compatibility/aspnet-core/6.0/nullable-reference-type-annotations-changed.md
  docs/core/compatibility/core-libraries/6.0/nullable-ref-type-annotation-changes.md
Labels: dotnet-fundamentals/prod

#23094 Require space before DU constructor arguments
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod

#22919 Remove DNX content
  .openpublishing.redirection.json
  docs/core/migration/from-dnx.md
  docs/core/migration/index.md
  docs/core/tools/cli-msbuild-architecture.md
  docs/core/tools/project-json-to-csproj.md
  docs/fundamentals/toc.yml
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#22917 Add breaking change from 2.0-2.1
  docs/core/compatibility/2.1.md
  docs/core/compatibility/msbuild.md
  docs/core/compatibility/toc.yml
  includes/core-changes/msbuild/2.1/dotnetclitoolreference.md
Labels: dotnet-fundamentals/prod

#23042 Add missing prefixes for dotnet tool install
  docs/core/tools/dotnet-tool-install.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#22938 Add a note to dotnet nuget add source
  docs/core/tools/dotnet-nuget-add-source.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#22693 Explain pseudo-code
  docs/standard/memory-and-spans/memory-t-usage-guidelines.md
Labels: dotnet-fundamentals/prod

#23025 Fix line numbers for syntax highlighting
  docs/standard/security/cryptography-model.md
Labels: dotnet-fundamentals/prod, dotnet-security/tech, dotnet/prod

#23046 Numeric parsing precision breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/core-libraries/6.0/numeric-format-parsing-handles-higher-precision.md
  docs/core/compatibility/toc.yml
  docs/csharp/tutorials/exploration/interpolated-strings-local.md
  docs/csharp/tutorials/exploration/interpolated-strings.yml
  docs/standard/base-types/standard-numeric-format-strings.md
Labels: dotnet-fundamentals/prod

#22907 Added rationale section per #22886
  docs/core/extensions/options.md
Labels: dotnet-fundamentals/prod

#22915 Add details about "." in env var name
  docs/architecture/dapr-for-net-developers/bindings.md
  docs/architecture/dapr-for-net-developers/getting-started.md
  docs/core/extensions/logging.md
Labels: dotnet-architecture/prod, dotnet-fundamentals/prod

#22931 Create version-sweeper workflow YML file
  .github/workflows/version-sweep.yml
Labels: dotnet-target-version

#22965 added link for porting ebook in dotnet arch
  docs/architecture/index.yml
  docs/architecture/toc.yml
Labels: dotnet-architecture/prod

#22930 Porting eBook: add upgrade references
  docs/architecture/modernize-desktop/example-migration.md
  docs/architecture/porting-existing-aspnet-apps/additional-migration-resources.md
  docs/architecture/porting-existing-aspnet-apps/incremental-migration-strategies.md
  docs/architecture/porting-existing-aspnet-apps/migration-considerations.md
Labels: dotnet-architecture/prod

#23012 Explain Dockerfile in detail
  docs/architecture/dapr-for-net-developers/dapr-at-20000-feet.md
  docs/architecture/dapr-for-net-developers/getting-started.md
  docs/architecture/dapr-for-net-developers/index.md
Labels: dotnet-architecture/prod

#22993 Fix misleading link in system-text-json-converters-how-to.md
  docs/standard/serialization/system-text-json-converters-how-to.md
Labels: dotnet-fundamentals/prod

#23017 Add doc for NETSDK1080
  docs/core/tools/sdk-errors/netsdk1080.md
  docs/fundamentals/toc.yml
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#23016 contravariant --> covariant
  docs/csharp/programming-guide/generics/generic-interfaces.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#23015 Note error caused by period in solution folder name
  docs/core/tools/sdk-errors/netsdk1004.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#23024 Remove redundant link in system-text-json-immutability.md
  docs/standard/serialization/system-text-json-immutability.md
Labels: dotnet-fundamentals/prod

#23110 Add notes for --add-source
  docs/core/tools/dotnet-tool-install.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#23112 fix link
  docs/core/tools/sdk-errors/netsdk1080.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#23013 Rename DateTimeOffsetConverter
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/DateTimeOffsetConverter.cs
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/RegisterConverterWithConvertersCollection.cs
  docs/standard/serialization/snippets/system-text-json-how-to/csharp/WeatherForecast.cs
  docs/standard/serialization/system-text-json-converters-how-to.md
Labels: dotnet-fundamentals/prod

#22813 Telemetry note
  docs/core/tools/dotnet-install-script.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#23120 Feedback from translator
  docs/core/compatibility/core-libraries/6.0/nullable-ref-type-annotation-changes.md
Labels: dotnet-fundamentals/prod

#22969 Update list of nullable reference type annotations changed
  docs/core/compatibility/aspnet-core/6.0/nullable-reference-type-annotations-changed.md
Labels: dotnet-fundamentals/prod

#23000 Document the Blazor WebEventDescriptor.EventArgsType breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/blazor-eventargstype-property-replaced.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#23121 Revert "Delete unimplemented rule doc"
  .openpublishing.redirection.json
  docs/fundamentals/code-analysis/quality-rules/ca1067.md
Labels: dotnet-fundamentals/prod

#23122 Delete file for unimplemented CA rule
  .openpublishing.redirection.json
  docs/fundamentals/code-analysis/quality-rules/ca1071.md
Labels: dotnet-fundamentals/prod

#22970 Q3 content perf - VS developer command prompt
  .openpublishing.redirection.json
  docs/csharp/language-reference/compiler-messages/cs2032.md
  docs/csharp/language-reference/compiler-options/command-line-building-with-csc-exe.md
  docs/csharp/language-reference/configure-language-version.md
  docs/framework/app-domains/how-to-view-the-contents-of-the-gac.md
  docs/framework/app-domains/install-assembly-into-gac.md
  docs/framework/migration-guide/how-to-determine-which-versions-are-installed.md
  docs/framework/toc.yml
  docs/framework/tools/al-exe-assembly-linker.md
  docs/framework/tools/aximp-exe-windows-forms-activex-control-importer.md
  docs/framework/tools/caspol-exe-code-access-security-policy-tool.md
  docs/framework/tools/cert2spc-exe-software-publisher-certificate-test-tool.md
  docs/framework/tools/certmgr-exe-certificate-manager-tool.md
  docs/framework/tools/clrver-exe-clr-version-tool.md
  docs/framework/tools/corflags-exe-corflags-conversion-tool.md
  docs/framework/tools/developer-command-prompt-for-vs.md
  docs/framework/tools/fuslogvw-exe-assembly-binding-log-viewer.md
  docs/framework/tools/gacutil-exe-gac-tool.md
  docs/framework/tools/ilasm-exe-il-assembler.md
  docs/framework/tools/ildasm-exe-il-disassembler.md
  docs/framework/tools/index.md
  docs/framework/tools/installutil-exe-installer-tool.md
  docs/framework/tools/lc-exe-license-compiler.md
  docs/framework/tools/mage-exe-manifest-generation-and-editing-tool.md
  docs/framework/tools/mageui-exe-manifest-generation-and-editing-tool-graphical-client.md
  docs/framework/tools/mdbg-exe.md
  docs/framework/tools/media/developer-command-prompt-for-vs/add-external-tool.png
  docs/framework/tools/media/developer-command-prompt-for-vs/command-prompt-vs-menu.png
  docs/framework/tools/media/developer-command-prompt-for-vs/windows-logo-key-graphic.png
  docs/framework/tools/media/developer-command-prompt-for-vs/windows10-search.gif
  docs/framework/tools/media/developer-command-prompt-for-vs/windows7-menu.png
  docs/framework/tools/mgmtclassgen-exe.md
  docs/framework/tools/mpgo-exe-managed-profile-guided-optimization-tool.md
  docs/framework/tools/ngen-exe-native-image-generator.md
  docs/framework/tools/peverify-exe-peverify-tool.md
  docs/framework/tools/regasm-exe-assembly-registration-tool.md
  docs/framework/tools/regsvcs-exe-net-services-installation-tool.md
  docs/framework/tools/resgen-exe-resource-file-generator.md
  docs/framework/tools/secannotate-exe-net-security-annotator-tool.md
  docs/framework/tools/signtool-exe.md
  docs/framework/tools/sn-exe-strong-name-tool.md
  docs/framework/tools/sos-dll-sos-debugging-extension.md
  docs/framework/tools/sqlmetal-exe-code-generation-tool.md
  docs/framework/tools/storeadm-exe-isolated-storage-tool.md
  docs/framework/tools/tlbexp-exe-type-library-exporter.md
  docs/framework/tools/tlbimp-exe-type-library-importer.md
  docs/framework/tools/winmdexp-exe-windows-runtime-metadata-export-tool.md
  docs/framework/tools/winres-exe-windows-forms-resource-editor.md
  docs/framework/wcf/feature-details/deploying-an-internet-information-services-hosted-wcf-service.md
  docs/framework/windows-services/walkthrough-creating-a-windows-service-application-in-the-component-designer.md
  docs/standard/assembly/sign-strong-name.md
  docs/standard/serialization/xml-schema-definition-tool-xsd-exe.md
  docs/standard/serialization/xml-serializer-generator-tool-sgen-exe.md
  docs/visual-basic/language-reference/error-messages/unable-to-emit-assembly-error-message.md
Labels: csharp-diagnostics/tech, csharp-language-reference/tech, dotnet-appcompat/tech, dotnet-csharp/prod, dotnet-framework/prod, dotnet-fundamentals/prod, dotnet-visualbasic/prod, dotnet-wcf/tech, vb-diagnostics/tech

#23133 Fix rendering
  docs/framework/configure-apps/file-schema/network/bypasslist-element-network-settings.md
Labels: dotnet-framework/prod, dotnet-networking/tech

#23130 Add additional function application examples.
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod

#23126 Parameters renamed in Stream-derived types
  docs/core/compatibility/6.0.md
  docs/core/compatibility/core-libraries/6.0/parameters-renamed-on-stream-derived-types.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#22520 Regex lookaround information updated
  docs/standard/base-types/regular-expression-language-quick-reference.md
Labels: :sparkles: 1st-time docs contributor!

#23123 Repo cleanup Feb 21
  docs/architecture/cloud-native/media/docker-desktop-kubernetes-1.png
  docs/architecture/cloud-native/media/visual-studio-enable-docker-support-1.png
  docs/architecture/microservices/docker-application-development-process/media/docker-app-development-workflow/dotnet-core-cross-platform-development-old.png
  docs/architecture/microservices/media/cover-small.png
  docs/architecture/porting-existing-aspnet-apps/toc.yml
  docs/core/migration/media/one-way-upgrade.jpg
  docs/core/tools/media/cli-msbuild-architecture/p2-arch.png
  docs/core/tools/media/cli-msbuild-architecture/p3-arch.png
Labels: cloud-native/tech, dotnet-architecture/prod, dotnet-cli/tech, dotnet-fundamentals/prod, microservices/tech

#23036 Added missing semicolon
  docs/architecture/dapr-for-net-developers/publish-subscribe.md
Labels: dotnet-architecture/prod

#23028 Typo
  docs/standard/library-guidance/versioning.md
Labels: dotnet-fundamentals/prod

#23029 Update how-to-implement-a-producer-consumer-dataflow-pattern.md
  docs/standard/parallel-programming/how-to-implement-a-producer-consumer-dataflow-pattern.md
Labels: dotnet-fundamentals/prod

#23107 Update namedpipe-activation.md
  docs/framework/wcf/samples/namedpipe-activation.md
Labels: dotnet-framework/prod, dotnet-wcf/tech

#23006 Removed extra character after dotnet-dump
  docs/core/diagnostics/debug-memory-leak.md
Labels: dotnet-fundamentals/prod

#22992 Update phone-calls-anomaly-detection.md
  docs/machine-learning/tutorials/phone-calls-anomaly-detection.md
Labels: dotnet-ml/prod

#22966 updated typo in infrastructure as code
  docs/architecture/cloud-native/infrastructure-as-code.md
Labels: cloud-native/tech, dotnet-architecture/prod

#22910 Fix path to hostfxr.h
  docs/core/tutorials/netcore-hosting.md
Labels: dotnet-fundamentals/prod

#22903 Update dotnet-dev-env-checklist.md
  docs/azure/dotnet-dev-env-checklist.md
Labels: dotnet-azure/prod

#22893 Update Fedora docs for .NET 5.0
  docs/core/install/includes/linux-rpm-install-dependencies.md
  docs/core/install/linux-fedora.md
Labels: dotnet-fundamentals/prod, dotnet-install/tech, dotnet/prod

#23020 Remove unclear hosting model language
  docs/architecture/blazor-for-web-forms-developers/hosting-models.md
Labels: blazor/tech, dotnet-architecture/prod

#23069 Fixed the table value
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/choosing-azure-compute-options-for-container-based-applications.md
Labels: dotnet-architecture/prod, modernize-with-azure-containers/tech

#22845 Update deploy-with-cli.md
  docs/core/deploying/deploy-with-cli.md
Labels: :sparkles: 1st-time docs contributor!, dotnet-fundamentals/prod

#22925 Add missing semi colon and using statement
  docs/standard/serialization/how-to-deserialize-an-object.md
Labels: dotnet-fundamentals/prod

#22784 correction to exposing data with cachemetadata doc
  docs/architecture/microservices/multi-container-microservice-net-applications/rabbitmq-event-bus-development-test-environment.md
  docs/framework/windows-workflow-foundation/exposing-data-with-cachemetadata.md
Labels: dotnet-framework/prod, dotnet-wf/tech

#22950 Update date for breaking change article
  docs/core/compatibility/windows-forms/5.0/automatically-infer-winexe-output-type.md
Labels: dotnet-fundamentals/prod

#23073 Remove core from asp.net in migration
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#23072 Clarify remove .net steps for linux
  docs/core/install/remove-runtime-sdk-versions.md
Labels: dotnet-fundamentals/prod, dotnet-install/tech, dotnet/prod

#23187 Update master refs to main
  .github/workflows/build-validation.yml
  .openpublishing.publish.config.json
  docs/csharp/tutorials/generate-consume-asynchronous-stream.md
  docs/csharp/tutorials/intro-to-csharp/introduction-to-classes.md
  docs/csharp/tutorials/intro-to-csharp/object-oriented-programming.md
  docs/standard/base-types/parsing-datetime.md
  docs/visual-basic/getting-started/additional-resources.md
  docs/visual-basic/getting-started/index.md
  docs/visual-basic/toc.yml
Labels: csharp-fundamentals/tech, csharp-get-started/tech, dotnet-csharp/prod, dotnet-fundamentals/prod, dotnet-visualbasic/prod

#23009 C# language reference for records
  docs/csharp/basic-types.md
  docs/csharp/how-to/index.md
  docs/csharp/language-reference/builtin-types/record.md
  docs/csharp/language-reference/builtin-types/snippets/shared/Program.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/RecordType.cs
  docs/csharp/language-reference/keywords/index.md
  docs/csharp/programming-guide/classes-and-structs/access-modifiers.md
  docs/csharp/programming-guide/classes-and-structs/how-to-write-a-copy-constructor.md
  docs/csharp/programming-guide/classes-and-structs/index.md
  docs/csharp/programming-guide/classes-and-structs/records.md
  docs/csharp/programming-guide/statements-expressions-operators/equality-comparisons.md
  docs/csharp/programming-guide/statements-expressions-operators/how-to-define-value-equality-for-a-type.md
  docs/csharp/programming-guide/types/index.md
  docs/csharp/toc.yml
  docs/csharp/tutorials/exploration/records.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#22410 Removing "Asp" to clarify advice
  docs/architecture/microservices/implement-resilient-applications/implement-http-call-retries-exponential-backoff-polly.md
Labels: dotnet-architecture/prod, microservices/tech

#22821 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#23200 Fix typo
  docs/core/tutorials/with-visual-studio.md
Labels: dotnet-fundamentals/prod

#23208 Fix `formatting-rules.md` heading Markdown
  docs/fundamentals/code-analysis/style-rules/formatting-rules.md
Labels: dotnet-fundamentals/prod

#23214 Fix `formatting-rules.md` heading Markdown (#23208)
  docs/fundamentals/code-analysis/style-rules/formatting-rules.md
Labels: dotnet-fundamentals/prod

#23138 CA1034 rule mentioned in nested types description
  docs/csharp/programming-guide/classes-and-structs/nested-types.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#23216 Update nested-types.md
  docs/csharp/programming-guide/classes-and-structs/nested-types.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#23066 Update analyzer tutorial
  .github/dependabot.yml
  docs/csharp/roslyn-sdk/tutorials/how-to-write-csharp-analyzer-code-fix.md
  docs/csharp/roslyn-sdk/tutorials/media/how-to-write-csharp-analyzer-code-fix/update-string-resources.png
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst.sln
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.CodeFixes/CodeFixResources.Designer.cs
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.CodeFixes/CodeFixResources.resx
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.CodeFixes/MakeConst.CodeFixes.csproj
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.CodeFixes/MakeConstCodeFixProvider.cs
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Package/MakeConst.Package.csproj
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Package/tools/install.ps1
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Package/tools/uninstall.ps1
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Test/MakeConst.Test.csproj
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Test/MakeConstUnitTests.cs
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Test/Verifiers/CSharpAnalyzerVerifier`1+Test.cs
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Test/Verifiers/CSharpAnalyzerVerifier`1.cs
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Test/Verifiers/CSharpCodeFixVerifier`2+Test.cs
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Test/Verifiers/CSharpCodeFixVerifier`2.cs
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Test/Verifiers/CSharpCodeRefactoringVerifier`1+Test.cs
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Test/Verifiers/CSharpCodeRefactoringVerifier`1.cs
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Test/Verifiers/CSharpVerifierHelper.cs
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Test/Verifiers/VisualBasicAnalyzerVerifier`1+Test.cs
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Test/Verifiers/VisualBasicAnalyzerVerifier`1.cs
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Test/Verifiers/VisualBasicCodeFixVerifier`2+Test.cs
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Test/Verifiers/VisualBasicCodeFixVerifier`2.cs
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Test/Verifiers/VisualBasicCodeRefactoringVerifier`1+Test.cs
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Test/Verifiers/VisualBasicCodeRefactoringVerifier`1.cs
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Vsix/MakeConst.Vsix.csproj
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Vsix/source.extension.vsixmanifest
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst/MakeConst.csproj
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst/MakeConstAnalyzer.cs
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst/Resources.Designer.cs
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst/Resources.resx
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConstTestProject/MakeConstTestProject/MakeConstTestProject.csproj
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConstTestProject/MakeConstTestProject/Program.cs
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConstTestProject/MakeConstTestProject/snippets.5000.json
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/NuGet.config
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/snippets.5000.json
  samples/snippets/csharp/roslyn-sdk/Tutorials/MakeConst/MakeConst.Test/Helpers/CodeFixVerifier.Helper.cs
  samples/snippets/csharp/roslyn-sdk/Tutorials/MakeConst/MakeConst.Test/Helpers/DiagnosticResult.cs
  samples/snippets/csharp/roslyn-sdk/Tutorials/MakeConst/MakeConst.Test/Helpers/DiagnosticVerifier.Helper.cs
  samples/snippets/csharp/roslyn-sdk/Tutorials/MakeConst/MakeConst.Test/MakeConst.Test.csproj
  samples/snippets/csharp/roslyn-sdk/Tutorials/MakeConst/MakeConst.Test/MakeConstUnitTests.cs
  samples/snippets/csharp/roslyn-sdk/Tutorials/MakeConst/MakeConst.Test/Verifiers/CodeFixVerifier.cs
  samples/snippets/csharp/roslyn-sdk/Tutorials/MakeConst/MakeConst.Test/Verifiers/DiagnosticVerifier.cs
  samples/snippets/csharp/roslyn-sdk/Tutorials/MakeConst/MakeConst.sln
Labels: csharp-roslyn/tech, dotnet-csharp/prod

#23078 Add VB sample for CA1024
  docs/fundamentals/code-analysis/quality-rules/ca1024.md
  docs/fundamentals/code-analysis/quality-rules/snippets/vb/all-rules/all-rules.vbproj
  docs/fundamentals/code-analysis/quality-rules/snippets/vb/all-rules/ca1024.vb
Labels: dotnet-fundamentals/prod

#23196 Added VB Variant Example
  docs/fundamentals/code-analysis/quality-rules/ca2215.md
  docs/fundamentals/code-analysis/quality-rules/snippets/vb/all-rules/ca2215.vb
Labels: dotnet-fundamentals/prod

#23201 Update tutorial to have an example of Environment.NewLine
  docs/core/tutorials/snippets/with-visual-studio/csharp/Program.cs
  docs/core/tutorials/snippets/with-visual-studio/vb/Program.vb
  docs/core/tutorials/with-visual-studio-code.md
  docs/core/tutorials/with-visual-studio-mac.md
  docs/core/tutorials/with-visual-studio.md
Labels: dotnet-fundamentals/prod

#23221 Remove unnecessary line breaks in tutorial
  docs/core/tutorials/snippets/with-visual-studio/csharp/Program.cs
  docs/core/tutorials/snippets/with-visual-studio/vb/Program.vb
Labels: dotnet-fundamentals/prod

#23219 Update tutorial to include Environment.NewLine for newlines
  docs/core/tutorials/snippets/library-with-visual-studio/csharp/ShowCase/Program.cs
  docs/core/tutorials/snippets/library-with-visual-studio/vb/ShowCase/Program.vb
Labels: dotnet-fundamentals/prod

#23210 Correct type classification of bindable object - fixes #22943
  docs/core/extensions/configuration-providers.md
Labels: dotnet-fundamentals/prod

#23212 Added note about "stacked usings" and highlight lines.
  docs/standard/garbage-collection/implementing-disposeasync.md
Labels: dotnet-fundamentals/prod

#23099 Update TFMs for .NET 6
  docs/standard/frameworks.md
Labels: dotnet-fundamentals/prod

#23230 Add Breaking changes in Roslyn after .NET 5
  docs/csharp/whats-new/breaking-changes.md
Labels: csharp-whats-new/tech, dotnet-csharp/prod

#23011 Add note about EnableNETAnalyzers when NuGet packaged is installed
  docs/core/project-sdk/msbuild-props.md
  docs/fundamentals/code-analysis/overview.md
Labels: dotnet-fundamentals/prod

#23218 migration article work
  .openpublishing.redirection.json
  docs/core/porting/index.md
  docs/core/porting/libraries.md
  docs/core/porting/net-framework-tech-unavailable.md
  docs/core/porting/third-party-deps.md
  docs/core/porting/tools.md
  docs/core/porting/upgrade-assistant-aspnetmvc.md
  docs/core/porting/upgrade-assistant-overview.md
  docs/core/porting/upgrade-assistant-winforms-framework.md
  docs/core/porting/upgrade-assistant-wpf-framework.md
  docs/core/porting/windows-compat-pack.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#23270 Fixed Typo
  docs/fundamentals/code-analysis/quality-rules/ca5391.md
Labels: dotnet-fundamentals/prod

#23093 Clarify indentation of arguments of piped functions
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod

#23242 Fix duplicate alt-text warnings
  docs/architecture/cloud-native/deploy-eshoponcontainers-azure.md
  docs/architecture/cloud-native/front-end-communication.md
  docs/architecture/modernize-desktop/example-migration.md
  docs/architecture/modernize-with-azure-containers/lift-and-shift-existing-apps-azure-iaas.md
  docs/csharp/roslyn-sdk/syntax-visualizer.md
  docs/framework/install/application-not-started.md
  docs/framework/interop/interop-marshaling.md
  docs/framework/wcf/extending/choosing-a-message-exchange-pattern.md
  docs/framework/wcf/extending/handling-exceptions-and-faults.md
  docs/framework/wcf/feature-details/how-to-view-certificates-with-the-mmc-snap-in.md
  docs/machine-learning/automate-training-with-cli.md
  docs/spark/how-to-guides/hdinsight-notebook-installation.md
Labels: cloud-native/tech, csharp-roslyn/tech, dotnet-architecture/prod, dotnet-csharp/prod, dotnet-framework/prod, dotnet-install/tech, dotnet-ml/prod, dotnet-spark/prod, dotnet-wcf/tech, modernize-with-azure-containers/tech

#23082 Document init accessor
  docs/csharp/language-reference/keywords/contextual-keywords.md
  docs/csharp/language-reference/keywords/init.md
  docs/csharp/language-reference/keywords/snippets/InitExample1.cs
  docs/csharp/language-reference/keywords/snippets/InitExample2.cs
  docs/csharp/language-reference/keywords/snippets/InitExample3.cs
  docs/csharp/programming-guide/classes-and-structs/auto-implemented-properties.md
  docs/csharp/programming-guide/classes-and-structs/how-to-implement-a-lightweight-class-with-auto-implemented-properties.md
  docs/csharp/programming-guide/classes-and-structs/properties.md
  docs/csharp/programming-guide/classes-and-structs/using-properties.md
  docs/csharp/toc.yml
Labels: csharp-fundamentals/tech, csharp-language-reference/tech, dotnet-csharp/prod

#23271 Update dotnet/docs links to master
  docs/core/tools/using-ci-with-cli.md
  docs/fsharp/language-reference/compiler-messages/index.md
  docs/standard/data/sqlite/collation.md
  docs/standard/data/sqlite/extensions.md
  docs/standard/data/sqlite/in-memory-databases.md
  docs/whats-new/index.yml
Labels: dotnet-cli/tech, dotnet-data/prod, dotnet-fsharp/prod, dotnet-fundamentals/prod

#23141 update couple of outdated links
  docs/core/diagnostics/available-counters.md
  docs/core/diagnostics/dotnet-symbol.md
Labels: dotnet-fundamentals/prod

#23274 Add remarks about logs from EventSource to perfcollect doc
  docs/core/diagnostics/trace-perfcollect-lttng.md
Labels: dotnet-fundamentals/prod

#23281 Update What's new in VB
  docs/visual-basic/whats-new/index.md
Labels: dotnet-visualbasic/prod

#23234 C# Programming guide: Top-level statements
  docs/csharp/language-reference/compiler-options/main-compiler-option.md
  docs/csharp/programming-guide/classes-and-structs/methods.md
  docs/csharp/programming-guide/main-and-command-args/command-line-arguments.md
  docs/csharp/programming-guide/main-and-command-args/how-to-display-command-line-arguments.md
  docs/csharp/programming-guide/main-and-command-args/index.md
  docs/csharp/programming-guide/main-and-command-args/main-return-values.md
  docs/csharp/programming-guide/main-and-command-args/snippets/top-level-statements-1/Program.cs
  docs/csharp/programming-guide/main-and-command-args/snippets/top-level-statements-1/top-level-statements.csproj
  docs/csharp/programming-guide/main-and-command-args/snippets/top-level-statements-2/Program.cs
  docs/csharp/programming-guide/main-and-command-args/snippets/top-level-statements-2/top-level-statements.csproj
  docs/csharp/programming-guide/main-and-command-args/snippets/top-level-statements-3/Program.cs
  docs/csharp/programming-guide/main-and-command-args/snippets/top-level-statements-3/top-level-statements.csproj
  docs/csharp/programming-guide/main-and-command-args/snippets/top-level-statements-4/Program.cs
  docs/csharp/programming-guide/main-and-command-args/snippets/top-level-statements-4/top-level-statements.csproj
  docs/csharp/programming-guide/main-and-command-args/snippets/top-level-statements-5/Program.cs
  docs/csharp/programming-guide/main-and-command-args/snippets/top-level-statements-5/top-level-statements.csproj
  docs/csharp/programming-guide/main-and-command-args/top-level-statements.md
  docs/csharp/toc.yml
  docs/csharp/tutorials/exploration/top-level-statements.md
Labels: csharp-fundamentals/tech, csharp-get-started/tech, csharp-language-reference/tech, dotnet-csharp/prod

#23285 Fix build warnings
  docs/core/compatibility/aspnet-core/5.0/security-cookie-name-encoding-removed.md
  docs/index.yml
Labels: dotnet-fundamentals/prod

#23279 ML.NET Backlog
  docs/machine-learning/automate-training-with-model-builder.md
  docs/machine-learning/tutorials/movie-recommendation.md
Labels: dotnet-ml/prod

#23283 New: Update CLI scenarios
  docs/machine-learning/automate-training-with-cli.md
Labels: dotnet-ml/prod

#23280 Dictionary key can't be custom type
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
Labels: dotnet-fundamentals/prod

#23292 console-teleprompter Update raw file link
  docs/csharp/tutorials/console-teleprompter.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#23288 Minor grammatical changes to improve readability.
  docs/csharp/tutorials/exploration/records.md
Labels: :sparkles: 1st-time docs contributor!, csharp-fundamentals/tech, csharp-get-started/tech, dotnet-csharp/prod

#23277 C# patterns reference: relational patterns and pattern combinators
  docs/csharp/language-reference/operators/patterns.md
  docs/csharp/language-reference/operators/snippets/patterns/ConstantPattern.cs
  docs/csharp/language-reference/operators/snippets/patterns/PatternCombinators.cs
  docs/csharp/language-reference/operators/snippets/patterns/Program.cs
  docs/csharp/language-reference/operators/snippets/patterns/RelationalPatterns.cs
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23289 Update best-practices.md for HSTRING
  docs/standard/native-interop/best-practices.md
Labels: doc-enhancement, dotnet-fundamentals/prod

#23299 Note lack of support for polymorphic deserialization
  docs/standard/serialization/system-text-json-polymorphism.md
Labels: dotnet-fundamentals/prod

#23302 Sync doc with CLI help
  docs/core/tools/dotnet-nuget-push.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#23142 Add note about buffer size for EventPipe
  docs/core/diagnostics/dotnet-trace.md
  docs/core/diagnostics/eventpipe.md
Labels: dotnet-fundamentals/prod

#23331 Update system-text-json-how-to.md
  docs/standard/serialization/system-text-json-how-to.md
Labels: dotnet-fundamentals/prod

#23193 Ch3 updates
  docs/architecture/dapr-for-net-developers/bindings.md
  docs/architecture/dapr-for-net-developers/dapr-at-20000-feet.md
  docs/architecture/dapr-for-net-developers/foreword.md
  docs/architecture/dapr-for-net-developers/getting-started.md
  docs/architecture/dapr-for-net-developers/index.md
  docs/architecture/dapr-for-net-developers/observability.md
  docs/architecture/dapr-for-net-developers/publish-subscribe.md
  docs/architecture/dapr-for-net-developers/reference-application.md
  docs/architecture/dapr-for-net-developers/secrets.md
  docs/architecture/dapr-for-net-developers/service-invocation.md
  docs/architecture/dapr-for-net-developers/state-management.md
  docs/architecture/dapr-for-net-developers/summary.md
  docs/architecture/dapr-for-net-developers/the-world-is-distributed.md
Labels: dotnet-architecture/prod

#23137 Devops ebook
  docs/architecture/devops-for-aspnet-developers/actions-build.md
  docs/architecture/devops-for-aspnet-developers/media/actions/build/build-action-success-logs.jpg
  docs/architecture/devops-for-aspnet-developers/media/actions/build/build-action-success.jpg
  docs/architecture/devops-for-aspnet-developers/media/actions/build/click-edit.jpg
  docs/architecture/devops-for-aspnet-developers/media/actions/build/commit-workflow.jpg
  docs/architecture/devops-for-aspnet-developers/media/actions/build/copy-snippet.jpg
  docs/architecture/devops-for-aspnet-developers/media/actions/build/new-action.jpg
  docs/architecture/devops-for-aspnet-developers/media/actions/build/search-upload-artifact.jpg
  docs/architecture/devops-for-aspnet-developers/media/actions/build/view-uploaded-artifact.jpg
  docs/architecture/devops-for-aspnet-developers/toc.yml
Labels: dotnet-architecture/prod

#23329 improve navigation for async tutorial
  docs/csharp/async.md
  docs/csharp/programming-guide/concepts/async/index.md
  docs/csharp/toc.yml
Labels: csharp-async/tech, dotnet-csharp/prod

#23315 Swap "abstractions" and "encapsulation" in summary.
  docs/csharp/tutorials/intro-to-csharp/object-oriented-programming.md
Labels: csharp-fundamentals/tech, csharp-get-started/tech, dotnet-csharp/prod

#23321 Update tracing-and-instrumenting-applications.md
  docs/framework/debug-trace-profile/tracing-and-instrumenting-applications.md
Labels: dotnet-framework/prod

#23330 Protected Friend
  docs/visual-basic/language-reference/modifiers/protected-friend.md
Labels: dotnet-visualbasic/prod

#23326 Fix options code
  docs/core/compatibility/serialization/5.0/jsonserializer-allows-reading-numbers-as-strings.md
Labels: dotnet-fundamentals/prod

#23334 Mark analyzer packages as development dependencies
  docs/csharp/roslyn-sdk/tutorials/snippets/how-to-write-csharp-analyzer-code-fix/MakeConst/MakeConst.Package/MakeConst.Package.csproj
Labels: csharp-roslyn/tech, dotnet-csharp/prod

#23361 Chain .ConfigureAwait(false) to .DisposeAsync() method call.
  docs/standard/garbage-collection/implementing-disposeasync.md
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.asyncdisposable/disposeasync.cs
Labels: dotnet-fundamentals/prod

#23340 update async return types
  docs/csharp/methods.md
  docs/csharp/programming-guide/classes-and-structs/methods.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#23339 Remove "input" as a qualifier to "argument"
  docs/csharp/language-reference/attributes/nullable-analysis.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23337 Remove the ErrorReport option
  .openpublishing.redirection.json
  docs/csharp/language-reference/compiler-options/advanced.md
  docs/csharp/misc/cs0010.md
  docs/csharp/misc/cs0583.md
  docs/csharp/misc/cs1630.md
  docs/csharp/misc/cs1727.md
  docs/csharp/misc/cs2012.md
  docs/csharp/toc.yml
Labels: csharp-diagnostics/tech, csharp-language-reference/tech, dotnet-csharp/prod

#23338 C# patterns reference: property pattern
  docs/csharp/language-reference/operators/patterns.md
  docs/csharp/language-reference/operators/snippets/patterns/Program.cs
  docs/csharp/language-reference/operators/snippets/patterns/PropertyPattern.cs
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23368 Fix build warning
  docs/csharp/programming-guide/classes-and-structs/methods.md
Labels: csharp-fundamentals/tech, dotnet-csharp/prod

#23376 add records to language reference
  docs/csharp/toc.yml
Labels: dotnet-csharp/prod

#23370 clarify the task types requirements.
  docs/csharp/programming-guide/concepts/async/async-return-types.md
Labels: csharp-async/tech, dotnet-csharp/prod

#23385 Adding to TOC & landing page
  docs/machine-learning/index.yml
  docs/machine-learning/toc.yml
Labels: dotnet-ml/prod

#23375 Repo cleanup March '21
  .openpublishing.redirection.json
  docs/core/migration/20-21.md
  docs/core/tools/sdk-errors/netsdk1059.md
  docs/visual-basic/language-reference/error-messages/bc36645.md
  docs/visual-basic/language-reference/error-messages/data-type-s-of-the-type-parameter-s-cannot-be-inferred-from-these-arguments.md
  docs/visual-basic/misc/bc36648-bc36645.md
  docs/whats-new/2021-01.md
  images/Logo_DotNet.png
  images/alerts.png
  images/core/list-bullet.png
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, dotnet-visualbasic/prod, vb-diagnostics/tech

#23388 Fix broken links
  docs/machine-learning/tutorials/object-detection-onnx.md
Labels: dotnet-ml/prod

#23364 Update ide0060.md
  docs/fundamentals/code-analysis/style-rules/ide0060.md
Labels: dotnet-fundamentals/prod

#23386 fix link to async return types spec, clarify Task-like return types.
  docs/csharp/programming-guide/concepts/async/async-return-types.md
Labels: csharp-async/tech, dotnet-csharp/prod

#23389 Adding link to Spark docs for scoring
  docs/machine-learning/toc.yml
Labels: dotnet-ml/prod

#23391 Developer Command Prompt link text
  docs/csharp/language-reference/compiler-messages/cs2032.md
  docs/csharp/language-reference/configure-language-version.md
  docs/framework/app-domains/how-to-view-the-contents-of-the-gac.md
  docs/framework/app-domains/install-assembly-into-gac.md
  docs/framework/migration-guide/how-to-determine-which-versions-are-installed.md
  docs/framework/tools/al-exe-assembly-linker.md
  docs/framework/tools/aximp-exe-windows-forms-activex-control-importer.md
  docs/framework/tools/caspol-exe-code-access-security-policy-tool.md
  docs/framework/tools/cert2spc-exe-software-publisher-certificate-test-tool.md
  docs/framework/tools/certmgr-exe-certificate-manager-tool.md
  docs/framework/tools/clrver-exe-clr-version-tool.md
  docs/framework/tools/corflags-exe-corflags-conversion-tool.md
  docs/framework/tools/fuslogvw-exe-assembly-binding-log-viewer.md
  docs/framework/tools/gacutil-exe-gac-tool.md
  docs/framework/tools/ilasm-exe-il-assembler.md
  docs/framework/tools/ildasm-exe-il-disassembler.md
  docs/framework/tools/index.md
  docs/framework/tools/installutil-exe-installer-tool.md
  docs/framework/tools/lc-exe-license-compiler.md
  docs/framework/tools/mage-exe-manifest-generation-and-editing-tool.md
  docs/framework/tools/mageui-exe-manifest-generation-and-editing-tool-graphical-client.md
  docs/framework/tools/mdbg-exe.md
  docs/framework/tools/mpgo-exe-managed-profile-guided-optimization-tool.md
  docs/framework/tools/ngen-exe-native-image-generator.md
  docs/framework/tools/peverify-exe-peverify-tool.md
  docs/framework/tools/regasm-exe-assembly-registration-tool.md
  docs/framework/tools/regsvcs-exe-net-services-installation-tool.md
  docs/framework/tools/resgen-exe-resource-file-generator.md
  docs/framework/tools/secannotate-exe-net-security-annotator-tool.md
  docs/framework/tools/signtool-exe.md
  docs/framework/tools/sn-exe-strong-name-tool.md
  docs/framework/tools/sos-dll-sos-debugging-extension.md
  docs/framework/tools/sqlmetal-exe-code-generation-tool.md
  docs/framework/tools/storeadm-exe-isolated-storage-tool.md
  docs/framework/tools/tlbexp-exe-type-library-exporter.md
  docs/framework/tools/tlbimp-exe-type-library-importer.md
  docs/framework/tools/winmdexp-exe-windows-runtime-metadata-export-tool.md
  docs/framework/tools/winres-exe-windows-forms-resource-editor.md
  docs/framework/wcf/feature-details/deploying-an-internet-information-services-hosted-wcf-service.md
  docs/standard/assembly/sign-strong-name.md
  docs/standard/serialization/xml-serializer-generator-tool-sgen-exe.md
  docs/visual-basic/language-reference/error-messages/unable-to-emit-assembly-error-message.md
Labels: csharp-diagnostics/tech, csharp-language-reference/tech, dotnet-appcompat/tech, dotnet-csharp/prod, dotnet-framework/prod, dotnet-fundamentals/prod, dotnet-visualbasic/prod, dotnet-wcf/tech, vb-diagnostics/tech

#23332 Adding GitHub Actions .NET Deployment Article
  docs/architecture/devops-for-aspnet-developers/actions-build.md
  docs/architecture/devops-for-aspnet-developers/actions-deploy.md
  docs/architecture/devops-for-aspnet-developers/media/actions/deploy/add-env-secret.jpg
  docs/architecture/devops-for-aspnet-developers/media/actions/deploy/add-repo-secret.jpg
  docs/architecture/devops-for-aspnet-developers/media/actions/deploy/approval.jpg
  docs/architecture/devops-for-aspnet-developers/media/actions/deploy/azure-credentials.jpg
  docs/architecture/devops-for-aspnet-developers/media/actions/deploy/deploy-to-staging-completed.jpg
  docs/architecture/devops-for-aspnet-developers/media/actions/deploy/deployed-to-prod.jpg
  docs/architecture/devops-for-aspnet-developers/media/actions/deploy/deployed-to-staging.jpg
  docs/architecture/devops-for-aspnet-developers/media/actions/deploy/deployments.jpg
  docs/architecture/devops-for-aspnet-developers/media/actions/deploy/env-protection-rule.jpg
  docs/architecture/devops-for-aspnet-developers/media/actions/deploy/env-secrets.jpg
  docs/architecture/devops-for-aspnet-developers/media/actions/deploy/manual-dispatch.jpg
  docs/architecture/devops-for-aspnet-developers/media/actions/deploy/new-env.jpg
  docs/architecture/devops-for-aspnet-developers/media/actions/deploy/pre-prod-env.jpg
  docs/architecture/devops-for-aspnet-developers/media/actions/deploy/prod-deploy-complete.jpg
  docs/architecture/devops-for-aspnet-developers/media/actions/deploy/settings-in-both-envs.jpg
  docs/architecture/devops-for-aspnet-developers/media/actions/deploy/waiting-for-approval.jpg
  docs/architecture/devops-for-aspnet-developers/toc.yml
Labels: dotnet-architecture/prod

#23373 Add Update attribute for PackageReference
  docs/core/project-sdk/msbuild-props.md
  docs/core/tools/dependencies.md
Labels: dotnet-fundamentals/prod

#23345 Document nint and nuint
  docs/csharp/language-reference/builtin-types/built-in-types.md
  docs/csharp/language-reference/builtin-types/integral-numeric-types.md
  docs/csharp/language-reference/builtin-types/nint-nuint.md
  docs/csharp/language-reference/builtin-types/numeric-conversions.md
  docs/csharp/language-reference/builtin-types/snippets/shared/NativeIntegerTypes.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/Program.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/builtin-types.csproj
  docs/csharp/language-reference/keywords/contextual-keywords.md
  docs/csharp/language-reference/keywords/index.md
  docs/csharp/toc.yml
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23403 Fix markdown link
  docs/core/diagnostics/symbols.md
Labels: dotnet-fundamentals/prod

#23365 Add section about formatting interpolated strings
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod

#23372 Add F# code formatting guidelines section about generic type parameters and constraints
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod

#23407 with expression: updated the link to the record reference
  docs/csharp/language-reference/operators/with-expression.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23412 C# patterns reference: positional pattern
  docs/csharp/language-reference/operators/patterns.md
  docs/csharp/language-reference/operators/snippets/patterns/PositionalPattern.cs
  docs/csharp/language-reference/operators/snippets/patterns/Program.cs
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23397 Tutorial: Create a GitHub Action with .NET
  docfx.json
  docs/architecture/dapr-for-net-developers/getting-started.md
  docs/csharp/language-reference/builtin-types/record.md
  docs/devops/access-by-line.txt
  docs/devops/create-dotnet-github-action.md
  docs/devops/media/action-log.png
  docs/devops/snippets/Dockerfile
  docs/devops/snippets/DotNet.GitHubAction/ActionInputs.cs
  docs/devops/snippets/DotNet.GitHubAction/DotNet.GitHubAction.csproj
  docs/devops/snippets/DotNet.GitHubAction/Extensions/ServiceCollectionExtensions.cs
  docs/devops/snippets/DotNet.GitHubAction/Program.cs
  docs/devops/snippets/action.yml
  docs/devops/snippets/workflow.yml
  docs/fundamentals/toc.yml
Labels: csharp-language-reference/tech, dotnet-architecture/prod, dotnet-csharp/prod

#23371 Minor grammatical changes.
  docs/architecture/microservices/architect-microservice-container-applications/index.md
Labels: dotnet-architecture/prod, microservices/tech

#23419 Change sample class name
  docs/csharp/language-reference/keywords/where-generic-type-constraint.md
Labels: csharp-language-reference/tech, dotnet-csharp/prod

#23430 Note support for trustedSigners
  docs/core/tools/dotnet-restore.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod
