Repository dotnet/docs, pull requests merged in 2022-06, with the labels that each got.

#29654 Add link to Sayed's detailed template authoring docs
  docs/core/tools/custom-templates.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#29663 removed a line
  docs/csharp/whats-new/tutorials/ranges-indexes.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech

#28253 Update dotnet-tool ps
  docs/core/diagnostics/dotnet-counters.md
  docs/core/diagnostics/dotnet-dump.md
  docs/core/diagnostics/dotnet-gcdump.md
  docs/core/diagnostics/dotnet-stack.md
  docs/core/diagnostics/dotnet-trace.md
Labels: dotnet-fundamentals/prod

#29694 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#29695 Fix option name
  docs/core/compatibility/sdk/6.0/runtimeidentifier-self-contained.md
Labels: dotnet-fundamentals/prod

#29255 Create diagnosticsource-getting-started.md
  docs/core/diagnostics/diagnosticsource-diagnosticlistener.md
  docs/core/diagnostics/snippets/diagnosticsource/csharp/DiagnosticSource.csproj
  docs/core/diagnostics/snippets/diagnosticsource/csharp/Program.cs
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#29703 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#29666 Clarify \G
  docs/standard/base-types/anchors-in-regular-expressions.md
  docs/standard/base-types/regular-expression-language-quick-reference.md
Labels: dotnet-fundamentals/prod

#29713 Add dash between name and description for dotnet new update
  docs/core/tools/dotnet-new-update.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#29708 Update right-to-left regex search section
  docs/standard/base-types/regular-expression-options.md
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regex.language.options/cs/Project.csproj
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regex.language.options/cs/case2.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regex.language.options/cs/culture1.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regex.language.options/cs/determine1.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regex.language.options/cs/ecmascript1.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regex.language.options/cs/ecmascript2.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regex.language.options/cs/example1.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regex.language.options/cs/explicit1.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regex.language.options/cs/explicit2.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regex.language.options/cs/explicit3.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regex.language.options/cs/multiline1.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regex.language.options/cs/multiline2.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regex.language.options/cs/righttoleft1.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regex.language.options/cs/righttoleft2.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regex.language.options/cs/singleline1.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regex.language.options/cs/whitespace1.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regex.language.options/cs/whitespace2.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.regex.language.options/vb/Project.vbproj
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.regex.language.options/vb/case2.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.regex.language.options/vb/culture1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.regex.language.options/vb/determine1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.regex.language.options/vb/ecmascript1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.regex.language.options/vb/ecmascript2.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.regex.language.options/vb/example1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.regex.language.options/vb/explicit1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.regex.language.options/vb/explicit2.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.regex.language.options/vb/explicit3.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.regex.language.options/vb/multiline1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.regex.language.options/vb/multiline2.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.regex.language.options/vb/righttoleft1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.regex.language.options/vb/righttoleft2.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.regex.language.options/vb/singleline1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.regex.language.options/vb/whitespace1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.regex.language.options/vb/whitespace2.vb
Labels: dotnet-fundamentals/prod

#29714 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#29719 Typo
  docs/fsharp/language-reference/functions/let-bindings.md
Labels: dotnet-fsharp/prod

#29720 Typo
  docs/fsharp/language-reference/fixed.md
Labels: dotnet-fsharp/prod

#29733 Remove references to .NET 6 preview
  docs/csharp/whats-new/tutorials/top-level-statements.md
  includes/csharp10-templates.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech

#29735 Commit to fix issue 29702
  docs/architecture/cloud-native/infrastructure-as-code.md
Labels: dotnet-architecture/prod, cloud-native/tech

#29736 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#29734 Rewrite opening sentences
  docs/csharp/programming-guide/concepts/linq/quantifier-operations.md
Labels: dotnet-csharp/prod, csharp-linq/tech

#29686 Add PNSE breaking change for strong-name APIs
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/rc1-minimal-api-renames.md
  docs/core/compatibility/core-libraries/5.0/obsolete-apis-with-custom-diagnostics.md
  docs/core/compatibility/core-libraries/6.0/filestream-doesnt-sync-offset-with-os.md
  docs/core/compatibility/core-libraries/6.0/obsolete-apis-with-custom-diagnostics.md
  docs/core/compatibility/core-libraries/6.0/strong-name-signing-exceptions.md
  docs/core/compatibility/core-libraries/7.0/obsolete-apis-with-custom-diagnostics.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#27957 Update simd.md
  docs/standard/simd.md
Labels: dotnet-fundamentals/prod

#29716 Update 'scl read' example to use quotes command
  docs/standard/commandline/get-started-tutorial.md
Labels: dotnet-fundamentals/prod

#29744 Added suggested link
  docs/core/extensions/performing-culture-insensitive-case-changes.md
Labels: dotnet-fundamentals/prod, okr-coverage

#29751 Update code coverage tool doc
  docs/core/additional-tools/dotnet-coverage.md
Labels: dotnet-fundamentals/prod

#29747 Fix various small issues
  .github/CODEOWNERS
  docs/core/compatibility/6.0.md
  docs/standard/base-types/changing-case.md
  docs/standard/datetime/instantiating-a-datetimeoffset-object.md
  docs/standard/numerics.md
Labels: dotnet-fundamentals/prod

#29738 Update app-launch topic
  docs/core/runtime-discovery/troubleshoot-app-launch.md
Labels: dotnet-fundamentals/prod

#29754 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#29742 Update dependency-injection-usage.md
  docs/core/extensions/dependency-injection-usage.md
Labels: dotnet-fundamentals/prod

#29769 docs: Improved dotnet github action
  docs/devops/create-dotnet-github-action.md
Labels: okr-coverage

#29766 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#29767 Added cautionary alert to address concerns in #29010
  docs/standard/parallel-programming/exception-handling-task-parallel-library.md
Labels: dotnet-fundamentals/prod, okr-coverage

#29771 Fix broken links
  docs/architecture/cloud-native/infrastructure-resiliency-azure.md
  docs/fsharp/using-fsharp-on-azure/table-storage.md
Labels: dotnet-fsharp/prod, dotnet-architecture/prod, cloud-native/tech

#29791 Add 2008 SP2 to .NET Framework 4.6.2
  docs/framework/migration-guide/versions-and-dependencies.md
Labels: dotnet-framework/prod, dotnet-appcompat/tech

#29782 Verbatim string interpolation guidance
  docs/csharp/programming-guide/strings/index.md
  docs/csharp/programming-guide/strings/snippets/VerbatimStringInterpolation.cs
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#29784 Update .NET 5 to NET 5+ to avoid confusion
  docs/core/introduction.md
Labels: dotnet-fundamentals/prod

#29757 Fix note mistake: ObservableGauge can be substituted with ObservableCounter
  docs/core/diagnostics/metrics-instrumentation.md
Labels: dotnet-fundamentals/prod

#29795 Add option for CA1806
  docs/fundamentals/code-analysis/quality-rules/ca1806.md
Labels: dotnet-fundamentals/prod

#29796 Changed "jumped" to "jumps"
  docs/csharp/whats-new/tutorials/ranges-indexes.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech

#29788 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#29785 Add example of concatenated interpolated strings
  docs/csharp/language-reference/tokens/interpolated.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#29786 Update langauge: created --> instantiated
  docs/csharp/programming-guide/classes-and-structs/using-constructors.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#29802 Spelling error
  docs/csharp/roslyn-sdk/source-generators-overview.md
Labels: dotnet-csharp/prod, csharp-roslyn/tech

#29790 Add empty classes into the docs example
  docs/csharp/programming-guide/concepts/async/index.md
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V2/Bacon.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V2/Coffee.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V2/Egg.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V2/Juice.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V2/Program.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V2/Toast.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V3/Bacon.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V3/Coffee.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V3/Egg.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V3/Juice.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V3/Program.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-V3/Toast.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-final/Bacon.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-final/Coffee.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-final/Egg.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-final/Juice.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-final/Program.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-final/Toast.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-starter/Bacon.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-starter/Coffee.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-starter/Egg.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-starter/Juice.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-starter/Program.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-starter/Toast.cs
Labels: dotnet-csharp/prod, csharp-async/tech

#29797 Code analysis options improvements
  docs/fundamentals/code-analysis/code-quality-rule-options.md
  docs/fundamentals/code-analysis/suppress-warnings.md
Labels: dotnet-fundamentals/prod

#29808 Update bash syntax for auto-complete
  docs/core/tools/enable-tab-autocomplete.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#29810 remove and redirect literal separators
  .openpublishing.redirection.csharp.json
  docfx.json
  docs/csharp/index.yml
  docs/csharp/toc.yml
Labels: dotnet-csharp/prod

#29804 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#29807 Update sample and examples for CS1520
  docs/csharp/misc/cs1520.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech

#29812 Typos and clarifications
  docs/fsharp/language-reference/functions/index.md
Labels: dotnet-fsharp/prod

#29820 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#29828 Update upgrade-assistant-uwp-framework.md
  docs/core/porting/upgrade-assistant-uwp-framework.md
Labels: dotnet-fundamentals/prod

#29830 Typos and minor editing
  docs/fsharp/language-reference/functions/recursive-functions-the-rec-keyword.md
Labels: dotnet-fsharp/prod

#29470 Usages for Literals
  docs/fsharp/language-reference/literals.md
Labels: dotnet-fsharp/prod

#29779 Replicate change in C# version to VB.NET
  docs/visual-basic/programming-guide/concepts/linq/quantifier-operations.md
Labels: dotnet-visualbasic/prod

#29549 Extended nameof parameter scope
  docs/csharp/language-reference/attributes/caller-information.md
  docs/csharp/language-reference/attributes/nullable-analysis.md
  docs/csharp/language-reference/attributes/snippets/CallerInformation.cs
  docs/csharp/language-reference/attributes/snippets/ConditionalExamples.cs
  docs/csharp/language-reference/attributes/snippets/InitializeMembers.cs
  docs/csharp/language-reference/attributes/snippets/MultiUseAttribute.cs
  docs/csharp/language-reference/attributes/snippets/NewAttribute.cs
  docs/csharp/language-reference/attributes/snippets/NewPropertyOrFieldAttribute.cs
  docs/csharp/language-reference/attributes/snippets/NonInheritedAttribute.cs
  docs/csharp/language-reference/attributes/snippets/NullableAttributes.cs
  docs/csharp/language-reference/attributes/snippets/ObsoleteExample.cs
  docs/csharp/language-reference/attributes/snippets/Program.cs
  docs/csharp/language-reference/attributes/snippets/SkipLocalsInitExample.cs
  docs/csharp/language-reference/attributes/snippets/attributes.csproj
  docs/csharp/language-reference/attributes/snippets/trace.cs
  docs/csharp/language-reference/operators/nameof.md
  docs/csharp/language-reference/operators/snippets/shared/AdditionOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/ArithmeticOperators.cs
  docs/csharp/language-reference/operators/snippets/shared/AssignmentOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/BitwiseAndShiftOperators.cs
  docs/csharp/language-reference/operators/snippets/shared/BooleanLogicalOperators.cs
  docs/csharp/language-reference/operators/snippets/shared/ComparisonOperators.cs
  docs/csharp/language-reference/operators/snippets/shared/ConditionalOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/DefaultOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/DelegateOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/EqualityOperators.cs
  docs/csharp/language-reference/operators/snippets/shared/IsOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/LambdaOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/MemberAccessOperators.cs
  docs/csharp/language-reference/operators/snippets/shared/MemberAccessOperators2.cs
  docs/csharp/language-reference/operators/snippets/shared/NameOfOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/NewOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/NullCoalescingOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/NullForgivingOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/OperatorOverloading.cs
  docs/csharp/language-reference/operators/snippets/shared/Overview.cs
  docs/csharp/language-reference/operators/snippets/shared/PointerOperators.cs
  docs/csharp/language-reference/operators/snippets/shared/Program.cs
  docs/csharp/language-reference/operators/snippets/shared/SizeOfOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/StackallocOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/SubtractionOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/SwitchExpressions.cs
  docs/csharp/language-reference/operators/snippets/shared/TrueFalseOperators.cs
  docs/csharp/language-reference/operators/snippets/shared/TypeTestingAndConversionOperators.cs
  docs/csharp/language-reference/operators/snippets/shared/operators.csproj
  docs/csharp/whats-new/csharp-11.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-whats-new/tech, okr-coverage

#29798 Document logging with AddAzureClientsCore
  docs/azure/sdk/logging.md
Labels: dotnet-azure/prod

#29794 Operator updates to support generic math
  docs/csharp/language-reference/keywords/checked-and-unchecked.md
  docs/csharp/language-reference/keywords/checked.md
  docs/csharp/language-reference/keywords/unchecked.md
  docs/csharp/language-reference/operators/arithmetic-operators.md
  docs/csharp/language-reference/operators/bitwise-and-shift-operators.md
  docs/csharp/language-reference/operators/snippets/shared/ArithmeticOperators.cs
  docs/csharp/language-reference/operators/snippets/shared/BitwiseAndShiftOperators.cs
  docs/csharp/whats-new/csharp-11.md
  docs/csharp/whats-new/csharp-version-history.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-whats-new/tech, okr-coverage

#29838 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#29882 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#29792 Documenting Native AOT deployment
  docs/core/deploying/native-aot.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#29886 Update overview.md
  docs/fundamentals/code-analysis/overview.md
Labels: dotnet-fundamentals/prod

#29894 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#29905 Update how-to-use-expression-trees-to-build-dynamic-queries.md
  docs/csharp/programming-guide/concepts/expression-trees/how-to-use-expression-trees-to-build-dynamic-queries.md
Labels: dotnet-csharp/prod, csharp-advanced-concepts/tech

#29903 Update ide0054-ide0074.md
  docs/fundamentals/code-analysis/style-rules/ide0054-ide0074.md
Labels: dotnet-fundamentals/prod

#29898 Fix wording in docs/fundamentals/code-analysis
  docs/fundamentals/code-analysis/configuration-options.md
  docs/fundamentals/code-analysis/quality-rules/ca1851.md
  docs/fundamentals/code-analysis/quality-rules/ca1854.md
Labels: dotnet-fundamentals/prod

#29904 Remove sample that no longer applies
  docs/csharp/misc/cs0542.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech

#29907 Add updates for numeric IntPtr
  .openpublishing.redirection.csharp.json
  docs/csharp/language-reference/builtin-types/built-in-types.md
  docs/csharp/language-reference/builtin-types/integral-numeric-types.md
  docs/csharp/language-reference/builtin-types/nint-nuint.md
  docs/csharp/language-reference/builtin-types/numeric-conversions.md
  docs/csharp/language-reference/keywords/index.md
  docs/csharp/toc.yml
  docs/csharp/whats-new/csharp-11.md
  docs/csharp/whats-new/csharp-9.md
  docs/csharp/write-safe-efficient-code.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-whats-new/tech

#29910 Add default for --runtime option
  docs/core/tools/dotnet-build.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#29906 Fixes #27367
  docs/csharp/fundamentals/coding-style/coding-conventions.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#29911 Add links to code style rules
  docs/csharp/fundamentals/functional/deconstruct.md
  docs/csharp/fundamentals/functional/discards.md
  docs/csharp/fundamentals/functional/pattern-matching.md
  docs/csharp/fundamentals/types/anonymous-types.md
  docs/csharp/language-reference/builtin-types/built-in-types.md
  docs/csharp/language-reference/builtin-types/value-tuples.md
  docs/csharp/language-reference/keywords/access-modifiers.md
  docs/csharp/language-reference/keywords/out-parameter-modifier.md
  docs/csharp/language-reference/keywords/readonly.md
  docs/csharp/language-reference/keywords/this.md
  docs/csharp/language-reference/keywords/throw.md
  docs/csharp/language-reference/keywords/using-directive.md
  docs/csharp/language-reference/keywords/using-statement.md
  docs/csharp/language-reference/keywords/var.md
  docs/csharp/language-reference/operators/assignment-operator.md
  docs/csharp/language-reference/operators/conditional-operator.md
  docs/csharp/language-reference/operators/default.md
  docs/csharp/language-reference/operators/lambda-expressions.md
  docs/csharp/language-reference/operators/member-access-operators.md
  docs/csharp/language-reference/operators/nameof.md
  docs/csharp/language-reference/operators/null-coalescing-operator.md
  docs/csharp/language-reference/operators/null-forgiving.md
  docs/csharp/language-reference/operators/switch-expression.md
  docs/csharp/language-reference/statements/selection-statements.md
  docs/csharp/language-reference/tokens/interpolated.md
  docs/csharp/programming-guide/classes-and-structs/access-modifiers.md
  docs/csharp/programming-guide/classes-and-structs/auto-implemented-properties.md
  docs/csharp/programming-guide/classes-and-structs/local-functions.md
  docs/csharp/programming-guide/classes-and-structs/object-and-collection-initializers.md
  docs/csharp/programming-guide/statements-expressions-operators/expression-bodied-members.md
  docs/visual-basic/language-reference/modifiers/byval.md
Labels: dotnet-visualbasic/prod, dotnet-csharp/prod, csharp-fundamentals/tech, csharp-language-reference/tech

#29908 Update character escaping guidance
  docs/core/testing/selective-unit-tests.md
Labels: dotnet-fundamentals/prod

#29927 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#29939 Add initialisms to text
  docs/standard/design-guidelines/capitalization-conventions.md
Labels: doc-enhancement, dotnet/prod, dotnet-standard/tech, dotnet-fundamentals/prod

#29932 Code-fence keywords
  docs/csharp/language-reference/keywords/index.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#29943 Revert "Add initialisms to text (#29939)"
  docs/standard/design-guidelines/capitalization-conventions.md
Labels: dotnet/prod, dotnet-standard/tech, dotnet-fundamentals/prod

#29926 Fixes #21383
  docs/csharp/programming-guide/classes-and-structs/static-classes-and-static-class-members.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#29929 Fixes #27669
  docs/csharp/fundamentals/exceptions/creating-and-throwing-exceptions.md
  docs/csharp/fundamentals/exceptions/snippets/exceptions/Program.cs
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#29919 Add specific SYSLIB warning suppression info
  docs/fundamentals/syslib-diagnostics/includes/suppress-syslib-warning.md
  docs/fundamentals/syslib-diagnostics/obsoletions-overview.md
  docs/fundamentals/syslib-diagnostics/syslib0001.md
  docs/fundamentals/syslib-diagnostics/syslib0002.md
  docs/fundamentals/syslib-diagnostics/syslib0003.md
  docs/fundamentals/syslib-diagnostics/syslib0004.md
  docs/fundamentals/syslib-diagnostics/syslib0005.md
  docs/fundamentals/syslib-diagnostics/syslib0006.md
  docs/fundamentals/syslib-diagnostics/syslib0007.md
  docs/fundamentals/syslib-diagnostics/syslib0008.md
  docs/fundamentals/syslib-diagnostics/syslib0009.md
  docs/fundamentals/syslib-diagnostics/syslib0010.md
  docs/fundamentals/syslib-diagnostics/syslib0011.md
  docs/fundamentals/syslib-diagnostics/syslib0012.md
  docs/fundamentals/syslib-diagnostics/syslib0013.md
  docs/fundamentals/syslib-diagnostics/syslib0014.md
  docs/fundamentals/syslib-diagnostics/syslib0015.md
  docs/fundamentals/syslib-diagnostics/syslib0016.md
  docs/fundamentals/syslib-diagnostics/syslib0017.md
  docs/fundamentals/syslib-diagnostics/syslib0018.md
  docs/fundamentals/syslib-diagnostics/syslib0019.md
  docs/fundamentals/syslib-diagnostics/syslib0020.md
  docs/fundamentals/syslib-diagnostics/syslib0021.md
  docs/fundamentals/syslib-diagnostics/syslib0022.md
  docs/fundamentals/syslib-diagnostics/syslib0023.md
  docs/fundamentals/syslib-diagnostics/syslib0024.md
  docs/fundamentals/syslib-diagnostics/syslib0025.md
  docs/fundamentals/syslib-diagnostics/syslib0026.md
  docs/fundamentals/syslib-diagnostics/syslib0027.md
  docs/fundamentals/syslib-diagnostics/syslib0028.md
  docs/fundamentals/syslib-diagnostics/syslib0029.md
  docs/fundamentals/syslib-diagnostics/syslib0030.md
  docs/fundamentals/syslib-diagnostics/syslib0031.md
  docs/fundamentals/syslib-diagnostics/syslib0032.md
  docs/fundamentals/syslib-diagnostics/syslib0033.md
  docs/fundamentals/syslib-diagnostics/syslib0034.md
  docs/fundamentals/syslib-diagnostics/syslib0035.md
  docs/fundamentals/syslib-diagnostics/syslib0036.md
  docs/fundamentals/syslib-diagnostics/syslib0037.md
  docs/fundamentals/syslib-diagnostics/syslib0038.md
  docs/fundamentals/syslib-diagnostics/syslib0039.md
  docs/fundamentals/syslib-diagnostics/syslib0040.md
  docs/fundamentals/syslib-diagnostics/syslib0041.md
  docs/fundamentals/syslib-diagnostics/syslib0042.md
  docs/fundamentals/syslib-diagnostics/syslib0043.md
Labels: dotnet-fundamentals/prod

#29944 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#29914 Add options to top table - part 2
  docs/fundamentals/code-analysis/style-rules/ide0031.md
  docs/fundamentals/code-analysis/style-rules/ide0032.md
  docs/fundamentals/code-analysis/style-rules/ide0033.md
  docs/fundamentals/code-analysis/style-rules/ide0034.md
  docs/fundamentals/code-analysis/style-rules/ide0035.md
  docs/fundamentals/code-analysis/style-rules/ide0036.md
  docs/fundamentals/code-analysis/style-rules/ide0037.md
  docs/fundamentals/code-analysis/style-rules/ide0039.md
  docs/fundamentals/code-analysis/style-rules/ide0040.md
  docs/fundamentals/code-analysis/style-rules/ide0041.md
  docs/fundamentals/code-analysis/style-rules/ide0042.md
  docs/fundamentals/code-analysis/style-rules/ide0044.md
  docs/fundamentals/code-analysis/style-rules/ide0045.md
  docs/fundamentals/code-analysis/style-rules/ide0046.md
  docs/fundamentals/code-analysis/style-rules/ide0047-ide0048.md
  docs/fundamentals/code-analysis/style-rules/ide0049.md
  docs/fundamentals/code-analysis/style-rules/ide0050.md
  docs/fundamentals/code-analysis/style-rules/ide0051.md
  docs/fundamentals/code-analysis/style-rules/ide0052.md
  docs/fundamentals/code-analysis/style-rules/ide0053.md
  docs/fundamentals/code-analysis/style-rules/ide0054-ide0074.md
  docs/fundamentals/code-analysis/style-rules/ide0056.md
  docs/fundamentals/code-analysis/style-rules/ide0057.md
  docs/fundamentals/code-analysis/style-rules/ide0058.md
  docs/fundamentals/code-analysis/style-rules/ide0059.md
  docs/fundamentals/code-analysis/style-rules/ide1005.md
Labels: dotnet-fundamentals/prod

#29915 Add options to top table - part 3
  docs/fundamentals/code-analysis/style-rules/ide0060.md
  docs/fundamentals/code-analysis/style-rules/ide0061.md
  docs/fundamentals/code-analysis/style-rules/ide0062.md
  docs/fundamentals/code-analysis/style-rules/ide0063.md
  docs/fundamentals/code-analysis/style-rules/ide0064.md
  docs/fundamentals/code-analysis/style-rules/ide0065.md
  docs/fundamentals/code-analysis/style-rules/ide0066.md
  docs/fundamentals/code-analysis/style-rules/ide0070.md
  docs/fundamentals/code-analysis/style-rules/ide0071.md
  docs/fundamentals/code-analysis/style-rules/ide0072.md
  docs/fundamentals/code-analysis/style-rules/ide0073.md
  docs/fundamentals/code-analysis/style-rules/ide0075.md
  docs/fundamentals/code-analysis/style-rules/ide0076.md
  docs/fundamentals/code-analysis/style-rules/ide0077.md
  docs/fundamentals/code-analysis/style-rules/ide0078.md
  docs/fundamentals/code-analysis/style-rules/ide0079.md
  docs/fundamentals/code-analysis/style-rules/ide0080.md
  docs/fundamentals/code-analysis/style-rules/ide0081.md
  docs/fundamentals/code-analysis/style-rules/ide0082.md
  docs/fundamentals/code-analysis/style-rules/ide0083.md
  docs/fundamentals/code-analysis/style-rules/ide0084.md
  docs/fundamentals/code-analysis/style-rules/ide0090.md
  docs/fundamentals/code-analysis/style-rules/ide0100.md
  docs/fundamentals/code-analysis/style-rules/ide0110.md
  docs/fundamentals/code-analysis/style-rules/ide0140.md
Labels: dotnet-fundamentals/prod

#29950 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#29975 Fix argument and option order
  docs/core/tools/dotnet.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#29976 SignalR breaking change
  docs/core/compatibility/7.0.md
  docs/core/compatibility/aspnet-core/7.0/ihubclients-ihubcallerclients.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#29980 Update collections article
  docs/standard/collections/index.md
Labels: dotnet-fundamentals/prod

#29958 Update templates.md
  docs/core/install/templates.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#29842 Fix `[!NOTE]` syntax
  docs/machine-learning/how-to-guides/load-data-model-builder.md
Labels: dotnet-ml/prod

#29753 Update affected version for breaking change
  docs/core/compatibility/containers/6.0/console-formatter-default.md
Labels: dotnet-fundamentals/prod

#29974 dotnet-vstest --> dotnet vstest
  docs/core/tools/dotnet-vstest.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#28661 Add reference to MMLib.SwaggerForOcelot package
  docs/architecture/microservices/multi-container-microservice-net-applications/implement-api-gateways-with-ocelot.md
Labels: dotnet-architecture/prod, microservices/tech

#29770 Fix accessibility opt-in example
  docs/framework/whats-new/whats-new-in-accessibility.md
Labels: dotnet-framework/prod

#29986 Small change to Examples bullet formatting
  docs/core/tools/dotnet-nuget-push.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#29967 Update nuget and single-file download links to dotnet-dsrouter instead of dotnet-trace
  docs/core/diagnostics/dotnet-dsrouter.md
Labels: dotnet-fundamentals/prod

#29995 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#29990 Bug fix in code example
  docs/fsharp/language-reference/functions/inline-functions.md
Labels: dotnet-fsharp/prod

#29964 Fix up language rules index
  docs/fundamentals/code-analysis/style-rules/language-rules.md
Labels: dotnet-fundamentals/prod

#29996 Document new PublishRelease and PackRelease properties
  docs/core/project-sdk/msbuild-props.md
Labels: :checkered_flag: Release: .NET 7

#29999 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#29955 Update classification-of-standard-query-operators-by-manner-of-execut…
  docs/csharp/programming-guide/concepts/linq/classification-of-standard-query-operators-by-manner-of-execution.md
Labels: dotnet-csharp/prod, csharp-linq/tech

#29275 Update introduction
  docs/core/introduction.md
  docs/core/sdk.md
  docs/core/versions/index.md
  docs/standard/runtime-libraries-overview.md
Labels: dotnet-fundamentals/prod

#30006 Updated console output to match code
  docs/core/tutorials/cli-templates-create-project-template.md
Labels: dotnet-fundamentals/prod

#29997 add docs for diagnostics CP0012 and CP0013
  docs/fundamentals/package-validation/diagnostic-ids.md
Labels: dotnet-fundamentals/prod

#30005 Update dotnet-install-script.md for clarifying possible Quality parameter values
  docs/core/tools/dotnet-install-script.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#29971 ContentRootPath breaking change
  docs/core/compatibility/7.0.md
  docs/core/compatibility/extensions/7.0/contentrootpath-hosted-app.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#30012 Fix link
  docs/core/install/linux.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#30015 Add the PublishProtocol property to the list of telemetry data disclosures
  docs/core/tools/telemetry.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#30011 Code fence keywords
  docs/fundamentals/package-validation/diagnostic-ids.md
Labels: dotnet-fundamentals/prod

#30016 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#29998 Document the --prerelease option
  docs/core/tools/dotnet-tool-install.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#30022 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#30013 Fixed unit test bug per #29984
  docs/core/testing/snippets/order-unit-tests/csharp/NUnit.TestProject/ByOrder.cs
Labels: dotnet-fundamentals/prod

#29935 Removed ISiloHost reference in Orleans Tutorial
  docs/orleans/tutorials-and-samples/tutorial-1.md
Labels: okr-coverage

#30030 Add --sc short for --self-contained
  docs/core/tools/dotnet-publish.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#30020 Fix casing of Arm64 etc.
  docs/core/additional-tools/dotnet-coverage.md
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/5.0/kestrel-libuv-transport-obsolete.md
  docs/core/compatibility/core-libraries/5.0/vectort-throws-notsupportedexception.md
  docs/core/compatibility/jit/6.0/coerce-call-arguments-ecma-335.md
  docs/core/compatibility/sdk/6.0/path-x64-emulated.md
  docs/core/deploying/ready-to-run.md
  docs/core/deploying/single-file/overview.md
  docs/core/diagnostics/debug-linux-dumps.md
  docs/core/diagnostics/dotnet-counters.md
  docs/core/diagnostics/dotnet-dump.md
  docs/core/diagnostics/dotnet-gcdump.md
  docs/core/diagnostics/dotnet-sos.md
  docs/core/diagnostics/dotnet-stack.md
  docs/core/diagnostics/dotnet-trace.md
  docs/core/install/includes/linux-install-package-manager-x64-vs-arm.md
  docs/core/rid-catalog.md
  docs/core/tools/dotnet-environment-variables.md
  docs/core/tools/dotnet-test.md
  docs/core/whats-new/dotnet-5.md
  docs/core/whats-new/dotnet-core-3-0.md
Labels: dotnet-cli/tech, dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#30001 Kestrel HTTPS breaking change
  docs/core/compatibility/7.0.md
  docs/core/compatibility/aspnet-core/7.0/https-binding-kestrel.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#30033 Fix incorrect info in keywords/init.md
  docs/csharp/language-reference/keywords/init.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#30027 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#30038 Fix formatting in debug-threadpool-starvation.md
  docs/core/diagnostics/debug-threadpool-starvation.md
Labels: dotnet-fundamentals/prod

#30003 Mention how to use the `RuntimeHostConfigurationOption` MSBuild item
  docs/core/runtime-config/index.md
Labels: dotnet-fundamentals/prod

#30039 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#29831 Clarify MetadataLoadContext limitations
  docs/standard/assembly/inspect-contents-using-metadataloadcontext.md
  docs/standard/assembly/snippets/inspect-contents-using-metadataloadcontext/MetadataLoadContextSnippets.cs
  docs/standard/assembly/snippets/inspect-contents-using-metadataloadcontext/Program.cs
Labels: dotnet-fundamentals/prod

#29841 Add Azure Container Apps
  docs/core/docker/introduction.md
Labels: dotnet-fundamentals/prod, dotnet-docker/tech

#30044 Update create-dotnet-github-action.md
  docs/devops/create-dotnet-github-action.md
Labels: okr-coverage

#30041 Added example of WinForms with .NET 6 consuming `IConfiguration`
  docs/core/extensions/configuration-providers.md
  docs/core/extensions/snippets/configuration/winforms-xml/App.config
  docs/core/extensions/snippets/configuration/winforms-xml/MainForm.Designer.cs
  docs/core/extensions/snippets/configuration/winforms-xml/MainForm.cs
  docs/core/extensions/snippets/configuration/winforms-xml/MainForm.resx
  docs/core/extensions/snippets/configuration/winforms-xml/Program.cs
  docs/core/extensions/snippets/configuration/winforms-xml/winforms-xml.csproj
Labels: okr-coverage

#30055 Added an alert to notify users of template/workload visibility
  docs/core/extensions/includes/worker-template-workloads.md
  docs/core/extensions/windows-service.md
  docs/core/extensions/workers.md
  docs/core/project-sdk/overview.md
Labels: dotnet-fundamentals/prod, okr-coverage
