Repository dotnet/docs, pull requests merged in 2022-04, with the labels that each got.

#28845 C# 11 preview features: newlines in string interpolation
  docs/csharp/language-reference/tokens/interpolated.md
  docs/csharp/language-reference/tokens/snippets/string-interpolation.cs
  docs/csharp/language-reference/tokens/snippets/string-interpolation.csproj
  docs/csharp/whats-new/csharp-11.md
  samples/snippets/csharp/language-reference/tokens/string-interpolation.csproj
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-whats-new/tech

#28847 Raise prominence on null warnings for initialization
  docs/csharp/nullable-references.md
  docs/csharp/nullable-warnings.md
  docs/csharp/snippets/null-warnings/PersonExamples.cs
Labels: dotnet-csharp/prod

#28853 JsonSerializerOptions with JsonNode or JsonDocument
  docs/standard/serialization/snippets/system-text-json-use-dom-utf8jsonreader-utf8jsonwriter/csharp/JsonDocumentWithJsonSerializerOptions.cs
  docs/standard/serialization/snippets/system-text-json-use-dom-utf8jsonreader-utf8jsonwriter/csharp/JsonNodeWithJsonSerializerOptions.cs
  docs/standard/serialization/snippets/system-text-json-use-dom-utf8jsonreader-utf8jsonwriter/csharp/Program.cs
  docs/standard/serialization/system-text-json-use-dom-utf8jsonreader-utf8jsonwriter.md
Labels: dotnet-fundamentals/prod

#28882 Update default values
  docs/fundamentals/code-analysis/style-rules/ide0007-ide0008.md
Labels: dotnet-fundamentals/prod

#28603 Fix documention on specifying connection pooling settings
  docs/framework/data/adonet/sql-server-connection-pooling.md
Labels: dotnet-framework/prod, dotnet-data/tech

#28855 Clarify when to reference CsWinRT package
  docs/core/compatibility/interop/5.0/built-in-support-for-winrt-removed.md
  docs/core/tools/sdk-errors/netsdk1130.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#28854 Clarify regex timeout
  docs/standard/base-types/best-practices.md
Labels: dotnet-fundamentals/prod

#28762 C++/CLI in Visual Studio
  docs/core/compatibility/7.0.md
  docs/core/compatibility/core-libraries/7.0/cpluspluscli-compiler-version.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#28892 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#28787 Table was not rendering properly
  docs/core/install/linux.md
Labels: :sparkles: 1st-time docs contributor!, dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#28237 Some clarification of language in .NET naming rules topic
  docs/fundamentals/code-analysis/style-rules/naming-rules.md
Labels: dotnet-fundamentals/prod

#28732 Add document for CA1851
  docs/fundamentals/code-analysis/quality-rules/ca1851.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/performance-warnings.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#28341 Update method-based-query-syntax-examples-partitioning.md
  docs/framework/data/adonet/ef/language-reference/method-based-query-syntax-examples-partitioning.md
Labels: dotnet-framework/prod, dotnet-data/tech

#27993 Fix protocolMapping ex. to refer to correct config
  docs/framework/wcf/simplified-configuration.md
Labels: dotnet-framework/prod, dotnet-wcf/tech

#28894 Show default behavior first
  docs/standard/serialization/snippets/system-text-json-use-dom-utf8jsonreader-utf8jsonwriter/csharp/JsonDocumentWithJsonSerializerOptions.cs
  docs/standard/serialization/snippets/system-text-json-use-dom-utf8jsonreader-utf8jsonwriter/csharp/JsonNodeWithJsonSerializerOptions.cs
Labels: dotnet-fundamentals/prod

#28901 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28899 Fix usage of EmitCompilerGeneratedFiles
  docs/csharp/roslyn-sdk/source-generators-overview.md
Labels: dotnet-csharp/prod, csharp-roslyn/tech

#28905 ASP.NET Core 7 breaking change for MVC empty body detection
  docs/core/compatibility/7.0.md
  docs/core/compatibility/aspnet-core/7.0/mvc-empty-body-model-binding.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#28908 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28890 Add simplified null parameter checks
  docs/csharp/index.yml
  docs/csharp/language-reference/operators/is.md
  docs/csharp/language-reference/operators/null-forgiving.md
  docs/csharp/language-reference/operators/null-parameter-check.md
  docs/csharp/language-reference/operators/snippets/shared/NullParameterCheck.cs
  docs/csharp/language-reference/operators/snippets/shared/Program.cs
  docs/csharp/language-reference/operators/snippets/shared/operators.csproj
  docs/csharp/nullable-references.md
  docs/csharp/toc.yml
  docs/csharp/whats-new/csharp-11.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-whats-new/tech

#28906 Update dotnet-stack.md
  docs/core/diagnostics/dotnet-stack.md
Labels: dotnet-fundamentals/prod

#28924 Link to alternative alias uses
  docs/standard/commandline/syntax.md
Labels: dotnet-fundamentals/prod

#28918 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28929 Commit to issue #27679
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/domain-events-design-implementation.md
Labels: dotnet-architecture/prod, microservices/tech

#28933 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28931 Added a POC alert/include, curious about column support within alert
  docs/architecture/cloud-native/application-bundles.md
  docs/architecture/cloud-native/application-resiliency-patterns.md
  docs/architecture/cloud-native/authentication-authorization.md
  docs/architecture/cloud-native/azure-active-directory.md
  docs/architecture/cloud-native/azure-caching.md
  docs/architecture/cloud-native/azure-monitor.md
  docs/architecture/cloud-native/azure-security.md
  docs/architecture/cloud-native/candidate-apps.md
  docs/architecture/cloud-native/centralized-configuration.md
  docs/architecture/cloud-native/combine-containers-serverless-approaches.md
  docs/architecture/cloud-native/communication-patterns.md
  docs/architecture/cloud-native/definition.md
  docs/architecture/cloud-native/deploy-containers-azure.md
  docs/architecture/cloud-native/deploy-eshoponcontainers-azure.md
  docs/architecture/cloud-native/devops.md
  docs/architecture/cloud-native/distributed-data.md
  docs/architecture/cloud-native/elastic-search-in-azure.md
  docs/architecture/cloud-native/feature-flags.md
  docs/architecture/cloud-native/front-end-communication.md
  docs/architecture/cloud-native/grpc.md
  docs/architecture/cloud-native/identity-server.md
  docs/architecture/cloud-native/identity.md
  docs/architecture/cloud-native/includes/download-alert.md
  docs/architecture/cloud-native/infrastructure-as-code.md
  docs/architecture/cloud-native/infrastructure-resiliency-azure.md
  docs/architecture/cloud-native/introduce-eshoponcontainers-reference-app.md
  docs/architecture/cloud-native/introduction.md
  docs/architecture/cloud-native/leverage-containers-orchestrators.md
  docs/architecture/cloud-native/leverage-serverless-functions.md
  docs/architecture/cloud-native/logging-with-elastic-stack.md
  docs/architecture/cloud-native/map-eshoponcontainers-azure-services.md
  docs/architecture/cloud-native/media/cover-thumbnail.png
  docs/architecture/cloud-native/monitoring-azure-kubernetes.md
  docs/architecture/cloud-native/monitoring-health.md
  docs/architecture/cloud-native/observability-patterns.md
  docs/architecture/cloud-native/other-deployment-options.md
  docs/architecture/cloud-native/relational-vs-nosql-data.md
  docs/architecture/cloud-native/resiliency.md
  docs/architecture/cloud-native/resilient-communications.md
  docs/architecture/cloud-native/scale-applications.md
  docs/architecture/cloud-native/scale-containers-serverless.md
  docs/architecture/cloud-native/security.md
  docs/architecture/cloud-native/service-mesh-communication-infrastructure.md
  docs/architecture/cloud-native/service-to-service-communication.md
  docs/architecture/cloud-native/summary.md
Labels: dotnet-architecture/prod, cloud-native/tech, okr-experience

#28911 Document some internal SQL type ctors as additional-apis
  docs/framework/additional-apis/index.md
  docs/framework/additional-apis/system.data.sqltypes.sqlbinary.-ctor.md
  docs/framework/additional-apis/system.data.sqltypes.sqlguid.-ctor.md
  docs/framework/additional-apis/system.data.sqltypes.sqlmoney.-ctor.md
  docs/framework/toc.yml
Labels: dotnet-framework/prod

#28910 Acrolinx 4/4
  docs/core/diagnostics/eventsource-activity-ids.md
  docs/core/diagnostics/eventsource-collect-and-view-traces.md
  docs/core/diagnostics/eventsource-getting-started.md
  docs/core/diagnostics/eventsource-instrumentation.md
  docs/core/extensions/logging-providers.md
  docs/core/rid-catalog.md
Labels: dotnet-fundamentals/prod

#28934 Fix Tiny Typo
  docs/framework/develop-web-apps-with-aspnet.md
Labels: dotnet-framework/prod

#28936 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28940 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28938 Revert connectoid change
  docs/framework/network-programming/automatic-proxy-detection.md
Labels: dotnet-framework/prod, dotnet-networking/tech

#28879 Set process return code
  docs/standard/commandline/handle-termination.md
  docs/standard/commandline/snippets/handle-termination/csharp/Program.cs
Labels: dotnet-fundamentals/prod

#28926 Add section about install script to app launch failure page
  docs/core/runtime-discovery/troubleshoot-app-launch.md
Labels: dotnet-fundamentals/prod

#28893 Update struct.md
  docs/csharp/language-reference/builtin-types/struct.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#28947 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28958 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28978 Address concerns raised in #28900
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/implement-value-objects.md
Labels: dotnet-architecture/prod, microservices/tech, okr-experience

#28916 Correct log level details
  docs/core/extensions/logging.md
Labels: dotnet-fundamentals/prod, okr-coverage

#28964 Add SYSLIB0041
  docs/core/compatibility/core-libraries/7.0/obsolete-apis-with-custom-diagnostics.md
  docs/core/compatibility/unsupported-apis.md
  docs/fundamentals/syslib-diagnostics/obsoletions-overview.md
  docs/fundamentals/syslib-diagnostics/syslib0041.md
  docs/fundamentals/syslib-diagnostics/syslib0042.md
  docs/fundamentals/syslib-diagnostics/syslib0043.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#28989 Commit to add download alert - containerized-lifecycle-ebook
  docs/architecture/containerized-lifecycle/Microsoft-platform-tools-containerized-apps/index.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/build-aspnet-core-applications-linux-containers-aks-kubernetes.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/common-container-design-principles.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/deploy-azure-kubernetes-service.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/design-docker-applications.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/docker-apps-development-environment.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/docker-apps-inner-loop-workflow.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/index.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/monolithic-applications.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/orchestrate-high-scalability-availability.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/set-up-windows-containers-with-powershell.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/soa-applications.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/state-and-data-in-docker-applications.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/visual-studio-tools-for-docker.md
  docs/architecture/containerized-lifecycle/docker-application-lifecycle/containers-foundation-for-devops-collaboration.md
  docs/architecture/containerized-lifecycle/docker-application-lifecycle/index.md
  docs/architecture/containerized-lifecycle/docker-containers-images-and-registries.md
  docs/architecture/containerized-lifecycle/docker-devops-workflow/create-ci-cd-pipelines-azure-devops-services-aspnetcore-kubernetes.md
  docs/architecture/containerized-lifecycle/docker-devops-workflow/docker-application-outer-loop-devops-workflow.md
  docs/architecture/containerized-lifecycle/docker-devops-workflow/index.md
  docs/architecture/containerized-lifecycle/docker-terminology.md
  docs/architecture/containerized-lifecycle/includes/download-alert.md
  docs/architecture/containerized-lifecycle/introduction-to-containers-and-docker.md
  docs/architecture/containerized-lifecycle/key-takeaways/index.md
  docs/architecture/containerized-lifecycle/media/cover-thumbnail.png
  docs/architecture/containerized-lifecycle/road-to-modern-applications-based-on-containers.md
  docs/architecture/containerized-lifecycle/run-manage-monitor-docker-environments/index.md
  docs/architecture/containerized-lifecycle/run-manage-monitor-docker-environments/manage-production-docker-environments.md
  docs/architecture/containerized-lifecycle/run-manage-monitor-docker-environments/monitor-containerized-application-services.md
  docs/architecture/containerized-lifecycle/run-manage-monitor-docker-environments/run-microservices-based-applications-in-production.md
  docs/architecture/containerized-lifecycle/what-is-docker.md
Labels: dotnet-architecture/prod, containerized-lifecycle/tech

#28974 Commit to Add download alert - Blazor for ASP NET Web Forms Developers
  docs/architecture/blazor-for-web-forms-developers/app-startup.md
  docs/architecture/blazor-for-web-forms-developers/architecture-comparison.md
  docs/architecture/blazor-for-web-forms-developers/components.md
  docs/architecture/blazor-for-web-forms-developers/config.md
  docs/architecture/blazor-for-web-forms-developers/data.md
  docs/architecture/blazor-for-web-forms-developers/forms-validation.md
  docs/architecture/blazor-for-web-forms-developers/hosting-models.md
  docs/architecture/blazor-for-web-forms-developers/includes/download-alert.md
  docs/architecture/blazor-for-web-forms-developers/introduction.md
  docs/architecture/blazor-for-web-forms-developers/media/cover-thumbnail.png
  docs/architecture/blazor-for-web-forms-developers/middleware.md
  docs/architecture/blazor-for-web-forms-developers/migration.md
  docs/architecture/blazor-for-web-forms-developers/pages-routing-layouts.md
  docs/architecture/blazor-for-web-forms-developers/project-structure.md
  docs/architecture/blazor-for-web-forms-developers/security-authentication-authorization.md
  docs/architecture/blazor-for-web-forms-developers/state-management.md
Labels: dotnet-architecture/prod, blazor/tech

#28993 commit to add download alerts - Devops-for-aspnet
  docs/architecture/devops-for-aspnet-developers/actions-build.md
  docs/architecture/devops-for-aspnet-developers/actions-codeql.md
  docs/architecture/devops-for-aspnet-developers/actions-deploy.md
  docs/architecture/devops-for-aspnet-developers/actions-index.md
  docs/architecture/devops-for-aspnet-developers/actions-vs-pipelines.md
  docs/architecture/devops-for-aspnet-developers/cicd.md
  docs/architecture/devops-for-aspnet-developers/deploying-to-app-service.md
  docs/architecture/devops-for-aspnet-developers/includes/download-alert.md
  docs/architecture/devops-for-aspnet-developers/media/cover-thumbnail.png
  docs/architecture/devops-for-aspnet-developers/monitoring.md
  docs/architecture/devops-for-aspnet-developers/next-steps.md
  docs/architecture/devops-for-aspnet-developers/tools-and-downloads.md
Labels: dotnet-architecture/prod

#28986 Fix fish tab completion command
  docs/core/tools/enable-tab-autocomplete.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#28980 Clarify developer written initialization
  docs/csharp/language-reference/builtin-types/record.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#28857 New syntax for `dotnet new`
  docs/core/tools/dotnet-new-install.md
  docs/core/tools/dotnet-new-list.md
  docs/core/tools/dotnet-new-search.md
  docs/core/tools/dotnet-new-uninstall.md
  docs/core/tools/dotnet-new-update.md
  docs/core/tools/dotnet-new.md
  docs/fundamentals/toc.yml
  includes/dotnet-new-7-0-syntax.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#28999 Fix table cell entry for anonymous records
  docs/fsharp/language-reference/symbol-and-operator-reference/index.md
Labels: dotnet-fsharp/prod

#29002 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28991 move comment to correct block
  docs/csharp/whats-new/csharp-11.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech

#29011 Commit to add download alert - modernize-desktop ebook
  docs/architecture/modernize-desktop/deploy-modern-applications.md
  docs/architecture/modernize-desktop/example-migration.md
  docs/architecture/modernize-desktop/includes/download-alert.md
  docs/architecture/modernize-desktop/media/cover-thumbnail.png
  docs/architecture/modernize-desktop/migrate-modern-applications.md
  docs/architecture/modernize-desktop/whats-new-dotnet.md
  docs/architecture/modernize-desktop/why-modern-applications.md
  docs/architecture/modernize-desktop/windows-migration.md
Labels: dotnet-architecture/prod

#29012 Commit to add download alert - modernize-with-azure-containers ebooks
  docs/architecture/modernize-with-azure-containers/conclusions.md
  docs/architecture/modernize-with-azure-containers/includes/download-alert.md
  docs/architecture/modernize-with-azure-containers/lift-and-shift-existing-apps-azure-iaas.md
  docs/architecture/modernize-with-azure-containers/media/cover-thumbnail.png
  docs/architecture/modernize-with-azure-containers/migrate-your-relational-databases-to-azure.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/build-resilient-services-ready-for-the-cloud-embrace-transient-failures-in-the-cloud.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/choosing-azure-compute-options-for-container-based-applications.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/deploy-existing-net-apps-as-windows-containers.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/index.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/life-cycle-ci-cd-pipelines-devops-tools.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/microsoft-technologies-in-cloud-optimized-applications.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/migrate-to-hybrid-cloud-scenarios.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/modernize-your-apps-with-monitoring-and-telemetry.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/reasons-to-modernize-existing-net-apps-to-cloud-optimized-applications.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/what-about-cloud-native-applications.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/when-not-to-deploy-to-windows-containers.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/when-to-deploy-windows-containers-in-your-on-premises-iaas-vm-infrastructure.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/when-to-deploy-windows-containers-to-azure-container-instances-ACI.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/when-to-deploy-windows-containers-to-azure-container-service-kubernetes.md
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/when-to-deploy-windows-containers-to-azure-vms-iaas-cloud.md
  docs/architecture/modernize-with-azure-containers/walkthroughs-technical-get-started-overview.md
Labels: dotnet-architecture/prod, modernize-with-azure-containers/tech

#29013 Commit to add download alert - modern-web-apps-azure ebook
  docs/architecture/modern-web-apps-azure/architectural-principles.md
  docs/architecture/modern-web-apps-azure/azure-hosting-recommendations-for-asp-net-web-apps.md
  docs/architecture/modern-web-apps-azure/choose-between-traditional-web-and-single-page-apps.md
  docs/architecture/modern-web-apps-azure/common-client-side-web-technologies.md
  docs/architecture/modern-web-apps-azure/common-web-application-architectures.md
  docs/architecture/modern-web-apps-azure/develop-asp-net-core-mvc-apps.md
  docs/architecture/modern-web-apps-azure/development-process-for-azure.md
  docs/architecture/modern-web-apps-azure/includes/download-alert.md
  docs/architecture/modern-web-apps-azure/media/cover-thumbnail.png
  docs/architecture/modern-web-apps-azure/modern-web-applications-characteristics.md
  docs/architecture/modern-web-apps-azure/test-asp-net-core-mvc-apps.md
  docs/architecture/modern-web-apps-azure/work-with-data-in-asp-net-core-apps.md
Labels: dotnet-architecture/prod, modern-web-apps-azure/tech

#29014 Commit to add download alert - porting-aspnet-apps ebooks
  docs/architecture/porting-existing-aspnet-apps/additional-migration-resources.md
  docs/architecture/porting-existing-aspnet-apps/app-startup-differences.md
  docs/architecture/porting-existing-aspnet-apps/architectural-differences.md
  docs/architecture/porting-existing-aspnet-apps/authentication-differences.md
  docs/architecture/porting-existing-aspnet-apps/choose-net-core-version.md
  docs/architecture/porting-existing-aspnet-apps/comparing-razor-pages-aspnet-mvc.md
  docs/architecture/porting-existing-aspnet-apps/configuration-differences.md
  docs/architecture/porting-existing-aspnet-apps/controller-differences.md
  docs/architecture/porting-existing-aspnet-apps/dependency-injection-differences.md
  docs/architecture/porting-existing-aspnet-apps/deployment-scenarios.md
  docs/architecture/porting-existing-aspnet-apps/deployment-strategies.md
  docs/architecture/porting-existing-aspnet-apps/example-migration-eshop.md
  docs/architecture/porting-existing-aspnet-apps/hosting-differences.md
  docs/architecture/porting-existing-aspnet-apps/identify-migration-sequence.md
  docs/architecture/porting-existing-aspnet-apps/identity-differences.md
  docs/architecture/porting-existing-aspnet-apps/includes/download-alert.md
  docs/architecture/porting-existing-aspnet-apps/incremental-migration-strategies.md
  docs/architecture/porting-existing-aspnet-apps/introduction.md
  docs/architecture/porting-existing-aspnet-apps/logging-differences.md
  docs/architecture/porting-existing-aspnet-apps/media/cover-thumbnail.png
  docs/architecture/porting-existing-aspnet-apps/middleware-modules-handlers.md
  docs/architecture/porting-existing-aspnet-apps/migrate-aspnet-core-2-1.md
  docs/architecture/porting-existing-aspnet-apps/migrate-large-solutions.md
  docs/architecture/porting-existing-aspnet-apps/migrate-web-forms.md
  docs/architecture/porting-existing-aspnet-apps/migration-considerations.md
  docs/architecture/porting-existing-aspnet-apps/more-migration-scenarios.md
  docs/architecture/porting-existing-aspnet-apps/razor-differences.md
  docs/architecture/porting-existing-aspnet-apps/routing-differences.md
  docs/architecture/porting-existing-aspnet-apps/serving-static-files.md
  docs/architecture/porting-existing-aspnet-apps/signalr-differences.md
  docs/architecture/porting-existing-aspnet-apps/strategies-migrating-in-production.md
  docs/architecture/porting-existing-aspnet-apps/summary.md
  docs/architecture/porting-existing-aspnet-apps/testing-differences.md
  docs/architecture/porting-existing-aspnet-apps/understand-update-dependencies.md
  docs/architecture/porting-existing-aspnet-apps/webapi-differences.md
Labels: dotnet-architecture/prod

#28988 Update "Initialize Dapr" link to correct address.
  docs/architecture/dapr-for-net-developers/getting-started.md
Labels: dotnet-architecture/prod

#29004 [null validation operator] Correct iterator message
  docs/csharp/language-reference/operators/null-parameter-check.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#29057 add-package also updates packages
  docs/core/tools/dotnet-add-package.md
  docs/core/tools/dotnet-list-package.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, okr-coverage

#28971 Improves sentence by removing extra "that operation" typo
  docs/standard/parallel-programming/potential-pitfalls-in-data-and-task-parallelism.md
Labels: dotnet-fundamentals/prod

#29059 Minor comment changes.
  docs/core/diagnostics/metrics-instrumentation.md
Labels: dotnet-fundamentals/prod

#29060 Add remarks about global.json for CI
  docs/core/tools/global-json.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#29056 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#29008 Update intro.md
  docs/azure/intro.md
Labels: dotnet-azure/prod

#29068 Logging bugs should be created in the runtime-repo
  docs/core/extensions/logging.md
Labels: dotnet-fundamentals/prod

#29065 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#29063 For Windows 11 use win10 RIDs
  docs/core/rid-catalog.md
Labels: dotnet-fundamentals/prod

#29070 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28976 Adding new options and example scenarios
  cSpell.json
  docs/core/additional-tools/dotnet-coverage.md
Labels: dotnet-fundamentals/prod

#29058 Fix broken links
  docs/architecture/cloud-native/grpc.md
  docs/architecture/cloud-native/identity-server.md
  docs/core/compatibility/core-libraries/5.0/reverse-order-of-tags-in-activity-property.md
  docs/framework/wcf/feature-details/hosting-in-a-windows-service-application.md
  docs/framework/wcf/feature-details/partial-trust-feature-compatibility.md
  docs/framework/wcf/feature-details/stand-alone-json-serialization.md
  docs/framework/wcf/feature-details/transaction-models.md
  docs/orleans/resources/links.md
Labels: dotnet-framework/prod, dotnet-architecture/prod, cloud-native/tech, dotnet-wcf/tech, dotnet-fundamentals/prod

#29073 Docs: Fix typo in NullParameterCheck snippet
  docs/csharp/language-reference/operators/snippets/shared/NullParameterCheck.cs
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#29071 object members with source generation in System.Text.Json
  docs/standard/serialization/snippets/system-text-json-source-generation/csharp/ObjectProperties.cs
  docs/standard/serialization/snippets/system-text-json-source-generation/csharp/Program.cs
  docs/standard/serialization/system-text-json-source-generation.md
Labels: dotnet-fundamentals/prod

#29079 Document raw string literals
  docs/csharp/language-reference/builtin-types/reference-types.md
  docs/csharp/language-reference/tokens/interpolated.md
  docs/csharp/language-reference/tokens/snippets/string-interpolation.cs
  docs/csharp/programming-guide/strings/how-to-determine-whether-a-string-represents-a-numeric-value.md
  docs/csharp/programming-guide/strings/index.md
  docs/csharp/programming-guide/strings/snippets/Declarations.cs
  docs/csharp/programming-guide/strings/snippets/Program.cs
  docs/csharp/programming-guide/strings/snippets/StringCharacters.cs
  docs/csharp/programming-guide/strings/snippets/StringExamples.csproj
  docs/csharp/programming-guide/strings/snippets/StringInterpolation.cs
  docs/csharp/programming-guide/strings/snippets/StringLiterals.cs
  docs/csharp/programming-guide/strings/snippets/StringParsing.cs
  docs/csharp/whats-new/csharp-11.md
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideStrings/CS/CSRefStrings.csproj
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideStrings/CS/Strings.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideStrings/CS/TestStringBuilder.cs
  samples/snippets/csharp/programming-guide/strings/Strings_1.cs
  samples/snippets/csharp/programming-guide/strings/Strings_1.csproj
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, csharp-language-reference/tech, csharp-whats-new/tech

#29007 Document Diagnostic Port
  docs/core/diagnostics/diagnostic-port.md
  docs/core/diagnostics/dotnet-counters.md
  docs/core/diagnostics/dotnet-trace.md
  docs/core/diagnostics/eventpipe.md
  docs/core/tools/dotnet-environment-variables.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#29082 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#29081 Note alternative organization option
  docs/core/tutorials/testing-with-cli.md
Labels: dotnet-fundamentals/prod

#29080 Edit pass
  docs/core/tools/dotnet-new-install.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#29085 Add section to app launch failure page about .NET installation not being found
  docs/core/runtime-discovery/troubleshoot-app-launch.md
Labels: dotnet-fundamentals/prod

#28907 Add note about potentially erroneous gcdumps
  docs/core/diagnostics/dotnet-gcdump.md
Labels: dotnet-fundamentals/prod

#29103 Remove articles on `!!`
  .openpublishing.redirection.csharp.json
  docs/csharp/language-reference/operators/null-forgiving.md
  docs/csharp/language-reference/operators/null-parameter-check.md
  docs/csharp/language-reference/operators/snippets/shared/NullParameterCheck.cs
  docs/csharp/language-reference/operators/snippets/shared/Program.cs
  docs/csharp/language-reference/operators/snippets/shared/operators.csproj
  docs/csharp/nullable-references.md
  docs/csharp/toc.yml
  docs/csharp/whats-new/csharp-11.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-whats-new/tech

#28965 Add multilevel lookup breaking change
  docs/core/compatibility/7.0.md
  docs/core/compatibility/deployment/7.0/multilevel-lookup.md
  docs/core/compatibility/toc.yml
  docs/core/tools/dotnet-environment-variables.md
Labels: dotnet-fundamentals/prod

#29091 Allow demo code to compile
  docs/fsharp/language-reference/computation-expressions.md
Labels: dotnet-fsharp/prod

#29006 Added version info for libmsquic
  docs/core/extensions/httpclient-http3.md
Labels: dotnet-fundamentals/prod

#29104 Fix code order
  docs/framework/windows-services/walkthrough-creating-a-windows-service-application-in-the-component-designer.md
Labels: dotnet-framework/prod

#29110 Use proper alert syntax.
  docs/core/extensions/httpclient-http3.md
Labels: dotnet-fundamentals/prod

#29113 Add orphans to TOC
  docs/core/diagnostics/diagnostic-port.md
  docs/framework/interop/toc.yml
  docs/fundamentals/toc.yml
  docs/standard/native-interop/best-practices.md
  docs/standard/native-interop/customize-parameter-marshalling.md
  docs/standard/native-interop/customize-struct-marshalling.md
  docs/standard/native-interop/disabled-marshalling.md
  docs/standard/native-interop/type-marshalling.md
Labels: dotnet-framework/prod, dotnet-fundamentals/prod

#29116 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#29123 Mark Ubuntu 21.04 as unsupported
  docs/core/install/linux.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#29126 fix extra braces in example
  docs/csharp/language-reference/tokens/snippets/string-interpolation.cs
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#29117 Keep aligned with our released stable package
  docs/azure/sdk/resource-management.md
Labels: dotnet-azure/prod, okr-coverage

#29114 Fix build suggestions
  docs/core/diagnostics/eventsource-collect-and-view-traces.md
  docs/core/diagnostics/eventsource-instrumentation.md
Labels: dotnet-fundamentals/prod

#28943 Recommend using the 0x prefix in App.config
  docs/core/runtime-config/garbage-collector.md
Labels: dotnet-fundamentals/prod

#29129 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#29139 Fix typos in Azure SDK for .NET mgmt plane doc
  docs/azure/sdk/resource-management.md
Labels: dotnet-azure/prod

#29140 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#29135 Fix a typo
  docs/csharp/whats-new/csharp-9.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech

#29148 Correctly state supported versions of Visual Studio.
  docs/standard/analyzers/portability-analyzer.md
Labels: okr-coverage

#29096 Update code example on runes and text elements to be clearer
  docs/standard/base-types/snippets/character-encoding-introduction/csharp/CountTextElements.cs
Labels: dotnet-fundamentals/prod

#29150 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#29172 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#29154 Cover list patterns
  docs/csharp/fundamentals/functional/pattern-matching.md
  docs/csharp/fundamentals/functional/snippets/patterns/OrderProcessor.cs
  docs/csharp/fundamentals/functional/snippets/patterns/patterns.csproj
  docs/csharp/fundamentals/tutorials/pattern-matching.md
  docs/csharp/language-reference/operators/is.md
  docs/csharp/language-reference/operators/patterns.md
  docs/csharp/language-reference/operators/snippets/patterns/ConstantPattern.cs
  docs/csharp/language-reference/operators/snippets/patterns/DeclarationAndTypePatterns.cs
  docs/csharp/language-reference/operators/snippets/patterns/DiscardPattern.cs
  docs/csharp/language-reference/operators/snippets/patterns/ListPattern.cs
  docs/csharp/language-reference/operators/snippets/patterns/LogicalPatterns.cs
  docs/csharp/language-reference/operators/snippets/patterns/PositionalPattern.cs
  docs/csharp/language-reference/operators/snippets/patterns/Program.cs
  docs/csharp/language-reference/operators/snippets/patterns/PropertyPattern.cs
  docs/csharp/language-reference/operators/snippets/patterns/RelationalPatterns.cs
  docs/csharp/language-reference/operators/snippets/patterns/VarPattern.cs
  docs/csharp/language-reference/operators/snippets/patterns/patterns.csproj
  docs/csharp/language-reference/operators/snippets/shared/IsOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/operators.csproj
  docs/csharp/language-reference/operators/switch-expression.md
  docs/csharp/tour-of-csharp/features.md
  docs/csharp/whats-new/csharp-11.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, csharp-language-reference/tech, csharp-whats-new/tech, csharp-get-started/tech, okr-coverage

#29177 Clarify behavior with examples
  docs/csharp/language-reference/keywords/checked-and-unchecked.md
  docs/csharp/language-reference/keywords/snippets/CheckedUnchecked.cs
  docs/csharp/language-reference/keywords/snippets/Program.cs
Labels: dotnet-csharp/prod, csharp-language-reference/tech, okr-experience

#29184 Typo "Azure Pipeline"→"Azure Pipelines"
  docs/architecture/devops-for-aspnet-developers/actions-vs-pipelines.md
Labels: dotnet-architecture/prod

#29183 chore: remove git.io
  docs/architecture/porting-existing-aspnet-apps/example-migration-eshop.md
Labels: dotnet-architecture/prod, okr-experience

#29128 Replace hyphen-link characer with hyphen
  docs/standard/assembly/delay-sign.md
Labels: dotnet-fundamentals/prod

#28849 Fix Configuration section key
  docs/architecture/microservices/implement-resilient-applications/monitor-app-health.md
Labels: dotnet-architecture/prod, microservices/tech

#29182 Adding a threadpool starvation tutorial
  docs/core/diagnostics/debug-threadpool-starvation.md
  docs/core/diagnostics/index.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#29215 Update comment per #29214
  samples/snippets/csharp/VS_Snippets_CLR/DPAPI-HowTO/cs/sample.cs
  samples/snippets/csharp/VS_Snippets_CLR/DPAPI-HowTO/cs/sample.csproj
Labels: okr-coverage
