Repository dotnet/docs, pull requests merged in 2022-10, with the labels that each got.

#31532 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31515 added content for missing error message cs8124
  docs/csharp/language-reference/compiler-messages/cs8124.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31517 added content for missing error message cs8127
  docs/csharp/language-reference/compiler-messages/cs8127.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31518 added content for missing error message cs8129
  docs/csharp/language-reference/compiler-messages/cs8129.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31519 added content for missing error message cs8130
  docs/csharp/language-reference/compiler-messages/cs8130.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31520 added content for missing error message cs8131
  docs/csharp/language-reference/compiler-messages/cs8131.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31543 chore: migrate to Markdownlint-CLI2
  .github/workflows/markdownlint.yml
  .markdownlint-cli2.jsonc
  .markdownlint.json
Labels: community-contribution

#31521 added content for missing error message cs8132
  docs/csharp/language-reference/compiler-messages/cs8132.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31545 fix: various typos in MD files
  docs/architecture/maui/authentication-and-authorization.md
  docs/csharp/fundamentals/types/anonymous-types.md
  docs/csharp/language-reference/keywords/async.md
  docs/csharp/language-reference/tokens/interpolated.md
  docs/framework/unmanaged-api/debugging/iclrdebugginglibraryprovider3-interface.md
  docs/framework/wcf/feature-details/routing-introduction.md
  docs/framework/wcf/samples/customchannelstester.md
  docs/framework/windows-workflow-foundation/using-workflowinvoker-and-workflowapplication.md
  docs/fundamentals/code-analysis/quality-rules/ca5360.md
Labels: dotnet-framework/prod, dotnet-csharp/prod, csharp-fundamentals/tech, csharp-language-reference/tech, dotnet-architecture/prod, dotnet-wcf/tech, dotnet-wf/tech, dotnet-fundamentals/prod, community-contribution

#31522 added content for missing error message cs8139
  docs/csharp/language-reference/compiler-messages/cs8139.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31523 added content for missing error message cs8140
  docs/csharp/language-reference/compiler-messages/cs8140.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31550 Fix typos in /docs/core/compatibility
  docs/core/compatibility/core-libraries/6.0/parameters-renamed-on-stream-derived-types.md
  docs/core/compatibility/core-libraries/6.0/system-drawing-common-windows-only.md
  docs/core/compatibility/index.md
  docs/core/compatibility/networking/7.0/socket-end-closed-sockets.md
  docs/core/compatibility/serialization/5.0/options-honored-when-serializing-key-value-pairs.md
Labels: community-contribution

#31556 finite -> fine
  docs/csharp/programming-guide/concepts/async/using-async-for-file-access.md
Labels: dotnet-csharp/prod, csharp-async/tech

#31435 fixes issue #31330
  docs/architecture/grpc-for-wcf-developers/includes/download-alert.md
Labels: dotnet-architecture/prod, grpc/tech, community-contribution

#31544 ci: Allow Dependabot to update GitHub Actions
  .github/dependabot.yml
Labels: community-contribution

#31578 ci: cleanup actions usings
  .github/workflows/bcnotify.yaml
  .github/workflows/build-validation.yml
  .github/workflows/docs-verifier-tryfix.yml
  .github/workflows/docs-verifier.yml
  .github/workflows/markdownlint.yml
  .github/workflows/no-response.yml
Labels: community-contribution

#31530 Add note about JsonDocument
  docs/standard/serialization/system-text-json/overview.md
Labels: dotnet-fundamentals/prod

#29710 [Freshness] US-1953530: Refresh top articles by PV - .NET and Languages Content
  docs/core/additional-tools/uninstall-tool.md
  docs/core/porting/index.md
  docs/core/testing/unit-testing-best-practices.md
  docs/core/tools/index.md
  docs/core/tutorials/index.md
  docs/standard/base-types/parsing-datetime.md
  docs/standard/base-types/trimming.md
  docs/standard/events/index.md
  docs/standard/garbage-collection/fundamentals.md
  docs/standard/serialization/system-text-json/ignore-properties.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#30093 [Freshness] US-1953530: Refresh top articles by PV - .NET and Languages Content (3)
  docs/core/testing/index.md
  docs/standard/base-types/how-to-display-milliseconds-in-date-and-time-values.md
  docs/standard/base-types/how-to-verify-that-strings-are-in-valid-email-format.md
  docs/standard/choosing-core-framework-server.md
  docs/standard/collections/thread-safe/index.md
  docs/standard/datetime/converting-between-datetime-and-offset.md
  docs/standard/design-guidelines/naming-guidelines.md
  docs/standard/io/how-to-write-text-to-a-file.md
  docs/standard/parallel-programming/task-parallel-library-tpl.md
  docs/standard/serialization/examples-of-xml-serialization.md
  includes/regex.md
Labels: dotnet/prod, dotnet-standard/tech, dotnet-fundamentals/prod

#30303 [Freshness] US-1953530: Refresh top articles by PV - .NET and Languages Content (5)
  docs/standard/attributes/retrieving-information-stored-in-attributes.md
  docs/standard/attributes/writing-custom-attributes.md
  docs/standard/base-types/best-practices.md
  docs/standard/base-types/how-to-extract-the-day-of-the-week-from-a-specific-date.md
  docs/standard/datetime/system-text-json-support.md
  docs/standard/events/how-to-raise-and-consume-events.md
  docs/standard/io/how-to-read-text-from-a-file.md
  docs/standard/parallel-programming/chaining-tasks-by-using-continuation-tasks.md
  docs/standard/serialization/controlling-xml-serialization-using-attributes.md
  docs/standard/threading/using-threads-and-threading.md
Labels: dotnet-fundamentals/prod

#31579 chore: Add Dependabot for GitHub Actions snippets
  .github/dependabot.yml
Labels: community-contribution

#31576 Match condition from the snippet and the content. (#31377)
  docs/fsharp/language-reference/match-expressions.md
Labels: dotnet-fsharp/prod, community-contribution, okr-health

#31583 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31557 Ignore explicit porting bits for upgrade assistant content
  dotnet-versionsweeper.json
Labels: okr-coverage

#31555 Add a contract customization example to the Required members documentation
  docs/standard/serialization/system-text-json/required-properties.md
Labels: dotnet-fundamentals/prod

#31593 Clean up C# breadcrumbs
  .openpublishing.redirection.csharp.json
  docs/breadcrumb/toc.yml
Labels: community-contribution

#31597 Repeated XML elements breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/extensions/6.0/repeated-xml-elements.md
  docs/core/compatibility/toc.yml
  docs/core/extensions/configuration-providers.md
Labels: dotnet-fundamentals/prod

#31598 Fix typo.
  docs/csharp/language-reference/keywords/method-parameters.md
Labels: community-contribution

#31603 Fix wording in LINQ docs
  docs/csharp/programming-guide/concepts/linq/projection-operations.md
  docs/visual-basic/programming-guide/concepts/linq/projection-operations.md
Labels: dotnet-visualbasic/prod, dotnet-csharp/prod, csharp-linq/tech, community-contribution

#31605 docs: fixing structure field initializers section
  docs/csharp/language-reference/builtin-types/struct.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution, okr-health

#31606 Update GroupQueryResults.cs
  samples/snippets/csharp/concepts/linq/LinqSamples/GroupQueryResults.cs
Labels: community-contribution

#31608 Link the specific using article when possible
  docs/csharp/misc/cs0104.md
  docs/csharp/misc/cs0138.md
  docs/csharp/misc/cs1529.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech, community-contribution

#31584 Update dependabot.yml
  .github/dependabot.yml
Labels: okr-health

#31577 Add see also link
  docs/framework/migration-guide/how-to-determine-which-versions-are-installed.md
Labels: dotnet-framework/prod, dotnet-appcompat/tech

#31595 Networking breaking change
  docs/core/compatibility/7.0.md
  docs/core/compatibility/networking/7.0/connectasync-argumentexception.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#31617 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31621 Fix various typos in /docs/standard/base-types
  docs/standard/base-types/grouping-constructs-in-regular-expressions.md
  docs/standard/base-types/how-to-display-dates-in-non-gregorian-calendars.md
  docs/standard/base-types/miscellaneous-constructs-in-regular-expressions.md
  docs/standard/base-types/standard-numeric-format-strings.md
Labels: community-contribution

#31618 Avoid using one-shot HttpClient in code sample
  docs/fundamentals/networking/http/httpclient.md
  docs/fundamentals/networking/snippets/httpclient/Program.cs
Labels: doc-enhancement, dotnet-networking/tech, dotnet-fundamentals/prod

#31627 Update Repo Bug Issue Link
  docs/core/extensions/generic-host.md
Labels: dotnet-fundamentals/prod

#31558 Update logging-with-elastic-stack.md
  docs/architecture/cloud-native/logging-with-elastic-stack.md
Labels: dotnet-architecture/prod, cloud-native/tech, okr-health

#31585 chore: update Actions versions in docs and samples
  docs/architecture/devops-for-aspnet-developers/actions-build.md
  docs/architecture/devops-for-aspnet-developers/actions-codeql.md
  docs/architecture/devops-for-aspnet-developers/actions-deploy.md
  docs/devops/dotnet-build-github-action.md
  docs/devops/dotnet-publish-github-action.md
  docs/devops/dotnet-test-github-action.md
  docs/devops/snippets/create-dotnet-github-action/workflow.yml
  docs/devops/snippets/dotnet-build-github-action/build-validation.yml
  docs/devops/snippets/dotnet-publish-github-action/publish-app.yml
  docs/devops/snippets/dotnet-secure-github-action/codeql-analysis.yml
  docs/devops/snippets/dotnet-test-github-action/build-and-test.yml
  docs/orleans/deployment/deploy-to-azure-app-service.md
  docs/orleans/deployment/deploy-to-azure-container-apps.md
Labels: dotnet-architecture/prod, community-contribution

#31630 Fix link by adding pivot
  docs/standard/serialization/system-text-json/converters-how-to.md
Labels: okr-health

#31623 Added links for adding EditorConfig files in IDEs
  docs/fundamentals/code-analysis/code-style-rule-options.md
Labels: dotnet-fundamentals/prod, community-contribution

#31633 logger-message-generator: change example param names to avoid confusion
  docs/core/extensions/logger-message-generator.md
Labels: community-contribution

#31640 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: azure-sdk-shipit

#31636 Updated link for UpDownCounter
  docs/core/diagnostics/metrics-instrumentation.md
Labels: community-contribution

#31637 Fix "Global IPv6 unicast addresses"
  docs/fundamentals/networking/ipv6-overview.md
Labels: okr-health

#31639 Fix typos and improve punctuation in /docs/csharp/language-reference
  docs/csharp/language-reference/attributes/nullable-analysis.md
  docs/csharp/language-reference/builtin-types/nullable-reference-types.md
  docs/csharp/language-reference/builtin-types/record.md
  docs/csharp/language-reference/compiler-messages/cs0767.md
  docs/csharp/language-reference/compiler-messages/cs1063.md
  docs/csharp/language-reference/compiler-messages/cs1737.md
  docs/csharp/language-reference/compiler-messages/cs1750.md
  docs/csharp/language-reference/compiler-messages/cs4013.md
  docs/csharp/language-reference/compiler-messages/cs4032.md
  docs/csharp/language-reference/compiler-messages/cs4033.md
  docs/csharp/language-reference/compiler-messages/cs8130.md
  docs/csharp/language-reference/compiler-messages/cs8131.md
  docs/csharp/language-reference/compiler-messages/cs8147.md
  docs/csharp/language-reference/compiler-messages/nullable-warnings.md
  docs/csharp/language-reference/index.md
  docs/csharp/language-reference/keywords/method-parameters.md
  docs/csharp/language-reference/keywords/override.md
  docs/csharp/language-reference/keywords/ref.md
  docs/csharp/language-reference/tokens/interpolated.md
Labels: community-contribution

#31638 Added missing character for xml snippet
  docs/architecture/porting-existing-aspnet-apps/deployment-scenarios.md
Labels: community-contribution

#31632 Add doc for CA2260
  docs/fundamentals/code-analysis/quality-rules/ca2260.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/usage-warnings.md
  docs/fundamentals/toc.yml
Labels: :checkered_flag: Release: .NET 7

#31499 Fsharp multiline type annotations
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod, community-contribution

#31498 Add guidance for fsharp base constructors.
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod, community-contribution

#31655 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: azure-sdk-shipit

#31661 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: azure-sdk-shipit

#31666 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: azure-sdk-shipit

#31669 chore: Enable whitespace triming in EditorConfig
  .editorconfig
Labels: community-contribution

#31675 Update .repoman.yml
  .repoman.yml
Labels: community-contribution

#31668 chore: Breaking Change schema errors
  .github/ISSUE_TEMPLATE/breaking-change.yml
Labels: community-contribution

#31650 Update index.md
  docs/csharp/programming-guide/index.md
Labels: community-contribution

#31676 Fix docs wording: 'maybe' to 'may be'
  docs/core/extensions/options.md
Labels: dotnet-fundamentals/prod, community-contribution

#31660 Move `file` keyword into contextual keyword list
  docs/csharp/language-reference/keywords/index.md
Labels: community-contribution

#31680 Publish speclet for low-level struct improvements
  docfx.json
  docs/csharp/language-reference/builtin-types/ref-struct.md
  docs/csharp/language-reference/statements/declarations.md
  docs/csharp/toc.yml
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#31687 docs: fix grammar in numbers-in-csharp
  docs/csharp/tour-of-csharp/tutorials/numbers-in-csharp.yml
Labels: dotnet-csharp/prod, csharp-get-started/tech, community-contribution

#31685 Clarify configuration files
  docs/fundamentals/code-analysis/suppress-warnings.md
Labels: dotnet-fundamentals/prod

#31694 Do not use smart quotes in code examples
  docs/framework/data/adonet/ef/language-reference/constructing-types-entity-sql.md
  docs/framework/data/adonet/ef/language-reference/entity-sql-quick-reference.md
  docs/framework/data/adonet/ef/language-reference/literals-entity-sql.md
  docs/framework/data/adonet/ef/language-reference/named-type-constructor-entity-sql.md
  docs/framework/data/adonet/sql/linq/sql-clr-type-mismatches.md
  docs/framework/whats-new/whats-new-in-accessibility.md
  docs/fsharp/what-is-fsharp.md
  docs/fsharp/whats-new/fsharp-6.md
Labels: dotnet-framework/prod, dotnet-fsharp/prod, dotnet-data/tech, community-contribution

#31688 Three ASP.NET Core breaking changes
  docs/core/compatibility/7.0.md
  docs/core/compatibility/aspnet-core/7.0/fallback-file-endpoints.md
  docs/core/compatibility/aspnet-core/7.0/iendpointmetadataprovider-changes.md
  docs/core/compatibility/aspnet-core/7.0/output-caching-renames.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#31703 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31697 Replace semicolon with comma (#31376)
  docs/csharp/language-reference/compiler-options/advanced.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution, okr-health

#31698 Rename result to quotient (#30705)
  docs/csharp/tour-of-csharp/snippets/shared/ClassesObjects.cs
Labels: dotnet-csharp/prod, csharp-get-started/tech, community-contribution

#31554 Update HTTP/3 support for HttpClient in .NET 7
  docs/core/extensions/httpclient-http3.md
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 7

#31735 fix links to the standard
  docs/csharp/language-reference/operators/arithmetic-operators.md
  docs/csharp/language-reference/operators/assignment-operator.md
  docs/csharp/language-reference/operators/bitwise-and-shift-operators.md
  docs/csharp/language-reference/operators/boolean-logical-operators.md
  docs/csharp/language-reference/operators/conditional-operator.md
  docs/csharp/language-reference/operators/delegate-operator.md
  docs/csharp/language-reference/operators/lambda-expressions.md
  docs/csharp/language-reference/operators/lambda-operator.md
  docs/csharp/language-reference/operators/true-false-operators.md
  docs/csharp/linq/index.md
  docs/csharp/programming-guide/concepts/linq/index.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-linq/tech

#31707 docs: fix Azure SDK for .NET API reference link
  docs/azure/index.yml
Labels: dotnet-azure/prod, community-contribution

#31738 add docs for diagnostics CP0019 and CP0020
  docs/fundamentals/package-validation/diagnostic-ids.md
Labels: dotnet-fundamentals/prod

#31752 Fix filename in runtimeconfig.dev.json breaking change doc
  docs/core/compatibility/sdk/6.0/runtimeconfigdev-file.md
Labels: dotnet-fundamentals/prod

#31587 Ported as conceptual article from .NET dev blog: `Regex` enhancements with .NET 7
  docfx.json
  docs/fundamentals/toc.yml
  docs/standard/base-types/media/regular-expression-source-generators/cached-instance-fallback.png
  docs/standard/base-types/media/regular-expression-source-generators/cached-instance.png
  docs/standard/base-types/media/regular-expression-source-generators/convert-to-regexgenerator.png
  docs/standard/base-types/media/regular-expression-source-generators/debuggable-source.png
  docs/standard/base-types/media/regular-expression-source-generators/xml-comments.png
  docs/standard/base-types/regular-expression-source-generators.md
  docs/standard/base-types/regular-expressions.md
  docs/standard/base-types/snippets/regular-expression-source-generators/Program.cs
  docs/standard/base-types/snippets/regular-expression-source-generators/regex.csproj
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 7

#31737 Unpublish speclets
  .openpublishing.redirection.csharp.json
  docfx.json
  docs/csharp/toc.yml
Labels: dotnet-csharp/prod

#31750 Update high-performance-logging.md with note
  docs/core/extensions/high-performance-logging.md
Labels: dotnet-fundamentals/prod, community-contribution

#29805 Additional explanation for CS0501
  docs/csharp/misc/cs0501.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech

#31701 Added more docs for ref fields
  docs/csharp/language-reference/builtin-types/ref-struct.md
  docs/csharp/language-reference/builtin-types/snippets/shared/StructType.cs
  docs/csharp/language-reference/keywords/method-parameters.md
  docs/csharp/language-reference/operators/assignment-operator.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#31763 Typo
  docs/standard/assembly/type-forwarding.md
Labels: dotnet-fundamentals/prod

#31764 Fix dotnet ZSH auto complete script
  docs/core/tools/enable-tab-autocomplete.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, okr-health

#31741 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31762 Address concerns in #31601
  docs/standard/assembly/embed-types-visual-studio.md
Labels: dotnet-fundamentals/prod, okr-health

#31758 Address peer feedback
  docs/standard/base-types/regular-expression-source-generators.md
  docs/standard/base-types/snippets/regular-expression-source-generators/Program.cs
Labels: okr-coverage

#31771 Fix field name minimumBalance to _minimumBalance
  docs/csharp/fundamentals/tutorials/oop.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution, okr-health

#31751 fix: adding `paste` shortcut tip to the start of each tutorial
  docs/csharp/tour-of-csharp/tutorials/branches-and-loops-local.md
  docs/csharp/tour-of-csharp/tutorials/branches-and-loops.yml
  docs/csharp/tour-of-csharp/tutorials/hello-world.yml
  docs/csharp/tour-of-csharp/tutorials/list-collection.yml
  docs/csharp/tour-of-csharp/tutorials/numbers-in-csharp-local.md
  docs/csharp/tour-of-csharp/tutorials/numbers-in-csharp.yml
Labels: dotnet-csharp/prod, csharp-get-started/tech, community-contribution

#31772 Remove redundant sentence
  docs/architecture/microservices/net-core-net-framework-containers/net-container-os-targets.md
Labels: dotnet-architecture/prod, microservices/tech, community-contribution

#31769 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31787 Generic attributes is C# 11
  .openpublishing.redirection.csharp.json
  docfx.json
  docs/csharp/toc.yml
Labels: dotnet-csharp/prod

#31780 Add code examples and update content for HTTP error handling
  docs/fundamentals/networking/http/httpclient.md
  docs/fundamentals/networking/snippets/httpclient/Program.Cancellation.cs
  docs/fundamentals/networking/snippets/httpclient/Program.CancellationInnerTimeout.cs
  docs/fundamentals/networking/snippets/httpclient/Program.CancellationStatusCode.cs
  docs/fundamentals/networking/snippets/httpclient/Program.CancellationStream.cs
  docs/fundamentals/networking/snippets/httpclient/Program.Delete.cs
  docs/fundamentals/networking/snippets/httpclient/Program.Get.cs
  docs/fundamentals/networking/snippets/httpclient/Program.GetFromJson.cs
  docs/fundamentals/networking/snippets/httpclient/Program.Head.cs
  docs/fundamentals/networking/snippets/httpclient/Program.Options.cs
  docs/fundamentals/networking/snippets/httpclient/Program.Patch.cs
  docs/fundamentals/networking/snippets/httpclient/Program.Post.cs
  docs/fundamentals/networking/snippets/httpclient/Program.PostAsJson.cs
  docs/fundamentals/networking/snippets/httpclient/Program.Put.cs
  docs/fundamentals/networking/snippets/httpclient/Program.PutAsJson.cs
  docs/fundamentals/networking/snippets/httpclient/Program.Responses.cs
  docs/fundamentals/networking/snippets/httpclient/Program.ThrowHttpException.cs
  docs/fundamentals/networking/snippets/httpclient/Program.cs
Labels: dotnet-networking/tech, dotnet-fundamentals/prod, okr-coverage

#31782 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31754 Provide examples for --framework
  docs/core/tools/dotnet-build.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#31794 Fixed the naming inconsistencies of the WORKDIR
  docs/core/docker/build-container.md
Labels: dotnet-fundamentals/prod, dotnet-docker/tech, community-contribution

#31792 Added links to references libraries
  docs/architecture/microservices/architect-microservice-container-applications/asynchronous-message-based-communication.md
Labels: dotnet-architecture/prod, microservices/tech, community-contribution

#31770 MemoryCache breaking change
  docs/core/compatibility/7.0.md
  docs/core/compatibility/core-libraries/7.0/memorycache-tracking.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 7

#31045 Warn against installing dotnet tools on snap installations
  docs/core/install/linux-snap.md
  docs/core/tools/global-tools.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#31804 Update the list of available networking counters
  docs/core/diagnostics/available-counters.md
Labels: dotnet-fundamentals/prod

#31818 Fix links in using articles
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/prod, community-contribution

#31817 Add `dotnet publish` article for .NET 7 containerization support.
  docs/core/docker/build-container.md
  docs/core/docker/publish-as-container.md
  docs/core/docker/snippets/Worker/DotNet.ContainerImage.csproj
  docs/core/docker/snippets/Worker/Program.cs
  docs/core/docker/snippets/Worker/Properties/launchSettings.json
  docs/core/docker/snippets/Worker/Worker.cs
  docs/core/docker/snippets/Worker/appsettings.Development.json
  docs/core/docker/snippets/Worker/appsettings.json
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod, dotnet-docker/tech, okr-discovery, :checkered_flag: Release: .NET 7

#31813 Tweak cody analysis rules
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/style-rules/csharp-formatting-options.md
  docs/fundamentals/code-analysis/style-rules/dotnet-formatting-options.md
  docs/fundamentals/code-analysis/style-rules/ide0003-ide0009.md
  docs/fundamentals/code-analysis/style-rules/ide0007-ide0008.md
  docs/fundamentals/code-analysis/style-rules/ide0011.md
  docs/fundamentals/code-analysis/style-rules/ide0047-ide0048.md
  docs/fundamentals/code-analysis/style-rules/ide0049.md
Labels: dotnet-fundamentals/prod, community-contribution

#31789 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31930 Remove DangerousDisablePathAndQueryCanonicalization Uri sample
  docs/fundamentals/networking/overview.md
  docs/fundamentals/networking/snippets/misc/Program.Uri.cs
  docs/fundamentals/networking/snippets/misc/Program.cs
Labels: dotnet-networking/tech, dotnet-fundamentals/prod

#31935 Fix Standalone GC table format
  docs/core/runtime-config/garbage-collector.md
Labels: dotnet-fundamentals/prod

#31937 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31925 update build-aspnet-core-applications-linux-containers-aks-kubernetes
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/build-aspnet-core-applications-linux-containers-aks-kubernetes.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/media/build-aspnet-core-applications-linux-containers-aks-kubernetes/enter-project-name-and-location.png
Labels: dotnet-architecture/prod, containerized-lifecycle/tech, community-contribution

#31934 Add section on Utf8JsonReader.CopyString
  docs/standard/serialization/system-text-json/converters-how-to.md
  docs/standard/serialization/system-text-json/use-dom-utf8jsonreader-utf8jsonwriter.md
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 7

#31944 Fix PoliChek hit: Scotch
  docs/machine-learning/tutorials/snippets/image-classification/csharp/assets/inception/imagenet.csv
Labels: dotnet-ml/prod, community-contribution

#31806 [Tiny] Fix one single Event ID
  docs/fundamentals/diagnostics/runtime-garbage-collection-events.md
Labels: dotnet-fundamentals/prod, community-contribution

#31773 Update Program.cs
  samples/snippets/csharp/programming-guide/dynamic-linq-expression-trees/Program.cs
Labels: community-contribution

#31805 Tool list package id feature doc update
  docs/core/tools/dotnet-tool-list.md
  docs/core/tools/global-tools.md
Labels: DO NOT MERGE, dotnet-cli/tech, dotnet-fundamentals/prod, community-contribution

#31811 Add Networking Telemetry docs
  docs/fundamentals/networking/networking-telemetry.md
  docs/fundamentals/networking/overview.md
  docs/fundamentals/networking/snippets/internal-diag-telemetry/Program.cs
  docs/fundamentals/networking/snippets/internal-diag-telemetry/internal-diag-telemetry.csproj
  docs/fundamentals/networking/snippets/misc/Program.cs
  docs/fundamentals/networking/snippets/misc/RuntimeEventCounters.cs
  docs/fundamentals/networking/snippets/networking.sln
Labels: dotnet-networking/tech, dotnet-fundamentals/prod

#31950 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31952 Add information on how to install a template from a private NuGet Server
  docs/core/tools/custom-templates.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, community-contribution

#31953 Fixed issue on breaking change announcement for ASP.NET Core 7
  docs/core/compatibility/aspnet-core/7.0/default-authentication-scheme.md
Labels: dotnet-fundamentals/prod

#31692 Fix copy/paste error
  docs/csharp/language-reference/keywords/method-parameters.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, okr-health

#31473 Add docs for project properties that control PDBs and XML publishing
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 7

#31535 Update pre-requisites for native aot publishing
  docs/core/deploying/native-aot/index.md
Labels: dotnet-fundamentals/prod

#31955 WebAssembly authentication breaking change
  docs/core/compatibility/7.0.md
  docs/core/compatibility/aspnet-core/7.0/wasm-app-authentication.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#31959 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31957 Revised list patterns reference
  docs/csharp/fundamentals/functional/pattern-matching.md
  docs/csharp/fundamentals/functional/snippets/patterns/ListPattern.cs
  docs/csharp/fundamentals/functional/snippets/patterns/OrderProcessor.cs
  docs/csharp/fundamentals/functional/snippets/patterns/Program.cs
  docs/csharp/language-reference/operators/patterns.md
  docs/csharp/language-reference/operators/snippets/patterns/DeclarationAndTypePatterns.cs
  docs/csharp/language-reference/operators/snippets/patterns/ListPattern.cs
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, csharp-language-reference/tech, community-contribution

#31960 Changed event subscribe from C# 1.0/1.1 (2002 to 2004) era to C# 2.0 stye (2005)
  samples/snippets/csharp/VS_Snippets_Data/XmlSchemaSetOverall Example/CS/xmlschemasetexample.cs
Labels: community-contribution

#31963 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31961 Note break for .NET 6 servicing
  docs/core/compatibility/6.0.md
  docs/core/compatibility/serialization/7.0/datacontractserializer-negative-sign.md
  docs/core/compatibility/toc.yml
Labels: :checkered_flag: Release: .NET 6, dotnet-fundamentals/prod, :checkered_flag: Release: .NET 7

#31969 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31980 Update struct.md
  docs/csharp/language-reference/builtin-types/struct.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#31967 Add three new properties
  docs/core/project-sdk/msbuild-props.md
  docs/core/tools/dependencies.md
  docs/core/tools/sdk-errors/netsdk1100.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, :checkered_flag: Release: .NET 7

#31970 Document UseCurrentRuntime
  docs/core/tools/dotnet-build.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, :checkered_flag: Release: .NET 7

#32002 Revert "Tool list package id feature doc update"
  docs/core/tools/dotnet-tool-list.md
  docs/core/tools/global-tools.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#31962 Reference types
  docs/csharp/language-reference/keywords/reference-types.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#32004 Document Publish UseCurrentRuntime
  docs/core/tools/dotnet-publish.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#32006 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#32009 Update implement-defaultazurecredential.md
  docs/azure/sdk/includes/implement-defaultazurecredential.md
Labels: dotnet-azure/prod

#31971 Source generation for STJ update
  docs/standard/serialization/system-text-json/snippets/system-text-json-source-generation/csharp/BothModesNoOptions.cs
  docs/standard/serialization/system-text-json/snippets/system-text-json-source-generation/csharp/SystemTextJsonSamples.csproj
  docs/standard/serialization/system-text-json/source-generation-modes.md
  docs/standard/serialization/system-text-json/source-generation.md
Labels: dotnet-fundamentals/prod

#32013 Rename from latest RC bits
  docs/core/extensions/http-ratelimiter.md
  docs/core/extensions/snippets/ratelimit/http/ClientSideRateLimitedHandler.cs
  docs/core/extensions/snippets/ratelimit/http/Program.cs
  docs/core/extensions/snippets/ratelimit/http/http.csproj
Labels: dotnet-networking/tech, dotnet-fundamentals/prod, okr-discovery

#32026 Added back the used `StarVoteControl` project
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Properties/AssemblyInfo.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Properties/Resources.Designer.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Properties/Resources.resx
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Properties/Settings.Designer.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Properties/Settings.settings
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/StarVoteControl.csproj
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Vote.xaml
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Vote.xaml.cs
Labels: dotnet-fundamentals/prod, okr-health

#32017 Fix broken links - October
  docs/architecture/dapr-for-net-developers/observability.md
  docs/core/porting/upgrade-assistant-wcf.md
  docs/csharp/language-reference/compiler-messages/cs0103.md
  docs/framework/tools/ngen-exe-native-image-generator.md
  docs/fsharp/using-fsharp-on-azure/apache-spark.md
  docs/fundamentals/toc.yml
Labels: :construction: Hold for related PR, dotnet-framework/prod, dotnet-fsharp/prod, dotnet-csharp/prod, csharp-language-reference/tech, dotnet-architecture/prod, csharp-diagnostics/tech, dotnet-fundamentals/prod

#32031 fix link to section "D.4.2 ID string format"
  docs/fundamentals/code-analysis/suppress-warnings.md
Labels: dotnet-fundamentals/prod

#32040 Added more examples, corrected existing, and revised impl patterns
  docs/standard/garbage-collection/implementing-disposeasync.md
  docs/standard/garbage-collection/snippets/dispose-async/AnotherAsyncDisposable.cs
  docs/standard/garbage-collection/snippets/dispose-async/ExampleAsyncDisposable.cs
  docs/standard/garbage-collection/snippets/dispose-async/ExampleConfigureAwaitProgram.cs
  docs/standard/garbage-collection/snippets/dispose-async/ExampleConjunctiveDisposable.cs
  docs/standard/garbage-collection/snippets/dispose-async/ExamplePatterns.cs
  docs/standard/garbage-collection/snippets/dispose-async/ExampleUsingDeclarationProgram.cs
  docs/standard/garbage-collection/snippets/dispose-async/ExampleUsingStatementProgram.cs
  docs/standard/garbage-collection/snippets/dispose-async/NoopAsyncDisposable.cs
  docs/standard/garbage-collection/snippets/dispose-async/SealedExampleAsyncDisposable.cs
Labels: dotnet-fundamentals/prod

#32030 Creating CS1751
  docs/csharp/language-reference/compiler-messages/cs1751.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech

#32036 Fix broken code snippet in source-generated logging docs
  docs/core/extensions/logger-message-generator.md
Labels: dotnet-fundamentals/prod

#32043 Add source code to ensure buildability
  docs/core/extensions/logger-message-generator.md
  docs/core/extensions/snippets/logging/logger-message-generator/Program.cs
  docs/core/extensions/snippets/logging/logger-message-generator/logger-message-generator.csproj
Labels: dotnet-fundamentals/prod, okr-discovery, okr-health

#32045 Update actions-deploy.md
  docs/architecture/devops-for-aspnet-developers/actions-deploy.md
Labels: dotnet-architecture/prod

#31032 Custom marshaller tutorial
  docs/fundamentals/toc.yml
  docs/standard/native-interop/pinvoke-source-generation.md
  docs/standard/native-interop/tutorial-custom-marshaller.md
Labels: dotnet-fundamentals/prod

#32005 Add Dotnet Workload command page.
  docs/core/tools/dotnet-workload.md
  docs/fundamentals/toc.yml
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#32049 Add new errors/warnings to NETSDK error index
  docs/core/tools/sdk-errors/index.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#32022 Restructuring Socket/TCP conceptual docs PR
  .openpublishing.redirection.core.json
  .openpublishing.redirection.framework.json
  docs/fundamentals/networking/overview.md
  docs/fundamentals/networking/sockets/socket-services.md
  docs/fundamentals/networking/sockets/tcp-classes.md
  docs/fundamentals/networking/tcp/tcp-overview.md
  docs/fundamentals/toc.yml
Labels: dotnet-networking/tech, dotnet-fundamentals/prod

#32018 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#32055 Update OWASP links
  docs/fundamentals/code-analysis/quality-rules/ca3005.md
  docs/standard/serialization/binaryformatter-security-guide.md
Labels: dotnet-fundamentals/prod, community-contribution

#32051 Policheck updates | 1 (Bulk updates)
  docs/orleans/deployment/docker-deployment.md
  docs/standard/base-types/formatting-types.md
Labels: community-contribution

#31696 Remove superfluous output (#30419)
  docs/fsharp/language-reference/arrays.md
Labels: dotnet-fsharp/prod, community-contribution
