Repository dotnet/docs, pull requests merged in 2022-02, with the labels that each got.

#28018 Commit to update the content with .NET 6
  docs/architecture/index.yml
  docs/architecture/toc.yml
Labels: dotnet-architecture/prod

#28013 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#27503 Cover Static abstract interfaces
  docs/csharp/toc.yml
  docs/csharp/whats-new/csharp-10.md
  docs/csharp/whats-new/tutorials/snippets/staticinterfaces/GetNext.cs
  docs/csharp/whats-new/tutorials/snippets/staticinterfaces/Point.cs
  docs/csharp/whats-new/tutorials/snippets/staticinterfaces/Program.cs
  docs/csharp/whats-new/tutorials/snippets/staticinterfaces/RepeatSequence.cs
  docs/csharp/whats-new/tutorials/snippets/staticinterfaces/Translation.cs
  docs/csharp/whats-new/tutorials/snippets/staticinterfaces/Utilities.cs
  docs/csharp/whats-new/tutorials/snippets/staticinterfaces/staticinterfaces.csproj
  docs/csharp/whats-new/tutorials/static-abstract-interface-methods.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech

#27560 Finish C# 10 updates
  .openpublishing.redirection.csharp.json
  docs/csharp/language-reference/keywords/contextual-keywords.md
  docs/csharp/language-reference/keywords/index.md
  docs/csharp/toc.yml
  docs/csharp/whats-new/csharp-version-history.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-whats-new/tech

#27849 Update task-based-asynchronous-programming.md
  docs/standard/parallel-programming/task-based-asynchronous-programming.md
Labels: dotnet-fundamentals/prod

#27988 Update resilient-high-availability-microservices.md
  docs/architecture/microservices/architect-microservice-container-applications/resilient-high-availability-microservices.md
Labels: dotnet-architecture/prod, microservices/tech

#27948 Add more information about Portable PDB symbols
  docs/core/diagnostics/symbols.md
Labels: dotnet-fundamentals/prod

#28034 Fix #24823
  docs/visual-basic/programming-guide/language-features/data-types/tuples.md
  docs/visual-basic/whats-new/index.md
  samples/snippets/visualbasic/programming-guide/language-features/data-types/tuple1.vb
  samples/snippets/visualbasic/programming-guide/language-features/data-types/tuple2.vb
  samples/snippets/visualbasic/programming-guide/language-features/data-types/tuple3.vb
  samples/snippets/visualbasic/programming-guide/language-features/data-types/tuples/tuple-returns.vb
  samples/snippets/visualbasic/programming-guide/language-features/data-types/tuples/tuples.vb
  samples/snippets/visualbasic/programming-guide/language-features/data-types/tuples/tuples.vbproj
Labels: dotnet-visualbasic/prod

#28035 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28055 Add example to CS0841
  docs/csharp/misc/cs0841.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech

#28042 Fix path in bash script for manual dotnet install
  docs/core/install/linux-scripted-manual.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod, okr-coverage

#28056 Porting Apps to .NET 6 Clarification
  docs/architecture/porting-existing-aspnet-apps/choose-net-core-version.md
  docs/architecture/porting-existing-aspnet-apps/introduction.md
Labels: dotnet-architecture/prod

#28040 Note new f# string indexing
  docs/fsharp/language-reference/strings.md
Labels: dotnet-fsharp/prod, okr-experience

#28041 Clarify note
  docs/csharp/language-reference/configure-language-version.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, okr-experience

#28060 Document crossgen/ReadyToRun break in the 6.0 SDK
  docs/core/compatibility/6.0.md
  docs/core/compatibility/sdk/6.0/publish-readytorun-requires-restore-change.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#28078 Correct example for dotnet nuget trust
  docs/core/tools/dotnet-nuget-trust.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#28073 Add Win10 21H2 in installation requirements
  docs/framework/get-started/system-requirements.md
Labels: :sparkles: 1st-time docs contributor!, dotnet-framework/prod

#28076 Corrections to the net-standard selector
  includes/net-standard-1.0.md
  includes/net-standard-1.1.md
  includes/net-standard-1.2.md
  includes/net-standard-1.3.md
  includes/net-standard-1.4.md
  includes/net-standard-1.5.md
  includes/net-standard-1.6.md
  includes/net-standard-2.0.md
  includes/net-standard-2.1.md
Labels: okr-coverage

#28083 Fix subcategory
  docs/fundamentals/code-analysis/style-rules/ide0065.md
Labels: dotnet-fundamentals/prod

#28096 Update section Formatting named arguments.
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod

#28081 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#28059 Add ref assemblies property
  docs/core/compatibility/sdk/6.0/write-reference-assemblies-to-obj.md
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/prod

#28079 Document --configfile option for dotnet nuget verify
  docs/core/tools/dotnet-nuget-verify.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#28101 Update environment variable name
  docs/core/dependency-loading/default-probing.md
Labels: dotnet-fundamentals/prod

#28100 Update prepare-libraries-for-trimming.md
  docs/core/deploying/trimming/prepare-libraries-for-trimming.md
Labels: dotnet-fundamentals/prod

#28070 Update create template tutorial for .NET 6
  docs/core/tutorials/cli-templates-create-item-template.md
  docs/core/tutorials/cli-templates-create-project-template.md
  docs/core/tutorials/cli-templates-create-template-package.md
Labels: dotnet-fundamentals/prod

#28066 Improve documentation about testing modes
  docs/core/tools/dotnet-test.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#28020 Add -minimal option for webapi
  docs/core/tools/dotnet-new-sdk-templates.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#28037 Update dotnet store examples and add a link for optimization step
  docs/core/tools/dotnet-store.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#28084 Update VS screenshot for install framework options
  docs/framework/install/guide-for-developers.md
  docs/framework/install/media/guide-for-developers/visual-studio-framework-large.png
  docs/framework/install/media/guide-for-developers/visual-studio-framework.png
  docs/framework/install/media/visual-studio-installer.jpg
Labels: dotnet-framework/prod, dotnet-install/tech

#28077 Update object-detection-model-builder.md
  docs/machine-learning/tutorials/object-detection-model-builder.md
Labels: dotnet-ml/prod, okr-experience

#28125 Clarify SDK/MSBuild roles in CA1416
  docs/fundamentals/code-analysis/quality-rules/ca1416.md
Labels: dotnet-fundamentals/prod

#28124 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28130 Remove link to archived repo
  docs/core/tools/dotnet-new.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#28116 definition update, Constructors.md
  docs/csharp/programming-guide/classes-and-structs/constructors.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#28132 Remove note about indexer in FS0003
  docs/fsharp/language-reference/compiler-messages/fs0003.md
Labels: dotnet-fsharp/prod

#28128 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28141 fsharp/style/formatting: space (many curried args)
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod

#28139 Update dotnet-dsrouter.md
  docs/core/diagnostics/dotnet-dsrouter.md
Labels: dotnet-fundamentals/prod

#28195 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28138 Breaking change for FullPath
  docs/core/compatibility/7.0.md
  docs/core/compatibility/core-libraries/7.0/filesystemeventargs-fullpath.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#28214 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28232 Fix highlighting on system-text-json-how-to.md
  docs/standard/serialization/system-text-json-how-to.md
Labels: dotnet-fundamentals/prod

#25366 Update ca5393.md
  docs/fundamentals/code-analysis/quality-rules/ca5393.md
Labels: dotnet-fundamentals/prod

#28240 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28224 Add clarification regarding default values
  docs/core/compatibility/index.md
Labels: dotnet-fundamentals/prod

#28131 Update version text in Porting eBook intro
  docs/architecture/porting-existing-aspnet-apps/index.md
Labels: dotnet-architecture/prod

#28246 Remove ref to JSON DOM as read-only
  docs/standard/serialization/system-text-json-overview.md
Labels: dotnet-fundamentals/prod

#28241 Add f1 keyword to discards article
  docs/csharp/fundamentals/functional/discards.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#28245 Fix exception to TreatWarningsAsErrors
  docs/csharp/language-reference/compiler-options/errors-warnings.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#28126 change count of additional members
  docs/csharp/fundamentals/object-oriented/inheritance.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#28024 DOTNET_diagnosticports not mono-only
  docs/core/tools/dotnet-environment-variables.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#27894 Update vulnerabilities-cbc-mode.md
  docs/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests.md
Labels: dotnet/prod, dotnet-security/tech, dotnet-fundamentals/prod

#28264 Note removal of switch for Unix support
  docs/core/compatibility/core-libraries/6.0/system-drawing-common-windows-only.md
Labels: dotnet-fundamentals/prod

#28250 IndexOf method changed again in .NET 6.
  docs/core/compatibility/globalization/5.0/icu-globalization-api.md
Labels: dotnet-fundamentals/prod

#28212 Update "add service reference" for VS 2022
  docs/core/additional-tools/media/wcf-web-service-reference-guide/add-service-reference.png
  docs/core/additional-tools/media/wcf-web-service-reference-guide/connected-services.png
  docs/core/additional-tools/media/wcf-web-service-reference-guide/data-type-options.png
  docs/core/additional-tools/media/wcf-web-service-reference-guide/progress-window.png
  docs/core/additional-tools/media/wcf-web-service-reference-guide/wcfcs-connectedservicespage.png
  docs/core/additional-tools/media/wcf-web-service-reference-guide/wcfcs-datatypespage.png
  docs/core/additional-tools/media/wcf-web-service-reference-guide/wcfcs-progresswindow.png
  docs/core/additional-tools/media/wcf-web-service-reference-guide/wcfcs-serviceendpointpage.png
  docs/core/additional-tools/wcf-web-service-reference-guide.md
  docs/framework/wcf/feature-details/how-to-create-a-basic-wcf-web-http-service.md
Labels: dotnet-framework/prod, dotnet-wcf/tech, dotnet-fundamentals/prod

#28278 Add reason codes to GCStart_V1 event
  docs/framework/performance/garbage-collection-etw-events.md
Labels: dotnet-framework/prod

#28281 Fix build suggestions
  docs/core/tools/dotnet-test.md
  docs/fsharp/language-reference/interpolated-strings.md
Labels: dotnet-fsharp/prod, dotnet-cli/tech, dotnet-fundamentals/prod

#28258 Update ms.topic to overview in intro.md
  docs/azure/intro.md
Labels: dotnet-azure/prod

#28286 Corrected output of the == operator for ValueObjects null value
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/implement-value-objects.md
Labels: dotnet-architecture/prod, microservices/tech

#28257 Update plaintext-formatting.md
  docs/fsharp/language-reference/plaintext-formatting.md
Labels: dotnet-fsharp/prod

#28263 Update string comparison docs for .NET 6
  docs/core/compatibility/globalization/5.0/icu-globalization-api.md
  docs/core/extensions/globalization-icu.md
  docs/csharp/how-to/compare-strings.md
  docs/standard/base-types/string-comparison-net-5-plus.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, dotnet-fundamentals/prod

#28283 Note APIs that aren't obsolete
  docs/fundamentals/syslib-diagnostics/syslib0004.md
Labels: dotnet-fundamentals/prod

#28290 Adressed an IDE0049 in code sample
  docs/fundamentals/code-analysis/quality-rules/ca2013.md
Labels: dotnet-fundamentals/prod

#28238 CA1062: rule now support api_surface
  docs/fundamentals/code-analysis/code-quality-rule-options.md
  docs/fundamentals/code-analysis/quality-rules/ca1062.md
Labels: dotnet-fundamentals/prod

#28295 Fix api surface and excluded symbols supported rules
  docs/fundamentals/code-analysis/code-quality-rule-options.md
Labels: dotnet-fundamentals/prod

#28259 Bootstrap with Identity breaking change V6
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/identity-bootstrap4-to-5.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#28301 BootStrap/Idenity breaking change last commit
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/identity-bootstrap4-to-5.md
Labels: dotnet-fundamentals/prod

#28300 Move single-file warnings to core/deploying/
  .openpublishing.redirection.core.json
  .openpublishing.redirection.fundamentals.json
  docs/core/deploying/single-file/overview.md
  docs/core/deploying/single-file/warnings/il3000.md
  docs/core/deploying/single-file/warnings/il3001.md
  docs/core/deploying/single-file/warnings/il3002.md
  docs/core/deploying/single-file/warnings/il3003.md
  docs/core/deploying/single-file/warnings/overview.md
  docs/core/project-sdk/msbuild-props.md
  docs/core/whats-new/dotnet-5.md
  docs/fundamentals/code-analysis/categories.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/toc.yml
  docs/whats-new/dotnet-docs-2022-01-01.md
Labels: dotnet-fundamentals/prod

#28304 Fix IL2115
  docs/core/deploying/trimming/trim-warnings/il2115.md
Labels: dotnet-fundamentals/prod

#28275 Add missing return from example code
  docs/core/deploying/trimming/trim-warnings/il2078.md
Labels: dotnet-fundamentals/prod

#28309 Don't mix index and element
  docs/csharp/whats-new/tutorials/ranges-indexes.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech

#28324 Change "Blazor component" to "Razor component"
  docs/architecture/blazor-for-web-forms-developers/components.md
Labels: dotnet-architecture/prod, blazor/tech

#28325 Change "Blazor component" to "Razor component"
  docs/architecture/blazor-for-web-forms-developers/migration.md
Labels: dotnet-architecture/prod, blazor/tech

#28326 Change "Blazor component" to "Razor component"
  docs/core/compatibility/aspnet-core/5.0/blazor-rendertreeframe-fields-become-properties.md
Labels: dotnet-fundamentals/prod

#28327 Change "Blazor component" to "Razor component"
  docs/core/compatibility/aspnet-core/5.0/blazor-components-trim-insignificant-whitespace.md
Labels: dotnet-fundamentals/prod

#28291 Updated Azure Container Service to Azure Kubernetes Service
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/when-to-deploy-windows-containers-to-azure-container-service-kubernetes.md
Labels: dotnet-architecture/prod, modernize-with-azure-containers/tech

#28328 Mentioned registering the typed http client also registers the consumer
  docs/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests.md
Labels: dotnet-architecture/prod, microservices/tech

#28312 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28340 Remove broken link
  docs/framework/tools/sos-dll-sos-debugging-extension.md
Labels: dotnet-framework/prod

#28342 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28338 Update ML.NET install doc
  docs/machine-learning/how-to-guides/install-ml-net-cli.md
Labels: dotnet-ml/prod

#28262 Update Microsoft.Diagnostics.NETCore.Client docs
  docs/core/diagnostics/microsoft-diagnostics-netcore-client.md
Labels: dotnet-fundamentals/prod

#28382 dotnet-dump --crashreport command line option
  docs/core/diagnostics/dotnet-dump.md
Labels: dotnet-fundamentals/prod

#28373 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28370 change wording on `in`, `ref` and `out`
  docs/csharp/language-reference/keywords/in-parameter-modifier.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#28378 commit to fix typo in member access operators C# reference
  docs/csharp/language-reference/operators/member-access-operators.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#28379 Update snippet projects
  docs/core/testing/snippets/order-unit-tests/csharp/MSTest.Project/MSTest.Project.csproj
  docs/core/testing/snippets/order-unit-tests/csharp/NUnit.TestProject/NUnit.Project.csproj
  docs/core/testing/snippets/order-unit-tests/csharp/XUnit.TestProject/ByAlphabeticalOrder.cs
  docs/core/testing/snippets/order-unit-tests/csharp/XUnit.TestProject/ByDisplayName.cs
  docs/core/testing/snippets/order-unit-tests/csharp/XUnit.TestProject/ByPriorityOrder.cs
  docs/core/testing/snippets/order-unit-tests/csharp/XUnit.TestProject/Orderers/PriorityOrderer.cs
  docs/core/testing/snippets/order-unit-tests/csharp/XUnit.TestProject/XUnit.Project.csproj
  docs/core/tutorials/snippets/library-with-visual-studio/csharp/ShowCase/Program.cs
  docs/core/tutorials/snippets/library-with-visual-studio/csharp/ShowCase/ShowCase.csproj
  docs/core/tutorials/snippets/library-with-visual-studio/csharp/StringLibrary/StringLibrary.csproj
  docs/core/tutorials/snippets/library-with-visual-studio/csharp/StringLibraryTest/StringLibraryTest.csproj
  docs/core/tutorials/snippets/library-with-visual-studio/csharp/StringLibraryTest/UnitTest1.cs
  docs/core/tutorials/snippets/with-visual-studio/csharp/HelloWorld.csproj
  docs/csharp/fundamentals/tutorials/snippets/object-oriented-programming/BankAccount.cs
  docs/csharp/fundamentals/tutorials/snippets/object-oriented-programming/GiftCardAccount.cs
  docs/csharp/fundamentals/tutorials/snippets/object-oriented-programming/InterestEarningAccount.cs
  docs/csharp/fundamentals/tutorials/snippets/object-oriented-programming/LineOfCreditAccount.cs
  docs/csharp/fundamentals/tutorials/snippets/object-oriented-programming/Program.cs
  docs/csharp/fundamentals/tutorials/snippets/object-oriented-programming/object-oriented-programming.csproj
  docs/csharp/fundamentals/tutorials/snippets/object-oriented-programming/transaction.cs
  docs/csharp/snippets/iterators/Generators.cs
  docs/csharp/snippets/iterators/Program.cs
  docs/csharp/snippets/iterators/iterators.csproj
  docs/csharp/whats-new/tutorials/snippets/record-types/DailyTemperature.cs
  docs/csharp/whats-new/tutorials/snippets/record-types/DegreeDays.cs
  docs/csharp/whats-new/tutorials/snippets/record-types/InterimSteps.cs
  docs/csharp/whats-new/tutorials/snippets/record-types/Program.cs
  docs/csharp/whats-new/tutorials/snippets/record-types/record-types.csproj
  docs/standard/serialization/system-text-json-supported-collection-types.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, csharp-whats-new/tech, dotnet-fundamentals/prod

#28374 Add NRT to samples
  docs/standard/serialization/snippets/system-text-json-configure-options/csharp/ReuseOptionsInstances.cs
  docs/standard/serialization/snippets/system-text-json-configure-options/csharp/SystemTextJsonOptions.csproj
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/CopyOptions.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/CustomConverterHandleNull.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/CustomConverterInferredTypesToObject.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/CustomConverterPreserveReferences.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/CustomConverterUnixEpochDate.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/CustomConverterUnixEpochDateNoZone.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/Fields.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/GuidReferenceResolverExample.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/HttpClientExtensionMethods.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/IgnoreNullOnSerialize.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/IgnoreValueDefaultOnSerialize.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/ImmutableTypes.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/ImmutableTypesCtorParms.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/JsonIgnoreAttributeExample.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/NonPublicAccessors.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/NonStringKeyDictionary.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/OptionsDefaults.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/PreserveReferences.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/PreserveReferencesMultipleCalls.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/Program.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/QuotedNumbers.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/Records.cs
  docs/standard/serialization/snippets/system-text-json-how-to-5-0/csharp/SystemTextJsonHowTo.csproj
  docs/standard/serialization/system-text-json-converters-how-to.md
  docs/standard/serialization/system-text-json-how-to.md
  docs/standard/serialization/system-text-json-ignore-properties.md
  docs/standard/serialization/system-text-json-immutability.md
  docs/standard/serialization/system-text-json-invalid-json.md
  docs/standard/serialization/system-text-json-preserve-references.md
Labels: dotnet-fundamentals/prod

#28376 Add NRT to samples
  docs/standard/serialization/snippets/system-text-json-supported-collection-types/csharp/IAsyncEnumerableDeserialize.cs
  docs/standard/serialization/snippets/system-text-json-supported-collection-types/csharp/IAsyncEnumerableDeserializeNonStreaming.cs
  docs/standard/serialization/snippets/system-text-json-supported-collection-types/csharp/IAsyncEnumerableSerialize.cs
  docs/standard/serialization/snippets/system-text-json-supported-collection-types/csharp/SystemTextJsonSamples.csproj
  docs/standard/serialization/snippets/system-text-json-use-dom-utf8jsonreader-utf8jsonwriter/csharp/JsonNodeAverageGradeExample.cs
  docs/standard/serialization/snippets/system-text-json-use-dom-utf8jsonreader-utf8jsonwriter/csharp/JsonNodeFromObjectExample.cs
  docs/standard/serialization/snippets/system-text-json-use-dom-utf8jsonreader-utf8jsonwriter/csharp/JsonNodeFromStringExample.cs
  docs/standard/serialization/snippets/system-text-json-use-dom-utf8jsonreader-utf8jsonwriter/csharp/JsonNodePOCOExample.cs
  docs/standard/serialization/snippets/system-text-json-use-dom-utf8jsonreader-utf8jsonwriter/csharp/Program.cs
  docs/standard/serialization/snippets/system-text-json-use-dom-utf8jsonreader-utf8jsonwriter/csharp/SystemTextJsonSamples.csproj
  docs/standard/serialization/snippets/system-text-json-use-dom-utf8jsonreader-utf8jsonwriter/csharp/WriteRawJson.cs
Labels: dotnet-fundamentals/prod

#28381 Clarify .NET Framework targeting pack versions
  docs/framework/install/guide-for-developers.md
Labels: dotnet-framework/prod, dotnet-install/tech

#28393 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#28392 Update caller-information.md
  docs/visual-basic/programming-guide/concepts/caller-information.md
Labels: dotnet-visualbasic/prod

#28403 Update create-dotnet-github-action.md
  docs/devops/create-dotnet-github-action.md
Labels: okr-coverage

#28399 Updated the dapr book for a grammer fix
  docs/architecture/dapr-for-net-developers/state-management.md
Labels: dotnet-architecture/prod

#28406 top level statements are in the global namespace
  docs/core/tutorials/top-level-templates.md
Labels: dotnet-fundamentals/prod

#28402 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#28408 Remove confusing text in code sample
  docs/csharp/programming-guide/concepts/linq/how-to-find-the-set-difference-between-two-lists-linq.md
Labels: dotnet-csharp/prod, csharp-linq/tech

#28395 SEO OKR
  docs/core/introduction.md
  docs/core/sdk.md
  docs/core/tools/telemetry.md
  docs/standard/base-types/formatting-types.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#28407 add args as keyword
  docs/csharp/language-reference/keywords/index.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#28405 Add clarifications on records
  docs/csharp/language-reference/builtin-types/record.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#28404 Update tutorials to .NET 6
  docs/csharp/fundamentals/tutorials/classes.md
  docs/csharp/fundamentals/tutorials/how-to-display-command-line-arguments.md
  docs/csharp/fundamentals/tutorials/inheritance.md
  docs/csharp/fundamentals/tutorials/oop.md
  docs/csharp/fundamentals/tutorials/pattern-matching.md
  docs/csharp/fundamentals/tutorials/safely-cast-using-pattern-matching-is-and-as-operators.md
  docs/csharp/fundamentals/tutorials/snippets/command-line-arguments/Program.cs
  docs/csharp/fundamentals/tutorials/snippets/command-line-arguments/command-line-arguments.csproj
  docs/csharp/fundamentals/tutorials/snippets/inheritance/Program.cs
  docs/csharp/fundamentals/tutorials/snippets/inheritance/base-and-derived.cs
  docs/csharp/fundamentals/tutorials/snippets/inheritance/basics.cs
  docs/csharp/fundamentals/tutorials/snippets/inheritance/inheritance.csproj
  docs/csharp/fundamentals/tutorials/snippets/inheritance/is-a.cs
  docs/csharp/fundamentals/tutorials/snippets/inheritance/private.cs
  docs/csharp/fundamentals/tutorials/snippets/inheritance/shape.cs
  docs/csharp/fundamentals/tutorials/snippets/inheritance/simpleclass.cs
  docs/csharp/fundamentals/tutorials/snippets/inheritance/simpleclass2.cs
  docs/csharp/fundamentals/tutorials/snippets/inheritance/use-publication.cs
  docs/csharp/fundamentals/tutorials/snippets/introduction-to-classes/BankAccount.cs
  docs/csharp/fundamentals/tutorials/snippets/introduction-to-classes/Program.cs
  docs/csharp/fundamentals/tutorials/snippets/introduction-to-classes/classes.csproj
  docs/csharp/fundamentals/tutorials/snippets/introduction-to-classes/transaction.cs
  docs/csharp/fundamentals/tutorials/snippets/object-oriented-programming/BankAccount.cs
  docs/csharp/fundamentals/tutorials/snippets/object-oriented-programming/GiftCardAccount.cs
  docs/csharp/fundamentals/tutorials/snippets/object-oriented-programming/InterestEarningAccount.cs
  docs/csharp/fundamentals/tutorials/snippets/object-oriented-programming/LineOfCreditAccount.cs
  docs/csharp/fundamentals/tutorials/snippets/object-oriented-programming/Program.cs
  docs/csharp/fundamentals/tutorials/snippets/object-oriented-programming/transaction.cs
  docs/csharp/fundamentals/tutorials/snippets/patterns/finished/toll-calculator/Program.cs
  docs/csharp/fundamentals/tutorials/snippets/patterns/finished/toll-calculator/TollCalculator.cs
  docs/csharp/fundamentals/tutorials/snippets/patterns/finished/toll-calculator/toll-calculator.csproj
  docs/csharp/fundamentals/tutorials/snippets/patterns/start/toll-calculator/Program.cs
  docs/csharp/fundamentals/tutorials/snippets/patterns/start/toll-calculator/toll-calculator.csproj
  docs/csharp/fundamentals/tutorials/snippets/safelycast/asandis/Program.cs
  docs/csharp/fundamentals/tutorials/snippets/safelycast/asandis/asandis.csproj
  docs/csharp/fundamentals/tutorials/snippets/safelycast/nullablepatternmatching/Program.cs
  docs/csharp/fundamentals/tutorials/snippets/safelycast/nullablepatternmatching/nullablepatternmatching.csproj
  docs/csharp/fundamentals/tutorials/snippets/safelycast/patternmatching/Program.cs
  docs/csharp/fundamentals/tutorials/snippets/safelycast/patternmatching/patternmatching.csproj
  docs/csharp/tour-of-csharp/tutorials/arrays-and-collections.md
  docs/csharp/tour-of-csharp/tutorials/branches-and-loops-local.md
  docs/csharp/tour-of-csharp/tutorials/numbers-in-csharp-local.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, csharp-get-started/tech

#28206 fix typo
  docs/architecture/cloud-native/definition.md
Labels: dotnet-architecture/prod, cloud-native/tech
