Repository dotnet/docs, pull requests merged in 2022-01, with the labels that each got.

#27668 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#27702 Mention compilation and how to fix it
  docs/csharp/roslyn-sdk/tutorials/how-to-write-csharp-analyzer-code-fix.md
Labels: dotnet-csharp/prod, csharp-roslyn/tech

#27616 Adding docs for snapshot command
  docs/core/additional-tools/dotnet-coverage.md
Labels: dotnet-fundamentals/prod

#27692 Correct the "old" console app template
  docs/core/tutorials/top-level-templates.md
Labels: dotnet-fundamentals/prod

#27703 Describe difference in behaviour in VS2022
  docs/csharp/roslyn-sdk/tutorials/how-to-write-csharp-analyzer-code-fix.md
Labels: dotnet-csharp/prod, csharp-roslyn/tech

#27691 Update choosing-between-anonymous-and-tuple.md
  docs/standard/base-types/choosing-between-anonymous-and-tuple.md
Labels: dotnet-fundamentals/prod

#27676 Fix uses of "Red Hat"
  docs/architecture/cloud-native/definition.md
  docs/fundamentals/toc.yml
Labels: dotnet-architecture/prod, cloud-native/tech, dotnet-fundamentals/prod

#27713 Fix wrong example on how to set the drawing unix runtime switch.
  docs/core/compatibility/core-libraries/6.0/system-drawing-common-windows-only.md
Labels: dotnet-fundamentals/prod

#27716 Add note about XSLT script blocks
  docs/core/porting/net-framework-tech-unavailable.md
Labels: dotnet-fundamentals/prod

#27718 Add dependency injection pattern
  docs/core/extensions/dependency-injection.md
  docs/fundamentals/code-analysis/quality-rules/ca1812.md
Labels: dotnet-fundamentals/prod

#27711 Fix bug 🐛 in code example, and update `ms.date`
  docs/core/extensions/options.md
  docs/core/extensions/snippets/configuration/console-json/ValidateSettingsOptions.cs
Labels: dotnet-fundamentals/prod

#27677 Add extra info for ONNX models
  docs/machine-learning/how-to-guides/save-load-machine-learning-models-ml-net.md
Labels: dotnet-ml/prod

#27723 Add a few bits more to the example for custom logging provider
  docs/core/extensions/custom-logging-provider.md
  docs/core/extensions/media/color-console-logger.png
  docs/core/extensions/snippets/configuration/console-custom-logging/ColorConsoleLogger.cs
  docs/core/extensions/snippets/configuration/console-custom-logging/ColorConsoleLoggerProvider.cs
  docs/core/extensions/snippets/configuration/console-custom-logging/Program.cs
  docs/core/extensions/snippets/configuration/console-custom-logging/appsettings.json
  docs/core/extensions/snippets/configuration/console-custom-logging/console-custom-logging.csproj
Labels: dotnet-fundamentals/prod

#27719 Add note about code style option
  docs/fundamentals/code-analysis/style-rules/ide0063.md
  docs/fundamentals/code-analysis/style-rules/ide0064.md
Labels: dotnet-fundamentals/prod

#27715 Update delegates-lambdas.md
  docs/standard/delegates-lambdas.md
Labels: dotnet-fundamentals/prod

#27714 Async in depth - minor updates
  docs/standard/async-in-depth.md
Labels: dotnet-fundamentals/prod

#27725 Restrict all actions that rely on the `GITHUB_TOKEN`
  .editorconfig
  .github/workflows/build-validation.yml
  .github/workflows/check-for-build-warnings.yml
  .github/workflows/docs-verifier.yml
  .github/workflows/markdownlint.yml
  .github/workflows/version-sweep.yml
Labels: Pri1, dotnet-security/tech

#27731 Fix grammar and indent code
  docs/standard/memory-and-spans/memory-t-usage-guidelines.md
  samples/snippets/standard/buffers/memory-t/task-returning2/task-returning2.cs
Labels: dotnet-fundamentals/prod

#27732 Remove duplicate section
  docs/architecture/blazor-for-web-forms-developers/project-structure.md
Labels: dotnet-architecture/prod, blazor/tech

#27737 Update Fedora for .NET 6
  docs/core/install/includes/linux-install-60-dnf.md
  docs/core/install/linux-fedora.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#27741 Fixes to top-level templates
  docs/core/tutorials/top-level-templates.md
  docs/csharp/fundamentals/program-structure/top-level-statements.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, dotnet-fundamentals/prod

#27726 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#27735 Fix navigation to VS Strong naming options
  docs/standard/assembly/media/strong-naming-properties.png
  docs/standard/assembly/sign-strong-name.md
Labels: dotnet-fundamentals/prod

#27383 Add note about order of JSON objects
  docs/standard/serialization/system-text-json-converters-how-to.md
Labels: dotnet-fundamentals/prod

#27357 Add optional workload folders
  docs/core/distribution-packaging.md
Labels: dotnet-fundamentals/prod

#27743 Use lowercase `string`
  docs/core/tutorials/snippets/library-with-visual-studio-6-0/csharp/StringLibraryTest/UnitTest1.cs
  docs/core/tutorials/snippets/library-with-visual-studio/csharp/StringLibraryTest/UnitTest1.cs
Labels: dotnet-fundamentals/prod

#27753 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#27759 Add missing forward slash on windows install command line switch
  docs/core/install/windows.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#27754 Update Formatting types in signatures in F# style guide.
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod

#27761 Structure types: mention record struct
  docs/csharp/language-reference/builtin-types/struct.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#27755 Use top-level programs for config provider article
  docs/core/extensions/configuration-providers.md
  docs/core/extensions/options.md
  docs/core/extensions/snippets/configuration/console-env/Program.cs
  docs/core/extensions/snippets/configuration/console-ini/Program.cs
  docs/core/extensions/snippets/configuration/console-json/Program.cs
  docs/core/extensions/snippets/configuration/console-memory/Program.cs
  docs/core/extensions/snippets/configuration/console-xml/Program.cs
Labels: dotnet-fundamentals/prod

#27751 Add details about logger message template formats
  docs/core/extensions/logging.md
Labels: dotnet-fundamentals/prod

#27652 Mentioned that partial methods cannot be constructors
  docs/csharp/language-reference/keywords/partial-method.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#27763 Update for VS servicing releases
  docs/core/porting/versioning-sdk-msbuild-vs.md
Labels: dotnet-fundamentals/prod

#27773 Add note about global.json
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/prod

#27787 Updated copyright year
  docs/architecture/blazor-for-web-forms-developers/index.md
  docs/architecture/cloud-native/index.md
  docs/architecture/containerized-lifecycle/index.md
  docs/architecture/dapr-for-net-developers/index.md
  docs/architecture/devops-for-aspnet-developers/index.md
  docs/architecture/grpc-for-wcf-developers/index.md
  docs/architecture/microservices/index.md
  docs/architecture/modern-web-apps-azure/index.md
  docs/architecture/modernize-desktop/index.md
  docs/architecture/modernize-with-azure-containers/index.md
  docs/architecture/porting-existing-aspnet-apps/index.md
  docs/architecture/serverless/index.md
Labels: dotnet-architecture/prod, microservices/tech, cloud-native/tech, blazor/tech, grpc/tech, modern-web-apps-azure/tech, modernize-with-azure-containers/tech, containerized-lifecycle/tech, serverless/tech

#27786 Fixes for missing explanation
  docs/architecture/microservices/implement-resilient-applications/monitor-app-health.md
Labels: dotnet-architecture/prod, microservices/tech

#27784 Add missing zone pivot
  docs/standard/serialization/system-text-json-converters-how-to.md
Labels: dotnet-fundamentals/prod

#27767 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#27783 Update using-an-asynchronous-client-socket.md
  docs/framework/network-programming/using-an-asynchronous-client-socket.md
Labels: dotnet-framework/prod, dotnet-networking/tech

#27739 Combine architectural components article with intro
  .openpublishing.redirection.standard.json
  docs/architecture/microservices/net-core-net-framework-containers/net-framework-container-scenarios.md
  docs/core/introduction.md
  docs/framework/unmanaged-api/metadata/imetadatatables-getguid-method.md
  docs/framework/unmanaged-api/metadata/imetadatatables-getnextguid-method.md
  docs/framework/unmanaged-api/metadata/imetadatatables-getnextuserstring-method.md
  docs/framework/unmanaged-api/metadata/imetadatatables-getrow-method.md
  docs/framework/unmanaged-api/metadata/imetadatatables-gettableindex-method.md
  docs/fundamentals/implementations.md
  docs/fundamentals/standards.md
  docs/fundamentals/toc.yml
  docs/index.yml
  docs/standard/assembly/view-contents.md
  docs/standard/choosing-core-framework-server.md
  docs/standard/class-libraries.md
  docs/standard/components.md
  docs/standard/glossary.md
  docs/standard/net-standard.md
Labels: dotnet-framework/prod, dotnet-fundamentals/prod

#27798 Fixup docs for CA1849
  docs/fundamentals/code-analysis/quality-rules/performance-warnings.md
Labels: dotnet-fundamentals/prod

#27644 Update trimmer docs to include warning IL3003
  docs/fundamentals/code-analysis/quality-rules/il3000.md
  docs/fundamentals/code-analysis/quality-rules/il3001.md
  docs/fundamentals/code-analysis/quality-rules/il3002.md
  docs/fundamentals/code-analysis/quality-rules/il3003.md
  docs/fundamentals/code-analysis/quality-rules/singlefile-warnings.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#27799 Add _SkipUpgradeNetAnalyzersNuGetWarning property
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/prod

#27804 Fix typo
  docs/fundamentals/standards.md
Labels: dotnet-fundamentals/prod

#27770 Add documentation for the `--allsigs` F# compiler option
  docs/fsharp/language-reference/compiler-options.md
Labels: dotnet-fsharp/prod

#27792 Link to EF Core NRT article
  docs/csharp/nullable-references.md
Labels: dotnet-csharp/prod

#27730 CompressionLevel validation breaking change
  docs/core/compatibility/7.0.md
  docs/core/compatibility/core-libraries/7.0/compressionlevel-validation.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#27655 TimeSpan serialization breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/serialization/6.0/timespan-serialization-format.md
  docs/core/compatibility/toc.yml
  docs/standard/serialization/system-text-json-converters-how-to.md
  docs/standard/serialization/system-text-json-source-generation.md
Labels: dotnet-fundamentals/prod

#27808 Timestamp breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/core-libraries/6.0/set-timestamp-readonly-file.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#27806 Fix TOC name
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#27807 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#27809 Version deserialization breaking change
  docs/core/compatibility/7.0.md
  docs/core/compatibility/serialization/7.0/deserialize-version-with-whitespace.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#27819 Update dotnet/standard repo links
  docs/architecture/microservices/net-core-net-framework-containers/net-framework-container-scenarios.md
  docs/core/porting/index.md
  docs/framework/whats-new/index.md
  docs/standard/frameworks.md
  docs/standard/net-standard.md
  docs/standard/whats-new/whats-new-in-dotnet-standard.md
  includes/net-standard-table.md
Labels: dotnet-framework/prod, dotnet-architecture/prod, microservices/tech, dotnet-fundamentals/prod

#27805 Consistency fix : remove using static Console
  docs/csharp/fundamentals/tutorials/snippets/inheritance/base-and-derived.cs
  docs/csharp/fundamentals/tutorials/snippets/inheritance/is-a.cs
  docs/csharp/fundamentals/tutorials/snippets/inheritance/use-publication.cs
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#27823 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#27762 Modernize file copy example
  docs/standard/io/how-to-copy-directories.md
  docs/standard/io/snippets/how-to-copy-directories/csharp/AppCS.csproj
  docs/standard/io/snippets/how-to-copy-directories/csharp/Program.cs
  docs/standard/io/snippets/how-to-copy-directories/vb/AppVB.vbproj
  docs/standard/io/snippets/how-to-copy-directories/vb/Program.vb
  samples/snippets/csharp/VS_Snippets_CLR_System/system.IO.Directory_Copy/cs/Project.csproj
  samples/snippets/csharp/VS_Snippets_CLR_System/system.IO.Directory_Copy/cs/program.cs
  samples/snippets/visualbasic/VS_Snippets_CLR_System/system.IO.Directory_Copy/vb/Program.vb
Labels: dotnet-fundamentals/prod

#27492 Fix #27491 bad practice in code example "Upload files with FTP"
  docs/framework/network-programming/how-to-upload-files-with-ftp.md
Labels: dotnet-framework/prod, dotnet-networking/tech

#27835 Add definition of assembly
  docs/csharp/programming-guide/classes-and-structs/access-modifiers.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#27838 Clarify optionality of no-clause in regex conditional alternation
  docs/standard/base-types/regular-expression-language-quick-reference.md
Labels: dotnet-fundamentals/prod

#27845 Add SYSLIB0036
  docs/core/compatibility/7.0.md
  docs/core/compatibility/core-libraries/5.0/obsolete-apis-with-custom-diagnostics.md
  docs/core/compatibility/core-libraries/6.0/obsolete-apis-with-custom-diagnostics.md
  docs/core/compatibility/core-libraries/7.0/obsolete-apis-with-custom-diagnostics.md
  docs/core/compatibility/toc.yml
  docs/fundamentals/syslib-diagnostics/obsoletions-overview.md
  docs/fundamentals/syslib-diagnostics/syslib0036.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#27840 Fixed the bang
  docs/csharp/nullable-references.md
Labels: dotnet-csharp/prod

#27836 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#27841 Updated the wrong function calls with the correct one
  docs/fsharp/language-reference/task-expressions.md
Labels: dotnet-fsharp/prod

#27851 Update nullable-references.md
  docs/csharp/nullable-references.md
Labels: dotnet-csharp/prod

#27839 Document `DisableImplicitFrameworkDefines` from the .NET SDK
  docs/core/project-sdk/msbuild-props.md
  docs/standard/frameworks.md
Labels: dotnet-fundamentals/prod

#27850 Update versioning-sdk-msbuild-vs.md
  docs/core/porting/versioning-sdk-msbuild-vs.md
Labels: dotnet-fundamentals/prod

#27852 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#27861 Added link to list of valid langword values
  docs/csharp/language-reference/xmldoc/recommended-tags.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#27855 Add SYSLIB0037 obsoletion
  docs/core/compatibility/core-libraries/7.0/obsolete-apis-with-custom-diagnostics.md
  docs/fundamentals/syslib-diagnostics/obsoletions-overview.md
  docs/fundamentals/syslib-diagnostics/syslib0037.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#27856 Fix broken links
  docs/architecture/dapr-for-net-developers/service-invocation.md
  docs/core/install/windows.md
  docs/framework/performance/writing-large-responsive-apps.md
Labels: dotnet-framework/prod, dotnet/prod, dotnet-architecture/prod, dotnet-install/tech, dotnet-fundamentals/prod

#27874 fix HeapAffinitizeRanges name
  docs/core/run-time-config/garbage-collector.md
Labels: dotnet-fundamentals/prod

#27854 Add ANE breaking change for Preview 1
  docs/core/compatibility/6.0.md
  docs/core/compatibility/7.0.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/windows-forms/7.0/apis-throw-argumentnullexception.md
Labels: dotnet-fundamentals/prod

#27882 Add sealed suggestion
  docs/fundamentals/code-analysis/quality-rules/ca1816.md
Labels: dotnet-fundamentals/prod

#27881 "and" to "or"
  docs/core/compatibility/windows-forms/7.0/apis-throw-argumentnullexception.md
Labels: dotnet-fundamentals/prod

#27867 ASP.NET Core 7 breaking change for libuv
  docs/core/compatibility/7.0.md
  docs/core/compatibility/aspnet-core/7.0/libuv-transport-dll-removed.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#27880 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#27888 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#27890 Add note about AD001 removal
  docs/core/compatibility/sdk/6.0/editorconfig-additional-files.md
Labels: dotnet-fundamentals/prod

#27909 Note that TimeSpan support was added in .NET 6
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
Labels: dotnet-fundamentals/prod

#27910 The correct values for System.GC.CpuGroup in runtimeconfig.json should be true/false
  docs/core/run-time-config/garbage-collector.md
Labels: dotnet-fundamentals/prod

#27899 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#27901 Update introduction.md
  docs/core/introduction.md
Labels: dotnet-fundamentals/prod

#27908 Update dotnet-install-script.md
  docs/core/tools/dotnet-install-script.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#27918 remove acronyms clause
  docs/csharp/toc.yml
Labels: dotnet-csharp/prod

#27917 Replace "pragma" with "preprocessor directive".
  docs/csharp/nullable-migration-strategies.md
Labels: dotnet-csharp/prod

#27919 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#27898 Ardalis/porting to 6
  docs/architecture/porting-existing-aspnet-apps/choose-net-core-version.md
  docs/architecture/porting-existing-aspnet-apps/incremental-migration-strategies.md
  docs/architecture/porting-existing-aspnet-apps/index.md
  docs/architecture/porting-existing-aspnet-apps/media/index/porting-existing-aspnet-apps.png
  docs/architecture/porting-existing-aspnet-apps/migrate-web-forms.md
  docs/architecture/porting-existing-aspnet-apps/toc.yml
Labels: dotnet-architecture/prod

#27650 Remove slang from first sentence of DI
  docs/core/extensions/dependency-injection.md
Labels: dotnet-fundamentals/prod

#27879 Clarify \w in regex doc
  docs/standard/base-types/regular-expression-language-quick-reference.md
Labels: dotnet-fundamentals/prod

#27924 Add more arguments to breaking change
  docs/core/compatibility/windows-forms/7.0/apis-throw-argumentnullexception.md
Labels: dotnet-fundamentals/prod

#27939 updated rules on how to use target framework
  docs/core/tools/dotnet-new-sdk-templates.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#27941 Add note about order of config providers.
  docs/core/extensions/configuration-providers.md
Labels: dotnet-fundamentals/prod

#27942 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#27944 Added poco to glossary, and update refs - linking to this instead of Wiki
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/ddd-oriented-microservice.md
  docs/architecture/microservices/multi-container-microservice-net-applications/data-driven-crud-microservice.md
  docs/standard/glossary.md
  docs/standard/serialization/system-text-json-how-to.md
Labels: dotnet-architecture/prod, microservices/tech, dotnet-fundamentals/prod

#27837 Use a tab selector for .NET Standard to help with ease of use
  docfx.json
  docs/standard/net-standard.md
  includes/net-standard-1.0.md
  includes/net-standard-1.1.md
  includes/net-standard-1.2.md
  includes/net-standard-1.3.md
  includes/net-standard-1.4.md
  includes/net-standard-1.5.md
  includes/net-standard-1.6.md
  includes/net-standard-2.0.md
  includes/net-standard-2.1.md
  includes/net-standard-selector.md
  includes/net-standard-table.md
Labels: dotnet-fundamentals/prod

#27953 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#27962 Fix syntax error
  docs/architecture/dapr-for-net-developers/service-invocation.md
Labels: dotnet-architecture/prod

#27717 Clarify support for trimming
  docs/core/deploying/trimming/trim-self-contained.md
Labels: dotnet-fundamentals/prod

#27853 Updated Event Keyword for R2R events
  docs/fundamentals/diagnostics/runtime-method-events.md
Labels: dotnet-fundamentals/prod

#27649 Add trimming properties section
  docs/core/deploying/media/trim-self-contained/visual-studio-publish-edit-settings.png
  docs/core/deploying/media/trim-self-contained/visual-studio-publish-properties.png
  docs/core/deploying/trimming/fixing-warnings.md
  docs/core/deploying/trimming/prepare-libraries-for-trimming.md
  docs/core/deploying/trimming/trim-self-contained.md
  docs/core/deploying/trimming/trimming-options.md
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/prod

#27960 Clarify .NET runtime config options
  docs/architecture/microservices/secure-net-microservices-web-applications/developer-app-secrets-storage.md
  docs/architecture/modernize-desktop/migrate-modern-applications.md
  docs/core/extensions/configuration-providers.md
  docs/core/extensions/configuration.md
  docs/core/run-time-config/index.md
  docs/fundamentals/toc.yml
Labels: dotnet-architecture/prod, microservices/tech, dotnet-fundamentals/prod

#27843 Upgrade assistant updates
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Properties/AssemblyInfo.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Properties/Resources.Designer.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Properties/Resources.resx
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Properties/Settings.Designer.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Properties/Settings.settings
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/StarVoteControl.csproj
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Vote.xaml
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Vote.xaml.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/AddItem.xaml
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/AddItem.xaml.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/App.xaml
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/App.xaml.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Commands/AcceptButtonCommand.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Commands/ActionCommand.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Commands/PredicateCommand.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/MainWindow.xaml
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/MainWindow.xaml.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Models/Database.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Models/Site.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Properties/AssemblyInfo.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Properties/Resources.Designer.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Properties/Resources.resx
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Properties/Settings.Designer.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Properties/Settings.settings
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Rules/EmptyTextRule.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Rules/ValidUrlRule.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/ViewModels/Site.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/ViewModels/SiteCollection.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/ViewModels/ViewModelBase.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/WebSiteRatings.csproj
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/appsettings.json
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/sqlite.db
  docs/core/porting/upgrade-assistant-overview.md
  docs/core/porting/upgrade-assistant-winforms-framework.md
  docs/core/porting/upgrade-assistant-wpf-framework.md
Labels: dotnet-fundamentals/prod

#27972 Minor changes to the upgrade intro article
  docs/core/porting/index.md
Labels: dotnet-fundamentals/prod

#27968 C# switch statement: Mention lang version for used patterns
  docs/csharp/language-reference/statements/selection-statements.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#27966 Added a bit more detail about the JSON console logger
  docs/core/extensions/console-log-formatter.md
  docs/core/extensions/snippets/logging/console-formatter-json/Program.cs
  docs/core/extensions/snippets/logging/console-formatter-json/example-output.json
Labels: dotnet-fundamentals/prod, okr-coverage

#27971 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#26256 Specify that rules for explicit generic type arguments also apply to function application
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod

#27982 Update nullable-references.md
  docs/csharp/nullable-references.md
Labels: dotnet-csharp/prod, okr-coverage

#27989 fix links to CA1839 and CA1840 from index page
  docs/fundamentals/code-analysis/quality-rules/index.md
Labels: dotnet-fundamentals/prod

#27992 fix order of CA2217/CA2218 links
  docs/fundamentals/code-analysis/quality-rules/index.md
Labels: dotnet-fundamentals/prod

#27991 Fix RuleId in ca1014.md
  docs/fundamentals/code-analysis/quality-rules/ca1014.md
Labels: dotnet-fundamentals/prod

#27975 Add note that IDE0050 is now a refactoring
  docs/fundamentals/code-analysis/style-rules/ide0050.md
Labels: dotnet-fundamentals/prod

#27994 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28001 Add exception callbacks as related pages
  docs/csharp/language-reference/keywords/try-catch.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#28009 Disambiguate TFMs from Preprocessor Symbols
  docs/core/tutorials/libraries.md
  includes/preprocessor-symbols.md
Labels: dotnet-fundamentals/prod

#28017 Update dotnet 5.0 references
  docs/core/tutorials/creating-app-with-plugin-support.md
Labels: dotnet-fundamentals/prod

#28021 Add note about source of vulnerability info
  docs/core/tools/dotnet-list-package.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#28026 Add links to recently documented CAxxxx rules
  docs/fundamentals/code-analysis/overview.md
Labels: dotnet-fundamentals/prod

#28015 fix order of rules by rule number
  docs/fundamentals/code-analysis/style-rules/language-rules.md
Labels: dotnet-fundamentals/prod
