Repository dotnet/docs, pull requests merged in 2022-03, with the labels that each got.

#28428 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#28437 Update .whatsnew.json
  .whatsnew.json
Labels: okr-discovery

#28416 fix spelling
  docs/architecture/modernize-desktop/whats-new-dotnet.md
Labels: dotnet-architecture/prod

#28418 update incorrect word
  docs/architecture/cloud-native/relational-vs-nosql-data.md
Labels: dotnet-architecture/prod, cloud-native/tech

#28394 Add kestrelPort options
  docs/core/tools/dotnet-new-sdk-templates.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#28019 Update --framework option
  docs/core/tools/dotnet-test.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#27967 Remove null coalescing in LINQ
  docs/csharp/linq/perform-left-outer-joins.md
  docs/csharp/linq/snippets/perform-left-outer-joins/Program.cs
  docs/csharp/linq/snippets/perform-left-outer-joins/perform-left-outer-joins.csproj
Labels: dotnet-csharp/prod, csharp-linq/tech, okr-experience

#28448 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#28234 Add new user option to CA1008
  docs/fundamentals/code-analysis/quality-rules/ca1008.md
Labels: :construction: Hold for related PR, dotnet-fundamentals/prod

#28461 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#26443 Update migrate-request-reply.md
  docs/architecture/grpc-for-wcf-developers/migrate-request-reply.md
Labels: dotnet-architecture/prod, grpc/tech

#28468 Update workaround for SYSLIB0018
  docs/fundamentals/syslib-diagnostics/syslib0018.md
Labels: dotnet-fundamentals/prod

#28339 Update system-text-json-migrate-from-newtonsoft-how-to.md
  docs/standard/serialization/system-text-json-migrate-from-newtonsoft-how-to.md
Labels: dotnet-fundamentals/prod

#28011 Update cicd.md
  docs/architecture/devops-for-aspnet-developers/cicd.md
Labels: dotnet-architecture/prod

#27820 Add conceptual documentation for "disabled runtime marshalling"
  docs/standard/native-interop/best-practices.md
  docs/standard/native-interop/customize-parameter-marshaling.md
  docs/standard/native-interop/customize-struct-marshaling.md
  docs/standard/native-interop/disabled-marshalling.md
  docs/standard/native-interop/index.md
  docs/standard/native-interop/type-marshaling.md
Labels: dotnet-fundamentals/prod

#28482 Fix links
  docs/standard/native-interop/best-practices.md
  docs/standard/native-interop/customize-parameter-marshaling.md
  docs/standard/native-interop/disabled-marshalling.md
  docs/standard/native-interop/index.md
  docs/standard/native-interop/type-marshaling.md
Labels: dotnet-fundamentals/prod

#28439 SEO OKR
  .openpublishing.redirection.standard.json
  docs/core/introduction.md
  docs/csharp/async.md
  docs/csharp/language-reference/operators/await.md
  docs/csharp/programming-guide/concepts/async/task-asynchronous-programming-model.md
  docs/framework/development-guide.md
  docs/fsharp/tutorials/async.md
  docs/fundamentals/toc.yml
  docs/standard/async-in-depth.md
  docs/standard/async.md
  docs/standard/asynchronous-programming-patterns/index.md
  docs/standard/asynchronous-programming-patterns/task-based-asynchronous-pattern-tap.md
  docs/standard/asynchronous-programming-patterns/toc.yml
  docs/standard/parallel-processing-and-concurrency.md
  docs/standard/parallel-programming/index.md
  docs/standard/serialization/binaryformatter-security-guide.md
  docs/standard/threading/threads-and-threading.md
Labels: dotnet-framework/prod, dotnet-fsharp/prod, dotnet-csharp/prod, csharp-async/tech, csharp-language-reference/tech, dotnet-fundamentals/prod

#28479 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28423 Fix typo in distrubuted-tracing-concepts.md
  docs/core/diagnostics/distributed-tracing-concepts.md
Labels: dotnet-fundamentals/prod

#28483 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28460 fix state table
  docs/csharp/whats-new/tutorials/patterns-objects.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech

#28436 Update high-performance logging content
  docs/core/extensions/high-performance-logging.md
  docs/core/extensions/snippets/logging/worker-service-options/Extensions/LoggerExtensions.cs
  docs/core/extensions/snippets/logging/worker-service-options/Priority.cs
  docs/core/extensions/snippets/logging/worker-service-options/PriorityQueue.cs
  docs/core/extensions/snippets/logging/worker-service-options/Program.cs
  docs/core/extensions/snippets/logging/worker-service-options/Properties/launchSettings.json
  docs/core/extensions/snippets/logging/worker-service-options/WorkItem.cs
  docs/core/extensions/snippets/logging/worker-service-options/Worker.cs
  docs/core/extensions/snippets/logging/worker-service-options/appsettings.Development.json
  docs/core/extensions/snippets/logging/worker-service-options/appsettings.json
  docs/core/extensions/snippets/logging/worker-service-options/worker-service-options.csproj
Labels: dotnet-fundamentals/prod, okr-coverage

#28463 Refine code generator overview
  docs/csharp/roslyn-sdk/snippets/source-generators/SourceGenerator/SourceGenerator.csproj
  docs/csharp/roslyn-sdk/source-generators-overview.md
Labels: dotnet-csharp/prod, csharp-roslyn/tech

#28496 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28497 Update operator-overloading.md
  docs/fsharp/language-reference/operator-overloading.md
Labels: dotnet-fsharp/prod

#28313 Add missing datagrid accessibility keyboard shortcut
  docs/framework/whats-new/whats-new-in-accessibility.md
Labels: dotnet-framework/prod

#28343 Update file-path-formats.md
  docs/standard/io/file-path-formats.md
Labels: dotnet-fundamentals/prod

#28520 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28517 Add {} and {||} to symbol page type section
  docs/fsharp/language-reference/symbol-and-operator-reference/index.md
Labels: dotnet-fsharp/prod

#28380 Add another example to string-comparison-net-5-plus.md
  docs/standard/base-types/string-comparison-net-5-plus.md
Labels: dotnet-fundamentals/prod

#28515 :octocat: Update local-development-configuration.md
  docs/orleans/host/configuration-guide/local-development-configuration.md
Labels: okr-coverage

#28523 Minor fixes
  docs/fsharp/language-reference/symbol-and-operator-reference/index.md
Labels: dotnet-fsharp/prod

#28522 Fix recent service runtime bug
  docs/core/extensions/snippets/workers/windows-service/App.WindowsService.csproj
  docs/core/extensions/snippets/workers/windows-service/Program.cs
  docs/core/extensions/windows-service.md
Labels: dotnet-fundamentals/prod, okr-coverage

#28498 Setup for C# 11
  docs/csharp/toc.yml
  docs/csharp/whats-new/breaking-changes.md
  docs/csharp/whats-new/csharp-10.md
  docs/csharp/whats-new/csharp-11.md
  docs/csharp/whats-new/csharp-version-history.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech

#28516 Update broken code snippets
  docs/machine-learning/tutorials/object-detection-onnx.md
  docs/machine-learning/tutorials/time-series-demand-forecasting.md
Labels: dotnet-ml/prod

#28512 ASP.NET Core 7 breaking change for Microsoft.Data.SqlClient
  docs/core/compatibility/7.0.md
  docs/core/compatibility/aspnet-core/7.0/microsoft-data-sqlclient-updated-to-4-0-1.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#28491 ASP.NET Core 7 breaking change for API Controller Actions DI
  docs/core/compatibility/7.0.md
  docs/core/compatibility/aspnet-core/7.0/api-controller-action-parameters-di.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#28524 Remove extra "the" from link
  docs/standard/base-types/parsing-other.md
Labels: dotnet-fundamentals/prod

#28509 ConnectionString is deprecated, use ConfigureTableServiceClient method.
  docs/orleans/grains/grain-persistence/azure-storage.md
Labels: okr-experience

#28488 Delete Extra "and"
  docs/architecture/modern-web-apps-azure/work-with-data-in-asp-net-core-apps.md
Labels: dotnet-architecture/prod, modern-web-apps-azure/tech, okr-experience

#28478 fix protobuf syntax
  docs/architecture/grpc-for-wcf-developers/protobuf-any-oneof.md
Labels: dotnet-architecture/prod, grpc/tech, okr-coverage

#28474 DocuTune: Apply metadata properties for advocate contributors
  docs/architecture/serverless/application-insights.md
  docs/architecture/serverless/architecture-approaches.md
  docs/architecture/serverless/architecture-deployment-approaches.md
  docs/architecture/serverless/azure-functions.md
  docs/architecture/serverless/event-grid.md
  docs/architecture/serverless/index.md
  docs/architecture/serverless/logic-apps.md
  docs/architecture/serverless/serverless-architecture-considerations.md
  docs/architecture/serverless/serverless-architecture.md
  docs/architecture/serverless/serverless-business-scenarios.md
  docs/architecture/serverless/serverless-design-examples.md
Labels: dotnet-architecture/prod, serverless/tech

#28532 Fix typo in inheritance content
  docs/csharp/fundamentals/tutorials/inheritance.md
  docs/csharp/fundamentals/tutorials/snippets/inheritance/private.cs
Labels: okr-coverage

#28535 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28464 Update pipelines.md
  docs/standard/io/pipelines.md
Labels: dotnet-fundamentals/prod

#28465 Update configuration-providers.md
  docs/core/extensions/configuration-providers.md
Labels: dotnet-fundamentals/prod

#28332 Additional trimmer references
  docs/core/deploying/deploy-with-cli.md
  docs/core/deploying/single-file/overview.md
Labels: dotnet-fundamentals/prod

#28473 ASP.NET Core 7 breaking change for SignalR Hub DI
  docs/core/compatibility/7.0.md
  docs/core/compatibility/aspnet-core/7.0/signalr-hub-method-parameters-di.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#28529 Initial version. Add appropriate references.
  docs/core/runtime-config/garbage-collector.md
  docs/framework/configure-apps/file-schema/runtime/gcconservememory-element.md
  docs/framework/configure-apps/file-schema/runtime/runtime-element.md
  docs/framework/configure-apps/file-schema/runtime/toc.yml
Labels: dotnet-framework/prod, dotnet-fundamentals/prod

#28514 If/then/else is not so different
  docs/fsharp/language-reference/conditional-expressions-if-then-else.md
Labels: dotnet-fsharp/prod

#28541 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28550 Update cs1900.md
  docs/csharp/misc/cs1900.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech

#28530 Update file-path-formats.md
  docs/standard/io/file-path-formats.md
Labels: dotnet-fundamentals/prod, okr-experience

#28579 Only call circuit breaker policy once
  docs/architecture/microservices/implement-resilient-applications/implement-circuit-breaker-pattern.md
Labels: dotnet-architecture/prod, microservices/tech, okr-coverage

#28580 Address customer feedback
  docs/orleans/resources/best-practices.md
Labels: okr-coverage

#28583 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28582 Orleans docs prs port
  docs/orleans/benefits.md
  docs/orleans/deployment/multi-cluster-support/overview.md
  docs/orleans/grains/grain-persistence/dynamodb-storage.md
  docs/orleans/host/configuration-guide/adonet-configuration.md
  docs/orleans/host/configuration-guide/configuring-ado-dot-net-providers.md
  docs/orleans/index.yml
  docs/orleans/overview.md
  docs/orleans/resources/nuget-packages.md
  docs/orleans/streaming/stream-providers.md
Labels: okr-coverage, okr-discovery, okr-experience

#28467 SEO OKR
  .openpublishing.redirection.standard.json
  docs/csharp/fundamentals/types/records.md
  docs/csharp/language-reference/keywords/volatile.md
  docs/csharp/methods.md
  docs/csharp/properties.md
  docs/framework/development-guide.md
  docs/framework/network-programming/using-an-asynchronous-server-socket.md
  docs/standard/asynchronous-programming-patterns/event-based-asynchronous-pattern-eap.md
  docs/standard/parallel-programming/index.md
  docs/standard/security/cryptographic-services.md
  docs/standard/threading/creating-threads-and-passing-data-at-start-time.md
  docs/standard/threading/index.md
  docs/standard/threading/managed-threading-best-practices.md
  docs/standard/threading/mutexes.md
  docs/standard/threading/pausing-and-resuming-threads.md
  docs/standard/threading/thread-local-storage-thread-relative-static-fields-and-data-slots.md
  docs/standard/threading/toc.yml
  docs/visual-basic/language-reference/statements/event-statement.md
  docs/visual-basic/language-reference/statements/raiseevent-statement.md
  docs/visual-basic/programming-guide/language-features/events/walkthrough-handling-events.md
Labels: dotnet/prod, dotnet-csharp/prod, csharp-fundamentals/tech, dotnet-security/tech, dotnet-fundamentals/prod

#28510 Give developers a reason to switch
  docs/fsharp/what-is-fsharp.md
Labels: dotnet-fsharp/prod

#28596 Emphasise availabiliity of automatic code formatting
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod

#28593 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28607 Update assemblyidentity-element-for-runtime.md
  docs/framework/configure-apps/file-schema/runtime/assemblyidentity-element-for-runtime.md
Labels: dotnet-framework/prod

#28621 Attempt to fix embedded video
  docs/orleans/index.yml
  docs/orleans/overview.md
Labels: okr-experience

#28612 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28613 Remove empty table rows
  docs/framework/configure-apps/file-schema/runtime/throwunobservedtaskexceptions-element.md
  docs/framework/configure-apps/file-schema/wcf/endpointdiscovery.md
  docs/framework/configure-apps/file-schema/wcf/nethttpbinding.md
  docs/framework/configure-apps/file-schema/wcf/nethttpsbinding.md
  docs/framework/performance/loader-etw-events.md
  docs/framework/tools/secannotate-exe-net-security-annotator-tool.md
  docs/framework/tools/sn-exe-strong-name-tool.md
  docs/framework/unmanaged-api/hosting/iclrruntimeinfo-getinterface-method.md
  docs/framework/unmanaged-api/profiling/icorprofilerinfo4-requestrejit-method.md
  docs/visual-basic/language-reference/statements/call-statement.md
  docs/visual-basic/language-reference/statements/end-keyword-statement.md
  docs/visual-basic/programming-guide/concepts/async/index.md
Labels: dotnet-framework/prod, dotnet-visualbasic/prod, dotnet-wcf/tech

#28610 Fix indenting on closing brace
  docs/csharp/language-reference/builtin-types/snippets/shared/StructType.cs
  docs/csharp/language-reference/builtin-types/struct.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#28614 Remove example of checking an instance being of nullable type
  docs/csharp/language-reference/builtin-types/nullable-value-types.md
  docs/csharp/language-reference/builtin-types/snippets/shared/NullableValueTypes.cs
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#28625 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28599 Clarify placeholder naming convention
  docs/fundamentals/code-analysis/quality-rules/ca1727.md
Labels: dotnet-fundamentals/prod

#28645 Typo "**-out **"→"-out "
  docs/csharp/misc/cs2022.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech

#28653 Add f1 keyword for generics
  docs/csharp/fundamentals/types/generics.md
  docs/csharp/programming-guide/classes-and-structs/auto-implemented-properties.md
  docs/csharp/programming-guide/classes-and-structs/named-and-optional-arguments.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#28650 Reworded sentence
  docs/fsharp/language-reference/generics/statically-resolved-type-parameters.md
Labels: dotnet-fsharp/prod

#28634 Clarify hyperparameter tuning
  docs/machine-learning/resources/improve-machine-learning-model-ml-net.md
Labels: dotnet-ml/prod

#28631 Fix typo
  docs/machine-learning/resources/tasks.md
Labels: dotnet-ml/prod

#28543 Update trimming libraries docs
  cSpell.json
  docs/core/deploying/trimming/prepare-libraries-for-trimming.md
Labels: dotnet-fundamentals/prod

#28657 Added Solutions for Compiler Violations
  docs/csharp/misc/cs0144.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech

#28660 Add f1 keywords
  docs/csharp/fundamentals/types/anonymous-types.md
  docs/csharp/programming-guide/concepts/attributes/creating-custom-attributes.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#28609 Change sample URL
  docs/visual-basic/programming-guide/concepts/async/control-flow-in-async-programs.md
Labels: dotnet-visualbasic/prod

#28484 Added note regarding support via OSS channel
  docs/spark/tutorials/databricks-deployment.md
Labels: dotnet-spark/prod

#28624 generic attributes are allowed in C# 11
  docs/csharp/programming-guide/generics/generics-and-attributes.md
  docs/csharp/programming-guide/generics/snippets/GenericWhereConstraints.cs
  docs/csharp/programming-guide/generics/snippets/GenericsAndAttributes.cs
  docs/csharp/programming-guide/generics/snippets/Program.cs
  docs/csharp/programming-guide/generics/snippets/generics.csproj
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideGenerics/CS/Generics.cs
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#28623 Add some clarifications to binding redirection article
  docs/framework/configure-apps/how-to-enable-and-disable-automatic-binding-redirection.md
Labels: dotnet-framework/prod

#28679 Fix markdown link
  docs/core/tools/dotnet-new.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#28682 commit for issue Hot Reload confusion #28320
  docs/architecture/blazor-for-web-forms-developers/project-structure.md
Labels: dotnet-architecture/prod, blazor/tech

#28676 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#28637 HostBuilder is now the preferred way to build a silo.
  docs/orleans/deployment/multi-cluster-support/gossip-channels.md
  docs/orleans/deployment/multi-cluster-support/multi-cluster-configuration.md
  docs/orleans/deployment/multi-cluster-support/silo-configuration.md
  docs/orleans/grains/grain-persistence/relational-storage.md
  docs/orleans/grains/grain-placement.md
  docs/orleans/grains/grain-versioning/deploying-new-versions-of-grains.md
  docs/orleans/grains/grain-versioning/grain-versioning.md
  docs/orleans/grains/grainservices.md
  docs/orleans/grains/timers-and-reminders.md
  docs/orleans/grains/transactions.md
  docs/orleans/host/configuration-guide/local-development-configuration.md
  docs/orleans/host/configuration-guide/server-configuration.md
  docs/orleans/host/configuration-guide/shutting-down-orleans.md
  docs/orleans/host/configuration-guide/typical-configurations.md
  docs/orleans/host/monitoring/index.md
  docs/orleans/migration/migration-1.5.md
  docs/orleans/migration/migration-azure-2.0.md
  docs/orleans/tutorials-and-samples/custom-grain-storage.md
  docs/orleans/tutorials-and-samples/overview-helloworld.md
  docs/orleans/tutorials-and-samples/tutorial-1.md
Labels: doc-enhancement, okr-coverage, dotnet-orleans/prod

#28638 SEO OKR
  docs/core/tutorials/top-level-templates.md
  docs/csharp/fundamentals/program-structure/index.md
  docs/csharp/tour-of-csharp/features.md
  docs/csharp/tour-of-csharp/index.md
  docs/csharp/tour-of-csharp/program-building-blocks.md
  docs/csharp/tour-of-csharp/types.md
  docs/standard/native-interop/cross-platform.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, dotnet-architecture/prod, csharp-get-started/tech, dotnet-fundamentals/prod

#28718 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#28709 PatternContext<T> breaking change
  docs/core/compatibility/7.0.md
  docs/core/compatibility/core-libraries/7.0/patterncontext-generic-constraint.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#28710 AllowRenegotiation breaking change
  docs/core/compatibility/7.0.md
  docs/core/compatibility/networking/7.0/allowrenegotiation-default.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#28704 Improve the Nullable description with the .NET 6 template
  docs/csharp/language-reference/compiler-options/language.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#28703 Replace links with xrefs of type in the host folder
  docs/orleans/host/client.md
  docs/orleans/host/configuration-guide/activation-garbage-collection.md
  docs/orleans/host/configuration-guide/adonet-configuration.md
  docs/orleans/host/configuration-guide/client-configuration.md
  docs/orleans/host/configuration-guide/configuring-ado-dot-net-providers.md
  docs/orleans/host/configuration-guide/configuring-garbage-collection.md
  docs/orleans/host/configuration-guide/index.md
  docs/orleans/host/configuration-guide/list-of-options-classes.md
  docs/orleans/host/configuration-guide/local-development-configuration.md
  docs/orleans/host/configuration-guide/serialization.md
  docs/orleans/host/configuration-guide/server-configuration.md
  docs/orleans/host/configuration-guide/shutting-down-orleans.md
  docs/orleans/host/configuration-guide/startup-tasks.md
  docs/orleans/host/configuration-guide/typical-configurations.md
  docs/orleans/host/grain-directory.md
  docs/orleans/host/heterogeneous-silos.md
  docs/orleans/host/monitoring/client-error-code-monitoring.md
  docs/orleans/host/monitoring/index.md
  docs/orleans/host/monitoring/silo-error-code-monitoring.md
  docs/orleans/host/powershell-client.md
  docs/orleans/host/silo-lifecycle.md
Labels: okr-coverage, okr-discovery, okr-experience

#28730 Add Configuration in VS Code
  docs/core/tutorials/with-visual-studio-code.md
Labels: dotnet-fundamentals/prod

#28717 Fix hang in Tutorial: Create a GitHub Action with .NET
  docs/devops/create-dotnet-github-action.md
  docs/devops/snippets/create-dotnet-github-action/Dockerfile
Labels: okr-experience

#28617 Fixes #28616
  docs/core/extensions/options.md
Labels: dotnet-fundamentals/prod, okr-coverage

#28447 Remove static as requirement
  docs/core/extensions/logger-message-generator.md
Labels: dotnet-fundamentals/prod

#28722 Replace links with xrefs of type in the implementation folder
  docs/orleans/implementation/cluster-management.md
  docs/orleans/implementation/index.md
  docs/orleans/implementation/load-balancing.md
  docs/orleans/implementation/media/scheduler/scheduling-1.png
  docs/orleans/implementation/media/scheduler/scheduling-2.png
  docs/orleans/implementation/media/scheduler/scheduling-3.png
  docs/orleans/implementation/media/scheduler/scheduling-4.png
  docs/orleans/implementation/messaging-delivery-guarantees.md
  docs/orleans/implementation/orleans-lifecycle.md
  docs/orleans/implementation/scheduler.md
  docs/orleans/implementation/streams-implementation/azure-queue-streams.md
  docs/orleans/implementation/streams-implementation/index.md
  docs/orleans/implementation/testing.md
  docs/orleans/media/grain-formulation.svg
  docs/orleans/media/managed-lifecycle.png
  docs/orleans/overview.md
Labels: okr-coverage, okr-discovery, okr-experience

#28700 Replace links with xrefs of type in the grains folder
  docs/orleans/grains/cancellation-tokens.md
  docs/orleans/grains/code-generation.md
  docs/orleans/grains/event-sourcing/event-sourcing-configuration.md
  docs/orleans/grains/event-sourcing/immediate-vs-delayed-confirmation.md
  docs/orleans/grains/event-sourcing/index.md
  docs/orleans/grains/event-sourcing/journaledgrain-basics.md
  docs/orleans/grains/event-sourcing/journaledgrain-diagnostics.md
  docs/orleans/grains/event-sourcing/log-consistency-providers.md
  docs/orleans/grains/event-sourcing/notifications.md
  docs/orleans/grains/event-sourcing/replicated-instances.md
  docs/orleans/grains/external-tasks-and-grains.md
  docs/orleans/grains/grain-identity.md
  docs/orleans/grains/grain-lifecycle.md
  docs/orleans/grains/grain-persistence/azure-storage.md
  docs/orleans/grains/grain-persistence/dynamodb-storage.md
  docs/orleans/grains/grain-persistence/index.md
  docs/orleans/grains/grain-persistence/relational-storage.md
  docs/orleans/grains/grain-placement.md
  docs/orleans/grains/grain-versioning/backward-compatibility-guidelines.md
  docs/orleans/grains/grain-versioning/compatible-grains.md
  docs/orleans/grains/grain-versioning/deploying-new-versions-of-grains.md
  docs/orleans/grains/grain-versioning/grain-versioning.md
  docs/orleans/grains/grain-versioning/version-selector-strategy.md
  docs/orleans/grains/grainservices.md
  docs/orleans/grains/index.md
  docs/orleans/grains/interceptors.md
  docs/orleans/grains/observers.md
  docs/orleans/grains/oneway.md
  docs/orleans/grains/reentrancy.md
  docs/orleans/grains/request-context.md
  docs/orleans/grains/stateless-worker-grains.md
  docs/orleans/grains/timers-and-reminders.md
  docs/orleans/grains/transactions.md
Labels: okr-coverage, okr-discovery, okr-experience

#28729 Add documentation for the PInvoke probe algorithm.
  docs/core/dependency-loading/default-probing.md
Labels: doc-enhancement, dotnet-fundamentals/prod

#28731 Add serializable types
  docs/standard/serialization/binary-serialization.md
Labels: dotnet-fundamentals/prod

#28499 Update snippets for NRT
  docs/csharp/programming-guide/generics/snippets/GenericWhereConstraints.cs
  docs/csharp/whats-new/tutorials/snippets/generate-consume-asynchronous-streams/finished/IssuePRreport.csproj
  docs/csharp/whats-new/tutorials/snippets/generate-consume-asynchronous-streams/finished/Program.cs
  docs/csharp/whats-new/tutorials/snippets/generate-consume-asynchronous-streams/start/IssuePRreport.csproj
  docs/csharp/whats-new/tutorials/snippets/generate-consume-asynchronous-streams/start/Program.cs
  docs/standard/assembly/snippets/inspect-contents-using-metadataloadcontext/AssemblySnippets.csproj
  docs/standard/base-types/snippets/character-encoding-introduction/csharp/RuneSamples.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/computing-with-jsondocument-error/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/computing-with-jsondocument-error/computing-with-jsondocument-error.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/computing-with-jsondocument-valid/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/computing-with-jsondocument-valid/computing-with-jsondocument-valid.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/custom-reading-with-utf8jsonreader/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/custom-reading-with-utf8jsonreader/custom-reading-with-utf8jsonreader.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/custom-writing-with-utf8jsonwriter/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/custom-writing-with-utf8jsonwriter/custom-writing-with-utf8jsonwriter.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/datetime-converter-examples/example1/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/datetime-converter-examples/example1/example1.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/datetime-converter-examples/example2/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/datetime-converter-examples/example2/example2.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/datetime-converter-examples/example3/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/datetime-converter-examples/example3/example3.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/deserializing-with-jsonserializer-error/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/deserializing-with-jsonserializer-error/deserializing-with-jsonserializer-error.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/deserializing-with-jsonserializer-valid/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/deserializing-with-jsonserializer-valid/deserializing-with-jsonserializer-valid.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/reading-with-utf8jsonreader-error/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/reading-with-utf8jsonreader-error/reading-with-utf8jsonreader-error.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/reading-with-utf8jsonreader-valid/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/reading-with-utf8jsonreader-valid/reading-with-utf8jsonreader-valid.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/serializing-with-jsonserializer/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/serializing-with-jsonserializer/serializing-with-jsonserializer.csproj
  docs/standard/datetime/snippets/system-text-json-support/csharp/writing-with-utf8jsonwriter/Program.cs
  docs/standard/datetime/snippets/system-text-json-support/csharp/writing-with-utf8jsonwriter/writing-with-utf8jsonwriter.csproj
  docs/standard/io/snippets/pipelines_1/DoNotUse.cs
  docs/standard/io/snippets/pipelines_1/Message.cs
  docs/standard/io/snippets/pipelines_1/MyConnection.cs
  docs/standard/io/snippets/pipelines_1/MyConnection1.cs
  docs/standard/io/snippets/pipelines_1/MyPipeWriter.cs
  docs/standard/io/snippets/pipelines_1/Pipe.cs
  docs/standard/io/snippets/pipelines_1/Pipes.csproj
  docs/standard/io/snippets/pipelines_1/ProcessLinesAsync.cs
  docs/standard/io/snippets/pipelines_1/Program.cs
  docs/standard/io/snippets/pipelines_1/ReadSingleMsg.cs
  docs/standard/io/snippets/pipelines_2/ConsoleApp.csproj
  docs/standard/io/snippets/pipelines_2/Program.cs
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, csharp-async/tech, csharp-whats-new/tech, dotnet-fundamentals/prod

#28733 Update for .NET 6
  docs/core/releases-and-support.md
  docs/core/tutorials/with-visual-studio.md
Labels: dotnet-fundamentals/prod

#28734 Add syslib0038 and syslib0039
  docs/core/compatibility/7.0.md
  docs/core/compatibility/core-libraries/5.0/binaryformatter-serialization-obsolete.md
  docs/core/compatibility/core-libraries/7.0/obsolete-apis-with-custom-diagnostics.md
  docs/core/compatibility/core-libraries/7.0/serializationformat-binary.md
  docs/core/compatibility/toc.yml
  docs/fundamentals/syslib-diagnostics/obsoletions-overview.md
  docs/fundamentals/syslib-diagnostics/syslib0038.md
  docs/fundamentals/syslib-diagnostics/syslib0039.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#28738 Update how-to-count-occurrences-of-a-word-in-a-string-linq.md
  docs/csharp/programming-guide/concepts/linq/how-to-count-occurrences-of-a-word-in-a-string-linq.md
Labels: dotnet-csharp/prod, csharp-linq/tech

#28751 Document LoadFrom context for COM server activation with codebase
  docs/framework/tools/regasm-exe-assembly-registration-tool.md
Labels: doc-enhancement, dotnet-framework/prod

#28748 add hard break
  docs/csharp/language-reference/keywords/index.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#28728 Add reference links for static abstract interface members
  docs/csharp/fundamentals/types/interfaces.md
  docs/csharp/language-reference/keywords/interface.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, csharp-language-reference/tech

#28757 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#28749 Replace links with xrefs of type in the migration folder
  docs/orleans/migration/codegen.md
  docs/orleans/migration/index.md
  docs/orleans/migration/migration-1.5.md
  docs/orleans/migration/migration-azure-2.0.md
Labels: okr-coverage, okr-discovery, okr-experience

#28752 Replace links with xrefs of type in the resources folder
  docs/orleans/resources/best-practices.md
  docs/orleans/resources/frequently-asked-questions.md
  docs/orleans/resources/links.md
  docs/orleans/resources/nuget-packages.md
  docs/orleans/resources/orleans-architecture-principles-and-approach.md
  docs/orleans/resources/orleans-thinking-big-and-small.md
  docs/orleans/resources/student-projects.md
Labels: okr-coverage, okr-discovery, okr-experience

#28707 Add notes about arity and file system types
  docfx.json
  docs/standard/commandline/define-commands.md
  docs/standard/commandline/model-binding.md
  docs/standard/commandline/snippets/get-started-tutorial/csharp/Stage3/scl.csproj
  docs/standard/commandline/snippets/model-binding/csharp/Program.cs
  docs/standard/commandline/syntax.md
Labels: dotnet-fundamentals/prod

#28754 Replace links with xrefs of type in the remaining folders
  .openpublishing.redirection.json
  docs/orleans/index.yml
  docs/orleans/streaming/index.md
  docs/orleans/streaming/stream-providers.md
  docs/orleans/streaming/streams-programming-apis.md
  docs/orleans/streaming/streams-quick-start.md
  docs/orleans/streaming/streams-why.md
  docs/orleans/toc.yml
  docs/orleans/whats-new/whats-new-in-orleans.md
Labels: okr-coverage, okr-discovery, okr-experience

#28761 Add CentOS Stream to RHEL docs
  docfx.json
  docs/core/install/how-to-detect-installed-versions.md
  docs/core/install/index.yml
  docs/core/install/linux-alpine.md
  docs/core/install/linux-centos.md
  docs/core/install/linux-debian.md
  docs/core/install/linux-fedora.md
  docs/core/install/linux-opensuse.md
  docs/core/install/linux-package-mixup.md
  docs/core/install/linux-rhel.md
  docs/core/install/linux-scripted-manual.md
  docs/core/install/linux-sles.md
  docs/core/install/linux-snap.md
  docs/core/install/linux-ubuntu.md
  docs/core/install/linux.md
  docs/core/install/remove-runtime-sdk-versions.md
  docs/core/install/templates.md
  docs/fundamentals/toc.yml
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#28211 Add troubleshooting to windows install guide
  docs/core/install/media/windows/edit-vars.png
  docs/core/install/media/windows/list-vars.png
  docs/core/install/media/windows/start-menu.png
  docs/core/install/media/windows/system-props.png
  docs/core/install/windows.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#28766 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28772 Fix typo
  docs/csharp/language-reference/unsafe-code.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-advanced-concepts/tech

#28776 ASP.NET Core 7 breaking change for MVC Logger Event IDs
  docs/core/compatibility/7.0.md
  docs/core/compatibility/aspnet-core/7.0/microsoft-aspnetcore-mvc-core-log-event-ids.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#28780 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#28781 Change invalid ReadyToRun CLI argument to PublishReadyToRun
  docs/core/compatibility/sdk/6.0/publish-readytorun-requires-restore-change.md
Labels: dotnet-fundamentals/prod

#28786 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28769 use dependent repo
  .openpublishing.publish.config.json
  docfx.json
  docs/csharp/toc.yml
  docs/csharp/whats-new/breaking-changes.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech

#28796 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28817 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28814 Fix suggestions
  .openpublishing.publish.config.json
  .openpublishing.redirection.fundamentals.json
  docs/architecture/modernize-with-azure-containers/modernize-existing-apps-to-cloud-optimized/when-to-deploy-windows-containers-to-azure-container-service-kubernetes.md
  docs/azure/TOC.yml
  docs/azure/sdk/dependency-injection.md
  docs/azure/sdk/thread-safety.md
  docs/fundamentals/toc.yml
  docs/iot/toc.yml
  docs/machine-learning/toc.yml
  docs/spark/toc.yml
  docs/standard/data/sqlite/TOC.yml
Labels: dotnet-spark/prod, dotnet-architecture/prod, dotnet-ml/prod, modernize-with-azure-containers/tech, dotnet-fundamentals/prod, dotnet-data/prod, dotnet-azure/prod

#28807 Make the link to the C# article more prominent
  docs/core/tutorials/top-level-templates.md
Labels: dotnet-fundamentals/prod

#28829 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#28832 Remove preview to preview breaking change
  docs/core/compatibility/3.0.md
  docs/core/compatibility/fx-core.md
  docs/core/compatibility/visualbasic.md
  includes/core-changes/visualbasic/3.0/vbnewline-is-obsolete.md
Labels: dotnet-fundamentals/prod

#28809 Breaking changes for SDK version compatibility
  docs/core/compatibility/6.0.md
  docs/core/compatibility/7.0.md
  docs/core/compatibility/sdk/6.0/vs-msbuild-version.md
  docs/core/compatibility/sdk/7.0/vs-msbuild-version.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#28760 Add SYSLIB0040
  docs/core/compatibility/core-libraries/7.0/obsolete-apis-with-custom-diagnostics.md
  docs/fundamentals/syslib-diagnostics/obsoletions-overview.md
  docs/fundamentals/syslib-diagnostics/syslib0040.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#28837 Directives updates
  docs/standard/commandline/syntax.md
Labels: dotnet-fundamentals/prod

#28840 Update nullable-references.md
  docs/csharp/nullable-references.md
Labels: dotnet-csharp/prod

#28808 Replace "not unmanaged" with managed.
  docs/csharp/language-reference/builtin-types/unmanaged-types.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#28819 Update suboptimal stackalloc behavior
  docs/csharp/language-reference/operators/snippets/shared/StackallocOperator.cs
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#28844 Added docs to reflect dotnet/corefx#36085
  docs/core/additional-tools/xml-serializer-generator.md
Labels: dotnet-fundamentals/prod

#28838 Document new STJ Options Default property
  docs/standard/serialization/snippets/system-text-json-configure-options/csharp/SystemTextJsonOptions.csproj
  docs/standard/serialization/system-text-json-configure-options.md
Labels: dotnet-fundamentals/prod

#28851 Update index.md
  docs/csharp/fundamentals/object-oriented/index.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#28850 AssemblyLoadContext for C++/CLI assemblies
  docs/core/porting/cpp-cli.md
Labels: dotnet-fundamentals/prod

#28846 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod

#28795 Discovery OKR
  .openpublishing.redirection.csharp.json
  docs/csharp/delegates-overview.md
  docs/csharp/language-reference/compiler-messages/cs0201.md
  docs/csharp/language-reference/compiler-messages/cs1001.md
  docs/csharp/misc/cs0131.md
  docs/csharp/misc/cs1945.md
  docs/csharp/programming-guide/concepts/index.md
  docs/csharp/programming-guide/index.md
  docs/csharp/programming-guide/statements-expressions-operators/index.md
  docs/csharp/toc.yml
  docs/csharp/whats-new/tutorials/interpolated-string-handler.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, csharp-language-reference/tech, csharp-whats-new/tech, csharp-diagnostics/tech

#28811 Discovery OKR
  docs/core/install/linux-debian.md
  docs/core/install/linux-scripted-manual.md
  docs/core/install/linux-snap.md
  docs/core/install/linux.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#28779 Address customer feedback to correct instructions.
  docs/core/extensions/create-resource-files.md
Labels: dotnet-fundamentals/prod, okr-coverage

#28747 Add NoDefaultExcludes to the templatepack.csproj
  docs/core/tutorials/cli-templates-create-template-package.md
Labels: dotnet-fundamentals/prod

#28805 Add basic page for troubleshooting app launch failures
  docs/core/runtime-discovery/troubleshoot-app-launch.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#28826 Add EventSource docs
  docs/core/diagnostics/eventsource-activity-ids.md
  docs/core/diagnostics/eventsource-collect-and-view-traces.md
  docs/core/diagnostics/eventsource-getting-started.md
  docs/core/diagnostics/eventsource-instrumentation.md
  docs/core/diagnostics/eventsource.md
  docs/core/diagnostics/logging-tracing.md
  docs/core/diagnostics/media/perfview-events-viewer-appstarted.jpg
  docs/core/diagnostics/media/perfview-events-viewer.jpg
  docs/core/diagnostics/media/perfview-main-window-select-trace.jpg
  docs/core/diagnostics/media/perfview-main-window.jpg
  docs/core/diagnostics/media/perfview-run-dialog-advanced.jpg
  docs/core/diagnostics/media/perfview-run-dialog.jpg
  docs/core/diagnostics/media/vs-etw-events.jpg
  docs/core/diagnostics/media/vs-events-viewer-settings.jpg
  docs/core/diagnostics/media/vs-events-viewer.jpg
  docs/core/diagnostics/media/vs-nettrace-events.jpg
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#28859 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod

#28866 OKR: Discovery
  docs/csharp/programming-guide/concepts/linq/quantifier-operations.md
  docs/csharp/programming-guide/generics/generic-interfaces.md
  docs/framework/wcf/feature-details/how-to-obtain-a-certificate-wcf.md
  docs/standard/design-guidelines/type.md
  docs/standard/generics/interfaces.md
Labels: dotnet-framework/prod, dotnet/prod, dotnet-csharp/prod, csharp-fundamentals/tech, dotnet-standard/tech, csharp-linq/tech, dotnet-wcf/tech, dotnet-fundamentals/prod, okr-discovery

#28877 Update version info on publishing related articles
  docs/core/deploying/deploy-with-cli.md
  docs/core/deploying/index.md
  docs/core/rid-catalog.md
Labels: dotnet-fundamentals/prod

#28876 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod
