Repository dotnet/docs, pull requests merged in 2022-09, with the labels that each got.

#30970 Fixed typo in Indexers (C# Programming Guide)
  docs/csharp/programming-guide/indexers/index.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#30927 Update deployment-scenarios.md
  docs/architecture/porting-existing-aspnet-apps/deployment-scenarios.md
Labels: dotnet-architecture/prod, community-contribution

#30971 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#30926 Update dependency-injection.md
  docs/architecture/maui/dependency-injection.md
Labels: community-contribution

#30973 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#30983 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#30120 Update unmanaged.md
  docs/standard/garbage-collection/unmanaged.md
Labels: dotnet-fundamentals/prod

#30250 Dapr component updates
  docs/architecture/dapr-for-net-developers/publish-subscribe.md
  docs/architecture/dapr-for-net-developers/secrets-management.md
  docs/architecture/dapr-for-net-developers/state-management.md
Labels: dotnet-architecture/prod

#30967 Document AOT analysis warnings
  .openpublishing.redirection.core.json
  docs/core/deploying/native-aot/index.md
  docs/core/deploying/native-aot/warnings/il3050.md
  docs/core/deploying/native-aot/warnings/il3051.md
  docs/core/deploying/native-aot/warnings/il3052.md
  docs/core/deploying/native-aot/warnings/il3053.md
  docs/core/deploying/native-aot/warnings/il3054.md
  docs/core/deploying/native-aot/warnings/il3055.md
  docs/core/deploying/native-aot/warnings/il3056.md
  docs/fundamentals/toc.yml
  docs/whats-new/dotnet-docs-2022-06-01.md
Labels: dotnet-fundamentals/prod

#30923 Add a few bits of additional context to address #30862
  docs/standard/garbage-collection/implementing-disposeasync.md
Labels: dotnet-fundamentals/prod, okr-experience

#30989 Update numerics.md
  docs/standard/numerics.md
Labels: dotnet-fundamentals/prod, community-contribution

#30955 Added include for shared feedback. Updated index and TOC
  docs/architecture/blazor-for-web-forms-developers/index.md
  docs/architecture/cloud-native/index.md
  docs/architecture/containerized-lifecycle/index.md
  docs/architecture/dapr-for-net-developers/index.md
  docs/architecture/devops-for-aspnet-developers/index.md
  docs/architecture/grpc-for-wcf-developers/index.md
  docs/architecture/includes/feedback.md
  docs/architecture/index.yml
  docs/architecture/maui/index.md
  docs/architecture/media/feedback-footer.png
  docs/architecture/microservices/index.md
  docs/architecture/modern-web-apps-azure/index.md
  docs/architecture/modernize-desktop/index.md
  docs/architecture/modernize-with-azure-containers/index.md
  docs/architecture/porting-existing-aspnet-apps/index.md
  docs/architecture/toc.yml
Labels: dotnet-architecture/prod, microservices/tech, cloud-native/tech, blazor/tech, grpc/tech, modern-web-apps-azure/tech, modernize-with-azure-containers/tech, containerized-lifecycle/tech, okr-discovery

#30982 Add ICU breaking change
  docs/core/compatibility/7.0.md
  docs/core/compatibility/globalization/5.0/icu-globalization-api.md
  docs/core/compatibility/globalization/7.0/icu-globalization-api.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#30975 Improvements to CA1851 doc
  docs/fundamentals/code-analysis/quality-rules/ca1851.md
  docs/standard/linq/intermediate-materialization.md
Labels: dotnet-fundamentals/prod

#30981 Fix typos in /docs/csharp/language-reference/compiler-messages
  docs/csharp/language-reference/compiler-messages/cs0233.md
  docs/csharp/language-reference/compiler-messages/cs1607.md
Labels: community-contribution

#30993 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#30996 Fix typo in syntax.md
  docs/standard/commandline/syntax.md
Labels: community-contribution

#31011 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31013 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31010 Fix a misspelling
  docs/core/compatibility/index.md
Labels: community-contribution

#30992 Clarify that .NET is in the ubuntu package manager feeds
  docs/core/install/linux-ubuntu.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#31012 Update index.md
  docs/csharp/programming-guide/strings/index.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#30990 ms.service update.
  docs/azure/landing-page.yml
Labels: dotnet-azure/prod, community-contribution

#31018 Fix emdash in versioning-sdk-msbuild-vs.md
  docs/core/porting/versioning-sdk-msbuild-vs.md
Labels: dotnet-fundamentals/prod

#30460 [Upgrade Assistant] Clarify bypassing failed sources error
  docs/core/porting/upgrade-assistant-overview.md
Labels: dotnet-fundamentals/prod

#30534 Fix typo in CBC vulnerability code comment
  docs/standard/security/vulnerabilities-cbc-mode.md
Labels: dotnet/prod, dotnet-security/tech, dotnet-fundamentals/prod

#30710 Add source code for a custom YAML config provider implementation
  docs/core/extensions/snippets/configuration/custom-yaml-provider/custom-yaml-provider/Program.cs
  docs/core/extensions/snippets/configuration/custom-yaml-provider/custom-yaml-provider/WidgetOptions.cs
  docs/core/extensions/snippets/configuration/custom-yaml-provider/custom-yaml-provider/YamlConfigurationExtensions.cs
  docs/core/extensions/snippets/configuration/custom-yaml-provider/custom-yaml-provider/YamlConfigurationFileParser.cs
  docs/core/extensions/snippets/configuration/custom-yaml-provider/custom-yaml-provider/YamlConfigurationProvider.cs
  docs/core/extensions/snippets/configuration/custom-yaml-provider/custom-yaml-provider/YamlConfigurationSource.cs
  docs/core/extensions/snippets/configuration/custom-yaml-provider/custom-yaml-provider/YamlStreamConfigurationProvider.cs
  docs/core/extensions/snippets/configuration/custom-yaml-provider/custom-yaml-provider/YamlStreamConfigurationSource.cs
  docs/core/extensions/snippets/configuration/custom-yaml-provider/custom-yaml-provider/config.yaml
  docs/core/extensions/snippets/configuration/custom-yaml-provider/custom-yaml-provider/custom-yaml-provider.csproj
Labels: dotnet-fundamentals/prod, okr-discovery

#30994 Fix 13096
  docs/csharp/event-pattern.md
  docs/fundamentals/code-analysis/quality-rules/ca1070.md
  docs/fundamentals/code-analysis/quality-rules/design-warnings.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  samples/snippets/csharp/events/NuGet.Config
  samples/snippets/csharp/events/Program.cs
  samples/snippets/csharp/events/events.csproj
Labels: dotnet-csharp/prod, okr-coverage

#31019 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#29921 Fixes #22697
  docs/csharp/language-reference/operators/operator-overloading.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#31002 Limit precision to 999,999,999
  docs/core/compatibility/7.0.md
  docs/core/compatibility/core-libraries/6.0/numeric-format-parsing-handles-higher-precision.md
  docs/core/compatibility/core-libraries/7.0/max-precision-numeric-format-strings.md
  docs/core/compatibility/toc.yml
  docs/standard/base-types/standard-numeric-format-strings.md
Labels: dotnet-fundamentals/prod

#31031 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31048 Corrected the path on macOS/Linux.
  docs/core/tools/dotnet-environment-variables.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, okr-health

#29994 [Freshness] US-1953530: Refresh top articles by PV - .NET and Languages Content (2)
  docs/core/testing/unit-testing-with-nunit.md
  docs/core/whats-new/dotnet-5.md
  docs/standard/assembly/index.md
  docs/standard/base-types/how-to-pad-a-number-with-leading-zeros.md
  docs/standard/base-types/regular-expressions.md
  docs/standard/clr.md
  docs/standard/datetime/converting-between-time-zones.md
  docs/standard/exceptions/best-practices-for-exceptions.md
  docs/standard/parallel-programming/how-to-write-a-simple-parallel-foreach-loop.md
  docs/standard/parallel-programming/task-based-asynchronous-programming.md
  includes/core-testing-note-aspnet.md
Labels: dotnet-fundamentals/prod

#31051 Remove "by default"
  docs/core/compatibility/aspnet-core/6.0/razor-compiler-doesnt-produce-views-assembly.md
Labels: dotnet-fundamentals/prod

#31053 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#28494 Added a link to usage examples
  docs/fundamentals/code-analysis/quality-rules/ca2253.md
Labels: dotnet-fundamentals/prod

#31022 embedded nulls cause issues with event payload
  docs/core/diagnostics/eventsource-instrumentation.md
Labels: dotnet-fundamentals/prod

#29732 Create ICoreDebugProcess11-interface
  docs/framework/unmanaged-api/debugging/debugging-interfaces.md
  docs/framework/unmanaged-api/debugging/icordebugmodule4-interface.md
  docs/framework/unmanaged-api/debugging/icordebugmodule4-ismappedlayout-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess11-enumerateloaderheapmemoryregions-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess11-interface.md
  docs/framework/unmanaged-api/debugging/toc.yml
Labels: dotnet-framework/prod

#30467 remove snap as option for Alpine
  docs/core/install/linux-alpine.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#30750 Add 'chmod +x' command instructions
  docs/core/install/linux-scripted-manual.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod, community-contribution

#31046 Update porting ebook to remove 3.1 completely
  docs/architecture/porting-existing-aspnet-apps/choose-net-core-version.md
  docs/architecture/porting-existing-aspnet-apps/deployment-scenarios.md
  docs/architecture/porting-existing-aspnet-apps/identify-migration-sequence.md
  docs/architecture/porting-existing-aspnet-apps/incremental-migration-strategies.md
  docs/architecture/porting-existing-aspnet-apps/index.md
  docs/architecture/porting-existing-aspnet-apps/routing-differences.md
  docs/architecture/porting-existing-aspnet-apps/strategies-migrating-in-production.md
  docs/architecture/porting-existing-aspnet-apps/summary.md
  docs/architecture/porting-existing-aspnet-apps/understand-update-dependencies.md
Labels: dotnet-architecture/prod, community-contribution

#31064 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31063 Fix formatting for command overview
  docs/core/tools/dotnet-test.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#31066 Remove feature spec
  .openpublishing.redirection.csharp.json
  docfx.json
  docs/csharp/toc.yml
Labels: dotnet-csharp/prod

#31069 Update index.md to correct error
  docs/visual-basic/programming-guide/language-features/arrays/index.md
Labels: dotnet-visualbasic/prod, community-contribution

#31073 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31070 Update introduction.md
  docs/core/introduction.md
Labels: dotnet-fundamentals/prod

#31001 Updates for a variety of diagnostic docs
  docs/core/diagnostics/compare-metric-apis.md
  docs/core/diagnostics/debug-linux-dumps.md
  docs/core/diagnostics/diagnostics-in-containers.md
  docs/core/diagnostics/dotnet-counters.md
  docs/core/diagnostics/dotnet-dump.md
  docs/core/diagnostics/dotnet-trace.md
  docs/core/diagnostics/dumps.md
  docs/core/diagnostics/event-counters.md
  docs/core/diagnostics/managed-debuggers.md
  docs/core/diagnostics/metrics-instrumentation.md
  docs/core/diagnostics/sos-debugging-extension.md
Labels: dotnet-fundamentals/prod

#31081 Fix grammar, wording, punctuation in VB docs
  docs/visual-basic/programming-guide/concepts/linq/index.md
  docs/visual-basic/programming-guide/language-features/arrays/array-dimensions.md
  docs/visual-basic/programming-guide/language-features/arrays/index.md
Labels: community-contribution

#31079 DataContractSerializer breaking change
  docs/core/compatibility/7.0.md
  docs/core/compatibility/serialization/7.0/datacontractserializer-negative-sign.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#31083 Fix typo
  docs/core/tools/dotnet-install-script.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, community-contribution

#31089 Revised and moved the fixed statement article
  .openpublishing.redirection.csharp.json
  docs/csharp/language-reference/compiler-messages/cs0650.md
  docs/csharp/language-reference/compiler-messages/cs1656.md
  docs/csharp/language-reference/keywords/fixed-statement.md
  docs/csharp/language-reference/keywords/index.md
  docs/csharp/language-reference/keywords/snippets/FixedKeywordExamples.cs
  docs/csharp/language-reference/keywords/snippets/Program.cs
  docs/csharp/language-reference/keywords/statement-keywords.md
  docs/csharp/language-reference/keywords/unsafe.md
  docs/csharp/language-reference/operators/pointer-related-operators.md
  docs/csharp/language-reference/operators/stackalloc.md
  docs/csharp/language-reference/statements/fixed.md
  docs/csharp/language-reference/statements/snippets/fixed/Program.cs
  docs/csharp/language-reference/statements/snippets/fixed/fixed.csproj
  docs/csharp/language-reference/unsafe-code.md
  docs/csharp/misc/cs0209.md
  docs/csharp/misc/cs0210.md
  docs/csharp/misc/cs0213.md
  docs/csharp/misc/cs0254.md
  docs/csharp/misc/cs1655.md
  docs/csharp/programming-guide/statements-expressions-operators/statements.md
  docs/csharp/toc.yml
  docs/framework/performance/reliability-best-practices.md
  docs/standard/memory-and-spans/memory-t-usage-guidelines.md
Labels: community-contribution

#31077 Update netsdk1004.md
  docs/core/tools/sdk-errors/netsdk1004.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#31074 Add F1 keywords
  docs/core/tools/sdk-errors/index.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#31061 [BULK] DocuTune - Fix build validation issues: docs-link-absolute
  docs/core/tools/dotnet-help.md
  docs/core/whats-new/dotnet-core-3-0.md
  docs/csharp/index.yml
  docs/csharp/nullable-migration-strategies.md
  docs/csharp/nullable-references.md
  docs/framework/data/adonet/ef/index.md
  docs/framework/data/adonet/sql/linq/samples.md
  docs/framework/wcf/diagnostics/tracing/using-service-trace-viewer-for-viewing-correlated-traces-and-troubleshooting.md
  docs/index.yml
Labels: dotnet-framework/prod, dotnet-cli/tech, dotnet-csharp/prod, dotnet-wcf/tech, dotnet-fundamentals/prod, dotnet-data/tech, community-contribution

#31094 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31098 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31100 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#30974 Add documentation for CoreWCF extension on Upgrade Assistant
  docs/core/porting/snippets/upgrade-assistant-wcf-framework/CalculatorSample/CalculatorClient/App.config
  docs/core/porting/snippets/upgrade-assistant-wcf-framework/CalculatorSample/CalculatorClient/CalculatorClient.csproj
  docs/core/porting/snippets/upgrade-assistant-wcf-framework/CalculatorSample/CalculatorClient/Properties/AssemblyInfo.cs
  docs/core/porting/snippets/upgrade-assistant-wcf-framework/CalculatorSample/CalculatorClient/client.cs
  docs/core/porting/snippets/upgrade-assistant-wcf-framework/CalculatorSample/CalculatorService/App.config
  docs/core/porting/snippets/upgrade-assistant-wcf-framework/CalculatorSample/CalculatorService/CalculatorService.csproj
  docs/core/porting/snippets/upgrade-assistant-wcf-framework/CalculatorSample/CalculatorService/Properties/AssemblyInfo.cs
  docs/core/porting/snippets/upgrade-assistant-wcf-framework/CalculatorSample/CalculatorService/service.cs
  docs/core/porting/upgrade-assistant-wcf.md
Labels: dotnet-fundamentals/prod

#31076 XmlSecureResolver breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/7.0.md
  docs/core/compatibility/core-libraries/7.0/obsolete-apis-with-custom-diagnostics.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/xml/7.0/xmlsecureresolver-obsolete.md
  docs/fundamentals/syslib-diagnostics/obsoletions-overview.md
  docs/fundamentals/syslib-diagnostics/syslib0043.md
  docs/fundamentals/syslib-diagnostics/syslib0047.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#31103 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31106 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31111 Remove not correct statement
  docs/csharp/fundamentals/coding-style/coding-conventions.md
  docs/csharp/fundamentals/coding-style/snippets/coding-conventions/program.cs
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution, okr-health

#31112 Unsafe code article: removed not used snippets
  docs/csharp/language-reference/snippets/unsafe-code/FixedKeywordExamples.cs
Labels: community-contribution

#31116 Fix typo
  docs/framework/data/adonet/ef/language-reference/how-entity-sql-differs-from-transact-sql.md
Labels: dotnet-framework/prod, dotnet-data/tech, community-contribution

#31115 Semicolon replaced with colon
  docs/core/extensions/dependency-injection-usage.md
Labels: dotnet-fundamentals/prod, community-contribution

#31099 Update upgrade-assistant-uwp-framework.md
  docs/core/porting/upgrade-assistant-uwp-framework.md
Labels: dotnet-fundamentals/prod, community-contribution

#31102 Update dates for 17.3, 17.4, and add 17.5
  docs/core/porting/versioning-sdk-msbuild-vs.md
Labels: dotnet-fundamentals/prod

#31093 Fix snippet link
  docs/standard/commandline/model-binding.md
Labels: dotnet-fundamentals/prod

#31128 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31133 Update pinvoke-source-generation.md
  docs/standard/native-interop/pinvoke-source-generation.md
Labels: dotnet-fundamentals/prod

#31137 added content for missing error message cs7000
  docs/csharp/language-reference/compiler-messages/cs7000.md
  docs/csharp/language-reference/compiler-messages/toc.yml
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31124 Minor style fixes in What's new in C# 11
  docs/csharp/whats-new/csharp-11.md
Labels: community-contribution

#31142 Breaking change for OSArchitecture value
  docs/core/compatibility/7.0.md
  docs/core/compatibility/interop/7.0/osarchitecture-emulation.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#31145 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31176 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31131 Fix grammar, wording, and spaces
  docs/core/deploying/native-aot/index.md
  docs/core/deploying/single-file/overview.md
  docs/core/install/linux-rhel.md
Labels: community-contribution

#31123 Use .NET 6 code
  docs/azure/sdk/dependency-injection.md
Labels: dotnet-azure/prod, community-contribution

#31144 Remote auth provider breaking change
  docs/core/compatibility/7.0.md
  docs/core/compatibility/aspnet-core/7.0/authenticateasync-anonymous-request.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#31068 Finishing up ICoredebug module4 and process11
  docs/framework/unmanaged-api/debugging/debugging-interfaces.md
  docs/framework/unmanaged-api/debugging/icordebugmodule4-interface.md
  docs/framework/unmanaged-api/debugging/icordebugprocess11-enumerateloaderheapmemoryregions-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess11-interface.md
Labels: dotnet-framework/prod

#31177 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31183 remove key for CS7000
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech

#31188 Finishing ICordebug module4 and process11 docs
  docs/framework/unmanaged-api/debugging/debugging-interfaces.md
  docs/framework/unmanaged-api/debugging/icordebugprocess11-enumerateloaderheapmemoryregions-method.md
  docs/framework/unmanaged-api/debugging/icordebugprocess11-interface.md
Labels: dotnet-framework/prod

#31179 added content for missing error message cs4033
  docs/csharp/language-reference/compiler-messages/cs4033.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech

#31095 New `RateLimiter` article showing a custom HTTP handler
  docs/core/extensions/http-ratelimiter.md
  docs/core/extensions/snippets/ratelimit/http/ClientSideRateLimitedHandler.cs
  docs/core/extensions/snippets/ratelimit/http/GlobalUsings.cs
  docs/core/extensions/snippets/ratelimit/http/Program.cs
  docs/core/extensions/snippets/ratelimit/http/http.csproj
  docs/fundamentals/toc.yml
  includes/preview-content.md
Labels: dotnet-fundamentals/prod, okr-coverage, okr-discovery, :checkered_flag: Release: .NET 7

#31181 added content for missing error message cs4008
  docs/csharp/language-reference/compiler-messages/cs4008.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31182 added content for missing error message cs1983
  docs/csharp/language-reference/compiler-messages/cs1983.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31196 Fixes issue #31195
  docs/architecture/modern-web-apps-azure/common-client-side-web-technologies.md
Labels: dotnet-architecture/prod, modern-web-apps-azure/tech, community-contribution, okr-health

#31189 Update exportable to ONNX Text Transforms
  docs/machine-learning/resources/transforms.md
Labels: dotnet-ml/prod

#31185 added content for missing error message cs0854
  docs/csharp/language-reference/compiler-messages/cs0854.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31186 added content for missing error message cs0181
  docs/csharp/language-reference/compiler-messages/cs0181.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31141 Add link to fixing-warnings in trimmer warnings
  docs/core/deploying/trimming/fixing-warnings.md
  docs/core/deploying/trimming/trim-warnings/il2067.md
  docs/core/deploying/trimming/trim-warnings/il2068.md
  docs/core/deploying/trimming/trim-warnings/il2069.md
  docs/core/deploying/trimming/trim-warnings/il2070.md
  docs/core/deploying/trimming/trim-warnings/il2072.md
  docs/core/deploying/trimming/trim-warnings/il2073.md
  docs/core/deploying/trimming/trim-warnings/il2074.md
  docs/core/deploying/trimming/trim-warnings/il2075.md
  docs/core/deploying/trimming/trim-warnings/il2077.md
  docs/core/deploying/trimming/trim-warnings/il2078.md
  docs/core/deploying/trimming/trim-warnings/il2079.md
  docs/core/deploying/trimming/trim-warnings/il2080.md
  docs/core/deploying/trimming/trim-warnings/il2082.md
  docs/core/deploying/trimming/trim-warnings/il2083.md
  docs/core/deploying/trimming/trim-warnings/il2084.md
  docs/core/deploying/trimming/trim-warnings/il2085.md
  docs/core/deploying/trimming/trim-warnings/il2087.md
  docs/core/deploying/trimming/trim-warnings/il2088.md
  docs/core/deploying/trimming/trim-warnings/il2089.md
  docs/core/deploying/trimming/trim-warnings/il2090.md
  docs/core/deploying/trimming/trim-warnings/il2091.md
  docs/core/deploying/trimming/trim-warnings/il2117.md
Labels: dotnet-fundamentals/prod

#31210 Add missing packages to 6.0 breaking change doc
  docs/core/compatibility/core-libraries/6.0/older-framework-versions-dropped.md
Labels: dotnet-fundamentals/prod

#31197 Use a consistent name for the variable
  docs/fundamentals/networking/snippets/socket/socket-client/Program.cs
  docs/fundamentals/networking/snippets/socket/socket-server/Program.cs
  docs/fundamentals/networking/snippets/tcp/tcp-client/Program.cs
  docs/fundamentals/networking/snippets/tcp/tcp-listener/Program.cs
  docs/fundamentals/networking/sockets/socket-services.md
Labels: dotnet-fundamentals/prod, okr-experience, okr-health

#31198 fixes #23727
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/implement-value-objects.md
Labels: dotnet-architecture/prod, microservices/tech, community-contribution, okr-health

#31122 Change C# standard link
  docs/fundamentals/standards.md
Labels: dotnet-fundamentals/prod

#31201 added content for missing error message cs8803
  docs/csharp/language-reference/compiler-messages/cs8803.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31202 added content for missing error message cs1736
  docs/csharp/language-reference/compiler-messages/cs1736.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31203 added content for missing error message cs8812
  docs/csharp/language-reference/compiler-messages/cs8812.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31222 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31214 Renamed the config/options
  docs/core/extensions/custom-logging-provider.md
  docs/core/extensions/snippets/configuration/console-custom-logging/ColorConsoleLogger.cs
  docs/core/extensions/snippets/configuration/console-custom-logging/ColorConsoleLoggerConfiguration.cs
  docs/core/extensions/snippets/configuration/console-custom-logging/Program.cs
  docs/core/extensions/snippets/configuration/console-custom-logging/appsettings.json
Labels: dotnet-fundamentals/prod, okr-experience

#31206 added content for missing error message cs1986
  docs/csharp/language-reference/compiler-messages/cs1986.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31207 added content for missing error message cs1988
  docs/csharp/language-reference/compiler-messages/cs1988.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31209 added content for missing error message cs1994
  docs/csharp/language-reference/compiler-messages/cs1994.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31211 added content for missing error message cs1996
  docs/csharp/language-reference/compiler-messages/cs1996.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31212 added content for missing error message cs1997
  docs/csharp/language-reference/compiler-messages/cs1997.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31213 added content for missing error message cs4004
  docs/csharp/language-reference/compiler-messages/cs4004.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31220 Fix HttpClient .NET Framework guidance
  docs/fundamentals/networking/http/httpclient-guidelines.md
Labels: dotnet-fundamentals/prod

#31191 Fix wording
  docs/core/dependency-loading/loading-resources.md
  docs/core/porting/premigration-needed-changes.md
  docs/core/porting/upgrade-assistant-uwp-framework.md
Labels: community-contribution

#31216 Update minimum VS/MSBuild versions
  docs/core/compatibility/sdk/7.0/vs-msbuild-version.md
Labels: dotnet-fundamentals/prod

#31234 fix typo
  docs/framework/interop/default-marshalling-behavior.md
Labels: dotnet-framework/prod, community-contribution

#31235 Improve reflection fallback breaking change doc.
  docs/core/compatibility/serialization/7.0/reflection-fallback.md
Labels: dotnet-fundamentals/prod

#31239 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31270 Fix wording and typos in /docs/core/tools
  docs/core/tools/dotnet-environment-variables.md
  docs/core/tools/dotnet-install-script.md
  docs/core/tools/dotnet-sln.md
  docs/core/tools/sdk-errors/netsdk1079.md
Labels: community-contribution

#31268 fix typo (#31248)
  docs/architecture/modern-web-apps-azure/work-with-data-in-asp-net-core-apps.md
Labels: dotnet-architecture/prod, modern-web-apps-azure/tech, community-contribution, okr-health

#31232 Acrolinx and TOC touch-ups
  docs/core/extensions/http-ratelimiter.md
  docs/fundamentals/toc.yml
  docs/standard/assembly/unloadability.md
Labels: dotnet-fundamentals/prod

#31125 Fix typo in ca5364.md
  docs/fundamentals/code-analysis/quality-rules/ca5364.md
Labels: dotnet-fundamentals/prod, community-contribution

#31253 added content for missing error message cs1737
  docs/csharp/language-reference/compiler-messages/cs1737.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31267 Added explanation for CS8670 warning example
  docs/csharp/language-reference/compiler-messages/nullable-warnings.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31254 added content for missing error message cs0767
  docs/csharp/language-reference/compiler-messages/cs0767.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31255 added content for missing error message cs0846
  docs/csharp/language-reference/compiler-messages/cs0846.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31257 added content for missing error message cs1740
  docs/csharp/language-reference/compiler-messages/cs1740.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31262 added content for missing error message cs1763
  docs/csharp/language-reference/compiler-messages/cs1763.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31263 added content for missing error message cs1065
  docs/csharp/language-reference/compiler-messages/cs1065.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31264 added content for missing error message cs1063
  docs/csharp/language-reference/compiler-messages/cs1063.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31265 added content for missing error message cs1739
  docs/csharp/language-reference/compiler-messages/cs1739.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31277 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31237 Show command line example
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/prod

#31236 .version file entries
  docs/core/compatibility/6.0.md
  docs/core/compatibility/sdk/6.0/version-file-entries.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#31190 Socket.End* breaking change
  docs/core/compatibility/7.0.md
  docs/core/compatibility/networking/7.0/socket-end-closed-sockets.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#31284 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31283 Language reference updates for `file` scoped types
  docs/csharp/language-reference/keywords/access-modifiers.md
  docs/csharp/language-reference/keywords/file.md
  docs/csharp/language-reference/keywords/index.md
  docs/csharp/language-reference/keywords/snippets/FileScoped.cs
  docs/csharp/language-reference/keywords/snippets/Program.cs
  docs/csharp/whats-new/csharp-11.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#31291 add file scoped types to TOC
  docs/csharp/toc.yml
Labels: dotnet-csharp/prod

#31297 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31296 Fix typo: "a" vs "an"
  docs/azure/index.yml
  docs/azure/landing-page.yml
Labels: dotnet-azure/prod, community-contribution

#31275 added content for missing error message cs9050
  docs/csharp/language-reference/compiler-messages/cs9050.md
  docs/csharp/language-reference/compiler-messages/toc.yml
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31276 Added content for missing error message cs0272
  docs/csharp/misc/cs0272.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech, community-contribution

#31278 added content for missing error message cs8176
  docs/csharp/language-reference/compiler-messages/cs8176.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31279 added content for missing error message cs8175
  docs/csharp/language-reference/compiler-messages/cs8175.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31288 added content for missing error message cs8177
  docs/csharp/language-reference/compiler-messages/cs8177.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31280 added content for missing error message cs8171
  docs/csharp/language-reference/compiler-messages/cs8171.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31281 added content for missing error message cs8173
  docs/csharp/language-reference/compiler-messages/cs8173.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31304 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31286 added content for missing error message cs8170
  docs/csharp/language-reference/compiler-messages/cs8170.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31289 added content for missing error message cs8169
  docs/csharp/language-reference/compiler-messages/cs8169.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#31306 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#31290 Respond to feedback
  docs/core/compatibility/networking/7.0/socket-end-closed-sockets.md
Labels: dotnet-fundamentals/prod

#31223 Added a table to help more quickly mentally model range operators
  docs/csharp/language-reference/operators/member-access-operators.md
  docs/csharp/language-reference/operators/snippets/shared/MemberAccessOperators.cs
  docs/csharp/whats-new/tutorials/ranges-indexes.md
  samples/snippets/csharp/tutorials/RangesIndexes/IndicesAndRanges.cs
  samples/snippets/csharp/tutorials/RangesIndexes/Program.cs
  samples/snippets/csharp/tutorials/RangesIndexes/RangesIndexes.csproj
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-whats-new/tech, okr-coverage

#31302 Add deprecation documentation for several small linker features
  docs/core/compatibility/7.0.md
  docs/core/compatibility/deployment/7.0/deprecated-trimmer-default-action.md
  docs/core/compatibility/toc.yml
  docs/core/deploying/trimming/trim-warnings/il2053.md
  docs/core/deploying/trimming/trim-warnings/il2054.md
Labels: dotnet-fundamentals/prod
