Repository dotnet/docs, pull requests merged in 2023-09, with the labels that each got.

#36922 Add info table to IDE0055 page
  docs/fundamentals/code-analysis/style-rules/ide0055.md
Labels: dotnet-fundamentals/prod, community-contribution

#36943 Update Run Setting Arguments link
  docs/core/tools/dotnet-test.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, community-contribution

#36945 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36959 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36303 Expand description of generic recursions
  docs/core/deploying/native-aot/warnings/il3054.md
Labels: dotnet-fundamentals/prod

#36944 Missing dash
  docs/csharp/language-reference/compiler-messages/cs0120.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#36960 Remove sealed modifier from base class
  docs/orleans/host/configuration-guide/serialization.md
Labels: community-contribution

#36666 Corrected variable name
  docs/machine-learning/how-to-guides/how-to-use-the-automl-api.md
Labels: dotnet-ml/prod, community-contribution

#36873 doc - Fixed some typos
  docs/core/porting/modernize.md
Labels: dotnet-fundamentals/prod, community-contribution

#36878 Update SLES 12 to SP5 min
  docs/core/install/linux-sles.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#36825 Fix reporting test results link
  docs/core/tools/dotnet-test.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, community-contribution

#36786 update text and boxes to .net 7
  docs/architecture/index.yml
  docs/architecture/modernize-desktop/includes/download-alert.md
  docs/architecture/modernize-desktop/media/modernizing-existing-desktop-apps-ebook-cover.png
  docs/architecture/modernize-desktop/toc.yml
  docs/architecture/porting-existing-aspnet-apps/media/index/porting-existing-aspnet-apps.png
  docs/architecture/porting-existing-aspnet-apps/toc.yml
Labels: dotnet-architecture/prod

#36697 link to finalizer articles
  docs/csharp/fundamentals/exceptions/using-exceptions.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#36965 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36966 Apply feedback from dotnet/docs#36723
  docs/core/tools/nuget-signed-package-verification.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#36967 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36972 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36974 Update check-for-build-warnings.yml
  .github/workflows/check-for-build-warnings.yml
Labels: okr-experience

#36968 Update benefits.md
  docs/orleans/benefits.md
Labels: okr-experience

#36848 .NET 8 update for VS Code tutorial series
  docs/core/tutorials/debugging-with-visual-studio-code.md
  docs/core/tutorials/library-with-visual-studio-code.md
  docs/core/tutorials/media/publishing-with-visual-studio-code/published-files-output-net8.png
  docs/core/tutorials/publishing-with-visual-studio-code.md
  docs/core/tutorials/testing-library-with-visual-studio-code.md
  docs/core/tutorials/testing-library-with-visual-studio.md
  docs/core/tutorials/with-visual-studio-code.md
  docs/zone-pivot-groups.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#36931 Add the Orleans meters
  docs/core/diagnostics/compare-metric-apis.md
  docs/orleans/host/monitoring/index.md
Labels: okr-discovery

#36984 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36977 SDK/MSBuild breaking changes for RC 1
  .openpublishing.redirection.core.json
  docs/core/compatibility/8.0.md
  docs/core/compatibility/deployment/8.0/rid-asset-list.md
  docs/core/compatibility/sdk/8.0/custombuildeventargs.md
  docs/core/compatibility/sdk/8.0/rid-graph.md
  docs/core/compatibility/sdk/8.0/tool-rollforward.md
  docs/core/compatibility/sdk/8.0/trimming-unsupported-targetframework.md
  docs/core/compatibility/sdk/8.0/version-requirements.md
  docs/core/compatibility/toc.yml
  docs/whats-new/dotnet-docs-mod0.md
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#36986 Fix code sample
  docs/fundamentals/networking/http/httpclient-guidelines.md
Labels: community-contribution

#36971 Document how to manipulate SNI with HttpClient
  docs/core/extensions/httpclient-sni.md
  docs/fundamentals/toc.yml
Labels: dotnet-networking/tech, dotnet-fundamentals/prod

#36887 Fix the typo in the credit percentage of PerformMontEndTransactions
  docs/csharp/fundamentals/tutorials/snippets/object-oriented-programming/InterestEarningAccount.cs
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution, okr-health

#36994 Custom marshaller shape
  docs/core/compatibility/8.0.md
  docs/core/compatibility/interop/8.0/marshal-modes.md
  docs/core/compatibility/toc.yml
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod

#37002 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36999 Add reference for collection expression error messages
  .openpublishing.redirection.csharp.json
  docs/csharp/language-reference/compiler-messages/array-declaration-errors.md
  docs/csharp/language-reference/compiler-messages/cs1921.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/cs0747.md
  docs/csharp/misc/cs1920.md
  docs/csharp/misc/cs1954.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, :checkered_flag: Release: .NET 8

#36991 Combine and add expression tree restrictions
  .openpublishing.redirection.csharp.json
  docs/azure/sdk/dependency-injection.md
  docs/azure/sdk/unit-testing-mocking.md
  docs/core/deploying/trimming/prepare-libraries-for-trimming.md
  docs/csharp/language-reference/compiler-messages/cs0845.md
  docs/csharp/language-reference/compiler-messages/cs0854.md
  docs/csharp/language-reference/compiler-messages/cs1946.md
  docs/csharp/language-reference/compiler-messages/expression-tree-restrictions.md
  docs/csharp/language-reference/compiler-messages/lambda-expression-errors.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/cs0765.md
  docs/csharp/misc/cs0831.md
  docs/csharp/misc/cs0832.md
  docs/csharp/misc/cs0838.md
  docs/csharp/misc/cs1944.md
  docs/csharp/misc/cs1945.md
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech

#37006 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37003 Include file for VS Mac eol
  docs/core/extensions/cloud-service.md
  docs/core/install/how-to-detect-installed-versions.md
  docs/core/install/macos.md
  docs/core/testing/index.md
  docs/core/tutorials/debugging-with-visual-studio-mac.md
  docs/core/tutorials/index.md
  docs/core/tutorials/library-with-visual-studio-mac.md
  docs/core/tutorials/publishing-with-visual-studio-mac.md
  docs/core/tutorials/testing-library-with-visual-studio-mac.md
  docs/core/tutorials/with-visual-studio-mac.md
  docs/csharp/asynchronous-programming/cancel-an-async-task-or-a-list-of-tasks.md
  docs/csharp/asynchronous-programming/cancel-async-tasks-after-a-period-of-time.md
  docs/fsharp/get-started/get-started-with-visual-studio-for-mac.md
  docs/samples-and-tutorials/index.md
  docs/standard/get-started.md
  includes/vs-mac-eol.md
Labels: dotnet-fsharp/prod, dotnet/prod, dotnet-csharp/prod, csharp-async/tech, csharp-language-reference/tech, dotnet-architecture/prod, microservices/tech, dotnet-ml/prod, dotnet-install/tech, containerized-lifecycle/tech, dotnet-fundamentals/prod

#37018 Remove the no longer needed logging config
  docs/core/extensions/snippets/workers/6.0/windows-service/Program.cs
  docs/core/extensions/snippets/workers/7.0/windows-service/Program.cs
  docs/core/extensions/windows-service.md
Labels: dotnet-fundamentals/prod, okr-health

#36997 Typo "Tensorflow"→"TensorFlow"
  docs/machine-learning/deep-learning-overview.md
Labels: dotnet-ml/prod, community-contribution

#36708 added sourceName info: create-item & project tuts
  docs/core/tutorials/cli-templates-create-item-template.md
  docs/core/tutorials/cli-templates-create-project-template.md
Labels: dotnet-fundamentals/prod, community-contribution, :world_map: reQUEST

#37019 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37005 Miscellaneous touch ups
  docs/architecture/cloud-native/deploy-containers-azure.md
  docs/architecture/cloud-native/relational-vs-nosql-data.md
  docs/architecture/containerized-lifecycle/design-develop-containerized-apps/build-aspnet-core-applications-linux-containers-aks-kubernetes.md
  docs/architecture/devops-for-aspnet-developers/deploying-to-app-service.md
  docs/architecture/maui/mvvm.md
  docs/core/docker/publish-as-container.md
  docs/csharp/language-reference/compiler-messages/cs1750.md
  docs/csharp/language-reference/compiler-messages/cs1983.md
  docs/csharp/language-reference/compiler-messages/cs8812.md
  docs/csharp/programming-guide/strings/index.md
  docs/fundamentals/code-analysis/quality-rules/ca5350.md
  docs/fundamentals/networking/networking-telemetry.md
  docs/standard/base-types/formatting-types.md
  docs/standard/library-guidance/versioning.md
  docs/standard/native-interop/native-library-loading.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, dotnet-networking/tech, csharp-language-reference/tech, dotnet-architecture/prod, cloud-native/tech, csharp-diagnostics/tech, containerized-lifecycle/tech, dotnet-fundamentals/prod, dotnet-docker/tech

#37020 Update trimming-options.md
  docs/core/deploying/trimming/trimming-options.md
Labels: dotnet-fundamentals/prod

#37027 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37028 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37032 Add SYSLIB0052
  docs/core/compatibility/core-libraries/8.0/obsolete-apis-with-custom-diagnostics.md
  docs/fundamentals/syslib-diagnostics/obsoletions-overview.md
  docs/fundamentals/syslib-diagnostics/syslib0011.md
  docs/fundamentals/syslib-diagnostics/syslib0052.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#37036 remove duplicated line
  docs/architecture/modern-web-apps-azure/test-asp-net-core-mvc-apps.md
Labels: dotnet-architecture/prod, modern-web-apps-azure/tech, community-contribution

#37031 Update resource-management-the-use-keyword.md
  docs/fsharp/language-reference/resource-management-the-use-keyword.md
Labels: dotnet-fsharp/prod, community-contribution

#37039 Update observability-with-otel.md prometheus yaml error
  docs/core/diagnostics/observability-with-otel.md
Labels: dotnet-fundamentals/prod, community-contribution, okr-health

#36115 Update formatting.md - F# - Recommend array postfix form
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod, community-contribution

#36885 Reword and rearrange Native AOT docs
  docs/core/deploying/native-aot/diagnostics.md
  docs/core/deploying/native-aot/fixing-warnings.md
  docs/core/deploying/native-aot/index.md
  docs/core/deploying/native-aot/interop.md
  docs/core/deploying/native-aot/optimizing.md
  docs/core/deploying/native-aot/warnings/il3050.md
  docs/core/deploying/native-aot/warnings/il3052.md
  docs/core/deploying/native-aot/warnings/il3053.md
  docs/core/deploying/native-aot/warnings/il3054.md
  docs/core/deploying/trimming/snippets/MyLibrary/Class1.cs
  docs/core/diagnostics/index.md
  docs/core/tools/dotnet-new-sdk-templates.md
  docs/core/whats-new/dotnet-8.md
  docs/standard/glossary.md
  docs/standard/native-interop/pinvoke-source-generation.md
Labels: dotnet-fundamentals/prod

#37048 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#29230 Add a link to the RidGraph tool
  docs/core/rid-catalog.md
Labels: dotnet-fundamentals/prod

#37055 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37057 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37063 Fixed typo in types.md
  docs/csharp/tour-of-csharp/types.md
Labels: dotnet-csharp/prod, csharp-get-started/tech, community-contribution, okr-health

#37102 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37051 Update info about SOS extension
  docs/core/diagnostics/debug-memory-leak.md
  docs/core/diagnostics/sos-debugging-extension.md
  docs/framework/tools/sos-dll-sos-debugging-extension.md
Labels: dotnet-framework/prod, dotnet-fundamentals/prod, okr-health

#37104 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37106 Update dotnet-8.md fixed typo
  docs/core/whats-new/dotnet-8.md
Labels: dotnet-fundamentals/prod, community-contribution

#37107 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37056 Add documentation for CA1870
  docs/fundamentals/code-analysis/quality-rules/ca1870.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/performance-warnings.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod

#37111 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37060 Update metrics-instrumentation.md
  docs/core/diagnostics/metrics-instrumentation.md
Labels: dotnet-fundamentals/prod

#37061 Fix: HttpClientFactory sample highlighted lines
  docs/core/extensions/httpclient-factory.md
Labels: dotnet-networking/tech, dotnet-fundamentals/prod, community-contribution

#37109 Update syntax-transformation.md to change "such a ..." to "such as ..."
  docs/csharp/roslyn-sdk/get-started/syntax-transformation.md
Labels: dotnet-csharp/prod, csharp-roslyn/tech, community-contribution

#37011 Update what's new for RC 1
  docs/core/project-sdk/msbuild-props.md
  docs/core/runtime-config/compilation.md
  docs/core/runtime-config/debugging-profiling.md
  docs/core/runtime-config/garbage-collector.md
  docs/core/runtime-config/networking.md
  docs/core/runtime-config/threading.md
  docs/core/runtime-config/wpf.md
  docs/core/whats-new/dotnet-8.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#37112 Deserializer breaking change
  docs/core/compatibility/8.0.md
  docs/core/compatibility/serialization/8.0/binaryformatter-disabled.md
  docs/core/compatibility/serialization/8.0/metadata-resolving.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#37122 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37126 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37118 Compare IDE0025 and IDE0027
  docs/fundamentals/code-analysis/style-rules/ide0025.md
  docs/fundamentals/code-analysis/style-rules/ide0027.md
Labels: dotnet-fundamentals/prod

#37127 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37129 Update dotnet-dump.md
  docs/core/diagnostics/dotnet-dump.md
Labels: dotnet-fundamentals/prod

#37119 Remove configurable listening ports
  docs/core/diagnostics/diagnostic-port.md
Labels: dotnet-fundamentals/prod, okr-health

#37123 Update the top two tables for 8.0.100 and 8.0.200
  docs/core/porting/versioning-sdk-msbuild-vs.md
Labels: dotnet-fundamentals/prod

#37131 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37140 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37137 Change fields to properties to match description in primary constructors tutorial
  docs/csharp/whats-new/tutorials/snippets/primary-constructors/Distance.cs
Labels: dotnet-csharp/prod, csharp-whats-new/tech, community-contribution

#37138 Update primary-constructors.md Removed duplicate words
  docs/csharp/whats-new/tutorials/primary-constructors.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech, community-contribution

#37139 Link the VSTO overview article to the VSTO note in Office Programming Walkthrough
  docs/csharp/advanced-topics/interop/walkthrough-office-programming.md
  docs/csharp/includes/vsto-framework.md
Labels: dotnet-csharp/prod, community-contribution, okr-health

#37145 Fix type of change
  docs/core/compatibility/8.0.md
Labels: dotnet-fundamentals/prod, community-contribution

#37152 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37153 Add back listening port capability
  docs/core/diagnostics/diagnostic-port.md
Labels: dotnet-fundamentals/prod

#37146 add information about new install-scripts options
  docs/core/tools/dotnet-install-script.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#37161 Add missed dashes to script argument
  docs/core/tools/dotnet-install-script.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#37166 Add tips for dependencies
  docs/core/compatibility/aspnet-core/6.0/microsoft-aspnetcore-http-features-package-split.md
  docs/core/project-sdk/msbuild-props.md
  docs/core/tools/dependencies.md
  docs/core/tools/sdk-errors/netsdk1073.md
  docs/standard/library-guidance/dependencies.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#37172 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37199 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37200 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37171 Update index.md to clarify String & Span/Memory usage
  docs/standard/memory-and-spans/index.md
Labels: dotnet-fundamentals/prod, community-contribution

#37193 Fixed Typo (Markdown)
  docs/core/tools/dotnet.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, community-contribution

#37210 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37218 Add a fixed code sample for CS7003
  docs/csharp/language-reference/compiler-messages/cs7003.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#37219 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37149 Add/update some information about threads and CPU groups, and tiered compilation events
  docs/core/runtime-config/threading.md
  docs/fundamentals/diagnostics/runtime-events.md
  docs/fundamentals/diagnostics/runtime-exception-events.md
  docs/fundamentals/diagnostics/runtime-garbage-collection-events.md
  docs/fundamentals/diagnostics/runtime-loader-binder-events.md
  docs/fundamentals/diagnostics/runtime-method-events.md
  docs/fundamentals/diagnostics/runtime-thread-events.md
  docs/fundamentals/diagnostics/runtime-tiered-compilation-events.md
  docs/fundamentals/diagnostics/runtime-type-events.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod

#37222 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37225 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37238 Update delegate wording for clarity.
  docs/csharp/programming-guide/delegates/using-delegates.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#37215 Updates for .NET 8 `dotnet publish` containers command
  docs/core/docker/build-container.md
  docs/core/docker/container-images.md
  docs/core/docker/introduction.md
  docs/core/docker/publish-as-container.md
  docs/core/docker/snippets/7.0/App/Dockerfile
  docs/core/docker/snippets/7.0/App/DotNet.Docker.csproj
  docs/core/docker/snippets/7.0/App/Program.cs
  docs/core/docker/snippets/7.0/Worker/DotNet.ContainerImage.csproj
  docs/core/docker/snippets/7.0/Worker/Program.cs
  docs/core/docker/snippets/7.0/Worker/Properties/launchSettings.json
  docs/core/docker/snippets/7.0/Worker/Worker.cs
  docs/core/docker/snippets/7.0/Worker/appsettings.Development.json
  docs/core/docker/snippets/7.0/Worker/appsettings.json
  docs/core/docker/snippets/8.0/App/Dockerfile
  docs/core/docker/snippets/8.0/App/DotNet.Docker.csproj
  docs/core/docker/snippets/8.0/App/Program.cs
  docs/core/docker/snippets/8.0/Worker/DotNet.ContainerImage.csproj
  docs/core/docker/snippets/8.0/Worker/Program.cs
  docs/core/docker/snippets/8.0/Worker/Properties/launchSettings.json
  docs/core/docker/snippets/8.0/Worker/Worker.cs
  docs/core/docker/snippets/8.0/Worker/appsettings.Development.json
  docs/core/docker/snippets/8.0/Worker/appsettings.json
  docs/navigate/devops-testing/toc.yml
  docs/zone-pivot-groups.yml
Labels: dotnet-fundamentals/prod, dotnet-docker/tech, okr-coverage, okr-discovery, okr-health

#37110 WPF trimming incompatibility is not .NET 6 specific
  docs/core/deploying/trimming/incompatibilities.md
Labels: dotnet-fundamentals/prod

#37239 Update plurality of counter name for methods-jitted-count
  docs/core/diagnostics/available-counters.md
Labels: dotnet-fundamentals/prod, community-contribution, okr-health

#37241 Update aspnet-port.md
  docs/core/compatibility/containers/8.0/aspnet-port.md
Labels: dotnet-fundamentals/prod

#37242 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37224 Add note about admin user
  docs/core/extensions/windows-service.md
Labels: dotnet-fundamentals/prod, okr-health

#37247 Update dotnet-8.md
  docs/core/whats-new/dotnet-8.md
Labels: dotnet-fundamentals/prod, okr-health

#37243 Serialize enums as strings
  docs/core/whats-new/dotnet-8.md
  docs/standard/serialization/system-text-json/converters-how-to.md
  docs/standard/serialization/system-text-json/customize-properties.md
  docs/standard/serialization/system-text-json/snippets/how-to/csharp/Program.cs
  docs/standard/serialization/system-text-json/snippets/how-to/csharp/RoundtripEnumSourceGeneration.cs
  docs/standard/serialization/system-text-json/snippets/how-to/csharp/RoundtripEnumUsingConverterAttribute.cs
  docs/standard/serialization/system-text-json/snippets/how-to/csharp/SystemTextJsonSamples.csproj
  docs/standard/serialization/system-text-json/snippets/how-to/csharp/WeatherForecast.cs
  docs/standard/serialization/system-text-json/source-generation-modes.md
Labels: dotnet-fundamentals/prod

#37251 use new feedback control in dependent repos
  docfx.json
  docs/csharp/toc.yml
Labels: dotnet-csharp/prod

#37254 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37258 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37261 Fix formatting consistency in coding-conventions.md
  docs/csharp/fundamentals/coding-style/coding-conventions.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#37250 Add `readonly` instance member example
  docs/csharp/language-reference/keywords/readonly.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#37253 Patch 1
  docs/csharp/language-reference/operators/member-access-operators.md
  docs/csharp/programming-guide/classes-and-structs/using-properties.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, csharp-language-reference/tech, community-contribution

#37257 Fix build suggestions - September
  docs/architecture/serverless/serverless-business-scenarios.md
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
  docs/csharp/advanced-topics/interop/walkthrough-office-programming.md
  docs/csharp/includes/vsto-framework.md
  docs/csharp/language-reference/compiler-options/language.md
  docs/framework/reflection-and-codedom/emitting-dynamic-methods-and-assemblies.md
  docs/framework/unmanaged-api/debugging/cordebugehclause-structure.md
  docs/framework/unmanaged-api/metadata/corelementtype-enumeration.md
  docs/framework/unmanaged-api/metadata/imetadatatables-getguid-method.md
  docs/framework/unmanaged-api/metadata/imetadatatables-getnextguid-method.md
  docs/framework/unmanaged-api/metadata/imetadatatables-getnextuserstring-method.md
  docs/framework/unmanaged-api/metadata/imetadatatables-getrow-method.md
  docs/framework/unmanaged-api/metadata/imetadatatables-gettableindex-method.md
Labels: dotnet-framework/prod, dotnet-csharp/prod, csharp-language-reference/tech, dotnet-architecture/prod, dotnet-azure/prod, serverless/tech

#37277 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37280 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37273 Fix dupe word typos
  docs/csharp/language-reference/compiler-messages/source-generator-errors.md
  docs/csharp/language-reference/tokens/interpolated.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#37293 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36833 Create Documentation for the ComInterfaceGenerator
  docs/navigate/advanced-programming/toc.yml
  docs/standard/native-interop/com-wrappers.md
  docs/standard/native-interop/cominterop.md
  docs/standard/native-interop/comwrappers-source-generation.md
  docs/standard/native-interop/customize-parameter-marshalling.md
  docs/standard/native-interop/customize-struct-marshalling.md
  docs/standard/native-interop/pinvoke.md
  docs/standard/native-interop/preserve-sig.md
  docs/standard/native-interop/tutorial-comwrappers.md
Labels: dotnet-fundamentals/prod

#37291 Create CS8964
  docs/csharp/language-reference/compiler-messages/cs8964.md
  docs/csharp/language-reference/compiler-messages/toc.yml
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#37298 Update dotnet-tool-uninstall.md to include optional --tool-manifest argument
  docs/core/tools/dotnet-tool-uninstall.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, community-contribution

#37232 Non-compiling code example fixed
  docs/core/extensions/dependency-injection.md
Labels: dotnet-fundamentals/prod, community-contribution

#37290 doc - Fixed grammatical mistake in "Cross-built Windows apps"
  docs/core/whats-new/dotnet-8.md
Labels: dotnet-fundamentals/prod, community-contribution

#37209 Explain instruction to respond to trust question
  docs/core/tutorials/with-visual-studio-code.md
Labels: dotnet-fundamentals/prod

#37196 Fix string formatting
  docs/framework/data/adonet/connection-string-syntax.md
Labels: dotnet-framework/prod, dotnet-data/tech, community-contribution

#37297 Remove line from CS8160
  docs/csharp/language-reference/compiler-messages/cs8160.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#37311 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37316 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37317 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36970 HTTP AutoClient NuGet package content
  docs/fundamentals/networking/http/http-autoclient.md
  docs/fundamentals/networking/http/httpclient.md
  docs/fundamentals/networking/http/snippets/autoclient/Address.cs
  docs/fundamentals/networking/http/snippets/autoclient/Company.cs
  docs/fundamentals/networking/http/snippets/autoclient/Geo.cs
  docs/fundamentals/networking/http/snippets/autoclient/ICompleteUserClient.cs
  docs/fundamentals/networking/http/snippets/autoclient/ICustomQueryUserClient.cs
  docs/fundamentals/networking/http/snippets/autoclient/IParameterHeaderUserClient.cs
  docs/fundamentals/networking/http/snippets/autoclient/IPayloadUserClient.cs
  docs/fundamentals/networking/http/snippets/autoclient/IProductClient.cs
  docs/fundamentals/networking/http/snippets/autoclient/IQueryUserClient.cs
  docs/fundamentals/networking/http/snippets/autoclient/IRequestNameUserClient.cs
  docs/fundamentals/networking/http/snippets/autoclient/IRouteParameterUserClient.cs
  docs/fundamentals/networking/http/snippets/autoclient/IStaticHeaderUserClient.cs
  docs/fundamentals/networking/http/snippets/autoclient/IUserClient.cs
  docs/fundamentals/networking/http/snippets/autoclient/IWidgetClient.cs
  docs/fundamentals/networking/http/snippets/autoclient/Program.cs
  docs/fundamentals/networking/http/snippets/autoclient/User.cs
  docs/fundamentals/networking/http/snippets/autoclient/UserService.cs
  docs/fundamentals/networking/http/snippets/autoclient/autoclient.csproj
  docs/fundamentals/toc.yml
Labels: dotnet-networking/tech, dotnet-fundamentals/prod, okr-coverage, okr-discovery

#37308 Add section on exceptions in task-returning methods
  docs/csharp/asynchronous-programming/index.md
  docs/csharp/fundamentals/exceptions/creating-and-throwing-exceptions.md
  docs/csharp/fundamentals/exceptions/snippets/exceptions/Program.cs
  docs/csharp/fundamentals/exceptions/snippets/exceptions/TaskExceptions.cs
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, csharp-async/tech

#37320 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit
