Repository dotnet/docs, pull requests merged in 2023-06, with the labels that each got.

#35579 Add EF Core breaking changes
  docs/core/compatibility/7.0.md
  docs/core/compatibility/8.0.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#35586 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35582 Change api template more info links
  docs/core/tools/dotnet-new-sdk-templates.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#35513 Update ca5405.md header preamble
  docs/fundamentals/code-analysis/quality-rules/ca5405.md
Labels: dotnet-fundamentals/prod, community-contribution

#35588 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35505 Add legacy info, moderinzation topic
  .openpublishing.redirection.core.json
  docs/core/porting/media/upgrade-assistant-overview/visual-studio-output-window.png
  docs/core/porting/modernize.md
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Properties/AssemblyInfo.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Properties/Resources.Designer.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Properties/Resources.resx
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Properties/Settings.Designer.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Properties/Settings.settings
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/StarVoteControl.csproj
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Vote.xaml
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Vote.xaml.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings.sln
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/AddItem.xaml
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/AddItem.xaml.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/App.xaml
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/App.xaml.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Commands/AcceptButtonCommand.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Commands/ActionCommand.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Commands/PredicateCommand.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/MainWindow.xaml
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/MainWindow.xaml.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Models/Database.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Models/Site.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Properties/AssemblyInfo.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Properties/Resources.Designer.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Properties/Resources.resx
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Properties/Settings.Designer.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Properties/Settings.settings
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Rules/EmptyTextRule.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Rules/ValidUrlRule.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/ViewModels/Site.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/ViewModels/SiteCollection.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/ViewModels/ViewModelBase.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/WebSiteRatings.csproj
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/appsettings.json
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/sqlite.db
  docs/core/porting/upgrade-assistant-install-legacy.md
  docs/core/porting/upgrade-assistant-overview.md
  docs/core/porting/upgrade-assistant-uwp-framework.md
  docs/core/porting/upgrade-assistant-wcf.md
  docs/core/porting/upgrade-assistant-winforms-framework.md
  docs/core/porting/upgrade-assistant-wpf-framework.md
  docs/core/porting/windows-compat-pack.md
  docs/navigate/migration-guide/toc.yml
  docs/whats-new/dotnet-docs-mod0.md
Labels: dotnet-fundamentals/prod

#35590 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35593 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35594 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35610 Add using directive
  docs/csharp/language-reference/compiler-messages/snippets/UsingDirectives/MyClass.cs
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech

#35605 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35607 Remove incorrect semicolon in CS0501, fix spelling
  docs/csharp/misc/cs0501.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech, community-contribution

#35592 Doc correction - Fix issue number - #34333
  docs/fsharp/language-reference/sequences.md
  samples/snippets/fsharp/fssequences/snippet14.fs
Labels: dotnet-fsharp/prod, dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#35664 Rename orelans roles
  docs/orleans/deployment/kubernetes.md
Labels: dotnet-orleans/prod, community-contribution

#35584 sqlite: do not recommend usage of shared cache
  docs/standard/data/sqlite/async.md
  docs/standard/data/sqlite/connection-strings.md
  docs/standard/data/sqlite/database-errors.md
  samples/snippets/standard/data/sqlite/AsyncSample/Program.cs
Labels: dotnet-fundamentals/prod, dotnet-data/prod, community-contribution

#35669 Address feedback from #35660
  docs/standard/garbage-collection/implementing-disposeasync.md
  docs/standard/garbage-collection/snippets/dispose-async/ExampleConjunctiveDisposable.cs
Labels: dotnet-fundamentals/prod, okr-experience

#35673 Breaking change for SafeHandle-derived types
  docs/core/compatibility/8.0.md
  docs/core/compatibility/interop/8.0/safehandle-constructor.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#35655 Document NETSDK1195
  docs/core/tools/sdk-errors/index.md
  docs/core/tools/sdk-errors/netsdk1195.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#35675 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35676 Link Managed Threading in Introduction page
  docs/core/introduction.md
Labels: dotnet-fundamentals/prod, community-contribution

#35677 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35678 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35674 Minor updates to Windows service/worker install
  docs/core/extensions/windows-service-with-installer.md
Labels: dotnet-fundamentals/prod, okr-discovery

#35663 Update "Tutorial: Create a minimal Orleans application"
  docs/orleans/tutorials-and-samples/snippets/minimal/Client/Program.cs
  docs/orleans/tutorials-and-samples/snippets/minimal/Grains/HelloGrain.cs
  docs/orleans/tutorials-and-samples/snippets/minimal/Silo/Program.cs
  docs/orleans/tutorials-and-samples/tutorial-1.md
Labels: okr-experience

#35612 Update MyClass.cs
  docs/csharp/language-reference/compiler-messages/snippets/UsingDirectives/MyClass.cs
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech

#35668 remove C# 7 speclets.
  .openpublishing.redirection.csharp.json
  docfx.json
  docs/csharp/language-reference/operators/arithmetic-operators.md
  docs/csharp/language-reference/operators/bitwise-and-shift-operators.md
  docs/csharp/language-reference/operators/boolean-logical-operators.md
  docs/csharp/language-reference/operators/nameof.md
  docs/csharp/toc.yml
Labels: dotnet-csharp/prod

#35656 Rid-specific app breaking change
  docs/core/compatibility/8.0.md
  docs/core/compatibility/sdk/8.0/runtimespecific-app-default.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#35711 fixed typo.
  docs/core/porting/upgrade-assistant-install-legacy.md
Labels: dotnet-fundamentals/prod

#35703 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35718 Update csharp-12.md
  docs/csharp/whats-new/csharp-12.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech, community-contribution

#35706 Add a scenario to netsdk1005.md
  docs/core/tools/sdk-errors/netsdk1005.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#35713 Fix H1 and title
  docs/standard/serialization/system-text-json/use-dom.md
Labels: dotnet-fundamentals/prod

#35721 Update index.md
  docs/csharp/tour-of-csharp/index.md
Labels: dotnet-csharp/prod, csharp-get-started/tech, community-contribution, okr-health

#35736 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35744 Fixes #33871
  docs/architecture/cloud-native/relational-vs-nosql-data.md
Labels: dotnet-architecture/prod, cloud-native/tech

#35745 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35753 Add notes about running as admin
  docs/core/extensions/windows-service-with-installer.md
  docs/core/extensions/windows-service.md
Labels: dotnet-fundamentals/prod, okr-health

#35756 Update "Domain events: Design and implementation"
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/domain-events-design-implementation.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/media/domain-events-design-implementation/domain-event-dispatcher.png
Labels: dotnet-architecture/prod, microservices/tech, okr-discovery

#35757 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35755 Add details about .NET 8 `IsAotCompatible` prop
  docs/core/deploying/native-aot/index.md
  docs/core/deploying/trimming/prepare-libraries-for-trimming.md
Labels: dotnet-fundamentals/prod, okr-coverage

#35760 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35759 ComWrappers breaking change
  docs/core/compatibility/8.0.md
  docs/core/compatibility/interop/8.0/comwrappers-unwrap.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#35763 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35752 Update of the Quality parameter
  docs/core/tools/dotnet-install-script.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#35709 SDK breaking changes
  docs/core/compatibility/8.0.md
  docs/core/compatibility/sdk/8.0/msbuild-language.md
  docs/core/compatibility/sdk/8.0/tool-rollforward.md
  docs/core/compatibility/toc.yml
  docs/core/tools/global-json.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#35761 What's new in Preview 5
  docs/core/whats-new/dotnet-8.md
Labels: dotnet-fundamentals/prod

#35657 IndexOfAnyValues type name change
  docs/core/compatibility/8.0.md
  docs/core/compatibility/core-libraries/8.0/indexofanyvalues-renamed.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#35770 Removed the link to an obsoleted proposal about ref assignment
  docs/csharp/language-reference/operators/assignment-operator.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#35725 DecodeFromUTF8 breaking change
  docs/core/compatibility/8.0.md
  docs/core/compatibility/core-libraries/8.0/decodefromutf8-whitespace.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#35773 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35774 Fix typo (through → throw)
  docs/core/compatibility/serialization/8.0/binaryformatter-disabled.md
Labels: dotnet-fundamentals/prod, community-contribution

#35775 Fix the recommended action on how to set the roll-forward policy of .NET tools
  docs/core/compatibility/sdk/8.0/tool-rollforward.md
Labels: dotnet-fundamentals/prod, community-contribution

#35777 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35707 Add install locations
  docs/core/tools/dotnet-tool-install.md
  docs/core/tools/dotnet-tool-restore.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#35780 Update cs0433.md
  docs/csharp/language-reference/compiler-messages/cs0433.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, okr-health

#35820 Update phrasing for whitespace and asterisk
  docs/csharp/language-reference/xmldoc/index.md
  docs/csharp/language-reference/xmldoc/snippets/xmldoc/idstrings.cs
Labels: dotnet-csharp/prod, csharp-language-reference/tech, okr-health

#35749 Update name-is-ambiguous-in-the-namespace-namespacename.md
  docs/visual-basic/language-reference/error-messages/name-is-ambiguous-in-the-namespace-namespacename.md
Labels: dotnet-visualbasic/prod, vb-diagnostics/tech, community-contribution

#35827 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35830 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35836 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35727 Refactoring the diagnostic docs and TOC to put the emphasis in the right places
  docs/core/diagnostics/index.md
  docs/core/diagnostics/logging-tracing.md
  docs/core/diagnostics/specialized-diagnostics-overview.md
  docs/core/diagnostics/tools-overview.md
  docs/core/tools/global-tools.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod

#35837 Fix bug in "Quickstart: Build your first Orleans app with ASP.NET Core"
  docs/orleans/media/url-shortener.png
  docs/orleans/quickstarts/build-your-first-orleans-app.md
  docs/orleans/quickstarts/snippets/url-shortener/orleansurlshortener/Program.cs
Labels: okr-health

#35838 Update cpp-cli.md
  docs/core/porting/cpp-cli.md
Labels: dotnet-fundamentals/prod

#35846 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35841 EventSource breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/7.0.md
  docs/core/compatibility/core-libraries/6.0/eventsource-callback.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#35844 Update migration workarounds using custom contracts
  docs/standard/serialization/system-text-json/custom-contracts.md
  docs/standard/serialization/system-text-json/migrate-from-newtonsoft.md
  docs/standard/serialization/system-text-json/snippets/migrate-from-newtonsoft/Migrate.csproj
  docs/standard/serialization/system-text-json/snippets/migrate-from-newtonsoft/MissingMemberHandling.cs
Labels: dotnet-fundamentals/prod

#35850 add in app name so it works with new -n flag
  docs/core/diagnostics/metrics-collection.md
Labels: dotnet-fundamentals/prod

#35842 Add generic type argument to snippets
  docs/standard/serialization/system-text-json/polymorphism.md
Labels: dotnet-fundamentals/prod, okr-health

#35851 Fixes typo in doc
  docs/core/install/linux-ubuntu.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod, community-contribution, okr-health

#35855 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35856 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35832 Update .NET SDK errors/warnings list
  docs/core/tools/sdk-errors/index.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, community-contribution

#35876 Document Restore UseCurrentRuntime
  docs/core/tools/dotnet-restore.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, community-contribution

#35717 Fix typo
  docs/core/whats-new/dotnet-8.md
Labels: dotnet-fundamentals/prod, community-contribution

#35879 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35882 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35884 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35874 Clarify example 2 output
  docs/csharp/misc/cs0436.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech, community-contribution

#35893 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35880 Add roadmap for specifications
  docs/csharp/includes/speclet-disclaimer.md
  docs/csharp/language-reference/index.md
  docs/csharp/language-reference/specifications.md
  docs/csharp/toc.yml
Labels: dotnet-csharp/prod, csharp-language-reference/tech, okr-health

#35883 Utf8JsonReader touch-ups
  docs/standard/serialization/system-text-json/handle-overflow.md
  docs/standard/serialization/system-text-json/migrate-from-newtonsoft.md
  docs/standard/serialization/system-text-json/snippets/how-to-5-0/csharp/CustomConverterUnixEpochDate.cs
  docs/standard/serialization/system-text-json/snippets/how-to-5-0/csharp/CustomConverterUnixEpochDateNoZone.cs
  docs/standard/serialization/system-text-json/snippets/how-to/csharp/Utf8ReaderPartialRead.cs
  docs/standard/serialization/system-text-json/snippets/how-to/csharp/Utf8ReaderSkip.cs
  docs/standard/serialization/system-text-json/snippets/how-to/csharp/Utf8ReaderToJsonNode.cs
  docs/standard/serialization/system-text-json/use-utf8jsonreader.md
Labels: dotnet-fundamentals/prod

#35872 Expanded init explanation when using nullability
  docs/csharp/language-reference/keywords/init.md
  docs/csharp/language-reference/keywords/snippets/InitNullablityExample.cs
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#35901 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35877 Updates to Orleans code gen / serialization content
  .openpublishing.redirection.orleans.json
  docs/orleans/grains/code-generation.md
  docs/orleans/host/configuration-guide/serialization.md
  docs/orleans/migration/codegen.md
  docs/orleans/migration/index.md
  docs/orleans/migration/migration-1.5.md
  docs/orleans/migration/migration-azure-2.0.md
  docs/orleans/toc.yml
Labels: okr-coverage

#35896 Update generic-host.md
  docs/core/extensions/generic-host.md
Labels: dotnet-fundamentals/prod, okr-health

#35742 Explore primary constructors
  docs/csharp/toc.yml
  docs/csharp/whats-new/csharp-12.md
  docs/csharp/whats-new/tutorials/primary-constructors.md
  docs/csharp/whats-new/tutorials/records.md
  docs/csharp/whats-new/tutorials/snippets/primary-constructors/BankAccount.cs
  docs/csharp/whats-new/tutorials/snippets/primary-constructors/BankAccountValidation.cs
  docs/csharp/whats-new/tutorials/snippets/primary-constructors/Distance.cs
  docs/csharp/whats-new/tutorials/snippets/primary-constructors/ExampleController.cs
  docs/csharp/whats-new/tutorials/snippets/primary-constructors/Program.cs
  docs/csharp/whats-new/tutorials/snippets/primary-constructors/primary-constructors.csproj
Labels: dotnet-csharp/prod, csharp-whats-new/tech, :checkered_flag: Release: .NET 8

#35909 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35913 Http everywhere change
  docs/core/tools/dotnet-new-install.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#35914 Fix Ubuntu 23.04 LTS
  docs/core/install/linux-ubuntu.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#35671 Update custom-date-and-time-format-strings.md
  docs/standard/base-types/custom-date-and-time-format-strings.md
Labels: dotnet-fundamentals/prod

#35920 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35712 Added a note to use a legacy CLI version for WCF projects
  docs/core/porting/upgrade-assistant-install.md
Labels: dotnet-fundamentals/prod

#35926 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35928 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35933 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35922 Apply the Minimal APIs host app builder patterns
  docs/azure/sdk/pagination.md
  docs/azure/sdk/snippets/pagination/Program.cs
  docs/azure/sdk/snippets/pagination/pagination.csproj
  docs/azure/sdk/thread-safety.md
  docs/core/diagnostics/event-counter-perf.md
  docs/core/docker/snippets/Worker/Program.cs
  docs/core/extensions/caching.md
  docs/core/extensions/configuration-providers.md
  docs/core/extensions/configuration.md
  docs/core/extensions/console-log-formatter.md
  docs/core/extensions/custom-configuration-provider.md
  docs/core/extensions/dependency-injection-guidelines.md
  docs/core/extensions/dependency-injection.md
  docs/core/extensions/generic-host.md
  docs/core/extensions/localization.md
  docs/core/extensions/logging-providers.md
  docs/core/extensions/logging.md
  docs/core/extensions/options-library-authors.md
  docs/core/extensions/options.md
  docs/core/extensions/snippets/caching/distributed/Program.cs
  docs/core/extensions/snippets/caching/memory-apis/Program.cs
  docs/core/extensions/snippets/caching/memory-worker/Program.cs
  docs/core/extensions/snippets/configuration/app-lifetime/Program.cs
  docs/core/extensions/snippets/configuration/console-basic/Program.cs
  docs/core/extensions/snippets/configuration/console-custom-logging/Program.cs
  docs/core/extensions/snippets/configuration/console-di-disposable/Program.cs
  docs/core/extensions/snippets/configuration/console-di-ienumerable/Program.cs
  docs/core/extensions/snippets/configuration/console-di/Program.cs
  docs/core/extensions/snippets/configuration/console-env/Program.cs
  docs/core/extensions/snippets/configuration/console-host/Program.cs
  docs/core/extensions/snippets/configuration/console-indexer/Program.cs
  docs/core/extensions/snippets/configuration/console-ini/Program.cs
  docs/core/extensions/snippets/configuration/console-json/Program.cs
  docs/core/extensions/snippets/configuration/console-memory/Program.cs
  docs/core/extensions/snippets/configuration/console-raw/Program.cs
  docs/core/extensions/snippets/configuration/console-xml/Program.cs
  docs/core/extensions/snippets/configuration/console/Program.cs
  docs/core/extensions/snippets/configuration/custom-provider/Models/Settings.cs
  docs/core/extensions/snippets/configuration/custom-provider/Program.cs
  docs/core/extensions/snippets/configuration/dependency-injection/Program.cs
  docs/core/extensions/snippets/configuration/dependency-injection/dependency-injection.csproj
  docs/core/extensions/snippets/configuration/di-anti-patterns/di-anti-patterns.csproj
  docs/core/extensions/snippets/configuration/options-action/Program.cs
  docs/core/extensions/snippets/configuration/options-configparam/Program.cs
  docs/core/extensions/snippets/configuration/options-noparams/Program.cs
  docs/core/extensions/snippets/configuration/options-object/Program.cs
  docs/core/extensions/snippets/configuration/options-postconfig/Program.cs
  docs/core/extensions/snippets/configuration/options-validation-onstart/Program.cs
  docs/core/extensions/snippets/configuration/worker-scope/IObjectStore.cs
  docs/core/extensions/snippets/configuration/worker-scope/ObjectWorkerService.cs
  docs/core/extensions/snippets/configuration/worker-scope/Program.cs
  docs/core/extensions/snippets/configuration/worker-service/Program.cs
  docs/core/extensions/snippets/localization/example/Program.cs
  docs/core/extensions/snippets/logging/console-formatter-custom-with-config/Program.cs
  docs/core/extensions/snippets/logging/console-formatter-json/Program.cs
  docs/core/extensions/snippets/logging/console-formatter-json/Startup.cs
  docs/core/extensions/snippets/logging/console-formatter-json/example-output.txt
  docs/core/extensions/snippets/logging/logger-message-generator/Program.cs
  docs/core/extensions/snippets/logging/worker-service-options/Program.cs
  docs/devops/snippets/create-dotnet-github-action/DotNet.GitHubAction/Program.cs
Labels: dotnet-fundamentals/prod, dotnet-docker/tech, dotnet-azure/prod, okr-discovery

#35923 Update version to Preview 6
  docs/core/compatibility/deployment/8.0/rid-asset-list.md
Labels: dotnet-fundamentals/prod

#35925 Update compare-metric-apis.md
  docs/core/diagnostics/compare-metric-apis.md
Labels: dotnet-fundamentals/prod

#35938 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35875 Assembly name is default command
  docs/core/tools/global-tools-how-to-create.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, okr-health

#35942 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35751 clarify newline behavior of regex
  docs/standard/base-types/anchors-in-regular-expressions.md
  docs/standard/base-types/backtracking-in-regular-expressions.md
  docs/standard/base-types/character-classes-in-regular-expressions.md
  docs/standard/base-types/regular-expression-options.md
  docs/standard/base-types/regular-expression-source-generators.md
Labels: dotnet-fundamentals/prod

#35957 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35964 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35890 Fix link for using declaration
  docs/csharp/whats-new/csharp-version-history.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech, okr-health

#35962 Add test instructions
  docs/standard/commandline/handle-termination.md
Labels: dotnet-fundamentals/prod

#35963 Fix build suggestions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
  docs/orleans/deployment/consul-deployment.md
  docs/spark/how-to-guides/windows-instructions.md
  docs/spark/includes/net-core-31-spark.md
Labels: dotnet-spark/prod, dotnet-azure/prod

#35968 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35972 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35929 Update metrics-collection.md
  docs/core/diagnostics/metrics-collection.md
Labels: dotnet-fundamentals/prod

#35908 update api_surface section to describe the c# modifiers represented by the different values
  docs/fundamentals/code-analysis/code-quality-rule-options.md
Labels: dotnet-fundamentals/prod, community-contribution

#35977 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35976 Revert "Update version to Preview 6"
  docs/core/compatibility/deployment/8.0/rid-asset-list.md
Labels: dotnet-fundamentals/prod

#35911 Info about verifying downloads
  docs/core/install/includes/verify-download-intro.md
  docs/core/install/includes/verify-download-macos-linux.md
  docs/core/install/includes/verify-download-windows.md
  docs/core/install/linux-scripted-manual.md
  docs/core/install/macos.md
  docs/core/install/media/install-sdk/checksum-dark.png
  docs/core/install/media/install-sdk/checksum.png
  docs/core/install/media/install-sdk/release-notes-root.png
  docs/core/install/media/install-sdk/release-notes-version.png
  docs/core/install/windows.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#35981 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36039 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35973 Edit pass on update considerations
  docs/csharp/whats-new/version-update-considerations.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech

#36041 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36044 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35758 Add a note about the razor compatibility break in 7.0.300
  docs/core/porting/versioning-sdk-msbuild-vs.md
Labels: dotnet-fundamentals/prod

#36048 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36046 Update records.md
  docs/csharp/whats-new/tutorials/records.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech, community-contribution, okr-health

#35881 New Observability topic
  docs/core/diagnostics/media/azure-logs.png
  docs/core/diagnostics/media/azure-logs.thumb.png
  docs/core/diagnostics/media/azure-metrics-graph.png
  docs/core/diagnostics/media/azure-metrics-graph.thumb.png
  docs/core/diagnostics/media/azure-tracing.png
  docs/core/diagnostics/media/azure-tracing.thumb.png
  docs/core/diagnostics/media/dotnet-monitor-info.png
  docs/core/diagnostics/media/grafana-connections.png
  docs/core/diagnostics/media/grafana-connections.thumb.png
  docs/core/diagnostics/media/grafana-greetings-count-metric.png
  docs/core/diagnostics/media/grafana-greetings-count-metric.thumb.png
  docs/core/diagnostics/media/grafana-request-count-by-host.png
  docs/core/diagnostics/media/grafana-request-count-by-host.thumb.png
  docs/core/diagnostics/media/jaeger-activity-details.png
  docs/core/diagnostics/media/jaeger-activity-details.thumb.png
  docs/core/diagnostics/media/jaeger-nested-activity-details.png
  docs/core/diagnostics/media/jaeger-nested-activity-details.thumb.png
  docs/core/diagnostics/media/jaeger-search-results.png
  docs/core/diagnostics/media/jaeger-search-results.thumb.png
  docs/core/diagnostics/media/layered-approach.svg
  docs/core/diagnostics/media/portal_ui.png
  docs/core/diagnostics/media/portal_ui.thumb.png
  docs/core/diagnostics/media/prometheus-graph.png
  docs/core/diagnostics/media/prometheus-graph.thumb.png
  docs/core/diagnostics/media/prometheus-hat-sold-metric.thumb.png
  docs/core/diagnostics/media/prometheus-metrics-explorer.png
  docs/core/diagnostics/media/prometheus-metrics-explorer.thumb.png
  docs/core/diagnostics/observability-with-otel.md
  docs/core/diagnostics/snippets/OTel-Prometheus-Grafana-Jaeger/csharp/OTel-Prometheus-Grafana-Jaeger.csproj
  docs/core/diagnostics/snippets/OTel-Prometheus-Grafana-Jaeger/csharp/Program.cs
  docs/core/diagnostics/snippets/OTel-Prometheus-Grafana-Jaeger/csharp/Properties/launchSettings.json
  docs/core/diagnostics/snippets/OTel-Prometheus-Grafana-Jaeger/csharp/appsettings.Development.json
  docs/core/diagnostics/snippets/OTel-Prometheus-Grafana-Jaeger/csharp/appsettings.json
  docs/core/diagnostics/snippets/OTel-Prometheus-Grafana-Jaeger/csharp/dotnet-monitor-confg.json
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod

#36056 Add what's new and error / warning information for Interceptors.
  docs/csharp/language-reference/compiler-messages/source-generator-errors.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/whats-new/csharp-12.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-whats-new/tech, csharp-diagnostics/tech, :checkered_flag: Release: .NET 8

#36061 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36055 Clarify default value
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/prod

#36064 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36063 Add links to setup and tutorials
  docs/csharp/tour-of-csharp/index.md
Labels: dotnet-csharp/prod, csharp-get-started/tech, okr-health

#35069 Expand docs about string comparison footguns
  docs/standard/base-types/best-practices-strings.md
Labels: dotnet-fundamentals/prod, community-contribution

#36051 Update linux-scripted-manual.md
  docs/core/install/linux-scripted-manual.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod, community-contribution

#28627 Remove Windows 7 incompatibility mention
  docs/core/deploying/single-file/overview.md
Labels: dotnet-fundamentals/prod

#35936 Document --property option
  docs/core/tools/dotnet-build.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#35730 Update linux-scripted-manual.md - fix setting up environment variable…
  docs/core/install/linux-scripted-manual.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod, community-contribution
