Repository dotnet/docs, pull requests merged in 2023-10, with the labels that each got.

#37310 Reorder CS8515 in `toc.yml`
  docs/csharp/language-reference/compiler-messages/toc.yml
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#37312 Create CS8817
  docs/csharp/language-reference/compiler-messages/cs8817.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#37313 Tidy up CS0756
  docs/csharp/misc/cs0756.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech, community-contribution

#37315 Augment CS0106
  docs/csharp/language-reference/compiler-messages/cs0106.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#37318 Introduce tuple vs elements
  docs/fsharp/language-reference/arrays.md
Labels: dotnet-fsharp/prod, community-contribution

#37314 Create CS8795
  docs/csharp/language-reference/compiler-messages/cs8795.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#37324 Add summary table for the default accesses to the Access modifiers page
  docs/csharp/programming-guide/classes-and-structs/access-modifiers.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#37331 Remove redundant line in extension methods guide
  docs/csharp/programming-guide/classes-and-structs/extension-methods.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#37332 Update CS1101
  docs/csharp/misc/cs1101.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech, community-contribution

#37333 Add example for CS1605
  docs/csharp/misc/cs1605.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech, community-contribution

#37335 Fix CS1908
  docs/csharp/misc/cs1908.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech, community-contribution

#37337 Fix CS1909 and CS1910
  docs/csharp/misc/cs1909.md
  docs/csharp/misc/cs1910.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech, community-contribution

#37338 Add default param val attr to guide
  docs/csharp/programming-guide/classes-and-structs/named-and-optional-arguments.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#37322 Add note that material may be out of date
  docs/standard/design-guidelines/abstract-class.md
  docs/standard/design-guidelines/abstractions-abstract-types-and-interfaces.md
  docs/standard/design-guidelines/arrays.md
  docs/standard/design-guidelines/attributes.md
  docs/standard/design-guidelines/base-classes-for-implementing-abstractions.md
  docs/standard/design-guidelines/capitalization-conventions.md
  docs/standard/design-guidelines/choosing-between-class-and-struct.md
  docs/standard/design-guidelines/constructor.md
  docs/standard/design-guidelines/dependency-properties.md
  docs/standard/design-guidelines/dispose-pattern.md
  docs/standard/design-guidelines/enum.md
  docs/standard/design-guidelines/equality-operators.md
  docs/standard/design-guidelines/event.md
  docs/standard/design-guidelines/events-and-callbacks.md
  docs/standard/design-guidelines/exception-throwing.md
  docs/standard/design-guidelines/exceptions-and-performance.md
  docs/standard/design-guidelines/extension-methods.md
  docs/standard/design-guidelines/field.md
  docs/standard/design-guidelines/general-naming-conventions.md
  docs/standard/design-guidelines/guidelines-for-collections.md
  docs/standard/design-guidelines/includes/not-current.md
  docs/standard/design-guidelines/index.md
  docs/standard/design-guidelines/interface.md
  docs/standard/design-guidelines/member-overloading.md
  docs/standard/design-guidelines/names-of-assemblies-and-dlls.md
  docs/standard/design-guidelines/names-of-classes-structs-and-interfaces.md
  docs/standard/design-guidelines/names-of-namespaces.md
  docs/standard/design-guidelines/names-of-type-members.md
  docs/standard/design-guidelines/naming-parameters.md
  docs/standard/design-guidelines/naming-resources.md
  docs/standard/design-guidelines/nested-types.md
  docs/standard/design-guidelines/operator-overloads.md
  docs/standard/design-guidelines/parameter-design.md
  docs/standard/design-guidelines/property.md
  docs/standard/design-guidelines/protected-members.md
  docs/standard/design-guidelines/sealing.md
  docs/standard/design-guidelines/serialization.md
  docs/standard/design-guidelines/static-class.md
  docs/standard/design-guidelines/struct.md
  docs/standard/design-guidelines/system-xml-usage.md
  docs/standard/design-guidelines/unsealed-classes.md
  docs/standard/design-guidelines/using-standard-exception-types.md
  docs/standard/design-guidelines/virtual-members.md
Labels: dotnet/prod, dotnet-standard/tech, dotnet-fundamentals/prod, okr-health

#37321 Fix typo
  docs/csharp/fundamentals/exceptions/creating-and-throwing-exceptions.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#37319 Fix broken links
  docfx.json
  docs/architecture/microservices/architect-microservice-container-applications/communication-in-microservice-architecture.md
  docs/framework/wcf/feature-details/durable-duplex-correlation.md
  docs/framework/wcf/feature-details/wcf-web-http-programming-model-overview.md
  docs/fsharp/language-reference/interpolated-strings.md
  docs/whats-new/dotnet-docs-mod1.md
Labels: dotnet-framework/prod, dotnet-fsharp/prod, dotnet-architecture/prod, microservices/tech, dotnet-wcf/tech

#37328 Fix incorrect file extension
  docs/framework/app-domains/build-multifile-assembly.md
Labels: dotnet-framework/prod, community-contribution

#37330 Fix dotnet-8.md code sample
  docs/core/whats-new/dotnet-8.md
Labels: dotnet-fundamentals/prod

#37347 Add link to nonbacktracking mode
  .openpublishing.redirection.standard.json
  docs/fundamentals/code-analysis/quality-rules/ca3012.md
  docs/fundamentals/toc.yml
  docs/standard/base-types/best-practices-regex.md
Labels: dotnet-fundamentals/prod

#37339 Add links to cheat sheet page to Indices and ranges operators.
  docs/csharp/tutorials/ranges-indexes.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#37342 Some tweaks and interlinking for code/naming conventions
  docs/csharp/fundamentals/coding-style/coding-conventions.md
  docs/csharp/fundamentals/coding-style/identifier-names.md
  docs/fundamentals/code-analysis/style-rules/naming-rules.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, dotnet-fundamentals/prod

#37309 Update dotnet-8.md
  docs/core/whats-new/dotnet-8.md
Labels: dotnet-fundamentals/prod, community-contribution

#37366 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37367 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37361 Improve CS1106
  docs/csharp/misc/cs1106.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech, community-contribution

#37371 Add extension method example to CS0122
  docs/csharp/language-reference/compiler-messages/cs0122.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#37047 Update template articles
  docs/core/tutorials/cli-templates-create-item-template.md
  docs/core/tutorials/cli-templates-create-project-template.md
  docs/core/tutorials/cli-templates-create-template-package.md
Labels: okr-health

#37358 Add `ref` extension methods
  docs/csharp/programming-guide/classes-and-structs/extension-methods.md
  docs/csharp/programming-guide/classes-and-structs/snippets/methods/Program.cs
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#37211 Link to the dotnet/install-scripts repo
  docs/core/tools/dotnet-install-script.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#37360 Link for Practice and troubleshoot on Linux added debug-linux-dumps.md
  docs/core/diagnostics/debug-linux-dumps.md
Labels: dotnet-fundamentals/prod, community-contribution

#37384 swap code blocks and add install instructions
  docs/architecture/microservices/implement-resilient-applications/implement-http-call-retries-exponential-backoff-polly.md
Labels: dotnet-architecture/prod, microservices/tech

#37170 Updated Meter Dispose guidance
  docs/core/diagnostics/metrics-instrumentation.md
Labels: dotnet-fundamentals/prod

#37237 Update the metrics port in the snippet_1 of dotnet/core/diagnostics/metrics-collection
  docs/core/diagnostics/snippets/Metrics/Program.cs
Labels: dotnet-fundamentals/prod, community-contribution

#36557 Use code formatting on regex domain example
  docs/framework/configure-apps/file-schema/network/add-element-for-bypasslist-network-settings.md
Labels: dotnet-framework/prod, dotnet-networking/tech, community-contribution

#37229 Add documentation for CA1514
  docs/fundamentals/code-analysis/quality-rules/ca1514.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/maintainability-warnings.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod, community-contribution

#36536 Update definition.md
  docs/architecture/cloud-native/definition.md
Labels: dotnet-architecture/prod, cloud-native/tech, community-contribution

#36774 Update cross-platform-targeting.md
  docs/standard/library-guidance/cross-platform-targeting.md
Labels: dotnet-fundamentals/prod, community-contribution

#35719 Doc for distribution of analyzer config in nuget
  docs/fundamentals/code-analysis/configuration-files.md
Labels: dotnet-fundamentals/prod, community-contribution

#35392 Add using statement to snippet
  docs/standard/commandline/snippets/dependency-injection/csharp/Program.cs
Labels: dotnet-fundamentals/prod, community-contribution

#36290 Minor text fixes
  docs/architecture/cloud-native/candidate-apps.md
  docs/architecture/cloud-native/definition.md
Labels: dotnet-architecture/prod, cloud-native/tech, community-contribution

#36436 Update microservice-application-design.md
  docs/architecture/microservices/multi-container-microservice-net-applications/microservice-application-design.md
Labels: dotnet-architecture/prod, microservices/tech, community-contribution

#36470 Update pinvoke-source-generation.md
  docs/standard/native-interop/pinvoke-source-generation.md
Labels: dotnet-fundamentals/prod, community-contribution

#36691 Update friend.md
  docs/standard/assembly/friend.md
Labels: dotnet-fundamentals/prod, community-contribution

#36418 Update typo in navigation.md
  docs/architecture/maui/navigation.md
Labels: dotnet-architecture/prod, community-contribution

#35354 Sharpen do's and don'ts for multi-targeting when project has dependencies
  docs/standard/library-guidance/cross-platform-targeting.md
Labels: dotnet-fundamentals/prod, community-contribution

#37387 Minor clarification to "." custom format
  docs/standard/base-types/custom-numeric-format-strings.md
Labels: dotnet-fundamentals/prod

#37385 Two breaking changes for RC 2
  docs/core/compatibility/8.0.md
  docs/core/compatibility/extensions/8.0/dmtf-todatetime.md
  docs/core/compatibility/sdk/8.0/arch-option.md
  docs/core/compatibility/sdk/8.0/runtimespecific-app-default.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#37397 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37402 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37407 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37412 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37409 Overhaul cross platform cryptography guide
  docs/standard/security/cross-platform-cryptography.md
Labels: dotnet/prod, dotnet-security/tech, dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#37413 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37395 Replace <p> and <p/> tags
  docs/core/dependency-loading/loading-managed.md
  includes/migration-guide/retargeting/winforms/accessibility-improvements-windows-forms-controls.md
  includes/migration-guide/retargeting/winforms/applicationfiltermessage-no-longer-throws-for-re-entrant-implementations.md
  includes/migration-guide/retargeting/winforms/dataobjectgetdata-now-retrieves-data-utf-8.md
  includes/migration-guide/retargeting/winforms/icontobitmap-successfully-converts-icons-with-png-frames-into-bitmap-objects.md
  includes/migration-guide/retargeting/wpf/nullreferenceexception-exception-handling-code-from.md
  includes/migration-guide/retargeting/wpf/selector-selectionchanged-event-selectedvalue-property.md
  includes/migration-guide/runtime/data/connection-pool-blocking-period-for-azure-sql-databases-removed.md
  includes/migration-guide/runtime/wpf/horizontal-scrolling-virtualization.md
Labels: dotnet-fundamentals/prod

#37394 Replace <em> with *
  docs/standard/asynchronous-programming-patterns/best-practices-for-implementing-the-event-based-asynchronous-pattern.md
  includes/migration-guide/retargeting/networking/tls-1x-by-default-passes-schsendauxrecord-flag-underlying-schannel-api.md
  includes/migration-guide/retargeting/wpf/wpf-grid-allocation-space-star-columns.md
Labels: dotnet-framework/prod, dotnet-architecture/prod, blazor/tech, dotnet-fundamentals/prod

#37420 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35601 Updating to a simple redirect to the main topic.
  .openpublishing.redirection.core.json
  docs/core/porting/upgrade-assistant-uwp-framework.md
  docs/navigate/migration-guide/toc.yml
Labels: dotnet-fundamentals/prod, community-contribution

#37423 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37422 Document NETSDK1202
  docs/core/tools/sdk-errors/index.md
  docs/core/tools/sdk-errors/netsdk1202.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#37424 Update STS definition
  docs/core/releases-and-support.md
Labels: dotnet-fundamentals/prod

#37427 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37429 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37430 Follow-up to #37422
  docs/core/tools/sdk-errors/netsdk1202.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#37431 Fixed : comment description is inaccurate
  samples/snippets/csharp/VS_Snippets_Misc/tpl_taskintro/cs/lambda1.cs
Labels: community-contribution

#37419 Tweak the cryptography model document
  docs/standard/security/cryptography-model.md
Labels: dotnet/prod, dotnet-security/tech, dotnet-fundamentals/prod

#37159 Update self-contained examples
  docs/core/deploying/index.md
Labels: dotnet-fundamentals/prod, community-contribution, okr-health

#37418 Update external-functions.md
  docs/fsharp/language-reference/functions/external-functions.md
Labels: dotnet-fsharp/prod, community-contribution

#37450 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37362 Orleans | Add Azure Cosmos DB to Orleans quickstart
  docs/orleans/grains/grain-persistence/azure-cosmos-db.md
  docs/orleans/media/cosmos-db-connection-string.png
  docs/orleans/media/create-cosmos-db-account.png
  docs/orleans/media/create-storage-account-small.png
  docs/orleans/media/create-storage-account.png
  docs/orleans/media/deploy-container-apps.png
  docs/orleans/media/storage-connection-string.png
  docs/orleans/media/storage-table-entities.png
  docs/orleans/media/table-storage.png
  docs/orleans/quickstarts/deploy-scale-orleans-on-azure.md
  docs/orleans/toc.yml
  docs/zone-pivot-groups.yml
Labels: community-contribution

#37454 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37456 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37460 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37461 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37389 Update what's new for RC 2
  docs/core/diagnostics/metrics-instrumentation.md
  docs/core/whats-new/dotnet-8.md
Labels: dotnet-fundamentals/prod

#37465 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37446 Update article and code to use PascalCase for placeholders
  docs/core/extensions/logger-message-generator.md
  docs/core/extensions/logging-library-authors.md
  docs/core/extensions/snippets/logging/library-authors/LogMessages.cs
  docs/core/extensions/snippets/logging/logger-message-generator/Program.cs
Labels: dotnet-fundamentals/prod, okr-health

#36498 Move scrape_interval to a scrape_config section
  docs/core/diagnostics/observability-with-otel.md
Labels: dotnet-fundamentals/prod, community-contribution

#37473 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37475 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37474 Updated the .NET 8 Release notes with the most upto date info about RefreshMemoryLimit
  docs/core/whats-new/dotnet-8.md
Labels: dotnet-fundamentals/prod

#37483 Update modernize.md
  docs/core/porting/modernize.md
Labels: dotnet-fundamentals/prod, community-contribution

#37484 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37482 Add more details around the factors influencing GC
  docs/core/extensions/workers.md
Labels: dotnet-fundamentals/prod, okr-health

#37481 Fix an issue with the lifetime description.
  docs/core/extensions/dependency-injection.md
Labels: dotnet-fundamentals/prod, okr-health

#37470 Update releases-and-support.md
  docs/core/releases-and-support.md
Labels: dotnet-fundamentals/prod

#37486 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37468 Update units-of-measure.md
  docs/fsharp/language-reference/units-of-measure.md
Labels: dotnet-fsharp/prod, community-contribution

#37485 Chore: Typos fixed in multiple files
  docs/azure/includes/dotnet-all.md
  docs/csharp/language-reference/operators/nameof.md
  docs/csharp/language-reference/specifications.md
  docs/csharp/programming-guide/classes-and-structs/local-functions.md
  docs/csharp/programming-guide/concepts/linq/how-to-count-occurrences-of-a-word-in-a-string-linq.md
  docs/csharp/programming-guide/types/how-to-convert-between-hexadecimal-strings-and-numeric-types.md
  docs/standard/asynchronous-programming-patterns/snippets/component-that-supports-the-event-based-asynchronous-pattern/csharp/Program.cs
  docs/standard/datetime/choosing-between-datetime.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, csharp-language-reference/tech, csharp-linq/tech, dotnet-fundamentals/prod, dotnet-azure/prod, community-contribution

#37491 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37495 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37459 SDK versioning updates
  docs/core/porting/versioning-sdk-msbuild-vs.md
  docs/core/releases-and-support.md
Labels: dotnet-fundamentals/prod

#37496 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37492 Add ref readonly modifier to performance article
  docs/csharp/advanced-topics/performance/index.md
  docs/csharp/advanced-topics/performance/ref-tutorial.md
Labels: dotnet-csharp/prod

#37502 update LINQ groupby example
  samples/snippets/csharp/concepts/linq/LinqSamples/GroupQueryResults.cs
Labels: community-contribution

#37469 Update default-interface-methods-versions.md
  docs/csharp/advanced-topics/interface-implementation/default-interface-methods-versions.md
Labels: dotnet-csharp/prod, community-contribution

#37497 Acrolinx
  docs/architecture/serverless/serverless-business-scenarios.md
  docs/azure/configure-visual-studio.md
  docs/azure/sdk/unit-testing-mocking.md
  docs/core/compatibility/sdk/8.0/custombuildeventargs.md
  docs/core/deploying/native-aot/diagnostics.md
  docs/core/deploying/native-aot/warnings/il3050.md
  docs/core/deploying/native-aot/warnings/il3055.md
  docs/core/deploying/single-file/warnings/il3000.md
  docs/core/deploying/single-file/warnings/il3001.md
  docs/core/deploying/single-file/warnings/il3002.md
  docs/core/deploying/single-file/warnings/il3003.md
  docs/core/deploying/trimming/incompatibilities.md
  docs/core/diagnostics/observability-with-otel.md
  docs/core/extensions/httpclient-sni.md
  docs/core/install/macos.md
  docs/core/tools/sdk-errors/index.md
  docs/fsharp/language-reference/functions/external-functions.md
  includes/migration-guide/retargeting/networking/tls-1x-by-default-passes-schsendauxrecord-flag-underlying-schannel-api.md
Labels: dotnet-fsharp/prod, dotnet-cli/tech, dotnet/prod, dotnet-networking/tech, dotnet-architecture/prod, dotnet-install/tech, dotnet-fundamentals/prod, dotnet-azure/prod, serverless/tech

#37524 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37522 Add details about `ResponseTimeout`
  docs/orleans/grains/index.md
Labels: okr-coverage, :checkered_flag: Release: .NET 8

#37528 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37213 Add a reference for new .NET 8 metrics
  docs/core/diagnostics/available-counters.md
  docs/core/diagnostics/built-in-metrics-aspnetcore.md
  docs/core/diagnostics/built-in-metrics-system-net.md
  docs/core/diagnostics/built-in-metrics.md
  docs/core/diagnostics/compare-metric-apis.md
  docs/core/diagnostics/metrics-collection.md
  docs/core/diagnostics/metrics.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-networking/tech, dotnet-fundamentals/prod

#37529 Edit pass on ASP.NET Core metrics
  docs/core/diagnostics/built-in-metrics-aspnetcore.md
Labels: dotnet-fundamentals/prod

#37537 Bulk update html codeblock to markdown format
  docs/fsharp/language-reference/attributes.md
  docs/fsharp/language-reference/query-expressions.md
  includes/migration-guide/retargeting/wf/avoiding-endless-recursion-for-iworkflowinstancemanagementtransactedcancel.md
  includes/migration-guide/retargeting/wf/workflow-xoml-definition-sqltrackingservice-cache-keys-changed-from-md5.md
  includes/migration-guide/retargeting/wf/workflow-xoml-file-checksums-changed-from-md5-sha256.md
  includes/migration-guide/retargeting/winforms/icontobitmap-successfully-converts-icons-with-png-frames-into-bitmap-objects.md
  includes/migration-guide/retargeting/winforms/privatefontcollectionaddfontfile-method-releases-font-resources.md
  includes/migration-guide/retargeting/winforms/winforms-domain-upbutton-downbutton-actions-are-sync-now.md
  includes/migration-guide/retargeting/wpf/add-selectiontextbrush-public-property-textboxpasswordbox-non-adorner.md
  includes/migration-guide/retargeting/wpf/currentculture-not-preserved-across-wpf-dispatcher-operations.md
  includes/migration-guide/retargeting/wpf/default-hash-algorithm-for-wpf-packagedigitalsignaturemanager-now-sha256.md
  includes/migration-guide/retargeting/wpf/default-hash-algorithm-for-wpfs-markup-compiler-now-sha256.md
  includes/migration-guide/retargeting/wpf/hwndhost-now-correctly-resizes-child-hwnd-during-dpi-changes.md
  includes/migration-guide/retargeting/wpf/keyboard-focus-now-moves-correctly-across-multiple-layers-winformswpf.md
  includes/migration-guide/retargeting/wpf/nullreferenceexception-exception-handling-code-from.md
  includes/migration-guide/retargeting/wpf/selector-selectionchanged-event-selectedvalue-property.md
  includes/migration-guide/retargeting/wpf/tabcontrol-selectionchanged-event-selectedcontent-property.md
  includes/migration-guide/retargeting/wpf/wpf-appdomain-shutdown-handling-may-now-call-dispatcherinvoke-cleanup-weak.md
  includes/migration-guide/retargeting/wpf/wpf-focusvisual-for-radiobutton-checkbox-now-displays-correctly-when.md
  includes/migration-guide/retargeting/wpf/wpf-grid-allocation-space-star-columns.md
  includes/migration-guide/retargeting/wpf/wpf-layout-rounding-margins-has-changed.md
  includes/migration-guide/retargeting/wpf/wpf-pointer-based-touch-stack.md
  includes/migration-guide/retargeting/wpf/wpf-textboxpasswordbox-text-selection-does-not-follow-system-colors.md
  includes/migration-guide/runtime/asp/aspnet-fix-handling-inputattributes-labelattributes-for-webforms-checkbox.md
  includes/migration-guide/runtime/asp/aspnet-incorrect-multipart-handling-may-result-lost-form-data.md
  includes/migration-guide/runtime/asp/aspnet-validationcontextmembername-not-null-when-using-custom.md
  includes/migration-guide/runtime/core/winrt-stream-adapters-no-long-call-flushasync-automatically-on-close.md
  includes/migration-guide/runtime/ef/ef-no-longer-throws-for-queryviews-with-specific-characteristics.md
  includes/migration-guide/runtime/ef/opt-in-break-revert-from-different-45-sql-generation-simpler-40.md
  includes/migration-guide/runtime/serialization/binaryformatter-can-fail-find-type-from-loadfrom-context.md
  includes/migration-guide/runtime/serialization/xmlserializer-fails-while-serializing-type-that-hides-an-accessible-member.md
  includes/migration-guide/runtime/web/dataannotationsdatatypeattributedisableregex-app-setting-on-by-default-net.md
  includes/migration-guide/runtime/wpf/data-binding-improvement-for-keyedcollection.md
  includes/migration-guide/runtime/wpf/glyphruncomputeinkboundingbox-formattedtextextent-return-different-values.md
Labels: dotnet-fsharp/prod

#37542 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37530 Update naming policies info for STJ
  docs/standard/serialization/system-text-json/customize-properties.md
  docs/standard/serialization/system-text-json/migrate-from-newtonsoft.md
  docs/standard/serialization/system-text-json/source-generation-modes.md
Labels: dotnet-fundamentals/prod

#37532 Edit pass on metrics /3
  docs/core/diagnostics/built-in-metrics-system-net.md
Labels: dotnet-fundamentals/prod

#37548 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37549 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37540 Typo fix
  docs/csharp/language-reference/compiler-messages/cs1997.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, okr-health

#37552 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37543 fix typo
  docs/standard/data/sqlite/database-errors.md
Labels: dotnet-fundamentals/prod, dotnet-data/prod, community-contribution

#37627 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37554 Add missing member handling, deserialize string enum values
  docs/standard/serialization/system-text-json/immutability.md
  docs/standard/serialization/system-text-json/migrate-from-newtonsoft.md
  docs/standard/serialization/system-text-json/snippets/migrate-from-newtonsoft/Migrate.csproj
  docs/standard/serialization/system-text-json/snippets/migrate-from-newtonsoft/MissingMemberHandling.cs
Labels: dotnet-fundamentals/prod

#37628 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37629 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37428 Add instructions for NAOT cross-compile
  docs/core/deploying/native-aot/cross-compile.md
Labels: dotnet-fundamentals/prod

#37638 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37639 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37645 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37646 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37652 Fixed typo
  docs/core/diagnostics/snippets/Metrics/Program.cs
Labels: dotnet-fundamentals/prod, community-contribution

#32003 Revert "Revert "Tool list package id feature doc update""
  docs/core/tools/dotnet-tool-list.md
  docs/core/tools/global-tools.md
Labels: DO NOT MERGE, dotnet-cli/tech, dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#37270 Resiliency in .NET content
  docs/core/resilience/http-resilience.md
  docs/core/resilience/index.md
  docs/core/resilience/media/http-get-comments-flow.png
  docs/core/resilience/snippets/http-resilience/Comment.cs
  docs/core/resilience/snippets/http-resilience/ExampleClient.cs
  docs/core/resilience/snippets/http-resilience/Program.CustomHandler.cs
  docs/core/resilience/snippets/http-resilience/Program.HedgingHandler.cs
  docs/core/resilience/snippets/http-resilience/Program.ResilienceHandler.cs
  docs/core/resilience/snippets/http-resilience/Program.RetryOptions.cs
  docs/core/resilience/snippets/http-resilience/Program.ServiceCollection.cs
  docs/core/resilience/snippets/http-resilience/Program.cs
  docs/core/resilience/snippets/http-resilience/appsettings.json
  docs/core/resilience/snippets/http-resilience/http-resilience.csproj
  docs/core/resilience/snippets/nuget.config
  docs/core/resilience/snippets/resilience/Program.cs
  docs/core/resilience/snippets/resilience/resilience.csproj
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod, okr-coverage, okr-discovery, :checkered_flag: Release: .NET 8

#37648 doc - Uppercased the first letter of "Windows"
  docs/core/compatibility/sdk/8.0/console-encoding-fix.md
Labels: dotnet-fundamentals/prod, community-contribution

#37657 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37660 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37656 Update CollectionExpressionExamples.cs
  docs/csharp/language-reference/operators/snippets/shared/CollectionExpressionExamples.cs
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#37669 Mention the `GraphQLRequest` class and `ToJsonText` method in async streams tutorial
  docs/csharp/asynchronous-programming/generate-consume-asynchronous-stream.md
  docs/csharp/asynchronous-programming/snippets/generate-consume-asynchronous-streams/start/Program.cs
Labels: dotnet-csharp/prod, csharp-async/tech, community-contribution

#37654 Explain the usage of the `TailCall` attribute in F# 8
  docs/fsharp/language-reference/functions/recursive-functions-the-rec-keyword.md
Labels: dotnet-fsharp/prod, community-contribution

#37675 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37526 Add alpine 3.18
  docs/core/install/linux-alpine.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#37676 Fixes GitHub issue #34238 - Mention .resx and .resw compatibility in resgen.exe docs
  docs/framework/tools/resgen-exe-resource-file-generator.md
Labels: dotnet-framework/prod, community-contribution

#37680 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37651 Added Aspose.Drawing as an alternative to System.Drawing
  docs/core/compatibility/core-libraries/6.0/system-drawing-common-windows-only.md
  docs/core/compatibility/core-libraries/7.0/system-drawing.md
Labels: dotnet-fundamentals/prod, community-contribution

#37684 Fix the link to DirectoryServices-package in 8.0 compatibility page
  docs/core/compatibility/8.0.md
Labels: dotnet-fundamentals/prod, community-contribution

#37681 Add options validation source generation conceptual doc
  docs/core/extensions/options-validation-generator.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#37685 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37662 STJ: Populate properties
  docs/core/whats-new/dotnet-5.md
  docs/csharp/programming-guide/strings/index.md
  docs/fundamentals/toc.yml
  docs/standard/serialization/index.md
  docs/standard/serialization/system-text-json/customize-properties.md
  docs/standard/serialization/system-text-json/deserialization.md
  docs/standard/serialization/system-text-json/fields.md
  docs/standard/serialization/system-text-json/how-to.md
  docs/standard/serialization/system-text-json/ignore-properties.md
  docs/standard/serialization/system-text-json/immutability.md
  docs/standard/serialization/system-text-json/migrate-from-newtonsoft.md
  docs/standard/serialization/system-text-json/overview.md
  docs/standard/serialization/system-text-json/polymorphism.md
  docs/standard/serialization/system-text-json/populate-properties.md
  docs/standard/serialization/system-text-json/supported-collection-types.md
  docs/standard/serialization/system-text-json/use-utf8jsonreader.md
Labels: dotnet-fundamentals/prod

#37686 Add missing configuration and options source generator diagnostics
  docs/fundamentals/syslib-diagnostics/source-generator-overview.md
  docs/fundamentals/syslib-diagnostics/syslib1100-1118.md
  docs/fundamentals/syslib-diagnostics/syslib1201-1219.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod

#37689 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37691 Fixes GitHub issue #33704 - Static Constructor call guarantees
  docs/csharp/programming-guide/classes-and-structs/static-constructors.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#37729 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37732 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37733 Add backlink to new populate article
  docs/core/whats-new/dotnet-8.md
Labels: dotnet-fundamentals/prod

#37728 add primary constructor attribute
  docs/csharp/programming-guide/classes-and-structs/instance-constructors.md
  docs/csharp/programming-guide/classes-and-structs/snippets/constructors/Program.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/instance-constructors/widgets/Program.cs
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#37735 Add information on the Experimental attribute
  docs/csharp/language-reference/attributes/general.md
  docs/csharp/language-reference/compiler-messages/feature-version-errors.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/whats-new/csharp-12.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-whats-new/tech, csharp-diagnostics/tech

#37690 Fixes GitHub issue #33691 - ContinuousIntegrationBuild csproj property should mention that it also needs SourceRoot set
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/prod, community-contribution

#37736 Rework to clarify supported scenarios
  docs/csharp/whats-new/relationships-between-language-and-library.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech, okr-health

#37493 Add warnings and errors for ref readonly
  .openpublishing.redirection.csharp.json
  docs/csharp/language-reference/compiler-messages/cs0767.md
  docs/csharp/language-reference/compiler-messages/cs1741.md
  docs/csharp/language-reference/compiler-messages/cs1988.md
  docs/csharp/language-reference/compiler-messages/cs8166.md
  docs/csharp/language-reference/compiler-messages/cs8167.md
  docs/csharp/language-reference/compiler-messages/cs8168.md
  docs/csharp/language-reference/compiler-messages/cs8169.md
  docs/csharp/language-reference/compiler-messages/cs8373.md
  docs/csharp/language-reference/compiler-messages/cs8374.md
  docs/csharp/language-reference/compiler-messages/expression-tree-restrictions.md
  docs/csharp/language-reference/compiler-messages/feature-version-errors.md
  docs/csharp/language-reference/compiler-messages/lambda-expression-errors.md
  docs/csharp/language-reference/compiler-messages/ref-modifiers-errors.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/cs0192.md
  docs/csharp/misc/cs0199.md
  docs/csharp/misc/cs0206.md
  docs/csharp/misc/cs0631.md
  docs/csharp/misc/cs1510.md
  docs/csharp/misc/cs1605.md
  docs/csharp/misc/cs1623.md
  docs/csharp/misc/cs1649.md
  docs/csharp/misc/cs1651.md
  docs/csharp/misc/cs1655.md
  docs/csharp/misc/cs1657.md
  docs/csharp/misc/cs1939.md
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, :checkered_flag: Release: .NET 8

#37738 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37741 Add link to ASP.NET Core what's new
  docs/core/whats-new/dotnet-8.md
Labels: dotnet-fundamentals/prod
