Repository dotnet/docs, pull requests merged in 2023-08, with the labels that each got.

#36472 Move authN docs to a folder
  .openpublishing.redirection.azure.json
  docs/azure/sdk/authentication/additional-methods.md
  docs/azure/sdk/authentication/azure-hosted-apps.md
  docs/azure/sdk/authentication/index.md
  docs/azure/sdk/authentication/local-development-dev-accounts.md
  docs/azure/sdk/authentication/local-development-service-principal.md
  docs/azure/sdk/authentication/on-premises-apps.md
  docs/azure/sdk/azure-sdk-for-dotnet.md
  docs/azure/sdk/includes/sdk-auth-overview-dev-accounts.md
  docs/azure/sdk/includes/sdk-auth-overview-dev-service-principals.md
  docs/azure/sdk/includes/sdk-auth-overview-managed-identity.md
  docs/azure/sdk/includes/sdk-auth-overview-service-principal.md
Labels: dotnet-azure/prod

#36479 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36483 Boolean overloads removed
  docs/core/compatibility/8.0.md
  docs/core/compatibility/core-libraries/8.0/optimizeforreading-arg.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#36485 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36459 Fix dword
  docs/framework/migration-guide/how-to-determine-which-versions-are-installed.md
  docs/framework/migration-guide/versions-and-dependencies.md
Labels: dotnet-framework/prod, dotnet-appcompat/tech, okr-health

#36493 add inline arrays
  docs/csharp/language-reference/compiler-messages/toc.yml
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech

#36475 Preview 7 breaking changes for ASP.NET
  docs/core/compatibility/8.0.md
  docs/core/compatibility/aspnet-core/8.0/securitytoken-events.md
  docs/core/compatibility/aspnet-core/8.0/trimmode-full.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#36482 Improve and extend the page about `CS0453`
  docs/csharp/misc/cs0453.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech, community-contribution

#36484 Alpine packages removed
  docs/core/compatibility/8.0.md
  docs/core/compatibility/containers/8.0/krb5-libs-package.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#36478 Remove OpenTelemetry.Exporter.Zipkin reference
  docs/core/diagnostics/observability-with-otel.md
Labels: dotnet-fundamentals/prod, community-contribution

#36495 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36481 Edit pass
  docs/core/tools/dotnet-install-script.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#36492 Update identifier-names.md
  docs/csharp/fundamentals/coding-style/identifier-names.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#36500 Config binding to dictionary (.NET 7)
  docs/core/compatibility/7.0.md
  docs/core/compatibility/extensions/7.0/config-bind-dictionary.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 7

#36503 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36505 Bool-backed enum support
  docs/core/compatibility/8.0.md
  docs/core/compatibility/core-libraries/8.0/bool-backed-enum.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#36511 Fix if statement formatting
  docs/core/diagnostics/snippets/OTel-Prometheus-Grafana-Jaeger/csharp/Program.cs
Labels: dotnet-fundamentals/prod, community-contribution

#36383 Add description and initial guidance for DOTNET_HOST_PATH usage
  docs/core/tools/dotnet-environment-variables.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#36397 Update AOT for .NET 8
  docs/core/deploying/native-aot/index.md
Labels: dotnet-fundamentals/prod

#36524 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36531 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36532 Conserve Memory Documented in runtimeconfig.json
  docs/core/runtime-config/garbage-collector.md
Labels: dotnet-fundamentals/prod

#36506 Custom intall location breaking change
  docs/core/compatibility/6.0.md
  docs/core/compatibility/sdk/6.0/install-location.md
  docs/core/compatibility/toc.yml
Labels: :checkered_flag: Release: .NET 6, dotnet-fundamentals/prod

#36529 Update index.md
  docs/core/deploying/native-aot/index.md
Labels: dotnet-fundamentals/prod

#36540 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36541 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36547 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36553 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36556 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36497 Add docs for DisableRuntimeMarshalling
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/prod, community-contribution

#36558 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36563 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36566 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36494 Add see also links
  docs/core/compatibility/containers/8.0/app-user.md
  docs/core/compatibility/containers/8.0/aspnet-port.md
Labels: dotnet-fundamentals/prod

#36421 Document IDE0280 - use nameof
  docs/fundamentals/code-analysis/style-rules/ide0280.md
  docs/fundamentals/code-analysis/style-rules/index.md
  docs/fundamentals/code-analysis/style-rules/language-rules.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod

#36549 Update What's new in .NET 8 for Preview 7
  docs/core/whats-new/dotnet-8.md
  docs/standard/serialization/system-text-json/immutability.md
  docs/standard/serialization/system-text-json/migrate-from-newtonsoft.md
  docs/standard/serialization/system-text-json/source-generation-modes.md
Labels: dotnet-fundamentals/prod

#36509 Logging for library authors
  docs/core/extensions/logging-library-authors.md
  docs/core/extensions/logging.md
  docs/core/extensions/snippets/logging/library-authors/DiExampleService.cs
  docs/core/extensions/snippets/logging/library-authors/LibraryConfiguration.cs
  docs/core/extensions/snippets/logging/library-authors/LogMessages.cs
  docs/core/extensions/snippets/logging/library-authors/NonDiExampleService.cs
  docs/core/extensions/snippets/logging/library-authors/Product.cs
  docs/core/extensions/snippets/logging/library-authors/Program.cs
  docs/core/extensions/snippets/logging/library-authors/library-authors.csproj
  docs/core/extensions/snippets/logging/logging.sln
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod, okr-coverage

#36630 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36634 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36548 Update the string format article with info about .NET changes
  docs/standard/base-types/composite-formatting.md
  docs/standard/base-types/snippets/composite-formatting/framework/csharp/Formatting.csproj
  docs/standard/base-types/snippets/composite-formatting/framework/csharp/Program.cs
  docs/standard/base-types/snippets/composite-formatting/framework/vb/Formatting.vbproj
  docs/standard/base-types/snippets/composite-formatting/framework/vb/Program.vb
  docs/standard/base-types/snippets/composite-formatting/net/csharp/Formatting.csproj
  docs/standard/base-types/snippets/composite-formatting/net/csharp/Program.cs
  docs/standard/base-types/snippets/composite-formatting/net/vb/Formatting.vbproj
  docs/standard/base-types/snippets/composite-formatting/net/vb/Program.vb
  samples/snippets/csharp/VS_Snippets_CLR/Formatting.Composite/cs/Composite1.cs
  samples/snippets/csharp/VS_Snippets_CLR/Formatting.Composite/cs/Escaping1.cs
  samples/snippets/csharp/VS_Snippets_CLR/Formatting.Composite/cs/alignment1.cs
  samples/snippets/csharp/VS_Snippets_CLR/Formatting.Composite/cs/index1.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/Formatting.Composite/vb/Composite1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/Formatting.Composite/vb/Escaping1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/Formatting.Composite/vb/alignment1.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/Formatting.Composite/vb/index1.vb
Labels: dotnet-fundamentals/prod, okr-health

#36635 Adding preview 7 - rc2 to the table
  docs/core/porting/versioning-sdk-msbuild-vs.md
Labels: dotnet-fundamentals/prod

#36646 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36649 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36555 Document Azure SDK subclient registration
  docs/azure/sdk/dependency-injection.md
  docs/azure/sdk/logging.md
  docs/azure/sdk/snippets/dependency-injection/Directory.Packages.props
  docs/azure/sdk/snippets/dependency-injection/HostApplicationBuilder/HostApplicationBuilder.csproj
  docs/azure/sdk/snippets/dependency-injection/HostApplicationBuilder/Program.cs
  docs/azure/sdk/snippets/dependency-injection/HostBuilder/HostBuilder.csproj
  docs/azure/sdk/snippets/dependency-injection/HostBuilder/Program.cs
  docs/azure/sdk/snippets/dependency-injection/WebApplicationBuilder/Program.cs
  docs/azure/sdk/snippets/dependency-injection/WebApplicationBuilder/WebApplicationBuilder.csproj
Labels: dotnet-azure/prod

#36654 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36657 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36645 Clarify trimming granularity default
  docs/core/deploying/trimming/trimming-options.md
Labels: dotnet-fundamentals/prod

#36644 Add link to DefaultProxy property
  docs/framework/configure-apps/file-schema/network/defaultproxy-element-network-settings.md
Labels: dotnet-framework/prod, dotnet-networking/tech

#36643 Fix code syntax
  docs/fundamentals/code-analysis/quality-rules/ca1832.md
  docs/fundamentals/code-analysis/quality-rules/ca1833.md
Labels: dotnet-fundamentals/prod, okr-health

#36642 Remove unsupported versions
  docs/framework/get-started/system-requirements.md
Labels: dotnet-framework/prod

#36636 Add SDK security note
  docs/core/sdk.md
Labels: dotnet-fundamentals/prod

#36661 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36677 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36660 Fix backtracking example
  docs/standard/base-types/backtracking-in-regular-expressions.md
  docs/standard/base-types/regular-expression-options.md
  docs/standard/base-types/snippets/regex-backtracking/csharp/Program.cs
  docs/standard/base-types/snippets/regex-backtracking/csharp/Project.csproj
  docs/standard/base-types/snippets/regex-backtracking/csharp/backtracking1.cs
  docs/standard/base-types/snippets/regex-backtracking/csharp/backtracking2.cs
  docs/standard/base-types/snippets/regex-backtracking/csharp/backtracking3.cs
  docs/standard/base-types/snippets/regex-backtracking/csharp/backtracking4.cs
  docs/standard/base-types/snippets/regex-backtracking/csharp/backtracking5.cs
  docs/standard/base-types/snippets/regex-backtracking/csharp/backtracking6.cs
  docs/standard/base-types/snippets/regex-backtracking/vb/Program.vb
  docs/standard/base-types/snippets/regex-backtracking/vb/Project.vbproj
  docs/standard/base-types/snippets/regex-backtracking/vb/backtracking1.vb
  docs/standard/base-types/snippets/regex-backtracking/vb/backtracking2.vb
  docs/standard/base-types/snippets/regex-backtracking/vb/backtracking3.vb
  docs/standard/base-types/snippets/regex-backtracking/vb/backtracking4.vb
  docs/standard/base-types/snippets/regex-backtracking/vb/backtracking5.vb
  docs/standard/base-types/snippets/regex-backtracking/vb/backtracking6.vb
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regularexpressions.backtracking/cs/backtracking1.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regularexpressions.backtracking/cs/backtracking2.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regularexpressions.backtracking/cs/backtracking3.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regularexpressions.backtracking/cs/backtracking4.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regularexpressions.backtracking/cs/backtracking5.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regularexpressions.backtracking/cs/backtracking6.cs
Labels: dotnet-fundamentals/prod

#36683 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36690 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36681 fix: change final 15 minutes to 6 minutes
  docs/csharp/asynchronous-programming/index.md
Labels: dotnet-csharp/prod, csharp-async/tech, community-contribution

#36698 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36688 Update more info link
  docs/framework/interop/how-to-implement-callback-functions.md
Labels: dotnet-framework/prod

#36679 Fix build suggestions
  docs/architecture/dapr-for-net-developers/observability.md
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
  docs/framework/wcf/feature-details/security-protocols-version-1-0.md
Labels: dotnet-framework/prod, dotnet-architecture/prod, dotnet-wcf/tech, dotnet-azure/prod

#36569 Update for Debian Bookworm
  docs/core/install/linux-debian.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod, community-contribution

#36700 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36699 cleanup links for C# 12
  .github/ISSUE_TEMPLATE/new-feature-csharp.yml
  docfx.json
  docs/csharp/toc.yml
Labels: dotnet-csharp/prod, okr-health

#36705 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36716 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36723 NuGet: update signed-package verification documentation
  docs/core/tools/dotnet-nuget-sign.md
  docs/core/tools/dotnet-nuget-trust.md
  docs/core/tools/dotnet-nuget-verify.md
  docs/core/tools/nuget-signed-package-verification.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#36738 Unify Roslyn rules descriptions (RuleId and Breaking change fields)
  docs/fundamentals/code-analysis/quality-rules/ca1003.md
  docs/fundamentals/code-analysis/quality-rules/ca1010.md
  docs/fundamentals/code-analysis/quality-rules/ca1012.md
  docs/fundamentals/code-analysis/quality-rules/ca1014.md
  docs/fundamentals/code-analysis/quality-rules/ca1016.md
  docs/fundamentals/code-analysis/quality-rules/ca1017.md
  docs/fundamentals/code-analysis/quality-rules/ca1018.md
  docs/fundamentals/code-analysis/quality-rules/ca1019.md
  docs/fundamentals/code-analysis/quality-rules/ca1021.md
  docs/fundamentals/code-analysis/quality-rules/ca1024.md
  docs/fundamentals/code-analysis/quality-rules/ca1027.md
  docs/fundamentals/code-analysis/quality-rules/ca1028.md
  docs/fundamentals/code-analysis/quality-rules/ca1031.md
  docs/fundamentals/code-analysis/quality-rules/ca1032.md
  docs/fundamentals/code-analysis/quality-rules/ca1033.md
  docs/fundamentals/code-analysis/quality-rules/ca1034.md
  docs/fundamentals/code-analysis/quality-rules/ca1036.md
  docs/fundamentals/code-analysis/quality-rules/ca1040.md
  docs/fundamentals/code-analysis/quality-rules/ca1041.md
  docs/fundamentals/code-analysis/quality-rules/ca2218.md
  docs/fundamentals/code-analysis/quality-rules/ca2224.md
Labels: dotnet-fundamentals/prod, community-contribution

#36741 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36728 Fix the typo in `s_accountNumberSeed` in classes fundamentals tutorial
  docs/csharp/fundamentals/tutorials/classes.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#36740 Fix comment on the 'init' accessor
  docs/csharp/programming-guide/classes-and-structs/object-and-collection-initializers.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#36742 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36745 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36753 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36754 Remove references to future debugging support
  docs/core/deploying/native-aot/diagnostics.md
Labels: dotnet-fundamentals/prod

#36689 Clarify MSBuild vs. editorconfig bulk config
  docs/fundamentals/code-analysis/categories.md
  docs/fundamentals/code-analysis/configuration-options.md
Labels: dotnet-fundamentals/prod

#36762 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36772 Fix link
  docs/csharp/programming-guide/classes-and-structs/extension-methods.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, okr-health

#36701 Adds NuGet audit as a potential breaking change.
  docs/core/compatibility/8.0.md
  docs/core/compatibility/sdk/8.0/dotnet-restore-audit.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#36726 Clarify setting System.Runtime.Loader.UseRidGraph via MSBuild item
  docs/core/compatibility/deployment/8.0/rid-asset-list.md
Labels: dotnet-fundamentals/prod

#36768 Add doc topic for unmanaged calling conventions
  .openpublishing.redirection.standard.json
  docs/core/dependency-loading/default-probing.md
  docs/navigate/advanced-programming/toc.yml
  docs/standard/native-interop/calling-conventions.md
  docs/standard/native-interop/native-library-loading.md
  docs/standard/native-interop/pinvoke.md
  samples/snippets/standard/interop/pinvoke/ftw-linux.cs
  samples/snippets/standard/interop/pinvoke/ftw-macos.cs
Labels: dotnet-fundamentals/prod

#36778 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36777 Fix broken links
  docs/framework/wcf/feature-details/routing-service.md
  docs/standard/serialization/system-text-json/character-encoding.md
Labels: dotnet-framework/prod, dotnet-wcf/tech, dotnet-fundamentals/prod

#36783 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36776 Add documentation for CA1869
  docs/fundamentals/code-analysis/quality-rules/ca1869.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/performance-warnings.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod

#36788 IDispatchImplAttribute removed
  docs/core/compatibility/8.0.md
  docs/core/compatibility/fx-core.md
  docs/core/compatibility/interop/8.0/idispatchimplattribute-removed.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/unsupported-apis.md
Labels: dotnet-fundamentals/prod

#36789 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36760 Clean up source code a bit and explain that loop exits immediately.
  docs/standard/parallel-programming/how-to-cancel-a-parallel-for-or-foreach-loop.md
  samples/snippets/csharp/VS_Snippets_Misc/tpl_parallel/cs/forandforeach_simple.cs
  samples/snippets/csharp/VS_Snippets_Misc/tpl_parallel/cs/foreachthreadlocal.cs
  samples/snippets/csharp/VS_Snippets_Misc/tpl_parallel/cs/nongeneric.cs
  samples/snippets/csharp/VS_Snippets_Misc/tpl_parallel/cs/parallel_cancel.cs
  samples/snippets/csharp/VS_Snippets_Misc/tpl_parallel/cs/parallel_file.cs
  samples/snippets/csharp/VS_Snippets_Misc/tpl_parallel/cs/parallelinvoke.cs
  samples/snippets/csharp/VS_Snippets_Misc/tpl_parallel/cs/simpleforeach.cs
  samples/snippets/csharp/VS_Snippets_Misc/tpl_parallel/cs/simpleforeach.csproj
  samples/snippets/csharp/VS_Snippets_Misc/tpl_parallel/cs/simpleparallelfor.cs
Labels: dotnet-fundamentals/prod

#36758 Address Orleans API diffs
  docs/orleans/host/configuration-guide/typical-configurations.md
Labels: okr-health

#36829 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36779 Update Visual Studio tutorial series
  docs/core/tutorials/debugging-with-visual-studio.md
  docs/core/tutorials/library-with-visual-studio.md
  docs/core/tutorials/media/library-with-visual-studio/vb/library-project-properties-net8.png
  docs/core/tutorials/media/publishing-with-visual-studio/publish-page-loc-tab-net8.png
  docs/core/tutorials/media/publishing-with-visual-studio/publish-page-net8.png
  docs/core/tutorials/media/publishing-with-visual-studio/published-files-output-net8.png
  docs/core/tutorials/publishing-with-visual-studio.md
  docs/core/tutorials/snippets/library-with-visual-studio/csharp/StringLibraryTestNet8/GlobalUsings.cs
  docs/core/tutorials/snippets/library-with-visual-studio/csharp/StringLibraryTestNet8/StringLibraryTest.csproj
  docs/core/tutorials/snippets/library-with-visual-studio/csharp/StringLibraryTestNet8/UnitTest1.cs
  docs/core/tutorials/testing-library-with-visual-studio.md
  docs/core/tutorials/with-visual-studio.md
  docs/zone-pivot-groups.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#36830 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36834 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36487 Update trimming doc
  docs/core/deploying/trimming/prepare-libraries-for-trimming.md
  docs/core/deploying/trimming/snippets/ConsoleApp1/ConsoleApp1.csproj
  docs/core/deploying/trimming/snippets/ConsoleApp1/Program.cs
  docs/core/deploying/trimming/snippets/MyLibrary/Class1.cs
  docs/core/deploying/trimming/snippets/MyLibrary/Class2.cs
  docs/core/deploying/trimming/snippets/MyLibrary/Class3.cs
  docs/core/deploying/trimming/snippets/MyLibrary/ContainingType.cs
  docs/core/deploying/trimming/snippets/MyLibrary/GenericType.cs
  docs/core/deploying/trimming/snippets/MyLibrary/MyLibrary.csproj
  docs/core/deploying/trimming/snippets/MyLibrary/MyLibrary.csproj.xml
  docs/core/deploying/trimming/snippets/MyTestLib6app/MyTestLib6app.csproj
  docs/core/deploying/trimming/snippets/MyTestLib6app/Program.cs
  docs/core/deploying/trimming/snippets/MyTestLib6app/XMLFile1.xml
Labels: dotnet-fundamentals/prod

#36837 Spelling fix threads-and-threading.md
  docs/standard/threading/threads-and-threading.md
Labels: dotnet-fundamentals/prod, community-contribution

#36771 Add clarification regarding target framework symbols
  includes/preprocessor-symbols.md
Labels: community-contribution

#36849 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36781 Update metrics for .NET 8 changes
  docs/core/diagnostics/metrics-instrumentation.md
Labels: dotnet-fundamentals/prod

#36857 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36854 Fix typo
  docs/csharp/whats-new/tutorials/interpolated-string-handler.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech, community-contribution

#36856 Naming delegate parameters
  docs/fsharp/language-reference/delegates.md
Labels: dotnet-fsharp/prod, community-contribution

#36861 Update overview.md to be more clear about packing
  docs/fundamentals/package-validation/overview.md
Labels: dotnet-fundamentals/prod, community-contribution

#36860 Revised string interpolation docs
  docs/csharp/language-reference/tokens/interpolated.md
  docs/csharp/language-reference/tokens/raw-string.md
  docs/csharp/language-reference/tokens/snippets/string-interpolation.cs
  docs/csharp/language-reference/tokens/snippets/string-interpolation.csproj
  docs/csharp/tutorials/snippets/StringInterpolation/Program.cs
  docs/csharp/tutorials/snippets/StringInterpolation/string-interpolation.csproj
  docs/csharp/tutorials/string-interpolation.md
  samples/snippets/csharp/tutorials/string-interpolation/Program.cs
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, csharp-language-reference/tech, community-contribution, okr-health

#36867 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36831 Update docs for .NET 8 RID changes
  docs/core/rid-catalog.md
  docs/core/tools/sdk-errors/netsdk1206.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#36871 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36832 Add NLS To ICU Transition Scenarios
  docs/core/compatibility/globalization/7.0/icu-globalization-api.md
  docs/core/extensions/globalization-icu.md
Labels: dotnet-fundamentals/prod

#36874 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36787 Three breaking changes
  docs/core/compatibility/8.0.md
  docs/core/compatibility/core-libraries/8.0/parameterinfo-hasdefaultvalue.md
  docs/core/compatibility/extensions/8.0/configurationmanager-package.md
  docs/core/compatibility/extensions/8.0/directoryservices-package.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#36080 Document StackTraceSupport property
  docs/core/deploying/trimming/trimming-options.md
Labels: dotnet-fundamentals/prod

#36870 Mention and link XML comments in 'Comment style' section
  docs/csharp/fundamentals/coding-style/coding-conventions.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#36843 Add `KeepAlive` attribute details
  docs/orleans/host/configuration-guide/activation-garbage-collection.md
Labels: okr-health

#36872 Added examples code for `ITimerRegistry` and `IReminderRegistry`
  docs/orleans/grains/snippets/timers/IPingGrain.cs
  docs/orleans/grains/snippets/timers/PingGrain.cs
  docs/orleans/grains/snippets/timers/Timers.csproj
  docs/orleans/grains/timers-and-reminders.md
Labels: okr-discovery

#36880 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36926 Add missing title and description
  docfx.json
Labels: okr-health

#36892 Fix a misdirected link
  docs/csharp/fundamentals/types/index.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#36896 Update missing HttpClient client parameter
  docs/csharp/tutorials/console-webapiclient.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#36918 Update interpolated-strings.md
  docs/fsharp/language-reference/interpolated-strings.md
Labels: dotnet-fsharp/prod

#36866 Update httpclient-guidelines.md
  docs/fundamentals/networking/http/httpclient-guidelines.md
Labels: dotnet-networking/tech, dotnet-fundamentals/prod, community-contribution

#36884 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36930 Remove installers/setup projects from *.sln
  docs/core/extensions/snippets/workers/6.0/workers (.NET 6.0).sln
  docs/core/extensions/snippets/workers/7.0/workers (.NET 7.0).sln
Labels: dotnet-fundamentals/prod

#36890 Improve SEO on STJ article
  docfx.json
  docs/standard/datetime/how-to-use-dateonly-timeonly.md
  docs/standard/serialization/system-text-json/how-to.md
Labels: dotnet-fundamentals/prod

#36886 Environment variables
  docs/core/runtime-config/index.md
Labels: dotnet-fundamentals/prod

#36883 Add Int128 and UInt128 to numerics.md
  docs/standard/numerics.md
Labels: dotnet-fundamentals/prod, community-contribution

#36920 Update ValidateSettingsOptions.cs
  docs/core/extensions/snippets/configuration/console-json/ValidateSettingsOptions.cs
Labels: dotnet-fundamentals/prod

#36923 Update best-practices.md
  docs/standard/native-interop/best-practices.md
Labels: dotnet-fundamentals/prod

#36927 Unify description for Roslyn formatting options
  docs/fundamentals/code-analysis/style-rules/csharp-formatting-options.md
  docs/fundamentals/code-analysis/style-rules/dotnet-formatting-options.md
Labels: dotnet-fundamentals/prod, community-contribution

#36881 Consolidate compiler errors and warnings on arrays into a single file
  .openpublishing.redirection.csharp.json
  docs/csharp/language-reference/compiler-messages/array-declaration-errors.md
  docs/csharp/language-reference/compiler-messages/cs0178.md
  docs/csharp/language-reference/compiler-messages/cs0270.md
  docs/csharp/language-reference/compiler-messages/cs0650.md
  docs/csharp/language-reference/compiler-messages/cs0826.md
  docs/csharp/language-reference/compiler-messages/cs0846.md
  docs/csharp/language-reference/compiler-messages/cs3007.md
  docs/csharp/language-reference/compiler-messages/snippets/array-warnings/Program.cs
  docs/csharp/language-reference/compiler-messages/snippets/array-warnings/array-warnings.csproj
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/cs0022.md
  docs/csharp/misc/cs0248.md
  docs/csharp/misc/cs0251.md
  docs/csharp/misc/cs0611.md
  docs/csharp/misc/cs0623.md
  docs/csharp/misc/cs0719.md
  docs/csharp/misc/cs0820.md
  docs/csharp/misc/cs1552.md
  docs/csharp/misc/cs1586.md
  docs/csharp/misc/cs1925.md
  docs/csharp/misc/cs3016.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, okr-health

#36933 only include specified C# 12 speclets
  docfx.json
Labels: okr-health

#36782 Add Collection expressions to the language reference
  .openpublishing.redirection.csharp.json
  docfx.json
  docs/csharp/advanced-topics/expression-trees/index.md
  docs/csharp/language-reference/builtin-types/arrays.md
  docs/csharp/language-reference/builtin-types/collections.md
  docs/csharp/language-reference/builtin-types/snippets/shared/ArrayExample.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/Arrays.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/Collections.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/Program.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/RetrievingArrayElements.cs
  docs/csharp/language-reference/operators/collection-expressions.md
  docs/csharp/language-reference/operators/member-access-operators.md
  docs/csharp/language-reference/operators/new-operator.md
  docs/csharp/language-reference/operators/snippets/shared/CollectionExpressionExamples.cs
  docs/csharp/language-reference/operators/snippets/shared/Program.cs
  docs/csharp/language-reference/operators/snippets/shared/operators.csproj
  docs/csharp/language-reference/statements/iteration-statements.md
  docs/csharp/programming-guide/arrays/implicitly-typed-arrays.md
  docs/csharp/programming-guide/arrays/index.md
  docs/csharp/programming-guide/arrays/jagged-arrays.md
  docs/csharp/programming-guide/arrays/multidimensional-arrays.md
  docs/csharp/programming-guide/arrays/passing-arrays-as-arguments.md
  docs/csharp/programming-guide/arrays/single-dimensional-arrays.md
  docs/csharp/programming-guide/arrays/snippets/Program.cs
  docs/csharp/programming-guide/arrays/snippets/SingleDimensionArrays.cs
  docs/csharp/programming-guide/arrays/snippets/arrays.csproj
  docs/csharp/programming-guide/arrays/using-foreach-with-arrays.md
  docs/csharp/programming-guide/classes-and-structs/how-to-use-implicitly-typed-local-variables-and-arrays-in-a-query-expression.md
  docs/csharp/programming-guide/classes-and-structs/implicitly-typed-local-variables.md
  docs/csharp/programming-guide/concepts/collections.md
  docs/csharp/programming-guide/concepts/index.md
  docs/csharp/programming-guide/concepts/iterators.md
  docs/csharp/programming-guide/generics/generics-and-arrays.md
  docs/csharp/programming-guide/index.md
  docs/csharp/toc.yml
  docs/csharp/tour-of-csharp/features.md
  docs/csharp/tour-of-csharp/index.md
  docs/csharp/whats-new/csharp-12.md
  docs/fundamentals/code-analysis/quality-rules/ca1814.md
  docs/standard/serialization/system-text-json/supported-collection-types.md
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideArrays/CS/Arrays.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideArrays/CS/Arrays.csproj
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideLINQ/CS/csRef30LangFeatures_2.cs
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, csharp-language-reference/tech
