Repository dotnet/docs, pull requests merged in 2023-11, with the labels that each got.

#37827 Add missing 'interface' keyword
  docs/standard/native-interop/comwrappers-source-generation.md
Labels: dotnet-fundamentals/prod

#37829 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37823 Fixes GitHub issue #30937 - It is not clear what is the functional programming way of doing things
  docs/fsharp/language-reference/async-expressions.md
Labels: dotnet-fsharp/prod, community-contribution

#37851 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37854 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37824 Artifacts output layout
  docs/core/sdk.md
  docs/core/sdk/artifacts-output.md
  docs/core/whats-new/dotnet-8.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod

#37847 [docs] Updating text about NativeAOT support for iOS-like platforms
  docs/core/whats-new/dotnet-8.md
Labels: dotnet-fundamentals/prod

#37825 Fix GitHub issue #28334 - Basic128Sha256 | Use Aes256 for message encryption ?
  docs/framework/configure-apps/file-schema/wcf/security-of-custombinding.md
Labels: dotnet-framework/prod, dotnet-wcf/tech, community-contribution, okr-health

#37822 Fixes (?) GitHub issue #30189 - Question about note on Creating and Throwing exceptions page
  docs/csharp/fundamentals/exceptions/creating-and-throwing-exceptions.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#37850 Add text per issue 26569.
  docs/visual-basic/language-reference/nothing.md
Labels: dotnet-visualbasic/prod, community-contribution

#37853 Update summary description - issue 27060.
  docs/csharp/language-reference/xmldoc/recommended-tags.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution, okr-health

#37860 Fixes GitHub issue #28103: Formatting guidelines: clarify how empty class, struct and interface declarations should be formatted
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod, community-contribution

#37865 update string declarations using NRT
  docs/csharp/programming-guide/strings/snippets/Declarations.cs
  docs/csharp/programming-guide/strings/snippets/StringCharacters.cs
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#37872 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37661 Document that WebHost.CreateDefaultBuilder will use port 5000
  docs/core/compatibility/containers/8.0/aspnet-port.md
Labels: dotnet-fundamentals/prod

#37855 Add latest errors codes
  docs/csharp/language-reference/compiler-messages/array-declaration-errors.md
  docs/csharp/language-reference/compiler-messages/constructor-errors.md
  docs/csharp/language-reference/compiler-messages/feature-version-errors.md
  docs/csharp/language-reference/compiler-messages/inline-array-errors.md
  docs/csharp/language-reference/compiler-messages/lambda-expression-errors.md
  docs/csharp/language-reference/compiler-messages/pattern-matching-warnings.md
  docs/csharp/language-reference/compiler-messages/ref-modifiers-errors.md
  docs/csharp/language-reference/compiler-messages/source-generator-errors.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/language-reference/compiler-messages/using-directive-errors.md
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech

#37876 Remove all references to `AutoClient` and add redirect.
  .openpublishing.redirection.fundamentals.json
  docs/fundamentals/networking/http/http-autoclient.md
  docs/fundamentals/networking/http/httpclient.md
  docs/fundamentals/toc.yml
  docs/whats-new/dotnet-docs-mod0.md
Labels: dotnet-networking/tech, dotnet-fundamentals/prod

#37875 Added missing metrics for .NET extensions.
  docs/core/diagnostics/built-in-metrics-aspnetcore.md
  docs/core/diagnostics/built-in-metrics-diagnostics.md
  docs/core/diagnostics/built-in-metrics-system-net.md
  docs/core/diagnostics/built-in-metrics.md
  docs/core/diagnostics/diagnostic-health-checks.md
  docs/core/diagnostics/diagnostic-resource-monitoring.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod

#37879 Miscellany
  docs/architecture/porting-existing-aspnet-apps/signalr-differences.md
  docs/core/extensions/package-and-deploy-resources.md
  docs/fundamentals/syslib-diagnostics/syslib0049.md
Labels: dotnet-architecture/prod, dotnet-fundamentals/prod

#37870 Revert "Update summary description - issue 27060."
  docs/csharp/language-reference/xmldoc/recommended-tags.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#37868 Add small section to describe keyed DI
  docs/core/extensions/dependency-injection.md
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#37877 Add topic for diagnostic IDs
  docs/csharp/fundamentals/coding-style/coding-conventions.md
  docs/csharp/roslyn-sdk/choosing-diagnostic-ids.md
  docs/csharp/toc.yml
Labels: dotnet-csharp/prod, csharp-roslyn/tech

#37881 CBOR breaking change
  docs/core/compatibility/8.0.md
  docs/core/compatibility/extensions/8.0/cbor-datetime.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#37887 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37882 JSFunctionBinding constructor
  docs/core/compatibility/8.0.md
  docs/core/compatibility/interop/8.0/jsfunctionbinding-constructor.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#37888 Delete docs/core/resilience/snippets/nuget.config
  docs/core/resilience/snippets/nuget.config
Labels: dotnet-fundamentals/prod

#37514 Improvements to trim warnings description and fixes
  docs/core/deploying/trimming/fixing-warnings.md
  docs/core/deploying/trimming/trim-warnings/il2067.md
  docs/core/deploying/trimming/trim-warnings/il2068.md
  docs/core/deploying/trimming/trim-warnings/il2069.md
  docs/core/deploying/trimming/trim-warnings/il2070.md
  docs/core/deploying/trimming/trim-warnings/il2072.md
  docs/core/deploying/trimming/trim-warnings/il2073.md
  docs/core/deploying/trimming/trim-warnings/il2074.md
  docs/core/deploying/trimming/trim-warnings/il2075.md
  docs/core/deploying/trimming/trim-warnings/il2077.md
  docs/core/deploying/trimming/trim-warnings/il2078.md
  docs/core/deploying/trimming/trim-warnings/il2079.md
  docs/core/deploying/trimming/trim-warnings/il2080.md
  docs/core/deploying/trimming/trim-warnings/il2082.md
  docs/core/deploying/trimming/trim-warnings/il2083.md
  docs/core/deploying/trimming/trim-warnings/il2084.md
  docs/core/deploying/trimming/trim-warnings/il2085.md
  docs/core/deploying/trimming/trim-warnings/il2087.md
  docs/core/deploying/trimming/trim-warnings/il2088.md
  docs/core/deploying/trimming/trim-warnings/il2089.md
  docs/core/deploying/trimming/trim-warnings/il2090.md
  docs/core/deploying/trimming/trim-warnings/il2091.md
  docs/core/deploying/trimming/trim-warnings/il2117.md
Labels: dotnet-fundamentals/prod

#37030 file-path-formats: fix example
  docs/standard/io/file-path-formats.md
Labels: dotnet-fundamentals/prod, community-contribution

#37512 Chore: Typo fixed in multiple files dotnet/docs
  docs/azure/includes/dotnet-all.md
  docs/framework/additional-apis/pos-for-net/poscommon-class.md
  docs/framework/data/adonet/ef/language-reference/how-entity-sql-differs-from-transact-sql.md
  docs/framework/network-programming/interpreting-network-tracing.md
  docs/framework/network-programming/peer-to-peer-collaboration.md
  docs/framework/windows-workflow-foundation/persistence-database-schema.md
  docs/fsharp/style-guide/formatting.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/security-warnings.md
Labels: dotnet-framework/prod, dotnet-fsharp/prod, dotnet-networking/tech, dotnet-wf/tech, dotnet-fundamentals/prod, dotnet-data/tech, dotnet-azure/prod, community-contribution

#37892 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37894 Trim incompatabilies
  docs/core/deploying/trimming/incompatibilities.md
Labels: dotnet-fundamentals/prod

#37906 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37910 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37913 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37908 Fix typo in specifications.md
  docs/csharp/language-reference/specifications.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#37915 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37819 .NET enterprise chat app
  docs/azure/TOC.yml
  docs/azure/ai/get-started-app-chat-template.md
  docs/azure/media/get-started-app-chat-template/browser-chat-developer-settings-chat-pane.png
  docs/azure/media/get-started-app-chat-template/browser-chat-initial-answer-citation-highlighted.png
  docs/azure/media/get-started-app-chat-template/browser-chat-initial-answer.png
  docs/azure/media/get-started-app-chat-template/browser-chat-with-your-data.png
  docs/azure/media/get-started-app-chat-template/github-codespace-dashboard.png
  docs/azure/media/get-started-app-chat-template/github-codespace-delete.png
  docs/azure/media/get-started-app-chat-template/github-create-codespace.png
  docs/azure/media/get-started-app-chat-template/open-terminal-option.png
  docs/azure/media/get-started-app-chat-template/reopen-local-command-palette.png
  docs/azure/media/get-started-app-chat-template/simple-architecture-diagram.png
Labels: dotnet-azure/prod

#37917 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37890 SendFile breaking change
  docs/core/compatibility/8.0.md
  docs/core/compatibility/networking/8.0/sendfile-connectionless.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#37897 fix: Update ide0036.md code example
  docs/fundamentals/code-analysis/style-rules/ide0036.md
Labels: dotnet-fundamentals/prod, community-contribution

#37904 Fix typos in source-generation.md
  docs/standard/serialization/system-text-json/source-generation.md
Labels: dotnet-fundamentals/prod, community-contribution

#37889 System.Windows.Extensions dependency breaking change
  docs/core/compatibility/8.0.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/windows-forms/8.0/extensions-package-deps.md
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#37891 glob the C# 12 speclets
  docfx.json
Labels: okr-health

#37911 Remove react-redux section
  docs/core/tools/dotnet-new-sdk-templates.md
  docs/core/tools/dotnet-new.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, okr-health

#37920 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37921 Ai chat app fix
  docs/azure/ai/get-started-app-chat-template.md
Labels: dotnet-azure/prod

#37926 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37922 updated screenshot
  docs/azure/media/get-started-app-chat-template/github-create-codespace.png
Labels: dotnet-azure/prod

#37927 Implicit global using breaking change
  docs/core/compatibility/8.0.md
  docs/core/compatibility/sdk/8.0/implicit-global-using-netfx.md
  docs/core/compatibility/sdk/8.0/version-requirements.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#37886 Update integration-event-based-microservice-communications.md
  docs/architecture/microservices/multi-container-microservice-net-applications/integration-event-based-microservice-communications.md
Labels: dotnet-architecture/prod, microservices/tech, community-contribution

#37916 Replace 'Reach out' phrase with 'see'-based for `Access modifiers` page
  docs/csharp/programming-guide/classes-and-structs/access-modifiers.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution, okr-health

#37930 remove redundant lang version note
  docs/csharp/whats-new/tutorials/static-virtual-interface-members.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech, community-contribution

#37978 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37928 Add BinaryFormatter alternatives
  docs/core/compatibility/serialization/8.0/binaryformatter-disabled.md
Labels: dotnet-fundamentals/prod

#37821 Fixes GitHub issue #29260 - Metrics instrumenttypes ObservableCounter and ObservableGauge thread safety?
  docs/core/diagnostics/metrics-instrumentation.md
Labels: dotnet-fundamentals/prod, community-contribution

#37794 Addresses dotnet/docs issue 11917.
  docs/framework/configure-apps/file-schema/application-settings-schema.md
Labels: dotnet-framework/prod, community-contribution, okr-health

#37980 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37976 Update Java link that changed
  docs/azure/ai/get-started-app-chat-template.md
Labels: dotnet-azure/prod

#37983 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37982 SDK breaking changes
  docs/core/compatibility/8.0.md
  docs/core/compatibility/sdk/8.0/source-link.md
  docs/core/compatibility/sdk/8.0/unlisted-versions.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#37986 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37931 Update instrument order in built-in-metrics-aspnetcore.md
  docs/core/diagnostics/built-in-metrics-aspnetcore.md
Labels: dotnet-fundamentals/prod

#37990 Augment CS0523
  docs/csharp/language-reference/compiler-messages/cs0523.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#37988 Core libraries breaking changes
  docs/core/compatibility/8.0.md
  docs/core/compatibility/core-libraries/8.0/enumerable-sum.md
  docs/core/compatibility/core-libraries/8.0/processstartinfo-windowstyle.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#37994 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37912 Update trimming limitations
  docs/core/deploying/trimming/incompatibilities.md
Labels: dotnet-fundamentals/prod

#37996 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37998 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38000 Add PublishSelfContained props
  docs/core/compatibility/8.0.md
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/prod

#38007 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38001 Runtimeconfig template
  docs/core/runtime-config/compilation.md
  docs/core/runtime-config/garbage-collector.md
  docs/core/runtime-config/globalization.md
  docs/core/runtime-config/includes/runtimehostconfigurationoption.md
  docs/core/runtime-config/index.md
  docs/core/runtime-config/networking.md
  docs/core/runtime-config/threading.md
  docs/core/runtime-config/wpf.md
Labels: dotnet-fundamentals/prod

#38010 Old term MSIL changed to CIL
  docs/csharp/whats-new/tutorials/primary-constructors.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech, community-contribution, okr-health

#38011 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38014 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38004 Mention DOTNET_SKIP_FIRST_TIME_EXPERIENCE being unsupported
  docs/core/tools/dotnet-environment-variables.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, community-contribution, okr-health

#38015 Fix description of satellite assembly load algorithm
  docs/core/dependency-loading/loading-resources.md
Labels: dotnet-fundamentals/prod

#38016 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38021 Rename TOC node "HTTP client factory"
  docs/fundamentals/networking/http/http-overview.md
  docs/fundamentals/networking/http/httpclient-guidelines.md
  docs/fundamentals/networking/http/httpclient.md
  docs/fundamentals/toc.yml
Labels: dotnet-networking/tech, dotnet-fundamentals/prod

#38009 cleanup TOC nodes
  docs/csharp/toc.yml
Labels: dotnet-csharp/prod

#38027 Update fsharp-interactive-options.md
  docs/fsharp/language-reference/fsharp-interactive-options.md
Labels: dotnet-fsharp/prod, community-contribution

#38029 Move explanatory comments from code snippets to their articles
  docs/csharp/linq/create-a-nested-group.md
  docs/csharp/linq/group-query-results.md
  docs/csharp/linq/group-results-by-contiguous-keys.md
  docs/csharp/linq/handle-exceptions-in-query-expressions.md
  docs/csharp/linq/perform-custom-join-operations.md
  docs/csharp/linq/perform-grouped-joins.md
  docs/csharp/linq/query-expression-basics.md
  docs/csharp/linq/return-a-query-from-a-method.md
  samples/snippets/csharp/concepts/linq/LinqSamples/Basics.cs
  samples/snippets/csharp/concepts/linq/LinqSamples/CustomJoins.cs
  samples/snippets/csharp/concepts/linq/LinqSamples/Exceptions.cs
  samples/snippets/csharp/concepts/linq/LinqSamples/GroupByContiguousKeys.cs
  samples/snippets/csharp/concepts/linq/LinqSamples/GroupJoins.cs
  samples/snippets/csharp/concepts/linq/LinqSamples/GroupQueryResults.cs
  samples/snippets/csharp/concepts/linq/LinqSamples/NestedGroups.cs
  samples/snippets/csharp/concepts/linq/LinqSamples/ReturnQueryFromMethod.cs
Labels: dotnet-csharp/prod, csharp-linq/tech, community-contribution

#38036 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38008 Add IDE0290
  docs/csharp/programming-guide/classes-and-structs/instance-constructors.md
  docs/fundamentals/code-analysis/style-rules/ide0290.md
  docs/fundamentals/code-analysis/style-rules/index.md
  docs/fundamentals/code-analysis/style-rules/language-rules.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, dotnet-fundamentals/prod

#38035 Remove outdated -all argument to gcroot
  docs/core/diagnostics/debug-memory-leak.md
Labels: dotnet-fundamentals/prod, community-contribution

#38037 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38039 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38041 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38044 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#37523 Documentation for Azure Application Code Assessment Tool
  docs/azure/TOC.yml
  docs/azure/migration/appcat/app-code-assessment-toolkit.md
  docs/azure/migration/appcat/dotnet-cli.md
  docs/azure/migration/appcat/install.md
  docs/azure/migration/appcat/interpret-results.md
  docs/azure/migration/appcat/media/cli/cli-analyze-project-selection.png
  docs/azure/migration/appcat/media/cli/cli-report-format-selection.png
  docs/azure/migration/appcat/media/cli/cli-report-name.png
  docs/azure/migration/appcat/media/cli/cli-scan-finished.png
  docs/azure/migration/appcat/media/cli/cli-select-dependencies.png
  docs/azure/migration/appcat/media/report/aggregate-dashboard.png
  docs/azure/migration/appcat/media/report/dashboard.png
  docs/azure/migration/appcat/media/report/project-component.png
  docs/azure/migration/appcat/media/report/project-dashboard-details.png
  docs/azure/migration/appcat/media/report/project-issue.png
  docs/azure/migration/appcat/media/report/projects-overview.png
  docs/azure/migration/appcat/media/vs/analyze-project-component-selection.png
  docs/azure/migration/appcat/media/vs/analyze-project-selection.png
  docs/azure/migration/appcat/media/vs/analyze-results.png
  docs/azure/migration/appcat/media/vs/appcat-start-screen.png
  docs/azure/migration/appcat/media/vs/replatform.png
  docs/azure/migration/appcat/visual-studio.md
Labels: dotnet-azure/prod, community-contribution

#38046 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36841 Added signature validation section to install scripts docs
  docs/core/tools/dotnet-install-script.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#38053 Add .NET Aspire
  docs/architecture/dapr-for-net-developers/observability.md
  docs/breadcrumb/toc.yml
  docs/core/diagnostics/index.md
  docs/core/diagnostics/logging-tracing.md
  docs/core/diagnostics/specialized-diagnostics-overview.md
  docs/core/extensions/service-discovery.md
  docs/core/introduction.md
  docs/core/whats-new/dotnet-8.md
  docs/fundamentals/toc.yml
  docs/index.yml
  docs/orleans/toc.yml
Labels: dotnet-architecture/prod, dotnet-fundamentals/prod

#38026 Update Interactive programming with F#
  docs/fsharp/tools/fsharp-interactive/index.md
Labels: dotnet-fsharp/prod, community-contribution

#38034 Retire the C# 9 "What's new" tutorials and article.
  .openpublishing.redirection.csharp.json
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/cqrs-microservice-reads.md
  docs/core/deploying/trimming/incompatibilities.md
  docs/core/extensions/custom-configuration-provider.md
  docs/core/extensions/logging.md
  docs/core/tutorials/top-level-templates.md
  docs/core/whats-new/dotnet-5.md
  docs/csharp/language-reference/configure-language-version.md
  docs/csharp/toc.yml
  docs/csharp/tutorials/records.md
  docs/csharp/tutorials/snippets/record-types/DailyTemperature.cs
  docs/csharp/tutorials/snippets/record-types/DegreeDays.cs
  docs/csharp/tutorials/snippets/record-types/InterimSteps.cs
  docs/csharp/tutorials/snippets/record-types/Program.cs
  docs/csharp/tutorials/snippets/record-types/record-types.csproj
  docs/csharp/tutorials/snippets/top-level-statements/Program.cs
  docs/csharp/tutorials/snippets/top-level-statements/ProgramSnippets.cs
  docs/csharp/tutorials/snippets/top-level-statements/Properties/launchSettings.json
  docs/csharp/tutorials/snippets/top-level-statements/TopLevelStatements.csproj
  docs/csharp/tutorials/snippets/top-level-statements/Utilities.cs
  docs/csharp/tutorials/snippets/top-level-statements/UtilitiesPassOne.cs
  docs/csharp/tutorials/top-level-statements.md
  docs/csharp/whats-new/csharp-9.md
  docs/csharp/whats-new/csharp-version-history.md
  docs/csharp/whats-new/snippets/whats-new-csharp9/FitAndFinish.cs
  docs/csharp/whats-new/snippets/whats-new-csharp9/NewCsharp9.csproj
  docs/csharp/whats-new/snippets/whats-new-csharp9/PositionalRecords.cs
  docs/csharp/whats-new/snippets/whats-new-csharp9/Program.cs
  docs/csharp/whats-new/snippets/whats-new-csharp9/RecordsExamples.cs
  docs/csharp/whats-new/snippets/whats-new-csharp9/WeatherObservation.cs
  docs/devops/create-dotnet-github-action.md
  docs/fundamentals/code-analysis/style-rules/ide0078-ide0260.md
  docs/fundamentals/code-analysis/style-rules/ide0083.md
  docs/fundamentals/code-analysis/style-rules/ide0084.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, csharp-whats-new/tech

#38055 Tweak constants programming guide
  docs/csharp/programming-guide/classes-and-structs/constants.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#38038 Remove -all option from gcroot
  docs/standard/assembly/unloadability.md
Labels: dotnet-fundamentals/prod

#38061 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38059 Uncomment blog links
  docs/core/whats-new/dotnet-8.md
Labels: dotnet-fundamentals/prod

#38064 Fix link to .NET Aspire Service Discovery
  docs/core/extensions/service-discovery.md
Labels: dotnet-fundamentals/prod

#38012 Add documentation for new .NET 8 diagnostic configuration
  docs/core/docker/build-container.md
  docs/core/tools/dotnet-environment-variables.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, dotnet-docker/tech

#38013 Update csharp-12.md
  docs/csharp/whats-new/csharp-12.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech

#38058 Remove C# 9 "new" references.
  docs/csharp/delegates-overview.md
  docs/csharp/fundamentals/coding-style/coding-conventions.md
  docs/csharp/fundamentals/functional/discards.md
  docs/csharp/fundamentals/object-oriented/index.md
  docs/csharp/fundamentals/program-structure/index.md
  docs/csharp/fundamentals/program-structure/main-command-line.md
  docs/csharp/fundamentals/program-structure/top-level-statements.md
  docs/csharp/fundamentals/tutorials/pattern-matching.md
  docs/csharp/fundamentals/types/index.md
  docs/csharp/index.yml
  docs/csharp/language-reference/attributes/general.md
  docs/csharp/language-reference/builtin-types/integral-numeric-types.md
  docs/csharp/language-reference/builtin-types/record.md
  docs/csharp/language-reference/builtin-types/reference-types.md
  docs/csharp/language-reference/builtin-types/struct.md
  docs/csharp/language-reference/compiler-messages/constructor-errors.md
  docs/csharp/language-reference/compiler-messages/warning-waves.md
  docs/csharp/language-reference/compiler-options/language.md
  docs/csharp/language-reference/configure-language-version.md
  docs/csharp/language-reference/includes/langversion-table.md
  docs/csharp/language-reference/keywords/init.md
  docs/csharp/language-reference/keywords/override.md
  docs/csharp/language-reference/keywords/static.md
  docs/csharp/language-reference/operators/conditional-operator.md
  docs/csharp/language-reference/operators/delegate-operator.md
  docs/csharp/language-reference/operators/equality-operators.md
  docs/csharp/language-reference/operators/is.md
  docs/csharp/language-reference/operators/lambda-expressions.md
  docs/csharp/language-reference/operators/new-operator.md
  docs/csharp/language-reference/operators/patterns.md
  docs/csharp/language-reference/operators/with-expression.md
  docs/csharp/language-reference/statements/declarations.md
  docs/csharp/language-reference/statements/iteration-statements.md
  docs/csharp/language-reference/statements/selection-statements.md
  docs/csharp/language-reference/tokens/interpolated.md
  docs/csharp/language-reference/unsafe-code.md
  docs/csharp/linq/handle-null-values-in-query-expressions.md
  docs/csharp/misc/cs1900.md
  docs/csharp/programming-guide/classes-and-structs/auto-implemented-properties.md
  docs/csharp/programming-guide/classes-and-structs/instance-constructors.md
  docs/csharp/programming-guide/classes-and-structs/local-functions.md
  docs/csharp/programming-guide/classes-and-structs/properties.md
  docs/csharp/programming-guide/classes-and-structs/using-properties.md
  docs/csharp/programming-guide/delegates/index.md
  docs/csharp/programming-guide/generics/constraints-on-type-parameters.md
  docs/csharp/programming-guide/statements-expressions-operators/how-to-define-value-equality-for-a-type.md
  docs/csharp/tutorials/records.md
  docs/csharp/whats-new/tutorials/patterns-objects.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, csharp-language-reference/tech, csharp-whats-new/tech, csharp-diagnostics/tech, csharp-advanced-concepts/tech, csharp-linq/tech

#38068 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38075 Update F# coding conventions.md
  docs/fsharp/style-guide/conventions.md
Labels: dotnet-fsharp/prod, community-contribution

#38255 Add C# 12 to the version table
  docs/csharp/language-reference/includes/default-langversion-table.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#38252 Resilience page
  docs/core/resilience/index.md
  docs/core/resilience/snippets/resilience/Program.cs
  docs/core/resilience/snippets/resilience/resilience.csproj
Labels: dotnet-fundamentals/prod, community-contribution

#38260 Add a missing parenthesis
  docs/fundamentals/code-analysis/style-rules/language-rules.md
Labels: dotnet-fundamentals/prod, community-contribution

#38056 Tidy up `csrefKeywordsLiteral` snippet
  samples/snippets/csharp/VS_Snippets_VBCSharp/csrefKeywordsLiteral/CS/csrefKeywordsLiteral.cs
Labels: community-contribution

#38268 Fix grammatical error
  docs/core/resilience/http-resilience.md
Labels: dotnet-fundamentals/prod, community-contribution

#38269 Reinstate carets
  docs/core/whats-new/dotnet-8.md
Labels: dotnet-fundamentals/prod

#38281 Fix xref warnings
  docs/core/diagnostics/diagnostic-exception-summary.md
  docs/core/diagnostics/diagnostic-health-checks.md
  docs/core/diagnostics/diagnostic-resource-monitoring.md
  docs/core/resilience/index.md
Labels: dotnet-fundamentals/prod

#38278 Update how-to-determine-which-versions-are-installed.md
  docs/framework/migration-guide/how-to-determine-which-versions-are-installed.md
Labels: dotnet-framework/prod, dotnet-appcompat/tech

#38280 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38273 Add preprocessor symbol NET8_0_OR_GREATER of .NET 8.0.
  includes/preprocessor-symbols.md
Labels: community-contribution

#38284 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38263 remove a typo
  docs/csharp/tour-of-csharp/program-building-blocks.md
Labels: dotnet-csharp/prod, csharp-get-started/tech, community-contribution

#37984 Document DOTNET_LAUNCH_PROFILE
  docs/core/tools/dotnet-environment-variables.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#37993 Use Collection expressions for all language reference samples
  docs/csharp/language-reference/builtin-types/snippets/shared/ArrayExample.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/Arrays.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/Collections.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/RecordType.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/RetrievingArrayElements.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/ValueTuples.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/VoidType.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/builtin-types.csproj
  docs/csharp/language-reference/operators/snippets/shared/AssignmentOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/AwaitOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/BitwiseAndShiftOperators.cs
  docs/csharp/language-reference/operators/snippets/shared/ConditionalOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/IsOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/LambdaOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/MemberAccessOperators.cs
  docs/csharp/language-reference/operators/snippets/shared/MemberAccessOperators2.cs
  docs/csharp/language-reference/operators/snippets/shared/NameOfOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/NewOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/NullCoalescingOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/Overview.cs
  docs/csharp/language-reference/operators/snippets/shared/StackallocOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/TypeTestingAndConversionOperators.cs
  docs/csharp/language-reference/operators/stackalloc.md
  docs/csharp/language-reference/snippets/unsafe-code/FixedKeywordExamples.cs
  docs/csharp/language-reference/snippets/unsafe-code/FunctionPointers.cs
  docs/csharp/language-reference/snippets/unsafe-code/Program.cs
  docs/csharp/language-reference/snippets/unsafe-code/UnsafeCodePointers.csproj
  docs/csharp/language-reference/statements/snippets/declarations/NumberStore.cs
  docs/csharp/language-reference/statements/snippets/declarations/ReferenceVariables.cs
  docs/csharp/language-reference/statements/snippets/declarations/declarations.csproj
  docs/csharp/language-reference/statements/snippets/fixed/Program.cs
  docs/csharp/language-reference/statements/snippets/fixed/fixed.csproj
  docs/csharp/language-reference/statements/snippets/iteration-statements/ForeachStatement.cs
  docs/csharp/language-reference/statements/snippets/iteration-statements/iteration-statements.csproj
  docs/csharp/language-reference/statements/snippets/jump-statements/BreakStatement.cs
  docs/csharp/language-reference/statements/snippets/jump-statements/GotoStatement.cs
  docs/csharp/language-reference/statements/snippets/jump-statements/ReturnStatement.cs
  docs/csharp/language-reference/statements/snippets/jump-statements/jump-statements.csproj
  docs/csharp/language-reference/statements/snippets/lock/Program.cs
  docs/csharp/language-reference/statements/snippets/lock/lock.csproj
  docs/csharp/language-reference/statements/snippets/yield/GetEnumeratorExample.cs
  docs/csharp/language-reference/statements/snippets/yield/Program.cs
  docs/csharp/language-reference/statements/snippets/yield/yield.csproj
  samples/snippets/csharp/VS_Snippets_VBCSharp/CsCsrefQueryKeywords/CS/Common.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/CsCsrefQueryKeywords/CS/From.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/CsCsrefQueryKeywords/CS/Group.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/CsCsrefQueryKeywords/CS/Into.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/CsCsrefQueryKeywords/CS/Join.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/CsCsrefQueryKeywords/CS/Let.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/CsCsrefQueryKeywords/CS/Orderby.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/CsCsrefQueryKeywords/CS/Select.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/CsCsrefQueryKeywords/CS/Where.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/CsCsrefQueryKeywords/CS/csquerykeywords.csproj
  samples/snippets/csharp/concepts/methods/byref108.cs
  samples/snippets/csharp/concepts/methods/methods.csproj
  samples/snippets/csharp/concepts/methods/params75.cs
  samples/snippets/csharp/concepts/methods/return44.cs
  samples/snippets/csharp/concepts/methods/returnarray1.cs
  samples/snippets/csharp/concepts/methods/swap107.cs
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#38287 Fix the configuration source gen diagnostic message
  docs/fundamentals/syslib-diagnostics/source-generator-overview.md
  docs/fundamentals/syslib-diagnostics/syslib1100-1118.md
Labels: dotnet-fundamentals/prod

#38288 --use-controllers is available since .NET 8 SDK
  docs/core/tools/dotnet-new-sdk-templates.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, okr-health

#38291 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38294 Note location of include files
  docs/core/tutorials/netcore-hosting.md
Labels: dotnet-fundamentals/prod

#38303 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38270 Add CA1856 and CA1857
  docs/fundamentals/code-analysis/overview.md
  docs/fundamentals/code-analysis/quality-rules/ca1856.md
  docs/fundamentals/code-analysis/quality-rules/ca1857.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/performance-warnings.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod

#38286 Add CA2021
  docs/fundamentals/code-analysis/overview.md
  docs/fundamentals/code-analysis/quality-rules/ca2021.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/reliability-warnings.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod

#38289 Add CA2261
  docs/fundamentals/code-analysis/overview.md
  docs/fundamentals/code-analysis/quality-rules/ca2261.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/usage-warnings.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod

#37985 PublishTrimmed and reflection-based serialization
  docs/core/compatibility/8.0.md
  docs/core/compatibility/serialization/8.0/publishtrimmed.md
  docs/core/compatibility/toc.yml
  docs/core/deploying/trimming/prepare-libraries-for-trimming.md
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#38295 Add CA1510, CA1511, CA1512, CA1513
  docs/fundamentals/code-analysis/quality-rules/ca1510.md
  docs/fundamentals/code-analysis/quality-rules/ca1511.md
  docs/fundamentals/code-analysis/quality-rules/ca1512.md
  docs/fundamentals/code-analysis/quality-rules/ca1513.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/maintainability-warnings.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod

#38307 Added links to blog posts
  docs/fsharp/index.yml
  docs/fsharp/whats-new/fsharp-7.md
  docs/fsharp/whats-new/fsharp-8.md
Labels: dotnet-fsharp/prod

#38300 Fix sample code for CA1859
  docs/fundamentals/code-analysis/quality-rules/ca1859.md
Labels: dotnet-fundamentals/prod, community-contribution

#38309 fix incorrect JsonWebToken class name
  docs/core/compatibility/aspnet-core/8.0/securitytoken-events.md
Labels: dotnet-fundamentals/prod, community-contribution

#38267 Update remaining updateeachrelease docs
  docfx.json
  docs/core/deploying/creating-nuget-packages.md
  docs/core/deploying/deploy-with-cli.md
  docs/core/install/how-to-detect-installed-versions.md
  docs/core/install/linux-ubuntu.md
  docs/core/introduction.md
  docs/core/porting/versioning-sdk-msbuild-vs.md
  docs/core/project-sdk/msbuild-props-desktop.md
  docs/core/project-sdk/msbuild-props.md
  docs/core/sdk.md
  docs/fundamentals/code-analysis/overview.md
  docs/fundamentals/implementations.md
  docs/standard/net-standard.md
  docs/welcome.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#38312 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38320 Update x-plat cryptography to cover tvOS and MacCatalyst
  docs/standard/security/cross-platform-cryptography.md
Labels: dotnet/prod, dotnet-security/tech, dotnet-fundamentals/prod

#38076 Update component-design-guidelines.md
  docs/fsharp/style-guide/component-design-guidelines.md
Labels: dotnet-fsharp/prod, community-contribution

#38304 Update BankAccount.cs class name to match the documentation - CheckAccount => CheckingAccount
  docs/csharp/whats-new/tutorials/snippets/primary-constructors/BankAccount.cs
Labels: dotnet-csharp/prod, csharp-whats-new/tech, community-contribution

#38337 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38306 Remove "introduced version" column
  docs/core/compatibility/6.0.md
  docs/core/compatibility/8.0.md
Labels: dotnet-fundamentals/prod

#38341 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38327 Fix `JsonWebToken` typo
  docs/core/compatibility/8.0.md
  docs/core/compatibility/aspnet-core/8.0/securitytoken-events.md
  docs/core/compatibility/toc.yml
  docs/whats-new/dotnet-docs-mod2.md
Labels: dotnet-fundamentals/prod, community-contribution

#38326 Include `sealed` keyword in access modifiers page
  docs/csharp/programming-guide/classes-and-structs/access-modifiers.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#38339 Link to the `task-type like` types in `CS1983` page
  docs/csharp/language-reference/compiler-messages/cs1983.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#38344 Add CA1862 and CA1863
  docs/fundamentals/code-analysis/quality-rules/ca1862.md
  docs/fundamentals/code-analysis/quality-rules/ca1863.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/performance-warnings.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod

#38335 Updates to Azure AI-related content
  .openpublishing.publish.config.json
  docs/azure/TOC.yml
  docs/azure/ai/azure-ai-for-dotnet-developers.md
  docs/azure/ai/get-started-app-chat-template.md
Labels: dotnet-azure/prod, community-contribution

#38405 Update Program.cs
  docs/standard/datetime/snippets/how-to-use-dateonly-timeonly/csharp/Program.cs
Labels: dotnet-fundamentals/prod, community-contribution

#38355 Fix macos supported releases table
  docs/core/install/macos.md
  docs/core/install/remove-runtime-sdk-versions.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#38361 Clarify installation location in dotnet-tool-install.md
  docs/core/tools/dotnet-tool-install.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, community-contribution

#38403 Fix more broken links
  docs/azure/sdk/resource-management.md
  docs/core/diagnostics/distributed-tracing-instrumentation-walkthroughs.md
  docs/whats-new/dotnet-docs-mod0.md
Labels: dotnet-fundamentals/prod, dotnet-azure/prod

#38415 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38428 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit
