Repository dotnet/docs, pull requests merged in 2023-12, with the labels that each got.

#38542 Fix spelling and grammar errors
  docs/core/whats-new/dotnet-8.md
Labels: dotnet-fundamentals/prod, community-contribution, okr-health

#38545 Remove preview language
  docs/core/diagnostics/snippets/exception-summary/exception-summary.csproj
  docs/core/diagnostics/snippets/health-checks/health-checks.csproj
  docs/core/diagnostics/snippets/lifetime-health-checks/lifetime-health-checks.csproj
  docs/core/diagnostics/snippets/resource-monitoring/resource-monitoring.csproj
  docs/core/resilience/snippets/http-resilience/http-resilience.csproj
  docs/csharp/fundamentals/functional/snippets/deconstructing-tuples/deconstruction.csproj
  docs/csharp/fundamentals/functional/snippets/discards/discards.csproj
  docs/csharp/fundamentals/functional/snippets/patterns/patterns.csproj
  docs/csharp/fundamentals/types/snippets/classes/classes.csproj
  docs/csharp/language-reference/attributes/snippets/attributes.csproj
  docs/csharp/language-reference/builtin-types/snippets/shared/builtin-types.csproj
  docs/csharp/language-reference/compiler-messages/snippets/UsingDirectives/UsingDirective.csproj
  docs/csharp/language-reference/keywords/snippets/keywords.csproj
  docs/csharp/language-reference/operators/snippets/lambda-expressions/lambda-expressions.csproj
  docs/csharp/language-reference/operators/snippets/patterns/patterns.csproj
  docs/csharp/language-reference/operators/snippets/shared/operators.csproj
  docs/csharp/language-reference/snippets/unsafe-code/UnsafeCodePointers.csproj
  docs/csharp/language-reference/statements/snippets/declarations/declarations.csproj
  docs/csharp/language-reference/statements/snippets/fixed/fixed.csproj
  docs/csharp/language-reference/statements/snippets/iteration-statements/iteration-statements.csproj
  docs/csharp/language-reference/statements/snippets/jump-statements/jump-statements.csproj
  docs/csharp/language-reference/statements/snippets/lock/lock.csproj
  docs/csharp/language-reference/statements/snippets/yield/yield.csproj
  docs/csharp/linq/snippets/perform-left-outer-joins/perform-left-outer-joins.csproj
  docs/csharp/programming-guide/classes-and-structs/snippets/instance-constructors/widgets/widgets.csproj
  docs/csharp/programming-guide/classes-and-structs/snippets/properties/properties.csproj
  docs/csharp/programming-guide/concepts/linq/snippets/extensions/linq.csproj
  docs/csharp/programming-guide/concepts/linq/snippets/partition/partition.csproj
  docs/csharp/programming-guide/concepts/linq/snippets/projection/projection.csproj
  docs/csharp/programming-guide/concepts/linq/snippets/set-operators/set-operators.csproj
  docs/csharp/programming-guide/generics/snippets/generics.csproj
  docs/csharp/programming-guide/indexers/snippets/DayOfWeekIndexers/DayOfWeekIndexers.csproj
  docs/csharp/programming-guide/indexers/snippets/StringIndexers/StringIndexers.csproj
  docs/csharp/programming-guide/indexers/snippets/Temperatures/Temperatures.csproj
  docs/csharp/programming-guide/strings/snippets/StringExamples.csproj
  docs/csharp/programming-guide/types/snippets/index/index.csproj
  docs/csharp/snippets/properties/properties.csproj
  docs/csharp/tour-of-csharp/snippets/shared/TourOfCsharp.csproj
  docs/csharp/tutorials/snippets/RangesIndexes/RangesIndexes.csproj
  docs/csharp/whats-new/tutorials/snippets/primary-constructors/primary-constructors.csproj
  docs/csharp/whats-new/tutorials/snippets/staticinterfaces/staticinterfaces.csproj
  samples/snippets/csharp/VS_Snippets_VBCSharp/CsCsrefQueryKeywords/CS/csquerykeywords.csproj
  samples/snippets/csharp/VS_Snippets_VBCSharp/CsLINQQuantifier/CS/Project.csproj
  samples/snippets/csharp/VS_Snippets_VBCSharp/CsLINQSetOperation/CS/Project.csproj
  samples/snippets/csharp/VS_Snippets_VBCSharp/csLINQJoinOperation/CS/Sandbox.csproj
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideExtensionMethods/cs/extensionmethods.csproj
  samples/snippets/csharp/concepts/linq/LinqSamples.Test/LinqSamples.Test.csproj
  samples/snippets/csharp/programming-guide/classes-and-structs/ExpressionBodiedMembers/ExpressionBodiedMembers.csproj
  samples/snippets/csharp/programming-guide/dynamic-linq-expression-trees/dynamic-linq-expression-trees.csproj
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, dotnet-networking/tech, csharp-language-reference/tech, csharp-whats-new/tech, csharp-diagnostics/tech, csharp-get-started/tech, csharp-linq/tech, dotnet-fundamentals/prod, okr-health

#38548 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38537 Update strongnaming guidance
  docs/standard/library-guidance/strong-naming.md
Labels: dotnet-fundamentals/prod

#38556 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38533 Add assembly validation and MSBuild props
  .openpublishing.redirection.fundamentals.json
  docs/core/project-sdk/msbuild-props.md
  docs/fundamentals/apicompat/assembly-validation.md
  docs/fundamentals/apicompat/diagnostic-ids.md
  docs/fundamentals/apicompat/global-tool.md
  docs/fundamentals/apicompat/overview.md
  docs/fundamentals/apicompat/package-validation/baseline-version-validator.md
  docs/fundamentals/apicompat/package-validation/compatible-framework-in-package-validator.md
  docs/fundamentals/apicompat/package-validation/compatible-framework-validator.md
  docs/fundamentals/apicompat/package-validation/overview.md
  docs/navigate/tools-diagnostics/toc.yml
  docs/whats-new/dotnet-7-docs.md
Labels: dotnet-fundamentals/prod, okr-health

#38562 Update unit-testing-with-nunit.md
  docs/core/testing/unit-testing-with-nunit.md
Labels: dotnet-fundamentals/prod, community-contribution

#36962 Add instructions to mock extension methods for resource manager SDKs
  docs/azure/sdk/snippets/unit-testing/ResourceManager/ArmClient.cs
  docs/azure/sdk/snippets/unit-testing/ResourceManager/ArmCollection.cs
  docs/azure/sdk/snippets/unit-testing/ResourceManager/ArmResource.cs
  docs/azure/sdk/snippets/unit-testing/ResourceManager/ComputeExtensions.cs
  docs/azure/sdk/snippets/unit-testing/ResourceManager/Moq/MockComputeResourceGroupMockingExtension_TestSnippets_Moq.cs
  docs/azure/sdk/snippets/unit-testing/ResourceManager/NSubstitute/MockComputeResourceGroupMockingExtension_TestSnippets_NSubstitute.cs
  docs/azure/sdk/snippets/unit-testing/ResourceManager/NonLibrary/MockMockableComputeResourceGroupResource.cs
  docs/azure/sdk/snippets/unit-testing/ResourceManager/ResourceGroupResource.cs
  docs/azure/sdk/snippets/unit-testing/ResourceManager/ResourceManagerCodeStructure.cs
  docs/azure/sdk/snippets/unit-testing/ResourceManager/VirtualMachineCollection.cs
  docs/azure/sdk/snippets/unit-testing/ResourceManager/VirtualMachineResource.cs
  docs/azure/sdk/unit-testing-mocking.md
Labels: dotnet-azure/prod, community-contribution

#37635 Couple changes to the cross-compilation doc
  docs/core/deploying/native-aot/cross-compile.md
Labels: dotnet-fundamentals/prod

#38512 Add note that .NET 8 may not yet be available
  docs/core/install/linux-fedora.md
  docs/core/install/linux-rhel.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod, okr-health

#38425 Fix typos of Register-ArgumentCompleter parameters
  docs/core/tools/enable-tab-autocomplete.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, community-contribution

#38564 Respond to feedback (API compat)
  docs/fundamentals/apicompat/assembly-validation.md
  docs/fundamentals/apicompat/overview.md
  docs/fundamentals/apicompat/package-validation/baseline-version-validator.md
  docs/fundamentals/apicompat/package-validation/compatible-framework-in-package-validator.md
  docs/fundamentals/apicompat/package-validation/compatible-framework-validator.md
  docs/fundamentals/apicompat/package-validation/overview.md
Labels: dotnet-fundamentals/prod

#37471 Add link to new EPA docs for Oct 2023 Windows Server release
  docs/framework/wcf/feature-details/extended-protection-for-authentication-overview.md
Labels: dotnet-framework/prod, dotnet-wcf/tech, community-contribution

#38573 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36375 Update dotnet-trace.md with clreventlevel values
  docs/core/diagnostics/dotnet-trace.md
Labels: dotnet-fundamentals/prod, community-contribution

#38574 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38577 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36526 System.Text.Json: Add stack round-tripping footnotes for System.Collections.Generic.Stack<T> and System.Collections.Stack
  docs/standard/serialization/system-text-json/converters-how-to.md
  docs/standard/serialization/system-text-json/supported-collection-types.md
Labels: dotnet-fundamentals/prod, community-contribution

#38538 Document perfmap settings
  docs/core/diagnostics/debug-highcpu.md
  docs/core/runtime-config/debugging-profiling.md
Labels: dotnet-fundamentals/prod

#38571 Updated nunit csprojs to net8.0
  docs/core/testing/snippets/order-unit-tests/csharp/NUnit.TestProject/NUnit.Project.csproj
  samples/snippets/core/testing/unit-testing-using-nunit/csharp/PrimeService.Tests/PrimeService.Tests.csproj
Labels: dotnet-fundamentals/prod, community-contribution

#38583 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38525 Removing -recursive flag
  docs/core/additional-tools/dotnet-coverage.md
Labels: dotnet-fundamentals/prod, community-contribution

#38588 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38584 Compare `init` and readonly, expand on `required` comments
  docs/csharp/language-reference/keywords/init.md
  docs/csharp/language-reference/keywords/snippets/InitExample4.cs
  docs/csharp/language-reference/keywords/snippets/InitNullablityExample.cs
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#38365 .NET 8 can't be installed through the install script on RHEL 7.
  docs/core/install/linux-rhel.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod, community-contribution

#38356 Update linux-ubuntu.md
  docs/core/install/linux-ubuntu.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod, community-contribution

#38590 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38585 Minimal APIs breaking change
  docs/core/compatibility/8.0.md
  docs/core/compatibility/aspnet-core/8.0/antiforgery-checks.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#38640 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38641 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38642 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38576 Doc - Azure Open AI Getting Started - YouTube link
  docs/azure/ai/get-started-app-chat-template.md
Labels: dotnet-azure/prod, community-contribution

#38655 lint fix
  docs/azure/ai/get-started-app-chat-template.md
Labels: dotnet-azure/prod

#38657 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38072 Update cross-plat targeting
  docs/standard/library-guidance/cross-platform-targeting.md
  docs/standard/net-standard.md
Labels: dotnet-fundamentals/prod

#38253 Link to relevant architectural style
  docs/core/extensions/queue-service.md
Labels: dotnet-fundamentals/prod, community-contribution

#38254 Link to relevant design patterns and idempotence challenges
  docs/core/resilience/index.md
Labels: dotnet-fundamentals/prod, community-contribution

#38298 Add relevant links earlier in the content
  docs/architecture/microservices/architect-microservice-container-applications/asynchronous-message-based-communication.md
Labels: dotnet-architecture/prod, microservices/tech, community-contribution

#38323 Added links to relevant content
  docs/architecture/microservices/multi-container-microservice-net-applications/microservice-application-design.md
Labels: dotnet-architecture/prod, microservices/tech, community-contribution

#38324 Added links to relevant resources
  docs/architecture/microservices/multi-container-microservice-net-applications/integration-event-based-microservice-communications.md
Labels: dotnet-architecture/prod, microservices/tech, community-contribution

#38325 Link to relevant additional resource/webinar
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/index.md
Labels: dotnet-architecture/prod, microservices/tech, community-contribution

#38666 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38673 Update standard links
  docs/csharp/language-reference/compiler-options/language.md
  docs/csharp/language-reference/specifications.md
  docs/csharp/toc.yml
  docs/fundamentals/standards.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, dotnet-fundamentals/prod

#38586 Create initial page for `CS8352` error with description and examples
  docs/csharp/language-reference/compiler-messages/cs8352.md
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution, okr-health

#38546 Add guidance for debug packages
  docs/core/distribution-packaging.md
Labels: dotnet-fundamentals/prod

#38654 Add documentation for CA1515
  docs/fundamentals/code-analysis/quality-rules/ca1515.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/maintainability-warnings.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod, community-contribution

#38680 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38668 .NET monitor images - breaking change
  docs/core/compatibility/8.0.md
  docs/core/compatibility/deployment/8.0/monitor-image.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#38694 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38698 Update service-discovery.md
  docs/core/extensions/service-discovery.md
Labels: dotnet-fundamentals/prod, community-contribution

#38582 Revert collection expressions
  docs/csharp/language-reference/operators/snippets/shared/NewOperator.cs
Labels: dotnet-csharp/prod, csharp-language-reference/tech, okr-health

#38693 nullable-references.md - improve confusing `NotNullWhen` example
  docs/csharp/nullable-references.md
Labels: dotnet-csharp/prod, community-contribution

#38688 Regex with range breaking change
  docs/core/compatibility/7.0.md
  docs/core/compatibility/core-libraries/7.0/regex-ranges.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 7

#38686 Refactor the page of `CS1929`
  docs/csharp/misc/cs1929.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech, community-contribution

#38696 Clarification for AnalysisMode
  docs/fundamentals/code-analysis/overview.md
Labels: dotnet-fundamentals/prod, community-contribution

#38706 Disambiguate host builders.
  docs/core/extensions/caching.md
  docs/core/extensions/dependency-injection-usage.md
  docs/core/extensions/dependency-injection.md
  docs/core/extensions/generic-host.md
  docs/core/extensions/localization.md
  docs/core/extensions/logging.md
Labels: dotnet-fundamentals/prod, okr-health

#38699 Create intial page for `CS8355`
  docs/csharp/language-reference/compiler-messages/cs8355.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#38674 update our readme
  README.md
  issues-policy.md
Labels: okr-experience, okr-health

#38722 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38664 Add netsdk1208-1213
  docs/core/tools/sdk-errors/index.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#38662 Add blazor template, update all to 8.0
  docs/core/tools/dotnet-new-sdk-templates.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#38724 Update csharp-12.md
  docs/csharp/whats-new/csharp-12.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech

#38713 Update garbage-collector.md for CPU groups and affinitze ranges
  docs/core/runtime-config/garbage-collector.md
Labels: dotnet-fundamentals/prod

#38726 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38728 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38730 Update recommended netfx version
  docs/standard/library-guidance/cross-platform-targeting.md
Labels: dotnet-fundamentals/prod, okr-health

#38715 Add IDE0300 - IDE0305
  docs/fundamentals/code-analysis/style-rules/csharp-formatting-options.md
  docs/fundamentals/code-analysis/style-rules/ide0028.md
  docs/fundamentals/code-analysis/style-rules/ide0300.md
  docs/fundamentals/code-analysis/style-rules/ide0301.md
  docs/fundamentals/code-analysis/style-rules/ide0302.md
  docs/fundamentals/code-analysis/style-rules/ide0303.md
  docs/fundamentals/code-analysis/style-rules/ide0304.md
  docs/fundamentals/code-analysis/style-rules/ide0305.md
  docs/fundamentals/code-analysis/style-rules/index.md
  docs/fundamentals/code-analysis/style-rules/language-rules.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod

#38684 Fix typo in dependency-injection.md
  docs/core/extensions/dependency-injection.md
Labels: dotnet-fundamentals/prod, community-contribution

#38725 Remove unnecessary zone pivot groups metadata
  docs/standard/serialization/system-text-json/deserialization.md
  docs/standard/serialization/system-text-json/handle-overflow.md
  docs/standard/serialization/system-text-json/how-to.md
  docs/standard/serialization/system-text-json/ignore-properties.md
  docs/standard/serialization/system-text-json/invalid-json.md
Labels: dotnet-fundamentals/prod

#38750 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38754 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38753 Consolidate some breaking changes
  .openpublishing.redirection.core.json
  docs/core/compatibility/6.0.md
  docs/core/compatibility/aspnet-core/6.0/nullable-reference-type-annotations-changed.md
  docs/core/compatibility/core-libraries/6.0/nullable-ref-type-annotation-changes.md
  docs/core/compatibility/core-libraries/6.0/nullable-ref-type-annotations-added.md
  docs/core/compatibility/core-libraries/6.0/parameter-name-changes.md
  docs/core/compatibility/core-libraries/6.0/xmlresolver-nullable.md
  docs/core/compatibility/extensions/8.0/activatorutilities-createinstance-null-provider.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#38749 Fix typo
  docs/csharp/language-reference/operators/lambda-expressions.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, okr-health

#38760 Fix PKV diagnostic ids
  docs/fundamentals/apicompat/diagnostic-ids.md
Labels: dotnet-fundamentals/prod

#38764 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38570 Remove extra documentation line for `circularBuffer`.
  docs/core/diagnostics/microsoft-diagnostics-netcore-client.md
Labels: dotnet-fundamentals/prod, community-contribution

#38761 Clarify L2 identifier names
  docs/csharp/fundamentals/coding-style/identifier-names.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#38772 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38773 Wrap `M1` and `M2` methods in `C` class to avoid compilation errors in examples of `IDE0002`
  docs/fundamentals/code-analysis/style-rules/ide0002.md
Labels: dotnet-fundamentals/prod, community-contribution

#38763 Reflect in the documentation that the LOHThreshold has to be less than region_size
  docs/core/runtime-config/garbage-collector.md
Labels: dotnet-fundamentals/prod

#38777 Expand on source link breaking change
  docs/core/compatibility/sdk/8.0/source-link.md
  docs/core/whats-new/dotnet-8.md
Labels: dotnet-fundamentals/prod

#38780 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38794 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38796 Edit pass, TOC, clean up, restructure, etc.
  docs/core/testing/index.md
  docs/core/testing/unit-testing-mstest-runner-exit-codes.md
  docs/core/testing/unit-testing-mstest-runner-extensions.md
  docs/core/testing/unit-testing-mstest-runner-intro.md
  docs/core/testing/unit-testing-mstest-runner-telemetry.md
  docs/core/testing/unit-testing-mstest-runner-vs-vstest.md
  docs/navigate/devops-testing/index.yml
  docs/navigate/devops-testing/toc.yml
Labels: dotnet-fundamentals/prod, okr-experience

#38798 AOAI getting started - link to RAG conceptual
  docs/azure/ai/get-started-app-chat-template.md
Labels: dotnet-azure/prod, community-contribution

#38757 Add note about limitation of fast-path serialization
  docs/standard/serialization/system-text-json/source-generation.md
Labels: dotnet-fundamentals/prod

#38765 Add F# to IDE0005 and IDE0059
  docs/fundamentals/code-analysis/style-rules/ide0001.md
  docs/fundamentals/code-analysis/style-rules/ide0005.md
  docs/fundamentals/code-analysis/style-rules/ide0059.md
  docs/fundamentals/code-analysis/style-rules/media/Screenshot 2023-12-15 100044.png
  docs/fundamentals/code-analysis/style-rules/media/fsharp-simplify-names.png
  docs/zone-pivot-groups.yml
Labels: dotnet-fundamentals/prod

#38805 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38814 Various fixes for MSTest runner docs
  docs/core/testing/unit-testing-mstest-runner-extensions.md
  docs/core/testing/unit-testing-mstest-runner-intro.md
Labels: dotnet-fundamentals/prod

#38807 [F#] Update parameters-and-arguments.md: named argument syntax for property setters also applies to methods
  docs/fsharp/language-reference/parameters-and-arguments.md
Labels: dotnet-fsharp/prod, community-contribution

#38751 Clarify that Windows ASP.NET Core runtime doesn't include the .NET runtime.
  docs/core/install/includes/windows-runtime-table.md
  docs/core/install/windows.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod, okr-health

#38813 Create initial page for `CS8422`
  docs/csharp/language-reference/compiler-messages/cs8422.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#38815 Update content a bit to address #38789
  docs/core/docker/publish-as-container.md
  docs/core/docker/snippets/8.0/Worker/DotNet.ContainerImage.csproj
Labels: dotnet-fundamentals/prod, dotnet-docker/tech

#38802 Address incorrect API usage for keyed services.
  docs/core/extensions/dependency-injection.md
Labels: dotnet-fundamentals/prod, okr-health

#38801 Update generic-host.md
  docs/core/extensions/generic-host.md
Labels: dotnet-fundamentals/prod, okr-health

#38831 Fix typo WindowsStyle -> WindowStyle
  docs/core/compatibility/8.0.md
  docs/core/compatibility/core-libraries/8.0/processstartinfo-windowstyle.md
  docs/core/compatibility/toc.yml
  docs/whats-new/dotnet-docs-mod2.md
Labels: dotnet-fundamentals/prod, community-contribution

#38835 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38838 Update httpclient-factory.md
  docs/core/extensions/httpclient-factory.md
Labels: dotnet-networking/tech, dotnet-fundamentals/prod, community-contribution

#38834 Add note to `CS0577` for finalizer as term for destructor
  docs/csharp/misc/cs0577.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech, community-contribution, okr-health

#38840 Correct mistake in CS0523
  docs/csharp/language-reference/compiler-messages/cs0523.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#38843 fix snippet to match surrounding text
  docs/csharp/linq/get-started/snippets/SnippetApp/WriteLinqQueries.cs
Labels: dotnet-csharp/prod, csharp-linq/tech, community-contribution, okr-health

#38797 Document compiler errors and warnings for method parameter / argument mismatch
  .openpublishing.redirection.csharp.json
  docs/csharp/language-reference/compiler-messages/constructor-errors.md
  docs/csharp/language-reference/compiler-messages/cs1739.md
  docs/csharp/language-reference/compiler-messages/cs1740.md
  docs/csharp/language-reference/compiler-messages/cs1742.md
  docs/csharp/language-reference/compiler-messages/cs8964.md
  docs/csharp/language-reference/compiler-messages/parameter-argument-mismatch.md
  docs/csharp/language-reference/compiler-messages/ref-modifiers-errors.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/cs0182.md
  docs/csharp/misc/cs0591.md
  docs/csharp/misc/cs0599.md
  docs/csharp/misc/cs0617.md
  docs/csharp/misc/cs0633.md
  docs/csharp/misc/cs0643.md
  docs/csharp/misc/cs0655.md
  docs/csharp/misc/cs0839.md
  docs/csharp/misc/cs1016.md
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
  docs/whats-new/dotnet-docs-mod0.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, :checkered_flag: Release: .NET 7

#38850 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38833 Additional MSTest runner info
  docs/core/testing/unit-testing-mstest-runner-extensions.md
  docs/core/testing/unit-testing-mstest-runner-intro.md
Labels: dotnet-fundamentals/prod

#38863 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38862 Upcase .NET
  docs/fsharp/language-reference/generics/statically-resolved-type-parameters.md
Labels: dotnet-fsharp/prod, community-contribution

#38875 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38877 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38869 Fix typo in publishing-with-visual-studio.md
  docs/core/tutorials/publishing-with-visual-studio.md
Labels: dotnet-fundamentals/prod, community-contribution

#38881 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38707 Update linux-alpine.md
  docs/core/install/linux-alpine.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod, community-contribution

#38790 Adjust docs for built-in System.Net metrics
  docs/core/diagnostics/built-in-metrics-system-net.md
Labels: dotnet-fundamentals/prod

#38839 Fix CA1513 example
  docs/fundamentals/code-analysis/quality-rules/ca1513.md
Labels: dotnet-fundamentals/prod, community-contribution

#38844 add note for IDE0052 rule
  docs/fundamentals/code-analysis/categories.md
Labels: dotnet-fundamentals/prod, community-contribution

#38867 Proper .NET casing to all, and to all a good night...
  docs/azure/dotnet-dev-env-checklist.md
  docs/azure/sdk/resource-management.md
  docs/orleans/deployment/docker-deployment.md
  docs/orleans/grains/index.md
Labels: dotnet-azure/prod

#38800 Update dotnet-restore-audit.md
  docs/core/compatibility/sdk/8.0/dotnet-restore-audit.md
Labels: dotnet-fundamentals/prod, community-contribution

#38854 `--controllers` -> `-controllers`
  docs/core/tools/dotnet-new-sdk-templates.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, community-contribution

#38804 Update linux.md,you forgot
  docs/core/install/linux.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod, community-contribution

#38913 Fix typography at sample code in fsharp snippets
  samples/snippets/fsharp/getting-started/pig-latin.fs
  samples/snippets/fsharp/getting-started/to-pig-latin.fsx
Labels: community-contribution

#38912 Extract remarks for System.Globalization*
  docs/fundamentals/runtime-libraries/includes/c-and-posix-cultures.md
  docs/fundamentals/runtime-libraries/includes/context.md
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/CultureInfo/csharp/appdomainex1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/CultureInfo/csharp/asyncculture1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/CultureInfo/csharp/asyncculture3.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/CultureInfo/csharp/change1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/CultureInfo/csharp/changeui1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/CultureInfo/csharp/current1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/CultureInfo/csharp/currentui1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/CultureInfo/csharp/defaultthread1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/CultureInfo/csharp/getcultures1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/CultureInfo/csharp/project.csproj
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/CultureInfo/csharp/setthreads1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/DateTimeFormatInfo/csharp/create1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/DateTimeFormatInfo/csharp/create2.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/DateTimeFormatInfo/csharp/example1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/DateTimeFormatInfo/csharp/example2.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/DateTimeFormatInfo/csharp/example3.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/DateTimeFormatInfo/csharp/example4.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/DateTimeFormatInfo/csharp/example5.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/DateTimeFormatInfo/csharp/formatprovider1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/DateTimeFormatInfo/csharp/instantiate2.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/DateTimeFormatInfo/csharp/instantiate3.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/DateTimeFormatInfo/csharp/instantiate6.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/DateTimeFormatInfo/csharp/parse1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/DateTimeFormatInfo/csharp/parse2.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/DateTimeFormatInfo/csharp/project.csproj
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/DateTimeFormatInfo/csharp/serialize1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/DateTimeFormatInfo/csharp/serialize2.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/NumberFormatInfo/csharp/customize_currency1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/NumberFormatInfo/csharp/customize_ssn1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/NumberFormatInfo/csharp/formatprovider1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/NumberFormatInfo/csharp/instantiate1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/NumberFormatInfo/csharp/instantiate2.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/NumberFormatInfo/csharp/instantiate3.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/NumberFormatInfo/csharp/instantiate4.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/NumberFormatInfo/csharp/instantiate5.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/NumberFormatInfo/csharp/instantiate6.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/NumberFormatInfo/csharp/parse1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/NumberFormatInfo/csharp/parsepersisted.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/NumberFormatInfo/csharp/parseuser1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/NumberFormatInfo/csharp/project.csproj
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/NumberFormatInfo/csharp/properties1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/NumberFormatInfo/csharp/properties2.cs
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/RegionInfo/csharp/Project.csproj
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/RegionInfo/csharp/propertyvalues1.cs
  docs/fundamentals/runtime-libraries/system-globalization-compareinfo.md
  docs/fundamentals/runtime-libraries/system-globalization-compareoptions.md
  docs/fundamentals/runtime-libraries/system-globalization-cultureandregioninfobuilder.md
  docs/fundamentals/runtime-libraries/system-globalization-cultureinfo.md
  docs/fundamentals/runtime-libraries/system-globalization-datetimeformatinfo.md
  docs/fundamentals/runtime-libraries/system-globalization-numberformatinfo.md
  docs/fundamentals/runtime-libraries/system-globalization-persiancalendar.md
  docs/fundamentals/runtime-libraries/system-globalization-regioninfo.md
  docs/fundamentals/runtime-libraries/system-globalization-sortkey.md
  docs/fundamentals/runtime-libraries/system-globalization-sortversion.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#38917 Fix build suggestions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
  docs/core/compatibility/interop/8.0/jsfunctionbinding-constructor.md
  docs/core/testing/unit-testing-mstest-runner-vs-vstest.md
  docs/csharp/language-reference/compiler-options/language.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, dotnet-fundamentals/prod, dotnet-azure/prod

#38902 Remove snap reference from include file
  docs/core/install/includes/linux-install-package-manager-x64-vs-arm.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod, okr-health

#38901 Clarify linux portions of http3/libmsquic
  docs/core/extensions/httpclient-http3.md
  docs/fundamentals/networking/quic/quic-overview.md
Labels: dotnet-networking/tech, dotnet-fundamentals/prod, okr-health

#38849 Add note about linux and IPC
  docs/standard/io/how-to-use-named-pipes-for-network-interprocess-communication.md
Labels: dotnet-fundamentals/prod

#38920 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#38880 Update ScopedBackgroundService
  docs/core/extensions/scoped-service.md
  docs/core/extensions/snippets/workers/scoped-service/ScopedBackgroundService.cs
Labels: dotnet-fundamentals/prod, community-contribution

#38919 Make it clear you can install multiple versions
  docs/core/install/how-to-detect-installed-versions.md
  docs/core/install/linux-scripted-manual.md
  docs/core/install/macos-notarization-issues.md
  docs/core/install/macos.md
  docs/core/runtime-discovery/troubleshoot-app-launch.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod, okr-coverage

#38921 Prune the list of update sources for package mixup example command
  docs/core/install/linux-package-mixup.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#38922 Add clarifications around Arm packages and Ubuntu
  docs/core/install/includes/linux-install-package-manager-x64-vs-arm-ubuntu.md
  docs/core/install/includes/linux-install-package-manager-x64-vs-arm.md
  docs/core/install/linux-ubuntu-2304.md
  docs/core/install/linux-ubuntu-2310.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod, okr-health
