Repository dotnet/docs, pull requests merged in 2023-05, with the labels that each got.

#35194 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35188 Typo fix - update to chaining tasks using continuation tasks article
  docs/standard/parallel-programming/chaining-tasks-by-using-continuation-tasks.md
Labels: dotnet-fundamentals/prod, community-contribution

#35121 Update RFC 2617 hyperlink in selecting-a-credential-type.md
  docs/framework/wcf/feature-details/selecting-a-credential-type.md
Labels: dotnet-framework/prod, dotnet-wcf/tech, community-contribution

#34941 Fix wrong startup project
  docs/framework/wcf/how-to-use-a-wcf-client.md
Labels: dotnet-framework/prod, dotnet-wcf/tech, community-contribution

#35079 Fixed typo for ASP.NET Core .NET 8 Preview 2 blog link
  docs/core/whats-new/dotnet-8.md
Labels: dotnet-fundamentals/prod, community-contribution

#35068 Fix typo in configuration.md
  docs/core/extensions/configuration.md
Labels: dotnet-fundamentals/prod, community-contribution

#34033 Update Async_EndBlock.cs
  samples/snippets/csharp/VS_Snippets_CLR/AsyncDesignPattern/CS/Async_EndBlock.cs
Labels: community-contribution

#34898 Annotate R formatter example for datetime
  docs/standard/base-types/standard-date-and-time-format-strings.md
  docs/standard/datetime/choosing-between-datetime.md
Labels: dotnet-fundamentals/prod, okr-health

#34895 Update when to suppress for CA2254
  docs/core/extensions/logging.md
  docs/fundamentals/code-analysis/quality-rules/ca2254.md
Labels: dotnet-fundamentals/prod

#35178 Update sos-debugging-extension.md
  docs/core/diagnostics/sos-debugging-extension.md
Labels: dotnet-fundamentals/prod, community-contribution

#35088 Expand p/invoke diagnostic messages
  docs/fundamentals/syslib-diagnostics/syslib1050-1069.md
Labels: dotnet-fundamentals/prod

#35124 Fix nullability warnings (/machine-learning and /standard)
  docs/machine-learning/tutorials/github-issue-classification.md
  docs/machine-learning/tutorials/phone-calls-anomaly-detection.md
  docs/machine-learning/tutorials/snippets/github-issue-classification/csharp/GitHubIssueClassification.csproj
  docs/machine-learning/tutorials/snippets/github-issue-classification/csharp/GitHubIssueData.cs
  docs/machine-learning/tutorials/snippets/github-issue-classification/csharp/Program.cs
  docs/machine-learning/tutorials/snippets/image-classification/csharp/Program.cs
  docs/machine-learning/tutorials/snippets/image-classification/csharp/TransferLearningTF.csproj
  docs/machine-learning/tutorials/snippets/iris-clustering/csharp/IrisData.cs
  docs/machine-learning/tutorials/snippets/iris-clustering/csharp/IrisFlowerClustering.csproj
  docs/machine-learning/tutorials/snippets/iris-clustering/csharp/Program.cs
  docs/machine-learning/tutorials/snippets/movie-recommendation/csharp/MovieRecommendation.csproj
  docs/machine-learning/tutorials/snippets/phone-calls-anomaly-detection/csharp/PhoneCallsAnomalyDetection.csproj
  docs/machine-learning/tutorials/snippets/phone-calls-anomaly-detection/csharp/PhoneCallsData.cs
  docs/machine-learning/tutorials/snippets/phone-calls-anomaly-detection/csharp/Program.cs
  docs/machine-learning/tutorials/snippets/predict-prices/csharp/TaxiFarePrediction.csproj
  docs/machine-learning/tutorials/snippets/predict-prices/csharp/TaxiTrip.cs
  docs/machine-learning/tutorials/snippets/sales-anomaly-detection/csharp/ProductSalesAnomalyDetection.csproj
  docs/machine-learning/tutorials/snippets/sales-anomaly-detection/csharp/ProductSalesData.cs
  docs/machine-learning/tutorials/snippets/sales-anomaly-detection/csharp/Program.cs
  docs/machine-learning/tutorials/snippets/sentiment-analysis/csharp/SentimentAnalysis.csproj
  docs/machine-learning/tutorials/snippets/sentiment-analysis/csharp/SentimentData.cs
  docs/machine-learning/tutorials/snippets/text-classification-tf/csharp/Program.cs
  docs/machine-learning/tutorials/snippets/text-classification-tf/csharp/TextClassificationTF.csproj
  docs/standard/assembly/snippets/identify/csharp/AssemblySnippets.csproj
  docs/standard/io/snippets/how-to-use-named-pipes-for-network-interprocess-communication/csharp/NamedPipeClientStream_ImpersonationSample/NamedPipeClientStream_ImpersonationSample.csproj
  docs/standard/io/snippets/how-to-use-named-pipes-for-network-interprocess-communication/csharp/NamedPipeClientStream_ImpersonationSample/Program.cs
  docs/standard/io/snippets/how-to-use-named-pipes-for-network-interprocess-communication/csharp/NamedPipeServerStream_ImpersonationSample/NamedPipeServerStream_ImpersonationSample.csproj
  docs/standard/io/snippets/how-to-use-named-pipes-for-network-interprocess-communication/csharp/NamedPipeServerStream_ImpersonationSample/Program.cs
  docs/standard/serialization/snippets/binaryformatter-event-source/csharp/Program.cs
  docs/standard/serialization/snippets/binaryformatter-event-source/csharp/binaryformatter-event-source.csproj
Labels: dotnet-ml/prod, dotnet-fundamentals/prod

#35212 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35213 Fix minimum .NET Framework version
  docs/standard/serialization/system-text-json/overview.md
Labels: dotnet-fundamentals/prod, okr-health

#35215 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34294 Add section about primary constructor to F# style guide
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod, community-contribution

#35207 Add the link to the local functions spec
  docs/csharp/programming-guide/classes-and-structs/local-functions.md
Labels: community-contribution

#35210 Update cs0507.md
  docs/csharp/language-reference/compiler-messages/cs0507.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#35223 Update async.md
  docs/fsharp/tutorials/async.md
Labels: dotnet-fsharp/prod

#35224 Improve comment about task vs. async perf
  docs/fsharp/whats-new/fsharp-6.md
Labels: dotnet-fsharp/prod, community-contribution

#35222 Update csharp-12.md
  docs/csharp/whats-new/csharp-12.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech, community-contribution

#35171 Expand warnings in compare-strings.md
  docs/csharp/how-to/compare-strings.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#35197 Update enable-tab-autocomplete.md
  docs/core/tools/enable-tab-autocomplete.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, community-contribution

#35225 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35198 Update enable-tab-autocomplete.md
  docs/core/tools/enable-tab-autocomplete.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, community-contribution

#35230 Update Class1.cs so snippets 14 and 15 match docs
  samples/snippets/csharp/VS_Snippets_VBCSharp/CsLINQGettingStarted/CS/Class1.cs
Labels: community-contribution

#35233 Minor fix to samples in "Cancel list of tasks"
  docs/csharp/asynchronous-programming/cancel-an-async-task-or-a-list-of-tasks.md
Labels: dotnet-csharp/prod, csharp-async/tech, community-contribution, okr-health

#35227 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35208 Update for Windows 11 22H2
  docs/framework/get-started/system-requirements.md
Labels: dotnet-framework/prod

#35211 .1xx sdk feature band extended support policy update.
  docs/core/porting/versioning-sdk-msbuild-vs.md
Labels: dotnet-fundamentals/prod, community-contribution

#35248 Two ASP.NET breaking changes for .NET 8
  docs/core/compatibility/8.0.md
  docs/core/compatibility/aspnet-core/7.0/api-controller-action-parameters-di.md
  docs/core/compatibility/aspnet-core/7.0/default-authentication-scheme.md
  docs/core/compatibility/aspnet-core/7.0/https-binding-kestrel.md
  docs/core/compatibility/aspnet-core/7.0/libuv-transport-dll-removed.md
  docs/core/compatibility/aspnet-core/7.0/microsoft-aspnetcore-mvc-core-log-event-ids.md
  docs/core/compatibility/aspnet-core/7.0/microsoft-data-sqlclient-updated-to-4-0-1.md
  docs/core/compatibility/aspnet-core/7.0/middleware-null-requestdelegate.md
  docs/core/compatibility/aspnet-core/7.0/mvc-empty-body-model-binding.md
  docs/core/compatibility/aspnet-core/7.0/signalr-hub-method-parameters-di.md
  docs/core/compatibility/aspnet-core/8.0/concurrencylimitermiddleware-obsolete.md
  docs/core/compatibility/aspnet-core/8.0/problemdetails-custom-converters.md
  docs/core/compatibility/toc.yml
  docs/csharp/language-reference/compiler-messages/cs0618.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#35249 Add security note to WinRes tool
  docs/csharp/advanced-topics/reflection-and-attributes/generics-and-reflection.md
  docs/csharp/language-reference/compiler-messages/cs1704.md
  docs/csharp/programming-guide/generics/differences-between-cpp-templates-and-csharp-generics.md
  docs/csharp/programming-guide/generics/generic-type-parameters.md
  docs/csharp/tour-of-csharp/index.md
  docs/framework/data/adonet/dataset-datatable-dataview/security-guidance.md
  docs/framework/tools/winres-exe-windows-forms-resource-editor.md
  docs/framework/wcf/feature-details/how-to-call-operations-asynchronously-using-a-channel-factory.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/usage-warnings.md
  docs/orleans/resources/nuget-packages.md
  docs/standard/glossary.md
  docs/standard/serialization/system-text-json/converters-how-to.md
Labels: dotnet-framework/prod, dotnet-csharp/prod, csharp-fundamentals/tech, csharp-language-reference/tech, csharp-diagnostics/tech, csharp-get-started/tech, dotnet-wcf/tech, dotnet-fundamentals/prod, dotnet-data/tech

#35006 Fix Quickstart sample
  docs/orleans/quickstarts/snippets/url-shortener/orleansurlshortener/Program.cs
Labels: community-contribution

#34933 Fix incorrect endpoint
  docs/framework/wcf/how-to-host-and-run-a-basic-wcf-service.md
Labels: dotnet-framework/prod, dotnet-wcf/tech, community-contribution

#35259 Fix typo
  docs/csharp/language-reference/builtin-types/ref-struct.md
Labels: community-contribution

#35256 ConvertTo breaking change
  docs/core/compatibility/8.0.md
  docs/core/compatibility/globalization/8.0/typeconverter-cultureinfo.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#34892 Clarify named capture group order
  docs/standard/base-types/grouping-constructs-in-regular-expressions.md
Labels: dotnet-fundamentals/prod

#35261 Change comment referring to named client
  docs/core/extensions/snippets/http/typed/Program.cs
Labels: dotnet-fundamentals/prod, community-contribution

#35273 Update object-detection-onnx.md
  docs/machine-learning/tutorials/object-detection-onnx.md
Labels: dotnet-ml/prod, community-contribution

#35268 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35220 Update channel-credentials.md
  docs/architecture/grpc-for-wcf-developers/channel-credentials.md
Labels: dotnet-architecture/prod, grpc/tech

#35260 add diagnostic page with lambda expressions warnings
  .openpublishing.redirection.csharp.json
  docs/csharp/language-reference/compiler-messages/cs0834.md
  docs/csharp/language-reference/compiler-messages/cs8153.md
  docs/csharp/language-reference/compiler-messages/cs8155.md
  docs/csharp/language-reference/compiler-messages/cs8175.md
  docs/csharp/language-reference/compiler-messages/lambda-expression-errors.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/language-reference/operators/lambda-expressions.md
  docs/csharp/misc/cs0748.md
  docs/csharp/misc/cs0835.md
  docs/csharp/misc/cs0837.md
  docs/csharp/misc/cs1621.md
  docs/csharp/misc/cs1628.md
  docs/csharp/misc/cs1632.md
  docs/csharp/misc/cs1673.md
  docs/csharp/misc/cs1686.md
  docs/csharp/misc/cs1706.md
  docs/csharp/misc/cs1951.md
  docs/csharp/misc/cs1952.md
  docs/csharp/misc/cs1953.md
  docs/csharp/programming-guide/classes-and-structs/local-functions.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, :checkered_flag: Release: .NET 8

#35279 Declaration statements: add examples and mention local constants
  docs/csharp/language-reference/statements/declarations.md
  docs/csharp/language-reference/statements/snippets/declarations/Declaration.cs
  docs/csharp/toc.yml
Labels: community-contribution

#35280 C# const keyword reference: minor edits
  docs/csharp/language-reference/keywords/const.md
Labels: community-contribution

#35265 ObserverManager.UnSubscribe has only observers id as argument.
  docs/orleans/grains/observers.md
Labels: community-contribution

#35275 Update serialization-customization.md
  docs/orleans/host/configuration-guide/serialization-customization.md
Labels: okr-health

#35281 Refactor CS0433 description to better present the Aliases solution
  docs/csharp/language-reference/compiler-messages/cs0433.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution

#35284 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35286 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35255 Updates to the Orleans Streaming overview page
  docs/orleans/streaming/index.md
Labels: okr-coverage

#35257 Orleans article: Grains Extensions
  docs/orleans/grains/grain-extensions.md
  docs/orleans/grains/index.md
  docs/orleans/toc.yml
Labels: okr-coverage

#35274 Address concerns with local development for clustering.
  docs/orleans/host/configuration-guide/local-development-configuration.md
Labels: okr-health

#35296 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35305 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35304 fix commandline/model-binding.md update references of 8 -> 16
  docs/standard/commandline/dependency-injection.md
  docs/standard/commandline/model-binding.md
Labels: dotnet-fundamentals/prod, community-contribution

#35051 Add details about nonbacktracking
  docs/core/whats-new/dotnet-7.md
  docs/standard/base-types/regular-expression-options.md
Labels: dotnet-fundamentals/prod

#35308 Update csharp-formatting-options.md
  docs/fundamentals/code-analysis/style-rules/csharp-formatting-options.md
Labels: dotnet-fundamentals/prod, community-contribution

#25659 CA1861 Analyzer and code fix documentation: AvoidConstArrays
  docs/fundamentals/code-analysis/quality-rules/ca1861.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/performance-warnings.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: :construction: Hold for related PR, dotnet-fundamentals/prod

#35299 eBook Update: modernize desktop -> net 7
  docs/architecture/modernize-desktop/deploy-modern-applications.md
  docs/architecture/modernize-desktop/example-migration.md
  docs/architecture/modernize-desktop/index.md
  docs/architecture/modernize-desktop/media/example-migration-core/migrate-in-settings.png
  docs/architecture/modernize-desktop/media/windows-migration/xaml-islands.png
  docs/architecture/modernize-desktop/migrate-modern-applications.md
  docs/architecture/modernize-desktop/whats-new-dotnet.md
  docs/architecture/modernize-desktop/why-modern-applications.md
  docs/architecture/modernize-desktop/windows-migration.md
Labels: dotnet-architecture/prod, community-contribution

#35312 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35315 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35319 Make it clearer that the `QueueBackgroundWorkItem` API wasn't ported
  docs/core/extensions/queue-service.md
Labels: dotnet-fundamentals/prod, okr-coverage

#35332 Revised var reference
  docs/csharp/language-reference/statements/declarations.md
  docs/csharp/language-reference/statements/snippets/declarations/ImplicitlyTyped.cs
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#35336 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35266 Update linux release info
  docs/core/install/linux-alpine.md
  docs/core/install/linux-centos.md
  docs/core/install/linux-debian.md
  docs/core/install/linux-fedora.md
  docs/core/install/linux-opensuse.md
  docs/core/install/linux-package-mixup.md
  docs/core/install/linux-rhel.md
  docs/core/install/linux-sles.md
  docs/core/install/linux-ubuntu-2304.md
  docs/core/install/linux-ubuntu.md
  docs/core/install/linux.md
  docs/fundamentals/toc.yml
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#35337 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35339 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35325 Update documentation for .NET 8 Preview 4 SDK
  docs/core/tools/nuget-signed-package-verification.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#35340 Update What's new in .NET 8 for Preview 4
  docs/core/tools/dotnet-build.md
  docs/core/tools/dotnet-new.md
  docs/core/tools/dotnet-restore.md
  docs/core/whats-new/dotnet-8.md
  docs/standard/serialization/system-text-json/how-to.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#35112 Add preview docs for Alias any type
  .openpublishing.redirection.csharp.json
  docs/csharp/language-reference/builtin-types/snippets/shared/BoolType.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/CharType.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/EnumType.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/NativeIntegerTypes.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/NullableReferenceTypes.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/NullableValueTypes.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/Program.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/RecordType.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/StructType.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/ValueTuples.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/ValueTypes.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/VoidType.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/builtin-types.csproj
  docs/csharp/language-reference/builtin-types/value-tuples.md
  docs/csharp/language-reference/compiler-messages/cs7000.md
  docs/csharp/language-reference/compiler-messages/snippets/UsingDirectives/MyClass.cs
  docs/csharp/language-reference/compiler-messages/snippets/UsingDirectives/Program.cs
  docs/csharp/language-reference/compiler-messages/snippets/UsingDirectives/UnsafeExamples.cs
  docs/csharp/language-reference/compiler-messages/snippets/UsingDirectives/UsingDirective.csproj
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/language-reference/compiler-messages/using-directive-errors.md
  docs/csharp/language-reference/keywords/using-directive.md
  docs/csharp/misc/cs0105.md
  docs/csharp/misc/cs0138.md
  docs/csharp/misc/cs0431.md
  docs/csharp/misc/cs0432.md
  docs/csharp/misc/cs0440.md
  docs/csharp/misc/cs0576.md
  docs/csharp/misc/cs0687.md
  docs/csharp/misc/cs1529.md
  docs/csharp/misc/cs1537.md
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech

#35217 BinaryFormatter disabled & obsoletion of legacy serialization APIs
  .openpublishing.redirection.core.json
  docs/core/compatibility/5.0.md
  docs/core/compatibility/7.0.md
  docs/core/compatibility/8.0.md
  docs/core/compatibility/core-libraries/8.0/obsolete-apis-with-custom-diagnostics.md
  docs/core/compatibility/serialization/5.0/binaryformatter-serialization-obsolete.md
  docs/core/compatibility/serialization/7.0/binaryformatter-apis-produce-errors.md
  docs/core/compatibility/serialization/7.0/serializationformat-binary.md
  docs/core/compatibility/serialization/8.0/binaryformatter-disabled.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/unsupported-apis.md
  docs/core/deploying/trimming/trimming-options.md
  docs/fundamentals/syslib-diagnostics/obsoletions-overview.md
  docs/fundamentals/syslib-diagnostics/syslib0011.md
  docs/fundamentals/syslib-diagnostics/syslib0038.md
  docs/fundamentals/syslib-diagnostics/syslib0050.md
  docs/fundamentals/syslib-diagnostics/syslib0051.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#35350 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35324 Add compiler messages for primary constructors
  .openpublishing.redirection.csharp.json
  docs/csharp/language-reference/compiler-messages/constructor-errors.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/misc/cs0514.md
  docs/csharp/misc/cs0515.md
  docs/csharp/misc/cs0516.md
  docs/csharp/misc/cs0517.md
  docs/csharp/misc/cs0522.md
  docs/csharp/misc/cs0526.md
  docs/csharp/misc/cs0568.md
  docs/csharp/misc/cs0710.md
  docs/csharp/misc/cs0824.md
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech

#35353 Fix typo, simplify condition
  docs/fsharp/style-guide/conventions.md
Labels: community-contribution

#35346 Add option --create-manifest-if-needed
  docs/core/tools/dotnet-tool-install.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#35390 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35394 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35399 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35402 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35403 Remove Task types feature spec
  .openpublishing.redirection.csharp.json
  docfx.json
  docs/csharp/asynchronous-programming/async-return-types.md
  docs/csharp/toc.yml
Labels: dotnet-csharp/prod, csharp-async/tech

#35405 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35406 Remove perf penalty code for .NET 7+
  docs/standard/serialization/system-text-json/configure-options.md
  docs/standard/serialization/system-text-json/converters-how-to.md
Labels: dotnet-fundamentals/prod

#35411 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35404 Clarify installation location for certmgr.exe
  docs/framework/tools/certmgr-exe-certificate-manager-tool.md
Labels: dotnet-framework/prod, okr-health

#35414 Add post-merge feedback
  docs/core/compatibility/core-libraries/7.0/system-drawing.md
Labels: dotnet-fundamentals/prod

#35417 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35425 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35412 QUIC troubleshooting guide
  docs/fundamentals/networking/quic/quic-troubleshooting.md
  docs/fundamentals/toc.yml
Labels: dotnet-networking/tech, dotnet-fundamentals/prod

#35321 Update the "Use Consul as a membership provider" content
  docs/orleans/deployment/consul-deployment.md
  docs/orleans/deployment/snippets/consul/Silo/Program.cs
  docs/orleans/deployment/snippets/consul/Silo/Properties/launchSettings.json
  docs/orleans/deployment/snippets/consul/Silo/Silo.csproj
Labels: okr-discovery

#35342 Fix Dependency Injection Snippet
  docs/core/extensions/snippets/configuration/console-di/Program.cs
Labels: dotnet-fundamentals/prod, community-contribution

#35435 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35429 Add the upgrade assistant docs for Visual Studio
  .openpublishing.redirection.core.json
  docs/core/porting/media/upgrade-assistant-install/install-prompt.png
  docs/core/porting/media/upgrade-assistant-install/visual-studio-manage-extensions.png
  docs/core/porting/media/upgrade-assistant-overview/visual-studio-upgrade-results.png
  docs/core/porting/media/upgrade-assistant-overview/visual-studio-upgrade-tab.png
  docs/core/porting/media/upgrade-assistant-overview/visual-studio-upgrade.png
  docs/core/porting/upgrade-assistant-aspnetmvc.md
  docs/core/porting/upgrade-assistant-install.md
  docs/core/porting/upgrade-assistant-overview.md
  docs/core/porting/upgrade-assistant-telemetry.md
  docs/core/porting/upgrade-assistant-uwp-framework.md
  docs/core/porting/upgrade-assistant-wcf.md
  docs/core/porting/upgrade-assistant-winforms-framework.md
  docs/core/porting/upgrade-assistant-wpf-framework.md
  docs/navigate/migration-guide/toc.yml
Labels: dotnet-fundamentals/prod

#35439 Remove unsupported zone pivots (serialization)
  docs/core/deploying/trimming/trimming-options.md
  docs/core/extensions/queue-service.md
  docs/core/extensions/scoped-service.md
  docs/core/extensions/timer-service.md
  docs/core/extensions/windows-service.md
  docs/core/extensions/workers.md
  docs/core/tutorials/debugging-with-visual-studio-code.md
  docs/core/tutorials/debugging-with-visual-studio.md
  docs/core/tutorials/library-with-visual-studio-code.md
  docs/core/tutorials/library-with-visual-studio.md
  docs/core/tutorials/publishing-with-visual-studio-code.md
  docs/core/tutorials/publishing-with-visual-studio.md
  docs/core/tutorials/testing-library-with-visual-studio-code.md
  docs/core/tutorials/testing-library-with-visual-studio.md
  docs/core/tutorials/with-visual-studio-code.md
  docs/core/tutorials/with-visual-studio.md
  docs/csharp/asynchronous-programming/start-multiple-async-tasks-and-process-them-as-they-complete.md
  docs/standard/datetime/system-text-json-support.md
  docs/standard/serialization/binaryformatter-security-guide.md
  docs/standard/serialization/index.md
  docs/standard/serialization/system-text-json/configure-options.md
  docs/standard/serialization/system-text-json/converters-how-to.md
  docs/standard/serialization/system-text-json/customize-properties.md
  docs/standard/serialization/system-text-json/handle-overflow.md
  docs/standard/serialization/system-text-json/how-to.md
  docs/standard/serialization/system-text-json/ignore-properties.md
  docs/standard/serialization/system-text-json/immutability.md
  docs/standard/serialization/system-text-json/invalid-json.md
  docs/standard/serialization/system-text-json/migrate-from-newtonsoft.md
  docs/standard/serialization/system-text-json/polymorphism.md
  docs/standard/serialization/system-text-json/preserve-references.md
  docs/standard/serialization/system-text-json/source-generation-modes.md
  docs/standard/serialization/system-text-json/supported-collection-types.md
  docs/standard/serialization/system-text-json/use-dom-utf8jsonreader-utf8jsonwriter.md
  docs/zone-pivot-groups.yml
Labels: dotnet-fundamentals/prod

#35443 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35446 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35447 Add UA CLI area to docs
  docs/core/porting/upgrade-assistant-install.md
  docs/core/porting/upgrade-assistant-overview.md
  docs/core/porting/upgrade-assistant-telemetry.md
  docs/core/porting/upgrade-assistant-uwp-framework.md
  docs/core/porting/upgrade-assistant-wcf.md
  docs/core/porting/upgrade-assistant-winforms-framework.md
  docs/core/porting/upgrade-assistant-wpf-framework.md
  docs/navigate/migration-guide/toc.yml
Labels: dotnet-fundamentals/prod

#35437 Variable naming adds clarity
  docs/standard/parallel-programming/how-to-write-a-parallel-for-loop-with-thread-local-variables.md
  samples/snippets/csharp/VS_Snippets_Misc/tpl_parallel/cs/forandforeach_simple.cs
  samples/snippets/visualbasic/VS_Snippets_Misc/tpl_parallel/vb/forwiththreadlocal.vb
Labels: dotnet-fundamentals/prod, okr-experience

#35454 Feedback for upgrade-assistant-overview.md
  docs/core/porting/upgrade-assistant-overview.md
Labels: dotnet-fundamentals/prod

#35451 Typo fix
  docs/core/porting/upgrade-assistant-uwp-framework.md
  docs/core/porting/upgrade-assistant-wcf.md
  docs/core/porting/upgrade-assistant-winforms-framework.md
  docs/core/porting/upgrade-assistant-wpf-framework.md
Labels: dotnet-fundamentals/prod, community-contribution

#35457 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35458 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35459 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35415 Add new option to CA1812 and CA1852
  docs/fundamentals/code-analysis/code-quality-rule-options.md
  docs/fundamentals/code-analysis/includes/ignore-ivt.md
  docs/fundamentals/code-analysis/quality-rules/ca1812.md
  docs/fundamentals/code-analysis/quality-rules/ca1852.md
Labels: dotnet-fundamentals/prod

#35195 Update interpolated-strings.md [RFC FS-1132]
  docs/fsharp/language-reference/interpolated-strings.md
Labels: dotnet-fsharp/prod

#35408 Update for 8.0.1xx and 7.0.4xx releases
  docs/core/porting/versioning-sdk-msbuild-vs.md
Labels: dotnet-fundamentals/prod

#35327 Update ide0031.md
  docs/fundamentals/code-analysis/style-rules/ide0031.md
Labels: dotnet-fundamentals/prod, community-contribution, okr-health

#35303 Update clientcertificate-of-clientcredentials-element.md
  docs/framework/configure-apps/file-schema/wcf/clientcertificate-of-clientcredentials-element.md
Labels: dotnet-framework/prod, dotnet-wcf/tech, community-contribution

#35455 Improve doc for CA1861 to avoid breaking change
  docs/fundamentals/code-analysis/quality-rules/ca1861.md
Labels: dotnet-fundamentals/prod

#35289 Add NativeAOT macOS prerequisites
  docs/core/deploying/native-aot/index.md
Labels: dotnet-fundamentals/prod

#35478 Rewrote the baggage info example
  docs/standard/events/observer-design-pattern.md
  docs/standard/events/snippets/observables/ArrivalsMonitor.cs
  docs/standard/events/snippets/observables/BaggageHandler.cs
  docs/standard/events/snippets/observables/BaggageInfo.cs
  docs/standard/events/snippets/observables/Observables.csproj
  docs/standard/events/snippets/observables/Program.cs
  docs/standard/events/snippets/observables/Unsubscriber.cs
Labels: dotnet-fundamentals/prod, okr-experience

#35418 Fix links
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/domain-events-design-implementation.md
  docs/azure/includes/dotnet-all.md
  docs/devops/dotnet-cli-and-continuous-integration.md
  docs/orleans/grains/grain-persistence/dynamodb-storage.md
Labels: dotnet-architecture/prod, microservices/tech, dotnet-azure/prod

#35481 Update Ubuntu 2204 feed info
  docs/core/install/includes/linux-ubuntu-feed-sdk-note.md
  docs/core/install/linux-ubuntu-2204.md
  docs/core/install/linux-ubuntu-2210.md
  docs/core/install/linux-ubuntu-2304.md
  docs/core/install/linux-ubuntu.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#35484 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35490 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35483 Add limitation to Native AOT doc
  docs/core/deploying/native-aot/index.md
Labels: dotnet-fundamentals/prod

#35496 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35491 A bit of clean up after reading through it
  docs/core/whats-new/dotnet-8.md
Labels: dotnet-fundamentals/prod

#35503 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35499 Clarify example
  docs/csharp/language-reference/operators/arithmetic-operators.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#35511 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35515 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35510 Fix capitalization in section titles
  docs/csharp/programming-guide/strings/index.md
Labels: community-contribution

#35509 Mention the `value` as problematic keywords for function param's name
  docs/csharp/programming-guide/classes-and-structs/local-functions.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#35514 Acrolinx 5/23
  docs/architecture/grpc-for-wcf-developers/docker.md
  docs/architecture/grpc-for-wcf-developers/self-hosted.md
  docs/architecture/microservices/implement-resilient-applications/implement-http-call-retries-exponential-backoff-polly.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/apply-simplified-microservice-cqrs-ddd-patterns.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/net-core-microservice-domain-model.md
  docs/architecture/microservices/net-core-net-framework-containers/official-net-docker-images.md
  docs/architecture/modernize-desktop/deploy-modern-applications.md
  docs/architecture/modernize-desktop/example-migration.md
  docs/core/compatibility/aspnet-core/7.0/default-authentication-scheme.md
  docs/core/compatibility/aspnet-core/7.0/middleware-null-requestdelegate.md
  docs/core/compatibility/aspnet-core/8.0/problemdetails-custom-converters.md
  docs/core/deploying/native-aot/interop.md
  docs/core/extensions/workers.md
  docs/core/porting/upgrade-assistant-install.md
  docs/core/tools/dotnet-pack.md
  docs/core/tools/dotnet-publish.md
  docs/core/tools/enable-tab-autocomplete.md
  docs/framework/wcf/feature-details/durable-duplex-correlation.md
  docs/standard/serialization/system-text-json/converters-how-to.md
Labels: dotnet-framework/prod, dotnet-cli/tech, dotnet-architecture/prod, microservices/tech, grpc/tech, dotnet-wcf/tech, dotnet-fundamentals/prod

#35512 Remove ellipsis
  docs/core/porting/upgrade-assistant-overview.md
Labels: dotnet-fundamentals/prod

#35517 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35530 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35533 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35521 F#: Update string newline source encoding blurb
  docs/fsharp/language-reference/strings.md
Labels: dotnet-fsharp/prod, community-contribution, okr-health

#35523 Fix access control blurb (it was incorrect)
  docs/fsharp/language-reference/access-control.md
Labels: dotnet-fsharp/prod, community-contribution, okr-health

#35524 Fix wrong specification that ranges need to be integral types
  docs/fsharp/language-reference/loops-for-in-expression.md
Labels: dotnet-fsharp/prod, community-contribution, okr-health

#35525 Fix sentence in namespaces file
  docs/fsharp/language-reference/namespaces.md
Labels: dotnet-fsharp/prod, community-contribution, okr-health

#35527 Fixes wrong wording in interfaces
  docs/fsharp/language-reference/interfaces.md
Labels: dotnet-fsharp/prod, community-contribution, okr-health

#35528 Fixes bad code sample for optional parameters in methods
  docs/fsharp/language-reference/members/methods.md
Labels: dotnet-fsharp/prod, community-contribution, okr-health

#35529 Remove duplicated flag in corbindtoruntimeex-function.md
  docs/framework/unmanaged-api/hosting/corbindtoruntimeex-function.md
Labels: dotnet-framework/prod, community-contribution

#35536 Update code-quality-rule-options.md
  docs/fundamentals/code-analysis/code-quality-rule-options.md
Labels: dotnet-fundamentals/prod, community-contribution

#35541 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35543 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35547 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35574 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35507 Links update - update to .NET dependency injection article
  docs/core/extensions/dependency-injection.md
Labels: dotnet-fundamentals/prod, community-contribution

#35575 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35545 Document Preview 5 breaking changes for ASP.NET
  docs/core/compatibility/8.0.md
  docs/core/compatibility/aspnet-core/8.0/addratelimiter-requirement.md
  docs/core/compatibility/aspnet-core/8.0/isystemclock-obsolete.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#35577 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit
