Repository dotnet/docs, pull requests merged in 2023-02, with the labels that each got.

#33821 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33824 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33828 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33842 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33832 Clarify SslStream migration title
  docs/core/extensions/sslstream-migration-from-framework.md
Labels: dotnet-fundamentals/prod

#33833 DateTime.Add precision breaking change
  docs/core/compatibility/7.0.md
  docs/core/compatibility/core-libraries/7.0/datetime-add-precision.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 7

#33715 Add info for VS for Mac
  docs/core/tools/sdk-errors/netsdk1045.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#33845 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33822 Typo fix - update to inheritance in C# and .NET article
  docs/csharp/fundamentals/tutorials/inheritance.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#33853 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33862 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33868 unpublish unmanaged constraint
  .openpublishing.redirection.csharp.json
  docfx.json
  docs/csharp/language-reference/index.md
  docs/csharp/toc.yml
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#33867 Publish managed language strategy
  docs/csharp/index.yml
  docs/csharp/toc.yml
  docs/csharp/tour-of-csharp/strategy.md
  docs/fsharp/index.yml
  docs/fsharp/strategy.md
  docs/fsharp/toc.yml
  docs/fundamentals/index.yml
  docs/fundamentals/languages.md
  docs/fundamentals/toc.yml
  docs/index.yml
  docs/visual-basic/getting-started/strategy.md
  docs/visual-basic/index.yml
  docs/visual-basic/toc.yml
  includes/csharp-strategy.md
  includes/fsharp-strategy.md
  includes/vb-strategy.md
Labels: dotnet-fsharp/prod, dotnet-visualbasic/prod, dotnet-csharp/prod, csharp-get-started/tech, dotnet-fundamentals/prod

#33859 Update bitwise-and-shift-operators.md
  docs/csharp/language-reference/operators/bitwise-and-shift-operators.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#33872 Add comment to confusing variable names
  docs/csharp/language-reference/builtin-types/snippets/shared/ValueTuples.cs
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#33857 dotnet pack/publish breaking changes
  docs/core/compatibility/6.0.md
  docs/core/compatibility/7.0.md
  docs/core/compatibility/8.0.md
  docs/core/compatibility/sdk/8.0/dotnet-pack-config.md
  docs/core/compatibility/sdk/8.0/dotnet-publish-config.md
  docs/core/compatibility/toc.yml
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#33875 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33880 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33882 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#32997 Update `ref` performance article(s) for C# 11
  .openpublishing.redirection.csharp.json
  docs/csharp/advanced-topics/performance/index.md
  docs/csharp/advanced-topics/performance/media/ref-tutorial/allocationsbytype.png
  docs/csharp/advanced-topics/performance/media/ref-tutorial/final-allocations.png
  docs/csharp/advanced-topics/performance/media/ref-tutorial/profilerallocationgraph.png
  docs/csharp/advanced-topics/performance/ref-tutorial.md
  docs/csharp/advanced-topics/performance/snippets/ref-safety/EscapeScopes.cs
  docs/csharp/advanced-topics/performance/snippets/ref-safety/Program.cs
  docs/csharp/advanced-topics/performance/snippets/ref-safety/ref-safety.csproj
  docs/csharp/advanced-topics/performance/snippets/ref-tutorial/IntruderAlert-finished/AverageMeasurement.cs
  docs/csharp/advanced-topics/performance/snippets/ref-tutorial/IntruderAlert-finished/DebounceMeasurement.cs
  docs/csharp/advanced-topics/performance/snippets/ref-tutorial/IntruderAlert-finished/IntruderAlert.csproj
  docs/csharp/advanced-topics/performance/snippets/ref-tutorial/IntruderAlert-finished/Program.cs
  docs/csharp/advanced-topics/performance/snippets/ref-tutorial/IntruderAlert-finished/Room.cs
  docs/csharp/advanced-topics/performance/snippets/ref-tutorial/IntruderAlert-finished/SensorMeasurement.cs
  docs/csharp/advanced-topics/performance/snippets/ref-tutorial/IntruderAlert-starter/AverageMeasurement.cs
  docs/csharp/advanced-topics/performance/snippets/ref-tutorial/IntruderAlert-starter/DebounceMeasurement.cs
  docs/csharp/advanced-topics/performance/snippets/ref-tutorial/IntruderAlert-starter/IntruderAlert.csproj
  docs/csharp/advanced-topics/performance/snippets/ref-tutorial/IntruderAlert-starter/Program.cs
  docs/csharp/advanced-topics/performance/snippets/ref-tutorial/IntruderAlert-starter/Room.cs
  docs/csharp/advanced-topics/performance/snippets/ref-tutorial/IntruderAlert-starter/SensorMeasurement.cs
  docs/csharp/language-reference/builtin-types/struct.md
  docs/csharp/language-reference/keywords/in-parameter-modifier.md
  docs/csharp/language-reference/keywords/ref.md
  docs/csharp/language-reference/statements/declarations.md
  docs/csharp/toc.yml
  docs/csharp/write-safe-efficient-code.md
  docs/standard/io/buffers.md
  docs/standard/serialization/system-text-json/use-dom-utf8jsonreader-utf8jsonwriter.md
  docs/whats-new/dotnet-7-docs.md
  samples/snippets/csharp/safe-efficient-code/benchmark/Program.cs
  samples/snippets/csharp/safe-efficient-code/benchmark/benchmark.csproj
  samples/snippets/csharp/safe-efficient-code/ref-readonly-struct/Point3D.cs
  samples/snippets/csharp/safe-efficient-code/ref-readonly-struct/Program.cs
  samples/snippets/csharp/safe-efficient-code/ref-readonly-struct/ref-readonly-struct.csproj
  samples/snippets/csharp/safe-efficient-code/safe-efficient-code.sln
Labels: dotnet-csharp/prod, okr-health

#33889 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33890 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: azure-sdk-shipit

#33883 Remove React-with-Redux
  docs/core/tools/dotnet-new-sdk-templates.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#33891 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33893 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33895 Update link to WASM ICU filters
  docs/core/extensions/globalization-icu.md
Labels: broken-link, dotnet-fundamentals/prod

#33925 update SDK Docker publish docs to talk about auth, RIDs and misc updates
  docs/core/docker/publish-as-container.md
Labels: dotnet-fundamentals/prod, dotnet-docker/tech

#33870 Clarify all default components for C++ workload
  docs/core/deploying/native-aot/index.md
Labels: dotnet-fundamentals/prod, community-contribution

#33929 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33932 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33934 Make it clear that only MS SDKs use telemetry by default
  docs/core/tools/telemetry.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#33935 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33922 Clarify TDD process
  docs/core/testing/unit-testing-with-dotnet-test.md
Labels: dotnet-fundamentals/prod, community-contribution

#33944 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33952 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33948 Added missing parenthesis to IDE0018 rule sample
  docs/fundamentals/code-analysis/style-rules/ide0018.md
Labels: dotnet-fundamentals/prod, community-contribution

#33955 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33947 Recommending linux-arm64 instead of linux-arm in IoT docs
  docs/iot/debugging.md
  docs/iot/deployment.md
  docs/iot/includes/prereq-rpi.md
  docs/iot/intro.md
  docs/iot/media/rpi-imager-64bit.gif
Labels: okr-health

#33964 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#32988 initial draft of dump doc clarification
  docs/core/diagnostics/collect-dumps-crash.md
  docs/core/diagnostics/debug-linux-dumps.md
  docs/core/diagnostics/debug-memory-leak.md
  docs/core/diagnostics/debug-windows-dumps.md
  docs/core/diagnostics/dotnet-trace.md
  docs/core/diagnostics/dumps.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod

#33966 Update coding-conventions.md
  docs/csharp/fundamentals/coding-style/coding-conventions.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#33968 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33676 Improve code formatting
  docs/standard/serialization/examples-of-xml-serialization.md
Labels: dotnet-fundamentals/prod, community-contribution

#32999 Deprecate CA2109
  docs/fundamentals/code-analysis/quality-rules/ca2109.md
Labels: dotnet-fundamentals/prod, community-contribution

#33742 Remove extraneous space in Registry path
  docs/framework/debug-trace-profile/enabling-jit-attach-debugging.md
Labels: dotnet-framework/prod, community-contribution

#33577 Update sqlmetal-exe-code-generation-tool.md
  docs/framework/tools/sqlmetal-exe-code-generation-tool.md
Labels: dotnet-framework/prod, community-contribution

#33762 snippet fix: need 'ref' passing Utf8JsonReader
  docs/standard/serialization/system-text-json/snippets/system-text-json-how-to/csharp/Utf8ReaderPartialRead.cs
Labels: dotnet-fundamentals/prod, community-contribution

#33972 Remove note about style analysis on build being experimental
  docs/fundamentals/code-analysis/overview.md
Labels: dotnet-fundamentals/prod, okr-health

#33982 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33986 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33950 Fix LDM link
  docs/csharp/tour-of-csharp/strategy.md
Labels: dotnet-csharp/prod, csharp-get-started/tech, okr-health

#33937 Fix typo in "What's new in .NET 7"
  docs/core/whats-new/dotnet-7.md
Labels: dotnet-fundamentals/prod, community-contribution

#33995 BlazorWebForms eBook: Updating for dotnet 7
  docs/architecture/blazor-for-web-forms-developers/data.md
  docs/architecture/blazor-for-web-forms-developers/index.md
  docs/architecture/blazor-for-web-forms-developers/introduction.md
  docs/architecture/blazor-for-web-forms-developers/project-structure.md
Labels: dotnet-architecture/prod, blazor/tech, community-contribution

#33981 Fix indentation and remove superflous whitespace
  docs/framework/windows-workflow-foundation/architecture.md
Labels: dotnet-framework/prod, dotnet-wf/tech, community-contribution

#33994 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33975 Fix broken links
  docs/architecture/cloud-native/grpc.md
  docs/architecture/devops-for-aspnet-developers/actions-codeql.md
  docs/core/additional-tools/vscode-dotnet-runtime.md
  docs/core/diagnostics/debug-linux-dumps.md
  docs/csharp/advanced-topics/performance/index.md
Labels: dotnet-csharp/prod, dotnet-architecture/prod, cloud-native/tech, dotnet-fundamentals/prod

#33991 Update code in OpenTelemetry section
  docs/orleans/whats-new-in-orleans.md
Labels: community-contribution

#33997 update to new standards
  docs/azure/sdk/resource-management.md
Labels: dotnet-azure/prod, community-contribution

#34000 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#32849 ".NET 5" to ".NET 5+"
  docs/standard/base-types/character-encoding-introduction.md
Labels: dotnet-fundamentals/prod, community-contribution

#33999 A bit of clean up and verification, but this works as is
  docs/core/docker/build-container.md
  docs/core/docker/snippets/App/Dockerfile
  docs/core/docker/snippets/App/DotNet.Docker.csproj
  docs/core/docker/snippets/App/Program.cs
Labels: dotnet-fundamentals/prod, dotnet-docker/tech, okr-experience

#33996 Be a bit more explicit about persisted state
  docs/orleans/grains/grain-lifecycle.md
  docs/orleans/grains/grain-persistence/index.md
Labels: okr-discovery, okr-health

#33930 Rename confusing generics class and methods
  samples/snippets/cpp/VS_Snippets_CLR/conceptual.generics.overview/cpp/makefile
  samples/snippets/cpp/VS_Snippets_CLR/conceptual.generics.overview/cpp/source.cpp
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.generics.overview/cs/source.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.generics.overview/vb/Project.vbproj
  samples/snippets/visualbasic/VS_Snippets_CLR/conceptual.generics.overview/vb/source.vb
Labels: community-contribution

#34003 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33657 Repo chores - January
  docs/core/compatibility/wcf-client/6.0/net-standard-2-support.md
  docs/core/extensions/sslstream-best-practices.md
  docs/navigate/migration-guide/toc.yml
  docs/orleans/quickstarts/build-your-first-orleans-app.md
Labels: dotnet-fundamentals/prod

#34005 Update garbage-collector.md
  docs/core/runtime-config/garbage-collector.md
Labels: dotnet-fundamentals/prod

#34008 Add note about PublishDir vs PublishURL
  docs/core/tools/dotnet-publish.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#34012 Typo fix - update to "time zone overview" and "tutorial: use pattern matching to build type-driven and data-driven algorithms" articles
  docs/csharp/fundamentals/tutorials/pattern-matching.md
  docs/standard/datetime/time-zone-overview.md
Labels: dotnet-fundamentals/prod, community-contribution

#34014 Adding missing semicolon
  docs/machine-learning/how-to-guides/how-to-use-the-automl-api.md
Labels: dotnet-ml/prod, community-contribution

#34015 Updated to clarify IsNullOrWhitespace
  docs/csharp/nullable-references.md
Labels: dotnet-csharp/prod, community-contribution

#34019 Remove DefaultAzureCredential auth flow diagram
  docs/azure/sdk/authentication.md
  docs/azure/sdk/includes/implement-defaultazurecredential.md
  docs/azure/sdk/media/authentication-defaultazurecredential.png
Labels: dotnet-azure/prod

#34026 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33798 WinForms breaking changes for Preview 1
  docs/core/compatibility/8.0.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/windows-forms/8.0/exceptioncollection.md
  docs/core/compatibility/windows-forms/8.0/forms-scale-size-to-dpi.md
  docs/core/compatibility/windows-forms/8.0/imagelist-colordepth.md
  docs/core/compatibility/windows-forms/8.0/tablelayoutstylecollection.md
  docs/core/compatibility/windows-forms/8.0/top-level-window-scaling.md
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#34001 IDE0041 alternative syntax
  docs/fundamentals/code-analysis/style-rules/ide0041.md
Labels: dotnet-fundamentals/prod

#34030 fix topic metadata
  docfx.json
  docs/csharp/whats-new/version-update-considerations.md
  docs/visual-basic/programming-guide/concepts/expression-trees/debugview-syntax.md
Labels: dotnet-visualbasic/prod, dotnet-csharp/prod, csharp-whats-new/tech

#34032 Change property to public
  docs/fundamentals/code-analysis/style-rules/ide0032.md
Labels: dotnet-fundamentals/prod

#34035 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34031 Use `required` keyword to avoid `null` as default when instantiating record types
  docs/csharp/language-reference/builtin-types/snippets/shared/RecordType.cs
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#34036 Update webapi-differences.md
  docs/architecture/porting-existing-aspnet-apps/webapi-differences.md
Labels: dotnet-architecture/prod

#34128 Remove link to closed issue
  docs/core/tutorials/top-level-templates.md
Labels: dotnet-fundamentals/prod

#34129 Fix H1 heading
  docs/core/tools/sdk-errors/netsdk1082.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, okr-health

#34034 Update snippets to compile in .NET 7
  docs/standard/exceptions/how-to-explicitly-throw-exceptions.md
  samples/snippets/csharp/VS_Snippets_CLR/Exception.Throwing/CS/Project.csproj
  samples/snippets/csharp/VS_Snippets_CLR/Exception.Throwing/CS/throw.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/Exception.Throwing/VB/Project.vbproj
  samples/snippets/visualbasic/VS_Snippets_CLR/Exception.Throwing/VB/throw.vb
Labels: dotnet-fundamentals/prod, okr-health

#34028 Update Cloud Native eBook to .NET 7
  docs/architecture/cloud-native/application-resiliency-patterns.md
  docs/architecture/cloud-native/devops.md
  docs/architecture/cloud-native/identity-server.md
  docs/architecture/cloud-native/index.md
  docs/architecture/cloud-native/leverage-containers-orchestrators.md
Labels: dotnet-architecture/prod, cloud-native/tech, community-contribution

#34016 Fix provider ref names
  docs/orleans/streaming/streams-quick-start.md
Labels: okr-health

#33796 ITypeDescriptorContext properties marked nullable
  docs/core/compatibility/8.0.md
  docs/core/compatibility/core-libraries/8.0/itypedescriptorcontext-props.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#34004 .NET Framework troubleshooting article: Update intro based on discussion
  docs/framework/install/application-not-started.md
Labels: dotnet-framework/prod, dotnet-install/tech

#34131 Add info about ExceptionDispatchInfo
  docs/fundamentals/code-analysis/quality-rules/ca2200.md
  docs/standard/exceptions/best-practices-for-exceptions.md
Labels: dotnet-fundamentals/prod

#34135 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34136 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34029 Add instructions for loading COM component in default ALC
  docs/core/native-interop/expose-components-to-com.md
Labels: dotnet-fundamentals/prod

#34141 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33834 Update linux-scripted-manual.md
  docs/core/install/linux-scripted-manual.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#34124 Add breaking change doc for --output when used with solutions
  docs/core/compatibility/7.0.md
  docs/core/compatibility/sdk/7.0/solution-level-output-no-longer-valid.md
  docs/core/compatibility/toc.yml
  docs/core/tools/dotnet-build.md
  docs/core/tools/dotnet-clean.md
  docs/core/tools/dotnet-pack.md
  docs/core/tools/dotnet-publish.md
  docs/core/tools/dotnet-test.md
Labels: dotnet-fundamentals/prod

#34142 Remove trailing backslash in default-values.md
  docs/csharp/language-reference/builtin-types/default-values.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#34153 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34152 Add metadata for freshness pilot
  docfx.json
  docs/csharp/tour-of-csharp/strategy.md
  docs/csharp/whats-new/csharp-10.md
  docs/csharp/whats-new/csharp-11.md
  docs/csharp/whats-new/csharp-9.md
  docs/csharp/whats-new/csharp-version-history.md
  docs/visual-basic/reference/command-line-compiler/langversion.md
  docs/visual-basic/whats-new/breaking-changes.md
  docs/visual-basic/whats-new/index.md
Labels: dotnet-visualbasic/prod, dotnet-csharp/prod, csharp-whats-new/tech, csharp-get-started/tech, okr-health

#34156 Fix typo in CA1858 documentation.
  docs/fundamentals/code-analysis/quality-rules/ca1858.md
Labels: community-contribution

#34161 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34163 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33518 Document machine readable json output for dotnet list package report
  docs/core/tools/dotnet-list-package.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#34165 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34154 Update Modern Web Apps eBook to net7/2023
  docs/architecture/modern-web-apps-azure/develop-asp-net-core-mvc-apps.md
  docs/architecture/modern-web-apps-azure/index.md
  docs/architecture/modern-web-apps-azure/media/image7-3.png
Labels: dotnet-architecture/prod, modern-web-apps-azure/tech, community-contribution

#34151 Update gRPC for WCF Developers eBook to net7 and 2023
  docs/architecture/grpc-for-wcf-developers/call-credentials.md
  docs/architecture/grpc-for-wcf-developers/create-project.md
  docs/architecture/grpc-for-wcf-developers/docker.md
  docs/architecture/grpc-for-wcf-developers/grpc-in-production.md
  docs/architecture/grpc-for-wcf-developers/index.md
  docs/architecture/grpc-for-wcf-developers/kubernetes.md
  docs/architecture/grpc-for-wcf-developers/media/create-project/create-new-grpc-service-v2.png
  docs/architecture/grpc-for-wcf-developers/migrate-wcf-to-grpc.md
  docs/architecture/grpc-for-wcf-developers/self-hosted.md
  docs/architecture/grpc-for-wcf-developers/wcf-services-to-grpc-comparison.md
Labels: dotnet-architecture/prod, grpc/tech, community-contribution

#34144 Clarify ownership of IDisposable objects
  docs/standard/garbage-collection/implementing-dispose.md
  docs/standard/garbage-collection/using-objects.md
Labels: dotnet-fundamentals/prod

#34140 Add info about why `IsEnabled` is called
  docs/core/extensions/custom-logging-provider.md
  docs/core/extensions/snippets/configuration/console-custom-logging/Program.cs
Labels: dotnet-fundamentals/prod, okr-discovery

#34160 Use authentication terminology, not authorization
  docs/framework/wcf/feature-details/understanding-http-authentication.md
Labels: dotnet-framework/prod, dotnet-wcf/tech

#34182 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34184 Modern Web Apps eBook - Remove old article reference
  docs/architecture/modern-web-apps-azure/work-with-data-in-asp-net-core-apps.md
Labels: dotnet-architecture/prod, modern-web-apps-azure/tech, community-contribution

#34185 Microservices eBook: Clarify repo, DAL, UoW pattern guidance
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/infrastructure-persistence-layer-design.md
Labels: dotnet-architecture/prod, microservices/tech, community-contribution

#34188 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34148 Update statically-resolved-type-parameters.md
  docs/fsharp/language-reference/generics/statically-resolved-type-parameters.md
Labels: dotnet-fsharp/prod, community-contribution

#34155 Update fixed-in version
  docs/core/compatibility/sdk/7.0/side-by-side-install.md
Labels: dotnet-fundamentals/prod

#34191 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34193 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34177 fixes #34176
  docs/architecture/modernize-with-azure-containers/migrate-your-relational-databases-to-azure.md
Labels: dotnet-architecture/prod, modernize-with-azure-containers/tech, community-contribution

#34195 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34225 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34228 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34233 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34235 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34227 Fix formatting
  docs/core/whats-new/dotnet-8.md
Labels: dotnet-fundamentals/prod, community-contribution

#34189 Remove misleading comment
  docs/csharp/language-reference/compiler-messages/cs0120.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech

#34232 Replaced links from Docker Hub to MCR
  docs/architecture/microservices/net-core-net-framework-containers/official-net-docker-images.md
Labels: dotnet-architecture/prod, microservices/tech, community-contribution

#34224 Adding snapshot options documentation
  docs/core/additional-tools/dotnet-coverage.md
Labels: dotnet-fundamentals/prod, community-contribution

#34242 Fix markdown lint issue
  docs/architecture/microservices/net-core-net-framework-containers/official-net-docker-images.md
Labels: dotnet-architecture/prod, microservices/tech

#34240 Fix error code
  docs/csharp/fundamentals/functional/discards.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, okr-health

#34246 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34251 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34226 Update breaking change doc with details about 201
  docs/core/compatibility/sdk/7.0/solution-level-output-no-longer-valid.md
  docs/core/tools/dotnet-build.md
  docs/core/tools/dotnet-clean.md
  docs/core/tools/dotnet-pack.md
  docs/core/tools/dotnet-publish.md
  docs/core/tools/dotnet-test.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#34255 Typo Fix - update to the unit testing article in Orleans documentation
  docs/orleans/tutorials-and-samples/testing.md
Labels: community-contribution, okr-health

#34244 Note 7.0.200 has --format and --output-version
  docs/core/tools/dotnet-list-package.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#34268 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34266 Porting Existing Apps eBook -> Update to net7
  docs/architecture/porting-existing-aspnet-apps/app-startup-differences.md
  docs/architecture/porting-existing-aspnet-apps/choose-net-core-version.md
  docs/architecture/porting-existing-aspnet-apps/dependency-injection-differences.md
  docs/architecture/porting-existing-aspnet-apps/deployment-scenarios.md
  docs/architecture/porting-existing-aspnet-apps/example-migration-eshop.md
  docs/architecture/porting-existing-aspnet-apps/identify-migration-sequence.md
  docs/architecture/porting-existing-aspnet-apps/identity-differences.md
  docs/architecture/porting-existing-aspnet-apps/incremental-migration-strategies.md
  docs/architecture/porting-existing-aspnet-apps/index.md
  docs/architecture/porting-existing-aspnet-apps/introduction.md
  docs/architecture/porting-existing-aspnet-apps/migrate-aspnet-core-2-1.md
  docs/architecture/porting-existing-aspnet-apps/migration-considerations.md
  docs/architecture/porting-existing-aspnet-apps/more-migration-scenarios.md
  docs/architecture/porting-existing-aspnet-apps/routing-differences.md
  docs/architecture/porting-existing-aspnet-apps/signalr-differences.md
  docs/architecture/porting-existing-aspnet-apps/strategies-migrating-in-production.md
  docs/architecture/porting-existing-aspnet-apps/summary.md
  docs/architecture/porting-existing-aspnet-apps/understand-update-dependencies.md
Labels: dotnet-architecture/prod, community-contribution

#34267 Modern Web Apps eBook: Adding SEO and add'l guidance
  docs/architecture/modern-web-apps-azure/choose-between-traditional-web-and-single-page-apps.md
Labels: dotnet-architecture/prod, modern-web-apps-azure/tech, community-contribution

#34274 Describe the example of user-defined types used as fields declarations of anonymous types
  docs/csharp/fundamentals/types/anonymous-types.md
  docs/csharp/fundamentals/types/snippets/anonymous-types/Program.cs
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#34272 Fix spaces around colons in signatures and type annotations in F# style guide
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod, community-contribution

#34270 dapr for .NET Developers eBook: Update for net7
  docs/architecture/dapr-for-net-developers/actors.md
  docs/architecture/dapr-for-net-developers/getting-started.md
  docs/architecture/dapr-for-net-developers/index.md
  docs/architecture/dapr-for-net-developers/reference-application.md
  docs/architecture/dapr-for-net-developers/sample-application.md
Labels: dotnet-architecture/prod, community-contribution

#34280 Serverless eBook: minor updates to 2023/net7
  docs/architecture/serverless/azure-functions.md
  docs/architecture/serverless/index.md
Labels: dotnet-architecture/prod, serverless/tech, community-contribution

#34127 Add chapter about .NET runtime compatibility
  docs/core/versions/index.md
  docs/core/versions/selection.md
Labels: dotnet-fundamentals/prod

#34289 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34290 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34179 Update fundamentals.md
  docs/standard/garbage-collection/fundamentals.md
Labels: dotnet-fundamentals/prod, community-contribution

#33973 Add config section to code metrics rules
  docs/fundamentals/code-analysis/quality-rules/ca1501.md
  docs/fundamentals/code-analysis/quality-rules/ca1502.md
  docs/fundamentals/code-analysis/quality-rules/ca1505.md
  docs/fundamentals/code-analysis/quality-rules/ca1506.md
  docs/fundamentals/code-analysis/quality-rules/ca1509.md
Labels: dotnet-fundamentals/prod

#34295 Microservices eBook net7 Update
  docs/architecture/microservices/docker-application-development-process/docker-app-development-workflow.md
  docs/architecture/microservices/docker-application-development-process/index.md
  docs/architecture/microservices/implement-resilient-applications/implement-circuit-breaker-pattern.md
  docs/architecture/microservices/implement-resilient-applications/implement-http-call-retries-exponential-backoff-polly.md
  docs/architecture/microservices/implement-resilient-applications/implement-resilient-entity-framework-core-sql-connections.md
  docs/architecture/microservices/implement-resilient-applications/monitor-app-health.md
  docs/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests.md
  docs/architecture/microservices/index.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/client-side-validation.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/cqrs-microservice-reads.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/index.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/infrastructure-persistence-layer-implementation-entity-framework-core.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/microservice-application-layer-implementation-web-api.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/net-core-microservice-domain-model.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/nosql-database-persistence-infrastructure.md
  docs/architecture/microservices/multi-container-microservice-net-applications/background-tasks-with-ihostedservice.md
  docs/architecture/microservices/multi-container-microservice-net-applications/data-driven-crud-microservice.md
  docs/architecture/microservices/multi-container-microservice-net-applications/implement-api-gateways-with-ocelot.md
  docs/architecture/microservices/multi-container-microservice-net-applications/integration-event-based-microservice-communications.md
  docs/architecture/microservices/multi-container-microservice-net-applications/multi-container-applications-docker-compose.md
  docs/architecture/microservices/multi-container-microservice-net-applications/subscribe-events.md
  docs/architecture/microservices/net-core-net-framework-containers/container-framework-choice-factors.md
  docs/architecture/microservices/net-core-net-framework-containers/general-guidance.md
  docs/architecture/microservices/net-core-net-framework-containers/index.md
  docs/architecture/microservices/net-core-net-framework-containers/net-container-os-targets.md
  docs/architecture/microservices/net-core-net-framework-containers/net-core-container-scenarios.md
  docs/architecture/microservices/net-core-net-framework-containers/net-framework-container-scenarios.md
  docs/architecture/microservices/net-core-net-framework-containers/official-net-docker-images.md
  docs/architecture/microservices/secure-net-microservices-web-applications/authorization-net-microservices-web-applications.md
  docs/architecture/microservices/secure-net-microservices-web-applications/index.md
Labels: dotnet-architecture/prod, microservices/tech, community-contribution

#34285 Add note on VSTO vs. new office automation
  docs/csharp/advanced-topics/interop/how-to-access-office-interop-objects.md
  docs/csharp/advanced-topics/interop/how-to-use-indexed-properties-in-com-interop-programming.md
  docs/csharp/advanced-topics/interop/how-to-use-named-and-optional-arguments-in-office-programming.md
  docs/csharp/advanced-topics/interop/walkthrough-office-programming.md
  docs/csharp/includes/vsto-framework.md
Labels: dotnet-csharp/prod

#34293 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34245 Add details about generic-type parameters in `IGrainStorage` interface impl
  docs/orleans/tutorials-and-samples/custom-grain-storage.md
  docs/orleans/tutorials-and-samples/snippets/custom-grain-storage/FileGrainStorage.cs
  docs/orleans/tutorials-and-samples/snippets/custom-grain-storage/FileGrainStorageFactory.cs
Labels: okr-discovery, okr-health

#34288 Add silo-role based placement, and choose sections
  docs/orleans/grains/grain-placement.md
Labels: okr-discovery

#34292 Added missing change notification interface callout
  docs/core/extensions/options.md
Labels: dotnet-fundamentals/prod, okr-experience

#34291 Add catch block for `TaskCanceledException`
  docs/core/extensions/snippets/workers/windows-service/WindowsBackgroundService.cs
  docs/core/extensions/windows-service.md
Labels: dotnet-fundamentals/prod, okr-health
