Repository dotnet/docs, pull requests merged in 2023-01, with the labels that each got.

#33269 Clarify QUIC platform dependencies
  docs/core/extensions/httpclient-http3.md
Labels: dotnet-networking/tech, dotnet-fundamentals/prod

#33285 Edit oop.md
  docs/csharp/fundamentals/tutorials/oop.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#33254 Modernize SHA-256 samples
  docs/standard/security/ensuring-data-integrity-with-hash-codes.md
  samples/snippets/csharp/VS_Snippets_CLR/generatingahash/cs/generatingahash.csproj
  samples/snippets/csharp/VS_Snippets_CLR/generatingahash/cs/program.cs
  samples/snippets/csharp/VS_Snippets_CLR/verifyingahash/cs/program.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/generatingahash/generatingahash.vbproj
  samples/snippets/visualbasic/VS_Snippets_CLR/generatingahash/vb/program.vb
  samples/snippets/visualbasic/VS_Snippets_CLR/verifyingahash/vb/program.vb
Labels: dotnet/prod, dotnet-security/tech, dotnet-fundamentals/prod, community-contribution

#33259 Typo fix - update to, method parameters - C# reference, article
  docs/csharp/language-reference/keywords/method-parameters.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#33191 Fix Orleans samples links
  docs/orleans/tutorials-and-samples/index.md
Labels: community-contribution

#33290 Update unit-testing-code-coverage.md
  docs/core/testing/unit-testing-code-coverage.md
Labels: dotnet-fundamentals/prod, okr-experience, community-contribution

#33296 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33270 Add how to for DateOnly and TimeOnly
  docs/standard/datetime/choosing-between-datetime.md
  docs/standard/datetime/how-to-use-dateonly-timeonly.md
  docs/standard/datetime/index.md
  docs/standard/datetime/snippets/how-to-use-dateonly-timeonly/csharp/Program.cs
  docs/standard/datetime/snippets/how-to-use-dateonly-timeonly/csharp/dateonlytimeonly.csproj
  docs/standard/datetime/snippets/how-to-use-dateonly-timeonly/vb/Program.vb
  docs/standard/datetime/snippets/how-to-use-dateonly-timeonly/vb/dateonlytimeonly.vbproj
  docs/standard/datetime/toc.yml
Labels: dotnet-fundamentals/prod

#33274 Fix wrong date listed in datetime article
  docs/standard/datetime/instantiating-a-datetimeoffset-object.md
  docs/standard/datetime/snippets/instantiating-a-datetimeoffset-object/csharp/Instantiate.cs
  docs/standard/datetime/snippets/instantiating-a-datetimeoffset-object/csharp/Project.csproj
  docs/standard/datetime/snippets/instantiating-a-datetimeoffset-object/vb/Instantiate.vb
  docs/standard/datetime/snippets/instantiating-a-datetimeoffset-object/vb/project.vb.vbproj
Labels: dotnet-fundamentals/prod, okr-health

#33108 Mention Page items
  docs/core/tools/sdk-errors/netsdk1022.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#33276 Update walkthrough to use JSON serialization instead of binary serialization
  docs/csharp/programming-guide/concepts/serialization/walkthrough-persisting-an-object-in-visual-studio.md
  samples/snippets/csharp/serialization/Loan.cs
  samples/snippets/csharp/serialization/Program.cs
  samples/snippets/csharp/serialization/SavedLoan.bin
  samples/snippets/csharp/serialization/serialization.csproj
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, okr-health

#33317 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: azure-sdk-shipit

#33319 Address doc updates to publishing as container
  docs/core/docker/publish-as-container.md
Labels: dotnet-fundamentals/prod, dotnet-docker/tech, okr-discovery

#33316 Related to issue #33309, added sample code to ensure functionality
  docs/core/extensions/httpclient-factory.md
  docs/core/extensions/snippets/http/configurehandler/Program.cs
  docs/core/extensions/snippets/http/configurehandler/TodoService.cs
  docs/core/extensions/snippets/http/configurehandler/configurehandler.csproj
  docs/core/extensions/snippets/http/http.sln
Labels: dotnet-networking/tech, dotnet-fundamentals/prod, okr-coverage

#33289 Add ignore rule for the VB what's new content
  dotnet-versionsweeper.json
Labels: okr-coverage

#33288 Remove pragma directives
  docs/standard/garbage-collection/implementing-disposeasync.md
  docs/standard/garbage-collection/snippets/dispose-async/ExampleConjunctiveDisposable.cs
Labels: dotnet-fundamentals/prod, okr-health

#33308 Minor rephrasing to improve readability
  docs/fundamentals/code-analysis/quality-rules/ca1802.md
Labels: dotnet-fundamentals/prod, community-contribution

#33196 fix: RegexGenerated
  docs/csharp/language-reference/keywords/partial-method.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#33321 Disambiguate xref links
  docs/fundamentals/code-analysis/quality-rules/ca1065.md
Labels: dotnet-fundamentals/prod

#33004 Add default formatting values
  docs/fundamentals/code-analysis/style-rules/csharp-formatting-options.md
  docs/fundamentals/code-analysis/style-rules/dotnet-formatting-options.md
Labels: dotnet-fundamentals/prod

#33111 Reorganize breaking changes TOC
  .openpublishing.redirection.core.json
  docs/breadcrumb/toc.yml
  docs/core/compatibility/breaking-changes.md
  docs/core/compatibility/categories.md
  docs/core/compatibility/library-change-rules.md
  docs/core/compatibility/toc.yml
  docs/core/porting/breaking-changes.md
  docs/fundamentals/toc.yml
  docs/index.yml
  docs/standard/library-guidance/breaking-changes.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech, dotnet-fundamentals/prod

#33325 Add example source for C# and VB to roundtrip JSON de/serialize
  docs/standard/serialization/system-text-json/how-to.md
  docs/standard/serialization/system-text-json/snippets/system-text-json-how-to/csharp/DeserializeIgnoreNull.cs
  docs/standard/serialization/system-text-json/snippets/system-text-json-how-to/csharp/Program.cs
  docs/standard/serialization/system-text-json/snippets/system-text-json-how-to/csharp/RoundtripDateOnly.cs
  docs/standard/serialization/system-text-json/snippets/system-text-json-how-to/csharp/SerializeExcludeNullValueProperties.cs
  docs/standard/serialization/system-text-json/snippets/system-text-json-how-to/vb/Program.vb
  docs/standard/serialization/system-text-json/snippets/system-text-json-how-to/vb/RoundtripDateOnly.vb
Labels: dotnet-fundamentals/prod

#33336 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33174 Fix naming rules in dynamic2.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/csrefKeywordsTypes/CS/dynamic2.cs
Labels: community-contribution

#33223 Update default-langversion-table.md
  docs/csharp/language-reference/includes/default-langversion-table.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, okr-health

#33305 fix redirection rules to remove build warnings
  .openpublishing.redirection.csharp.json
  docfx.json
Labels: community-contribution, okr-health

#33312 add await finishedtask;
  docs/csharp/programming-guide/concepts/async/index.md
Labels: DO NOT MERGE, dotnet-csharp/prod, csharp-async/tech, community-contribution

#33332 Add anchor for the delegate type
  docs/csharp/language-reference/keywords/reference-types.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#33339 Rewrite example source to make it simpler and clearer.
  docs/core/extensions/dependency-injection-usage.md
  docs/core/extensions/snippets/configuration/console-di/DefaultOperation.cs
  docs/core/extensions/snippets/configuration/console-di/ExampleScopedService.cs
  docs/core/extensions/snippets/configuration/console-di/ExampleSingletonService.cs
  docs/core/extensions/snippets/configuration/console-di/ExampleTransientService.cs
  docs/core/extensions/snippets/configuration/console-di/IExampleScopedService.cs
  docs/core/extensions/snippets/configuration/console-di/IExampleSingletonService.cs
  docs/core/extensions/snippets/configuration/console-di/IExampleTransientService.cs
  docs/core/extensions/snippets/configuration/console-di/IOperation.cs
  docs/core/extensions/snippets/configuration/console-di/IReportServiceLifetime.cs
  docs/core/extensions/snippets/configuration/console-di/IScopedOperation.cs
  docs/core/extensions/snippets/configuration/console-di/ISingletonOperation.cs
  docs/core/extensions/snippets/configuration/console-di/ITransientOperation.cs
  docs/core/extensions/snippets/configuration/console-di/OperationLogger.cs
  docs/core/extensions/snippets/configuration/console-di/Program.cs
  docs/core/extensions/snippets/configuration/console-di/ServiceLifetimeReporter.cs
  docs/core/project-sdk/overview.md
Labels: dotnet-fundamentals/prod, okr-experience

#33342 remove recently merged specs
  .openpublishing.redirection.csharp.json
  docfx.json
  docs/csharp/toc.yml
Labels: dotnet-csharp/prod

#33357 Update Features.cs
  docs/csharp/tour-of-csharp/snippets/shared/Features.cs
Labels: dotnet-csharp/prod, csharp-get-started/tech, community-contribution

#33356 Update features.md
  docs/csharp/tour-of-csharp/features.md
Labels: dotnet-csharp/prod, csharp-get-started/tech, community-contribution

#33192 Minor edits to match actual output
  docs/core/tutorials/with-visual-studio-code.md
Labels: dotnet-fundamentals/prod, community-contribution

#32987 Add missing dash for `ProxyUseDefaultCredentials` flag
  docs/core/tools/dotnet-install-script.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, community-contribution

#32577 Update object-detection-onnx.md
  docs/machine-learning/tutorials/object-detection-onnx.md
Labels: dotnet-ml/prod, community-contribution

#32855 Document machine readable json output for dotnet list package report
  docs/core/tools/dotnet-list-package.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#33358 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33350 Add contextual TOC links
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#33353 Add description metadata
  docs/standard/design-guidelines/dispose-pattern.md
Labels: dotnet/prod, dotnet-standard/tech, dotnet-fundamentals/prod

#33352 Fix up parallel programming TOC sections
  docs/fundamentals/toc.yml
  docs/standard/parallel-programming/understanding-speedup-in-plinq.md
  docs/standard/parallel-programming/walkthrough-using-dataflow-in-a-windows-forms-application.md
Labels: dotnet-fundamentals/prod

#33366 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33359 Update program-building-blocks.md
  docs/csharp/tour-of-csharp/program-building-blocks.md
Labels: dotnet-csharp/prod, csharp-get-started/tech, community-contribution

#33360 Update ClassesObjects.cs
  docs/csharp/tour-of-csharp/snippets/shared/ClassesObjects.cs
Labels: dotnet-csharp/prod, csharp-get-started/tech, community-contribution

#33361 Update features.md
  docs/csharp/tour-of-csharp/features.md
Labels: dotnet-csharp/prod, csharp-get-started/tech, community-contribution

#33368 minor copyediting
  docs/visual-basic/programming-guide/language-features/objects-and-classes/index.md
Labels: dotnet-visualbasic/prod, community-contribution

#33374 changed description of `IsNot`
  docs/visual-basic/programming-guide/program-structure/coding-conventions.md
Labels: dotnet-visualbasic/prod, community-contribution

#33379 CreateObjectReference is not awaitable
  docs/orleans/grains/observers.md
Labels: dotnet-orleans/prod, community-contribution

#33382 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33377 Remove extraneous brace
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/prod, community-contribution

#33372 Delete Vista and Server 2008 prereqs
  docs/core/install/windows.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod

#33383 Remove extra "what"
  docs/core/whats-new/dotnet-7.md
Labels: dotnet-fundamentals/prod, community-contribution

#33116 Update Linux installation dependencies
  docs/core/docker/introduction.md
  docs/core/install/includes/linux-libgdiplus-general.md
  docs/core/install/includes/linux-rpm-install-dependencies.md
  docs/core/install/linux-alpine.md
  docs/core/install/linux-debian.md
  docs/core/install/linux-opensuse.md
  docs/core/install/linux-scripted-manual.md
  docs/core/install/linux-sles.md
  docs/core/install/linux-ubuntu.md
  docs/core/install/linux.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod, dotnet-docker/tech, community-contribution

#32634 CA1311 and CA1421
  docs/core/extensions/performing-culture-insensitive-case-changes.md
  docs/fundamentals/code-analysis/quality-rules/ca1311.md
  docs/fundamentals/code-analysis/quality-rules/ca1421.md
  docs/fundamentals/code-analysis/quality-rules/globalization-warnings.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/interoperability-warnings.md
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/extra-rules/ca1421.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/extra-rules/extra-rules.csproj
  docs/fundamentals/code-analysis/quality-rules/snippets/vb/extra-rules/ca1421.vb
  docs/fundamentals/code-analysis/quality-rules/snippets/vb/extra-rules/extra-rules.vbproj
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#33385 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33378 Update Program.cs
  docs/csharp/programming-guide/concepts/async/snippets/index/AsyncBreakfast-final/Program.cs
Labels: dotnet-csharp/prod, csharp-async/tech, community-contribution

#33395 Update Observers docs
  docs/orleans/grains/observers.md
Labels: dotnet-orleans/prod, community-contribution

#29278 Update index.md
  docs/core/porting/index.md
Labels: dotnet-fundamentals/prod

#33407 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#29495 Add new CLI commands
  docs/machine-learning/automate-training-with-cli.md
  docs/machine-learning/reference/ml-net-cli-reference.md
  docs/machine-learning/tutorials/media/mlnet-cli/mlnet-cli-solution-explorer.png
  docs/machine-learning/tutorials/sentiment-analysis-cli.md
Labels: dotnet-ml/prod

#29597 Breaking change doc - clarify when adding fields to structs is allowed
  docs/core/compatibility/library-change-rules.md
Labels: dotnet-fundamentals/prod

#33388 Update .NET SDK mininum VS version
  docs/core/compatibility/sdk/7.0/vs-msbuild-version.md
Labels: dotnet-fundamentals/prod

#33387 Add ASP.NET distributed tracing example
  docs/core/diagnostics/distributed-tracing-collection-walkthroughs.md
Labels: dotnet-fundamentals/prod

#33418 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33409 Fix typo in Define compiler-synthesized methods section
  docs/csharp/whats-new/tutorials/records.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech, community-contribution, okr-health

#33424 Delete extra `]`
  docs/fundamentals/code-analysis/code-quality-rule-options.md
Labels: community-contribution

#33423 Update source-generation.md (typo)
  docs/standard/serialization/system-text-json/source-generation.md
Labels: dotnet-fundamentals/prod, community-contribution

#33426 Make BinaryFormatter examples more secure
  docs/fundamentals/code-analysis/quality-rules/ca2301.md
  docs/fundamentals/code-analysis/quality-rules/ca2302.md
  docs/fundamentals/code-analysis/quality-rules/ca2311.md
  docs/fundamentals/code-analysis/quality-rules/ca2312.md
Labels: dotnet-fundamentals/prod

#33496 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33044 New article and content for `Orleans.BroadcastChannel` NuGet package
  docs/orleans/streaming/broadcast-channel.md
  docs/orleans/streaming/index.md
  docs/orleans/streaming/snippets/broadcastchannel/BroadcastChannel.Client/BroadcastChannel.Client.csproj
  docs/orleans/streaming/snippets/broadcastchannel/BroadcastChannel.Client/Program.cs
  docs/orleans/streaming/snippets/broadcastchannel/BroadcastChannel.GrainInterfaces/BroadcastChannel.GrainInterfaces.csproj
  docs/orleans/streaming/snippets/broadcastchannel/BroadcastChannel.GrainInterfaces/ChannelNames.cs
  docs/orleans/streaming/snippets/broadcastchannel/BroadcastChannel.GrainInterfaces/GlobalQuote.cs
  docs/orleans/streaming/snippets/broadcastchannel/BroadcastChannel.GrainInterfaces/ILiveStockGrain.cs
  docs/orleans/streaming/snippets/broadcastchannel/BroadcastChannel.GrainInterfaces/Stock.cs
  docs/orleans/streaming/snippets/broadcastchannel/BroadcastChannel.GrainInterfaces/StockSymbol.cs
  docs/orleans/streaming/snippets/broadcastchannel/BroadcastChannel.Silo/BroadcastChannel.Silo.csproj
  docs/orleans/streaming/snippets/broadcastchannel/BroadcastChannel.Silo/LiveStockGrain.cs
  docs/orleans/streaming/snippets/broadcastchannel/BroadcastChannel.Silo/Options/AlphaVantageOptions.cs
  docs/orleans/streaming/snippets/broadcastchannel/BroadcastChannel.Silo/Program.cs
  docs/orleans/streaming/snippets/broadcastchannel/BroadcastChannel.Silo/Services/StockClient.cs
  docs/orleans/streaming/snippets/broadcastchannel/BroadcastChannel.Silo/Services/StockWorker.cs
  docs/orleans/streaming/snippets/media/broadcastchannel-diagram.png
  docs/orleans/streaming/stream-providers.md
  docs/orleans/streaming/streams-programming-apis.md
  docs/orleans/streaming/streams-quick-start.md
  docs/orleans/toc.yml
Labels: okr-discovery, okr-health

#33482 Rework STJ bits for `DateOnly` and `TimeOnly`
  docs/standard/datetime/how-to-use-dateonly-timeonly.md
  docs/standard/datetime/includes/dateonly-and-timeonly-serialization-cs.md
  docs/standard/datetime/includes/dateonly-and-timeonly-serialization.md
  docs/standard/datetime/snippets/how-to-use-dateonly-timeonly/csharp/Program.cs
  docs/standard/datetime/snippets/how-to-use-dateonly-timeonly/vb/Program.vb
  docs/standard/datetime/system-text-json-support.md
  docs/standard/serialization/system-text-json/how-to.md
Labels: dotnet-fundamentals/prod, okr-discovery

#33408 Remove inaccessible variable (col) from example
  samples/snippets/csharp/VS_Snippets_Misc/cancellation/cs/cancellationex11.cs
  samples/snippets/visualbasic/VS_Snippets_Misc/cancellation/vb/cancellationex11.vb
Labels: community-contribution

#33490 Fix typo
  docs/standard/asynchronous-programming-patterns/consuming-the-task-based-asynchronous-pattern.md
Labels: dotnet-fundamentals/prod, community-contribution, okr-health

#33487 Address incorrect output in #33189
  docs/standard/parallel-programming/task-based-asynchronous-programming.md
  samples/snippets/csharp/VS_Snippets_Misc/tpl_taskintro/cs/asyncstate.cs
  samples/snippets/csharp/VS_Snippets_Misc/tpl_taskintro/cs/child1.cs
  samples/snippets/csharp/VS_Snippets_Misc/tpl_taskintro/cs/continuations1.cs
  samples/snippets/csharp/VS_Snippets_Misc/tpl_taskintro/cs/continuations2.cs
  samples/snippets/csharp/VS_Snippets_Misc/tpl_taskintro/cs/iteration1a.cs
  samples/snippets/csharp/VS_Snippets_Misc/tpl_taskintro/cs/iteration1b.cs
  samples/snippets/csharp/VS_Snippets_Misc/tpl_taskintro/cs/lambda1.cs
  samples/snippets/csharp/VS_Snippets_Misc/tpl_taskintro/cs/result1.cs
  samples/snippets/csharp/VS_Snippets_Misc/tpl_taskintro/cs/run1.cs
  samples/snippets/csharp/VS_Snippets_Misc/tpl_taskintro/cs/taskintro.csproj
  samples/snippets/visualbasic/VS_Snippets_Misc/tpl_taskintro/vb/My Project/Application.myapp
  samples/snippets/visualbasic/VS_Snippets_Misc/tpl_taskintro/vb/asyncstate.vb
  samples/snippets/visualbasic/VS_Snippets_Misc/tpl_taskintro/vb/child1.vb
  samples/snippets/visualbasic/VS_Snippets_Misc/tpl_taskintro/vb/continuations1.vb
  samples/snippets/visualbasic/VS_Snippets_Misc/tpl_taskintro/vb/continuations2.vb
  samples/snippets/visualbasic/VS_Snippets_Misc/tpl_taskintro/vb/iteration1a.vb
  samples/snippets/visualbasic/VS_Snippets_Misc/tpl_taskintro/vb/iteration1b.vb
  samples/snippets/visualbasic/VS_Snippets_Misc/tpl_taskintro/vb/lambda1.vb
  samples/snippets/visualbasic/VS_Snippets_Misc/tpl_taskintro/vb/result1.vb
  samples/snippets/visualbasic/VS_Snippets_Misc/tpl_taskintro/vb/run1.vb
  samples/snippets/visualbasic/VS_Snippets_Misc/tpl_taskintro/vb/taskintro.vbproj
  samples/snippets/visualbasic/VS_Snippets_Misc/tpl_taskintro/vb/tpl_intro.vb
Labels: dotnet-fundamentals/prod, okr-experience, okr-health

#33507 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33514 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33516 Temporary Revert "Document machine readable json output for dotnet li…
  docs/core/tools/dotnet-list-package.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#33513 Move design guidelines to architecture hub page
  docs/architecture/index.yml
  docs/breadcrumb/toc.yml
  docs/fundamentals/toc.yml
  docs/index.yml
  docs/standard/design-guidelines/index.md
  docs/standard/design-guidelines/toc.yml
Labels: dotnet/prod, dotnet-standard/tech, dotnet-architecture/prod, dotnet-fundamentals/prod

#33411 Add exclude symbol names option to CA1305
  docs/fundamentals/code-analysis/code-quality-rule-options.md
  docs/fundamentals/code-analysis/quality-rules/ca1305.md
Labels: dotnet-fundamentals/prod

#32194 Add SSL/TLS articles to conceptual docs
  docs/core/extensions/sslstream-best-practices.md
  docs/core/extensions/sslstream-migration-from-framework.md
  docs/core/extensions/sslstream-troubleshooting.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#33524 FSharp: Add chained expressions guidance.
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod, community-contribution

#33511 Replace "an" with "a"
  docs/csharp/programming-guide/concepts/async/index.md
Labels: dotnet-csharp/prod, csharp-async/tech, community-contribution

#33522 Link to programming guide indexers added
  docs/csharp/language-reference/keywords/this.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#33517 Automatic RID for publish command only
  docs/core/compatibility/7.0.md
  docs/core/compatibility/sdk/7.0/automatic-rid-publish-only.md
  docs/core/compatibility/sdk/7.0/automatic-runtimeidentifier.md
  docs/core/compatibility/toc.yml
  docs/core/rid-catalog.md
Labels: dotnet-fundamentals/prod

#33535 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33540 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33545 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33553 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33558 Document / behaviour
  docs/core/extensions/file-globbing.md
Labels: dotnet-fundamentals/prod, community-contribution

#33531 Fix: Replace 'Create' with 'Initialize' in Delegates example
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideDelegates/CS/Delegates.cs
Labels: community-contribution

#33543 Fix capitalization
  docs/framework/performance/jit-tracing-etw-events.md
Labels: dotnet-framework/prod, community-contribution, okr-health

#33544 [csc.exe cmd line - "response" file] Extra '-' character
  docs/csharp/language-reference/compiler-options/miscellaneous.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#33560 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33549 Update snippet3605.fs
  samples/snippets/fsharp/lang-ref-2/snippet3605.fs
Labels: community-contribution

#33563 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33566 Fix architecture breadcrumb and dotnet command TOC node
  docs/breadcrumb/toc.yml
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/prod

#33572 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33591 Update NuGet documentation for .NET 8 SDK
  docs/core/tools/nuget-signed-package-verification.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#33594 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33561 Add ImageSharp as an alternative
  docs/core/compatibility/core-libraries/6.0/system-drawing-common-windows-only.md
Labels: dotnet-fundamentals/prod

#33562 WCF Client breaking change
  docs/core/compatibility/toc.yml
  docs/core/compatibility/wcf-client/6.0/net-standard-2-support.md
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#33571 Added localization info for dotnet new
  docs/core/tools/custom-templates.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, community-contribution

#33618 Fix doc on new DefaultTrimmerAction behavior
  docs/core/compatibility/deployment/7.0/deprecated-trimmer-default-action.md
Labels: dotnet-fundamentals/prod

#32762 Document building against the Microsoft.NETFramework.ReferenceAssemblies NuGet package
  docs/framework/migration-guide/reference-assemblies.md
  docs/framework/toc.yml
Labels: dotnet-framework/prod, dotnet-install/tech

#33646 Fix broken links
  docs/core/diagnostics/distributed-tracing-collection-walkthroughs.md
  docs/core/diagnostics/distributed-tracing-concepts.md
  docs/core/diagnostics/distributed-tracing.md
  docs/csharp/how-to/compare-strings.md
  docs/orleans/quickstarts/build-your-first-orleans-app.md
  docs/standard/base-types/best-practices-strings.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, dotnet-fundamentals/prod

#33661 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33664 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33595 fix: aligned enum to proto version
  docs/architecture/grpc-for-wcf-developers/protobuf-enums.md
Labels: dotnet-architecture/prod, grpc/tech, community-contribution

#33381 docs: Consistent ClientBase type
  docs/framework/wcf/feature-details/channel-factory-and-caching.md
Labels: community-contribution

#33678 Remove 3rd paramter from constructor
  docs/orleans/grains/observers.md
Labels: community-contribution

#33655 Add readonly to rule description
  docs/fundamentals/code-analysis/style-rules/naming-rules.md
Labels: dotnet-fundamentals/prod

#33610 Split up .NET fundamentals TOC
  .openpublishing.redirection.fundamentals.json
  docs/breadcrumb/toc.yml
  docs/fundamentals/index.yml
  docs/fundamentals/toc.yml
  docs/fundamentals/tools-and-productivity.md
  docs/index.yml
  docs/standard/asynchronous-programming-patterns/toc.yml
  docs/standard/data/sqlite/TOC.yml
  docs/standard/data/xml/index.md
  docs/standard/data/xml/toc.yml
  docs/standard/linq/toc.yml
  docs/standard/security/toc.yml
  docs/standard/threading/toc.yml
  docs/toc/advanced-programming/index.yml
  docs/toc/advanced-programming/toc.yml
  docs/toc/data-access/index.yml
  docs/toc/data-access/toc.yml
  docs/toc/devops-testing/index.yml
  docs/toc/devops-testing/toc.yml
  docs/toc/migration-guide/index.yml
  docs/toc/migration-guide/toc.yml
  docs/toc/security/index.yml
  docs/toc/security/toc.yml
  docs/toc/tools-diagnostics/index.yml
  docs/toc/tools-diagnostics/toc.yml
Labels: dotnet/prod, dotnet-security/tech, dotnet-fundamentals/prod, dotnet-data/prod

#33672 Remove `win-arm` RIDs from the RID catalog page.
  docs/core/rid-catalog.md
Labels: dotnet-fundamentals/prod, community-contribution

#33367 Cleanup the versioning document
  docs/core/porting/versioning-sdk-msbuild-vs.md
Labels: dotnet-fundamentals/prod

#33688 Add note about warninglevel property
  docs/core/tools/dotnet-build.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#33693 Remove 3.1 and 5.0 empty zone pivots
  docs/core/tutorials/debugging-with-visual-studio-code.md
  docs/core/tutorials/debugging-with-visual-studio.md
  docs/core/tutorials/library-with-visual-studio-code.md
  docs/core/tutorials/library-with-visual-studio.md
  docs/core/tutorials/publishing-with-visual-studio-code.md
  docs/core/tutorials/publishing-with-visual-studio.md
  docs/core/tutorials/testing-library-with-visual-studio-code.md
  docs/core/tutorials/testing-library-with-visual-studio.md
  docs/core/tutorials/with-visual-studio-code.md
  docs/core/tutorials/with-visual-studio.md
  docs/zone-pivot-groups.yml
Labels: dotnet-fundamentals/prod

#33645 High DPI monitor breaking changes
  docs/core/compatibility/8.0.md
  docs/core/compatibility/includes/binary-source-behavioral.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/windows-forms/8.0/anchor-layout.md
  docs/core/compatibility/windows-forms/8.0/forms-scale-size-to-dpi.md
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#33698 Add notes about native unions.
  docs/standard/native-interop/best-practices.md
  docs/standard/native-interop/customize-struct-marshalling.md
Labels: dotnet-fundamentals/prod

#33699 Cryptography breaking changes for .NET 8
  docs/core/compatibility/8.0.md
  docs/core/compatibility/cryptography/8.0/aesgcm-auth-tag-size.md
  docs/core/compatibility/cryptography/8.0/rsa-encrypt-decrypt-value-obsolete.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/unsupported-apis.md
  docs/fundamentals/syslib-diagnostics/obsoletions-overview.md
  docs/fundamentals/syslib-diagnostics/syslib0048.md
  docs/toc/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#33710 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#30057 Clarify changes to string format for float/double
  docs/standard/base-types/standard-numeric-format-strings.md
Labels: dotnet-fundamentals/prod

#33700 GetFolderPath breaking change
  docs/core/compatibility/8.0.md
  docs/core/compatibility/core-libraries/8.0/getfolderpath-unix.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#33725 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33683 TOC jumps
  docs/fundamentals/toc.yml
  docs/standard/assembly/toc.yml
  docs/standard/collections/thread-safe/index.md
  docs/standard/collections/thread-safe/toc.yml
  docs/standard/datetime/toc.yml
  docs/toc/advanced-programming/toc.yml
Labels: dotnet-fundamentals/prod

#33701 Add newly supported Linux/MacOS SOS commands
  docs/core/diagnostics/dotnet-dump.md
  docs/core/diagnostics/sos-debugging-extension.md
Labels: dotnet-fundamentals/prod

#33501 Update grainservices.md
  docs/orleans/grains/grainservices.md
Labels: okr-health

#33483 Correct image in #33480
  docs/orleans/grains/grain-persistence/media/reentrancy-scheduling-diagram-02.png
Labels: okr-health

#33171 Fsharp Stroustrup style guide
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod, community-contribution

#33718 TwoDigitYearMax breaking change
  docs/core/compatibility/8.0.md
  docs/core/compatibility/globalization/8.0/twodigityearmax-default.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#33738 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33730 Fix some minor issues in FSharp docs
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod, community-contribution

#33732 Activity operation name breaking change
  docs/core/compatibility/8.0.md
  docs/core/compatibility/core-libraries/8.0/activity-operation-name.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#33746 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33723 derived class has access to all virtual members
  docs/csharp/fundamentals/object-oriented/polymorphism.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#33750 Adding whitespace after 'for' keyword
  docs/csharp/tour-of-csharp/tutorials/branches-and-loops.yml
Labels: dotnet-csharp/prod, csharp-get-started/tech, community-contribution

#33597 Fix update cache example. Related to #33589.
  docs/core/extensions/caching.md
  docs/core/extensions/snippets/caching/memory-worker/CacheWorker.cs
  docs/core/extensions/snippets/caching/memory-worker/Program.cs
Labels: dotnet-fundamentals/prod

#33493 Update how-to-use-data-protection.md
  docs/standard/security/how-to-use-data-protection.md
Labels: dotnet/prod, dotnet-security/tech, dotnet-fundamentals/prod, okr-experience

#33534 Orleans client
  docs/orleans/host/client.md
  docs/orleans/host/configuration-guide/client-configuration.md
  docs/orleans/host/snippets/Client.csproj
  docs/orleans/host/snippets/ClientConnectRetryFilter.cs
  docs/orleans/host/snippets/ExampleExternalProgram.cs
  docs/orleans/host/snippets/GameState.cs
  docs/orleans/host/snippets/IGameGrain.cs
  docs/orleans/host/snippets/IPlayerGrain.cs
  docs/orleans/host/snippets/Program.cs
Labels: okr-coverage

#33680 Update options pattern guidance for library authors
  docs/core/extensions/options-library-authors.md
  docs/core/extensions/snippets/configuration/configuration.sln
  docs/core/extensions/snippets/configuration/console-json/ValidateSettingsOptions.cs
  docs/core/extensions/snippets/configuration/options-validation-onstart/Program.cs
  docs/core/extensions/snippets/configuration/options-validation-onstart/ServiceCollectionExtensions.cs
  docs/core/extensions/snippets/configuration/options-validation-onstart/SupportOptions.cs
  docs/core/extensions/snippets/configuration/options-validation-onstart/appsettings.json
  docs/core/extensions/snippets/configuration/options-validation-onstart/options-validation-onstart.csproj
Labels: dotnet-fundamentals/prod, okr-health

#33747 Orleans Server Configuration doc improvement
  docs/orleans/host/configuration-guide/server-configuration.md
Labels: community-contribution

#33752 VS for Mac UI corrections
  docs/core/tutorials/debugging-with-visual-studio-mac.md
Labels: dotnet-fundamentals/prod, okr-health

#33751 UI corrections
  docs/core/tutorials/media/with-visual-studio/create-new-project.png
  docs/core/tutorials/with-visual-studio.md
Labels: dotnet-fundamentals/prod, okr-health

#33767 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33741 Disposed pipe and Console.ReadKey breaking changes
  docs/core/compatibility/8.0.md
  docs/core/compatibility/core-libraries/8.0/console-readkey-legacy.md
  docs/core/compatibility/core-libraries/8.0/filestream-disposed-pipe.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#33765 Freshness dev center - environment configuration
  docs/azure/azure-tools.md
  docs/azure/configure-visual-studio.md
  docs/azure/configure-vs-code.md
  docs/azure/create-azure-account.md
  docs/azure/dotnet-dev-env-checklist.md
  docs/azure/install-azure-cli.md
Labels: dotnet-azure/prod

#33776 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33774 fix grammar on slice / list pattern
  docs/csharp/language-reference/operators/patterns.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, okr-health

#33763 Add explicit conversion from `uint` to `nint`
  docs/csharp/language-reference/builtin-types/numeric-conversions.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, okr-health

#33772 tweak language on ctor and `SetsRequiredMembers`
  docs/csharp/language-reference/keywords/required.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, okr-health

#33769 Document the order of initialization actions.
  docs/csharp/programming-guide/classes-and-structs/constructors.md
  docs/csharp/programming-guide/classes-and-structs/static-constructors.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#33778 rewrite paragraph on `ref` locals`
  docs/csharp/language-reference/statements/declarations.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech
