Repository dotnet/docs, pull requests merged in 2023-07, with the labels that each got.

#36072 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36089 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36096 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36101 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36102 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36073 Removed Instruction to Include System.Threading.Tasks.Extensions in Order to Use ValueTask
  docs/csharp/asynchronous-programming/async-return-types.md
Labels: dotnet-csharp/prod, csharp-async/tech, community-contribution

#36094 Fix typo
  docs/csharp/whats-new/csharp-12.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech, community-contribution, okr-health

#36083 Update object-and-collection-initializers.md
  docs/csharp/programming-guide/classes-and-structs/object-and-collection-initializers.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#35969 Update metrics.md
  docs/core/diagnostics/metrics.md
Labels: dotnet-fundamentals/prod

#36117 Distributed Tracing Walkthrough/Activity links - use correct type signature in code example
  docs/core/diagnostics/distributed-tracing-instrumentation-walkthroughs.md
Labels: dotnet-fundamentals/prod, community-contribution

#36113 Fix broken links
  .openpublishing.redirection.csharp.json
  docfx.json
  docs/azure/index.yml
  docs/azure/landing-page.yml
  docs/core/deploying/native-aot/index.md
  docs/csharp/tour-of-csharp/index.md
  docs/fsharp/using-fsharp-on-azure/queue-storage.md
  docs/orleans/streaming/index.md
  docs/standard/serialization/system-text-json/migrate-from-newtonsoft.md
  docs/standard/serialization/system-text-json/preserve-references.md
  docs/standard/serialization/system-text-json/supported-collection-types.md
  docs/standard/serialization/system-text-json/use-utf8jsonreader.md
Labels: dotnet-fsharp/prod, dotnet-csharp/prod, csharp-get-started/tech, dotnet-fundamentals/prod, dotnet-azure/prod

#36120 Add note about windows bash
  docs/core/tools/enable-tab-autocomplete.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#36126 Corrected GetSubscriptionAsync() to GetSubscriptionResource()
  docs/azure/sdk/resource-management.md
Labels: dotnet-azure/prod, community-contribution

#36059 Add documentation for CA1864.
  docs/fundamentals/code-analysis/quality-rules/ca1864.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/performance-warnings.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod, community-contribution

#36065 Fix all open issues on the patterns language reference.
  docs/csharp/language-reference/operators/patterns.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, okr-health

#36131 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36133 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36097 Update errors-warnings.md
  docs/csharp/language-reference/compiler-options/errors-warnings.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#36114 Add docs for inline arrays in C# 12
  docfx.json
  docs/csharp/language-reference/builtin-types/snippets/shared/StructType.cs
  docs/csharp/language-reference/builtin-types/struct.md
  docs/csharp/toc.yml
  docs/csharp/whats-new/csharp-12.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-whats-new/tech, okr-health, :checkered_flag: Release: .NET 8

#36123 Update generics.md
  docs/csharp/fundamentals/types/generics.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#36125 Update csharp10-templates.md
  includes/csharp10-templates.md
Labels: community-contribution

#36137 Fix typo in properties.md
  docs/csharp/properties.md
Labels: dotnet-csharp/prod, community-contribution

#36140 Update oop.md
  docs/csharp/fundamentals/tutorials/oop.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#36139 Update classes.md
  docs/csharp/fundamentals/tutorials/classes.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#36141 Add links to the install script docs
  docs/core/tools/dotnet-install-script.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#36142 CentOS8 should use the MS repository
  docs/core/install/linux-rhel.md
Labels: dotnet/prod, dotnet-install/tech, dotnet-fundamentals/prod, okr-health

#36143 Update formatting.md
  docs/fsharp/style-guide/formatting.md
Labels: dotnet-fsharp/prod, community-contribution

#36150 Add compiler messages for inline arrays
  docs/csharp/language-reference/compiler-messages/feature-version-errors.md
  docs/csharp/language-reference/compiler-messages/inline-array-errors.md
  docs/csharp/language-reference/compiler-messages/lambda-expression-errors.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, :checkered_flag: Release: .NET 8

#36148 Update custom-templates.md
  docs/core/tools/custom-templates.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#36155 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36156 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36158 Fix typo
  docs/csharp/language-reference/keywords/ref.md
Labels: community-contribution

#36233 Revise ref assignment reference
  docs/csharp/language-reference/operators/assignment-operator.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#36237 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35919 Dotnet new details command
  docs/core/tools/dotnet-new-details.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#36238 Container breaking changes
  docs/core/compatibility/8.0.md
  docs/core/compatibility/containers/8.0/app-user.md
  docs/core/compatibility/containers/8.0/aspnet-port.md
  docs/core/compatibility/containers/8.0/debian-version.md
  docs/core/compatibility/containers/8.0/libintl-package.md
  docs/core/compatibility/containers/8.0/multi-platform-tags.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#36239 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36246 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36247 Add migration section for JsonObjectAttribute
  docs/standard/serialization/system-text-json/migrate-from-newtonsoft.md
  docs/standard/serialization/system-text-json/supported-collection-types.md
Labels: dotnet-fundamentals/prod

#36151 Fix shorten url path
  docs/orleans/quickstarts/deploy-scale-orleans-on-azure.md
Labels: community-contribution

#36136 fixed incorrect period placement
  docs/architecture/microservices/index.md
Labels: dotnet-architecture/prod, microservices/tech, community-contribution

#36144 Add note for packagereference stating when it's needed
  docs/core/docker/publish-as-container.md
Labels: dotnet-fundamentals/prod, dotnet-docker/tech

#36252 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36232 Update object-and-collection-initializers.md
  docs/csharp/programming-guide/classes-and-structs/object-and-collection-initializers.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#36255 Revert "Update Example by implementing IIncrementalGenerator instead of ISourceGenerator"
  docs/csharp/roslyn-sdk/snippets/source-generators/ConsoleApp/ConsoleApp.csproj
  docs/csharp/roslyn-sdk/snippets/source-generators/SourceGenerator/HelloSourceGenerator.cs
  docs/csharp/roslyn-sdk/snippets/source-generators/SourceGenerator/SourceGenerator.csproj
  docs/csharp/roslyn-sdk/source-generators-overview.md
Labels: dotnet-csharp/prod, csharp-roslyn/tech, community-contribution

#36258 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#35985 Update cli-templates-create-template-package.md
  docs/core/tutorials/cli-templates-create-item-template.md
  docs/core/tutorials/cli-templates-create-project-template.md
  docs/core/tutorials/cli-templates-create-template-package.md
Labels: dotnet-fundamentals/prod

#36263 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36145 Update What's new in .NET 8 for Preview 6
  docs/core/whats-new/dotnet-8.md
Labels: dotnet-fundamentals/prod

#36259 Remove duplicate full stops
  docs/standard/base-types/standard-timespan-format-strings.md
Labels: community-contribution

#36267 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36269 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36261 Update links for MassTransit and Brighter
  docs/architecture/microservices/architect-microservice-container-applications/asynchronous-message-based-communication.md
Labels: dotnet-architecture/prod, microservices/tech, community-contribution

#36265 Add reason for obsoletion
  docs/fundamentals/syslib-diagnostics/syslib0053.md
Labels: dotnet-fundamentals/prod

#36279 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36266 ResolvePackageDependencies no longer called
  docs/core/compatibility/7.0.md
  docs/core/compatibility/sdk/7.0/resolvepackagedependencies.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 7

#36274 Update netsdk1138.md
  docs/core/tools/sdk-errors/netsdk1138.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, community-contribution

#36281 Clarify instructions
  docs/core/tutorials/debugging-with-visual-studio-code.md
Labels: dotnet-fundamentals/prod

#36283 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36286 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36294 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36282 Add ReportIVTs compiler switch
  docs/csharp/language-reference/compiler-options/advanced.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, :checkered_flag: Release: .NET 8

#36285 Don't recommend FormattableString.Invariant
  docs/fundamentals/code-analysis/quality-rules/ca1305.md
  docs/standard/base-types/best-practices-display-data.md
  docs/standard/serialization/system-text-json/snippets/how-to-5-0/csharp/CustomConverterUnixEpochDate.cs
  docs/standard/serialization/system-text-json/snippets/how-to-5-0/csharp/CustomConverterUnixEpochDateNoZone.cs
Labels: dotnet-fundamentals/prod

#36299 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36297 Fix a small grammar issue
  docs/csharp/language-reference/compiler-options/advanced.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech

#36300 Fix GCTriggered event ID
  docs/fundamentals/diagnostics/runtime-garbage-collection-events.md
Labels: dotnet-fundamentals/prod, okr-health

#36304 Remove TLS 1.0 as a secure protocol
  docs/core/compatibility/aspnet-core/5.0/kestrel-default-supported-tls-protocol-versions-changed.md
  docs/framework/network-programming/tls.md
Labels: dotnet-framework/prod, dotnet-networking/tech, okr-health

#36328 Added section about ConfigurationBuilder
  docs/core/extensions/configuration.md
  docs/core/extensions/snippets/configuration/console-basic-builder/Program.cs
  docs/core/extensions/snippets/configuration/console-basic-builder/console-basic-builder.csproj
Labels: dotnet-fundamentals/prod

#36332 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36339 Unit testing edits
  docs/azure/sdk/unit-testing-mocking.md
Labels: dotnet-azure/prod

#36336 Add IDE0120 and IDE0200
  docs/fundamentals/code-analysis/style-rules/ide0120.md
  docs/fundamentals/code-analysis/style-rules/ide0130.md
  docs/fundamentals/code-analysis/style-rules/ide0200.md
  docs/fundamentals/code-analysis/style-rules/index.md
  docs/fundamentals/code-analysis/style-rules/unnecessary-code-rules.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod

#36293 Update index.md
  docs/fsharp/tools/fsharp-interactive/index.md
Labels: dotnet-fsharp/prod, community-contribution

#36343 Fix RT_MANIFEST order in .rc file
  docs/framework/interop/configure-net-framework-based-com-components-for-reg.md
Labels: dotnet-framework/prod, okr-health

#36329 Clarify difference between violation/solution
  docs/fundamentals/code-analysis/quality-rules/ca3009.md
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/netfx/ca3009.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/netfx/project.csproj
  docs/fundamentals/code-analysis/quality-rules/snippets/vb/netfx/ca3009.vb
  docs/fundamentals/code-analysis/quality-rules/snippets/vb/netfx/project.vbproj
Labels: dotnet-fundamentals/prod

#36331 Reorder graphics libraries
  docs/core/compatibility/core-libraries/6.0/system-drawing-common-windows-only.md
Labels: dotnet-fundamentals/prod

#36340 Unit testing refs
  docs/azure/sdk/unit-testing-mocking.md
Labels: dotnet-azure/prod

#36344 Document -disable-build-servers
  docs/core/tools/dotnet-build.md
  docs/core/tools/dotnet-publish.md
  docs/core/tools/dotnet-restore.md
  includes/cli-disable-build-servers.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, :checkered_flag: Release: .NET 7

#36330 Correct DI lifetime issue in sample
  docs/core/extensions/dependency-injection.md
  docs/core/extensions/snippets/configuration/dependency-injection/Program.cs
Labels: dotnet-fundamentals/prod

#36347 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36350 Update Delegates.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideDelegates/CS/Delegates.cs
Labels: community-contribution

#36346 Add some missing code style rules
  docs/fundamentals/code-analysis/style-rules/code-block-preferences.md
  docs/fundamentals/code-analysis/style-rules/expression-level-preferences.md
  docs/fundamentals/code-analysis/style-rules/ide0200.md
  docs/fundamentals/code-analysis/style-rules/ide0210.md
  docs/fundamentals/code-analysis/style-rules/ide0211.md
  docs/fundamentals/code-analysis/style-rules/ide0220.md
  docs/fundamentals/code-analysis/style-rules/ide0230.md
  docs/fundamentals/code-analysis/style-rules/index.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod

#36355 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36345 dotnet install: Add arch options
  docs/core/tools/dotnet-tool-install.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#36357 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36362 C# 11: explicitly mention dotnet version
  docs/csharp/whats-new/csharp-11.md
Labels: dotnet-csharp/prod, csharp-whats-new/tech, community-contribution

#36363 Fix typo in expression-trees-explained.md
  docs/csharp/advanced-topics/expression-trees/expression-trees-explained.md
Labels: dotnet-csharp/prod, community-contribution

#36367 Fix hyperlink error inside the `nameof` note at nullable analysis page
  docs/csharp/language-reference/attributes/nullable-analysis.md
Labels: community-contribution

#36361 Revised conditional ref reference
  docs/csharp/language-reference/operators/conditional-operator.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#36302 Update observability-with-otel.md
  docs/core/diagnostics/observability-with-otel.md
Labels: dotnet-fundamentals/prod, community-contribution

#36371 Remove FormattableString.Invariant example
  docs/fundamentals/code-analysis/quality-rules/ca1305.md
Labels: dotnet-fundamentals/prod

#36377 Add section for ICU dependent APIs
  docs/core/extensions/globalization-icu.md
Labels: dotnet-fundamentals/prod

#36380 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36381 Fix suggestions
  docs/architecture/cloud-native/candidate-apps.md
  docs/architecture/cloud-native/definition.md
  docs/architecture/microservices/multi-container-microservice-net-applications/multi-container-applications-docker-compose.md
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
  docs/orleans/deployment/docker-deployment.md
Labels: dotnet-architecture/prod, microservices/tech, cloud-native/tech, dotnet-azure/prod

#36384 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36378 Document IDE0240, 0241, 0250, 0251
  docs/fundamentals/code-analysis/style-rules/ide0240.md
  docs/fundamentals/code-analysis/style-rules/ide0241.md
  docs/fundamentals/code-analysis/style-rules/ide0250.md
  docs/fundamentals/code-analysis/style-rules/ide0251.md
  docs/fundamentals/code-analysis/style-rules/index.md
  docs/fundamentals/code-analysis/style-rules/language-rules.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod

#36391 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36298 Update Azure SDK DI doc for additional app builders
  docs/azure/sdk/dependency-injection.md
  docs/azure/sdk/logging.md
  docs/azure/sdk/snippets/dependency-injection/Directory.Packages.props
  docs/azure/sdk/snippets/dependency-injection/HostApplicationBuilder/HostApplicationBuilder.csproj
  docs/azure/sdk/snippets/dependency-injection/HostApplicationBuilder/Program.cs
  docs/azure/sdk/snippets/dependency-injection/HostBuilder/HostBuilder.csproj
  docs/azure/sdk/snippets/dependency-injection/HostBuilder/Program.cs
  docs/azure/sdk/snippets/dependency-injection/HostBuilder/Properties/launchSettings.json
  docs/azure/sdk/snippets/dependency-injection/HostBuilder/Worker.cs
  docs/azure/sdk/snippets/dependency-injection/HostBuilder/appsettings.Development.json
  docs/azure/sdk/snippets/dependency-injection/HostBuilder/appsettings.json
  docs/azure/sdk/snippets/dependency-injection/WebApplicationBuilder/Program.cs
  docs/azure/sdk/snippets/dependency-injection/WebApplicationBuilder/Properties/launchSettings.json
  docs/azure/sdk/snippets/dependency-injection/WebApplicationBuilder/WebApplicationBuilder.csproj
  docs/azure/sdk/snippets/dependency-injection/WebApplicationBuilder/appsettings.Development.json
  docs/azure/sdk/snippets/dependency-injection/WebApplicationBuilder/appsettings.json
Labels: dotnet-azure/prod

#36376 Provide `Perform inner joins` article with method-based syntax examples
  docs/csharp/linq/perform-inner-joins.md
  samples/snippets/csharp/concepts/linq/LinqSamples.Test/InnerJoinsTest.cs
  samples/snippets/csharp/concepts/linq/LinqSamples/InnerJoins.cs
  samples/snippets/csharp/concepts/linq/LinqSamples/Program.cs
Labels: dotnet-csharp/prod, csharp-linq/tech, community-contribution

#36385 Cross-link sections about patterns and operators precedence
  docs/csharp/language-reference/operators/index.md
  docs/csharp/language-reference/operators/patterns.md
Labels: community-contribution

#36388 Update tour.md due to "Try F# in Fable" link leads to a non-functioni…
  docs/fsharp/tour.md
Labels: dotnet-fsharp/prod, community-contribution

#36394 Add docs for IDE0260, IDE0270
  .openpublishing.redirection.fundamentals.json
  docs/csharp/language-reference/operators/member-access-operators.md
  docs/csharp/language-reference/operators/null-coalescing-operator.md
  docs/fundamentals/code-analysis/style-rules/ide0019.md
  docs/fundamentals/code-analysis/style-rules/ide0029-ide0030-ide0270.md
  docs/fundamentals/code-analysis/style-rules/ide0029-ide0030.md
  docs/fundamentals/code-analysis/style-rules/ide0078-ide0260.md
  docs/fundamentals/code-analysis/style-rules/ide0083.md
  docs/fundamentals/code-analysis/style-rules/ide0084.md
  docs/fundamentals/code-analysis/style-rules/ide0140.md
  docs/fundamentals/code-analysis/style-rules/ide0200.md
  docs/fundamentals/code-analysis/style-rules/ide0210.md
  docs/fundamentals/code-analysis/style-rules/ide0211.md
  docs/fundamentals/code-analysis/style-rules/ide0220.md
  docs/fundamentals/code-analysis/style-rules/ide0230.md
  docs/fundamentals/code-analysis/style-rules/ide0250.md
  docs/fundamentals/code-analysis/style-rules/ide0251.md
  docs/fundamentals/code-analysis/style-rules/index.md
  docs/fundamentals/code-analysis/style-rules/language-rules.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-csharp/prod, csharp-language-reference/tech, dotnet-fundamentals/prod

#36395 dotnet tool install: add arch option
  docs/core/tools/global-tools-how-to-use.md
  docs/core/tools/global-tools.md
  includes/dotnet-tool-install-arch-options.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#36412 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36420 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36429 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36369 Update microservice-application-design.md
  docs/architecture/microservices/multi-container-microservice-net-applications/microservice-application-design.md
Labels: dotnet-architecture/prod, microservices/tech

#36430 Clarify environment variable prefix versions
  docs/core/runtime-config/garbage-collector.md
Labels: dotnet-fundamentals/prod

#36434 Config binding breaking change
  docs/core/compatibility/8.0.md
  docs/core/compatibility/extensions/8.0/dictionary-configuration-binding.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#36444 Update publish-as-container.md
  docs/core/docker/publish-as-container.md
Labels: dotnet-fundamentals/prod, dotnet-docker/tech, okr-discovery

#36432 Revised computation expression translation table for consistency & clarity
  docs/fsharp/language-reference/computation-expressions.md
Labels: dotnet-fsharp/prod, community-contribution

#36445 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36379 Add documentation for CA1868
  docs/fundamentals/code-analysis/quality-rules/ca1868.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/performance-warnings.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod, community-contribution

#36449 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36428 Update coding guidelines
  docs/csharp/fundamentals/coding-style/coding-conventions.md
  docs/csharp/fundamentals/coding-style/identifier-names.md
  docs/csharp/fundamentals/coding-style/snippets/coding-conventions/program.cs
  docs/csharp/programming-guide/generics/generic-type-parameters.md
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideGenerics/CS/Generics.cs
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#36455 Update using-delegates.md
  docs/csharp/programming-guide/delegates/using-delegates.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, okr-health

#36433 Container tag breaking change
  docs/core/compatibility/8.0.md
  docs/core/compatibility/sdk/8.0/default-image-tag.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#36457 Update index.md
  docs/standard/linq/index.md
Labels: dotnet-fundamentals/prod, okr-health

#36456 Update database-errors.md
  docs/standard/data/sqlite/database-errors.md
Labels: dotnet-fundamentals/prod, dotnet-data/prod, okr-health

#36460 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36414 Update prepare-libraries-for-trimming.md
  docs/core/deploying/trimming/prepare-libraries-for-trimming.md
Labels: dotnet-fundamentals/prod

#36461 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#36464 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit
