Repository dotnet/docs, pull requests merged in 2023-03, with the labels that each got.

#34336 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34311 Add `nint` and `nuint` as `unmanaged` types (#34310)
  docs/csharp/language-reference/builtin-types/unmanaged-types.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#34157 Add documentation for CA1860.
  docs/fundamentals/code-analysis/quality-rules/ca1860.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/performance-warnings.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/prod, community-contribution

#34269 Note different .pubxml handling by VS and CLI
  docs/core/tools/dotnet-publish.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, okr-health

#34340 RequestContext is AsyncLocal now, not ThreadStatic
  docs/orleans/grains/request-context.md
Labels: community-contribution

#34343 Update index.md
  docs/architecture/microservices/net-core-net-framework-containers/index.md
Labels: dotnet-architecture/prod, microservices/tech, community-contribution

#34349 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33974 Add thread priority note
  docs/standard/garbage-collection/workstation-server-gc.md
Labels: dotnet-fundamentals/prod

#34351 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34345 fixes #19072 #33105
  docs/architecture/microservices/multi-container-microservice-net-applications/background-tasks-with-ihostedservice.md
Labels: dotnet-architecture/prod, microservices/tech, community-contribution, okr-health

#33659 fix #27469
  docs/machine-learning/tutorials/media/time-series-demand-forecasting/forecast.png
Labels: dotnet-ml/prod, community-contribution, okr-health

#34359 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34357 fixes #21765
  docs/architecture/grpc-for-wcf-developers/why-grpc.md
Labels: dotnet-architecture/prod, grpc/tech, community-contribution, okr-health

#34364 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34366 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: azure-sdk-shipit

#34369 Style: avoid passive voice
  docs/csharp/language-reference/builtin-types/struct.md
Labels: community-contribution

#34376 Fix a missing word in xml-documentation.md
  docs/fsharp/language-reference/xml-documentation.md
Labels: dotnet-fsharp/prod, community-contribution

#34374 Fix method naming and for loop use of brackets
  docs/csharp/tour-of-csharp/tutorials/arrays-and-collections.md
Labels: dotnet-csharp/prod, csharp-get-started/tech, community-contribution, okr-health

#34383 Add PowerShell scripts to determine .NET Fx versions
  docs/framework/migration-guide/how-to-determine-which-versions-are-installed.md
  docs/framework/migration-guide/snippets/csharp/FrameworkVersions.csproj
  docs/framework/migration-guide/snippets/csharp/versions-installed.cs
  docs/framework/migration-guide/snippets/visual-basic/FrameworkVersions.vbproj
  docs/framework/migration-guide/snippets/visual-basic/versions-installed.vb
Labels: dotnet-framework/prod, dotnet-appcompat/tech, community-contribution

#34389 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34396 Modern Web Apps Azure eBook: Fix PNG background
  docs/architecture/modern-web-apps-azure/media/image5-10.png
  docs/architecture/modern-web-apps-azure/media/image5-11.png
Labels: dotnet-architecture/prod, modern-web-apps-azure/tech, community-contribution

#34365 Console encoding breaking change
  docs/core/compatibility/7.0.md
  docs/core/compatibility/8.0.md
  docs/core/compatibility/sdk/8.0/console-encoding.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#34401 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34394 Touchups to .NET Fx version article
  docs/framework/migration-guide/how-to-determine-which-versions-are-installed.md
Labels: dotnet-framework/prod, dotnet-appcompat/tech

#34405 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34402 Update upgrade-assistant-aspnetmvc.md
  docs/core/porting/upgrade-assistant-aspnetmvc.md
Labels: dotnet-fundamentals/prod

#34386 Update link to Clean Architecture.
  docs/architecture/modern-web-apps-azure/common-web-application-architectures.md
Labels: dotnet-architecture/prod, modern-web-apps-azure/tech, community-contribution

#34406 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34353 Update how to deploy ML.NET in Web API
  docs/machine-learning/how-to-guides/serve-model-web-api-ml-net.md
Labels: dotnet-ml/prod

#34442 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34444 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33714 Extensions breaking changes
  docs/core/compatibility/8.0.md
  docs/core/compatibility/extensions/8.0/activatorutilities-createinstance-behavior.md
  docs/core/compatibility/extensions/8.0/activatorutilities-createinstance-null-provider.md
  docs/core/compatibility/extensions/8.0/configurationbinder-exceptions.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#34198 Remove dotnet_style_namespace_match_folder from IDE0055
  docs/fundamentals/code-analysis/style-rules/dotnet-formatting-options.md
  docs/fundamentals/code-analysis/style-rules/ide0130.md
  docs/fundamentals/code-analysis/style-rules/language-rules.md
Labels: dotnet-fundamentals/prod, community-contribution

#33839 Typo fix - update to .NET regular expressions article
  docs/standard/base-types/regular-expressions.md
Labels: dotnet-fundamentals/prod, community-contribution

#33879 Add TieredPGO MSBuild property
  docs/core/runtime-config/compilation.md
Labels: dotnet-fundamentals/prod

#34449 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#33962 Update best-practices.md
  docs/standard/native-interop/best-practices.md
Labels: dotnet-fundamentals/prod, community-contribution

#34450 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34284 Fix json sample
  docs/core/whats-new/dotnet-8.md
Labels: dotnet-fundamentals/prod, community-contribution

#34388 Repurpose what's new as migration guide
  .openpublishing.redirection.orleans.json
  docs/core/whats-new/dotnet-7.md
  docs/orleans/index.yml
  docs/orleans/migration-guide.md
  docs/orleans/toc.yml
  docs/whats-new/dotnet-7-docs.md
Labels: okr-experience

#34443 Added zones and NuGet package tables
  docs/orleans/resources/nuget-packages.md
Labels: okr-discovery

#34465 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34452 Add brief explanation of what MVID is to deterministic docs
  docs/csharp/language-reference/compiler-options/code-generation.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution, okr-health

#34472 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34470 Add Getting Started with DataFrames
  docs/machine-learning/how-to-guides/getting-started-dataframe.md
Labels: dotnet-ml/prod, community-contribution

#34007 Image classification & metrics updates
  docs/machine-learning/how-to-guides/install-gpu-model-builder.md
  docs/machine-learning/resources/metrics.md
Labels: dotnet-ml/prod

#33384 Add command to give executable permissions to CLI
  docs/machine-learning/how-to-guides/install-ml-net-cli.md
Labels: dotnet-ml/prod

#34403 Update upgrade assistant article for WPF
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Properties/AssemblyInfo.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Properties/Resources.Designer.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Properties/Resources.resx
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Properties/Settings.Designer.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Properties/Settings.settings
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/StarVoteControl.csproj
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Vote.xaml
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/StarVoteControl/Vote.xaml.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings.sln
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/Models/Database.cs
  docs/core/porting/snippets/upgrade-assistant-wpf-framework/csharp/WebSiteRatings/WebSiteRatings.csproj
  docs/core/porting/upgrade-assistant-wpf-framework.md
Labels: dotnet-fundamentals/prod

#34474 Clarify observer contract/behavior more
  docs/orleans/grains/observers.md
Labels: community-contribution

#34476 Policheck updates | (Bulk update)
  docs/core/extensions/performing-culture-insensitive-case-changes.md
  docs/standard/base-types/regular-expression-options.md
  docs/standard/base-types/snippets/best-practices-strings/csharp/turkish/Program.cs
  docs/standard/base-types/snippets/best-practices-strings/vb/turkish/Program.vb
  samples/snippets/csharp/VS_Snippets_CLR/regularexpressions.language.escapes/cs/escape1.cs
  samples/snippets/visualbasic/VS_Snippets_CLR/regularexpressions.language.escapes/vb/escape1.vb
Labels: dotnet-fundamentals/prod, community-contribution

#34481 Be explicit about static classes being unable to inherit interfaces
  docs/csharp/programming-guide/classes-and-structs/static-classes-and-static-class-members.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#34397 Update wcf-web-service-reference-guide.md
  docs/core/additional-tools/wcf-web-service-reference-guide.md
Labels: dotnet-fundamentals/prod, community-contribution, okr-health

#34487 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34489 Fix links for The Clean Architecture
  docs/architecture/modern-web-apps-azure/common-web-application-architectures.md
Labels: dotnet-architecture/prod, modern-web-apps-azure/tech, community-contribution

#34409 Update basicbinding-with-transport-security.md
  docs/framework/wcf/samples/basicbinding-with-transport-security.md
Labels: dotnet-framework/prod, dotnet-wcf/tech, community-contribution

#34491 quick grammar fix
  docs/csharp/advanced-topics/expression-trees/expression-trees-building.md
Labels: dotnet-csharp/prod

#34494 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34482 Added .sln files
  docs/core/extensions/snippets/logging/logging.sln
  docs/core/extensions/snippets/primitives/primitives.sln
  docs/orleans/deployment/snippets/service-fabric/app/Orleans.ServiceFabric.App.sfproj
  docs/orleans/deployment/snippets/service-fabric/service-fabric.sln
  docs/orleans/deployment/snippets/service-fabric/snippets.5000.json
  docs/orleans/grains/snippets/transactions/transactions.sln
  docs/orleans/streaming/snippets/broadcastchannel/broadcastchannel.sln
  docs/orleans/tutorials-and-samples/snippets/minimal/minimal.sln
  docs/standard/base-types/snippets/regular-expression-source-generators/Program.cs
  docs/standard/base-types/snippets/regular-expression-source-generators/regex.csproj
Labels: dotnet-fundamentals/prod

#34473 Add DataFrame to TOC
  docs/machine-learning/toc.yml
Labels: dotnet-ml/prod

#34466 Clarification for EnableWindowsTargeting
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/prod

#34500 Update constraints.md
  docs/fsharp/language-reference/generics/constraints.md
Labels: dotnet-fsharp/prod

#34502 Update fsharp-6.md
  docs/fsharp/whats-new/fsharp-6.md
Labels: dotnet-fsharp/prod

#34503 Fix F# snippet indentation
  samples/snippets/fsharp/lang-ref-2/snippet5004.fs
  samples/snippets/fsharp/lang-ref-2/snippet5005.fs
  samples/snippets/fsharp/lang-ref-2/snippet5006.fs
Labels: community-contribution

#34501 Update dotnet-dev-certs.md
  docs/core/tools/dotnet-dev-certs.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, community-contribution

#34505 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34448 Fix typo
  docs/core/extensions/logger-message-generator.md
Labels: dotnet-fundamentals/prod, community-contribution, okr-health

#34445 Update single-file docs
  docs/core/deploying/single-file/overview.md
Labels: dotnet-fundamentals/prod

#34508 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34514 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34513 Fix: Sort "nullable" warnings codes
  docs/csharp/language-reference/compiler-messages/nullable-warnings.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech, community-contribution, okr-health

#34512 Update .NET Standard 2.1 UWP table
  includes/net-standard-2.1.md
Labels: community-contribution

#34393 Update output example
  docs/core/tools/dotnet-sdk-check.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod, okr-health

#34337 Update reference-cells.md
  docs/fsharp/language-reference/reference-cells.md
  samples/snippets/fsharp/lang-ref-1/snippet2201.fs
  samples/snippets/fsharp/lang-ref-1/snippet2203.fs
Labels: dotnet-fsharp/prod

#34441 Update xmlserializer-faults.md
  docs/framework/wcf/samples/xmlserializer-faults.md
Labels: dotnet-framework/prod, dotnet-wcf/tech, community-contribution

#34392 Fix broken Link on One-Way
  docs/framework/wcf/samples/one-way.md
Labels: dotnet-framework/prod, dotnet-wcf/tech, community-contribution

#34342 update 4.8.1 section to add separated entries for win11 releases
  docs/framework/migration-guide/versions-and-dependencies.md
Labels: dotnet-framework/prod, dotnet-appcompat/tech

#33941 Provide example of record and explain IncludePrimaryConstructorParame…
  docs/orleans/host/configuration-guide/serialization.md
Labels: community-contribution

#33854 Remove single-file links for macOS binaries
  docs/core/diagnostics/dotnet-counters.md
  docs/core/diagnostics/dotnet-dump.md
  docs/core/diagnostics/dotnet-gcdump.md
  docs/core/diagnostics/dotnet-sos.md
  docs/core/diagnostics/dotnet-stack.md
  docs/core/diagnostics/dotnet-trace.md
Labels: dotnet-fundamentals/prod

#34534 Add headings
  docs/csharp/tour-of-csharp/tutorials/hello-world.yml
Labels: dotnet-csharp/prod, csharp-get-started/tech

#34535 Update a few 6 references to 7
  docs/architecture/microservices/container-docker-introduction/docker-terminology.md
  docs/architecture/microservices/implement-resilient-applications/monitor-app-health.md
  docs/architecture/microservices/implement-resilient-applications/use-httpclientfactory-to-implement-resilient-http-requests.md
  docs/architecture/microservices/net-core-net-framework-containers/net-container-os-targets.md
  docs/architecture/microservices/net-core-net-framework-containers/official-net-docker-images.md
  docs/architecture/microservices/toc.yml
Labels: dotnet-architecture/prod, microservices/tech, community-contribution

#34542 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34543 HostApplicationBuilder ctor breaking change
  docs/core/compatibility/8.0.md
  docs/core/compatibility/extensions/8.0/hostapplicationbuilder-ctor.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#34544 Update breaking-changes.md
  docs/standard/library-guidance/breaking-changes.md
Labels: dotnet-fundamentals/prod, community-contribution

#34541 Revert "RID-specific app breaking change"
  docs/core/compatibility/8.0.md
  docs/core/compatibility/sdk/8.0/runtimespecific-app-default.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/prod

#34363 Clarify CoreWCF vs. gRPC
  docs/architecture/grpc-for-wcf-developers/why-grpc.md
Labels: dotnet-architecture/prod, grpc/tech

#34537 Fix punctuation in titles
  docs/csharp/language-reference/statements/jump-statements.md
  docs/csharp/language-reference/statements/lock.md
  docs/csharp/language-reference/statements/selection-statements.md
Labels: community-contribution

#34549 fix: well-known-event-providers.md SampleProfiler sampling rate
  docs/core/diagnostics/well-known-event-providers.md
Labels: dotnet-fundamentals/prod, community-contribution

#34546 Quick notes about the (un)install/search commands for .NET6
  docs/core/tutorials/cli-templates-create-item-template.md
  docs/core/tutorials/cli-templates-create-project-template.md
  docs/core/tutorials/cli-templates-create-template-package.md
  docs/core/tutorials/includes/dotnet6-syntax-note.md
  includes/dotnet-new-7-0-syntax.md
Labels: dotnet-fundamentals/prod

#34558 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34559 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34561 Fix spacing in RecordType.cs
  docs/csharp/language-reference/builtin-types/snippets/shared/RecordType.cs
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#34540 Add the advanced section on reflection and attributes
  .openpublishing.redirection.csharp.json
  docs/core/deploying/deploy-with-cli.md
  docs/core/introduction.md
  docs/csharp/advanced-topics/reflection-and-attributes/accessing-attributes-by-using-reflection.md
  docs/csharp/advanced-topics/reflection-and-attributes/attribute-tutorial.md
  docs/csharp/advanced-topics/reflection-and-attributes/creating-custom-attributes.md
  docs/csharp/advanced-topics/reflection-and-attributes/generics-and-attributes.md
  docs/csharp/advanced-topics/reflection-and-attributes/generics-and-reflection.md
  docs/csharp/advanced-topics/reflection-and-attributes/how-to-create-a-c-cpp-union-by-using-attributes.md
  docs/csharp/advanced-topics/reflection-and-attributes/how-to-query-assembly-metadata-with-reflection-linq.md
  docs/csharp/advanced-topics/reflection-and-attributes/index.md
  docs/csharp/advanced-topics/reflection-and-attributes/snippets/conceptual/AttributesAndReflection.csproj
  docs/csharp/advanced-topics/reflection-and-attributes/snippets/conceptual/AttributesOverview.cs
  docs/csharp/advanced-topics/reflection-and-attributes/snippets/conceptual/CStyleUnion.cs
  docs/csharp/advanced-topics/reflection-and-attributes/snippets/conceptual/GenericsAndAttributes.cs
  docs/csharp/advanced-topics/reflection-and-attributes/snippets/conceptual/Program.cs
  docs/csharp/advanced-topics/reflection-and-attributes/snippets/conceptual/ReadAttributes.cs
  docs/csharp/advanced-topics/reflection-and-attributes/snippets/tutorial/Program.cs
  docs/csharp/advanced-topics/reflection-and-attributes/snippets/tutorial/attributes.csproj
  docs/csharp/language-reference/attributes/general.md
  docs/csharp/language-reference/compiler-messages/cs0592.md
  docs/csharp/language-reference/operators/member-access-operators.md
  docs/csharp/language-reference/operators/nameof.md
  docs/csharp/misc/cs0182.md
  docs/csharp/misc/cs0643.md
  docs/csharp/misc/cs0655.md
  docs/csharp/misc/cs0657.md
  docs/csharp/misc/cs0658.md
  docs/csharp/misc/cs1730.md
  docs/csharp/programming-guide/concepts/attributes/accessing-attributes-by-using-reflection.md
  docs/csharp/programming-guide/concepts/attributes/creating-custom-attributes.md
  docs/csharp/programming-guide/concepts/attributes/how-to-create-a-c-cpp-union-by-using-attributes.md
  docs/csharp/programming-guide/concepts/attributes/index.md
  docs/csharp/programming-guide/concepts/index.md
  docs/csharp/programming-guide/concepts/linq/filtering-data.md
  docs/csharp/programming-guide/concepts/linq/how-to-query-an-assembly-s-metadata-with-reflection-linq.md
  docs/csharp/programming-guide/concepts/linq/linq-to-objects.md
  docs/csharp/programming-guide/concepts/reflection.md
  docs/csharp/programming-guide/generics/generics-and-attributes.md
  docs/csharp/programming-guide/generics/generics-and-reflection.md
  docs/csharp/programming-guide/index.md
  docs/csharp/toc.yml
  docs/csharp/tour-of-csharp/features.md
  docs/csharp/tutorials/attributes.md
  docs/csharp/whats-new/csharp-11.md
  docs/csharp/whats-new/csharp-version-history.md
  docs/standard/assembly/index.md
  docs/standard/attributes/applying-attributes.md
  docs/standard/serialization/system-text-json/overview.md
  docs/standard/serialization/system-text-json/source-generation-modes.md
  docs/whats-new/dotnet-7-docs.md
  samples/snippets/csharp/attributes/AttributesOverview.cs
  samples/snippets/csharp/attributes/Program.cs
  samples/snippets/csharp/attributes/attributes.csproj
  samples/snippets/csharp/tutorials/attributes/Program.cs
  samples/snippets/csharp/tutorials/attributes/attributes.csproj
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, csharp-linq/tech, okr-health

#34563 Preview 2 updates for What's new in .NET 8
  docs/core/whats-new/dotnet-8.md
Labels: dotnet-fundamentals/prod

#34616 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34622 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34614 Add link to profiling doc
  docs/framework/debug-trace-profile/index.md
Labels: dotnet-framework/prod

#34626 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34547 WinForms breaking changes - Preview 2
  docs/core/compatibility/8.0.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/windows-forms/8.0/defaultvalueattribute-removal.md
Labels: dotnet-fundamentals/prod, :checkered_flag: Release: .NET 8

#34601 QUIC conceptual docs
  docs/core/extensions/httpclient-http3.md
  docs/fundamentals/networking/quic/quic-overview.md
  docs/fundamentals/toc.yml
Labels: dotnet-networking/tech, dotnet-fundamentals/prod

#34600 Add note about VS to the .NET Framework ref assemblies article
  docs/framework/migration-guide/reference-assemblies.md
Labels: dotnet-framework/prod, dotnet-appcompat/tech

#34602 Replaced "or" with "and"
  docs/standard/asynchronous-programming-patterns/implementing-the-task-based-asynchronous-pattern.md
Labels: dotnet-fundamentals/prod, community-contribution

#34634 Fix container names
  docs/core/docker/build-container.md
Labels: dotnet-fundamentals/prod, dotnet-docker/tech, okr-health

#34635 Update source and address #34560
  docs/core/testing/order-unit-tests.md
  docs/core/testing/snippets/order-unit-tests/csharp/MSTest.Project/ByAlphabeticalOrder.cs
  docs/core/testing/snippets/order-unit-tests/csharp/MSTest.Project/MSTest.Project.csproj
  docs/core/testing/snippets/order-unit-tests/csharp/NUnit.TestProject/ByOrder.cs
  docs/core/testing/snippets/order-unit-tests/csharp/NUnit.TestProject/NUnit.Project.csproj
  docs/core/testing/snippets/order-unit-tests/csharp/XUnit.TestProject/Attributes/TestPriorityAttribute.cs
  docs/core/testing/snippets/order-unit-tests/csharp/XUnit.TestProject/ByAlphabeticalOrder.cs
  docs/core/testing/snippets/order-unit-tests/csharp/XUnit.TestProject/ByDisplayName.cs
  docs/core/testing/snippets/order-unit-tests/csharp/XUnit.TestProject/ByPriorityOrder.cs
  docs/core/testing/snippets/order-unit-tests/csharp/XUnit.TestProject/Orderers/AlphabeticalOrderer.cs
  docs/core/testing/snippets/order-unit-tests/csharp/XUnit.TestProject/Orderers/DisplayNameOrderer.cs
  docs/core/testing/snippets/order-unit-tests/csharp/XUnit.TestProject/Orderers/PriorityOrderer.cs
  docs/core/testing/snippets/order-unit-tests/csharp/XUnit.TestProject/XUnit.Project.csproj
  docs/core/testing/snippets/order-unit-tests/csharp/order-unit-tests.sln
Labels: dotnet-fundamentals/prod, okr-discovery

#33864 fix image names
  docs/architecture/containerized-lifecycle/Microsoft-platform-tools-containerized-apps/index.md
  docs/architecture/containerized-lifecycle/Microsoft-platform-tools-containerized-apps/media/index/microsoft-tools-containerized-docker-app.png
  docs/architecture/containerized-lifecycle/media/what-is-docker/comparison-vms-docker-containers.png
  docs/architecture/containerized-lifecycle/what-is-docker.md
Labels: dotnet-architecture/prod, containerized-lifecycle/tech, community-contribution

#34538 SEO and site search improvements
  docs/core/extensions/best-practices-for-developing-world-ready-apps.md
  docs/core/extensions/caching.md
  docs/core/extensions/channels.md
  docs/core/extensions/cloud-service.md
  docs/core/extensions/configuration-providers.md
  docs/core/extensions/configuration.md
  docs/core/extensions/console-log-formatter.md
  docs/core/extensions/create-resource-files.md
  docs/core/extensions/create-satellite-assemblies.md
  docs/core/extensions/custom-configuration-provider.md
  docs/core/extensions/custom-logging-provider.md
  docs/core/extensions/dependency-injection-guidelines.md
  docs/core/extensions/dependency-injection-usage.md
  docs/core/extensions/dependency-injection.md
  docs/core/extensions/file-globbing.md
  docs/core/extensions/generic-host.md
  docs/core/extensions/globalization-and-localization.md
  docs/core/extensions/globalization-icu.md
  docs/core/extensions/globalization.md
  docs/core/extensions/high-performance-logging.md
  docs/core/extensions/http-ratelimiter.md
  docs/core/extensions/httpclient-factory.md
  docs/core/extensions/httpclient-http3.md
  docs/core/extensions/localizability-review.md
  docs/core/extensions/localization.md
  docs/core/extensions/logger-message-generator.md
  docs/core/extensions/logging-providers.md
  docs/core/extensions/logging.md
  docs/core/extensions/options-library-authors.md
  docs/core/extensions/options.md
  docs/core/extensions/package-and-deploy-resources.md
  docs/core/extensions/performing-culture-insensitive-case-changes.md
  docs/core/extensions/performing-culture-insensitive-string-comparisons.md
  docs/core/extensions/performing-culture-insensitive-string-operations-in-arrays.md
  docs/core/extensions/performing-culture-insensitive-string-operations-in-collections.md
  docs/core/extensions/performing-culture-insensitive-string-operations.md
  docs/core/extensions/primitives.md
  docs/core/extensions/queue-service.md
  docs/core/extensions/resources.md
  docs/core/extensions/retrieve-resources.md
  docs/core/extensions/scoped-service.md
  docs/core/extensions/sslstream-best-practices.md
  docs/core/extensions/sslstream-migration-from-framework.md
  docs/core/extensions/sslstream-troubleshooting.md
  docs/core/extensions/timer-service.md
  docs/core/extensions/windows-service-with-installer.md
  docs/core/extensions/windows-service.md
  docs/core/extensions/work-with-resx-files-programmatically.md
  docs/core/extensions/workers.md
  docs/fundamentals/toc.yml
Labels: dotnet-networking/tech, dotnet-fundamentals/prod, okr-discovery

#34641 Markdown lint fix
  docs/core/compatibility/8.0.md
Labels: dotnet-fundamentals/prod

#33863 Fix cross-platform MSTest doc
  docs/core/testing/unit-testing-with-mstest.md
Labels: dotnet-fundamentals/prod, community-contribution

#34627 Create advanced section for Default interface members
  .openpublishing.redirection.csharp.json
  docs/core/compatibility/library-change-rules.md
  docs/csharp/advanced-topics/interface-implementation/default-interface-methods-versions.md
  docs/csharp/advanced-topics/interface-implementation/mixins-with-default-interface-methods.md
  docs/csharp/advanced-topics/interface-implementation/snippets/default-interface-members-versions/finished/customer-relationship/ICustomer.cs
  docs/csharp/advanced-topics/interface-implementation/snippets/default-interface-members-versions/finished/customer-relationship/IOrder.cs
  docs/csharp/advanced-topics/interface-implementation/snippets/default-interface-members-versions/finished/customer-relationship/Program.cs
  docs/csharp/advanced-topics/interface-implementation/snippets/default-interface-members-versions/finished/customer-relationship/SampleCustomer.cs
  docs/csharp/advanced-topics/interface-implementation/snippets/default-interface-members-versions/finished/customer-relationship/SampleOrder.cs
  docs/csharp/advanced-topics/interface-implementation/snippets/default-interface-members-versions/finished/customer-relationship/customer-relationship.csproj
  docs/csharp/advanced-topics/interface-implementation/snippets/default-interface-members-versions/starter/customer-relationship/ICustomer.cs
  docs/csharp/advanced-topics/interface-implementation/snippets/default-interface-members-versions/starter/customer-relationship/IOrder.cs
  docs/csharp/advanced-topics/interface-implementation/snippets/default-interface-members-versions/starter/customer-relationship/Program.cs
  docs/csharp/advanced-topics/interface-implementation/snippets/default-interface-members-versions/starter/customer-relationship/SampleCustomer.cs
  docs/csharp/advanced-topics/interface-implementation/snippets/default-interface-members-versions/starter/customer-relationship/SampleOrder.cs
  docs/csharp/advanced-topics/interface-implementation/snippets/default-interface-members-versions/starter/customer-relationship/customer-relationship.csproj
  docs/csharp/advanced-topics/interface-implementation/snippets/mixins-with-default-interface-methods/ExtraFancyLight.cs
  docs/csharp/advanced-topics/interface-implementation/snippets/mixins-with-default-interface-methods/HalogenLight.cs
  docs/csharp/advanced-topics/interface-implementation/snippets/mixins-with-default-interface-methods/IBlinkingLight.cs
  docs/csharp/advanced-topics/interface-implementation/snippets/mixins-with-default-interface-methods/ILight.cs
  docs/csharp/advanced-topics/interface-implementation/snippets/mixins-with-default-interface-methods/ITimerLight.cs
  docs/csharp/advanced-topics/interface-implementation/snippets/mixins-with-default-interface-methods/LEDLight.cs
  docs/csharp/advanced-topics/interface-implementation/snippets/mixins-with-default-interface-methods/OverheadLight.cs
  docs/csharp/advanced-topics/interface-implementation/snippets/mixins-with-default-interface-methods/Program.cs
  docs/csharp/advanced-topics/interface-implementation/snippets/mixins-with-default-interface-methods/UnusedExampleCode.cs
  docs/csharp/advanced-topics/interface-implementation/snippets/mixins-with-default-interface-methods/mixins-with-interfaces.csproj
  docs/csharp/fundamentals/types/interfaces.md
  docs/csharp/toc.yml
  docs/fsharp/whats-new/fsharp-50.md
  docs/fsharp/whats-new/fsharp-6.md
Labels: dotnet-fsharp/prod, dotnet-csharp/prod, csharp-fundamentals/tech, dotnet-fundamentals/prod

#34644 Update examples-of-xml-serialization.md
  docs/standard/serialization/examples-of-xml-serialization.md
Labels: dotnet-fundamentals/prod, community-contribution

#34650 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34652 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34649 C# reference: Add the link to async/await .NET blog post
  docs/csharp/language-reference/keywords/async.md
  docs/csharp/language-reference/operators/await.md
Labels: community-contribution

#34640 nameof: deemphasize verbatim identifier
  docs/csharp/language-reference/operators/nameof.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#34645 Enhance CS1723 description by providing details, examples and solution
  docs/csharp/misc/cs1723.md
Labels: dotnet-csharp/prod, csharp-diagnostics/tech, community-contribution, okr-health

#34654 Verbatim reference: put string usage first
  docs/csharp/language-reference/tokens/verbatim.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#34656 Update fsharp-6.md
  docs/fsharp/whats-new/fsharp-6.md
Labels: dotnet-fsharp/prod, community-contribution

#34642 Remove C# Guide serialization, file system content
  .openpublishing.redirection.csharp.json
  docs/csharp/programming-guide/concepts/index.md
  docs/csharp/programming-guide/concepts/serialization/how-to-read-object-data-from-an-xml-file.md
  docs/csharp/programming-guide/concepts/serialization/how-to-write-object-data-to-an-xml-file.md
  docs/csharp/programming-guide/concepts/serialization/index.md
  docs/csharp/programming-guide/concepts/serialization/media/index/serialization-process.gif
  docs/csharp/programming-guide/concepts/serialization/walkthrough-persisting-an-object-in-visual-studio.md
  docs/csharp/programming-guide/file-system/how-to-copy-delete-and-move-files-and-folders.md
  docs/csharp/programming-guide/file-system/how-to-create-a-file-or-folder.md
  docs/csharp/programming-guide/file-system/how-to-create-a-key-in-the-registry.md
  docs/csharp/programming-guide/file-system/how-to-get-information-about-files-folders-and-drives.md
  docs/csharp/programming-guide/file-system/how-to-iterate-through-a-directory-tree.md
  docs/csharp/programming-guide/file-system/how-to-provide-a-progress-dialog-box-for-file-operations.md
  docs/csharp/programming-guide/file-system/how-to-read-a-text-file-one-line-at-a-time.md
  docs/csharp/programming-guide/file-system/how-to-read-from-a-text-file.md
  docs/csharp/programming-guide/file-system/how-to-write-to-a-text-file.md
  docs/csharp/programming-guide/file-system/index.md
  docs/csharp/programming-guide/file-system/snippets/write-text/Program.cs
  docs/csharp/programming-guide/file-system/snippets/write-text/StreamWriterOne.cs
  docs/csharp/programming-guide/file-system/snippets/write-text/StreamWriterTwo.cs
  docs/csharp/programming-guide/file-system/snippets/write-text/WriteAllLines.cs
  docs/csharp/programming-guide/file-system/snippets/write-text/WriteAllText.cs
  docs/csharp/programming-guide/file-system/snippets/write-text/write-text.csproj
  docs/csharp/programming-guide/index.md
  docs/csharp/toc.yml
  docs/standard/base-types/choosing-between-anonymous-and-tuple.md
  samples/snippets/csharp/VS_Snippets_VBCSharp/csFilesAndFolders/CS/FileIteration.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/csFilesAndFolders/CS/csFilesFolders.csproj
  samples/snippets/csharp/serialization/Loan.cs
  samples/snippets/csharp/serialization/Program.cs
  samples/snippets/csharp/serialization/serialization.csproj
Labels: dotnet-csharp/prod, csharp-fundamentals/tech

#34668 Update .NET 6 references to .NET 7
  docs/architecture/microservices/implement-resilient-applications/monitor-app-health.md
  docs/architecture/microservices/index.md
  docs/architecture/modern-web-apps-azure/common-web-application-architectures.md
  docs/architecture/porting-existing-aspnet-apps/incremental-migration-strategies.md
  docs/architecture/serverless/azure-functions.md
Labels: dotnet-architecture/prod, microservices/tech, modern-web-apps-azure/tech, serverless/tech, community-contribution

#34666 Fix typo in with-expression.md
  docs/csharp/language-reference/operators/with-expression.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, community-contribution

#34662 Fix broken windbg link on dump analysis page
  docs/core/diagnostics/debug-windows-dumps.md
Labels: dotnet-fundamentals/prod

#34674 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34676 Update dotnet-new-sdk-templates.md for .NET 7 web template changes
  docs/core/tools/dotnet-new-sdk-templates.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#34678 Add ref to assembly not in a project
  docs/core/tools/dotnet-add-reference.md
Labels: dotnet-cli/tech, dotnet-fundamentals/prod

#34692 Edit pass, link to ASP.NET Core
  docs/core/extensions/best-practices-for-developing-world-ready-apps.md
Labels: dotnet-fundamentals/prod, okr-discovery

#34700 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34673 Update ide0011.md
  docs/fundamentals/code-analysis/style-rules/ide0011.md
Labels: dotnet-fundamentals/prod, community-contribution

#34702 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34704 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34699 Update grain-directory.md
  docs/orleans/host/grain-directory.md
Labels: okr-health

#34708 Fixed a typo in toc.yml
  docs/csharp/toc.yml
Labels: dotnet-csharp/prod, community-contribution

#34711 .NET MAUI eBook - .NET 7 Messenger Migration
  docs/architecture/maui/communicating-between-components.md
Labels: dotnet-architecture/prod, community-contribution

#34697 Add previews 2 and 3 into the table
  docs/core/porting/versioning-sdk-msbuild-vs.md
Labels: dotnet-fundamentals/prod

#34718 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34727 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34722 Add note that IDE0079 is IDE-only
  docs/fundamentals/code-analysis/style-rules/ide0079.md
Labels: dotnet-fundamentals/prod

#34720 Fix build suggestions
  docs/architecture/cloud-native/azure-security.md
  docs/core/compatibility/aspnet-core/6.0/byte-array-interop.md
  docs/fundamentals/networking/websockets.md
  docs/machine-learning/how-to-guides/getting-started-dataframe.md
  docs/orleans/implementation/cluster-management.md
  docs/orleans/resources/links.md
  docs/orleans/resources/orleans-thinking-big-and-small.md
  docs/standard/garbage-collection/large-object-heap.md
Labels: dotnet-networking/tech, dotnet-architecture/prod, dotnet-ml/prod, cloud-native/tech, dotnet-fundamentals/prod, okr-health

#34735 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34737 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34729 Update a few links on the Orleans hub
  docs/orleans/index.yml
Labels: okr-discovery

#34731 Clean up .NET introduction.md
  docs/core/introduction.md
Labels: dotnet-fundamentals/prod, okr-experience

#34747 Fix links in performance-warnings.md
  docs/fundamentals/code-analysis/quality-rules/performance-warnings.md
Labels: dotnet-fundamentals/prod, community-contribution

#34761 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34770 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34765 Add note about GraphQL Federation
  docs/architecture/microservices/architect-microservice-container-applications/distributed-data-management.md
Labels: dotnet-architecture/prod, microservices/tech

#34772 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34762 Remove misleading reference
  docs/csharp/fundamentals/exceptions/exception-handling.md
Labels: dotnet-csharp/prod, csharp-fundamentals/tech, community-contribution

#34774 Modernise code sample
  docs/csharp/language-reference/compiler-messages/cs1612.md
Labels: dotnet-csharp/prod, csharp-language-reference/tech, csharp-diagnostics/tech

#34814 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/prod, azure-sdk-shipit

#34740 Remove outdated mentions of Internet Explorer
  .openpublishing.redirection.framework.json
  docs/architecture/cloud-native/devops.md
  docs/architecture/modernize-desktop/whats-new-dotnet.md
  docs/framework/app-domains/index.md
  docs/framework/app-domains/multifile-assemblies.md
  docs/framework/app-domains/use.md
  docs/framework/configure-apps/file-schema/network/defaultproxy-element-network-settings.md
  docs/framework/configure-apps/file-schema/network/proxy-element-network-settings.md
  docs/framework/configure-apps/file-schema/startup/requiredruntime-element.md
  docs/framework/configure-apps/file-schema/startup/startup-element.md
  docs/framework/configure-apps/index.md
  docs/framework/deployment/how-the-runtime-locates-assemblies.md
  docs/framework/get-started/overview.md
  docs/framework/migration-guide/net-framework-4-migration-issues.md
  docs/framework/network-programming/configuring-internet-applications.md
  docs/framework/tools/aximp-exe-windows-forms-activex-control-importer.md
  docs/framework/tools/fuslogvw-exe-assembly-binding-log-viewer.md
  docs/framework/tools/mage-exe-manifest-generation-and-editing-tool.md
  docs/framework/tools/signtool-exe.md
  docs/framework/wcf/feature-details/best-practices-for-queued-communication.md
  docs/framework/wcf/feature-details/diff-in-queue-in-vista-server-2003-windows-xp.md
  docs/framework/wcf/feature-details/diff-service-certificate-validation-ie-and-wcf.md
  docs/framework/wcf/feature-details/how-to-access-a-service-from-a-workflow-application.md
  docs/framework/wcf/feature-details/how-to-create-a-basic-atom-feed.md
  docs/framework/wcf/feature-details/how-to-create-a-basic-rss-feed.md
  docs/framework/wcf/feature-details/how-to-create-a-workflow-service-with-messaging-activities.md
  docs/framework/wcf/feature-details/how-to-expose-a-contract-to-soap-and-web-clients.md
  docs/framework/wcf/feature-details/how-to-expose-a-feed-as-both-atom-and-rss.md
  docs/framework/wcf/feature-details/how-to-host-a-wcf-service-in-iis.md
  docs/framework/wcf/feature-details/how-to-publish-metadata-for-a-service-using-a-configuration-file.md
  docs/framework/wcf/feature-details/how-to-publish-metadata-for-a-service-using-code.md
  docs/framework/wcf/feature-details/how-to-specify-channel-security-credentials.md
  docs/framework/wcf/feature-details/how-to-use-a-service-moniker-with-metadata-exchange-contracts.md
  docs/framework/wcf/feature-details/how-to-use-a-service-moniker-with-wsdl-contracts.md
  docs/framework/wcf/feature-details/http-transport-security.md
  docs/framework/wcf/feature-details/poison-message-handling.md
  docs/framework/wcf/feature-details/queues-in-wcf.md
  docs/framework/wcf/feature-details/readme-for-extended-protection-authentication-sample.md
  docs/framework/wcf/feature-details/service-returns-arbitrary-data-using-the-wcf-web.md
  docs/framework/wcf/feature-details/toc.yml
  docs/framework/wcf/feature-details/troubleshooting-queued-messaging.md
  docs/framework/wcf/feature-details/working-with-nats-and-firewalls.md
  docs/framework/wcf/generating-data-type-classes-from-xml.md
  docs/framework/wcf/samples/extended-protection-policy.md
  docs/framework/wcf/samples/iis-server-certificate-installation-instructions.md
  docs/framework/wcf/samples/virtual-directory-setup-instructions.md
  docs/framework/wcf/securing-services.md
  docs/framework/wcf/wcf-vs-templates.md
  docs/fsharp/tutorials/type-providers/troubleshooting-type-providers.md
  docs/standard/assembly/security-considerations.md
  docs/standard/data/xml/style-sheet-directives-embedded-in-a-document.md
  docs/standard/linq/linq-xml-vs-xml-technologies.md
  docs/standard/serialization/xml-serialization-with-xml-web-services.md
Labels: dotnet-framework/prod, dotnet-appcompat/tech, dotnet-fsharp/prod, dotnet-networking/tech, dotnet-architecture/prod, cloud-native/tech, dotnet-wcf/tech, dotnet-fundamentals/prod, dotnet-data/prod, okr-health

#34763 update interop doc
  docs/standard/native-interop/best-practices.md
Labels: dotnet-fundamentals/prod
