Repository dotnet/docs, pull requests merged in 2024-12, with the labels that each got.

#43787 Minor fixes for unit-testing-platform-architecture.md
  docs/core/testing/unit-testing-platform-architecture.md
Labels: dotnet-fundamentals/svc, community-contribution

#43793 Update when to suppress MSTest0037 (proper assert method)
  docs/core/testing/mstest-analyzers/mstest0037.md
Labels: dotnet-fundamentals/svc, community-contribution

#43794 Update WebClient references to HttpClient in F# asynchronous programming documentation
  docs/fsharp/language-reference/async-expressions.md
Labels: dotnet-fsharp/svc, community-contribution, okr-quality

#43795 Adjust Uri redaction breaking change docs
  docs/core/compatibility/networking/9.0/query-redaction-events.md
  docs/core/compatibility/networking/9.0/query-redaction-logs.md
Labels: dotnet-fundamentals/svc

#43807 Remove AsQueryable() from left join code sample
  docs/csharp/linq/standard-query-operators/snippets/standard-query-operators/LeftOuterJoins.cs
Labels: dotnet-csharp/svc, csharp-linq/subsvc

#43808 Update logging.md
  docs/core/extensions/logging.md
Labels: dotnet-fundamentals/svc, community-contribution

#43791 Adjust code fix wording in all MSTest analyzer docs
  docs/core/testing/mstest-analyzers/mstest0001.md
  docs/core/testing/mstest-analyzers/mstest0002.md
  docs/core/testing/mstest-analyzers/mstest0003.md
  docs/core/testing/mstest-analyzers/mstest0004.md
  docs/core/testing/mstest-analyzers/mstest0005.md
  docs/core/testing/mstest-analyzers/mstest0006.md
  docs/core/testing/mstest-analyzers/mstest0007.md
  docs/core/testing/mstest-analyzers/mstest0008.md
  docs/core/testing/mstest-analyzers/mstest0009.md
  docs/core/testing/mstest-analyzers/mstest0010.md
  docs/core/testing/mstest-analyzers/mstest0011.md
  docs/core/testing/mstest-analyzers/mstest0012.md
  docs/core/testing/mstest-analyzers/mstest0013.md
  docs/core/testing/mstest-analyzers/mstest0014.md
  docs/core/testing/mstest-analyzers/mstest0015.md
  docs/core/testing/mstest-analyzers/mstest0016.md
  docs/core/testing/mstest-analyzers/mstest0017.md
  docs/core/testing/mstest-analyzers/mstest0019.md
  docs/core/testing/mstest-analyzers/mstest0020.md
  docs/core/testing/mstest-analyzers/mstest0021.md
  docs/core/testing/mstest-analyzers/mstest0022.md
  docs/core/testing/mstest-analyzers/mstest0023.md
  docs/core/testing/mstest-analyzers/mstest0024.md
  docs/core/testing/mstest-analyzers/mstest0025.md
  docs/core/testing/mstest-analyzers/mstest0026.md
  docs/core/testing/mstest-analyzers/mstest0029.md
  docs/core/testing/mstest-analyzers/mstest0030.md
  docs/core/testing/mstest-analyzers/mstest0031.md
  docs/core/testing/mstest-analyzers/mstest0032.md
  docs/core/testing/mstest-analyzers/mstest0034.md
  docs/core/testing/mstest-analyzers/mstest0035.md
  docs/core/testing/mstest-analyzers/mstest0036.md
Labels: dotnet-fundamentals/svc, community-contribution

#43823 Add CS8002.md to the language reference TOC.
  docfx.json
  docs/csharp/language-reference/toc.yml
Labels: dotnet-csharp/svc, lang-reference/subsvc

#43677 Document /uninstall and /repair options for .NET
  docs/core/install/windows.md
Labels: dotnet-fundamentals/svc, install/subsvc

#43715 MSTest SDK list extensions per profile
  docs/core/testing/unit-testing-mstest-sdk.md
Labels: dotnet-fundamentals/svc

#43824 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43814 Update mstest0037 now that it has a codefix
  docs/core/testing/mstest-analyzers/mstest0037.md
Labels: dotnet-fundamentals/svc, community-contribution

#43812 Mention more android/ios RIDs in rid-catalog.md
  docs/core/rid-catalog.md
Labels: dotnet-fundamentals/svc

#43796 Document new trimming warnings
  docs/core/deploying/native-aot/warnings/il3057.md
  docs/core/deploying/single-file/warnings/il3005.md
  docs/core/deploying/single-file/warnings/overview.md
  docs/core/deploying/trimming/trim-warnings/il2123.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/navigate/devops-testing/toc.yml
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/svc

#43786 Doc updates for MSTest
  docs/core/testing/mstest-analyzers/mstest0021.md
  docs/core/testing/unit-testing-platform-config.md
  docs/core/testing/unit-testing-platform-extensions-fakes.md
  docs/core/testing/unit-testing-platform-intro.md
Labels: dotnet-fundamentals/svc

#43834 Remove "Important" box talking about managed identities as this does not apply to SQLite
  docs/standard/data/sqlite/connection-strings.md
Labels: dotnet-fundamentals/svc, dotnet-data/svc

#43826 Random code fix updates
  docs/fundamentals/code-analysis/overview.md
  docs/fundamentals/code-analysis/quality-rules/ca1865-ca1867.md
  docs/fundamentals/code-analysis/quality-rules/ca1870.md
  docs/fundamentals/code-analysis/style-rules/ide0028.md
  docs/fundamentals/code-analysis/style-rules/ide0058.md
Labels: dotnet-fundamentals/svc

#43827 Grammar fix up
  docs/core/compatibility/networking/9.0/query-redaction-events.md
  docs/core/compatibility/networking/9.0/query-redaction-logs.md
Labels: dotnet-fundamentals/svc

#43836 Remove `Lo` (other letter) surrogate pairs
  docs/csharp/fundamentals/coding-style/identifier-names.md
Labels: dotnet-csharp/svc, fundamentals/subsvc

#43769 Add supported types for STJ article
  .openpublishing.redirection.standard.json
  docs/fundamentals/toc.yml
  docs/standard/serialization/binaryformatter-migration-guide/migrate-to-system-text-json.md
  docs/standard/serialization/system-text-json/converters-how-to.md
  docs/standard/serialization/system-text-json/how-to.md
  docs/standard/serialization/system-text-json/migrate-from-newtonsoft.md
  docs/standard/serialization/system-text-json/snippets/supported-collection-types/csharp/Program.cs
  docs/standard/serialization/system-text-json/snippets/supported-types/csharp/IAsyncEnumerableDeserialize.cs
  docs/standard/serialization/system-text-json/snippets/supported-types/csharp/IAsyncEnumerableDeserializeNonStreaming.cs
  docs/standard/serialization/system-text-json/snippets/supported-types/csharp/IAsyncEnumerableSerialize.cs
  docs/standard/serialization/system-text-json/snippets/supported-types/csharp/Program.cs
  docs/standard/serialization/system-text-json/snippets/supported-types/csharp/Struct.cs
  docs/standard/serialization/system-text-json/snippets/supported-types/csharp/SystemTextJsonSamples.csproj
  docs/standard/serialization/system-text-json/supported-types.md
Labels: dotnet-fundamentals/svc

#43835 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43843 Advise to set EnableMSTestRunner in csproj
  docs/core/testing/unit-testing-mstest-runner-intro.md
Labels: dotnet-fundamentals/svc

#43840 Add Globalization Loading Doc Section
  docs/core/extensions/globalization-icu.md
Labels: dotnet-fundamentals/svc

#43743 MSTest: document testconfig.json
  docs/core/testing/unit-testing-mstest-configure.md
Labels: dotnet-fundamentals/svc

#43833 Add documentation for VFS introduced in https://github.com/dotnet/efcore/pull/34864
  docs/standard/data/sqlite/connection-strings.md
Labels: dotnet-fundamentals/svc, dotnet-data/svc

#43789 Add documentation for checked arithmetic operators with examples in F#
  docs/fsharp/language-reference/symbol-and-operator-reference/arithmetic-operators.md
  samples/snippets/fsharp/lang-ref-1/snippet3502.fs
Labels: dotnet-fsharp/svc, community-contribution

#43867 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43420 Add documentation about the TestContext
  docs/core/testing/snippets/testcontext/csharp/AddResultFile.cs
  docs/core/testing/snippets/testcontext/csharp/CsvDataSource.cs
  docs/core/testing/snippets/testcontext/csharp/TestContext.cs
  docs/core/testing/snippets/testcontext/csharp/TestContextCtor.cs
  docs/core/testing/snippets/testcontext/csharp/project.csproj
  docs/core/testing/unit-testing-mstest-writing-tests-testcontext.md
  docs/core/testing/unit-testing-mstest-writing-tests.md
  docs/navigate/devops-testing/toc.yml
Labels: dotnet-fundamentals/svc

#43873 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43777 F# 9 doc updates
  docs/fsharp/language-reference/active-patterns.md
  docs/fsharp/language-reference/attributes.md
  docs/fsharp/language-reference/byrefs.md
  docs/fsharp/language-reference/compiler-directives.md
  docs/fsharp/language-reference/computation-expressions.md
  docs/fsharp/language-reference/discriminated-unions.md
  docs/fsharp/language-reference/fsharp-collection-types.md
  docs/fsharp/tools/fsharp-interactive/index.md
Labels: dotnet-fsharp/svc

#43883 JsonDocument serialization breaking change
  docs/core/compatibility/9.0.md
  docs/core/compatibility/serialization/9.0/jsondocument-props.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#43890 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43898 Update quickstart-local-ai.md
  docs/ai/quickstarts/quickstart-local-ai.md
Labels: community-contribution

#43921 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43927 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43881 Add TimeProvider overview
  docs/fundamentals/toc.yml
  docs/standard/datetime/choosing-between-datetime.md
  docs/standard/datetime/how-to-use-dateonly-timeonly.md
  docs/standard/datetime/index.md
  docs/standard/datetime/snippets/timeprovider-overview/csharp/CalendarHelper.cs
  docs/standard/datetime/snippets/timeprovider-overview/csharp/MoonLandingTimeProviderPST.cs
  docs/standard/datetime/snippets/timeprovider-overview/csharp/Program.cs
  docs/standard/datetime/snippets/timeprovider-overview/csharp/myproject.csproj
  docs/standard/datetime/snippets/timeprovider-overview/vb/CalendarHelper.vb
  docs/standard/datetime/snippets/timeprovider-overview/vb/MoonLandingTimeProviderPST.vb
  docs/standard/datetime/snippets/timeprovider-overview/vb/Program.vb
  docs/standard/datetime/snippets/timeprovider-overview/vb/myproject.vbproj
  docs/standard/datetime/timeprovider-overview.md
Labels: dotnet-fundamentals/svc

#43925 Fix MD link
  docs/csharp/language-reference/keywords/get.md
Labels: dotnet-csharp/svc, lang-reference/subsvc

#43891 Add telemetry information from dotnet/sdk#45356
  docs/core/tools/telemetry.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#43872 Document built-in System.Net activities
  docs/core/diagnostics/built-in-metrics-system-net.md
  docs/core/diagnostics/distributed-tracing-builtin-activities.md
  docs/core/diagnostics/distributed-tracing-concepts.md
  docs/core/diagnostics/distributed-tracing.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/svc

#43866 Add summary of our .NET SDK upgrade in visual Studio
  docs/core/porting/versioning-sdk-msbuild-vs.md
Labels: dotnet-fundamentals/svc

#43933 Correct the typo in `Ctrl` key in ".NET Generic Host" article
  docs/core/extensions/generic-host.md
Labels: dotnet-fundamentals/svc, community-contribution

#43934 Add missing space in IHostApplicationBuilder description
  docs/core/extensions/generic-host.md
Labels: dotnet-fundamentals/svc, community-contribution

#43939 Add docs for --maximum-failed-tests
  docs/core/testing/unit-testing-platform-exit-codes.md
  docs/core/testing/unit-testing-platform-intro.md
Labels: dotnet-fundamentals/svc, community-contribution

#43946 display options control in table
  docs/csharp/language-reference/compiler-options/errors-warnings.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#43932 Add more clarity on member lookup
  docs/csharp/language-reference/keywords/file.md
Labels: dotnet-csharp/svc, lang-reference/subsvc

#43963 Update config file extension
  docs/fundamentals/code-analysis/includes/analysis-model-levels.md
Labels: dotnet-fundamentals/svc

#43971 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43980 Correct location of Azure App Service settings
  docs/core/extensions/configuration-providers.md
Labels: dotnet-fundamentals/svc, okr-freshness

#43969 Add text classification and sentence similarity to ML tasks
  docs/machine-learning/resources/tasks.md
Labels: dotnet-ml/svc

#43964 Update Alpine info
  docs/core/install/includes/linux-install-80-apk.md
  docs/core/install/linux-alpine.md
  docs/core/install/linux-rhel.md
  docs/core/install/linux-snap-runtime.md
  docs/core/install/linux-ubuntu-install.md
  docs/core/install/linux-ubuntu.md
Labels: dotnet-fundamentals/svc, install/subsvc

#43982 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43986 Remove the nested stackalloc proposal
  .openpublishing.redirection.csharp.json
  docfx.json
  docs/csharp/language-reference/operators/stackalloc.md
  docs/csharp/specification/toc.yml
Labels: dotnet-csharp/svc

#43985 Add the runtime libraries bits for MEAI
  docs/ai/ai-extensions.md
  docs/core/extensions/artificial-intelligence.md
  docs/core/extensions/http-ratelimiter.md
  docs/core/extensions/snippets/ai/AI.Shared/AI.Shared.csproj
  docs/core/extensions/snippets/ai/AI.Shared/RateLimitingChatClient.cs
  docs/core/extensions/snippets/ai/AI.Shared/RateLimitingChatClientExtensions.OptionalOverload.cs
  docs/core/extensions/snippets/ai/AI.Shared/RateLimitingChatClientExtensions.cs
  docs/core/extensions/snippets/ai/AI.Shared/RateLimitingEmbeddingGenerator.cs
  docs/core/extensions/snippets/ai/AI.Shared/SampleChatClient.cs
  docs/core/extensions/snippets/ai/AI.Shared/SampleEmbeddingGenerator.cs
  docs/core/extensions/snippets/ai/ConsoleAI.CacheResponses/ConsoleAI.CacheResponses.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.CacheResponses/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI.CompleteAsyncArgs/ConsoleAI.CompleteAsyncArgs.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.CompleteAsyncArgs/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI.CompleteStreamingAsync/ConsoleAI.CompleteStreamingAsync.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.CompleteStreamingAsync/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI.ConsumeClientMiddleware/ConsoleAI.ConsumeClientMiddleware.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.ConsumeClientMiddleware/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI.ConsumeRateLimitingEmbedding/ConsoleAI.ConsumeRateLimitingEmbedding.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.ConsumeRateLimitingEmbedding/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI.CreateEmbeddings/ConsoleAI.CreateEmbeddings.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.CreateEmbeddings/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI.CustomClientMiddle/ConsoleAI.CustomClientMiddle.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.CustomClientMiddle/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI.CustomEmbeddingsMiddle/ConsoleAI.CustomEmbeddingsMiddle.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.CustomEmbeddingsMiddle/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI.DependencyInjection/ConsoleAI.DependencyInjection.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.DependencyInjection/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI.FunctionalityPipelines/ConsoleAI.FunctionalityPipelines.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.FunctionalityPipelines/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI.ProvideOptions/ConsoleAI.ProvideOptions.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.ProvideOptions/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI.ToolCalling/ConsoleAI.ToolCalling.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.ToolCalling/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI.UseExample/ConsoleAI.UseExample.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.UseExample/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI.UseExampleAlt/ConsoleAI.UseExampleAlt.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.UseExampleAlt/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI.UseTelemetry/ConsoleAI.UseTelemetry.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.UseTelemetry/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI/ConsoleAI.csproj
  docs/core/extensions/snippets/ai/ConsoleAI/Program.cs
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/svc, dotnet-networking/subsvc

#43988 Allow `yield return` in `lock`
  docs/csharp/language-reference/compiler-messages/iterator-yield.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, csharp-diagnostics/subsvc

#43991 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43994 Updates per revised guidance on adding a copilot section to docs
  docs/csharp/how-to/media/parse-strings-using-split/github-copilot-chat-string-split.png
  docs/csharp/how-to/parse-strings-using-split.md
  docs/csharp/programming-guide/types/how-to-convert-a-string-to-a-number.md
  docs/csharp/programming-guide/types/media/how-to-convert-a-string-to-a-number/github-copilot-chat-convert-string-to-number.png
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#44004 More partial members: be more specific what auto-property declaration can't be used for.
  docs/csharp/whats-new/csharp-13.md
Labels: dotnet-csharp/svc, whats-new/subsvc, community-contribution

#44000 C# params span overloads breaking change
  docs/core/compatibility/9.0.md
  docs/core/compatibility/core-libraries/9.0/params-overloads.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#43970 General clean-up of ML.NET docs
  .openpublishing.redirection.machine-learning.json
  docs/csharp/language-reference/builtin-types/floating-point-numeric-types.md
  docs/machine-learning/automate-training-with-cli.md
  docs/machine-learning/automated-machine-learning-mlnet.md
  docs/machine-learning/deep-learning-overview.md
  docs/machine-learning/how-to-guides/explain-machine-learning-model-permutation-feature-importance-ml-net.md
  docs/machine-learning/how-to-guides/getting-started-dataframe.md
  docs/machine-learning/how-to-guides/how-to-use-the-automl-api.md
  docs/machine-learning/how-to-guides/index.md
  docs/machine-learning/how-to-guides/inspect-intermediate-data-ml-net.md
  docs/machine-learning/how-to-guides/install-extra-dependencies.md
  docs/machine-learning/how-to-guides/install-ml-net-cli.md
  docs/machine-learning/how-to-guides/load-data-ml-net.md
  docs/machine-learning/how-to-guides/machine-learning-model-predictions-ml-net.md
  docs/machine-learning/how-to-guides/matchup-app-infer-net.md
  docs/machine-learning/how-to-guides/prepare-data-ml-net.md
  docs/machine-learning/how-to-guides/retrain-model-ml-net.md
  docs/machine-learning/how-to-guides/save-load-machine-learning-models-ml-net.md
  docs/machine-learning/how-to-guides/serve-model-serverless-azure-functions-ml-net.md
  docs/machine-learning/how-to-guides/serve-model-web-api-ml-net.md
  docs/machine-learning/how-to-guides/train-machine-learning-model-cross-validation-ml-net.md
  docs/machine-learning/how-to-guides/train-machine-learning-model-ml-net.md
  docs/machine-learning/index.yml
  docs/machine-learning/mldotnet-api.md
  docs/machine-learning/overview.md
  docs/machine-learning/reference/ml-net-cli-reference.md
  docs/machine-learning/resources/azure-training-concepts-model-builder.md
  docs/machine-learning/resources/glossary.md
  docs/machine-learning/resources/improve-machine-learning-model-ml-net.md
  docs/machine-learning/resources/index.md
  docs/machine-learning/resources/metrics.md
  docs/machine-learning/resources/transforms.md
  docs/machine-learning/snippets/mldotnet-api/csharp/Program.cs
  docs/machine-learning/snippets/mldotnet-api/csharp/Project.csproj
  docs/machine-learning/toc.yml
  docs/machine-learning/tutorials/github-issue-classification.md
  docs/machine-learning/tutorials/image-classification-api-transfer-learning.md
  docs/machine-learning/tutorials/image-classification-model-builder.md
  docs/machine-learning/tutorials/image-classification.md
  docs/machine-learning/tutorials/index.md
  docs/machine-learning/tutorials/iris-clustering.md
  docs/machine-learning/tutorials/movie-recommendation-model-builder.md
  docs/machine-learning/tutorials/movie-recommendation.md
  docs/machine-learning/tutorials/object-detection-custom-vision-onnx.md
  docs/machine-learning/tutorials/object-detection-onnx.md
  docs/machine-learning/tutorials/phone-calls-anomaly-detection.md
  docs/machine-learning/tutorials/predict-prices-with-model-builder.md
  docs/machine-learning/tutorials/predict-prices.md
  docs/machine-learning/tutorials/sales-anomaly-detection.md
  docs/machine-learning/tutorials/sentiment-analysis-cli.md
  docs/machine-learning/tutorials/sentiment-analysis-model-builder.md
  docs/machine-learning/tutorials/sentiment-analysis.md
  docs/machine-learning/tutorials/text-classification-tf.md
  docs/machine-learning/tutorials/time-series-demand-forecasting.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, dotnet-ml/svc

#44025 Fix build suggestions December
  docs/ai/quickstarts/quickstart-ai-chat-with-data.md
  docs/azure/includes/dotnet-all.md
  docs/core/deploying/native-aot/diagnostics.md
  docs/core/deploying/native-aot/index.md
  docs/core/deploying/single-file/overview.md
  docs/core/extensions/globalization-icu.md
  docs/framework/release-notes/2024/11-21-november-preview-cumulative-update.md
  docs/fsharp/language-reference/async-expressions.md
  docs/whats-new/dotnet-docs-mod0.md
  includes/migration-guide/runtime/networking/contentdisposition-datetimes-returns-slightly-different-string.md
Labels: dotnet-framework/svc, dotnet-fsharp/svc, dotnet-fundamentals/svc, dotnet-azure/svc

#44018 Add missing TimerRemaining class definition to Implicit Index Access example in C#13 documentation.
  docs/csharp/whats-new/csharp-13.md
Labels: dotnet-csharp/svc, whats-new/subsvc, community-contribution

#44028 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc

#44033 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#44022 Update 11-21-november-preview-cumulative-update.md
  docs/framework/migration-guide/versions-and-dependencies.md
  docs/framework/release-notes/2024/11-21-november-preview-cumulative-update.md
Labels: dotnet-framework/svc

#44043 StatusStrip breaking change
  docs/core/compatibility/9.0.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/windows-forms/9.0/statusstrip-renderer.md
Labels: dotnet-fundamentals/svc

#44038 Ai freshness pass
  docs/ai/azure-ai-for-dotnet-developers.md
  docs/ai/conceptual/embeddings.md
  docs/ai/conceptual/understanding-openai-functions.md
  docs/ai/conceptual/understanding-tokens.md
  docs/ai/get-started-app-chat-scaling-with-azure-container-apps.md
  docs/ai/get-started-app-chat-template.md
  docs/ai/how-to/content-filtering.md
  docs/ai/how-to/snippets/content-filtering/AIContentFiltering.csproj
  docs/ai/how-to/snippets/content-filtering/Program.cs
  docs/ai/index.yml
  docs/ai/quickstarts/quickstart-local-ai.md
Labels: okr-freshness

#44023 Add deconstruction lang reference
  docs/csharp/language-reference/operators/deconstruction.md
  docs/csharp/language-reference/operators/snippets/shared/Deconstruction.cs
  docs/csharp/language-reference/operators/snippets/shared/Program.cs
  docs/csharp/language-reference/toc.yml
  docs/csharp/language-reference/tokens/discard.md
  docs/csharp/language-reference/tokens/index.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, okr-freshness

#44046 Review delegate content in the C# programming guide
  docs/csharp/programming-guide/delegates/delegates-with-named-vs-anonymous-methods.md
  docs/csharp/programming-guide/delegates/how-to-combine-delegates-multicast-delegates.md
  docs/csharp/programming-guide/delegates/how-to-declare-instantiate-and-use-a-delegate.md
  docs/csharp/programming-guide/delegates/index.md
  docs/csharp/programming-guide/delegates/snippets/BookStore.cs
  docs/csharp/programming-guide/delegates/snippets/DelegateExamples.csproj
  docs/csharp/programming-guide/delegates/snippets/HowToDeclareAndUse.cs
  docs/csharp/programming-guide/delegates/snippets/MulticastExample.cs
  docs/csharp/programming-guide/delegates/snippets/NamedAnonymousDelegates.cs
  docs/csharp/programming-guide/delegates/snippets/Overview.cs
  docs/csharp/programming-guide/delegates/snippets/UsingDelegates.cs
  docs/csharp/programming-guide/delegates/using-delegates.md
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideDelegates/CS/Delegates.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideDelegates/CS/csrefDelegates.csproj
Labels: dotnet-csharp/svc, fundamentals/subsvc, okr-freshness, okr-quality

#44049 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#44031 mention fsproj files as an example of other dotnet reference files
  docs/core/tools/dotnet-add-reference.md
Labels: dotnet-fundamentals/svc, community-contribution, dotnet-cli/subsvc

#44061 Fix TestContext analyzer documentation
  docs/core/testing/mstest-analyzers/mstest0005.md
Labels: dotnet-fundamentals/svc, community-contribution

#43737 fix System.IO.IOException error
  samples/snippets/standard/data/sqlite/HelloWorldSample/Program.cs
Labels: dotnet-data/svc, community-contribution

#44057 Add missing comma in MTP dotnet test integration doc
  docs/core/testing/unit-testing-platform-integration-dotnet-test.md
Labels: dotnet-fundamentals/svc, community-contribution

#44052 Update AzureFeed value
  docs/core/tools/dotnet-install-script.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#44086 Update samples added for PersistedAssemblyBuilder
  docs/fundamentals/runtime-libraries/snippets/System.Reflection.Emit/PersistedAssemblyBuilder/Overview/csharp/GenerateMetadataSnippets.cs
  docs/fundamentals/runtime-libraries/system-reflection-emit-persistedassemblybuilder.md
Labels: doc-bug, dotnet-fundamentals/svc

#44089 Fix CA2000 Warning: Properly Dispose of RegistryKey in Example Code.
  docs/framework/migration-guide/snippets/csharp/versions-installed.cs
  docs/framework/migration-guide/snippets/visual-basic/versions-installed.vb
Labels: dotnet-framework/svc, app-compat/subsvc, community-contribution

#44094 Add no-loc words
  docs/framework/wcf/feature-details/how-to-view-certificates-with-the-mmc-snap-in.md
Labels: dotnet-framework/svc, dotnet-wcf/subsvc

#44091 remove unnecessary line
  docs/standard/serialization/system-text-json/snippets/use-dom-utf8jsonreader-utf8jsonwriter/csharp/JsonNodeAverageGradeExample.cs
Labels: dotnet-fundamentals/svc, community-contribution

#44095 Update msbuild-props.md
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/svc

#44099 Add link to trimming options
  docs/core/compatibility/serialization/8.0/publishtrimmed.md
Labels: dotnet-fundamentals/svc

#44098 Add note about option format
  docs/fundamentals/code-analysis/style-rules/ide0079.md
Labels: dotnet-fundamentals/svc

#44096 Update wording
  docs/core/tools/dotnet-install-script.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#44113 Add missing dependencies in linux-alpine.md
  docs/core/install/linux-alpine.md
Labels: dotnet-fundamentals/svc, community-contribution, install/subsvc

#44097 Correct property and field names
  docs/csharp/language-reference/keywords/value.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#44054 Fixed incorrect logic in XmlReader's example (#43799)
  docs/standard/linq/stream-xml-fragments-xmlreader.md
Labels: dotnet-fundamentals/svc, community-contribution
