Repository dotnet/docs, pull requests merged in 2024-02, with the labels that each got.

#39360 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, azure-sdk-shipit

#39373 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, azure-sdk-shipit

#38873 document ArrayPoolEventSource.BufferDropped event
  docs/core/diagnostics/well-known-event-providers.md
Labels: dotnet-fundamentals/svc, community-contribution

#32586 Rename `Interop guidance` to `Best practices`
  docs/navigate/advanced-programming/toc.yml
Labels: dotnet-fundamentals/svc, community-contribution

#39351 Add CA2262
  docs/fundamentals/code-analysis/quality-rules/ca2262.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/usage-warnings.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/svc

#39381 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, azure-sdk-shipit

#39223 Fix built-in HttpClient metrics documentation
  docs/core/diagnostics/built-in-metrics-system-net.md
Labels: dotnet-fundamentals/svc

#39377 [BULK] - DocuTune - Remove expired ms.custom values
  docs/core/tutorials/library-with-visual-studio.md
  docs/core/tutorials/with-visual-studio.md
  docs/csharp/fundamentals/tutorials/pattern-matching.md
  docs/csharp/programming-guide/classes-and-structs/how-to-create-a-new-method-for-an-enumeration.md
  docs/csharp/programming-guide/classes-and-structs/how-to-define-abstract-properties.md
  docs/csharp/programming-guide/classes-and-structs/how-to-define-constants.md
  docs/csharp/programming-guide/classes-and-structs/how-to-implement-and-call-a-custom-extension-method.md
  docs/csharp/programming-guide/classes-and-structs/how-to-initialize-a-dictionary-with-a-collection-initializer.md
  docs/csharp/programming-guide/classes-and-structs/how-to-initialize-objects-by-using-an-object-initializer.md
  docs/csharp/programming-guide/classes-and-structs/how-to-override-the-tostring-method.md
  docs/csharp/programming-guide/classes-and-structs/how-to-return-subsets-of-element-properties-in-a-query.md
  docs/csharp/programming-guide/classes-and-structs/how-to-use-implicitly-typed-local-variables-and-arrays-in-a-query-expression.md
  docs/csharp/programming-guide/classes-and-structs/how-to-write-a-copy-constructor.md
  docs/csharp/programming-guide/types/how-to-convert-a-byte-array-to-an-int.md
  docs/csharp/programming-guide/types/how-to-convert-a-string-to-a-number.md
  docs/csharp/programming-guide/types/how-to-convert-between-hexadecimal-strings-and-numeric-types.md
  docs/standard/base-types/standard-date-and-time-format-strings.md
  docs/visual-basic/index.yml
Labels: dotnet-visualbasic/svc, dotnet-csharp/svc, fundamentals/subsvc, dotnet-fundamentals/svc, community-contribution

#39383 Update absolute links to relative
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc

#39382 Correct capitalization
  docs/csharp/fundamentals/coding-style/identifier-names.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#39387 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, azure-sdk-shipit

#39393 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, azure-sdk-shipit

#39398 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, azure-sdk-shipit

#39386 Add documentation for MSTEST0007 analyzer rule
  docs/core/testing/mstest-analyzers/mstest0007.md
  docs/core/testing/mstest-analyzers/usage-rules.md
  docs/navigate/devops-testing/toc.yml
Labels: dotnet-fundamentals/svc, community-contribution

#39343 Add the missing dot in the code snippet
  docs/core/extensions/logging-providers.md
Labels: dotnet-fundamentals/svc, community-contribution

#39296 Update expressions-in-linq-to-entities-queries.md
  docs/framework/data/adonet/ef/language-reference/expressions-in-linq-to-entities-queries.md
Labels: dotnet-framework/svc, data-access/subsvc, community-contribution

#39401 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, azure-sdk-shipit

#39402 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, azure-sdk-shipit

#39388 Don't code like a dinosaur
  docs/core/extensions/localization.md
  docs/core/extensions/snippets/localization/example/Program.cs
Labels: dotnet-fundamentals/svc, okr-health

#39395 change the order of circle, cylinder, and sphere
  docs/csharp/language-reference/keywords/virtual.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#39409 Add info about wildcard dual-sockets on QuicListener
  docs/fundamentals/networking/quic/quic-troubleshooting.md
Labels: dotnet-fundamentals/svc, dotnet-networking/subsvc

#39392 Move snippets to code files
  docs/core/whats-new/dotnet-8.md
  docs/core/whats-new/snippets/dotnet-8/csharp/ConsoleApp/FunctionPointerReflection.cs
  docs/core/whats-new/snippets/dotnet-8/csharp/ConsoleApp/HostedLifecycleServices.cs
  docs/core/whats-new/snippets/dotnet-8/csharp/ConsoleApp/Interop.cs
  docs/core/whats-new/snippets/dotnet-8/csharp/ConsoleApp/MetricCollector.cs
  docs/core/whats-new/snippets/dotnet-8/csharp/ConsoleApp/Metrics.cs
  docs/core/whats-new/snippets/dotnet-8/csharp/ConsoleApp/Program.cs
  docs/core/whats-new/snippets/dotnet-8/csharp/ConsoleApp/Project.csproj
  docs/core/whats-new/snippets/dotnet-8/csharp/ConsoleApp/Serialization.cs
  docs/core/whats-new/snippets/dotnet-8/csharp/ConsoleApp/TimeProvider.cs
  docs/core/whats-new/snippets/dotnet-8/csharp/WebSDK/ConfigBindingSG.cs
  docs/core/whats-new/snippets/dotnet-8/csharp/WebSDK/KeyedDIServices.cs
  docs/core/whats-new/snippets/dotnet-8/csharp/WebSDK/Project.csproj
  docs/core/whats-new/snippets/dotnet-8/csharp/WebSDK/Properties/launchSettings.json
  docs/core/whats-new/snippets/dotnet-8/csharp/WebSDK/ResultBuilder.cs
  docs/core/whats-new/snippets/dotnet-8/csharp/WebSDK/Validation.cs
Labels: dotnet-fundamentals/svc

#39290 Fix Minor Grammatical Issues
  docs/standard/generics/interfaces.md
Labels: dotnet-fundamentals/svc, community-contribution

#39415 Updated shared snippet for Array with correct C# syntax
  docs/csharp/language-reference/builtin-types/snippets/shared/Arrays.cs
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#39418 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, azure-sdk-shipit

#39410 Update nullable-references.md
  docs/csharp/nullable-references.md
Labels: dotnet-csharp/svc, community-contribution

#39411 Add link to `init` keyword in "See also" section of Properties page
  docs/csharp/programming-guide/classes-and-structs/properties.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#39459 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, azure-sdk-shipit

#39456 Update Crash dump doc
  docs/core/testing/unit-testing-mstest-runner-extensions.md
Labels: dotnet-fundamentals/svc, community-contribution

#39454 Add --check-only in Options section
  docs/core/tools/dotnet-new-update.md
Labels: dotnet-fundamentals/svc, okr-health, dotnet-cli/subsvc

#39378 Note that Entra External ID tenants also use SingleOrg for --auth option
  docs/core/tools/dotnet-new-sdk-templates.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#39461 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, azure-sdk-shipit

#39466 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, azure-sdk-shipit

#39464 Azure OpenAI - Update wording
  docs/azure/ai/get-started-app-chat-template.md
Labels: dotnet-azure/svc, community-contribution

#39408 Update distributed-tracing-instrumentation-walkthroughs.md
  docs/core/diagnostics/distributed-tracing-instrumentation-walkthroughs.md
Labels: dotnet-fundamentals/svc, community-contribution

#39469 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, azure-sdk-shipit

#39470 fix: pacakge -> package
  docs/core/install/includes/linux-install-package-manager-x64-vs-arm-ubuntu.md
Labels: dotnet-fundamentals/svc, community-contribution, install/subsvc

#39450 Update old .NET beginner video series
  docs/csharp/index.yml
  docs/csharp/tour-of-csharp/tutorials/index.md
  docs/index.yml
Labels: dotnet-csharp/svc, get-started/subsvc, community-contribution

#39473 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, azure-sdk-shipit

#39472 Disable MD056 for tables with needed pipes
  docs/fundamentals/code-analysis/includes/excluded-symbol-names.md
  docs/fundamentals/code-analysis/includes/excluded-type-names-with-derived-types.md
  docs/fundamentals/code-analysis/quality-rules/ca1031.md
  docs/fundamentals/code-analysis/quality-rules/ca1062.md
  docs/fundamentals/code-analysis/quality-rules/ca1501.md
  docs/fundamentals/code-analysis/quality-rules/ca1710.md
  docs/fundamentals/code-analysis/quality-rules/ca2241.md
Labels: dotnet-fundamentals/svc

#39471 Update min version for 8.0.200
  docs/core/compatibility/sdk/7.0/vs-msbuild-version.md
  docs/core/compatibility/sdk/8.0/version-requirements.md
Labels: dotnet-fundamentals/svc

#39482 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, azure-sdk-shipit

#39481 Remove spaces around em dashes
  docs/core/docker/includes/volume-share-alert.md
  docs/core/extensions/caching.md
  docs/core/extensions/custom-logging-provider.md
  docs/core/extensions/localization.md
  docs/core/extensions/windows-service.md
  docs/core/porting/versioning-sdk-msbuild-vs.md
  docs/core/rid-catalog.md
  docs/core/tools/sdk-errors/netsdk1206.md
  docs/devops/dotnet-secure-github-action.md
  docs/devops/github-actions-overview.md
  docs/orleans/deployment/multi-cluster-support/silo-configuration.md
  docs/orleans/grains/event-sourcing/immediate-vs-delayed-confirmation.md
  docs/orleans/grains/external-tasks-and-grains.md
  docs/orleans/implementation/cluster-management.md
  docs/orleans/resources/orleans-architecture-principles-and-approach.md
  docs/orleans/resources/orleans-thinking-big-and-small.md
  docs/orleans/resources/student-projects.md
  docs/orleans/streaming/stream-providers.md
  docs/standard/events/observer-design-pattern-best-practices.md
Labels: dotnet-fundamentals/svc, dotnet-docker/subsvc, dotnet-cli/subsvc

#39475 Inline array size limit breaking change
  docs/core/compatibility/9.0.md
  docs/core/compatibility/core-libraries/9.0/inlinearray-size.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc, :checkered_flag: Release: .NET 9

#39484 Delete unnecessary article
  .openpublishing.redirection.standard.json
  docs/navigate/data-access/toc.yml
  docs/standard/linq/build-linq-xml-examples.md
Labels: dotnet-fundamentals/svc, okr-health

#39492 Update unit-testing-mstest-runner-vs-vstest.md
  docs/core/testing/unit-testing-mstest-runner-vs-vstest.md
Labels: dotnet-fundamentals/svc

#39406 What's new in .NET 9 Preview 1
  .github/workflows/snippets5000.yml
  .openpublishing.redirection.core.json
  docs/core/whats-new/dotnet-9/overview.md
  docs/core/whats-new/snippets/dotnet-9/csharp/Collections.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/Cryptography.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/Linq.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/Program.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/Project.csproj
  docs/core/whats-new/snippets/dotnet-9/csharp/Reflection.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/Serialization.cs
  docs/fundamentals/index.yml
  docs/fundamentals/toc.yml
  docs/index.yml
  docs/standard/security/cryptography-model.md
  docs/standard/serialization/system-text-json/configure-options.md
  docs/standard/serialization/system-text-json/migrate-from-newtonsoft.md
  docs/whats-new/index.yml
  docs/whats-new/toc.yml
Labels: dotnet-fundamentals/svc

#39497 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, azure-sdk-shipit

#39487 Two .NET 8 breaking changes
  docs/core/compatibility/8.0.md
  docs/core/compatibility/9.0.md
  docs/core/compatibility/core-libraries/8.0/drive-current-dir-paths.md
  docs/core/compatibility/sdk/8.0/user-file.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc, :checkered_flag: Release: .NET 8

#39489 PictureBox remote image breaking change
  docs/core/compatibility/8.0.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/windows-forms/8.0/picturebox-remote-image.md
Labels: dotnet-fundamentals/svc, :checkered_flag: Release: .NET 8

#39488 InMemoryDirectoryInfo breaking change
  docs/core/compatibility/9.0.md
  docs/core/compatibility/core-libraries/9.0/inmemorydirinfo-prepends-rootdir.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc, :checkered_flag: Release: .NET 9

#39499 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, azure-sdk-shipit

#39491 Update AssemblyBuilder.md with persistable AssemblyBuilder info
  docs/core/porting/net-framework-tech-unavailable.md
  docs/fundamentals/runtime-libraries/system-reflection-emit-assemblybuilder.md
Labels: dotnet-fundamentals/svc

#39552 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, azure-sdk-shipit

#39493 Fix JSON example for resilience config
  docs/core/resilience/snippets/http-resilience/Program.RetryOptions.cs
  docs/core/resilience/snippets/http-resilience/appsettings.json
Labels: dotnet-fundamentals/svc, community-contribution

#39368 Fix versioning of microservice book
  docs/architecture/microservices/index.md
Labels: dotnet-architecture/svc, microservices/subsvc

#39553 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, azure-sdk-shipit

#39556 Move code comments to article text
  docs/core/tutorials/top-level-templates.md
Labels: dotnet-fundamentals/svc

#39555 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, azure-sdk-shipit

#39558 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, azure-sdk-shipit

#39565 Add note about enforcement of no. of links
  docs/core/diagnostics/distributed-tracing-instrumentation-walkthroughs.md
Labels: dotnet-fundamentals/svc

#39564 add possible cause for CS2012
  docs/csharp/misc/cs2012.md
Labels: dotnet-csharp/svc, community-contribution, csharp-errors-warnings/subsvc

#39498 Document the new `MSTest.Sdk`
  docs/core/testing/unit-testing-mstest-sdk.md
  docs/navigate/devops-testing/toc.yml
Labels: dotnet-fundamentals/svc, community-contribution

#39568 Clarify that read-only collection type properties are serialized
  docs/standard/serialization/system-text-json/ignore-properties.md
Labels: dotnet-fundamentals/svc

#39570 Update severity part for .NET 9
  docs/fundamentals/code-analysis/style-rules/language-rules.md
Labels: dotnet-fundamentals/svc

#39567 Update what's new for .NET 9
  docs/core/whats-new/dotnet-9/overview.md
  docs/core/whats-new/snippets/dotnet-9/csharp/Linq.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/Project.csproj
  docs/core/whats-new/snippets/dotnet-9/csharp/output.txt
  docs/fundamentals/runtime-libraries/system-reflection-emit-assemblybuilder.md
Labels: dotnet-fundamentals/svc

#39574 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#39575 Move template list to include file
  docs/core/tools/dotnet-new-sdk-templates.md
  docs/core/tools/dotnet-new.md
  includes/templates.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#39580 Add links for Extended* MSBuild API pages
  docs/core/compatibility/sdk/8.0/custombuildeventargs.md
Labels: dotnet-fundamentals/svc, community-contribution

#39589 Fix typo
  docs/fundamentals/code-analysis/quality-rules/ca2262.md
Labels: dotnet-fundamentals/svc, community-contribution

#39593 Update index.md - Added Missing 'and' for Grammatical Clarity
  docs/csharp/tour-of-csharp/index.md
Labels: dotnet-csharp/svc, get-started/subsvc, community-contribution

#39576 reword CS0108 description
  docs/csharp/language-reference/compiler-messages/cs0108.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution, csharp-diagnostics/subsvc

#39599 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#39596 Custom config provider clarification
  docs/core/extensions/custom-configuration-provider.md
  docs/core/extensions/snippets/configuration/custom-provider/Extensions/ConfigurationBuilderExtensions.cs
  docs/core/extensions/snippets/configuration/custom-provider/Extensions/ConfigurationManagerExtensions.cs
  docs/core/extensions/snippets/configuration/custom-provider/Program.cs
  docs/core/extensions/snippets/configuration/custom-provider/Providers/EntityConfigurationContext.cs
  docs/core/extensions/snippets/configuration/custom-provider/Providers/EntityConfigurationProvider.cs
  docs/core/extensions/snippets/configuration/custom-provider/Providers/EntityConfigurationSource.cs
Labels: dotnet-fundamentals/svc, okr-discovery

#39581 More details on collection expression conversions
  docs/csharp/language-reference/operators/collection-expressions.md
Labels: dotnet-csharp/svc, lang-reference/subsvc

#39579 Revert collection expression in example
  docs/csharp/language-reference/statements/snippets/jump-statements/ReturnStatement.cs
Labels: dotnet-csharp/svc, lang-reference/subsvc, okr-health

#39572 Remove inline arrays as a conversion target
  docs/csharp/language-reference/operators/collection-expressions.md
Labels: dotnet-csharp/svc, lang-reference/subsvc

#39592 Update usage-rules.md with MStest Analyzers
  docs/core/testing/mstest-analyzers/mstest0008.md
  docs/core/testing/mstest-analyzers/mstest0009.md
  docs/core/testing/mstest-analyzers/mstest0010.md
  docs/core/testing/mstest-analyzers/mstest0011.md
  docs/core/testing/mstest-analyzers/mstest0012.md
  docs/core/testing/mstest-analyzers/mstest0013.md
  docs/core/testing/mstest-analyzers/usage-rules.md
  docs/navigate/devops-testing/toc.yml
Labels: dotnet-fundamentals/svc, community-contribution

#39627 Fix spelling of "on-premises"
  docs/orleans/host/configuration-guide/typical-configurations.md
Labels: community-contribution

#39632 Add bullet points with semantics for `true` and `false` operator to follow
  docs/csharp/language-reference/operators/true-false-operators.md
Labels: community-contribution

#39635 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: :octocat: auto-merge

#39641 Orleans - Add link to referenced docs
  docs/orleans/streaming/streams-quick-start.md
Labels: community-contribution

#39630 Update templates list
  docs/core/tools/dotnet-new-sdk-templates.md
  includes/templates.md
Labels: okr-health

#39650 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#39653 Update diagnosticsource-diagnosticlistener.md
  docs/core/diagnostics/diagnosticsource-diagnosticlistener.md
Labels: dotnet-fundamentals/svc

#39659 Include and present the data source and output for examples in "Query expression basics" article
  docs/csharp/linq/get-started/query-expression-basics.md
  docs/csharp/linq/get-started/snippets/SnippetApp/Basics.cs
  docs/csharp/linq/get-started/snippets/SnippetApp/DataSources.cs
Labels: dotnet-csharp/svc, csharp-linq/subsvc, community-contribution

#39663 Fix ordering of config Documents
  docs/core/extensions/configuration.md
Labels: dotnet-fundamentals/svc, community-contribution

#39292 Fix ClusterFixtureWithConfig.cs
  docs/orleans/implementation/snippets/testing/orleans-testing/Sample.OrleansTesting/ClusterFixtureWithConfig.cs
Labels: community-contribution

#39666 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#39668 Minor correction to --create-manifest-if-needed text
  docs/core/tools/dotnet-tool-install.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#39642 Update text on intellisense
  docs/csharp/language-reference/xmldoc/recommended-tags.md
  docs/csharp/language-reference/xmldoc/snippets/xmldoc/MyAssembly.xml
  docs/csharp/language-reference/xmldoc/snippets/xmldoc/MyClass.cs
  docs/csharp/language-reference/xmldoc/snippets/xmldoc/xmldoc.csproj
Labels: okr-health

#39645 Change "Utf8JsonReader" from class to struct
  docs/standard/serialization/system-text-json/visual-basic-support.md
Labels: community-contribution

#39660 Add subsection header for combinations "what type" and "how is passed"
  docs/csharp/language-reference/keywords/method-parameters.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#39670 Fix broken links
  docs/core/deploying/deploy-with-cli.md
  docs/framework/wcf/feature-details/security-protocols-version-1-0.md
  docs/framework/wcf/feature-details/security-protocols.md
  docs/framework/wcf/feature-details/web-services-protocols-interoperability-guide.md
  docs/framework/wcf/feature-details/web-services-protocols-supported-by-system-provided-interoperability-bindings.md
Labels: dotnet-framework/svc, dotnet-fundamentals/svc, dotnet-wcf/subsvc

#39588 Add documentation for CA2263
  docs/fundamentals/code-analysis/quality-rules/ca2263.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/usage-warnings.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/svc, community-contribution

#39652 document security best practices for managing package source credentials in NuGet docs
  docs/core/tools/dotnet-nuget-add-source.md
  docs/core/tools/dotnet-nuget-update-source.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#39678 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#39676 Add breaking change for https://github.com/dotnet/sdk/pull/38956
  docs/core/compatibility/8.0.md
  docs/core/compatibility/sdk/8.0/getx-duplicate-output.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#39680 Update enable on build section for .NET 9
  docs/fundamentals/code-analysis/overview.md
  docs/fundamentals/code-analysis/style-rules/language-rules.md
Labels: dotnet-fundamentals/svc

#39685 Improve CS1597
  docs/csharp/misc/cs1597.md
Labels: dotnet-csharp/svc, community-contribution, csharp-errors-warnings/subsvc

#39686 Minor nit for integral numeric types
  docs/csharp/language-reference/builtin-types/integral-numeric-types.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#39736 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#39683 Fix up LOH doc
  docs/framework/debug-trace-profile/performance-counters.md
  docs/standard/garbage-collection/large-object-heap.md
  docs/standard/garbage-collection/media/large-object-heap/add-performance-counter.png
Labels: dotnet-framework/svc, dotnet-fundamentals/svc

#39735 Add article on compiler errors and warnings related to referenced assemblies
  .openpublishing.redirection.csharp.json
  docs/csharp/language-reference/compiler-messages/assembly-references.md
  docs/csharp/language-reference/compiler-messages/cs0234.md
  docs/csharp/language-reference/compiler-messages/cs0246.md
  docs/csharp/language-reference/compiler-messages/cs1683.md
  docs/csharp/language-reference/compiler-messages/cs1704.md
  docs/csharp/language-reference/compiler-messages/toc.yml
  docs/csharp/language-reference/keywords/using-directive.md
  docs/csharp/misc/cs0012.md
  docs/csharp/misc/cs0400.md
  docs/csharp/misc/cs1714.md
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, csharp-diagnostics/subsvc, csharp-errors-warnings/subsvc

#39741 Update windows-service.md
  docs/core/extensions/windows-service.md
Labels: dotnet-fundamentals/svc

#39743 Replace code blocks with images
  docs/core/extensions/dependency-injection-guidelines.md
  docs/core/extensions/media/captive-dependency.png
  docs/core/extensions/media/deadlock-with-async-factory-01.png
  docs/core/extensions/media/deadlock-with-async-factory.png
  docs/core/extensions/media/scoped-services-becomes-singleton.png
  docs/core/extensions/media/transient-disposables-without-dispose.png
Labels: dotnet-fundamentals/svc

#39667 Update logging.md
  docs/core/extensions/logging.md
Labels: dotnet-fundamentals/svc

#39582 Add default platform versions
  docs/standard/frameworks.md
Labels: dotnet-fundamentals/svc

#39744 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#39746 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#39749 Update CS0110
  docs/csharp/misc/cs0110.md
Labels: dotnet-csharp/svc, community-contribution, csharp-errors-warnings/subsvc

#39742 define top-level statements
  docs/csharp/fundamentals/program-structure/top-level-statements.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#39756 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge
