Repository dotnet/docs, pull requests merged in 2024-05, with the labels that each got.

#40685 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40689 Update tips-for-javascript-developers.md
  docs/csharp/tour-of-csharp/tips-for-javascript-developers.md
Labels: dotnet-csharp/svc, get-started/subsvc, community-contribution

#40690 Update tips-for-python-developers.md
  docs/csharp/tour-of-csharp/tips-for-python-developers.md
Labels: dotnet-csharp/svc, get-started/subsvc, community-contribution

#40713 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40651 Remove redundant parenthesis from the "Analyze sentiment using the ML.NET CLI" documentation.
  docs/machine-learning/tutorials/sentiment-analysis-cli.md
Labels: dotnet-ml/svc, community-contribution

#40692 update dotnet search columns option
  docs/core/tools/dotnet-new-search.md
Labels: dotnet-fundamentals/svc, community-contribution, dotnet-cli/subsvc

#40688 Refresh exceptions best practices
  docs/csharp/language-reference/statements/exception-handling-statements.md
  docs/csharp/nullable-references.md
  docs/fundamentals/code-analysis/quality-rules/ca1065.md
  docs/fundamentals/code-analysis/quality-rules/ca2200.md
  docs/fundamentals/code-analysis/quality-rules/ca2208.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca2200.cs
  docs/standard/exceptions/best-practices-for-exceptions.md
  docs/standard/exceptions/how-to-use-finally-blocks.md
  docs/standard/exceptions/snippets/best-practices/csharp/Project.csproj
  docs/standard/exceptions/snippets/best-practices/csharp/source.cs
  docs/standard/exceptions/snippets/how-to-use-finally-blocks/csharp/Project.csproj
  docs/standard/exceptions/snippets/how-to-use-finally-blocks/csharp/source2.cs
  samples/snippets/csharp/VS_Snippets_CLR/Exception.Throwing/CS/throw.cs
  samples/snippets/csharp/VS_Snippets_CLR/dg_exceptionDesign/cs/example1.cs
  samples/snippets/csharp/VS_Snippets_CLR/dg_exceptionDesign/cs/example2.cs
Labels: dotnet-csharp/svc, lang-reference/subsvc, dotnet-fundamentals/svc

#40632 4D .NET Framework release notes
  .openpublishing.redirection.framework.json
  docs/framework/release-notes/2024/04-09-april-security-and-quality-rollup.md
  docs/framework/release-notes/2024/04-23-april-preview-cumulative-update.md
  docs/framework/toc.yml
Labels: dotnet-framework/svc

#40720 Terminal logger is enabled by default
  docs/core/compatibility/sdk/9.0/terminal-logger.md
  docs/core/whats-new/dotnet-9/sdk.md
Labels: dotnet-fundamentals/svc

#40721 Explain why not 2.1
  docs/standard/net-standard.md
Labels: dotnet-fundamentals/svc

#40726 Update join-operations.md
  docs/csharp/linq/standard-query-operators/join-operations.md
Labels: dotnet-csharp/svc, csharp-linq/subsvc, community-contribution

#40714 Add language reference for `lock`
  .openpublishing.redirection.csharp.json
  docs/csharp/language-reference/compiler-messages/lock-semantics.md
  docs/csharp/language-reference/statements/lock.md
  docs/csharp/language-reference/statements/snippets/lock/Program.cs
  docs/csharp/language-reference/statements/snippets/lock/lock.csproj
  docs/csharp/language-reference/toc.yml
  docs/csharp/misc/cs0185.md
  docs/csharp/whats-new/csharp-13.md
  docs/framework/debug-trace-profile/dangerousthreadingapi-mda.md
  docs/standard/threading/synchronizing-data-for-multithreading.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, whats-new/subsvc

#40618 Add DOTNET_ROOT_X64
  docs/core/tools/dotnet-environment-variables.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#40506 Update dotnet-35-windows.md
  docs/framework/install/dotnet-35-windows.md
Labels: dotnet-framework/svc, install/subsvc

#40323 Add workaround for Dotnet Runtime Issue 91121
  docs/fundamentals/syslib-diagnostics/syslib1019.md
Labels: dotnet-fundamentals/svc, community-contribution

#39648 Changed code snipped used for index component formatting example
  docs/standard/base-types/composite-formatting.md
Labels: dotnet-fundamentals/svc, community-contribution

#39745 Resource-optimized placement
  docs/orleans/grains/grain-placement.md
Labels: community-contribution

#40352 Update example to configure Ubuntu apt preferences
  docs/core/install/linux-package-mixup.md
Labels: dotnet-fundamentals/svc, community-contribution, install/subsvc

#40715 Delete orphaned article - What's new in docs for .NET 7
  .openpublishing.redirection.core.json
  docs/core/whats-new/dotnet-7.md
  docs/whats-new/dotnet-7-docs.md
Labels: dotnet-fundamentals/svc

#40730 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40732 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40734 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40731 Add note that publishtrimmed enables source generators
  docs/core/deploying/trimming/trimming-options.md
  docs/core/whats-new/dotnet-8/runtime.md
Labels: dotnet-fundamentals/svc

#40751 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40752 Add Azure host info
  docs/core/compatibility/containers/8.0/aspnet-port.md
Labels: dotnet-fundamentals/svc

#40753 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40749 Acrolinx
  docs/core/extensions/globalization-icu.md
  docs/core/porting/index.md
  docs/core/tools/sdk-errors/netsdk1022.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#40767 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40770 Add Tips section for AOT enabled builds
  docs/core/extensions/options-validation-generator.md
Labels: dotnet-fundamentals/svc

#40779 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40774 MSTest.Sdk: document EnablePlaywright and EnableAspireTesting
  docs/core/testing/unit-testing-mstest-sdk.md
Labels: dotnet-fundamentals/svc

#40745 Update limitations on collectible assemblies.
  docs/fundamentals/reflection/collectible-assemblies.md
  docs/standard/assembly/unloadability.md
Labels: dotnet-fundamentals/svc, community-contribution

#40780 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40786 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40782 Update .NET 9 perf improvements
  docs/core/whats-new/dotnet-9/overview.md
  docs/core/whats-new/dotnet-9/runtime.md
Labels: dotnet-fundamentals/svc

#40778 Note rules that aren't enabled on build
  docs/fundamentals/code-analysis/includes/enabled-on-build-never.md
  docs/fundamentals/code-analysis/style-rules/ide0001.md
  docs/fundamentals/code-analysis/style-rules/ide0002.md
  docs/fundamentals/code-analysis/style-rules/ide0003-ide0009.md
  docs/fundamentals/code-analysis/style-rules/ide0035.md
  docs/fundamentals/code-analysis/style-rules/ide0049.md
  docs/fundamentals/code-analysis/style-rules/ide0079.md
Labels: dotnet-fundamentals/svc

#40787 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40788 Add links among TOCs
  docs/csharp/language-reference/toc.yml
  docs/csharp/specification/toc.yml
  docs/csharp/toc.yml
Labels: dotnet-csharp/svc, lang-reference/subsvc

#40783 Moving code highligth to expected lines
  docs/standard/serialization/system-text-json/deserialization.md
Labels: dotnet-fundamentals/svc, community-contribution

#40794 Fix C# reference TOC for offline book
  docs/core/tools/dotnet-new-sdk-templates.md
  docs/csharp/language-reference/compiler-options/language.md
  docs/csharp/language-reference/configure-language-version.md
  docs/csharp/language-reference/language-versioning.md
  docs/csharp/language-reference/toc.yml
  docs/csharp/misc/cs1617.md
  docs/csharp/specification/toc.yml
  docs/csharp/toc.yml
Labels: dotnet-csharp/svc, lang-reference/subsvc

#40798 Fix typo
  docs/csharp/toc.yml
Labels: dotnet-csharp/svc

#40813 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40773 Couple of fixes
  docs/csharp/language-reference/builtin-types/integral-numeric-types.md
Labels: dotnet-csharp/svc, lang-reference/subsvc

#40722 Update default font in .NET Framework
  docs/core/compatibility/fx-core.md
  includes/core-changes/windowsforms/3.0/control-defaultfont-changed.md
Labels: dotnet-fundamentals/svc

#40811 Add a C# conceptual landing page
  docs/core/introduction.md
  docs/csharp/index.yml
  docs/csharp/language-reference/index.yml
  docs/csharp/language-reference/toc.yml
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
  docs/csharp/specification/toc.yml
  docs/csharp/toc.yml
  docs/csharp/tour-of-csharp/index.yml
  docs/csharp/tour-of-csharp/overview.md
  docs/standard/get-started.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, get-started/subsvc

#40815 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40816 Move index to be alone at the top (to fix offline book)
  docs/csharp/specification/feature-spec-overview.md
  docs/csharp/specification/overview.md
  docs/csharp/specification/toc.yml
Labels: dotnet-csharp/svc

#40821 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40820 Clarify local function description
  docs/csharp/programming-guide/classes-and-structs/local-functions.md
Labels: dotnet-csharp/svc, fundamentals/subsvc

#40826 Update Program.cs
  docs/csharp/language-reference/statements/snippets/yield/Program.cs
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#40776 Update FileStream.Position breaking change
  docs/core/compatibility/core-libraries/6.0/filestream-position-updates-after-readasync-writeasync-completion.md
Labels: dotnet-fundamentals/svc

#40777 remove duplicate line
  samples/snippets/standard/io/file-names/cs/file-names.csproj
  samples/snippets/standard/io/file-names/cs/file-refs.cs
  samples/snippets/standard/io/file-names/cs/paths.cs
  samples/snippets/standard/io/file-names/cs/rename.cs
  samples/snippets/standard/io/file-names/vb/file-names.vbproj
  samples/snippets/standard/io/file-names/vb/file-refs.vb
  samples/snippets/standard/io/file-names/vb/paths.vb
  samples/snippets/standard/io/file-names/vb/rename.vb
Labels: community-contribution

#40822 Convert `DllImport` uses to `LibraryImport`
  docs/standard/native-interop/best-practices.md
  docs/standard/native-interop/charset.md
  docs/standard/native-interop/disabled-marshalling.md
  docs/standard/native-interop/pinvoke.md
  docs/standard/native-interop/type-marshalling.md
  samples/snippets/standard/interop/pinvoke/enumwindows.cs
  samples/snippets/standard/interop/pinvoke/ftw-linux.cs
  samples/snippets/standard/interop/pinvoke/ftw-macos.cs
  samples/snippets/standard/interop/pinvoke/getpid-linux.cs
  samples/snippets/standard/interop/pinvoke/getpid-macos.cs
  samples/snippets/standard/interop/pinvoke/import-resolver/Program.cs
  samples/snippets/standard/interop/pinvoke/import-resolver/cs.csproj
  samples/snippets/standard/interop/pinvoke/messagebox.cs
Labels: dotnet-fundamentals/svc

#40836 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40829 Remove Internet Explorer
  docs/fundamentals/runtime-libraries/system-net-ftpwebrequest-proxy.md
Labels: dotnet-fundamentals/svc

#40833 Improve read text from a file article
  docs/standard/io/how-to-read-text-from-a-file.md
  docs/standard/io/snippets/how-to-read-text-from-a-file/csharp/FileReader.csproj
  docs/standard/io/snippets/how-to-read-text-from-a-file/csharp/Program.cs
  docs/standard/io/snippets/how-to-read-text-from-a-file/csharp/TestFile.txt
  docs/standard/io/snippets/how-to-read-text-from-a-file/csharp/async-wpf/App.xaml
  docs/standard/io/snippets/how-to-read-text-from-a-file/csharp/async-wpf/App.xaml.cs
  docs/standard/io/snippets/how-to-read-text-from-a-file/csharp/async-wpf/MainWindow.xaml
  docs/standard/io/snippets/how-to-read-text-from-a-file/csharp/async-wpf/MainWindow.xaml.cs
  docs/standard/io/snippets/how-to-read-text-from-a-file/csharp/async-wpf/TextFiles.csproj
  docs/standard/io/snippets/how-to-read-text-from-a-file/csharp/sync-console/FileReader.csproj
  docs/standard/io/snippets/how-to-read-text-from-a-file/csharp/sync-console/Program.cs
  docs/standard/io/snippets/how-to-read-text-from-a-file/vb/FileReader.vbproj
  docs/standard/io/snippets/how-to-read-text-from-a-file/vb/Program.vb
  docs/standard/io/snippets/how-to-read-text-from-a-file/vb/ReadSync.vb
  docs/standard/io/snippets/how-to-read-text-from-a-file/vb/TestFile.txt
  docs/standard/io/snippets/how-to-read-text-from-a-file/vb/async-wpf/Application.xaml
  docs/standard/io/snippets/how-to-read-text-from-a-file/vb/async-wpf/Application.xaml.vb
  docs/standard/io/snippets/how-to-read-text-from-a-file/vb/async-wpf/MainWindow.xaml
  docs/standard/io/snippets/how-to-read-text-from-a-file/vb/async-wpf/MainWindow.xaml.vb
  docs/standard/io/snippets/how-to-read-text-from-a-file/vb/async-wpf/TextFiles.vbproj
  docs/standard/io/snippets/how-to-read-text-from-a-file/vb/sync-console/FileReader.vbproj
  docs/standard/io/snippets/how-to-read-text-from-a-file/vb/sync-console/Program.vb
Labels: dotnet-fundamentals/svc

#40809 F# , add chapter on opening with global specifier
  docs/fsharp/language-reference/import-declarations-the-open-keyword.md
Labels: dotnet-fsharp/svc, community-contribution

#40845 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40785 MSTEST0025: Use 'Assert.Fail' instead of an always-failing assert
  docs/core/testing/mstest-analyzers/mstest0025.md
Labels: dotnet-fundamentals/svc

#40844 add example for order of execution
  docs/csharp/programming-guide/classes-and-structs/how-to-initialize-objects-by-using-an-object-initializer.md
  samples/snippets/csharp/programming-guide/classes-and-structs/object-collection-initializers/ObjectInitializersExecutionOrder.cs
  samples/snippets/csharp/programming-guide/classes-and-structs/object-collection-initializers/Program.cs
  samples/snippets/csharp/programming-guide/classes-and-structs/object-collection-initializers/object-collection-initializers.csproj
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#40857 fix example with an invalid preprocessor expression
  docs/csharp/language-reference/preprocessor-directives.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#40863 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40851 AI - chat refresh
  docs/ai/get-started-app-chat-template.md
  docs/ai/media/get-started-app-chat-template/browser-chat-initial-answer.png
  docs/ai/media/get-started-app-chat-template/browser-chat-with-your-data.png
  docs/ai/media/get-started-app-chat-template/simple-architecture-diagram.png
Labels: community-contribution

#40864 Add note about collection expressions.
  docs/csharp/language-reference/builtin-types/arrays.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, okr-health, user-feedback

#40858 Fixed some outdated usage of quic connection stream handling
  docs/fundamentals/networking/quic/quic-overview.md
Labels: dotnet-fundamentals/svc, community-contribution, dotnet-networking/subsvc

#40871 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40834 Add SYSLIB0054 and SYSLIB0055
  docs/core/compatibility/core-libraries/9.0/obsolete-apis-with-custom-diagnostics.md
  docs/fundamentals/syslib-diagnostics/obsoletions-overview.md
  docs/fundamentals/syslib-diagnostics/syslib0048.md
  docs/fundamentals/syslib-diagnostics/syslib0054.md
  docs/fundamentals/syslib-diagnostics/syslib0055.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/svc

#40874 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40869 Update raw-string.md
  docs/csharp/language-reference/tokens/raw-string.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#40877 remove spread operator, use spread element
  docs/csharp/language-reference/operators/member-access-operators.md
  docs/csharp/whats-new/csharp-12.md
  docs/csharp/whats-new/csharp-version-history.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, whats-new/subsvc

#40882 Update uninstall-tool.md
  docs/core/additional-tools/uninstall-tool.md
Labels: dotnet-fundamentals/svc

#40884 Add Assembly.LoadFrom(string, byte[], AssemblyHashAlgorithm) to unsupported API list
  docs/core/compatibility/unsupported-apis.md
Labels: dotnet-fundamentals/svc

#40879 5B .NET Framework RelNotes
  docs/framework/release-notes/2024/05-14-may-security-and-quality-rollup.md
  docs/framework/toc.yml
Labels: dotnet-framework/svc

#40735 Add doc/example for ref assemblies, PDB and resources
  docs/core/porting/net-framework-tech-unavailable.md
  docs/fundamentals/runtime-libraries/snippets/System.Reflection.Emit/PersistedAssemblyBuilder/Overview/csharp/CreateAndRunAssembly.cs
  docs/fundamentals/runtime-libraries/snippets/System.Reflection.Emit/PersistedAssemblyBuilder/Overview/csharp/GenerateMetadataSnippets.cs
  docs/fundamentals/runtime-libraries/snippets/System.Reflection.Emit/PersistedAssemblyBuilder/Overview/csharp/Project.csproj
  docs/fundamentals/runtime-libraries/system-reflection-emit-assemblybuilder.md
  docs/fundamentals/runtime-libraries/system-reflection-emit-persistedassemblybuilder.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/svc

#40843 Fix note on format
  docs/csharp/programming-guide/strings/index.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, okr-health, :pushpin: seQUESTered

#40892 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40866 Fix description to fix the error
  docs/csharp/language-reference/compiler-messages/cs0311.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, okr-health, :pushpin: seQUESTered, csharp-diagnostics/subsvc

#40865 Update index.md
  docs/csharp/fundamentals/object-oriented/index.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, okr-health, :pushpin: seQUESTered

#40936 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40939 Fix xref warnings
  docs/core/extensions/logging-providers.md
  docs/core/extensions/windows-service.md
  includes/core-changes/aspnetcore/3.0/logging-debuglogger-to-internal.md
Labels: dotnet-fundamentals/svc

#40941 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40890 Install docs - Remove .NET 7 where it makes sense
  docs/core/install/includes/linux-install-70-yum.md
  docs/core/install/includes/linux-install-80-yum.md
  docs/core/install/includes/versions-not-supported.md
  docs/core/install/linux-alpine.md
  docs/core/install/linux-centos.md
  docs/core/install/linux-debian.md
  docs/core/install/linux-fedora.md
  docs/core/install/linux-opensuse.md
  docs/core/install/linux-rhel.md
  docs/core/install/linux-scripted-manual.md
  docs/core/install/linux-sles.md
  docs/core/install/linux-ubuntu-install.md
  docs/core/install/linux-ubuntu.md
  docs/core/install/macos.md
  docs/core/install/remove-runtime-sdk-versions.md
  docs/core/install/templates.md
  docs/core/install/upgrade.md
  docs/core/install/windows.md
Labels: dotnet-fundamentals/svc, install/subsvc

#40947 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40950 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40951 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40964 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40969 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40974 Main update changes
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc

#40973 Update publishing-with-visual-studio-code.md
  docs/core/tutorials/publishing-with-visual-studio-code.md
Labels: dotnet-fundamentals/svc, community-contribution

#40971 Hub page updates and metadata
  docfx.json
  docs/ai/conceptual/embeddings.md
  docs/azure/index.yml
Labels: dotnet-azure/svc

#40976 AI chat app refresh
  docs/ai/get-started-app-chat-scaling-with-azure-container-apps.md
  docs/ai/get-started-app-chat-template.md
Labels: community-contribution

#40979 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#23413 Use samples browser link
  docs/machine-learning/tutorials/object-detection-model-builder.md
Labels: dotnet-ml/svc

#25301 Update CLI doc
  docs/machine-learning/automate-training-with-cli.md
Labels: dotnet-ml/svc

#40970 Fix description for MSTEST0003 on page listing usage rules
  docs/core/testing/mstest-analyzers/usage-rules.md
Labels: dotnet-fundamentals/svc

#40847 Tutorial - Evaluate an LLM's prompt completions
  docs/ai/media/llm-eval/eval-app-gen-input.png
  docs/ai/media/llm-eval/eval-app-gen-output.png
  docs/ai/media/llm-eval/eval-app-gen-scenario.png
  docs/ai/media/llm-eval/eval-app-test-output.png
  docs/ai/media/llm-eval/eval-app-test-scenario.png
  docs/ai/media/llm-eval/eval-app.png
  docs/ai/toc.yml
  docs/ai/tutorials/llm-eval.md
  docs/ai/tutorials/snippets/llm-eval/KernelFactoryExamples.cs
  docs/ai/tutorials/snippets/llm-eval/Program.cs
  docs/ai/tutorials/snippets/llm-eval/llm-eval.csproj
Labels: community-contribution

#40990 Main update new
  docs/ai/get-started-app-chat-scaling-with-azure-container-apps.md
  docs/ai/get-started-app-chat-template.md
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
  docs/core/testing/mstest-analyzers/usage-rules.md
  docs/core/tutorials/publishing-with-visual-studio-code.md
  docs/machine-learning/automate-training-with-cli.md
  docs/machine-learning/tutorials/object-detection-model-builder.md
Labels: dotnet-ml/svc, dotnet-fundamentals/svc, dotnet-azure/svc

#40771 Remove unsupported fedora 38
  docs/core/install/linux-fedora.md
Labels: dotnet-fundamentals/svc, install/subsvc

#40991 Update azure dev center
  docs/ai/get-started/dotnet-ai-overview.md
  docs/azure/TOC.yml
Labels: dotnet-azure/svc

#40995 Update main
  docs/core/install/linux-fedora.md
Labels: dotnet-fundamentals/svc, install/subsvc

#40994 AI - local dev container steps
  docs/ai/get-started-app-chat-template.md
Labels: community-contribution

#40997 New conceptual ai
  .openpublishing.redirection.ai.json
  .whatsnew.json
  docfx.json
  docs/ai/azure-ai-for-dotnet-developers.md
  docs/ai/conceptual/agents.md
  docs/ai/conceptual/chain-of-thought-prompting.md
  docs/ai/conceptual/embeddings.md
  docs/ai/conceptual/how-genai-and-llms-work.md
  docs/ai/conceptual/prompt-engineering-dotnet.md
  docs/ai/conceptual/rag.md
  docs/ai/conceptual/understanding-openai-functions.md
  docs/ai/conceptual/understanding-tokens.md
  docs/ai/conceptual/vector-databases.md
  docs/ai/conceptual/zero-shot-learning.md
  docs/ai/get-started-app-chat-template.md
  docs/ai/get-started/dotnet-ai-overview.md
  docs/ai/how-to/app-service-aoai-auth.md
  docs/ai/how-to/app-service-db-auth.md
  docs/ai/how-to/content-filtering.md
  docs/ai/how-to/snippets/content-filtering/AIContentFiltering.csproj
  docs/ai/how-to/snippets/content-filtering/Program.cs
  docs/ai/how-to/snippets/semantic-kernel/IdentityExamples.cs
  docs/ai/how-to/snippets/semantic-kernel/LocalModelExamples.cs
  docs/ai/how-to/snippets/semantic-kernel/MemoryExamples.cs
  docs/ai/how-to/snippets/semantic-kernel/Program.cs
  docs/ai/how-to/snippets/semantic-kernel/model/MyModelRequest.cs
  docs/ai/how-to/snippets/semantic-kernel/model/MyModelResponse.cs
  docs/ai/how-to/snippets/semantic-kernel/semantic-kernel.csproj
  docs/ai/how-to/snippets/semantic-kernel/services/MyChatCompletionService.cs
  docs/ai/how-to/snippets/semantic-kernel/services/MyTextGenerationService.cs
  docs/ai/how-to/use-redis-for-memory.md
  docs/ai/how-to/work-with-local-models.md
  docs/ai/index.yml
  docs/ai/media/get-started-app-chat-template/contoso-recipes.png
  docs/ai/media/how-genai-and-llms-work/generated-image.png
  docs/ai/media/llm-eval/eval-app-gen-input.png
  docs/ai/media/llm-eval/eval-app-gen-output.png
  docs/ai/media/llm-eval/eval-app-gen-scenario.png
  docs/ai/media/llm-eval/eval-app-test-output.png
  docs/ai/media/llm-eval/eval-app-test-scenario.png
  docs/ai/media/llm-eval/eval-app.png
  docs/ai/media/rag/architecture.png
  docs/ai/toc.yml
  docs/ai/tutorials/llm-eval.md
  docs/ai/tutorials/snippets/llm-eval/KernelFactoryExamples.cs
  docs/ai/tutorials/snippets/llm-eval/Program.cs
  docs/ai/tutorials/snippets/llm-eval/llm-eval.csproj
  docs/ai/tutorials/tutorial-ai-vector-search.md
  docs/azure/TOC.yml
  docs/azure/index.yml
  docs/index.yml
  docs/zone-pivot-groups.yml
Labels: dotnet-azure/svc

#29093 Custom Vision ONNX in ML.NET
  docs/machine-learning/toc.yml
  docs/machine-learning/tutorials/index.md
  docs/machine-learning/tutorials/media/object-detection-custom-vision/netron-image-size.png
  docs/machine-learning/tutorials/media/object-detection-custom-vision/netron-input-column.png
  docs/machine-learning/tutorials/media/object-detection-custom-vision/netron-output-columns.png
  docs/machine-learning/tutorials/object-detection-custom-vision-onnx.md
Labels: dotnet-ml/svc

#41007 Fixes link in F# Language Reference
  docs/fsharp/language-reference/index.md
Labels: dotnet-fsharp/svc, community-contribution

#40986 Clarify record equality
  docs/csharp/fundamentals/types/records.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#40987 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40989 Update how-to-query-strings.md with a better word in the title
  docs/csharp/linq/how-to-query-strings.md
Labels: dotnet-csharp/svc, csharp-linq/subsvc, community-contribution

#41006 Update .NET Framework version
  docs/standard/serialization/system-text-json/migrate-from-newtonsoft.md
Labels: dotnet-fundamentals/svc

#40965 Add "nullable" value for warnings as errors
  docs/csharp/language-reference/compiler-options/errors-warnings.md
Labels: dotnet-csharp/svc, lang-reference/subsvc

#40888 Add 8.0.4xx, mark 8.0.2xx out of support, add 17.11
  docs/core/porting/versioning-sdk-msbuild-vs.md
Labels: dotnet-fundamentals/svc

#40958 Documentation for the new DOTNET_GCPath config
  docs/core/runtime-config/garbage-collector.md
Labels: dotnet-fundamentals/svc

#40978 Add params collections
  docs/csharp/language-reference/keywords/method-parameters.md
  docs/csharp/language-reference/keywords/snippets/ParameterModifiers.cs
  docs/csharp/language-reference/operators/lambda-expressions.md
  docs/csharp/language-reference/operators/snippets/lambda-expressions/GeneralExamples.cs
  docs/csharp/language-reference/operators/snippets/lambda-expressions/lambda-expressions.csproj
  docs/csharp/methods.md
  docs/csharp/misc/cs0225.md
  docs/csharp/programming-guide/classes-and-structs/how-to-initialize-a-dictionary-with-a-collection-initializer.md
  docs/csharp/programming-guide/classes-and-structs/how-to-initialize-objects-by-using-an-object-initializer.md
  docs/csharp/programming-guide/classes-and-structs/object-and-collection-initializers.md
  docs/csharp/programming-guide/classes-and-structs/snippets/object-collection-initializers/BasicObjectInitializers.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/object-collection-initializers/HowToClassTypedInitializer.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/object-collection-initializers/HowToDictionaryInitializer.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/object-collection-initializers/HowToIndexInitializer.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/object-collection-initializers/HowToObjectInitializers.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/object-collection-initializers/ObjectInitializersExecutionOrder.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/object-collection-initializers/Program.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/object-collection-initializers/object-collection-initializers.csproj
  docs/csharp/snippets/methods/Program.cs
  docs/csharp/snippets/methods/byref106.cs
  docs/csharp/snippets/methods/byvalue10.cs
  docs/csharp/snippets/methods/byvalue42.cs
  docs/csharp/snippets/methods/inherited1.cs
  docs/csharp/snippets/methods/methods.csproj
  docs/csharp/snippets/methods/methods40.cs
  docs/csharp/snippets/methods/named1.cs
  docs/csharp/snippets/methods/named2.cs
  docs/csharp/snippets/methods/optional1.cs
  docs/csharp/snippets/methods/overridden1.cs
  docs/csharp/snippets/methods/params74.cs
  docs/csharp/snippets/methods/params75.cs
  docs/csharp/snippets/methods/return44.cs
  docs/csharp/snippets/methods/returnarray1.cs
  docs/csharp/snippets/methods/swap107.cs
  docs/csharp/whats-new/csharp-13.md
  samples/snippets/csharp/VS_Snippets_VBCSharp/csrefKeywordsMethodParams/CS/Project.csproj
  samples/snippets/csharp/VS_Snippets_VBCSharp/csrefKeywordsMethodParams/CS/csrefKeywordsMethodParams.cs
  samples/snippets/csharp/concepts/methods/async1.cs
  samples/snippets/csharp/concepts/methods/byref108.cs
  samples/snippets/csharp/programming-guide/classes-and-structs/object-collection-initializers/BasicObjectInitializers.cs
  samples/snippets/csharp/programming-guide/classes-and-structs/object-collection-initializers/HowToClassTypedInitializer.cs
  samples/snippets/csharp/programming-guide/classes-and-structs/object-collection-initializers/HowToDictionaryInitializer.cs
  samples/snippets/csharp/programming-guide/classes-and-structs/object-collection-initializers/HowToIndexInitializer.cs
  samples/snippets/csharp/programming-guide/classes-and-structs/object-collection-initializers/HowToObjectInitializers.cs
  samples/snippets/csharp/programming-guide/classes-and-structs/object-collection-initializers/Program.cs
Labels: dotnet-csharp/svc, fundamentals/subsvc, lang-reference/subsvc, whats-new/subsvc, csharp-errors-warnings/subsvc

#40977 Update what's new for Preview 4
  docs/core/whats-new/dotnet-9/libraries.md
  docs/core/whats-new/dotnet-9/overview.md
  docs/core/whats-new/dotnet-9/runtime.md
  docs/core/whats-new/dotnet-9/sdk.md
  docs/core/whats-new/snippets/dotnet-9/csharp/Diagnostics.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/Reflection.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/UnsafeAccessor.cs
  docs/machine-learning/whats-new/overview.md
  docs/machine-learning/whats-new/snippets/csharp/CodeGen.cs
  docs/machine-learning/whats-new/snippets/csharp/Llama.cs
  docs/machine-learning/whats-new/snippets/csharp/Program.cs
  docs/machine-learning/whats-new/snippets/csharp/Tiktoken.cs
Labels: dotnet-ml/svc, dotnet-fundamentals/svc

#41022 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41021 Adding using statement
  docs/csharp/asynchronous-programming/snippets/access-web/Program.cs
Labels: dotnet-csharp/svc, async-task-programming/subsvc, community-contribution

#41020 Bigboybamo using examples
  docs/csharp/language-reference/keywords/snippets/UsingKeywordExample.cs
  docs/csharp/language-reference/keywords/using.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#40895 MSTEST0026: Avoid conditional access in assertions
  docs/core/testing/mstest-analyzers/design-rules.md
  docs/core/testing/mstest-analyzers/mstest0026.md
  docs/core/testing/mstest-analyzers/usage-rules.md
Labels: dotnet-fundamentals/svc, community-contribution

#41028 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41030 Fix warning.
  docs/csharp/language-reference/keywords/using.md
Labels: dotnet-csharp/svc, lang-reference/subsvc

#41033 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40953 Fix `global.json` lookup explanation
  docs/core/versions/selection.md
Labels: dotnet-fundamentals/svc, community-contribution

#41023 Update dotnet-counters.md
  docs/core/diagnostics/dotnet-counters.md
Labels: dotnet-fundamentals/svc

#41035 What's new net8 runtime.md - no new properties added to RequiredAttribute
  docs/core/whats-new/dotnet-8/runtime.md
Labels: dotnet-fundamentals/svc, community-contribution

#41044 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41034 Add documentation for NUnit runner
  docs/core/testing/unit-testing-nunit-runner-intro.md
  docs/navigate/devops-testing/toc.yml
Labels: dotnet-fundamentals/svc

#41047 Added additional hosts
  docs/core/extensions/generic-host.md
Labels: dotnet-fundamentals/svc

#41049 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40775 Add alpine 3.20, remove older versions
  docs/core/install/linux-alpine.md
Labels: dotnet-fundamentals/svc, install/subsvc

#41059 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41061 Update package index with latest published versions
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41038 Add SDK documentation for `Microsoft.Testing.Platform`
  docs/navigate/devops-testing/toc.yml
Labels: dotnet-fundamentals/svc, community-contribution

#41051 Update NUnit doc
  docs/core/testing/unit-testing-platform-intro.md
Labels: dotnet-fundamentals/svc, community-contribution

#41054 Fix build suggestions
  docs/ai/tutorials/llm-eval.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/client-side-validation.md
  docs/azure/includes/dotnet-all.md
  docs/core/compatibility/aspnet-core/5.0/localization-members-removed.md
  docs/orleans/deployment/docker-deployment.md
  includes/core-changes/aspnetcore/3.0/localization-apis-marked-obsolete.md
Labels: dotnet-architecture/svc, microservices/subsvc, dotnet-fundamentals/svc, dotnet-azure/svc

#41045 Update Troubleshoot section with a Win error submitted by a Student Ambassador
  docs/ai/quickstarts/includes/prerequisites-and-azure-deploy.md
Labels: community-contribution

#41056 Repeated link
  docs/csharp/language-reference/keywords/ref.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#41067 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41070 Fix broken open telemetry links
  docs/core/diagnostics/observability-with-otel.md
  docs/core/diagnostics/specialized-diagnostics-overview.md
Labels: dotnet-fundamentals/svc

#41062 Add snap instructions for Linux
  docs/core/install/includes/supported-versions.md
  docs/core/install/linux-snap-runtime.md
  docs/core/install/linux-snap-sdk.md
  docs/core/install/linux.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/svc, install/subsvc

#41086 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41076 Fix debian dependencies
  docs/core/install/linux-debian.md
Labels: dotnet-fundamentals/svc, community-contribution, install/subsvc

#40981 Fix code highlight in rule index
  docs/core/testing/mstest-analyzers/design-rules.md
Labels: dotnet-fundamentals/svc

#40996 Use latest packages in unit-testing-with-mstest.md
  docs/core/testing/unit-testing-with-mstest.md
Labels: dotnet-fundamentals/svc, community-contribution

#41027 Add errors and warnings for params arrays
  .openpublishing.redirection.csharp.json
  docs/csharp/language-reference/compiler-messages/cs1751.md
  docs/csharp/language-reference/compiler-messages/expression-tree-restrictions.md
  docs/csharp/language-reference/compiler-messages/index.md
  docs/csharp/language-reference/compiler-messages/params-arrays.md
  docs/csharp/language-reference/toc.yml
  docs/csharp/misc/cs0225.md
  docs/csharp/misc/cs0231.md
  docs/csharp/misc/cs0466.md
  docs/csharp/misc/cs0674.md
  docs/csharp/misc/cs0758.md
  docs/csharp/misc/cs1104.md
  docs/csharp/misc/cs1611.md
  docs/csharp/misc/cs1670.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, csharp-diagnostics/subsvc, csharp-errors-warnings/subsvc

#41026 remove collection expression syntax from try.net sample
  docs/csharp/language-reference/builtin-types/snippets/shared/ValueTuples.cs
Labels: dotnet-csharp/svc, lang-reference/subsvc

#41083 Improve grammar
  docs/csharp/fundamentals/types/anonymous-types.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#41081 Update distributed-tracing-concepts.md
  docs/core/diagnostics/distributed-tracing-concepts.md
Labels: dotnet-fundamentals/svc, community-contribution

#41096 Update VB strategy
  docs/visual-basic/getting-started/strategy.md
  includes/vb-strategy.md
Labels: dotnet-visualbasic/svc

#41180 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41181 Correct typo in regular-expression-source-generators.md - Issue #41176
  docs/standard/base-types/regular-expression-source-generators.md
Labels: dotnet-fundamentals/svc, community-contribution

#41170 Rewrite text for captured primary ctor params
  docs/csharp/programming-guide/classes-and-structs/instance-constructors.md
Labels: dotnet-csharp/svc, fundamentals/subsvc
