Repository dotnet/docs, pull requests merged in 2024-06, with the labels that each got.

#41197 Remove note about HTTP extensions
  docs/core/extensions/httpclient-factory.md
  docs/standard/runtime-libraries-overview.md
Labels: dotnet-fundamentals/svc, dotnet-networking/subsvc

#41218 Fix compilation error.
  docs/architecture/maui/configuration-management.md
Labels: dotnet-architecture/svc

#40846 Add conditional inclusion section
  docs/fundamentals/code-analysis/configuration-files.md
Labels: dotnet-fundamentals/svc

#41208 Add missing 2404 to all ubuntu versions
  docs/core/install/linux-ubuntu-install.md
Labels: dotnet-fundamentals/svc, install/subsvc

#41207 Add Framework 3.5 WinServer-specific instructions
  docs/framework/install/includes/server-35.md
  docs/framework/install/media/includes-server-35/features.png
  docs/framework/install/on-server-2019.md
  docs/framework/install/on-server-2022.md
Labels: dotnet-framework/svc, install/subsvc

#41269 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40993 Load image data
  docs/machine-learning/how-to-guides/load-data-ml-net.md
  docs/machine-learning/how-to-guides/snippets/load-data-ml-net/ImageData.cs
  docs/machine-learning/how-to-guides/snippets/load-data-ml-net/InMemoryImageData.cs
  docs/machine-learning/how-to-guides/snippets/load-data-ml-net/Project.csproj
Labels: dotnet-ml/svc

#41203 Update VB move example to use my docs instead of c:
  docs/visual-basic/developing-apps/programming/drives-directories-files/how-to-rename-a-file.md
  docs/visual-basic/developing-apps/programming/drives-directories-files/snippets/how-to-rename-a-file/Form1.Designer.vb
  docs/visual-basic/developing-apps/programming/drives-directories-files/snippets/how-to-rename-a-file/Form1.resx
  docs/visual-basic/developing-apps/programming/drives-directories-files/snippets/how-to-rename-a-file/Form1.vb
  docs/visual-basic/developing-apps/programming/drives-directories-files/snippets/how-to-rename-a-file/Program.vb
  docs/visual-basic/developing-apps/programming/drives-directories-files/snippets/how-to-rename-a-file/how-to-rename-a-file.vbproj
Labels: dotnet-visualbasic/svc

#41219 Correct the `xref`. Should have been creation options.
  docs/standard/parallel-programming/task-based-asynchronous-programming.md
Labels: dotnet-fundamentals/svc

#41221 Fix a compilation error.
  docs/core/extensions/options.md
Labels: dotnet-fundamentals/svc

#41037 remove public keyword in interface, sort modifier`s order
  docs/csharp/programming-guide/generics/constraints-on-type-parameters.md
  docs/csharp/programming-guide/generics/snippets/GenericWhereConstraints.cs
Labels: dotnet-csharp/svc, fundamentals/subsvc

#41079 Update vm.md
  docs/azure/migration/vm.md
Labels: dotnet-azure/svc, community-contribution

#40824 Update install-gpu-model-builder.md
  docs/machine-learning/how-to-guides/install-gpu-model-builder.md
Labels: dotnet-ml/svc, community-contribution

#41275 .net 9 is probably not what is meant here
  docs/core/compatibility/core-libraries/8.0/drive-current-dir-paths.md
Labels: dotnet-fundamentals/svc, community-contribution

#41019 Add documentation for dotnet nuget config commands
  docs/core/tools/dotnet-nuget-config-get.md
  docs/core/tools/dotnet-nuget-config-paths.md
  docs/core/tools/dotnet-nuget-config-set.md
  docs/core/tools/dotnet-nuget-config-unset.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#40859 Clarify location of headers and libraries
  docs/core/tutorials/netcore-hosting.md
Labels: dotnet-fundamentals/svc, community-contribution

#41213 Update grain-placement.md
  docs/orleans/grains/grain-placement.md
Labels: community-contribution

#41270 Update grain-extensions.md
  docs/orleans/grains/grain-extensions.md
Labels: community-contribution

#41276 Document .NET 8 changes to `dotnet watch`
  docs/core/tools/dotnet-watch.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#41222 Add example to correspond to text.
  docs/core/extensions/dependency-injection.md
Labels: dotnet-fundamentals/svc

#41293 Add alias any type devblog link
  docs/csharp/whats-new/csharp-12.md
Labels: dotnet-csharp/svc, whats-new/subsvc, community-contribution

#41001 Add missed documentation for CA's options.
  docs/fundamentals/code-analysis/code-quality-rule-options.md
Labels: dotnet-fundamentals/svc, community-contribution

#41299 .NET Core CLI --> .NET CLI
  docs/core/whats-new/dotnet-core-2-0.md
  docs/core/whats-new/dotnet-core-2-1.md
  docs/standard/data/sqlite/custom-versions.md
  docs/standard/data/sqlite/encryption.md
  docs/standard/data/sqlite/index.md
Labels: dotnet-fundamentals/svc, dotnet-data/svc

#41310 Update how-to-use-indexed-properties-in-com-interop-programming.md
  docs/csharp/advanced-topics/interop/how-to-use-indexed-properties-in-com-interop-programming.md
Labels: dotnet-csharp/svc, community-contribution

#41312 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41300 ZipArchiveEntry breaking change
  docs/core/compatibility/9.0.md
  docs/core/compatibility/core-libraries/9.0/compressionlevel-bits.md
  docs/core/compatibility/toc.yml
  docs/fundamentals/code-analysis/code-quality-rule-options.md
Labels: dotnet-fundamentals/svc

#41209 Explain allowable diff in Double.Equals()
  docs/fundamentals/runtime-libraries/snippets/System/Double/Equals/csharp/equalsabs1.cs
  docs/fundamentals/runtime-libraries/system-double-equals.md
Labels: dotnet-fundamentals/svc

#41318 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41314 Add comment about full dumps being supported by single-file and Native AOT app models
  docs/core/diagnostics/collect-dumps-crash.md
Labels: dotnet-fundamentals/svc

#41316 Fix unit-testing-mstest-sdk.md
  docs/core/testing/unit-testing-mstest-sdk.md
Labels: dotnet-fundamentals/svc, community-contribution

#41307 Update index.md
  docs/orleans/grains/grain-persistence/index.md
Labels: community-contribution

#41294 Update add status functionality description
  docs/core/diagnostics/distributed-tracing-instrumentation-walkthroughs.md
Labels: dotnet-fundamentals/svc, community-contribution

#41298 MSTEST0029: Public methods should be test methods
  docs/core/testing/mstest-analyzers/mstest0029.md
  docs/navigate/devops-testing/toc.yml
Labels: dotnet-fundamentals/svc, community-contribution

#41322 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41323 [BULK UPDATE] DocuTune - Add ms.custom tags for horizontals
  docs/ai/how-to/app-service-aoai-auth.md
  docs/ai/how-to/app-service-db-auth.md
  docs/core/install/includes/linux-install-60-apk.md
  docs/core/install/includes/linux-install-60-apt.md
  docs/core/install/includes/linux-install-70-apk.md
  docs/core/install/includes/linux-install-70-apt.md
  docs/core/install/includes/linux-install-80-apk.md
  docs/core/install/includes/linux-install-80-apt.md
  docs/core/install/includes/linux-intro-sdk-vs-runtime.md
  docs/core/install/includes/linux-prep-intro-apt.md
  docs/core/install/includes/linux-prep-intro-generic.md
  docs/core/install/includes/linux-release-wait.md
  docs/core/install/includes/linux-ubuntu-80-ms.md
  docs/core/install/includes/linux-ubuntu-deps-example.md
  docs/core/install/includes/linux-ubuntu-package-feed-both.md
  docs/core/install/includes/linux-ubuntu-package-feed-ms.md
  docs/standard/native-interop/pinvoke.md
Labels: dotnet-fundamentals/svc, community-contribution, install/subsvc

#41303 Add note about unloading Native AOT DLLs
  docs/core/deploying/native-aot/libraries.md
Labels: dotnet-fundamentals/svc

#41326 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41302 Update when-to-choose .NET/.NET Framework per feedback
  docs/standard/choosing-core-framework-server.md
Labels: dotnet-fundamentals/svc

#41319 Fix text and formatting in how-to-cancel-a-task-and-its-children.md
  docs/standard/parallel-programming/how-to-cancel-a-task-and-its-children.md
Labels: dotnet-fundamentals/svc, community-contribution

#41329 Use uppercase String.Contains
  docs/fundamentals/code-analysis/quality-rules/ca1847.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/performance-warnings.md
Labels: dotnet-fundamentals/svc

#41330 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41337 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41333 Updated unit test doc to use MsTest instead of xUnit test
  docs/architecture/maui/unit-testing.md
Labels: dotnet-architecture/svc, community-contribution

#41340 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41343 Update example to be .NET friendly
  docs/standard/io/how-to-add-or-remove-access-control-list-entries.md
  docs/standard/io/snippets/add-remove-acls/csharp/Project.csproj
  docs/standard/io/snippets/add-remove-acls/csharp/sample.cs
  docs/standard/io/snippets/add-remove-acls/vb/Project.vbproj
  docs/standard/io/snippets/add-remove-acls/vb/sample.vb
Labels: dotnet-fundamentals/svc

#41351 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41328 DateTimePicker.Text breaking change
  docs/core/compatibility/8.0.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/windows-forms/8.0/datetimepicker-text.md
Labels: dotnet-fundamentals/svc

#41342 Swap 0/1 for negative/positive sentiment
  docs/machine-learning/automate-training-with-model-builder.md
Labels: dotnet-ml/svc, okr-health

#41345 Fix number formatting
  docs/machine-learning/tutorials/snippets/predict-prices/csharp/Program.cs
Labels: dotnet-ml/svc, community-contribution

#41355 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41368 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41365 Revert "Add named and typed httpclient example to the IHttpClientFactory with .NET page"
  docs/core/extensions/httpclient-factory.md
  docs/core/extensions/snippets/http/namedandtyped/Program.cs
  docs/core/extensions/snippets/http/namedandtyped/TodoService.cs
  docs/core/extensions/snippets/http/namedandtyped/namedandtyped.csproj
Labels: dotnet-fundamentals/svc, dotnet-networking/subsvc

#41352 Present the full `ShowConsoleAnimation` method in Top-level statements tutorial
  docs/csharp/tutorials/snippets/top-level-statements/Utilities.cs
  docs/csharp/tutorials/top-level-statements.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#41367 remove repeated statement
  docs/csharp/linq/standard-query-operators/index.md
Labels: dotnet-csharp/svc, csharp-linq/subsvc, community-contribution

#41391 Remove "Version"
  docs/csharp/language-reference/keywords/const.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, user-feedback

#41357 Update what's new for .NET 9 Preview 5
  docs/core/whats-new/dotnet-8/runtime.md
  docs/core/whats-new/dotnet-9/libraries.md
  docs/core/whats-new/dotnet-9/overview.md
  docs/core/whats-new/dotnet-9/runtime.md
  docs/core/whats-new/dotnet-9/sdk.md
  docs/core/whats-new/snippets/dotnet-9/csharp/Channels.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/Diagnostics.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/Program.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/Project.csproj
  docs/core/whats-new/snippets/dotnet-9/csharp/SearchValues.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/Task.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/Tensors.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/TypeDescriptor.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/TypeName.cs
Labels: dotnet-fundamentals/svc

#40999 Initial rewrite of windows install
  docs/core/install/index.yml
  docs/core/install/macos.md
  docs/core/install/media/windows/dotnet-download-page-small.png
  docs/core/install/media/windows/dotnet-download-page.png
  docs/core/install/media/windows/msi-installer.png
  docs/core/install/media/windows/vs-workloads.png
  docs/core/install/windows.md
  docs/core/rid-catalog.md
  docs/core/runtime-discovery/troubleshoot-app-launch.md
  docs/core/tools/dotnet-install-script.md
  docs/devops/dotnet-cli-and-continuous-integration.md
  docs/standard/glossary.md
Labels: dotnet-fundamentals/svc, install/subsvc

#41411 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41413 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41415 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41426 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41361 Link EF Core metrics documentation
  docs/core/diagnostics/built-in-metrics.md
Labels: dotnet-fundamentals/svc

#41428 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41430 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41431 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41433 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41435 Remove note that uninstall tool doesn't support .NET 8
  docs/core/install/remove-runtime-sdk-versions.md
Labels: dotnet-fundamentals/svc, install/subsvc

#41439 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41416 Clarify prefix vs. suffix
  docs/fundamentals/code-analysis/code-quality-rule-options.md
Labels: dotnet-fundamentals/svc

#41397 Fix RegEx backtracking output
  docs/standard/base-types/snippets/regex-backtracking/csharp/backtracking2.cs
  docs/standard/base-types/snippets/regex-backtracking/vb/backtracking2.vb
Labels: dotnet-fundamentals/svc

#41388 Remove reference to obsolete type
  docs/fundamentals/runtime-libraries/system-random.md
Labels: dotnet-fundamentals/svc

#41442 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41444 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41445 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41448 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41412 fix warnings number for f# index notation
  docs/fsharp/language-reference/members/indexed-properties.md
  docs/fsharp/whats-new/fsharp-6.md
Labels: dotnet-fsharp/svc, community-contribution

#41456 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41459 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41463 Updated title and other minor changes per feedback
  docs/ai/get-started-app-chat-template.md
  docs/ai/toc.yml
Labels: community-contribution

#41468 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41418 Update regex docs with more info about source gen
  .openpublishing.redirection.standard.json
  docs/fundamentals/toc.yml
  docs/standard/base-types/backtracking-in-regular-expressions.md
  docs/standard/base-types/best-practices-regex.md
  docs/standard/base-types/compilation-and-reuse-in-regular-expressions.md
  docs/standard/base-types/details-of-regular-expression-behavior.md
  docs/standard/base-types/regular-expression-options.md
  docs/standard/base-types/regular-expression-source-generators.md
  docs/standard/base-types/snippets/regex/csharp/Dreiser_TheFinancier.txt
  docs/standard/base-types/snippets/regex/csharp/Program.cs
  docs/standard/base-types/snippets/regex/csharp/Project.csproj
  docs/standard/base-types/snippets/regex/csharp/backtrack2.cs
  docs/standard/base-types/snippets/regex/csharp/backtrack4.cs
  docs/standard/base-types/snippets/regex/csharp/compare1.cs
  docs/standard/base-types/snippets/regex/csharp/compile2.cs
  docs/standard/base-types/snippets/regex/csharp/design2.cs
  docs/standard/base-types/snippets/regex/csharp/group1.cs
  docs/standard/base-types/snippets/regex/csharp/group2.cs
  docs/standard/base-types/snippets/regex/csharp/timeout1.cs
  docs/standard/base-types/the-regular-expression-object-model.md
  docs/standard/base-types/thread-safety-in-regular-expressions.md
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regularexpressions.bestpractices/cs/Project.csproj
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regularexpressions.bestpractices/cs/backtrack2.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regularexpressions.bestpractices/cs/backtrack4.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regularexpressions.bestpractices/cs/compare1.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regularexpressions.bestpractices/cs/compile1.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regularexpressions.bestpractices/cs/compile2.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regularexpressions.bestpractices/cs/group1.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regularexpressions.bestpractices/cs/group2.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regularexpressions.bestpractices/cs/static2.cs
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.regularexpressions.bestpractices/cs/timeout1.cs
Labels: dotnet-fundamentals/svc

#41487 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41484 Add link to CLI overview from install articles
  docs/core/install/includes/linux-install-60-apk.md
  docs/core/install/includes/linux-install-60-apt.md
  docs/core/install/includes/linux-install-60-dnf.md
  docs/core/install/includes/linux-install-60-zyp.md
  docs/core/install/includes/linux-install-70-apk.md
  docs/core/install/includes/linux-install-70-apt.md
  docs/core/install/includes/linux-install-70-dnf.md
  docs/core/install/includes/linux-install-70-zyp.md
  docs/core/install/includes/linux-install-80-apk.md
  docs/core/install/includes/linux-install-80-apt.md
  docs/core/install/includes/linux-install-80-dnf.md
  docs/core/install/includes/linux-install-80-zyp.md
  docs/core/install/includes/windows-runtime-table.md
  docs/core/install/linux-alpine.md
  docs/core/install/linux-centos.md
  docs/core/install/linux-debian.md
  docs/core/install/linux-fedora.md
  docs/core/install/linux-opensuse.md
  docs/core/install/linux-rhel.md
  docs/core/install/linux-scripted-manual.md
  docs/core/install/linux-sles.md
  docs/core/install/linux-snap-runtime.md
  docs/core/install/linux-snap-sdk.md
  docs/core/install/linux-ubuntu-install.md
  docs/core/install/linux-ubuntu.md
  docs/core/install/macos.md
  docs/core/install/upgrade.md
  docs/core/install/windows.md
  docs/core/tools/index.md
Labels: dotnet-fundamentals/svc, install/subsvc, dotnet-cli/subsvc

#41472 Add docs for the 'dotnet nuget why' command
  docs/core/tools/dotnet-nuget-why.md
  docs/core/tools/index.md
  docs/core/tools/media/dotnet-nuget-why/dotnet-nuget-why-solution-with-multiple-projects.png
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#41496 Add collection expressions to the list of disallowed features
  docs/csharp/advanced-topics/expression-trees/index.md
Labels: dotnet-csharp/svc

#41399 Bigboybamo patch 2
  docs/csharp/programming-guide/classes-and-structs/access-modifiers.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#41449 Add a remark about `IEqualityComparer` not being supported in 'group' syntax
  docs/csharp/language-reference/keywords/group-clause.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#41473 Fix verbatim string appearance in the watch window
  docs/csharp/programming-guide/strings/index.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#41508 Fix link
  docs/csharp/advanced-topics/interop/using-type-dynamic.md
Labels: dotnet-csharp/svc, user-feedback

#41511 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41356 Fix misleading in the Main doc about async/Task
  docs/csharp/fundamentals/program-structure/main-command-line.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#41520 Replace "standard" with "conventions"
  docs/csharp/fundamentals/coding-style/coding-conventions.md
Labels: dotnet-csharp/svc, fundamentals/subsvc

#41519 Remove note about `struct` keyword
  docs/csharp/tour-of-csharp/tips-for-java-developers.md
Labels: dotnet-csharp/svc, get-started/subsvc

#41521 Code fence all escape sequences
  docs/csharp/programming-guide/strings/index.md
Labels: dotnet-csharp/svc, fundamentals/subsvc

#41495 Addressing feedback on TLS Best Practices
  docs/framework/network-programming/tls.md
Labels: dotnet-framework/svc, dotnet-networking/subsvc

#41526 Added ms.collection for AI content tracking
  docfx.json
Labels: community-contribution

#41537 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: :octocat: auto-merge

#41536 Remove extraneous note
  docs/csharp/language-reference/attributes/nullable-analysis.md
Labels: user-feedback

#41544 Fix Typo in default-marshalling-for-arrays.md
  docs/framework/interop/default-marshalling-for-arrays.md
Labels: community-contribution

#41552 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: :octocat: auto-merge

#41563 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: :octocat: auto-merge

#41553 Updated IdentityServer references and authentication flow
  docs/architecture/maui/authentication-and-authorization.md
  docs/architecture/maui/media/mobile-authentication.png
Labels: community-contribution

#41347 Update external-tasks-and-grains.md
  docs/orleans/grains/external-tasks-and-grains.md
Labels: community-contribution

#41424 Remove the code mark wrap from the 'using' word in reusable components in Blazor article
  docs/architecture/blazor-for-web-forms-developers/components.md
Labels: dotnet-architecture/svc, blazor/subsvc, community-contribution

#41425 Update Azure metadata values
  docs/azure/index.yml
  docs/azure/landing-page.yml
Labels: dotnet-azure/svc

#41452 Update streams-programming-apis.md
  docs/orleans/streaming/streams-programming-apis.md
Labels: community-contribution

#41339 Jamont-maui-aka-tweaks
  docs/architecture/maui/accessing-remote-data.md
  docs/architecture/maui/authentication-and-authorization.md
  docs/architecture/maui/index.md
  docs/architecture/maui/introduction.md
  docs/architecture/maui/media/high-level-architecture-diagram.png
  docs/architecture/maui/micro-services.md
  docs/architecture/maui/mvvm.md
  docs/architecture/maui/preface.md
Labels: dotnet-architecture/svc

#41514 Describe .NET 9 logger message generator support for loggers in primary constructor parameters
  docs/core/extensions/logger-message-generator.md
  docs/fundamentals/syslib-diagnostics/source-generator-overview.md
Labels: dotnet-fundamentals/svc, community-contribution

#41455 Added missing semicolon in orleans streaming code sample
  docs/orleans/streaming/streams-programming-apis.md
Labels: community-contribution

#41569 Remove centos from docs
  .openpublishing.redirection.core.json
  docs/core/compatibility/cryptography/5.0/default-cipher-suites-for-tls-on-linux.md
  docs/core/install/linux-centos.md
  docs/core/install/linux-package-mixup.md
  docs/core/install/linux-rhel.md
  docs/core/install/linux-scripted-manual.md
  docs/core/install/linux.md
  docs/core/install/remove-runtime-sdk-versions.md
  docs/core/rid-catalog.md
  docs/devops/dotnet-cli-and-continuous-integration.md
Labels: dotnet-fundamentals/svc, install/subsvc

#41577 Downgrade framework to 4.8 on server 2019
  docs/framework/install/on-server-2019.md
Labels: dotnet-framework/svc, install/subsvc

#41580 Forgot to remove centos from toc!
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/svc

#41578 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41567 Removed unused error codes
  docs/csharp/language-reference/compiler-messages/params-arrays.md
  docs/csharp/language-reference/toc.yml
Labels: dotnet-csharp/svc, lang-reference/subsvc, csharp-diagnostics/subsvc
