Repository dotnet/docs, pull requests merged in 2024-04, with the labels that each got.

#40265 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#39474 Redesign of install docs for Ubuntu
  .openpublishing.redirection.core.json
  docs/core/install/includes/linux-install-60-apt.md
  docs/core/install/includes/linux-install-70-apt.md
  docs/core/install/includes/linux-install-80-apt.md
  docs/core/install/includes/linux-install-package-manager-x64-vs-arm-ubuntu.md
  docs/core/install/includes/linux-ubuntu-80-ms.md
  docs/core/install/includes/linux-ubuntu-package-feed-both.md
  docs/core/install/includes/linux-ubuntu-package-feed-ms.md
  docs/core/install/includes/package-manager-failed-to-find-deb-classic.md
  docs/core/install/includes/package-manager-failed-to-find-deb-intro.md
  docs/core/install/includes/package-manager-failed-to-find-deb-new.md
  docs/core/install/includes/package-manager-heading-hack-pkgname.md
  docs/core/install/linux-alpine.md
  docs/core/install/linux-debian.md
  docs/core/install/linux-ubuntu-1604.md
  docs/core/install/linux-ubuntu-1804.md
  docs/core/install/linux-ubuntu-2004.md
  docs/core/install/linux-ubuntu-2204.md
  docs/core/install/linux-ubuntu-2210.md
  docs/core/install/linux-ubuntu-2304.md
  docs/core/install/linux-ubuntu-2310.md
  docs/core/install/linux-ubuntu-install.md
  docs/core/install/linux-ubuntu.md
  docs/fundamentals/toc.yml
  docs/zone-pivot-groups.yml
Labels: dotnet-fundamentals/svc, install/subsvc

#39854 Add logging with Azure.Monitor.OpenTelemetry.AspNetCore section
  docs/azure/sdk/logging.md
Labels: dotnet-azure/svc, community-contribution

#40284 Breaking change for ShouldGenerateNewKey
  docs/core/compatibility/9.0.md
  docs/core/compatibility/aspnet-core/9.0/key-resolution.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#40285 Add examples to recommended action section for RID breaking change
  docs/core/compatibility/sdk/8.0/rid-graph.md
  docs/core/tools/sdk-errors/netsdk1083.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#40279 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#39773 Merge 'IDE0023, IDE0024' style rule entrys at code-analysis/language-rules#Expression-bodied members
  docs/fundamentals/code-analysis/style-rules/language-rules.md
Labels: dotnet-fundamentals/svc, community-contribution

#40224 Remove incorrect reference to structs not being supported
  docs/standard/serialization/system-text-json/converters-how-to.md
Labels: dotnet-fundamentals/svc

#40282 List Tuple as an unmanaged type
  docs/csharp/language-reference/builtin-types/unmanaged-types.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#40292 Update the `Regex` source generation article
  docs/standard/base-types/regular-expression-source-generators.md
Labels: dotnet-fundamentals/svc, okr-health

#40267 Update chiseled content
  docs/core/whats-new/dotnet-8/containers.md
Labels: dotnet-fundamentals/svc

#40295 Add see also links
  docs/core/whats-new/dotnet-9/overview.md
Labels: dotnet-fundamentals/svc

#40298 Removed warning block as not relevant anymore
  docs/core/whats-new/dotnet-core-3-0.md
Labels: dotnet-fundamentals/svc, community-contribution

#40291 Fix Russian filename typo
  docs/core/extensions/retrieve-resources.md
Labels: dotnet-fundamentals/svc, community-contribution

#40287 Update INSTALLFOLDER from ProgramFilesFolder to ProgramFiles64Folder
  docs/core/extensions/windows-service-with-installer.md
Labels: dotnet-fundamentals/svc, community-contribution

#40297 Correct issues in Quantifier Operations page of `Any` example
  docs/csharp/linq/standard-query-operators/quantifier-operations.md
  docs/csharp/linq/standard-query-operators/snippets/standard-query-operators/QuantifierExamples.cs
Labels: dotnet-csharp/svc, csharp-linq/subsvc, community-contribution

#40301 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40283 Replace 'a' with 'the' for grammar in list
  docs/csharp/language-reference/keywords/init.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#40302 Complete SDK implicit using
  docs/core/project-sdk/overview.md
Labels: dotnet-fundamentals/svc, community-contribution

#40305 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40306 Remove extra space before period
  docs/core/compatibility/core-libraries/7.0/symbolic-link-timestamps.md
  docs/framework/data/transactions/performing-recovery.md
  docs/framework/unmanaged-api/profiling/clr-profilers-and-windows-store-apps.md
  docs/framework/wcf/feature-details/message-security-with-a-windows-client-without-credential-negotiation.md
  docs/framework/wcf/feature-details/specify-the-certificate-authority-chain-verify-signatures-wcf.md
  docs/framework/wcf/feature-details/web-services-protocols-supported-by-system-provided-interoperability-bindings.md
  docs/standard/base-types/standard-timespan-format-strings.md
Labels: dotnet-framework/svc, dotnet-fundamentals/svc, community-contribution, dotnet-wcf/subsvc

#40203 Improve ML.NET TOC
  docs/machine-learning/toc.yml
Labels: dotnet-ml/svc

#40317 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40318 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40327 Fix first supported version for the `MSTest.Sdk`
  docs/core/testing/unit-testing-mstest-sdk.md
Labels: dotnet-fundamentals/svc, community-contribution

#40330 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40331 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40329 Update documentation for default Configuration in .NET 8 for dotnet publish and pack
  docs/core/tools/dotnet-pack.md
  docs/core/tools/dotnet-publish.md
  includes/cli-configuration-publish-pack.md
Labels: dotnet-fundamentals/svc, okr-health, dotnet-cli/subsvc

#40328 Add documentation for marking preview APIs
  docs/fundamentals/apicompat/preview-apis.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/svc

#40313 Add control panel options to view installed .NET Fx versions
  docs/framework/migration-guide/how-to-determine-which-net-framework-updates-are-installed.md
  docs/framework/migration-guide/how-to-determine-which-versions-are-installed.md
Labels: dotnet-framework/svc, app-compat/subsvc

#40324 Update CS0120
  docs/csharp/language-reference/compiler-messages/cs0120.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution, csharp-diagnostics/subsvc

#40339 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40315 Updated NUnit testing tutorials
  docs/core/porting/porting-approaches.md
  docs/core/testing/order-unit-tests.md
  docs/core/testing/snippets/order-unit-tests/csharp/MSTest.Project/MSTest.Project.csproj
  docs/core/testing/snippets/order-unit-tests/csharp/XUnit.TestProject/XUnit.Project.csproj
  docs/core/testing/snippets/unit-testing-using-mstest/csharp/PrimeService.Tests/PrimeService.Tests.csproj
  docs/core/testing/snippets/unit-testing-using-mstest/csharp/PrimeService/PrimeService.csproj
  docs/core/testing/unit-testing-fsharp-with-nunit.md
  docs/core/testing/unit-testing-visual-basic-with-nunit.md
  docs/core/testing/unit-testing-with-nunit.md
  samples/snippets/core/testing/unit-testing-best-practices/csharp/after/unit-testing-best-practices-after.csproj
  samples/snippets/core/testing/unit-testing-best-practices/csharp/before/unit-testing-best-practices-before.csproj
  samples/snippets/core/testing/unit-testing-best-practices/csharp/unit-testing-best-practices/unit-testing-best-practices.csproj
  samples/snippets/core/testing/unit-testing-using-dotnet-test/csharp/PrimeService.Tests/PrimeService.Tests.csproj
  samples/snippets/core/testing/unit-testing-vb-mstest/vb/PrimeService.Tests/PrimeService.Tests.vbproj
  samples/snippets/core/testing/unit-testing-vb-nunit/vb/PrimeService.Tests/PrimeService.Tests.vbproj
Labels: dotnet-fundamentals/svc, community-contribution

#39661 Add docs for CA1871 and CA2264
  docs/fundamentals/code-analysis/quality-rules/ca1871.md
  docs/fundamentals/code-analysis/quality-rules/ca2264.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/performance-warnings.md
  docs/fundamentals/code-analysis/quality-rules/usage-warnings.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/svc, community-contribution

#38759 Document `-f` alias for framework option in list package command
  docs/core/tools/dotnet-list-package.md
Labels: DO NOT MERGE, cli/subsvc, dotnet-fundamentals/svc, community-contribution

#40341 Nits for CA1871 and CA2264
  docs/fundamentals/code-analysis/quality-rules/ca1871.md
  docs/fundamentals/code-analysis/quality-rules/ca2264.md
Labels: dotnet-fundamentals/svc, community-contribution

#40342 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40343 Fix lint warnings for blockquotes
  docs/core/compatibility/code-analysis/5.0/ca1416-platform-compatibility-analyzer.md
  docs/core/install/templates.md
  docs/framework/app-domains/build-multifile-assembly.md
  docs/framework/data/adonet/sql/linq/how-to-map-database-relationships.md
  docs/framework/wcf/feature-details/how-to-create-a-basic-wcf-web-http-service.md
  docs/framework/wcf/privacy-information.md
  docs/fundamentals/apicompat/preview-apis.md
  docs/fundamentals/code-analysis/quality-rules/ca1416.md
  docs/fundamentals/runtime-libraries/includes/csharp-interactive-with-utc-note.md
  docs/fundamentals/runtime-libraries/system-invalidoperationexception.md
  docs/fundamentals/runtime-libraries/system-reflection-emit-dynamicmethod.md
  docs/fundamentals/runtime-libraries/system-single.md
  docs/fundamentals/runtime-libraries/system-text-stringbuilder.md
  docs/fundamentals/runtime-libraries/system-threading-readerwriterlockslim.md
  docs/fundamentals/runtime-libraries/system-type-gettype.md
  docs/fundamentals/runtime-libraries/system-typeinitializationexception.md
  docs/fundamentals/runtime-libraries/system-version.md
  docs/machine-learning/tutorials/object-detection-model-builder.md
Labels: dotnet-framework/svc, dotnet-ml/svc, dotnet-fundamentals/svc, data-access/subsvc, install/subsvc, dotnet-wcf/subsvc

#37452 Update diagnostic docs for SYSLIB0009
  docs/core/compatibility/9.0.md
  docs/core/compatibility/core-libraries/9.0/obsolete-apis-with-custom-diagnostics.md
  docs/core/compatibility/toc.yml
  docs/fundamentals/syslib-diagnostics/obsoletions-overview.md
  docs/fundamentals/syslib-diagnostics/syslib0009.md
Labels: dotnet-fundamentals/svc, community-contribution, :checkered_flag: Release: .NET 9

#40346 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40348 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40334 Improve MSTest SDK documentation
  docs/core/testing/unit-testing-mstest-sdk.md
Labels: dotnet-fundamentals/svc

#40350 Add MSTest as supported test adapter
  docs/core/testing/unit-testing-platform-intro.md
Labels: dotnet-fundamentals/svc, community-contribution

#40082 Reimagine the tour of C#
  .openpublishing.redirection.csharp.json
  docs/csharp/methods.md
  docs/csharp/toc.yml
  docs/csharp/tour-of-csharp/features.md
  docs/csharp/tour-of-csharp/index.md
  docs/csharp/tour-of-csharp/program-building-blocks.md
  docs/csharp/tour-of-csharp/snippets/shared/AcmeStack.cs
  docs/csharp/tour-of-csharp/snippets/shared/AsyncSamples.cs
  docs/csharp/tour-of-csharp/snippets/shared/ClassesObjects.cs
  docs/csharp/tour-of-csharp/snippets/shared/Features.cs
  docs/csharp/tour-of-csharp/snippets/shared/LinqExample.cs
  docs/csharp/tour-of-csharp/snippets/shared/PatternMatching.cs
  docs/csharp/tour-of-csharp/snippets/shared/Program.cs
  docs/csharp/tour-of-csharp/snippets/shared/StackUsage.cs
  docs/csharp/tour-of-csharp/snippets/shared/TourOfCsharp.csproj
  docs/csharp/tour-of-csharp/snippets/shared/Types.cs
  docs/csharp/tour-of-csharp/tips-for-java-developers.md
  docs/csharp/tour-of-csharp/tips-for-javascript-developers.md
  docs/csharp/tour-of-csharp/tips-for-python-developers.md
  docs/csharp/tour-of-csharp/types.md
Labels: dotnet-csharp/svc, get-started/subsvc

#40359 Add named and typed httpclient example to the IHttpClientFactory with .NET page
  docs/core/extensions/httpclient-factory.md
  docs/core/extensions/snippets/http/namedandtyped/Program.cs
  docs/core/extensions/snippets/http/namedandtyped/TodoService.cs
  docs/core/extensions/snippets/http/namedandtyped/namedandtyped.csproj
Labels: dotnet-fundamentals/svc, community-contribution, dotnet-networking/subsvc

#40349 Update fixing-warnings.md
  docs/core/deploying/trimming/fixing-warnings.md
Labels: dotnet-fundamentals/svc

#40362 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40370 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40372 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40366 Update garbage-collection-etw-events.md
  docs/framework/performance/garbage-collection-etw-events.md
Labels: dotnet-framework/svc

#40375 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40376 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40379 Recommend using MSTest SDK for MSTest runner
  docs/core/testing/unit-testing-mstest-runner-intro.md
Labels: dotnet-fundamentals/svc

#40430 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40344 Use older syntax for Try.NET
  docs/csharp/language-reference/operators/snippets/shared/NameOfOperator.cs
Labels: :pushpin: seQUESTered, user-feedback

#40431 Use `Task.CurrentId` instead of hard-coded values.
  docs/standard/parallel-programming/how-to-cancel-a-task-and-its-children.md
  samples/snippets/csharp/VS_Snippets_Misc/tpl_cancellation/cs/cancel1.cs
  samples/snippets/visualbasic/VS_Snippets_Misc/tpl_cancellation/vb/cancel1.vb
Labels: dotnet-fundamentals/svc, okr-health

#40432 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40338 Update classes.md
  docs/csharp/fundamentals/tutorials/classes.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, :pushpin: seQUESTered

#40345 Update description text to match code
  docs/csharp/language-reference/builtin-types/arrays.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, :pushpin: seQUESTered, user-feedback

#40434 Fix up xref issues, and remove section
  docs/core/extensions/service-discovery.md
Labels: dotnet-fundamentals/svc

#40435 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40371 What's new for .NET 9 Preview 3
  docfx.json
  docs/core/tools/dotnet-test.md
  docs/core/whats-new/dotnet-8/containers.md
  docs/core/whats-new/dotnet-8/overview.md
  docs/core/whats-new/dotnet-8/runtime.md
  docs/core/whats-new/dotnet-8/sdk.md
  docs/core/whats-new/dotnet-9/libraries.md
  docs/core/whats-new/dotnet-9/overview.md
  docs/core/whats-new/dotnet-9/runtime.md
  docs/core/whats-new/dotnet-9/sdk.md
  docs/core/whats-new/snippets/dotnet-9/csharp/LlamaTokenizer.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/Program.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/Project.csproj
  docs/core/whats-new/snippets/dotnet-9/csharp/Reflection.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/Tiktoken.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/TimeSpan.cs
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/svc

#40438 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40439 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40053 TLS Best Practices initial improvements
  docs/framework/network-programming/tls.md
Labels: dotnet-framework/svc

#40380 Document VSTest Bridge extension
  .openpublishing.redirection.core.json
  docs/core/testing/unit-testing-platform-exit-codes.md
  docs/core/testing/unit-testing-platform-extensions-code-coverage.md
  docs/core/testing/unit-testing-platform-extensions-diagnostics.md
  docs/core/testing/unit-testing-platform-extensions-hosting.md
  docs/core/testing/unit-testing-platform-extensions-policy.md
  docs/core/testing/unit-testing-platform-extensions-test-reports.md
  docs/core/testing/unit-testing-platform-extensions-vstest-bridge.md
  docs/core/testing/unit-testing-platform-extensions.md
  docs/core/testing/unit-testing-platform-integration-dotnet-test.md
  docs/core/testing/unit-testing-platform-runsettings.md
  docs/navigate/devops-testing/toc.yml
  docs/whats-new/dotnet-docs-mod0.md
  docs/whats-new/dotnet-docs-mod1.md
Labels: dotnet-fundamentals/svc

#40377 Add documentation for `--minimum-expected-tests` `--filter` and `--settings`
  docs/core/testing/unit-testing-mstest-runner-intro.md
  docs/core/testing/unit-testing-platform-intro.md
Labels: dotnet-fundamentals/svc, community-contribution

#40445 Update access-modifiers.md
  docs/csharp/programming-guide/classes-and-structs/access-modifiers.md
Labels: dotnet-csharp/svc, fundamentals/subsvc

#40447 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40444 Typo in warning block
  docs/fundamentals/runtime-libraries/system-runtime-compilerservices-runtimehelpers-gethashcode.md
Labels: dotnet-fundamentals/svc, community-contribution

#40436 Merge Preview 3 branch into main
  docfx.json
  docs/core/tools/dotnet-test.md
  docs/core/whats-new/dotnet-5.md
  docs/core/whats-new/dotnet-6.md
  docs/core/whats-new/dotnet-7.md
  docs/core/whats-new/dotnet-8/containers.md
  docs/core/whats-new/dotnet-8/overview.md
  docs/core/whats-new/dotnet-8/runtime.md
  docs/core/whats-new/dotnet-8/sdk.md
  docs/core/whats-new/dotnet-9/libraries.md
  docs/core/whats-new/dotnet-9/overview.md
  docs/core/whats-new/dotnet-9/runtime.md
  docs/core/whats-new/dotnet-9/sdk.md
  docs/core/whats-new/snippets/dotnet-9/csharp/Program.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/Project.csproj
  docs/core/whats-new/snippets/dotnet-9/csharp/Reflection.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/TimeSpan.cs
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#40454 Update quest-config.json
  quest-config.json
Labels: okr-freshness

#40455 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40449 Add images that capture the output of the different log formatters
  docs/core/extensions/console-log-formatter.md
  docs/core/extensions/media/console-logs-format-simple.png
  docs/core/extensions/media/console-logs-format-systemd.png
Labels: dotnet-fundamentals/svc

#40457 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40463 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40468 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40456 Update Kerberos breaking change
  docs/core/compatibility/8.0.md
  docs/core/compatibility/containers/8.0/ca-certificates-package.md
  docs/core/compatibility/containers/8.0/krb5-libs-package.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#40473 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40471 Acrolinx for unit testing
  docs/core/testing/unit-testing-mstest-runner-intro.md
  docs/core/testing/unit-testing-mstest-sdk.md
  docs/core/testing/unit-testing-platform-exit-codes.md
  docs/core/testing/unit-testing-platform-extensions-code-coverage.md
  docs/core/testing/unit-testing-platform-extensions-hosting.md
  docs/core/testing/unit-testing-platform-extensions-policy.md
Labels: dotnet-fundamentals/svc

#40458 Update migrate-from-newtonsoft.md
  docs/standard/serialization/system-text-json/migrate-from-newtonsoft.md
Labels: dotnet-fundamentals/svc, community-contribution

#40480 Add link to the release index
  docs/core/whats-new/dotnet-9/overview.md
Labels: dotnet-fundamentals/svc

#40481 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40484 Fix bookmark
  docs/csharp/language-reference/operators/nameof.md
Labels: dotnet-csharp/svc, lang-reference/subsvc

#40461 Update custom-date-and-time-format-strings.md
  docs/standard/base-types/custom-date-and-time-format-strings.md
Labels: dotnet-fundamentals/svc, community-contribution

#40426 Add information about when health check metrics are emitted
  docs/core/diagnostics/built-in-metrics-diagnostics.md
Labels: dotnet-fundamentals/svc, community-contribution

#40450 TOC and Index skeleton for AI docs
  .openpublishing.redirection.ai.json
  docs/ai/index.yml
  docs/ai/toc.yml
  docs/index.yml
Labels: community-contribution

#40428 Concept - How GenAI and LLMs work
  docs/ai/conceptual/how-genai-and-llms-work.md
  docs/ai/media/how-genai-and-llms-work/generated-image.png
  docs/ai/toc.yml
Labels: community-contribution

#40490 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40493 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40452 Ensure content is fresh and fix source.
  docs/core/extensions/high-performance-logging.md
  docs/core/extensions/snippets/logging/worker-service-options/Extensions/LoggerExtensions.cs
  docs/core/extensions/snippets/logging/worker-service-options/Worker.cs
Labels: dotnet-fundamentals/svc, okr-freshness

#40486 Update note for default language version in VS2022
  docs/csharp/language-reference/configure-language-version.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#40497 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40491 Add ML.NET overview and what's new
  docs/machine-learning/index.yml
  docs/machine-learning/overview.md
  docs/machine-learning/toc.yml
  docs/machine-learning/whats-new/overview.md
  docs/machine-learning/whats-new/snippets/csharp/Program.cs
  docs/machine-learning/whats-new/snippets/csharp/Project.csproj
  docs/machine-learning/whats-new/snippets/csharp/Tiktoken.cs
Labels: dotnet-ml/svc

#40500 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40501 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40469 address nullable reference types warnings in event handler doc
  docs/csharp/programming-guide/events/how-to-publish-events-that-conform-to-net-framework-guidelines.md
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideEvents/CS/Events.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideEvents/CS/Events.csproj
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideEvents/CS/Program.cs
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#40504 Update github default branch in URLs
  docs/architecture/maui/preface.md
  docs/core/porting/net-framework-tech-unavailable.md
  docs/framework/install/on-windows-10.md
  docs/framework/install/on-windows-8-1.md
  docs/framework/install/on-windows-8.md
  docs/framework/migration-guide/versions-and-dependencies.md
  docs/framework/ui-automation/implementing-the-ui-automation-value-control-pattern.md
  docs/framework/ui-automation/index.md
  docs/framework/ui-automation/invoke-a-control-using-ui-automation.md
  docs/framework/ui-automation/move-a-ui-automation-element.md
  docs/framework/ui-automation/textpattern-and-embedded-objects-overview.md
  docs/framework/ui-automation/ui-automation-and-screen-scaling.md
  docs/framework/ui-automation/ui-automation-control-patterns-for-clients.md
  docs/framework/ui-automation/ui-automation-events-for-clients.md
  docs/framework/ui-automation/ui-automation-textpattern-overview.md
  docs/framework/whats-new/index.md
  docs/standard/commandline/tab-completion.md
Labels: dotnet-framework/svc, app-compat/subsvc, dotnet-architecture/svc, dotnet-fundamentals/svc, community-contribution, install/subsvc

#40466 Update object-and-collection-initializers.md
  docs/csharp/programming-guide/classes-and-structs/object-and-collection-initializers.md
  samples/snippets/csharp/programming-guide/classes-and-structs/object-collection-initializers/HowToClassTypedInitializer.cs
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#40498 Miscellaneous ML.NET updates
  docs/machine-learning/automate-training-with-cli.md
  docs/machine-learning/automate-training-with-model-builder.md
  docs/machine-learning/automated-machine-learning-mlnet.md
  docs/machine-learning/deep-learning-overview.md
  docs/machine-learning/how-does-mldotnet-work.md
  docs/machine-learning/how-to-guides/install-extra-dependencies.md
  docs/machine-learning/how-to-guides/install-ml-net-cli.md
  docs/machine-learning/how-to-guides/load-data-ml-net.md
  docs/machine-learning/how-to-guides/matchup-app-infer-net.md
  docs/machine-learning/how-to-guides/retrain-model-ml-net.md
  docs/machine-learning/how-to-guides/serve-model-serverless-azure-functions-ml-net.md
  docs/machine-learning/reference/ml-net-cli-reference.md
  docs/machine-learning/resources/azure-training-concepts-model-builder.md
  docs/machine-learning/resources/metrics.md
  docs/machine-learning/resources/tasks.md
  docs/machine-learning/tutorials/github-issue-classification.md
  docs/machine-learning/tutorials/health-violation-classification-model-builder.md
  docs/machine-learning/tutorials/image-classification-api-transfer-learning.md
  docs/machine-learning/tutorials/image-classification-model-builder.md
  docs/machine-learning/tutorials/image-classification.md
  docs/machine-learning/tutorials/movie-recommendation-model-builder.md
  docs/machine-learning/tutorials/movie-recommendation.md
  docs/machine-learning/tutorials/object-detection-model-builder.md
  docs/machine-learning/tutorials/phone-calls-anomaly-detection.md
  docs/machine-learning/tutorials/predict-prices-with-model-builder.md
  docs/machine-learning/tutorials/sales-anomaly-detection.md
  docs/machine-learning/tutorials/sentiment-analysis-cli.md
  docs/machine-learning/tutorials/sentiment-analysis-model-builder.md
  docs/machine-learning/tutorials/sentiment-analysis.md
  docs/machine-learning/tutorials/text-classification-tf.md
  docs/machine-learning/tutorials/time-series-demand-forecasting.md
Labels: dotnet-ml/svc

#40360 Address malformed code block in data driven crud microservice
  docs/architecture/microservices/multi-container-microservice-net-applications/data-driven-crud-microservice.md
Labels: dotnet-architecture/svc, microservices/subsvc, community-contribution

#40510 Update build-your-first-orleans-app.md
  docs/orleans/quickstarts/build-your-first-orleans-app.md
Labels: community-contribution

#40509 Update overview.md
  docs/orleans/overview.md
Labels: community-contribution

#40533 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40499 Fix build warnings; add orphans to toc
  .openpublishing.redirection.core.json
  docs/azure/includes/dotnet-all.md
  docs/csharp/language-reference/compiler-messages/cs8352.md
  docs/csharp/language-reference/compiler-options/advanced.md
  docs/csharp/language-reference/toc.yml
  docs/csharp/tour-of-csharp/tips-for-javascript-developers.md
  docs/framework/network-programming/tls.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-framework/svc, dotnet-csharp/svc, lang-reference/subsvc, get-started/subsvc, dotnet-azure/svc, okr-health, csharp-diagnostics/subsvc, dotnet-networking/subsvc

#40534 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40496 Add documentation about MSTest runsettings
  docs/core/testing/unit-testing-mstest-configure.md
Labels: dotnet-fundamentals/svc

#40536 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40503 Note CA1047 is replaced by CS0628 for C#
  docs/fundamentals/code-analysis/quality-rules/ca1047.md
Labels: dotnet-fundamentals/svc, community-contribution

#40542 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40547 Update ConditionalOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/ConditionalOperator.cs
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#40550 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40552 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40544 Update index.md
  docs/orleans/grains/index.md
Labels: community-contribution

#40560 fix typo in prometheus configuration file
  docs/core/diagnostics/snippets/Metrics/prometheus.yml
Labels: dotnet-fundamentals/svc, community-contribution

#40561 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40555 Random cleanup
  docs/core/diagnostics/symbols.md
  docs/csharp/advanced-topics/interop/walkthrough-office-programming.md
  docs/standard/managed-execution-process.md
  docs/visual-basic/programming-guide/com-interop/walkthrough-office-programming.md
Labels: dotnet-visualbasic/svc, dotnet-csharp/svc, dotnet-fundamentals/svc

#40567 retarget ai includes
  docs/ai/azure-ai-for-dotnet-developers.md
  docs/ai/get-started-app-chat-scaling-with-azure-container-apps.md
Labels: dotnet-azure/svc

#40569 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40572 Fix typo: dotnet-counter -> dotnet-counters
  docs/core/deploying/native-aot/diagnostics.md
  docs/core/diagnostics/event-counters.md
Labels: dotnet-fundamentals/svc

#40562 Fix `struct` typo in Learn C# For JavaScript developers
  docs/csharp/tour-of-csharp/tips-for-javascript-developers.md
Labels: dotnet-csharp/svc, get-started/subsvc, community-contribution

#40573 Rename 'alias' variable to 'aliansOfa' in declaration page
  docs/csharp/language-reference/statements/declarations.md
  docs/csharp/language-reference/statements/snippets/declarations/ReferenceVariables.cs
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#40582 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40575 Add missing angle bracket
  docs/fundamentals/runtime-libraries/system-xml-xmlresolver.md
Labels: dotnet-fundamentals/svc

#40565 Acrolinx 4/19
  docs/core/testing/unit-testing-fsharp-with-nunit.md
  docs/core/testing/unit-testing-mstest-configure.md
Labels: dotnet-fundamentals/svc

#40462 Concept - Prompt Engineering
  docs/ai/conceptual/chain-of-thought-prompting.md
  docs/ai/conceptual/prompt-engineering-dotnet.md
  docs/ai/conceptual/zero-shot-learning.md
  docs/ai/toc.yml
Labels: community-contribution

#40583 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40588 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40540 Stthomas/concepts-embeds
  docs/ai/conceptual/embeddings.md
  docs/ai/conceptual/vector-databases.md
  docs/ai/toc.yml
Labels: community-contribution

#40581 Add anchor for built-in reference types.
  docs/csharp/language-reference/keywords/reference-types.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#40589 Fix broken links
  docs/core/deploying/trimming/trim-warnings/il2001.md
  docs/core/deploying/trimming/trim-warnings/il2002.md
  docs/core/deploying/trimming/trim-warnings/il2007.md
  docs/core/deploying/trimming/trim-warnings/il2008.md
  docs/core/deploying/trimming/trim-warnings/il2009.md
  docs/core/deploying/trimming/trim-warnings/il2010.md
  docs/core/deploying/trimming/trim-warnings/il2011.md
  docs/core/deploying/trimming/trim-warnings/il2012.md
  docs/core/deploying/trimming/trim-warnings/il2013.md
  docs/core/deploying/trimming/trim-warnings/il2014.md
  docs/core/deploying/trimming/trim-warnings/il2015.md
  docs/core/deploying/trimming/trim-warnings/il2016.md
  docs/core/deploying/trimming/trim-warnings/il2017.md
  docs/core/deploying/trimming/trim-warnings/il2018.md
  docs/core/deploying/trimming/trim-warnings/il2019.md
  docs/core/deploying/trimming/trim-warnings/il2022.md
  docs/core/deploying/trimming/trim-warnings/il2023.md
  docs/core/deploying/trimming/trim-warnings/il2024.md
  docs/core/deploying/trimming/trim-warnings/il2025.md
  docs/core/deploying/trimming/trim-warnings/il2029.md
  docs/core/deploying/trimming/trim-warnings/il2030.md
  docs/core/deploying/trimming/trim-warnings/il2031.md
  docs/core/deploying/trimming/trim-warnings/il2038.md
  docs/core/deploying/trimming/trim-warnings/il2039.md
  docs/core/deploying/trimming/trim-warnings/il2040.md
  docs/core/deploying/trimming/trim-warnings/il2044.md
  docs/core/install/windows.md
Labels: dotnet-fundamentals/svc, install/subsvc

#40592 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40598 Fix broken xrefs
  docs/core/extensions/service-discovery.md
Labels: dotnet-fundamentals/svc

#40596 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40600 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40607 Indices examples use an array with 10 elements to simplify the tutorial
  docs/csharp/tutorials/ranges-indexes.md
  docs/csharp/tutorials/snippets/RangesIndexes/IndicesAndRanges.cs
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#40470 How To - Work with local models
  docs/ai/how-to/snippets/semantic-kernel/LocalModelExamples.cs
  docs/ai/how-to/snippets/semantic-kernel/Program.cs
  docs/ai/how-to/snippets/semantic-kernel/model/MyModelRequest.cs
  docs/ai/how-to/snippets/semantic-kernel/model/MyModelResponse.cs
  docs/ai/how-to/snippets/semantic-kernel/semantic-kernel.csproj
  docs/ai/how-to/snippets/semantic-kernel/services/MyChatCompletionService.cs
  docs/ai/how-to/snippets/semantic-kernel/services/MyTextGenerationService.cs
  docs/ai/how-to/work-with-local-models.md
  docs/ai/toc.yml
Labels: community-contribution

#40613 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40601 Remove/update version 3.1 usage
  docs/architecture/microservices/secure-net-microservices-web-applications/index.md
  docs/architecture/modern-web-apps-azure/develop-asp-net-core-mvc-apps.md
  docs/core/additional-tools/self-signed-certificates-guide.md
  docs/core/diagnostics/built-in-metrics-aspnetcore.md
  docs/core/diagnostics/compare-metric-apis.md
  docs/core/diagnostics/debug-deadlock.md
  docs/core/extensions/globalization-icu.md
  docs/core/extensions/logging.md
  docs/core/project-sdk/msbuild-props-desktop.md
  docs/core/runtime-config/index.md
  docs/core/runtime-config/networking.md
  docs/core/tools/dotnet-install-script.md
  docs/core/tools/dotnet-new-sdk-templates.md
  docs/core/tools/dotnet-new.md
  docs/core/tools/dotnet-publish.md
  docs/core/tools/global-tools-how-to-create.md
  docs/core/tools/sdk-errors/netsdk1013.md
  docs/core/tools/sdk-errors/netsdk1071.md
  docs/core/tools/sdk-errors/netsdk1082.md
  docs/core/versions/selection.md
  docs/core/whats-new/dotnet-5.md
  docs/fundamentals/runtime-libraries/system-net-http-httpclient.md
  docs/fundamentals/runtime-libraries/system-net-http-httpclienthandler.md
  docs/standard/base-types/character-encoding-introduction.md
  docs/standard/serialization/system-text-json/migrate-from-newtonsoft.md
Labels: dotnet-architecture/svc, microservices/subsvc, modern-web-apps-azure/subsvc, dotnet-fundamentals/svc, dotnet-cli/subsvc

#40597 Modernize XML serializer generator articles
  docs/core/additional-tools/xml-serializer-generator.md
  docs/standard/serialization/xml-serializer-generator-tool-sgen-exe.md
Labels: dotnet-fundamentals/svc

#40374 Create 04-april-security-and-quality-rollup
  docs/framework/release-notes/2024/04-april-security-and-quality-rollup.md
  docs/framework/toc.yml
Labels: dotnet-framework/svc

#40620 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#40612 Update Ubuntu install documentation (Ubuntu 24.04 LTS Noble Numbat - Cycle)
  docs/core/install/includes/linux-install-package-manager-x64-vs-arm-ubuntu.md
  docs/core/install/linux-package-mixup.md
  docs/core/install/linux-ubuntu-install.md
  docs/core/install/linux-ubuntu.md
Labels: dotnet-fundamentals/svc, community-contribution, install/subsvc

#40599 Fix typo in cross-platform-cryptography.md
  docs/standard/security/cross-platform-cryptography.md
Labels: dotnet/svc, security-practices/subsvc, dotnet-fundamentals/svc, community-contribution

#40624 Update templates.md
  includes/templates.md
Labels: community-contribution

#40595 Update configuration in tutorial (#40594)
  docs/core/tutorials/cli-templates-create-project-template.md
Labels: dotnet-fundamentals/svc, community-contribution

#40538 Xamarin to maui
  docs/csharp/asynchronous-programming/cancel-an-async-task-or-a-list-of-tasks.md
  docs/csharp/asynchronous-programming/snippets/async-scenarios/Program.cs
  docs/csharp/asynchronous-programming/snippets/cancel-task-after-period-of-time/Program.cs
  docs/csharp/asynchronous-programming/snippets/cancel-tasks/Program.cs
  docs/csharp/asynchronous-programming/snippets/multiple-tasks-6-0/Program.cs
  docs/csharp/asynchronous-programming/start-multiple-async-tasks-and-process-them-as-they-complete.md
  docs/csharp/index.yml
Labels: dotnet-csharp/svc, async-task-programming/subsvc

#40622 Update supported OS info for .NET Framework
  docs/framework/get-started/system-requirements.md
  docs/framework/migration-guide/versions-and-dependencies.md
Labels: dotnet-framework/svc, app-compat/subsvc

#40483 Update prerequisites.md
  docs/csharp/includes/prerequisites.md
Labels: dotnet-csharp/svc, :pushpin: seQUESTered, user-feedback

#40619 Make command and option order match CLI help
  docs/core/tools/dotnet-format.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc
