Repository dotnet/docs, pull requests merged in 2024-11, with the labels that each got.

#43283 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43269 Add System.Diagnostics.DiagnosticSource netstandard guidance
  docs/core/diagnostics/distributed-tracing-instrumentation-walkthroughs.md
Labels: dotnet-fundamentals/svc

#43273 Random improvements to config articles
  docs/core/extensions/options.md
  docs/core/runtime-config/index.md
Labels: dotnet-fundamentals/svc

#43197 [Diagnostics] Add EventSource Callback Possible Deadlock Warning
  docs/core/diagnostics/eventsource-collect-and-view-traces.md
Labels: dotnet-fundamentals/svc

#43308 Remove `no-response.yml` status badge from `README.md`
  README.md
Labels: community-contribution

#43307 Fix typo in XML Documentation comments article
  docs/csharp/language-reference/xmldoc/index.md
Labels: community-contribution

#43301 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: :octocat: auto-merge

#43318 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43309 Add breaking changes for WPF
  .openpublishing.redirection.core.json
  docs/core/compatibility/3.0.md
  docs/core/compatibility/7.0.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/wpf.md
  docs/core/compatibility/wpf/7.0/drag-and-drop.md
  includes/core-changes/wpf/3.0/drag-and-drop.md
Labels: dotnet-fundamentals/svc

#43292 Update OS release support info
  docs/core/install/includes/linux-install-90-apt.md
  docs/core/install/includes/linux-release-wait.md
  docs/core/install/includes/linux-ubuntu-feed-sdk-note.md
  docs/core/install/includes/linux-ubuntu-not-supported.md
  docs/core/install/includes/linux-ubuntu-package-feed-both.md
  docs/core/install/includes/linux-ubuntu-package-feed-only.md
  docs/core/install/includes/versions-not-supported.md
  docs/core/install/linux-alpine.md
  docs/core/install/linux-debian.md
  docs/core/install/linux-fedora.md
  docs/core/install/linux-opensuse.md
  docs/core/install/linux-package-mixup.md
  docs/core/install/linux-rhel.md
  docs/core/install/linux-scripted-manual.md
  docs/core/install/linux-sles.md
  docs/core/install/linux-ubuntu-install.md
  docs/core/install/linux-ubuntu.md
  docs/core/install/linux.md
  docs/core/install/windows.md
  docs/zone-pivot-groups.yml
Labels: dotnet-fundamentals/svc, install/subsvc

#43316 Update docs for test templates
  docs/core/testing/unit-testing-code-coverage.md
  docs/core/tools/dotnet-new-sdk-templates.md
  includes/templates.md
Labels: dotnet-fundamentals/svc, community-contribution, dotnet-cli/subsvc

#43304 Enhanced Namespace Documentation: Comprehensive Insights on using in File-Scoped Declarations.
  docs/csharp/language-reference/keywords/namespace.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#43343 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43347 Code fence TFMs
  docs/standard/frameworks.md
Labels: dotnet-fundamentals/svc

#43369 Add new diagnostics
  docs/csharp/language-reference/compiler-messages/feature-version-errors.md
  docs/csharp/language-reference/compiler-messages/inline-array-errors.md
  docs/csharp/language-reference/compiler-messages/ref-modifiers-errors.md
  docs/csharp/language-reference/compiler-messages/ref-struct-errors.md
  docs/csharp/language-reference/toc.yml
Labels: dotnet-csharp/svc, lang-reference/subsvc, okr-curation, :checkered_flag: Release: .NET 9, csharp-diagnostics/subsvc

#43361 Update fsharp-9.md minor formatting issue
  docs/fsharp/whats-new/fsharp-9.md
Labels: community-contribution

#43367 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43368 Remove the unused variables after working on CS0077
  docs/csharp/misc/cs0077.md
Labels: dotnet-csharp/svc, community-contribution, csharp-errors-warnings/subsvc

#43366 update title and description
  docfx.json
  docs/csharp/toc.yml
Labels: dotnet-csharp/svc, okr-quality

#43380 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43381 Remove dangling fenced code block start
  docs/fsharp/whats-new/fsharp-9.md
Labels: community-contribution

#43370 Add two ASP.NET breaking changes
  docs/core/compatibility/9.0.md
  docs/core/compatibility/aspnet-core/9.0/certificate-export.md
  docs/core/compatibility/aspnet-core/9.0/middleware-constructors.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#43214 Document dotnet-watch breaking change
  docs/core/compatibility/9.0.md
  docs/core/compatibility/sdk/9.0/dotnet-watch.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#43387 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43394 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43354 Create unit-testing-mstest-migration-from-v1-to-v3.md
  docs/core/testing/unit-testing-mstest-migration-from-v1-to-v3.md
  docs/navigate/devops-testing/toc.yml
Labels: community-contribution

#43377 Add SdkAnalysisLevel property
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/svc

#43371 SDK breaking changes
  docs/core/compatibility/9.0.md
  docs/core/compatibility/sdk/8.0/version-requirements.md
  docs/core/compatibility/sdk/9.0/net70-warning.md
  docs/core/compatibility/sdk/9.0/version-requirements.md
  docs/core/compatibility/toc.yml
  docs/core/porting/versioning-sdk-msbuild-vs.md
  docs/core/tools/sdk-errors/netsdk1138.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#43287 Some fixes found by cleanrepo run
  docfx.json
  docs/azure/sdk/media/mermaidjs/ChainSequence.md
  docs/azure/sdk/media/mermaidjs/ChainedTokenCredentialAuthFlow.md
  docs/azure/sdk/media/mermaidjs/DefaultAzureCredentialAuthFlow.md
  docs/azure/sdk/media/mermaidjs/DefaultAzureCredentialExcludes.md
  docs/framework/unmanaged-api/debugging/toc.yml
  docs/navigate/devops-testing/toc.yml
Labels: dotnet-framework/svc, dotnet-azure/svc

#43410 More updates for .NET 9 GA
  api/index.md
  docs/csharp/index.yml
  docs/csharp/language-reference/index.yml
  docs/fsharp/index.yml
  docs/index.yml
  docs/standard/frameworks.md
  docs/standard/library-guidance/cross-platform-targeting.md
  docs/standard/net-standard.md
  docs/welcome.md
  docs/whats-new/index.yml
  includes/net-standard-1.0.md
  includes/net-standard-1.1.md
  includes/net-standard-1.2.md
  includes/net-standard-1.3.md
  includes/net-standard-1.4.md
  includes/net-standard-1.5.md
  includes/net-standard-1.6.md
  includes/net-standard-2.0.md
  includes/net-standard-2.1.md
  includes/preprocessor-symbols.md
Labels: dotnet-fsharp/svc, dotnet-csharp/svc, dotnet-fundamentals/svc

#43407 fix: update to latest cli install commands
  docs/core/tools/custom-templates.md
  docs/core/tools/dotnet-new-install.md
Labels: dotnet-fundamentals/svc, community-contribution, dotnet-cli/subsvc

#43413 Update zone pivots for .NET 9
  docs/core/deploying/trimming/prepare-libraries-for-trimming.md
  docs/core/deploying/trimming/trimming-options.md
  docs/core/docker/build-container.md
  docs/core/docker/publish-as-container.md
  docs/core/tutorials/cli-templates-create-template-package.md
  docs/core/tutorials/debugging-with-visual-studio-code.md
  docs/core/tutorials/debugging-with-visual-studio.md
  docs/core/tutorials/library-with-visual-studio-code.md
  docs/core/tutorials/library-with-visual-studio.md
  docs/core/tutorials/publishing-with-visual-studio-code.md
  docs/core/tutorials/publishing-with-visual-studio.md
  docs/core/tutorials/testing-library-with-visual-studio-code.md
  docs/core/tutorials/testing-library-with-visual-studio.md
  docs/core/tutorials/with-visual-studio-code.md
  docs/core/tutorials/with-visual-studio.md
  docs/fundamentals/code-analysis/style-rules/ide0028.md
  docs/standard/base-types/regular-expression-source-generators.md
  docs/standard/serialization/system-text-json/configure-options.md
  docs/standard/serialization/system-text-json/converters-how-to.md
  docs/standard/serialization/system-text-json/customize-properties.md
  docs/standard/serialization/system-text-json/migrate-from-newtonsoft.md
  docs/standard/serialization/system-text-json/polymorphism.md
  docs/standard/serialization/system-text-json/reflection-vs-source-generation.md
  docs/standard/serialization/system-text-json/source-generation-modes.md
  docs/standard/serialization/system-text-json/source-generation.md
  docs/zone-pivot-groups.yml
Labels: dotnet-fundamentals/svc, dotnet-docker/subsvc

#43414 .NET 9 no longer in preview
  docs/core/install/linux-debian.md
  docs/core/install/linux-fedora.md
  docs/core/install/linux-opensuse.md
  docs/core/install/linux-package-mixup.md
  docs/core/install/linux-rhel.md
  docs/core/install/linux-scripted-manual.md
  docs/core/install/linux-sles.md
  docs/core/install/linux-ubuntu-install.md
  docs/core/install/linux-ubuntu.md
  docs/core/install/linux.md
  docs/core/whats-new/dotnet-9/libraries.md
  docs/core/whats-new/dotnet-9/overview.md
  docs/core/whats-new/dotnet-9/runtime.md
  docs/core/whats-new/dotnet-9/sdk.md
  docs/csharp/whats-new/csharp-13.md
Labels: dotnet-csharp/svc, whats-new/subsvc, dotnet-fundamentals/svc, install/subsvc

#43404 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: :octocat: auto-merge

#43384 link to microsoft SDKs project github
  docs/core/project-sdk/overview.md
Labels: community-contribution

#43411 Added some highlights for .NET MAUI
  docs/core/whats-new/dotnet-9/overview.md
Labels: dotnet-fundamentals/svc

#43288 Add docs for SYSLIB5003
  docs/fundamentals/syslib-diagnostics/experimental-overview.md
  docs/fundamentals/syslib-diagnostics/syslib5003.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/svc

#43166 Add a note about creating directories before exporting dev certs
  docs/core/tools/dotnet-dev-certs.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#43043 Update 10-08-october-security-and-quality-rollup.md
  docs/framework/release-notes/2024/10-08-october-security-and-quality-rollup.md
Labels: dotnet-framework/svc

#43396 Making aspire updates slightly more fun!
  docs/core/whats-new/dotnet-9/overview.md
Labels: dotnet-fundamentals/svc

#43415 Fix aspire link
  docs/core/whats-new/dotnet-9/overview.md
Labels: dotnet-fundamentals/svc

#43416 Update install docs for .NET 9
  docs/core/install/how-to-detect-installed-versions.md
  docs/core/install/includes/linux-install-90-apk.md
  docs/core/install/includes/linux-install-90-dnf.md
  docs/core/install/includes/linux-install-90-zyp.md
  docs/core/install/includes/linux-install-package-manager-x64-vs-arm-ubuntu.md
  docs/core/install/includes/linux-install-package-manager-x64-vs-arm.md
  docs/core/install/includes/linux-install-previews.md
  docs/core/install/includes/linux-intro-sdk-vs-runtime.md
  docs/core/install/includes/linux-libgdiplus-general.md
  docs/core/install/includes/linux-prep-intro-apt.md
  docs/core/install/includes/linux-prep-intro-generic.md
  docs/core/install/includes/linux-release-wait.md
  docs/core/install/includes/linux-rpm-install-dependencies.md
  docs/core/install/includes/linux-uninstall-preview-info.md
  docs/core/install/includes/package-manager-heading-hack-pkgname.md
  docs/core/install/includes/supported-versions.md
  docs/core/install/includes/versions-not-supported.md
  docs/core/install/linux-alpine.md
  docs/core/install/linux-debian.md
  docs/core/install/linux-fedora.md
  docs/core/install/linux-opensuse.md
  docs/core/install/linux-rhel.md
  docs/core/install/linux-scripted-manual.md
  docs/core/install/linux-sles.md
  docs/core/install/linux-snap-runtime.md
  docs/core/install/linux-snap-sdk.md
  docs/core/install/linux-ubuntu-install.md
  docs/core/install/linux-ubuntu.md
  docs/core/install/localized-intellisense.md
  docs/core/install/macos-notarization-issues.md
  docs/core/install/macos.md
  docs/core/install/remove-runtime-sdk-versions.md
  docs/core/install/templates.md
  docs/core/install/upgrade.md
  docs/core/install/windows.md
Labels: dotnet-fundamentals/svc, install/subsvc

#43417 Update whats new for wpf/winforms
  docs/core/whats-new/dotnet-9/overview.md
Labels: dotnet-fundamentals/svc

#43424 Link to env vars section of README
  docs/azure/sdk/authentication/credential-chains.md
Labels: dotnet-azure/svc

#43426 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43425 Update ASP.NET Core what's new
  docs/core/whats-new/dotnet-9/overview.md
Labels: dotnet-fundamentals/svc

#43430 Fixed typo
  docs/core/whats-new/dotnet-9/overview.md
Labels: dotnet-fundamentals/svc, community-contribution

#43431 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43261 Update documents for `field` backed properties
  docfx.json
  docs/core/whats-new/dotnet-9/overview.md
  docs/csharp/includes/field-preview.md
  docs/csharp/language-reference/attributes/general.md
  docs/csharp/language-reference/builtin-types/record.md
  docs/csharp/language-reference/compiler-messages/partial-declarations.md
  docs/csharp/language-reference/keywords/field.md
  docs/csharp/language-reference/keywords/get.md
  docs/csharp/language-reference/keywords/index.md
  docs/csharp/language-reference/keywords/init.md
  docs/csharp/language-reference/keywords/set.md
  docs/csharp/language-reference/keywords/snippets/InitExample5.cs
  docs/csharp/language-reference/keywords/snippets/PropertyAccessors.cs
  docs/csharp/language-reference/keywords/value.md
  docs/csharp/language-reference/toc.yml
  docs/csharp/linq/get-started/walkthrough-writing-queries-linq.md
  docs/csharp/programming-guide/classes-and-structs/auto-implemented-properties.md
  docs/csharp/programming-guide/classes-and-structs/object-and-collection-initializers.md
  docs/csharp/programming-guide/classes-and-structs/partial-classes-and-methods.md
  docs/csharp/programming-guide/classes-and-structs/properties.md
  docs/csharp/programming-guide/classes-and-structs/restricting-accessor-accessibility.md
  docs/csharp/programming-guide/classes-and-structs/snippets/partial-classes-and-methods/PartialClassesAndMethods.csproj
  docs/csharp/programming-guide/classes-and-structs/snippets/partial-classes-and-methods/Program.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/properties/Person.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/properties/TimePeriod.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/properties/properties.csproj
  docs/csharp/programming-guide/classes-and-structs/using-properties.md
  docs/csharp/specification/toc.yml
  docs/csharp/whats-new/csharp-13.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, lang-reference/subsvc, whats-new/subsvc, csharp-linq/subsvc, dotnet-fundamentals/svc, :checkered_flag: Release: .NET 9, csharp-diagnostics/subsvc

#43437 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: :octocat: auto-merge

#43568 WCF APIs removed
  docs/core/compatibility/toc.yml
  docs/core/compatibility/wcf-client/8.0/configurationname-apis.md
Labels: dotnet-fundamentals/svc

#43561 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: :octocat: auto-merge

#43565 Clarify Language Version Selection in Visual Studio Documentation.
  docs/csharp/language-reference/configure-language-version.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#43571 Delete Retired .openpublishing.build.ps1 script of default branch
  .openpublishing.build.ps1
Labels: community-contribution

#43579 Add .NET 9 to VS table
  docs/core/install/windows.md
Labels: dotnet-fundamentals/svc, install/subsvc

#43576 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43573 Add title to new analyzer CA2265 link
  docs/core/whats-new/dotnet-9/sdk.md
Labels: dotnet-fundamentals/svc, community-contribution

#43399 [docs] Add a note on Native AOT diagnostics support on iOS-like platforms
  docs/core/deploying/native-aot/diagnostics.md
Labels: dotnet-fundamentals/svc

#43591 Add clarity to UseCredential call
  docs/azure/sdk/authentication/credential-chains.md
  docs/azure/sdk/snippets/authentication/Directory.Packages.props
  docs/azure/sdk/snippets/authentication/additional-auth/interactive/InteractiveBrokeredAuth.csproj
  docs/azure/sdk/snippets/authentication/credential-chains/Program.cs
Labels: dotnet-azure/svc

#43583 Update field-preview.md
  docfx.json
Labels: dotnet-csharp/svc

#43569 Add .NET 9 breaking change about NuGetAuditMode changed default
  docs/core/compatibility/9.0.md
  docs/core/compatibility/sdk/9.0/nugetaudit-transitive-packages.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#43592 Fix text to match sample
  docs/csharp/language-reference/keywords/value.md
Labels: dotnet-csharp/svc, lang-reference/subsvc

#43590 Tensor<T> is experimental
  docs/core/whats-new/dotnet-9/overview.md
Labels: dotnet-fundamentals/svc

#43586 Update toc.yml for consistency
  docs/csharp/toc.yml
Labels: dotnet-csharp/svc, community-contribution

#43349 Changed the code samples with System.Text.Json Converters (Now readonly property).
  docs/standard/serialization/system-text-json/snippets/how-to/csharp/RegisterConverterWithConvertersCollection.cs
  docs/standard/serialization/system-text-json/snippets/how-to/csharp/RoundtripStackOfT.cs
Labels: community-contribution

#43567 Add note about System.NET.Http breaking change
  docs/core/project-sdk/overview.md
Labels: dotnet-fundamentals/svc

#43574 Add more details on pattern binding
  docs/csharp/language-reference/operators/patterns.md
  docs/csharp/language-reference/operators/snippets/patterns/LogicalPatterns.cs
  docs/csharp/language-reference/operators/snippets/patterns/patterns.csproj
Labels: dotnet-csharp/svc, lang-reference/subsvc, okr-quality

#43594 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43580 Clarify using directive examples
  docs/core/compatibility/sdk/8.0/implicit-global-using-netfx.md
  docs/core/project-sdk/msbuild-props.md
  docs/core/project-sdk/overview.md
  docs/csharp/language-reference/builtin-types/value-tuples.md
  docs/csharp/language-reference/compiler-messages/using-directive-errors.md
  docs/csharp/language-reference/keywords/snippets/UsingAliasQualifier.cs
  docs/csharp/language-reference/keywords/using-directive.md
  docs/csharp/linq/index.md
  docs/csharp/tour-of-csharp/overview.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, okr-quality, okr-health

#43429 .NET MU docs
  docs/core/install/includes/microsoft-update.md
  docs/core/install/windows.md
Labels: dotnet-fundamentals/svc, install/subsvc

#43584 Add detail about known error types to Kestrel connection metric
  docs/core/diagnostics/built-in-metrics-aspnetcore.md
Labels: dotnet-fundamentals/svc

#43597 Fix wrong .NET version mentioned in 'Enabled rules' list description.
  docs/fundamentals/code-analysis/overview.md
Labels: dotnet-fundamentals/svc, community-contribution

#43600 Spelling Fixes
  docs/ai/conceptual/rag.md
  docs/ai/quickstarts/quickstart-local-ai.md
  docs/ai/tutorials/tutorial-ai-vector-search.md
  docs/azure/migration/appcat/interpret-results.md
  docs/core/compatibility/serialization/8.0/publishtrimmed.md
  docs/core/deploying/trimming/trim-warnings/il2075.md
  docs/core/deploying/trimming/trim-warnings/il2111.md
  docs/core/diagnostics/available-counters.md
  docs/core/diagnostics/diagnostic-resource-monitoring.md
  docs/core/diagnostics/logging-tracing.md
  docs/core/diagnostics/observability-applicationinsights.md
  docs/core/diagnostics/observability-otlp-example.md
  docs/core/diagnostics/specialized-diagnostics-overview.md
  docs/core/extensions/globalization-icu.md
  docs/core/extensions/httpclient-factory-troubleshooting.md
  docs/core/install/linux-package-mixup.md
  docs/core/testing/mstest-analyzers/mstest0019.md
  docs/core/testing/mstest-analyzers/mstest0030.md
  docs/core/tools/dotnet-nuget-config-paths.md
  docs/core/tools/dotnet-nuget-config-unset.md
  docs/core/tools/dotnet-workload-sets.md
  docs/core/tutorials/debugging-with-visual-studio-code.md
  docs/core/tutorials/publishing-with-visual-studio-code.md
  docs/core/whats-new/dotnet-8/containers.md
  docs/csharp/language-reference/builtin-types/ref-struct.md
  docs/csharp/linq/standard-query-operators/join-operations.md
  docs/csharp/programming-guide/classes-and-structs/using-properties.md
  docs/framework/data/adonet/establishing-the-connection.md
  docs/framework/unmanaged-api/debugging/clrdata-methdef-extent-structure.md
  docs/framework/unmanaged-api/debugging/clrdatafollowstuboutflag-enumeration.md
  docs/framework/unmanaged-api/debugging/clrdataothernotifyflag-enumeration.md
  docs/framework/unmanaged-api/debugging/debugging-enumerations.md
  docs/framework/unmanaged-api/debugging/ixclrdatamethodinstance-getdefinition.md
  docs/framework/unmanaged-api/debugging/ixclrdatamodule-endenumextents-method.md
  docs/framework/unmanaged-api/debugging/ixclrdatamodule-endenummethodinstancesbyname-method.md
  docs/framework/unmanaged-api/debugging/ixclrdataprocess-interface.md
  docs/framework/unmanaged-api/debugging/ixclrdatastackwalk-setcontext-method.md
  docs/framework/wcf/feature-details/configuring-the-wpa--service-for-use-with-wcf.md
  docs/framework/wcf/feature-details/how-to-use-svcutil-exe-to-validate-compiled-service-code.md
  docs/framework/wcf/feature-details/streaming-message-transfer.md
  docs/fsharp/style-guide/conventions.md
  docs/fundamentals/runtime-libraries/system-globalization-cultureinfo.md
  docs/fundamentals/syslib-diagnostics/syslib1050-1069.md
  docs/orleans/grains/index.md
Labels: dotnet-framework/svc, dotnet-fsharp/svc, dotnet-csharp/svc, fundamentals/subsvc, lang-reference/subsvc, csharp-linq/subsvc, dotnet-fundamentals/svc, data-access/subsvc, dotnet-azure/svc, community-contribution, install/subsvc, dotnet-cli/subsvc, dotnet-networking/subsvc, dotnet-wcf/subsvc

#43602 [docs] Add note that `ref struct` can't be converted to `object`
  docs/csharp/language-reference/builtin-types/reference-types.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#43593 Update Azure SDK proxy server configuration doc
  .openpublishing.redirection.azure.json
  docs/azure/TOC.yml
  docs/azure/sdk/azure-sdk-configure-proxy.md
  docs/azure/sdk/configure-proxy.md
  docs/azure/sdk/snippets/configure-proxy/Program.cs
  docs/azure/sdk/snippets/configure-proxy/ProxyServerConfiguration.csproj
Labels: dotnet-azure/svc

#43631 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43639 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43643 Fix VS Copilot heading.
  docs/azure/migration/appcat/visual-studio-copilot.md
Labels: dotnet-azure/svc

#43638 Cross Platform Cryptography: Remove remarks about unsupported .NET versions
  docs/standard/security/cross-platform-cryptography.md
Labels: dotnet/svc, security-practices/subsvc, dotnet-fundamentals/svc

#43644 Clarify "unbound" generic types
  docs/csharp/advanced-topics/reflection-and-attributes/generics-and-attributes.md
Labels: dotnet-csharp/svc

#43642 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43667 Enhance Documentation: Add Nested Record Copy-and-Update Feature Details.
  docs/fsharp/language-reference/copy-and-update-record-expressions.md
  samples/snippets/fsharp/lang-ref-1/snippet19061.fs
  samples/snippets/fsharp/lang-ref-1/snippet19062.fs
  samples/snippets/fsharp/lang-ref-1/snippet19063.fs
Labels: dotnet-fsharp/svc, community-contribution

#43634 Update fixing-warnings.md
  docs/core/deploying/trimming/fixing-warnings.md
Labels: dotnet-fundamentals/svc

#43671 Update status on Linux docs
  docs/core/install/includes/linux-release-wait.md
  docs/core/install/includes/linux-ubuntu-register-backports.md
  docs/core/install/linux-alpine.md
  docs/core/install/linux-debian.md
  docs/core/install/linux-fedora.md
  docs/core/install/linux-opensuse.md
  docs/core/install/linux-rhel.md
  docs/core/install/linux-sles.md
  docs/core/install/linux-snap-runtime.md
  docs/core/install/linux-snap-sdk.md
  docs/core/install/linux-ubuntu-install.md
  docs/core/install/macos.md
  docs/core/install/windows.md
Labels: dotnet-fundamentals/svc, install/subsvc

#43678 Modernise snippets showing use of generics in C#
  docs/csharp/fundamentals/types/snippets/generics/Program.cs
Labels: dotnet-csharp/svc, fundamentals/subsvc

#43686 remove NRT feature spec
  .openpublishing.redirection.csharp.json
  docfx.json
  docs/csharp/nullable-references.md
  docs/csharp/specification/feature-spec-overview.md
  docs/csharp/specification/toc.yml
Labels: dotnet-csharp/svc

#43685 Update M.D.Sqlite provider docs
  docs/navigate/data-access/index.yml
  docs/navigate/data-access/toc.yml
  docs/standard/data/sqlite/extensions.md
  docs/standard/data/sqlite/index.md
  docs/standard/data/sqlite/interop.md
Labels: dotnet-fundamentals/svc, dotnet-data/svc

#43687 grammar correction
  docs/fundamentals/code-analysis/quality-rules/ca1850.md
Labels: dotnet-fundamentals/svc, community-contribution

#43698 Fix build suggestions
  docs/azure/includes/dotnet-all.md
  docs/framework/release-notes/2024/10-08-october-security-and-quality-rollup.md
  docs/fundamentals/code-analysis/quality-rules/ca2013.md
Labels: dotnet-framework/svc, dotnet-fundamentals/svc, dotnet-azure/svc

#43689 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43707 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43709 Fix role assignment images
  docs/azure/sdk/media/assign-local-dev-group-to-role-azure-portal-6-240px.png
  docs/azure/sdk/media/assign-local-dev-group-to-role-azure-portal-6.png
  docs/azure/sdk/media/assign-local-dev-group-to-role-azure-portal-7-240px.png
  docs/azure/sdk/media/assign-local-dev-group-to-role-azure-portal-7.png
Labels: dotnet-azure/svc

#43693 Add class declaration
  docs/csharp/fundamentals/types/anonymous-types.md
  docs/csharp/fundamentals/types/snippets/anonymous-types/Program.cs
Labels: dotnet-csharp/svc, fundamentals/subsvc

#43672 Update dotnet-nuget-why.md to include RID specific packages
  docs/core/tools/dotnet-nuget-why.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#43716 MSTest SDK - remove incorrect mention of net9
  docs/core/testing/unit-testing-mstest-sdk.md
Labels: dotnet-fundamentals/svc

#43397 [docs] Add building iOS-like native libraries with NativeAOT
  docs/core/deploying/media/native-aot-ios-like-platforms/xcode-add-framework-reference.png
  docs/core/deploying/media/native-aot-ios-like-platforms/xcode-add-framework-search-path.png
  docs/core/deploying/native-aot/index.md
  docs/core/deploying/native-aot/ios-like-platforms/creating-and-consuming-custom-frameworks.md
  docs/core/deploying/native-aot/ios-like-platforms/index.md
  docs/navigate/devops-testing/toc.yml
Labels: dotnet-fundamentals/svc

#43718 Fix code sample for "The init keyword" docs
  docs/csharp/language-reference/keywords/snippets/InitExample5.cs
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#43730 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43736 Enhance F# Interactive Documentation: Add Extended #help Directive Details
  docs/fsharp/tools/fsharp-interactive/index.md
Labels: dotnet-fsharp/svc, community-contribution

#43708 Add credential builder context
  docs/azure/sdk/authentication/credential-chains.md
  docs/azure/sdk/snippets/authentication/credential-chains/Program.cs
Labels: dotnet-azure/svc

#43719 Final updates for .NET 9 release
  .openpublishing.redirection.fsharp.json
  api/index.md
  docs/core/compatibility/core-libraries/9.0/obsolete-apis-with-custom-diagnostics.md
  docs/core/compatibility/unsupported-apis.md
  docs/core/deploying/deploy-with-cli.md
  docs/core/tools/dotnet-new-sdk-templates.md
  docs/core/versions/index.md
  docs/csharp/language-reference/configure-language-version.md
  docs/framework/index.yml
  docs/fundamentals/implementations.md
  docs/standard/choosing-core-framework-server.md
  docs/welcome.md
Labels: dotnet-framework/svc, dotnet-csharp/svc, lang-reference/subsvc, dotnet-fundamentals/svc, dotnet-cli/subsvc

#43764 Assembly name attribute breaking change
  docs/core/compatibility/7.0.md
  docs/core/compatibility/core-libraries/7.0/assembly-name-wildcard.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#43728 Initial page of CS8802 error
  docs/csharp/language-reference/compiler-messages/cs8802.md
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution, csharp-diagnostics/subsvc

#43771 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#43770 Change References to .NET 9 SDK
  docs/core/tutorials/library-with-visual-studio-code.md
Labels: dotnet-fundamentals/svc, community-contribution

#43761 Fix spelling error
  docs/framework/configure-apps/file-schema/trace-debug/performancecounters-element.md
Labels: dotnet-framework/svc, community-contribution

#43670 Fix expected and actual being swapped
  docs/core/testing/mstest-analyzers/mstest0026.md
Labels: dotnet-fundamentals/svc, community-contribution

#43714 MSTest SDK doc: use latest released version
  docs/core/testing/unit-testing-mstest-sdk.md
Labels: dotnet-fundamentals/svc

#43782 Fix ubuntu feed message
  docs/core/install/linux-ubuntu-install.md
Labels: dotnet-fundamentals/svc, install/subsvc

#43783 Switch DataTestMethod to TestMethod
  docs/core/testing/unit-testing-mstest-writing-tests-attributes.md
  docs/core/testing/unit-testing-visual-basic-with-mstest.md
  samples/snippets/core/testing/unit-testing-vb-mstest/vb/PrimeService.Tests/PrimeService_IsPrimeShould.vb
Labels: dotnet-fundamentals/svc, community-contribution

#43778 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: :octocat: auto-merge

#43601 Document MSTEST0037 analyzer
  docs/core/testing/mstest-analyzers/mstest0037.md
  docs/core/testing/mstest-analyzers/usage-rules.md
  docs/navigate/devops-testing/toc.yml
Labels: dotnet-fundamentals/svc, community-contribution
