Repository dotnet/docs, pull requests merged in 2024-08, with the labels that each got.

#41973 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41860 MSTEST0034 :Analyzer that flags [ClassCleanup] where the cleanup behavior is not set
  docs/core/testing/mstest-analyzers/mstest0034.md
  docs/navigate/devops-testing/toc.yml
Labels: dotnet-fundamentals/svc, community-contribution

#41924 Update self-signed-certificates-guide.md
  docs/core/additional-tools/self-signed-certificates-guide.md
Labels: dotnet-fundamentals/svc, community-contribution

#41868 Add events section to Expression-bodied members article
  docs/csharp/programming-guide/statements-expressions-operators/expression-bodied-members.md
  samples/snippets/csharp/programming-guide/classes-and-structs/ExpressionBodiedMembers/expr-bodied-event.cs
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#41821 Changed the SqlDataReader DbType typed accessor for the time sql type…
  docs/framework/data/adonet/sql-server-data-type-mappings.md
Labels: dotnet-framework/svc, data-access/subsvc, community-contribution

#41774 Update broadcast-channel.md adding information on AddBroadcastChannel.
  docs/orleans/streaming/broadcast-channel.md
Labels: community-contribution

#41916 July preview update preview release notes
  docs/framework/release-notes/2024/07-25-july-preview-cumulative-update.md
  docs/framework/toc.yml
Labels: dotnet-framework/svc

#41996 Fix freshness
  docs/csharp/fundamentals/program-structure/index.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, okr-freshness

#41676 Update blittable-and-non-blittable-types.md
  docs/framework/interop/blittable-and-non-blittable-types.md
Labels: dotnet-framework/svc, community-contribution

#42009 Adds custom configuration doc to TOC
  docs/azure/TOC.yml
Labels: dotnet-azure/svc

#41741 Remove invalid line from prometheus.yml config file in .NET observability with OpenTelemetry page
  docs/core/diagnostics/observability-with-otel.md
Labels: dotnet-fundamentals/svc, community-contribution

#41946 Update mstest0011.md
  docs/core/testing/mstest-analyzers/mstest0011.md
Labels: community-contribution

#41947 Update mstest0010.md
  docs/core/testing/mstest-analyzers/mstest0010.md
Labels: community-contribution

#41992 Add caution about locks held during UnhandledException
  docs/fundamentals/runtime-libraries/system-appdomain-unhandledexception.md
Labels: dotnet-fundamentals/svc

#42005 Create mstest0035.md
  docs/core/testing/mstest-analyzers/mstest0035.md
  docs/navigate/devops-testing/toc.yml
Labels: dotnet-fundamentals/svc, community-contribution

#42006 Update mstest0012.md
  docs/core/testing/mstest-analyzers/mstest0012.md
Labels: dotnet-fundamentals/svc, community-contribution

#42007 Update mstest0013.md
  docs/core/testing/mstest-analyzers/mstest0013.md
Labels: dotnet-fundamentals/svc, community-contribution

#42011 Add version 13 to version table
  docs/csharp/language-reference/configure-language-version.md
  docs/csharp/language-reference/includes/default-langversion-table.md
  docs/csharp/language-reference/includes/langversion-table.md
  docs/csharp/language-reference/language-versioning.md
Labels: dotnet-csharp/svc, lang-reference/subsvc

#41991 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42013 typo
  docs/csharp/language-reference/builtin-types/collections.md
Labels: dotnet-csharp/svc, lang-reference/subsvc

#42015 A bit of final OSSF score cleanup
  .devcontainer/Dockerfile
  .devcontainer/devcontainer.json
  .github/workflows/markdownlint.yml
  docs/standard/commandline/snippets/get-started-tutorial/csharp/Stage2/publish/ru/System.CommandLine.resources.dll
Labels: dotnet-fundamentals/svc

#41994 Remove String.Copy examples
  docs/fundamentals/runtime-libraries/system-string.md
  docs/visual-basic/programming-guide/language-features/strings/types-of-string-manipulation-methods.md
  samples/snippets/visualbasic/VS_Snippets_VBCSharp/VbVbalrStrings/VB/Class2.vb
Labels: dotnet-visualbasic/svc, dotnet-fundamentals/svc

#41993 [Draft] Sample step-by-step descriptions
  docs/standard/serialization/binaryformatter-migration-guide/migrate-to-datacontractserializer.md
  docs/standard/serialization/binaryformatter-migration-guide/migrate-to-protobuf-net.md
Labels: dotnet-fundamentals/svc

#41922 recommend usage of trusted NuGet package sources
  docs/core/tools/dotnet-nuget-add-source.md
  docs/core/tools/dotnet-nuget-update-source.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#42022 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42019 Use same severity level for the same warning
  docs/core/extensions/create-resource-files.md
Labels: dotnet-fundamentals/svc, community-contribution

#42021 Document DOTNET_CLI_HOME
  docs/core/tools/dotnet-environment-variables.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#42045 Reference URL instead of downloaded text file
  docs/standard/base-types/snippets/regex/csharp/Dreiser_TheFinancier.txt
  docs/standard/base-types/snippets/regex/csharp/Program.cs
  docs/standard/base-types/snippets/regex/csharp/Project.csproj
  docs/standard/base-types/snippets/regex/csharp/compare1.cs
Labels: dotnet-fundamentals/svc

#42048 Fix 42047
  docs/fundamentals/runtime-libraries/system-data-datacolumn-expression.md
Labels: dotnet-fundamentals/svc, community-contribution

#42041 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42024 Update compose-streams article with an actual example
  docs/standard/io/composing-streams.md
  docs/standard/io/snippets/composing-streams/csharp/Article.csproj
  docs/standard/io/snippets/composing-streams/csharp/CipherStream.cs
  docs/standard/io/snippets/composing-streams/csharp/Program.cs
  docs/standard/io/snippets/composing-streams/csharp/data.txt
  docs/standard/io/snippets/composing-streams/vb/ArticleVB.vbproj
  docs/standard/io/snippets/composing-streams/vb/CipherStream.vb
  docs/standard/io/snippets/composing-streams/vb/Program.vb
  docs/standard/io/snippets/composing-streams/vb/data.txt
Labels: dotnet-fundamentals/svc

#42042 HostBuilder validation enabled
  docs/core/compatibility/9.0.md
  docs/core/compatibility/aspnet-core/9.0/hostbuilder-validation.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#42018 Cryptography breaking changes
  docs/core/compatibility/9.0.md
  docs/core/compatibility/core-libraries/9.0/obsolete-apis-with-custom-diagnostics.md
  docs/core/compatibility/cryptography/9.0/evp-pkey-handle.md
  docs/core/compatibility/cryptography/9.0/x509-certificates.md
  docs/core/compatibility/toc.yml
  docs/fundamentals/syslib-diagnostics/obsoletions-overview.md
  docs/fundamentals/syslib-diagnostics/syslib0057.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/svc

#41985 Remove extra 's' in System.Text.Json support
  docs/standard/datetime/system-text-json-support.md
Labels: dotnet-fundamentals/svc, community-contribution

#42040 Deprecated MonoVM packages
  docs/core/compatibility/9.0.md
  docs/core/compatibility/deployment/9.0/monovm-packages.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc, :checkered_flag: Release: .NET 9

#42055 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#41564 BinaryFormatter Migration Guide
  docs/fundamentals/toc.yml
  docs/standard/serialization/binaryformatter-migration-guide/choose-a-serializer.md
  docs/standard/serialization/binaryformatter-migration-guide/compatibility-package.md
  docs/standard/serialization/binaryformatter-migration-guide/functionality-reference.md
  docs/standard/serialization/binaryformatter-migration-guide/index.md
  docs/standard/serialization/binaryformatter-migration-guide/migrate-to-datacontractserializer.md
  docs/standard/serialization/binaryformatter-migration-guide/migrate-to-messagepack.md
  docs/standard/serialization/binaryformatter-migration-guide/migrate-to-protobuf-net.md
  docs/standard/serialization/binaryformatter-migration-guide/migrate-to-system-text-json.md
  docs/standard/serialization/binaryformatter-migration-guide/read-nrbf-payloads.md
  docs/standard/serialization/binaryformatter-migration-guide/winforms-applications.md
  docs/standard/serialization/binaryformatter-migration-guide/winforms-wpf-ole-guidance.md
  docs/standard/serialization/binaryformatter-migration-guide/wpf-applications.md
  docs/standard/serialization/binaryformatter-security-guide.md
  includes/binary-serialization-warning.md
Labels: dotnet-fundamentals/svc

#42052 Complex.ToString and BigInteger breaking changes
  docs/core/compatibility/8.0.md
  docs/core/compatibility/9.0.md
  docs/core/compatibility/core-libraries/8.0/complex-format.md
  docs/core/compatibility/core-libraries/9.0/biginteger-limit.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#42054 BinaryFormatter removal
  docs/core/compatibility/9.0.md
  docs/core/compatibility/serialization/9.0/binaryformatter-removal.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc, :checkered_flag: Release: .NET 9

#42099 Binary Formatter: Fix version reference
  docs/standard/serialization/binaryformatter-migration-guide/index.md
Labels: dotnet-fundamentals/svc

#42083 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42091 Document MSTEST0018
  docs/core/testing/mstest-analyzers/mstest0018.md
Labels: dotnet-fundamentals/svc

#42111 Update unit-testing-mstest-getting-started.md
  docs/core/testing/unit-testing-mstest-getting-started.md
Labels: dotnet-fundamentals/svc

#42089 MSTest: Document code suppressors
  docs/core/testing/mstest-analyzers/mstest0027.md
  docs/core/testing/mstest-analyzers/mstest0028.md
  docs/core/testing/mstest-analyzers/mstest0033.md
  docs/core/testing/mstest-analyzers/overview.md
  docs/core/testing/mstest-analyzers/suppression-rules.md
Labels: dotnet-fundamentals/svc

#42093 Update mstest0003.md
  docs/core/testing/mstest-analyzers/mstest0003.md
Labels: dotnet-fundamentals/svc, community-contribution

#42094 Add `There is a code fix` row for all Analysers
  docs/core/testing/mstest-analyzers/mstest0001.md
  docs/core/testing/mstest-analyzers/mstest0002.md
  docs/core/testing/mstest-analyzers/mstest0003.md
  docs/core/testing/mstest-analyzers/mstest0004.md
  docs/core/testing/mstest-analyzers/mstest0005.md
  docs/core/testing/mstest-analyzers/mstest0006.md
  docs/core/testing/mstest-analyzers/mstest0007.md
  docs/core/testing/mstest-analyzers/mstest0008.md
  docs/core/testing/mstest-analyzers/mstest0009.md
  docs/core/testing/mstest-analyzers/mstest0010.md
  docs/core/testing/mstest-analyzers/mstest0011.md
  docs/core/testing/mstest-analyzers/mstest0012.md
  docs/core/testing/mstest-analyzers/mstest0013.md
  docs/core/testing/mstest-analyzers/mstest0014.md
  docs/core/testing/mstest-analyzers/mstest0015.md
  docs/core/testing/mstest-analyzers/mstest0016.md
  docs/core/testing/mstest-analyzers/mstest0017.md
  docs/core/testing/mstest-analyzers/mstest0019.md
  docs/core/testing/mstest-analyzers/mstest0020.md
  docs/core/testing/mstest-analyzers/mstest0021.md
  docs/core/testing/mstest-analyzers/mstest0022.md
  docs/core/testing/mstest-analyzers/mstest0023.md
  docs/core/testing/mstest-analyzers/mstest0024.md
  docs/core/testing/mstest-analyzers/mstest0025.md
  docs/core/testing/mstest-analyzers/mstest0026.md
  docs/core/testing/mstest-analyzers/mstest0029.md
  docs/core/testing/mstest-analyzers/mstest0030.md
  docs/core/testing/mstest-analyzers/mstest0031.md
  docs/core/testing/mstest-analyzers/mstest0032.md
  docs/core/testing/mstest-analyzers/mstest0034.md
  docs/core/testing/mstest-analyzers/mstest0035.md
Labels: dotnet-fundamentals/svc, community-contribution

#42095 Use Magna Carta instead of The Financier
  docs/standard/base-types/best-practices-regex.md
  docs/standard/base-types/snippets/regex/csharp/compare1.cs
Labels: dotnet-fundamentals/svc

#42106 Add the section to `CS0809` about methods recognized (or not) as obsolete
  docs/csharp/misc/cs0809.md
Labels: dotnet-csharp/svc, community-contribution, csharp-errors-warnings/subsvc

#42113 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42087 Update image classification tutorial
  docs/machine-learning/tutorials/image-classification-api-transfer-learning.md
  docs/machine-learning/tutorials/snippets/api-transfer-learning/csharp/Program.cs
  docs/machine-learning/tutorials/snippets/api-transfer-learning/csharp/Project.csproj
Labels: dotnet-ml/svc

#42084 Assembly.LoadFrom obsoletion
  docs/core/compatibility/core-libraries/9.0/obsolete-apis-with-custom-diagnostics.md
  docs/fundamentals/syslib-diagnostics/obsoletions-overview.md
  docs/fundamentals/syslib-diagnostics/syslib0056.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/svc

#42115 Fix all SFI image issues
  docs/architecture/cloud-native/media/powerbidashboard.png
  docs/architecture/cloud-native/media/ssl-report.png
  docs/azure/sdk/media/assign-local-dev-group-to-role-azure-portal-2-240px.png
  docs/azure/sdk/media/assign-local-dev-group-to-role-azure-portal-2.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-2-240px.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-2.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-6-240px.png
  docs/azure/sdk/media/assign-managed-identity-to-role-azure-portal-6.png
  docs/azure/sdk/media/enable-managed-identity-azure-portal-3-240px.png
  docs/azure/sdk/media/enable-managed-identity-azure-portal-3.png
  docs/azure/sdk/media/local-dev-app-registration-azure-portal-4-240px.png
  docs/azure/sdk/media/local-dev-app-registration-azure-portal-4.png
  docs/azure/sdk/media/local-dev-app-registration-azure-portal-7-240px.png
  docs/azure/sdk/media/local-dev-app-registration-azure-portal-7.png
  docs/azure/sdk/media/on-premises-app-registration-azure-portal-4-240px.png
  docs/azure/sdk/media/on-premises-app-registration-azure-portal-4.png
  docs/azure/sdk/media/on-premises-app-registration-azure-portal-7-240px.png
  docs/azure/sdk/media/on-premises-app-registration-azure-portal-7.png
  docs/core/diagnostics/media/azure-tracing.png
  docs/core/diagnostics/media/portal_ui.png
  docs/core/diagnostics/media/portal_ui.thumb.png
Labels: dotnet-architecture/svc, cloud-native/subsvc, dotnet-fundamentals/svc, dotnet-azure/svc

#42101 Update dotnet nuget why docs with assets file info
  docs/core/tools/dotnet-nuget-why.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#42088 BinaryFormatter Migration Guide: Formatting, exception type, API links
  docs/standard/serialization/binaryformatter-migration-guide/choose-a-serializer.md
  docs/standard/serialization/binaryformatter-migration-guide/functionality-reference.md
  docs/standard/serialization/binaryformatter-migration-guide/index.md
  docs/standard/serialization/binaryformatter-migration-guide/migrate-to-messagepack.md
  docs/standard/serialization/binaryformatter-migration-guide/read-nrbf-payloads.md
  docs/standard/serialization/binaryformatter-migration-guide/winforms-applications.md
  docs/standard/serialization/binaryformatter-migration-guide/winforms-wpf-ole-guidance.md
  docs/standard/serialization/binaryformatter-migration-guide/wpf-applications.md
Labels: dotnet-fundamentals/svc

#42108 Add line that positions NrbfDecoder as the equivalent of JSON/XML reader
  docs/standard/serialization/binaryformatter-migration-guide/read-nrbf-payloads.md
Labels: dotnet-fundamentals/svc

#42050 Remove 'Publish events that conform to .NET Guidelines' guildeline and redirect to events article in the standard
  .openpublishing.redirection.csharp.json
  docs/csharp/programming-guide/events/how-to-publish-events-that-conform-to-net-framework-guidelines.md
  docs/csharp/toc.yml
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#42033 Rewrite the .NET Uninstall Tool page
  .openpublishing.redirection.core.json
  docs/core/additional-tools/uninstall-tool-cli-dry-run.md
  docs/core/additional-tools/uninstall-tool-cli-list.md
  docs/core/additional-tools/uninstall-tool-cli-remove.md
  docs/core/additional-tools/uninstall-tool-overview.md
  docs/core/additional-tools/uninstall-tool.md
  docs/core/install/remove-runtime-sdk-versions.md
  docs/navigate/tools-diagnostics/toc.yml
  docs/zone-pivot-groups.yml
Labels: dotnet-fundamentals/svc

#42124 Fast follow to #42050
  docs/core/extensions/dependency-injection-basics.md
  docs/csharp/how-to/index.md
  docs/csharp/language-reference/keywords/event.md
  docs/csharp/programming-guide/events/how-to-subscribe-to-and-unsubscribe-from-events.md
  docs/csharp/programming-guide/events/index.md
  docs/standard/serialization/binaryformatter-migration-guide/functionality-reference.md
  docs/standard/serialization/binaryformatter-migration-guide/winforms-applications.md
  docs/standard/serialization/binaryformatter-migration-guide/wpf-applications.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, lang-reference/subsvc, dotnet-fundamentals/svc

#42132 Add more details about options monitoring support.
  docs/core/extensions/options.md
Labels: dotnet-fundamentals/svc, okr-quality

#42131 Reword phrase opening sentences for `IHttpClientFactory` type
  docs/core/extensions/httpclient-factory.md
Labels: dotnet-fundamentals/svc, okr-quality, dotnet-networking/subsvc

#42129 Correct output prompt
  docs/standard/parallel-programming/how-to-write-a-simple-parallel-foreach-loop.md
  samples/snippets/csharp/VS_Snippets_Misc/tpl_parallel/cs/simpleforeach.cs
  samples/snippets/visualbasic/VS_Snippets_Misc/tpl_parallel/vb/simpleforeach.vb
Labels: dotnet-fundamentals/svc, okr-quality

#42127 Update publish as container content
  docs/core/docker/publish-as-container.md
Labels: dotnet-fundamentals/svc, dotnet-docker/subsvc, okr-freshness

#42100 Update What's new in .NET 9 for Preview 7
  docs/core/runtime-config/garbage-collector.md
  docs/core/whats-new/dotnet-9/libraries.md
  docs/core/whats-new/dotnet-9/runtime.md
  docs/core/whats-new/snippets/dotnet-9/csharp/Runtime.cs
  docs/navigate/advanced-programming/toc.yml
  docs/standard/garbage-collection/datas.md
  docs/standard/garbage-collection/media/datas/gen0-gc.png
  docs/standard/garbage-collection/media/datas/workingset.png
Labels: dotnet-fundamentals/svc

#42023 08B-24 .NET Framework release notes
  docs/framework/install/repair.md
  docs/framework/release-notes/2024/08-13-august-security-and-quality-rollup.md
  docs/framework/toc.yml
Labels: dotnet-framework/svc, install/subsvc

#42133 Remove MSBUILD .NET 5-only setting from desktop SDK
  docs/core/project-sdk/msbuild-props-desktop.md
Labels: dotnet-fundamentals/svc

#42125 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42123 Clarify definition
  docs/csharp/language-reference/keywords/partial-type.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, okr-quality

#42030 Update httpclient.md
  docs/fundamentals/networking/http/httpclient.md
Labels: dotnet-fundamentals/svc, community-contribution, dotnet-networking/subsvc

#42049 Add Azure Identity library credential chains doc
  docs/azure/TOC.yml
  docs/azure/sdk/authentication/credential-chains.md
  docs/azure/sdk/authentication/index.md
  docs/azure/sdk/includes/mermaidjs/ChainSequence.md
  docs/azure/sdk/includes/mermaidjs/ChainedTokenCredentialAuthFlow.md
  docs/azure/sdk/includes/mermaidjs/DefaultAzureCredentialAuthFlow.md
  docs/azure/sdk/includes/mermaidjs/DefaultAzureCredentialExcludes.md
  docs/azure/sdk/media/mermaidjs/ChainSequence.svg
  docs/azure/sdk/media/mermaidjs/ChainedTokenCredentialAuthFlow.svg
  docs/azure/sdk/media/mermaidjs/DefaultAzureCredentialAuthFlow.svg
  docs/azure/sdk/media/mermaidjs/DefaultAzureCredentialExcludes.svg
  docs/azure/sdk/snippets/authentication/credential-chains/AuthenticationSampleApp.csproj
  docs/azure/sdk/snippets/authentication/credential-chains/Program.cs
  docs/azure/sdk/snippets/authentication/credential-chains/Properties/launchSettings.json
  docs/azure/sdk/snippets/authentication/credential-chains/appsettings.Development.json
  docs/azure/sdk/snippets/authentication/credential-chains/appsettings.json
  docs/azure/sdk/snippets/authentication/credential-chains/dac-logs.txt
Labels: dotnet-azure/svc

#42178 Bigboybamo patch 4
  docs/csharp/language-reference/keywords/ref.md
Labels: community-contribution

#42174 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: :octocat: auto-merge

#42188 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: :octocat: auto-merge

#42173 Fix logic bug in if statement.
  docs/orleans/quickstarts/build-your-first-orleans-app.md
  docs/orleans/quickstarts/snippets/url-shortener/orleansurlshortener/Program.cs
Labels: okr-quality

#42189 Fix path in template pack command
  docs/core/tutorials/cli-templates-create-template-package.md
Labels: okr-quality

#42190 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: :octocat: auto-merge

#42199 Few more updates to What's new
  docs/core/whats-new/dotnet-9/libraries.md
  docs/core/whats-new/dotnet-9/overview.md
  docs/core/whats-new/dotnet-9/sdk.md
Labels: dotnet-fundamentals/svc

#42191 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42192 Content freshness pass
  docs/azure/azure-tools.md
  docs/azure/configure-visual-studio.md
  docs/azure/configure-vs-code.md
  docs/azure/create-azure-account.md
  docs/azure/dotnet-dev-env-checklist.md
  docs/azure/index.yml
  docs/azure/install-azure-cli.md
  docs/azure/intro.md
  docs/azure/key-azure-services.md
  docs/azure/landing-page.yml
  docs/azure/sdk/authentication/additional-methods.md
Labels: dotnet-azure/svc, okr-freshness

#42206 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42203 Update global-json.md - add example for dotnet new globalJson with ro…
  docs/core/tools/dotnet-new-sdk-templates.md
  docs/core/tools/dotnet-new.md
  docs/core/tools/global-json.md
Labels: dotnet-fundamentals/svc, community-contribution, dotnet-cli/subsvc

#42207 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42202 MSBuild CustomBuildEventArgs deprecation - Update information about Visual Studio
  docs/core/compatibility/sdk/8.0/custombuildeventargs.md
Labels: dotnet-fundamentals/svc

#42217 Update the list of BuildChecks in 9.0
  docs/core/tools/buildcheck-rules/index.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#42208 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42218 Update the BuildCheck opt-in info
  docs/core/whats-new/dotnet-9/sdk.md
Labels: dotnet-fundamentals/svc

#42243 Fix for 42212
  docs/csharp/language-reference/operators/member-access-operators.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#42244 bugfix: Fix typos in keyword links
  docs/core/compatibility/library-change-rules.md
Labels: dotnet-fundamentals/svc, community-contribution, okr-quality

#42251 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42183 Update mstest0002.md
  docs/core/testing/mstest-analyzers/mstest0002.md
Labels: community-contribution

#42184 Update mstest0007.md
  docs/core/testing/mstest-analyzers/mstest0007.md
Labels: community-contribution

#42255 just a simple grammatical correction.
  docs/csharp/language-reference/operators/comparison-operators.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#42254 SFI - ROPC: First group of updates
  docs/core/additional-tools/self-signed-certificates-guide.md
  docs/core/compatibility/extensions/6.0/repeated-xml-elements.md
  docs/core/porting/modernize.md
  docs/framework/configure-apps/file-schema/wcf/add-of-commonparameters.md
  docs/framework/configure-apps/file-schema/wcf/commonparameters.md
  docs/framework/configure-apps/file-schema/wcf/serviceauthorization-element.md
  docs/framework/configure-apps/file-schema/wcf/workflowruntime.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/behavior-of-servicebehaviors-of-workflow.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/sqlworkflowinstancestore.md
  docs/framework/configure-apps/file-schema/windows-workflow-foundation/system-servicemodel-of-workflow.md
  docs/framework/includes/managed-identities.md
  docs/framework/wcf/simplified-configuration.md
  docs/framework/whats-new/obsolete-members.md
  docs/framework/whats-new/obsolete-types.md
  docs/framework/windows-workflow-foundation/configuring-tracking-for-a-workflow.md
  docs/framework/windows-workflow-foundation/csharp-expressions.md
  docs/framework/windows-workflow-foundation/dynamic-update.md
  docs/framework/windows-workflow-foundation/exceptions.md
  docs/framework/windows-workflow-foundation/expressions.md
  docs/framework/windows-workflow-foundation/feature-specifics.md
  docs/framework/windows-workflow-foundation/how-to-create-and-run-a-long-running-workflow.md
  docs/framework/windows-workflow-foundation/how-to-deserialize-instance-data-properties.md
  docs/framework/windows-workflow-foundation/how-to-enable-persistence-for-workflows-and-workflow-services.md
  docs/framework/windows-workflow-foundation/how-to-enable-sql-persistence-for-workflows-and-workflow-services.md
  docs/framework/windows-workflow-foundation/how-to-update-the-definition-of-a-running-workflow-instance.md
  docs/framework/windows-workflow-foundation/net-framework-3-0-wf-in-net-framework-4-interop.md
  docs/framework/windows-workflow-foundation/pausing-and-resuming-a-workflow.md
  docs/framework/windows-workflow-foundation/pick-activity.md
  docs/framework/windows-workflow-foundation/primitives-activities-in-wf.md
  docs/framework/windows-workflow-foundation/required-arguments-and-overload-groups.md
  docs/framework/windows-workflow-foundation/runtime-activities-in-wf.md
  docs/framework/windows-workflow-foundation/samples/database-access-activities.md
  docs/framework/windows-workflow-foundation/sql-workflow-instance-store.md
  docs/framework/windows-workflow-foundation/store-extensibility.md
  docs/framework/windows-workflow-foundation/task-1-create-a-new-wpf-app.md
  docs/framework/windows-workflow-foundation/tracking-events-reference.md
  docs/framework/windows-workflow-foundation/tracking-participants.md
  docs/framework/windows-workflow-foundation/using-activity-delegates.md
  docs/framework/windows-workflow-foundation/variable-and-argument-tracking.md
  docs/framework/windows-workflow-foundation/whats-new-in-wf-in-dotnet.md
  docs/framework/windows-workflow-foundation/workflow-tracking-and-tracing.md
  docs/fundamentals/code-analysis/quality-rules/ca3001.md
  includes/migration-guide/runtime/adonet/adonet-now-attempts-automatically-reconnect-broken-sql-connections.md
  includes/migration-guide/runtime/data/connection-pool-blocking-period-for-azure-sql-databases-removed.md
Labels: dotnet-framework/svc, wcf/subsvc, wf/subsvc, dotnet-fundamentals/svc, data-access/subsvc, dotnet-wcf/subsvc

#42257 Fix link that went to Base64 instead of Base64Url
  docs/core/whats-new/dotnet-9/libraries.md
Labels: dotnet-fundamentals/svc, community-contribution

#42280 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42283 Fix Regex pattern description.
  docs/fundamentals/runtime-libraries/system-text-regularexpressions-regex.md
Labels: dotnet-fundamentals/svc

#42297 Fix mention of MSTest ordering tests
  docs/core/testing/order-unit-tests.md
Labels: dotnet-fundamentals/svc

#42286 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42299 Update system-text-stringbuilder.md
  docs/fundamentals/runtime-libraries/system-text-stringbuilder.md
Labels: dotnet-fundamentals/svc, community-contribution

#42292 SFI - ROPC: Clean up adonet/sql files
  docs/framework/data/adonet/sql/aspnet-apps-using-wait-handles.md
  docs/framework/data/adonet/sql/database-mirroring-in-sql-server.md
  docs/framework/data/adonet/sql/date-and-time-data.md
  docs/framework/data/adonet/sql/detecting-changes-with-sqldependency.md
  docs/framework/data/adonet/sql/enabling-multiple-active-result-sets.md
  docs/framework/data/adonet/sql/filestream-data.md
  docs/framework/data/adonet/sql/inserting-an-image-from-a-file.md
  docs/framework/data/adonet/sql/large-udts.md
  docs/framework/data/adonet/sql/linq/code-generation-in-linq-to-sql.md
  docs/framework/data/adonet/sql/linq/data-retrieval-and-cud-operations-in-n-tier-applications.md
  docs/framework/data/adonet/sql/manipulating-data.md
  docs/framework/data/adonet/sql/polling-in-console-applications.md
  docs/framework/data/adonet/sql/provider-statistics-for-sql-server.md
  docs/framework/data/adonet/sql/single-bulk-copy-operations.md
  docs/framework/data/adonet/sql/specifying-xml-values-as-parameters.md
  docs/framework/data/adonet/sql/sql-server-express-user-instances.md
  docs/framework/data/adonet/sql/sqlclient-support-for-high-availability-disaster-recovery.md
  docs/framework/data/adonet/sql/sqldependency-in-an-aspnet-app.md
  docs/framework/data/adonet/sql/windows-applications-using-callbacks.md
Labels: dotnet-framework/svc, data-access/subsvc

#42287 SFI - ROPC: Clean up adonet/ef files
  .openpublishing.redirection.framework.json
  docs/framework/data/adonet/ef/connection-strings.md
  docs/framework/data/adonet/ef/edm-generator-edmgen-exe.md
  docs/framework/data/adonet/ef/entityclient-provider-for-the-entity-framework.md
  docs/framework/data/adonet/ef/how-to-build-an-entityconnection-connection-string.md
  docs/framework/data/adonet/ef/how-to-define-the-connection-string.md
  docs/framework/data/adonet/ef/how-to-make-model-and-mapping-files-embedded-resources.md
  docs/framework/data/adonet/ef/language-reference/entity-sql-language.md
  docs/framework/data/adonet/ef/migration-considerations.md
  docs/framework/data/adonet/ef/security-considerations.md
  docs/framework/data/adonet/ef/toc.yml
Labels: dotnet-framework/svc, data-access/subsvc

#42289 SFI - ROPC: Clean up adonet files
  docs/framework/data/adonet/asynchronous-programming.md
  docs/framework/data/adonet/code-access-security.md
  docs/framework/data/adonet/connection-string-builders.md
  docs/framework/data/adonet/connection-string-syntax.md
  docs/framework/data/adonet/connection-strings-and-configuration-files.md
  docs/framework/data/adonet/connection-strings.md
  docs/framework/data/adonet/data-providers.md
  docs/framework/data/adonet/dataset-datatable-dataview/creating-a-datatable-from-a-dataview.md
  docs/framework/data/adonet/dataset-datatable-dataview/the-load-method.md
  docs/framework/data/adonet/distributed-transactions.md
  docs/framework/data/adonet/establishing-the-connection.md
  docs/framework/data/adonet/filling-a-dataset-using-one-or-more-ref-cursors.md
  docs/framework/data/adonet/getschema-and-schema-collections.md
  docs/framework/data/adonet/how-to-bind-a-dataview-object-to-a-winforms-datagridview-control.md
  docs/framework/data/adonet/obtaining-a-dbproviderfactory.md
  docs/framework/data/adonet/ole-db-odbc-and-oracle-connection-pooling.md
  docs/framework/data/adonet/oracle-sequences.md
  docs/framework/data/adonet/oracletypes.md
  docs/framework/data/adonet/performance-counters.md
  docs/framework/data/adonet/performing-batch-operations-using-dataadapters.md
  docs/framework/data/adonet/protecting-connection-information.md
  docs/framework/data/adonet/ref-cursor-parameters-in-an-oracledatareader.md
  docs/framework/data/adonet/retrieving-data-from-multiple-ref-cursors.md
  docs/framework/data/adonet/retrieving-identity-or-autonumber-values.md
  docs/framework/data/adonet/schema-restrictions.md
  docs/framework/data/adonet/secure-data-access.md
  docs/framework/data/adonet/sql-server-connection-pooling.md
  docs/framework/data/adonet/sqlclient-streaming-support.md
  docs/framework/data/adonet/system-transactions-integration-with-sql-server.md
  docs/framework/data/adonet/updating-data-sources-with-dataadapters.md
  docs/framework/data/adonet/whats-new.md
  samples/snippets/csharp/VS_Snippets_ADO.NET/DP DataViewWinForms Sample/CS/Form1.cs
  samples/snippets/csharp/VS_Snippets_ADO.NET/DataWorks SqlConnectionStringBuilder.UserNamePwd/CS/Project.csproj
  samples/snippets/csharp/VS_Snippets_ADO.NET/DataWorks SqlConnectionStringBuilder.UserNamePwd/CS/source.cs
  samples/snippets/visualbasic/VS_Snippets_ADO.NET/DP DataViewWinForms Sample/VB/DataViewWinFormsSampleVB.vbproj
  samples/snippets/visualbasic/VS_Snippets_ADO.NET/DP DataViewWinForms Sample/VB/Form1.vb
  samples/snippets/visualbasic/VS_Snippets_ADO.NET/DP DataViewWinForms Sample/VB/My Project/Application.Designer.vb
  samples/snippets/visualbasic/VS_Snippets_ADO.NET/DP DataViewWinForms Sample/VB/My Project/Resources.Designer.vb
  samples/snippets/visualbasic/VS_Snippets_ADO.NET/DP DataViewWinForms Sample/VB/My Project/Settings.Designer.vb
  samples/snippets/visualbasic/VS_Snippets_ADO.NET/DP DataViewWinForms Sample/VB/app.config
  samples/snippets/visualbasic/VS_Snippets_ADO.NET/DataWorks SqlConnectionStringBuilder.UserNamePwd/VB/source.vb
Labels: dotnet-framework/svc, data-access/subsvc

#42302 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42253 Add errors and warnings related to `partial` properties and indexers
  .openpublishing.redirection.csharp.json
  docs/csharp/language-reference/compiler-messages/cs0260.md
  docs/csharp/language-reference/compiler-messages/cs1067.md
  docs/csharp/language-reference/compiler-messages/cs8795.md
  docs/csharp/language-reference/compiler-messages/cs8817.md
  docs/csharp/language-reference/compiler-messages/iterator-yield.md
  docs/csharp/language-reference/compiler-messages/partial-declarations.md
  docs/csharp/language-reference/toc.yml
  docs/csharp/misc/cs0261.md
  docs/csharp/misc/cs0262.md
  docs/csharp/misc/cs0263.md
  docs/csharp/misc/cs0264.md
  docs/csharp/misc/cs0265.md
  docs/csharp/misc/cs0267.md
  docs/csharp/misc/cs0282.md
  docs/csharp/misc/cs0501.md
  docs/csharp/misc/cs0750.md
  docs/csharp/misc/cs0751.md
  docs/csharp/misc/cs0754.md
  docs/csharp/misc/cs0755.md
  docs/csharp/misc/cs0756.md
  docs/csharp/misc/cs0757.md
  docs/csharp/misc/cs0759.md
  docs/csharp/misc/cs0761.md
  docs/csharp/misc/cs0762.md
  docs/csharp/misc/cs0763.md
  docs/csharp/misc/cs0764.md
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, :checkered_flag: Release: .NET 9, csharp-diagnostics/subsvc

#42309 Remove superfluous backticks
  docs/csharp/linq/get-started/write-linq-queries.md
  includes/core-changes/corefx/openssl-dependencies-macos.md
Labels: dotnet-csharp/svc, csharp-linq/subsvc, community-contribution

#42305 SFI: ROPC - Fix up WCF docs
  docs/framework/includes/managed-identities.md
  docs/framework/migration-guide/mitigation-pool-blocking-period.md
  docs/framework/wcf/feature-details/caching-support-for-wcf-web-http-services.md
  docs/framework/wcf/feature-details/creating-a-long-running-workflow-service.md
  docs/framework/wcf/feature-details/how-to-configure-persistence-with-workflowservicehost.md
  docs/framework/wcf/feature-details/how-to-use-the-aspnet-authorization-manager-role-provider-with-a-service.md
  docs/framework/wcf/feature-details/how-to-use-the-aspnet-membership-provider.md
  docs/framework/wcf/feature-details/how-to-use-the-aspnet-role-provider-with-a-service.md
  docs/framework/wcf/feature-details/message-security-with-mutual-certificates.md
  docs/framework/wcf/feature-details/security-behaviors-in-wcf.md
  docs/framework/wcf/samples/durable-instance-context.md
  docs/framework/wcf/samples/membership-and-role-provider.md
  docs/framework/wcf/samples/service-transaction-behavior.md
  docs/framework/whats-new/index.md
Labels: dotnet-framework/svc, app-compat/subsvc, dotnet-wcf/subsvc

#42303 Code fence entire element (WCF docs)
  docs/framework/wcf/configuration-editor-tool-svcconfigeditor-exe.md
  docs/framework/wcf/configuring-services-using-configuration-files.md
  docs/framework/wcf/configuring-wcf-services-in-code.md
  docs/framework/wcf/extending/overriding-the-identity-of-a-service-for-authentication.md
  docs/framework/wcf/extending/specifying-a-custom-crypto-algorithm.md
  docs/framework/wcf/extending/walkthrough-creating-custom-client-and-service-credentials.md
  docs/framework/wcf/feature-details/config-workflow-unhandled-exception-workflowservicehost.md
  docs/framework/wcf/feature-details/configuration-based-activation-in-iis-and-was.md
  docs/framework/wcf/feature-details/configuring-discovery-in-a-configuration-file.md
  docs/framework/wcf/feature-details/hosting-workflow-services.md
  docs/framework/wcf/feature-details/how-to-call-wcf-service-operations-asynchronously.md
  docs/framework/wcf/feature-details/how-to-configure-a-local-issuer.md
  docs/framework/wcf/feature-details/how-to-configure-credentials-on-a-federation-service.md
  docs/framework/wcf/feature-details/how-to-configure-idle-behavior-with-workflowservicehost.md
  docs/framework/wcf/feature-details/how-to-configure-persistence-with-workflowservicehost.md
  docs/framework/wcf/feature-details/how-to-configure-tracking-with-workflowservicehost.md
  docs/framework/wcf/feature-details/how-to-create-a-federated-client.md
  docs/framework/wcf/feature-details/how-to-create-a-wsfederationhttpbinding.md
  docs/framework/wcf/feature-details/how-to-use-svcutil-exe-to-download-metadata-documents.md
  docs/framework/wcf/feature-details/how-to-use-the-aspnet-authorization-manager-role-provider-with-a-service.md
  docs/framework/wcf/feature-details/how-to-use-the-aspnet-membership-provider.md
  docs/framework/wcf/feature-details/how-to-use-the-aspnet-role-provider-with-a-service.md
  docs/framework/wcf/feature-details/how-to-use-transport-security-and-message-credentials.md
  docs/framework/wcf/feature-details/integrating-with-com-plus-applications-overview.md
  docs/framework/wcf/feature-details/mapping-between-json-and-xml.md
  docs/framework/wcf/feature-details/message-security-with-a-certificate-client.md
  docs/framework/wcf/feature-details/partial-trust-feature-compatibility.md
  docs/framework/wcf/feature-details/security-behaviors-in-wcf.md
  docs/framework/wcf/feature-details/securitybindingelement-authentication-modes.md
  docs/framework/wcf/feature-details/standard-endpoints.md
  docs/framework/wcf/feature-details/supporting-multiple-iis-site-bindings.md
  docs/framework/wcf/feature-details/unsupported-scenarios.md
  docs/framework/wcf/feature-details/using-the-message-class.md
  docs/framework/wcf/host-a-wcf-service-net-framework-3-5-iis--net-framework-4.md
  docs/framework/wcf/how-to-secure-a-service-with-windows-credentials.md
  docs/framework/wcf/samples/aspnet-caching-integration.md
  docs/framework/wcf/samples/basicbinding.md
  docs/framework/wcf/samples/soap-and-http-endpoints.md
  docs/framework/wcf/samples/udp-activation.md
  docs/framework/wcf/simplified-configuration.md
  docs/framework/wcf/synchronous-and-asynchronous-operations.md
Labels: dotnet-framework/svc, dotnet-wcf/subsvc

#42279 Add Interactive brokered authentication and wam content
  docs/azure/sdk/authentication/additional-methods.md
  docs/azure/sdk/media/web-account-manager-sign-in-account-picker.png
  docs/azure/sdk/snippets/additional-auth/interactive/InteractiveBrokeredAuth.Designer.cs
  docs/azure/sdk/snippets/additional-auth/interactive/InteractiveBrokeredAuth.cs
  docs/azure/sdk/snippets/additional-auth/interactive/InteractiveBrokeredAuth.resx
  docs/azure/sdk/snippets/additional-auth/interactive/InteractiveBrokeredAuthSample.csproj
  docs/azure/sdk/snippets/additional-auth/interactive/InteractiveBrowserAuth.Designer.cs
  docs/azure/sdk/snippets/additional-auth/interactive/InteractiveBrowserAuth.cs
  docs/azure/sdk/snippets/additional-auth/interactive/InteractiveBrowserAuth.resx
  docs/azure/sdk/snippets/additional-auth/interactive/Program.cs
  docs/azure/sdk/snippets/additional-auth/interactive/SilentBrokeredAuth.Designer.cs
  docs/azure/sdk/snippets/additional-auth/interactive/SilentBrokeredAuth.cs
  docs/azure/sdk/snippets/additional-auth/interactive/SilentBrokeredAuth.resx
  docs/azure/sdk/snippets/additional-auth/username-password/Program.cs
  docs/azure/sdk/snippets/additional-auth/username-password/UsernamePassword.csproj
Labels: dotnet-azure/svc

#42306 Add warning about DAM and add info about DAM on type for IL2075
  docs/core/deploying/trimming/fixing-warnings.md
  docs/core/deploying/trimming/trim-warnings/il2075.md
Labels: dotnet-fundamentals/svc

#42109 Documentation for Workload Sets feature
  docs/core/tools/dotnet-workload-config.md
  docs/core/tools/dotnet-workload-install.md
  docs/core/tools/dotnet-workload-restore.md
  docs/core/tools/dotnet-workload-sets.md
  docs/core/tools/dotnet-workload-update.md
  docs/core/tools/dotnet-workload.md
  docs/core/tools/index.md
  docs/navigate/tools-diagnostics/toc.yml
  includes/cli-version.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#42323 Fixes in response to UUF feedback
  docs/core/additional-tools/uninstall-tool-cli-remove.md
  docs/core/compatibility/9.0.md
  docs/framework/migration-guide/how-to-determine-which-versions-are-installed.md
  docs/standard/serialization/system-text-json/deserialization.md
  docs/standard/serialization/system-text-json/missing-members.md
Labels: dotnet-framework/svc, app-compat/subsvc, dotnet-fundamentals/svc

#42327 Fix missing apostrophe in sample
  samples/snippets/visualbasic/VS_Snippets_CLR/Conceptual.Threading.Resuming/vb/Sleep1.vb
Labels: community-contribution

#42020 Fix for 40072
  docs/csharp/language-reference/builtin-types/struct.md
  docs/csharp/language-reference/compiler-options/code-generation.md
  docs/csharp/language-reference/compiler-options/errors-warnings.md
  docs/csharp/language-reference/compiler-options/language.md
  docs/csharp/language-reference/compiler-options/miscellaneous.md
  docs/csharp/language-reference/compiler-options/output.md
  docs/csharp/language-reference/compiler-options/resources.md
  docs/csharp/language-reference/compiler-options/security.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#42344 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42347 Update comwrappers-source-generation.md
  docs/standard/native-interop/comwrappers-source-generation.md
Labels: dotnet-fundamentals/svc

#42348 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42350 Fix NIST typo in FIPS changes doc
  docs/framework/release-notes/2024/04-23-april-preview-cumulative-update.md
  docs/framework/release-notes/2024/05-14-may-security-and-quality-rollup.md
Labels: dotnet-framework/svc

#42330 Mention the STATestClass and STATestMethod are only in 3.6+
  docs/core/testing/unit-testing-mstest-writing-tests-attributes.md
Labels: dotnet-fundamentals/svc

#42300 Add info how to enable debug logs of Resource Monitoring
  docs/core/diagnostics/diagnostic-resource-monitoring.md
Labels: dotnet-fundamentals/svc

#42353 Add 2 new exit codes for the testing platform
  docs/core/testing/unit-testing-platform-exit-codes.md
Labels: dotnet-fundamentals/svc, community-contribution

#42220 MSTEST0036: Add analyzer for when a test member is shadowing another member
  docs/core/testing/mstest-analyzers/mstest0036.md
  docs/navigate/devops-testing/toc.yml
Labels: dotnet-fundamentals/svc, community-contribution

#42322 Adding link to idempotent message processing from command section
  docs/architecture/cloud-native/service-to-service-communication.md
Labels: dotnet-architecture/svc, cloud-native/subsvc, community-contribution

#42321 Add relevant links
  docs/architecture/cloud-native/communication-patterns.md
Labels: dotnet-architecture/svc, cloud-native/subsvc, community-contribution

#42345 Fix 42325
  docs/csharp/fundamentals/coding-style/snippets/coding-conventions/program.cs
  docs/standard/serialization/system-text-json/use-utf8jsonreader.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, dotnet-fundamentals/svc, community-contribution, okr-quality

#42349 Provide "Inline arrays" article with explanation examples
  docs/csharp/language-reference/builtin-types/snippets/shared/StructType.cs
  docs/csharp/language-reference/builtin-types/struct.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#42351 Add dynamic data sample with protocol methods
  docs/azure/sdk/protocol-convenience-methods.md
  docs/azure/sdk/snippets/protocol-convenience-methods/AzureCoreConvenience/Program.cs
  docs/azure/sdk/snippets/protocol-convenience-methods/AzureCoreProtocol/Program.cs
  docs/azure/sdk/snippets/protocol-convenience-methods/SCMConvenience/Program.cs
  docs/azure/sdk/snippets/protocol-convenience-methods/SCMConvenience/SCMConvenience.csproj
  docs/azure/sdk/snippets/protocol-convenience-methods/SCMProtocol/Program.cs
  docs/azure/sdk/snippets/protocol-convenience-methods/SCMProtocol/SCMProtocol.csproj
Labels: dotnet-azure/svc

#42314 Add MSB3825 Information to winforms-application.md
  docs/standard/serialization/binaryformatter-migration-guide/winforms-applications.md
Labels: dotnet-fundamentals/svc

#42356 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42304 Reworking the OTel overview to take advantage of the Aspire Dashboard
  docs/core/diagnostics/media/aspire-dashboard-auth.png
  docs/core/diagnostics/media/aspire-dashboard-logs-thumb.png
  docs/core/diagnostics/media/aspire-dashboard-logs.png
  docs/core/diagnostics/media/aspire-dashboard-metrics-thumb.png
  docs/core/diagnostics/media/aspire-dashboard-metrics.png
  docs/core/diagnostics/media/aspire-dashboard-spans-thumb.png
  docs/core/diagnostics/media/aspire-dashboard-spans.png
  docs/core/diagnostics/media/aspire-dashboard-thumb.png
  docs/core/diagnostics/media/aspire-dashboard-traces-thumb.png
  docs/core/diagnostics/media/aspire-dashboard-traces.png
  docs/core/diagnostics/media/aspire-dashboard.png
  docs/core/diagnostics/observability-OTLP-example.md
  docs/core/diagnostics/observability-PrGrJa-example.md
  docs/core/diagnostics/observability-applicationinsights.md
  docs/core/diagnostics/observability-with-otel.md
  docs/core/diagnostics/snippets/OTLP-Example/csharp/OTLP-Example.csproj
  docs/core/diagnostics/snippets/OTLP-Example/csharp/Program.cs
  docs/core/diagnostics/snippets/OTLP-Example/csharp/Properties/launchSettings.json
  docs/core/diagnostics/snippets/OTLP-Example/csharp/appsettings.Development.json
  docs/core/diagnostics/snippets/OTLP-Example/csharp/appsettings.json
  docs/core/diagnostics/snippets/OTel-Prometheus-Grafana-Jaeger/csharp/OTel-Prometheus-Grafana-Jaeger.csproj
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/svc

#42369 Fix typo: "release keys" to "release values" (#42219)
  docs/framework/migration-guide/how-to-determine-which-versions-are-installed.md
Labels: dotnet-framework/svc, app-compat/subsvc, community-contribution

#42368 Maintenance of Azure Identity library sample apps
  docs/azure/sdk/authentication/additional-methods.md
  docs/azure/sdk/snippets/additional-auth/username-password/Program.cs
  docs/azure/sdk/snippets/authentication/Directory.Packages.props
  docs/azure/sdk/snippets/authentication/additional-auth/interactive/InteractiveBrokeredAuth.Designer.cs
  docs/azure/sdk/snippets/authentication/additional-auth/interactive/InteractiveBrokeredAuth.cs
  docs/azure/sdk/snippets/authentication/additional-auth/interactive/InteractiveBrokeredAuth.csproj
  docs/azure/sdk/snippets/authentication/additional-auth/interactive/InteractiveBrokeredAuth.resx
  docs/azure/sdk/snippets/authentication/additional-auth/interactive/InteractiveBrowserAuth.Designer.cs
  docs/azure/sdk/snippets/authentication/additional-auth/interactive/InteractiveBrowserAuth.cs
  docs/azure/sdk/snippets/authentication/additional-auth/interactive/InteractiveBrowserAuth.resx
  docs/azure/sdk/snippets/authentication/additional-auth/interactive/Program.cs
  docs/azure/sdk/snippets/authentication/additional-auth/interactive/SilentBrokeredAuth.Designer.cs
  docs/azure/sdk/snippets/authentication/additional-auth/interactive/SilentBrokeredAuth.cs
  docs/azure/sdk/snippets/authentication/additional-auth/interactive/SilentBrokeredAuth.resx
  docs/azure/sdk/snippets/authentication/additional-auth/username-password/Program.cs
  docs/azure/sdk/snippets/authentication/additional-auth/username-password/UsernamePassword.csproj
  docs/azure/sdk/snippets/authentication/credential-chains/AuthenticationSampleApp.csproj
  docs/azure/sdk/snippets/authentication/credential-chains/CredentialChains.csproj
Labels: dotnet-azure/svc

#42370 Add few changes to path changes with .NET 8 and Windows 11
  docs/standard/io/file-path-formats.md
Labels: dotnet-fundamentals/svc, okr-quality, okr-health

#42380 Incorporate feedback into protocol methods doc
  docs/azure/sdk/protocol-convenience-methods.md
  docs/azure/sdk/snippets/protocol-convenience-methods/AzureCoreProtocol/Program.cs
  docs/azure/sdk/snippets/protocol-convenience-methods/SCMProtocol/Program.cs
Labels: dotnet-azure/svc

#42366 Add new Resource Monitoring metrics
  docs/core/diagnostics/built-in-metrics-diagnostics.md
Labels: dotnet-fundamentals/svc

#42379 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42372 Update uninstall info for Win 11
  docs/core/install/media/remove-runtime-sdk-versions/add-or-remove.png
  docs/core/install/media/remove-runtime-sdk-versions/programs-and-features.png
  docs/core/install/media/remove-runtime-sdk-versions/search-net-filter.png
  docs/core/install/remove-runtime-sdk-versions.md
Labels: dotnet-fundamentals/svc, okr-quality, install/subsvc

#40967 Create custom-configuration.md
  docs/azure/TOC.yml
  docs/azure/migration/appcat/custom-configuration.md
Labels: dotnet-azure/svc

#42328 Testing platform new output parameters
  docs/core/testing/media/test-output-and-summary-with-passed.png
  docs/core/testing/media/test-output-and-summary.png
  docs/core/testing/media/test-progress-bar.png
  docs/core/testing/unit-testing-platform-extensions-output.md
  docs/navigate/devops-testing/toc.yml
Labels: dotnet-fundamentals/svc

#42381 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42383 zlib breaking change
  docs/core/compatibility/9.0.md
  docs/core/compatibility/containers/9.0/no-zlib.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#42384 Fix typos in ASP.NET breaking change
  docs/core/compatibility/aspnet-core/8.0/addratelimiter-requirement.md
Labels: dotnet-fundamentals/svc

#42385 Use consistent global analyzer file setting
  docs/fundamentals/code-analysis/configuration-files.md
Labels: dotnet-fundamentals/svc

#42392 typo
  docs/csharp/language-reference/keywords/out.md
Labels: dotnet-csharp/svc, lang-reference/subsvc

#42398 Use "opt in to" instead of "opt into"
  docs/azure/sdk/authentication/additional-methods.md
  docs/core/compatibility/aspnet-core/5.0/blazor-routing-logic-changed.md
  docs/core/compatibility/aspnet-core/5.0/kestrel-configuration-changes-at-run-time-detected-by-default.md
  docs/core/compatibility/containers/8.0/app-user.md
  docs/core/compatibility/core-libraries/7.0/filestream-compat-switch.md
  docs/core/compatibility/sdk/8.0/trimming-unsupported-targetframework.md
  docs/core/compatibility/windows-forms/8.0/forms-scale-size-to-dpi.md
  docs/core/deploying/deploy-with-cli.md
  docs/core/extensions/create-satellite-assemblies.md
  docs/core/sdk/artifacts-output.md
  docs/core/tools/dotnet-environment-variables.md
  docs/core/whats-new/dotnet-8/runtime.md
  docs/core/whats-new/dotnet-8/sdk.md
  docs/core/whats-new/dotnet-9/sdk.md
  docs/core/whats-new/dotnet-core-2-1.md
  docs/csharp/tutorials/nullable-reference-types.md
  docs/framework/configure-apps/file-schema/runtime/appcontextswitchoverrides-element.md
  docs/framework/configure-apps/file-schema/runtime/netfx40-pinvokestackresilience-element.md
  docs/framework/configure-apps/file-schema/winforms/windows-forms-add-configuration-element.md
  docs/framework/migration-guide/mitigation-wpf-layout.md
  docs/framework/migration-guide/mitigation-xml-schema-validation.md
  docs/framework/tools/caspol-exe-code-access-security-policy-tool.md
  docs/framework/whats-new/index.md
  docs/framework/whats-new/whats-new-in-accessibility.md
  docs/fundamentals/apicompat/overview.md
  docs/fundamentals/code-analysis/style-rules/ide0303.md
  docs/fundamentals/code-analysis/style-rules/ide0304.md
  docs/standard/serialization/system-text-json/polymorphism.md
Labels: dotnet-framework/svc, app-compat/subsvc, dotnet-csharp/svc, fundamentals/subsvc, dotnet-fundamentals/svc, dotnet-azure/svc, dotnet-cli/subsvc

#42396 Edit pass on protocol methods doc
  docs/azure/sdk/protocol-convenience-methods.md
  docs/azure/sdk/snippets/protocol-convenience-methods/AzureCore/Convenience/AzureCoreConvenience.csproj
  docs/azure/sdk/snippets/protocol-convenience-methods/AzureCore/Convenience/Program.cs
  docs/azure/sdk/snippets/protocol-convenience-methods/AzureCore/Directory.Packages.props
  docs/azure/sdk/snippets/protocol-convenience-methods/AzureCore/Protocol/AzureCoreProtocol.csproj
  docs/azure/sdk/snippets/protocol-convenience-methods/AzureCore/Protocol/Program.cs
  docs/azure/sdk/snippets/protocol-convenience-methods/SCM/Convenience/Program.cs
  docs/azure/sdk/snippets/protocol-convenience-methods/SCM/Convenience/SCMConvenience.csproj
  docs/azure/sdk/snippets/protocol-convenience-methods/SCM/Directory.Packages.props
  docs/azure/sdk/snippets/protocol-convenience-methods/SCM/Protocol/Program.cs
  docs/azure/sdk/snippets/protocol-convenience-methods/SCM/Protocol/SCMProtocol.csproj
Labels: dotnet-azure/svc

#42403 fixed stringly instead of strongly typo
  docs/csharp/roslyn-sdk/source-generators-overview.md
Labels: dotnet-csharp/svc, roslyn-sdk/subsvc, community-contribution
