Repository dotnet/docs, pull requests merged in 2024-09, with the labels that each got.

#42324 Document the need for sending data after opening a QUIC stream
  docs/fundamentals/networking/quic/quic-overview.md
Labels: dotnet-fundamentals/svc, community-contribution, dotnet-networking/subsvc

#42293 Add HttpClientFactory troubleshooting docs
  docs/core/extensions/httpclient-factory-troubleshooting.md
  docs/core/extensions/httpclient-factory.md
  docs/fundamentals/networking/http/httpclient-guidelines.md
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/svc, dotnet-networking/subsvc

#42395 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42418 Fix default build configuration
  docs/core/tutorials/publishing-with-visual-studio-code.md
Labels: dotnet-fundamentals/svc, okr-quality, okr-health

#42416 Remove the shift operand type requirement statement
  docs/csharp/language-reference/operators/bitwise-and-shift-operators.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution, okr-quality

#42420 bugfix: Fix typo in tuple equality operators link
  docs/csharp/language-reference/builtin-types/value-tuples.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution, okr-quality

#42387 Add property to add non-file URL resolver support
  docs/core/deploying/native-aot/optimizing.md
  docs/core/deploying/trimming/trimming-options.md
Labels: dotnet-fundamentals/svc

#42422 More precise explanation for dotnet format subcommands
  docs/core/tools/dotnet-format.md
Labels: dotnet-fundamentals/svc, community-contribution, dotnet-cli/subsvc

#42426 Add xref to IsNothing
  docs/visual-basic/misc/bc30760.md
Labels: dotnet-visualbasic/svc, errors-warnings/subsvc

#42417 Adding tracking and minor updates
  docs/standard/serialization/system-text-json/migrate-from-newtonsoft.md
Labels: dotnet-fundamentals/svc, community-contribution

#42437 What's new in .NET9 - AlternateLookup snippet - unused code removal
  docs/core/whats-new/snippets/dotnet-9/csharp/Collections.cs
Labels: dotnet-fundamentals/svc, community-contribution

#42448 Whats's new .NET 9 - Libraries - fix malformed xref
  docs/core/whats-new/dotnet-9/libraries.md
Labels: dotnet-fundamentals/svc, community-contribution

#42446 Add link to workload sets doc
  docs/core/whats-new/dotnet-9/sdk.md
Labels: dotnet-fundamentals/svc

#42449 Rename files with lower-case characters
  docs/core/diagnostics/observability-otlp-example.md
  docs/core/diagnostics/observability-prgrja-example.md
Labels: dotnet-fundamentals/svc

#42450 Fix more warnings
  docs/core/diagnostics/observability-applicationinsights.md
  docs/core/diagnostics/observability-otlp-example.md
  docs/core/diagnostics/observability-with-otel.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/svc

#42427 .NET9 What's new - Runtime - align name with sample code snippet
  docs/core/whats-new/snippets/dotnet-9/csharp/Runtime.cs
Labels: dotnet-fundamentals/svc, community-contribution

#42359 Misc diagnostic doc cleanup
  docs/core/diagnostics/built-in-metrics-diagnostics.md
  docs/core/diagnostics/built-in-metrics-runtime.md
  docs/core/diagnostics/built-in-metrics.md
  docs/core/diagnostics/compare-metric-apis.md
  docs/core/diagnostics/debug-stackoverflow.md
  docs/core/diagnostics/distributed-tracing-collection-walkthroughs.md
  docs/core/diagnostics/dotnet-trace.md
  docs/core/diagnostics/event-counters.md
  docs/core/diagnostics/logging-tracing.md
  docs/core/diagnostics/metrics-instrumentation.md
Labels: dotnet-fundamentals/svc, okr-quality

#42452 Change file name
  docs/fsharp/style-guide/conventions.md
Labels: dotnet-fsharp/svc

#42456 Correct EventPipe comparison info
  docs/core/diagnostics/eventpipe.md
Labels: dotnet-fundamentals/svc

#42458 Typo in What's New in C#13
  docs/csharp/whats-new/csharp-13.md
Labels: dotnet-csharp/svc, whats-new/subsvc, community-contribution

#42462 Fix Syntax for Output Samples
  docs/csharp/language-reference/attributes/caller-information.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#42465 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42357 Add GitHub Copilot use case to serialize JSON
  docs/standard/serialization/system-text-json/how-to.md
  docs/standard/serialization/system-text-json/media/serialize-json-using-github-copilot.gif
Labels: dotnet-fundamentals/svc, community-contribution

#42470 Update how-to.md
  docs/standard/serialization/system-text-json/how-to.md
Labels: dotnet-fundamentals/svc

#42451 Breaking change for floating point to int conversions
  docs/core/compatibility/9.0.md
  docs/core/compatibility/jit/9.0/fp-to-integer.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc, :checkered_flag: Release: .NET 9

#42469 Part of ROPC
  docs/framework/whats-new/index.md
Labels: dotnet-framework/svc

#42397 [.NET 9 rc1] Add docs for configuring .NET install search behaviour in published apphost
  docs/core/deploying/deploy-with-cli.md
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/svc

#42474 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42478 Update appcat config
  docs/azure/TOC.yml
  docs/azure/migration/appcat/custom-configuration.md
  docs/azure/migration/appcat/faq.md
Labels: dotnet-azure/svc

#42484 IMsoComponent integration breaking change
  docs/core/compatibility/9.0.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/windows-forms/9.0/imsocomponent-support.md
Labels: dotnet-fundamentals/svc

#42490 Update testing platform documentation
  docs/core/testing/unit-testing-platform-extensions-vstest-bridge.md
  docs/core/testing/unit-testing-platform-intro.md
  docs/core/testing/unit-testing-platform-vs-vstest.md
Labels: dotnet-fundamentals/svc, community-contribution

#42361 k8s pod permission issue
  docs/orleans/deployment/kubernetes.md
Labels: community-contribution

#42482 Crypto docs
  docs/standard/security/cross-platform-cryptography.md
Labels: dotnet/svc, security-practices/subsvc, dotnet-fundamentals/svc

#42492 Update mstest0022.md
  docs/core/testing/mstest-analyzers/mstest0022.md
Labels: dotnet-fundamentals/svc, community-contribution

#42494 Update mstest0025.md
  docs/core/testing/mstest-analyzers/mstest0025.md
Labels: dotnet-fundamentals/svc, community-contribution

#42495 Update mstest0005.md
  docs/core/testing/mstest-analyzers/mstest0005.md
Labels: dotnet-fundamentals/svc, community-contribution

#42411 Adding consideration on how much data to share via integration events
  docs/architecture/microservices/architect-microservice-container-applications/asynchronous-message-based-communication.md
Labels: dotnet-architecture/svc, microservices/subsvc, community-contribution

#42447 Add Development Containers to official .NET containers doc
  docs/architecture/microservices/net-core-net-framework-containers/official-net-docker-images.md
Labels: dotnet-architecture/svc, microservices/subsvc

#42471 Small fix-ups
  docs/standard/serialization/system-text-json/how-to.md
Labels: dotnet-fundamentals/svc

#42487 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42476 Added a "Known issues" section describing a potential issue with Grpc.Net.ClientFactory library
  docs/core/resilience/http-resilience.md
Labels: dotnet-fundamentals/svc

#42475 ZipArchiveEntry encoding breaking change
  docs/core/compatibility/9.0.md
  docs/core/compatibility/core-libraries/9.0/ziparchiveentry-encoding.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#42488 Fix typo in trim-self-contained
  docs/core/deploying/trimming/trim-self-contained.md
Labels: dotnet-fundamentals/svc, community-contribution

#42483 Redact headers by default
  docs/core/compatibility/9.0.md
  docs/core/compatibility/networking/9.0/redact-headers.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#42486 Diagnostics and DI breaking changes
  docs/core/compatibility/9.0.md
  docs/core/compatibility/core-libraries/9.0/async-callback.md
  docs/core/compatibility/core-libraries/9.0/non-keyed-params.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#42485 Fix line highlighting in username/password code sample
  docs/azure/sdk/authentication/additional-methods.md
Labels: dotnet-azure/svc

#42506 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42500 update CS0267 description
  docs/csharp/language-reference/compiler-messages/partial-declarations.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution, okr-quality, csharp-diagnostics/subsvc

#42504 #42402 Updated cs0525.md
  docs/csharp/misc/cs0525.md
Labels: dotnet-csharp/svc, community-contribution, okr-quality, csharp-errors-warnings/subsvc

#40823 The MMM and MMMM formats may include genitive names.
  docs/fundamentals/runtime-libraries/system-globalization-datetimeformatinfo.md
  docs/standard/base-types/custom-date-and-time-format-strings.md
Labels: dotnet-fundamentals/svc, community-contribution

#42510 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42513 Add link
  docs/csharp/language-reference/keywords/extern.md
Labels: dotnet-csharp/svc, lang-reference/subsvc

#42514 Make it more clear that a positional pattern relies on `Deconstruct`
  docs/csharp/language-reference/operators/patterns.md
Labels: dotnet-csharp/svc, lang-reference/subsvc

#42404 Add MSBuild test-related properties
  docs/core/project-sdk/msbuild-props.md
  docs/core/project-sdk/overview.md
  docs/core/testing/unit-testing-mstest-runner-intro.md
  docs/core/testing/unit-testing-mstest-sdk.md
  docs/core/testing/unit-testing-platform-faq.md
  docs/core/testing/unit-testing-platform-integration-dotnet-test.md
  docs/core/testing/unit-testing-platform-intro.md
Labels: dotnet-fundamentals/svc

#42556 Update System.IO.Pipelines title
  docs/standard/io/pipelines.md
Labels: dotnet-fundamentals/svc

#42559 Address all SFI ROPC concerns.
  docs/architecture/maui/authentication-and-authorization.md
  docs/architecture/maui/mvvm.md
  docs/architecture/microservices/docker-application-development-process/docker-app-development-workflow.md
  docs/architecture/microservices/implement-resilient-applications/implement-resilient-entity-framework-core-sql-connections.md
  docs/architecture/microservices/implement-resilient-applications/monitor-app-health.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/cqrs-microservice-reads.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/nosql-database-persistence-infrastructure.md
  docs/architecture/microservices/multi-container-microservice-net-applications/data-driven-crud-microservice.md
  docs/architecture/microservices/multi-container-microservice-net-applications/test-aspnet-core-services-web-apps.md
  docs/core/extensions/configuration-providers.md
  docs/orleans/grains/grain-persistence/index.md
  docs/orleans/host/configuration-guide/configuring-ado-dot-net-providers.md
  docs/orleans/implementation/streams-implementation/azure-queue-streams.md
Labels: dotnet-architecture/svc, microservices/subsvc, dotnet-fundamentals/svc

#42419 Add no-loc metadata to stop localization of command names in headings and meta description
  docs/core/tools/dotnet-workload-install.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#42550 What's new for .NET 9 RC 1
  docs/core/whats-new/dotnet-9/libraries.md
  docs/core/whats-new/dotnet-9/overview.md
  docs/core/whats-new/dotnet-9/runtime.md
  docs/core/whats-new/dotnet-9/sdk.md
  docs/core/whats-new/snippets/dotnet-9/csharp/Collections.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/Compression.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/Diagnostics.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/Networking.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/Program.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/Project.csproj
  docs/core/whats-new/snippets/dotnet-9/csharp/Runtime.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/Serialization.cs
  docs/core/whats-new/snippets/dotnet-9/csharp/TarEntry.cs
Labels: dotnet-fundamentals/svc

#42546 Document RequiresDynamicCode APIs that are intrinsically recognized
  docs/core/deploying/native-aot/intrinsic-requiresdynamiccode-apis.md
  docs/core/deploying/native-aot/warnings/il3050.md
  docs/navigate/devops-testing/toc.yml
Labels: dotnet-fundamentals/svc

#42554 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42557 Fix link
  docs/csharp/language-reference/keywords/extern.md
Labels: dotnet-csharp/svc, lang-reference/subsvc

#42590 Change from final to sealed
  docs/standard/base-types/common-type-system.md
Labels: dotnet-fundamentals/svc, community-contribution

#42567 Update: the usage instructions for parameter <ConsiderFixturesAsSpecialTests>
  docs/core/testing/unit-testing-mstest-configure.md
Labels: dotnet-fundamentals/svc, community-contribution

#42555 Update mstest0020.md
  docs/core/testing/mstest-analyzers/mstest0020.md
Labels: dotnet-fundamentals/svc, community-contribution

#42570 fix - Fixed grammatical mistakes in the MSTEST0035 doc
  docs/core/testing/mstest-analyzers/mstest0035.md
Labels: dotnet-fundamentals/svc, community-contribution

#42582 Corrected the generic host configuration sample based on feedback.
  docs/core/extensions/generic-host.md
  docs/core/extensions/snippets/configuration/console-host/Program.cs
Labels: dotnet-fundamentals/svc, community-contribution

#42595 Update linux-scripted-manual with latest info
  docs/core/install/linux-scripted-manual.md
Labels: dotnet-fundamentals/svc, install/subsvc

#42577 Remove a link
  docs/csharp/language-reference/keywords/abstract.md
Labels: dotnet-csharp/svc, lang-reference/subsvc

#42597 Replace general 'allmost all' with more specific sentence about omitting `finally` block
  docs/csharp/language-reference/statements/exception-handling-statements.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution, okr-quality

#42593 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42603 Fix typo in keyboard shortcut formatting
  docs/visual-basic/programming-guide/language-features/early-late-binding/walkthrough-creating-and-using-dynamic-objects.md
Labels: dotnet-visualbasic/svc, community-contribution

#42606 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42610 Fix: Correct Markdown Formatting for File Name in Dependency Injection Basics Doc
  docs/core/extensions/dependency-injection-basics.md
Labels: dotnet-fundamentals/svc, community-contribution

#42393 Update Dotnet MSBuild Version Documentation
  docs/core/compatibility/sdk/8.0/version-requirements.md
Labels: dotnet-fundamentals/svc, community-contribution

#42616 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42394 Add OverloadResolutionPriority conceptual documentation.
  docfx.json
  docs/csharp/language-reference/attributes/general.md
  docs/csharp/language-reference/attributes/snippets/OrpaSnippets.cs
  docs/csharp/language-reference/attributes/snippets/Program.cs
  docs/csharp/language-reference/attributes/snippets/attributes.csproj
  docs/csharp/specification/toc.yml
  docs/csharp/whats-new/csharp-13.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, whats-new/subsvc

#42563 Add errors and warnings related to overload resolution
  .openpublishing.redirection.csharp.json
  docs/csharp/language-reference/compiler-messages/array-declaration-errors.md
  docs/csharp/language-reference/compiler-messages/cs0034.md
  docs/csharp/language-reference/compiler-messages/cs1019.md
  docs/csharp/language-reference/compiler-messages/cs1063.md
  docs/csharp/language-reference/compiler-messages/cs1501.md
  docs/csharp/language-reference/compiler-messages/overload-resolution.md
  docs/csharp/language-reference/toc.yml
  docs/csharp/misc/cs0035.md
  docs/csharp/misc/cs0111.md
  docs/csharp/misc/cs0121.md
  docs/csharp/misc/cs0457.md
  docs/csharp/misc/cs0663.md
  docs/csharp/misc/cs1007.md
  docs/csharp/misc/cs1020.md
  docs/csharp/misc/cs1534.md
  docs/csharp/misc/cs1535.md
  docs/csharp/misc/cs1928.md
  docs/csharp/misc/cs1929.md
  docs/csharp/misc/cs1950.md
  docs/csharp/misc/cs3006.md
  docs/csharp/misc/sorry-we-don-t-have-specifics-on-this-csharp-error.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, :checkered_flag: Release: .NET 9, csharp-errors-warnings/subsvc, csharp-diagnostics/subsvc

#42614 Update xunit documentation
  docs/core/testing/unit-testing-platform-intro.md
Labels: dotnet-fundamentals/svc, community-contribution

#42594 Update mstest0019.md
  docs/core/testing/mstest-analyzers/mstest0019.md
Labels: dotnet-fundamentals/svc, community-contribution

#42622 dotnet test mention differences when using new platform
  docs/core/tools/dotnet-test.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#42623 Add and move C# 13 specifications to the correct folder
  docfx.json
  docs/csharp/language-reference/attributes/general.md
  docs/csharp/specification/toc.yml
  docs/csharp/whats-new/csharp-13.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, whats-new/subsvc

#42624 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42628 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42633 subtle bug in the condition
  samples/snippets/csharp/VS_Snippets_CLR/conceptual.choosingdates/cs/datetimereplacement1.cs
Labels: community-contribution

#42640 Fixed the xref tag
  docs/architecture/maui/mvvm.md
Labels: dotnet-architecture/svc, community-contribution

#42585 Document native AOT security aspects
  docs/core/deploying/native-aot/security.md
  docs/navigate/devops-testing/toc.yml
Labels: dotnet-fundamentals/svc

#42547 Update native AOT index.md for .NET 9
  docs/core/deploying/native-aot/index.md
Labels: dotnet-fundamentals/svc

#42635 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42653 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42657 Update interfaces.md
  docs/csharp/fundamentals/types/interfaces.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#42659 Document CorHandleWeakWinRT
  docs/framework/unmanaged-api/debugging/corgcreferencetype-enumeration.md
Labels: dotnet-framework/svc

#42666 Fix metric attribute error in built-in-metrics-aspnetcore.md
  docs/core/diagnostics/built-in-metrics-aspnetcore.md
Labels: dotnet-fundamentals/svc, community-contribution

#42665 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42669 Fix typo in dotnet-nuget-config-set.md
  docs/core/tools/dotnet-nuget-config-set.md
Labels: dotnet-fundamentals/svc, community-contribution, dotnet-cli/subsvc

#42671 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42672 Rephrase the multi-line comments rule to be more precise regarding localization (translations)
  docs/csharp/fundamentals/coding-style/coding-conventions.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#42625 Add Copilot use case
  docs/standard/serialization/system-text-json/customize-properties.md
  docs/standard/serialization/system-text-json/snippets/how-to-6-0/csharp/copilot-example.cs
Labels: dotnet-fundamentals/svc, community-contribution

#42673 StackOverflow debug improvements
  docs/core/diagnostics/debug-stackoverflow.md
  docs/core/diagnostics/media/visual_studio_stackoverflow_callstack.png
  docs/core/diagnostics/media/visual_studio_stackoverflow_exception.png
Labels: dotnet-fundamentals/svc

#42688 Fix linting errors
  docs/standard/serialization/system-text-json/customize-properties.md
Labels: dotnet-fundamentals/svc, community-contribution

#42686 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42687 SFI: More ROPC work
  docs/architecture/microservices/docker-application-development-process/docker-app-development-workflow.md
  docs/architecture/microservices/implement-resilient-applications/implement-resilient-entity-framework-core-sql-connections.md
  docs/architecture/microservices/implement-resilient-applications/monitor-app-health.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/nosql-database-persistence-infrastructure.md
  docs/architecture/microservices/multi-container-microservice-net-applications/data-driven-crud-microservice.md
  docs/architecture/microservices/multi-container-microservice-net-applications/test-aspnet-core-services-web-apps.md
  docs/core/extensions/configuration-providers.md
  docs/framework/data/adonet/ado-net-code-examples.md
  docs/framework/data/adonet/asynchronous-programming.md
  docs/framework/data/adonet/code-access-security.md
  docs/framework/data/adonet/connection-string-builders.md
  docs/framework/data/adonet/connection-string-syntax.md
  docs/framework/data/adonet/connection-strings-and-configuration-files.md
  docs/framework/data/adonet/connection-strings.md
  docs/framework/data/adonet/obtaining-a-dbproviderfactory.md
  docs/framework/data/adonet/ole-db-odbc-and-oracle-connection-pooling.md
  docs/framework/data/adonet/performance-counters.md
  docs/framework/data/adonet/protecting-connection-information.md
  docs/framework/data/adonet/secure-data-access.md
  docs/framework/data/adonet/sql-server-connection-pooling.md
  docs/framework/data/adonet/sql/sql-server-express-user-instances.md
  docs/framework/whats-new/index.md
  docs/framework/windows-workflow-foundation/how-to-create-and-run-a-long-running-workflow.md
  docs/framework/windows-workflow-foundation/how-to-deserialize-instance-data-properties.md
  docs/framework/windows-workflow-foundation/how-to-enable-persistence-for-workflows-and-workflow-services.md
  docs/framework/windows-workflow-foundation/how-to-enable-sql-persistence-for-workflows-and-workflow-services.md
  docs/framework/windows-workflow-foundation/how-to-update-the-definition-of-a-running-workflow-instance.md
  docs/framework/windows-workflow-foundation/samples/database-access-activities.md
  docs/fundamentals/code-analysis/quality-rules/ca2100.md
  docs/includes/managed-identities.md
  docs/machine-learning/how-to-guides/load-data-ml-net.md
  docs/orleans/grains/grain-persistence/index.md
  docs/orleans/host/configuration-guide/configuring-ado-dot-net-providers.md
  docs/standard/data/sqlite/connection-strings.md
  docs/standard/data/sqlite/encryption.md
  docs/standard/parallel-programming/walkthrough-using-batchblock-and-batchedjoinblock-to-improve-efficiency.md
  samples/snippets/csharp/VS_Snippets_Data/DP L2E Conceptual Examples/CS/App.Config
  samples/snippets/csharp/VS_Snippets_Data/DP L2E Examples/CS/App.Config
  samples/snippets/csharp/VS_Snippets_Data/DP L2E Materialization Example/CS/App.Config
  samples/snippets/csharp/VS_Snippets_Data/DP ObjectServices Concepts/CS/Source.cs
  samples/snippets/csharp/VS_Snippets_Data/DP ObjectServices Concepts/CS/app.config
  samples/snippets/csharp/VS_Snippets_Data/dp conceptualmodelfunctions/cs/app.config
  samples/snippets/csharp/VS_Snippets_Data/dp entityservices concepts/cs/app.config
  samples/snippets/csharp/VS_Snippets_Data/dp entityservices concepts/cs/source.cs
  samples/snippets/csharp/VS_Snippets_Data/dp l2e arraysandlistsinqueries/cs/app.config
  samples/snippets/csharp/VS_Snippets_Data/dp l2e canonicalandstorefunctions/cs/app.config
  samples/snippets/csharp/VS_Snippets_Data/dp l2e maptodbfunction/cs/app.config
  samples/snippets/csharp/VS_Snippets_Data/dp l2e methods on objectcontext/cs/app.config
  samples/snippets/csharp/VS_Snippets_Data/l2s_querycache/cs/app.config
  samples/snippets/csharp/VS_Snippets_Data/l2s_querycache/cs/northwind.dbml
  samples/snippets/csharp/VS_Snippets_Data/l2s_querycache/cs/properties/settings.designer.cs
  samples/snippets/csharp/VS_Snippets_Data/l2s_querycache/cs/properties/settings.settings
  samples/snippets/csharp/VS_Snippets_Misc/tpldataflow_batchdatabase/cs/DataFlowBatch.csproj
  samples/snippets/csharp/VS_Snippets_Misc/tpldataflow_batchdatabase/cs/dataflowbatchdatabase.cs
  samples/snippets/csharp/VS_Snippets_Misc/tpldataflow_batchdatabase/cs/makefile
  samples/snippets/csharp/VS_Snippets_Remoting/TransactionScope/cs/Project.csproj
  samples/snippets/csharp/VS_Snippets_Remoting/TransactionScope/cs/ScopeWithSQL.cs
  samples/snippets/standard/data/sqlite/DirtyReadSample/Program.cs
  samples/snippets/standard/data/sqlite/EncryptionSample/Program.cs
Labels: dotnet-framework/svc, dotnet-architecture/svc, microservices/subsvc, dotnet-ml/svc, wf/subsvc, dotnet-fundamentals/svc, dotnet-data/svc, data-access/subsvc

#42694 Update event.md -a next proposal
  docs/csharp/language-reference/keywords/event.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#42699 Remove incorrect implementation detail
  docs/fundamentals/runtime-libraries/system-text-stringbuilder.md
Labels: dotnet-fundamentals/svc

#42695 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42719 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: :octocat: auto-merge

#42720 #42677 suspected typo how to control serialization of derived classes
  docs/standard/serialization/how-to-control-serialization-of-derived-classes.md
Labels: dotnet-fundamentals/svc, community-contribution, okr-quality

#42721 Update glossary.md
  docs/standard/glossary.md
Labels: dotnet-fundamentals/svc

#42638 Set policy for stale / abandoned PRs
  README.md
  admin/3rdPartyDependencies.md
  admin/governance.md
  styleguide/labels-projects.md
  styleguide/template.md
  styleguide/voice-tone.md
Labels: okr-freshness

#42722 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42697 deprecate SHA-1 usage in dotnet nuget sign command
  docs/core/tools/dotnet-nuget-sign.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#42639 Emphasize concerns with `latest` `LangVersion`
  docs/csharp/language-reference/compiler-options/language.md
  docs/csharp/language-reference/configure-language-version.md
  docs/csharp/language-reference/language-versioning.md
  docs/csharp/versioning.md
Labels: dotnet-csharp/svc, lang-reference/subsvc

#42729 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42735 Update NRBF docs with upcoming breaking change
  docs/standard/serialization/binaryformatter-migration-guide/read-nrbf-payloads.md
Labels: dotnet-fundamentals/svc

#42242 Adding HttpWebRequest to HttpClient Migration Guide
  docs/fundamentals/networking/http/httpclient-migrate-from-httpwebrequest.md
  docs/fundamentals/networking/snippets/httpclient/AddCacheControlHeaders.cs
  docs/fundamentals/networking/snippets/httpclient/DnsRoundRobin.cs
  docs/fundamentals/networking/snippets/httpclient/Program.CacheControlHeaders.cs
  docs/fundamentals/networking/snippets/httpclient/Program.DnsRoundRobin.cs
  docs/fundamentals/networking/snippets/httpclient/Program.TruncatedReadStream.cs
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/svc, dotnet-networking/subsvc

#42728 Describe compatibility issue of Http.Resilience with App Insights
  docs/core/resilience/http-resilience.md
Labels: dotnet-fundamentals/svc

#42759 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#42760 Publish .NET app some rewording
  docs/core/docker/build-container.md
Labels: dotnet-fundamentals/svc, dotnet-docker/subsvc, community-contribution
