Repository dotnet/docs, pull requests merged in 2025-10, with the labels that each got.

#48546 Document --test-runner option for dotnet new globaljson
  docs/core/tools/dotnet-new-sdk-templates.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#48287 Add new `dotnet tool exec` command documentation and point existing docs to use `dnx` as the top-level method
  docs/core/diagnostics/dotnet-counters.md
  docs/core/tools/dotnet-tool-exec.md
  docs/core/tools/global-tools-how-to-use.md
  docs/core/tools/local-tools-how-to-use.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#48871 Update metadata for what's new topics
  docs/core/whats-new/dotnet-10/libraries.md
  docs/core/whats-new/dotnet-10/overview.md
  docs/core/whats-new/dotnet-10/runtime.md
  docs/core/whats-new/dotnet-10/sdk.md
  docs/core/whats-new/dotnet-5.md
  docs/core/whats-new/dotnet-6.md
  docs/core/whats-new/dotnet-7.md
  docs/core/whats-new/dotnet-8/containers.md
  docs/core/whats-new/dotnet-8/overview.md
  docs/core/whats-new/dotnet-8/runtime.md
  docs/core/whats-new/dotnet-8/sdk.md
  docs/core/whats-new/dotnet-9/libraries.md
  docs/core/whats-new/dotnet-9/overview.md
  docs/core/whats-new/dotnet-9/runtime.md
  docs/core/whats-new/dotnet-9/sdk.md
  docs/core/whats-new/dotnet-core-2-0.md
  docs/core/whats-new/dotnet-core-2-1.md
  docs/core/whats-new/dotnet-core-2-2.md
  docs/core/whats-new/dotnet-core-3-0.md
  docs/core/whats-new/dotnet-core-3-1.md
Labels: dotnet-fundamentals/svc, okr-freshness

#48877 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#48765 Update operator-overloading.md to include Colon
  docs/fsharp/language-reference/operator-overloading.md
Labels: dotnet-fsharp/svc, community-contribution

#48745 Modernize code examples for CA rules
  docs/fundamentals/code-analysis/quality-rules/ca1045.md
  docs/fundamentals/code-analysis/quality-rules/ca1806.md
  docs/fundamentals/code-analysis/quality-rules/ca1816.md
  docs/fundamentals/code-analysis/quality-rules/ca2100.md
  docs/fundamentals/code-analysis/quality-rules/ca2235.md
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/.editorconfig
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca1002.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca1024.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca1031.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca1032.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca1036.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca1045.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca1046.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca1050.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca1051.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca1060.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca1061.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca1420.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca1806.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca1810.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca1813.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca1816.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca1819.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca2002.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca2022.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca2100.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca2200.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca2213.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca2214.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca2227.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca2231.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca2234.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca2235.cs
  docs/fundamentals/code-analysis/quality-rules/snippets/vb/all-rules/.editorconfig
  docs/fundamentals/code-analysis/quality-rules/snippets/vb/all-rules/ca1816-call-gc-suppressfinalize-correctly_1.vb
  docs/fundamentals/code-analysis/quality-rules/snippets/vb/all-rules/ca2100-review-sql-queries-for-security-vulnerabilities_1.vb
Labels: dotnet-fundamentals/svc

#48885 dotnet nuget why has optional project argument
  docs/core/tools/dotnet-nuget-why.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#48801 Don't disallow adding a DIM to an interface
  docs/core/compatibility/library-change-rules.md
  docs/csharp/language-reference/keywords/interface.md
  docs/csharp/whats-new/csharp-version-history.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, whats-new/subsvc, dotnet-fundamentals/svc

#48926 Remove conflicting articles from TOC
  docs/azure/toc.yml
Labels: dotnet-azure/svc

#48928 Restore TOC
  docs/azure/toc.yml
Labels: dotnet-azure/svc

#48896 Create tutorial for C# 14 extension members
  docs/csharp/toc.yml
  docs/csharp/whats-new/tutorials/extension-members.md
  docs/csharp/whats-new/tutorials/snippets/PointExtensions/ExtensionMemberDemonstrations.cs
  docs/csharp/whats-new/tutorials/snippets/PointExtensions/ExtensionMethods.cs
  docs/csharp/whats-new/tutorials/snippets/PointExtensions/ExtensionMethodsDemonstrations.cs
  docs/csharp/whats-new/tutorials/snippets/PointExtensions/IncludedElements.cs
  docs/csharp/whats-new/tutorials/snippets/PointExtensions/NewExtensionsMembers.cs
  docs/csharp/whats-new/tutorials/snippets/PointExtensions/PointExtensions.csproj
  docs/csharp/whats-new/tutorials/snippets/PointExtensions/Program.cs
Labels: dotnet-csharp/svc, whats-new/subsvc

#48787 Refresh dotnet command reference
  docs/core/tools/dotnet-build.md
  docs/core/tools/dotnet-clean.md
  docs/core/tools/dotnet-dev-certs.md
  docs/core/tools/dotnet-format.md
  docs/core/tools/dotnet-msbuild.md
  docs/core/tools/dotnet-pack.md
  docs/core/tools/dotnet-package-remove.md
  docs/core/tools/dotnet-publish.md
  docs/core/tools/dotnet-restore.md
  docs/core/tools/dotnet-run.md
  docs/core/tools/dotnet-sdk-check.md
  docs/core/tools/dotnet-store.md
  docs/core/tools/dotnet-test.md
  docs/core/tools/dotnet-watch.md
  includes/cli-no-self-contained.md
  includes/cli-self-contained.md
  includes/cli-use-current-runtime.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#48946 Add tip for interpolated string parsing
  docs/csharp/includes/raw-string-parsing.md
  docs/csharp/language-reference/builtin-types/reference-types.md
  docs/csharp/language-reference/tokens/index.md
  docs/csharp/language-reference/tokens/interpolated.md
  docs/csharp/language-reference/tokens/raw-string.md
  docs/csharp/programming-guide/strings/index.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, lang-reference/subsvc, okr-freshness

#48948 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge
