Repository dotnet/docs, pull requests merged in 2025-07, with the labels that each got.

#47046 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46910 Update distribution-packaging.md
  docs/core/distribution-packaging.md
Labels: dotnet-fundamentals/svc

#47082 Fix property value errors
  docs/core/deploying/deploy-with-cli.md
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/svc, community-contribution

#47114 Minor fix in a threading sample
  samples/snippets/csharp/VS_Snippets_CLR_System/system.Threading.ThreadStart2/CS/source2.cs
Labels: community-contribution

#47110 Correct type reference in sentence of IHttpClientFactory with .NET documentation
  docs/core/extensions/httpclient-factory.md
Labels: dotnet-fundamentals/svc, community-contribution, dotnet-networking/subsvc

#47054 July patch Tuesday release notes.
  docs/framework/release-notes/2025/07-08-july-cumulative-update.md
  docs/framework/toc.yml
Labels: dotnet-framework/svc

#47128 Fix compile error in source-generation.md
  docs/standard/serialization/system-text-json/source-generation.md
Labels: dotnet-fundamentals/svc, community-contribution

#47145 ad hoc publish for .NET Framework update
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
  docs/core/diagnostics/media/resource-monitoring-output.png
  docs/core/diagnostics/snippets/resource-monitoring/Program.cs
  docs/core/diagnostics/snippets/resource-monitoring/resource-monitoring.csproj
  docs/core/extensions/httpclient-factory.md
  docs/core/testing/unit-testing-csharp-with-nunit.md
  docs/csharp/asynchronous-programming/index.md
  docs/csharp/asynchronous-programming/snippets/index/ContinueWith-comparison/ContinueWith-comparison.csproj
  docs/csharp/asynchronous-programming/snippets/index/ContinueWith-comparison/Program.cs
  docs/csharp/language-reference/builtin-types/integral-numeric-types.md
  docs/csharp/language-reference/builtin-types/nullable-reference-types.md
  docs/csharp/language-reference/keywords/static.md
  docs/csharp/language-reference/operators/patterns.md
  docs/csharp/language-reference/operators/type-testing-and-cast.md
  docs/csharp/language-reference/unsafe-code.md
  docs/csharp/misc/cs1914.md
  docs/csharp/programming-guide/classes-and-structs/static-classes-and-static-class-members.md
  docs/csharp/roslyn-sdk/syntax-visualizer.md
  docs/csharp/roslyn-sdk/tutorials/how-to-write-csharp-analyzer-code-fix.md
  docs/csharp/tour-of-csharp/overview.md
  docs/csharp/tutorials/nullable-reference-types.md
  docs/csharp/versioning.md
  docs/framework/release-notes/2025/07-08-july-cumulative-update.md
  docs/framework/toc.yml
  docs/standard/serialization/system-text-json/source-generation.md
Labels: :octocat: auto-merge

#47133 Update language version page
  docs/csharp/language-reference/configure-language-version.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#47143 Fix challenge example solution not displayed
  docs/csharp/tour-of-csharp/tutorials/branches-and-loops.md
  docs/csharp/tour-of-csharp/tutorials/hello-world.md
  docs/csharp/tour-of-csharp/tutorials/list-collection.md
  docs/csharp/tour-of-csharp/tutorials/numbers-in-csharp.md
Labels: dotnet-csharp/svc, get-started/subsvc, community-contribution

#47275 Add note about P/Invoke signature.
  docs/standard/native-interop/best-practices.md
Labels: dotnet-fundamentals/svc

#47142 Fix list-collection.md semicolon typo
  docs/csharp/tour-of-csharp/tutorials/list-collection.md
Labels: dotnet-csharp/svc, get-started/subsvc, community-contribution

#47269 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#47287 adegeo Freshness part 1
  docs/framework/install/application-not-started.md
  docs/framework/install/dotnet-35-windows.md
  docs/framework/install/guide-for-developers.md
  docs/framework/install/how-to-determine-which-net-framework-updates-are-installed.md
  docs/framework/install/how-to-determine-which-versions-are-installed.md
  docs/framework/install/index.md
  docs/framework/install/media/application-not-started/app-could-not-be-started-details.png
  docs/framework/install/on-windows-and-server.md
  docs/framework/install/repair.md
  docs/framework/install/troubleshoot-blocked-installations-and-uninstallations.md
  docs/framework/install/versions-and-dependencies.md
Labels: dotnet-framework/svc, install/subsvc

#47296 fix: typo in access-levels.md
  docs/visual-basic/programming-guide/language-features/declared-elements/access-levels.md
Labels: dotnet-visualbasic/svc, community-contribution

#47271 Updated ms.topic value
  docs/ai/index.yml
Labels: community-contribution

#47310 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#47274 Update date
  docs/csharp/index.yml
Labels: dotnet-csharp/svc

#47304 Document container.memory.usage metric
  docs/core/diagnostics/built-in-metrics-diagnostics.md
Labels: dotnet-fundamentals/svc

#47270 Update Resource Monitoring with using metrics
  docs/core/diagnostics/diagnostic-resource-monitoring.md
  docs/core/diagnostics/media/resource-monitoring-with-manual-metrics-output.png
  docs/core/diagnostics/snippets/resource-monitoring-with-manual-metrics/Dockerfile
  docs/core/diagnostics/snippets/resource-monitoring-with-manual-metrics/Program.cs
  docs/core/diagnostics/snippets/resource-monitoring-with-manual-metrics/Properties/launchSettings.json
  docs/core/diagnostics/snippets/resource-monitoring-with-manual-metrics/resource-monitoring-with-manual-metrics.csproj
Labels: dotnet-fundamentals/svc

#47374 Fix typo in snippet.
  docs/csharp/fundamentals/types/snippets/anonymous-types/Program.cs
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#47382 Update <inheritdoc> documentation to clarify Visual Studio vs compiler behavior
  docs/csharp/language-reference/xmldoc/recommended-tags.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#47437 Update microsoft-testing-platform-vs-vstest.md
  docs/core/testing/microsoft-testing-platform-vs-vstest.md
Labels: dotnet-fundamentals/svc

#47384 Mention HTTP-specific actions for revocation check breaking change
  docs/core/compatibility/networking/10.0/ssl-certificate-revocation-check-default.md
Labels: dotnet-fundamentals/svc

#47432 Fix build warnings/suggestions
  .openpublishing.redirection.core.json
  docs/core/compatibility/aspnet-core/8.0/securitytoken-events.md
  docs/core/extensions/httpclient-http3.md
  docs/fundamentals/code-analysis/quality-rules/ca1835.md
  docs/fundamentals/code-analysis/quality-rules/ca2016.md
  docs/fundamentals/code-analysis/quality-rules/ca5404.md
  docs/fundamentals/code-analysis/quality-rules/ca5405.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/security-warnings.md
  docs/fundamentals/networking/telemetry/tracing.md
  docs/machine-learning/how-to-guides/ner-dataset-guide.md
Labels: dotnet-ml/svc, dotnet-fundamentals/svc, okr-quality, dotnet-networking/subsvc

#47125 Add marshaller shape docs to docs with more detailed explanations
  docs/navigate/advanced-programming/toc.yml
  docs/standard/native-interop/custom-marshaller-shapes.md
  docs/standard/native-interop/custom-marshalling-source-generation.md
  docs/standard/native-interop/customize-parameter-marshalling.md
Labels: dotnet-fundamentals/svc

#47291 Update debug-memory-leak to add now needed step
  docs/core/diagnostics/debug-memory-leak.md
Labels: dotnet-fundamentals/svc, community-contribution

#47511 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#47508 [UUF] Fix grammar
  docs/standard/native-interop/type-marshalling.md
Labels: dotnet-fundamentals/svc, user-feedback

#47551 Update default severity change in MSTest 3.10
  docs/core/testing/mstest-analyzers/mstest0006.md
  docs/core/testing/mstest-analyzers/mstest0039.md
Labels: dotnet-fundamentals/svc

#47557 fix broken link in appmod dotnet doc
  docs/azure/migration/appmod/overview.md
  docs/azure/migration/appmod/quickstart.md
Labels: dotnet-azure/svc, community-contribution

#47552 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#47566 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#47528 dotnet nuget verify outputs content hash
  docs/core/tools/dotnet-nuget-verify.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#47567 [dotnet-dsrouter] update docs around `$ANDROID_SDK_ROOT`
  docs/core/diagnostics/dotnet-dsrouter.md
Labels: dotnet-fundamentals/svc

#47568 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#47565 Fixed missing `class` in metrics-generator.md
  docs/core/diagnostics/metrics-generator.md
Labels: dotnet-fundamentals/svc, community-contribution

#47513 [UUF] Clarify it doesn't just affect default value
  docs/core/compatibility/sdk/8.0/source-link.md
Labels: dotnet-fundamentals/svc, user-feedback

#47578 Fix grammar
  docs/fundamentals/runtime-libraries/system-reflection-emit-assemblybuilder.md
Labels: dotnet-fundamentals/svc

#47583 Fix dotnet tool command
  docs/core/tools/dotnet-tool-install.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#47148 Mention how non-public fields of inherited classes are serialized
  docs/standard/serialization/binaryformatter-migration-guide/functionality-reference.md
Labels: dotnet-fundamentals/svc

#47564 Add new analyzers docs
  docs/core/testing/mstest-analyzers/design-rules.md
  docs/core/testing/mstest-analyzers/mstest0044.md
  docs/core/testing/mstest-analyzers/mstest0045.md
  docs/core/testing/mstest-analyzers/mstest0046.md
  docs/core/testing/mstest-analyzers/mstest0048.md
  docs/core/testing/mstest-analyzers/mstest0049.md
  docs/core/testing/mstest-analyzers/usage-rules.md
  docs/navigate/devops-testing/toc.yml
Labels: dotnet-fundamentals/svc

#47527 Update the CS1031 page
  docs/csharp/misc/cs1031.md
Labels: dotnet-csharp/svc, community-contribution, csharp-errors-warnings/subsvc

#47605 Fix more July build suggestions
  docs/azure/migration/appmod/quickstart.md
  docs/core/unmanaged-api/profiling/cor-prf-rejit-flags-enumeration.md
  docs/core/unmanaged-api/profiling/icorprofilerinfo10-enumerateobjectreferences-method.md
  docs/core/unmanaged-api/profiling/icorprofilerinfo10-getlohobjectsizethreshold-method.md
  docs/core/unmanaged-api/profiling/icorprofilerinfo10-interface.md
  docs/core/unmanaged-api/profiling/icorprofilerinfo10-isfrozenobject-method.md
  docs/core/unmanaged-api/profiling/icorprofilerinfo10-requestrejitwithinliners-method.md
  docs/core/unmanaged-api/profiling/icorprofilerinfo10-resumeruntime-method.md
  docs/core/unmanaged-api/profiling/icorprofilerinfo10-suspendruntime-method.md
  docs/core/unmanaged-api/profiling/icorprofilerinfo9-getcodeinfo4-method.md
  docs/core/unmanaged-api/profiling/icorprofilerinfo9-getiltonativemapping3-method.md
  docs/core/unmanaged-api/profiling/icorprofilerinfo9-getnativecodestartaddresses-method.md
  docs/core/unmanaged-api/profiling/icorprofilerinfo9-interface.md
  docs/framework/unmanaged-api/profiling/icorprofilerinfo8-getdynamicfunctioninfo-method.md
  docs/framework/unmanaged-api/profiling/icorprofilerinfo8-getfunctionfromip3-method.md
  docs/framework/unmanaged-api/profiling/icorprofilerinfo8-interface.md
  docs/framework/unmanaged-api/profiling/icorprofilerinfo8-isfunctiondynamic-method.md
  docs/iot/index.yml
Labels: dotnet-framework/svc, dotnet-fundamentals/svc, dotnet-azure/svc

#47456 Document the impact SdkAnalysisLevel has
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/svc

#47587 Fix samples link
  docs/standard/parallel-programming/task-parallel-library-tpl.md
Labels: dotnet-fundamentals/svc

#47614 [F#] Update constructors.md
  docs/fsharp/language-reference/members/constructors.md
Labels: dotnet-fsharp/svc, community-contribution

#47634 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#47659 Update Program.cs
  docs/ai/snippets/microsoft-extensions-ai/ConsoleAI.AddMessages/Program.cs
Labels: community-contribution

#47681 fix build warning
  docs/csharp/language-reference/compiler-messages/array-declaration-errors.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, okr-quality, csharp-diagnostics/subsvc
