Repository dotnet/docs, pull requests merged in 2025-05, with the labels that each got.

#45988 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#45984 Fix typo in cs3005.md
  docs/csharp/misc/cs3005.md
Labels: dotnet-csharp/svc, community-contribution, csharp-errors-warnings/subsvc

#45945 Update trimming-options.md
  docs/core/deploying/trimming/trimming-options.md
Labels: dotnet-fundamentals/svc

#45986 Clarify generated code exclusions
  docs/fundamentals/code-analysis/configuration-options.md
Labels: dotnet-fundamentals/svc

#45990 Remove trailing comma
  docs/standard/serialization/system-text-json/character-casing.md
Labels: dotnet-fundamentals/svc

#45954 Add introductory interactive pattern matching tutorial
  docs/csharp/toc.yml
  docs/csharp/tour-of-csharp/tutorials/index.md
  docs/csharp/tour-of-csharp/tutorials/pattern-matching.md
  docs/csharp/tour-of-csharp/tutorials/snippets/PatternMatching/EnumSwitchExample.cs
  docs/csharp/tour-of-csharp/tutorials/snippets/PatternMatching/FinalExampleProgram.cs
  docs/csharp/tour-of-csharp/tutorials/snippets/PatternMatching/FirstEnumExample.cs
  docs/csharp/tour-of-csharp/tutorials/snippets/PatternMatching/PatternMatching.csproj
  docs/csharp/tour-of-csharp/tutorials/snippets/PatternMatching/Program.cs
Labels: dotnet-csharp/svc, get-started/subsvc

#45948 Add logging sampling documentation
  docs/core/extensions/log-sampling.md
  docs/core/extensions/snippets/logging/log-sampling/Program.cs
  docs/core/extensions/snippets/logging/log-sampling/appsettings.json
  docs/core/extensions/snippets/logging/log-sampling/appsettings.noop.json
  docs/core/extensions/snippets/logging/log-sampling/appsettings.updated.json
  docs/core/extensions/snippets/logging/log-sampling/code-config/Log.cs
  docs/core/extensions/snippets/logging/log-sampling/code-config/LogSamplingCodeConfig.csproj
  docs/core/extensions/snippets/logging/log-sampling/code-config/Program.cs
  docs/core/extensions/snippets/logging/log-sampling/file-config/Log.cs
  docs/core/extensions/snippets/logging/log-sampling/file-config/LogSamplingFileConfig.csproj
  docs/core/extensions/snippets/logging/log-sampling/file-config/Program.cs
  docs/core/extensions/snippets/logging/log-sampling/file-config/appsettings.json
  docs/core/extensions/snippets/logging/log-sampling/trace-based/Log.cs
  docs/core/extensions/snippets/logging/log-sampling/trace-based/LogSamplingTraceBased.csproj
  docs/core/extensions/snippets/logging/log-sampling/trace-based/Program.cs
  docs/fundamentals/toc.yml
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/svc

#45995 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46007 Fix grammatical issue in encapsulation explanation
  docs/csharp/fundamentals/object-oriented/index.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#45972 Mcp overview and development resources
  docs/ai/get-started-mcp.md
  docs/ai/media/mcp/model-context-protocol-architecture-diagram.png
  docs/ai/toc.yml
  docs/azure/sdk/configure-proxy.md
Labels: dotnet-azure/svc

#46003 Fix text summarization quickstart
  docs/ai/index.yml
  docs/ai/quickstarts/evaluate-ai-response.md
  docs/ai/quickstarts/generate-images.md
  docs/ai/quickstarts/includes/clone-sample-repo.md
  docs/ai/quickstarts/includes/create-ai-service.md
  docs/ai/quickstarts/prompt-model.md
  docs/ai/quickstarts/snippets/image-generation/azure-openai/benefits.md
  docs/ai/quickstarts/snippets/image-generation/openai/benefits.md
  docs/ai/quickstarts/snippets/prompt-completion/azure-openai/Program.cs
  docs/ai/quickstarts/snippets/prompt-completion/openai/Program.cs
  docs/ai/quickstarts/structured-output.md
  docs/ai/quickstarts/use-function-calling.md
  docs/azure/index.yml
  docs/index.yml
Labels: dotnet-azure/svc

#46004 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46013 Consolidate interpolated string tutorials
  .openpublishing.redirection.csharp.json
  docs/csharp/language-reference/tokens/interpolated.md
  docs/csharp/programming-guide/strings/index.md
  docs/csharp/toc.yml
  docs/csharp/tutorials/exploration/interpolated-strings-local.md
  docs/csharp/tutorials/exploration/interpolated-strings.yml
  docs/csharp/tutorials/snippets/StringInterpolation/Program.cs
  docs/csharp/tutorials/string-interpolation.md
  docs/whats-new/dotnet-9-release.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, lang-reference/subsvc, get-started/subsvc

#46014 Improve CS0449 compiler error doc by clarifying constraint order and fixing example
  docs/csharp/misc/cs0449.md
Labels: dotnet-csharp/svc, community-contribution, csharp-errors-warnings/subsvc

#45987 Add GVMs to limitations section
  docs/core/deploying/native-aot/index.md
Labels: dotnet-fundamentals/svc

#46019 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46026 Remove explicit using in HTTP examples
  docs/core/extensions/httpclient-factory.md
  docs/core/extensions/snippets/http/basic/TodoService.cs
  docs/core/extensions/snippets/http/named/TodoService.cs
  docs/core/extensions/snippets/http/typed/TodoService.cs
Labels: dotnet-fundamentals/svc, dotnet-networking/subsvc

#46032 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#45941 Update netsdk1206.md to match the breaking change document
  docs/core/tools/sdk-errors/netsdk1206.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#46031 Update Copilot example
  docs/standard/serialization/system-text-json/customize-properties.md
Labels: dotnet-fundamentals/svc, community-contribution

#46040 Hyphenate null-conditional
  docs/csharp/whats-new/csharp-14.md
Labels: dotnet-csharp/svc, whats-new/subsvc, community-contribution

#46037 Remove monikers from WPF and WF links
  docs/csharp/index.yml
  docs/framework/index.yml
  docs/framework/toc.yml
  docs/index.yml
Labels: dotnet-framework/svc, dotnet-csharp/svc

#46034 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46036 Use ToUnixTimeMilliseconds
  docs/standard/datetime/system-text-json-support.md
  docs/standard/serialization/system-text-json/migrate-from-newtonsoft.md
  docs/standard/serialization/system-text-json/snippets/how-to-contd/csharp/CopyOptions.cs
  docs/standard/serialization/system-text-json/snippets/how-to-contd/csharp/CustomConverterHandleNull.cs
  docs/standard/serialization/system-text-json/snippets/how-to-contd/csharp/CustomConverterInferredTypesToObject.cs
  docs/standard/serialization/system-text-json/snippets/how-to-contd/csharp/CustomConverterPreserveReferences.cs
  docs/standard/serialization/system-text-json/snippets/how-to-contd/csharp/CustomConverterUnixEpochDate.cs
  docs/standard/serialization/system-text-json/snippets/how-to-contd/csharp/CustomConverterUnixEpochDateNoZone.cs
  docs/standard/serialization/system-text-json/snippets/how-to-contd/csharp/Fields.cs
  docs/standard/serialization/system-text-json/snippets/how-to-contd/csharp/GuidReferenceResolverExample.cs
  docs/standard/serialization/system-text-json/snippets/how-to-contd/csharp/HttpClientExtensionMethods.cs
  docs/standard/serialization/system-text-json/snippets/how-to-contd/csharp/IgnoreNullOnSerialize.cs
  docs/standard/serialization/system-text-json/snippets/how-to-contd/csharp/IgnoreValueDefaultOnSerialize.cs
  docs/standard/serialization/system-text-json/snippets/how-to-contd/csharp/ImmutableTypes.cs
  docs/standard/serialization/system-text-json/snippets/how-to-contd/csharp/ImmutableTypesCtorParms.cs
  docs/standard/serialization/system-text-json/snippets/how-to-contd/csharp/JsonIgnoreAttributeExample.cs
  docs/standard/serialization/system-text-json/snippets/how-to-contd/csharp/NonPublicAccessors.cs
  docs/standard/serialization/system-text-json/snippets/how-to-contd/csharp/NonStringKeyDictionary.cs
  docs/standard/serialization/system-text-json/snippets/how-to-contd/csharp/OptionsDefaults.cs
  docs/standard/serialization/system-text-json/snippets/how-to-contd/csharp/PreserveReferences.cs
  docs/standard/serialization/system-text-json/snippets/how-to-contd/csharp/PreserveReferencesMultipleCalls.cs
  docs/standard/serialization/system-text-json/snippets/how-to-contd/csharp/Program.cs
  docs/standard/serialization/system-text-json/snippets/how-to-contd/csharp/QuotedNumbers.cs
  docs/standard/serialization/system-text-json/snippets/how-to-contd/csharp/Records.cs
  docs/standard/serialization/system-text-json/snippets/how-to-contd/csharp/SystemTextJsonHowTo.csproj
Labels: dotnet-fundamentals/svc

#46050 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46055 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46060 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46066 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46073 [Breaking change]: Specifying DllImportSearchPath.AssemblyDirectory by itself only searches in the assembly directory
  docs/core/compatibility/10.0.md
  docs/core/compatibility/interop/10.0/search-assembly-directory.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#46070 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46081 Explain nullable value types in pattern matching tutorial
  docs/csharp/tour-of-csharp/tutorials/pattern-matching.md
Labels: dotnet-csharp/svc, get-started/subsvc, community-contribution

#46059 WSUS offline scans & .NET
  docs/core/install/includes/microsoft-update.md
Labels: dotnet-fundamentals/svc, install/subsvc

#46074 [Breaking change]: Promote HTTP Warnings to Errors in dotnet package list and dotnet package search
  docs/core/compatibility/10.0.md
  docs/core/compatibility/sdk/10.0/http-warnings-to-errors.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#46092 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46093 [Breaking change]: Crashes due to incorrect usage of `DyanmicResource`'s
  docs/core/compatibility/10.0.md
  docs/core/compatibility/toc.yml
  docs/core/compatibility/wpf/10.0/dynamicresource-crash.md
Labels: dotnet-fundamentals/svc

#46099 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46106 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46110 Clarify method renaming and async return types
  docs/csharp/asynchronous-programming/index.md
Labels: dotnet-csharp/svc, async-task-programming/subsvc, community-contribution

#46215 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46220 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46225 What's new in Preview 4
  docs/core/whats-new/dotnet-10/libraries.md
  docs/core/whats-new/dotnet-10/overview.md
  docs/core/whats-new/dotnet-10/runtime.md
  docs/core/whats-new/dotnet-10/sdk.md
  docs/machine-learning/whats-new/overview.md
Labels: dotnet-ml/svc, dotnet-fundamentals/svc

#46217 adding the region range and size configs
  docs/core/runtime-config/garbage-collector.md
Labels: dotnet-fundamentals/svc

#46243 Add docs for GHCU
  docs/core/porting/github-copilot-app-modernization-faq.yml
  docs/core/porting/github-copilot-app-modernization-install.md
  docs/core/porting/github-copilot-app-modernization-overview.md
  docs/core/porting/media/github-copilot-app-modernization-install/install-prompt.png
  docs/core/porting/media/github-copilot-app-modernization-install/visual-studio-manage-extensions.png
  docs/core/porting/media/github-copilot-app-modernization-overview/copilot-agent-tools.png
  docs/navigate/migration-guide/toc.yml
Labels: dotnet-fundamentals/svc

#46235 Fix output of complex number formatting
  docs/core/compatibility/core-libraries/8.0/complex-format.md
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/csharp/Program.cs
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/csharp/Project.csproj
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/csharp/create1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/csharp/customfmt1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/csharp/nan1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/csharp/precision1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/vb/Program.vb
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/vb/Project.vbproj
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/vb/create1.vb
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/vb/customfmt1.vb
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/vb/nan1.vb
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/vb/precision1.vb
  docs/fundamentals/runtime-libraries/system-numerics-complex.md
Labels: dotnet-fundamentals/svc

#46069 Update link to NetTrace format
  docs/core/diagnostics/eventpipe.md
Labels: dotnet-fundamentals/svc

#40852 diagnostic: document waithandle keyword
  docs/core/diagnostics/dotnet-trace.md
  docs/fundamentals/diagnostics/runtime-events.md
  docs/fundamentals/diagnostics/runtime-wait-handle-events.md
Labels: dotnet-fundamentals/svc, community-contribution

#46244 Publish
  docs/ai/get-started-app-chat-scaling-with-azure-container-apps.md
  docs/ai/get-started-app-chat-template.md
  docs/ai/quickstarts/build-chat-app.md
  docs/ai/quickstarts/build-vector-search-app.md
  docs/ai/quickstarts/generate-images.md
  docs/ai/quickstarts/includes/ai-templates-azure-openai.md
  docs/ai/quickstarts/includes/ai-templates-openai.md
  docs/ai/quickstarts/includes/create-ai-service.md
  docs/ai/quickstarts/includes/prerequisites-azure-openai.md
  docs/ai/quickstarts/includes/prerequisites-openai.md
  docs/ai/quickstarts/prompt-model.md
  docs/ai/quickstarts/structured-output.md
  docs/ai/quickstarts/use-function-calling.md
  docs/ai/tutorials/tutorial-ai-vector-search.md
  docs/core/compatibility/core-libraries/8.0/complex-format.md
  docs/core/diagnostics/dotnet-trace.md
  docs/core/diagnostics/eventpipe.md
  docs/core/porting/github-copilot-app-modernization-faq.yml
  docs/core/porting/github-copilot-app-modernization-install.md
  docs/core/porting/github-copilot-app-modernization-overview.md
  docs/core/porting/media/github-copilot-app-modernization-install/install-prompt.png
  docs/core/porting/media/github-copilot-app-modernization-install/visual-studio-manage-extensions.png
  docs/core/porting/media/github-copilot-app-modernization-overview/copilot-agent-tools.png
  docs/fundamentals/diagnostics/runtime-events.md
  docs/fundamentals/diagnostics/runtime-wait-handle-events.md
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/csharp/Program.cs
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/csharp/Project.csproj
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/csharp/create1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/csharp/customfmt1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/csharp/nan1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/csharp/precision1.cs
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/vb/Program.vb
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/vb/Project.vbproj
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/vb/create1.vb
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/vb/customfmt1.vb
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/vb/nan1.vb
  docs/fundamentals/runtime-libraries/snippets/System.Numerics/Complex/Overview/vb/precision1.vb
  docs/fundamentals/runtime-libraries/system-numerics-complex.md
  docs/navigate/migration-guide/toc.yml
Labels: :octocat: auto-merge

#46237 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46249 Remove rogue "class as well.*" in Constructor Errors reference
  docs/csharp/language-reference/compiler-messages/constructor-errors.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution, csharp-diagnostics/subsvc

#46252 Remove unnecessary 'using TourOfCsharp;' from HelloWorld.cs (fixes #46250)
  docs/csharp/tour-of-csharp/snippets/shared/HelloWorld.cs
Labels: dotnet-csharp/svc, get-started/subsvc

#46256 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46259 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46261 Update two xrefs
  docs/ai/tutorials/evaluate-safety.md
  docs/fundamentals/syslib-diagnostics/syslib0057.md
Labels: dotnet-fundamentals/svc

#46262 Remove invalid author names
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/02-breaking-change.yml
  docfx.json
  docs/ai/dotnet-ai-ecosystem.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/client-side-validation.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/domain-model-layer-validations.md
  docs/architecture/microservices/secure-net-microservices-web-applications/index.md
  docs/fsharp/index.yml
  docs/iot/debugging.md
  docs/iot/deployment.md
  docs/iot/intro.md
  docs/iot/quickstarts/sensehat.md
  docs/iot/tutorials/adc.md
  docs/iot/tutorials/blink-led.md
  docs/iot/tutorials/gpio-input.md
  docs/iot/tutorials/lcd-display.md
  docs/iot/tutorials/temp-sensor.md
  docs/iot/usb.md
  docs/standard/io/buffers.md
  docs/standard/io/pipelines.md
  docs/standard/security/fips-compliance.md
Labels: dotnet-fsharp/svc, dotnet/svc, dotnet-architecture/svc, microservices/subsvc, security-practices/subsvc, dotnet-fundamentals/svc

#46271 Update upgrade.md
  docs/core/install/upgrade.md
Labels: dotnet-fundamentals/svc, install/subsvc

#46272 Update custom-marshalling-source-generation.md
  docs/standard/native-interop/custom-marshalling-source-generation.md
Labels: dotnet-fundamentals/svc

#46270 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46274 Document ProviderAliasAttribute breaking change
  docs/core/compatibility/10.0.md
  docs/core/compatibility/extensions/10.0/provideraliasattribute-moved-assembly.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#46087 Update dotnet-trace.md for --dsrouter switch
  docs/core/diagnostics/dotnet-trace.md
Labels: dotnet-fundamentals/svc, community-contribution

#46253 Add 'scoped' to f1_keywords for F1 help support (fixes #46245)
  docs/csharp/language-reference/statements/declarations.md
Labels: dotnet-csharp/svc, lang-reference/subsvc

#46315 Fix MD059 violations
  .markdownlint-cli2.jsonc
  docs/architecture/blazor-for-web-forms-developers/security-authentication-authorization.md
  docs/architecture/cloud-native/deploy-eshoponcontainers-azure.md
  docs/architecture/microservices/microservice-ddd-cqrs-patterns/infrastructure-persistence-layer-implementation-entity-framework-core.md
  docs/core/extensions/log-sampling.md
  docs/core/testing/microsoft-testing-platform-architecture-extensions.md
  docs/core/testing/unit-testing-code-coverage.md
  docs/core/testing/unit-testing-mstest-getting-started.md
  docs/core/testing/unit-testing-mstest-migration-from-v1-to-v3.md
  docs/csharp/delegate-class.md
  docs/csharp/language-reference/compiler-options/code-generation.md
  docs/csharp/language-reference/tokens/raw-string.md
  docs/csharp/tour-of-csharp/tutorials/list-collection.md
  docs/csharp/tour-of-csharp/tutorials/pattern-matching.md
  docs/csharp/whats-new/breaking-changes.md
  docs/framework/windows-workflow-foundation/samples/sql-tracking.md
  docs/fsharp/language-reference/compiler-options.md
  docs/fsharp/language-reference/computation-expressions.md
  docs/fsharp/language-reference/interpolated-strings.md
  docs/fsharp/style-guide/conventions.md
  docs/fundamentals/code-analysis/quality-rules/ca1066.md
  docs/fundamentals/code-analysis/quality-rules/ca1067.md
  docs/fundamentals/diagnostics/runtime-wait-handle-events.md
  docs/fundamentals/networking/http/httpclient-migrate-from-httpwebrequest.md
  docs/orleans/deployment/consul-deployment.md
  docs/orleans/host/configuration-guide/list-of-options-classes.md
  docs/orleans/streaming/index.md
  docs/orleans/streaming/streams-programming-apis.md
  docs/orleans/streaming/streams-why.md
  docs/orleans/tutorials-and-samples/overview-helloworld.md
  docs/standard/native-interop/tutorial-comwrappers.md
  includes/core-changes/aspnetcore/3.0/authn-apis-json-types.md
  includes/core-changes/aspnetcore/3.0/kestrel-connection-adapters-removed.md
  includes/migration-guide/retargeting/networking/only-tls-10-11-12-protocols-supported-systemnetservicepointmanager.md
  includes/migration-guide/retargeting/security/cspparametersparentwindowhandle-now-expects-hwnd-value.md
  includes/migration-guide/retargeting/wf/workflow-30-types-are-obsolete.md
  includes/migration-guide/runtime/runtime/improved-wcf-chain-trust-certificate-validation-for-nettcp-authentication.md
  samples/snippets/core/tutorials/netcore-hosting/csharp/HostWithHostFxr/readme.md
Labels: dotnet-framework/svc, dotnet-fsharp/svc, dotnet-csharp/svc, lang-reference/subsvc, dotnet-architecture/svc, microservices/subsvc, cloud-native/subsvc, whats-new/subsvc, blazor/subsvc, get-started/subsvc, wf/subsvc, dotnet-fundamentals/svc, dotnet-networking/subsvc

#46275 Add docs for IDE3000
  docs/fundamentals/code-analysis/includes/enabled-on-build-never.md
  docs/fundamentals/code-analysis/style-rules/ide3000.md
  docs/fundamentals/code-analysis/style-rules/index.md
  docs/fundamentals/code-analysis/style-rules/miscellaneous-rules.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/svc

#46319 Fix inconsistency in WCF message inspector doc
  docs/framework/wcf/extending/how-to-inspect-and-modify-messages-on-the-service.md
Labels: dotnet-framework/svc, community-contribution, dotnet-wcf/subsvc

#46314 Fix `ms.date` in `--artifacts-path` include
  includes/cli-artifacts-path.md
Labels: community-contribution

#46311 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46342 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46299 Add other primitive aliases
  docs/fsharp/language-reference/basic-types.md
Labels: dotnet-fsharp/svc, community-contribution

#46345 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46312 Miscellaneous fixes to app modernization docs
  docs/core/compatibility/extensions/10.0/provideraliasattribute-moved-assembly.md
  docs/core/porting/github-copilot-app-modernization-faq.yml
  docs/core/porting/github-copilot-app-modernization-install.md
  docs/core/porting/github-copilot-app-modernization-overview.md
Labels: dotnet-fundamentals/svc

#46346 Fix or remove bad links
  docs/architecture/cloud-native/azure-security.md
  docs/architecture/microservices/architect-microservice-container-applications/containerize-monolithic-applications.md
  docs/architecture/microservices/architect-microservice-container-applications/docker-application-state-data.md
  docs/core/porting/index.md
  docs/core/whats-new/dotnet-core-3-0.md
  docs/fundamentals/networking/telemetry/includes/aspire-telemetry-overview.md
  docs/orleans/resources/links.md
Labels: dotnet-architecture/svc, microservices/subsvc, cloud-native/subsvc, dotnet-fundamentals/svc, dotnet-networking/subsvc

#46344 Use ReadOnlySpan where possible
  docs/fundamentals/runtime-libraries/snippets/System/Span/Overview/csharp/Program2.cs
  docs/fundamentals/runtime-libraries/snippets/System/Span/Overview/csharp/Project.csproj
  docs/fundamentals/runtime-libraries/snippets/System/Span/Overview/csharp/program.cs
  docs/fundamentals/runtime-libraries/system-span{t}.md
Labels: dotnet-fundamentals/svc

#46353 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46355 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46358 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46352 [UUF] Remove mention of extension
  docs/fundamentals/code-analysis/style-rules/naming-rules.md
Labels: dotnet-fundamentals/svc, user-feedback

#46354 Emphasize that top file `using` is for top-level statements
  docs/csharp/fundamentals/program-structure/top-level-statements.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#46360 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46379 Update logger-message-generator.md
  docs/core/extensions/logger-message-generator.md
Labels: dotnet-fundamentals/svc, community-contribution

#46421 Fix typo
  docs/core/diagnostics/diagnostic-health-checks.md
Labels: dotnet-fundamentals/svc, community-contribution

#46447 Revert "e.g." changes to design guidelines
  docs/standard/design-guidelines/arrays.md
  docs/standard/design-guidelines/dependency-properties.md
  docs/standard/design-guidelines/dispose-pattern.md
  docs/standard/design-guidelines/extension-methods.md
  docs/standard/design-guidelines/guidelines-for-collections.md
  docs/standard/design-guidelines/names-of-classes-structs-and-interfaces.md
  docs/standard/design-guidelines/names-of-namespaces.md
  docs/standard/design-guidelines/property.md
  docs/standard/design-guidelines/usage-guidelines.md
Labels: dotnet/svc, standard-library/subsvc, dotnet-fundamentals/svc

#46456 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46459 Add clarifying text, correctly defining scoped service intent and resolution.
  docs/core/extensions/dependency-injection.md
  docs/core/extensions/scoped-service.md
Labels: dotnet-fundamentals/svc

#46361 Update http-resilience.md
  docs/core/resilience/http-resilience.md
Labels: dotnet-fundamentals/svc, community-contribution

#46460 Short-lived hosted scenario.
  docs/core/extensions/snippets/hosts/ShortLived.App/JobRunner.cs
  docs/core/extensions/snippets/hosts/ShortLived.App/Program.cs
  docs/core/extensions/snippets/hosts/ShortLived.App/ShortLived.App.csproj
  docs/core/extensions/workers.md
Labels: dotnet-fundamentals/svc

#46378 Fix invalid comment example in Snippet24 by replacing it with a valid expression statement
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideStatements/CS/Statements.cs
Labels: community-contribution

#46463 Add note about package output
  docs/core/sdk/artifacts-output.md
Labels: dotnet-fundamentals/svc

#46098 Update resilient-high-availability-microservices.md
  docs/architecture/microservices/architect-microservice-container-applications/resilient-high-availability-microservices.md
Labels: dotnet-architecture/svc, microservices/subsvc, community-contribution

#46472 Update Invalid TransactionType Logic
  docs/csharp/tour-of-csharp/tutorials/snippets/PatternMatching/FirstEnumExample.cs
Labels: dotnet-csharp/svc, get-started/subsvc, community-contribution

#46251 Add dotnet-trace to Debug ThreadPool Starvation
  docs/core/diagnostics/debug-threadpool-starvation.md
  docs/core/diagnostics/media/dotnet-events-viewer-expanded-wait-events.png
  docs/core/diagnostics/media/dotnet-events-viewer-open-nettrace.png
  docs/core/diagnostics/media/dotnet-events-viewer-query-wait-events.png
  docs/core/diagnostics/media/dotnet-events-viewer-tp-stack-trace-top.png
  docs/core/diagnostics/media/perfview-any-stacks-waithandle-expanded.png
  docs/core/diagnostics/media/perfview-any-stacks-waithandle.png
  docs/core/diagnostics/media/perfview-any-stacks.png
  docs/core/diagnostics/media/perfview-open-nettrace.png
Labels: dotnet-fundamentals/svc, community-contribution

#46488 Fix ai metadata
  docs/csharp/misc/cs0193.md
Labels: dotnet-csharp/svc, csharp-errors-warnings/subsvc

#46486 Revert "update supported OSes for .NET Framework"
  docs/framework/install/on-windows-and-server.md
Labels: dotnet-framework/svc, install/subsvc

#46067 Add note about exhaustive enum matching
  docs/fsharp/language-reference/enumerations.md
Labels: dotnet-fsharp/svc, community-contribution

#46481 Fix the dash typo in lang flag of classlib in Unit testing Visual Basic page
  docs/core/testing/unit-testing-visual-basic-with-xunit.md
Labels: dotnet-fundamentals/svc, community-contribution

#46487 Fix multiple issues with warning wave docs
  docs/csharp/language-reference/compiler-messages/snippets/WarningWaves/WarningWaves.csproj
  docs/csharp/language-reference/compiler-messages/warning-waves.md
  docs/csharp/language-reference/compiler-options/errors-warnings.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, csharp-diagnostics/subsvc

#46495 Document AZURE_TOKEN_CREDENTIALS env var in credential chains doc
  docs/azure/sdk/authentication/credential-chains.md
  docs/azure/sdk/media/mermaidjs/DefaultAzureCredentialEnvVarDev.md
  docs/azure/sdk/media/mermaidjs/DefaultAzureCredentialEnvVarDev.svg
  docs/azure/sdk/media/mermaidjs/DefaultAzureCredentialEnvVarProd.md
  docs/azure/sdk/media/mermaidjs/DefaultAzureCredentialEnvVarProd.svg
Labels: dotnet-azure/svc

#46496 Clarify index and range usages
  docs/csharp/language-reference/operators/member-access-operators.md
  docs/csharp/whats-new/csharp-13.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, whats-new/subsvc
