Repository dotnet/docs, pull requests merged in 2025-06, with the labels that each got.

#46511 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46540 Introduce MSTest lifecycle documentation
  docs/core/testing/unit-testing-mstest-writing-tests-lifecycle.md
  docs/navigate/devops-testing/toc.yml
Labels: dotnet-fundamentals/svc, community-contribution

#46544 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46575 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46550 Update doc with --arch option for `dotnet --list-runtimes/sdks`
  docs/core/tools/dotnet.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#46577 Fix the links to moved file of portable PDB docs in "Compiler Options - code generation options" page
  docs/csharp/language-reference/compiler-options/code-generation.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#46573 Add more info about output type
  docs/fundamentals/code-analysis/code-quality-rule-options.md
  docs/fundamentals/code-analysis/quality-rules/ca1515.md
Labels: dotnet-fundamentals/svc

#46549 Updates to migration\upgrade docs
  docs/core/porting/github-copilot-app-modernization-faq.yml
  docs/core/porting/github-copilot-app-modernization-install.md
  docs/core/porting/github-copilot-app-modernization-overview.md
  docs/core/porting/index.md
  docs/core/porting/modernize.md
Labels: dotnet-fundamentals/svc

#46492 Adding sections about logging sensitive information
  docs/core/extensions/data-redaction.md
  docs/core/extensions/logger-message-generator.md
Labels: dotnet-fundamentals/svc

#46542 Update Sum columns
  docs/csharp/linq/how-to-query-files-and-directories.md
  docs/csharp/linq/snippets/HowToFilesAndDirectories/Program.cs
  docs/csharp/linq/snippets/HowToFilesAndDirectories/SumColumns.cs
Labels: dotnet-csharp/svc, csharp-linq/subsvc, community-contribution

#46586 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46669 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46668 Cs0525 update
  docs/csharp/misc/cs0525.md
Labels: dotnet-csharp/svc, community-contribution, csharp-errors-warnings/subsvc

#46051 CA2025 Analyzer documentation
  docs/fundamentals/code-analysis/quality-rules/ca2025.md
  docs/fundamentals/code-analysis/quality-rules/index.md
  docs/fundamentals/code-analysis/quality-rules/reliability-warnings.md
  docs/navigate/tools-diagnostics/toc.yml
Labels: dotnet-fundamentals/svc, community-contribution

#46677 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46543 Document `UseSizeOptimizedLinq`
  docs/core/deploying/trimming/trimming-options.md
Labels: dotnet-fundamentals/svc

#46678 Update required dependencies
  docs/core/install/includes/linux-libgdiplus-general.md
  docs/core/install/includes/linux-rpm-install-dependencies.md
  docs/core/install/linux-alpine.md
  docs/core/install/linux-debian.md
  docs/core/install/linux-opensuse.md
  docs/core/install/linux-scripted-manual.md
  docs/core/install/linux-sles.md
  docs/core/install/linux-ubuntu-decision.md
  docs/core/install/linux-ubuntu-install.md
  docs/core/install/macos.md
Labels: dotnet-fundamentals/svc, install/subsvc

#46795 Document launchSettings support in dotnet test
  docs/core/tools/dotnet-test.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#46796 Update linq/s-q-o/snippets/s-q-o/ConversionExamples.cs
  docs/csharp/linq/standard-query-operators/snippets/standard-query-operators/ConversionExamples.cs
Labels: dotnet-csharp/svc, csharp-linq/subsvc, community-contribution

#46800 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46674 Add reference and fundamentals for user defined compound assignment operators
  docfx.json
  docs/core/whats-new/dotnet-10/overview.md
  docs/csharp/language-reference/operators/addition-operator.md
  docs/csharp/language-reference/operators/arithmetic-operators.md
  docs/csharp/language-reference/operators/assignment-operator.md
  docs/csharp/language-reference/operators/bitwise-and-shift-operators.md
  docs/csharp/language-reference/operators/boolean-logical-operators.md
  docs/csharp/language-reference/operators/operator-overloading.md
  docs/csharp/language-reference/operators/snippets/shared/OperatorOverloading.cs
  docs/csharp/language-reference/operators/subtraction-operator.md
  docs/csharp/programming-guide/classes-and-structs/access-modifiers.md
  docs/csharp/programming-guide/classes-and-structs/members.md
  docs/csharp/specification/toc.yml
  docs/csharp/whats-new/csharp-14.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, lang-reference/subsvc, whats-new/subsvc, dotnet-fundamentals/svc

#46813 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46820 Fix typo in Self-Describing Components page
  docs/standard/metadata-and-self-describing-components.md
Labels: dotnet-fundamentals/svc, community-contribution

#46817 Update C# linq-related snippet 'GroupQueryResults.cs'
  docs/csharp/linq/standard-query-operators/snippets/standard-query-operators/GroupQueryResults.cs
Labels: dotnet-csharp/svc, csharp-linq/subsvc, community-contribution

#46827 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46829 Fix semantic typo
  docs/csharp/language-reference/compiler-options/security.md
Labels: dotnet-csharp/svc, lang-reference/subsvc

#46833 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46826 Update default enabled state for CA2025
  docs/fundamentals/code-analysis/quality-rules/ca2025.md
Labels: dotnet-fundamentals/svc

#46887 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46889 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46888 Add `--all` option to the dotnet tool update
  docs/core/tools/dotnet-tool-update.md
Labels: dotnet-fundamentals/svc, community-contribution, dotnet-cli/subsvc

#46905 Fix typo
  docs/standard/commandline/migration-guide-2.0.0-beta5.md
Labels: dotnet-fundamentals/svc, community-contribution

#46914 Fix typo 'earch' to 'search' in TOC entry
  docs/navigate/tools-diagnostics/toc.yml
Labels: community-contribution

#46921 Fix link to Evaluation of a void-returning async function
  docs/csharp/asynchronous-programming/index.md
Labels: dotnet-csharp/svc, async-task-programming/subsvc, community-contribution

#46913 file-globbing: add docs for ordered pattern matching
  docs/core/extensions/file-globbing.md
Labels: dotnet-fundamentals/svc, community-contribution

#46932 Remove broken link
  docs/core/compatibility/sdk/10.0/nu1015-packagereference-version.md
Labels: dotnet-fundamentals/svc

#46931 Remove "By area" breaking changes TOC section
  docs/core/compatibility/breaking-changes.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#46934 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46986 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46937 Updates to Copilot highlights per revised guidance
  docs/csharp/how-to/concatenate-multiple-strings.md
  docs/csharp/how-to/parse-strings-using-split.md
  docs/csharp/programming-guide/classes-and-structs/how-to-initialize-a-dictionary-with-a-collection-initializer.md
  docs/csharp/programming-guide/types/how-to-convert-a-string-to-a-number.md
  docs/standard/serialization/system-text-json/customize-properties.md
  docs/standard/serialization/system-text-json/deserialization.md
  docs/standard/serialization/system-text-json/how-to.md
  docs/standard/serialization/system-text-json/migrate-from-newtonsoft.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, dotnet-fundamentals/svc, community-contribution

#46992 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46996 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#46473 Add note on BigInteger bin/hex formatting of positive values
  docs/standard/base-types/parsing-numeric.md
  docs/standard/base-types/standard-numeric-format-strings.md
Labels: dotnet-fundamentals/svc, community-contribution

#47005 Update winforms-applications.md
  docs/standard/serialization/binaryformatter-migration-guide/winforms-applications.md
Labels: dotnet-fundamentals/svc, community-contribution

#47033 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge
