Repository dotnet/docs, pull requests merged in 2025-08, with the labels that each got.

#47704 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#47613 [F#] Update properties.md
  docs/fsharp/language-reference/members/properties.md
Labels: dotnet-fsharp/svc, community-contribution

#47701 `with` is also used in properties and interface implementations
  docs/fsharp/language-reference/keyword-reference.md
Labels: dotnet-fsharp/svc, community-contribution

#47722 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#47717 Fixed typo for Json
  docs/core/diagnostics/observability-otlp-example.md
Labels: dotnet-fundamentals/svc, community-contribution

#46805 Update docs for SRC.MemoryCache configuration element
  docs/framework/configure-apps/file-schema/runtime/memorycache-element-cache-settings.md
Labels: dotnet-framework/svc

#47724 Fix freshness technical error
  docs/csharp/whats-new/tutorials/primary-constructors.md
Labels: dotnet-csharp/svc, whats-new/subsvc, okr-freshness

#47111 Fix the link for the `dotnet-tools-list` in the dotnet tools page
  docs/core/tools/dotnet.md
Labels: dotnet-fundamentals/svc, community-contribution, dotnet-cli/subsvc

#47675 Update the .NET tools documentation based on a review of the code.
  docs/core/tools/dotnet-tool-install.md
  docs/core/tools/global-tools-how-to-create.md
  docs/core/tools/global-tools.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#47549 add upgrade reference
  docs/azure/migration/appmod/overview.md
Labels: dotnet-azure/svc

#47875 add --allow-insecure-connections option
  docs/core/tools/dotnet-nuget-push.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#47865 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#47877 Update deconstruction.md (C# reference)
  docs/csharp/language-reference/operators/deconstruction.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#47880 Remove `the` before `event`.
  docs/csharp/event-pattern.md
Labels: dotnet-csharp/svc, community-contribution

#47882 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#47895 Add note directing users to Microsoft.Data.SqlClient
  docs/framework/data/adonet/sql/index.md
Labels: dotnet-framework/svc, data-access/subsvc

#47901 Perform an edit and freshness pass
  docs/csharp/linq/index.md
Labels: dotnet-csharp/svc, csharp-linq/subsvc, okr-freshness

#47928 add common data sources note in 'Standard query operators' section
  docs/csharp/linq/includes/common-data-sources-reference.md
  docs/csharp/linq/standard-query-operators/converting-data-types.md
  docs/csharp/linq/standard-query-operators/filtering-data.md
  docs/csharp/linq/standard-query-operators/grouping-data.md
  docs/csharp/linq/standard-query-operators/join-operations.md
  docs/csharp/linq/standard-query-operators/partitioning-data.md
  docs/csharp/linq/standard-query-operators/projection-operations.md
  docs/csharp/linq/standard-query-operators/quantifier-operations.md
  docs/csharp/linq/standard-query-operators/set-operations.md
  docs/csharp/linq/standard-query-operators/sorting-data.md
Labels: dotnet-csharp/svc, csharp-linq/subsvc, community-contribution

#47931 Improve System.Linq.Async exclusion guidance for .NET 10 migration
  docs/core/compatibility/core-libraries/10.0/asyncenumerable.md
Labels: dotnet-fundamentals/svc, community-contribution

#47952 Fix broken xrefs in System.CommandLine
  docs/standard/commandline/get-started-tutorial.md
  docs/standard/commandline/how-to-configure-the-parser.md
  docs/standard/commandline/how-to-parse-and-invoke.md
  docs/standard/commandline/migration-guide-2.0.0-beta5.md
  docs/standard/commandline/snippets/configuration/csharp/Program.cs
  docs/standard/commandline/snippets/configuration/csharp/scl.csproj
Labels: dotnet-fundamentals/svc

#47950 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#47970 Use xrefs in new What's new
  docs/core/whats-new/dotnet-10/libraries.md
  docs/core/whats-new/dotnet-10/overview.md
Labels: dotnet-fundamentals/svc

#47999 Fix broken links - August
  docs/core/diagnostics/faq-dumps.yml
  docs/framework/wcf/feature-details/hosting-workflow-services.md
  docs/framework/wcf/feature-details/routing-service.md
Labels: dotnet-framework/svc, dotnet-fundamentals/svc, dotnet-wcf/subsvc

#48006 Fix typos in AI documents
  docs/ai/conceptual/how-genai-and-llms-work.md
  docs/ai/conceptual/understanding-openai-functions.md
  docs/ai/conceptual/vector-databases.md
  docs/ai/conceptual/zero-shot-learning.md
  docs/ai/get-started-mcp.md
  docs/ai/microsoft-extensions-ai.md
  docs/ai/overview.md
Labels: community-contribution

#48012 Add more links to properties
  docs/fundamentals/apicompat/package-validation/baseline-version-validator.md
  docs/fundamentals/apicompat/package-validation/overview.md
Labels: dotnet-fundamentals/svc

#48049 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#48056 Static instance parameters
  docs/csharp/programming-guide/classes-and-structs/constructors.md
  docs/csharp/programming-guide/classes-and-structs/snippets/constructors/Program.cs
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#47079 Clarify the publishing articles by removing "deploy" where appropriate and merge similar info
  .openpublishing.redirection.core.json
  docs/architecture/microservices/multi-container-microservice-net-applications/multi-container-applications-docker-compose.md
  docs/core/compatibility/sdk/6.0/apphost-generated-for-macos.md
  docs/core/compatibility/sdk/8.0/arch-option.md
  docs/core/compatibility/sdk/8.0/runtimespecific-app-default.md
  docs/core/deploying/deploy-with-cli.md
  docs/core/deploying/deploy-with-vs.md
  docs/core/deploying/includes/cli-c-release.md
  docs/core/deploying/includes/cli-r-rid-optional.md
  docs/core/deploying/includes/cli-r-rid.md
  docs/core/deploying/index.md
  docs/core/deploying/native-aot/index.md
  docs/core/deploying/ready-to-run.md
  docs/core/deploying/runtime-store.md
  docs/core/deploying/single-file/overview.md
  docs/core/deploying/snippets/deploy-with-vs/csharp/deploy.csproj
  docs/core/deploying/snippets/deploy-with-vs/csharp/deployment-example.cs
  docs/core/deploying/snippets/deploy-with-vs/vb/deploy.vbproj
  docs/core/deploying/snippets/deploy-with-vs/vb/deployment-example.vb
  docs/core/deploying/snippets/deploy-with-vs/xml/access-by-line.txt
  docs/core/deploying/snippets/deploy-with-vs/xml/invariant.csproj
  docs/core/deploying/trimming/trim-self-contained.md
  docs/core/docker/build-container.md
  docs/core/install/macos-notarization-issues.md
  docs/core/native-interop/expose-components-to-com.md
  docs/core/project-sdk/msbuild-props.md
  docs/core/rid-catalog.md
  docs/core/runtime-discovery/troubleshoot-app-launch.md
  docs/core/tools/dotnet-clean.md
  docs/core/tools/dotnet-publish.md
  docs/core/tools/sdk-errors/netsdk1071.md
  docs/core/tools/troubleshoot-usage-issues.md
  docs/core/tutorials/publishing-with-visual-studio-code.md
  docs/core/tutorials/publishing-with-visual-studio.md
  docs/core/versions/selection.md
  docs/core/whats-new/dotnet-9/runtime.md
  docs/core/whats-new/dotnet-core-2-2.md
  docs/core/whats-new/dotnet-core-3-0.md
  docs/core/whats-new/dotnet-core-3-1.md
  docs/navigate/devops-testing/toc.yml
  docs/navigate/tools-diagnostics/index.yml
  docs/standard/glossary.md
  docs/standard/runtime-libraries-overview.md
Labels: dotnet-architecture/svc, microservices/subsvc, dotnet-fundamentals/svc, dotnet-docker/subsvc, install/subsvc, dotnet-cli/subsvc

#48059 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#48055 Update configuration-providers.md
  docs/core/extensions/configuration-providers.md
Labels: dotnet-fundamentals/svc, community-contribution

#48060 Add missing links for namespace aliases and extern alias in C# namespaces guide
  docs/csharp/fundamentals/types/namespaces.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#48075 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#48082 Mention names of old parameters for search purposes
  docs/standard/commandline/migration-guide-2.0.0-beta5.md
Labels: dotnet-fundamentals/svc

#48008 define freshness tiers for F#
  docfx.json
Labels: okr-freshness

#48119 Freshness pass, metadata
  docs/ai/index.yml
  docs/ai/tutorials/tutorial-ai-vector-search.md
  docs/azure/sdk/authentication/index.md
Labels: dotnet-azure/svc

#47883 add 8D release notes
  docs/framework/release-notes/2025/08-26-august-cumulative-update-preview.md
  docs/framework/release-notes/release-notes.md
  docs/framework/toc.yml
Labels: dotnet-framework/svc

#48185 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge
