Repository dotnet/docs, pull requests merged in 2025-09, with the labels that each got.

#48208 Fix spelling in `custombuildeventargs.md`
  docs/core/compatibility/sdk/8.0/custombuildeventargs.md
Labels: dotnet-fundamentals/svc, community-contribution

#48194 Link the app config file explanation and schema in CS1702 page
  docs/csharp/misc/cs1702.md
Labels: dotnet-csharp/svc, community-contribution, csharp-errors-warnings/subsvc

#48197 Update 08-26-august-cumulative-update-preview.md
  docs/framework/release-notes/2025/08-26-august-cumulative-update-preview.md
Labels: dotnet-framework/svc

#47867 [DocsArchive-1.0.25211.1](2025-08-06-18-00-53)Auto archive content
  .openpublishing.redirection.json
  docs/core/install/localized-intellisense.md
  docs/core/install/media/localized-intellisense/vs-installer-modify.png
  docs/core/install/media/localized-intellisense/vs-installer-windows-start.png
  docs/core/install/media/localized-intellisense/vs-modify-language-packs.png
  docs/fundamentals/toc.yml
Labels: dotnet-fundamentals/svc, install/subsvc

#48219 Clarify default signal handling changes in .NET 10
  docs/core/compatibility/core-libraries/10.0/sigterm-signal-handler.md
Labels: dotnet-fundamentals/svc

#48181 Update dotnet test --arch and --runtime options
  docs/core/tools/dotnet-test.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#48255 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#48165 Add AI resources pages
  .openpublishing.redirection.ai.json
  docs/ai/azure-ai-for-dotnet-developers.md
  docs/ai/index.yml
  docs/ai/resources/azure-ai.md
  docs/ai/resources/get-started.md
  docs/ai/resources/mcp-servers.md
  docs/ai/toc.yml
  docs/azure/index.yml
Labels: dotnet-azure/svc

#48261 Update pruning breaking change for RC 1
  docs/core/compatibility/10.0.md
  docs/core/compatibility/sdk/10.0/nu1510-pruned-references.md
  docs/core/compatibility/sdk/10.0/prune-packagereference-privateassets.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#48265 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#48220 NO.2 | Update a code snippet in httpclient.md
  docs/fundamentals/networking/snippets/httpclient/Program.CancellationStream.cs
Labels: dotnet-fundamentals/svc, community-contribution, dotnet-networking/subsvc

#48272 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#48080 Update generic-host.md
  docs/core/extensions/generic-host.md
Labels: dotnet-fundamentals/svc, community-contribution

#48262 Update example to use const
  docs/csharp/misc/cs0131.md
Labels: dotnet-csharp/svc, csharp-errors-warnings/subsvc

#48273 Doesn't support .slnx files
  docs/core/tools/dotnet-migrate.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#47094 Add notes about `dnx`
  docs/core/distribution-packaging.md
Labels: dotnet-fundamentals/svc

#48289 Close the bracket for the IDE0304 rule
  docs/fundamentals/code-analysis/style-rules/language-rules.md
Labels: dotnet-fundamentals/svc, community-contribution

#48301 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#48312 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#48313 Change ms.date to 09/09/2025
  docs/core/compatibility/10.0.md
Labels: dotnet-fundamentals/svc

#48322 Typo fixes
  docs/framework/release-notes/2025/08-26-august-cumulative-update-preview.md
  docs/framework/toc.yml
Labels: dotnet-framework/svc, community-contribution

#48477 Add alternative error message for SEO
  docs/core/compatibility/sdk/8.0/custombuildeventargs.md
Labels: dotnet-fundamentals/svc

#48540 Fix namespace name
  docs/csharp/fundamentals/tutorials/file-based-programs.md
Labels: dotnet-csharp/svc, fundamentals/subsvc

#48549 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#48319 Rework the .NET GitHub Copilot content and modernize/upgrade/migrate related content
  docs/azure/migration/appmod/overview.md
  docs/core/porting/framework-overview.md
  docs/core/porting/github-copilot-app-modernization-faq.yml
  docs/core/porting/github-copilot-app-modernization-install.md
  docs/core/porting/github-copilot-app-modernization-overview.md
  docs/core/porting/how-to-upgrade-with-github-copilot.md
  docs/core/porting/includes/github-copilot-suggestion.md
  docs/core/porting/index.md
  docs/core/porting/modernize.md
  docs/core/porting/porting-approaches.md
  docs/core/porting/premigration-needed-changes.md
  docs/core/porting/third-party-deps.md
  docs/core/porting/unsupported-apis.md
  docs/core/porting/upgrade-assistant-analyze-overview.md
  docs/core/porting/upgrade-assistant-install.md
  docs/core/porting/upgrade-assistant-overview.md
  docs/core/whats-new/dotnet-7.md
  docs/navigate/github-copilot-modernize/index.yml
  docs/navigate/github-copilot-modernize/toc.yml
  docs/navigate/migration-guide/index.yml
  docs/navigate/migration-guide/toc.yml
  docs/standard/analyzers/portability-analyzer.md
Labels: dotnet-fundamentals/svc, code-analyzers/subsvc, dotnet-azure/svc

#48612 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#48557 Add unsafe-code/best-practices.md
  docs/navigate/advanced-programming/toc.yml
  docs/standard/unsafe-code/best-practices.md
Labels: dotnet-fundamentals/svc

#48618 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#48620 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#48543 New app mod flow doc
  docs/azure/migration/appmod/faq.md
  docs/azure/migration/appmod/media/assessment-in-process.png
  docs/azure/migration/appmod/media/assessment-report.png
  docs/azure/migration/appmod/media/modernization-welcome.png
  docs/azure/migration/appmod/media/modernize-solution.png
  docs/azure/migration/appmod/media/overview-assessment.png
  docs/azure/migration/appmod/media/overview-remediation.png
  docs/azure/migration/appmod/media/overview-solution.png
  docs/azure/migration/appmod/media/overview_assessment.png
  docs/azure/migration/appmod/media/overview_remediation.png
  docs/azure/migration/appmod/media/overview_solution.png
  docs/azure/migration/appmod/media/quickstart-chat-experience.png
  docs/azure/migration/appmod/media/quickstart-followup.png
  docs/azure/migration/appmod/overview.md
  docs/azure/migration/appmod/predefined-tasks.md
  docs/azure/migration/appmod/quickstart.md
Labels: dotnet-azure/svc, community-contribution

#48627 Fix increment and decrement static operator
  docs/csharp/language-reference/operators/snippets/shared/OperatorOverloading.cs
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#48659 [UUF] Add links to Hot Reload
  docs/core/compatibility/aspnet-core/10/razor-runtime-compilation-obsolete.md
Labels: dotnet-fundamentals/svc, user-feedback

#48629 Address feedback on unsafe-code/best-practices.md
  docs/standard/unsafe-code/best-practices.md
Labels: dotnet-fundamentals/svc

#48681 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#48675 Remove section calling out using AI to initialize a dictionary
  docs/csharp/programming-guide/classes-and-structs/how-to-initialize-a-dictionary-with-a-collection-initializer.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#48736 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#48654 [UUF] Add missing package
  docs/ai/quickstarts/generate-images.md
Labels: user-feedback

#48753 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#48738 Update file-based app functionality in command reference
  docs/core/tools/dotnet-build.md
  docs/core/tools/dotnet-clean.md
  docs/core/tools/dotnet-publish.md
  docs/core/tools/dotnet-restore.md
  docs/core/tools/dotnet-run.md
  includes/cli-arguments-project-solution-file.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#48746 Update App Mod .NET containerization tool selection
  docs/azure/media/appmod-dotnet-containerization-tool-selection.png
  docs/azure/migration/appmod/containerization.md
Labels: dotnet-azure/svc, community-contribution

#48763 Add code example for CA1002 rule (#48762)
  docs/fundamentals/code-analysis/quality-rules/ca1002.md
  docs/fundamentals/code-analysis/quality-rules/snippets/csharp/all-rules/ca1002.cs
Labels: dotnet-fundamentals/svc, community-contribution

#48786 Add HTTP logging middleware breaking change documentation for .NET 8
  docs/core/compatibility/8.0.md
  docs/core/compatibility/aspnet-core/8.0/httplogging-addhttplogging-requirement.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#48798 Fix string interpolation typo in AsyncCultureEx1 code snippet
  docs/fundamentals/runtime-libraries/snippets/System.Globalization/CultureInfo/csharp/asyncculture1.cs
Labels: dotnet-fundamentals/svc, community-contribution

#48802 Fix casing in links
  docs/core/compatibility/8.0.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc
