Repository dotnet/docs, pull requests merged in 2025-04, with the labels that each got.

#45574 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#45587 Fix CC note about IncludeTestAssembly default
  docs/core/testing/microsoft-testing-platform-extensions-code-coverage.md
Labels: dotnet-fundamentals/svc

#45591 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#45585 Add missing semicolon for C typedefs
  docs/framework/unmanaged-api/debugging/corgcreferencetype-enumeration.md
  docs/standard/native-interop/best-practices.md
Labels: dotnet-framework/svc, dotnet-fundamentals/svc, community-contribution

#45589 Update dotnet test to correct dotnet.config documentation
  docs/core/testing/unit-testing-with-dotnet-test.md
  docs/core/tools/dotnet-test.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#45430 Update dotnet-publish.md
  docs/core/tools/dotnet-publish.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#45348 add march non-sec update to release notes
  docs/framework/release-notes/2025/03-25-march-cumulative-update-preview.md
  docs/framework/release-notes/release-notes.md
  docs/framework/toc.yml
Labels: dotnet-framework/svc

#45168 Fix for #45152
  docs/csharp/advanced-topics/interface-implementation/media/mixins-with-default-interface-methods/diamond-problem.png
  docs/csharp/advanced-topics/interface-implementation/media/mixins-with-default-interface-methods/diamond-problem.svg
  docs/csharp/advanced-topics/interface-implementation/mixins-with-default-interface-methods.md
Labels: dotnet-csharp/svc, community-contribution

#43345 Fix IsApproximatelyEqual sample for negative values
  docs/fundamentals/runtime-libraries/snippets/System/Single/Overview/csharp/comparison4.cs
Labels: dotnet-fundamentals/svc, community-contribution

#43842 Refined explanations and improved grammar in .NET docs.
  docs/core/introduction.md
Labels: dotnet-fundamentals/svc, community-contribution

#45594 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#45595 Fixes related to automated cleanrepo runs
  .github/workflows/cleanrepo-redirect-hops.yml
  docs/core/testing/unit-testing-with-dotnet-test.md
  docs/navigate/devops-testing/toc.yml
Labels: dotnet-fundamentals/svc

#45467 usepackagetargets updates to #r nuget syntax
  docs/fsharp/tools/fsharp-interactive/index.md
Labels: dotnet-fsharp/svc

#45464 docs: add .NET 9 SDK download link
  docs/core/docker/build-container.md
Labels: dotnet-fundamentals/svc, dotnet-docker/subsvc, community-contribution

#45471 Fix: Changed image
  docs/core/testing/unit-testing-with-copilot.md
Labels: dotnet-fundamentals/svc, community-contribution

#45606 Clarify guard behavior for OR patterns
  docs/fsharp/language-reference/match-expressions.md
Labels: dotnet-fsharp/svc, community-contribution

#45616 Update versions-and-dependencies.md
  docs/framework/install/on-windows-and-server.md
  docs/framework/install/versions-and-dependencies.md
Labels: dotnet-framework/svc, community-contribution, install/subsvc

#45614 Update doc about global.json to include new properties for SDK resolution
  docs/core/tools/global-json.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#43995 docs: update --no-openapi description
  docs/core/tools/dotnet-new-sdk-templates.md
Labels: dotnet-fundamentals/svc, community-contribution, dotnet-cli/subsvc

#44224 Update frameworks.md
  docs/standard/frameworks.md
Labels: dotnet-fundamentals/svc, community-contribution

#44631 Add instructions how to debug NativeAOT exceptions on the ARM64
  docs/core/deploying/native-aot/diagnostics.md
Labels: dotnet-fundamentals/svc, community-contribution

#43738 Update using-udp-services.md
  docs/framework/network-programming/using-udp-services.md
Labels: dotnet-framework/svc, community-contribution, dotnet-networking/subsvc

#29514 Mention limitations of the hosting API
  docs/core/tutorials/netcore-hosting.md
Labels: dotnet-fundamentals/svc

#45628 [Breaking change]: --interactive option for dotnet CLI can now default to `true` in user-centric scenarios
  docs/core/compatibility/10.0.md
  docs/core/compatibility/sdk/10.0/dotnet-cli-interactive.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#45630 Add Win10 22H2 in versions-and-dependencies.md
  docs/framework/install/versions-and-dependencies.md
Labels: dotnet-framework/svc, community-contribution, install/subsvc

#45634 fix system-assigned typo
  docs/azure/sdk/authentication/user-assigned-managed-identity.md
Labels: dotnet-azure/svc

#45629 Remove outdated info
  docs/framework/64-bit-apps.md
Labels: dotnet-framework/svc, okr-freshness

#44996 fix(docs): Correct default rollForward policy in global.json documentation
  docs/core/tools/global-json.md
Labels: dotnet-fundamentals/svc, community-contribution, dotnet-cli/subsvc

#45638 Add missing server2019 to overview
  docs/framework/install/index.md
Labels: dotnet-framework/svc, install/subsvc

#45620 Document BuildWithNetFrameworkHostedCompiler and friends
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/svc

#45646 Fixed typo on System.Type.GetType methods page.
  docs/fundamentals/runtime-libraries/system-type-gettype.md
Labels: dotnet-fundamentals/svc, community-contribution

#45642 static examples
  docs/csharp/language-reference/keywords/static.md
  samples/snippets/csharp/VS_Snippets_VBCSharp/csrefKeywordsModifiers/CS/csrefKeywordsModifiers.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/csrefKeywordsModifiers/CS/csrefKeywordsModifiers.csproj
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#45147 Update the `dotnet tool install` page
  docs/core/tools/dotnet-tool-install.md
Labels: dotnet-fundamentals/svc, community-contribution, dotnet-cli/subsvc

#45652 Fix incomplete sentence
  docs/core/containers/sdk-publish.md
Labels: dotnet-fundamentals/svc

#45651 Remove 'additional' from description of sdk/paths global.json property
  docs/core/tools/global-json.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#45608 Fixed typo in `ReleaseDiscardableFontResources`.
  docs/framework/release-notes/2025/01-28-january-cumulative-update-preview.md
Labels: dotnet-framework/svc, community-contribution

#45622 Get Started tutorial on types
  docs/csharp/toc.yml
  docs/csharp/tour-of-csharp/tutorials/index.md
  docs/csharp/tour-of-csharp/tutorials/numbers-in-csharp.md
  docs/csharp/tour-of-csharp/tutorials/snippets/TuplesAndTypes/PointEvolution.cs
  docs/csharp/tour-of-csharp/tutorials/snippets/TuplesAndTypes/PointStruct.cs
  docs/csharp/tour-of-csharp/tutorials/snippets/TuplesAndTypes/Program.cs
  docs/csharp/tour-of-csharp/tutorials/snippets/TuplesAndTypes/TuplesAndTypes.csproj
  docs/csharp/tour-of-csharp/tutorials/tuples-and-types.md
Labels: dotnet-csharp/svc, get-started/subsvc

#45660 add 4b release notes
  docs/framework/release-notes/2025/04-08-april-cumulative-update.md
  docs/framework/release-notes/release-notes.md
  docs/framework/toc.yml
Labels: dotnet-framework/svc

#45657 Add more info about TPVs
  docs/standard/frameworks.md
Labels: dotnet-fundamentals/svc

#45664 Fix the typo in ComponentGuaranteesAttribute class page
  docs/fundamentals/runtime-libraries/system-runtime-versioning-componentguaranteesattribute.md
Labels: dotnet-fundamentals/svc, community-contribution

#45665 Fix: microsoft - contoso example in <schemeSettings> page
  docs/framework/configure-apps/file-schema/network/schemesettings-element-uri-settings.md
Labels: dotnet-framework/svc, networking/subsvc, community-contribution

#45663 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#45668 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#45636 Fix/typo in build open ai chat app
  docs/ai/quickstarts/build-chat-app.md
Labels: community-contribution

#45673 Fix broken hyperlink
  docs/standard/events/index.md
Labels: dotnet-fundamentals/svc, community-contribution

#45658 Update notes on IHttpClientFactory and cookies
  docs/core/extensions/httpclient-factory.md
  docs/fundamentals/networking/http/httpclient-guidelines.md
Labels: dotnet-fundamentals/svc, dotnet-networking/subsvc

#45755 updated metadata for freshness pass
  docs/ai/azure-ai-services-authentication.md
  docs/ai/conceptual/prompt-engineering-dotnet.md
  docs/ai/get-started/dotnet-ai-overview.md
  docs/ai/quickstarts/build-chat-app.md
  docs/ai/quickstarts/generate-images.md
  docs/ai/quickstarts/prompt-model.md
  docs/ai/semantic-kernel-dotnet-overview.md
Labels: okr-freshness

#45667 [Breaking change]: [browser] streaming HTTP response is on by deafult
  docs/core/compatibility/10.0.md
  docs/core/compatibility/networking/10.0/default-http-streaming.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#45759 Update MEAI versions in snippets
  docs/ai/how-to/snippets/content-filtering/AIContentFiltering.csproj
  docs/ai/how-to/snippets/content-filtering/Program.cs
  docs/ai/how-to/snippets/hosted-app-auth/Program.cs
  docs/ai/how-to/snippets/hosted-app-auth/hosted-app-auth.csproj
  docs/ai/quickstarts/ai-templates.md
  docs/ai/quickstarts/snippets/build-chat-app/azure-openai/ChatAppAI.csproj
  docs/ai/quickstarts/snippets/build-chat-app/azure-openai/Program.cs
  docs/ai/quickstarts/snippets/build-chat-app/openai/ExtensionsOpenAI.csproj
  docs/ai/quickstarts/snippets/build-chat-app/openai/Program.cs
  docs/ai/quickstarts/snippets/chat-with-data/azure-openai/Program.cs
  docs/ai/quickstarts/snippets/chat-with-data/azure-openai/VectorDataAI.csproj
  docs/ai/quickstarts/snippets/chat-with-data/openai/Program.cs
  docs/ai/quickstarts/snippets/chat-with-data/openai/VectorDataAI.csproj
  docs/ai/quickstarts/snippets/evaluate-ai-responses/MyTests.cs
  docs/ai/quickstarts/snippets/evaluate-ai-responses/TestAI.csproj
  docs/ai/quickstarts/snippets/function-calling/azure-openai/FunctionCallingAI.csproj
  docs/ai/quickstarts/snippets/function-calling/azure-openai/Program.cs
  docs/ai/quickstarts/snippets/function-calling/openai/FunctionCallingAI.csproj
  docs/ai/quickstarts/snippets/function-calling/openai/Program.cs
  docs/ai/quickstarts/snippets/image-generation/openai/ImagesOpenAI.csproj
  docs/ai/quickstarts/snippets/local-ai/ollama.csproj
  docs/ai/quickstarts/snippets/prompt-completion/azure-openai/ExtensionsAzureOpenAI.csproj
  docs/ai/quickstarts/snippets/prompt-completion/azure-openai/Program.cs
  docs/ai/quickstarts/snippets/prompt-completion/openai/ExtensionsOpenAI.csproj
  docs/ai/quickstarts/snippets/prompt-completion/openai/Program.cs
  docs/ai/tutorials/snippets/evaluate-with-reporting/MyTests.cs
  docs/ai/tutorials/snippets/evaluate-with-reporting/TestAIWithReporting.csproj
  docs/core/extensions/snippets/ai/AI.Shared/AI.Shared.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.FunctionalityPipelines/ConsoleAI.FunctionalityPipelines.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.ProvideOptions/ConsoleAI.ProvideOptions.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.ToolCalling/ConsoleAI.ToolCalling.csproj
  docs/core/extensions/snippets/ai/ConsoleAI.UseTelemetry/Program.cs
  docs/core/extensions/snippets/ai/ConsoleAI/ConsoleAI.csproj
Labels: dotnet-fundamentals/svc

#45756 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#45669 Update diagnostic-port details
  docs/core/diagnostics/dotnet-counters.md
  docs/core/diagnostics/dotnet-gcdump.md
  docs/core/diagnostics/dotnet-trace.md
Labels: dotnet-fundamentals/svc

#45768 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#45766 Clarify behavior for publish path
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/svc

#45763 Add note about byte[]
  docs/standard/serialization/system-text-json/supported-types.md
Labels: dotnet-fundamentals/svc

#45764 Remove incorrect info about default calendar restriction
  docs/fundamentals/runtime-libraries/system-globalization-persiancalendar.md
Labels: dotnet-fundamentals/svc

#45769 Move and combine snippets for Memory<T> guidelines
  docs/standard/memory-and-spans/memory-t-usage-guidelines.md
  docs/standard/memory-and-spans/snippets/usage-guidelines/owner-using/owner-using.cs
  docs/standard/memory-and-spans/snippets/usage-guidelines/owner-using/owner-using.csproj
  docs/standard/memory-and-spans/snippets/usage-guidelines/owner/owner.cs
  docs/standard/memory-and-spans/snippets/usage-guidelines/owner/owner.csproj
  docs/standard/memory-and-spans/snippets/usage-guidelines/ownerless/ownerless.cs
  docs/standard/memory-and-spans/snippets/usage-guidelines/ownerless/ownerless.csproj
  docs/standard/memory-and-spans/snippets/usage-guidelines/task-returning-async/project.csproj
  docs/standard/memory-and-spans/snippets/usage-guidelines/task-returning-async/task-returning-async.cs
  docs/standard/memory-and-spans/snippets/usage-guidelines/task-returning/task-returning.cs
  docs/standard/memory-and-spans/snippets/usage-guidelines/task-returning/task-returning.csproj
  docs/standard/memory-and-spans/snippets/usage-guidelines/void-returning/void-returning.cs
  docs/standard/memory-and-spans/snippets/usage-guidelines/void-returning/void-returning.csproj
  samples/snippets/standard/buffers/memory-t/task-returning-async/task-returning-async.cs
  samples/snippets/standard/buffers/memory-t/void-returning/void-returning.csproj
Labels: dotnet-fundamentals/svc

#45765 Update What's New for .NET 10 with P3 info
  docs/core/whats-new/dotnet-10/libraries.md
  docs/core/whats-new/dotnet-10/overview.md
  docs/core/whats-new/dotnet-10/runtime.md
  docs/core/whats-new/dotnet-10/sdk.md
Labels: dotnet-fundamentals/svc

#45637 Add reference for null conditional assignment
  docfx.json
  docs/csharp/language-reference/operators/assignment-operator.md
  docs/csharp/language-reference/operators/member-access-operators.md
  docs/csharp/language-reference/operators/null-coalescing-operator.md
  docs/csharp/language-reference/operators/snippets/shared/NullCoalescingOperator.cs
  docs/csharp/language-reference/operators/snippets/shared/operators.csproj
  docs/csharp/specification/toc.yml
  docs/csharp/whats-new/csharp-14.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, whats-new/subsvc

#45774 Update .NET 10 overview with Andy's suggestions
  docs/core/whats-new/dotnet-10/overview.md
Labels: dotnet-fundamentals/svc

#45775 Updates to IAsyncEnumerable breaking change
  docs/core/compatibility/core-libraries/10.0/asyncenumerable.md
Labels: dotnet-fundamentals/svc

#45767 Update unit testing properties
  docs/core/project-sdk/msbuild-props.md
  docs/core/testing/unit-testing-csharp-with-xunit.md
  docs/core/testing/unit-testing-mstest-sdk.md
Labels: dotnet-fundamentals/svc

#45773 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#45781 Address review comments and improve docs
  docs/core/testing/microsoft-testing-platform-integration-dotnet-test.md
  docs/core/testing/unit-testing-mstest-sdk.md
  docs/core/testing/unit-testing-with-dotnet-test.md
Labels: dotnet-fundamentals/svc

#45780 Change "alignment" to "width"
  docs/core/extensions/globalization.md
  docs/csharp/language-reference/tokens/interpolated.md
  docs/csharp/programming-guide/strings/index.md
  docs/csharp/tutorials/string-interpolation.md
  docs/framework/configure-apps/file-schema/runtime/timespan-legacyformatmode-element.md
  docs/fundamentals/runtime-libraries/includes/interpolated-strings.md
  docs/fundamentals/runtime-libraries/system-double.md
  docs/fundamentals/runtime-libraries/system-single.md
  docs/fundamentals/runtime-libraries/system-string-format.md
  docs/standard/base-types/composite-formatting.md
  docs/standard/base-types/creating-new.md
  docs/standard/base-types/formatting-types.md
  docs/standard/base-types/how-to-pad-a-number-with-leading-zeros.md
  docs/standard/base-types/miscellaneous-constructs-in-regular-expressions.md
  docs/standard/base-types/standard-numeric-format-strings.md
  docs/standard/base-types/stringbuilder.md
  docs/visual-basic/language-reference/special-characters/interpolated.md
  docs/visual-basic/programming-guide/language-features/strings/interpolated-strings.md
Labels: dotnet-framework/svc, dotnet-visualbasic/svc, dotnet-csharp/svc, fundamentals/subsvc, lang-reference/subsvc, dotnet-fundamentals/svc

#45786 Correct the folder name in the pack and install section of the templates article.
  docs/core/tutorials/cli-templates-create-template-package.md
Labels: dotnet-fundamentals/svc

#45779 Clarify MTP Retry docs
  docs/core/testing/microsoft-testing-platform-extensions-policy.md
Labels: dotnet-fundamentals/svc

#45788 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#45776 Add a warning about perfcollect Lttng incompatibility
  docs/core/diagnostics/trace-perfcollect-lttng.md
Labels: dotnet-fundamentals/svc

#45800 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#45796 Update what's new in .NET 10 for SDK
  docs/core/whats-new/dotnet-10/overview.md
Labels: dotnet-fundamentals/svc

#45778 [Breaking change]: .NET Linux applications do not look in `netcoredeps` sub-directory for native libraries
  docs/core/compatibility/8.0.md
  docs/core/compatibility/interop/8.0/linux-netcoredeps.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#45803 Update csrefKeywordsModifiers.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/csrefKeywordsModifiers/CS/csrefKeywordsModifiers.cs
Labels: community-contribution

#45808 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#45812 Fix missing dash in --ignore-exit-code flag
  docs/core/testing/microsoft-testing-platform-intro.md
Labels: dotnet-fundamentals/svc, community-contribution

#45821 Updating container guidance for diag tools
  docs/core/diagnostics/diagnostics-in-containers.md
Labels: dotnet-fundamentals/svc

#45834 toc.yml: Move "Built-in types" to the top
  docs/csharp/language-reference/toc.yml
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#45842 Update ca2249.md and fix typo in the example code
  docs/fundamentals/code-analysis/quality-rules/ca2249.md
Labels: dotnet-fundamentals/svc, community-contribution

#45846 Update default build configuration to 'Release'
  docs/core/deploying/deploy-with-cli.md
Labels: dotnet-fundamentals/svc, community-contribution

#45848 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#45855 refactor: improve readability of WaterState method
  docs/csharp/fundamentals/functional/snippets/patterns/Simulation.cs
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#45654 Add language reference and fundamentals for C# 14 extension members
  docfx.json
  docs/core/whats-new/dotnet-10/overview.md
  docs/csharp/fundamentals/object-oriented/index.md
  docs/csharp/language-reference/keywords/base.md
  docs/csharp/language-reference/keywords/extension.md
  docs/csharp/language-reference/keywords/index.md
  docs/csharp/language-reference/keywords/snippets/ExtensionMethods.cs
  docs/csharp/language-reference/keywords/snippets/Extensions.cs
  docs/csharp/language-reference/keywords/snippets/csrefKeywordsAccess.cs
  docs/csharp/language-reference/keywords/snippets/keywords.csproj
  docs/csharp/language-reference/keywords/this.md
  docs/csharp/language-reference/toc.yml
  docs/csharp/linq/how-to-extend-linq.md
  docs/csharp/linq/snippets/HowToExtend/ExtensionMembers.cs
  docs/csharp/linq/snippets/HowToExtend/GroupByContiguousKeys.cs
  docs/csharp/methods.md
  docs/csharp/programming-guide/classes-and-structs/extension-methods.md
  docs/csharp/programming-guide/classes-and-structs/how-to-create-a-new-method-for-an-enumeration.md
  docs/csharp/programming-guide/classes-and-structs/snippets/ExtensionMembers/CustomExtensionMembers.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/ExtensionMembers/CustomExtensionMethods.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/ExtensionMembers/ExtensionMembers.csproj
  docs/csharp/programming-guide/classes-and-structs/snippets/ExtensionMembers/ExtensionMethods.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/ExtensionMembers/Program.cs
  docs/csharp/programming-guide/classes-and-structs/snippets/methods/Program.cs
  docs/csharp/specification/toc.yml
  docs/csharp/tour-of-csharp/tips-for-java-developers.md
  docs/csharp/whats-new/csharp-14.md
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideExtensionMethods/cs/extensionmethods.cs
  samples/snippets/csharp/VS_Snippets_VBCSharp/csProgGuideExtensionMethods/cs/extensionmethods.csproj
  samples/snippets/csharp/VS_Snippets_VBCSharp/csrefKeywordsAccess/CS/Project.csproj
Labels: dotnet-csharp/svc, fundamentals/subsvc, lang-reference/subsvc, whats-new/subsvc, get-started/subsvc, csharp-linq/subsvc, dotnet-fundamentals/svc

#45859 Add an overview of extension members in the What's new in C# 14 article
  docs/csharp/whats-new/csharp-14.md
Labels: dotnet-csharp/svc, whats-new/subsvc

#45861 Add example to System.Linq.AsyncEnumerable breaking change notice
  docs/core/compatibility/core-libraries/10.0/asyncenumerable.md
Labels: dotnet-fundamentals/svc

#45860 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#45864 Update description to match refactored switch expression logic
  docs/csharp/fundamentals/functional/pattern-matching.md
Labels: dotnet-csharp/svc, fundamentals/subsvc, community-contribution

#45876 Remove extra dev_lang metadata
  docs/core/tutorials/publishing-with-visual-studio.md
  docs/core/whats-new/dotnet-core-2-2.md
  docs/standard/serialization/system-text-json/source-generation.md
Labels: dotnet-fundamentals/svc

#45882 Switch command order
  docs/core/tools/dependencies.md
  docs/standard/data/sqlite/encryption.md
Labels: dotnet-fundamentals/svc, dotnet-data/svc, dotnet-cli/subsvc

#45883 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#45790 Update option values for prefer collection expressions
  docs/fundamentals/code-analysis/style-rules/ide0028.md
  docs/fundamentals/code-analysis/style-rules/ide0300.md
  docs/fundamentals/code-analysis/style-rules/ide0301.md
  docs/fundamentals/code-analysis/style-rules/ide0302.md
  docs/fundamentals/code-analysis/style-rules/ide0303.md
  docs/fundamentals/code-analysis/style-rules/ide0304.md
  docs/fundamentals/code-analysis/style-rules/ide0305.md
  docs/fundamentals/code-analysis/style-rules/ide0306.md
  docs/fundamentals/code-analysis/style-rules/includes/dotnet-style-prefer-collection-expression.md
  docs/fundamentals/code-analysis/style-rules/index.md
Labels: dotnet-fundamentals/svc

#45802 Document RoslynCompilerType
  docs/core/project-sdk/msbuild-props.md
Labels: dotnet-fundamentals/svc

#45843 removing 2 quality options from dotnet-install-script.md
  docs/core/tools/dotnet-install-script.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#45847 Update link in CA2008 doc to new location
  docs/fundamentals/code-analysis/quality-rules/ca2008.md
Labels: dotnet-fundamentals/svc, community-contribution

#43702 fix code snippet in 'Collection lookups with spans (What's new in .NET libraries for .NET 9)' documentation
  docs/core/whats-new/snippets/dotnet-9/csharp/Collections.cs
Labels: dotnet-fundamentals/svc, community-contribution

#45887 Update documentation to recommend using non-root `app` user for ASP.NET Core port configuration
  docs/core/compatibility/containers/8.0/aspnet-port.md
Labels: dotnet-fundamentals/svc

#45890 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#45895 Clarify Windows 10 and .NET 3.5 installer support.
  docs/framework/install/dotnet-35-windows.md
Labels: dotnet-framework/svc, okr-quality, install/subsvc

#45896 Fix type in dotnet-install-script.md
  docs/core/tools/dotnet-install-script.md
Labels: dotnet-fundamentals/svc, dotnet-cli/subsvc

#45783 Document MSTEST0042 and MSTEST0043
  docs/core/testing/mstest-analyzers/mstest0042.md
  docs/core/testing/mstest-analyzers/mstest0043.md
  docs/core/testing/mstest-analyzers/overview.md
  docs/core/testing/mstest-analyzers/usage-rules.md
  docs/navigate/devops-testing/toc.yml
Labels: dotnet-fundamentals/svc

#45903 Cleanup introduction
  docs/csharp/programming-guide/classes-and-structs/extension-methods.md
Labels: dotnet-csharp/svc, fundamentals/subsvc

#45886 [Breaking change]: Switch the default trace context propagator from Legacy to W3C
  docs/core/compatibility/10.0.md
  docs/core/compatibility/core-libraries/10.0/default-trace-context-propagator.md
  docs/core/compatibility/toc.yml
Labels: dotnet-fundamentals/svc

#45909 Document the `LocalRegistry` MSBuild property for SDK container publish
  docs/core/containers/publish-configuration.md
Labels: dotnet-fundamentals/svc

#45894 Add information about multi-RID container publishing in 8.0.405, 9.0.102, and 9.0.2xx to SDK Containerization reference
  docs/core/containers/publish-configuration.md
Labels: dotnet-fundamentals/svc

#45905 Add documentation for `ContainerPublishInParallel` property
  docs/core/containers/publish-configuration.md
Labels: dotnet-fundamentals/svc

#45908 Add documentation for `ContainerImageFormat` Container Publishing flag
  docs/core/containers/publish-configuration.md
Labels: dotnet-fundamentals/svc

#45907 Update csharp-14.md
  docs/csharp/whats-new/csharp-14.md
Labels: dotnet-csharp/svc, whats-new/subsvc, community-contribution

#45904 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#45850 Update task-expressions.md
  docs/fsharp/language-reference/task-expressions.md
Labels: dotnet-fsharp/svc, community-contribution

#45913 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#45914 Mention public signing in Strong Name docs
  docs/standard/library-guidance/strong-naming.md
Labels: dotnet-fundamentals/svc

#45906 Fix typo in architecture in RID graph
  docs/core/rid-catalog.md
Labels: dotnet-fundamentals/svc, community-contribution

#45922 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#45866 Correct stack allocated arrays in what's new
  docs/core/whats-new/dotnet-10/overview.md
Labels: dotnet-fundamentals/svc, community-contribution

#45920 update bash multi tag script sample
  docs/core/containers/publish-configuration.md
Labels: dotnet-fundamentals/svc, community-contribution

#45836 Corrections to the mage.exe page
  docs/framework/tools/mage-exe-manifest-generation-and-editing-tool.md
Labels: dotnet-framework/svc, community-contribution

#45929 Csharp language reference attributes: add missing AsyncMethodBuilder.SetStateMachine member
  docs/csharp/language-reference/attributes/general.md
Labels: dotnet-csharp/svc, lang-reference/subsvc, community-contribution

#45934 Don't compare boolean with `false`
  docs/csharp/whats-new/csharp-14.md
Labels: dotnet-csharp/svc, whats-new/subsvc, community-contribution

#45942 Fix build warnings
  docs/ai/tutorials/evaluate-with-reporting.md
  docs/architecture/cloud-native/resilient-communications.md
  docs/architecture/microservices/multi-container-microservice-net-applications/implement-api-gateways-with-ocelot.md
  docs/azure/index.yml
  docs/core/testing/media/test-copilot-result.png
  docs/core/testing/unit-testing-with-copilot.md
  docs/csharp/whats-new/csharp-version-history.md
  docs/framework/install/troubleshoot-blocked-installations-and-uninstallations.md
  docs/framework/wcf/feature-details/hosting-workflow-services.md
  docs/fsharp/using-fsharp-on-azure/file-storage.md
  docs/orleans/index.yml
  docs/standard/data/sqlite/encryption.md
Labels: dotnet-framework/svc, dotnet-fsharp/svc, dotnet-csharp/svc, dotnet-architecture/svc, microservices/subsvc, cloud-native/subsvc, whats-new/subsvc, dotnet-fundamentals/svc, dotnet-data/svc, dotnet-azure/svc, okr-quality, install/subsvc, dotnet-wcf/subsvc

#45951 Add `[--allow-roll-forward]` to the synopsis of dotnet tool install
  docs/core/tools/dotnet-tool-install.md
Labels: dotnet-fundamentals/svc, community-contribution, dotnet-cli/subsvc

#45952 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
Labels: dotnet-azure/svc, :octocat: auto-merge

#45924 Metadata freshness
  docs/azure/sdk/azure-sdk-for-dotnet.md
  docs/azure/sdk/configure-proxy.md
  docs/azure/sdk/dependency-injection.md
  docs/azure/sdk/includes/implement-defaultazurecredential.md
  docs/azure/sdk/logging.md
  docs/azure/sdk/packages.md
  docs/azure/sdk/pagination.md
  docs/azure/sdk/protocol-convenience-methods.md
  docs/azure/sdk/resource-management.md
  docs/azure/sdk/thread-safety.md
  docs/azure/sdk/unit-testing-mocking.md
Labels: dotnet-azure/svc, okr-freshness

#45840 add April non-security update release notes
  docs/framework/release-notes/2025/04-22-april-cumulative-update-preview.md
  docs/framework/release-notes/release-notes.md
  docs/framework/toc.yml
Labels: dotnet-framework/svc

#45973 Add TFM for .NET nanoFramework
  docs/standard/frameworks.md
Labels: dotnet-fundamentals/svc, community-contribution

#45974 Update package index with latest published versions
  docs/azure/includes/dotnet-all.md
  docs/azure/includes/dotnet-new.md
Labels: dotnet-azure/svc, :octocat: auto-merge
